﻿@model Wanamaker.WebApp.Areas.Admin.ViewModels.AutoLoadViewModel
          
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "AutoLoadStatus";
}

<div class="contents"> 
    <div id="loading" class="loading none">
    </div>
    <h1>Batch AutoLoad Status</h1>
    <table id="autoLoadStatus" class="display">
        <thead>
            <tr>
                <th>Dealer</th>
                @foreach (var header in Model.StatusHeaders)
                {
                <th>@header</th>
                }
                <th>Total AutoLoads</th>
                <th>Percent Successful</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Rows)
            {
            <tr id="@row.BusinessUnitId">
                <td>@row.BusinessUnit</td>
                @foreach (var header in Model.StatusHeaders)
                {
                <td>@(row.StatusCounts.ContainsKey(header) ? row.StatusCounts[header] : 0)</td>
                }
                <td>@row.StatusCounts.Values.Sum()</td>
                <td>@row.PercentSuccess</td>
            </tr>        
            }
        </tbody>
    </table>

    <div>
        <div id="details">
        </div>
    </div>
</div>

