﻿@model Wanamaker.WebApp.Areas.Admin.ViewModels.AutoLoadDetailsViewModel
<h1>@Model.BusinessUnit Details</h1>
<table class="display">
    <thead>
        <tr>
            <th>Vin</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Make</th>
            <th>Stored Xml Response</th>
            <th>Account Locked</th>
            <th>White List</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
        <tr>
            <td>@row.Vin</td>
            <td>@row.Start</td>
            <td>@row.End</td>
            <td>@row.Status</td>
            <td>@row.Make</td>
            

            
            <td><a href='@("FetchAudit.aspx/" + @row.Vin)' target="_blank">Audit</a></td>
            <td>@row.AccountLocked</td>
            <td><a href='@("WhiteList.aspx/" + @row.ManufacturerId + '/' + @row.DivisionId)' target="_blank">White List</a></td>
        </tr>
        }
    </tbody>
</table>