.section {
font-family:arial,sans-serif;
font-weight:bold;
font-size:28px;
/*border-top:2px solid #000;
border-right:1px solid #000;
border-left:1px solid #000;
padding:3px;*/
text-align:center;
color:#3f3f3f;
}
.sectionData {
font-family:arial,sans-serif;
font-weight:bold;
font-size:13px;
padding:5px;
text-align:center;
}
.insideBox {
font-family:arial,sans-serif;
font-size:13px;
padding:5px;
}
.insideBoxSmall {
font-family:arial,sans-serif;
font-size:11px;
padding:5px;
}

.bullet {
font-family:arial,sans-serif;
font-weight:bold;
font-size:15px;
vertical-align:top;
padding:3px;
}
.insight {
font-family:arial,sans-serif;
font-size:14px;
padding:3px;
}
.insightSmall {
font-family:arial,sans-serif;
font-size:11px;
padding:0px;
}
.store {
font-family:arial,sans-serif;
font-weight:bold;
font-size:20px;
padding:5px;
}
.storeRight {
font-family:arial,sans-serif;
font-weight:bold;
font-size:14px;
text-align:right;
padding:3px;
}
.target {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background-color:#000;
	padding:3px;
	text-align:center;
	vertical-align:middle;
}
.actual {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	background-color:#014E86;
	padding:3px;
	text-align:center;
	vertical-align:middle;
}
.actualInverse {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#333;
	padding:3px;
	text-align:center;
	vertical-align:middle;
}
.barLegend {
	font-family:arial;
	font-size:11px;
	padding:2px;
	text-align:center;
}
.barLegendBull {
	font-family:arial;
	font-size:9px;
	text-align:center;
}
.setupOuter {
	border-left:1px solid #EFF0F0;
	border-right:1px solid #EFF0F0;
	border-bottom:1px solid #EFF0F0;
	/*border-top:1px solid #EFF0F0;*/
}
.setupInner {
	border-left:1px solid #C9CBCC;
	border-right:1px solid #C9CBCC;
	border-bottom:1px solid #C9CBCC;
	/*border-top:1px solid #C9CBCC;*/
}
.uscSetup {
	border-left:1px solid #EFF0F0;
	border-right:1px solid #EFF0F0;
	border-bottom:1px solid #EFF0F0;
	border-top:1px solid #EFF0F0;
}
.Outer {
	border:1px solid #B5BCBC;
}
.Inner {
	border:1px solid #18506C;
}
.blkBg {
	background-color:#000;
}
.actualFC3 {
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#000;
	background-color:#fc3;
	padding:0px;
	text-align:center;
	vertical-align:middle;
}
.barLegendNew {
	font-family:arial;
	font-size:11px;
	padding:0px;
	text-align:center;
}
