/* /// 
	EDGE styles */

@import url('type.css');

body {
	background-color: #333;
	min-width: 965px;
	}

#header { 
	background-color: #525252; 
	border-bottom: solid 1px #FC3;
	padding: 7px 0;
	}
	
#content {
	padding-top: 1em;
}


select {
	margin-bottom: 1px;
}
	input {
		margin-top: -2px;
		margin-left: -2px;
	}


.col {
	float: left;
}

/* // 
	BOOKOUT styles */

.message {
	margin-left: 15px;
}

blockquote.book {
	background-color: white;
	border: solid 1px black;
	width: 800px;
	margin: 0 auto;
}
.book .h_, 
.book .b_ {
	border: solid 1px black;
}

/* __ book header */
.book .h_ {
	border: solid 1px black;
	padding: 10px;
	height: 42px;
}
.book .h_ h3 {
	display: inline;
	margin-right: 10px;
}
	.kelley .h_ {
		background: #d1dbf4 url('../kbb_bookout_header.gif') no-repeat right bottom;
	}

/* __ book body */
.book .b_ {
	padding: 10px;
	height: 1%;
	clear: both;
	}
	.book .b_:after { height:0;clear:both;content:".";visibility:hidden;display:block; }

	.book p.err {
		margin-top: 10px;
	}

/* __ book error body */
.book div.err {
	background: transparent url('../icon_error_bookout.gif') no-repeat left 50%;
	height: 24px;
	min-height: 24px;
  padding-left: 60px;
	}
	.book .err ol {
		margin-top: 2px;
		padding-right: 10px;
	}
	.book .err li {
		list-style-type: square;
		list-style-position: inside;
	}



.equipment {
	float: left;
	width: 70%;
	margin-bottom: 10px;
}
	.equipment .col {
		width: 33%;
	}
.equipment legend {
	margin-left: -5px;
	padding-bottom: 0.5em;
}
.equipment h5 {
	padding-bottom: 0.5em;
	margin-left: 5px;
}

.equipment .f p,
.equipment .f h5 {
	margin-left: 0;
}
.equipment p {
	clear: left;
	margin-left: 5px;
}
	.equipment input {
		float: left;
	}




	.additional {
		float: right;
		margin-bottom: 10px;
	}

	.additional select {
		margin-top: 0.2em;
		margin-bottom: 0.5em;
	}
	.additional legend {
		display: none;
	}


.submit {
	float: right;
}









