/* /// 
	EDGE type rules */
html {
	font: 67%/ 0.8 Arial, Helvetica, Verdana, sans-serif;
}

body {
	font-size: 1em;
	line-height: 1.1;
}

h1 {
	font-size: 2.3em;
	font-weight: bold;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;	
}

h3 {
	font-size: 1.4em;
	font-weight: bold;	
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.9em;
}


select, input, textarea {
	font-size: 1em;
}

.message {
	color: white;
}




#header {
	color: white;
}

#header h1 {
	font-weight: bold;
}

#header p {
	font-size: 1.4em;
	color: #fc3;
	font-weight: bold;
}


.col h5 {
	text-decoration: underline;
}
	.additional label {
	font-weight: bold;
	}
legend {
	color: black;
	font-weight: bold;
}
.err {
	color: #e80f2e;
	font-weight: bold;
}
.err li {
	font-weight: bold;
}


