<img src="${flLogo}" alt="Firstlook" style="">
<div style>
	Performance Management and Inventory Optimization
</div>
<div>
	Helping Dealers Become World Class Retailers
</div>
<div>
	First Look Help Desk: 1-877-378-5665
</div>
<div>
	&copy; ${copyYear?string("###0")} <i>Incisent Technologies, Inc. All rights reserved.
</div>