﻿/* ----------------------------------------------------------- //
   CSS Reset
// ----------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight:normal;
	font: inherit;
	vertical-align: baseline;
}

a::-moz-focus-inner, img::-moz-focus-inner, input::-moz-focus-inner { border:0 !important; outline:0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	overflow-y:scroll;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { color:#355FAB; outline:0; }

/* clearfix class */
.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clearfix:after { clear:both; content:" "; display:block; font-size:0; height:0; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }

/* ----------------------------------------------------------- //
   Global
// ----------------------------------------------------------- */

html { background:transparent url( images/bg_Html.png ) repeat-x scroll top left; }
body { font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; }

em { font-style:italic !important; }
strong { font-weight:bold !important; }

.floatLeft { float:left !important; }
.floatRight { float:right !important; }

#Container { padding-top:10px; }
#Header, #Ribbon .layout, #WhatsNew, #Footer { margin:0 auto; width:996px; }

.max { font-family:"Arial Black", Gadget; }

/* ----------------------------------------------------------- //
   Header
// ----------------------------------------------------------- */

#Header { margin-top:10px; position:relative; }

#Header h1 {
	background:transparent url( images/logo_MAX.png ) repeat-x scroll top left;
	float:left;	height:54px; margin:0 0 10px 0; text-indent:-9999px; width:515px;
}

#HeaderLinks { right:5px; position:absolute; top:36px; }
#HeaderLinks ul li { border-left:1px solid #ccc; display:inline; font-size:0.8em; }
#HeaderLinks ul li a { color:#999; padding:0 0.5em 0 0.75em; text-decoration:none; text-transform:uppercase; }
#HeaderLinks ul li a:hover { color:#355FAB; text-decoration:underline; }
#HeaderLinks ul li.first { border:0; }

/* ----------------------------------------------------------- //
   Ribbon
// ----------------------------------------------------------- */

#Ribbon { background:#34396e url( images/bg_Ribbon.png ) no-repeat scroll center; padding:0; }

/* Feature */

#Feature {
	background:transparent url( images/feature_MaxForWebsite.png ) no-repeat scroll 0 18px;
	float:left; height:284px; position:relative; width:695px;
}
#Feature a { color:#eee; font-size:1.1em; font-style:italic; left:429px; position:absolute; text-decoration:none; top:258px; }

/* Login */

#Login {
	background:transparent url( images/bg_Login.png ) no-repeat scroll 0 10px;
	float:right; height:267px; margin:0; position:relative; width:267px;
}

#Login h2 { color:#3e436d; margin:30px 0 5px; text-align:center; text-shadow:#fff 1px 1px; }

#Login .fieldLabelPair { margin:0 auto 0.5em; width:211px; }
#Login .fieldLabelPair label { color:#666; display:block; font-size:0.8em; padding:0.75em 0 0.5em 5px; text-shadow:#fff 1px 1px;  }

#Login input.text {
	background:transparent url( images/bg_Textbox.png ) no-repeat scroll 0 0;
	border:0; height:32px; line-height:32px; padding:0 7px; width:197px;
}
#Login input.text:focus { background-position:0 -33px; }

#Login .formButtons { text-align:right; padding:3px 28px 0 0; }
#Login .formButtons .button1 {
	background:transparent url( images/button_Blue75x25.png ) no-repeat scroll 0 0; border:0; color:#fff;
	font-size:0.8em; font-weight:bold; height:25px; line-height:25px; text-align:center; text-shadow:#3e436d -1px -1px; width:75px;
}
#Login div.help { color:#666; font-size:0.8em; margin:10px auto 0; width:211px; }
#Login div.help p {  margin:0 0 0.5em 0; }
#Login div.help p a { color:#666; text-decoration:underline; }
#Login div.help p a:hover { color:#355FAB; }
#Login div.help a.gotomtg { text-decoration:none; }
#Login div.help a:hover { text-decoration:underline; }

#Login .form_errors {
	color:#cc0000;
	font-size:0.8em;
	left:28px;
	line-height:1.2em;
	position:absolute;
	top:179px;
	width:134px;
}

/* ----------------------------------------------------------- //
   What's New
// ----------------------------------------------------------- */

#WhatsNew { color:#666; padding:10px 0 10px 10px; }
#WhatsNew h2 { color:#999; font-size:1.1em; font-weight:bold; padding:5px 0 10px; text-transform:uppercase; }

#WhatsNew .threeColumn { float:left; font-size:0.9em; line-height:1.3em; margin-right:4%; width:30%; }
#WhatsNew .threeColumn.last { margin-right:0; width:30%; }
#WhatsNew .threeColumn h3 { color:#5761b9; font-weight:bold; text-transform:uppercase; }
#WhatsNew .threeColumn p { letter-spacing:0.5px; margin:0.25em 0 1.25em; }

#WhatsNew a.facebook { background:url( ../../static/i/sprite_SocialMediaIcons.png ) no-repeat scroll 0 -29px transparent; margin-top:0.5em; display:inline-block; height:29px; width:29px; }
#WhatsNew a.twitter { background:url( ../../static/i/sprite_SocialMediaIcons.png ) no-repeat scroll 0 0 transparent; margin-top:0.5em; display:inline-block; height:29px; width:29px; }
#WhatsNew a.facebook span, a.twitter span { display:none; }

/* ----------------------------------------------------------- //
   Footer
// ----------------------------------------------------------- */

#Footer { border-top:1px solid #bbb; color:#999; font-size:0.8em; padding:0.75em 0 1em; text-transform:uppercase; }
#Footer .copyright { float:left; padding-left: 0.75em; }
#FooterNav { float:right; white-space:nowrap; }
#FooterNav li { display:inline; border-left:solid #bbb 1px; white-space:nowrap; }
#FooterNav li.first { border:0; }
#FooterNav li a { color:#999; text-decoration:none; padding:0 0.5em 0 0.75em; }
#FooterNav li a:hover { text-decoration:underline; }

.globalmessage { border-width: 1px; border-style: solid; border-top: 0; border-left: 0; border-right: 0;  }
.globalmessage p { font-family: Arial, sans-serif; font-size: 12px; text-align: left; margin: 0 auto; width: 946px; padding:10px 0 10px 44px; font-weight:bold; line-height:16px; position: relative; }

.globalmessage.error { background:#ffe5e5; border-color: #e56767; color:#bf0000; }
.globalmessage.error p {  background: url(images/sprite_MessageIcons.png) no-repeat scroll 10px -116px; }

.globalmessage.warning { background:#ffffcc; border-color: #e5b27e; color:#bf6000; }
.globalmessage.warning p { background: url(images/sprite_MessageIcons.png) no-repeat scroll 10px -52px; }

.globalmessage.info { background:#e3ebfa; border-color: #9fb5e0; color:#365DAD; }
.globalmessage.info p { background: url(images/sprite_MessageIcons.png) no-repeat scroll 10px 10px; }

.globalmessage.credential { position: fixed; z-index: 1000; width: 100%;}
