﻿<%@ Page Title="Home | MAX Administration" Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Wanamaker.WebApp.Admin.Default" MasterPageFile="~/Admin/Admin.Master" Theme="MAX_2.0" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>

