﻿/* =============== */
/* = Page Layout = */
/* =============== */
body form {
	width: 940px;
    margin: 0 auto;
    text-align: left;
}
#header { 
	position: relative;
}
#jdpowerlicense #header {
	height: 65px;
}
#dataChoice {
	float: right;
	margin-bottom: 1em;
	zoom: 1;
}
div#dataTables {
	clear: right;
	zoom: 1;
}
div.filters { 
	padding: 1ex 0;
}
div.filters label {
    width: 145px;
    float: left;
    color: #5a5c63;
    margin-left: 0.5em;
}
div.filters fieldset {
	display: inline;
	margin-right: 115px;
}
div.filters fieldset legend {
	color: #51596c;
}
div.filters select {
	color: #374259;
}
div.filters input {
	position: relative;
	bottom: 5px;
}

#refernce_data legend { text-align: -3px; }
/* ==================== */
/* = Component Design = */
/* ==================== */
#header {
	background: url(Images/logo-jdpower.gif) no-repeat 0 5px;
	padding-left: 150px;
}

#dealerInfo {
	margin: -1.5em 0 2em 0; /* top less line-height */
    text-align: right;
}

#dataChoice {
	font-size: 0.9em;
	border: 1px solid #ccc;
	text-align: right;
	padding: 1em;
	line-height: 2.5em;
}

.businessUnitSelector ul {
	display: block;	
	position: absolute;
	top: -36px;
	left: -1px; /* remember the border */
}
.businessUnitSelector ul li {
	display: inline;
}

.businessUnitSelector a 
{
    height: 15px;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.businessUnitSelector a:hover
{
    background: #999;
    color: white;
}

.businessUnitSelector a.active,
.businessUnitSelector a.active:hover
{
	color: #000;
    font-weight: bold;
    background-color: #ddd;
}

div#dataTables {
	border: 1px solid #ccc;
	padding: 1em;
	position: relative;
}

.warning,
#imt .warning,
#ping .warning
{
    color: #ef0c3f;
}

table.jddata
{
	clear: both;
	border: solid 1px #a9a9a9;
	width: 100%;
	margin: auto;
    border-collapse: collapse;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}

table.jddata th 
{
    border-collapse: collapse;
	background: #a9a9a9;
	color: #fff;
	padding: 5px 6px;
	vertical-align: bottom;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
table.jddata td 
{
    background-color: #fff;
    border-collapse: collapse;
	padding: 5px 6px;
	vertical-align: top;
	text-align: center;
}
table.jddata td.acv,
table.jddata th.acv { border-right: 2px solid #9B9B9B; }

.loading table td {
	text-indent: -5000px;
	overflow: hidden;
	background: #fff url(Images/ajax-loader.gif) no-repeat 50% 50%;
}
/* ======================== */
/* = General and Elements = */
/* ======================== */
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

img,iframe,table, td, th { 
	border: none; 
}

html 
{
    background-color: #eee;
}

body
{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 77%;
	color: #000;
	margin: 5px;
}

textarea 
{
    width: 98%;
    padding: 1%;
    margin-bottom: 0.5em;
    border: 1px solid #a9a9a9;
}
ul 
{
    list-style-type: none;
}
fieldset 
{
    border: none;
}
legend 
{
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, legend { color: #485775; }
h1 {
    font-size: 1.3em;
    line-height: 1.45em;
}
h2 {
    font-size: 1.1em;
}
h3 { 
	font-size: 1em;
}
h4 { 
	font-size: 1em;
	text-transform: uppercase;
}
h5 {
    display: inline;
}

/* ================== */
/* = Helper Classes = */
/* ================== */
.right {
	float: right;
}
.left {
    float: left;
}

/* BUTTONS ----------------------------------------------------------- */

.cancelLicenseButton, .submitLicenseButton  {
	display: block;
	height: 20px;
    width: 60px;
    margin-left: 5px;
}

.cancelLicenseButton {
    background-image: url(Images/button-cancel.gif);
}

.submitLicenseButton {
    background-image: url(Images/button-submit.gif);
}
.goButton {	
	background: #fff url(Images/button-go.gif) no-repeat;
	width: 40px;
}
.filterButton {	
	background: #fff url(Images/button-filter.gif) no-repeat;
	width: 60px;
}
.goButton,
.filterButton { 
	border: none;
	display: inline-block;
	height: 20px;
}
.cancelLicenseButton:hover, .submitLicenseButton:hover, 
.goButton:hover, .filterButton:hover {
    background-position: 0px -40px;
}

.cancelLicenseButton:active, .submitLicenseButton:active,
.goButton:active, .filterButton:hover {
    background-position: 0px -20px;
}