﻿<link rel="stylesheet" href="/pricing/prototype/css/demo_table_jui.css">
<script type="text/javascript" src="/pricing/prototype/Globals/Modernizer.min.js"></script>       
<script type="text/javascript" src="/pricing/prototype/Globals/jquery.dataTables.min.js"></script>

<div id="container" class="cf" style="display:none" data-bind="visible:true">
    <div id="main" role="main" class="cf">
        <div class="main_pointless_design">
            <div id="section_holder">
                <section id="ping_and_calculator" class="appraisal">
                    <div class="pointless_design cf">
                        <fieldset id="ping">
                            <div>
								<fieldset id="search_controls" class="tab_box Static_1">
									<ul class="tabs two_tabs">
										<li data-bind="attr: {'class' : overallTabClass}">
											<button type="button" data-bind="value: overallButtonValue, data-searchtype: overallButtonValue, click: overallClicked" name="search_type"><span data-bind="text: overallResultsText"></span><span class="value" data-bind="text: overallComparableUnits"></span></button>
										</li>
										<li data-bind="attr: {'class' : precisionTabClass}">
											<button type="button" name="search_type" data-bind="value: precisionButtonValue, data-searchtype: precisionButtonValue, click: precisionClicked" name="search_type"><span data-bind="text: precisionResultsText"></span><span class="value" data-bind="text: precisionComparableUnits"></span></button>
										</li>
									</ul>
									<div id="global_search_controls" class="search_box tab_content">
										<ul class="form_list">
											<li class="within">
												<label for="within" class="dark">Within:</label>
												<select name="within" id="within 11" data-bind="options: withinMileage, optionsText: 'content', value: selectedWithinMileage"></select>
											</li>
											<li class="mileage">
												<label for="mileage_low" class="dark">Mileage:</label>
												<select name="mileage_low" id="mileage_low" data-bind="options: lowMileage, optionsText: 'content', value: selectedLowMileage"></select>
												<label for="mileage_high">to</label>
												<select name="mileage_high" id="mileage_high" data-bind="options: highMileage, optionsText: 'content', value: selectedHighMileage"></select>
											</li>
										    <li class="match" data-bind="attr: { 'style': searchCheckBoxesStyle }">
										        <input type="checkbox" id="match_certifed" name="match_certifed" value="match_certifed"  data-bind="checked: onlyCertified"></input>
										        <label for="match_certifed">Certified</label>
										        <input type="checkbox" id="match_color" name="match_color" value="match_color" data-bind="checked: onlyWhite"></input>
										        <label for="match_color">Color</label>
										    </li>
                                             <!--!<li class="match">
                                             <br />
                                             <label for="model_year" class="dark" style="font-size: 0.9em">Model Year:</label>
                                              <input type="checkbox" id="previous_year" name="previous_year" value="previous_year" data-bind="checked: onlyPreviousYear"></input>
										      <label for="previous_year" data-bind="text: prev_year" class="dark" style="margin-right: 0"></label>
                                              <input type="checkbox" id="current_year" name="current_year" value="current_year" data-bind="checked: onlyCurrentYear" disabled="disabled"></input>
                                                <label for="current_year" data-bind="text: current_year" class="dark" style="margin-right: 0"></label>
                                               <input type="checkbox" id="next_year" name="next_year" value="next_year" data-bind="checked: onlyNextYear"></input>
                                             <label for="next_year" data-bind="text: next_year" class="dark" style="margin-right: 0"></label>
                                             </li>-->
                                             <li><a href="/pricing/Pages/Internet/ModifySearch.aspx?" class="modify_search_link">Modify Search</a>
												<button type="button" class="button" data-bind="click: searchClicked">Search</button>
											</li>
										</ul>
										<p class="generated_by">Generated By: <span class="search_user value" data-bind="text: generatedBy"></span> on <span class="date search_date value" data-bind="text: searchDate"></span></p>
									</div>
								</fieldset>
							</div>
                            <div>
								<div id="ping_overview" class="Static_2">
									<ul class="horizontal even">
										<li class="market_days_supply">
											<dl><dd><span data-bind="text: marketDaysSupply"/></dd><dt> Market Days Supply</dt></dl>
										</li>
										<li class="target_market_average">
											<label for="target_market_average">Market Avg.</label>
											<input type="text" name="target_market_average" id="target_market_average" data-bind="value: marketAverageFormatted" ></input>
										</li>
									</ul>
									<h3 class="logo ping_logo">Ping III Appraisal<span class="small">with</span><em>Market Pricing Power</em></h3>
									<div class="hr"><hr></hr></div>
									<!-- gauge begin -->
									<div id="avg_graphic" style="" class="Static_3"></div>
									<span id="gauge_html_parts" style="display:none">
										<div class="rank_box">
											<label>Rank:</label>
											<label class="rank_text">
												<span class="rank_current" data-bind="text:rankDisplayCurrent">1</span> of <span class="rank_count" data-bind="text:rankDisplayCount">1</span>
											</label>
											<div class="arrow left" data-bind="click:increment_rank"></div>
											<div class="arrow right" data-bind="click:decrement_rank"></div>
										</div>
										<div id="gauge" class="dragdealer slider_interactive_container">
											<div class="handle"></div>
										</div>
										<div class="slider_value_display" data-bind="css:{ negative:getPrice()<0 }">
											<div class="slider_value" data-bind="text: getPriceFormatted">$...</div>
											<label class="slider_value_label">...</label>
										</div>
									</span>
									<!-- gauge end -->
									<div id="listings_include" class="Static_4">
										<h4>Listings Include:</h4>
                                        <p><span data-bind="text: listingsInclude" /></p>
									</div>
								</div>
							</div>
                            <div>
								<ul class="horizontal listings_overview Static_5">
									<li class="avg_mileage">Avg. Mileage <span class="value" data-bind="text: averageMileage" /></li>
									<li class="current_mileage">current <span class="value" data-bind="text: currentMileage" /></li>
									<li class="market_listings"><span class="value" data-bind="text: marketListings" /><span class="value slightly_smaller"> Market Listings</span></li>
    							</ul>
							</div>
							<div>
								<div id="listings_summary" class="Static_6">
									<p class="cf">
										<button type="button" value="open_market_listings" class="right" data-bind="click: viewListingsClicked"><span data-bind="text: viewListingsText"/></button>
										<button type="button" value="open_market_listings" class="left" data-bind="click: viewListingsClicked"><span data-bind="text: viewListingsText"/></button>
									</p>
								</div>
							</div>
                        </fieldset>
                        <!-- ko if:isPricing -->
                        <fieldset id="calculator" class="pricing_calculator">
							<div id="Static_9">
								<h3 class="logo calculator_logo pricing_calculator_logo Static_9">Market<em>Pricing</em></h3>
								<ul class="form_list Static_9">
									<li class="internet_price cf">
										<label>Internet Price</label><!-- <span>$</span> -->
										<input type="text" name="estimated_recon" id="Text2" data-bind="value: internetPriceFormatted, css:{ negative:internetPrice()<0 }"></input>
										<div class="current_price squish_in">
											<label>current</label>
											<span class="value" data-bind="text:currentPriceFormatted"></span>
										</div>
									</li>
                                    <li class="target_selling_price cf">
										<label for="target_selling_price_10">Unit Cost</label>
										<input type="text" name="target_selling_price" readonly="readonly" id="Text1" class="readonly" data-bind="value: unitCostFormatted, css:{ negative:unitCost()<0 }"></input>
									</li>
									<li class="potential_gross cf" >
										<div class="hr"><hr></hr></div>
										<label for="appraisal_value_10">Potential Gross Profit</label><!-- <span>$</span> -->
										<input type="text" name="appraisal_value" id="Text4" data-bind="value:grossProfitFormatted, css:{ none:hide_potential_gross_profit }, css:{ negative:grossProfit()<0 }" class="readonly"></input>
									</li>
                                    <li>
                                        <button style="right: 8.6em; font-size: 12px; width: 10em;" class="button" id="optimize_price">Optimize Price</button>
                                        <button style="font-size: 12px;" class="button" name="save_price" data-bind="click:savePrice, css:{ unsaved:internetPrice()!=currentPrice() }">Save Price</button>
                                    </li>
								</ul>
							</div>
						</fieldset>
						<!-- /ko -->
                        <!-- ko if:!isPricing -->
                        <fieldset id="calculator" class="appraisal_calculator">
							<div id="Static_9">
								<h3 class="logo calculator_logo appraisal_calculator_logo Static_9">Appraisal<em>Calculator</em></h3>
								<ul class="form_list Static_9">
									<li class="target_selling_price cf">
										<label for="target_selling_price_10">Target Selling Price</label>
										<input type="text" name="target_selling_price" readonly="readonly" id="target_selling_price_10" class="readonly" data-bind="value: targetSellingPriceFormatted, css:{ negative:targetSellingPrice()<0 }"></input>
									</li>
									<li class="estimated_recon cf">
										<label for="estimated_recon_10">Estimated Recon.</label>
                                        <input type="text" name="estimated_recon" id="estimated_recon_10" placeholder="0" data-bind="value: estimatedReconFormatted, css:{ negative:estimatedRecon()<0 }"></input>
                                        <span  style="font-family: Verdana, Arial, sans-serif; font-size: 18px; float: right">$</span>
                                    </li>
        							<li class="target_gross_profit cf">
										<label for="target_gross_profit_10">Target Gross Profit</label><!-- <span>$</span> -->
										<input type="text" name="target_gross_profit" id="target_gross_profit_10" placeholder="0" data-bind="value: targetGrossProfitFormatted, css:{ negative:targetGrossProfit()<0 }"></input>
    									<span  style="font-family: Verdana, Arial, sans-serif; font-size: 18px; float: right">$</span>
                                    </li>
								    <li class="appraisal_value cf">
								        <div class="hr"><hr></hr></div>
								        <label for="appraisal_value_10">Appraisal Value</label><!-- <span>$</span> -->
								        <input type="text" name="appraisal_value" id="appraisal_value_10" placeholder="0" data-bind="value: appraisalValueFormatted, css:{ negative:appraisalValue()<0 }"></input>
                                        <span  style="font-family: Verdana, Arial, sans-serif; font-size: 18px; float: right">$</span>
								    </li>									 
								    <li class="current_appraisal cf">
								        <div id="last_saved_appraisal">
								            <label>Current Appraisal:</label><!-- <span>$</span> -->
								            <span class="value" data-bind="text:currentAppraisalValueFormatted, css:{ negative:currentAppraisalValue()<0 }"></span>
                                        </div>
								        <a href="#" class="view_history_link" id="viewHistory">View History</a>
								    </li>
									<li class="appraiser_buyer_info cf">
								        <div id="appraiser_buyer_info">								            
                                        </div>								        
								    </li>
								</ul>
							</div>
						</fieldset>
						<!-- /ko -->
                    </div>
                </section>
                <section id="market_listings" data-bind="attr: {'class': viewListingsClass}">
                    <div id="Static_97">
	                    <div id="highlight_vehicle" class="dataTables_filter">
		                    <a class="paginate_button find_my_vehicle_button" data-bind="click: findMyVehicle">Find My Vehicle</a>
	                    </div>
                    </div>
                    <div id="Static_98">
                        <table class="full data listings Static_98"></table>
                    </div>
				    <div class="loader_mask_wrapper" data-bind="css:{ loading:showMarketLoading(), hidden:!showMarketLoading() }">
				        <div class="loader_mask"></div>
				        <div class="mask_image"></div>
				    </div>
                </section>
            </div>
        </div>
	    <div class="loader_mask_wrapper" data-bind="css:{ loading:showLoading(), hidden:!showLoading() }">
	        <div class="loader_mask"></div>
	        <div class="mask_image"></div>
	    </div>
    </div>
</div>

<script type="text/javascript" src="/pricing/prototype/Globals/require.js"></script>
