<%@ Page Language="C#" AutoEventWireup="True" MasterPageFile="~/Workflow/Workflow.Master"
    Theme="None" Title="Advanced Dealer Preferences | MAX : Online Inventory. Perfected."
    CodeBehind="AdvancedDealerPreferences.aspx.cs" Inherits="Wanamaker.WebApp.CustomizeMAX.AdvancedDealerPreferences" %>

<%@ Import Namespace="VehicleDataAccess" %>
<%@ Import Namespace="FirstLook.Merchandising.DomainModel.Vehicles" %>
<%@ Import Namespace="Wanamaker.WebApp.Helpers" %>
<%@ Register TagPrefix="wanaworkflow" TagName="WorkflowHeader" Src="~/Workflow/Controls/WorkflowHeader.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="SpecialsEditor" Src="~/CustomizeMAX/Controls/SpecialsEditor.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="VehicleProfiler" Src="~/CustomizeMAX/Controls/VehicleProfiler.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="ConditionSettings" Src="~/CustomizeMAX/Controls/ConditionSettings.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="EditSnippetIntro" Src="~/CustomizeMAX/Controls/EditSnippetIntro.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="SiteCollectionSetup" Src="~/CustomizeMAX/Controls/SiteCollectionSetup.ascx" %>
<%@ Register TagPrefix="workflow" TagName="InventorySearch" Src="~/Workflow/Controls/SearchInventory.ascx" %>
<asp:Content ID="CssContent" ContentPlaceHolderID="CssPlaceHolder" runat="server">
    <link rel="stylesheet" type="text/css" href="<%= HtmlHelpers.VersionedUrl("~/Themes/MAX3.0/Main.debug.css") %>" />
    <link rel="stylesheet" type="text/css" href="<%= HtmlHelpers.VersionedUrl("~/Themes/MAX3.0/Settings/advanceddealerpreferences.css") %>" />

</asp:Content>
<asp:Content ID="BodyContent" ContentPlaceHolderID="BodyPlaceHolder" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div id="BulkUpload">
        <a href="<%= BulkUploadUrl %>" title="Upload photos for multiple vehicles" target="_blank">
            Bulk Upload</a>
    </div>
    <workflow:InventorySearch ID="InventorySearch" runat="server"></workflow:InventorySearch>
    <h1>
        Advanced Dealer Settings</h1>
    <div class="preferencesBody">
        <cwc:TabContainer ID="advancedTabSet" runat="server" CssClass="block_tabs" ActiveTabIndex="0">
            <cwc:TabPanel Text="Equipment Groups" CssClass="clearfix" runat="server" ID="TabPanel1">
                <div class="clearfix">
                    <h2>
                        Select existing equipment groups to edit or create new groups</h2>
                    <asp:GridView ID="GroupsGV" CssClass="AvailGroups" runat="server" DataSourceID="EquipmentGroupsDS"
                        DataKeyNames="Id" AutoGenerateColumns="False" AutoGenerateSelectButton="false"
                        OnSelectedIndexChanged="SelectedGroup_Changed" AutoGenerateDeleteButton="false">
                        <Columns>
                            <asp:TemplateField HeaderText="Delete" HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center">
                                <ItemTemplate>
                                    <asp:ImageButton ID="delBut" runat="server" ToolTip="Delete" CssClass="deleteLink"
                                        CommandName="Delete"></asp:ImageButton>
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:BoundField DataField="Description" HeaderText="Group Name" HeaderStyle-HorizontalAlign="Left"
                                ItemStyle-HorizontalAlign="Left" />
                            <asp:TemplateField HeaderText="Included Equipment" HeaderStyle-HorizontalAlign="Left"
                                ItemStyle-HorizontalAlign="Left">
                                <ItemTemplate>
                                    <asp:BulletedList ID="BulletedList1" runat="server" DataSource='<%# Eval("IncludesCategories") %>'
                                        DataTextField="Description" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderStyle-HorizontalAlign="Center" ItemStyle-HorizontalAlign="Center">
                                <ItemTemplate>
                                    <asp:LinkButton ID="editBtn" runat="server" Text="Edit" CommandName="Select"></asp:LinkButton>
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Columns>
                        <AlternatingRowStyle BackColor="#f4f4f4" />
                    </asp:GridView>
                    <div class="controlBox">
                        <h2>
                            Edit Your Equipment Groups</h2>
                        <asp:FormView ID="GroupEditFV" runat="server" DataSourceID="EquipmentGroupsDS" DefaultMode="Edit"
                            OnDataBound="GroupEdit_Bound" OnItemUpdating="EquipGroup_Updating" OnItemInserting="EquipGroup_Inserting"
                            DataKeyNames="Id" RenderOuterTable="false">
                            <InsertItemTemplate>
                                <div class="fieldLabelPair">
                                    <label for="<%= GroupEditFV.FindControl( "GroupNameTB" ).ClientID %>">
                                        New Group Name</label>
                                    <asp:TextBox ID="GroupNameTB" runat="server" Text='<%# Bind("Description") %>'></asp:TextBox>
                                </div>
                                <div class="fieldLabelPair">
                                    <label for="<%= GroupEditFV.FindControl( "GroupItems" ).ClientID %>">
                                        Required Equipment <span class="italic">(hold Ctrl and click to select multiple)</span></label>
                                    <asp:ListBox ID="GroupItems" runat="server" SelectionMode="Multiple" DataSourceID="CategoryDS"
                                        DataTextField="UserFriendlyName" DataValueField="CategoryId" Height="300px">
                                    </asp:ListBox>
                                </div>
                                <div class="formButtons">
                                    <asp:Button ID="insert" runat="server" CssClass="button" CommandName="Insert" Text="Create Group" />
                                </div>
                            </InsertItemTemplate>
                            <EditItemTemplate>
                                <asp:HiddenField ID="ReplacementType" runat="server" Value='<%# Bind("ReplacementType") %>' />
                                <div class="fieldLabelPair">
                                    <label for="<%= GroupEditFV.FindControl( "GroupNameTB" ).ClientID %>">
                                        Group Name</label>
                                    <asp:TextBox ID="GroupNameTB" runat="server" CssClass="text" Text='<%# Bind("Description") %>'></asp:TextBox>
                                </div>
                                <div class="fieldLabelPair">
                                    <label for="<%= GroupEditFV.FindControl( "GroupItems" ).ClientID %>">
                                        Required Equipment <span class="italic">(hold Ctrl and click to select multiple)</span></label>
                                    <asp:ListBox ID="GroupItems" runat="server" SelectionMode="Multiple" DataSourceID="CategoryDS"
                                        DataTextField="UserFriendlyName" DataValueField="CategoryId" Height="300px">
                                    </asp:ListBox>
                                </div>
                                <div class="formButtons">
                                    <asp:Button ID="update" runat="server" CssClass="button" CommandName="Update"
                                        Text="Update" />
                                    <asp:Button ID="NewGroup" runat="server" CssClass="button" Text="Start New Group..."
                                        CommandName="New" />
                                </div>
                            </EditItemTemplate>
                        </asp:FormView>
                    </div>
                    <div class="note">
                        <p>
                            Equipment groups allow you to change the text that is displayed when different combinations
                            of equipment are on a vehicle. Instead of saying "heated driver seat, heated passenger
                            seat, leather seats" an equipment group could say "heated leather seats"</p>
                    </div>
                </div>
            </cwc:TabPanel>
            <cwc:TabPanel CssClass="adPreferences" ID="AdPreferences" runat="server" Text="Ad Settings">
                <h2>
                    Set Vehicle Ad Preferences</h2>
                <asp:DetailsView ID="PrefsDV" CssClass="adPreferencesForm" runat="server" AutoGenerateRows="False"
                    DataSourceID="PreferencesDS" GridLines="None" AutoGenerateEditButton="true" DefaultMode="Edit"
                    FieldHeaderStyle-CssClass="AdminFormHeader" OnDataBound="AdPref_Bound" DataKeyNames="DefaultTemplateId"
                    FooterStyle-CssClass="footer">
                    <Fields>
                        <asp:TemplateField HeaderText="Options" HeaderStyle-CssClass="adPrefHeader" ItemStyle-CssClass="adPrefItem" />
                        <asp:TemplateField HeaderText="How many Options do you want to display in each tier?">
                            <EditItemTemplate>
                                <ul>
                                    <li>Tier 0:
                                        <asp:TextBox ID="Tier0Count" Columns="4" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 0) %>'></asp:TextBox></li>
                                    <li>Tier 1:
                                        <asp:TextBox ID="Tier1Count" Columns="4" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 1) %>'></asp:TextBox></li>
                                    <li>Tier 2:
                                        <asp:TextBox ID="Tier2Count" Columns="4" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 2) %>'></asp:TextBox></li>
                                    <li>Tier 3:
                                        <asp:TextBox ID="Tier3Count" Columns="4" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 3) %>'></asp:TextBox></li>
                                </ul>
                            </EditItemTemplate>
                            <ItemTemplate>
                                <ul>
                                    <li>Tier 0:
                                        <asp:Label ID="Tier0Count" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 0) %>' /></li>
                                    <li>Tier 1:
                                        <asp:Label ID="Tier1Count" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 1) %>' /></li>
                                    <li>Tier 2:
                                        <asp:Label ID="Tier2Count" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 2) %>' /></li>
                                    <li>Tier 3:
                                        <asp:Label ID="Tier3Count" runat="server" Text='<%# GetTierCount(Eval("MaxOptionsByTier"), 3) %>' /></li>
                                </ul>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="CountTier1ForLoaded" HeaderText="How many Tier 1 Features does it take to be 'Loaded'?" />
                        <asp:TemplateField HeaderText="Consumer Information" HeaderStyle-CssClass="adPrefHeader"
                            ItemStyle-CssClass="adPrefItem" />
                        <asp:TemplateField>
                            <HeaderTemplate>
                                <asp:Label ID="lblMinValidJDPowerRating" runat="server" Text="What is the lowest JDPower Circle Rating you want to advertise?"
                                    Visible='<%# HasJDPowerUpgrade %>' />
                            </HeaderTemplate>
                            <ItemTemplate>
                                <asp:DropDownList ID="ddlMinValidJdPowerRating" runat="server" Visible='<%# HasJDPowerUpgrade %>'>
                                    <asp:ListItem Value="0.0"></asp:ListItem>
                                    <asp:ListItem Value="0.5"></asp:ListItem>
                                    <asp:ListItem Value="1.0"></asp:ListItem>
                                    <asp:ListItem Value="1.5"></asp:ListItem>
                                    <asp:ListItem Value="2.0"></asp:ListItem>
                                    <asp:ListItem Value="2.5"></asp:ListItem>
                                    <asp:ListItem Value="3.0"></asp:ListItem>
                                    <asp:ListItem Value="3.5"></asp:ListItem>
                                    <asp:ListItem Value="4.0"></asp:ListItem>
                                    <asp:ListItem Value="4.5"></asp:ListItem>
                                    <asp:ListItem Value="5.0"></asp:ListItem>
                                </asp:DropDownList>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlMinValidJdPowerRating" runat="server" Visible='<%# HasJDPowerUpgrade %>'>
                                    <asp:ListItem Value="0.0"></asp:ListItem>
                                    <asp:ListItem Value="0.5"></asp:ListItem>
                                    <asp:ListItem Value="1.0"></asp:ListItem>
                                    <asp:ListItem Value="1.5"></asp:ListItem>
                                    <asp:ListItem Value="2.0"></asp:ListItem>
                                    <asp:ListItem Value="2.5"></asp:ListItem>
                                    <asp:ListItem Value="3.0"></asp:ListItem>
                                    <asp:ListItem Value="3.5"></asp:ListItem>
                                    <asp:ListItem Value="4.0"></asp:ListItem>
                                    <asp:ListItem Value="4.5"></asp:ListItem>
                                    <asp:ListItem Value="5.0"></asp:ListItem>
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="GoodCrashTestRating" HeaderText="What is the lowest Crash Test Rating you want to advertise (1-5)?"
                            SortExpression="GoodCrashTestRating" />
                        <asp:BoundField DataField="MaxCrashTestRatingsToDisplay" HeaderText="What is the highest number of Safety Ratings you want to advertise?"
                            SortExpression="MaxCrashTestRatingsToDisplay" />
                        <asp:BoundField DataField="GoodWarrantyMileageRemaining" HeaderText="What is the lowest mileage remaining you would advertise on a warranty?"
                            SortExpression="GoodWarrantyMileageRemaining" />
                        <asp:BoundField DataField="MaxWarrantiesToDisplay" HeaderText="What is the highest number of Warranties you want to advertise?"
                            SortExpression="MaxWarrantiesToDisplay" />
                        <asp:TemplateField HeaderText="What are the lowest Gas Mileage Values that you want to advertise?">
                            <ItemTemplate>
                                <asp:GridView ID="GasMileages" runat="server" DataSource='<%# Eval("GasMileageBySegment") %>'
                                    DataKeyNames="SegmentId" AutoGenerateColumns="false">
                                    <Columns>
                                        <asp:BoundField DataField="SegmentName" HeaderText="Segment" />
                                        <asp:TemplateField HeaderText="City">
                                            <ItemTemplate>
                                                <asp:TextBox ID="City" Text='<%# Eval("CityMileage") %>' runat="server" Columns="3"></asp:TextBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                        <asp:TemplateField HeaderText="Highway">
                                            <ItemTemplate>
                                                <asp:TextBox ID="Highway" Text='<%# Eval("HighwayMileage") %>' runat="server" Columns="3"></asp:TextBox>
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                </asp:GridView>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Pricing Information" HeaderStyle-CssClass="adPrefHeader"
                            ItemStyle-CssClass="adPrefItem" />
                        <asp:TemplateField HeaderText="Which book value should be used in descriptions?">
                            <ItemTemplate>
                                <asp:Label ID="BookToUse" runat="server" Text='<%# Bookout.GetBookoutCategoryInternalDescription((BookoutCategory)Eval("PreferredBookCategory")) %>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="PreferredBookCategory" runat="server">
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:BoundField DataField="GoodBookDifferential" HeaderText="What dollar amount below book value is worth advertising?"
                            SortExpression="GoodBookDifferential" />
                        <asp:BoundField DataField="MinNumberForCountBelowBookDisplay" HeaderText="How many cars on your lot need to be below retail book value to mention this in an ad?"
                            SortExpression="MinNumberForCountBelowBookDisplay" />
                        <asp:BoundField DataField="GoodMsrpDifferential" HeaderText="What dollar amount below MSRP is worth advertising?"
                            SortExpression="GoodMsrpDifferential" />
                        <asp:BoundField DataField="MinNumberForCountBelowPriceDisplay" HeaderText="How many cars on your lot need to be below $10,000 to mention this in an ad?"
                            SortExpression="MinNumberForCountBelowPriceDisplay" />
                        <asp:BoundField HeaderText="What's the smallest price reduction from original list price you want to show?"
                            DataField="MinGoodPriceReduction" />
<%--                        <asp:BoundField HeaderText="What are the number of favorable price comparisons needed on each vehicle for the Price Analyzer alerts?"
                            DataField="MinFavourablePriceComparisons" />--%>
                        <asp:TemplateField HeaderText="What threshold do you want to be alerted on and included in your No/Low Favourable price comparison filter for your Proof Points?">
                            <ItemTemplate>
                                <asp:Label ID="lblThresholdColor" runat="server" Text='<%# Eval("ThresholdColor") %>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlThresholdColor" runat="server">
                                </asp:DropDownList>
                                <asp:Image ID="imgColor" runat="server" ImageUrl="~/Public/Images/34x34-caution.png"
                                    Width="34" Height="34px" />
                                    <div id="displayInfo" class="hide">
                                    Red = No Primary or Secondary Price Proof Points Met. Yellow = No Primary but at least 1 Secondary Price Proof Point set
                                    </div>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Do you want Kelly Blue Book to be your primary or secondary Price Proof Point?">
                            <ItemTemplate>
                                <asp:Label ID="lblKbb" runat="server" Text='<%# Eval("Kbb") %>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlKbb" runat="server">
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Do you want Nada to be your primary or secondary Price Proof Point?">
                            <ItemTemplate>
                                <asp:Label ID="lblNada" runat="server" Text='<%# Eval("Nada")%>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlNada" runat="server">
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Do you want Market Average to be your primary or secondary Price Proof Point?">
                            <ItemTemplate>
                                <asp:Label ID="lblMarketAverage" runat="server" Text='<%# Eval("MarketAverage")%>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlMarketAverage" runat="server">
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Do you want MSRP to be your primary or secondary Price Proof Point?">
                            <ItemTemplate>
                                <asp:Label ID="lblMsrp" runat="server" Text='<%# Eval("Msrp") %>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlMsrp" runat="server">
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Do you want Edmunds to be your primary or secondary Price Proof Point?">
                            <ItemTemplate>
                                <asp:Label ID="lblEdmunds" runat="server" Text='<%# Eval("Edmunds") %>'></asp:Label>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="ddlEdmunds" runat="server">
                                </asp:DropDownList>
                                <asp:CustomValidator ID="CustomValidator1" runat="server" EnableClientScript="true" ClientValidationFunction="ValidatePrimarySource"></asp:CustomValidator>
                                <div id="validationDiv"></div>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Miscellaneous" HeaderStyle-CssClass="adPrefHeader"
                            ItemStyle-CssClass="adPrefItem" />
                        <asp:BoundField HeaderText="How long is your listing site preview text?" DataField="DesiredPreviewLength" />
                        <asp:CheckBoxField HeaderText="Do you want to use more verbose descriptions by default?"
                            DataField="useLongDescriptionAsDefault" />
                        <asp:TemplateField HeaderText="What Symbol should break up your descriptions?">
                            <ItemTemplate>
                                <%# Eval("TextSeparator") %></ItemTemplate>
                            <EditItemTemplate>
                                <asp:TextBox ID="separator" runat="server" Text='<%# Bind("TextSeparator") %>'></asp:TextBox><br />
                                <asp:RegularExpressionValidator ID="RegularExpressionValidator1" ControlToValidate="separator"
                                    ValidationExpression="[^(\|)|(\r)|(\n)|(\\)]*" runat="server" ErrorMessage="**No '|', '\' or 'return' allowed**"></asp:RegularExpressionValidator>
                                <asp:RequiredFieldValidator ID="ReqFieldVal1" runat="server" ControlToValidate="separator"
                                    ErrorMessage="*Separator Required"></asp:RequiredFieldValidator>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Default Description" HeaderStyle-CssClass="PrefHeader">
                            <ItemTemplate>
                                <%# Eval("DefaultTemplateName") %></ItemTemplate>
                            <EditItemTemplate>
                                <asp:DropDownList ID="defaultTemplateDDL" runat="server" DataSourceID="TemplatesDS"
                                    DataTextField="Value" DataValueField="Key" />
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:CheckBoxField HeaderText="Do you want to show a call to action in previews?"
                            DataField="UseCallToActionInPreview" />
                    </Fields>
                </asp:DetailsView>
                <div id="PreviewSettings" class="clearfix">
                    <h2>
                        Set Vehicle Ad Preview Preferences</h2>
                    <asp:UpdatePanel ID="PreviewPrefUP" runat="server">
                        <ContentTemplate>
                            <div class="fieldLabelPair">
                                <label for="<%= PreviewPrefUP.FindControl( "NewOrUsedDDL" ).ClientID %>">
                                    Choose New/Used Previews</label>
                                <asp:DropDownList ID="NewOrUsedDDL" runat="server" AutoPostBack="true">
                                    <asp:ListItem Text="New Vehicles" Value="1"></asp:ListItem>
                                    <asp:ListItem Text="Used Vehicles" Value="2"></asp:ListItem>
                                </asp:DropDownList>
                            </div>
                            <asp:DetailsView ID="PreviewPrefDV" runat="server" AutoGenerateRows="false" DataSourceID="PreviewPrefDS"
                                DataKeyNames="PreferenceId, NewOrUsed, BusinessUnitId" AutoGenerateEditButton="true"
                                DefaultMode="Edit" AlternatingRowStyle-BackColor="#f4f4f4">
                                <Fields>
                                    <asp:CheckBoxField DataField="useMissionMarker" HeaderText="Use Themed Mission Phrases?" />
                                    <asp:CheckBoxField DataField="usePriceBelowBook" HeaderText="Use Price Below Book?" />
                                    <asp:CheckBoxField DataField="useOneOwner" HeaderText="Use One Owner?" />
                                    <asp:CheckBoxField DataField="usePriceReduced" HeaderText="Use Price Reduced?" />
                                    <asp:CheckBoxField DataField="useCertified" HeaderText="Use Certified?" />
                                    <asp:CheckBoxField DataField="useVehicleCondition" HeaderText="Use Vehicle Condition?" />
                                    <asp:CheckBoxField DataField="useVehicleConditionStatements" HeaderText="Use Vehicle Condition Reports?" />
                                    <asp:CheckBoxField DataField="useJdPowerRatings" HeaderText="Use JD Power Ratings?" />
                                    <asp:CheckBoxField DataField="useModelAwards" HeaderText="Use Model Awards?" />
                                    <asp:CheckBoxField DataField="useExpertReviews" HeaderText="Use Expert Reviews?" />
                                    <asp:CheckBoxField DataField="useCrashTestRatings" HeaderText="Use Crash Test Ratings?" />
                                    <asp:CheckBoxField DataField="useWarranties" HeaderText="Use Warranties?" />
                                    <asp:CheckBoxField DataField="useFuelEconomy" HeaderText="Use Fuel Economy?" />
                                    <asp:CheckBoxField DataField="useLowMilesPerYear" HeaderText="Use Low Miles Per Year?" />
                                    <asp:CheckBoxField DataField="useFinancingSpecial" HeaderText="Use Financing Special?" />
                                    <asp:CheckBoxField DataField="useTrim" HeaderText="Use Trim?" />
                                    <asp:CheckBoxField DataField="useColors" HeaderText="Use Colors?" />
                                    <asp:CheckBoxField DataField="useKeyInfoCheckboxes" HeaderText="Use Customized Key Information Checkboxes?" />
                                    <asp:CheckBoxField DataField="useKeyVehicleEquipment" HeaderText="Use Key Vehicle Equipment?" />
                                    <asp:CheckBoxField DataField="useDrivetrain" HeaderText="Include Drivetrain in Key Vehicle Equipment?" />
                                </Fields>
                            </asp:DetailsView>
                            <%--DataObjectTypeName="FirstLook.Merchandising.DomainModel.Templating.Previews.PreviewPreferences"--%>
                            <asp:ObjectDataSource ID="PreviewPrefDS" runat="server" TypeName="FirstLook.Merchandising.DomainModel.Templating.Previews.DAL.PreviewPreferencesDao"
                                SelectMethod="Fetch" OnSelecting="PreviewPref_Selecting" OnUpdating="PreviewPref_Updating"
                                UpdateMethod="Upsert">
                                <SelectParameters>
                                    <asp:Parameter Name="businessUnitId" Type="Int32" />
                                    <asp:ControlParameter Name="newOrUsed" ControlID="NewOrUsedDDL" PropertyName="SelectedValue"
                                        Type="Int32" />
                                </SelectParameters>
                            </asp:ObjectDataSource>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
            </cwc:TabPanel>
            <cwc:TabPanel ID="AlertingTab" runat="server" Text="Alerting">
                <asp:SqlDataSource ID="AlertingDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>"
                    SelectCommand="SELECT businessUnitId, daysToEquipmentComplete, daysToFirstPhoto, 
                        daysToPhotosComplete, daysToPricingComplete, daysToApproval, 
                        maxDaysToApprovedAfterPending, DaysToIncludeForActivityCalculations,
                        maxDaysUndermerchandised
                        FROM settings.alertingPreferences 
                        WHERE businessUnitID = @BusinessUnitID" UpdateCommand="UPDATE settings.alertingPreferences
                    SET daysToEquipmentComplete = @daysToEquipmentComplete, 
                        daysToFirstPhoto = @daysToFirstPhoto, 
                        daysToPhotosComplete = @daysToPhotosComplete, 
                        daysToPricingComplete = @daysToPricingComplete,
                        daysToApproval = @daysToApproval, 
                        maxDaysToApprovedAfterPending = @maxDaysToApprovedAfterPending, 
                        DaysToIncludeForActivityCalculations = @daysToIncludeForActivityCalculations,
                        maxDaysUndermerchandised = @maxDaysUndermerchandised
                    WHERE businessUnitId = @BusinessUnitID" InsertCommand="INSERT INTO settings.AlertingPreferences 
                    ([businessUnitId],[daysToEquipmentComplete],
                    [daysToFirstPhoto],[daysToPhotosComplete],[daysToPricingComplete],
                    [daysToApproval],[maxDaysToApprovedAfterPending],[DaysToIncludeForActivityCalculations],
                    [maxDaysUndermerchandised])
                    VALUES 
                    (@BusinessUnitID, @daysToEquipmentComplete,
                    @daysToFirstPhoto,@daysToPhotosComplete,@daysToPricingComplete,
                    @daysToApproval,@maxDaysToApprovedAfterPending,@DaysToIncludeForActivityCalculations,
                    @maxDaysUndermerchandised)" OnSelecting="Alerting_Selecting" OnUpdating="Alerting_InsertUpdating"
                    OnInserting="Alerting_InsertUpdating">
                    <InsertParameters>
                        <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                        <asp:Parameter Name="daysToEquipmentComplete" Type="Int32" />
                        <asp:Parameter Name="daysToFirstPhoto" Type="Int32" />
                        <asp:Parameter Name="daysToPhotosComplete" Type="Int32" />
                        <asp:Parameter Name="daysToPricingComplete" Type="Int32" />
                        <asp:Parameter Name="daysToApproval" Type="Int32" />
                        <asp:Parameter Name="maxDaysToApprovedAfterPending" Type="Int32" />
                        <asp:Parameter Name="daysToIncludeForActivityCalculations" Type="Int32" />
                        <asp:Parameter Name="maxDaysUndermerchandised" Type="Int32" />
                    </InsertParameters>
                    <UpdateParameters>
                        <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                        <asp:Parameter Name="daysToEquipmentComplete" Type="Int32" />
                        <asp:Parameter Name="daysToFirstPhoto" Type="Int32" />
                        <asp:Parameter Name="daysToPhotosComplete" Type="Int32" />
                        <asp:Parameter Name="daysToPricingComplete" Type="Int32" />
                        <asp:Parameter Name="daysToApproval" Type="Int32" />
                        <asp:Parameter Name="maxDaysToApprovedAfterPending" Type="Int32" />
                        <asp:Parameter Name="daysToIncludeForActivityCalculations" Type="Int32" />
                        <asp:Parameter Name="maxDaysUndermerchandised" Type="Int32" />
                    </UpdateParameters>
                    <SelectParameters>
                        <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                    </SelectParameters>
                </asp:SqlDataSource>
                <div class="ConditionsSettings">
                    <h2>
                        Set Your Dealer Alerting Thresholds</h2>
                    <asp:DetailsView ID="AlertingDV" runat="server" DataSourceID="AlertingDS" AutoGenerateRows="False"
                        AutoGenerateDeleteButton="False" AutoGenerateEditButton="True" AutoGenerateInsertButton="true"
                        DataKeyNames="BusinessUnitId" AlternatingRowStyle-BackColor="#f4f4f4">
                        <EmptyDataTemplate>
                            <asp:LinkButton ID="LinkButton1" CommandName="New" runat="server" Text="Create Your Dealer Alerting Preferences"></asp:LinkButton>
                        </EmptyDataTemplate>
                        <Fields>
                            <asp:BoundField HeaderText="Days to Complete Equipment" DataField="daysToEquipmentComplete" />
                            <asp:BoundField HeaderText="Days to First Photo" DataField="daysToFirstPhoto" />
                            <asp:BoundField HeaderText="Days to Complete Photos" DataField="daysToPhotosComplete" />
                            <asp:BoundField HeaderText="Days to Complete Pricing" DataField="daysToPricingComplete" />
                            <asp:BoundField HeaderText="Total days to get online" DataField="daysToApproval" />
                            <asp:BoundField HeaderText="Max days in pending approval state" DataField="maxDaysToApprovedAfterPending" />
                            <asp:BoundField HeaderText="Days to include in low activity alerts" DataField="daysToIncludeForActivityCalculations" />
                            <asp:BoundField HeaderText="Max Days Undermerchandised or Low Activity" DataField="maxDaysUndermerchandised" />
                        </Fields>
                    </asp:DetailsView>
                </div>
                <asp:SqlDataSource ID="ReportsDS" runat="server" ConnectionString='<%$ ConnectionStrings:Merchandising %>'
                    SelectCommand="SELECT reportId, title FROM alerts.reports" />
                <div id="AlertReportingSettings">
                    <h2>
                        Set your alert reporting subscription and delivery preferences</h2>
                    <asp:Repeater ID="SubscriptionsTableRptr" runat="server" DataSourceID="ReportsDS"
                        OnItemDataBound="AlertRow_Bound">
                        <HeaderTemplate>
                            <table id="AlertReportingSettingsTable">
                                <tr>
                                    <th>
                                        Alert
                                    </th>
                                    <th>
                                        S
                                    </th>
                                    <th>
                                        M
                                    </th>
                                    <th>
                                        T
                                    </th>
                                    <th>
                                        W
                                    </th>
                                    <th>
                                        R
                                    </th>
                                    <th>
                                        F
                                    </th>
                                    <th>
                                        S
                                    </th>
                                    <th>
                                        Time of day
                                    </th>
                                    <th>
                                        Email Address
                                    </th>
                                </tr>
                        </HeaderTemplate>
                        <ItemTemplate>
                            <tr>
                                <td>
                                    <%#Eval("title")%>
                                    <asp:HiddenField ID="reportIdField" runat="server" Value='<%# Eval("reportId") %>' />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Sun" runat="server" CheckBoxArgument="1" />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Mon" runat="server" CheckBoxArgument="2" />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Tues" runat="server" CheckBoxArgument="3" />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Wed" runat="server" CheckBoxArgument="4" />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Thurs" runat="server" CheckBoxArgument="5" />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Fri" runat="server" CheckBoxArgument="6" />
                                </td>
                                <td>
                                    <vda:CheckBoxPlus ID="Sat" runat="server" CheckBoxArgument="7" />
                                </td>
                                <td>
                                    <asp:DropDownList ID="TimeDDL" runat="server">
                                        <asp:ListItem Text="report delivery time..." Value="4" />
                                        <asp:ListItem Text="5 AM" Value="5" />
                                        <asp:ListItem Text="6 AM" Value="6" />
                                        <asp:ListItem Text="7 AM" Value="7" />
                                        <asp:ListItem Text="8 AM" Value="8" />
                                        <asp:ListItem Text="9 AM" Value="9" />
                                        <asp:ListItem Text="10 AM" Value="10" />
                                        <asp:ListItem Text="11 AM" Value="11" />
                                        <asp:ListItem Text="12 PM" Value="12" />
                                        <asp:ListItem Text="1 PM" Value="13" />
                                        <asp:ListItem Text="2 PM" Value="14" />
                                        <asp:ListItem Text="3 PM" Value="15" />
                                        <asp:ListItem Text="4 PM" Value="16" />
                                        <asp:ListItem Text="5 PM" Value="17" />
                                        <asp:ListItem Text="6 PM" Value="18" />
                                        <asp:ListItem Text="7 PM" Value="19" />
                                        <asp:ListItem Text="8 PM" Value="20" />
                                        <asp:ListItem Text="9 PM" Value="21" />
                                        <asp:ListItem Text="10 PM" Value="22" />
                                        <asp:ListItem Text="11 PM" Value="23" />
                                    </asp:DropDownList>
                                </td>
                                <td>
                                    <asp:TextBox ID="email" runat="server" Text=""></asp:TextBox>
                                </td>
                            </tr>
                        </ItemTemplate>
                        <FooterTemplate>
                            </table>
                        </FooterTemplate>
                    </asp:Repeater>
                    <div class="formButtons">
                        <asp:Button ID="SubscriptionsButton" runat="server" CssClass="button" OnClick="Subscriptions_Save"
                            Text="Save Subscriptions" />
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </cwc:TabPanel>
            <cwc:TabPanel ID="Merchandising" Text="Data Source Settings" runat="server">
                <asp:DetailsView ID="DataSourceDetailsView" runat="server" AutoGenerateRows="False"
                    DataSourceID="merchSettingsDS" AutoGenerateEditButton="True" OnDataBound="DataSourceDetailsView_Bound"
                    AlternatingRowStyle-BackColor="#f4f4f4">
                    <Fields>
                        <asp:BoundField DataField="desiredPhotoCount" HeaderText="How many photos should each ad have?"
                            SortExpression="desiredPhotoCount" />
                        <asp:CheckBoxField DataField="photoRequiredForRelease" HeaderText="Is a photo required for release?"
                            SortExpression="photoRequiredForRelease" />
                        <asp:CheckBoxField DataField="descriptionRequiredForRelease" HeaderText="Is a description required for release?"
                            SortExpression="descriptionRequiredForRelease" />
                        <asp:CheckBoxField DataField="approvalRequiredForRelease" HeaderText="Is approval required for release?"
                            SortExpression="approvalRequiredForRelease" />
                        <asp:CheckBoxField DataField="autogenerateDescriptions" HeaderText="Do you want to autogenerate descriptions?" />
                        <asp:TemplateField HeaderText="Lot Data Provider">
                            <ItemTemplate>
                                <asp:SqlDataSource ID="LotProvidersDS" runat="server" ConnectionString='<%$ ConnectionStrings:Merchandising %>'
                                    SelectCommandType="Text" SelectCommand="SELECT ProviderID, Description FROM Listing.Provider">
                                </asp:SqlDataSource>
                                <asp:DropDownList ID="lotProviderDDL" runat="server" DataSourceID="LotProvidersDS"
                                    DataTextField="Description" DataValueField="ProviderID" AppendDataBoundItems="true"
                                    Enabled="false">
                                    <asp:ListItem Text="None" Value=""></asp:ListItem>
                                </asp:DropDownList>
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:SqlDataSource ID="LotProvidersDS" runat="server" ConnectionString='<%$ ConnectionStrings:Merchandising %>'
                                    SelectCommandType="Text" SelectCommand="SELECT ProviderID, Description FROM Listing.Provider">
                                </asp:SqlDataSource>
                                <asp:DropDownList ID="lotProviderDDL" runat="server" DataSourceID="LotProvidersDS"
                                    DataTextField="Description" DataValueField="ProviderID" AppendDataBoundItems="true">
                                    <asp:ListItem Text="None" Value=""></asp:ListItem>
                                </asp:DropDownList>
                            </EditItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Should ads use Carfax?">
                            <ItemTemplate>
                                <asp:CheckBox ID="UseCarfax" runat="server" Checked='<%#Eval("UseCarfax") %>' Text="Using Carfax?"
                                    Enabled="false" />
                            </ItemTemplate>
                            <EditItemTemplate>
                                <asp:CheckBox ID="UseCarfax" runat="server" Checked='<%#Bind("UseCarfax") %>' Text="Using Carfax?" />
                                <br />
                                <label for="carfaxUsername">
                                    Username</label><asp:TextBox ID="carfaxUsername" runat="server" Text='<%# Bind("CarfaxUsername") %>'></asp:TextBox>
                                <br />
                                <label for="carfaxPassword">
                                    Password</label><asp:TextBox TextMode="Password" ID="carfaxPassword" runat="server"
                                        Text='<%# Bind("CarfaxPassword") %>'></asp:TextBox>
                            </EditItemTemplate>
                        </asp:TemplateField>
                    </Fields>
                </asp:DetailsView>
                <asp:SqlDataSource ID="merchSettingsDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>"
                    SelectCommand="settings.merchandisingPreferences#Fetch" UpdateCommand="settings.merchandisingPreferences#Update"
                    SelectCommandType="StoredProcedure" UpdateCommandType="StoredProcedure" OnSelecting="Settings_Selecting"
                    OnUpdating="Settings_Updating">
                    <SelectParameters>
                        <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                    </SelectParameters>
                    <UpdateParameters>
                        <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                        <asp:Parameter Name="DesiredPhotoCount" />
                        <asp:Parameter Name="PhotoRequiredForRelease" />
                        <asp:Parameter Name="DescriptionRequiredForRelease" />
                        <asp:Parameter Name="AutogenerateDescriptions" />
                        <asp:Parameter Name="ApprovalRequiredForRelease" />
                        <asp:Parameter Name="LotProviderId" Type="Int32" />
                        <asp:Parameter Name="UseCarfax" />
                        <asp:Parameter Name="CarfaxUsername" />
                        <asp:Parameter Name="CarfaxPassword" />
                    </UpdateParameters>
                </asp:SqlDataSource>
                <div id="SiteCollectionDiv">
                    <carbuilder:SiteCollectionSetup ID="siteCollection" runat="server" />
                </div>
            </cwc:TabPanel>
        </cwc:TabContainer>
    </div>
    <asp:ObjectDataSource ID="EquipmentGroupsDS" runat="server" TypeName="FirstLook.Merchandising.DomainModel.Vehicles.GenericEquipmentReplacementCollection"
        SelectMethod="Fetch" OnSelecting="EquipGroups_Selecting" DeleteMethod="DeleteReplacement"
        OnDeleting="EquipGroup_Deleting">
        <SelectParameters>
            <asp:Parameter Name="businessUnitId" Type="Int32" />
            <asp:Parameter Name="generics" Type="Object" />
        </SelectParameters>
        <DeleteParameters>
            <asp:Parameter Name="businessUnitId" Type="Int32" />
            <asp:Parameter Name="memberLogin" Type="String" />
        </DeleteParameters>
    </asp:ObjectDataSource>
    <asp:SqlDataSource ID="CategoryDS" runat="server" ConnectionString='<%$ ConnectionStrings:Merchandising %>'
        SelectCommandType="StoredProcedure" SelectCommand="chrome.getAllCategories" />
    <asp:ObjectDataSource ID="PreferencesDS" runat="server" DataObjectTypeName="FirstLook.Merchandising.DomainModel.Templating.DealerAdvertisementPreferences"
        InsertMethod="UpdateOrCreate" SelectMethod="Fetch" TypeName="FirstLook.Merchandising.DomainModel.Templating.DealerAdvertisementPreferences"
        UpdateMethod="UpdateOrCreate" OnSelecting="Preferences_Selecting" OnUpdating="PreferencesUpdating">
        <SelectParameters>
            <asp:Parameter DefaultValue="100150" Name="businessUnitId" Type="Int32" />
        </SelectParameters>
    </asp:ObjectDataSource>
    <asp:ObjectDataSource ID="TemplatesDS" runat="server" TypeName="FirstLook.Merchandising.DomainModel.Templating.BlurbDataSource"
        SelectMethod="AvailableTemplatesSelect" OnSelecting="Templates_Selecting">
        <SelectParameters>
            <asp:Parameter Name="businessUnitID" Type="Int32" />
        </SelectParameters>
    </asp:ObjectDataSource>
</asp:Content>
<asp:Content ID="ScriptContent" ContentPlaceHolderID="ScriptsPlaceHolder" runat="server">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1230037-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript" language="javascript" src="../Public/Scripts/PricingSummary/ThresholdColors.js"></script>
    <script src="../Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    
</asp:Content>
