<%@ Page Language="C#" AutoEventWireup="True" MasterPageFile="~/Workflow/Workflow.Master" Theme="None" Title="Dealer Setup Wizard | MAX : Online Inventory. Perfected." CodeBehind="DealerSetup.aspx.cs" Inherits="Wanamaker.WebApp.CustomizeMAX.DealerSetup" %>

<%@ Import Namespace="FirstLook.Merchandising.DomainModel.Vehicles" %>
<%@ Import Namespace="Wanamaker.WebApp.Helpers" %>
<%@ Register TagPrefix="wanaworkflow" TagName="WorkflowHeader" Src="~/Workflow/Controls/WorkflowHeader.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="ConditionSettings" Src="~/CustomizeMAX/Controls/ConditionSettings.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="EditSnippetIntro" Src="~/CustomizeMAX/Controls/EditSnippetIntro.ascx" %>
<%@ Register TagPrefix="carbuilder" TagName="SiteCollectionSetup" Src="~/CustomizeMAX/Controls/SiteCollectionSetup.ascx" %>
<%@ Register TagPrefix="workflow" TagName="InventorySearch" Src="~/Workflow/Controls/SearchInventory.ascx"  %>

<asp:Content ID="CssContent" ContentPlaceHolderID="CssPlaceHolder" runat="server">

    <link rel="stylesheet" type="text/css" href="<%= HtmlHelpers.VersionedUrl("~/Themes/MAX3.0/Main.debug.css") %>" />
    <link rel="stylesheet" type="text/css" href="<%= HtmlHelpers.VersionedUrl("~/Themes/MAX3.0/Settings/dealersetup.css") %>" />

</asp:Content>

<asp:Content ID="BodyContent" ContentPlaceHolderID="BodyPlaceHolder" runat="server">

    <div id="BulkUpload">
        <a href="<%= BulkUploadUrl %>" title="Upload photos for multiple vehicles" target="_blank">Bulk Upload</a>
    </div>

    <workflow:InventorySearch id="InventorySearch" runat="server"></workflow:InventorySearch>
        
    <h1>Dealer Setup Wizard</h1>

    <div id="Content">

        <div class="preferencesBody">
        
            <asp:Panel ID="DealerSetupStatus" runat="server" Visible="false">
                <asp:Label ID="setupStatusLbl" runat="server"></asp:Label>&nbsp;&nbsp;&nbsp;<asp:Button ID="DealerSetupButton" runat="server"
                    Text="Run Initial Dealer Setup" OnClick="DealerSetup_Click" />
            </asp:Panel>
        
            <asp:Wizard ID="setupWizard" runat="server" OnSideBarButtonClick="NextWizardStep_Click" OnNextButtonClick="NextWizardStep_Click" OnLoad="Wizard_Load" 
                StepStyle-CssClass="WizardStep" SideBarStyle-CssClass="WizardNav" OnFinishButtonClick="NextWizardStep_Click" SideBarButtonStyle-CssClass="WizardNavLink">
                <WizardSteps>
                    <asp:WizardStep ID="webPerformanceStep" runat="server" Title="1. Data In/Out Setup">
                        <h2>
                            Select your inventory webloader to import vehicle data into MAX</h2>
                        <asp:DetailsView ID="LotProviderDV" runat="server" AutoGenerateRows="False" DataSourceID="merchSettingsDS" AutoGenerateEditButton="False"
                            DefaultMode="Edit" OnDataBound="LotProviderDV_Bound">
                            <Fields>
                                <asp:TemplateField HeaderText="Inventory Webloader">
                                    <EditItemTemplate>
                                        <asp:SqlDataSource ID="LotProvidersDS" runat="server" ConnectionString='<%$ ConnectionStrings:Merchandising %>' SelectCommandType="Text"
                                            SelectCommand="SELECT ProviderID, Description FROM Listing.Provider"></asp:SqlDataSource>
                                        <asp:DropDownList ID="lotProviderDDL" runat="server" OnDataBinding="LotProvider_Binding" DataSourceID="LotProvidersDS" DataTextField="Description"
                                            DataValueField="ProviderID" AppendDataBoundItems="true">
                                            <asp:ListItem Text="None" Value=""></asp:ListItem>
                                        </asp:DropDownList>
                                        <asp:HiddenField runat="server" ID="f1" Value='<%# Bind("desiredPhotoCount") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField1" Value='<%# Bind("photoRequiredForRelease") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField2" Value='<%# Bind("descriptionRequiredForRelease") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField3" Value='<%# Bind("approvalRequiredForRelease") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField4" Value='<%# Bind("autogenerateDescriptions") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField5" Value='<%# Bind("UseCarfax") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField6" Value='<%# Bind("CarfaxUsername") %>' />
                                        <asp:HiddenField runat="server" ID="HiddenField7" Value='<%# Bind("CarfaxPassword") %>' />
                                    </EditItemTemplate>
                                </asp:TemplateField>
                            </Fields>
                        </asp:DetailsView>
                        <asp:SqlDataSource ID="merchSettingsDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>" SelectCommand="settings.merchandisingPreferences#Fetch"
                            UpdateCommand="settings.merchandisingPreferences#Update" SelectCommandType="StoredProcedure" UpdateCommandType="StoredProcedure"
                            OnSelecting="Settings_Selecting" OnUpdating="Settings_Updating">
                            <SelectParameters>
                                <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                            </SelectParameters>
                            <UpdateParameters>
                                <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                                <asp:Parameter Name="DesiredPhotoCount" />
                                <asp:Parameter Name="PhotoRequiredForRelease" />
                                <asp:Parameter Name="DescriptionRequiredForRelease" />
                                <asp:Parameter Name="AutogenerateDescriptions" />
                                <asp:Parameter Name="ApprovalRequiredForRelease" />
                                <asp:Parameter Name="LotProviderId" Type="Int32" />
                                <asp:Parameter Name="UseCarfax" />
                                <asp:Parameter Name="CarfaxUsername" />
                                <asp:Parameter Name="CarfaxPassword" />
                            </UpdateParameters>
                        </asp:SqlDataSource>
                        <h2>
                            Add websites to include online inventory performance analysis</h2>
                        <carbuilder:SiteCollectionSetup ID="sites" runat="server" />
                    </asp:WizardStep>
                    <asp:WizardStep ID="conditionStep" runat="server" Title="2. Condition Descriptors">
                        <carbuilder:ConditionSettings ID="conditions" runat="server" />
                    </asp:WizardStep>
                    <asp:WizardStep ID="consumerInfoStep" runat="server" Title="3. Safety, Warranty, Fuel Economy">
                        <h2>
                            Crash Tests</h2>
                        <table>
                            <tr>
                                <td>
                                    What's the lowest Crash Test Rating you want to advertise (1-5 stars)
                                </td>
                                <td>
                                    <asp:TextBox ID="crashCount" runat="server" Columns="2"></asp:TextBox>
                                    stars
                                </td>
                                <asp:RangeValidator ID="RangeValidator1" runat="server" Display="Dynamic" ErrorMessage="between 1 and 5" Type="Integer" ControlToValidate="crashCount"
                                    MaximumValue="5" MinimumValue="1"></asp:RangeValidator>
                            </tr>
                            <tr>
                                <td>
                                    How important are Crash Test ratings to your market?
                                </td>
                                <td>
                                    <asp:RadioButton ID="crashNone" runat="server" GroupName="crash" Text="None" />
                                    <asp:RadioButton ID="crashLow" runat="server" GroupName="crash" Text="Low" />
                                    <asp:RadioButton ID="crashMed" runat="server" GroupName="crash" Text="Somewhat" />
                                    <asp:RadioButton ID="crashHi" runat="server" GroupName="crash" Text="High" />
                                </td>
                            </tr>
                        </table>
                        <h2>
                            Warranties</h2>
                        <table>
                            <tr>
                                <td>
                                    What's the minimum mileage remaining you would advertise?
                                </td>
                                <td>
                                    <asp:TextBox ID="warrMiles" runat="server" Columns="2"></asp:TextBox>
                                    miles
                                    <asp:RangeValidator ID="RangeValidator2" runat="server" ErrorMessage="between 0 and 100000" Type="Integer" ControlToValidate="warrMiles"
                                        MaximumValue="100000" MinimumValue="0"></asp:RangeValidator>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    How important are Warranties to your market?
                                </td>
                                <td>
                                    <asp:RadioButton ID="warrNone" runat="server" GroupName="warranty" Text="None" />
                                    <asp:RadioButton ID="warrLow" runat="server" GroupName="warranty" Text="Low" />
                                    <asp:RadioButton ID="warrMed" runat="server" GroupName="warranty" Text="Somewhat" />
                                    <asp:RadioButton ID="warrHi" runat="server" GroupName="warranty" Text="High" />
                                </td>
                            </tr>
                        </table>
                        <h2>
                            Set the minimum fuel economy ratings displayable in your ads</h2>
                        <asp:GridView ID="GasMileages" runat="server" DataKeyNames="SegmentId" AutoGenerateColumns="False">
                            <Columns>
                                <asp:BoundField DataField="SegmentName" HeaderText="Segment" />
                                <asp:TemplateField HeaderText="City">
                                    <ItemTemplate>
                                        <asp:TextBox ID="City" Text='<%# Eval("CityMileage") %>' runat="server" Columns="3"></asp:TextBox>
                                    </ItemTemplate>
                                </asp:TemplateField>
                                <asp:TemplateField HeaderText="Highway">
                                    <ItemTemplate>
                                        <asp:TextBox ID="Highway" Text='<%# Eval("HighwayMileage") %>' runat="server" Columns="3"></asp:TextBox>
                                    </ItemTemplate>
                                </asp:TemplateField>
                            </Columns>
                        </asp:GridView>
                    </asp:WizardStep>
                    <asp:WizardStep ID="bookStep" runat="server" Title="4. Preferred Advertising Book">
                        <table>
                            <tr>
                                <td>
                                    <h2>Select your preferred book for advertising:</h2>
                                    <asp:DropDownList ID="PreferredBookCategory" runat="server" DataSource='<%# Bookout.FetchValidDisplayCategories() %>' DataTextField="Key"
                                        DataValueField="Value">
                                    </asp:DropDownList>
                                    <span class="helper">Most Popular: KBB Retail</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2>What is the smallest price below book you would advertise?</h2>
                                    $<asp:TextBox ID="goodBookDiffTB" runat="server"></asp:TextBox>
                                    <asp:RangeValidator ID="RangeValidator3" runat="server" Display="Dynamic" ErrorMessage="greater than zero" ControlToValidate="goodBookDiffTB"
                                        Type="Integer" MinimumValue="1" MaximumValue="100000"></asp:RangeValidator>
                                    <span class="helper">Most Popular: $300, $500</span>
                                </td>
                            </tr>
                        </table>
                    </asp:WizardStep>
                    <asp:WizardStep ID="keyInformationStep" runat="server" Title="5. Key Information">
                        <h2>
                            Customize Key Advertising Points</h2>
                        <p>
                            These are points you want to check for each vehicle</p>
                        <asp:SqlDataSource ID="AdditionalInfoDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>" InsertCommand="INSERT INTO builder.AdditionalInfoCategories (priority, infoBuilderDisplay, infoAdDisplay, businessUnitID) VALUES (@Priority, @InfoBuilderDisplay, @InfoAdDisplay, @BusinessUnitID)"
                            SelectCommand="SELECT priority, infoId, infoAdDisplay, infoBuilderDisplay, enabled from builder.AdditionalInfoCategories WHERE businessUnitID = @BusinessUnitID"
                            UpdateCommand="UPDATE builder.AdditionalInfoCategories SET priority = @Priority, enabled = @Enabled, infoBuilderDisplay = @InfoBuilderDisplay, infoAdDisplay = @InfoAdDisplay WHERE infoId = @InfoId"
                            OnUpdating="Additional_Updating" OnSelecting="Additional_Selecting" OnInserting="Additional_Inserting">
                            <UpdateParameters>
                                <asp:Parameter Name="InfoBuilderDisplay" Type="String" />
                                <asp:Parameter Name="InfoAdDisplay" Type="String" />
                                <asp:Parameter Name="InfoId" Type="Int32" />
                                <asp:Parameter Name="Enabled" Type="Int32" />
                                <asp:Parameter Name="Priority" Type="Int32" />
                            </UpdateParameters>
                            <SelectParameters>
                                <asp:Parameter Name="BusinessUnitID" Type="Int32" />
                            </SelectParameters>
                            <InsertParameters>
                                <asp:Parameter Name="Priority" Type="Int32" DefaultValue="0" />
                                <asp:Parameter Name="InfoBuilderDisplay" Type="String" DefaultValue="" />
                                <asp:Parameter Name="InfoAdDisplay" Type="String" DefaultValue="" />
                                <asp:Parameter Name="BusinessUnitID" Type="Int32" DefaultValue="100150" />
                            </InsertParameters>
                        </asp:SqlDataSource>
                        <div class="QuestionsBox">
                            <table>
                                <tr>
                                    <td>
                                        Question about vehicle for data collector:
                                    </td>
                                    <td>
                                        <asp:TextBox ID="NewAdditionalBuilder" runat="server" Text="" MaxLength="90"></asp:TextBox>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Display text for advertisements:
                                    </td>
                                    <td>
                                        <asp:TextBox ID="NewAdditionalAd" runat="server" Text="" MaxLength="90"></asp:TextBox>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <asp:Button ID="Button3" runat="server" OnClick="InsertNew_Click" CommandArgument="AdditionalInfo" CausesValidation="true"
                                            ValidationGroup="KeyInformationValidation" Text="+ Add" />
                                    </td>
                                </tr>
                            </table>
                            <asp:RequiredFieldValidator ID="NewAdditionalAdValidator" runat="server" ControlToValidate="NewAdditionalAd" Display="None"
                                ErrorMessage="Display text for advertisements." ValidationGroup="KeyInformationValidation">*</asp:RequiredFieldValidator>
                            <asp:RequiredFieldValidator ID="NewAdditionalBuilderValidator" runat="server" ControlToValidate="NewAdditionalBuilder" Display="None"
                                ErrorMessage="Question about vehicle for data collection." ValidationGroup="KeyInformationValidation">*</asp:RequiredFieldValidator>
                            <asp:ValidationSummary ID="KeyInformationValidationSummary" DisplayMode="BulletList" runat="server" HeaderText="You must enter a value in the following fields:"
                                ShowMessageBox="true" ShowSummary="false" ValidationGroup="KeyInformationValidation" />
                            <asp:GridView ID="AdditionalInfoGV" runat="server" DataSourceID="AdditionalInfoDS" AutoGenerateColumns="False" AutoGenerateEditButton="True"
                                ShowFooter="False" DataKeyNames="InfoId" Width="100%">
                                <Columns>
                                    <asp:BoundField DataField="Priority" HeaderText="Priority" />
                                    <asp:TemplateField HeaderText="Question for Builder">
                                        <ItemTemplate>
                                            <asp:Label ID="InfoBuilderDisplay" runat="server" Text='<%# Bind("InfoBuilderDisplay") %>'></asp:Label>
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:TextBox ID="InfoBuilderDisplay" runat="server" Text='<%# Bind("InfoBuilderDisplay") %>'></asp:TextBox>
                                        </EditItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="As Seen in Advertisement">
                                        <ItemTemplate>
                                            <asp:Label ID="InfoAdDisplay" runat="server" Text='<%# Bind("InfoAdDisplay") %>'></asp:Label>
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:TextBox ID="InfoAdDisplay" runat="server" Text='<%# Bind("InfoAdDisplay") %>'></asp:TextBox>
                                        </EditItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Enabled?">
                                        <ItemTemplate>
                                            <asp:CheckBox ID="Enabled" runat="server" Checked='<%# ((int)Eval("Enabled")) == 1 %>' Enabled="false" />
                                        </ItemTemplate>
                                        <EditItemTemplate>
                                            <asp:CheckBox ID="Enabled" runat="server" Checked='<%# ((int)Eval("Enabled")) == 1 %>' />
                                        </EditItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                                <AlternatingRowStyle BackColor="#f4f4f4" />
                            </asp:GridView>
                        </div>
                    </asp:WizardStep>
                    <asp:WizardStep ID="templateDefStep" Title="6. Template Default" runat="server">
                        <div>
                            <h2>
                                Please select a default template:</h2>
                            <asp:DropDownList ID="defaultTemplateDDL" runat="server" >
                            </asp:DropDownList>
                        </div>
                        <div><br /><br />
                            <h2>
                                Which "separator" text would you like?</h2>
                            <asp:TextBox ID="separatorTB" runat="server"></asp:TextBox>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator2" ControlToValidate="separatorTB" ValidationExpression="[^(\|)|(\r)|(\n)|(\\)]*"
                                runat="server" ErrorMessage="**No '|', '\' or 'return' allowed**"></asp:RegularExpressionValidator>
                        </div>
                        <div><br /><br />
                            <h2>
                                How many characters long is your "preview" on the web?</h2>
                            <asp:RadioButton ID="preview150" runat="server" Text="150" GroupName="previewLength" />
                            <asp:RadioButton ID="preview250" runat="server" Text="250" GroupName="previewLength" />
                            <asp:RadioButton ID="previewCustom" runat="server" Text="Custom:" GroupName="previewLength" />
                            <asp:TextBox ID="CustomPreviewLen" runat="server"></asp:TextBox>
                        </div>
                       
                    </asp:WizardStep>
                </WizardSteps>
                <StartNextButtonStyle CssClass="WizardAction" />
                <StepNextButtonStyle CssClass="WizardAction" />
                <StepPreviousButtonStyle CssClass="WizardAction" />
            </asp:Wizard>
        </div>

    </div>

</asp:Content>

<asp:Content ID="ScriptContent" ContentPlaceHolderID="ScriptsPlaceHolder" runat="server">
    
    <script type="text/javascript" src="<%= HtmlHelpers.VersionedUrl("~/Public/Scripts/Settings/DealerSetup.debug.js") %>"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push( ['_setAccount', 'UA-1230037-1'] );
        _gaq.push( ['_trackPageview'] );

        (function () {
            var ga = document.createElement( 'script' ); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ( 'https:' == document.location.protocol ? 'https://ssl' : 'http://www' ) + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName( 'script' )[0]; s.parentNode.insertBefore( ga, s );
        } )();
    </script>

</asp:Content>
