﻿body
{
	font-size: 80%;
    margin:0;
    padding:0;
    margin-top:10px;
}

.ClearFix
{
	clear: both;
}

.Wrapper 
{
	width: 900px; border: 1px solid black;
}

.Navigation
{
	margin-left: 5%; margin-right: 5%; margin-top: 5px;
}

.Navigation .DealerName 
{
	float: left; margin-top: 5px;
}

.Navigation .Shortcut 
{
	float: right; margin-top: 5px;
}

.DealerName 
{
	float: left;
}

.HomeLink 
{
	float: right;
}

.Content 
{
	clear: both;
	margin-bottom:10px;
}

.Content fieldset 
{
	width: 90%; margin-left: 5%; margin-top: 5px; padding-bottom: 10px; line-height:1.4em;
}

.IPAddressByte
{
	width: 2em;
}

.Content fieldset p,
.Content fieldset dl
{
	margin-left: 15px;
}

.Content fieldset p label
{
	clear: left; float: left; width: 130px;
}

.Content .BooleanRadioButtonList label
{
	clear: both; float: none; width: auto;
}

.Content fieldset .ColumnOne
{
	width: 400px; float: left;
}

.Content fieldset .ColumnTwo
{
	float: left;
}

.Content .AreaCode,
.Content .ExchangeCode
{
	width: 2em;
}

.Content .StationCode
{
	width: 3em;
}

.Content .ContactInformation
{
	float: right;
	width: 40%;
	margin-right: 10%;
}

.Content .ContactInformation fieldset
{
	width: 100%;
}

.Content .ConnectionLimit
{
	width: 2em;
}

/* tabs */

.ui-tab-container {
    margin-left: 15px;
}
.ui-tab-container ul {
    list-style-type: none;
}
.ui-tab-container li {
    display: inline;
    border:1px solid #cccccc;
}
.ui-tabs .ui-tab input {
    border: none;
    background-color: transparent;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    padding-bottom: 1px;
}
.ui-tab-content {
    border:1px solid #cccccc;
    padding: 0;
}
.ui-tabs { 
    margin-left: 0;
}
.ui-tabs .ui-tab-active input { 
    font-weight: bold; 
}

p
{
    line-height:70%;
}