.report-border
{
	background-color: 023459;
	border: 1px solid #01619D;
}
.report-interior
{
	background-color: 023459;
	padding-left: 2px;
	padding-right: 2px;
}
.report-heading
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 7pt;
	font-weight: bold;
	color: b3b5a8;
	padding-bottom: 6px;
	vertical-align: bottom;
	text-align: right;
}
.report-title
{
	font-family: Haettenschweiler, Arial, Sans-Serif;
	font-size: 14pt;
	font-weight: normal;
	color: ffb55a;
}
.report-lineitem
{
	font-family: Arial, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	color: fff;
	background-color: 014E86;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}
.report-rank
{
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: bold;
}
.report-highlight
{
	color: ffb55a;
}


.report-rowBorderFirst
{
	background-color: #01619D;
}
.report-rowBorder
{
	background-color: #023459;
	border-bottom: 1px solid #01619D;
}
.report-footer
{
	font-family: Arial, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	color: fff;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}