.largeTitle {
    padding-right:2px;
    padding-left:4px;
    font-weight:bold;
    font-size:18px;
    padding-bottom:2px;
    color:#000;
    padding-top:2px;
    font-family:Arial,Helvetica,Sans-serif;
}
.whtBgBlackBorderNoTop {
    background-color: #fff;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
}
.rankingNumber {
    font-weight:bold;
    font-size:18px;
    color:#000;
    font-family:Arial,Helvetica,San-Serif;
}
.rankingNumberTIR {
    font-weight:bold;
    font-size:18px;
    color:#000;
    font-family:Arial,Helvetica,San-Serif;
    padding-top:6px;
    padding-right:10px;
    padding-bottom:6px;
    padding-left:10px;
}
.scroll {
	width:100%;
	height:400px;
	overflow:auto;
	scrollbar-arrow-color:#014E86;
	scrollbar-face-color:#B2B6A8;
	scrollbar-highlight-color:#B2B6A8;
}
.pageVehicleName {
	font-family: Bookman Old Style,Arial,Helvetica,San-Serif;
    font-size:16pt;
    font-weight:bold;
    padding-left:26px;
	color:#2F302B;
}
.pageSectionName {
	font-family: Bookman Old Style,Arial,Helvetica,San-Serif;
    font-size:14pt;
    font-weight:bold;
    padding-left:13px;
	color:#2F302B;
}
.tableTitleLeftHref {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:7pt;
    color:#036;
    padding:2px;
    vertical-align:bottom;
    text-align:left;
    cursor:hand;
	text-decoration:none;
}
.tableTitleRightHref {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:7pt;
    color:#036;
    padding:2px;
    vertical-align:bottom;
    cursor:hand;
	text-decoration:none;
}
.tableTitleLeft {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:7pt;
    color:#000;
    vertical-align:bottom;
    padding:2px;
    text-align:left;
}
