<fieldset style="float: left; margin-left: 1em;">
    <legend>Advertisement</legend>
    <%= form_remote_tag :url => { :controller => 'planning_category_table', :action => 'update_business_unit_planning_category' }, :html => { :name => 'business_unit_planning_category_advertisement_form' } %>
    <div class="c">
        <div class="l">Advertise?</div>
        <div class="i">
            <%= radio_button "business_unit_planning_category[]", "is_advertisement_candidate", true, { :id => "is_advertisement_candidate_t" } %><label for="is_advertisement_candidate_t">Yes</label>
            <%= radio_button "business_unit_planning_category[]", "is_advertisement_candidate", false, { :id => "is_advertisement_candidate_f" } %><label for="is_advertisement_candidate_f">No</label>
        </div>
    </div>
    <div class="c">
        <div class="l"><label for="advertisement_candidate_from_day">From Day</label></div>
        <div class="i"><%= text_field "business_unit_planning_category[]", "advertisement_candidate_from_day", { :id => "advertisement_candidate_from_day", :size => 2, :maxlength => 2 } %><%= link_to_function(image_tag("btn_submit_sm.gif", { :style => "margin-left: 10px; padding-top: 5px;", :border => "0" }), "document.business_unit_planning_category_advertisement_form.onsubmit();") %></div>
    </div>
    <%= end_form_tag %>
</fieldset>
<fieldset style="float: left; margin-left: 1em;">
    <legend>Wholesale</legend>
    <%= form_remote_tag :url => { :controller => 'planning_category_table', :action => 'update_business_unit_planning_category' }, :html => { :name => 'business_unit_planning_category_wholesale_form' } %>
    <div class="c">
        <div class="l">Wholesale?</div>
        <div class="i">
            <%= radio_button "business_unit_planning_category[]", "is_wholesale_candidate", true, { :id => "is_wholesale_candidate_t" } %><label for="is_wholesale_candidate_t">Yes</label>
            <%= radio_button "business_unit_planning_category[]", "is_wholesale_candidate", false, { :id => "is_wholesale_candidate_f" } %><label for="is_wholesale_candidate_f">No</label>
        </div>
    </div>
    <div class="c">
        <div class="l"><label for="wholesale_candidate_from_day">From Day</label></div>
        <div class="i"><%= text_field "business_unit_planning_category[]", "wholesale_candidate_from_day", { :id => "wholesale_candidate_from_day", :size => 2, :maxlength => 2 } %><%= link_to_function(image_tag("btn_submit_sm.gif", { :style => "margin-left: 10px; padding-top: 5px;", :border => "0" }), "document.business_unit_planning_category_wholesale_form.onsubmit();") %></div>
    </div>
    <%= end_form_tag %>
</fieldset>
<div style="clear: both;"></div>