<div id="finished">
    <p>Your planning category configuration has been saved.</p>
    <p>You can now start planning your vehicles.</p>
    <p>Click <%= link_to_remote "here", :url => { :controller => 'planning', :action => 'index' }%> to continue.</p>
</div>