<% cols = planning_category_table.planning_category_table_cols.length %>
<%= form_remote_tag :url => { :action => "save_table_columns" } %>
<%= hidden_field "planning_category_table", "id" %>
<table border="1">
    <thead>
        <tr>
            <th colspan="<%= cols+1 %>">
                <%= planning_category_table.planning_category.planning_category_light.name %>
                <%= planning_category_table.planning_category.name %>
            </th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th colspan="<%= cols %>">Day &nbsp; <button type="button" name="submit" value="submit" onclick="this.form.onsubmit()">done</button></th>
        </tr>
        <tr>
            <th>Planning Action</th>
            <% planning_category_table.planning_category_table_cols.each do |@planning_category_table_col| -%>
            <th class="age"><%= text_field("planning_category_table_col[]", "age", :size => '2', :maxlength => 2, :class => 'age') %></th>
            <% end -%>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="<%= cols+1 %>" align="center">You can now change the planning days.</td>
        </tr>
        <tr>
            <td colspan="<%= cols+1 %>" align="center">To continue setting up the planning actions please click 'finished'.</td>
        </tr>
    </tfoot>
    <tbody>
        <% planning_category_table.planning_category_table_rows.each do |r| -%>
        <tr>
            <td><%= r.planning_action.name %></td>
            <% r.planning_category_table_cells.each do |c| -%>
            <td id="cell_<%= c.id %>" class="<%= (c.active ? 'on' : 'off') %>">&nbsp;</td>
            <% end -%>
        </tr>
        <% end %>
    </tbody>
</table>
<%= end_form_tag %>