<div id="planning_action_defaults_manager">
    <%= render :partial => 'planning_category_table_cell', :object => planning_category_table_cell %>
    <div id="CampaignManagement" style="display: none;"></div>
    <div id="ThirdPartyManagement" style="display: none;"></div>
    <div id="PlanningActManagement" style="display: none;"></div>
    <div id="Management" style="display: none;"></div>
</div>