<%  cols = 0
    planning_category_table.planning_category_table_cols.each do |c|
        cols += 1 if (planning_action_type_id == 1 && c.age <  business_unit_planning_category.wholesale_candidate_from_day)
        cols += 1 if (planning_action_type_id == 2 && c.age >= business_unit_planning_category.wholesale_candidate_from_day)
    end %>
<table border="1">
    <thead>
        <tr>
            <th><%= planning_action_type_id == 1 ? "Retail" : "Wholesale" %></th>
            <th colspan="<%= cols %>">Day</th>
        </tr>
        <tr>
            <th>Planning Action</th>
            <% planning_category_table.planning_category_table_cols.each do |c| -%>
            <% next if (planning_action_type_id == 1 && c.age >= business_unit_planning_category.wholesale_candidate_from_day) %>
            <% next if (planning_action_type_id == 2 && c.age <  business_unit_planning_category.wholesale_candidate_from_day) %>
            <th class="table_column" id="planning_category_table_col_<%= c.id %>"><%= c.age %></th>
            <% end -%>
        </tr>
    </thead>
    <tbody>
        <% planning_category_table.planning_category_table_rows.each do |r| -%>
        <% next if r.planning_action.planning_action_type_id != planning_action_type_id %>
        <tr>
            <td><%= r.planning_action.name %></td>
            <% r.planning_category_table_cells.each do |c| -%>
            <% col = c.planning_category_table_col %>
            <% next if (r.planning_action.planning_action_type_id == 1 && col.age >= business_unit_planning_category.wholesale_candidate_from_day) %>
            <% next if (r.planning_action.planning_action_type_id == 2 && col.age <  business_unit_planning_category.wholesale_candidate_from_day) %>
            <td id="cell_<%= c.id %>" class="<%= (c.active ? 'on' : 'off') %> col_<%= col.id %>" onclick="<%= remote_function(:url => { :action => :select_table_cell, :planning_category_table_cell_id => c.id }) %>">&nbsp;</td>
            <% end -%>
        </tr>
        <% end %>
    </tbody>
</table>
