<div id="planning_category_table_cell" class="management_float">
    <div class="header">
        <div class="float">[<%= link_to_remote "Disable", :url => { :action => 'deselect_table_cell', :planning_category_table_cell_id => planning_category_table_cell.id } %>]</div>
        <div class="line"><%= planning_category_table_cell.planning_category_table_row.planning_action.name %> Day <%= planning_category_table_cell.planning_category_table_col.age %></div>
       
        <div class="end-of-line"></div>
    </div>
    <div class="body">
        <div class="float_left">Current Default: </div>
        <% planning_action_default = planning_category_table_cell.planning_action_default %>
        <% if planning_action_default.empty_value %>
            <p>No Default Specified</p>
        <% else %>
            <% if planning_action_default.planning_action_id  == 1 %>
                <% reprice = planning_action_default.planning_action_default_reprices.first %>
                <p><%= reprice.amount %> <%= reprice.planning_action_default_reprice_type.name %></p>
            <% elsif planning_action_default.planning_action_id  == 2 %>
                <p><%= planning_action_default.planning_action_default_small_print_advertisements.collect{|p| [take_name(p.campaign.third_party),take_name(p.campaign),interval_as_text(p.campaign.run_date_interval)].join(" ")}.join(', ') %></p>
            <% elsif [3,8].include?(planning_action_default.planning_action_id) %>
                <p><%= planning_action_default.planning_action_default_internet_auctions.collect{|p| take_name(p.third_party)}.join(', ') %></p>
            <% elsif planning_action_default.planning_action_id  == 4 %>
                <p><%= planning_action_default.planning_action_default_lot_promotions.collect{|p| take_name(p.planning_act_lot_promotion)}.join(', ') %></p>
            <% elsif planning_action_default.planning_action_id  == 5 %>
                <p><%= planning_action_default.planning_action_default_spiffs.collect{|s| ss = PlanningActSPIFF.find(s.planning_act_spiff_id); take_name(ss) + " " + money(ss.amount)} %></p>
            <% elsif [6,10,14].include?(planning_action_default.planning_action_id) %>
                <p><%= planning_action_default.planning_action_default_others.collect{|o| o.planning_act_other.name}.join(', ') %></p>
            <% elsif planning_action_default.planning_action_id  == 7 %>
                <p><%= planning_action_default.planning_action_default_live_auctions.collect{|a| [a.live_auction.name, a.live_auction.city, a.live_auction.state].compact * ', '}.join('; ') %></p>
            <% elsif planning_action_default.planning_action_id  == 9 %>
                <p><%= planning_action_default.planning_action_default_wholesalers.collect{|w| [w.wholesaler.name, w.wholesaler.telephone_number].compact * ', '}.join('; ') %></p>
            <% elsif planning_action_default.planning_action_id  == 11 %>
                <p>Internet Advertisement</p>
            <% elsif planning_action_default.planning_action_id  == 12 %>
                <p>In Group</p>
            <% elsif planning_action_default.planning_action_id  == 15 %>
                <p>Service</p>
            <% end %>
        <% end %>
      
    </div>
    <div class="body options">
        <fieldset>
        <legend>Options</legend>
        <% planning_action = planning_action_default.planning_action %>
        <% if planning_action_default.planning_action_id  == 1 %>
            <%= form_remote_tag :url => { :action => 'planning_action_default_reprice' }, :html => { :name => 'SelectPlanningActionDefaultSmallPrintForm', :id => 'SelectPlanningActionDefaultRepriceForm' }, :condition => "true" %>
                <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                <p>Reprice Type</p>
                <%= collection_select('planning_action_default_reprice', 'planning_action_default_reprice_type_id', PlanningActionDefaultRepriceType.find(:all), 'id', 'name', {}, {}) %>
                <p>Reprice Amount</p>
                <%= text_field 'planning_action_default_reprice', 'amount', { :size => 7, :maxlength => 7 } %>
                <input type="submit" id="submit" value="Submit" />
            <%= end_form_tag %>
        <% elsif planning_action_default.planning_action_id  == 2 %>
            <%= form_remote_tag :url => { :action => 'planning_action_default_small_print_advertisement' }, :html => { :name => 'SelectPlanningActionDefaultSmallPrintForm', :id => 'SelectPlanningActionDefaultSmallPrintForm' }, :condition => "true" %>
                <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                <%= render :partial=>"campaign/campaigns", :locals=>{:inventory=>nil, :planning_action=>planning_action,:input_type=>'checkbox',:input_object => nil, :input_method => nil,:html_options=>{}} %>
                <%= link_to_remote "Add/Remove Campaigns", { :url => { :controller => 'management/campaign', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('CampaignManagement');" }, { :title => "Open Campaign Manager" } %>
                <input type="submit" id="submit" value="Apply" />
            <%= end_form_tag %>
        <% elsif [3,8].include?(planning_action_default.planning_action_id) %>
               <%= form_remote_tag :url => { :action => 'planning_action_default_internet_auction' }, :html => { :name => 'PlanningActionInternetAuctionsForm', :id => 'PlanningActionInternetAuctionsForm' }, :condition => "true" %>
                 <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                 <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                 <%= render_component :controller => "management/internet_auction", :action => 'list', :params => { :inventory_id => nil, :planning_action_id => planning_action.id, :selections => [], :input_type => 'radio', :input_object => nil, :input_method => nil, :html_options => {}} %>
                 <%= link_to_remote "Add/Remove Internet Auctions", { :url => { :controller => 'management/internet_auction', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" }, { :title => "Open Internet Auctions Manager" } %>
                 <input type="submit" id="submit" value="Apply" />
               <%= end_form_tag %>
        <% elsif planning_action_default.planning_action_id  == 4 %>
            <%= form_remote_tag :url => { :action => 'planning_action_default_lot_promote' }, :html => { :name => 'PlanningActionDefaultLotPromoteForm', :id => 'PlanningActionDefaultLotPromoteForm' }, :condition => "true" %>
                <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                <%= render_component :controller => "management/planning_act_lot_promotion", :action => "list", :params => { :inventory_id => nil, :planning_action_id => planning_action.id, :selections => [], :input_type => 'checkbox', :input_object => nil, :input_method => nil, :html_options => {} } %>
                <%= link_to_remote "Add/Remove Lot Promotion", { :url => { :controller => 'management/planning_act_lot_promotion', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('PlanningActManagement');" }, { :title => "Open Lot Promotion Manager" } %>
                <input type="submit" id="submit" value="Apply" />
            <%= end_form_tag %>
        <% elsif planning_action_default.planning_action_id  == 5 %>
            <!--TODO:Validate form-->
            <%= form_remote_tag :url => { :action => 'planning_action_default_spiff' }, :html => { :name => 'PlanningActionDefaultSpiffForm', :id => 'PlanningActionDefaultSpiffForm' }, :condition => "true" %>
                <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                <%= render_component :controller => "management/planning_act_spiff", :action => "list", :params => { :inventory_id => nil, :planning_action_id => planning_action.id, :selections => [], :input_type => 'radio', :input_object => nil, :input_method => nil, :html_options => {} } %>
                <%= link_to_remote "Add/Remove SPIFF...", { :url => { :controller => 'management/planning_act_spiff', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('PlanningActManagement');" }, { :title => "Open SPIFF Manager" } %>
                <input type="submit" id="submit" value="Apply" />
            <%= end_form_tag %>
        <% elsif [6,10,14].include?(planning_action_default.planning_action_id) %>
             <%= form_remote_tag :url => { :action => 'planning_action_default_other' }, :html => { :name => 'PlanningActionDefaultOtherForm', :id => 'PlanningActionDefaultOtherForm' }, :condition => "true" %>
                 <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                 <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                <%= render_component :controller => "management/planning_act_other", :action => "list", :params => { :inventory_id => nil, :planning_action_id => planning_action.id } %>
                <%= link_to_remote "Add/Remove Other", { :url => { :controller => 'management/planning_act_other', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('PlanningActManagement');" }, { :title => "Open Other Manager" } %>
               <input type="submit" id="submit" value="Apply" />
                <%= end_form_tag %>
            
        <% elsif planning_action_default.planning_action_id  == 7 %>
            <%= form_remote_tag :url => { :action => 'planning_action_default_live_auction' }, :html => { :name => 'PlanningActionLiveAuctionsForm', :id => 'PlanningActionLiveAuctionsForm' }, :condition => "true" %>
                <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                <%= render_component :controller => "management/live_auction", :action => 'list', :params => { :inventory_id => nil, :planning_action_id => planning_action.id, :selections => [], :input_type => 'radio', :input_object => nil, :input_method => nil, :html_options => {}} %>
                <%= link_to_remote "Add/Remove Live Auction", { :url => { :controller => 'management/live_auction', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" }, { :title => "Open Live Auction Manager" } %>
                <input type="submit" id="submit" value="Apply" />
            <%= end_form_tag %>
        <% elsif planning_action_default.planning_action_id  == 9 %>
            <%= form_remote_tag :url => { :action => 'planning_action_default_wholesaler' }, :html => { :name => 'PlanningActionWholesalersForm', :id => 'PlanningActionWholesalersForm' }, :condition => "true" %>
                 <%= hidden_field_tag 'planning_category_table_cell_id', planning_category_table_cell.id, { :id => 'planning_category_table_cell_id' } %>
                 <%= hidden_field_tag 'planning_action_id', planning_action.id, { :id => 'planning_category_table_cell_id' } %>
                 <%= render_component :controller => "management/wholesaler", :action => 'list', :params => { :inventory_id => nil, :planning_action_id => planning_action.id } %>
                 <%= link_to_remote "Add/Remove Wholesalers", { :url => { :controller => 'management/wholesaler', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => nil, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" }, { :title => "Open Wholesale Manager" } %>
                 <input type="submit" id="submit" value="Apply" />
                <%= end_form_tag %>
            <% elsif planning_action_default.planning_action_id  == 11 %>
             Internet AD
            <% elsif planning_action_default.planning_action_id  == 12 %>
                <p>In Group</p>
            <% elsif planning_action_default.planning_action_id  == 15 %>
                <p>Service</p>
            <% end %>
             </fieldset>
    </div>
   
</div>