<div id="table_menu">
    <ul>
        <li>
            <span><span style="text-decoration: underline;">T</span>able</span>
            <ul>
                <li class="table_command"><%= link_to_function("Insert column to the Left", "$$('th.table_column').each(function(col) { new Effect.Highlight(col); col.onclick = function(event) { col_id = $A(this.id.split('_')).last(); new Effect.Highlight(this); $$('.col_' + col_id).each(function(cell) { new Effect.Highlight(cell); }); new Ajax.Request('#{url_for(:action => 'insert_column_to_the_left')}?business_unit_planning_category_id=#{business_unit_planning_category.id}&planning_category_table_id=#{planning_category_table.id}&planning_category_table_col_id=' + col_id, {asynchronous:true, evalScripts:true, onComplete:function(request, object) {$$('th.table_column').each(function(col) {col.onclick=null;})}}) }})") %></li>
                <li class="table_command"><%= link_to_function("Insert column to the Right", "$$('th.table_column').each(function(col) { new Effect.Highlight(col); col.onclick = function(event) { col_id = $A(this.id.split('_')).last(); new Effect.Highlight(this); $$('.col_' + col_id).each(function(cell) { new Effect.Highlight(cell); }); new Ajax.Request('#{url_for(:action => 'insert_column_to_the_right')}?business_unit_planning_category_id=#{business_unit_planning_category.id}&planning_category_table_id=#{planning_category_table.id}&planning_category_table_col_id=' + col_id, {asynchronous:true, evalScripts:true, onComplete:function(request, object) {$$('th.table_column').each(function(col) {col.onclick=null;})}}) }})") %></li>
                <li class="table_command"><%= link_to_function("Delete column", "$$('th.table_column').each(function(col) { new Effect.Highlight(col); col.onclick = function(event) { if (confirm('Are you sure?')) { col_id = $A(this.id.split('_')).last(); new Effect.Highlight(this); $$('.col_' + col_id).each(function(cell) { new Effect.Highlight(cell); }); new Ajax.Request('#{url_for(:action => 'delete_column')}?business_unit_planning_category_id=#{business_unit_planning_category.id}&planning_category_table_id=#{planning_category_table.id}&planning_category_table_col_id=' + col_id, {asynchronous:true, evalScripts:true, onComplete:function(request, object) {$$('th.table_column').each(function(col) {col.onclick=null;})}}) }}})") %></li>
                <li class="table_command"><%= link_to_function("Edit column", "$$('th.table_column').each(function(col) { new Effect.Highlight(col); col.onclick = function(event) { col_id = $A(this.id.split('_')).last(); new Effect.Highlight(this); $$('.col_' + col_id).each(function(cell) { new Effect.Highlight(cell); }); new Ajax.Request('#{url_for(:action => 'edit_column')}?business_unit_planning_category_id=#{business_unit_planning_category.id}&planning_category_table_id=#{planning_category_table.id}&planning_category_table_col_id=' + col_id, {asynchronous:true, evalScripts:true, onComplete:function(request, object) {$$('th.table_column').each(function(col) {col.onclick=null;})}}) }})") %></li>
            </ul>
        </li>
    </ul>
</div>
<div style="clear: both;"></div>
<div id="planning_category_table_retail">
    <%= render :partial => 'planning_category_table', :object => planning_category_table, :locals => { :planning_action_type_id => 1, :business_unit_planning_category => business_unit_planning_category } %>
</div>
<div id="planning_category_table_wholesale">
    <%= render :partial => 'planning_category_table', :object => planning_category_table, :locals => { :planning_action_type_id => 2, :business_unit_planning_category => business_unit_planning_category } %>
</div>