<% if @business_unit_planning_category.active == true && (@business_unit_planning_category.is_an_alias.nil? || @business_unit_planning_category.is_an_alias == false) %>
<div id="planning_category_table_container">
    <div id="planning_category_table_lhs">
        <div id="planning_category_graph">
            <%= render :partial => 'inventory_sales_graph/object', :locals => {
    		           :width                => 300,
    		           :height               => 200,
    		           :object_id            => 'graph',
    		           :planning_category_id => @business_unit_planning_category.planning_category_id,
    		           :alt_configuration    => 1
                }
    		%>
        </div>
        <div id="planning_action_defaults">
            <!-- will populate on clicking the table -->
        </div>
    </div>
    <div id="planning_category_table_rhs">
        <div id="business_unit_planning_category">
            <%= render :partial => 'business_unit_planning_category', :object => @business_unit_planning_category, :locals => { :planning_category_table => @planning_category_table } %>
        </div>
        <div id="planning_category_tables">
            <%= render :partial => 'planning_category_tables', :object => nil, :locals => { :planning_category_table => @planning_category_table, :business_unit_planning_category => @business_unit_planning_category } %>
        </div>
    </div>
</div>
<% else %>
<div id="planning_category_table_container">
    <p>This planning category is disabled or aliased. Click <%= link_to "here", { :controller => 'planning_category_configuration', :action => 'planning_category', :planning_category_id => @business_unit_planning_category.planning_category_id } %> to enable it.</p>
</div>
<% end %>