
#sticker * {
	font-family: Times, serif;
	font-weight: bold;
	text-align: center;
	border: none;
}

/* COMMON rules */
#sticker .vehicle,
#sticker .dealer {
	font-size: 180%;
}
#sticker .legal {
	font-size: 70%;
	text-align: center;
}
	.equipment strong, 
	.equipment br {
		display: none;
	}
	#sticker .equipment .col {
		float: left;
		text-align: left;
		width: 30%;
		list-style: none outside;
	}
	.equipment .f {
			float: left;
		}
	.equipment .l {
		
	}
		#sticker .equipment .col li {
			display: block;
			text-align: left;
		}
	#sticker .price,
	#sticker .book {
		display: none;
	}

/* SCREEN 
		measurements */
@media screen {
	#sticker .equipment {
		font-size: 120%;
	}
	#sticker .dealer {
		margin-top: -252px; /* ~3.5in */
		width: 50%;
		margin-left: -25%;
	}	
	#sticker .vehicle {
		margin-top: -180px; /* ~2.5in */
		width: 75%;
		margin-left: -38%;
	}
	#sticker .details {
		min-width: 0;
		width: 50%;
		margin-left: -25%;
		margin-top: -144px; /* ~1.75in */
	}
	#sticker .equipment {
		width: 75%;
		margin-left: -30%;
	}	
	#sticker .legal {
		margin-top: 270px;
		width: 75%;
		margin-left: -38%;
	}

}

/* PRINT 
		measurements */
@media print {
	
	#sticker .details,
	#sticker .equipment {
		font-size: 115%;
	}
	
	#sticker .dealer {
		width: 4.5in;
		margin-top: -3.625in;
		margin-left: -2.25in;
	}	
	#sticker .vehicle {
		margin-top: -2.5in;
		width: 6in;
		margin-left: -3in;		
	}
	
	#sticker .details {
		width: 3in;
		margin-left: -1.5in;
		margin-top: -2in;
	}

	#sticker .equipment {
		width: 6in;
		margin-left: -2.35in;
		margin-top: -0.125in;
	}	
	#sticker .legal {
		font-weight: normal;
		margin-top: 3.75in;
		width: 5in;
		margin-left: -2.5in;
	}

}

