﻿
#Container
{
	margin:0 auto;
	width:990px;
}

#Header
{
	margin-top:8px;
}

#Header ul
{
	margin-left:5px;
}

#Header ul li
{
	border-right:solid #ccc 1px;
	display:inline;
	font-family:"Verdana",sans-serif;
    font-size:9px;
	list-style-type:none;
    padding:0 5px;
	text-transform:uppercase;
}

#Header ul li.last
{
	border-right:0;
}

#Header ul li a
{
	text-decoration:none;
}

#Content
{
    background: url("Images/topshadow.gif") repeat-x scroll 0 0 #eee;
    border-bottom:1px solid #666;
	color:#263047;
	margin-top:2px;
    overflow: hidden;
}

#InTransitInventoryFormView
{
	width:100%;
}

#InTransitInventoryFormView td
{
	padding:1em;
}

#InTransitInventoryFormView h2
{
	color:#3D4868;
	font-size:1.5em;
	margin:0 0 1em 0.75em;
}

#InTransitInventoryFormView fieldset
{
	margin-left:128px;
	padding:0 0 1em 0;
}

#InTransitInventoryFormView fieldset.buttons
{
	padding:2em 0 1em 120px;
	margin-left:128px;
}

#InTransitInventoryFormView fieldset div.fieldLabelPair
{
	clear:both;
	display:block;
	height:21px;
	padding-bottom:1em;
}

#InTransitInventoryFormView fieldset div.fieldLabelPair label
{
	display:block;
	float:left;
	position:relative;
	top:2px;
	width:120px;
}

#InTransitInventoryFormView fieldset div.fieldLabelPair input
{
	float:left;
	width:250px;
}

#InTransitInventoryFormView #InventoryItemFieldsDiv
{
	float:left;
}

#InTransitInventoryFormView #DealTypeRadioButtonsDiv
{
	border:solid #999 1px;
	float:left;
	margin-left:2em;
	padding:0.5em 5em 1em 1em;
}

#InTransitInventoryFormView p.disclaimer
{
	clear:left;
	display:inline;
	margin-left:120px;
	position:absolute;
}

#Footer {
    clear:both;
    height:55px;
    margin-top:0;
    padding:0.5em;
}

#bottomstatus
{
    float:left;
}

#bottomstatus .navlist li 
{
    border-right:1px solid #ccc;
    color:#9999B2;
    display:inline;
    font-size:0.9em;
    list-style-type:none;
    padding:0 1em 0 0.5em;
    text-transform:none;
}

#logo {
    float:right;
}

.ui-dialog-content ul {
	margin:0 0 0 1.5em;
}