﻿html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    border:0;
    margin:0;
    padding:0
}

ul, ol, dl
{
	position: relative; 
}


html
{
    background:#fff;
    overflow-y:scroll;
}

body
{
    color:#5b5f62;
    font-size:9pt;
    font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif !important;
}

a
{
	color:#355FAB;
	outline:0;
}

a:active
{
	color:#C00;
}

h1, h2, h3, h4
{
	color:#485774;
}

.clearfix:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after
{
     clear:both;
     content:" ";
     display:block;
     font-size:0;
     height:0;
     visibility:hidden;
}
.clearfix
{
	display:inline-block;
}
/* start commented backslash hack \*/
* html .clearfix
{ height:1%; }
.clearfix
{ display:block; }
/* close commented backslash hack */

/* jQuery dialog */

.ui-widget-overlay {
    background: url("") no-repeat scroll 0 0 #000000 !important;
    height: 100%;
    left: 0;
    opacity: 0.8 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.ui-dialog {
	-moz-border-radius:8px;
    background:#F8F8F8;
    border:2px solid #333333;
    border-radius:8px;
    height:360px !important;
    position:absolute;
    text-align:left;
    width:640px !important;
}

.ui-dialog-titlebar {
	-moz-border-radius:8px 8px 0 0;
	background:#ccc;
	border-radius:8px 8px 0 0;
	color:#333;
	font-size:1.3em;
	font-weight:bold;
	padding:0.3em 1em;
}

.ui-dialog-content {
	margin:1em;
}

.ui-dialog-buttonpane ul {
	bottom:0;
	list-style-type:none;
	margin:1em;
	position:absolute;
	right:0;
}

.ui-dialog-buttonpane ul button {
	font-size:1.3em;
}
