.collapsible {
    border: 1px solid #919dab;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #fff, #e2e2e2);
    background-image:      -o-linear-gradient(top, #fff, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #fff, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2)";
    box-shadow: inset 0 0 0 1px #fff;
    font-size: 14px;
    margin-bottom: 1em;
}
.collapsible .summary h3 .arrow {
    display: block;
    margin: 0;
    content: " ";
    top: 5px;
    left: -12px;
    position: absolute;
    width: 4px;
    height: 0px;
    border-top: 4px solid transparent;
    border-left: 4px solid #4e5475;
    border-bottom: 4px solid transparent;
}
.collapsible.open .summary h3 .arrow {
    margin-top: 2px;
    width: 0px;
    height: 4px;
    border-top: 4px solid #4e5475;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.collapsible .button {
    font-size: 12px;
}
.summary {
    color: #0d004c;
    position: relative;
    min-height: 28px;
}
.summary dt:before {
    content: " | ";
    position: relative;
    top: -2px;
}
.summary dt:first-child:before {
    content: ""
}
.summary dd {
    font-weight: bold;
}
.summary p, .summary dl {
    text-align: right;
    padding-right: 1em;
    margin: 0;
    line-height: 28px;
}
.summary dl {
    margin: 0;
}
.summary dt, .summary dd {
    display: inline;
    margin: 0;
    float: none;
}
.summary h3 {
    position: absolute;
    left: 1.5em;
    top: 0.3em;
    margin: 0;
    font-weight: bold;
    color: #4E5475;
    cursor: pointer;
    font-size: 14px;
}
.lt-ie8 .summary h3 {
    top: 0;
}

.section_content {
    text-align: left;
    padding: 10px;
}

.databox {
    border: 1px solid grey;
    background-color: #fff;
    padding: .5em;
    margin: 10px 0;
}
.databox h4 {
    margin: 0;
}
.databox ul {
    margin: 10px;
}
.databox li {
    margin: 0 0 5px 10px;
    list-style: disc;
}

.collapsible table {
    table-layout: fixed;
    border: 1px solid grey;
}
.collapsible table thead th:first-child,
.collapsible table thead td:first-child {
    border-left: 1px solid white;
}
.collapsible table thead th,
.collapsible table thead td {
    padding: .5em 1em;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid grey;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
    text-align: center;
}
.collapsible table tbody td:first-child {
    border-left: 1px solid #f2f2f2;
}
.collapsible table tbody td {
    background-color: #fff;
    padding: .5em;
    border-left: none;
    border: 1px solid #f2f2f2;
}

#storePerf table td {
    text-align: center;
}



/* NAAA */
body.book_box {
    margin: 0;
}
.book_box .book_values .logo {
    float: left;
    background-image: url(../images/logo_naaa_with_book.png);
    width: 58px;
    height: 31px;
    display: inline-block;
    overflow: hidden;
    text-indent: -8000em;
    text-align: left;
}
.book_box .book_values {
    text-align: right;
}
.naaa .book_values {
    border: 1px solid gray;
    background-color: #D0D6EA;
}

.book_box table {
    width: 100%;
}
.book_box table {
    border-collapse: collapse;
    vertical-align: bottom;
    table-layout: fixed;
}
.book_box table thead th {
    font-weight: normal;
    font-size: 11px;
    text-align: center;
}
.book_box table tbody td {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.book_box p, .book_box a, .book_box button {
    font-size: 11px;
}
.book_box p {
    margin: 5px 0;
}
.book_box .note {
    color: #4E5475;
}
.book_values .selection {
    float: right;
    text-align: left;
    margin: 0 8px;
    line-height: 31px;
}




.naaa table thead th {
    color: #0a2845;
    border-right: 2px solid #d0d6ea;
    border-left: 2px solid #d0d6ea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaedf5), to(#dadeea));
    background-image: -webkit-linear-gradient(top, #eaedf5, #dadeea);
    background-image:    -moz-linear-gradient(top, #eaedf5, #dadeea);
    background-image:      -o-linear-gradient(top, #eaedf5, #dadeea);
    background-image:     -ms-linear-gradient(top, #eaedf5, #dadeea);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaedf5, endColorstr=#dadeea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaedf5, endColorstr=#dadeea)";
}
.naaa table tbody td {
    color: #000041;
    border-right: 2px solid #d0d6ea;
    border-left: 2px solid #d0d6ea;
    border-bottom: 1px solid #888888;
    padding: .3em 0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadeea), to(#c0c7d7));
    background-image: -webkit-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:    -moz-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:      -o-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:     -ms-linear-gradient(top, #dadeea, #c0c7d7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadeea, endColorstr=#c0c7d7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadeea, endColorstr=#c0c7d7)";
}

#storePerf .section_head p {
    float: left;
    margin-top: 0;
}
#storePerf .section_head .button {
    float: right;
}

.summary .light {
    margin-top: 2px;
    background-image: url(../images/icon_lights_sm.png);
    width: 14px;
    height: 14px;
}
.summary .green { background-position: 0 -14px; }
.summary .yellow { background-position: 0 -32px; }
.summary .red { background-position: 0 -51px; }

.tableheading {
    margin: 10px 0 5px;
}
.tableheading .vehicle {
    font-size: 12px;
    float: left;
    display: inline-block;
    line-height: 23px;
    margin-left: 2px;
}
.tableheading .button {
    float: right;
    margin-left: 5px;
}