.vehicle_header { margin: 10px 0; }
.vehicle_header .rowinfo {
	float: left;
}
.vehicle_header .vehicle_info {
	margin-left: 20px;
	margin-top: 3px;
}
.vehicle_header .vehicle_info li {
	margin-left: 8px;
}
.vehicle_header .light {
	margin-top: 1px;
}
.vehicle_header .rowinforight {
	margin-right: 2px;
	margin-top: 2px;
}
.vehicle_header .rowinforight li .button {
	margin-left: 5px;
}
.vehicle_name {
	font-size: 16px;
	font-weight: bold;
}
#appraisaldetails ul li{
	margin-left: 12px;
	font-size: 10px;
}
#appraisaldetails ul li:first-child { margin-left: 5px; }
#appraisaldetails ul li select{
	font-size: 11px;
}
#saveapprbutton{
	font-size: 12px;
}
#notifyappr {
	background-color: #DAE2F2;
    border: 1px solid #C8D1E1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 5px;
    cursor: none;
}
.connectnewwindow {
	margin-left: 3px;
}
.connecttolink {
	cursor: pointer;
	margin-left: 5px;
	margin-right: 10px;
}
.connecttolink ul {
	margin-left: 0;
}
#takeintoinventory {
	float: right;
	margin-right: 8px;
	margin-top: 3px;
	margin-left: 0px;
}
#custofferrow li {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
}
#custofferrow li input{
	width: 135px;
}
.printbooks {
	margin-left: 10px;
	margin-right: 20px;
}

#bookspanel, #tripletabpanel, #appraisaldetails, #reconnotesdialog, #asksaveapprdialog {
	margin-bottom: 10px;
}

#pingpanel {
	margin-bottom: 5px;
}

.mysterylinks {
	margin-bottom: 5px;
}

.mysterylinks ul li {
	margin-left: 5px;
	margin-right: 20px;
}

/* Carfax and Autocheck tabs 

*/
#vhrrightframe{
	text-align: left;
}

/* tabs */
.autocheckscore {
	background: #5097de;
	background: -moz-linear-gradient(top, #5097de 0%, #376ea6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5097de), color-stop(100%,#376ea6));
	background: -webkit-linear-gradient(top, #5097de 0%,#376ea6 100%);
	background: -o-linear-gradient(top, #5097de 0%,#376ea6 100%);
	background: -ms-linear-gradient(top, #5097de 0%,#376ea6 100%);
	background: linear-gradient(to bottom, #5097de 0%,#376ea6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5097de', endColorstr='#376ea6',GradientType=0 );
	color: #fff;
	padding: 0 2px;
	line-height: 18px;
	vertical-align: middle;
	border: 1px solid #27629c;
}
#vhrimages span {
	display: inline-block;
}
#vhrimages span img {
	vertical-align: middle;
}

/* tab content */
#carfaxReportUpdatePane .white_box {
	border: 1px solid #919DAB;
	background: #f7f7f7;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #f7f7f7 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 );
	float: left;
	width: 449px;
	padding: 10px;
	position: relative;
	-webkit-box-shadow: 1px 1px 0px #b6b6b6;
	box-shadow: 1px 1px 0px #b6b6b6;
}
#carfaxReportUpdatePane #carfax {
	margin-right: 10px;
}

#vhr {
	padding-bottom: 0.618em;
}

#vhr .checklist {
	clear: both;
	padding: 10px 0 0 10px;
}
#vhr .inspection_list {
	display: block;
	list-style: none outside none;
	vertical-align: text-top;
	float: right;
	width: 215px;	
}
#vhr .inspection_list.first {
	float: left;
}
#vhr .inspection_list li {
    background-image: url("../images/vhr/icon_red_x_sm.png");
    background-position: 4% 50%;
    background-repeat: no-repeat;
    background-color: #eeedf2;
    border: 1px solid #d4ccf2;
    padding: 5px 5px 5px 20px;   
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #493F78;
    font-size: 0.8em;
    margin-bottom: 1px;
}
#vhr .inspection_list li.selected {
    background-image: url("../images/vhr/icon_green_check_sm.png");
    background-position: 4% 50%;
    background-repeat: no-repeat;
    background-color: #eeedf2;
    border: 1px solid #d4ccf2;
    padding: 5px 5px 5px 20px;   
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#vhr .inspection_list {
    list-style: none outside none;
}

#autocheckHref {
	line-height: 25px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}
.view_full_report {
	position: absolute;
	top: 45px;
	left: 20px;
}


#carfaxReportUpdatePane table {
    display: table !important;
}

#carfaxReportUpdatePane .horizontal_table {
    border: 1px solid #808080;
    padding: 1px;
    table-layout: fixed;
    -webkit-border-radius: 5px;
    border-radius: 5px;    
    float: right;
	width: 215px;
}

#carfaxReportUpdatePane .horizontal_table th {
    background-color: #eff0f1;
    font-weight: normal;
}
#carfaxReportUpdatePane .horizontal_table th,
#carfaxReportUpdatePane .horizontal_table td {
    font-size: 10px;
    padding: 6px;
    text-align: left;
}
#carfaxReportUpdatePane .horizontal_table tr:nth-child(even) th {
    background-color: #e6eaee;
    border-top: 1px solid #dee5ec;
    border-bottom: 1px solid #dee5ec;
}
#carfaxReportUpdatePane .horizontal_table tr:nth-child(even) td {
    background-color: #f1f6fb;
    border-top: 1px solid #dee5ec;
}
#carfaxReportUpdatePane .horizontal_table td {
    font-weight: bold;
    color: #1d1158;
}
#carfaxReportUpdatePane a:link[target] {
    padding-right: 13px;
    background-image: url("../images/icon_new_window.png");
    background-position: 100% 20%;
    background-repeat: no-repeat;
}
.emailContent {
	width: 400px;
}
.emailContent ul {
	margin-left: 10px;
}
.emailContent ul li {
	float: right;
	margin-bottom: 5px;
}
.emailContent ul li label {
	float: left;
}
.emailContent ul li textarea {
	width: 300px;
}