html {
	overflow-y: scroll;
}
body {
	font-family: Verdana, Arial, sans-serif; 
	font-size: 12px;
	text-align: center;
}
ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.masterpage {
	width: 990px;
    margin: 0 auto;
}
#main {
    background: url("../images/page_background.png") repeat-x scroll 0 0 #E5E5E5;
    border-color: #A9A9A9 #CBCBCB;
    border-style: solid;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0px;
    height: 100%;
}
#main .mainpadded {
	padding: 5px;
}
.light {
    background-image: url("../images/icon_lights_lg.png");
    display: inline-block;
    height: 20px;
    vertical-align: top;
    margin-top: -1px;
    width: 20px;
}
.green_light {
    background-position: 0 -20px;
}
.yellow_light {
    background-position: 0 -46px;
}
.red_light {
    background-position: 0 -73px;
}

.button {
    cursor: pointer;
    border: 1px solid #6a7384;
    border-top-color: #6c7486;
    border-bottom-color: #6a7384;
    border-radius: 3px;
    overflow: hidden;
    color: #59616f;
    box-shadow: 1px 1px 1px 0px #b0b3bb;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: url("../images/buttons/button_sm_gray.png") 0 0 repeat-x;
    height: 16px;
    line-height: 16px;
    padding: 0 10px;
}
.button.small {
    font-size: 11px;
}
.button:hover {
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%,#f4f4f4 100%);
}
.button:active {
    box-shadow: none;
}
.button.loading {
    background: #fff url("../images/loading_16x16.gif") center center no-repeat;
    color: transparent;
    text-shadow: none;
}
/*.tabs .button:active, .tabs .button:selected {
    border: none;
    outline: none;
}
.button.light {
    border-radius: 0.309em;
    background-image: none;
    background-color: #ededed;
    border-color: #919dab;
    text-shadow: none;
    color: #324c77;
    font-weight: normal;
    text-decoration: underline;
    font-size: 0.618em;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 2px 2px #fff;
}
.button.light:hover {
    text-decoration: none;
    background-color: #dedede;
    border-color: #828d99;
}*/
.lightbutton, .darkbutton, .redbutton, .greenbutton {
    background: url("../images/background_gradient_button_dark.png") repeat-x scroll 0 0;
    color: white;
    padding: 2px 8px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    border: 1px solid #5c5c5c;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.lightbutton { background-image: url("../images/background_gradient_button.png"); background-position: 0 -44px; }
.redbutton { background-image: url("../images/background_gradient_button_red.png"); }
.greenbutton { background-image: url("../images/background_gradient_button_green.png"); }

.smlogo {
	display: inline-block;
    background-image: url("../images/logo_sm_firstlook.png");
    background-repeat: no-repeat;
    width: 212px;
    height: 28px;
}
.footer {
	display: inline-block;
	margin: 0px;
    color: #545454;	 
	text-align: left;
}
.fl_copyright {
    font-size: 10px;
    padding-left: 10px;
}
td.user_info {
	text-transform: uppercase;
	text-align: right;
	vertical-align: top;
}
.blackbooklogo {
	background-image: url("../images/logo_black_book_with_book.png");
    height: 31px;
    width: 89px;
}
.nadalogo {
	background-image: url("../images/logo_nada_with_book.png");
    height: 31px;
    width: 89px;
}
.galveslogo {
	background-image: url("../images/logo_galves_with_book.png");
    height: 31px;
    width: 89px;
}
.kbblogowithbook {
	background-image: url("../images/logo_kbb_with_book.png");
    height: 31px;
    width: 89px;
}
.mmrlogowithbook {
    background-image: url("../images/logo_mmr_with_book.gif");
    height: 25px;
    width: 89px;
}
.kbblogo {
	background-image: url("../images/logo_kbb.png");
    height: 28px;
    width: 28px;
}
.mmrlogo {
    background-image: url("../images/logo_mmr_button.png");
    height: 23px;
    width: 23px;
}
.mmrtext {
	font-family: Impact, 'Arial Black';
	font-variant: normal;
	font-weight: normal;
	font-size: 18px;
}
.kbbconsumerlogo {
	background-image: url("../images/logo_kbbConsumerTools.png");
    height: 33px;
    width: 78px;
}
.edmundslogo {
	background-image: url("../images/logo_edmunds.png");
    height: 33px;
    width: 93px;
}
.linklookalike {
	text-decoration: underline;
	color: #3B6D9A;
	cursor: pointer;
}
.panelloading {
	background-image: url("../images/loading.gif");
    height: 32px;
    width: 32px;
}
.rowinfo {
	text-align: left;
    padding: 0;
    margin: 0;
}
.rowinfo li {
    float: left;
}
.rowinforight {
	text-align: left;
    padding: 0;
    margin: 0;
}
.rowinforight li {
    float: right;
}
.bold {
	font-weight: bold;
}
.topspacing {
	margin-top: 3px;
}
#connecttorow {
    margin: 10px 0;
}
.newwindowimage {
	background: url("../images/icon_new_window.png") 0 0 no-repeat;
    height: 10px;
    width: 10px;
}
a.newwindowimage {
    background-position: 100% 0;
    width: auto;
    height: auto;
    padding-right: 12px;
}
#connecttorow a.newwindowimage {
    line-height: 23px;
}
.dialog {
	display: none;
}

.yellowinput {
	background-color: #FBEA9F;
}

/* clearfix for floats -- put on direct parent */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.lt-ie8 .cf {
    zoom: 1;
}
.yellowinput {
	background-color: #FBEA9F;
}
.placeholdertext {
	color: #B0B0B0;
}
#footer { position:absolute;bottom:0; }

#footer { 
	padding:5px; 
	background-color:white;
	position:static;
	font-weight:bold;
	color:#9999b2;
	font-size:10px;
	width:100%
}


#footer .logoFL { float:right; }



#footer .left { float:left; }
#footer-logo{float:right;}
#footer{border-top:0px;}
#footerlinks{clear:both;padding:0;margin:0;height:40px;background:url(../../images/footer/footer_bkgrd.jpg) bottom left repeat-x;text-align:center;}
#footer-nav{padding-top: 10px;}
#footer-nav ul li{display:inline;padding:2px;}
#footer-nav a:link, #footer-nav a:hover, #footer-nav a:active, #footer-nav a:visited{font-size:11px;color:#828282;text-decoration:none;}
#footer-nav a:hover{color:#6A6A6A;text-decoration:underline;}
.bordered-box-inner a, .bordered-box-inner a:link, .bordered-box-inner a:visited, .bordered-box-inner a:active { color: #4c82a9; }
.bordered-box-inner a:hover { color: #2270a9; }


<a href="#" class="redbutton">codecanyon</a>

.redcustbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.redcustbutton:active {
	position:relative;
	top:1px;
}

.redcustbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	padding:1px 10px;
	text-alin:center;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	text-align:center;
}