#FullMenu {
	font-size: 9px;
}
#FullMenu a{
	color: #036;
	text-decoration:none;
}
#FullMenu li{
	color: #036;
	cursor: pointer;
}
#ApplicationMenu {
	vertical-align: top;
	list-style: none;
	margin-left: 5px;
}
#ApplicationMenu li{
	margin-right: 7px;
	float: left;
	position: relative;
}
#ApplicationMenu a{
	display: block;
	margin-bottom: 2px;
}
#ApplicationMenu ul{
	list-style: none;
	float: left;
	position: absolute;
	left: -9999px;
	z-index: 2000;
}
#ApplicationMenu ul li{
	float: none;
}
#ApplicationMenu ul a{
	white-space:nowrap;
}
#ApplicationMenu li:hover ul{
	left: 0px;
	top: 14px;
	text-align: left;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	margin: 0px;
	background: white;
}
#ApplicationMenu li:hover ul li{
	border-bottom: 1px solid #000;
	margin: 0px;
}
#ApplicationMenu li:hover ul li:hover{
	background: rgb(238, 238, 238);
}
#ApplicationMenu li:hover ul a{
	padding: 5px;
	margin: 0px;
}
#MemberMenu {
	float: right;
}
#MemberMenu a {
	margin-right: 5px;
	cursor : pointer;
}
#MemberMenu a:hover {
	text-decoration: underline;
}
.menuborderright {
	border-right: 1px solid #ccc;
	padding-right: 7px;
}
.dropdownimage {
	width: 6px;
	height: 7px;
	border: none;
}