.tabs > ul
{
    list-style: none;
    margin: 0;
    padding:0;
    border-bottom: 1px solid gray;
    height: 33px;
}
.tabs > ul > li 
{
    display: block;
    float: left;
    margin-left: 4px;
}
.tabs > ul > li:first-child { margin-left: 0; }
#tripletabpanel > ul > li { width: 323px; }
#tripletabpanel > ul > li:last-child { width: 324px; }
#vhrtabs > ul > li { width: 487px; }

.tabs > ul > li > a {
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 4px 8px;    
    border: 1px solid gray;
    background: #eee url("../images/background_gradient_tabclosed.png") repeat-x scroll 0 0;
    text-align: left;
    text-decoration: none;
    color: #000;
}
.tabs > ul > li > a > span{
	text-align: right;
    text-decoration: underlined;
    color: #0000FF;
	
}
[readonly]{
    cursor: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs .selected > a, .tabs > ul > li > a:hover { background: url("../images/background_gradient_tabopen.png") repeat-x scroll 0 0; }
.tabs .selected > a { 
    border-bottom: none; 
    padding-bottom: 5px;
    outline: none;
}
.tabs > ul > li > a img { border: none; }

.tabs > ul > li .arrow {
    background-image: url("../images/tabarrowclosed.png");
    display: inline-block;
    height: 8px;
    width: 4px;
    margin: 0 7px 0 4px;
    margin-top: -12px;
}
.tabs .selected .arrow {
    background-image: url("../images/tabarrowopen.png");
    height: 4px;
    width: 8px;
    margin: 0 5px 0 2px;
}

.tabcontents .tab {
    display: none;
    background: #fff;
    padding: 10px;
    border: 1px solid gray;
    border-top: none;
}
.tabcontents .tab.open {
    display: block;
}