﻿@using Wanamaker.WebApp.Helpers
<!DOCTYPE html>
<html>

<head>
<title>@ViewBag.title</title>
<link rel="stylesheet" href="@Url.VersionedUrl("~/Themes/Max3.0/Main.debug.css")" />
<link rel="stylesheet" href="@Url.VersionedUrl("~/Themes/MaxMvc/jquery-ui-1.7.2.custom.css")" />
<link rel="stylesheet" href="@Url.VersionedUrl("~/Themes/MaxMvc/WanamakerGet.css")" />
<link rel="shortcut icon" href="@Url.Content( "~/App_Themes/MAX60/images/max.ico" )" type="image/x-icon" />
</head>

<body>

<div id="Page" class="clearfix">


<div id="Header" class="clearfix">
@Html.Partial("~/Areas/Dashboard/Views/Shared/Header.cshtml")
<div class="context_name">@ViewBag.context_name</div>
</div>
<div id="Body" class="clearfix">
<div id="Content" class="clearfix">


<div class="page_description">
<h1>Digital Performance Analysis</h1>
<p>Please provide the following information so that we can provide you with a 
	deep-dive look at your Online Performance. This information will provide us
	with the tools to give you the best look at your online spend and how best
	to allocate resources.</p>
<p><b class="term">Credentials</b> will allow us to gather all the information
	about your traffic on these sites.</p>
<p><b class="term">Monthly Cost</b> will allow us to compare this traffic with
	the prices. Click the expand button next to the cost to see the previous
	12 months and fill in your monthly cost for that site. NOTE: If you fill in
	for a previous month, it will update all future months with that cost.</p>
<p><b class="term">Dealer Website</b> select your provider and your credentials
	to allow us to gather all the information about your website traffic. We will
	then enter website VDPs on your behalf.</p>
</div>

<div class="loading_pane" data-bind="visible:loading">
	<div class="message">Loading ...</div>
</div>

<span data-bind="visible:!loading()" style="display:none">

<div class="actions clearfix">
	<div class="button save disabled" data-bind="click:save, css:{ disabled:!can_save() }">Save Data</div>
	<span class="busy_message" data-bind="visible:busy" style="display:none">Saving ... </span>
</div>

<span data-bind="foreach:dealer_listing_sites">
	<div class="section listing_site_budget">
	<h2 data-bind="text:site_name"></h2>
	<div class="column_container clearfix">
		<div class="column">
			<div class="legal_copy">
				<p>I am an authorized <span data-bind="text:site_name">&nbsp;</span> user with a valid username and password.<br> 
					I would like to automate the retrieval of my dealership’s online performance data daily from
					<span data-bind="text:site_name">&nbsp;</span> for online inventory performance analysis.</p>
			</div>
			<h3>Credentials</h3>
			<div class="field">
				<label>User Name</label>
				<input type="text" data-bind="value:username, valueUpdate:'afterkeydown'">
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" data-bind="value:password, valueUpdate:'afterkeydown', hasfocus:editing_password">
			</div>
			<div class="field">
				<label>Dealer ID (optional)</label>
				<input type="text" data-bind="value:dealer_id, valueUpdate:'afterkeydown'">
			</div>
		</div>
		<div class="column">
			<h3>Monthly Cost</h3>
			<!-- collapsed view -->
			<span data-bind="visible:!expanded()">
				<div class="field">
					<label>Month</label>
					<input type="text" class="monthpicker" data-bind="value:selected_month, valueUpdate:'afterkeydown'">
				</div>
				<div class="field">
					<label>Budget</label>
					<input type="text" data-bind="value:selected_month_value, valueUpdate:'afterkeydown', css:{ soft:selected_month_soft }, attr:{ disabled:selected_month_obj()?null:'disabled' }"><!-- currency component -->
				</div>
				<div class="field">
					<label>&#8203;</label>
					<div class="button expand_collapse" data-bind="click:expanded.toggle">+</div>
				</div>
			</span>
			<!-- all months view -->
			<span data-bind="visible:expanded" style="display:none">
				<div class="field label">
					<label>Month</label>
				</div>
				<div class="field label">
					<label>Budget</label>
				</div>
				<span data-bind="foreach:monthly_cost">
					<div class="field list_item">
						<label data-bind="text:month.format('mmm yyyy')"></label>
						<input type="text" data-bind="value:value, valueUpdate:'afterkeydown', css:{ soft:soft }"><!-- currency component -->
					</div>
				</span>
				<div class="field">
					<label>&#8203;</label>
					<div class="button expand_collapse" data-bind="click:expanded.toggle">&ndash;</div>
				</div>
			</span>
		</div>
	</div>
	</div>
</span>

<span data-bind="with:google_analytics">
	<div class="section google_analytics">
	<h2>Google Analytics</h2>
	<div class="column_container clearfix">
		<div class="column">
			<p class="note" data-bind="visible:show_setup_button">
				MAX Systems is requesting access to your Google analytics data for
				Digital Performance Management Dashboard and other analytics.
				Click the button to the right and follow the set-up directions.</p>
			<p class="note" data-bind="visible:!show_setup_button()" style="display:none">
				Select the desired profile and associated site provider to the right.</p>
		</div>
		<div class="column right">
			<span data-bind="visible:show_setup_button">
				<a href="/merchandising/CustomizeMAX/DealerPreferences.aspx?t=Analytics" target="_blank">
					<div class="button setup_google">Setup Google Account</div>
				</a>
			</span>
			<span data-bind="visible:!show_setup_button()">
				<select class="profile_select" data-bind="options:google_analytics_profiles, value:selected_profile_id, optionsText:'Name', optionsValue:'Id'"></select>
				<select class="profile_provider_select" data-bind="options:compatible_providers, value:associated_provider_id, optionsText:'name', optionsValue:'id'"></select>
				<label data-bind="visible:is_admin"><br><input type="checkbox" data-bind="checked:admin_lock"> Admin Lock</label>
			</span>
		</div>
	</div>
	</div>
</span>

<span data-bind="with:dealership_segment">
	<div class="section dealership_segment">
	<div class="column_container clearfix">
		<div class="column">
			<h2>Dealership Segment</h2>
		</div>
		<div class="column right align_h2_baseline"><!-- TODO: Replace with actual values -->
			<div class="radio option">
				<input type="radio" name="dealership_segment" value="1" data-bind="checked:segment" id="radio_segment_domestic"
				><label for="radio_segment_domestic">Domestic</label>
			</div>
			&nbsp;&nbsp;
			<div class="radio option">
				<input type="radio" name="dealership_segment" value="2" data-bind="checked:segment" id="radio_segment_import"
				><label for="radio_segment_import">Import</label>
			</div>
			&nbsp;&nbsp;
			<div class="radio option">
				<input type="radio" name="dealership_segment" value="3" data-bind="checked:segment" id="radio_segment_highline"
				><label for="radio_segment_highline">Highline</label>
			</div>
		</div>
	</div>
	</div>
</span>

<span data-bind="with:dealer_vdps">
	<div class="section dealer_site_vdps">
	<!-- for each available dealer site provider, an option -->
	<h2>
		<span class="title_caption"></span>
		<select data-bind="options:dealer_website_providers, value:dealer_website_provider_id, optionsText:'name', optionsValue:'id', optionsCaption:'Manual Input Dealer Website Vehicle Detail Pages'"></select>
		<input type="text" data-bind="value:dealer_website_provider_freeform_name, valueUpdate:'afterkeydown', css:{ invisible: dealer_website_provider_id() != -1 }">
	</h2>
	<span data-bind="with:selected_vdp_data">
		<div class="column_container clearfix">
			<div class="column">
				<h3>Credentials</h3>
				<div class="field">
					<label>User Name</label>
					<input type="text" data-bind="value:username, valueUpdate:'afterkeydown'">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" data-bind="value:password, valueUpdate:'afterkeydown', hasfocus:editing_password">
				</div>
			</div>
			<div class="column">
				<h3>VDP's</h3>
				<span data-bind="visible:!$parent.expanded()">
					<!-- collapsed view -->
					<div class="field">
						<label>&#8203;</label>
						<div class="button expand" data-bind="click:$parent.expanded.toggle">Input</div>
					</div>
				</span>
				<span data-bind="visible:$parent.expanded" style="display:none">
					<!-- manual entry -->
					<div class="field label">
						<label>Month</label>
					</div>
					<div class="field label">
						<label>Used VDP's</label>
					</div>
					<div class="field label">
						<label>New VDP's</label>
					</div>
					<span data-bind="foreach:vdps">
						<div class="field list_item">
							<label data-bind="text:month.format('mmm yyyy')"></label>
							<input type="text" data-bind="value:used_value, valueUpdate:'afterkeydown'">
							<input type="text" data-bind="value:new_value, valueUpdate:'afterkeydown'">
						</div>
					</span>
					<div class="field">
						<label>&#8203;</label>
						<div class="button expand" data-bind="click:$parent.expanded.toggle">Hide</div>
					</div>
				</span>
			</div>
		</div>
	</span>
	<span data-bind="visible:selected_vdp_data()==null">
		<div class="vdp_placeholder column_container_clearfix">
		</div>
	</span>
	</div>
</span>

<div class="section"></div><!-- separator -->

<div class="actions clearfix">
	<div class="button save disabled" data-bind="click:save, css:{ disabled:!can_save() }">Save Data</div>
	<span class="busy_message" data-bind="visible:busy" style="display:none">Saving ... </span>
</div>

</span>

</div>
</div>
<div id="Footer" class="clearfix">
</div>
</div>


@if (HtmlHelpers.IsDebugBuild()){
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery-1.9.1.js")"></script>
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery-ui-1.9.0.custom.js")"></script>
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.ui.monthpicker.js")"></script>
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/knockout-2.2.1.debug.js")"></script>
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/date.format.js")"></script>
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/underscore.js")"></script>
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/json2.js")"></script>
}else{
<script src="@Url.VersionedUrl("~/Public/Scripts/Lib/WanamakerGet.Libs.Combined.js")"></script>
}
<script>
    // server-generated constants
    var api_token = '@ViewBag.api_token';
</script>

<script src="@Url.VersionedUrl("~/Public/Scripts/WanamakerGet.js")"></script>



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push( ['_setAccount', 'UA-1230037-1'] );
  _gaq.push( ['_trackPageview'] );
  (function () {
    var ga = document.createElement( 'script' ); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ( 'https:' == document.location.protocol ? 'https://ssl' : 'http://www' ) + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName( 'script' )[0]; s.parentNode.insertBefore( ga, s );
  } )();
</script>

</body>
</html>


