<% if business_unit_planning_category.planning_category_id == 6 %>
    <% name = 'higher mileage' %>
    <%= form_remote_tag :url => { :action => 'update_business_unit_planning_category' } %>
    <div style="display: none;"><%= hidden_field_tag "planning_category_id", "6", { :id => 'planning_category_id_a' } %></div>
    <p>
    You have told us that higher mileage vehicles have recorded between
    <%= text_field "business_unit_planning_category[]", "lower_threshold", { :size => 6, :maxlength=> 6 } %> miles
    and
    <%= text_field "business_unit_planning_category[]", "upper_threshold", { :size => 6, :maxlength=> 6 } %> miles.
    <%= submit_tag "Update and Rebuild Graphs" %>
    </p>
    <%= end_form_tag %>
<% elsif business_unit_planning_category.planning_category_id == 7 %>
    <% name = 'excessive mileage' %>
<% elsif business_unit_planning_category.planning_category_id == 8 %>
    <% name = 'higher age' %>
    <%= form_remote_tag :url => { :action => 'update_business_unit_planning_category' } %>
    <div style="display: none;"><%= hidden_field_tag "planning_category_id", "8" %></div>
    <p>
    You have told us that higher age vehicles are between
    <%= text_field "business_unit_planning_category", "lower_threshold", { :size => 2, :maxlength=> 2 } %>
    and
    <%= text_field "business_unit_planning_category", "upper_threshold", { :size => 2, :maxlength=> 2 } %> years old.
    <%= submit_tag "Update and Rebuild Graphs" %>
    </p>
    <%= end_form_tag %>
<% elsif business_unit_planning_category.planning_category_id == 9 %>
    <% name = 'excessive age' %>
<% end %>
<% if [6,7,8,9].include?(business_unit_planning_category.planning_category_id) %>
    <div class="end-of-line">
		<p>Take a few moments to compare the sales performance of <%= name %> vehicles to <br /> those of other categories.</p>
		<%= render :partial => 'compare_categories', :locals => { :planning_category_id => business_unit_planning_category.planning_category_id } %>
	</div>
	<%= form_remote_tag :url => { :action => 'update_business_unit_planning_category' } %>
	<div style="display: none;">
	<%= hidden_field_tag "planning_category_id", business_unit_planning_category.planning_category_id, { :id => 'planning_category_id_b' } %>
	<%= hidden_field "business_unit_planning_category[]", "id", { :id => 'business_unit_planning_category_id' } %>
	<%= hidden_field "business_unit_planning_category[]", "active", { :id => 'business_unit_planning_category_active' } %>
    <%= hidden_field "business_unit_planning_category[]", "is_an_alias", { :id => 'business_unit_planning_category_is_an_alias' } %>
 	<%= hidden_field "business_unit_planning_category[]", "planning_category_id", { :id => 'business_unit_planning_category_planning_category_id' } %>
    <%= hidden_field "business_unit_planning_category[]", "alias_planning_category_id", { :id => 'business_unit_planning_category_alias_planning_category_id' } %>
    </div>
    <% is_an_alias = (@business_unit_planning_category.active == true && !@business_unit_planning_category.is_an_alias.nil? && @business_unit_planning_category.is_an_alias == true) %>
    <% is_seperate = (@business_unit_planning_category.active == true && (@business_unit_planning_category.is_an_alias.nil? || @business_unit_planning_category.is_an_alias == false)) %>
    <% is_disabled = (@business_unit_planning_category.active == false) %>
    <div class="end-of-line">What kind of special planning strategy is needed for <%= name %> vehicles?</div>
	<div>
		<div>
			<div class="line"><input type="radio" name="choice" value="alias" id="choice_alias" onchange="ChangePlanningCategoryStrategy('alias');" <% if is_an_alias %>checked="checked"<% end %> /></div>
			<div class="line"><label for="choice_alias">Move those vehicles into a higher risk category</label></div>
			<div>
				<select id="aliases" <% if !is_an_alias %>disabled="disabled"<% end %> onchange="AliasPlanningCategory(this);">
				    <%= options_from_collection_for_select(PlanningCategory.alias_options, 'id', 'name', nil) %>
				</select>
			</div>
			<div class="end-of-line"></div>
		</div>
		<div>
			<div class="line"><input type="radio" name="choice" value="seperate" id="choice_seperate" onchange="ChangePlanningCategoryStrategy('seperate');" <% if is_seperate %>checked="checked"<% end %> /></div>
			<div class="line"><label for="choice_seperate">Move them into a seperate <%= name %> category</label></div>
			<div class="end-of-line"></div>
		</div>
		<div>
			<div class="line"><input type="radio" name="choice" value="nothing" id="choice_nothing" onchange="ChangePlanningCategoryStrategy('nothing');" <% if is_disabled %>checked="checked"<% end %> /></div>
			<div class="line"><label for="choice_nothing">None; Keep them in their default category</label></div>
			<div class="end-of-line"></div>
		</div>
		<div>
            <div><button type="submit" name="submit" value="submit" onclick="return ValidatePlanningCategoryStrategy();">Update</button></div>
		</div>
	</div>
	<%= end_form_tag %>
<% else %>
    
<% end %>