<div id="compare_categories">
	<div style="float: left; padding: 1em;">
		<div id="container_graph_1">
		    <%= render :partial => 'inventory_sales_graph/object', :locals => {
		            :width                => 300,
		            :height               => 200,
		            :object_id            => 'graph_1',
		            :planning_category_id => planning_category_id,
		            :alt_configuration    => 1
		        }
		    %>
		</div>
		<div>
		    <% if planning_category_id == 6 %>
		      <% graph_title = 'High Mileage'%>
		    <% elsif planning_category_id == 7 %>
    		  <% graph_title = 'Excessive Mileage'%>
		    <% elsif planning_category_id == 8 %>
		      <% graph_title = 'High Age'%>
		    <% elsif planning_category_id == 9 %>
		      <% graph_title = 'Excessive Age'%>
		    <% end %>
			<p style="text-align: center;">Graph 1 - <%= graph_title %></p>
		</div>
	</div>
	<div style="float: left; padding: 1em;">
		<div id="container_graph_2">
			<%= render :partial => 'inventory_sales_graph/object', :locals => {
		            :width                => 300,
		            :height               => 200,
		            :object_id            => 'graph_2',
		            :planning_category_id => 1,
		            :alt_configuration    => 1
		        }
		    %>
		</div>
		<div>
		    <%= form_remote_tag :url => { :controller => 'inventory_sales_graph', :action => 'object' }, :update => 'container_graph_2' %>
		    <div style="display: none;">
		    <%= hidden_field_tag "width", "300" %>
		    <%= hidden_field_tag "height", "200" %>
		    <%= hidden_field_tag "object_id", "graph_2" %>
		    <%= hidden_field_tag "alt_configuration", "1" %>
		    </div>
			<p style="text-align: center;">Graph 2 - <select name="planning_category_id" onchange="return this.form.onsubmit();"><%= options_from_collection_for_select(PlanningCategory.alias_options, 'id', 'name', nil) %></select> Vehicles</p>
			<%= end_form_tag %>
		</div>
	</div>
</div>