<div id="finished">
    <p>Your high risk vehicle preferences have been saved.</p>
    <p>Please wait a few moments while your graphs are rebuilt.</p>
    <script type="text/javascript">
    <!--
        <%= remote_function(:url => { :action => :rebuild_graph_data }) %>
    //-->
    </script>
    <div id="graphs_rebuilding">
        <%= image_tag "activity/progressbar_long_green.gif", :alt => 'Progress Bar' %>
    </div>
    <div id="graphs_updated" style="display: none;">
        <p>Now we will setup each risk category.</p>
        <p>Click <%= link_to "here", :controller => 'planning_category_table', :action => 'index' %> to continue.</p>
    </div>
</div>