﻿body {
}
.dropdownlabels
{
    margin-left:20px;
    color:gray;
    font-size:12px;
    
}
.dropdownlabels select
{
    margin-left:5px;
    border: 1px solid lightgray;
    font-weight: inherit;
    width: auto;
	border-radius: 3px;
}
.chart-property
{
    border-radius:5px;
    margin-top:15px; 
    margin-left:14.5%;
    width:710px; 
    height:270px;
    padding-bottom:35px;
    background-color:White;
}

.chart-stats
{
    border-radius:3px;
    margin-left:26px;
    margin-right:26px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#EFEFEF !important;
    height:auto;
    margin-top: 0;
}
.chart-footer .lbl-footer
{
    
    font-size:11px;
} 
.lbl-footer
{
    width:120px;
    
    max-width:120px;
    height:auto;
    font-size:12px;
    font-family: Arial;
    color:black;
    margin-right:30px;
    
}

.jqplot-xaxis-tick
{   
    line-height:12px;
    font-weight:bold;
    font-size: 12px;
    color: black;
    font-family:Arial;
    margin-top:7px;
}


.jqplot-yaxis {
    display: none;
}

.jqplot-xaxis {
    margin-bottom: 5px;
    
}
.selectList
{
	font-family: Arial;
	font-size: 11px;
    width: 100px;
	
}
.selectList-color
{
    font:Arial;
    padding:3px;
}
.jqplot-point-label
{
    margin-top:9px;
    font-family:Arial;
    font-size:12px;
    line-height:14px;
}

.jqplot-grid-canvas
{
    margin-right:-10px;
    margin-left:-10px;
    width:678px !important;
    height:250px;
}