﻿body
{
}


.inv-header
{
	margin-left: 10px;
	margin-right: 10px;
}
.risk-type
{
    margin-top: 18px;
	text-align: center;
	font-size: 21px;
	color: Gray;
}
.search-button
{
	color: #FFFFFF;
	background: #1F5AD9;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	height: 23px;
	width: 32px;
	font-size: 12px;
	border: 1px solid gray;
	font-weight: bold;
	font-family: Arial;
	padding: 0px 2px 0px 2px;
	margin-left:-4px;
    cursor: pointer;
}

.export-link
{
	float: right;
    font-family:Arial;
    font-size:12px;
    color:#1f59D8;
}

table#invGrid tbody tr td
{
	text-align: center;
	vertical-align: middle;
}

#inventoryTableDiv
{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.ui-state-hover
{
	background-color: transparent !important;
}
#searchboxdiv
{
    margin-top:10px;
    padding-left:6px;
}


.red
{
	background-color: Red;
	color: white !important;
}

.yellow
{
	background-color: Yellow;
}

.green
{
	background-color: Green;
	color: white !important;
}

.kbb
{
    float:left;
    background-image: url('../Public/Images/PricingProof/kelleybluebook.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.blackbook
{
    float:left;
    background-image: url('../Public/Images/PricingProof/blackbook_icon.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.-msrp
{
    float:left;
    background-image: url('../Public/Images/msrp_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.acura-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/acura_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.audi-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/audi_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.bmw-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/bmw_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.ford-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/ford_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.honda-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/honda_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.infiniti-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/infiniti_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.kia-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/kia_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.mini-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProofmini_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.scion-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/scion_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.volkswagen-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/volkswagen_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.toyota-msrp
{
    float:left;
    background-image: url('../Public/Images/PricingProof/toyota_logo_sm.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.galves
{
    float:left;
    background-image: url('../Public/Images/PricingProof/galves_icon.png');
    background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
    display: inline-block;
}
.marketavginternetprice
{
    float:left;
    background-image: url('../Public/Images/PricingProof/avgmarket.png');
    background-repeat: no-repeat;
    background-size:32px,32px;
    height: 30px;
	display: inline-block;
}
.nada
{
    float:left;
    background-image: url('../Public/Images/PricingProof/nada_icon.png');
    background-repeat: no-repeat;
    background-size:32px,32px;
    display: inline-block;
    height: 30px;
}
.edmunds
{
    float:left;
    background-image: url('../Public/Images/PricingProof/edmunds.png');
	background-repeat: no-repeat;
    background-size:32px,32px;
	display: inline-block;
	height: 30px;
}
span.bookName {
    vertical-align: middle;
    padding-top: 10px;
    background-position: left center;
}

.width
{
	margin-top: 5px;
    margin-left: 6px;
    margin-bottom:5px;
    min-width: 48%;
	height: auto;
	float: left;
}
.maxwidth
{
    margin-top: 5px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom:5px;
    float: left;
	height: auto;
	text-align:center;
}
li.maxwidth>span 
{
    word-wrap: break-word;
    float: none !important;
}

.inner-span
{
    font-family:Arial;
    font-size:12px;
    
    margin-left: 35px;
}


.alert-trim
{
	color: Red;
}

.ui-jqgrid-bdiv
{
	min-height: 200px;
}

.ui-jqgrid .ui-jqgrid-htable th div
{
	background-color: transparent !important;
    color: #333333 !important;
}

.ui-state-hover
{
	background-color: #EAEAEA !important;
}

.ui-jqgrid-btable
{
    font-size:11px;
    font-family:Arial;
	background-color: #FFFFFF !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	background-color: rgb(239,239,239) !important;
	color: #9E9A9A !important;
	background-image: none !important;
}

.inventoryheaderspan
{
    font-family:Arial;
    color:#646c79;
	font-size: 11px;
	color: #646C79;
	font-family: Arial;
}
.inventoryheaderspan INPUT
{
	margin-right: 6px;
}
.inventoryheaderspan input[type="text"]
{
	height: 23px;
	min-width: 155px;
	border: 1px solid LightGray;
	font-size: 11px;
    font-family:Arial;   
	border-radius: 3px;
	padding-left: 5px;
	color: #A7A7A7;
	font-family: Arial;
	margin-left:0px;
}
#gview_invGrid
{
	font-size: 10px;
}


#gview_invGrid table tr td.greycolor, #gview_invGrid table tr td input.greycolor{
    color: #666666;
}
#gview_invGrid table tr td.yellow div ul li.width span span.inner-span {
    color: #666666;
}

#gview_invGrid table tr td.breakwordclass
{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
#gview_invGrid table tr td.breakwordclass div
{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#gbox_invGrid thead tr th
{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word !important;
	vertical-align: middle;
}
#gbox_invGrid thead tr th div
{
    vertical-align:middle;
    line-height:14px;
    
    font-family:Arial;
	text-align: center;
	margin-left: -5px;
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word !important;
	overflow: visible !important;
	white-space: normal !important;
}
.ui-jqgrid .ui-jqgrid-htable th div
{
	height: auto !important;
}




.ui-tooltip ,body .ui-tooltip 
{
   
    border-width:1px !important;
}
.internet-wrapper
{
    width: 66px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.lmn
{
	width: 65px;
  height: 15px;
  margin: 0 auto;	
}
.close {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid #d3d3d3;
  display: none;
  float: right;
  width: 23px;
  height: 23px!important;
  /* margin-right: -7px!important; */
  background-image: url('../Public/Images/16x16-redx.png')!important;
  float: left;
  /* margin-left: 3px!important; */
  background-position: center;
  border-radius: 3px;
}

.save {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid #d3d3d3;
  display: none;
  float: right;
  width: 23px;
  height: 23px!important;

  background-image: url('../Public/Images/16x16-smgreencheck.png')!important;
  background-position: center;
  border-radius: 3px;
}
.ddl-select-trim
{
    font-size: 11px;
	padding-left: 4px;
	vertical-align: middle;
	width: 100px;
	border-radius: 2px;
	border: 1px solid;
	border-color: LightGray;
	font-weight: normal;
}

.click-to-change
{
  text-align: center;
  margin-top: 12px;
  position: absolute;
  margin-left: 14px;
}

.alter-internet-price
{
  text-align: center;
  margin-top: 30px;
  position: absolute;
  left: 16px;
}
.close-mark
{
  float: right;
  display: inline-block;
  color: rgb(183, 170, 170);
  cursor: pointer;
  margin-top: -7px;
  margin-right: -2px;
    font-weight: bolder;
}

.ui-jqgrid td input.txtbx_intprice
{
	margin-top: 15px;
}
.s-ico
{
    float:right;
    margin-right:11px;
    display:inline;
	vertical-align: middle;
    margin-left: -2px;
	height: 100%;
}
.s-ico .ui-icon-asc, .ui-jqgrid .ui-icon-asc
{
    margin-top: -3px !important;
    background-image: url("../Public/Images/sortup.png");
	background-repeat: no-repeat;
	background-position: 5px 7px;
    opacity: 0.5;
}

.s-ico .ui-icon-desc, .ui-jqgrid .ui-icon-desc
{
    margin-top: 3px !important;
    background-image: url("../Public/Images/sortdown.png");
	background-repeat: no-repeat;
    background-position: 5px 7px;
    opacity: 0.5;
}
.s-ico .ui-state-disabled{
    opacity: 1;
}
.ui-jqgrid .ui-jqgrid-htable th
{
	padding-left: 0px;
}

.greenclass
{
    color:#01860A;   
    font-weight:bold !important;
    font-size: 12px;
}

.redclass
{
    font-weight:bold !important;
    color:#D61E1E;
    font-size: 12px; 
}
html body div#Page.clearfix div.summary-main div.inventory-grid form#ExportExcel div#inventoryTableDiv div#gbox_invGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_invGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#invGrid_vehicleDescription.ui-state-default.ui-th-column.ui-th-ltr.ui-sortable-handle div#jqgh_invGrid_vehicleDescription.ui-jqgrid-sortable span.s-ico
{
    margin-right:30px !important;
} 

html body div#Page.clearfix div.summary-main div.inventory-grid form#ExportExcel div#inventoryTableDiv div#gbox_invGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_invGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#invGrid_internetPrice.ui-state-default.ui-th-column.ui-th-ltr.ui-sortable-handle div#jqgh_invGrid_internetPrice.ui-jqgrid-sortable span.s-ico
{
    margin-top:-8px;
    margin-right:24px;
}
html body div#Page.clearfix div.summary-main div.inventory-grid form#ExportExcel div#inventoryTableDiv div#gbox_invGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_invGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#invGrid_pMarketAverage.ui-state-default.ui-th-column.ui-th-ltr.ui-sortable-handle div#jqgh_invGrid_pMarketAverage.ui-jqgrid-sortable span.s-ico
{
    margin-top:-15px;
    margin-right:15px;
}
html body div#Page.clearfix div.summary-main div.inventory-grid form#ExportExcel div#inventoryTableDiv div#gbox_invGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_invGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#invGrid_marketdayssupply.ui-state-default.ui-th-column.ui-th-ltr.ui-sortable-handle div#jqgh_invGrid_marketdayssupply.ui-jqgrid-sortable span.s-ico
{
    margin-top:-15px;
    margin-right:15px;
}
html body div#Page.clearfix div.summary-main div.inventory-grid form#ExportExcel div#inventoryTableDiv div#gbox_invGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_invGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#invGrid_PriceComparison.ui-state-default.ui-th-column.ui-th-ltr.ui-sortable-handle div#jqgh_invGrid_PriceComparison.ui-jqgrid-sortable span.s-ico
{
    margin-right:85px;
}
html body div#Page.clearfix div.summary-main div.inventory-grid form#ExportExcel div#inventoryTableDiv div#gbox_invGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_invGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#invGrid_unitcost.ui-state-default.ui-th-column.ui-th-ltr.ui-sortable-handle div#jqgh_invGrid_unitcost.ui-jqgrid-sortable span.s-ico
{
    margin-top: -8px;
    margin-right: 12px;
    display: inline-block;
}


.stocknumber {
    font-size: 10px !important;
}

.colordescription {
    font-size: 12px !important;
}

#callout
{
    display:none;
  
}
.color-size
{
      color:#333333;
    font-size:12px;
    font-family: Arial!important;
}

div.ui-tooltip.arrow_box {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
  height: 72px!important;
  width: 135px!important;
  background: #fffee6;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0,0.20);
    border-radius:6px;
}
 div.ui-tooltip.arrow_box::after {
   top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fffee6;
  border-width: 7px!important;
  margin-left: -11px!important;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent #fffee6 #fffee6;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  box-shadow: -6px 5px 12px -3px rgba(0,0,0,0.24);
  }
  
#tickcross-table a{ outline:none;}
#tickcross-table tr, #tickcross-table td , #tickcross-table tbody , #tickcross-table{border:none;}
.show-hide
{
    display:none;
}
.span-cursor
{
    cursor:pointer;
}

.img-cross
{
    border: 1px solid #cccccc;
    float:right;
    border-radius: 3px; 
    
}
.img-tick
{ 
    border: 1px solid #cccccc;
    float:left;
    border-radius: 3px;
    
}

.txt-internetprice
{
height:13px;
width: 71px;
 border: 1px solid LightGray;
 border-radius: 3px;
 color: #666666;
 text-align:center;
vertical-align: middle;
outline:0;
}

#tickcross-table tbody tr td.align-top
{
    vertical-align:top;
}