﻿body {
}


.summary-main
{
    width:inherit;
    height:auto;   
}

.dealer-info
{
    width:inherit;
    height:auto;
    text-align: center;
    margin-top:20px;
}
.dealer-name
{
  font-size: 21px;
  color: #646c79;
  font-family: Arial;
  font-weight:bold;
}

.inventory-graph
{
  width: inherit;
  height: auto;
  text-align: center;
  margin-top: 24px;
}

.inventory-grid
{   border:1px solid #DBDBDB;
    margin-left:20px;
    margin-right:20px;
    background: #efefef; /* Old browsers */
background: -moz-linear-gradient(top, #efefef 0%, #dcdbdb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#dcdbdb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #efefef 0%,#dcdbdb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #efefef 0%,#dcdbdb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #efefef 0%,#dcdbdb 100%); /* IE10+ */
background: linear-gradient(to bottom, #efefef 0%,#dcdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dcdbdb',GradientType=0 ); /* IE6-9 */
    
    width:auto;
    height:auto;
    margin-top: 30px;

}

.pricing
{
  background: transparent url("../Public/Images/sprite_WorkflowColors.png") no-repeat scroll 0 -20px;
  display: inline-block;
  height: 18px;
  margin: auto;
  position: relative;
  width: 16px;
  margin-top: 3px;
  cursor: pointer;
}

.blue
{
    color:#1f59d8 !important;
}

#Header {
    background: #3661b4 url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 0 !important;
}

#Header .dealerSelector {
    background: #103782 url(../Themes/MAX3.0/Images/sprite_Arrows.png?v=3.0) no-repeat scroll right -73px !important;   
}
span.mastheadLogo
{
    height:40px;
    background : transparent url("../Themes/MAX3.0/Images/Profit_MAX_Logo.png") repeat-x scroll 0 0 !important;
    width:180px;
}
#Navigation > ul > li.menuHead > a
{
    background: transparent url(../Themes/MAX3.0/Images/sprite_Arrows.png?v=3.0) no-repeat scroll right -141px !important
}
    