<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory].compact) %>
<% call = remote_function(:url => { :controller => '/management/internet_auction', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory) }, :update => id) %>
<ul id="<%= id %>" class="wholesale_internet_auction_values" hal:refresh="<%= call %>">
    <% internet_auctions.each do |internet_auction| -%>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, internet_auction].compact) %>
        <li><input type="<%= input_type %>" name="third_party[id][]" value="<%= internet_auction.id %>" id="<%= id %>"><label for="<%= id %>"><%= internet_auction.name %></label></li>
    <% end %>
</ul>
