<% html_options = Hash.new %>
<% if internet_auction.nil? || editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if editable == true %>
    <% select_disabled = 'disabled="true"'%>
<% else %>
    <% select_disabled = ''%>
<% end %>
<div id="InternetAuctionManager" class="management_float">
	<div>
		<div id="InternetAuctionManagerHeader" class="header">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'finish', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close InternetAuction Manager', :id => 'InternetAuctionManagerCloseButton' } %></div>
			Add/Manage InternetAuctions
		</div>
		<%= form_mode_tag :url => { :action => 'open', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :float => { :complete => true } %>
		<div id="InternetAuctionManagerBody" class="body">
			<div>
                <% if editable %>
                    <span>Add</span>
                <% else %>
                    <%= link_to_mode "Add", { :url => { :action => 'add', :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :title => 'Add a new internet auction', :id => 'InternetAuctionManagerAddButton' }, { :complete => true } %>
                <% end %>
			</div>
			<label for="InternetAuctionManagerEntries">Select an Internet Auction:</label>
			<select id="InternetAuctionManagerEntries" name="internet_auction_id" <%= select_disabled %> onchange="if (this.form.onsubmit) { this.form.onsubmit(); } else { this.form.submit(); }">
                <% if internet_auction.nil? %>
                <option value="0" selected="selected">Select...</option>
                <%= options_from_collection_for_select(internet_auctions, 'id', 'name', nil) %>
                <% else %>
                <option value="0">Select...</option>
                <%= options_from_collection_for_select(internet_auctions, 'id', 'name', internet_auction.id) %>
                <% end %>
			</select>
		</div>
		<%= end_form_tag %>
		<% if flash.now[:notice].nil? || flash.now[:notice].empty? %>
		<div id="InternetAuctionManagerErrors" style="display:none;"></div>
		<% else %>
		<div id="InternetAuctionManagerErrors">
            <% if flash.now[:notice] === Array -%>
                <ul><% flash.now[:notice].each do |notice| -%><li><%= notice -%></li><% end -%></ul>
            <% else %>
                <%= flash.now[:notice] -%>
            <% end %>
		</div>
		<% end %>
		<div id="InternetAuctionManagerEntry" class="body">
            <% if !internet_auction.nil? && !editable %>
			<div id="InternetAuctionManagerEntryButtons">
				<div class="float">
    				<%= link_to_mode 'Edit', { :url => { :action => 'edit', :internet_auction_id => internet_auction.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :id => 'InternetAuctionManagerEditButton', :title => "Edit #{internet_auction.name}" }, { :complete => true } %>
    				<%= link_to_mode 'Delete', { :url => { :action => 'delete', :internet_auction_id => internet_auction.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => "Are you sure you want to delete #{internet_auction.name}" }, { :id => 'InternetAuctionManagerDeleteButton', :title => "Delete #{internet_auction.name}" }, { :complete => true } %>
    			</div>
			</div>
			<% end %>
			<%= form_mode_tag :url => { :action => 'save' }, :float => { :complete => true }, :html => { :id => 'InternetAuctionForm', :name => 'InternetAuctionForm' } %>
			<% unless planning_action_id.nil? %>
			<%= hidden_field_tag 'planning_action_id', planning_action_id %>
			<% end %>
			<% unless inventory_id.nil? %>
			<%= hidden_field_tag 'inventory_id', inventory_id %>
			<% end %>
			<% if !internet_auction.nil? && !internet_auction.id.nil? %>
			<%= hidden_field 'internet_auction', 'id', html_options.update(:object => internet_auction) %>
			<% end %>
			<fieldset>
				<legend>Internet Auction Details</legend>
				<dl>
					<dt>
						<label for="internet_auction_name">Name</label>:
					</dt>
					<dd>
						<%= text_field 'internet_auction', 'name', html_options.update(:object => internet_auction) %>
					</dd>
				</dl>
			</fieldset>
			<% if !internet_auction.nil? && editable %>
			<div id="InternetAuctionManagerEntryButtons" class="footer">
				<div><a href="#" onclick="if (document.InternetAuctionForm.onsubmit) { document.InternetAuctionForm.onsubmit(); } else { document.InternetAuctionForm.submit(); }" title="Save changes to <%= internet_auction.name %>">Save</a></div>
				<div><%= link_to_mode 'Cancel', { :url => { :action => 'cancel', :internet_auction_id => internet_auction.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?' }, { :id => 'InternetAuctionManagerDeleteButton', :title => "Cancel changes to #{internet_auction.name}" }, { :complete => true } %></div>
			</div>
			<% end %>
			<%= end_form_tag %>
		</div>
	</div>
</div>