<% planning_action_type = planning_action.nil? ? nil : planning_action.planning_action_type %>
<% id_outer = gen_id([planning_action_type, planning_action, inventory, 'campaign_run_values'].compact) %>
<% call = remote_function(:url => { :controller => 'campaign_run', :action => 'campaign_runs', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory), :selections => selections, :input_type => input_type, :input_object => input_object, :input_method => input_method, :html_options => html_options }, :success => "$('#{id}').outerHTML = request.responseText;") %>
<% css = "campaign_run_values" %>
<% 
unless !campaign_runs.nil?
    campaign_runs = CampaignDeadline.find(:all, :conditions => ["business_unit_id = ?", session[:business_unit].id], :order => "campaign_name") 
end
%>
<% if ['radio','checkbox'].include?(input_type) %>
<ul id="<%= id_outer %>" class="<%= css %>" hal:refresh="<%= call %>">
    <% campaign_runs.each do |campaign_run| -%>
        <% id = gen_id([planning_action_type, planning_action, inventory, campaign_run].compact) %>
        <li>
            <input type="<%= input_type %>" name="campaign[id][]" <% if selections.detect{|s| s == campaign_run.campaign_id} %>checked="true"<% end %> value="<%= campaign_run.campaign_id %>" id="<%= id %>"><label for="<%= id %>"><%= [campaign_run.third_party_name, campaign_run.campaign_name].compact * ', ' %></label>
            <div style="text-align:right;"><a href="#" id="edit_link_<%=id%>" onclick="planningEdit.editContent(this,'options_content_<%= id %>');">Edit</a></div>
            
        </li>
    <% end -%>
</ul>
<% elsif input_type == 'select' %>
<%= collection_select(input_object, input_method, campaign_runs, "id", "name", { :prompt => 'Please Select' }, html_options.update('id' => id, 'class' => css, 'hal:refresh' => call)) %>
<% end %>