<div id="campaign_list" class="option_float">
    <% if target_campaign_id.nil? %>
    <!-- load another campaign run -->
    <%= form_tag({ :controller => 'campaign_run', :action => 'open' }, { :method => 'GET', :onsubmit => "return validateRequired('campaign_id','0','campaign_list_errors')"}) %>
    <% else %>
    <!-- copy vehicles from another campaign into the target campaign run -->
    <%= form_remote_tag :url => { :controller => 'campaign_run', :action => 'load_vehicle_list' }, :html => { :onsubmit => "return validateRequired('campaign_id','0','campaign_list_errors')" }, :success => "RedBox.close();" %>
    <%= hidden_field_tag "target_campaign_id", target_campaign_id%>
    <% end %>
    <div class="header">Select Campaign</div>
    <div id="campaign_list_errors"  class="error_block" style="display:none;">Please select a campaign.</div>
    <div class="body">
        <label for="campaign_id"> Campaign:</label>
        <select id="campaign_id" name="campaign_id">
            <option value="0">Select...</option>
            <%= options_from_collection_for_select(campaigns, 'id', 'name', nil) %>
        </select>
    </div>
    <div class="footer">
        <input type="submit" value="Choose" /> <input type="button" onclick="RedBox.close();" value="Cancel" /> 
    </div>
    <%= end_form_tag %>
</div>