<div id="campaign_run_details" >
    <div class="search_header" >
        <div class="name_search_criterion ">
            <%=link_to_remote_redbox("+Load",{ :url => { :controller => 'campaign_run', :action => 'campaign_list'}})%> <tt>|</tt> <%=link_to_remote("+Manage",{:url => {:controller=>'campaign', :action => 'campaigns_open', :planning_action_id => 2}, :loading => "RedBox.loading();", :complete => "RedBox.addHiddenContent('CampaignManagement');"})%>
       </div>
       <div class="header_left">
        Campaign Run 
      </div>     
    </div>
    <div class="body" id="CampaignFormContainer">
       <div style="float:left; clear:left;">
       <dl>
        <dt>
            Where:
        </dt>
        <dd>
        <% if !campaign_run.nil?%>
          <% unless campaign_run.campaign.third_party.nil? %>
                    <%= campaign_run.campaign.third_party.name %>
           <% end %>
           <% if campaign_run.campaign.third_party.nil?%>
           &nbsp;
           <%end%>
         <%else%>
            &mdash;
         <%end%>
        </dd>
        <dt>
            Name:
        </dt>
        <dd>    <% if !campaign_run.nil?%>        
                    <%= campaign_run.campaign.name %>
                <%else%>
                 &mdash;
                <%end%>
        </dd>
       
         <dt>
           DeadLine:
        </dt>
        <dd>
         <% if !campaign_run.nil?%>    
           <%= campaign_run.deadline.strftime('%m/%d/%Y') %>
         <%else%>
               &mdash;
         <%end%>
        </dd>
         <dt>
            Run Date:
        </dt>
        <dd>
        <% if !campaign_run.nil?%>    
            <%= campaign_run.run_date.strftime('%m/%d/%Y') %>
          <%else%>
               &mdash;
         <%end%>
        </dd>
         <dt>
           Period:
        </dt>
        <dd>
          <% if !campaign_run.nil?%>   
             <%= campaign_run.campaign.run_date_interval.interval_type.name %>
          <%else%>
           &mdash;
         <%end%>
        </dd>
       </dl>
       </div>
      <div class="notes_container" >
      <dl>
      <dt>
        Notes:
      </dt>
      <dd>
            <textarea name="notes" id="notes" onkeypress="if(!Element.visible('save_notes'))Element.show('save_notes');"></textarea>
        </dd>
        </dl>
       </div>
       <div id="save_notes" style="display:none;text-align:right;height:15px;">
            <a href="#" onclick="Element.hide('save_notes');">Save Notes</a>
            <tt>|</tt>
             <a href="#" onclick="Element.hide('save_notes');">Cancel</a>
       </div>
    </div>
<div id="Management" style="display:none;position:absolute;">    
</div>
  <% if campaign_run.nil?%>
 <script>
    <!--
    	Event.observe(window, 'load', page_loaded, false);
    
    	function page_loaded(evt) {
            <%= remote_function({:url => {:controller=>'campaign', :action => 'campaigns_open'}, :loading => "RedBox.loading();", :complete => "RedBox.addHiddenContent('CampaignManagement');"}) %>
    	}
    // -->
    </script>
    <%end%>
</div>
