<div id="inventory_<%= inventory.id %>" class="inventory clearfix"><div class="list-top"><div class="list-bot">
<div class="listcontents">

    <div class="top clearfix">
        <span class="inventory_left_corner">
            &nbsp;
        </span>
        <span class="inventory_right_corner">        
         &nbsp;
        </span>
        <span>
          <% if search_result.nil? %>
        <span class="add-to-list">
            <%= link_to_remote "Remove From List", { :url => { :action => 'remove_from_campaign_run', :search_result_id => nil, :vehicle_id => inventory.vehicle_id, :inventory_id => inventory.id, :campaign_run_id => campaign_run.id } } %>
        </span>
        <% else %>
        <span class="add-to-list">
            <%= link_to_remote "Add To List", { :url => { :action => 'add_to_campaign_run', :search_result_id => search_result.id, :vehicle_id => inventory.vehicle_id, :inventory_id => inventory.id, :campaign_run_id => campaign_run.id } } %>
        </span>
        <% end %>
        
        <% unless inventory.inventory_planning_tasks.empty? %>
        <span class="planning_action">
            <% inventory.inventory_planning_tasks.each do |inventory_planning_task| %>
                <%= inventory_planning_task.planning_action.name %>
            <% end %>
        </span>
        <% end %>
        
        </span>
        
    </div>
	   
		<div class="vehicleinfo" style="position:relative;">
    		<div class="pricing">
    		
                <span class="priceref" style="font-size:11px;color:#263047;">
                List Price: <span id="priceedit_<%= inventory.id %>" style="background-color:#ffffe0;"><%= money( inventory.list_price ) %></span>
                <span >Unit Cost: <%= money( inventory.unit_cost ) %></span>
                </span>
    	        <span class="priceref" >
                    <span><%= inventory.primary_book_name %> <%= inventory.primary_book_category_name %>: <%= money( inventory.primary_book_value ) %></span>
                    <span class="priceref" >Book vs. Cost: <%= money( inventory.primary_book_value_vs_unit_cost ) %></span>
                </span>      
            
    		</div>
    		<div>
			
			<span class="age"><%= inventory.age %> Days</span>
			<span class="ymmts"><%= inventory.vehicle.description %></span>
			
            <span class="colormile"><%= inventory.vehicle.color %></span>
			<span class="colormile"><%= format_mileage( inventory.mileage_received ) %> Miles</span>
           
            
           
            </div>
            <div class="editAdText"><% #only show when on vehicle list, this is done via css%>
                Some ad text  <%=link_to_function "Edit Ad Text", "new Effect.toggle($('editAdTextArea#{inventory.id}'),'blind',{duration:.1})"%>
            </div>
            <div style="display:none;" id="editAdTextArea<%=inventory.id%>">
                <input type="text" value="Some ad text" id="adText<%=inventory.id%>" /> <%= link_to_remote "Save", { :url => { :action => 'save_ad_text', :controller=>'inventory',:inventory_id => inventory.id } } %> <tt>|</tt> <%=link_to_function "Cancel", "new Effect.toggle($('editAdTextArea#{inventory.id}'),'blind',{duration:.1})"%>
            </div>
		</div>
		 
		
		

</div>
</div></div></div>