<%
   #build the search summary string based upon the last search criteria
   #if there were criteria entered, iterate over and append them to the 
   #title of the link
   searched = ""
   unless search_criterion.colors.empty?
    values = title_list(search_criterion.colors)
    searched = searched + " <a href=\"#\" title=\"#{values}\" onclick=\"return false;\">Color</a>"
   end
   unless search_criterion.model_years.empty?
    if searched != ""
        searched +=","
    end
    values = title_list(search_criterion.model_years)
    searched = searched + " <a href=\"#\" title=\"#{values}\" onclick=\"return false;\">Model Year</a>"
   end
   unless search_criterion.vehicle_makes.empty?
     if searched != ""
        searched +=","
    end
    values = title_list(search_criterion.vehicle_makes)
    searched = searched + " <a href=\"#\" title=\"#{values}\" onclick=\"return false;\">Make</a>"
   end
   unless search_criterion.vehicle_lines.empty?
     if searched != ""
        searched +=","
    end
    values = title_list(search_criterion.vehicle_lines)
    searched = searched + " <a href=\"#\" title=\"#{values}\" onclick=\"return false;\">Model</a>"
   end
   unless search_criterion.inventory_vehicle_lights.empty?
     if searched != ""
        searched +=","
    end   
    values = title_list(search_criterion.inventory_vehicle_lights)
    searched = searched + " <a href=\"#\" title=\"#{values}\" onclick=\"return false;\">Risk</a>"
   end
   unless search_criterion.overstock_models  == false
     if searched != ""
        searched +=","
    end
    searched = searched + " <a href=\"#\" title=\"Overstocked Vehicles\" onclick=\"return false;\">Overstocked</a>"
   end
   unless search_criterion.search_criteria_inequalities.empty?
       search_criterion.search_criteria_inequalities.each do |inequality|
           if searched != ""
            searched +=","
           end
           dollar = "$"
           unit = ""
           #probably not the correct way to do this because the db could change
           #but what the hell,            
           if inequality.search_criteria_inequality_type.id > 5
            dollar = ""
            unit = " days"
           end
            if inequality.search_criteria_inequality_type.id < 2
                searched = searched + " <a href=\"#\" title=\"From: #{inequality.lower_bound} miles To: #{inequality.upper_bound} miles\"onclick=\"return false;\">"+inequality.mileage_unit.name+"</a>"
            else
              searched = searched + " <a href=\"#\" title=\"From: #{dollar}#{inequality.lower_bound}#{unit} To: #{dollar}#{inequality.upper_bound}#{unit}\"onclick=\"return false;\">"+inequality.search_criteria_inequality_type.name+"</a>"
            end
        end
   end    
%>
<% if searched == ""%>
    Searched All Vehicles
<% else %>
Filtered By: <%= searched%>
<% end%>