<div>
    <% if inventory.nil? %>
    <div class="results_summary vehicle_list_header">
        <div class="vehicle_list_header_right">&nbsp;</div>
        <div class="vehicle_list_header_left">No vehicles selected</div>
    </div>
    <% else %> 
    <div class="results_summary vehicle_list_header">
        <div class="vehicle_list_header_right">Search Results: <%= inventory.length%> vehicles</div>
        <div  class="vehicle_list_header_left">
            <%= render :partial =>"search_summary", :object=>nil,:locals=>{:search_criterion=>search_criterion}%>
        </div>
    </div>
     <div class="vehicle_list">
        <% inventory.each do |item| %>
            <%= render :partial => 'inventory', :object => item, :locals => { :campaign_run => campaign_run, :search_result => search_result } %>
        <% end %>
        </div>
    <% end %>
</div>