<%= render :partial => 'vehicle_list_summary', :locals => { :campaign_run => campaign_run, :number_of_vehicles => inventory.nil? ? 0 : inventory.length } %>
<% unless inventory.nil? %>
    <div class="vehicle_list">
    <% inventory.each do |item| %>
        <%= render :partial => 'inventory', :object => item, :locals => { :campaign_run => campaign_run, :search_result => nil } %>
    <% end %>
    </div>
<% end %>