<div id="vehicle_list_summary" class="results_summary vehicle_list_header">
    <div class="vehicle_list_header_right">
        <% if campaign_run.nil? %>
            &nbsp;
        <% else %>
            <%= link_to_remote "+Plan", :url => { :controller => "planning", :action => "index", :campaign_run_id => campaign_run.id, :vehicle_list_id => campaign_run.vehicle_list_id } %>
            <tt>|</tt>
            <%= link_to_remote "+Load", { :url => { :controller => 'campaign_run', :action => 'campaign_list', :campaign_id => campaign_run.campaign_id }, :loading => 'RedBox.loading();', :complete => "Element.update('CampaignRunListDialog', request.responseText); RedBox.addHiddenContent('CampaignRunListDialog');" }, { :title => "Load vehicles from another campaign run" } %>
        <% end %>
    </div>
    <div class="vehicle_list_header_left">
        <% if campaign_run.nil? %>
            No vehicles selected
        <% else %>
            Advertising List for: <%= campaign_run.campaign.name %> (<%= number_of_vehicles %> vehicles)
        <% end %>
    </div>
</div>