<div id="CampaignList" class="campaign_values" hal:refresh="window.location.reload(true)">
    <% if @campaigns.empty? %>
        <p>You have no campaigns setup. Click <%= link_to_remote "here", { :url => { :controller => 'management/campaign', :action => 'start' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('CampaignManagement');" }, { :title => 'Click to setup a new Campaign', :id => 'CampaignManagerOpenButton' } %> to setup a new campaign</p>
    <% else %>
        <div class="top">
            <div class="title"><h2>Campaign Deadlines</h2></div>
        <div>
        <div id="CampaignListContainer">
            <table>
                <thead>
                    <tr>
                        <th>Campaign Name</th>
                        <th>Campaign Type</th>
                        <th>Campaign Run Date</th>
                        <th>Campaign Deadline</th>
                        <th>Days Until Next Deadline</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <% @campaigns.each do |campaign| campaign_deadline = campaign.campaign_deadline %>
                    <tr>
                        <td><%= campaign_deadline.campaign_name %></td>
                        <td><%= campaign_deadline.campaign_type_name %></td>
                        <td><%= campaign_deadline.deadline.strftime('%m/%d/%Y') %></td>
                        <td><%= campaign_deadline.run_date.strftime('%m/%d/%Y') %></td>
                        <td><%= campaign.campaign_deadline.days_until_deadline %></td>
                        <td>
                            <div class="edit"><%= link_to "Edit", { :action => 'open', :campaign_id => campaign_deadline.campaign_id, :campaign_run_id => campaign_deadline.campaign_run_id }, { :title => 'Edit Campaign Run' } %></div>
                            <div class="read off">Edit</div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>
<div id="CampaignManagement" style="display: none;"></div>
<div id="ThirdPartyManagement" style="display: none;"></div>