<div id="CampaignRunOpenPageContainer">
    <div id="CampaignRunContainer">
        <%= render :partial => 'campaign_run', :object => @campaign_run %>
    </div>
    <div id="SearchCriterionContainer">
        <%= render :partial => 'search/search_criterion', :object => nil %>
    </div>
    <div style="clear: both;"><!-- layout hack please remove --></div>
     <%= form_remote_tag :url => { :action => 'search_result' },:html => { :name => 'SearchResultForm', :id => 'SearchResultForm' }, :condition => "($F('search_result_id') != '' || $F('search_criterion_id') != '')" %>
        <%= hidden_field 'campaign_run', 'id', { :id => 'campaign_run_id' } %>
        <%= hidden_field 'search_criterion', 'id', { :id => 'search_criterion_id' } %>
        <%= hidden_field 'search_result', 'id', { :id => 'search_result_id' } %>
    <%= end_form_tag %>
    <div id="SearchResultContainer">
        <%= render :partial => 'search_result', :object => nil, :locals => { :campaign_run => @campaign_run, :search_criterion => nil, :inventory => nil } %>
    </div>
    <div id="CampaignRunVehicleListContainer">
        <%= render :partial => 'vehicle_list', :object => @vehicle_list, :locals => { :campaign_run => @campaign_run, :search_criterion => nil, :inventory => @inventory } %>
    </div>
</div>
<input type="hidden" name="search_name" id="search_name" value="" />
<div id="CampaignManagement" style="display: none;"></div>
<div id="ThirdPartyManagement" style="display: none;"></div>
<div id="CampaignRunListDialog" style="display: none;"></div>