<% html_options = Hash.new %>
<% if planning_act_spiff.nil? || editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if editable == true %>
    <% select_disabled = 'disabled="true"'%>
<% else %>
    <% select_disabled = ''%>
<% end %>
<div id="SPIFFManager" class="management_float">
	<div>
		<div class="header">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'finish', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close SPIFF Manager', :id => 'SPIFFManagerCloseButton' } %></div>
			Add/Manage SPIFFs
		</div>
		<%= form_mode_tag :url => { :action => 'open', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :float => { :complete => true } %>
		<div class="body">
			<div>
                <% if editable %>
                    <span>Add</span>
                <% else %>
                    <%= link_to_mode "Add", { :url => { :action => 'add', :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :title => 'Add a new live auction location', :id => 'SPIFFManagerAddButton' }, { :complete => true } %>
                <% end %>
			</div>
			<label for="SPIFFManagerLocations">Select a SPIFF:</label>
			<select id="SPIFFManagerLocations" name="planning_act_spiff_id" <%= select_disabled %> onchange="if (this.form.onsubmit) { this.form.onsubmit(); } else { this.form.submit(); }">
                <% if planning_act_spiff.nil? %>
                <option value="0" selected="selected">Select...</option>
                <%= options_from_collection_for_select(planning_act_spiffs, 'id', 'name', nil) %>
                <% else %>
                <option value="0">Select...</option>
                <%= options_from_collection_for_select(planning_act_spiffs, 'id', 'name', planning_act_spiff.id) %>
                <% end %>
			</select>
		</div>
		<%= end_form_tag %>
		<% if flash.now[:notice].nil? || flash.now[:notice].empty? %>
		<div id="SPIFFManagerErrors" style="display:none;"></div>
		<% else %>
		<div id="SPIFFManagerErrors">
            <% if flash.now[:notice] === Array -%>
                <ul><% flash.now[:notice].each do |notice| -%><li><%= notice -%></li><% end -%></ul>
            <% else %>
                <%= flash.now[:notice] -%>
            <% end %>
		</div>
		<% end %>
		<div id="SPIFFManagerLocation">
            <% if !planning_act_spiff.nil? && !editable %>
			<div id="SPIFFManagerLocationButtons">
				<div class="float">
    				<%= link_to_mode 'Edit', { :url => { :action => 'edit', :planning_act_spiff_id => planning_act_spiff.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :id => 'SPIFFManagerEditButton', :title => "Edit #{planning_act_spiff.name}" }, { :complete => true } %>
    				<%= link_to_mode 'Delete', { :url => { :action => 'delete', :planning_act_spiff_id => planning_act_spiff.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => "Are you sure you want to delete #{planning_act_spiff.name}" }, { :id => 'SPIFFManagerDeleteButton', :title => "Delete #{planning_act_spiff.name}" }, { :complete => true } %>
    			</div>
			</div>
			<% end %>
			<%= form_mode_tag :url => { :action => 'save' }, :float => { :complete => true }, :html => { :id => 'SPIFFForm', :name => 'SPIFFForm' } %>
			<% unless planning_action_id.nil? %>
			<%= hidden_field_tag 'planning_action_id', planning_action_id %>
			<% end %>
			<% unless inventory_id.nil? %>
			<%= hidden_field_tag 'inventory_id', inventory_id %>
			<% end %>
			<% if !planning_act_spiff.nil? && !planning_act_spiff.id.nil? %>
			<%= hidden_field 'planning_act_spiff', 'id', html_options.update(:object => planning_act_spiff) %>
			<% end %>
			<fieldset>
				<legend>SPIFF Details</legend>
				<dl>
					<dt>
						<label for="planning_act_spiff_name">Name</label>:
					</dt>
					<dd>
						<%= text_field 'planning_act_spiff', 'name', html_options.update(:object => planning_act_spiff) %>
					</dd>
					<dt>
						<label for="planning_act_spiff_amount">Amount $</label>:
					</dt>
					<dd>
						<%= text_field 'planning_act_spiff', 'amount', html_options.update(:object => planning_act_spiff) %>
					</dd>
				</dl>
			</fieldset>
			<% if !planning_act_spiff.nil? && editable %>
			<div id="SPIFFManagerLocationButtons">
				<div><a href="#" onclick="if (document.SPIFFForm.onsubmit) { document.SPIFFForm.onsubmit(); } else { document.SPIFFForm.submit(); }" title="Save changes to <%= planning_act_spiff.name %>">Save</a></div>
				<div><%= link_to_mode 'Cancel', { :url => { :action => 'cancel', :planning_act_spiff_id => planning_act_spiff.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?' }, { :id => 'SPIFFManagerDeleteButton', :title => "Cancel changes to #{planning_act_spiff.name}" }, { :complete => true } %></div>
			</div>
			<% end %>
			<%= end_form_tag %>
		</div>
	</div>
</div>