<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, PlanningActSPIFF.new].compact) %>
<% call = remote_function(:url => { :controller => '/management/planning_act_spiff', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory) }, :update => id) %>
<ul id="<%= id %>" class="retail_spiff_values" hal:refresh="<%= call %>">
    <% unless inventory.nil? %>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, PlanningActSPIFF.new].compact) %>
        <li><input type="radio" name="planning_act_spiff[id][]" value="" id="<%= id %>"><label for="<%= id %>">Ad Hoc</label></li>
    <% end %>
    <% PlanningActSPIFF.find(:all, :conditions =>["business_unit_id = ? and active = 1", session[:business_unit].id]).each do |planning_act_spiff| -%>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, planning_act_spiff].compact) %>
        <li><input type="<%= input_type %>" name="planning_act_spiff[id][]" <% if selections.detect{|s| s == planning_act_spiff.id} %>checked="true"<% end %> value="<%= planning_act_spiff.id %>" id="<%= id %>"><label for="<%= id %>"><%= planning_act_spiff.name %>, <%= money(planning_act_spiff.amount) %></label></li>
    <% end -%>
</ul>