.centerTopBanner {
   	width: 425px;
	height: 85px;
   	
}

#stdtext p{
	color:#848484;
	font-size: 11px;
}


#stdtext a img{
	border:0;
}

#twocol{
	padding-right:10px;
}

 .user img{
		vertical-align: middle;
}

 .user input{
	vertical-align: middle;
}

 .pwd img{
		vertical-align: middle;
}

 .pwd input{
	vertical-align: middle;
}

.bannerMainPage {
	width: 580px;
	height: 540px;
}

.user img{
	text-align:"left";
}

#username {
	background-image: url(i/username.png);
}

#password {
	background-image: url(i/password.png);
}

#username, #password {
	background-repeat:no-repeat;
	margin-bottom:12px;
	padding:5px 6px 5px 32px;
	color:#666;
	width:224px;
}

.social-media {
	float:right;
}

.submitbtn{
	cursor:pointer;
}