/** Coudal Partners 2004 - rev. 2006 **/

a:link		{ color: #7e94ac; text-decoration: none; } /* #AC9E6D */

.headerlink {
	padding-top:8px;
    text-align: center;
    font-size:12px;
	font-family: sans-serif; Arial;
}

.accent 	{ color: #aaafb4; } /* #9F9264 */
.yellow 	{ color: #FFFF00; } 
.little	{ font-size: 13px; }

body 	{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		text-align: center;	
		background-color: #000; /* #19242A */
		background-image: url(i/bg6.gif);
		}
		
img.wrap	{
		display: block;
		border: 0;
		margin-right: 10px;
		}
		
	p 	{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 9px 0px;
		}
				
blockquote	{
		margin-top: 0px;
		margin-left: 14px;
		margin-right: 15px;
		margin-bottom: 0px;
		font-size: 13px;
		line-height: 16px;  
		}
				
	a			{ }
	a:visited	{ color: #a7b3c1; text-decoration: none;} 
	a:active	{ color: #8ea6c1; text-decoration: none;} 
	a:hover		{ color: #8ea6c1; text-decoration: underline;}
		
	img.wrap 	{
		display: block;
		border: 0;
		margin-right: 10px;
		margin-bottom: 6px;
		margin-top: 3px;
		}
				
	img.wraprt 	{
		display: block;
		border: 2px solid #333;
		margin-left: 5px;
		margin-bottom: 3px;
		margin-top: 3px;
		float:right;
		}			
				
	img.col		{
		display: block;
		border: 0;
		margin-left: 14px;
		}
				
	img.arc		{
		display: block;
		border: 0;
		margin-top: 11px;
		margin-bottom: 8px;
	}

/** Structural Elements **/
		
	#eyebrow	{
		position: relative;
		height: 22px;
		width: 715px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 12px;
		margin-bottom: 6px;
		border-bottom: 1px solid #333;
		}
				
	#eyetext	{
		position: absolute;
		width: 500px;
		left: 222px;
		top: 2px;
		text-align: right;
		font-family: arial;
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
		line-height: 14px;
		font-style: oblique;
		}
	
	#homeeyebrow	{
		position: relative;
		height: 15px;
		width: 732px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3px;
		margin-bottom: 7px;
		}
	#homeeyetext	{
		position: absolute;
		width: 500px;
		left: 222px;
		top: 4px;
		text-align: right;
		font-family: arial;
		color: #EEE;
		font-size: 13px;
		line-height: 18px;
		font-style: oblique;
		}
		
	#cover3	{
		
		height: 200px;
		width: 713px;
		margin-left: auto;
		margin-right: auto;
		}
    .fl_cover3_half {
        width: 400px;
        padding-left: 12px;
        padding-right: 13px;
        float: left;
    }
    .fl_cover3_half img {
        padding-top: 10px;
        padding-bottom: 4px;
    }
    .fl_cover3_half .headerlink a:link, 
    .fl_cover3_half .headerlink a:hover,
    .fl_cover3_half .headerlink a:visited,
    .fl_cover3_half .headerlink a:active {
        color: #e2042a;
    }
    .max_cover3_half {
        width: 239px;
        padding-left: 12px;
        padding-right: 13px;
        float: left;
    }
    .max_cover3_half .headerlink a:link, 
    .max_cover3_half .headerlink a:hover, 
    .max_cover3_half .headerlink a:visited, 
    .max_cover3_half .headerlink a:active {
        color: #56a0e2;
    }
	#cover3 .tag_line {
        font-size: 14px;
        font-family: Arial,sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.618ex;
        color: #fff;
    }			
	#cover3text	{
		font-family: helvetica, arial, verdana, sans-serif;
		position: absolute;
		width: 712px;
		top: 206px;
		color: #FFF;
		font-size: 11px;
		text-align: left;
		}
					
	#cover3hed	{
		font-family: helvetica, arial, verdana, sans-serif;
		position: absolute;
		width: 712px;
		top: 70px;
		left: 27px;
		color: #FFF;
		font-size: 34px;
		font-weight: bold;
		line-height: 35px;
		letter-spacing: -2px;
		text-align: left;
		}
	
	#inside3	{
		position: relative;
		padding-bottom: 12px;
		width: 712px;
		margin-left: auto;
		margin-right: auto;
		}
				
	#inside3text	{
		font-family: helvetica, arial, verdana, sans-serif;
		position: absolute;
		width: 712px;
		top: 59px;
		color: #fff;
		font-size: 11px;
		text-align: left;
		}
				
	#frame	{
		width: 732px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		border-top: 1px solid #333; /* #26363E */
		}
	
	#frontcoll 	{
		text-align: left;
		width: 255px;
		float: left;
		border-right: 1px solid #333;
		border-top: 1px solid #333;
		padding-bottom: 40px;
		}
					
	#frontcolr 		{
		text-align: left;
		width: 255px;
		float: left;
		border-top: 1px solid #333;
		padding-bottom: 40px;
		}
	
	#stdcol 		{
		text-align: left;
		width: 200px;
		float: left;
		border-right: 1px solid #333;
		padding-bottom: 40px;
		}
			
	#stdtext		{
		font-family: helvetica, arial, verdana, sans-serif;
		font-size: 13px;
		line-height: 17px;
		text-align: left;
		margin-top: 7px;
		margin-left: 10px;
		margin-right: 7px;
		color: #eee; /* #BFD0D8 */
		}
					
	#loginform	{
		width: 200;
		text-align: left;
		border-bottom: 1px solid #333;
		border-top: 1px solid #333;
		background-color: #1a1a1a;
		padding-bottom: 4px;
		}
					
	#loginformtext	{
		margin-left: 8px;
		padding: 6px 0px 0px 0px;
		font-family: helvetica, arial, verdana, sans-serif;
		color: #FFFF00;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		font-style: oblique;
		}
		#loginform input {
	background-color: #ccc;
}
			
	#twocol 		{
		width: 518px;
		float: left;
		padding-top: 9px;
		border-right: 1px solid #333;
		padding-bottom: 40px;
		}
			
	#twotext		{
		font-family: helvetica, arial, verdana, sans-serif;
		font-size: 21px;
		line-height: 25px;
		text-align: left;
		margin-left: 14px;
		margin-right: 35px; /********* 45px ***************/
		color: #fff;
		}
					
	#incol 		{
		width: 518px;
		float: left;
		border-right: 1px solid #333;
		padding-bottom: 40px;
		}
			
	#intext, #intextn	{
		font-family: helvetica, arial, verdana, sans-serif;
		margin-top: 25px;
		font-size: 15px;
		line-height: 22px;
		text-align: left;
		margin-left: 14px;
		margin-right: 45px;
		color: #fff;					
		}
				
	#intextn p	{
		font-size:90%;
		padding-top:5px;
}		
	#intextn p span	{
		color:#BFD0D8;
}
				
	#footer {
		position: relative;
		width: 732px;
		height: 120px;
		border-top: 1px solid #333;
		text-align: left;
		padding-top: 9px;
		margin-right:auto;
		margin-left:auto;
		text-align: center;
		clear: both;		
		}

	#callout 	{
		width: 220px;
		margin: 0px 0px 0px -14px;
		padding-top: 10px;
		padding-bottom: 3px;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		}	
					
	.motto	{
		font-family: helvetica, arial, verdana, sans-serif;
		text-transform: uppercase;
		margin: 0px 0px 2px 0px;
		font-size: 10px;
		line-height: 10px;
		letter-spacing: 2px;
		}
		
p.motto .accent {
	 color: #666;
}
			
	.tease	{
		font-family: helvetica, arial, verdana, sans-serif;
		color: #222;
		margin: 0px 0px 0px 0px;
		font-size: 11px;
		line-height: 15px;
		}
		
	.messages	{
		font-family: helvetica, arial, verdana, sans-serif;
		color: #AC9E6D;
		margin: 0px 0px 0px 0px;
		font-size: 12px;
		line-height: 15px;
		font-weight: bold;
		}
			 
	.tbcopy {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 13px;
		font-weight: normal;
		line-height: 15px;
		color: #FFFFFF;
		}

.smbluetxt	{
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #BFD0D8;					
			}
ol.ordered li {
	margin-bottom:7px;
	}
	
ul.ordered li {
	margin-bottom:7px;
	}
ul.squish {
	margin-top: 0;
	margin-bottom: 5px;
}
ul.smaller {
	font-size: 16px;
	line-height: 18px;
	margin-top: 8px;
}
/** Column Heds **/	
	
	h1	{
		font-family: helvetica, arial, verdana, sans-serif;
		color: #FFF;
		font-size: 13px;
		font-weight: bold;
		line-height: 15px;
		font-style: oblique;
		margin: 0px 0px 0px 0px;
		padding: 11px 0px 5px 0px;
		}
		
/** Teases **/

	h2	{
		font-family: helvetica, arial, verdana, sans-serif;
		color: #FFF;
		font-size: 18px;
		line-height: 20px;
		font-style: italic;
		}

/** Teases **/

	h3	{
		font-family: helvetica, arial, verdana, sans-serif;
		color: #b81400;
		margin: 0px 0px 7px 0px;
		font-size: 23px;
		line-height: 26px;
		letter-spacing: -1px;
		}
	

h4 {
		font-family: helvetica, arial, verdana, sans-serif;
		color: #ccc;
		margin: 8px 0px 7px 0px;
		font-size: 20px;
		line-height: 22px;
		font-weight: normal;
		font-style: italic;
		}
		
h5 {
		font-family: helvetica, arial, verdana, sans-serif;
		color: #fff;
		margin: 8px 0px 6px 0px;
		font-size: 16px;
		line-height: 20px;
		}
		
.rightColumn h3 { font-size:1.1em; text-transform:uppercase; margin-bottom:0; }
		
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */


/** Science of Winning article **/
#article {
	padding-top: 20px;
}
#article p {
	font-size: 16px;
	line-height: 21px;
}
#article p.byline {
	color: #999;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
}
#article #factbox {
	border-top: 3px solid #666;
	border-bottom: 3px solid #666;
	padding: 12px 12px 5px 12px;
	margin: 10px 0px 10px 0;
}
#article #factbox p {
	color: #eee;
	font-size: 14px;
	line-height: 16px;
}
#article #factbox span {
	color: #d61700;
	font-weight: bold;
}
#article #factbox strong {
	font-style: italic;
}

#article #attrib p {
	font-size: 12px;
	line-height: 15px;
	color: #ccc;
}
#article #attrib {
	padding-top: 10px;
	border-top: 1px solid #b81400;
}
#article #sidebar {
	float: right;
	width: 250px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#article #sidebar p.caption {
	font-size: 13px;
	line-height: 16px;
	color: #ccc;
	font-style: italic;
	text-align: right;
}
#article #sidebar img {
	padding: 0 0 8px 0;
}
#article p.download {
	font-size: 14px;
	margin-top: 13px;
}
#article a, #article a:link {
	text-decoration: underline;
	color: #999;
}
#article a:hover {
	color: #b81400;
}
#readmore {
	display: none;
}
/** Numbers Banner **/
.testimonial		{
		font-family: helvetica, arial, verdana, sans-serif;
		font-size: 13px;
		line-height: 17px;
		text-align: left;
		margin-left: 14px;
		margin-right: 20px;
		color: #eee;
		margin-bottom: 5px;
		margin-top: 5px;
		padding-bottom: 10px;
		border-bottom:1px dotted #525252;
		}	
div#numbers {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size:20px;
	line-height:25px;
	color: #FFF;
	text-align: left;
	border: 1px solid #24333B;
	padding: 8px 15px 2px 18px;
	margin-left:14px;
	margin-right:14px;
	margin-top:15px;
	background-color: #19242A;
}
.numbershead {
	letter-spacing: 0px;
	font-size:115%;
	line-height:90%;
	font-weight: bold;
	color:#c80209;
	margin-top: 2px; 
}
.numberssub {
	color:#FFF;
	font-size:75%;
	line-height:110%;
	margin-top: 0px;
}
#numbers a:link {
	font-size: 12px;
	line-height: 14px;
}
.numberstxt {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 13px;
	line-height: 19px;
	text-align: left;
	color: #eee;
	font-weight: normal;				
}
.vidlink {
	/*float: right;*/
	margin: 10px 15px 10px 162px;
}
.vidlink a:link,
.vidlink a:hover,
.vidlink a:active,
.vidlink a:visited {
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #999;
	letter-spacing: 1px;
	text-decoration: none;
}

.vidlink a:hover {
	text-decoration: underline;
	color: #fff;
}
/** end Numbers styles **/

/** testimonial styles **/

.testimonial em {
	color: #ffffa4;
}
/**
 .testimonial img {
	float:left;
	margin: 2px 11px 5px 0;
	padding-top:15px;
}
**/

.disclaim {
	font-size: 12px;
	color: #CCC;
	font-style: italic;
	text-align: left;
	padding-top: 5px;
	margin-left: 15px;
}
.dealerhead {
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight:bold;
	font-size: 18px;
	color: #46668a;
	text-align: left;
	border-bottom:1px solid #46668a;
	margin:0 13px 8px 13px;
}

.showme {
	font-family:Helvetica; 
	font-weight:bold;
	font-size:11px; 
	color:#FFF; 
	letter-spacing:1px;
	text-transform: uppercase;
	padding-bottom:0px;
	padding-top:8px;
	text-align:center;
}
.chart {
	/** set height inline **/
	width:165px;
	margin-bottom:5px;
}
.quote {
	
	font-size: 15px;
	line-height:18px;
	color:#eee;
	margin:0 2px 0 2px;
	padding-top: 5px;
}


/** end testimonial styles **/

/** start handheld styles **/
.leasing {
	background: #2c374b;
	padding:2px 2px 2px 6px;
	font-size:90%;
	margin:0 50px 10px 0;
	border: 1px solid #464e5c;
}

.leasing .options {
	padding-bottom:2px;
	font-style:italic;
	color:#ccc;
}
.options img {
	padding:0 0 1px 3px;
}
.leasing .options2 {
	font-size:14px;
	padding-bottom:2px;
	padding-left:16px;
}

/** end handheld styles **/

.upgrade {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 13px;
	text-align: center;
	margin-top: 125px;
	color: #CCC;
}

#holderhome	{
	width: 715px;
	text-align: center;
	margin: 5px auto;
	padding-bottom: 4px;
	border-bottom: 1px solid #333;
}

#navcontainer ul {
 	padding: 0;
 	margin: 0;
 	background-color: #19242A;
 	color: #AC9E6D;
 	font-family: arial, helvetica, sans-serif;
 	font-size: 12px;
 	line-height: 13px;
 }

#navcontainer ul li { display: inline; }


 #navcontainer ul li a	{
 	padding: 0.3em 1em 0.2em 1em;
 	background-color: #1a1a1a;
 	color: #eee; /* #AC9E6D */
 	text-decoration: none;
 	float: left;
 	border-right: 1px solid #333;
 }

 #navcontainer a:active	{
 	background: #46668a; /* #507080 */
 	color: #eee;
 }

 #navcontainer li#active a	{
 	background: #39526f url(i/bg8.jpg) bottom left repeat-x;
 	color: #eee;
 }
  
 #navcontainer ul li a:hover	{
 	background-color: #000; /* background-image: url(i/bg5.gif) */
 	color: #aaafb4;
}


/*********** extra classes **************/
.aceimg {
	float:left;
	margin:6px 0 4px 0;
	padding-top:0px;
}
.sideh1 {
	padding:0;
	margin:6px 0 6px 0;
}
.sideh4 {
	font-size:15px;
	line-height:18px;
	letter-spacing:0;
	margin:0 0 2px 0;
}
.submitbtn {
	float:right;
	margin-right:10px;
}
.dynsub {
	text-transform: uppercase;
	color: #FFFF00;
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
	font-style: oblique;
	clear: both;
	margin-bottom: 0;
	padding-bottom: 0;
}
.logintitle {
	padding-left: 62px;
	line-height: 17px;
}
h4.mainpoint {
	margin-top:0;
	padding-top:5px;
	margin-bottom: 2px;
	padding-bottom: 0;
	border-top: 1px solid #333;
	background:url(i/bullet_arrow.gif) 6px 10px no-repeat;
	padding-left:20px;
	cursor: pointer;
}
p.pointsubhead {
	padding:6px 0 4px 0;
	font-size:15px;
	font-weight: bold;
}
.hover {
	cursor: pointer;
	background: #252525 url(i/hoverbg.gif) bottom left repeat-x;
}
#pointone, #pointtwo, #pointthree, #pointfour {
	margin-right:-26px;
	padding:0 6px 6px 6px;
}
#pointone p, #pointtwo p, #pointthree p, #pointfour p {
	color: #ccc;
	margin-left: 20px;
}
.imgright {
	float:right;
	padding-left:5px;
	border: 0;
}
.imgleft {
	float:left;
	margin-right:9px;
	margin-top:3px;
	border: 0;
}

a.facebook { background:url( i/sprite_SocialMediaIcons.png ) no-repeat scroll 0 -29px transparent; margin-top:0.5em; display:inline-block; height:29px; width:29px; }
a.twitter { background:url( i/sprite_SocialMediaIcons.png ) no-repeat scroll 0 0 transparent; margin-top:0.5em; display:inline-block; height:29px; width:29px; }
a.facebook span, a.twitter span { display:none; }

/******** home specific styles ********/
#home #twocol { padding-top:0px; }
#home #stdtext { margin-left:0px; }
#home ul.squish li { margin-left:107px; }
.sublarge { font-size:16px;line-height:19px; }
.submed { font-size:14px; }
.user, .pwd { color:#ffffff;font-size:11px; }
.pwd { padding-bottom:5px; }
.help { font-weight:normal;font-style:normal;font-size:12px; }
.goto { font-style:normal;font-weight:normal;margin:0;padding:0 0 4px 0;font-size:11px;line-height:11px; }

.globalmessage { border-width: 1px; border-style: solid; border-top: 0; border-left: 0; border-right: 0;  }
.globalmessage p { font-family: Arial, sans-serif; font-size: 12px; text-align: left; margin: 0 auto; width: 946px; padding:10px 0 10px 44px; font-weight:bold; line-height:16px; position: relative; }

.globalmessage.error { background:#ffe5e5; border-color: #e56767; color:#bf0000; }
.globalmessage.error p {  background: url(i/sprite_MessageIcons.png) no-repeat scroll 10px -116px; }

.globalmessage.warning { background:#ffffcc; border-color: #e5b27e; color:#bf6000; }
.globalmessage.warning p { background: url(i/sprite_MessageIcons.png) no-repeat scroll 10px -52px; }

.globalmessage.info { background:#e3ebfa; border-color: #9fb5e0; color:#365DAD; }
.globalmessage.info p { background: url(i/sprite_MessageIcons.png) no-repeat scroll 10px 10px; }

.globalmessage.credential { position: fixed; z-index: 1000; width: 100%;}