<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="ConditionSettings.ascx.cs" Inherits="Wanamaker.WebApp.CustomizeMAX.Controls.ConditionSettings" %>
<%@ Register TagPrefix="carbuilder" TagName="BusinessUnitUserControl" Src="~/Controls/BusinessUnitUserControl.ascx"  %>


  <asp:SqlDataSource ID="ExcellentAdjectivesDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>"
            DeleteCommand="DELETE FROM builder.VehicleConditionAdjectives WHERE conditionId = @ConditionId"
            InsertCommand="INSERT INTO builder.VehicleConditionAdjectives (ConditionDescription, ConditionLevel, businessUnitID) VALUES (@ConditionDescription, @ConditionLevel, @BusinessUnitID)"
            SelectCommand="SELECT conditionId, ConditionDescription from builder.VehicleConditionAdjectives WHERE conditionLevel = 1 AND businessUnitID = @BusinessUnitID"
            UpdateCommand="UPDATE builder.VehicleConditionAdjectives SET ConditionDescription = @ConditionDescription WHERE conditionId = @ConditionId"
    
            OnSelecting="Adjectives_Selecting"
            OnInserting="ExcellentAdjectives_Inserting"
            >
            <DeleteParameters>
                <asp:Parameter Name="ConditionId" Type="Int32" />
            </DeleteParameters>
            <UpdateParameters>
                <asp:Parameter Name="ConditionDescription" Type="String" />
                <asp:Parameter Name="ConditionId" Type="Int32" />
            </UpdateParameters>
            <SelectParameters>
                <asp:Parameter Name="BusinessUnitID" Type="Int32" />
            </SelectParameters>
            <InsertParameters>
                <asp:Parameter Name="ConditionDescription" Type="String" DefaultValue="" />
                <asp:Parameter Name="ConditionLevel" Type="Int32" DefaultValue="1" />
                <asp:Parameter Name="BusinessUnitID" Type="Int32" DefaultValue="100150" />
            </InsertParameters>
        </asp:SqlDataSource>
        <h2>Customize Vehicle Condition Adjectives</h2>
        
        <div class="ConditionsSettings">
        <h3>Excellent Condition</h3>
        <p>These describe vehicles you would advertise as essentially spotless</p>
        <asp:TextBox ID="NewExcellentConditionDescription" runat="server" Text="" ></asp:TextBox>
        <asp:RequiredFieldValidator ID="NewExcellentConditionValidator" runat="server" ControlToValidate="NewExcellentConditionDescription"
              Display="None" ErrorMessage="Excellent Condition" ValidationGroup="NewExcellentConditionValidation"></asp:RequiredFieldValidator>
        <asp:ValidationSummary ID="NewExcellentConditionValidationSummary" DisplayMode="SingleParagraph" runat="server" HeaderText="You must enter a value in the following fields:" ShowMessageBox="true"
              ShowSummary="false" ValidationGroup="NewExcellentConditionValidation" />
        <asp:Button ID="InsertButton" runat="server" OnClick="InsertNew_Click" ValidationGroup="NewExcellentConditionValidation" CausesValidation="true" CommandArgument="Excellent" Text="New" />
        <asp:GridView ID="ExcellentAdjectivesGV" runat="server" DataSourceID="ExcellentAdjectivesDS" AutoGenerateColumns="False" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" ShowFooter="False"
        DataKeyNames="ConditionId">
            <Columns>
                <asp:TemplateField HeaderText="Descriptions">
                    <ItemTemplate>
                        <asp:Label ID="ConditionDescription" runat="server" Text='<%# Bind("ConditionDescription") %>' ></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        
                        <asp:TextBox ID="ConditionDescription" runat="server" Text='<%# Bind("ConditionDescription") %>' ></asp:TextBox>
                    </EditItemTemplate>
                </asp:TemplateField>
                
            </Columns>
            <EmptyDataTemplate>
            </EmptyDataTemplate>
            <AlternatingRowStyle BackColor="#f4f4f4" />
            
        </asp:GridView>
            
    </div>
    
        <asp:SqlDataSource ID="GoodAdjectivesDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>"
            DeleteCommand="DELETE FROM builder.VehicleConditionAdjectives WHERE conditionId = @ConditionId"
            InsertCommand="INSERT INTO builder.VehicleConditionAdjectives (ConditionDescription, ConditionLevel, businessUnitID) VALUES (@ConditionDescription, @ConditionLevel, @BusinessUnitID)"
            SelectCommand="SELECT conditionId, ConditionDescription from builder.VehicleConditionAdjectives WHERE conditionLevel = 2 AND businessUnitID = @BusinessUnitID"
            UpdateCommand="UPDATE builder.VehicleConditionAdjectives SET ConditionDescription = @ConditionDescription WHERE conditionId = @ConditionId"
            
            OnSelecting="Adjectives_Selecting"
            OnInserting="GoodAdjectives_Inserting"
            >
            <DeleteParameters>
                <asp:Parameter Name="ConditionId" Type="Int32" />
            </DeleteParameters>
            <UpdateParameters>
                <asp:Parameter Name="ConditionDescription" Type="String" />
                <asp:Parameter Name="ConditionId" Type="Int32" />
            </UpdateParameters>
            <SelectParameters>
                <asp:Parameter Name="BusinessUnitID" Type="Int32" />
            </SelectParameters>
            <InsertParameters>
                <asp:Parameter Name="ConditionDescription" Type="String" DefaultValue="" />
                <asp:Parameter Name="ConditionLevel" Type="Int32" DefaultValue="2" />
                <asp:Parameter Name="BusinessUnitID" Type="Int32" DefaultValue="100150" />
            </InsertParameters>
        </asp:SqlDataSource>
        <div class="ConditionsSettings">
        <h3>Good Condition</h3>
        <p>These describe vehicles that may not be spotless but are generally clean</p>
        <asp:TextBox ID="NewGoodConditionDescription" runat="server" Text="" ></asp:TextBox>
        <asp:Button ID="Button1" runat="server" OnClick="InsertNew_Click" CausesValidation="true" ValidationGroup="NewGoodConditionValidation" CommandArgument="Good" Text="New" />
        <asp:RequiredFieldValidator ID="NewGoodDescriptionValidator" runat="server" ControlToValidate="NewGoodConditionDescription" Display="None" ErrorMessage="Good Condition" ValidationGroup="NewGoodConditionValidation">*</asp:RequiredFieldValidator>
        <asp:ValidationSummary ID="NewGoodConditionValidationSummary" DisplayMode="SingleParagraph" runat="server" HeaderText="You must enter a value in the following fields:" ShowMessageBox="true"
              ShowSummary="false" ValidationGroup="NewGoodConditionValidation" />
        <asp:GridView ID="GoodAdjectivesGV" runat="server" DataSourceID="GoodAdjectivesDS" 
        AutoGenerateColumns="False" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" 
        ShowFooter="False" DataKeyNames="ConditionId">
            <Columns>
                <asp:TemplateField HeaderText="Descriptions">
                    <ItemTemplate>
                        <asp:Label ID="ConditionDescription" runat="server" Text='<%# Bind("ConditionDescription") %>' ></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        
                        <asp:TextBox ID="ConditionDescription" runat="server" Text='<%# Bind("ConditionDescription") %>' ></asp:TextBox>
                    </EditItemTemplate>
                </asp:TemplateField>
                
            </Columns>
            <EmptyDataTemplate>
            </EmptyDataTemplate>
            <AlternatingRowStyle BackColor="#f4f4f4" />
            
        </asp:GridView>
         
    </div>
       <asp:SqlDataSource ID="DependableAdjectivesDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>"
            DeleteCommand="DELETE FROM builder.VehicleConditionAdjectives WHERE conditionId = @ConditionId"
            InsertCommand="INSERT INTO builder.VehicleConditionAdjectives (ConditionDescription, ConditionLevel, businessUnitID) VALUES (@ConditionDescription, @ConditionLevel, @BusinessUnitID)"
            SelectCommand="SELECT conditionId, ConditionDescription from builder.VehicleConditionAdjectives WHERE conditionLevel = 3 AND businessUnitID = @BusinessUnitID"
            UpdateCommand="UPDATE builder.VehicleConditionAdjectives SET ConditionDescription = @ConditionDescription WHERE conditionId = @ConditionId"
            
            OnSelecting="Adjectives_Selecting"
            OnInserting="DependableAdjectives_Inserting"
            >
            <DeleteParameters>
                <asp:Parameter Name="ConditionId" Type="Int32" />
            </DeleteParameters>
            <UpdateParameters>
                <asp:Parameter Name="ConditionDescription" Type="String" />
                <asp:Parameter Name="ConditionId" Type="Int32" />
            </UpdateParameters>
            <SelectParameters>
                <asp:Parameter Name="BusinessUnitID" Type="Int32" />
            </SelectParameters>
            <InsertParameters>
                <asp:Parameter Name="ConditionDescription" Type="String" DefaultValue="" />
                <asp:Parameter Name="ConditionLevel" Type="Int32" DefaultValue="3" />
                <asp:Parameter Name="BusinessUnitID" Type="Int32" DefaultValue="100150" />
            </InsertParameters>
        </asp:SqlDataSource>
        <div class="ConditionsSettings last">
        <h3>Dependable Condition</h3>
        <p>These describe vehicles that run well, but that you would not advertise as spotless or even generally clean</p>
        <asp:TextBox ID="NewDependableConditionDescription" runat="server" Text="" ></asp:TextBox>
        <asp:RequiredFieldValidator ID="NewDependalbeConditionValidator" runat="server" ControlToValidate="NewDependableConditionDescription"
              Display="None" ErrorMessage="Dependable Condition" ValidationGroup="NewDependableConditionValidation"></asp:RequiredFieldValidator>
        <asp:Button ID="Button2" runat="server" OnClick="InsertNew_Click" CausesValidation="true" ValidationGroup="NewDependableConditionValidation" CommandArgument="Dependable" Text="New" />
        <asp:ValidationSummary ID="NewDependableConditionValidationSummary" DisplayMode="SingleParagraph" runat="server" HeaderText="You must enter a value in the following fields:" ShowMessageBox="true"
              ShowSummary="false" ValidationGroup="NewDependableConditionValidation" />
        <asp:GridView ID="DependableAdjectivesGV" runat="server" DataSourceID="DependableAdjectivesDS" 
        AutoGenerateColumns="False" AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" 
        ShowFooter="False" DataKeyNames="ConditionId">
            <Columns>
                <asp:TemplateField HeaderText="Descriptions">
                    <ItemTemplate>
                        <asp:Label ID="ConditionDescription" runat="server" Text='<%# Bind("ConditionDescription") %>' ></asp:Label>
                    </ItemTemplate>
                    <EditItemTemplate>
                        
                        <asp:TextBox ID="ConditionDescription" runat="server" Text='<%# Bind("ConditionDescription") %>' ></asp:TextBox>
                    </EditItemTemplate>
                </asp:TemplateField>
                
            </Columns>
            <EmptyDataTemplate>
            </EmptyDataTemplate>
            <AlternatingRowStyle BackColor="#f4f4f4" />
            
        </asp:GridView>
           
  
    </div>
