<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="SpecialsEditor.ascx.cs" Inherits="Wanamaker.WebApp.CustomizeMAX.Controls.SpecialsEditor" %>
<asp:SqlDataSource ID="AllSpecials" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>" SelectCommand="SELECT specialId, title as specialTitle, expiresOn FROM builder.FinancingSpecials WHERE ownerEntityId = @OwnerEntityId AND ownerEntityTypeId = @OwnerEntityTypeId AND (expiresOn IS NULL OR expiresOn > getDate()) ORDER By expiresOn DESC"
    OnSelecting="Specials_Selecting">
    <SelectParameters>
        <asp:Parameter Name="OwnerEntityId" Type="Int32" />
        <asp:Parameter Name="OwnerEntityTypeId" Type="Int32" />
    </SelectParameters>
</asp:SqlDataSource>
<asp:SqlDataSource ID="ValidSpecials" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>" SelectCommand="builder.FinancingSpecials#Fetch"
    SelectCommandType="StoredProcedure" OnSelecting="Specials_Selecting">
    <SelectParameters>
        <asp:Parameter Name="OwnerEntityId" Type="Int32" />
        <asp:Parameter Name="OwnerEntityTypeId" Type="Int32" />
    </SelectParameters>
</asp:SqlDataSource>
<asp:SqlDataSource ID="SpecialsDS" runat="server" ConnectionString="<%$ ConnectionStrings:Merchandising %>" InsertCommandType="StoredProcedure"
    SelectCommandType="StoredProcedure" UpdateCommandType="StoredProcedure" InsertCommand="builder.FinancingSpecial#Create"
    SelectCommand="builder.FinancingSpecial#Fetch" UpdateCommand="builder.FinancingSpecial#Update" DeleteCommand="DELETE FROM builder.FinancingSpecials WHERE specialID = @SpecialID"
    OnInserting="Specials_InsertingUpdating" OnUpdating="Specials_InsertingUpdating" OnInserted="Specials_Inserted" OnDeleted="Special_Deleted">
    <UpdateParameters>
        <asp:Parameter Name="OwnerEntityId" Type="Int32" />
        <asp:Parameter Name="OwnerEntityTypeId" Type="Int32" />
        <asp:Parameter Name="SpecialTitle" Type="String" />
        <asp:Parameter Name="Description" Type="String" />
        <asp:Parameter Name="ExpiresOn" Type="DateTime" />
        <asp:Parameter Name="OnlyCertifieds" Type="Int32" />
        <asp:Parameter Name="VehicleProfileId" Type="Int32" />
    </UpdateParameters>
    <SelectParameters>
        <asp:ControlParameter ControlID="SpecialDDL" Name="SpecialId" PropertyName="SelectedValue" DefaultValue="0" Type="Int32" />
    </SelectParameters>
    <InsertParameters>
        <asp:Parameter Name="OwnerEntityId" Type="Int32" />
        <asp:Parameter Name="OwnerEntityTypeId" Type="Int32" />
        <asp:Parameter Name="SpecialTitle" Type="String" />
        <asp:Parameter Name="Description" Type="String" />
        <asp:Parameter Name="ExpiresOn" Type="DateTime" ConvertEmptyStringToNull="true" />
        <asp:Parameter Name="OnlyCertifieds" Type="Int32" />
        <asp:Parameter Name="VehicleProfileId" Type="Int32" />
    </InsertParameters>
    <DeleteParameters>
    </DeleteParameters>
</asp:SqlDataSource>
<h3>
    Special:
    <asp:DropDownList ID="SpecialDDL" DataValueField="specialId" DataTextField="specialTitle" DataSourceID="AllSpecials" runat="server"
        AutoPostBack="true" OnSelectedIndexChanged="Special_Changed">
    </asp:DropDownList>
    <asp:Button ID="CreateNew" runat="server" Text="Create New" OnClick="CreateNew_Click" />
</h3>
<asp:DetailsView CssClass="Specials" ID="SpecialsDV" runat="server" DataSourceID="SpecialsDS" DefaultMode="ReadOnly" AutoGenerateInsertButton="true"
    AutoGenerateEditButton="true" AutoGenerateDeleteButton="true" GridLines="None" BorderStyle="None" DataKeyNames="SpecialID"
    AutoGenerateRows="false" OnDataBinding="SpecialsDV_Binding" OnDataBound="SpecialsDV_Bound" FieldHeaderStyle-CssClass="DetailHeader">
    <HeaderTemplate>
    </HeaderTemplate>
    <EmptyDataTemplate>
        No specials on record. Click Above to Begin Creating Financing Specials for Your Ads
    </EmptyDataTemplate>
    <Fields>
        <asp:TemplateField HeaderText="Title">
            <ItemTemplate>
                <asp:Label ID="titleText" runat="server" Text='<%# Bind("specialTitle") %>' />
            </ItemTemplate>
            <EditItemTemplate>
                <asp:TextBox ID="titleText" runat="server" Text='<%# Bind("specialTitle") %>' Width="300px"></asp:TextBox>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="Title Required" ControlToValidate="titleText"></asp:RequiredFieldValidator>
            </EditItemTemplate>
        </asp:TemplateField>
        <asp:TemplateField HeaderText="Special Description">
            <ItemTemplate>
                <asp:Label ID="description" runat="server" Text='<%# Bind("description") %>' />
            </ItemTemplate>
            <EditItemTemplate>
                <asp:TextBox ID="description" runat="server" Text='<%# Bind("description") %>' TextMode="MultiLine" Width="300px" Height="200px"></asp:TextBox>
                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Special Text Required" ControlToValidate="description"></asp:RequiredFieldValidator>
            </EditItemTemplate>
        </asp:TemplateField>
        <asp:BoundField DataField="expiresOn" HeaderText="Expiration Date" />
        <asp:CheckBoxField DataField="OnlyCertifieds" HeaderText="Certified Special?" />
        <asp:TemplateField HeaderText="Vehicle Profile">
            <EditItemTemplate>
                <asp:DropDownList ID="ProfileDDL" runat="server" DataSourceID="VehicleProfileDS" OnDataBound="ProfileDDL_Bound" DataValueField="vehicleProfileId"
                    DataTextField="title">
                </asp:DropDownList>
            </EditItemTemplate>
            <ItemTemplate>
                <asp:Label ID="ProfileLbl" runat="server" Text='<%# Eval("title") %>'></asp:Label>
            </ItemTemplate>
        </asp:TemplateField>
    </Fields>
</asp:DetailsView>
<asp:SqlDataSource ID="VehicleProfileDS" runat="server" ConnectionString='<%$ ConnectionStrings:Merchandising %>' SelectCommand="Select vehicleProfileId, [title] FROM templates.vehicleProfiles WHERE businessUnitId = @BusinessUnitId OR businessUnitId = 100150"
    OnSelecting="Profiles_Selecting">
    <SelectParameters>
        <asp:Parameter Name="BusinessUnitId" DefaultValue="100150" Type="Int32" />
    </SelectParameters>
</asp:SqlDataSource>
