﻿@model FirstLook.Merchandising.DomainModel.Reports.DashboardViewModels.DashboardModel
@{
    Layout = "../Shared/_Layout.cshtml";

    ViewBag.Title = "Dashboard | MAX : Intelligent Online Advertising Systems";
    ViewBag.ieViewDoc = "edge";
}
<input type="hidden" id="BusinessUnitIdHidden" value="@Model.BusinessUnit.BusinessUnitId" />
<input type="hidden" id="HasAnalyticsSuite" value="@Model.HasAnalyticsSuite" />

<div id="groupMenu" class="linkListBox freshPanel navList">
    <h2>Select Dealer</h2>
    <input type="text" placeholder="Filter" class="filter textFilter-input" />
    <div id="groupListContainer"></div>
    <script id="groupMenuLinks" type="text/x-jquery-tmpl">
        <li class="textFilter-target"><strong>${Name}</strong></li>
        {{each BusinessUnits}}
        <li class="textFilter-target"><a href="${Link}" class="textFilter-match">${Name}</a></li>
        {{/each}}
    </script>
</div>

@* These images are needed to start the tomcat session in NextGen and IMT *@
<div id="tomcatSessionImages">
    <img alt="" height="1" width="1" src='/NextGen/common/_images/d.gif?@DateTime.Now.ToString("yyyyMMddhhmmss")' style="visibility: hidden;" />
    <img alt="" height="1" width="1" src='/IMT/common/_images/d.gif?@DateTime.Now.ToString("yyyyMMddhhmmss")' style="visibility: hidden;" />
</div>

@* TODO : the style of the drop down is getting messed up in case of error *@
<div id="InventoryType">
    @using (Html.BeginForm("ChangeInventoryTypeFilter", "Home"))
    {
        @Html.DropDownListFor(
        x => x.SelectedUsedNewFilter,
                Model.UsedNewFilters, new { @id = "InventoryTypeDDL", onchange = "_gaq.push(['_trackEvent', 'Dashboard', 'Change', 'Inventory Type']);this.form.submit();" });
    }
</div>

<div id="Gauges" class="clearfix">
    <a href='@Model.NotOnlineUrl' onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Not Online Gauge']);" id="NotOnline" class="loading">
        <span class="gauge">&nbsp;</span>
        <span class="foreground">
            <span class="percentage">@* Populated by JavaScript *@</span>
            <span class="label">Not Online</span>
            <span class="count">@* Populated by JavaScript *@</span>
        </span>
    </a>
    
    <div id="WebsitePerformance" class="chart_container clearfix freshPanel linkListBox">            
        <div class="chart-subheader clearfix">
            <div class="chart-title clearfix">
                <span class="chart_toggle">
                    <h1>Digital Performance Analytics</h1>
                    <span class="toggle"></span>
                </span>
            </div>
            <div class="chart-controls">
                <script id="perfDataDateSelect" type="text/x-jquery-tmpl">                    
                    <option value="${dateValue}"{{if dateValue===defaultSelectedDate}} selected="selected"{{/if}}>
                        ${dateName.substring(0,3)} ${dateYear}
                    </option>
                </script>
                <div>
                    <span>From</span>
                    <select id="startDate"></select>
                </div>
                <div>
                    <span>To</span>
                    <select id="endDate"></select>
                </div>
            </div>
        </div>

        
        <div id="chart_stats" class="clearfix chart-data chart-container" style="display: none;">
            <div class="clearfix">
                <div id="chart_stats_searches"></div>
                <div id="chart_stats_pages"></div>
                <div id="chart_stats_actions"></div>
            </div>
            <div class="chart-footer clearfix vendor-conversion-stats"></div>
            <script id="vendorConversionStats" type="text/x-jquery-tmpl">
                <div class="stats">
                    <h5>Click-Thru Rate</h5>
                    {{each Sites}}
                        {{if $value.ShowAdvertisingEffectiveness}}
                        <span>${SiteName}: ${ClickThroughRate}%</span>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="stats">
                    <h5>Conversion Rate</h5>
                    {{each Sites}}
                        {{if $value.ShowAdvertisingEffectiveness}}
                        <span>${SiteName}: ${ConversionRate}%</span>
                        {{/if}}
                    {{/each}}
                </div>
            </script>
            <div class="loading"></div>
            <div class="error"></div>
        </div>

        <div id="chart_tabs" class="tabs">
            <ul id="chart_select">
                <li><a href="#tab_perf">Online Classified Performance</a></li>
                <li><a href="#tab_trends">Trends</a></li>
                <li><a href="#tab_ga">Website Traffic</a></li>
                <li><a href="#tab_ttm">Time to Market</a></li>
            </ul>
            <div id="tab_perf" class="chart-data">
                <div class="tabs level_2_tabs">
                    <ul>
                        <li><a href="#tab_impression">Cost Per Consumer (VDP) Impression</a></li>
                        <li><a href="#tab_lead">Cost Per Direct Lead</a></li>
                    </ul>
                    <div id="tab_impression" class="chart-container">
                        <div class="bg">
                            <div class="clearfix">
                                <div id="chart_cv_chart"></div>
                                <div id="chart_cpv_wrapper">
                                    <div id="chart_cpv_chart"></div>
                                </div>
                            </div>
                            <div class="chart-footer vendor-budgets"></div>
                            <script id="vendorBudgets" type="text/x-jquery-tmpl">
                                <ul class="chart-costs clearfix">
                                    <li class="tag wider"><span class="cramped">Avg Monthly</span><br /><span class="enlarged">Cost</span><span class="pointer"></span></li>
                                    {{each site}}
                                    <li><span class="vendor">${SiteName}</span> {{if Budget}}${"$"+Highcharts.numberFormat(Budget,0)}{{else}}<a href="${BudgetLink}" class="missing-budget">set monthly cost</a>{{/if}}</li>
                                    {{/each}}
                                </ul>
                            </script>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>              
                    <div id="tab_lead" class="chart-data chart-container">
                        <div class="bg">
                            <div class="clearfix">
                                <div id="chart_act_chart"></div>
                                <div id="chart_cpa_wrapper">
                                    <div id="chart_cpa_chart"></div>
                                </div>
                            </div>

                            <div class="data-options clearfix" id="lead_choices">
                                <div class="lead-types direct">
                                    <span class="type">Direct Leads</span>
                                    <label><input type="checkbox" name="EmailValue" id="leadEmail" checked="checked" />&nbsp;Email</label>
                                    <label><input type="checkbox" name="PhoneValue" id="leadPhone" checked="checked" />&nbsp;Phone</label>
                                    <label><input type="checkbox" name="ChatValue" id="leadChat" />&nbsp;Chat</label>
                                </div>
                            </div>

                            <div class="chart-footer vendor-budgets"></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                </div>
            </div>
            <div id="tab_trends" class="chart-data">
                <div class="tabs level_2_tabs">
                    <ul>
                        <li><a href="#tab_vdp_trend">Consumer (VDP)<br>Impressions</a></li>
                        <li><a href="#tab_costper_vdp_trend">Cost per Consumer (VDP)<br>Impression</a></li>
                        <li><a href="#tab_lead_trend">Direct<br>Leads</a></li>
                        <li><a href="#tab_costper_lead_trends">Cost per Direct<br>Lead</a></li>
                    </ul>
                    <div id="tab_vdp_trend" class="chart-data chart-container">
                        <div class="bg">
                            <div id="chart_vdpt_chart" class="chart-render"></div>
                        </div>
                        <div class="detaillinks">
                            <a href="#" id="vdp_trend_details">View Details</a>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <div id="tab_costper_vdp_trend" class="chart-data chart-container">
                        <div class="bg">
                            <div id="chart_costper_vdp_trend" class="chart-render"></div>
                        </div>
                        <div class="detaillinks">
                            <a href="#" id="costper_vdp_trend_details">View Details</a>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <div id="tab_lead_trend" class="chart-data chart-container">
                        <div class="bg">
                            <div id="chart_lead_trend" class="chart-render"></div>

                            <div class="data-options clearfix" id="trends_lead_choices">
                                <div class="lead-types direct">
                                    <span class="type">Direct Leads</span>
                                    <label><input type="checkbox" name="EmailValue" id="trends_leadEmail" checked="checked" />&nbsp;Email</label>
                                    <label><input type="checkbox" name="PhoneValue" id="trends_leadPhone" checked="checked" />&nbsp;Phone</label>
                                    <label><input type="checkbox" name="ChatValue" id="trends_leadChat" />&nbsp;Chat</label>
                                </div>
                                <div class="detaillinks">
                                    <a href="#" id="lead_trend_details">View Details</a>
                                </div>
                           </div>

                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <div id="tab_costper_lead_trends" class="chart-data chart-container">
                        <div class="bg">
                            <div id="chart_costper_lead_trends" class="chart-render"></div>

                            <div class="data-options clearfix" id="costper_lead_trends_choices">
                                <div class="lead-types direct">
                                    <span class="type">Direct Leads</span>
                                    <label><input type="checkbox" name="EmailValue" id="costper_trends_leadEmail" checked="checked" />&nbsp;Email</label>
                                    <label><input type="checkbox" name="PhoneValue" id="costper_trends_leadPhone" checked="checked" />&nbsp;Phone</label>
                                    <label><input type="checkbox" name="ChatValue" id="costper_trends_leadChat" />&nbsp;Chat</label>
                                </div>
                                <div class="detaillinks">
                                    <a href="#" id="costper_lead_trends_details">View Details</a>
                                </div>
                           </div>

                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <div id="trends_pseudotips"></div>
                </div>
            </div>
            <div id="tab_ga" class="chart-data clearfix">
                <div class="tabs level_2_tabs">
                    <ul>
                        <li><a href="#tab_sources">Traffic Sources</a></li>
                        <li><a href="#tab_mobile">Mobile Traffic</a></li>
                    </ul>
                    <div id="tab_sources" class="chart-container">
                        <div class="clearfix bg">
                            <div id="chart_ga_sources" class="chart-data"></div>
                            <div class="detaillinks"><a href="#" id="ga_sources_details">View Details</a></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <div id="tab_mobile" class="chart-container">
                        <div class="clearfix bg">
                            <div id="chart_ga_mobile" class="chart-data"></div>
                            <div class="detaillinks"><a href="#" id="ga_mobile_details">View Details</a></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                </div>
            </div>
            <div id="tab_ttm" class="clearfix chart-data chart-container">
                <div class="clearfix">
                    <div id="chart_ttm"></div>
                    <div class="detaillinks hidden"><a href="#" id="ttm_details">View Details</a></div>
                </div>
                <div class="loading"></div>
                <div class="error"></div>
            </div>
        </div>
    </div>
    <a id="LowActivity" href='@Model.LowActivityReportUrl' onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Low Activity Gauge']);" class="loading">
         <span class="gauge">&nbsp;</span>
         <span class="foreground">
            <span class="percentage">@* Populated by JavaScript *@</span>
            <span class="label">Low Online Activity</span>
            <span class="count">@* Populated by JavaScript *@</span>
        </span>        
    </a>
</div>

<div id="ProductLinks" class="clearfix">
    <script id="alerts_tmpl" type="text/x-jquery-tmpl">
        <h2 class="clearfix"><span class="count">${total}</span> <span class="title"><span class="subhead">Vehicles with</span> ${type} Alerts</span></h2>
        <ul>
        {{each alerts}}
            <li><a href="${NavigationUrl}" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', '${DisplayName} Bucket']);">${DisplayName} (${Count})</a></li>
        {{/each}}
        </ul>
    </script>
    <div id="ActionAlerts" class="clearfix freshPanel linkListBox loading"></div>
    <div id="MAXLinks" class="clearfix">
        <div id="MAXTiles" class="clearfix">
            <a href="@Url.Content("~/Workflow/Inventory.aspx")" id="MaxAdLink" class="freshPanel clearfix" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX Ad Tile']);">
                <span class="maxAdLogo"><span>MAX Ad</span></span>
                <span class="tagline">&nbsp;</span>
                <span class="maxSectionWorkflowText" ></span>
                <script id="maxSectionWorkflowText_tmpl" type="text/x-jquery-tmpl">
                    <span>${DisplayName} (${Count})</span>
                </script>
            </a>
            <div id="MaxSELink" class="freshPanel clearfix">
                <h3>MAX For Selling &amp; Email</h3>
                @if (ViewBag.HasMaxSE)
                {
                    <form id="SearchMaxSEForm" action="#">
                        <div class="form">
                            <input id="MaxSeTextbox" name="stockNumber" class="text search" placeholder="Stock #" type="text" />
                            <input value="Search" id="MaxSeSearchSubmit" class="button" type="submit" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX SE Search']);" />
                        </div>
                    </form>
                }
                else
                { <a href="http://www.maxmarketingsolutions.com/" target="_blank" class="learnMore" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX SE Learn More']);">Learn More &raquo;</a> }
            </div>
            @* <a href="javascript:alert('Not yet implmented.');" id="CraigslistLink" class="clearfix"><span>Craigslist Tool &gt;</span></a> *@
        </div>
        <div id="SearchForm" class="form clearfix">
            @using ( Html.BeginForm( "SearchMaxAd", "Home" ) )
            {
                <label for="MaxAdSearchTextbox"></label>
                <input id="MaxAdSearchTextbox" name="searchText" class="text search" type="text" placeholder="Stock #, VIN, Make ..." />
                <input value="Search" id="MaxAdSearchSubmit" class="button" type="submit" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX Ad Search']);" />
            }
        </div>
    </div>
    <div id="ActivityAlerts" class="clearfix freshPanel linkListBox loading"></div>
</div>
<div id="ReportLinks">
    @if ( ViewBag.IsReportViewer )
    {
    <div id="SitePerformanceReports">
        <h2>Reports:</h2>
        <ul>
            <li><a class="boxLink" href="@Url.Content( "~/Reports/VehicleOnlineStatusReport.aspx" )" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Not Online Report Link']);">Not Online<span>&gt;</span></a></li>
            <li><a class="boxLink" href="@Url.Content( "~/Reports/VehicleActivityReport.aspx" )" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Low Activity Report Link']);">Low Activity<span>&gt;</span></a></li>
            <li><a class="boxLink" href="@Url.Content( "~/Reports/PerformanceSummaryReport.aspx" )" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Performance Summary Report Link']);">Performance Summary<span>&gt;</span></a></li>
        </ul>
    </div>
    }
    <div id="AdditionalLinks">
        <ul>@* Populated by JavaScript *@</ul>
    </div>
</div>

<div id="ga_sources_report" title="Sources of Website Traffic Report" style="display: none;"></div>
<script id="ga_sources_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Source/Medium</th>
                <th>% Visits</th>
                <th>Visits</th>
                <th>Pages Per Visit</th>
                <th>Avg Visit Duration</th>
                <th>% New Visits</th>
                <th>Bounce Rate</th>
            </tr>
        </thead>
        <tbody>                
            {{each source}}<tr>
                <td>${$index + 1}</td>
                <td class="dealership">${Key}</td>
                <td>${Percentage.toFixed(2)}%</td>
                <td>${Visits}</td>
                <td>${PageviewsPerVisit.toFixed(2)}</td>
                <td>${AverageVisitDuration}</td>
                <td>${PercentageNew.toFixed(2)}%</td>
                <td>${VisitBounceRate.toFixed(2)}%</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<div id="ga_keywords_report" title="Top Searched Keywords (Organic)" style="display: none;"></div>
<script id="ga_keywords_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Keyword</th>
                <th>% Visits</th>
                <th>Visits</th>
                <th>Pages Per Visit</th>
                <th>Avg Visit Duration</th>
                <th>% New Visits</th>
                <th>Bounce Rate</th>
            </tr>
        </thead>
        <tbody>                
            {{each keyword}}<tr>
                <td>${$index + 1}</td>
                <td class="dealership">${Key}</td>
                <td>${Percentage.toFixed(2)}%</td>
                <td>${Visits}</td>
                <td>${PageviewsPerVisit.toFixed(2)}</td>
                <td>${AverageVisitDuration}</td>
                <td>${PercentageNew.toFixed(2)}%</td>
                <td>${VisitBounceRate.toFixed(2)}%</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<div id="ga_mobile_report" title="Mobile Device Traffic" style="display: none;"></div>
<script id="ga_mobile_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Device</th>
                <th>% Visits</th>
                <th>Visits</th>
                <th>Pages Per Visit</th>
                <th>Avg Visit Duration</th>
                <th>% New Visits</th>
                <th>Bounce Rate</th>
            </tr>
        </thead>
        <tbody>                
            {{each source}}<tr>
                <td>${$index + 1}</td>
                <td class="dealership">${Key}</td>
                <td>${Percentage.toFixed(2)}%</td>
                <td>${Visits}</td>
                <td>${PageviewsPerVisit.toFixed(2)}</td>
                <td>${AverageVisitDuration}</td>
                <td>${PercentageNew.toFixed(2)}%</td>
                <td>${VisitBounceRate.toFixed(2)}%</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<div id="ttm_report" title="Time To Market By Vehicle" style="display: none;"></div>
<script id="ttm_report_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Vehicle</th>
                <th>Inventory Received Date</th>
                <th>Online with Photo(s) Date</th>
                <th>Days to Online with Photo(s)</th>
                <th>Days to Complete Ad Online</th>
                <th>Stock Number</th>
            </tr>
        </thead>
        <tbody>                
            {{each Vehicles}}<tr>
                <td>${$index + 1}</td>
                <td class="dealership"><a href="/merchandising/Workflow/RedirectToInventoryItem.aspx?bu=${BusinessUnitId}&inv=${InventoryId}">${YearMakeModelTrim}</a></td>
                <td>${DateAddedToInventory.getMonth()+1}/${DateAddedToInventory.getDate()}/${DateAddedToInventory.getFullYear().toString().substring(2,4)}</td>
                <td>${DateOfFirstPhoto.getMonth()+1}/${DateOfFirstPhoto.getDate()}/${DateOfFirstPhoto.getFullYear().toString().substring(2,4)}</td>
                <td>${ (ElapsedDaysPhoto < 0) ? 'N/A' : Math.round(ElapsedDaysPhoto) }</td>
                <td>${ (ElapsedDaysCompleteAd < 0) ? 'N/A' : Math.round(ElapsedDaysCompleteAd)}</td>
                <td>${StockNumber}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<div id="vdp_trend_report" title="Consumer (VDP) Impression Trend" style="display: none;"></div>
<script id="vdp_trend_report_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Month</th>
                {{each Sites}}
                <th>${name} VDP</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>                
            {{each Months}}
            <tr>
                <td>${$data.Months.length-$index}</td>
                <td>${month}</td>
                {{each Sites}}
                <td>
                {{if vdp[id]}}
                ${vdp[id]}
                {{else}}
                <span class="no-data">no&nbsp;data</span>
                {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<div id="costper_vdp_trend_report" title="Consumer (VDP) Impression Trend" style="display: none;"></div>
<script id="costper_vdp_trend_report_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Month</th>
                {{each Sites}}
                <th>Cost per ${name} VDP</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{each Months}}
            <tr>
                <td>${$data.Months.length-$index}</td>
                <td>${month}</td>
                {{each Sites}}
                <td>
                {{if cost[id]}}
                $${cost[id]}
                {{else}}
                <span class="no-data">no&nbsp;data</span>
                {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<div id="lead_trend_report" class="tabbed_report" title="Direct Leads Trend" style="display: none;"></div>
<script id="lead_trend_report_tmpl" type="text/x-jquery-tmpl">
    <ul class="nav">
        {{each Sites}}
        <li><a href="#tab-lead_trend_report-${id}">${name}</a></li>
        {{/each}}
    </ul>
    {{each Sites}}
    <div id="tab-lead_trend_report-${id}">
        <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Month</th>
                    @*
                    {{if Visible['phone']}}<th>Phone</th>{{/if}}
                    {{if Visible['email']}}<th>Email</th>{{/if}}
                    {{if Visible['chat']}}<th>Chat</th>{{/if}}
                    *@
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Chat</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>                
                {{each Months}}
                <tr>
                    <td>${$index + 1}</td>
                    <td>${month}</td>
                    @*
                    {{if Visible['phone']}}<td>{{if phone[id]}}${phone[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>{{/if}}
                    {{if Visible['email']}}<td>{{if email[id]}}${email[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>{{/if}}
                    {{if Visible['chat']}}<td>{{if chat[id]}}${chat[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>{{/if}}
                    *@
                    <td>{{if phone[id]}}${phone[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                    <td>{{if email[id]}}${email[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                    <td>{{if chat[id]}}${chat[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                    <td>{{if total[id]}}${total[id]}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/each}}
</script>

<div id="costper_lead_trends_report" class="tabbed_report" title="Direct Leads Trend" style="display: none;"></div>
<script id="costper_lead_trends_report_tmpl" type="text/x-jquery-tmpl">
    <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th></th>
                <th>Month</th>
                {{each Sites}}
                <th>Cost per ${name} Lead</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>                
            {{each Months}}
            <tr>
                <td>${$data.Months.length-$index}</td>
                <td>${month}</td>
                {{each Sites}}
                <td>
                {{if cost[id]}}
                $${cost[id]}
                {{else}}
                <span class="no-data">no&nbsp;data</span>
                {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

