﻿@using Wanamaker.WebApp.Helpers
@model FirstLook.Merchandising.DomainModel.Reports.DashboardViewModels.DashboardModel
@{
    Layout = "../Shared/_LayoutKO.cshtml";

    ViewBag.Title = "Dashboard | MAX : Intelligent Online Advertising Systems";
    ViewBag.ieViewDoc = "edge";
}

<input type="hidden" id="BusinessUnitIdHidden" value="@Model.BusinessUnit.BusinessUnitId" />
<input type="hidden" id="dashboardSettingsHidden" value="@Model.DashboardSettingsJson"/>

<div id="groupMenu" class="linkListBox freshPanel navList">
    <h2>Select Dealer</h2>
    <input type="text" placeholder="Filter" class="filter textFilter-input" />
    <div id="groupListContainer"></div>
    <script id="groupMenuLinks" type="text/x-jquery-tmpl">
        <li class="textFilter-target"><strong>${Name}</strong></li>
        {{each BusinessUnits}}
        <li class="textFilter-target"><a href="${Link}" class="textFilter-match">${Name}</a></li>
        {{/each}}
    </script>
</div>

<div class="beta_tag" style="display:none" data-bind="visible:virtualControls.showBeta">beta</div>

@* These images are needed to start the tomcat session in NextGen and IMT *@
@if (HtmlHelpers.IsDebugBuild())
{

}
else
{
<div id="tomcatSessionImages">
    <img alt="" height="1" width="1" src='/NextGen/common/_images/d.gif?@DateTime.Now.ToString("yyyyMMddhhmmss")' style="visibility: hidden;" />
    <img alt="" height="1" width="1" src='/IMT/common/_images/d.gif?@DateTime.Now.ToString("yyyyMMddhhmmss")' style="visibility: hidden;" />
</div>
}

@* TODO : the style of the drop down is getting messed up in case of error *@
<div id="InventoryType">
    @using (Html.BeginForm("ChangeInventoryTypeFilter", "Home"))
    {
        @Html.DropDownListFor( 
            x => x.SelectedUsedNewFilter,
            Model.UsedNewFilters,
            new Dictionary<string,object>{
                {"id", "InventoryTypeDDL"},
                {"onchange", "_gaq.push(['_trackEvent', 'Dashboard', 'Change', 'Inventory Type']);"},
                {"data-bind", "value:controls.vehicleTypeFilter"}
            }
        );
    }
</div>


<div id="Gauges" class="clearfix">
    <a href='@Model.NotOnlineUrl' id="NotOnline" class="loading" data-bind="css:{ loading:services.data.loading }" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Not Online Gauge']);" >
        <span class="gauge">&nbsp;</span>
        <span class="foreground">
            <span class="percentage"><span data-bind="text:data.gauges.counts().NotOnlinePercent"></span>%</span>
            <span class="label">Not Online</span>
            <span class="count"><span data-bind="text:data.gauges.counts().NotOnlineCount"></span> VEHICLES</span>
        </span>
    </a>
    
    <div id="WebsitePerformance" class="chart_container clearfix freshPanel linkListBox">            
        <div class="chart-subheader clearfix">
            <div class="chart-title clearfix">
                <span class="chart_toggle" data-bind="click:Toggle_AnalyticsSuite, css:{ interactive:dynamic_config.show_Overview }">
                    <h1 data-bind="visible:!controls.analyticsSuiteToggle()">Online Classified Overview</h1>
                    <h1 data-bind="visible:controls.analyticsSuiteToggle" style="display:none">Digital Performance Analytics</h1>
                    <span class="toggle"></span>
                </span>
            </div>
            <div class="chart-controls">
                <div>
                    <span>From</span>
                    <select id="startDate" data-bind="options:static_config.dateRange, optionsText:'str', optionsValue:'val', value:controls.dateRangeFrom"></select>
                </div>
                <div>
                    <span>To</span>
                    <select id="endDate" data-bind="options:static_config.dateRange, optionsText:'str', optionsValue:'val', value:controls.dateRangeTo"></select>
                </div>
            </div>
        </div>

        
        <div id="chart_stats" data-bind="visible:!controls.analyticsSuiteToggle()" class="clearfix chart-data chart-container">
            <div class="clearfix" data-bind="visible:!charts.Overview_AvgSearches.loading() && !errors.TrendsOverview()">
                <div id="chart_stats_searches"></div>
                <div id="chart_stats_pages"></div>
                <div id="chart_stats_actions"></div>
            </div>
            <div class="chart-footer clearfix vendor-conversion-stats" data-bind="visible:!charts.Overview_AvgSearches.loading() && !errors.TrendsOverview()">
                <div class="stats">
                    <h5>Click-Thru Rate</h5>
                    <span data-bind="foreach: data.charts.Overview_ClickThruRate">
                        <span data-bind="text:name"></span>: <span data-bind="text:value"></span>% &nbsp;
                    </span>
                </div>
                <div class="stats">
                    <h5>Conversion Rate</h5>
                    <span data-bind="foreach: data.charts.Overview_ConversionRate">
                        <span data-bind="text:name"></span>: <span data-bind="text:value"></span>% &nbsp;
                    </span>
                </div>
            </div>
            <div class="loading" data-bind="visible:charts.Overview_AvgSearches.loading() && !errors.TrendsOverview()"></div>
            <div class="error" data-bind="visible:errors.TrendsOverview, html:errors.TrendsOverview"></div>
        </div>

        <div id="chart_tabs" data-bind="visible:controls.analyticsSuiteToggle" class="tabs" style="display:none">
            <ul id="chart_select" data-bind="css: { constrained:dynamic_config.hasShowroomReporting }">
                <li><a href="#tab_ttm"><p class="lg_pill">Time to Market</p></a></li>
                <li><a href="#tab_perf"><p class="xlg_pill">Online Classified Performance</p></a></li>
                <li><a href="#tab_trends"><p class="sm_pill">Classified Trends</p></a></li>
                <li><a href="#tab_ga"><p class="xsm_pill">Website Traffic</p></a></li>
                <li data-bind="visible:dynamic_config.hasShowroomReporting" style="display:none"><a href="#tab_show"><p class="med_pill">Showroom &<br/>Website 2.0</p></a></li>
            </ul>
            <div id="tab_perf" class="chart-data">
                <span data-bind="visible:dynamic_config.enableAnalyticsSuite">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_impression">Cost Per Consumer (VDP) Impression</a></li>
                            <li><a href="#tab_lead">Cost Per Direct Lead</a></li>
                        </ul>
                        <div id="tab_impression" class="chart-container">
                            <div class="bg">
                                <div class="clearfix">
                                    <div id="chart_cv_chart" data-bind="visible:!charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.Trends()"></div>
                                    <div id="chart_cpv_chart" data-bind="visible:!charts.Performance_AvgCostPerConsumerVDPImpression.loading() && !errors.Trends()"></div>
                                </div>
                                <script type="text/html" id="avg_monthly_cost_template">
                                    <ul class="chart-costs clearfix">
                                        <li class="tag wider">
                                            <span class="cramped">Avg Monthly</span><br />
                                            <span class="enlarged">Cost</span><span class="pointer"></span>
                                        </li>
                                        <!-- ko foreach: data.charts.Performance_AvgMonthlyCost -->
                                        <li>
                                            <span class="vendor" data-bind="text: site_name"></span>
                                            <!-- ko if: budget -->
                                            $<span data-bind="text: number_format(budget,0)"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: budget -->
                                            <a data-bind="attr:{ href:$root.virtualControls.budgetLink }" class="missing-budget">set monthly cost</a>
                                            <!-- /ko -->
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                </script>
                                <div class="chart-footer vendor-budgets" data-bind="template:{ name: 'avg_monthly_cost_template' }, visible:!charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.Trends() && !_.isEmpty(data.charts.Performance_AvgMonthlyCost())"></div>
                            </div>
                            <div class="loading" data-bind="visible:charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.Trends()"></div>
                            <div class="error" data-bind="visible:errors.Trends, html:errors.Trends"></div>
                        </div>              
                        <div id="tab_lead" class="chart-data chart-container">
                            <div class="bg">
                                <div class="clearfix">
                                    <div id="chart_act_chart" data-bind="visible:!charts.Performance_AvgNumberDirectLeads.loading() && !errors.CostPerDirectLead()"></div>
                                    <div id="chart_cpa_chart" data-bind="visible:!charts.Performance_AvgCostPerDirectLead.loading() && !errors.CostPerDirectLead()"></div>
                                </div>
                                <div class="data-options clearfix" id="lead_choices" data-bind="visible:!charts.Performance_AvgNumberDirectLeads.loading() && !errors.CostPerDirectLead()">
                                    <div class="lead-types direct">
                                        <span class="type">Direct Leads</span>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsEmail" checked="checked">&nbsp;Email</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsPhone" checked="checked">&nbsp;Phone</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsChat"                   >&nbsp;Chat</label>
                                    </div>
                                </div>                    
                                <div class="chart-footer vendor-budgets" data-bind="template:{ name: 'avg_monthly_cost_template' }, visible:!charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.CostPerDirectLead() && !_.isEmpty(data.charts.Performance_AvgMonthlyCost())"></div>
                            </div>
                            <div class="loading" data-bind="visible:charts.Performance_AvgNumberDirectLeads.loading() && !errors.CostPerDirectLead()"></div>
                            <div class="error" data-bind="visible:errors.CostPerDirectLead, html:errors.CostPerDirectLead"></div>
                        </div>
                    </div>
                </span>
                <span data-bind="visible:!dynamic_config.enableAnalyticsSuite()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_dpa_ocp.png")">
                    </div>
                </span>
            </div>
            <div id="tab_show" class="chart-data trends">
                <span data-bind="visible:dynamic_config.hasShowroomReporting">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_dspvt">Digital Showroom<br/>Vehicles Viewed</a></li>
                            <li><a href="#tab_wst">Website 2.0<br/>Traffic</a></li>
                            <li><a href="#tab_wsl">Website 2.0<br/>Leads</a></li>
                        </ul>
                        <div id="tab_dspvt" class="chart-data chart-container fullheight">
                            <div class="bg" data-bind="visible:dynamic_config.hasDigitalShowroom">
                                <div id="chart_dspvt" class="chart-render" data-bind="visible:dynamic_config.hasDigitalShowroom() && !charts.MarketingTraffic.loading() && !errors.MarketingTraffic()"></div>
                            
                                <div class="loading" data-bind="visible:dynamic_config.hasDigitalShowroom() && charts.MarketingTraffic.loading() && !errors.MarketingTraffic()"></div>
                                <div class="error" data-bind="visible:dynamic_config.hasDigitalShowroom() && errors.MarketingTraffic, html:errors.MarketingTraffic"></div>
                            </div>
                            <div class="clearfix bg marketing_message" data-bind="visible:!dynamic_config.hasDigitalShowroom()" style="display:none">
                                <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/dealer_show_us.png")">
                            </div>
                        </div>
                        <div id="tab_wst" class="chart-data chart-container fullheight">
                            <div class="bg" data-bind="visible:dynamic_config.hasWebsite20">
                                <div id="chart_wsengagement" class="chart-render split_chart split_left" data-bind="visible:(!charts.Website20Engagement.loading() && !charts.Website20Pageviews.loading()) && !errors.Website20Traffic()"></div>
                                <div id="chart_wspageviews" class="chart-render split_chart split_right" data-bind="visible:(!charts.Website20Engagement.loading() && !charts.Website20Pageviews.loading()) && !errors.Website20Traffic()"></div>
                                <div class="loading" data-bind="visible:(charts.Website20Engagement.loading() || charts.Website20Pageviews.loading()) && !errors.Website20Traffic()"></div>
                                <div class="error" data-bind="visible:errors.Website20Traffic, html:errors.Website20Traffic"></div>
                            </div>
                            <div class="clearfix bg marketing_message" data-bind="visible:!dynamic_config.hasWebsite20()" style="display:none">
                                <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/dealer_web20_us.png")">
                            </div>
                        </div>
                        <div id="tab_wsl" class="chart-data chart-container fullheight">
                            <div class="bg" data-bind="visible:dynamic_config.hasWebsite20">
                                <div id="chart_wsleads" class="chart-render" data-bind="visible:!charts.Website20Leads.loading() && !errors.Website20Traffic()"></div>
                                <div class="loading" data-bind="visible:charts.Website20Leads.loading() && !errors.Website20Traffic()"></div>
                                <div class="error" data-bind="visible:errors.Website20Traffic, html:errors.Website20Traffic"></div>
                            </div>
                            <div class="clearfix bg marketing_message" data-bind="visible:!dynamic_config.hasWebsite20()" style="display:none">
                                <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/dealer_web20_us.png")">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div id="tab_trends" class="chart-data trends">
                <span data-bind="visible:dynamic_config.enableAnalyticsSuite">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_vdp_trend">Consumer (VDP)<br/>Impressions</a></li>
                            <li><a href="#tab_costper_vdp_trend">Cost per Consumer (VDP)<br/>Impression</a></li>
                            <li><a href="#tab_lead_trend">Direct<br/>Leads</a></li>
                            <li><a href="#tab_costper_lead_trends">Cost per Direct<br/>Lead</a></li>
                        </ul>
                        
                        <div id="tab_vdp_trend" class="chart-data chart-container fullheight">
                            <div class="bg">
                                <div id="chart_vdpt_chart" class="chart-render" data-bind="visible:!charts.Trends_ConsumerVDPImpressions.loading() && !errors.Trends()"></div>
                            </div>
                            <div class="detaillinks" data-bind="visible:!charts.Trends_ConsumerVDPImpressions.loading() && !errors.Trends()">
                                <a href="#" id="vdp_trend_details" data-bind="click:reports.Trends_ConsumerVDPImpressions.show_popup">View Details</a>
                            </div>
                            <div class="loading" data-bind="visible:charts.Trends_ConsumerVDPImpressions.loading() && !errors.Trends()"></div>
                            <div class="error" data-bind="visible:errors.Trends, html:errors.Trends"></div>
                        </div>
                        
                        <div id="tab_costper_vdp_trend" class="chart-data chart-container">
                            <div class="bg">
                                <div id="chart_costper_vdp_trend" class="chart-render" data-bind="visible:!charts.Trends_CostPerConsumerVDPImpression.loading() && !errors.TrendsWithBudgets()"></div>
                            </div>
                            <div class="detaillinks" data-bind="visible:!charts.Trends_CostPerConsumerVDPImpression.loading() && !errors.TrendsWithBudgets()">
                                <a href="#" id="costper_vdp_trend_details" data-bind="click:reports.Trends_CostPerConsumerVDPImpression.show_popup">View Details</a>
                            </div>
                            <div class="loading" data-bind="visible:charts.Trends_CostPerConsumerVDPImpression.loading() && !errors.TrendsWithBudgets()"></div>
                            <div class="error" data-bind="visible:errors.TrendsWithBudgets, html:errors.TrendsWithBudgets"></div>
                        </div>
                        
                        <div id="tab_lead_trend" class="chart-data chart-container">
                            <div class="bg">
                                <div id="chart_lead_trend" class="chart-render" data-bind="visible:!charts.Trends_DirectLeads.loading() && !errors.Trends()"></div>

                                <div class="data-options clearfix" id="trends_lead_choices" data-bind="visible:!charts.Trends_DirectLeads.loading() && !errors.Trends()">
                                    <div class="lead-types direct">
                                        <span class="type">Direct Leads</span>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsEmail" checked="checked">&nbsp;Email</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsPhone" checked="checked">&nbsp;Phone</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsChat"                   >&nbsp;Chat</label>
                                    </div>
                                    <div class="detaillinks">
                                        <a href="#" id="lead_trend_details" data-bind="click:reports.Trends_DirectLeads.show_popup">View Details</a>
                                    </div>
                               </div>

                            </div>
                            <div class="loading" data-bind="visible:charts.Trends_DirectLeads.loading() && !errors.Trends()"></div>
                            <div class="error" data-bind="visible:errors.Trends, html:errors.Trends"></div>
                        </div>
                        
                        <div id="tab_costper_lead_trends" class="chart-data chart-container">
                            <div class="bg">
                                <div id="chart_costper_lead_trends" class="chart-render" data-bind="visible:!charts.Trends_CostPerDirectLead.loading() && !errors.TrendsWithBudgets()"></div>

                                <div class="data-options clearfix" id="costper_lead_trends_choices" data-bind="visible:!charts.Trends_CostPerDirectLead.loading() && !errors.TrendsWithBudgets()">
                                    <div class="lead-types direct">
                                        <span class="type">Direct Leads</span>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsEmail" checked="checked">&nbsp;Email</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsPhone" checked="checked">&nbsp;Phone</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsChat"                   >&nbsp;Chat</label>
                                    </div>
                                    <div class="detaillinks">
                                        <a href="#" id="costper_lead_trends_details" data-bind="click:reports.Trends_CostPerDirectLead.show_popup">View Details</a>
                                    </div>
                               </div>

                            </div>
                            <div class="loading" data-bind="visible:charts.Trends_CostPerDirectLead.loading() && !errors.TrendsWithBudgets()"></div>
                            <div class="error" data-bind="visible:errors.TrendsWithBudgets, html:errors.TrendsWithBudgets"></div>
                        </div>
                        <div id="trends_pseudotips"></div>
                    </div>
                </span>
                <span data-bind="visible:!dynamic_config.enableAnalyticsSuite()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_dpa_ct.png")">
                    </div>
                </span>
            </div>
            <div id="tab_ga" class="chart-data clearfix">
                <span data-bind="visible:dynamic_config.enableAnalyticsSuite">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_sources">Traffic Sources</a></li>
                            <li><a href="#tab_ga_trends">Traffic Trends</a></li>
                            <li><a href="#tab_mobile">Mobile Traffic</a></li>
                        </ul>
                        <div id="tab_ga_trends" class="chart-container">
                            <div class="clearfix bg">
                                <div id="chart_ga_trends" class="chart-data" data-bind="visible:!charts.WebsiteTraffic_TrafficTrends.loading() && !errors.GoogleAnalyticsTrends()"></div>
                                <!--<div class="detaillinks" data-bind="visible:!charts.WebsiteTraffic_TrafficTrends.loading() && !errors.GoogleAnalyticsTrends()">
                                        <a href="#" id="ga_trends_details" data-bind="click:reports.WebsiteTraffic_TrafficTrends.show_popup">View Details</a>
                                    </div>-->
                            </div>
                            <div class="loading" data-bind="visible:charts.WebsiteTraffic_TrafficTrends.loading() && !errors.GoogleAnalyticsTrends()"></div>
                            <div class="error" data-bind="visible:errors.GoogleAnalyticsTrends, html:errors.GoogleAnalyticsTrends"></div>
                        </div>
                        <div id="tab_sources" class="chart-container">
                            <div class="clearfix bg">
                                <div id="chart_ga_sources" class="chart-data" data-bind="visible:!charts.WebsiteTraffic_TrafficSources.loading() && !errors.GoogleAnalytics()"></div>
                                <div class="detaillinks" data-bind="visible:!charts.WebsiteTraffic_TrafficSources.loading() && !errors.GoogleAnalytics()">
                                    <a href="#" id="ga_sources_details" data-bind="click:reports.WebsiteTraffic_TrafficSources.show_popup">View Details</a>
                                </div>
                            </div>
                            <div class="loading" data-bind="visible:charts.WebsiteTraffic_TrafficSources.loading() && !errors.GoogleAnalytics()"></div>
                            <div class="error" data-bind="visible:errors.GoogleAnalytics, html:errors.GoogleAnalytics"></div>
                        </div>
                        <div id="tab_mobile" class="chart-container">
                            <div class="clearfix bg">
                                <div id="chart_ga_mobile" class="chart-data" data-bind="visible:!charts.WebsiteTraffic_MobileTraffic.loading() && !errors.GoogleAnalytics()"></div>
                                <div class="detaillinks" data-bind="visible:!charts.WebsiteTraffic_MobileTraffic.loading() && !errors.GoogleAnalytics()">
                                    <a href="#" id="ga_mobile_details" data-bind="click:reports.WebsiteTraffic_MobileTraffic.show_popup">View Details</a>
                                </div>
                            </div>
                            <div class="loading" data-bind="visible:charts.WebsiteTraffic_MobileTraffic.loading() && !errors.GoogleAnalytics()"></div>
                            <div class="error" data-bind="visible:errors.GoogleAnalytics, html:errors.GoogleAnalytics"></div>
                        </div>
                    </div>
                </span>
                <span data-bind="visible:!dynamic_config.enableAnalyticsSuite()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_dpa_wt.png")">
                    </div>
                </span>
            </div>
            
            <div id="tab_ttm" class="clearfix chart-data chart-container">
                <span data-bind="visible:dynamic_config.show_TTM">
                    <div class="clearfix bg">
                        <div id="chart_ttm" data-bind="visible:!charts.TimeToMarket.loading() && !errors.TimeToMarket()"></div>
                        <div class="detaillinks" data-bind="visible:!charts.TimeToMarket.loading() && !errors.TimeToMarket()">
                            <a href="#" id="ttm_details" data-bind="click:reports.TimeToMarket.show_popup">View Details</a>
                        </div>
                    </div>
                    <div class="loading" data-bind="visible:charts.TimeToMarket.loading() && !errors.TimeToMarket()"></div>
                    <div class="error" data-bind="visible:errors.TimeToMarket, html:errors.TimeToMarket"></div>
                </span>
                <span data-bind="visible:!dynamic_config.show_TTM()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_ttm.png?ver2")">
                    </div>
                </span>
            </div>
        </div>

    </div>
    <a id="MerchandisingAlertGauge" href='@Model.LowActivityReportUrl' class="loading" data-bind="css:{ loading:services.data.loading }, click: RedirectClickAlertGauge" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Merchandising Alert Gauge']);">
        <span class="gauge">&nbsp;</span>
        <span class="foreground">
            <span class="percentage"><span data-bind="text:data.gauges.counts().MerchandisingAlertPercent"></span>%</span>
            <span class="label"><span data-bind="text:data.gauges.merchandisingAlertText">alert text</span></span>
            <span class="count"><span data-bind="text:data.gauges.counts().MerchandisingAlertCount"></span> VEHICLES</span>
        </span>
    </a>
</div>

<div id="ProductLinks" class="clearfix">
    <div id="ActionAlerts" class="clearfix freshPanel linkListBox alerts_box" data-bind="with:data.alerts.action, css:{ loading:services.data.loading }">
        <h2 class="clearfix">
            <span class="count" data-bind="text:total"></span> 
            <span class="title"><span class="subhead">Vehicles with</span> <span data-bind="text:type"></span> Alerts</span>
        </h2>
        <ul data-bind="foreach: items">
            <li><a data-bind="attr:{ href:NavigationUrl, onclick:'_gaq.push([\'_trackEvent\',\'Dashboard\',\'Click\',\''+DisplayName+' Bucket\']);' }, text:DisplayName+' ('+Count+')'"></a></li>
        </ul>
    </div>
    <div id="MAXLinks" class="clearfix">
        <div id="MAXTiles" class="clearfix">
            <a href="@Url.Content("~/Workflow/Inventory.aspx")" id="MaxAdLink" class="freshPanel clearfix" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX Ad Tile']);">
                <span class="maxAdLogo"><span>MAX Ad</span></span>
                <span class="maxSectionWorkflowText"></span>
            </a>
            <div id="MaxSELink" class="freshPanel clearfix">
                <h3>MAX For Selling &amp; Email</h3>
                @if (ViewBag.HasMaxSE)
                {
                    <form id="SearchMaxSEForm" action="#">
                        <div class="form">
                            <input id="MaxSeTextbox" name="stockNumber" class="text search" placeholder="Stock #" type="text" />
                            <span class="loading"></span>
                            <input value="Search" id="MaxSeSearchSubmit" class="button" type="submit" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX SE Search']);" />
                        </div>
                    </form>
                }
                else
                { <a href="http://www.maxdigital.com" target="_blank" class="learnMore" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX SE Learn More']);">Learn More &raquo;</a> }
            </div>
            @* <a href="javascript:alert('Not yet implmented.');" id="CraigslistLink" class="clearfix"><span>Craigslist Tool &gt;</span></a> *@
        </div>
        <div id="SearchForm" class="form clearfix">
            @using ( Html.BeginForm( "SearchMaxAd", "Home" ) )
            {
                <label for="MaxAdSearchTextbox"></label>
                <input id="MaxAdSearchTextbox" name="searchText" class="text search" type="text" placeholder="Stock #, VIN, Make ..." />
                <input value="Search" id="MaxAdSearchSubmit" class="button" type="submit" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'MAX Ad Search']);" />
            }
        </div>
    </div>
    <div id="ActivityAlerts" class="clearfix freshPanel linkListBox alerts_box" data-bind="with:data.alerts.activity, css:{ loading:services.data.loading }">
        <h2 class="clearfix">
            <span class="count" data-bind="text:total"></span> 
            <span class="title"><span class="subhead">Vehicles with</span> <span data-bind="text:type"></span> Alerts</span>
       </h2>
        <ul data-bind="foreach: items">
            <li><a data-bind="attr:{ href:NavigationUrl, onclick:'_gaq.push([\'_trackEvent\',\'Dashboard\',\'Click\',\''+DisplayName+' Bucket\']);' }, text:DisplayName+' ('+Count+')'"></a></li>
        </ul>
    </div>
</div>
<div id="ReportLinks">
    @if ( ViewBag.IsReportViewer && ViewBag.showOnlineClassifiedOverview)
    {
    <div id="SitePerformanceReports">
        <h2>Reports:</h2>
        <ul>
            <li><a class="boxLink" href="@Url.Content( "~/Reports/VehicleOnlineStatusReport.aspx" )" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Not Online Report Link']);">Not Online<span>&gt;</span></a></li>
            <li><a class="boxLink" href="@Url.Content( "~/Reports/VehicleActivityReport.aspx" )" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Low Activity Report Link']);">Low Activity<span>&gt;</span></a></li>
            <li><a class="boxLink" href="@Url.Content( "~/Reports/PerformanceSummaryReport.aspx" )" onclick="_gaq.push(['_trackEvent', 'Dashboard', 'Click', 'Performance Summary Report Link']);">Performance Summary<span>&gt;</span></a></li>
        </ul>
    </div>
    }
    <!-- ko if:data.alerts.misc -->
    <div id="AdditionalLinks">
        <ul>
            <li><a data-bind="attr:{ href:data.alerts.misc().OfflineBucket.NavigationUrl }">Vehicles <span data-bind="text:data.alerts.misc().OfflineBucket.DisplayName"></span> (<span data-bind="text:data.alerts.misc().OfflineBucket.Count"></span>)</a></li>
        </ul>
    </div>
    <!-- /ko -->
</div>




<div id="reports" style="display:none;">
    
    <div id="vdp_trend_report" title="Consumer (VDP) Impressions Trend" class="report_table_container">
        <span data-bind="report:reports.Trends_ConsumerVDPImpressions, visible:!(reports.Trends_ConsumerVDPImpressions.loading())"></span>
        <span class="loading" data-bind="visible:reports.Trends_ConsumerVDPImpressions.loading"></span>
    </div>

    <div id="costper_vdp_trend_report" title="Cost Per Consumer (VDP) Impression Trend" class="report_table_container">
        <span data-bind="report:reports.Trends_CostPerConsumerVDPImpression, visible:!(reports.Trends_CostPerConsumerVDPImpression.loading())"></span>
        <span class="loading" data-bind="visible:reports.Trends_CostPerConsumerVDPImpression.loading"></span>
    </div>

    <div id="lead_trend_report" title="Direct Leads Trend" class="report_table_container">
        <ul class="report_tabs" data-bind="foreach: _.keys(reports.Trends_DirectLeads.child_reports())">
            <li data-bind="text: $data, click: $parent.reports.Trends_DirectLeads.active_tab.bind( $parent.reports.Trends_DirectLeads, $data ), css:{ active: $parent.reports.Trends_DirectLeads.active_tab() == $data }"></li>
        </ul>
        <!-- ko foreach: _.keys(reports.Trends_DirectLeads.child_reports()) -->
        <span data-bind="visible: $parent.reports.Trends_DirectLeads.active_tab() == $data, report: $parent.reports.Trends_DirectLeads.child_reports()[$data]"></span>
        <!-- /ko -->
        <span class="loading" data-bind="visible:reports.Trends_DirectLeads.loading"></span>
    </div>

    <div id="costper_lead_trends_report" title="Cost Per Direct Lead Trend" class="report_table_container">
        <span data-bind="report:reports.Trends_CostPerDirectLead, visible:!(reports.Trends_CostPerDirectLead.loading())"></span>
        <span class="loading" data-bind="visible:reports.Trends_CostPerDirectLead.loading"></span>
    </div>


    <div id="ga_sources_report" title="Sources of Website Traffic" class="report_table_container">
        <span data-bind="report:reports.WebsiteTraffic_TrafficSources, visible:!(reports.WebsiteTraffic_TrafficSources.loading())"></span>
        <span class="loading" data-bind="visible:reports.WebsiteTraffic_TrafficSources.loading"></span>
    </div>

    <div id="ga_mobile_report" title="Mobile Device Traffic" class="report_table_container">
        <span data-bind="report:reports.WebsiteTraffic_MobileTraffic, visible:!(reports.WebsiteTraffic_MobileTraffic.loading())"></span>
        <span class="loading" data-bind="visible:reports.WebsiteTraffic_MobileTraffic.loading"></span>
    </div>

    <div id="ga_keywords_report" title="Top Searched Keywords (Organic)" class="report_table_container">
        <div class="filterable_report_header">
            <span class="input_label">Highlight</span> <input data-bind="value: reports.WebsiteTraffic_KeywordsOrganic.filter_input, valueUpdate:'afterkeydown'">
            <span data-bind="html: reports.WebsiteTraffic_KeywordsOrganic.extended_output"></span>
        </div>
        <span data-bind="report:reports.WebsiteTraffic_KeywordsOrganic, visible:!(reports.WebsiteTraffic_KeywordsOrganic.loading())"></span>
        <span class="loading" data-bind="visible:reports.WebsiteTraffic_KeywordsOrganic.loading"></span>
    </div>

    
    <div id="ttm_report" title="Time To Market By Vehicle" class="report_table_container">
        <span data-bind="report:reports.TimeToMarket, visible:!(reports.TimeToMarket.loading())"></span>
        <span class="loading" data-bind="visible:reports.TimeToMarket.loading"></span>
    </div>

</div>



<script>
var dashboard = new MaxDashboardExecutive();
dashboard.Activate();
</script>



