@media only screen and (max-width: 1024px) {
	html body.side_by_side {
		background: #f4f5f5 url('images/right_back.gif') repeat-y -450px 0;	
	}
	html body.side_by_side ul.tabs {
		left: 289px;
	}
}

body,p,ul,ol,dl,input,textarea { 
	font-family: Tahoma, Helvetica, Arial, sans-serif; 
	color: #555;
}
h1,h2,h3,h4,h5,h6,fieldset {
	color: #485775;
	font-family: Helvetica, Arial, sans-serif;
}
label {
	color: #000;
	font-weight: normal;
}
body.side_by_side {
	background: #f4f5f5 url('images/right_back.gif') repeat-y -380px 0;	
}
body {
	background-color: #f4f5f5;
}
#select_style, #add_option_by_code, #overview, #controls {
	background-color: #fff;
}
#header {
/*	position: absolute;*/
	padding: 1ex;
	line-height: 1;
	background: #f8f8f8 url('images/vpa_header_grad.jpg') repeat-x bottom;
	-moz-box-shadow: 0px 1px 5px #A5AAB6;
	-webkit-box-shadow: 0px 1px 5px #A5AAB6;
    box-shadow: 0px 1px 5px #A5AAB6;
}
#header dl dt {
	font-weight: normal;
}
#options div.fieldset_wrapper {
	margin-top: 2em;
	padding: 2px;
	background-color: #fff;
	border: 2px solid #b0b5bd;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0px 3px 3px #8A8A8A;
	-webkit-box-shadow: 0px 3px 3px #8A8A8A;
    box-shadow: 0px 3px 3px #8A8A8A;
}
#options div.fieldset_wrapper fieldset {
	margin-bottom: 0;
}
#options div.fieldset_wrapper legend {
	font-weight: normal;
	background-color: #ddd;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f1f1f1));
	border: 1px solid #d7d7d7;
	display: block;
	width: 100%;
	margin: 0 -17px;
	padding-right: 27px;
}
#options fieldset fieldset {
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

#options div.fieldset_wrapper fieldset fieldset legend {
	background-image: none;
	background-color: transparent;
	border: none;
}

#options {
	padding-bottom: 100px;
}

.card {
	border: none;
	background-color: transparent;
}
.tabs li a {
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
}
body ul.tabs {
	position: fixed;
	top: 54px;
	left: 0px;
	width: 100%;
	z-index: 10;
	background-color: #fff;
	border-bottom: 2px solid #b0b5bd;
	-moz-box-shadow: 0px 10px 10px #EFEFEF;
	-webkit-box-shadow: 0px 10px 10px #EFEFEF;
    box-shadow: 0px 10px 10px #EFEFEF; 
}
.side_by_side ul.tabs {
	left: 359px;
}
body ul.tabs li {
	background-color: #fff;
	border: none;
}
body ul.tabs li a {
	font-size: 1.1em;
	color: #606d87;
	font-weight: normal;
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 45px;
	opacity: 0.75;
}
body ul.tabs li a:hover {
	opacity: 1;
}
body ul.tabs li.active {
	background-color: #efefef;
	border-right: 1px solid #b0b5bd;
	border-left: 1px solid #b0b5bd;
	border-bottom: 2px solid #EFEFEF;
	margin-bottom: -2px;
}
body ul.tabs li.active a {
	color: #606d87;
	opacity: 1;
}

body ul.tabs li.vehicle a {
	background-image: url('images/vehicle.png');
}
body ul.tabs li.interior a {
	background-image: url('images/interior.png');
}
body ul.tabs li.exterior a {
	background-image: url('images/exterior.png');
}

.image {	
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	padding: 5px;
/*	border: 1px solid #999;*/
/*	-moz-box-shadow: 0px 1px 5px #A5AAB6;
	-webkit-box-shadow: 0px 1px 5px #A5AAB6;
    box-shadow: 0px 1px 5px #A5AAB6;*/
}
.image a {
	border: 1px solid #DDD;
}

.color_selector label {
	position: relative;
	top: 1.5em;
	left: 40px;
	color: #042354;
	margin-top: -0.5em;
}

.color_selector .sample {
	position: relative;
	top: 0.6ex;
	display: inline-block;
	height: 33px;
	width: 33px;
	border: 1px solid #b0b5bd;
	line-height: 33px;
}
.color_selector .sample span {
	height: 31px;
	width: 31px;
	background-image: url('images/color_sheen.png');
	border: 1px solid #fff;
}

#Package {
	clear: both;
}
#options fieldset legend {
	cursor: pointer;
}
#display_controls {
	background: #f1f1f1 url('images/page_bg_top.gif') repeat-x top;
	position: fixed;
	z-index: 100;
	bottom: -1.5em;
	left: 0;
	right: 0;	
}

.side_by_side #display_controls span,
.side_by_side #display_controls ul,
.side_by_side #display_controls ul li {
	display: inline !important;
}

ul.tags li {
	display: inline-block;
	background-color: #e5f5ff;
	border: 1px solid #D7F0FF;
	padding: 0 5px;
	margin: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
ul.tags li:hover {
	background-color: #CCECFF;
	border-color: #C1E8FF;
}


/* ============== */
/* = iPad Hacks = */
/* ============== */
body.ipad #add_option_by_code {
	float: left;
	clear: left;
} 
body.ipad #options {
	clear: right; 
}
body.ipad #display_controls {
	position: static;
	float: right;
	clear: right;
}
body.ipad input[type=checkbox],
body.ipad input[type=radio], {
	height: 25px;
	width: 25px;
}
body.ipad #options label.selected {
	background-color: #e5f5ff;
	-webkit-border-radius: 5px;
	padding: 5px;
	margin: 2px 5px;
}