html, body {
	padding: 0;
	margin: 0;
	background-image: url(images/iphone_form_bg.gif);
}
#form1 {
	position: relative;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}
#main_content {
	position: relative;
	z-index: 1;
	overflow: scroll;
}
/* ===================== */
/* = Navigation Header = */
/* ===================== */
#nav_header {
	background-color: #b0bccc;
	color: #fff;
	text-shadow: 0 -1px 0 #464F59;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0bccc), color-stop(0.5, #8094ae), color-stop(0.5, #889bb3), to(#6d84a2));
	border-top: 20px solid #cdd5df;
	border-bottom: 1px solid #2d3642;
	font-size: 8pt;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 110;
}

/* ================== */
/* = haeader styles = */
/* ================== */
#header {
	position: static;
	background-color: #cbcccf;
	color: #808080;
	font-size: 8pt;
	text-shadow: 0 -1px 0 #B1B9C2;
	height: 40px;
	padding-right: 0;
}
#header dl {
	white-space: normal;
}
#header dl.stock_num dd {
	margin-right: 0;
}
#header h1 {
	color: #000;
}
#header dl.mileage {
	display: none;
}

/* ==================== */
/* = display controls = */
/* ==================== */
#display_controls {
	position: absolute;
	top: 93px;
	right: 0;
	left: 0;
	padding: 0;
	background-color: #BEBEBE;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BEBEBE), color-stop(0.5, #969696), color-stop(0.5, #9D9D9D), to(#888));
	border-bottom: 1px solid #373737;
	color: #fff;
	text-shadow: 0 -1px 0 #464F59;
	z-index: 100;
}
#display_controls ul.input_list {
	margin: 0;
	padding: 0;
}
#display_controls ul.input_list li {
	display: inline-block;
	width: 33.2%;
	margin: 0;
	padding: 0;
	border-left: 1px solid #4D627F;
	text-align: center;
	float: left;
}
#display_controls ul.input_list li label {
	display: inline-block;
	padding: 4px 0;
	width: 100%;
}
#display_controls ul.input_list li label.checked {
	background-color: #BEBEBE;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5F5F5F), color-stop(0.5, #717171), color-stop(0.5, #6A6A6A), to(#949494));
}
#display_controls ul li#show_standards {
	border-left-width: 0;
}
#display_controls>span {
	display: none;
}
body.header_scrolled_out #display_controls {
	position: fixed;
	top: 37px;
}

/* ===================== */
/* = location_controls = */
/* ===================== */
#location_selection {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;
	display: block;
	text-align: center;
	background-color: #b0bccc;
	color: #fff;
	text-shadow: 0 -1px 0 #464F59;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#afbbcb), color-stop(0.5, #899cb4), color-stop(0.5, #8094ae), to(#6e85a3));
	-webkit-box-shadow: 0 -1px 0 #2d3642;
	border-top: 1px solid #cdd5df;
	border-bottom: 1px solid #cdd5df;
	height: 42px;
	padding-top: 3px;
}
#location_selection li {
	float: none;
	display: inline-block;
	background-color: transparent;
	border: 1px solid #4D627F;
	border-right-width: 2px;
	font-size: 16px;
	padding: 4px 20px;
	margin: 0 -0.49ex 0 0; /* remove inline space */
	-webkit-box-shadow: 0 1px 0 #9CACC0;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aab8c9), color-stop(0.5, #889bb3), color-stop(0.5, #889bb3), to(#788da9));
}
#location_selection li.active {
	border-style: outset;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87a1be), color-stop(0.5, #597da6), color-stop(0.5, #476898), to(#486b9a));
}
#location_selection li:active a {
	text-decoration: none !important;
}
#location_selection li a {
	color: #fff;
}
#location_selection li:first-child {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
}
#location_selection li:last-child {
	border-right-width: 1px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

#overview, #select_style, #add_option_by_code, #controls {
	margin: 5px 8px;
	-webkit-border-radius: 10px;
	background-color: #fff;
	border: 1px solid #A9ABAE;
}

#header {
	margin-top: 61px;
	margin-bottom: 60px;
}
#controls {
	margin-bottom: 160px;
}

.card {
	background-color: transparent;
	border: none;
	padding: 0;
	position: static;
}

.card fieldset {
	margin: 2em 8px 5px 8px;
	-webkit-border-radius: 10px;
	background-color: #fff;
	border: 1px solid #A9ABAE;
	clear: none;
	position: static;
}
.card fieldset legend {
	position: relative;
	top: -0.5em;
}

/* ================================= */
/* = Hide Unsupported interactions = */
/* ================================= */
#display_controls ul li#show_add_by_option,
#add_option_by_code,
#vehicle .image {
	display: none;
}

