/* ========== */
/* = Header = */
/* ========== */
#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	padding: 1em 0 1ex 1em;
	background-color: #eee;
	border-bottom: 1px solid #999;
	margin-bottom: 1em;
}
#header h1 {
	font-size: 1.5em;
}
#header dl {
	white-space: nowrap;
}
#header dl,
#header dl * {
	display: inline;
}
#header dl dd {
	margin-left: 0;
	margin-right: 5em;
}

/* =================== */
/* = Display Control = */
/* =================== */
#display_controls {
	padding: 1em;
	border-width: 0;
	border-top-width: 1px;
}
#display_controls ul, 
#display_controls ul li {
	display: inline;
}
#display_controls span,
#display_controls ul li {
	display: inline;
	margin-right: 2em;
}
.side_by_side #display_controls {
	float: left;
}
.side_by_side #display_controls span,
.side_by_side #display_controls ul,
.side_by_side #display_controls ul li {
	display: block;
}

body ul.tabs li {
	padding: 1ex 1em 0 1em;
	border: 1px solid #808080;
	border-left: none;
	border-bottom: none;
	background-color: #DFDFDF;
}
body ul.tabs li.active {
	background-color: #808080;
}
body ul.tabs li.active a {
	color: #fff;
}
fieldset {
	position: relative;
	display: block;
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	clear: both;
}
fieldset legend {
/*	padding: 0;
	position: absolute;
	top: -1em;
	line-height: 1;
	text-indent: -1em;*/
}
fieldset fieldset  {
	border: none;
	padding: 0;
}
fieldset fieldset legend {
	font-size: 0.9em;
	top: -1.5em;
	font-weight: normal;
	border: none;
}
fieldset fieldset fieldset {
	padding-left: 1em;
	background-color: #F3F3F3;
}
.image a {
	display: block;
	overflow: hidden;
	text-align: center;
	width: 143px;
	height: 143px;
	position: relative;
}
.image a img.landscape {
	position: absolute;
	left: -50%;
	height: 143px;
}
.image a img.portrait {
	position: absolute;
	top: 50%;
	width: 143px;
}
label {
	text-transform: capitalize;
}
label .option_code {
	font-size: 0.9em;
	color: #808080;
}
/*label:hover {
	background-color: #FFFF80;
}
*/
.card {
	padding: 1em;
	background-color: #EFEFEF;
	border: 1px solid #999;
	overflow: hidden;
	position: relative;
}

/* ================== */
/* = Color selector = */
/* ================== */
.color_selector label {
	display: block;
}
.options .sample span,
.color_selector .sample span {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background-color: #ddd;
}
.standards h5 {
	margin-bottom: 0;
	font-weight: normal;
	text-indent: -1em;
	font-size: 0.9em;
}
/* ====================== */
/* = Speciallized Lists = */
/* ====================== */
ul.input_list {
	list-style: none;
	margin: 0;
}
ul.columned li {
	float: left;
	margin-bottom: 1ex;
}
ul.columned li label .feature_name {
	display: inline-block;
	width: 75%;
	vertical-align: text-top;
}
.option_column_1 ul.columned li {
	width: 99.29%; 
}
.option_column_2 ul.columned li {
	width: 49.29%; 
}
.option_column_3 ul.columned li {
	width: 33.29%;
}
ul.options,
ul.tags, ul.tags * {
	list-style: none;
	margin-left: 1ex;
}
ol.options li {
	border-bottom: 1px dotted #ddd;
	vertical-align: top;
}
ol.options h6 {
	max-width: 75%;
	display: inline-block;
	text-transform: capitalize;
}
.options span.option_code {
	float: right;
	color: #808080;
}
.standards ul {
	list-style: none;
	margin: 0;
}
.standards ul li.removed {
	text-decoration: line-through;
	color: #A0A0A0;
}

.standards ul li.long,
.options_section ul li.long {
	width: 100%;
}

/* ========================= */
/* = Overview RH/T/B split = */
/* ========================= */
#overview,
#add_option_by_code,
#controls {
	background-color: #eee;
	border: none;
	padding: 1em;
}
#controls {
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 1em;
	text-align: right;
}
#add_option_by_code {
	border-bottom: 1px solid #ddd;
	margin: 3.5em 0 0 0;
}
#add_option_by_code legend {
	text-indent: -1em;
}

/* ======================== */
/* = Layout of Components = */
/* ======================== */
#form1 {
	padding: 5em 1em;
}
.side_by_side #options {
	float: right;
	width: 69.9%;
	margin-right: 1em;
}
.side_by_side #vehicle .image {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}
.side_by_side #select_style,
.side_by_side #colors,
.side_by_side #key_information {
	clear: right;
}
.side_by_side #colors .color_selector {
	float: left;
	width: 49.9%;
}
.side_by_side #colors .color_selector select {
	width: 75%;
}
.side_by_side #overview,
.side_by_side #add_option_by_code,
.side_by_side #controls {
	width: 24.9%;
	max-width: 320px;
	clear: left;
}
.side_by_side #add_option_by_code {
	float: left;
}
.side_by_side #select_style select {
	width: 75%;
}
.side_by_side #add_option_by_code .button input {
	width: auto;
}