
.appraisalFormOptions .options { text-align:left;font-family: Arial, Helvetica, Verdana, sans-serif; padding-top: 10px; padding-bottom: 10px; color:#CCC; }
.appraisalFormOptions .options div { padding: 5px;}
.appraisalFormOptions .options div.top { padding: 5px; height: 40px; }
.appraisalFormOptions .options div.error { width: 450px; background-color: white; color: red; border: solid 1px red; }
.appraisalFormOptions .options span.label { padding-right: 15px; padding-left: 35px;}
.appraisalFormOptions .options div.hdr { height: 20px; font-weight: bold; font-size: 15px; color: #323232; text-indent: 5px; } 
	.appraisalFormOptions .hdr div.photoHdr { width: 55%;  float:right; background-color: #787878; border-bottom: solid #323232 1px;}
	.appraisalFormOptions .hdr div.displayHdr { width: 35%; background-color: #787878; border-bottom: solid #323232 1px; }
	/* .appraisalFormOptions .darkLineBottom { width: 50%; border-bottom: solid #323232 1px;} */
	.appraisalFormOptions .lightLineBottom { width: 50%; border-bottom: solid #787878 1px;}
.appraisalFormOptions input {padding-left: 15px;}
#photoContentFrame { width: 100%; height: 285px; padding: 0; margin: 0; }
#photoFrame{float:right;}
	li{display:inline;}
#showOnAppraisalHolder{display:block; width:250px; text-align:right;margin-top:-63px;}
/* #saveButtons{ display:block; border-top: 1px solid #232323; text-align:left;clear:both; padding-top:5px;} */
#offer{width:60px;}

A:link, A:visited { color:#CCC; }


#emailPopup{background-color:#ffffff;border:1px solid #333333;width:700px;color:#333333;width:90%}
#emailPopup .hdr{background-color:#e0e0e0;border-bottom:1px solid #b3b3b3; padding:6px;color:#000000; font-size:1.1em; font-weight:bold;height:10px}
#emailPopup .body{ padding:10px;}
#emailPopup li{display:block;}
#emailPopup dt{width:55px; padding-top:3px; padding-left:0px;text-align:left;}
#emailPopup .hdr  a.toggle { float:right; display:block; color:#000000} 
#emailPopup .errors{color:#ff0000; padding:10px; font-size:1.0em;}
#emailPopup label.req{padding-left:8px; text-indent:0px; }
#emailPopup label.ok{padding-left:8px;text-indent:0px;}
#emailPopup .note{font-size:9px; color:#888888;}
#emailPopup dt{width:15%; padding-top:3px; padding-left:0px;text-align:left;}

.note { padding-left:15%}


#header { 
	height:18px;
	background-color:white;
	border:1px solid #c8cbcb;
	font-size: 9px;
	padding-top:6px;
	width: 1033px;
	/*box-shadow:3px 3px 3px;*/
		background-image:-webkit-linear-gradient(top, #fff, #fff, #E4EAF2);
	background-image:-moz-linear-gradient(top, #fff, #fff, #E4EAF2); 
    background-image:-ms-linear-gradient(top, #fff, #fff, #E4EAF2);
    /* IE8 */
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#E4EAF2',GradientType=0);
    /* IE7- */
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#E4EAF2',GradientType=0);
		
}
#dropnav { float:left;margin-left:5px;text-align:left; }
#header .textnav { float:right;margin-right:5px; }

	#header ins { padding: 0 4px; font-size:1.2em; color:#ccc; }
	#header a {
		font-size:9px;
		font-family: 'Verdana', sans-serif;
		color:#666;
	}
	#header #dropnav a {
		color:#036;
	}
	
	body#popup
		{
		background-color:#FFFFFF;
		background-image:-webkit-linear-gradient(top, #E2EBF0, #F9FAFC, #FFFFFF);
		background-image:-moz-linear-gradient(top, #E2EBF0, #F9FAFC, #FFFFFF) ; 
		background-image:-ms-linear-gradient(top, #E2EBF0, #F9FAFC, #FFFFFF) ;
		    /* IE8 */
		-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E2EBF0',endColorStr='#FFFFFF',GradientType=0);
		    /* IE7- */
		filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E2EBF0',endColorStr='#FFFFFF',GradientType=0);
		background-repeat:repeat-x;
		
		}

	#title h1 { margin-left: 15px; color: #000000; font-size : 22px;font-family: 'Calibri', sans-serif; }
	
	/* <!--#boxshadow {background: none repeat scroll 0% 0% rgb(255, 255, 255);box-shadow: 6px 5px 8px #BBBBBB;width: 500px; color : #333;} */
	
	.shadow1 {
		    background-color: #FAFAFC; /* Needed for IEs */
		    -webkit-box-shadow: 6px 6px 8px 0px rgba(208, 208, 208, 0.57);
			-moz-box-shadow:    6px 6px 8px 0px rgba(208, 208, 208, 0.57);
			box-shadow:         6px 6px 8px 0px rgba(208, 208, 208, 0.57);
			border-collapse: collapse;
			 /* background: none repeat scroll 0% 0% white;
			
			 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.01);
		    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.01)"; */
		
		   
		    zoom: 1;
		    width: 410px;
		    color : #333;
		    height : 30px;
		    margin-bottom:20px;
		    margin-left: 25px;
		    
		   
		    
		}
		.shadow1 span {
		    position: relative; /* This protects the inner element from being blurred */
		   
		}
	.shadow2 {
		background-color: #FAFAFC; /* Needed for IEs */
		    -webkit-box-shadow: 6px 6px 8px 0px rgba(208, 208, 208, 0.57);
			-moz-box-shadow:    6px 6px 8px 0px rgba(208, 208, 208, 0.57);
			box-shadow:         6px 6px 8px 0px rgba(208, 208, 208, 0.57);
			border-collapse: collapse;
			 /* background: none repeat scroll 0% 0% white;
			
			 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.01);
		    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.01)"; */
		
		   
		    zoom: 1;
		    width: 420px;
		    color : #333;
		    height : 365px;
		    margin-left: 25px;
		
	}
			.linkbutton {
						/* background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E2E8EE));
						background: -moz-linear-gradient(top, #FAFAFA, #E2E8EE); */
						/* filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebeff2, endColorstr=#ccd5df)";
						-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FAFAFA, endColorstr=#E2E8EE)"; */
						/* border: 1px solid #ACBECF; */
						cursor: pointer;
						width: 75px;
						height: 19px;
						border: none;
						text-align: center; 
						color: #4E4E4E;
						
									background-image:-webkit-linear-gradient(top, #FFFFFF, #F0F0F0, #E8E8E8);
									background-image:-moz-linear-gradient(top, #FFFFFF, #F0F0F0, #E8E8E8); 
									background-image:-ms-linear-gradient(top,#FFFFFF, #F0F0F0, #E8E8E8);
									    /* IE8 */
									-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E8E8E8',GradientType=0);
									    /* IE7- */
									filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E8E8E8',GradientType=0);
						 
						}
						
			.Display  {
					  background-color: #EBEBEB;
					  height:20px;
					  font-weight: bold;
					  vertical-align: middle;
					  padding-top:10px;
					  margin-left:4px;
					  margin-right:4px;
					  margin-top:4px;
					  
					  
					  
			}
			div.body{
			padding-top:2px
			}
			
			#saveButtons{ display:block; border-top: 1px solid #FFFFFF; text-align:centre;clear:both; padding-top:20px;  background-color: #F5FAFD; margin-bottom : 4px; text-align: center; } 
			
			.odd { background-color: #F5FAFD; margin-bottom : 4px; padding-top:10px;padding-bottom:10px; padding-left:5px;}
			
			.even { background-color: #E3EDEF; margin-bottom : 4px; padding-top:10px;padding-bottom:10px; padding-left:5px; }
	
			#footer
						{
						padding-bottom:10px;
						background-image:-webkit-linear-gradient(top, #E6E6E6, #DCDCDC, #BEBEBE);
						background-image:-moz-linear-gradient(top, #E6E6E6, #DCDCDC, #BEBEBE); 
						background-image:-ms-linear-gradient(top, #E6E6E6, #DCDCDC, #BEBEBE);
						    /* IE8 */
						-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E6E6E6',endColorStr='#BEBEBE',GradientType=0);
						    /* IE7- */
						filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E6E6E6',endColorStr='#BEBEBE',GradientType=0);
						color: #B6B6B6;
						float:left;
						margin-left:0%;
							position:absolute;
							font-weight:bold;
							color:#9999b2;
							font-size:10px;
							margin-bottom:8px;
							padding:5px 0px 5px;
							width: 100%;
							margin-bottom:0px;
							border-top-color :#c8cbcb; 						
						
						}
		 #footer img{
		 			height:30px;
		 			width:120px;
		 			float:center;
		 			margin-top:auto;
		 			margin-bottom:auto;
		 
		 }
		#footer-nav{
				display: none;		
		}
		   #title  { border-bottom:none; font-size:30px; padding-top : 10px; }
		   
		   .textbox {background-color: #E3ECF1; border : none; height: 22px ; width : 20px;   }
		   
		   .listbreak
						{
						column-count:2;
						-webkit-column-count:2; /* Safari and Chrome */
						-moz-column-count:2; /* Firefox */
						}
			#appuser{
						display: none;
			}		
				
		#footer .left {
						margin-top:10px;
		 			   margin-bottom:auto;
		 			   vertical-align : middle;
		 			   text-align: center;
		}		
				
		.tiny {font-size : 10px; }				
						
	
	
		