#book { margin-top: 20px; width: 100%; }
#popup #book { width: 850px; }


#book .col1, #book .col2 { width: 49%; }
#book .col1 { float: left; margin-right: 5px; }
#book .col2 { float: right; margin-left: 5px; }

#popup #book .col1, #popup #book .col2 { width: 415px; }


.KBB, .KBB_mechanical, .KBB_wrap .disclaimer { background-color: #D1DBF4; height:1%; }
.NADA { background-color: #FCDFA5; }
.BB { background-color: #CCC; }
.Galves { background-color: #93b7dc; }




#options table.BB {
	border-collapse: collapse;
	border: solid 3px black;
	width: 555px;
}
#options table.BB .logo {
	float: right;
	clear: both;
}
#options table.BB thead th {
	border-bottom: solid 3px black;
	padding: 0;
}
#options table.BB thead th.title {
	padding: 4px 0px 0px 5px;
}
#options table.BB thead th h4 {
	color: black;
	font-size: 14px;
	font-weight: bold;
	float: left;
}
#options table.BB tfoot td {
	border-top: solid 3px black;
	padding: 3px;
}
#options table.BB tfoot td.foot {
	background-color: #eee;
}
#options table.BB table.values {
	border-collapse: collapse;
	width: 100%;
}
#options table.BB table.values thead th h3 {
	font-weight: normal;
	display: block;
	float: right;
	padding: 2px 4px;
}
#options table.BB table.values thead th h3 strong {
	font-weight: bold;
	color: black;
}
#options table.BB table.values thead th h3 strong.neg {
	color: #c00c0d;
}
#options table.BB table.values thead th table th {
	border: 1px solid black;
	font-size: 11px;
	font-weight: bold;
	background-color: #eee;
	padding: 1px 3px;
}
#options table.BB table.values th td {
	border: 1px solid black;
}
#options table.BB table.values tbody td {
	font-size: 11px;
	font-weight: bold;
	padding: 1px 3px;

	}

#book .hdr { border: solid black 1px; padding: 0; }
	#book .hdr img.logo { float: right; }
	#book .hdr h4 { margin: 5px 0 0 10px; }
		#book .hdr .icon { display: none; cursor: help; margin-right: 15px; float: right; }
	#book .hdr span { font-weight: bold; font-size: .9em; margin: 0 0 0 10px; }

.valid { height:62px; white-space: nowrap; }

.fail { color: black; border: solid black 1px; /*margin-top: 10px;*/ }
	.fail img { float: right; }
	.fail h4 { margin: 5px 0 3px 10px; }
	.fail p { margin: 0 0 5px 10px; }	


/*Manual bookout*/
.KBB_wrap .generic_options {
	background-color:#fff;
	width:100%;
	
}
.KBB_wrap .generic_options div{
	float:left;
	padding:5px;
	width:24%;
	border-left:1px solid #000;
	height:75px;
	
}
.KBB_wrap .bookOutValuesTbl{
	width:100%;
	font-size:12px;
	
}

.KBB_wrap .bookOutValuesTbl th{
	background-color:#eee;
	border:1px solid #000;
	border-top:0px;
	text-decoration:none;
	text-align:left;
	padding:5px;
	font-weight:bold;
	
}
.KBB_wrap .bookOutValuesTbl td{
	border:1px solid #000;
	border-top:0px;
	border-bottom:0px;
	padding:3px;
	font-weight:bold;
	width:33%;
	
}
.KBB_wrap .bookOutValuesTbl .disclaimer{
	background-color:#fff;
	font-size:9px;
	border:0px;
	width:75%;
	text-align:center;
	font-weight:normal;
}
.KBB_wrap .bookOutValuesTbl th.lower{
	border-bottom:1px dashed #000;
	border-top:1px solid #000;
	text-align:center;
	padding:2px;
}
.KBB_wrap .border_right{
	border-right:1px solid #000;
}
.KBB_wrap .disclaimer{
	font-size:10px;
	text-align:right;
	width:100%;
	padding:3px;
	border-bottom:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
}

.KBB_wrap .submit{ border:1px solid #000; padding:5px;}
.KBB_wrap .generic_options .opt_header{
	font-weight:bold;
	float:none;
	padding:0px;
	width:100%;
	border:0px;
	height:10px;
	
}
#options { width:750px; }
#book .thirdparty td, #book .thirdparty th { text-align: center; }

.KBB td, .NADA td, .BB td, .G td { background-color: white; }
			
.KBB td { width: 20%; }
.NADA td { width: 33%; }
}
.Galves td { /* width: 25%; */ }

.withBorders td, .withBorders th {border: solid 1px black;}

.KBB {border-collapse: collapse; }
.KBB th { padding: 2px 0px 0px 4px; font-size: 11px; background-color: #EEE; border-bottom: dashed 1px #333; border-top: none; text-align: center; }
.KBB td { font-size: 11px; padding: 2px 0; text-align: center; border-top: none; text-transform: none; }
.KBB dt, .KBB_wrap dt{font-size:11px; float:left; width:63%; text-align:left}
.KBB dd, .KBB_wrap dd{text-align:left; margin:0px; font-size:11px;text-transform:none;}
.KBB .note{font-size:10px; text-align:center; font-weight:normal;}
.KBB .title{ font-size:16px; font-weight:bold; margin:10px 5px; clear:none; margin-bottom:0px;}
.KBB_mechanical{
	color:#000;	
	border:1px solid #000;	
	padding:5px;	
}
.KBB_mechanical .item{
	padding-left:10px;
}
.KBB_mechanical .item .mechanical_option{
	font-weight:bold;
}
.KBB td.displayValue { font-size: 18px; }
.KBB .greyTitle{ background-color: #EEE; }
.KBB .dashedBottom{ border-bottom: dashed 1px #333; }

.mileAdj { font-size: .9em; margin-bottom: 2px; white-space: nowrap; }	


.options { height: 1%; color: black; background-color: #CCC; padding-bottom: 5px; border: solid black 1px; border-top: none; }
	.options #SelectedOptionsList1, .options #SelectedOptionsList2, .options #SelectedOptionsList3 { display: block; width: 405px; }
	.options strong { display: block; margin: 5px 0 5px 10px; }
.options ul.h { margin: 0 0 0 10px; width: 260px; }
	.options li { width: 50%; font-size: .9em; }
	.options li.even { clear: right; background: none; }
	.options li.none { width: 100%; }
	.options .mechanical { width: 125px; float: right; font-size: .9em; margin-top: 15px; }	
.options a.action { float: right; color: black; margin-right: 10px;margin-top:3px; }	
.options a.action:hover { color: #333; }
.options img.lock { float: right;margin-right:5px;}
	
#book .float { width: 720px; left: 60px; margin-top: -200px; }
	#book .float .hdr { border: none; border-bottom: solid 1px black; }
	#book .float h4 { width: 460px; margin-bottom: 5px; margin-top: 10px; }

	#book .float td { width: auto; }
		#book .float .hdr { height:62px; }
	#book .float .hdr a.action { z-index: 4; position: absolute; top: 0px; right: 0px; margin: 10px 10px 0 0; white-space: nowrap; }
	#book .float .hdr .logo { z-index: 3; position: absolute; top: 0px; right: 50px; }

	#book .float .none { margin:10px 0 0 10px; }

	.options .float .mechanical strong { display: block; margin: 5px 0 5px 0; }
	.options .float img.btn { float: right; margin-bottom: 5px; margin-right: 10px; }
	
	#book .ftr a { color: #CCC; }
	#book .ftr a:hover { color: white; }



	
/* did nothing to these */
	.equipmentOptions { padding: 5px 5px; /*float: left;*/ /*margin-top: 20px; */}
	.equipmentOptions .none { font-weight: bold; font-size: 14px; }
	
		.bookOutOptionsTbl { font-size: 11px; margin-left: 10px; margin-bottom: 5px; }
			.bookOutOptionsTbl td, .bookOutOptionsTbl th { font-weight: normal;background-color: #FFF; border-bottom:none  }
.bookOutOptionsTbl label { font-weight: normal;}
			.bookOutOptionsTbl thead td, .bookOutOptionsTbl thead th { text-align: left; padding-top: 2px; font-size: 10px; text-decoration: underline; background-color: #FFF; border-bottom:none }
			.bookOutOptionsTbl td.val { text-align: right; padding-right:10px; }
						
			/* th's only used for 2nd and 3rd checkbox columns */
			.bookOutOptionsTbl th { padding-left: 20px; }	
			.bookOutOptionsTbl td { text-align: left; }	
			.bookOutOptionsTbl input { padding: 0; margin-right: 5px; }	
			
	.engineOptions, .transOptions, .driveOptions { /*width: 200px; float: right; clear: right;*/ border-top: solid black 1px; padding: 5px 10px; }



#book .ftr .btn { display: none; float:right }
	
	
	
.bo { display: none; }

	/*disabled*/
	.off { color: #999; }

	
	.neg { color: #8D1717; }


	.disclaim p { font-size: 10px; padding: 2px 5px; margin: 0; }


		.error { height: 1%; color: #D90404; background-color: white; border: solid #D90404 2px; }
	.error img { vertical-align: middle; float: left; }
	.error p { float: left; margin: 5px 5px 2px 20px; font-size: .9em; }	
