
/* BUYERS 
		GUIDE */
#sticker {
	font-size: 100%;
}
#warrantyCheckmark {
	display: none;
	font-size: 4em;
}
#nowarrantyCheckmark {
	display: none;
	font-size: 4em;
}
#fullCheckmark {
	display: none;
	font-weight: bold;
}
#limitedCheckmark {
	display: none;
	font-weight: bold;
}
#servicecontractCheckmark {
	display: none;
	font-size: 0.8em;
	font-weight: bold;
}

@media screen {
	#buyingGuideOptions {
		float: left;
		width: 120px;
		text-align: left;
	}
	#buyingGuideOptions #warrantyTypes {
		display: none;
		margin-left: 10px;
	}
	#sticker span {
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9px;
	}
	#sticker .make {
		width: 99px;
		padding-right: 9px;
	}	
	#sticker .model {
		width: 97px;
		padding-right: 9px;
	}	
	#sticker .year {
		width: 72px;
		padding-right: 9px;
	}
	#sticker .vin {
		position: relative;
		top: 16px;
		margin-left:136px;
		width: 228px;
	}
	#sticker .snum {
		width: 126px;
	}
	
	/* as-is template */
	.consolidated #line1 {
		margin-top: -288px;
		margin-left: -252px;
		font-size: 11px;
		width: 504px;
	}
	.consolidated #line2 {
		margin-top: -256px;
		margin-left: -252px;
		font-size: 11px;
		width: 504px;
	}
	.consolidated #nowarrantyCheckmark {
		margin-top: -200px;
		margin-left: -231px;
	}
	.consolidated #warrantyCheckmark {
		margin-top: -106px;
		margin-left: -231px;
	}
	.consolidated #fullCheckmark {
		margin-top: -19px;
		margin-left: -230px;
	}
	.consolidated #limitedCheckmark {
		margin-top: -19px;
		margin-left: -146px;
	}
	.consolidated #servicecontractCheckmark {
		margin-top: 242px;
		margin-left: -236px;
	}	
}

@media print {
	
	#buyingGuideOptions {
		display: none;
	}
	#sticker .make {
		width: 1.06in;
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9pt;
	}	
	#sticker .model {
		width: 1.125in;
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9pt;
	}	
	#sticker .year {
		width: 1.125in;
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9pt;
	}
	#sticker .vin {
		position: relative;
		top: 0.4in;
		left:-2.2in;
		width: 2.375in;
	}
	#sticker .snum {
		width: 1.313in;
	}
	
	/* as-is template */
	
	.consolidated #line1 {
		margin-top: -3.69in;
		margin-left: -3.6in;
		font-size: 11pt;
		width: 7in;
		white-space: nowrap;
	}
	.consolidated #line2 {
		margin-top: -3.30in;
		margin-left: -3.6in;
		font-size: 11pt;
		width: 7in;
		white-space: nowrap;
	}

	.consolidated #nowarrantyCheckmark {
		margin-top: -2.28in;
		margin-left: -3.453in;
	}
	.consolidated #warrantyCheckmark {
		margin-top: -0.908in;
		margin-left: -3.453in;
	}
	.consolidated #fullCheckmark {
		margin-top: -0.14in;
		margin-left: -3.53in;
	}
	.consolidated #limitedCheckmark {
		margin-top: -0.14in;
		margin-left: -2.66in;
	}
	.consolidated #servicecontractCheckmark {
		margin-top: 2.51in;
		margin-left: -3.58in;
	}
}