
/* BUYERS 
		GUIDE */
#sticker {
	font-size: 100%;
}
#warrantyCheckmark {
	display: none;
	font-size: 4em;
}
#nowarrantyCheckmark {
	display: none;
	font-size: 4em;
}
#fullCheckmark {
	display: none;
	font-weight: bold;
}
#limitedCheckmark {
	display: none;
	font-weight: bold;
}
#servicecontractCheckmark {
	display: none;
	font-size: 0.8em;
	font-weight: bold;
}
/* ========================================================= */
/* = Start: Custom Logic for Performance Toyota Of Lincoln = */
/* ========================================================= */
#limitedPartsPercentage {
	display: none;
	font-size: 0.8em;
}
#limitedLaborPercentage {
	display: none;
	font-size: 0.8em;
}
#servicecontractText {
	display: none;
	font-size: 0.8em;
}
#limitedPercentage {
	display: none;
}
#systemsCovered {
	display: none;
}
#duration {
	display: none;
}
#sticker #vehicleExchangeDuration {
	display: none;
}
#sticker #vehiclePowerTrainDuration {
	display: none;
}
#sticker ul {
	font-size: 0.8em;
}
#sticker li {
	display: list-item;
}
#sticker h4 {
	font-size: 0.8em;
	font-weight: bold;
}
/* = End: Custom Logic for Performance Toyota Of Lincoln = */
@media screen {
	#buyingGuideOptions {
		float: left;
		width: 120px;
		text-align: left;
	}
	#buyingGuideOptions #warrantyTypes {
		display: none;
		margin-left: 10px;
	}	
	#sticker span {
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9px;
	}
	#sticker .make {
		width: 99px;
		padding-right: 9px;
	}	
	#sticker .model {
		width: 97px;
		padding-right: 9px;
	}	
	#sticker .year {
		width: 72px;
		padding-right: 9px;
	}
	
	
	/* as-is template */
	.asis #line1 {
		margin-top: -288px;
		margin-left: -252px;
		font-size: 11px;
		width: 504px;
	}
	.asis #line2 {
		margin-top: -256px;
		margin-left: -252px;
		font-size: 11px;
		width: 504px;
	}
	.asis #nowarrantyCheckmark {
		margin-top: -200px;
		margin-left: -231px;
	}
	.asis #warrantyCheckmark {
		margin-top: -106px;
		margin-left: -231px;
	}
	.asis #fullCheckmark {
		margin-top: -46px;
		margin-left: -248px;
	}
	.asis #limitedCheckmark {
		margin-top: -46px;
		margin-left: -198px;
	}
	.asis #servicecontractCheckmark {
		margin-top: 236px;
		margin-left: -248px;
	}
	/* ========================================================= */
	/* = Start: Custom Logic for Performance Toyota Of Lincoln = */
	/* ========================================================= */
	.asis #limitedLaborPercentage {
		margin-top: -46px;
		margin-left: 33px;
	}
	.asis #limitedPartsPercentage {
		margin-top: -46px;
		margin-left: 152px;
	}
	.asis #servicecontractText {
		margin-left: -252px;
		margin-top: 20px;
		width: 450px;
	}
	.asis #vehicleExchangeDuration {
		position: absolute;
		left: 0;
		margin-left: 328px;
	}
	.asis #vehiclePowerTrainDuration {
		position: absolute;
		left: 0;
		margin-left: 328px;
	}
	/* = End: Custom Logic for Performance Toyota Of Lincoln = */

	
	/* implied template */
	.implied #line1 {
		margin-top: -270px;
		margin-left: -252px;
		font-size: 11px;
		width: 504px;
	}
	.implied #line2 {
		margin-top: -240px;
		margin-left: -252px;
		font-size: 11px;
		width: 504px;
	}
	.implied #nowarrantyCheckmark {
		margin-top: -168px;
		margin-left: -231px;
	}
	.implied #warrantyCheckmark {
		margin-top: -74px;
		margin-left: -231px;
	}
	.implied #fullCheckmark {
		margin-top: -26px;
		margin-left: -248px;
	}
	.implied #limitedCheckmark {
		margin-top: -26px;
		margin-left: -198px;
	}
	.implied #servicecontractCheckmark {
		margin-top: 260px;
		margin-left: -250px;
	}	
	
}
@media print {
	#buyingGuideOptions {
		display: none;
	}
	#sticker .make {
		width: 1.375in;
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9pt;
	}	
	#sticker .model {
		width: 1.35in;
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9pt;
	}	
	#sticker .year {
		width: 1in;
		float: left;
		display: block;
		white-space: nowrap;
		margin-right: 9pt;
	}
	
	/* as-is template */
	
	.asis #line1 {
		margin-top: -4in;
		margin-left: -3.5in;
		font-size: 11pt;
		width: 7in;
		white-space: nowrap;
	}
	.asis #line2 {
		margin-top: -3.56in;
		margin-left: -3.5in;
		font-size: 11pt;
		width: 7in;
		white-space: nowrap;
	}

	.asis #nowarrantyCheckmark {
		margin-top: -2.78in;
		margin-left: -3.21in;
	}
	.asis #warrantyCheckmark {
		margin-top: -1.47in;
		margin-left: -3.21in;
	}
	.asis #fullCheckmark {
		margin-top: -0.64in;
		margin-left: -3.44in;
	}
	.asis #limitedCheckmark {
		margin-top: -0.64in;
		margin-left: -2.75in;
	}
	.asis #servicecontractCheckmark {
		margin-top: 3.28in;
		margin-left: -3.44in;
	}
	
	/* ========================================================= */
	/* = Start: Custom Logic for Performance Toyota Of Lincoln = */
	/* ========================================================= */
	.asis #limitedLaborPercentage {
		font-size: 11px;
		margin-top: -0.64in;
		margin-left: 0.46in;
	}
	.asis #limitedPartsPercentage {
		font-size: 11px;
		margin-top: -0.64in;
		margin-left: 2.12in;
	}
	.asis #servicecontractText {
		font-size: 11px;
		margin-left: -3.44in;
		margin-top: 0.28in;
		width: 7in;
		border: 1px solid #fff;
	}
	.asis #vehicleExchangeDuration {
		position: absolute;
		left: 0;
		margin-left: 4.58in;
		font-weight: normal;
	}
	.asis #vehiclePowerTrainDuration {
		position: absolute;
		left: 0;
		margin-left: 4.58in;
		font-weight: normal;
	}
	/* = End: Custom Logic for Performance Toyota Of Lincoln = */
	
	/* implied template */
	
	.implied #line1 {
		margin-top: -3.75in;
		margin-left: -3.5in;
		font-size: 11pt;
		width: 7in;
		white-space: nowrap;
	}
	.implied #line2 {
		margin-top: -3.33in;
		margin-left: -3.5in;
		font-size: 11pt;
		width: 7in;
		white-space: nowrap;
	}

	.implied #nowarrantyCheckmark {
		margin-top: -2.33in;
		margin-left: -3.21in;
	}
	.implied #warrantyCheckmark {
		margin-top: -1.03in;
		margin-left: -3.21in;
	}
	.implied #fullCheckmark {
		margin-top: -0.36in;
		margin-left: -3.44in;
	}
	.implied #limitedCheckmark {
		margin-top: -0.36in;
		margin-left: -2.75in;
	}
	.implied #servicecontractCheckmark {
		margin-top: 3.61in;
		margin-left: -3.47in;
	}	
}