
#wrap,
#popup #content { 
	padding: 0;
	width: 100%;
	height: auto;
	margin: 0; 
	clear: none; 
	}
	
/* WINDOW 
		STICKER */
.vehicle,
.price {
	font-weight: bold;
}
#sticker dl dt {
	float: left;
}
#sticker { 
	width: 100%;
	height: 100%;
	font-size: 10.5pt;
	text-align: left;
	color: black;
	}
	#sticker div,
	#sticker dl,
	#sticker p {
		position: absolute;
		width: auto;
		left: 50%;
		top: 50%;
	}


	