
#content {
	height: 100%;
}

/* WINDOW 
		STICKER */
.vehicle,
.price {
	font-weight: bold;
}
#sticker dl dt {
	float: left;
}
#sticker { 
	position: relative;
	/* reflects LTR page size :  
			1px = 1pt */
	width: 612px;
	height: 792px;
	font-size: 10.5px;
	top: 0;
	left: 0;
	margin: 0 auto;
	text-align: left;
	color: black;
	background-color: white;
	}
	#sticker div,
	#sticker dl,
	#sticker p {
		position: absolute;
		width: auto;
		left: 50%;
		top: 50%;
	}


