/* // GLOBAL RULES
///////////////////////////////////////////////////////////// */
body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	background-color: #525252;
}

#wrap {
	left: 0;
	margin-top: 0px;
	text-align: center;
	min-width:960px;
}

#content {
	min-height: 600px;
	text-align: center;
	height: 1%;
}

/* > sets < IE 7 min-page width >>>>> */
table.forcer {
	width: 100%;
}

table.forcer td {
	vertical-align: top;
}

table.forcer td.forcer {
	width: 1px;
}

table.forcer td.forcer img {
	width: 960px;
	height: 450px;
	width: 1px;
}

/* /////////////
	global page elements
		///////////// */
#header,#title,#content,#footer,.tabs {
	text-align: left;
}

/* HEADER = dropdown and text navigation */ /* dynamic menu */
#header {
	height: 30px;
	background-color: #fc3;
	font-size: 9px;
	font-family: Arial, helvetica, sans-serif;
	padding-top: 10px;
	border-bottom: 1px solid #000;
}

#dropnav {
	float: left;
	margin-left: 5px;;
	text-align: left;
}

#header .textnav {
	float: right;
	margin-right: 5px;
}

#header .textnav a {
	font-size: 10px;
}

#header ins {
	padding: 0 4px;
	font-size: 1.2em;
	color: #000;
}

#header a {
	font-size: 11px;
	font-family: Arial, helvetica, sans-serif;
	color: #036;
	font-weight: 700;
}

/*main nav links*/
#header #dropnav a {
	color: #000;
}

#dropnav,#dropnav ul {
	vertical-align: top;
}

/* top-level */
#dropnav li {
	padding: 0px 2px 0px 2px;
}

#dropnav a {
	padding-bottom: 6px;
}

#header #dropnav li.on a {
	color: #D90303;
}

#header #dropnav li.on ul a {
	color: #000;
}

#header #dropnav li.on ul a:hover {
	color: #D90303;
}

/*
#dropnav .off a { color: #CB9122; }
*/ /* sub-level */
#dropnav li ul {
	top: 30px;
	border: 1px solid #000;
	z-index: 1;
}

#dropnav li ul li {
	padding: 0px;
}

#header #dropnav li ul a {
	padding: 4px 5px;
	border: 1px solid #000;
	background-color: #fc3;
}

#header #dropnav li ul a:hover {
	color: #D90303;
	background-color: #fcdc7b;
}

#dropnav .on ul a {
	
}

/* widths */
#dropnav li ul.tools,#dropnav li ul.tools a {
	width: 225px;
}

#dropnav li ul.reports,#dropnav li ul.reports a {
	width: 210px;
}

#dropnav li ul.redist,#dropnav li ul.redist a {
	width: 155px;
}

#dropnav li ul.dept,#dropnav li ul.dept a {
	width: 115px;
}

#dropnav li ul.printmenu,#dropnav li ul.printmenu a {
	width: 225px;
}

/* colors */
#title {
	padding: 15px 25px 5px 15px;
	border-bottom: 1px solid #fc3;
}

#title h1 {
	float: left;
	color: #fff;
	font-size: 25px;
}

#title h3 {
	color: #fc3;
	font-size: 14px;
}

/*
	#title h1 img.help { margin: 0 0 4px 10px; vertical-align: bottom; }
*/
#titleBtns {
	width: 100%;
	margin-top: -20px;
	text-align: right;
}

#footer {
	padding: 5px;
	background-color: #525252;
	position: static;
	color: #fc3;
	font-size: 10px;
	height: 25px;
}

#footer cite.disc {
	float: right;
	font-size: 9px;
}

#footer cite.disc a {
	color: #fc3;
	font-size: 9px;
	font-family: Verdana, Arial, sans-serif;
}

#footer em {
	font-weight: bold;
}

#footer .logoFL {
	float: right;;
	width: 196px;;
	height: 26px;
}

#content {
	background-color: #333;
	border-bottom: 1px solid #fc3;
	padding: 0 10px 25px 20px;
	clear: both;
	height: 1%;
}

.tradeManager #content {
	padding: 0 10px 25px 15px;
}

#content .inner {
	padding: 0px;
}

.trades #content .inner {
	padding: 5px 0px 0px 0px;
	height: 1%;
}

.trades #content .inner #items {
	margin-left: 0px;
}

#content .inner p {
	color: #ccc;
}

/* /////////////
	HTML elements
		///////////// */
#content h3 {
	color: #fc3;
	font-size: 12px;
	font-weight: bold;;
	font-family: "Verdana", Arial, sans-serif;
	margin: 5px 0px 5px;
}

#content h2 {
	color: #fc3;
	font-size: 16px;;
	font-weight: 700;
}

a,a:link,a:hover,a:visited,a:active {
	font-size: 11px;
	font-family: Arial, sans-serif;
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #ccc;
}

a:hover {
	text-decoration: underline;
}

.purchaseManagerEdit #content a.orange,
.tradeManagerEdit #content a.orange {
	color: #fc3;
}

#content a.darkLink {
	color: #666;
}

.purchaseManagerEdit #mileage_book_vals_wrap,
.tradeManagerEdit #mileage_book_vals_wrap {
	margin-bottom: 5px;
	height: 1%;
}

.purchaseManagerEdit #kbbStandAloneLink,
.tradeManagerEdit #kbbStandAloneLink {
	float: right;
}

/* /////////////
	global page elements
		///////////// */
.maxWrapper {
	margin: 0 0px 8px 0px;
	height: 1%;
}

/* TABS = above main content */
.tabs {
	height: 1%;
	white-space: nowrap;
	background: url('../_images/bkgds/gradWChecks-tabs.gif') repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	clear: both;
}

.tabs .inner {
	width: 100%;
	margin-top: 9px;
	padding-left: 5px;
	float: left;
}

.tabs a,
.tabs .inner a {
	float: left;
	color: #999;
	text-decoration: none;
}

.tabs a:hover {
	color: #FC3;
}

.tabs a h4 {
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
	font-size: 10px;
	margin: 5px 6px 0 6px;
	font-style: italic;
}

.tabs a.active {
	height: 23px;
	background: #333 url('../../view/edge/tabCap-dark-left.gif') bottom left
		no-repeat;
}

.tabs a.active h4 {
	height: 23px;;
	color: #FC3;
	padding: 4px 0 0 0;
	background: transparent url('../../view/edge/tabCap-dark-right.gif')
		bottom right no-repeat;
	margin: 0;
}

.tabs a.first h4 {
	margin-left: 3px;
}

/* ++ trade manager tab widths ++ */
.tabs .waitingappraisals a.active {
	width: 188px;
}

.tabs .bullpen a.active {
	width: 100px;
}

.tabs .tradesposted a.active {
	width: 140px;
}

.tabs .nottraded a.active {
	width: 133px;
}

.tabs .retail a.active {
	width: 153px;
}

.tabs .wholesalerauction a.active {
	width: 183px;
}

.tabs .search a.active {
	width: 116px;
	
}
.tabs .purchases a.active {
	width: 120px;
	
}
.dataLeft {
	float: left;
}

.tableTitleLeft {
	width: 66px;
}

#QuickAppraiseForm {
	padding-top: 30px;
	text-align: center;
	width: 100%;
}
#QuickAppraiseForm label {
	color: white;
}
#QuickAppraiseForm a {
	color: white;
	font-weight: bold;
}
#QuickAppraiseForm div {
	width: 350px;
	margin: 0 auto 5px auto;
	text-align: left;
}
#QuickAppraiseForm #stockNumberOrVinImage {
	margin: 0px 10px;
	position: relative;
	top: 2px;
}

.purchaseManagerEdit .tableTitleLeft,
.tradeManagerEdit .tableTitleLeft {
	width: 76px;
	padding-top:2px;
}
.tradeManager .search_fields {
	color:#fc3;
	margin:10px 5px;
}
.tradeManager .search_caption {
	font-size: 10px;
}
/* standard details table defs - like trade manager */
.tradeManager	.details {
	width: 99%;
	color: black;
	padding: 0;
	font-size: 10px;
	border: 1px solid #000;;
	height: 1%;
}

#vehicle a {
	font-size: 10px;;
	color: #036;
	font-family: Verdana, Arial, sans-serif;
}

#vehicle a:hover {
	font-size: 10px;
	color: #d90404;
	text-decoration: underline;;
	font-family: Verdana, Arial, sans-serif;
}

.details thead {
	background-color: #fc3;
}

.details td {
	padding: 7px 3px 3px 3px;;
	font-size: 10px;
	border-bottom: 1px solid #000;
}

.details th {
	border-bottom: 1px solid #000;
	padding: 3px;;
	font-size: 10px;;
	color: #036;;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

.details td.manage,.details td.decision,.details td.appraise,.details td.delete,.details td.sold
	{
	padding-bottom: 0;;
	padding-top: 4px;
}
.details td.mileage, .details td.appraisal,.details td.analyzed, .details td.year, .trades .details td.decision{
	text-align:center;
}
.details td.decision,.details td.delete {
	text-align: right;
}

.details td.risk,.details td.sold, .details td.timestamp, .details td.salesperson {
	text-align: center;
}

.details th.make,.details th.trim,.details th.color,.details th.model {
	text-align: left;
}

.details .odd {
	background-color: #fff;
}

.details .even {
	background-color: #fff;
}

.details select {
	width: 140px;
}

#content .managePeople div.add_remove_button {
	text-align: center;
}

#content .managePeople a {
	color: #333;
}



/* //////////
page-specific exceptions 
////////// */



.search_fields input.findimg {
		margin-bottom: -3px;
}
#appraisal label {
	font-size: 10px;
}

.purchaseAnalyzerResults #appraisal,
.tradeAnalyzerResults #appraisal {
	float: left;
	width: 300px;
	margin-left: 5px;
}

.purchaseAnalyzerResults #customer_appraisal_form,
.tradeAnalyzerResults #customer_appraisal_form {
	margin-top: 5px;
}

.purchaseAnalyzerResults #appraisal .appraiser_selection,
.tradeAnalyzerResults #appraisal .appraiser_selection {
	
}

.purchaseAnalyzerResults #appraisal .appraisal_amount,
.tradeAnalyzerResults #appraisal .appraisal_amount {
	float: left;
}

.purchaseAnalyzerResults #appraisal h3,
.tradeAnalyzerResults #appraisal h3 {
	border: 1px solid #000;
}

.purchaseAnalyzerResults #appraisal .body,
.tradeAnalyzerResults #appraisal .body {
	border: 1px solid #000;
	border-top: 0px;
	font-size: 11px;
}

.purchaseAnalyzerOptions #appraisal_ready_wrap,
.tradeAnalyzerOptions #appraisal_ready_wrap,
.appraisalReview #appraisal_ready_wrap  {
	border: 1px solid #000;
	float: right;
	clear: both;
	width: 300px;
}

.purchaseAnalyzerOptions #appraisal_ready_wrap div.appraisal_ready_body,
.tradeAnalyzerOptions #appraisal_ready_wrap div.appraisal_ready_body,
.appraisalReview #appraisal_ready_wrap div.appraisal_ready_body {
	border-top: 1px solid #000;
	padding: 5px;
	background-color: #fff;
}

.purchaseAnalyzerOptions #estimate,
.tradeAnalyzerOptions #estimate,
.appraisalReview #estimate
 {
	width: 70px;
}


.tradeAnalyzerOptions #potential_deal_wrap,
.tradeAnalyzerResults #potential_deal_wrap,
.purchaseManagerEdit #potential_deal_wrap,
.appraisalReview #potential_deal_wrap
	{
	float: right;
	margin: 0px 0px 5px 0px;
}

.purchaseManagerEdit #potential_deal_wrap,
.tradeAnalyzerResults #potential_deal_wrap {
	clear: none;
	float: left;
}

.purchaseAnalyzerOptions #reconditioning_wrap,
.tradeAnalyzerOptions #reconditioning_wrap,
.appraisalReview #reconditioning_wrap {
	border: 1px solid #000;
	margin-right: 3px;
	margin-left: 0px;
	width: 345px;
	float: left;
}

.purchaseAnalyzerOptions #reconditioning_wrap.lithia,
.tradeAnalyzerOptions #reconditioning_wrap.lithia,
.appraisalReview #reconditioning_wrap.lithia {
	border: 1px solid #000;
	margin-right: 3px;
	margin-left: 0px;
	width: 550px;
	float: left;
}

.purchaseAnalyzerOptions #reconditioning_wrap.lithia #condition,
.tradeAnalyzerOptions #reconditioning_wrap.lithia #condition,
.appraisalReview #reconditioning_wrap.lithia #condition {
	width: 538px;
	height: 200px;
}

.purchaseAnalyzerOptions #reconditioning_wrap .recon,
.tradeAnalyzerOptions #reconditioning_wrap .recon,
.appraisalReview #reconditioning_wrap .recon {
	background-color: #fff;
	padding: 5px;
	border-top: 1px solid #000;
	height:1%;
	font-size:11px;
}

.purchaseAnalyzerOptions #reconditioning_wrap .recon label,
.tradeAnalyzerOptions #reconditioning_wrap .recon label,
.appraisalReview #reconditioning_wrap .recon label  {
	width: 130px;
}

.purchaseAnalyzerOptions #reconditioning_wrap .recon label,
.purchaseAnalyzerOptions #reconditioning_wrap span,
.tradeAnalyzerOptions #reconditioning_wrap .recon label,
.tradeAnalyzerOptions #reconditioning_wrap span,
.appraisalReview #reconditioning_wrap .recon label,
.appraisalReview #reconditioning_wrap span
	{
	font-weight: bold;
}

#offerEditInput {
	float: left;
}

.purchaseAnalyzerResults #inventoryDecision,
.tradeAnalyzerResults #inventoryDecision,
.purchaseManagerEdit #inventoryDecision,
.tradeManagerEdit #inventoryDecision
	{
	border: 1px solid black;
	width: 660px;
}

#grayBorderIntActionTable label,#tradeAnalyzerGroupTable label {
	font-weight: bold;
}  /*inventory decsision labels*/

.purchaseAnalyzerResults #inventoryDecision #grayBorderIntActionTable,
.tradeAnalyzerResults #inventoryDecision #grayBorderIntActionTable,
.purchaseManagerEdit #inventoryDecision #tradeAnalyzerGroupTable,
.tradeManagerEdit #inventoryDecision #tradeAnalyzerGroupTable
	{
	width: 100%;
	border-top: 1px solid #000;
}


h5.searchtradesresultheader {
	color: #fc3;
}
.naaa_disclaimer {
	font-size: 10px;
	color: #fff;
}

.displayListings label {
	color: #ccc;
}


.purchaseAnalyzerOptions #submit_buttons,
.tradeAnalyzerOptions #submit_buttons,
.purchaseAnalyzerResults #submit_buttons,
.tradeAnalyzerResults #submit_buttons,
.appraisalReview #submit_buttons
	{
	margin-top: 15px;
	margin-right: 0px;
	clear: both;
	float: right;
	text-align: right;
}

.purchaseAnalyzerOptions #submit_buttons a,
.tradeAnalyzerOptions #submit_buttons a,
.purchaseAnalyzerResults #submit_buttons a,
.tradeAnalyzerResults #submit_buttons a,
.appraisalReview #submit_buttons a
	{
	display: block;
	float: right;
}
.purchaseAnalyzerOptions #submit_buttons a div,
.tradeAnalyzerOptions #submit_buttons a div,
.purchaseAnalyzerResults #submit_buttons a div,
.tradeAnalyzerResults #submit_buttons a div,
.appraisalReview #submit_buttons a div
	{
	display: inline;

}

#back_to_previous_btn {
	width: 115px;
	height: 18px;
	margin-right: 15px;
	background: url('../../view/edge/btn-backToPreviousPage.gif') no-repeat;
}

#show_dealer_group_results {
	float: right;
	padding-right: 5px;
}

.purchaseAnalyzerOptions #submit_buttons .cancel,
.tradeAnalyzerOptions #submit_buttons .cancel,
.appraisalReview #submit_buttons .cancel{
	background: url('../../view/edge/btn-cancel.gif') no-repeat;
	float: left;
	width: 50px;
	height: 15px;
	margin-right: 5px;
}

.purchaseAnalyzerOptions #submit_buttons .submit,
.tradeAnalyzerOptions #submit_buttons .submit,
.appraisalReview #submit_buttons .submit {
	background: url('../../view/edge/btn-seeResults.gif') no-repeat;
	float: left;
	width: 70px;
	height: 15px;
}

.purchaseAnalyzerResults #submit_buttons,
.tradeAnalyzerResults #submit_buttons {
	margin-right: 15px;
}

#done_next_btn {
	width: 125px;
	height: 20px;
	background: url('../../view/edge/btn-doneAndNext.gif') no-repeat;
}

#done_btn {
	width: 55px;
	height: 20px;
	background: url('../../view/edge/btn-done.gif') no-repeat;
}

#appraiseAnotherVehicle_btn {
	width: 140px;
	height: 20px;
	background: url('../../view/edge/btn-appraiseAnotherVehicle.gif') no-repeat;
}

 .naaa_data {
	border: 1px solid #000;
	background-color: #d1dbf4;
	height: 1%;
	clear: both;
}

 .naaa_data .options {
	padding: 3px;
}

 .mmr_link {
	padding-bottom: 3px;
	display: block;
	float: right;
	height: 20px;
}

 #mmr_link_btn {
	width: 102px;
	height: 20px;
	margin-right: 10px;
	background: url('../../view/edge/btn-connectToMMROn42.gif') no-repeat;
}

.purchaseAnalyzerResults #trade_analyzer_appraisal_form,
.tradeAnalyzerResults #trade_analyzer_appraisal_form {
	float: right;
}

 .naaa_data .vehicle_name {
	height: 20px;
	padding: 3px;
	font-weight: bold;
	font-size: 18px;
	font-family: Verdana, Arial, sans-serif;
}

 .naaa_data label {
	font-weight: bold;
}

 .naaa_data .view_auction {
	float: right;
}

 .naaa_data .view_auction .view_auction_btn {
	width: 120px;
	height: 20px;
	background: url('../../view/edge/btn-viewAuctionReport.gif') no-repeat;
}

.inventoryDecision_tile_wrapper {
	background-color: #fff;	
	padding: 5px 10px;
	zoom: 1; /* KLUDGE: force Non-Quirks mode rendering */
}

.inventoryDecision_tile_wrapper .requiredField {
	color: #f00;
}

.inventoryDecision_tile_wrapper #requiredFieldExplanationTable td {
	color: #03184A;
}

.purchaseAnalyzerResults #make_model_mileage_wrap,
.tradeAnalyzerResults #make_model_mileage_wrap {
	margin-top: 10px;
}

.purchaseAnalyzerResults #make_model_mileage_wrap .mileage,
.tradeAnalyzerResults #make_model_mileage_wrap .mileage {
	color: #fc3;
}

.purchaseManagerEdit  .mileage,
.tradeManagerEdit .mileage,
.purchaseAnalyzerResults #make_model_mileage_wrap .vin,
.tradeAnalyzerResults #make_model_mileage_wrap .vin,
.purchaseManagerEdit  .vin,
.tradeManagerEdit .vin {
	color: #ccc;
	padding-left: 10px;
}
.tradeManager .pageAction,
.purchaseManagerEdit .pageAction,
.tradeManagerEdit .pageAction {
	float: right;
	margin: 10px 5px;
}

.purchaseManagerEdit #potential_deal_inner_wrap dl,
.tradeManagerEdit #potential_deal_inner_wrap dl {
	float: left;
}

.purchaseManagerEdit .grey,
.tradeManagerEdit .grey {
	background-color: #bababa;
	border: 1px solid #575757;
}

.tradeManagerEdit .customer_info,
.purchaseManagerEdit .customer_info,
.purchaseManagerEdit #potential_deal_inner_wrap,
.tradeManagerEdit #potential_deal_inner_wrap {
	border: 1px solid #999;
	padding: 5px;
	padding-top: 10px;
	height: 2px;
	margin: 0px;
	vertical-align: middle;
}

.tradeManagerEdit .customer_info label,
.purchaseManagerEdit .customer_info label,
.purchaseManagerEdit #potential_deal_inner_wrap label,
.tradeManagerEdit #potential_deal_inner_wrap label
	{
	color: #ccc;
	font-size: 11px;
	margin-left: 5px;
	text-align: right;
}

.tradeManagerEdit .customer_info .customer_details {
	margin-top: 10px;
}

.tradeManagerEdit .customer_info #customerLastName_lbl {
	margin-top: -20px;
}

.purchaseManagerEdit .customer_info #male_wrap,
.tradeManagerEdit .customer_info #male_wrap {
	display: block;
}

.purchaseManagerEdit .customer_info div,
.tradeManagerEdit .customer_info div {
	float: left;
	clear: none;
}
.tradeManagerEdit .customer_info  #customerFirstName_wrap,
.purchaseManagerEdit .customer_info  #customerFirstName_wrap {
	float: left;
}
.tradeManagerEdit .customer_info label,
.purchaseManagerEdit .customer_info label {
	color: #fff;
	font-size: 11px;
}

.purchaseManagerEdit h5,
.tradeManagerEdit h5 {
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	color: #fc3;
	margin: 3px 0 5px 0;
	padding: 0;
}

.tradeManager .search label {
	font-weight: bold;
}

.tradeManager .search input {
	margin-left: 5px;
	vertical-align: middle;
}

.tradeManager .pageAction input {
	vertical-align: middle;
	margin-left: 10px;
}

.purchaseManagerEdit .hdr,
.tradeManagerEdit .hdr {
	color: #fff;
	background-color: #525252;
	padding: 2px 10px;
	border-bottom: solid 1px #000;
	border-right: solid 1px #000;
	font-size: 11px;
}

.purchaseManagerEdit .appraisal_table,
.tradeManagerEdit .appraisal_table {
	border-top: solid 1px #000;
	float: left;
	clear: both;
}

.tradeManagerEdit .customer_appraisal {
	background-color: #ccc;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	width: 185px;
	position: relative;
	left: -3px;
	clear: right;
}

.tradeManagerEdit .customer_appraisal #offerEdit {
	display: block;
}

.tradeManagerEdit .customer_appraisal #appraisal_print {
	clear: both;
}

.tradeManagerEdit .customer_appraisal .numberEditOver {
	background-color: #ffffcc;
}

.tradeManagerEdit  .customer_appraisal .body {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px;
	font-size: 11px;
}

.purchaseManagerEdit #content .appraisal_table .body,
.tradeManagerEdit #content .appraisal_table .body {
	background-color: #ccc;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	padding: 5px;
}

.purchaseManagerEdit #content .appraisal_table .hdr,
.tradeManagerEdit #content .appraisal_table .hdr {
	border-left: 1px solid #000;
}

.purchaseManagerEdit #content .appraisal_table .appraisal_form_container,
.tradeManagerEdit #content .appraisal_table .appraisal_form_container {
	width: 200px;
}

.purchaseManagerEdit #content .appraisal_table .appraisal_form_container .upgrade,
.tradeManagerEdit #content .appraisal_table .appraisal_form_container .upgrade
	{
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.purchaseManagerEdit #vehicle_details_page_header,
.tradeManagerEdit #vehicle_details_page_header {
	margin-top: 10px;
}


.analyzerInput {
	margin-bottom: 10px;
	background-color:white;
	border:solid 1px #ccc;
	padding:10px;
}

.analyzerInput .inner {
	background-color: #EEE;
}

.analyzerInput div.vin {
	float: left;
	font-size: 14px;
	padding-top: 3px;
}

.analyzerInput div.vin span {
	font-size: 11px;
	font-weight: normal;
}

.analyzerInput .title {
	font-weight: bold;
	font-size: 20px;
}

.analyzerInput .details {
	font-weight: bold;
	font-size: 14px;
	margin: 5px 0 5px 0;
	clear: both;
}

.analyzerInput .details div {
	display: inline;
	margin: 0 20px 0 0;
}

.analyzerInput .details span {
	font-weight: normal;
	font-size: 11px;
}

.analyzerInput .color select {
	width: 100px;
}

#bookout {
	margin-bottom: 20px;
}

.dealTbl {
	font-size: 10px;
	clear: both;
	width: 460px;
	border: 1px solid #000;
}

.dealTbl td {
	font-size: 10px;
}

.dealTbl th {
	text-align: left;
	background-color: #d1dbf4;
	font-size: 11px;
	border-bottom: 1px solid #000;
}

#content h3.blue_header {
	white-space: nowrap;
	background-color: #d1dbf4;
	color: #000;
	font-size: 11px;
	padding: 3px;
	margin: 0;;
	font-weight: 700;
	font-family: Arial, verdana, sans-serif;
}

#content h3.grey_header {
	white-space: nowrap;
	background-color: #ccc;
	color: #000;
	font-size: 11px;
	padding: 3px;
	margin: 0;;
	font-weight: 700;
	font-family: Arial, verdana, sans-serif;
}

#content h3.one_off_white {
	color: #fff;
}

#content h5 {
	color: #ccc;
}

.metal {
	background-color: #fff;
}

.metal td {
	padding: 10px;
}

dl.dealType dt,dl.stocknum dt,dl.salesPersonName dt {
	width: 125px;
	float: left;
}

dl.dealType dd,dl.stocknum dd,dl.salesPersonName dd {
	margin-bottom: 3px;
}

/*carfax links and text*/
.carfax { padding: 1px; margin-bottom: 10px; border: 1px solid #000; background: #fff; color: #000; overflow: auto;}
.carfax .body { padding: 3px; border: 1px solid black; zoom: 1; }
.carfax .body #carfaxLogo { vertical-align:top; float:left; display: inline; margin-right:15px; }
.carfax #carfaxHref { color: black; margin-left: 5px; }
.carfax .displayListings { border-left: 1px solid black; margin-left: 5px; padding-left: 5px; font-size:0.8em; }
.carfax .displayListings label { color: black; }
.carfax .displayListings a { text-decoration: underline; padding-left: 4px; color: black; }
.carfax .reports { font-size:1.0em; float: left;}
.carfax .reports a { font-weight: bold; }
.carfax select{ vertical-align:top; margin-bottom:5px; }
.carfax  #carfaxReportStatusImage { padding-left: 4px; position: relative; top: 3px; }
.purchaseManagerEdit #carfaxHref,
.tradeManagerEdit #carfaxHref{
	font-size:12px;
}
#carfaxBody {
	min-width: 0px;
	}
#carfaxPopupContainer {
	width: 500px; margin: 10px; }

/*autocheck*/
.autocheck #autocheckHref{
	color:#fff;
}


.purchaseManagerEdit dl.dealType dt,
.tradeManagerEdit dl.dealType dt {
	width: 65px;
}

.purchaseManagerEdit dl.salesPersonName dt,
.tradeManagerEdit dl.salesPersonName dt {
	width: 90px;
}

#content a.managePersonLink {
/*	margin-left: 130px;*/
	color: #676767;
}

.purchaseManagerEdit a.manageAppraiserLink,
.tradeManagerEdit a.manageAppraiserLink {
	color: #676767;
	margin-left: 5px;
}

.purchaseManagerEdit a.lithiaManageAppraiserLink,
.tradeManagerEdit a.lithiaManageAppraiserLink {
	color: #676767;
	margin-left: 5px;
	float: right;
}

.purchaseManagerEdit #content a.salesPersonLink,
.tradeManagerEdit #content a.salesPersonLink {
	margin-left: 10px;
	color: #cccccc;
	float: left;
}

#content #customerFirstName_wrap {
	display: block;
}

#customerFirstName_lbl,#customerLastName_lbl {
	width: 70px;
}

.heavy {
	font-weight: bold;
}

.bumpTable td {
	font-size: 10px;;
	padding-right: 5px;
}

table.redistributionTable {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-collapse: collapse;
	width: 305px;
	font-family: Verdana, Arial, sans-serif;
}

table.redistributionTable td {
	border-bottom: solid 1px #999;
	padding: 2px 2px;
	font-size: 9px;
}
div.redistribution_container table.redistributionTable td a {
	color: #666;

}

table.redistributionTable td.right_align {
	text-align: right;
}

table.redistributionTable td.phone_number {
	width: 85px;
}

table.redistributionTable thead td {
	background-color: #ccc;
	border-bottom-style: dashed;
	font-weight: bold;
}

table.redistributionTable tbody td {
	background-color: #fff;
	border-top: none;
}

div.redistribution_container {
	float: left;
	margin-left: 2px;
}


#performanceAnalysisIFrame {
	width: 100%;
	height: 460px;
	border: solid 1px #ccc;
	background-color: #333;
}



#bookOutIFrame {
	height: 250px;
}



table#inGroupDataItemsTable td,table#actionIndicatorTable td {
	font-size: 11px;
	vertical-align:top;
	
}
table#inGroupDataItemsTable td,table#actionIndicatorTable td .inventoryDecisionCheck{
	float:left;
	
}

a.jdPowerLink {
	display: block;
	float: right;

}
a.jdPowerLink img {
	vertical-align: top;
}

#emailPopup {
	border: 1px solid #ddd;
	width: 380px;
	height: 300px;
	background-color: #fff;
	position: absolute;
	z-index: 3;
	font-size: 0.8em;
	left: 20px;
}
#emailPopup div.head {
	background: url(../_images/bkgds/grad-tab-small.gif) repeat-x top left;
	width: 100%;
	height: 14px;
	padding: 5px 5px;
}
#emailPopup div.content {
	width: 100%;
	padding: 5px;
}
#emailPopup h2 {
	color: #000;
	font-size: 12px;
	font-weight: bold;
}

#emailPopup ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#emailPopup li {
	padding: 0;
	margin: 0;
	float: left;
	clear: both;
	width: 100%;
}
#emailPopup input, #emailPopup textarea {
	width: 100%;
	font: 10px/12px verdana, sans-serif;
}
#emailPopup input.submit {
	width: auto;
	float: right;
	margin-top: 10px;
}

#emailPopup a.closer {

	color: #666;
	float: right;
	padding-right: 18px;
	background: url(../_images/buttons/close-box.gif) no-repeat center right;
}

#emailPopup a.closer:hover {
	color: #f00;
	text-decoration: underline;
	cursor: pointer;

}
