body { margin:0;padding:0;background-color:white; }
	#popup body,#iframe body { background-color:white; }

#wrap { width:100%;padding:0 3pt; }
img { border:none; }
form,table,td,th { margin:0;padding:0; }

/* text */
body, td, th, p, select, input { font-size: 8pt; color: black; font-family: Arial, Helvetica, Verdana, sans-serif; }
			ins { font-weight: normal; text-decoration: none; padding: 0 5px; } /* co-opted for spacing pipes */
			cite { font-size: 10px; font-style: normal; font-family: Verdana, Helvetica, sans-serif; }

			h1 { font-size: 25px; margin: 0 0 5px 0; }
h2 { font-size: 16pt; margin: 0 0 5pt 0; }
h3 { font-size: 11pt; margin: 0 0 5pt 0; }

/* verdana headers */
			h4 { font-size: 13px; margin: 0 0 2px 0; text-transform: uppercase; font-family: Verdana, Helvetica, sans-serif; }
			h5 { font-size: 10px; margin: 0 0 2px 0; text-transform: uppercase; color: #CCC; font-family: Verdana, Helvetica, sans-serif; }

			h6 { font-size: 8px; }

/* links */
a { color: black; text-decoration: none; }

/* asst. declarations */
.neg { color: black; }
.hilite { color: black; }
	tr.hilite { background-color: #EEE; color: black; }

.even { background-color: #DDD; }

	.show { display: block; }
	span.show, select.show, input.show, a.show { display: inline; }
	span.print { display: inline; }
	.print { display: block; }
/*.hide { display: none; }*/
.hide { visibility: hidden; display: none; }
			
			/* standard list */
			ul { list-style: square inside; margin: 3px 0 5px 0; padding: 0; white-space: nowrap; /*font-size: 10px;*/ font-family: Verdana, Helvetica, sans-serif; }
			li { padding: 2px 0 0 0; margin: 0; }
			
			/* horiz. list */
			ul.h { list-style: none; margin: 0; padding: 0; clear: both; }
			ul.h li { list-style: none; display: inline; margin: 0; padding: 0; }

/* //////////
	global components
		////////// */

/* help */
img.help, div.help { display: none; }

/* filter or sort */
.pageAction { display: none; }







/* /////////////
	global page elements
		///////////// */

/* HEADER */
#header { margin-top: 0; }
	#header #dropnav, #header #dropnav *, #header .textnav { display: none; }
#header .logoFL { float: right; }

 	/* exceptions */
	body.windowSticker #header { display: none; }

/* TITLE */
#titleBtns { display: none; }

#title { float: left; padding: 0; }
	#title h1, #title h3 { display: none; }
	#title h2 { color: black; margin-bottom: 0; }

	/* popup declarations */
#popup #title { height: auto; background-color: transparent; border: none; }
				#popup #title h1 { margin-top: 10px; }
	#popup #title h3 { display: none; }

/* TABS = used here for subhead on some pages */
.tabs { margin-top: 6pt; clear: both; }
	.tabs .inner { display: none; }

/* CONTENT = primary page container */
#content { clear: both; }
#content table.forcer, #content table.forcer td.forcer { width: auto; }
#content table.forcer td { vertical-align: top; }
#content table.forcer td.forcer img { width: auto; height: auto; }
#content table.forcer { clear:none; }
#content table.forcer img.forcer { display: none; }
	/* popup declarations */
	#popup #content { padding: 10px 0; margin: 0 15px; clear: both; }
		#popup #content h3 { text-transform: none; }
		#popup #content h3 strong { text-transform: uppercase; }
	
	
/* FOOTER = copyright and legal */
#footer { margin: 12pt 0; font-family: Verdana, Arial, Helvetica, sans-serif; clear: both; }

	#footer .screen { display: none; }
	#footer cite { float: left; }	
	#footer cite.disc { float: right; }

#footer a { color: black; text-decoration: none; }

 	/* exceptions */
	body.windowSticker #footer { display: none; }


/* table cells */
th {  text-align: left; vertical-align: bottom; }
td {  }




/* standard details table defs */

/* !!! */	table.details { width: 100%; border-collapse: collapse;  }
	.details { color: black; padding: 0; border: solid 2px black; }


/* !!! */	.details thead {  }

/* !!! */	.details th { border-bottom: solid 2px black; }
/* !!! */	.details td { border-top: dashed 1px black; }

/* !!! */	.details th a { text-decoration: none; }
/* !!! */	.details th.sorted a { text-decoration: underline; }

/* //////////
page-specific exceptions 
////////// */

/* trade manager */
		.tradeManager #content p { font-weight: bold; }
		.tradeManager #content .search { display: none; }

/* !!! */	.tradeManager .details th { padding-top: 2pt; padding-bottom: 2pt; }
/* !!! */	.tradeManager .details td { padding-top: 4pt; padding-bottom: 4pt; }
/* !!! */	.details .manage, .details .decision { display: none; }
/* !!! */	.details .risk { width: .6in; text-align: center; vertical-align: middle; }
/* !!! */		.details .risk img { display: none; }

/* !!! */	.details .analyzed { width: .7in; padding-left: 6pt; }	

/* !!! */	.details .appraisal { width: .75in; padding-left: 6pt; }
/* !!! background-color: red; */	
/* !!! */	.details .salesperson { width: .75in; padding-right: 6pt; }

/* !!! */	.details .year { width: .4in; text-align: center; padding-left: 3pt; padding-right: 3pt; }

	.details .make { width: .5in; padding-right: 3pt; }
	.details .model { padding-right: 3pt; }
	.details .trim { padding-right: 3pt; }

/* !!! */	.details .color { width: .65in; text-align: center; padding-right: 6pt; padding-left: 6pt; }
/* !!! */	.details .mileage { width: .5in; text-align: right; padding-right: 6pt; }
/* !!! */		.tradeManager .details td.salesperson { border-right: dashed 1px #333; }

		.tradeManagerEdit #performanceAnalysisIFrame { page-break-before: always; }
		.tradeManagerEdit iframe { margin: 2em auto; }



/* window stickers */
	.windowSticker #header { display: none; }
	.windowSticker #title { display: none; }
	.windowSticker #footer { display: none; }
.windowSticker #content { text-align: center; margin: 0 auto; }
iframe{width:60%;}

