/* // GLOBAL RULES
///////////////////////////////////////////////////////////// */

html,body,#wrap { width:100%; }
    #wrap { position:absolute;top:0; } /* extra container forces footer always to stay at the bottom */
	
body { margin:0;padding:0; }
body#popup,body#iframe { min-width:0; }
	/* > sets < IE 7 min-page width >>>>> */
	table.forcer { border:none;clear:both; }
	table.forcer img.forcer { height:1px;display:block; }
	


	
body#popup table.forcer img.forcer { display:none; }
body.dialog { padding:15px; }


/* /////////////
	HTML elements
		///////////// */

img { border: none; }
form, table, td, th { margin: 0; padding: 0; }

/* text */
body, td, th, p, select, input { font-size: 12px; }

ins { font-weight: normal; text-decoration: none; padding: 0 5px; } /* co-opted for spacing pipes */
cite { font-size: 10px; font-style: normal; font-family: Verdana, Helvetica, sans-serif; }

h1 { font-size: 25px; margin: 0 0 5px 0; }
h2 { font-size: 18px; margin: 0 0 5px 0; line-height: 14px; }
h3 { font-size: 14px; margin: 0 0 5px 0; }
h4 { font-size: 13px; margin: 0 0 2px 0; }
h5 { font-size: 10px; margin: 0 0 2px 0; text-transform: uppercase; }
h6 { font-size: 9px; margin: 0; font-weight: normal; font-family: Verdana, Helvetica, sans-serif; }

/* standard list */
ul { list-style: square inside; margin: 3px 0 5px 0; padding: 0; /*white-space: nowrap; font-size: 10px; font-family: Verdana, Helvetica, sans-serif;*/ }
li { padding: 2px 0 0 0; margin: 0; }

/* horiz. list */
ul.h { list-style: none; margin: 0; padding: 0; }
ul.h li { list-style: none; float: left; margin: 0; padding: 0; }

/* label and forms pairs */
dl, dt, dd { margin: 0; padding: 0; }
dt { float: left; clear: left; }







/* /////////////
	common styles
		///////////// */
		
/* text links */
	a.text { font-family: Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: underline; }
	a.text:hover { color: white; }	

/* lights */
.red { color: #900; }
.yellow { color: #FF0; }
.green { color: #0F0; }


/* asst. declarations */
.error { color: #D90404; }
.neg { color: #D90404; }
.hilite { color: #900; }

img.lcap { float: left; }
img.rcap { float: right; }


.success { margin: 0; color: #FC3; font-style: italic; font-size: .8em; line-height: 1em; }
	tr.hilite { background-color: #EEE; color: black; }
	
.even { background-color: #CCC; }
.show { display: block; }
span.show, select.show, input.show, a.show { display: inline; }
.hide { visibility: hidden; position: absolute; left: 0; top: 0; }


/* print text */
.print { display: none; }
iframe#printFrame { border: none; width: 0; height: 0; }


/* floating div */
.float { position: absolute; z-index: 1; overflow: hidden; background-color: white; border: solid black 2px; }
.float iframe.selectFix { display:none; display/**/:block; position:absolute; top:0; left:0; z-index:-1; filter:mask(); width:3000px; height:3000px; }




/* fix for IE - prevent dropdowns showing through */
iframe.selectFix { 

	position:absolute;
	top:30px;
	left:50px;

width:500px;height:350px;
filter:mask();
z-index: 3;
}




/* /////////////
	global page elements
		///////////// */

/* HEADER = dropdown and text navigation */
	/* dynamic menu */	
#header { width: 990px; padding: 0; }
	#dropnav {  }
	#dropnav, #dropnav ul { list-style: none; padding: 0; margin: 0; }
	/* top-level */
	#dropnav li { float: left; white-space: nowrap; margin: 0; padding: 0;  }
	#dropnav ins { font-weight: normal; }			
	#dropnav a { display: block; text-decoration: none; }
		/* sub-level */
		#dropnav li ul { position: absolute; left: -999px; margin: 0; }
		#dropnav li:hover ul, #dropnav li.over ul { left: auto; z-index: 4; } 
		#dropnav li ul a { display: block; width: auto; }
	#header .textnav {  }
	#header .textnav a { text-decoration: none; }
	#header .textnav a:hover { text-decoration: underline; }

	/* FOOTER = copyright and legal */
#footer { position:absolute;bottom:0; }
	#footer .left { float:left; }




/* TITLE = dealer name and page title */
#title { width: 100%; }




/* CONTENT = primary page container */
#content { padding:0; }
	#content:after { content:".";clear:both;height:0;visibility:hidden;display:block;width:850px; }

#content .dpp .wrapper { border-color:#D90404;color:black;background-color:#ccc;  }
				/* popup declarations */
			#popup #content { /*width: 800px;*/ color: white; padding: 10px 0 30px 0; margin: 0 15px; clear: both; }
				#popup #content h3 { /*color: #FC3; text-transform: none;*/ }
				#popup #content h3 strong { text-transform: uppercase; }
	/* used on pricing analyzer */
	iframe { width: 100%; height: 400px; border: none; padding: 0; margin: 0; }
	#iframe #content { width: 100%; margin: 0; padding: 0; }


/*****************/
/** Max-iPad-tm **/
/*****************/
body.max-iPad-tm #title, 
body.max-iPad-tm #titleBtns {
    padding-right: 25px;
    padding-left: 25px;
    width: 970px;
    overflow: auto;
    clear: both;
}
body.max-iPad-tm #titleBtns {
    padding-left: 40px; /* HACK */
    padding-right: 10px;
}
body.max-iPad-tm .tabs {
    width: 1012px; /* HACK */
    padding-right: 8px;
    height: 100%;
    margin-bottom: -18px; /* HACK */
}
body.max-iPad-tm .tabs .inner {
    margin: 0 16px;
    height: 25px;
}
body.max-iPad-tm .tabs .inner.bullpen,
body.max-iPad-tm .tabs a {
    height: 25px;
}
body.max-iPad-tm .tabs a.active {
    height: 22px;
}
body.max-iPad-tm .tabs a.active h4 {
    margin: 5px 6px 0 7px;
}
body.max-iPad-tm .tabs::after {
    content: ".";
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
body.max-iPad-tm #content .inner {
    width: 959px;
}
body.max-iPad-tm .max360appraisalwrapper {
    width: 946px;
}
body.max-iPad-tm #appraisal_ready_wrap.maxWrapper,
body.max-iPad-tm #reconditioning_wrap.maxWrapper,
body.max-iPad-tm #submit_buttons.maxWrapper {
    width: 940px;
} 
body.max-iPad-tm #submit_buttons.maxWrapper {
    margin-right: 35px;
}
body.max-iPad-tm .appraisalreview #submit_buttons .submit,
body.max-iPad-tm .purchaseanalyzeroptions #submit_buttons .submit,
body.max-iPad-tm .tradeanalyzeroptions #submit_buttons .submit, 
body.max-iPad-tm .appraisalreview #submit_buttons .cancel,
body.max-iPad-tm .purchaseanalyzeroptions #submit_buttons .cancel,
body.max-iPad-tm .tradeanalyzeroptions #submit_buttons .cancel {
    float: none;
    display: inline-block;
}
body.max-iPad-tm #customerLastName_wrap {
    display: block;
}
body.max-iPad-tm #customerLastName_lbl {
    float: left;
    width: 70px;
    padding-left: 0;
}
body.max-iPad-tm .max360appraisalwrapper iframe {
    background-color: #fff;
}
body.max-iPad-tm.legacy .max360appraisalwrapper .naaa_data {
    width: 800px;
}
body.max-iPad-tm #true_market_value.forth {
    width: 290px;
}
body.max-iPad-tm #other_appraisal_tools {
    margin-top: -50px;
}
body.max-iPad-tm #trade_analyzer_appraisal_form {
    overflow: auto;
}
/* Footer */
#footer-logo{float:right;}
#footer{border-top:0px;}
#footerlinks{clear:both;padding:0;margin:0;height:40px;background:url(../../images/footer/footer_bkgrd.jpg) bottom left repeat-x;text-align:center;}
#footer-nav{padding-top: 10px;}
#footer-nav ul li{display:inline;padding:2px;}
#footer-nav a:link, #footer-nav a:hover, #footer-nav a:active, #footer-nav a:visited{font-size:11px;color:#828282;text-decoration:none;}
#footer-nav a:hover{color:#6A6A6A;text-decoration:underline;}
.bordered-box-inner a, .bordered-box-inner a:link, .bordered-box-inner a:visited, .bordered-box-inner a:active { color: #4c82a9; }
.bordered-box-inner a:hover { color: #2270a9; }

