/* // GLOBAL RULES
///////////////////////////////////////////////////////////// */

html,body,#wrap { width:100%; }
    #wrap { position:absolute;top:0; } /* extra container forces footer always to stay at the bottom */
	
body { margin:0;padding:0; }
body#popup,body#iframe { min-width:0; }
	/* > sets < IE 7 min-page width >>>>> */
	table.forcer { border:none;clear:both; }
	table.forcer img.forcer { height:1px;display:block; }
	


	
body#popup table.forcer img.forcer { display:none; }
body.dialog { padding:15px; }


/* /////////////
	HTML elements
		///////////// */

img { border: none; }
form, table, td, th { margin: 0; padding: 0; }

/* text */
body, td, th, p, select, input { font-size: 12px; }

ins { font-weight: normal; text-decoration: none; padding: 0 5px; } /* co-opted for spacing pipes */
cite { font-size: 10px; font-style: normal; font-family: Verdana, Helvetica, sans-serif; }

h1 { font-size: 25px; margin: 0 0 5px 0; }
h2 { font-size: 18px; margin: 0 0 5px 0; line-height: 14px; }
h3 { font-size: 14px; margin: 0 0 5px 0; }
h4 { font-size: 13px; margin: 0 0 2px 0; }
h5 { font-size: 10px; margin: 0 0 2px 0; text-transform: uppercase; }
h6 { font-size: 9px; margin: 0; font-weight: normal; font-family: Verdana, Helvetica, sans-serif; }

/* standard list */
ul { list-style: square inside; margin: 3px 0 5px 0; padding: 0; /*white-space: nowrap; font-size: 10px; font-family: Verdana, Helvetica, sans-serif;*/ }
li { padding: 2px 0 0 0; margin: 0; }

/* horiz. list */
ul.h { list-style: none; margin: 0; padding: 0; }
ul.h li { list-style: none; float: left; margin: 0; padding: 0; }

/* label and forms pairs */
dl, dt, dd { margin: 0; padding: 0; }
dt { float: left; clear: left; }







/* /////////////
	common styles
		///////////// */
		
/* text links */
	a.text { font-family: Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: underline; }
	a.text:hover { color: white; }	

/* lights */
.red { color: #900; }
.yellow { color: #FF0; }
.green { color: #0F0; }


/* asst. declarations */
.error { color: #D90404; }
.neg { color: #D90404; }
.hilite { color: #900; }

img.lcap { float: left; }
img.rcap { float: right; }


.success { margin: 0; color: #FC3; font-style: italic; font-size: .8em; line-height: 1em; }
	#items tr.hilite { background-color: #EEE; color: black; }
	
.even { background-color: #CCC; }
.show { display: block; }
span.show, select.show, input.show, a.show { display: inline; }
.hide { visibility: hidden; position: absolute; left: 0; top: 0; }


/* print text */
.print { display: none; }
iframe#printFrame { border: none; width: 0; height: 0; }


/* floating div */
.float { position: absolute; z-index: 1; overflow: hidden; background-color: white; border: solid black 2px; }
.float iframe.selectFix { display:none; display/**/:block; position:absolute; top:0; left:0; z-index:-1; filter:mask(); width:3000px; height:3000px; }



/* fix for IE - prevent dropdowns showing through */
iframe.selectFix { 

	position:absolute;
	top:50px;
	left:50px;
	width:500px;
	height:350px;
	filter:mask();
}
iframe.tools {
	top: 30px;
	left: 60px;
	width: 230px;
	height: 290px;
}
iframe.reports {
	top: 30px;
	left: 123px;
	width: 220px;
	height: 290px;
}
iframe.printmenu {
	top: 30px;
	left: 310px;
	width: 230px;
	height: 350px;
}
/* /////////////
	global page elements
		///////////// */

/* HEADER = dropdown and text navigation */
	/* dynamic menu */	
#header { width: 100%; min-width: 100%; padding: 0; }
	#dropnav {  }
	#dropnav, #dropnav ul { list-style: none; padding: 0; margin: 0; }
	/* top-level */
	#dropnav li { float: left; white-space: nowrap; margin: 0; padding: 0;  }
	#dropnav ins { font-weight: normal; }			
	#dropnav a { display: block; text-decoration: none; }
		/* sub-level */
		#dropnav li ul { position: absolute; left: -999px; margin: 0; }
		#dropnav li:hover ul, #dropnav li.over ul { left: auto; } 
		#dropnav li ul a { display: block; width: auto; }
	#header .textnav {  }
	#header .textnav a { text-decoration: none; }
	#header .textnav a:hover { text-decoration: underline; }

	/* FOOTER = copyright and legal */
#footer { position:absolute;bottom:0; }
	#footer .left { float:left; }




/* TITLE = dealer name and page title */
#title { width: 100%; }




/* CONTENT = primary page container */
#content { padding:0; }
	#content:after { content:".";clear:both;height:0;visibility:hidden;display:block;width:850px; }

#content .dpp .wrapper { border-color:#D90404;color:black;background-color:#ccc;  }
				/* popup declarations */
			#popup #content { /*width: 800px;*/ color: white; padding: 10px 0 30px 0; margin: 0 15px; clear: both; }
				#popup #content h3 { /*color: #FC3; text-transform: none;*/ }
				#popup #content h3 strong { text-transform: uppercase; }
	/* used on pricing analyzer */
	iframe { width: 100%; height: 400px; border: none; padding: 0px; margin: 0px; }
	
