

/* // GLOBAL RULES
///////////////////////////////////////////////////////////// */

body {
	font-family:Verdana, Arial, sans-serif;
	font-size:14px;
}

#wrap { 
	left:0;
	margin-top:6px;
	text-align:center;
}
#content { min-height:600px; }

/* > sets < IE 7 min-page width >>>>> */
	table.forcer { width:100%; }
	table.forcer td { vertical-align:top; }
	table.forcer td.forcer { width:1px; }
	table.forcer td.forcer img { height:450px;width:1px; }	

/* /////////////
	global page elements
		///////////// */

#header, #title, #content, #footer,.tabs { width:990px;	text-align:left; }

.purchaseManagerEdit #pageTitle,
.tradeManagerEdit #pageTitle,
.purchaseAnalyzerResults #pageTitle,
.tradeAnalyzerResults #pageTitle,
.purchaseAnalyzerOptions  #pageTitle { visibility: hidden; }


/* HEADER = dropdown and text navigation */
	/* dynamic menu */

#header { 
	height:18px;
	background-color:white;
	font-size: 9px;
}
#dropnav { float:left;margin-left:5px;text-align:left; }
#header .textnav { float:right;margin-right:5px; }

	#header ins { padding: 0 4px; font-size:1.2em; color:#ccc; }
	#header a {
		font-size:9px;
		font-family: 'Verdana', sans-serif;
		color:#666;
	}
	#header #dropnav a {
		color:#036;
	}

	#dropnav, #dropnav ul {  vertical-align: top; }
	
	/* top-level */
	#dropnav li {  }			
	#dropnav a { padding-bottom: 10px; }
/*
#dropnav .on a { color: #D90404; }
#dropnav .off a { color: #CB9122; }
*/
		/* sub-level */
		#dropnav li ul { top: 18px; border-bottom: 1px solid #000; z-index:1; }
		#dropnav li ul li {padding:0px;}
		#dropnav li ul a { padding: 4px 5px !important; border: 1px solid #000; border-bottom: none; background-color: white; }
		#dropnav .on ul a { color: black; }
		
			/* widths */ 
			#dropnav li ul.tools, #dropnav li ul.tools a { width: 193px; }
			#dropnav li ul.reports, #dropnav li ul.reports a { width: 210px; }
			#dropnav li ul.redist, #dropnav li ul.redist a { width: 150px; }
			#dropnav li ul.dept, #dropnav li ul.dept a { width: 115px; }
			#dropnav li ul.printmenu, #dropnav li ul.printmenu a { width: 190px;  }
			/* colors */
			#dropnav li li a:hover { color: #036; background-color: #eee; }






#title { background: #eee url('../../view/max/topshadow.gif') repeat-x; }
#title { padding:15px 25px 5px 25px; }
	#title h1 { float:left; color:#3d4868; font-size:16px; }
	#title h3 { float:right; color:#5c687e; font-size:10px; }
/*
	#title h1 img.help { margin: 0 0 4px 10px; vertical-align: bottom; }
*/


#titleBtns { width:990px;background-color: #eee; text-align:right; }




#footer { 
	padding:5px; 
	background-color:white;
	position:static;
	font-weight:bold;
	color:#9999b2;
	font-size:10px;
}

#footer .logoFL { float:right; }




#content {
	background-color: #eee;
	border-bottom: 1px solid black;
	padding: 0 15px 25px 15px;
	clear: both;
}

.tradeManager #content {
	padding: 0 15px 25px 15px;
}

#content .inner {
	width: 959px; 
	background-color:#fcfcfc;
	border: 1px solid #ccc;
	padding:10px;
}

/* /////////////
	HTML elements
		///////////// */


#content h3 { text-transform: uppercase; color:#263047; font-size:10px; font-weight:bold; }

a, a:link, a:hover, a:visited, a:active { 
	font-size:11px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color:#355fab;
	text-decoration:none;
	cursor: pointer; 
}
a:visited {
    color:#667ba3;
}
a:hover {
    text-decoration:underline;
}


/* /////////////
	global page elements
		///////////// */

.maxWrapper { margin: 0 10px 15px 10px; padding-bottom: 1px; height:1%; position: relative; }
.max360AppraisalWrapper {
	border: 2px solid #335424;
	padding: 10px 0 1px 0;
	border-top: none;
	width: 950px;
	position: relative;
	margin: 0 0 10px 0;
	
}
.max360AppraisalWrapper .maxWrapper { clear: both; }
img#max360Appraisal {
	position: relative;
	left: -9px;
	top: 3px;	
}
.legacy .max360AppraisalWrapper iframe {
	background: #eeeeee url(../../view/max/iframe-loader.gif) no-repeat 50% 50% !important;
}
/* ================================================== */
/* = Tiles Width inside of .max360AppraisalWrapper = */
/* ================================================== */
.legacy .max360AppraisalWrapper .purchaseAnalyzerResults #grayBorderIntActionTable,
.legacy .max360AppraisalWrapper .tradeAnalyzerResults #grayBorderIntActionTable,
.legacy .max360AppraisalWrapper #inventoryDecision,
.legacy .max360AppraisalWrapper .dealTbl,
.legacy .max360AppraisalWrapper iframe,
.legacy .max360AppraisalWrapper #bookOutIFrame,
.legacy .max360AppraisalWrapper #bookOutIFrame,
.legacy .max360AppraisalWrapper #performanceAnalysisIFrame,
.legacy .max360AppraisalWrapper .naaa_data,
.legacy .max360AppraisalWrapper .customer_appraisal,
.legacy .max360AppraisalWrapper .maxWrapper .maxWrapper
{ width: 922px; }

/* ================================================== */
/* = Tiles Width outside of .max360AppraisalWrapper = */
/* ================================================== */
.legacy .purchaseAnalyzerResults #grayBorderIntActionTable,
.legacy .tradeAnalyzerResults #grayBorderIntActionTable,
.legacy #inventoryDecision,
.legacy .dealTbl,
.legacy iframe,
.legacy #bookOutIFrame,
.legacy #bookOutIFrame,
.legacy #performanceAnalysisIFrame,
.legacy .naaa_data
.legacy .customer_appraisal,
.legacy .maxWrapper .maxWrapper
{ width: 940px; }



/* TABS = above main content */
.tabs {
	height: 1%;
	background-color: #eee;
	clear: both;
	padding-top:20px;
}
.tabs .lcap { margin-left:15px; }
.tabs .rcap { margin-right:16px; }


.tabs .inner  { 
	height:1%;
	margin: 0 10px;
	border-top:solid 1px #ccc;
	background: #fcfcfc url('../../view/max/grad-FFtoE8E8EA-16h.gif') repeat-x bottom;
}
.tabs img  { 
	background: #fcfcfc url('../../view/max/grad-FFtoE8E8EA-16h.gif') repeat-x bottom;
}



/* ++ regular tab ++ */
.tabs a {
	float: left;
	padding-top:4px;
	color: #355fab;
	text-decoration: none;
}
.tabs a:hover {
	color: #333;
}
.tabs a:visited {
	color: #355fab;
}
.tabs a h4 {
	text-align: center;
	font-size: 10px;
	margin: 5px 6px 0 7px;
	white-space: nowrap;
	font-weight: 900; /* As bold as Possible */
}
.tabs a {
	height: 25px;
	position:relative; 
	bottom:-1px;
}

/* ++ active tab ++ */
.tabs a.active {         
	border-right:1px solid #cccccc; 
	border-left:1px solid #cccccc;
	color: #212838;
	background-color: #fcfcfc;
	cursor: default;
}
.tabs a.active h4 { 
	margin: 0;
}


	/* ++ trade manager tab widths ++ */
	.tabs .waitingappraisals a.active { width: 180px; }
	.tabs .bullpen a.active { width: 100px; }
	.tabs .tradesposted a.active { width: 140px; }
	.tabs .nottraded a.active { width: 133px; }
	.tabs .retail a.active { width: 153px; }
	.tabs .wholesalerauction a.active { width: 183px; }
	.tabs .search a.active { width: 113px; }
	.tabs .purchases a.active { width: 113px; }




	/* standard details table defs - like trade manager */
	.details { width: 100%; color: black; padding: 0;
	font-size: 10px; }

#content .details a { font-size: 10px;color:#666666; }
.details a:hover { font-size: 10px;text-decoration:underline; }

.details thead { background-color: #eee; }

.details td { padding: 7px 3px 3px 3px;font-size:10px; }
.details th { border:solid #fcfcfc 2px;border-bottom:none; padding: 0 3px;font-size: 10px;color:#666666;font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }
#content .details th.sorted a {color:#355fab;}
	.details td.manage,.details td.decision,.details td.appraise,.details td.delete,.details td.sold { padding-bottom:0;padding-top:4px; }
#content td.appraise {width: 120px;}

.details td.decision,.details td.delete { text-align: right; }
.details td.risk,.details td.sold { text-align: center; }
	.details .odd { background-color: #cfd7e6;; }	
	.details .even { background-color: #fff; }	
	
	.details select { width: 140px; }
	
#carfaxReportUpdatePane {
	background-color: #fff;	border: 1px solid #ccc;	padding: 3px;
}
#carfaxReportUpdatePane .reports {
	float: left; width: 33%; font-size: 8pt; color: #333;
} 
#carfaxReportUpdatePane .displayListings {
	color: #666; font-size: 8pt; float: right;
	width: 60%;	padding-left: 8px; border-left: 1px solid #999;
}
.carfax #carfaxHref,.carfax #upgradeHref { font-size: 14px; font-weight: bold;line-height: 16px; }
.autocheck #autocheckHref { color: #333333; } 
/* //////////
page-specific exceptions 
////////// */

#QuickAppraiseForm {
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

#QuickAppraiseForm div {
	width: 350px;
	margin: 0 auto 5px auto;
	text-align: left;
}

#appraisal_book_values {
	padding-top: 5px;
}
#appraisal_book_values .used_cars {
	position: absolute;
	right: 30px;
	top: -30px;
}

.purchaseAnalyzerResults .naaa_data, 
.tradeAnalyzerResults .naaa_data, 
.purchaseManagerEdit .naaa_data, 
.tradeManagerEdit .naaa_data{	
	border:1px solid #000;
	background-color:#e5e8f9;
	clear:both;
	margin:3px 0 0 0;
	padding:5px;
	background: #e5e8f9 url('../../view/max/naaa_logo.gif') no-repeat bottom right;
	padding: 5px 115px 5px 5px;
	height: 65px;
}
.purchaseAnalyzerResults .naaa_data .options,
.tradeAnalyzerResults .naaa_data .options,
.purchaseManagerEdit .naaa_data .options,
.tradeManagerEdit .naaa_data .options{
	font: normal 12px/12px Arial,Verdana, sans-serif;
	margin-top: 10px;
}
.purchaseAnalyzerResults .naaa_data .options label,
.tradeAnalyzerResults .naaa_data .options label,
.purchaseManagerEdit .naaa_data .options label,
.tradeManagerEdit .naaa_data .options label{
	padding-left:5px;
	font-weight: bold;
}
.purchaseAnalyzerResults .naaa_data .options select,
.tradeAnalyzerResults .naaa_data .options select,
.purchaseManagerEdit .naaa_data .options select,
.tradeManagerEdit .naaa_data .options select {
	position: relative;
	top: 2px;
}
.purchaseAnalyzerResults .naaa_disclaimer,
.tradeAnalyzerResults .naaa_disclaimer,
.purchaseManagerEdit .naaa_disclaimer,
.tradeManagerEdit .naaa_disclaimer{
	font-size:10px;
}

.naaa_data .view_auction {
	float: right;
	position: relative;
	top: -15px;
	padding-right: 1em;
	text-transform: uppercase;
}

.naaa_data .view_auction .view_auction_btn {
	margin-right:10px;
}
.naaa_data .vehicle_name {
	font-size: 11px;
	text-indent: 5px;
}
.tradeManager .pageAction,
.purchaseManagerEdit .pageAction,
.tradeManagerEdit .pageAction {
	float: right;
	margin: 10px 5px;
}
.purchaseManagerEdit h5,
.tradeManagerEdit h5 {
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	color: #4f7ba7;
	margin: 0 0 5px 0;
	padding: 0;
}
.tradeManager .search label { font-weight: bold; }	
.tradeManager .search input { margin-left: 5px; vertical-align: middle; }	
.tradeManager .pageAction input {
	vertical-align: middle;
	margin-left: 10px;
}


.purchaseManagerEdit .hdr,
.tradeManagerEdit .hdr{
	color:#000;
	background-color:#d0d5e1;
	padding:2px 10px;
	border-bottom:solid 1px #ccc;
}
.purchaseManagerEdit .appraisal_table .hdr,
.tradeManagerEdit .appraisal_table .hdr{
	
	font-size:10px;
	color:#666;
}
.purchaseManagerEdit #content .appraisal_table .body,
.tradeManagerEdit #content .appraisal_table .body{
	background-color:#fff;
	padding:5px 10px;
	
}
.purchaseManagerEdit #content .appraisal_table .appraisal_form_container,
.tradeManagerEdit #content  .appraisal_table .appraisal_form_container{
	border-left:1px solid #ccc;
}


.tradeManger #content .appraisal_table .appraisal_history_wrap{
	border-right:solid 1px #ccc;
}


.purchaseManagerEdit #content .appraisal_table .appraisal_form_container .upgrade,
.tradeManagerEdit #content  .appraisal_table .appraisal_form_container .upgrade {
		font-size:10px;
		margin-top:15px;
}
.purchaseManagerEdit #mileage_book_vals_wrap,
.tradeManagerEdit  #mileage_book_vals_wrap{
	margin-bottom:5px;
	height:1%;
}
.purchaseAnalyzerResults #blkBorderIntActionTable,
.tradeAnalyzerResults #blkBorderIntActionTable{
	width:75%;
}
#inventoryDecision .blue_header{
	background-color:#cfd7e6;
	border:1px solid #ccc;
	border-bottom:0px;
	color:#666;
	font-size:10px;
	font-family:Verdana, Arial, sans-serif;
	text-transform:none;
	padding:2px 10px;
	margin-bottom:0px;
	margin-top: 1em;
}
.inventoryDecision_tile_wrapper {
	background-color: #fff;
	padding: 5px 10px;	
	border: 1px solid #ccc;
	border-top: none;
	zoom: 1;
}

.legacy #inventoryDecision table#inGroupDataItemsTable td {
	padding-bottom: 7px;
}

.purchaseAnalyzerResults #trade_analyzer_appraisal_form .appraisal_amount,
.tradeAnalyzerResults #trade_analyzer_appraisal_form .appraisal_amount{
	float:left;
}
.purchaseAnalyzerResults #trade_analyzer_appraisal_form label,
.tradeAnalyzerResults #trade_analyzer_appraisal_form label{
	font-weight:bold;
	padding-left:5px;
	font-size:10px;
}
.purchaseAnalyzerResults #trade_analyzer_appraisal_form .upgrade,
.tradeAnalyzerResults #trade_analyzer_appraisal_form .upgrade {
	display: none;
}
.tradeManagerEdit .customer_appraisal #offerEdit{
	display:block;
}
.tradeManagerEdit .customer_appraisal #appraisal_print{
	clear:both;
}
.tradeManagerEdit .customer_appraisal .numberEditOver{
	background-color:#ffffcc;
}
.tradeManagerEdit .customer_appraisal .body {
	padding:5px 10px;
}
#submit_buttons{
	text-align:right;
}
.purchaseAnalyzerResults #submit_buttons a,
.tradeAnalyzerResults #submit_buttons a {
	float: right; margin-left: 1ex;
}
/*trade analyzer/manager


	.analyzerInput h3 { font-size: 12px; font-family: Verdana, Arial, sans-serif; color: #FC3; margin: 10px 0 8px 0; }
	.analyzerInput {  margin: 0 0 5px 0; }
	.analyzerInput .body { border: solid 1px black; padding: 5px; }
	.analyzerInput select {  font-size: 14px; }
*/
.analyzerInput { margin-bottom: 10px;  }		
	.analyzerInput .inner { background-color: #EEE; }		
	.analyzerInput div.vin { float:right; }
	.analyzerInput .title { font-weight: bold;  }
	.analyzerInput .details { font-weight: bold; font-size: 14px; margin: 5px 0 5px 0; clear: both; }
		.analyzerInput .details div { display: inline; margin: 0 20px 0 0; }
		.analyzerInput .details span { font-weight: normal; font-size: 11px; }
		.analyzerInput .color select { width: 100px; }

#bookout { margin-bottom: 20px; }


.dealTbl { font-size:10px; }
.dealTbl td { font-size:10px; }
.dealTbl th { text-align: left; }

#customerLastName_lbl{
	padding-left:10px;
}

.metal, .recon,.appraisal_ready_body, #appraisal_type_wrap .analyzerInput { 	
	background: #fff url('../../view/max/grad-FFtoE8E8EA-16h.gif') repeat-x bottom; }
.metal td { padding: 10px;	
	border:solid 1px #ccc; }

.recon,.appraisal_ready_body, #appraisal_type_wrap .analyzerInput {
	border:1px solid #ccc;
	padding:10px;
}

#appraisal_type_wrap .analyzerInput { font-size: 1.2em; }
#appraisal_type_wrap .analyzerInput label { margin-right: 1ex; }

	dl.dealType dt,dl.stocknum dt,dl.salesPersonName dt { width:150px; float:left;  }
	dl.dealType dd,dl.stocknum dd,dl.salesPersonName dd { margin-bottom:3px; }
	
	a.salesPersonLink { margin-left:150px; }
	
	.purchaseManagerEdit a.manageAppraiserLink,
	.tradeManagerEdit a.manageAppraiserLink
	{ margin-left:20px;}



.appraisalReview #submit_buttons,
.purchaseAnalyzerOptions #submit_buttons,
.tradeAnalyzerOptions #submit_buttons{
        float:right;
        margin-right:5px;
}
.appraisalReview #submit_buttons .cancel,
.purchaseAnalyzerOptions #submit_buttons .cancel,
.tradeAnalyzerOptions #submit_buttons .cancel{
                background: url('../../view/max/btn-cancel.gif') no-repeat;
                float:left;
                width:80px;
                height:20px;
                margin-right:2px;
}
.appraisalReview #submit_buttons .submit,
.purchaseAnalyzerOptions #submit_buttons .submit,
.tradeAnalyzerOptions #submit_buttons .submit{
                background: url('../../view/max/btn-seeResults.gif') no-repeat;
                float:left;
                width:110px;
                height:20px;
}

.mmr_link{
	padding-bottom:3px;
	display:block;
	float:right;
	height:20px;
}

#mmr_link_btn{
	width:110px;
	height:20px;
	background: url('../../view/max/btn-connectToMMR.gif') no-repeat;
}
#back_to_previous_btn{
	width:133px;
	height:20px;
	background:url('../../view/max/btn-backToPreviousPage.gif') no-repeat;
}
#back_btn {
	width:48px;
	height:22px;
	background:url('../../view/max/btn-back.gif') no-repeat;
}
#done_ext_btn{
	width:125px;
	height:20px;
	background: url('../../view/max/btn-doneAndNext.gif') no-repeat;
	
}
#done_btn{
	width:75px;
	height:20px;
	background: url('../../view/max/btn-done.gif') no-repeat;
	
}

#appraiseAnotherVehicle_btn {
	width: 150px;
	height: 20px;
	background: url('../../view/max/btn-appraiseAnotherVehicle.gif') no-repeat;
}


/* quick appraise */
#stockNumberOrVinImage {
	margin-left: 10px;
	margin-right: 20px;
	position: relative;
	top: 4px;
}
.heavy { font-weight: bold; }


.bumpTable td { font-size: 10px; padding-right:3px; }

table.redistributionTable { border-collapse: collapse;   width:305px;}
table.redistributionTable td { border: solid 1px #999;padding:3px 3px; font-size:9px; }
table.redistributionTable td.phone_number {width:85px;}
table.redistributionTable thead td { background-color:#dadada; border-bottom-style: dashed; }
table.redistributionTable tbody td { background-color:#eaeaea;   border-top: none;}
div.redistribution_container{
	float:left;	
	margin-left:2px;
}
#performanceAnalysisIFrame {
	height: 340px;
}


#bookOutIFrame { height:250px; }
table#inGroupDataItemsTable td,table#actionIndicatorTable td { font-size:11px; }


#other_appraisal_tools div.box_light {
	margin-top: 10px;
	height: 90px;
}

div.box_light {
	border: 1px solid #999;
	background-color: #fff;
	padding: 0;
}

div.box_light h3 {
	border-bottom: 1px solid #b8b8b8;
	background: #d8d8d8 url('../../view/max/box_light_header_grad.jpg') repeat-x top;
	padding: 5px 0 2px 0;
	text-indent: 8px;
	color: #3c3c3c;
}

div.box_light h3 a {
	display: block;
	background: transparent url('../../view/max/box_light_header_arrow.gif') no-repeat 97% 50%;	
	color: #3c3c3c;
}

div.box_light div.content {
	padding: 4px 8px 10px 10px;
	overflow: hidden;
}

#pingII_analysis.box_light div.content a,
#jd_power_market_appraiser.box_light div.content a {
	display: block;
	height: 46px;
}

#true_market_value.third {
	margin-right: 0;
}

#true_market_value.forth {
	width: 297px;
	margin-right: 0;
}

div.box_dark {
	border: 1px solid #242a38;
	background-color: #fff;
	margin: 10px 0px;
}

#content div.box_dark h3,
#content div.box_dark .hdr {
	background: #313747 url('../../view/max/360_header_grad.jpg') repeat-x top;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 6px 0 4px 0;
	text-indent: 10px;
}

#customer_appraisal_form.half {
	margin-right: 0;
}

div.forth {
	width: 193px;
	margin-right: 1.7%;
	float: left;
}

div.third {
	width: 297px;
	margin-right: 1.7%;
	float: left;
}

div.half {
	width: 456px;
	margin-right: 1.5%;
	float:  left;
}

#customer_appraisal_bump {
	padding-bottom: 0; margin-top: 0; margin-bottom: 0;
}

#customer_appraisal_bump .customer_appraisal {
	width: 297px;
	float: right;
}
#customer_appraisal_bump #appraisalBump {
	display: block;
	float: left;
}
#customer_appraisal_bump #appraisalBump .appraisal_table {
	width: 610px;
}
#customer_appraisal_bump #appraisalBump .appraisal_table .history {
	width: 310px;
	padding-right: 18px;
}

#customer_appraisal_bump .box_dark {
	min-height: 100px;
	height: 100px;
}

.photo_manager {
	display: block;
	text-align: right;
	width: 950px;
}

#kbbStandAloneLink {
	margin-right: 5px;
}

#kbb-logo {
	float: left;
	margin-right: 10px;
}

@media print {
	#selectFix {
		display: none;
		height: 0px;
		width: 0px;
		overflow: hidden;
		z-index: -1;
		position: fixed;
		top: -5000px;
		left: -5000px;
		visibility: hidden;
	}
}