﻿
.mask {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; background-color:#fff;
	border:solid #ddd 1px; filter:alpha(opacity=80); opacity:0.8; position:absolute; z-index:10000;
}
.mask p { color:#333; font-size:14pt; text-align:center; }

#Content { margin-bottom:85px; }

#AdQuality { float:left; width:248px; }
#AdPanel { float:left; width:731px; }

#IsDirtyUpdatePanel { height:0; overflow:hidden; }

/* Ad Quality */

#AdQuality h3 {
	background:#3661b4 url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 -50px; color:#fff;
	font-weight:bold; font-size:1.1em; height:37px; line-height:35px; padding-left:12px;
}

#AdConfigForm .accordionHead { background:transparent url(Images/sprite_Gradients2.png?v=3.0) repeat-y scroll 0 0; border:solid #e2e2e2 1px; }
#AdConfigForm .accordionHead a {
	background:transparent url(Images/sprite_Arrows.png?v=3.0) no-repeat scroll 7px -30px; color:#333; border:solid #fff 1px; border-width:1px 0; display:block;
	font-weight:bold; height:34px; line-height:34px; padding-left:28px; position:relative; text-decoration:none;
}
#AdConfigForm .accordionHead span { font-weight: bold; }
#AdConfigForm .accordionHead.open a { background-position:8px -164px; }
#AdConfigForm .accordionHead a img {
	position:absolute; right:5px; top:5px;
}

#AdConfigForm .accordion { border-left:solid #E2E2E2 1px; display:none; margin-left:1px; padding:15px 15px 10px; }
#AdConfigForm .accordion.last { border-bottom:solid #E2E2E2 1px; }

#AdConfigForm .attention .accordionHead { background:#bf0000; border:0; border-left:solid #e2e2e2 1px; color:#fff; font-size: 120%; }
#AdConfigForm .attention .accordionHead a { background-position:7px -265px; border-color:#bf0000; color:#fff; }
#AdConfigForm .attention .accordionHead.closed a { background-position:7px -229px; border-color:#bf0000; color:#fff; }
#AdConfigForm .attention .accordion { border:solid #bf0000 1px; display:block; margin:0 0 1px 1px; }

#AdConfigForm span.complete {
	background:transparent url(Images/checkmark_AdQuality.png?v=3.0) no-repeat scroll 0 0; display:block; height:24px;
    position:absolute; right:5px; top:5px; width:24px;
}
#AdConfigForm .attention span.complete { display:none; }

#AdConfigForm #DropDownLists label, #AdConfigForm #DropDownLists2 label {
    clear:left; color:#555; display:block; float:left; height:20px; line-height:20px; margin:0;
    text-align:right; width:55px
}

#AdConfigForm #DropDownLists select, #AdConfigForm #DropDownLists2 select { float:left; font-size:10pt; margin:0 0 0.5em 10px; width:150px }

#AdConfigForm #BookValues #BookProviderLogo { background:transparent url(../../Public/Images/sprite_ProviderLogos.png?v=3.1) no-repeat scroll -1px 0; display:block; float:left; vertical-align:middle; }

#AdConfigForm #BookValues #BookProviderLogo.blackbook { background-position:-1px -27px; height:20px; width:110px; }
#AdConfigForm #BookValues #BookProviderLogo.galves { background-position:-1px -163px; height:23px; width:102px; }
#AdConfigForm #BookValues #BookProviderLogo.kbb { background-position:-1px -234px; height:32px; width:83px; }
#AdConfigForm #BookValues #BookProviderLogo.nada { background-position:-1px -276px; height:16px; width:60px; }

#AdConfigForm #BookValues #BookSecondaryProviderLogo { background:transparent url(../../Public/Images/sprite_ProviderLogos.png?v=3.1) no-repeat scroll -1px 0; display:block; float:left; vertical-align:middle; }
#AdConfigForm #BookValues #BookTmvProviderLogo { background:transparent url(../../Public/Images/sprite_ProviderLogos.png?v=3.1) no-repeat scroll -1px 0; display:block; float:left; vertical-align:middle; }
#AdConfigForm #BookValues #KbbConsumerLogo { background:transparent url(../../Public/Images/sprite_ProviderLogos.png?v=3.1) no-repeat scroll -1px 0; display:block; float:left; vertical-align:middle; }

#AdConfigForm #BookValues #BookSecondaryProviderLogo.blackbook { background-position:-1px -27px; height:20px; width:110px; }
#AdConfigForm #BookValues #BookSecondaryProviderLogo.galves { background-position:-1px -163px; height:23px; width:102px; }
#AdConfigForm #BookValues #BookSecondaryProviderLogo.kbb { background-position:-1px -234px; height:32px; width:83px; }
#AdConfigForm #BookValues #BookSecondaryProviderLogo.nada { background-position:-1px -276px; height:16px; width:60px; }
#AdConfigForm #BookValues #BookTmvProviderLogo.edmunds{ background-position:-1px -130px; height:16px; width:85px; }
#AdConfigForm #BookValues #KbbConsumerLogo.kbb { background-position:-1px -234px; height:32px; width:83px; }

#AdConfigForm #BookValues img { display:block; float:left; vertical-align:middle; }
#AdConfigForm #BookValues ul { float:left; list-style-type:none; padding:0.75em 1em; }

#AdConfigForm #BookValues img { float:left; vertical-align:middle; }
#AdConfigForm #BookValues a.link { float:right; }
#AdConfigForm #BookValues span.bookValue { font-weight:bold;display: table-cell;  text-align: right; vertical-align: middle;}
#AdConfigForm #BookValues div.source div.loading { background:#fff url(Images/loading_small.gif) no-repeat scroll center; float:right; width:24px; }

#AdConfigForm #BookValues a.warning {
    background:transparent url(Images/sprite_MessageIcons_Small.png) no-repeat scroll -1px -61px; border:0; clear:none; display:inline-block; float:right; height:20px;
    margin:0 0.5em 0 0; overflow:hidden; padding:0; text-indent:-100000px; text-transform:uppercase; width:22px;
}

#AdConfigForm #VehicleHistory { position:relative; }
#AdConfigForm #VehicleHistory img { float:left; vertical-align:middle; }
#AdConfigForm #VehicleHistory a.link { float:right; }
#AdConfigForm #VehicleHistory div.loading { background:#fff url(Images/loading_small.gif) no-repeat scroll center; float:right; width:24px; }

#AdConfigForm #VehicleHistory #VHRDialog { background:#fff; border:solid #ddd 1px; clear:both; padding:1em 1em 0.75em; position:absolute; right:1em; top:5em; z-index:1100; }
#AdConfigForm #VehicleHistory #VHRDialog a.close {
	background:#fff; border:solid #ddd 1px; border-width:1px 1px 0; display:block; height:1.4em; line-height:1.4em; padding:0.25em 0.75em;
	position:absolute; top:-2em; right:-1px;
}
#AdConfigForm #VehicleHistory #VHRDialog ul { list-style-type:none; margin-bottom:1em; }
#AdConfigForm #VehicleHistory #VHRDialog label { color:#555 !important; font-weight:normal; }
#AdConfigForm #VehicleHistory #VHRDialog .fieldLabelPair input { float:left; }
#AdConfigForm #VehicleHistory #VHRDialog .fieldLabelPair label { display:block; float:left; font-size:0.9em; font-style:italic; line-height:1.4em; margin-bottom:1em; padding-left:3px; width:180px; }
#AdConfigForm #VehicleHistory #VHRDialog .formButtons div.loading { background:#fff url(Images/loading_small.gif) no-repeat scroll center; clear:left; width:96px; }

#QuickPackages { clear:both; position:relative; z-index:1002 }

#AutoLoad { float:left; }

#AutoLoad .autoLoadButton { font-size:.8em; vertical-align:middle; }

#AutoLoad span.italic { font-size:.8em; font-style:italic; margin-left:1em; }

#AutoLoad .autoLoadWorking { background:#fff url(Images/loading_small.gif) no-repeat scroll center; display:none; float:left; margin:0; width:74px; }

#QuickPackages .config { position:relative; }
#QuickPackages .editLink { color:#355FAB; cursor:pointer; float:right; text-decoration:underline; white-space:nowrap; }

#QuickPackages #AddPackageContainer { margin:6px 0 0 0; }
#QuickPackages #AddPackageContainer label { display:inline-block; font-size:0.9em; width:40px; }
#QuickPackages #AddPackageContainer.red { font-size:.8em; }

#QuickPackages .textbox { margin-bottom:.1em; width:115px; }

#QuickPackages #btnAddPackage { display:inline-block; font-size:7pt; height:20px; position:relative; top:-2px; width:42px; }

#QuickPackages input.loading { background:transparent url(Images/loading_small.gif) no-repeat scroll center; border:0; }

#QuickPackages ul { margin:1em 0 1em -2px; }

#QuickPackages ul li { clear:left; display:block; list-style-type:none; padding-bottom:0.3em; position:relative }
#QuickPackages ul li.loading { background:url(Images/loading_small.gif) no-repeat scroll left center transparent }
#QuickPackages ul li a.deleteLink {
    background:url(Images/sprite_ApprovalPage.png?v=3.0) no-repeat scroll -133px -425px transparent; display:block; float:left;
    height:12px; left:3px; position:absolute; top:4px; width:12px
}

#QuickPackages ul li span { display:block; float:left; margin:0 0 0 20px; }

#QuickPackages .quickPackageSearch { background:#fff; border:solid #ddd 1px; top:10px !important; width:150px !important; z-index:100; }
#QuickPackages .quickPackageSearch li { cursor:pointer; display:block; padding:0.5em 0.5em 0; }

#OptionPackagesListUpdatePanel { position:relative; }
#QuickPackages #pnlAddPackage { background:#fff; border:solid #ddd 1px; padding:1em; position:absolute; top:-10px; }

#KeyInformation { position:relative; z-index:1001; }

#KeyInformation #AdditionalInfoItemsList { margin:0; }
#KeyInformation #AdditionalInfoItemsList td { color:#555; padding:5px 3px 0 0; vertical-align:top; }
#KeyInformation #AdditionalInfoItemsList td input { float:left; margin:0 0.25em 0 0; }
#KeyInformation #AdditionalInfoItemsList td label {
    display:block; float:left; font-size:8pt; margin-bottom:0.25em; position:relative; top:-2px; width:88px;
}

/* Ad Panel */

#AdPanel div.sectionHeader {
	background:#3661b4 url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 -50px; border-left:solid #5474b4 1px; 
	height:37px; padding-left:12px;
}

#FrameworkSelector { float:left; }
#FrameworkSelector label { color:#fff; font-weight:bold; height:37px; line-height:37px; margin-right:10px; }
#FrameworkSelector select { font-size:0.9em; position:relative; top:-1px; }
#RewriteAdButton {
	background:url("Images/sprite_ApprovalPage.png?v=3.0") no-repeat scroll -1px -178px transparent; border:0; cursor:pointer; float:right; font-size:1em; height:22px;
	margin:6px 5px 0 0; position:relative; text-indent:-10000px; text-transform:uppercase; width:131px;
}
#RegenerateAdbutton:active { background-position:-1px -202px; }
#RewriteAdButton.red { background-position: -1px -226px; }

#Advertisement { border-left:solid #ddd 1px; min-height:240px; padding:8px 8px 64px; }

#AdModulesHeader .helper { float:left; font-style:italic; }

#AdModulesHeader #AddModuleLink {
    background:url("Images/sprite_ApprovalPage.png?v=3.0") no-repeat scroll -1px -18px transparent; color:#888; cursor:pointer;
    float:right; font-size:0.9em; line-height:1.6em; margin-left:2em; padding-left:20px; text-decoration:underline;
}
#AdModulesHeader #AddModuleLink:hover { color:#333; }

#AdModulesHeader #AdPreviewHighlighter { float:right; }
#AdModulesHeader #AdPreviewHighlighter label { color:#888; font-size:0.9em; font-style:italic; padding-left:20px; }
#AdModulesHeader #AdPreviewHighlighter input { position:absolute; }

/* Advertisement Modules */

#PreviewLengthWarning { color:#B90000; float:left; font-size:0.9em; padding-left:3px; text-align:left; white-space:normal; width:540px; }

#AdTemplate .module { border:solid #fff 1px; clear:both; margin:0; padding:9px 15px 14px; position:relative; }
#AdTemplate .module.adPreview { background:url("Images/sprite_Gradients3.png?v=3.0") repeat-x scroll 0 0 #f0f0f0; border-color:#c9c9c9; margin-top:9px; }

#AdTemplate .module.adPreview span.highlight { background-color:#d3d3db; color:#000; }

#AdTemplate .module:hover { background:#f3f3f3; border-color:#f3f3f3; }
#AdTemplate .module.adPreview:hover { background:url("Images/sprite_Gradients3.png?v=3.0") repeat-x scroll 0 0 #f3f3f3; border-color:#c9c9c9; }
#AdTemplate .module:hover .moduleLinks { visibility:visible; }

#AdTemplate .moduleLinks { visibility:hidden; position:absolute; right:7px; top:4px; }

#AdTemplate .moduleLinks a {
	background:url("Images/sprite_ApprovalPage.png?v=3.0") no-repeat scroll center transparent; cursor:pointer; display:block;
	float:right; height:19px; left:6px; margin:0; overflow:hidden; position:relative; top:-3px;
}
#AdTemplate .moduleLinks a.deleteModuleLink { background-position:-1px -293px; width:57px; }
#AdTemplate .moduleLinks a.editModuleLink { background-position:-1px -338px; width:45px; }
#AdTemplate .moduleLinks a.deleteModuleLink:hover { background-position:-1px -315px; }
#AdTemplate .moduleLinks a.editModuleLink:hover { background-position:-1px -361px; }

#AdTemplate .module span.header { display:block; }
#AdTemplate .module .blurbEditor, .module .buttons, .module input.header { display:none; }
#AdTemplate .module input[type=text] { padding:0.25em; width:600px; }

#AdTemplate .module a.lock, .module a.unlock {
	background:transparent url( Images/sprite_ApprovalPage.png?v=3.0 ) no-repeat scroll center; cursor:pointer;
	display:block;float:left; height:24px; margin:0 0 0 3px; overflow:hidden;
}
#AdTemplate .module a.lock { background-position:-1px -413px; width:58px; }
#AdTemplate .module a.unlock { background-position:-1px -384px; margin-left:5px; width:69px; }
#AdTemplate .module a.lock.header, .module a.unlock.header { margin-top:0.5em; }

#AdTemplate .module input.text { float:left; font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; height:22px; margin:0 0 0.25em; padding:0 2px; width:600px; }
#AdTemplate .module input.text.locked { background-color:#ffdddd; border:1px solid #bf0000; }
#AdTemplate .module input.header { margin-bottom:1em; }

#AdTemplate .editMode:hover .moduleLinks { visibility:hidden; }
#AdTemplate .editMode { background:#f0f0f0; border:dotted #ddd 1px !important; margin-top:3px; }
#AdTemplate .editMode p.paragraph { margin-top:1em; }

#AdTemplate .module .buttons { padding-top:1em; text-align:right; }

.previousAd { font:9pt Arial, Helvetica, sans-serif; }
.previousAd .PreviousAdContainer { line-height:1.5em; margin:0 15px 15px; overflow: scroll; }
.previousAd .module { margin: 1em 0; }

.adFooter { font-style:italic; padding:10px 17px 15px; }

#AdPanelFooterTools
{
	border-top:solid #ddd 1px; float:right; height:25px; padding:10px 0; position:absolute; right:0;
	top:-47px; width:730px; z-index:5;
}
#AdPanelFooterTools span, #AdPanelFooterTools a { color:#5B5F62; margin-left:25px; text-decoration:none; }
#AdPanelFooterTools span #CreatedOn { font-weight:bold; margin-left:10px; }
#AdPanelFooterTools a.calendar
{
	background: url("Images/sprite_ApprovalPage.png?v=3.0") no-repeat scroll -118px -276px transparent;
	padding-left:18px;
}
#AdPanelFooterTools #expiresDiv { margin-left:15px; }
#AdPanelFooterTools #expiresDiv input { width:80px; }

#Scheduler { background:#fff; border:solid #ddd 1px; left:190px; padding:5px; position:absolute; text-align:center; }
#Scheduler table { margin:5px auto 0; }
#Scheduler td {	text-align:center; }
#Scheduler a { margin:0 !important; }

#OptionsPanel { border-top:1px solid #ddd; clear:both; position:relative; z-index:4; }
#options #ops { display: none; }
#options .CollapsiblePanel h3 {
	background:url("Images/sprite_Arrows.png?v=3.0") no-repeat scroll 7px -30px #fff; border-bottom:solid #ddd 1px; cursor:pointer;
	font-size:1.1em; font-weight:bold; padding:10px 10px 10px 28px;
}
#options .CollapsiblePanel h3.open { background-position: 8px -164px; }

.optionset { color:#666; float:left; margin:5px 20px 15px 15px; width:160px; }
.optionset h4 { font-size:1em; font-weight:bold; margin-bottom:0.5em; }
.optionset ul { list-style-type:none; }

#mapped { background-color:#f3f3f3; clear:left; margin-top:15px; padding:10px; }
#mapped h3 { border-bottom:1px solid #ddd; font-size:1.1em; margin-bottom:10px; padding-left:0; }
#mapped #Remap { float:right; margin-right:10px; text-decoration:underline; }

.ListedOptions input { display:none; }

#AdApproval {
	background:#f4f4f4; border:solid #ddd 1px; border-bottom:0; bottom:0; height:54px;
	margin:10px 0 0; padding:15px 17px; position:fixed; width:944px; z-index:1010;
}
#AdApproval h4 { float:left; font-weight:bold; }
#AdApproval p { clear:left; float:left; width:787px; }

#AdApproval #approveButton { 
	background:url("Images/sprite_ApprovalPage.png?v=3.0") repeat-x scroll -1px -76px #fff; border:0 none;
    cursor:pointer; display:block; float:right; height:33px; margin:2px 0 0 0; overflow:hidden; text-indent:-10000px; width:143px;
}
#AdApproval #approveButton:active { background-position:-1px -110px; }

/* Add Module Dialog */

#AddModuleFormDiv fieldset { border:0; }
#AddModuleFormDiv fieldset label { font-size:1.1em; display:block; margin:1em 0 0.25em; }
#AddModuleFormDiv fieldset input, #AddModuleFormDiv fieldset textarea {
	background-color:#fff; border:solid #ddd 1px; font-size:1.1em; padding:0.25em; width:703px;
}
#AddModuleFormDiv fieldset textarea { height:17em; }

/* Ad Choice Dialog */

#ChoicePanel { padding-bottom:1em; }

#ChoicePanel h2 { font-size:1.1em; font-weight:bold; padding:0.5em 0 0; }
#ChoicePanel h3 { border:solid #ddd 1px; font-weight:bold; margin-top:1em; padding:0.25em; }
#ChoicePanel h3 span { float:right; }

#ChoicePanel .ui-dialog-titlebar-close { display:none; }
#ChoicePanel span.IMMDesc, #ChoicePanel span.IMMDesc { padding:0.25em; }

/* Ad Approval Dialog */

.ui-dialog.approval .ui-dialog-titlebar-close { display:none; }

#divApproveSuccessful
{
	background:transparent url(Images/green-checkmark-150x150.jpg?v=3.0) no-repeat scroll bottom right;
	min-height:150px; margin:2em 0 1em;
}

#divApproveSuccessful h1 { font-size:1.2em; font-weight:bold; }
#divApproveSuccessful p { font-size:1.2em; margin:1em 0; }
#divApproveSuccessful #lblApproveSuccessfulMessage { display:block; margin-bottom:2em; }

#ApprovalModalPanel a {
	background:transparent url(Images/buttons_YesNo.png?v=3.0) no-repeat scroll top left; display:block; float:left; height:23px;
	margin-right:0.5em; overflow:hidden; text-indent:-99999px; text-transform:uppercase; width:100px;
}

#ApprovalModalPanel #btnApproveSuccessfulYes { background-position:0 0; }
#ApprovalModalPanel #btnApproveSuccessfulYes:active { background-position:0 -24px; }

#ApprovalModalPanel #btnApproveSuccessfulNo { background-position:0 -48px; }
#ApprovalModalPanel #btnApproveSuccessfulNo:active { background-position:0 -72px; }

/* Packages Dialog */

#PackageContent #StepCompleted { top:6px !important; }
#OptionsModalUpdatePanel.loading {
	background:#fff url(../../Public/Images/loading.gif) no-repeat scroll center;
	position:relative !important;
	height:400px !important;
}

.table-layout
{
    display:table;
}

.book-value
{    
    width: 220px;
}
.non-primary-book
{
    margin-top: 10px;
}
