﻿
#EquipmentContent { padding:0 15px 15px; }

#EquipmentContent h3 { font-size:1.2em; font-weight:bold; margin:1.5em 0 0.5em; }

#EquipmentContent .button.save { float:right; margin:10px 0 0; }

#EquipmentContent .section { -moz-border-radius:3px; -webkit-border-radius:3px; background:#f3f3f3; border:1px solid #ddd; border-radius:3px; padding:1em 1em 0.5em; }
#EquipmentContent .section h5 { font-size:1em; padding:0.5em 0; }

#EquipmentContent .plain { margin:1.5em 0 0 10px; }
#EquipmentContent .plain #lb99 { display:inline-block; width:120px; }

#StepCompleted { bottom:auto; top:-28px; }

#EquipmentContent #TrimWidget { margin:0 0 10px; font-size:1em; }
#EquipmentContent #TrimWidget select { margin:0 1em 0 0.5em; }

#EquipmentContent #Colors .field { padding-bottom:0.75em; }
#EquipmentContent #Colors .field label { display:inline-block; width:120px; }
#EquipmentContent #Colors #ColorWidget { display:inline-block; margin-left:0.5em; position:relative; width:300px; }

#EquipmentContent #Colors .colorDropDownList { background:#fff; border:2px solid #ddd; padding:0.5em; position:absolute; list-style:none; }
#EquipmentContent #Colors .colorDropDownList li { position:relative; width:auto; line-height:2em; padding-bottom:1px; }
#EquipmentContent #Colors .colorDropDownList a { padding-left:0.25em; }

#EquipmentContent #VehicleConfiguration ul { list-style-type:none; }

/* Legacy CSS */

.colorSelectionLabel {
	background:url(../../App_Themes/LazyBoy/images/droparrow.gif) no-repeat scroll right center #fff;
	padding-left:5px;
	display:inline-block;
	padding-right:30px;
	border:solid 1px #99c;
	color:#000;
}

.standardEquipment {
    -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; background:#ddd url(Images/sprite_Arrows.png?v=3.0) no-repeat scroll 7px -36px;
    border-radius:3px 3px 0 0; clear:left; cursor:pointer; padding:3px 10px 3px 25px;
}
.standardEquipment.open { background-position:7px -170px; }

#equipExt_ExtStd, #equipInt_IntStd, #lotEquip_IntStd { border:solid #ddd 1px; padding:0 1em 0 25px; }

.Features ul { display:block; float:left; margin:0 0.5em 1em 0; width:23%; }

