﻿
#tomcatSessionImages { height:0; overflow:hidden; width:0; }

#InventoryFilter { margin-bottom:5px; }
#InventoryFilter h1 { float:left; font-size:1.6em; font-weight:bold; margin:1em 0 -5px 20px; }
#InventoryFilter select { float:left; font-size:1.1em; margin:1.4em 0 -5px 10px; }

#HeaderSearch { float:right; margin:10px 0 0; }

#BulkUpload { margin-right:10px !important; }

#Content { margin-top:25px; }

#AuxFilters { height:1em; padding:2px 8px 2px 0; position:absolute; right:0; top:-1.9em; white-space:nowrap; }
#AuxFilters h2 { display:inline; }
#AuxFilters ul { display:inline; }
#AuxFilters li { display:inline; margin-left:0.75em; }
#AuxFilters .selected a { color:#333; cursor:default; font-weight:bold; text-decoration:none; }

#MainFilters { clear:both; position:relative; padding-bottom:3.2em;}
#MainFilters.noCategory { padding-bottom:0; }
#MainFilters > ul { position:relative; }
#MainFilters > ul > li {
	background:url("Images/sprite_Gradients1.png?v=3.0") repeat-x scroll 0 -180px #e5e5e5; border-bottom:solid #fff 2px;
	float:left; font-size:1.2em; height:35px; margin:1px 1px 0; overflow:hidden;
}
#MainFilters > ul > li.selected { background-image:none; border-bottom:solid #e5e5e5 2px; font-weight:bold; }
#MainFilters > ul > li.first { margin-left:2px; }
#MainFilters > ul > li a {
	color:#333; display:inline-block; height:35px; line-height:33px;
	outline:0; padding:0 1em; text-align:center; text-decoration:none; width:190px;
}
#MainFilters > ul > li.NeedsPhotosEquipmentAll > a { width:254px; }
#MainFilters > ul > li.LowAdQualityAll  > a { width:220px; }


#MainFilters > ul > li > a .count { font-size:1.2em; font-weight:bold; margin:0 0 0 0.25em; }

#MainFilters > ul > li .icon {
	background:url("Images/sprite_WorkflowColors16.png?v=3.0") no-repeat scroll 0 -500px transparent; display:inline-block; height:16px;
	margin:0 0.35em 0 0; position:relative; top:0.2em; width:16px;
}
#MainFilters > ul > li.NeedsApprovalAll .icon, #MainFilters > ul > li.NeedsAdReviewAll .icon { background-position:0 -17px; }
#MainFilters > ul > li.LowAdQualityAll .icon { background-position:0 0; }
#MainFilters > ul > li.NeedsPricingAll .icon { background:url("Images/sprite_WorkflowColors.png?v=3.0") no-repeat scroll 0 -22px transparent; }
#MainFilters > ul > li.NeedsPhotosEquipmentAll .icon { background:url("Images/sprite_WorkflowColors.png?v=3.0") no-repeat scroll 0 -41px transparent; padding-left:20px; }
#MainFilters > ul > li.NeedsPhotosEquipmentAll .icon span {
	background:url("Images/sprite_WorkflowColors.png?v=3.0") no-repeat scroll 0 -60px transparent; display:block; height:16px;
	margin:0 0.5em 0 0; position:relative; top:0; width:16px;
}

#MainFilters > ul > li.NeedsPhotosEquipmentAll img, #MainFilters > ul > li.NeedsPhotosEquipmentAll img {
	height:16px; margin:0 0.25em 0 0; position:relative; top:3px; width:16px;
}

#MainFilters .filterMenu {
	background:url("Images/gradient_FilterMenu.png?v=3.0") repeat-x scroll 0 bottom #e5e5e5; display:none; font-weight:normal;
	left:2px; position:absolute; top:38px; width:975px;
}
#MainFilters .filterMenu h2 { float:left; font-size:0.8em; margin-left:0; padding:0.7em 1.0em; }
#MainFilters .filterMenu ul { float:left; }
#MainFilters .filterMenu ul li { float:left; }
#MainFilters .filterMenu ul li a { color:#4c82a9; font-size:0.8em; height:auto; line-height:1.3em; padding:0.7em 1.0em; text-decoration:underline; width:auto; }
#MainFilters .filterMenu ul li.selected a {
	color:#333; cursor:default; font-size:1em; font-weight:bold; line-height:1em;
	position:relative; text-decoration:none; top:-2px;
}
#MainFilters .filterMenu ul li.selected a span { font-weight:bold; }
#MainFilters .filterMenu ul li a .count { font-size:1.1em; }

#MainFilters > ul > li.selected  .filterMenu { display:block; }

#errors { margin:1px 2px; }

#CurrentFilter { font-size:1.2em; margin-left:0.7em; padding:0.5em 0.25em; }
#CurrentFilter span { margin-right:0.25em; }
#CurrentFilter span.count, #CurrentFilter span.range { font-weight:bold; }
#CurrentFilter select { font-size:1em; margin-left:0.25em; }

#InventoryList { clear:both; margin:0 2px; position:relative; z-index:4; }

#InventoryList div.empty { font-style:italic; padding:5em 0; text-align:center; }

#InventoryTable { width:975px; }

#InventoryTable tbody tr:hover td { background:#e6edf2; }

#InventoryTable th { background:url("Images/sprite_Gradients1.png?v=3.0") repeat-x scroll 0 -50px #3661B4; color:#fff; vertical-align:middle; }
#InventoryTable th a { color:#fff; display:inline-block; padding:0.5em 0; text-decoration:none; }
#InventoryTable th a:hover { text-decoration:underline; }
#InventoryTable th.ymm a { margin-right:0.75em; }
#InventoryTable th.actions { padding-left:20px; }

#lnkBtnListPrice { width: 80px; }

#InventoryTable #BulkActions { position:relative; text-align:left; }
#InventoryTable #BulkActions input[type=checkbox] { left:1px; position:absolute; top:0; }
#InventoryTable #BulkActions select { font-size:0.8em; margin-left:24px; width:104px; }

#InventoryTable td { border-bottom:solid #ddd 1px; text-align:center; vertical-align:middle; padding:2px 0; }

#InventoryTable td .field { padding:1.8em 0 0 1px; }

#InventoryTable td div.photos { position:relative; }
#InventoryTable td div.photos a { display:inline-block; margin:2px auto 0; text-decoration:none; }
#InventoryTable td div.photos .count {
	background:#2A74A8; border:solid #fff 1px; color:#fff; display:block; font-size:0.8em; font-weight:bold;
	left:6px; line-height:0.8em; min-width:0.9em; padding:3px 3px 4px; position:absolute; top:6px;
}
#InventoryTable td div.photos.attention .count { background:#bf0000; }

#InventoryTable td.age { font-size:0.9em; line-height:1em; }
#InventoryTable td.age .small { display:block; font-size:0.9em; }

#InventoryTable td.ymm h3 { font-size:1.5em; font-style:italic; font-weight:bold; line-height:1.5em;  }
#InventoryTable td.ymm h3 a { color:#333; margin-right:0.25em; text-decoration:none; }
#InventoryTable td.ymm h3 a:hover { text-decoration:underline; }

/* Custom Select Box */
div.customSelect { 
	-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none;
	-o-user-select:none; background:#fff; border:solid #ddd 1px; cursor:default; display:inline-block; font-size:9pt; font-style:normal;
	font-weight:normal; height:20px; padding:0; position:relative;
}
div.customSelect:hover { border-color:#bbb; }
div.customSelect span.selected {
	background:transparent url(Images/sprite_Arrows.png) no-repeat scroll 83px -108px; display:inline-block; line-height:20px;
	overflow:hidden; text-overflow:ellipsis; padding:0 20px 0 5px; white-space:nowrap; width:80px;
}
div.customSelect ul { 
	background:#fff; border:solid #bbb 1px; left:-1px; top:20px; display:none; position:absolute; user-select:none;
}
div.customSelect ul li { line-height:1.5em; }
div.customSelect ul li a { display:block; margin:0 !important; padding:0 20px 0 5px; white-space:nowrap; }
div.customSelect ul li a:hover { background:#999; color:#fff !important; text-decoration:none !important; }

#InventoryTable td.ymm div.customSelect { color:#bf0000; font-size:8pt; font-weight:bold; top:2px; width:100px; }
#InventoryTable td.ymm div.customSelect a { color:#bf0000; }

#InventoryTable td.ymm div.loading {
	background:transparent url(Images/loading_small.gif) no-repeat scroll 2px 2px; display:inline-block; height:16pt;
	margin-bottom:-5px; padding:0 0.5em; position:relative; top:-2px; width:100px;
}

#InventoryTable td.ymm ul.vehicleSubInfo li { display:block; float:left; margin-right:1em; text-transform:capitalize; }
#InventoryTable td.ymm ul.vehicleSubInfo li.vin { color:#999; }
#InventoryTable td.ymm ul.vehicleSubInfo li.autoload { color:#009900; font-size:8pt; font-variant:small-caps; }
#InventoryTable td.ymm ul.vehicleSubInfo li.mileage { text-transform:none; }

#InventoryTable td.price a { color:#333; font-size:1.2em; text-decoration:none; }
#InventoryTable td.price .attention { color:#bf0000; font-weight:bold; }

#InventoryTable td ul.actions { margin-left:20px; }
#InventoryTable td ul.actions li { float:left; height:16px; padding-bottom:0.5em; width:20px; }
#InventoryTable td ul.actions li a {
	background:url("Images/sprite_WorkflowColors.png?v=3.0") no-repeat scroll 0 0 transparent;
	display:inline-block; height:16px; overflow:hidden; text-indent:-50000px; width:16px;
}
#InventoryTable td ul.actions li.approval a { background-position:0 0px; }
#InventoryTable td ul.actions li.pricing a { background-position:0 -22px; }
#InventoryTable td ul.actions li.photos a { background-position:0 -42px; }
#InventoryTable td ul.actions li.photos { width:24px; }
#InventoryTable td ul.actions li.equipment a { background-position:0 -60px; }
#InventoryTable td ul.actions li.autoLoad a {
	background:transparent url(Images/button_Autoload.png?v=3.0) no-repeat scroll 0 0; color:#666; font-size:0.8em; font-weight:normal;
	line-height:16px; overflow:hidden; white-space:nowrap; width:62px;
}

#InventoryTable td ul.actions li.autoLoad .autoLoadWorking /* autoload spinner (width & height should match .autoLoadButton above) */
{
	background:url(../../Public/Images/loading_small.gif) no-repeat scroll 50% 50% transparent; display:none; height:17px;
	margin:2px auto 4px; padding:0; text-align:center; width:62px;
}

#InventoryTable tfoot td { text-align:left; }
#InventoryTable tfoot .helper { color:#666; font-size:1em; font-style:italic; padding:5px 0 5px 25px; position:relative; }
#InventoryTable tfoot .helper img { left:5px; position:absolute; top:6px; }

#InventoryTable div.overlay {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; background:#fff; border:solid #ddd 1px;
	filter:alpha(opacity=80) !important; left:0; opacity:0.8 !important; position:absolute; width:973px; z-index:99999;
}
#InventoryTable div.overlay p { font-style:italic; margin-top:1.5em; }

#Pager { padding:5px; }

#PageCount { float:left; font-size:1.1em; }
#PageCount a { margin-left:5px; }

#PageList { float:right; }
#PageList li { display:inline; font-size:1.1em; height:1.4em; line-height:1.4em; margin:0 0 0 1px; }
#PageList li a, #PageList li span {
	background:#f3f3f3; border:solid #ddd 1px; color:#333; display:inline-block;
	padding:0.3em; text-align:center; text-decoration:none; width:1.5em;
}
#PageList li a:hover { background:#fff; border-color:#ddd; }
#PageList li.selected span { background:#fff; border-color:#fff; font-weight:bold; }

.export {
    float: right;
    font-size: 0.8em;
    margin-top: 5px;
}

#campaignContent button {
	background: url("Images/sprite_Gradients1.png?v=3.0") repeat-x scroll 0 -88px #DBDBDB;
    border: 1px solid #DCDCDC;
    color: #333333;
    cursor: pointer;
    height: 21px;
}
#viewCampaigns {
	margin-left: 5px;
}

#incentives {
	background: url("Images/sprite_ApprovalPage.png?v=4.0") no-repeat -1px -442px;
	cursor: pointer;
	display: inline-block;
	width: 164px;
	height: 26px;
	border: none;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
#incentives.down {
    background-position: -1px -470px;
}

.embiggened_title .ui-dialog-title {
  font-size: 16px;
}

#new-car-pricing #new-car-select select,
#new-car-pricing #new-car-body-select select {
	height: 124px;
    width: 150px;
}

#new-car-pricing #new-car-body-select select {
    width: 315px;
}

#new-car-pricing select.loading {
    background: url("Images/loading_small.gif") no-repeat scroll center center #FFFFFF;
}

#campaignContent .loading {
	background: url("Images/loading_small.gif") no-repeat scroll center center;
	display: inline;
}

#campaigns tbody td {
	text-align: center;
}

#new-car-pricing div.error {
	color: #FF2222;
	display: inline-block;
	margin-left: 10px;
}

.loading {
	background: url("Images/loading.gif") no-repeat scroll #FFFFFF;
	display: inline-block;
}

#new-car-pricing .checkmark {
	background: url("Images/icon_GreenCheckmark.png") no-repeat scroll #FFFFFF;
	display: inline-block;
}


#activeCampaignsDialog table tbody tr {
	cursor: pointer
}

#activeCampaignsDialog table tr.selected {
	background: #ABABAB;
}

/* jQuery styles */


#ui-datepicker-div .ui-datepicker-today {
	background: #E1E1E1;
}
#ui-datepicker-div .ui-datepicker-current-day{
	border: 3px solid #E1E1E1;
	background: #FFFFFF;	
}

#ui-datepicker-div .ui-state-disabled{
	color: #C6C6C6;
}

#ui-datepicker-div {
	background: #F5F5F5;
}

#ui-datepicker-div .ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

.ui-datepicker {
	width: 170px;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}


/* Chrome styles */
@media screen and (-webkit-min-device-pixel-ratio:0) { 

	#MainFilters > ul > li.NeedsApprovalAll .icon, #MainFilters > ul > li.NeedsPricingAll .icon,
	#MainFilters > ul > li.LowAdQualityAll .icon, #MainFilters > ul > li.NeedsPhotosEquipmentAll .icon { top:3px; }
	/*#MainFilters > ul > li.NeedsPhotosEquipmentAll > a { width:257px; }*/
	
}