﻿
.button, .small.button { line-height:normal; padding-left:0.25em; padding-right:0.25em; }

/* Header */

#HeaderSearchButton { line-height:16px; }

/* Workflow Header */

#VehicleSummary h2 { line-height:0.9em; }
#VehicleSummary ul.admin li.checkbox #spanDisplayCertifiedID { float:none; position:relative; top:-2px; }
#StepCompleted { bottom:0; }

/* Inventory Page */

#AuxFilters { text-align:right; width:100%; }

#MainFilters > ul > li.NeedsPhotosEquipmentAll .icon { top:0; }
/*#MainFilters > ul > li.NeedsPhotosEquipmentAll > a { width:257px; }*/

#BulkActionsSelect { position:relative; top:-1px; }
#BulkActionsCkb { position:relative; top:-1px !important; }

#InventoryTable td.ymm h3 a { display:block; float:left; }
#InventoryTable td.ymm div.loading { display:block; float:left; }
#InventoryTable ul.vehicleSubInfo { clear:left; }

#InventoryTable th.actions { padding-left:20px; }
#InventoryTable td ul.actions { margin-left:20px; }
#InventoryTable td ul.actions li a { display:block; }

#InventoryTable div.overlay { left:0; }

/* Approval Summary */

#QuickPackages #BtnAutoLoad { width:76px; }

#KeyInformation #AdditionalInfoItemsList td label { top:1px; width:82px; }

#AdModulesHeader #AdPreviewHighlighter label { padding-left:0px; position:relative; top:-3px; }
#AdModulesHeader #AdPreviewHighlighter input { position:relative; top:-2px; }

#AdApproval #ApproveAdButton { margin-top:20px; }

#ApprovalModalPanel #btnApproveSuccessfulYes:active { background-position:0 0; }
#ApprovalModalPanel #btnApproveSuccessfulNo:active { background-position:0 -48px; }

#AdConfigForm #DropDownLists select#ExteriorColorDropDown, #AdConfigForm #DropDownLists select#InteriorColorDropDown { float: none; width: 215px; display: block; clear: both; }

/* Equipment */

#EquipmentContent #Colors .field { clear:left; margin-bottom:0.5em; }
#EquipmentContent #Colors .field label { display:block; float:left; }
#EquipmentContent #Colors .field select { float:left; margin-right:0.5em; }
#EquipmentContent #Colors #ColorWidget { display:block; float:left; }
#StepCompleted { padding-top: 1px; height: 20px; top:-23px; }

/* Dealer Setup */

.WizardStep td { position:relative; }
p.credentialDisclaimer { left:0.75em; margin-top:2em !important; }
#AddSourceCredentialDisclaimer { margin-top:2em !important; }


/* jQuery styles */

.ui-dialog-title { float:left; }