﻿
.button, .small.button { line-height:normal; padding-left:0.25em; padding-right:0.25em; }

/* Workflow Header */

#VehicleSummary ul.vehicle { top:0px; }
#VehicleSummary ul.admin { margin-top:-1em; }

#PricingInfo .newCarPricing .button.small { font-size:0.9em; }

/* Inventory Page */

#MainFilters > ul > li .icon { top:-0.9em; }
#MainFilters > ul > li.NeedsPhotosEquipmentAll .icon { background-position:0 -42px; top:0.2em; }

#InventoryTable div.overlay { left:0; }

/* Approval Summary */

#KeyInformation #AdditionalInfoItemsList td label { top:1px; width:82px; }

#AdConfigForm #DropDownLists select#ExteriorColorDropDown, #AdConfigForm #DropDownLists select#InteriorColorDropDown { float: none; width: 215px; display: block; clear: both; }