﻿

/* Workflow Header */

#VehicleSummary ul.vehicle { top:0px; }

#PricingInfo .newCarPricing .button.small { font-size:0.9em; }

/* Inventory Page */

#InventoryTable div.overlay { left:0; }

/* Approval Summary */

#KeyInformation #AdditionalInfoItemsList td label { top:1px; width:82px; }

/* jQuery styles */

.ui-dialog-title { float:left; }