﻿/* ----------------------------------------------------------- //
   CSS Reset
// ----------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-weight:normal;
	font:inherit;
	vertical-align:baseline;
}

a::-moz-focus-inner, img::-moz-focus-inner, input::-moz-focus-inner { border:0 !important; outline:0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}

html { overflow-y:scroll; }

body { line-height:1.5em; }

ol, ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }

table { border-collapse:collapse; border-spacing:0; }

a { color:#4c82a9; cursor:pointer; outline:0; text-decoration:underline; }

/* clearfix class */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.clearfix { zoom:1; }

.hidden { display: none !important; }


/* ----------------------------------------------------------- //
   Global
// ----------------------------------------------------------- */

html { background:#fff; }
body { color:#333; font-family:Arial, Helvetica, Sans-Serif; font-size:9pt; }

em { font-style:italic; }
strong { font-weight:bold; }

#Page { background:#f3f3f3; margin:0 auto; position:relative; width:999px; z-index:1; }

#Header, #Body, #Footer { clear:both; }

#UserMessaging { clear: both; }
#UserMessaging p { font-weight:bold; margin:0.5em 1em; min-height:16px; padding:10px 0 10px 44px; border-width: 1px; border-style: solid; }
#UserMessaging p.error { background:#ffe5e5 url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px -116px; border-color: #e56767; color:#bf0000 !important; }
#UserMessaging p.warning { background:#ffffcc url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px -52px; border-color: #e5b27e; color:#bf6000 !important; }
#UserMessaging p.info { background:#e3ebfa url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px 10px; border-color: #9fb5e0; color:#365DAD; }

.globalmessage { border-width: 1px; border-style: solid; border-top: 0; border-left: 0; border-right: 0;  }
.globalmessage p { margin: 0 auto; width: 946px; padding:10px 0 10px 44px; font-weight:bold; line-height:16px; position: relative; }

.globalmessage.error { background:#ffe5e5; border-color: #e56767; color:#bf0000; }
.globalmessage.error p {  background: url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px -116px; }

.globalmessage.warning { background:#ffffcc; border-color: #e5b27e; color:#bf6000; }
.globalmessage.warning p { background: url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px -52px; }

.globalmessage.info { background:#e3ebfa; border-color: #9fb5e0; color:#365DAD; }
.globalmessage.info p { background: url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px 10px; }

.globalmessage.credential { position: fixed; z-index: 1000; width: 100%;}

.globalmessage .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.globalmessage .dismiss {
  position: absolute;
  top: 10px;
  right: 50px;
}

/*#warning, .warning {
	background:#ffffcc; border:solid #ffcc66 1px; clear:both; color:#b36800; display:block;
	font-weight:bold; line-height:18pt; margin:0 0 1px; padding:0.25em 0.5em 0.2em; text-align:center;
}

.info {
	background:#ebf1fa; border:solid #8aaae5 1px; clear:both; color:#4b77cb; display:block;
	font-weight:bold; line-height:18pt; margin:0 0 1px; padding:0.25em 0.5em 0.2em; text-align:center;
}*/

.bold { font-weight:bold !important; }
.normal { font-weight:normal !important; }
.alignCenter { text-align:center !important; }
.alignLeft { text-align:left !important; }
.alignRight { text-align:right !important; }
.invisible { visibility:hidden !important; }
.displayNone { display:none !important; }
.valignMiddle { vertical-align:middle !important; }
.valignTop { vertical-align:top !important; }
.relative { position:relative; }

.button {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#698ACD;
	background-image:-moz-linear-gradient(center top , #6f92d9, #6281bf);
	border:solid #699bff 1px;
	border-bottom-color:#5d7199;
	border-radius:3px;
	border-right-color:#5d7199;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	height:1.8em;
	line-height:1.7em;
	padding:1px 0.75em;
	text-decoration:none; 
} /* text-shadow:#4e6799 -1px -1px; */
.button-muted {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#909090;
	background-image:-moz-linear-gradient(center top , #AAAAAA, #999999);
	border:solid #ebebeb 1px;
	border-top-color:#AAAAAA;
	border-bottom-color:#777777;
	border-radius:3px;
	border-right-color:#777777;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	height:1.8em;
	line-height:1.7em;
	padding:1px 0.75em;
	text-decoration:none; 
}
.button:active { color:#fff; }
.button.small, .button-muted.small { font-size:0.9em; height:1.9em; line-height:1.8em; padding:0 1em; }

.link.small { font-size:0.9em; line-height:1.9em; }

ul.autoComplete { background:#fff; border:solid #ddd 1px; margin-bottom:2em; }
ul.autoComplete li { cursor:pointer; display:block; line-height:1.8em; padding:0 0.5em; }
ul.autoComplete li:hover { background:#999; color:#fff; }

/* ----------------------------------------------------------- //
   Header
// ----------------------------------------------------------- */

#Header { background:#3661b4 url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 0; height:49px; position:relative; z-index:10; }
#Header .dealerSelector {
	background:#103782 url(Images/sprite_Arrows.png?v=3.0) no-repeat scroll right -73px; color:#ddd; display:block; float:right; font-size:0.9em;
	height:21px; margin:13px 8px 0 0; padding:3px 20px 0px 10px; text-decoration:none;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
    max-width: 140px;
}

.mastheadLogo {
  background:transparent url(Images/logo_MAX.png?v=4) repeat-x scroll 0 0;
  top:    8px;
  left:   10px;
  width:  161px;
  height: 35px;
  margin-right:10px;
  float:left;
  position:relative;
  text-indent: -9999px;
  overflow: hidden;
}
.ApprovalSummary .mastheadLogo {
  background:transparent url(Images/logo_MAX_AD.png?v=4) no-repeat scroll 0 0;
}

#Navigation { float:left; margin:15px 0 0 35px; }
#Navigation > ul > li { float:left; margin:0 20px 0 0; }
#Navigation > ul > li > a { color:#fff; font-size:1.1em; text-decoration:none; }
#Navigation > ul > li.menuHead { margin:0 10px 0 0; position:relative; }
#Navigation > ul > li.menuHead > a { background:transparent url(Images/sprite_Arrows.png?v=3.0) no-repeat scroll right -141px; padding-right:16px; }
#NavLogOutLink {margin: 0 0 0 0 !important;}

#Navigation ul li.menuHead ul { display:none; }
#Navigation ul li.menuHead:hover ul { display:block; }

#Navigation ul li.menuHead ul { background:#103782; left:0; position:absolute; padding:2px 0; top:1.4em; }
#Navigation ul li.menuHead ul li a { color:#fff; display:block; height:24px; line-height:24px; margin:0 1px; padding:0 1em; text-decoration:none; white-space:nowrap; }
#Navigation ul li.menuHead ul li a:hover { background:#fff url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 -120px; color:#103782; }

#HeaderSearchText { background:#fff; border:solid #dcdcdc 1px; float:left; height:17px; font-size:0.9em; line-height:17px; width:130px; }
#HeaderSearchButton {
	background:#dbdbdb url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 -88px; border:solid #dcdcdc 1px;
	color:#333; cursor:pointer; display:block; float:left; font-size:0.9em; height:21px; line-height:21px; margin-left:-1px;
}

#BulkUpload { background:#fff url(Images/sprite_Workflow.png?v=3.0) no-repeat scroll 98% -161px; float:right; height:22px; margin:10px 100px 0 10px; }
#BulkUpload a { color:#333; display:block; height:22px; line-height:22px; padding:0 23px 0 5px; text-decoration:none; }

/* Auto Load dialog */

#NeededLoginInfo { overflow:hidden; padding:12px 0; }

#NeededLoginInfo h2 { font-size:1.2em; font-weight:bold; margin-bottom:1em; }
#NeededLoginInfo h3 { margin-bottom:1em; }

#NeededLoginInfo .field { margin:0 0 1em 80px; }
#NeededLoginInfo .field label { display:inline-block; margin-right:20px; text-align:right; width:120px; }

#NeededLoginInfo #ProviderMessage { color:#bf0000; display:block; margin-bottom:1em; }

#NeededLoginInfo .actions { margin-top:2em; }
#NeededLoginInfo .actions label { display:block; }
#NeededLoginInfo .actions .buttons { float:right; }

.pleaseWaitPanel { -moz-border-radius:6px; -webkit-border-radius:6px; background-color:#fff; border:solid #ddd 1px; border-radius:6px;
	color:#666; filter:alpha(opacity=85); left:-1px; opacity:0.85; overflow:hidden; position:absolute; top:-1px; width:100%; z-index:100000;
}
.pleaseWaitPanel p {
	background:#fff url(../../Public/Images/loading.gif) no-repeat scroll left center; display:block; height:52px;
	line-height:52px; margin:0 auto; padding-left:38px; width:100px;
}

/* Main Content */

#Body { position:relative; z-index:2; }
#Content { background:#fff; border-top:solid #fff 1px; margin:0 10px 10px; position:relative; z-index:3; }

/* jQuery styles */

.ui-dialog.hideClose .ui-dialog-titlebar-close { display:none; }

.ui-helper-clearfix { display:inline-block; }
.ui-helper-clearfix { display:block; }
.ui-helper-clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }

.ui-widget-overlay {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background:#000; filter:alpha(opacity=60) !important;
	opacity:0.6 !important; left:0; position:absolute; top:0;
}

.ui-dialog { -moz-border-radius:3px; -webkit-border-radius:3px; background:#fff; border-radius:3px; height:600px; overflow:hidden; padding:0.25em; position:absolute; width:800px; }
.ui-dialog-titlebar {
	-moz-border-radius:3px; -webkit-border-radius:3px; background:#3661b4 url(Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 -50px;
	border-radius:3px; color:#fff; font-size:1.2em; font-weight:bold; height:37px; line-height:35px; padding-left:12px; position:relative;
}
.ui-dialog .ui-dialog-title { float:left; } 
.ui-draggable .ui-dialog-titlebar { cursor:move; }

.ui-dialog-titlebar-close { background:transparent url(Images/sprite_jQueryUI.png?v=3.0) no-repeat scroll 0 1px; float:right; height:26px; margin:5px 5px 0 0; overflow:hidden; width:26px; text-decoration: none; }
.ui-dialog-titlebar-close:hover { background-position:0 -37px; }
.ui-dialog-titlebar-close span { visibility:hidden; }

.ui-dialog .ui-dialog-content { position:relative; margin:0 12px; background:none; overflow:auto; zoom:1; }

.ui-dialog .ui-dialog-buttonpane { padding:0 12px 12px 12px; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float:right; }
.ui-dialog .ui-dialog-buttonpane button { cursor:pointer; font-size:1.5em; padding:0 0.5em; margin:0 0 0 0.25em; }

.placeholder { color:#acacac; }

.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -2px;
}

.tooltip.right {
  margin-left: 2px;
}

.tooltip.bottom {
  margin-top: 2px;
}

.tooltip.left {
  margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  border-bottom: 5px solid transparent;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 5px;
}

.popover.top {
  margin-top: -5px;
}

.popover.right {
  margin-left: 5px;
}

.popover.bottom {
  margin-top: 5px;
}

.popover.left {
  margin-left: -5px;
}

.popover.top .arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #000000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  border-bottom: 5px solid transparent;
}

.popover.bottom .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
  border-left: 5px solid transparent;
}

.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}

.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.popover-inner {
  width: 280px;
  padding: 3px;
  overflow: hidden;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
  padding: 9px 15px;
  line-height: 1;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.popover-content {
  padding: 14px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.popover-content p,
.popover-content ul,
.popover-content ol {
  margin-bottom: 0;
}

#HistoricalDateDDL { margin-left: 0.75em; }
#BudgetInfo th { background:#698acd; color:#fff; padding: 0.25em 0.75em; text-align:left; } 
#BudgetInfo th:first-child { min-width: 113px; }
#BudgetInfo th:first-child+th { min-width: 129px; }
#BudgetInfo td { padding: 0.25em 0.75em; }
#BudgetInfo { margin-bottom: 10px; margin-top: 10px }
#BudgetInfo select { margin: 0 }

.report_settings_section { margin-bottom: 30px; }
.report_settings_section .fieldLabelPair label { display: inline-block; min-width: 140px; }

#low_activity_report_settings input[type='text'] { text-align: right;width: 50px; padding: 0 2px }
.report_settings_section a.help {
    font-size: small;
    
}
#ttm_report_settings_goaldays input[type='text'] { text-align: right;width: 50px; padding: 0 2px }

/*#settings a.info_icon {
    background:transparent url(Images/sprite_MessageIcons_Small.png) no-repeat scroll 0 0; 
    border:0; 
    clear:none; 
    display:inline-block; 
    width: 24px; 
    height: 24px;
}*/

#AdConfigForm #BookValues a.warning {
    background:transparent url(Images/sprite_MessageIcons_Small.png) no-repeat scroll -1px -1px; border:0; clear:none; display:inline-block; float:right; height:20px;
    margin:0 0.5em 0 0; overflow:hidden; padding:0; text-indent:-100000px; text-transform:uppercase; width:22px;
}


/*.ctr-graph-link {
  background: url("Images/1343832346_pie-chart_graph.png") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}*/

#chart-line, #chart-bar { 
    width: 800px; 
    height: 400px; 
    margin: 0 auto;
}

#ctr-graph .carinfo {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #969696;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  width: 800px;
}
#ctr-graph .carinfo li {
  display: inline;
  margin-right: 20px;
}
#ctr-graph .carinfo .data {
  color: #000;
}
#ctr-graph.dialog .loading {
    width: 100%;
    height: 100%;
    background: white url("Images/loading.gif") center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loading .error {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    height: 80px;
    background: white;
    margin-top: 170px;
}

#ctr-graph .title-tooltip {
  display: none;
  position: absolute;
  top: 170px;
  left: 40px;
  background: white;
  padding: 2px 4px;
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 5px rgb(0,0,0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  z-index: 1000;
}



/* invalid credentials */
.dialog fieldset {
    margin: 0 0 20px 20px;
}
.dialog p {
    margin: 10px 0;
}
.formline {
    margin: 7px 0;
}
.dialog h3 {
  font-size: 18px;
  color: #A7A7A7;
  margin: 15px 0;
}
.dialog h4 {
    border-bottom: 1px solid #A7A7A7;
    color: #A7A7A7;
    margin: 10px 0 20px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.formline input,
.formline select {
    padding: 2px;
    border: 1px solid #A7A7A7;
}
.formline input {
    padding: 3px;
}
.formline select.vendor {
    width: 130px;
}

.formsave {
    margin: 20px 0;
}

.formsave .cancel,
.formsave .dismiss {
    font-size: 14px;
    margin-left: 10px;
}

.dialog form .vendor { 
  width: 110px; 
  display: inline-block;
}

.button-green {
    background: #47ad47;
    background: -moz-linear-gradient(top, #79cb79 0%, #47ad47 50%, #187e18 50%, #005500 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79cb79), color-stop(50%,#47ad47), color-stop(50%,#187e18), color-stop(100%,#005500));
    background: -webkit-linear-gradient(top, #79cb79 0%,#47ad47 50%,#187e18 50%,#005500 100%);
    background: -o-linear-gradient(top, #79cb79 0%,#47ad47 50%,#187e18 50%,#005500 100%);
    background: -ms-linear-gradient(top, #79cb79 0%,#47ad47 50%,#187e18 50%,#005500 100%);
    background: linear-gradient(to bottom, #79cb79 0%,#47ad47 50%,#187e18 50%,#005500 100%);
    
    border: 1px solid #154716;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(197, 255, 197, 0.5);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(197, 255, 197, 0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(197, 255, 197, 0.5);

    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 #59ab59;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    padding: 5px 10px;
    min-width: 80px;
}
.button-green:hover {
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(197, 255, 197, 1);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(197, 255, 197, 1);
    box-shadow: inset 0px 0px 0px 1px rgba(197, 255, 197, 1);
    cursor: pointer;
}
.button-green:active {
    -moz-box-shadow: inset 1px 1px 2px 1px rgba(7, 7, 7, .4);
    -webkit-box-shadow: inset 1px 1px 2px 1px rgba(7, 7, 7, .4);
    box-shadow: inset 1px 1px 2px 1px rgba(7, 7, 7, .4);
}
.button-green:disabled,
.button-green.loading {
    color: #A7A7A7;
    border-color: #A7A7A7;
    background: #eee;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    cursor: default;
}
.button-green.loading {
  background: white url("Images/loading_small.gif") center center no-repeat;
}

.error {
    color: #BF0000;
}
input.error {
    background: #FFE5E5;
    border-color: #E56767;
}
.message {
    font-weight: bold;
}

.linkListBox { float:left; margin:0; width:217px; }
.linkListBox h2 { color:#999; font-size:1.1em; font-weight:bold; padding:12px 0 0; text-align:center; text-transform:uppercase; }
.linkListBox ul { padding:10px 15px 15px; }
.linkListBox {
    width: 211px;
    border: 3px solid transparent;
}

.freshPanel{
  background:#fbfbfb;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
  -webkit-box-shadow:0px 0px 7px rgba(51, 51, 51, 0.4);
     -moz-box-shadow:0px 0px 7px rgba(51, 51, 51, 0.4);
          box-shadow:0px 0px 7px rgba(51, 51, 51, 0.4);
}

.freshPanel h2 {
    background: #fff url("../MaxMvc/Images/Dashboard/bg_alerts_header.png") center 100% no-repeat;
    color: #557fd5;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 4px;
    -webkit-border-radius:10px 10px 0px 0px;
       -moz-border-radius:10px 10px 0px 0px;
            border-radius:10px 10px 0px 0px;
}
.freshPanel .count {
    color: #164092;
    font-weight: bold;
    font-size: 29px;
    float: left;
    display: block;
    margin-top: 8px;
}
.freshPanel h2 .title {
    float: left;
    display: block;
    margin-left: 8px;
    text-align: left;
    width: 146px;
}
.freshPanel h2 .title .subhead {
    font-size: 10px;
    font-weight: normal;
    display: block;
}
.freshPanel, #WebsitePerformance { behavior: url(/merchandising/Public/Scripts/Lib/PIE.htc); }

.navList {
    position: absolute;
    right: 8px;
    top: 37px;
    border: 1px solid #103782;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    display: none;
}
.navList .filter {
    margin: 10px 10px 0;
}
.navList ul {
    margin: 10px;
    padding: 0;
}
.navList li {
    margin-bottom: 3px;
}
.navList li a {
    text-decoration: none;
}
/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
  width:auto;
  margin-right:30px;
  overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
  margin-right:0;
}
.mCS_disabled .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_container.mCS_no_scrollbar{
  margin-right:30px;
}
.mCustomScrollBox .mCSB_scrollTools{
  width:16px;
  height:100%;
  top:0;
  right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
  height:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.mCSB_scrollTools .mCSB_buttonUp+.mCSB_draggerContainer{
  padding-bottom:40px;
}
.mCSB_scrollTools .mCSB_draggerRail{
  width:2px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
  cursor:pointer;
  width:100%;
  height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:4px;
  height:100%;
  margin:0 auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
  height:20px;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
  bottom:0;
  margin-top:-40px;
}
/* horizontal scrollbar */
.mCSB_horizontal .mCSB_container{
  height:auto;
  margin-right:0;
  margin-bottom:30px;
  overflow:hidden;
}
.mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
  margin-bottom:0;
}
.mCS_disabled .mCSB_horizontal .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed .mCSB_horizontal .mCSB_container.mCS_no_scrollbar{
  margin-right:0;
  margin-bottom:30px;
}
.mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools{
  width:100%;
  height:16px;
  top:auto;
  right:auto;
  bottom:0;
  left:0;
  overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerContainer{
  height:100%;
  width:auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  overflow:hidden;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft+.mCSB_draggerContainer{
 padding-bottom:0;
  padding-right:20px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail{
  width:100%;
  height:2px;
  margin:7px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger{
  width:30px;
  height:100%;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width:100%;
  height:4px;
  margin:6px auto;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
  width:20px;
  height:100%;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;
  float:left;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight{
  right:0;
  bottom:auto;
  margin-left:-40px;
  margin-top:-16px;
  float:right;
}

/* default scrollbar colors and backgrounds */
.mCustomScrollBox .mCSB_scrollTools{
  opacity:0.75;
}
.mCustomScrollBox:hover .mCSB_scrollTools{
  opacity:1;
}
.mCSB_scrollTools .mCSB_draggerRail{
  background:#000; /* rgba fallback */
  background:rgba(0,0,0,0.4);
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background:#fff; /* rgba fallback */
  background:rgba(255,255,255,0.75);
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
  background:rgba(255,255,255,0.85);
  filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
  background:rgba(255,255,255,0.9);
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
  background-image:url(mCSB_buttons.png);
  background-repeat:no-repeat;
  opacity:0.4;
  filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp{
  background-position:0 0;
  /* 
  sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonDown{
  background-position:0 -20px;
  /* 
  sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonLeft{
  background-position:0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonRight{
  background-position:0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover{
  opacity:0.75;
  filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active{
  opacity:0.9;
  filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #c7c6c6;
    filter: "none";
    -ms-filter: "none";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 9px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background: #f6f6f6;
    filter: "none";
    -ms-filter: "none";
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 9px;
    border: 1px solid #c7c6c6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background: #c7c6c6;
    filter: none;
    -ms-filter: none; 
}
#groupListContainer {
    height: 300px;
    margin-top: 1px;
    overflow-y: scroll;
}
.abbrev 
{
    text-decoration: underline gray dotted;
    cursor: help;
    font-size: 1.25em;
}


/*
 *  Remodal - v0.2.0
 *  Flat, responsive, lightweight, easy customizable modal window plugin with declarative state notation and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal_lock, body.remodal_lock {
    overflow: hidden;
}

/* Anti FOUC */

.remodal, [data-remodal-id] {
    visibility: hidden;
}

/* Overlay necessary styles */

.remodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    text-align: center;
}

.remodal-overlay:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;

    content: '';
}

/* Fix iPad, iPhone glitches */

.remodal-overlay > * {
    -webkit-transform: translateZ(0px);
}

/* Modal dialog necessary styles */

.remodal {
    position: relative;

    display: inline-block;
}

/* ==========================================================================
   Remodal default theme
   ========================================================================== */

/* Default theme font */

.remodal, .remodal * {
    font-family: Helvetica, sans-serif;
}

/* Background for effects */

.remodal-bg {
    -webkit-transition: -webkit-filter 0.2s linear;
    -moz-transition: -moz-filter 0.2s linear;
    -o-transition: -o-filter 0.2s linear;
    transition: filter 0.2s linear;
}

body.remodal_active .remodal-bg {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

/* Overlay default theme styles */

.remodal-overlay {
    opacity: 0;
    /* gray transparent PNG background for IE8 */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuM4zml1AAAAANSURBVBhXY1BU0fsAAAJBAWSf100YAAAAAElFTkSuQmCC);
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

body.remodal_active .remodal-overlay {
    opacity: 1;
}

/* Modal dialog default theme styles */

.remodal 
{
    max-width: 700px;
    margin: 20px auto;
    min-height: 0;
        
    width: 100%;
    /*min-height: 100%;
    padding: 25px 35px 25px 35px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /*font-size: 16px;*/
    background: #ffffff;/*#f4f4f4;*/
    background-clip: padding-box;
    color: #182a3c;
    -webkit-box-shadow: 0px 0px 8px #171a24;
    box-shadow: 0px 0px 8px #171a24;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    transition: transform 0.2s linear;
}
.remodal .remodal-label {
    /*position: absolute;*/
    top: 0px;
    width: 100%;
    left: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4em;
}
.remodal .remodal-label p {
    padding: 9px;
}

body.remodal_active .remodal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Modal dialog vertical align  */

.remodal, .remodal-overlay:after {
    vertical-align: middle;
}

/* Close button */

.remodal-close 
{
    display: none;/*added*/
    position: absolute;
    top: 5px;
    right: 5px;

    width: 20px;
    height: 20px;

    text-decoration: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #3e5368;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.remodal-close:after {
    display: block;

    font-size: 24px;
    font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
    content: "×";
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #3e5368;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.remodal-close:hover, .remodal-close:active {
    background: #3e5368;
}

.remodal-close:hover.remodal-close:after, .remodal-close:active.remodal-close:after {
    color: #f4f4f4;
}

/* Dialog buttons */

.remodal-confirm, .remodal-cancel, .remodal-muted {
    display: inline-block;
    width: 95px;
    padding: 5px 0;
    margin: 0 0 5px 0;

    font-size: 10pt;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.remodal-confirm {
    border: 2px solid #6889CC;
    background: #f4f4f4;
    color: #3760B4;
}

.remodal-confirm:hover, .remodal-confirm:active {
    background: #6889CC;
    color: #f4f4f4;
}

.remodal-cancel {
    border: 2px solid #c0392b;
    background: #f4f4f4;
    color: #c0392b;
}

.remodal-cancel:hover, .remodal-cancel:active {
    background: #c0392b;
    color: #f4f4f4;
}
.remodal-muted {
    border: 2px solid #3e5368;
    background: #f4f4f4;
    color: #3e5368;
}

.remodal-muted:hover, .remodal-muted:active {
    background: #3e5368;
    color: #f4f4f4;
}

/* jq-ui remodal modifiers */
.remodal.jquimodal {
    border-radius: 6px;
}
.remodal .ui-dialog {
    height: auto;
    width: auto;
    position: static;
}

