﻿/* ========================================================================== 
    Do not minify media queries with YUI compressor older than v2.4.4
   ========================================================================== */
/* Chrome styles */
@media screen and (-webkit-min-device-pixel-ratio:0) { 

	#VehicleSummary ul.admin li.checkbox #spanDisplayCertifiedID { float:none; }
	#PricingInfo .newCarPricing .button.small { font-size:0.9em; }
	
}

/* Remodal responsive design */
@media only screen and (max-width: 40.063em) /* max-width 641px */ {
    .remodal    {
        max-width: initial;
        margin: auto;
        min-height: 100%;
        /*-webkit-border-radius: 6px;
        border-radius: 6px;*/
    }
}