﻿
#PackageContent { padding-top:10px; }
#PackageContent #TrimWidget { margin:0 0 10px; font-size:1.2em; }
#PackageContent #TrimWidget select { margin:0 1em 0 0.5em; }
#PackageContent h3 { font-size:1.2em; margin:1.5em 0 0.5em; }

#PackageContent #StepCompleted { float:right; position:relative !important; top:-3px !important; }
#PackageContent #StepCompletedHelpMsg { color:#666; font-size:0.9em; font-style:italic; position:absolute; right:10px; top:0; }

#PackageContent .section { background:#f3f3f3; border:1px solid #ddd; padding:1em 1em 0.5em; }

#PackageContent a.deleteLink  {
	background:url(Images/sprite_ApprovalPage.png?v=3.0) no-repeat scroll -133px -425px transparent;
	display:block; height:12px; margin:0 auto; text-decoration:none; width:12px;
}
#PackageContent p.dealerOption a.deleteLink { display:inline-block; left:1px; position:relative; top:1px; }

#PackageContent #Colors .fieldLabelPair { padding-bottom:0.5em; }
#PackageContent #Colors .fieldLabelPair label { display:inline-block; width:100px; }

#PackageContent .plain { margin:1.5em 0 0 10px; }

#LoadPackagesTabset #LoadPackagesTabs { list-style-type:none; padding-left:15px }
#LoadPackagesTabset #LoadPackagesTabs li { float:left; }
#LoadPackagesTabset #LoadPackagesTabs li a {
	-moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 6px 0 0; background:#fff; border:solid #ddd 1px;
	border-radius:3px 3px 0 0; border-bottom:0; cursor:pointer; display:block; float:left; margin:0 0.25em 0 0;
	padding:0.5em 1em 0.25em 1em; text-decoration:underline;
}
#LoadPackagesTabset #LoadPackagesTabs li a.selected {
	background:#f3f3f3; border-bottom:solid #f3f3f3 1px; color:#333; cursor:default; font-weight:bold;
	margin-bottom:-1px; position:relative; text-decoration:none; z-index:10000;
}

#LoadPackagesTabset .tabContent { background:#f3f3f3; border:solid #ddd 1px; border-width:1px 0 0; clear:both; padding:0 15px 10px; }

#LoadPackagesTabset table { width:100%; }
#LoadPackagesTabset table.possible { margin-top:0.25em; }
#LoadPackagesTabset table th {
	background:url("Images/sprite_Gradients1.png?v=3.0") repeat-x scroll 0 -50px #3661B4; color:#fff;
	font-size:0.9em; font-weight:bold; line-height:1.2em; padding:4px 0; text-transform:uppercase; vertical-align:top;
}
#LoadPackagesTabset table th input { margin-top:1px; }
#LoadPackagesTabset table td { background:#fff; border:solid #ddd 1px; border-width:1px 0; padding:0.5em; vertical-align:middle; }
#LoadPackagesTabset table td.first { border-left:solid #ddd 1px; }
#LoadPackagesTabset table td.last { border-right:solid #ddd 1px; }
#LoadPackagesTabset table td input.text, #LoadPackagesTabset table td textarea {
	color:#333; font-family:Arial, Helvetica, Sans-Serif; font-size:1.1em; width:770px;
}
#LoadPackagesTabset table tr:hover td { background-color:#f3f3f3; }
#LoadPackagesTabset table .opCol { text-align:left; }
#LoadPackagesTabset table tr.empty td { padding:0; border:0; }

#LoadPackagesTabset #PackageSearchDiv { padding:1em 50px; }
#LoadPackagesTabset #PackageSearchDiv label { display:inline-block; margin-right:12px; text-align:right; width:120px; }
#LoadPackagesTabset #PackageSearchDiv .text { width:530px; }

#LoadPackagesTabset .searchForm #PackageList { margin:1em 0 0; }
#LoadPackagesTabset .searchForm #PackageList h4 { display:inline; font-weight:normal; margin:0 0.25em 0 0; }
#LoadPackagesTabset .searchForm #PackageList .field { display:inline; margin-right:1em; }

#LoadPackagesTabset .noResultsDiv { color:#bf0000; margin-bottom:1em; width:100%; }

.StdList h4 { font-size: 14px; font-weight: bold; margin: 0; }
