﻿
#WorkflowHeader { margin-bottom:10px; }
#VehicleSummary { display:none; }

/* Pricing Workflow */

#PricingWorkflow {
	background:#dfe4ec; border-bottom:solid #dfe4ec 1px; border-top:solid #dfe4ec 1px; height:40px; overflow:hidden; white-space:nowrap; }

#PricingWorkflow h3 { color:#333; float:left; font-size:1em; font-weight:bold; margin:2px 0 0; width:161px; text-transform:uppercase; }
#PricingWorkflow h3 span { display:block; padding:9px 0 0 15px; }

#PricingWorkflow ul li {
	background:transparent url(Images/arrow_PricingWorkflow.png?v=3.0) no-repeat scroll -5px -10px;
	color:#333; display:block; float:left; font-size:1em; height:60px; line-height:1.2em !important; list-style-type:none; width:272px;
}

#PricingWorkflow ul li span {
	background:transparent url(Images/sprite_PricingSteps.png?v=3.0) no-repeat scroll 30px 0; display:block; height:60px;
	padding:12px 0 0 70px;
}

#PricingWorkflow ul li#Step1 span { background-position:30px 7px; }
#PricingWorkflow ul li#Step2 span { background-position:30px -49px; }
#PricingWorkflow ul li#Step3 span { background-position:30px -104px; }

#PricingWorkflow ul li a {
	background:transparent url(Images/sprite_PricingButtons.png?v=3.0) no-repeat scroll 0 -33px;
	border:0; display:block; height:32px; margin:-9px 0 0 10px; overflow:hidden; text-indent:-5000px; width:149px;
}
#GoToNextButton { background-position:0 0 !important; }

#InventoryAndCompleted { padding:0.5em; }

#Page { width: 1010px; }
#Content { margin-left: 0; margin-right: 0; }

.ctr-graph-link {
	margin-left: 10px;
}
.ctr-graph-link img {
	vertical-align: text-bottom;
	margin-right: 5px;
}
