﻿
/* Tweak the Vehicle Activity page to be left justified to accomodate the wide report. */
#Page { margin: 0; }
#ReportDiv { position: absolute; background-color: #FFF; border: solid 10px #F3F3F3; margin-left: -10px; }
#viewer_spinner { height:100px; width: 979px; background:url(../../Public/Images/loading.gif) no-repeat scroll center; }
#Logo { background: transparent url("../Max3.0/Images/logo_MAX_plain.png") 0 0 no-repeat; }
