﻿/* Global */

.mastheadLogo { 
	background: transparent url("Images/logo_MAX_plain.png")  0 0 no-repeat !important;
	width: 143px;
}

#Content { background:transparent; border:0; clear:right; }

#BulkUpload { margin-right:10px !important; }
#HeaderSearch { float:right; margin:10px 0 0; }

#ReportTitle { position:absolute; font-size:1.4em; }
#ReportTitle h1 { float:left; font-size:17pt; font-weight:normal; margin:0 0 0 10px; width: 280px;line-height: 1.1em;}

#ReportFilterForm { background:#f3f3f3; border-bottom:0; padding:10px; }
#ReportFilterForm label { display:block; float:left; width:100px; }

#ReportDiv { margin:0 0 2em; }

/* Undo reset styles */
#ReportDiv td, #ReportDiv tr, #ReportDiv table, #ReportDiv input, #ReportDiv div, #ReportDiv img {
    vertical-align: middle;
}
#ReportDiv td {
    padding: 1px;
}

#viewer_spinner { height:100px; background:url(../../Public/Images/loading.gif) no-repeat scroll center; }
#viewer_spinner img { display:block; margin-left:auto; margin-right:auto; margin-top:34px; width:32px; height:32px; }

/* Low Activity */

.lowActivityReport #ReportFilterForm { padding-left:300px; }

/* Not Online */

.notOnlineReport #ReportFilterForm { padding-left:300px; }

#ReportFilterForm > div { margin-top: 4px; }

/* Performance summary */

#DateRangeSelector, #ReportFilters { float:right; }

#DateRangeSelector { margin-left:50px; }
        
#DateRangeFields { border:solid #ddd 1px; margin:0 0 1em 3em; padding:1em 1em 0.75em; text-align:right; width:225px; }
#DateRangeFields label { display:inline; height:18px; line-height:18px; padding-right:0.5em; width:auto; }
#DateRangeFields input.button { float:right; margin-top:0.5em; }
#FromDateFields { margin-bottom:0.75em; }
#DateRangeError { color:#b90000; display:none; }
        
#ReportFilters label { display:block; float:left; height:18px; line-height:18px; padding-right:0.5em; text-align:right; width:100px; }
#ReportFilters select { min-width:150px; max-width:280px; }
#DealerSelector, #SiteSelector { margin-bottom:0.5em; }

#DataMessage { clear:both;}
#ReportControlUpdatePanel { clear:both; }

#ReportFilterForm #ctl00_BodyPlaceHolder_DataMessage { margin-top: 50px; }