﻿
/* Workflow Header */

#WorkflowHeader { position:relative; z-index:4; }

#WorkflowMenu, #HeaderSearch, #BulkUpload, #WorkflowSelector { float:left; height:20px; margin:7px 0 0 10px; }
#BulkUpload { margin: 7px 0 0 5px; }
#HeaderSearch, #BulkUpload, #WorkflowSelector { margin-top:12px; }
#WorkflowMenu { margin-right:0.5em; }
#HeaderSearch { margin:11px 0 0 0; }
#VehicleSummary { clear:both; }

#WorkflowMenu ul li { background:transparent url(Images/sprite_Workflow.png) no-repeat scroll 0 0; float:left; margin:0; }
#WorkflowMenu ul li a { color:#333; display:block; font-size:1.0em; height:17px; line-height:1.1em; padding:8px 10px; text-decoration:none; }
#WorkflowMenu ul li:hover { background-color:#fff; }
#WorkflowMenu ul li.selected { background-color:#fff; font-weight:bold; }

#WorkflowMenu ul li.equipment { background-position:3px 9px; }
#WorkflowMenu ul li.equipment a { padding-left:26px; }
#WorkflowMenu ul li.packages { background-position:0 -23px; }
#WorkflowMenu ul li.packages a { padding-left:24px; }
#WorkflowMenu ul li.photos { background-position:3px -55px; }
#WorkflowMenu ul li.photos a { padding-left:25px; }
#WorkflowMenu ul li.pricing { background-position:1px -88px; }
#WorkflowMenu ul li.pricing a { padding-left:21px; }
#WorkflowMenu ul li.approval { background-position:4px -123px; margin-right:0; }
#WorkflowMenu ul li.approval a { padding-left:27px; }
#WorkflowMenu ul li.maxSe { background-image:none; }

#WorkflowSelector { position:absolute; right:10px; top:2px; }
#WorkflowSelector ul li { display:block; float:left; }
#WorkflowSelector ul li a {
	background:transparent url(Images/sprite_Arrows.png) no-repeat scroll -4px 3px; display:block; height:16px;
	overflow:hidden; text-indent:-10000px; width:16px;
}
#WorkflowSelector ul li.next a { background-position:4px -39px; }
#WorkflowSelector ul li.count { font-weight:bold; }

#VehicleSummary {
	background:#e6e6e6 url(Images/sprite_Gradients1.png) repeat-x scroll 0 -146px; clear:both;
	margin:10px 10px 0; padding:10px 10px 0; position:relative;
}

#InventoryDataWrap { width:740px; }
#YMMTrimWrap { float:left; height:30px; overflow:hidden; white-space:nowrap; }

#VehicleSummary h2 { display:inline-block; font-size:1.6em; height:30px; line-height:1.4em; font-style:italic; font-weight:bold; margin:-3px 10px 0 0; overflow:hidden; zoom:1; *display:inline; }

#TrimSelector { display:inline-block; height:30px; margin:0 10px 0 0; position:relative; top:3px; zoom:1; *display:inline; }
#TrimSelector.red select { border-color:#bf0000; color:#bf0000; font-weight:bold; }

#TrimSelector .selectBox { border:solid #ddd 1px; float:left; margin-top:-3px; padding:3px; width:180px; }
#TrimSelector .selectBox option { line-height:2em; }
#TrimSelector .selectBox label {
	background:#fff url(Images/sprite_Arrows.png) no-repeat scroll 98% -105px; border:solid #dcdcdc 1px; display:block; font-size:0.9em; height:27px; line-height:27px; padding:0 3em 0 1em;
}
#TrimSelector .selectBox ul { display:none; line-height:27px; padding:0.5em 1em 0; }

#TrimSelector a.trimHelper { color:#333; display:block; float:left; font-size:0.8em; line-height:1.2em; margin:-3px 10px 0 7px; white-space:normal; width:22px; }

#VehicleSummary ul.vehicle li { float:left; height:30px; line-height:30px; margin:0 0.75em 0 0; white-space:nowrap; }

#VehicleSummary ul.admin { clear:left; padding:0.5em 0; }
#VehicleSummary ul.admin li { float:left; height:1.5em; line-height:1.5em; margin:0 0.75em 0 0; white-space:nowrap; }

#CertifiedControlsItem { white-space:nowrap; }
#CertifiedControlsItem label { float:left; }

#VehicleSummary ul.admin li.checkbox { padding-left:18px; position:relative; }
#VehicleSummary ul.admin li.checkbox input[type=checkbox] { left:-3px; position:absolute; top:-1px; }
#VehicleSummary ul.admin li.checkbox #ddlCertifiedPrograms { float: left; }
#VehicleSummary ul.admin li.checkbox #spanDisplayCertifiedID { float:right; margin-left:0.25em; }
#VehicleSummary ul.admin li.checkbox #spanCertifiedID input { font-size:0.8em; width:60px; }

#PreviousAdLink { white-space:nowrap; }

#VehicleSummary ul.admin li span.vin { color:#666; font-size:0.9em; }

#PricingInfo {
	-moz-border-radius:4px; -webkit-border-radius:4px; background:#e6e6e6 url(Images/sprite_Gradients1.png) repeat-x scroll 0 -158px;
	border:solid #ddd 1px; border-radius:4px; float:right; margin-bottom:18px; position:relative; left:5px; top:-4px;
}
#PricingInfo h3 { float:left; font-size:1.1em; font-weight:bold; line-height:1.1em; margin:4px 0 0 10px; text-align:right; }

#PricingInfo span.price { float:left; font-size:1.8em; font-weight:bold; line-height:1.8em; margin:0 10px 0 15px; }
#PricingInfo a { display:block; float:left; margin:10px 10px 0 0; text-decoration:none; }
#PricingInfo a:hover { text-decoration:underline; }
#PricingInfo a.show_button { text-decoration:none;font-family: MS Shell Dlg, Arial, Helvetica, Sans-Serif;margin: 0px; }

#PricingInfo .newCarPricing { clear:left; width:200px; }
#PricingInfo .newCarPricing h3 { margin:0 0 4px 10px; }
#PricingInfo .newCarPricing span.msrp { color:#666; display:block; font-size:0.8em; margin:0 0 0 10px; }
#PricingInfo .newCarPricing .fieldLabelPair { float:left; white-space:nowrap; margin-top:0.35em; }
#PricingInfo .newCarPricing .fieldLabelPair input.text { margin-left:10px; width:50px;float: left; }
#PricingInfo .newCarPricing .button.small { font-size:0.7em; padding:0 0.5em; }

#StickerControls { padding:12px 0; }
#StickerControls p { margin:1em 0; }
#StickerControls p.info { margin:0 0 1em; }

#StickerControls .field { margin:1em 0 0; }
#StickerControls .field label { display:block; float:left; font-size:1.2em; margin-right:20px; text-align:right; width:120px; }
#StickerControls .field select { font-size:1.2em; }

#StickerControls .selectSheets { padding:0 0 0.5em 140px; }

#StickerControls .sectionButtons { height:2em; position:relative; }
#StickerControls .sectionButtons input.button { position:absolute; right:12px; top:0; }

#StepCompleted { bottom:1px; height:22px; padding:2px 6px 0 2px; position:absolute; right:5px; }
#StepCompleted label { left:-1px; position:relative; text-transform:uppercase; top:-2px; }
#StepCompleted .loading {
	background:#e6e6e6 url(../../Public/Images/loading_small.gif) no-repeat scroll center;	height:24px; /* Height of #StepCompleted plus its vertical padding */
	left:0; position:absolute; top:0; width:100%;
}
#StepCompleted.complete { background-color:#449944; color:#fff; }

/* Trim Helper */

#discriminators { display:none; }

#discriminators .form { background:#f3f3f3; float:right; margin:0.25em 0 0.5em; padding:0.5em; }

#discriminators p { font-size:1.2em; font-weight:bold; padding:1em 0 0.5em; }

#discriminators table { margin-bottom:1em; width:100%; }

#discriminators table tr th, #discriminators table tr td { border:solid #ddd 1px; padding:0.25em; }
#discriminators table tr th, #discriminators table tr td.CategoryColumn { background:#3661B4; color:#fff; }
#discriminators table .CategoryColumn, #discriminators table tbody th { text-align:left; }
#discriminators table tbody .CheckedCell { background:transparent url(Images/icon_GreenCheckmark.png) no-repeat scroll center; }

/* Chrome styles */

