﻿.InputContainer {
	text-align: left;
	background-color: #dce1f5;
	border: 1px solid #999;
	border-bottom: none;
	padding: 5px 8px 8px;
}
.InputContainer h4 { font-weight: bold; }
.InputContainer dl * { display: inline; }
.InputContainer dl dt { margin-right: 1ex; font-weight: bold; }
.InputContainer dl dd { margin-right: 2em; }
.InputContainer dl dd select { 
	font-size: 10px;
	position: relative;
	top: 1px;
}
table.ResultsTable {
	background-color: #fff;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
}
table.ResultsTable th {
	background-color: #efedf0;
	border: 1px solid #999;
	font-weight: normal;
	text-align: center;
	padding: 3px 0 1px 0;
	color: #535353;
}
table.ResultsTable tbody th {
	text-align: left;
	text-indent: 1em;
}
table.ResultsTable td {
	border: 1px solid #999;
	font-weight: bold;
	text-align: center;
	color: #3c3c3c;
}
table.ResultsTable tfoot td {
	text-align: left;
	border: none;
	color: #525252;
	padding: 2px;
	font-size: 10px;
	font-weight: normal;
	text-indent: 1ex;
	background-color: #eee;
}

.primary-data { width: 100%; margin: 2em auto 0 auto; }

.primary-data thead th {
	font-size: 10pt;
	background-color: #a9a9a9;	
	text-transform: uppercase;
	vertical-align: bottom;
}
.primary-data thead th a { 
	color: #fff;
	font: normal 11px "Trebuchet MS", Arial, sans-serif;
	padding: 1em 2px 2px 2px;
	display: block;
}

.primary-data tbody td {
	border-right: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	vertical-align: bottom;
	padding: 8px 1ex 2px 1ex;
}

.table-row-pagination {
	display: block;
	float: right;
}

.table-row-pagination a,
.table-row-pagination span {
	float: left;
	display: block;
	border: 1px solid #d0d0d0;
	background-color: #e0e0e0;
	padding: 1px 5px;
	margin: 1em 0 1ex 1ex;
	color: #777;
}
.table-row-pagination span { padding-bottom: 3px; color: #3e3e3e; border-color: #9e9e9e; }
.table-row-pagination a:hover {
	border: 1px solid #d0d0d0;
	background-color: #f4f4f4;
	color: #32404E;
}

#progress
{
    position: fixed;
    top: 48%;
    left: 45%;
    padding: 10px;
    background-color: #fff;
    border: solid 1px #888;
    z-index: 10000;
}
#progress iframe { display: none; }

/* ======= */
/* = IE6 = */
/* ======= */
* html #progress 
{
    position: absolute;
}

* html #progress div
{
	z-index: 100;
	overflow: hidden;
}

* html #progress 
{
	border: 0;
	background: transparent;
	padding: 0;
}
* html #progress div 
{
	border: 1px solid #888;
	background-color: #fff;
	padding: 10px
}

* html #progress iframe
{
	display: block;
	position:absolute; 
	width: 125px;
	height: 58px;
	top: 0;
	left: 0;
	z-index: -1;
	color: #fff;
}