* 
{
    margin: 0;
    border: 0;
    padding: 0;
}
body
{
	font-family: Verdana, sans-serif;
	font-size: 68%;
	background-color: white;
}
h1
{
	font-size: 1.5em;
	line-height: 1.5em;
}
h2
{
	font-size: 1.3em;
	line-height: 1.5em;
}
h3
{
	font-size: 1.1em;
}
/* links */
a
{
	font-family: "Trebuchet MS", sans-serif;
	color: #355fab;
	text-decoration: none;
}
a:visited
{
    color: #5470a2;
}
a:hover
{
    text-decoration: underline;
}
a img
{
	border: 0;
	outline: none;
}

/* reports */

.container
{
	margin: 10px auto;
	position: relative;
	width: 990px;
}
.content
{
	background-color: #eee;
	background-image: url(Images/Reports/TopShadow.gif);
	background-repeat: repeat-x;
	padding: 15px;
	overflow: hidden;
}
.header
{
	text-align: center;
	padding-bottom: 10px;
}
.close
{
	float: right;
	vertical-align: top;
}
.clear
{
	clear: both;
	margin: 0;
	padding: 0;
}
.primary-data
{
	width: 100%;
	border-collapse: collapse;
}
.primary-data td
{
	padding: 3px;
}
.primary-data th
{
	padding: 0px 3px;
}
.primary-data th a
{
	font-size: 1em;
	font-weight: 700;
	color: #666;
}
.primary-data tr
{
	background-color:#FFF;
	color: #121825;
}
.primary-data tr.odd
{
	background-color:#dde3ee;
	color: #1a1a1a;
}
.page-footer
{
    clear: both;
	border-top: 1px solid #666;
	padding-top: 5px;
}
.page-footer .status
{
    float: left;
}
.page-footer li
{
	padding-left: 5px;
	display: inline;
	list-style-type: none;
	border-right: solid 1px #CCC;
	color: #9999b2;
}
.page-footer li em
{
	font-weight: bold;
}
.page-footer li.last
{
	border-right:0;
}

/* ======== */
/* = Menu = */
/* ======== */	

	/* ==================== */
	/* = START: Formating = */
	/* ==================== */
	div.ltGrey div.ui-menu-horizontal,
	div.ltGrey div.ui-menu-horizontal a {
		color: #666;
	}
	div.ltGrey div.ui-menu-horizontal ul.ui-menu li a:hover,
	div.ltGrey div.ui-menu-horizontal ul.ui-menu li span:hover
	div.ltGrey div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover span {
		text-decoration: underline;
	}
	div.ui-menu-horizontal {
		font-family: Verdana ,Helvetica, Arial, "MS Trebuchet", sans-serif;
		font-size: 10px;	
	}
	div.ui-menu-horizontal ul.ui-menu {
		margin: 0;
		padding: 0 0 2px 0;
	}
	div.ui-menu-horizontal ul.ui-menu li {
		border-right: 1px solid #999;
		padding: 0;
	}
	div.ui-menu-horizontal ul.ui-menu li.last {
		border-right: none;
	}
	div.ui-menu-horizontal ul.ui-menu li a,
	div.ui-menu-horizontal ul.ui-menu li span {
		line-height: 12px;
		padding: 0 5px;
	}
	/* ================== */
	/* = END: Formating = */
	/* ================== */
	
	/* ============================ */
	/* = START: Functional Layout = */
	/* ============================ */
	div.ui-menu-horizontal ul.ui-menu {
		display: block;
		list-style: none;
	}
	div.ui-menu-horizontal ul.ui-menu li {
		display: inline;
		position: relative;
	}
	div.ui-menu-horizontal ul.ui-menu li a,
	div.ui-menu-horizontal ul.ui-menu li span {
		display: inline; 
		text-decoration: none;
		cursor: pointer;
	}
	/* ========================== */
	/* = END: Functional Layout = */
	/* ========================== */

/* ============= */
/* = footer = */
/* ============= */

div.page-footer {
	clear: both;
	color: #9999b2;
	font-size: 10px;
	height: 26px;
	padding-right: 212px;
	background: #fff url('Images/Marketing/fllogo.gif') no-repeat bottom right;
}

div.page-footer ul {
	list-style: none;
	margin: 0;
}

div.page-footer em {
	font-style: normal;
	font-weight: bold;
}

div.page-footer ul li {
	display: inline;
	border-right: 1px solid #9999b2;
	padding: 0 0.5em;
}

div.page-footer ul li.last {
	border-right: none;
}

/* ==================== */
/* = Marketing Layout = */
/* ==================== */
#hd { text-align: right; margin-bottom: 2px; }
#bd {
	background: #f1f1f1 url('Images/Marketing/page_bg_top.gif') repeat-x top;
	border-top: 1px solid #A9A9A9;
	border-bottom: 1px solid #000;
	margin-bottom: 4px;
}
#bd_content {
	width: 500px;
	padding: 40px 20px 20px 20px;
	margin: 2px auto 0 auto;
	background: #F9F8F9 url('Images/Marketing/page_bg.gif') repeat-x bottom;
}

body.marketing-page {
	color: #555;
	font-size: 11px;
}

body.marketing-page h1, body.marketing-page h2,
body.marketing-page h3, body.marketing-page h4,
body.marketing-page h5, body.marketing-page h6 {
	color: #485775;
}
body.marketing-page h1 { text-align: center; margin-bottom: 32px; }
body.marketing-page h2 {
	font-size: 16px;
	margin: 32px 0 8px 0;
}
body.marketing-page h3 {
	font-size: 12px;
	margin: 16px 0 8px 0;
}
body.marketing-page .subtitle {
	text-align: center;
}
body.marketing-page strong {
	color: #485775;
}
body.marketing-page ul {
	margin-bottom: 40px;
	margin-right: 30px;
}
body.marketing-page p,
body.marketing-page li {
	text-indent: 1em;
	line-height: 1.6;
	margin: 8px 8px 4px 0;
}
body.marketing-page .vcard {
	width: 300px;
	margin: 70px auto;
}
body.marketing-page .vcard address {
	margin-left: 46px;
}
body.marketing-page .vcard dl.tel {
	margin: 7px 0 0 0;
}
body.marketing-page .vcard dl.tel dt {
	margin-left: 46px;
	float: left;
	width: 80px;
	color: #485775;
}
body.marketing-page .vcard dl.tel dd {
	display: inline;
	padding: 0;
	margin: 0;
}
body.marketing-page .vcard p.email {
	border-top: 1px solid #DCD6DC;
	text-align: center;
	margin-top: 20px;
	padding-top: 5px;
}