body
{
	/*background-color: 014E86;*/
	background-color:#233a5c;
	

}
.nav
{
	/*background-color: F1D979;*/
	background-color:#cccccc;
	padding-left: 13px;
	padding-bottom: 1px;
	padding-top: 8px;

}
.nav-menuitems
{
	font-family: Bookman Old Style, Serif;
	font-size: 10pt;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
}
.nav-on
{
	/*color: #31342D;*/
	color:#cc3333;
	cursor:hand;
}
.nav-off
{
	/*color: #014E86;*/
	color:#233a5c;
	cursor:hand;
}
.nav-off-small
{
	/*color: #014E86;*/
	color:#233a5c;
	cursor:hand;
	font-size:10px;
	padding-left:15px;
}
.nav-off a
{
	color: #cc3333;
}

.navPrint-wait
{
	color: #8b8b8b;
}



.nav-off a:link {color: #233a5c;text-decoration:none;}
.nav-off a:active {color: #233a5c;text-decoration:none;}
.nav-off a:visited {color: #233a5c;text-decoration:none;}
.nav-off a:hover {color: #233a5c;text-decoration:none;}

.nav-spacer-1
{
	background-color: b0b5ae;
}
.nav-spacer-2
{
	background-color: 013358;
}
.nav-spacer-3
{
	background-color: 023459;
}
.nav-spacer-4
{
	background-color: b0b5ae;
}

.nav-branding
{
	/*background-color: 014E86;*/
	background-color: #233a5c;
	height: 60px;
}

.nav-spacer-bottom
{
	background-color: 023459;
}
.nav-tabs
{
	background-color: B2B6A8;
	font-family: Georgia, Arial, SansSerif;
	font-size: 9pt;
	font-weight: bold;
	padding-left: 7px;
	padding-right: 7px;
	height: 26px;
	color: b3b5a8;
}

.grey_background
{
	background-color: B2B6A8;
	padding-left: 0px;
	padding-right: 0px;
	height: 26px;

}

.nav-tabs-on
{
	background-color: EFEFEF;
	color: 94341E;
}
.nav-tabs-off
{
	color: 31322D;
}
.nav-tabs-on a:link {color: #94341E;text-decoration:none;}
.nav-tabs-on a:active {color: #94341E;text-decoration:none;}
.nav-tabs-on a:visited {color: #94341E;text-decoration:none;}
.nav-tabs-on a:hover {color: #94341E;text-decoration:underline;}
.nav-tabs-off a:link {color: #31322D;text-decoration:none;}
.nav-tabs-off a:active {color: #31322D;text-decoration:none;}
.nav-tabs-off a:visited {color: #31322D;text-decoration:none;}
.nav-tabs-off a:hover {color: #31322D;text-decoration:underline;}
.off-white{background-color: EFEFEF;}
.nav-subtabs
{
	background-color: EFEFEF;
	font-family: Arial, SansSerif;
	font-size: 8pt;
	font-weight:bold;
	padding-right: 6px;
	padding-left: 6px;
	color: fff;
	height: 24px;
}
.nav-subtabs-on {color: 94341E;}
.nav-subtabs-off {color:013358}
.nav-subtabs-on a:link {color: #94341E;text-decoration:none;}
.nav-subtabs-on a:active {color: #036;text-decoration:none;}
.nav-subtabs-on a:visited {color: #94341E;text-decoration:none;}
.nav-subtabs-on a:hover {color: #94341E;text-decoration:underline;}
.nav-subtabs-off a:link {color: #013358;text-decoration:none;}
.nav-subtabs-off a:active {color: #036;text-decoration:none;}
.nav-subtabs-off a:visited {color: #013358;text-decoration:none;}
.nav-subtabs-off a:hover {color: #013358;text-decoration:underline;}
.body-main
{
	/*background-color: 023459;*/
	background-color:#233a5c;
}
.bgimage
{
	background-image: url('images/branding/ResourceAutomotive.gif')
}
.footer
{
	color: EFEFEF;
	
	font-family: Verdana, Arial, SansSerif;
	font-size: 8px;
}
.flmi {
	font-family: Bookman Old Style, arial,sans-serif;
	font-size:10pt;
	font-weight:bold;
	/*color:#b3b5a8;*/
	color:#cccccc;
	background-color:#233a5c;
	border-bottom:1px solid #000000;
	padding:5px;
	cursor:hand;
}

.flmiOver {
	font-family: Bookman Old Style, arial,sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#233a5c;
	background-color:#cccccc;
	border-bottom:1px solid #000000;
	padding:5px;
	cursor:hand;
}
/*.menu {border:2px solid #b3b5a8;background-color:#023459;z-index:100;}*/
.menu {
	/*border:2px solid #023459;*/
	/*background-color:#023459;*/
	border-top:1px solid #000000; 
	border-right:1px solid #000000;
	border-left:1px solid #000000;
	
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	visibility:hidden;
	padding:3px;
}
.dataLinkLeftOver {
	font-family:Arial,Helvetica,Sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#014E86;
	padding:2px;
	text-align:left;
	text-decoration:underline;
	cursor:hand;
}
.dataLinkLeftOut {
	font-family:Arial,Helvetica,Sans-serif;
	font-size:11px;
	font-weight:normal;
	color: #013358;
	padding:2px;
	text-align:left;
	cursor:hand;
}
.zeroes {background-color:#000;}
.threes {background-color:#333;}
.sixes {background-color:#666;}
.nines {background-color:#999;}
.effs {background-color:#fff;}
.cees {background-color: #ccc;}
.whtBgBlackBorder {
	background-color: #fff;
	border:1px solid black;
	font-family: Arial, Sans-serif;
	font-size: 8pt;
	font-weight: bold;
}
.blkBgWhiteText {
	background-color: #000;
	border:1px solid black;
	font-family: Arial, Sans-serif;
	font-size: 8pt;
	font-weight: bold;
	font-color: #FFF;
}
.whtBgBlackBorder-heading {
	font-family: Verdana, Sans-serif;
}
.offWhtBgBlackBorder {
	background-color: #ccc;
	border:1px solid black;
	font-family: Arial, Sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.caption {
	font-size:9px;
	color:#000;
	font-family:Verdana,Arial,Helvetica,Sans-serif;
	text-decoration:none;
}

.tableTitleCenter {
	padding:2px;
	font-weight:bold;
	font-size:9px;
	color:#000;
	font-family:Verdana,Arial,Helvetica,Sans-serif;
	text-align:center;
	vertical-align:bottom;
}
.blkBg {background-color: #000;}
.nickName {
	padding:2px;
	font-weight:bold;
	font-size:11px;
	color:#000;
	font-family:Arial,Helvetica,Sans-serif;
	text-align:center;
	vertical-align:middle;
}
.whtBg {background-color: #fff;}

.largeTitlePS {
	color: #333;
	font-family: 'Bookman Old Style';
	font-size:16pt;
	font-weight: bold;
	text-decoration: none;
}
.largeTitlePS a:link {color: #333;text-decoration:none;}
.largeTitlePS a:active {color: #333;text-decoration:none;}
.largeTitlePS a:visited {color: #333;text-decoration:none;}
.largeTitlePS a:hover {color: #333;text-decoration:underline;}

.largeBlockTableTitle
{
	padding:2px;
	font-weight:bold;
	font-size:9px;
	color:#efefef;
	background-color:#B2B6A8;
	font-family:Verdana,Arial,Helvetica,Sans-serif;
	text-align:center;
	vertical-align:bottom;
}


.whiteText{
	
	color:#ffffff;
	font-family:Arial,Helvetica,Sans-serif;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}

