body
{
	background-color: 838874;

}
.nav
{
	background-color: 023459;
	padding-left: 20px;
	padding-bottom: 6px;
	padding-top: 10px;

}
.nav-menuitems
{
	font-family: Haettenschweiler, Arial, SansSerif;
	font-size: 12pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
}
.nav-on
{
	color: ffb55a;
}
.nav-off
{
	color: b3b5a8;
}
.navPrint-wait
{
	color: 666666;
}
.nav-off a:link {color: #b3b5a8;text-decoration:none;}
.nav-off a:active {color: #036;text-decoration:none;}
.nav-off a:visited {color: #b3b5a8;text-decoration:none;}
.nav-off a:hover {color: #b3b5a8;text-decoration:underline;}
.nav-spacer-1
{
	background-color: b0b5ae;
}
.nav-spacer-2
{
	background-color: 023459;
}
.nav-spacer-3
{
	background-color: 023459;
}
.nav-spacer-4
{
	background-color: b0b5ae;
}

.nav-branding
{
	background-color: 838874;
	height: 56px;
}

.nav-spacer-bottom
{
	background-color: 023459;
}
.nav-tabs
{
	background-color: 014E86;
	font-family: Haettenschweiler, Arial, SansSerif;
	font-size: 12pt;
	font-weight: normal;
	padding-left: 7px;
	padding-right: 7px;
	height: 20px;
	color: b3b5a8;
}
.nav-tabs-on
{
	background-color: 023459;
	color: fff;
}
.nav-tabs-off
{
}
.nav-tabs-on a:link {color: #fff;text-decoration:none;}
.nav-tabs-on a:active {color: #036;text-decoration:none;}
.nav-tabs-on a:visited {color: #fff;text-decoration:none;}
.nav-tabs-on a:hover {color: #fff;text-decoration:underline;}
.nav-tabs-off a:link {color: #b3b5a8;text-decoration:none;}
.nav-tabs-off a:active {color: #036;text-decoration:none;}
.nav-tabs-off a:visited {color: #b3b5a8;text-decoration:none;}
.nav-tabs-off a:hover {color: #b3b5a8;text-decoration:underline;}

.nav-subtabs
{
	background-color: 023459;
	font-family: Arial, SansSerif;
	font-size: 8pt;
	padding-right: 6px;
	padding-left: 6px;
	color: fff;
	height: 24px;
}
.nav-subtabs-on {color: E6B654;}
.nav-subtabs-off {}
.nav-subtabs-on a:link {color: #E6B654;text-decoration:none;}
.nav-subtabs-on a:active {color: #036;text-decoration:none;}
.nav-subtabs-on a:visited {color: #E6B654;text-decoration:none;}
.nav-subtabs-on a:hover {color: #E6B654;text-decoration:underline;}
.nav-subtabs-off a:link {color: #fff;text-decoration:none;}
.nav-subtabs-off a:active {color: #036;text-decoration:none;}
.nav-subtabs-off a:visited {color: #fff;text-decoration:none;}
.nav-subtabs-off a:hover {color: #fff;text-decoration:underline;}
.body-main
{
	background-color: 023459;
}
.bgimage
{
	background-image: url('images/branding/ResourceAutomotive.gif')
}
.footer
{
	color: 023459;
	font-family: Verdana, Arial, SansSerif;
	font-size: 6pt;
}
.flmi {
	font-family:Haettenschweiler, arial,sans-serif;
	font-size:12pt;
	color:#b3b5a8;
	background-color:#023459;
	border-bottom:2px solid #b3b5a8;
	padding:5px;
	cursor:hand;
}
.flmiOver {
	font-family:Haettenschweiler, arial,sans-serif;
	font-size:12pt;
	color:#023459;
	background-color:#838874;
	border-bottom:2px solid #b3b5a8;
	padding:5px;
	cursor:hand;
}
/*.menu {border:2px solid #b3b5a8;background-color:#023459;z-index:100;}*/
.menu {
	border:2px solid #b3b5a8;
	background-color:#023459;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	visibility:hidden;
}
.dataLinkLeftOver {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:normal;
	color:#ccc;
    padding:2px;
    text-align:left;
	text-decoration:underline;
	cursor:hand;
}
.dataLinkLeftOut {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:normal;
    color: #fff;
    padding:2px;
    text-align:left;
	cursor:hand;
}
