<%= form_remote_tag :url => { :controller => 'appraisal_review_preferences', :action => 'update_bookout_preferences' } %>
<fieldset id="appraisal_bookout_preferences_<%= @vehicle_category.id %>" style="padding:5px; border:1px solid #efefef;">
    <% book_categories = BookCategory.find_all_by_book_id(@appraisal_review_bookout_preferences.first.book_id) %>
    <legend > For <%= @vehicle_category.name %> vehicles use: </legend>
    
    <div style="padding-bottom:5px;">
        <%= @appraisal_review_bookout_preferences.first.book.name %>
        <select id="book_category_<%= @vehicle_category.id %>" name="book_category_<%= @vehicle_category.id %>">
            <option value="">Select Default...</option>
            <% book_categories.each do |book_category| %>
            <option value="<%= book_category.id %>"><%= book_category.name %></option>
            <% end %>
        </select>
        <a href="#" onclick="ResetAppraisalPreferences(<%= @vehicle_category.id %>); return false;">Apply to All</a>

    </div>

    <table class="preference_table">

        <tr class="tableheader">
            <th class="make header">Make</th>
            <th class="book header">Book</th>
            <th class="select header">Book Value</th>
        </tr>
    <% @appraisal_review_bookout_preferences.each do |@appraisal_review_bookout_preference| %>
        <tr>
            <td><%= @appraisal_review_bookout_preference.vehicle_make.name %></td>
            <td><%= @appraisal_review_bookout_preference.book.name %></td>
            <td><%= select ( "appraisal_review_bookout_preference[]", "book_category_id", book_categories.collect { |p| [ p.name, p.id ] }, {} ) %></td>
        </tr>
    <% end %>
    </table>
</fieldset>
<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>
<%= end_form_tag %>