<%= form_remote_tag :url => { :controller => 'appraisal_review_preferences', :action => 'update_preferences' } %>
<table class="appraisal_review_preferences">
    <tr>
        <th colspan="2">Evaluate Appraisals using this rule</th>
        <th>Threshold</th>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_6_enabled", { :id => 'rule_6' }, true, false) %></td>
        <td><label for="appraisal_review_preference_rule_6_threshold">Customer Offer Below Appraised Value by more than:</label></td>
        <td>$<%= text_field( "appraisal_review_preference[]", 'rule_6_threshold', { :size => 5, :id => 'appraisal_review_preference_rule_6_threshold' } ) %></td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_4_enabled", { :id => 'rule_4' }, true, false) %></td>
        <td><label for="rule_4">Vehicle is Optimal Inventory at this store</label></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_1_enabled", { :id => 'rule_1' }, true, false) %></td>
        <td><label for="appraisal_review_preference_rule_1_threshold">Appraised Value Below Designated Book Value by more than:</label></td>
        <td>$<%= text_field( "appraisal_review_preference[]", 'rule_1_threshold', { :size => 5, :id => 'appraisal_review_preference_rule_1_threshold' } ) %></td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_5_enabled", { :id => 'rule_5' }, true, false) %></td>
        <td><label for="appraisal_review_preference_max_distance">Vehicle is Optimal Inventory &amp; Understocked at Sister Store that is within:</label></td>
        <td>&nbsp;&nbsp;<%= text_field( "appraisal_review_preference[]", 'max_distance', { :size => 5, :id => 'appraisal_review_preference_max_distance' } ) %> miles</td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_2_enabled", { :id => 'rule_2' }, true, false) %></td>
        <td><label for="appraisal_review_preference_rule_2_threshold">Appraised Value Below NAAA Value by more than:</label></td>
        <td>$<%= text_field( "appraisal_review_preference[]", 'rule_2_threshold', { :size => 5, :id => 'appraisal_review_preference_rule_2_threshold' } ) %></td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_3_enabled", { :id => 'rule_3' }, true, false) %></td>
        <td><label for="appraisal_review_preference_rule_3_threshold">Black Book Average Below Loan Value by more than:</label></td>
        <td>$<%= text_field( "appraisal_review_preference[]", 'rule_3_threshold', { :size => 5, :id => 'appraisal_review_preference_rule_3_threshold' } ) %></td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "high_mileage_enabled", { :id => 'high_mileage' }, true, false) %></td>
        <td><label for="high_mileage">Separate High Mileage Vehicles</label></td>
        <td>&nbsp;</td>
    </tr>
	<% if !@show_jdpower.nil? %>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_7_enabled", { :id => 'rule_7' }, true, false) %></td>
        <td><label for="rule_7">Appraised Value is Below JD Power PIN ACV more than:</label></td>
        <td>$<%= text_field( "appraisal_review_preference[]", 'rule_7_threshold', { :size => 5, :id => 'appraisal_review_preference_rule_7_threshold' } ) %></td>
    </tr>
    <tr>
        <td><%= check_box( "appraisal_review_preference[]", "rule_8_enabled", { :id => 'rule_8' }, true, false) %></td>
        <td><label for="rule_8">Appraised Value is Below JD Power PIN Selling Price more than:</label></td>
        <td>$<%= text_field( "appraisal_review_preference[]", 'rule_8_threshold', { :size => 5, :id => 'appraisal_review_preference_rule_8_threshold' } ) %></td>
    </tr>
	<% end %>
    <tr>
        <td colspan="3" class="submit">
<input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
        &nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" name="Save" value="Save" />        
</td>
    </tr>
</table>
<%= end_form_tag %>
<p><small>Note: When you save these changes your Make a Deals will be re-calculated. This takes a little <br /> time so please be patient.</small></p>