#book { margin-top: 20px; width: 100%; }
#popup #book { width: 850px; }


#book .col1, #book .col2 { width: 49%; }
#book .col1 { float: left; margin-right: 5px; }
#book .col2 { float: right; margin-left: 5px; }

#popup #book .col1, #popup #book .col2 { width: 415px; }


.KBB { background-color: #D1DBF4; }
.NADA { background-color: #FCDFA5; }
.BB { background-color: #CCC; }
.G { background-color: #93b7dc; }








#book .hdr { border: solid black 1px; padding: 0; }
	#book .hdr img.logo { float: right; }
	#book .hdr h4 { margin: 5px 0 0 10px; }
		#book .hdr .icon { display: none; cursor: help; margin-right: 15px; float: right; }
	#book .hdr span { font-weight: bold; font-size: .9em; margin: 0 0 0 10px; }

.valid { height:62px; }

.fail { color: black; border: solid black 1px; /*margin-top: 10px;*/ }
	.fail img { float: right; }
	.fail h4 { margin: 5px 0 3px 10px; }
	.fail p { margin: 0 0 5px 10px; }	





#book .thirdparty td, #book .thirdparty th { text-align: center; }

.KBB td, .NADA td, .BB td, .G td { background-color: white; }
			
.KBB td { width: 20%; }
.NADA td { width: 33%; }
.BB td { width: 25%; }
.G td { /* width: 25%; */ }
	
.mileAdj { font-size: .9em; margin-bottom: 2px; white-space: nowrap; }	


.options { height: 1%; color: black; background-color: #CCC; padding-bottom: 5px; border: solid black 1px; border-top: none; }
	.options #SelectedOptionsList1, .options #SelectedOptionsList2, .options #SelectedOptionsList3 { display: block; width: 405px; }
	.options strong { display: block; margin: 5px 0 5px 10px; }
.options ul.h { margin: 0 0 0 10px; width: 260px; }
	.options li { width: 50%; font-size: .9em; }
	.options li.even { clear: right; background: none; }
	.options li.none { width: 100%; }
	.options .mechanical { width: 125px; float: right; font-size: .9em; margin-top: 15px; }	
.options a.action { float: right; color: black; margin-right: 10px;margin-top:3px; }	
.options a.action:hover { color: #333; }
.options img.lock { float: right;margin-right:5px;}
	
#book .float { width: 720px; left: 60px; margin-top: -200px; }
	#book .float .hdr { border: none; border-bottom: solid 1px black; }
	#book .float h4 { width: 460px; margin-bottom: 5px; margin-top: 10px; }

	#book .float td { width: auto; }
		#book .float .hdr { height:62px; }
	#book .float .hdr a.action { z-index: 4; position: absolute; top: 0px; right: 0px; margin: 10px 10px 0 0; white-space: nowrap; }
	#book .float .hdr .logo { z-index: 3; position: absolute; top: 0px; right: 50px; }

	#book .float .none { margin:10px 0 0 10px; }

	.options .float .mechanical strong { display: block; margin: 5px 0 5px 0; }
	.options .float img.btn { float: right; margin-bottom: 5px; margin-right: 10px; }
	
	#book .ftr a { color: #CCC; }
	#book .ftr a:hover { color: white; }



	
/* did nothing to these */
	.equipmentOptions { padding: 5px 5px; /*float: left;*/ /*margin-top: 20px; */}
	.equipmentOptions .none { font-weight: bold; font-size: 14px; }
	
		.bookOutOptionsTbl { font-size: 11px; margin-left: 10px; margin-bottom: 5px; }
			.bookOutOptionsTbl td, .bookOutOptionsTbl th { font-weight: normal; }
.bookOutOptionsTbl label { font-weight: normal; }
			.bookOutOptionsTbl thead td, .bookOutOptionsTbl thead th { text-align: left; padding-top: 2px; font-size: 10px; text-decoration: underline; }
			.bookOutOptionsTbl td.val { text-align: right; padding-right:10px; }
						
			/* th's only used for 2nd and 3rd checkbox columns */
			.bookOutOptionsTbl th { padding-left: 20px; }	
			.bookOutOptionsTbl input { padding: 0; margin-right: 5px; }	
			
	.engineOptions, .transOptions, .driveOptions { /*width: 200px; float: right; clear: right;*/ border-top: solid black 1px; padding: 5px 10px; }



#book .ftr .btn { display: none; float:right }
	
	
	
.bo { display: none; }

	/*disabled*/
	.off { color: #999; }

	
	.neg { color: #8D1717; }


	.disclaim p { font-size: 10px; padding: 2px 5px; margin: 0; }


		.error { height: 1%; color: #D90404; background-color: white; border: solid #D90404 2px; }
	.error img { vertical-align: middle; float: left; }
	.error p { float: left; margin: 5px 5px 2px 20px; font-size: .9em; }	
