
/* lithia */
.lithia { background-color: white; border: solid #0075AA 10pt; width: 620px; }
.lithia .inner { margin: 2px; border: solid #0075AA 1pt; padding: 5px; }
.lithia div { margin-bottom: 15px; }
.lithia h1 { color: #BB1111; padding: 0; font-size: 24px; margin-bottom: 5px; }
.lithia .btm { margin-top: 15px; }
.lithia strong { display: block; margin-bottom: 5px; }
.lithia h2 { font-size: 20px; color: black; margin-top: 5px; }