

/* lithia */
.lithia { background-color: white; border: solid #0075AA 10pt; width: 7in; }
.lithia .inner { height: 9in; margin: 2pt; border: solid #0075AA 1pt; padding: 12pt; }
.lithia div { margin-bottom: 36pt; }
.lithia h1 { color: #BB1111; padding: 0; font-size: 24pt; margin-bottom: 12pt; }
.lithia .btm { margin-top: 40pt; }
.lithia strong { display: block; margin-bottom: 6pt; }
.lithia h2 { font-size: 20pt; color: black; }