

body, body#popup { background-color: #424242; }
#title, #popup #title, #footer, #popup #footer { background-color: #656565; }


	label, .label { font-weight: bold; margin-right: 5px; }

	ul { font-family: Arial, Helvetica, Verdana, sans-serif; }

	.inactive { width: 100%; text-align: center; background-color: #FC3; padding: 3px 0 0 0; border-bottom: solid 1px black;}
	.inactive h3 { color: black; }


a.action { color: white; font-weight: bold; text-decoration: none; font-size: 12px; }
a.action:hover { color: #FC3; }
.action img { vertical-align: bottom; margin-left: 3px; }
	
/* /////
	//// search include ////
//// */
	#title .search { text-align: right; position: absolute; right: 15px; }
		#popup #title .search { top: 8px; }
		#page #title .search { top: 44px; }
	
	#title .search input.image { vertical-align: middle; }
		#title .search input#stockNumberOrVin { vertical-align: middle; width: 115px; font-size: 11px; }
	#title .search label { display: block; font-size: .9em; font-weight: bold;}
	#title .search .error { border: none; padding: 1px; }

	
	
/* background-color: red;*/

/* /////
	//// vehicle information section ////
//// */

#vehicleInformation { width: 99%; }
#vehicleInformation:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
	#popup #vehicleInformation { width: 850px; }

			#vehicleInformation label, #vehicleInformation .label { font-weight: normal; }
			
	/* labels and forms */
	#vehicleInformation input, #vehicleInformation select { font-size: 11px; }
	#vehicleInformation input { width: 60px; }
	
	#vehicleInformation input.image { width: auto; }
		
		#vehicleInformation select.bodystyle, #vehicleInformation input.certified, #vehicleInformation input.specialfinance  { width: auto; }

	/* display setup */	
	#vehicleInformation ul { list-style: none outside; margin: 0; padding: 0; float: left; /*font-family: Arial, Helvetica, Verdana, sans-serif;*/ }


#vehicleInformation ul.col1 { width: 180px; }
		#vehicleInformation ul.col2 { width: 170px; }
		#vehicleInformation ul.col3 { width: 220px; }
		#vehicleInformation ul.col4 {  }
			#vehicleInformation li { margin: 10px 0 0 10px; font-size: 13px; font-weight:bold;}
			

#vehicleInformation li.tp span.snum { margin-left:30px; }


		/* #vehicleInformation ul.col1 li, #vehicleInformation ul.col2 li { height: 21px; }	*/
		/* #vehicleInformation ul.col3 li { height: 19px }			*/
				/* #vehicleInformation li.color { font-size: 15px; }*/
				/* #vehicleInformation li.mileage { font-size: 15px; } */
						/* .display li.stockNumber { padding-bottom: 4px; } */		
				

				#vehicleInformation li.tp { font-size: 12px; }
				

				.edit li.bvc { padding-top: 8px; }				
				
				
/* inaccurate icon */					
#vehicleInformation .inaccurate { display: none; }		
	#vehicleInformation .inaccurate img.icon { cursor: help; float: left; position: relative; padding-right: 5px; left: -22px; margin-right: -20px; }	
	#vehicleInformation .inaccurate h6 { font-style: italic; margin-top: 3px; float: left; vertical-align: middle; }	

.display img.lock { vertical-align:text-top;margin-left:5px; }		
.edit img.lock { vertical-align:bottom;margin-left:5px; }		

						
		/* buttons and links */
		#vehicleInformation .success { margin-top: 2px; margin-bottom: 2px; }

/* photo display */
#vehicleInformation .photo {  }
	#vehicleInformation .thumb { float: right; border: solid 5px white; }

/* save and cancel actions */
#vehicleInformation .editAction { float: right; /*height: 165px; */border-left: dashed 1px #CCC; width: 100px; margin: 10px 0 0 0; padding-right: 10px; font-weight: bold; text-align: right; }
	#vehicleInformation .editAction .cancel { width: 58px; height: 20px; }
	#vehicleInformation .editAction .save { height: 150px; text-align: right; }
	
#vehicleInformation .editAction .forcer { height: 95px; width: 95px; margin-top: 30px; margin-bottom: 5px; }
	#vehicleInformation .editAction .inaccurate { text-align: right; }
		#vehicleInformation .editAction .inaccurate img.icon { position: normal; padding-bottom: 60px; padding-right: 4px; padding-left: 0; left: 0px; margin-right: 0px;  }	
		#vehicleInformation .editAction .inaccurate h6 { text-align: left; float: left; }
	

	/* edit details setup */
	#vehicleInformation .editOptions { width: 720px; clear: left; margin: 10px 10px 0 10px; border-top: dashed 1px #CCC; }	
	
	#vehicleInformation dl {  }
	#vehicleInformation dt, #vehicleInformation dd { margin-top: 5px; }
			#vehicleInformation dl .label { width: 80px; }
		#vehicleInformation dl.bodystyle { width: 420px; margin-top: 5px; }	
		#vehicleInformation dl.col1 { float: left; width: 175px; padding-bottom: 10px; }
		#vehicleInformation dl.col2 { float: left; width: 240px; padding-bottom: 10px; padding-left: 10px; }
			#vehicleInformation dl.col2 .label { width: 90px; }
			#vehicleInformation dl.col2 input { width: 60px; }
		#vehicleInformation dl.col3 { float: left; width: 230px; padding-bottom: 10px; padding-left: 10px; margin-top: -19px; }
			#vehicleInformation dl.col3 .label { width: 85px; }
			
			#vehicleInformation dl select { width: 100px; }
				
				
	#vehicleInformation dd.certified label, #vehicleInformation dd.specialfinance label { margin-left: 2px; }
	#vehicleInformation dt.specialfinance, #vehicleInformation dd.specialfinance { margin-top: 0; }



/* /////
	//// performance summary section ////
//// */
#performanceSummary { margin-top: 20px; width: 850px; }
#page #performanceSummary { width: 100%; }
	#performanceSummary h3, #performanceSummary .ds, #performanceSummary .aia { float: left; margin-right: 20px; margin-bottom: 0; }
	#performanceSummary img.btn { float: right; }
	
	/* NOTE: this light is positioned in the title, but is here because it is easier to retrieve it as part of this include (zF. 2006-04-14) */
	#page #vehicleInformation img.light { position: absolute; top: 60px; left: 15px; }
	#popup #vehicleInformation img.light { position: absolute; top: 26px; left: 15px; }
		
	.estock #title h1 { margin-left: 40px; font-size: 22px; }
	.estock #title h1 span { font-size: .6em; margin-left: 15px; }	
	
.perf { clear: both; height: 1%; }
	.perf h2 { background-color: #666; color: #FBF4E2; border: solid 1px black; border-bottom: none; padding: 8px 0 10px 10px; margin-bottom: 0; margin-top: 5px; }
	/* hack to fix borders in Firefox casued by border-collapse */
	html>body .perf h2 { margin-left: -1px; }


	.perf h2 img.btn { margin-right: 10px; }
	
	.perf h2 a { color: #FBF4E2; text-decoration: none; }
	.perf h2 a:hover { color: white; border-bottom: solid 2px white; text-decoration: none; }	

	.perf .details { min-width: 100%; clear: both; border-collapse: collapse; }
		.perf .details thead { background-color: #666; color: #fce28d; }
		.perf .details td, .perf .details th { padding: 3px 10px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 1em; text-align: center; border: solid 1px black; font-weight: bold; }
			.perf .details th { border-bottom: none; }
			.perf .details td { border-top: none; font-size: 1.2em; }

			.perf .details .ragp { width: 20%; }
			.perf .details .ads { width: 20%; }
			.perf .details .am { width: 20%; }
			
	.insights { width: 100%; margin-top: 5px; background: #CCC url("../_images/corners/grayOn42-bl.gif") no-repeat left bottom; }
	.insights:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }

	.insights div { height: 1%; margin: 2px 0 0 10px; padding-bottom: 5px; padding-top: 2px; font-weight: bold; background: transparent url("../_images/corners/grayOn42-br.gif") no-repeat right bottom; }
	.insights div:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }	

	.insights p { float: left; padding: 0; margin: 0 10px 0 0; }
	.insights strong { float: left; color: black; margin-right: 10px; }
	.insights img.bull { float: left; margin-right: 5px; margin-top: 3px; }	
	.insights ins { color: black; }	
	

		

/* /////
	//// auction section ////
//// */
#auction { margin-top: 20px; clear: both; width: 850px; }
#page #auction { width: 100%; }
#iframe #auction { margin-top: 0; width: 100%; }

	#auction iframe { height: 65px; width: 100%; }

	#auction .hdr { padding-bottom: 0px; height: 1%; border: solid 1px black; color: black; background-color: #DAE2F6; }	
		#auction .hdr .text { float: right; margin-right: 10px; }	
		#auction .hdr h3 { margin-left: 10px; font-size: 1em; }
		#auction .hdr ul.h { margin-left: 10px; }
		#auction .hdr ul.h li  { font-weight: bold; margin-right: 10px; }			

	#auction .hdr label, #auction .hdr .label { display: block; font-size: .9em; }	

	#auction .thirdparty { border-top-width: 2px; }
		#auction .thirdparty thead th { text-align: center; white-space:nowrap;}
		#auction .thirdparty tbody th { padding: 5px; }
		#auction .thirdparty tbody td { text-align: center; width: 20%; font-size: .9em;}	
	
	.manheim { text-align:right; margin: 5px 0 0 10px; }
	


/* /////
	//// gmac ////
//// */
#gmac { margin-top: 20px; }
#popup #gmac { width:850px; }
	#gmac .wrapper img { margin-left: 10px; }
	

/* /////
	//// appraisal information ////
//// */
#appraisalInformation { margin-top: 20px; clear: both; width: 850px; }
#page #appraisalInformation { width: 100%; }
	#appraisalInformation ul { white-space: normal; }
	#appraisalInformation li { font-size: 12px; }
		#appraisalInformation .col1, #appraisalInformation .col2 { margin-right: 15px; }
		#appraisalInformation .col3 { width: 180px; }
#appraisalInformation .col1 .label, #appraisalInformation .col2 .label { font-size: 14px; }
			#appraisalInformation .col3 p { width: 120px; font-size: .9em; float: left; }
			#appraisalInformation .col3 .label { float: left; }

			#page #appraisalInformation .col3 { width: auto; }
			#page #appraisalInformation .col3 p { width: 225px; }
					
	#appraisalInformation a.text { float: right; }

	
/* /////
	//// reports ////
//// */
#reports { width: 850px; margin-top: 20px; }
#page #reports { width: 100%; }
#reports .wrapper { height: 85px; }
	#reports .shorter { height: 70px; }
	#reports .taller { height: 95px; }

	#reports .services, #reports .printable { width: 50%; float: left; }
	#reports .printable .wrapper { padding-left: 0; }
		
	/* hack for IE */
	#reports .printableOnly { width: 100%; }
	#reports .printableOnly .wrapper { /* hack for IE */ height: 1%; }
 	
		#reports .services .wrapper { border-right: none; }
		/* this rule is only in effect when 3rd party reports are shown as well */
		#reports .printable .wrapper { border-left: none; }
		
.carfax { vertical-align: top; margin-top: 10px; margin-bottom: 5px; }	
.carfax img { vertical-align: top; margin-right: 10px; }
	.carfax a { font-size: 1em; font-weight: bold; }
	.carfax p { font-size: .9em; margin-top: 5px; font-weight: normal; }
	.carfax p a { font-weight: normal; }
	
	.carfax input { vertical-align: middle; margin-right: 5px; }
	.carfax label { font-weight: normal; font-size: .9em; }
	
.autocheck { margin-top: 10px; margin-bottom: 5px; }
.autocheck img { vertical-align: middle; margin-right: 10px; }	

	.printable label, .printableOnly label { font-weight: normal; margin-right: 15px; }
	.printable .btn, .printableOnly .btn { display: block; clear: both; margin-top: 5px; }




