﻿@model Wanamaker.WebApp.Areas.Diagnostics.Models.DiagnosticsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Diagnostics | MAX 3.0</title>
</head>
<body>
    <div id="entriesList">
        @{
            if (Model.Entries.Count > 0)
            {
                foreach (var entry in Model.Entries)
                {
                    @Html.Partial("IndexRow", entry)
                }
            }
            else
            {
                // no entries, display 'no entries'
                <div id="noEntries"></div>
            }
        }
    </div>
</body>
</html>
