<% unless session[:member].member_type_id == 1 %>
<p style="float:right;"><%= link_to("Performance Management Reports", { :action => :redirect_to_group_pmr }, { :target => 'PMR' }) %></p>
<% end %>
<center>
<div id="pagehead" style="width:700px; clear:both;">
<% if !session[:member].nil? && session[:member].business_units.length > 1 %>
<h1><%= session[:member].business_units.first.parent.name %></h1>
<% end %>
<br />
<div>
    <ul>
        <% for business_unit in @business_units %>
        <li style="list-style-type:bullet;text-align:left;width:325px;padding:2px 0 2px 8px;float:left;font-size:14px"><%= link_to(business_unit.name.strip, url_for(:action => 'select_business_unit', :id => business_unit.id)) %></li>
        <% end %>
    </ul>
</div>
</div>
</center>
