﻿<div class="globalmessage error" id="crednagbar">
    <p class="error">Invalid credentials! Please <a href="/merchandising/CustomizeMAX/DealerSetup.aspx" class="dialog-link-credentials">update your credentials</a> to ensure accurate data.<a href="#" class="dismiss">Remind me in a week</a>
    <a class="close" title="Hide this message">x</a></p>    
</div>

<div id="external_credentials_modal" class="dialog" style="display: none;">
            
    <div id="credForm">

        <p>In order to have the most up-to-date data about performance on your advertising sites and/or to get the right packages into your ads, we need the following credentials updated.</p>

        <form>
        
        <h4>Websites</h4>        
        <fieldset id="credSitesField">

            <div class="fields"></div>
            <script id="credSites" type="text/x-jquery-tmpl">
            <div class="formline">
                <label class="vendor" for="UsernameG${GroupId}T${TypeId}">${TypeDescription}</label>
                <input type="text" name="UsernameG${GroupId}T${TypeId}" value="${Username}" {{if !IsValid}}class="error"{{/if}} />
                <input type="password" name="PasswordG${GroupId}T${TypeId}" value="${Password}" {{if !IsValid}}class="error"{{/if}} />
                {{if !IsValid}}<span class="message error">${InvalidMessage}</span>{{/if}}
            </div>
            </script>
            
            <p><a href="/merchandising/CustomizeMAX/DealerSetup.aspx">Add/Delete Credentials</a></p>

        </fieldset>

        <h4>OEMs</h4>
        <fieldset id="credOEMField">

            <div class="fields"></div>
            <script id="credOEM" type="text/x-jquery-tmpl">
                <div class="formline">
                    <label class="vendor" for="UsernameG${GroupId}T${TypeId}">${TypeDescription}</label>
                    <input type="text" name="UsernameG${GroupId}T${TypeId}" value="${Username}" {{if !IsValid}}class="error"{{/if}} />
                    <input type="password" name="PasswordG${GroupId}T${TypeId}" value="${Password}" {{if !IsValid}}class="error"{{/if}} />
                    <input type="hidden" name="UIDG${GroupId}T${TypeId}" value="${CredentialVersion}"/>
                {{if !IsValid}}<span class="message error">${InvalidMessage}</span>{{/if}}
            </div>
            </script>
            
            <p><a href="/merchandising/CustomizeMAX/DealerPreferences.aspx?t=AutoLoad">Add/Delete Credentials</a></p>

        </fieldset>

        <div class="formsave">
            <a class="button-green save">Save</a>
            <a href="#" class="cancel">Cancel</a>
            <a href="#" class="dismiss">Remind me in a week</a>
        </div>

        </form>

    </div>

    <div id="credFormThanks" style="display: none;">
        <h3>Thank you. Your credentials will be updated as follows:</h3>
        <p><strong>Performance Data</strong> - Within 48 hours</p>
        <p><strong>Batch Autoload</strong> - Immediately</p>
        <p><a class="button-green cancel">Ok</a></p>
    </div>            
    
    <div id="credFormError" style="display: none;">
        <h3>An error has occurred while saving your credentials</h3>
        <p><strong id="credFormErrorMessage">An unknown error has occurred</strong></p>
        <p><a class="button-green cancel">Ok</a></p>
    </div>
    
    <div id="credFormVersionError" style="display: none;">
        <h3>An error has occurred while saving your credentials</h3>
        <p><strong id="credVersionErrorMessage">An unknown error has occurred</strong></p>
        <p><a class="button-green cancel">Close</a><a id="credVersionRetryButton" class="button-green" style="margin-left:6px">Retry</a></p>
    </div>     

</div>
