TABLE
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
a
{
	color:#003366;
}
.normalText
{
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
}
.tableHeaderRow
{
	background-color: #cccccc;
    	FONT-FAMILY: Verdana, Arial, Helvetica, San-Serif;
    	FONT-SIZE: 9px;
	font-weight:bold;
}
.tableHeaderCell
{
	border-right:1px solid #ffffff;
	PADDING: 3px;
	vertical-align:bottom;
}
.tableHeaderLastCell
{
	PADDING: 3px;
	font-weight:bold;
	vertical-align:bottom;
}
.tableDataRow
{
    	FONT-FAMILY: Arial, Helvetica, San-Serif;
	FONT-SIZE: 11px;
}
.tableData
{
	PADDING: 3px;
	border-bottom:1px solid black;
}
.tableBorderlessDataCell
{
	font-size:11px;
	PADDING: 3px;
	vertical-align:top;
}
.tableDataCell
{
	PADDING: 3px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	vertical-align:top;
}
.tableDataCellLeft
{
	PADDING: 3px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	vertical-align:top;
}
.tableDataCellRight
{
	PADDING: 3px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	vertical-align:top;
}
.tableDataCellHighlighted
{
	PADDING: 3px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	background-image:url(../images/admin/lite_pattern.gif);
	vertical-align:top;
}
.tableDataCellLeftHighlighted
{
	PADDING: 3px;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	vertical-align:top;
}
.tableDataCellRightHighlighted
{
	PADDING: 3px;
	border-bottom:1px solid #cccccc;
	border-right:1px solid #cccccc;
	vertical-align:top;
}
.tableDataBold
{
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	PADDING: 2px;
}
.tdUnderline
{
	border-bottom:1px solid black;
}
.trUnderline
{
	border-bottom:1px solid black;
}
.titleBold
{
    FONT-SIZE: 14px;
    COLOR: #000000;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.grayBg
{
	background-color: #cccccc;
}
.threes {
	background-color: #333333;
}
.yelBg
{
	background-color: #cccccc;
}
.grayBg2
{
 background-color: #cccccc; padding: 3px}
}
.fiftyTwoMain {
	background-color: #525252;
}
.whtBg
{
    BACKGROUND-COLOR: #FFFFFF
}
.tab_on
{
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, San-Serif
	BACKGROUND-COLOR: white;
	PADDING: 5px 20px 5px 5px;
	BORDER-TOP: 1px solid black;
	BORDER-RIGHT: 1px solid black;
	BORDER-LEFT: 1px solid black
}
.tab_on_bottom
{
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial, Helvetica, San-Serif
	BACKGROUND-COLOR: white;
	PADDING: 5px 20px 5px 5px;
	BORDER-RIGHT: 1px solid black;
	BORDER-BOTTOM: 1px solid black;
	BORDER-LEFT: 1px solid black
}

.dataHliteRight
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #990000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.dataHliteLeft
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #990000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.requiredField
{
	color:#990000;
}
.mainContent
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
.tab_on
{
	border-top:1px solid black;
	border-right:1px solid black;
	border-left:1px solid black;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:20px;
}
.tab_off
{
	border-bottom:1px solid black;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:20px;
	background-color:#cccccc
}
.tabSpacer
{
	border-bottom:1px solid black;
	padding-bottom:5px;
}
.tableTitleLeft
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.podTableNickname
{
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.podTable
{
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.podTableCell
{
	border-bottom:1px solid #cccccc;
	PADDING: 3px;
	vertical-align:top;
}
/* === SECTION FOR STYLES IN THE ADMIN NAV HEADER === */

.navCelloff
{
	height:19px;
	font-family:verdana;
	font-size:9px;
	font-weight:bold;
	color:#ffcc33;
	background-color:#000000;
	padding:0px;
	text-decoration:none;
	vertical-align:middle;
	nowrap:true;
}
.navCellon
{
	height:19px;
	font-family:verdana;
	font-size:9px;
	font-weight:bold;
	color:#ffffff;
	background-color:#000000;
	padding:0px;
	text-decoration:none;
	vertical-align:middle;
	nowrap:true;
}
.navCelloff a
{
	color:#ffcc33;
	text-decoration:none;
	vertical-align:middle;
}
.navCellon a
{
	color:#ffffff;
	text-decoration:none;
	vertical-align:middle;
}
.plain {
	font-family:arial,sans-serif;
	font-size:12px;
	padding:3px;
}
.errorSpan {
	padding:13px;
	border:2px solid #333333;
	color:#ff0000;
	font-weight:bold;
}
.imageSubtitle {
	color: #999999;
	font-family: Verdana, Arial, Helvetica, San-Serif;
	font-size: 9px;
	font-weight:bold;
	text-align:center;
	padding:0px 5px;
}
.weekNumber {
	font-family:Arial;
	font-size:32;
	font-weight:bold;
	text-align:right;
}
