

/* additions - zF */

#main { width: 100%; padding: 0 6px; background-color: #333; }

/* include modules */
.top { margin-top: 20px; }

.statusFilter { float: right; width: 230px; }
	.statusFilter h3 { color: #FC3; font-family: Verdana, Helvetica, Arial, sans-serif; margin: 0 0 5px 0; }
.statusFilter select { font-size: 12px; width: 230px; }
.filterBtn { clear: both; float: right; margin-top: 5px; }

.zero { clear: both; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FC3; padding: 0; margin: 0; }
.zero img, .zero input { margin-left: 10px; margin-bottom: -5px; }

/* +++++++++++++++++++++++++++++++++
inventory table definitions 
+++++++++++++++++++++++++++++++++ */

#agingInventory { background-color: white; background-color: #333; margin: 10px 0 0 0; }
#agingInventory table { font-family: Arial, sans-serif; font-size: 11px; padding: 0; margin: 0; /*width: 100%;*/ }

/*horiz lists*/
#agingInventory ul { padding: 0; margin: 0; list-style-type: none; }
#agingInventory li { padding: 0; margin: 0; display: inline; }
	
	table.inventoryDisplay { clear: both; width: 100%; background-color: white; border: 1px solid #999; }
	
		/*defines table columns*/
	table.inventoryDisplay col { vertical-align: top; }
		.ageCol { width: 20px; color: #900; }
		.mmyCol { width: 395px; font-weight: bold; }
		.tpCol { /*this column grows*/ text-align: center; }
		.colorCol { width: 45px; text-align: right; }
		.mileageCol { width: 40px; text-align: right; }
		.planCol { width: 50%; }
		
	table.inventoryDisplay td, table.inventoryDisplay th { padding: 2px 5px; }
	
	table.inventoryDisplay thead td { background-color: #CCC; border-bottom: solid 1px black; border-top: solid 1px black; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: black; }
	table.inventoryDisplay thead td.vehCount { border-left: solid 1px black; border-right: solid 1px black; border-bottom: none; font-size: 11px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; }
	
	table.inventoryDisplay tfoot td { padding-top: 5px; padding-bottom: 5px; border: solid 1px black; border-top: none; font-family: Arial, sans-serif; font-size: 10px; color: black; background-color: #CCC; }
	
		/*th's are generally used in this table for cells with borders*/
	table.inventoryDisplay tbody th { /*background: url(../images/common/dash.gif) repeat-x bottom;*/ border-bottom: solid 1px black; font-weight: normal; text-align: left; }
	table.inventoryDisplay tbody th.lastRow { background: none; border-bottom: solid 1px black; }
	
	table.inventoryDisplay tbody th.rightCol { font-weight: normal; text-align: left; }
	table.inventoryDisplay thead td.rightCol { font-weight: bold; text-align: right; }
	
		/*specifies inner border*/
	table.inventoryDisplay .rightCol { /*background: url(../images/common/verticalBlackDash_1x2.gif) repeat-y;*/ border-left: dashed 1px #999; border-right: solid 1px black; }
	table.inventoryDisplay .leftCol { border-left: solid 1px black; }
	
	table.inventoryDisplay tbody td.rightCol { padding: 0; }

.agingTop { margin: 15px 0 5px 0; white-space: nowrap; width: 100%; clear: both; }
.agingTop h1 { font-family: Arial, sans-serif; font-size: 12px; color: #FC3; margin: 0; padding: 0; float: left; width: 50%; margin: 0 0 5px 0; }
.agingTop .buttons { text-align: right; float: right; white-space: nowrap; width: 48%; }

	.applyLastWeekNotes { margin-right: 30px; }
	.show0To15 { float: left; }
	.backToTop { margin-right: 200px; }
	
.agingBtm { margin: 5px 0 3px 0; }
.agingBtm p { font-family: Arial, sans-serif; font-size: 10px; color: #FC3; margin: 0; padding: 0; float: left; width: 540px; }
.agingBtm .buttons { float: right; white-space: nowrap; clear: left; }

/*///////// details ///////////*/

/* forces left col width */
hr { display: block; width: 480px; border: 1px solid white; padding: 0; color: white; margin: -8px 0 -10px 0; height: 1px; visibility: hidden; }
	html>body hr { margin: 0; }

.detailsWrap { color: black; margin-left: 30px; padding-bottom: 2px; }
	.detailsWrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	
.bookVsCost { float: right; font-weight: bold; color: black; text-align: right; width: 130px; }

.priceInfo  { padding-right: 10px; width: 355px; margin: 0 0 3px 0; }
	html>body .priceInfo { width: 335px; }
	
.priceInfo li { padding-right: 10px; }
	.priceInfo li.avg { width: 140px; }
	.priceInfo li.unit { width: 95px; }
	.priceInfo li.list { width: 110px;padding-right: 0px; }
	
.statusInfo { float: right; width: 40%; text-align: left; }
.statusInfo li { white-space: nowrap; }
	.statusInfo li.status { width: 65px; }	
	.statusInfo li.prior {  }
	.statusInfo	li.specFin {  }
	
.stockInfo { float: left; width: 43%; font-size: 9px; margin: 0 0 3px 0; }
.stockInfo li { white-space: nowrap; }
	.stockInfo li.vin {  }
	.stockInfo li.stock {  }
	.stockInfo li.bo { display: none; }	
	.stockInfo li.lot {  }

.performGreen { height: 15px; clear: both; /*background: url(../images/dealerHome/stoplightGreenSmOn_white.gif) no-repeat;*/ margin-bottom: 3px; }
.performYellow { height: 15px; clear: both; background: url(../images/dealerHome/stoplightYellowSmOn_white.gif) no-repeat; margin-bottom: 3px; }
.performRed { height: 15px; clear: both; background: url(../images/dealerHome/stoplightRedSmOn_white.gif) no-repeat; margin-bottom: 3px; }
	.hist { border: solid 1px black; margin-left: 16px; padding: 0px 4px; font-size: 10px; }

.soldInfo { clear: both; }
.soldInfo li { white-space: nowrap; padding-right: 10px; }
	.soldInfo li.numsold {  }
	.soldInfo li.retailavg {  }
	.soldInfo li.avgdays {  }	
	.soldInfo li.nosale {  }

/*///////// planning ///////////*/

.planHeader { height: 22px; background-color: #F0F0F0; white-space: nowrap; padding-top: 1px; }
.planHeader li { width: 100px; }
	.planHeader li.wholesale { width: 100px; } 
	.planHeader li.retail {  }
	.planHeader li.sold {  }	
	.planHeader li.other {  } 
.planHeader input { margin-bottom: -2px; }

.planWrap { color: black; /*width: 320px;*/ }
.planWrap table { font-family: Arial, sans-serif; font-size: 11px; padding: 0; margin: 0; /*width: 100%;*/ background-color: white; border: none; }
.planWrap table tbody td { padding: 0; margin: 0; }
		/* legacy */
	.dataRight { padding:2px 0; font-size:11px;color:#000;font-family:Arial,Helvetica,Sans-serif;text-align:right; }
	.dataLeft { padding:2px 0;font-size:11px;color:#000;font-family:Arial,Helvetica,Sans-serif;text-align:left;vertical-align:baseline; }
	.trackingTBox {font-family:verdana;font-size:9px; height:18px; width:70px; padding: 0; margin: 0;}
	.trackingNotesTextArea { width: 160px; font-family: verdana, arial, sans-serif; font-size:9px; margin:0px; padding:0px;  }
		/* /legacy */
		
	/* prior week */
	.approach {}
	.nameDate { margin-top: 3px; }
		.nameDate li.name { width: 100px; }
		.nameDate li.date {  }		
	.notes { margin-top: 5px; margin-bottom: 5px; }
	span.outline { background-color: #F0F0F0; padding: 3px; border: 1px solid #999999; }


.closed { display: none; }
		
/* /additions - zF */

/*
td {font-family:arial,sans-serif;font-size:11px;color:#000;}
span {font-family:arial,sans-serif;font-size:11px;color:#000;}
a {color:#036;}
*/
.popUpCaption {font-size:12px;color:#fc3;font-family:Arial,Helvetica,Sans-serif;text-decoration:none;}




/* legacy */

.tab {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}

.tabOn {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}


/* TRACKING PLAN STYLES */
.trackingTabOn {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}
.trackingTabOff {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight: bold;
    color:#999;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    vertical-align:middle;
}
.spanTabOn {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    height:23px;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}

.spanTabOff {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#999;
    padding-left:8px;
    padding-right:21px;
    padding-top:5px;
    padding-bottom:3px;
    cursor:hand;
    text-decoration:none;
    vertical-align:middle;
}
.spanTabOff a {color:#999;text-decoration:none;}
.trackingTabOff a {color:#999;text-decoration:none;}


.tabContainer {
    background-image:url(../images/common/dashboard_bg.gif);
    height:32px;
    width:100%;
    padding-left:21px;
    padding-top:9px;
    padding-bottom:0px;
    margin:0px;
}

/* /legacy */


