td {font-family:arial,sans-serif;font-size:11px;color:#000;}
span {font-family:arial,sans-serif;font-size:11px;color:#000;}
a {color:#036;}
.blk {font-size:11px;color:#000;font-family:Arial,Helvetica,San-Serif;}
.tableTitleRight {padding:2px;font-weight:bold;font-size:9px;color:#000;font-family:Verdana,Arial,Helvetica,Sans-serif;text-align:right;vertical-align:bottom;}
.tableTitleLeft {padding:2px;font-family:Verdana,Arial,Helvetica,Sans-serif;font-weight:bold;font-size:9px;color:#000;vertical-align:bottom;}
.dataRight {padding:2px;font-size:11px;color:#000;font-family:Arial,Helvetica,Sans-serif;text-align:right;}
.dataLeft {padding:2px;font-size:11px;color:#000;font-family:Arial,Helvetica,Sans-serif;text-align:left;vertical-align:baseline;}
.dataLeftPopup {padding:2px;font-size:11px;color:#036;font-family:Arial,Helvetica,Sans-serif;text-align:left;vertical-align:baseline;}
.dataHliteRight {padding:2px;font-size:11px;color:#900;font-family:Arial,Helvetica,Sans-serif;text-align:right;text-decoration:none;}
.dash {background-image:url(../images/common/dash.gif);}
.caption {font-size:9px;color:#fc3;font-family:Verdana,Arial,Helvetica,Sans-serif;text-decoration:none;}
.popUpCaption {font-weight:bold;font-size:12px;color:#fc3;font-family:Arial,Helvetica,Sans-serif;text-decoration:none;}
.mainTitle {font-weight:bold;font-size:12px;color:#fc3;font-family:Arial;}
.grayBg1 {background-color:#999;}
.grayBg2 {background-color:#ccc;}
.grayBg3 {background-color:#333;}
.grayBg4 {background-color:#666;}
.blkBg {background-color:#000;}
.yelBg {background-color:#fc3;}
.whtBg {background-color:#fff;}
.whtBgBlackBorder {background-color:#fff;border:1px solid black;}
.pageFooter {font-size:9px;color:#fc3;font-family:Verdana,Arial,Helvetica;}
.globalNav {font-family:arial,helvetica,sans-serif;font-size:10px;color:#fc3;}
.globalNav a {text-decoration:none;color:#fc3;}
.menu {border:2px solid #000;background-color:#fc3;position:absolute;top:0;left:0;z-index:100;visibility:hidden;}
.flmi {font-size:8pt;font-weight:bold;border-bottom:2px solid #000;padding:5px;cursor:hand;}
.flmiOver {font-size:8pt;font-weight:bold;color:#d90303;background-color:#fcdc7b;border-bottom:2px solid #000;padding:5px;cursor:hand;}
#helpDiv {border:1px solid #999;display:none;position:absolute;width:210px;top:0px;left:0px;z-index:50;}
.helpTitle {font-weight:bold;padding:3px;}
.helpCell {padding-bottom:3px;vertical-align:bottom;cursor:help;}
.helpTextCell {padding:8px;text-align:justify;}
.xCloser {font-family:verdana,helvetica,arial,sans-serif;font-size:11px;font-weight:bold;padding:2px;border-left:1px solid #96a1bc;border-top:1px solid #96a1bc;border-right:1px solid #333;border-bottom:1px solid #333;background-color:#999;cursor:hand;width:18px;height:18px;text-align:center;vertical-align:middle;}
.separator {padding-bottom:7px;vertical-align:middle;}
.navTextoff {font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;cursor:hand;}
.navTextoff a {color:#000;text-decoration:none;}
.navTexton {font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;color:#d90303;cursor:hand;}
.navTexton a {color:#d90303;text-decoration:none;}
.navTextPrint {font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;color:#cb9921;}
.navTextGlobal {font-family:helvetica,arial,sans-serif;font-size:10px;font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;text-decoration:none;}
.navTextGlobal a {text-decoration:none;}
.navTextGlobal a:hover {text-decoration:underline;}
.dealerNavTable {background-color:#fc3;}
.pageNickNameLine {font-size:14px;font-weight:bold;color:#fc3;padding-left:13px;white-space:nowrap;}
.pageName {font-size:25px;font-weight:bold;color:#fff;padding-left:13px;padding-right:8px;vertical-align:bottom;white-space:nowrap;}
.zeroes {background-color:#000;}
.threes {background-color:#333;}
.fiftyTwoMain {background-color:#525252;}
.nines {background-color:#999;}
.offWhite {background-color:#f0f0f0;}
.effCeeThree {background-color:#ffcc33;}
.trackingNotesTextArea {font-family:verdana,arial,sans-serif;font-size:9px;margin:0px;padding:0px}
.verticalDash {background-image:url(../images/common/verticalBlackDash_1x2.gif);}
.trackingTBox {font-family:verdana;font-size:10px;height:18px;width:79px;}
.spanTabOn {font-family:verdana,Arial,Helvetica,Sans-serif;font-size:10px;font-weight:bold;color:#fc3;height:23px;padding-left:8px;padding-right:8px;padding-top:4px;padding-bottom:4px;border-top:1px solid #fc3;background-color:#333;vertical-align:middle;}
.spanTabOff {font-family:verdana,Arial,Helvetica,Sans-serif;font-size:10px;font-weight:bold;color:#999;padding-left:8px;padding-right:21px;padding-top:5px;padding-bottom:3px;cursor:hand;text-decoration:none;vertical-align:middle;}
.spanTabOff a {color:#999;text-decoration:none;}
.tabContainer {background-image:url(../images/common/dashboard_bg.gif);height:32px;width:100%;padding-left:21px;padding-top:9px;padding-bottom:0px;margin:0px;}
.grayBorder {border:1px solid #999;width:100%;}
.grayBorderSize {border:1px solid #999;}
.L4TD {padding:2px;vertical-align:middle;}
.L4 {font-size:11px;font-weight:bold;color:#D90202;}
.L4Span {font-size:10px;border:1px solid #333;background-color:#FCEBD9;color:#000;}
