form { margin: 0; padding: 0; }
body#bookOutBody { margin: 0; /*padding: 15px; background-color: #525252;*/ font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 11px; }

.bo { display: none; }
#bookOutBody ul { padding: 0; margin: 0; }
#bookOutBody li { list-style: none; padding: 0; display: inline; }

	#bookOutBody .btn { text-align: right; margin: 0; clear: both; padding-bottom: 5px; }
	
	/*disabled*/
	.off { color: #999; }

.bookOutWrap h1, .bookOutWrapTA h1 { font-size: 12px; margin: 0; }
.bookOutWrap h4, .bookOutWrapTA h4 { font-size: 11px; margin: 0 0 2px 0; }

.bookOutWrap { background-color: #eee; margin: 0;padding-bottom:5px; }
.bookOutWrapTA { /*background-color: #333; border: solid #999 1px;*/ font-size:12px;margin: 0 0 5px 0; }

	.bookOutWrap:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
	.bookOutWrapTA:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
	
#bookOutBody  { background-color: #eee;  }

.connectError { color: black; border: solid black 1px; /*margin-top: 10px;*/ font-size: 12px; height: 62px; }
	.connectError img { float: right; }
	.connectError h4 { font-size: 12px; margin: 5px 0 3px 10px; }
	.connectError p { font-size: 11px; margin: 0 0 0 10px; }	
	
.bookHeader, .bookHeaderTA { height: 62px; border: solid black 1px; }
	.KBB { background-color: #D1DBF4; }
	.NADA { background-color: #FCDFA5; }
	.BB { background-color: #CCC; }
	.G { background-color: #93b7dc; }
	.MMR { background-color: #97dc99; }
	
	.neg { color: #8D1717; }
	
.transform { text-transform: uppercase; }	
	
	.bookHeader img { float: right; }
	.bookHeader h1 { margin: 5px 0 0 5px; }
	.bookHeader input { font-size: 12px; }
	.bookHeader select { font-size: 12px; /*width: 130px;*/ }
	
		.mileageAdj { text-transform: none; font-size: 11px; font-weight: normal; white-space: nowrap; display: inline; margin-left: 10px; }
		.mileageAdj input { width: 80px; }

	.bookHeaderTA img { float: right; bottom: 0; }
	.bookHeaderTA h1 { margin: 5px 0 0 5px; }
		.bookHeaderTA h1 span { font-weight: normal; margin: 5px 0 0 5px; }
		.bookHeaderTA h1 span.transform { text-transform: uppercase; font-weight: bold; font-size: 12px; margin: 5px 0 0 2px; }
	.bookHeaderTA input { font-size: 12px; }
	.bookHeaderTA select { font-size: 12px; /*width: 200px;*/ }	
		
	.disclaim { border: solid 1px black; border-top: none; margin: 0; text-align: right;  }
	.disclaim p { font-size: 10px; padding: 2px 5px; margin: 0; }

	.error {width:auto; border: solid black 1px; clear: both; margin:0px 10px 15px; }
		.error .inner {  height: 50px; vertical-align: middle; padding: 2px; color: #D90404; background-color: #fff; }
		#content .error .inner { width:auto; background-color:#fff; }
	.error img { float: left;  }
	.error p { float: left; margin: 5px 5px 2px 20px; }	

.valuesWrap { width: 100%; clear: both; }
	
	.bookInfo { background-color: #EEE; border: solid black 2px; border-top-width: 1px; border-bottom: none; padding: 5px 10px; }
	.bookInfo:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
		.bookInfo h4 { font-size: 12px; } 
		.bookInfo .bo { float: left; padding-right: 2px; }
		.bookInfo p { margin: 2px 0 0 0; padding: 0; font-size: 10px; }
		.bookInfo .lastBookoutDate { float: right; font-weight: bold; text-align: right; }
	
	.bookValKBB, .bookValBB, .bookValNADA, .bookValGalves { width: 100%; background-color: white; }

		.bookOutValuesTbl { width: 100%; border-collapse: collapse; border-top: 2px solid #000; }
			.bookOutValuesTbl th { padding: 2px 0; font-size: 11px; background-color: #EEE; border: solid 2px black; border-bottom: dashed 1px #333; border-top: none; text-align: center; }			
			.bookOutValuesTbl td { font-size: 18px; padding: 2px 0; text-align: center; font-weight: bold; border: solid 2px black; border-top: none; text-transform: uppercase; }		
		/*kbb*/
		.bookValKBB .bookOutValuesTbl td { font-size:11px;text-transform:none; }
		.bookValKBB .bookOutValuesTbl dt, .bookValKBB .bookOutValuesTbl dd {font-size:11px;text-transform:none;}
		.bookValKBB .bookOutValuesTbl dt{padding-left:10px; width:75%;text-align:left;}
		.bookValKBB .bookOutValuesTbl .disclaimer{font-size:9px; font-weight:normal; text-transform:none;}
		.bookValKBB .bookOutValuesTbl .greyTitle{ background-color: #EEE; }
		.bookValKBB .bookOutValuesTbl .dashedBottom{ border-bottom: dashed 1px #333; }
		.generic_options {
			background-color:#fff;
			width:100%;	
			border-top:1px solid #000;	
		}
		 .generic_options div{
			float:left;
			border-left:1px solid #000;
			height:75px;
			width:100%;
		}
		 .generic_options div.no_left{
			 border-left:0px;
		}
		.generic_options .engineOptions{
			border-top:0px;
			padding-left:4px;
		}
		.engineOptions h4{padding-left:4px;}
		
		.generic_options .transOptions{
			border-top:0px;
			padding-left:4px;
		}
		.transOptions h4{padding-left:4px;}
		
		.generic_options .driveOptions{
			border-top:0px;
		}
        .driveOptions h4{padding-left:4px;}
        
		.generic_options .conditionOptions{
			border-top:0px;
		}
		.conditionOptions h4{padding-left:4px;}
		
		.specialOptions{ vertical-align:top; }
		.specialOptions h4{	vertical-align:top;background-color: #EEE; border-bottom:1px solid #000;padding: 3px; }
		
		/*NADA*/
		body.ie6 table.bookOutValuesTbl { 
			margin-left: 4px;
		}
		table.bookOutValuesTbl caption.nada_adj {
			font-weight: normal; font-size: 11px;
			text-align: right; text-transform: capitalize;
			background-color: #eee; 
			border-right: solid 2px black; border-left: solid 2px black;
		}		
		table.bookOutValuesTbl caption.nada_adj strong {
			margin: 0 0.5em;
			display: inline-block;
			width: 6em;
		}


		
.optionsWrap { clear: both; background-color: white; border: solid 1px black; border-top: none; }

	.equipmentOptions { padding: 5px 5px; /*float: left;*/ /*margin-top: 20px; */}
	.equipmentOptions .none { font-weight: bold; font-size: 12px; }
	.equipmentOptions .details div { display: inline; margin: 0 200px 0 0; }
	
		.bookOutOptionsTbl { font-size: 11px; }
			.bookOutOptionsTbl thead td, .bookOutOptionsTbl thead th { font-weight: bold; text-align: left; padding-top: 2px; font-size: 10px; font-weight: normal; text-decoration: underline; }
			.bookOutOptionsTbl td label { font-size: 11px; }
			.bookOutOptionsTbl td.val { text-align: right; padding-left: 10px; }
				.bookOutOptionsTbl td {font-size:11px;}
			/* th's only used for 2nd and 3rd checkbox columns */
			.bookOutOptionsTbl th { padding-left: 20px; }	
			.bookOutOptionsTbl td input { vertical-align: bottom; padding: 0; margin-right: 5px; }	
	.engineOptions, .transOptions, .driveOptions { /*width: 200px; float: right; clear: right;*/ border-top: solid black 1px; }

.engineOptions ul, .transOptions ul, .driveOptions ul { font-size: 11px;list-style:none;margin:0;padding:0; }



.wirelessOptions { background-color:#ffd;border-top:solid 1px #e6e6e6;padding: 5px 10px; }
.wirelessOptions span { color:#c00;margin-left:10px; }
.wirelessOptions span.match { color:#666; }


/*****************/
/** Max-iPad-tm **/
/*****************/
body#bookOutBody.max-iPad-tm {
    min-width: 0;
    width: 920px;
}
