/* CIA-specific general style redefinitions */
h2, h3, h4, h5, h6 {
	display: inline;
	color: #fc3;
}
h3 a {
	color: #fc3;
	text-decoration: none;
}
h3 a:hover {
	text-decoration:underline;
}

/* CIA-specific generic classes */

.clearboth {
	clear: both;
}
.clearright {
	clear: right;
}
.clearleft {
	clear: left;
}
.tilecontainer {
	float: left;
	width: 100%;
	background: #4c4c4c;
	border: 1px solid #999;
	margin: 5px 0px 25px 0px;
	padding: 20px;
}
.tilecontentcontainer {
	float: left;
	width: 100%;
	background: #fff;
	border: 1px solid #999;
	padding: 5px 0px 0px 0px;
	margin-bottom: 2em;
}
.paddedcontainer {
	float: left;
	width: 100%;
	background: #4c4c4c;
	border: 0px solid #999;
	margin: 5px 0px 0px 0px;
	padding: 20px;
}
div.tilepanel {
	float: left;
	margin: 10px;
}

.inventorylist {
	padding-left: 40px;
	width: 100%;
	clear: none;
	min-height: 50px;
}
/* ie min-height fix for .inventorylist */
/*\*/
* html .inventorylist {
	height: 50px;
}
/**/
.greenlightbg {
	background: url('../images/cia/smlights-green.gif') 10px top no-repeat;
}
.yellowlightbg {
	background: url('../images/cia/smlights-yellow.gif') 10px top no-repeat;
}
.redlightbg {
	background: url('../images/cia/smlights-red.gif') 10px top no-repeat;
}


div.subheadblock {
	background: #333;
	border: 1px solid #999;
	padding: 0.5em;
	margin-top: 1em;
	border-bottom: 0;
}
div.genericheadblock {
	padding: 1em 0em;
}
.inventorylist ul {
	font-size: 120%;
	float: left;
	list-style: none inside;
}
.inventorylist ul li.left {
	text-indent: 0px;
}
.inventorylist ul li.right {
	position: absolute;
	left: 500px;

}
.inventorylist ul li img.bullet {
		margin-right: 0.5em;
}
.inventorylist table.perfInnerTbl td.rankingNumber {
	font-size: 0.7em;
}
		
/* CIA-specific classes - this is legacy stuff from before 2007, a lot of stuff uses it still */

.CIA-TopTitle-13
{
	background-color:#4d4d4d;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	padding-left:20px;
	padding-bottom:13px;
	padding-top:26px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#ffcc33;
}
.CIA-TopTitle-4
{
	background-color:#4d4d4d;
	border-top: 1px solid #000000;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	text-align:center;
}
.CIA-TopTitle-5
{
	background-color:#4d4d4d;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}


.CIA-First-1
{
	background-color:#4d4d4d;
	border-left: 1px solid #000000;
	padding-left:10px;	
}
.CIA-First-2
{
	background-color:#ffffff;
	border-left: 1px solid #000000;
	padding-left:20px;
	padding-top:6px;
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	color:#000000;
}
.CIA-First-3
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-top:2px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
}
.CIA-First-4
{
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	background-color:#ffcc33;
	text-align:center;
}
.CIA-First-5
{
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:4px;
	padding-top:6px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	background-color:#4d4d4d;
	text-align:center;
}


.CIA-Middle-1
{
	background-color:#4d4d4d;
	border-left: 1px solid #000000;
	padding-left:10px;
}
.CIA-Middle-2
{
	background-color:#ffffff;
	border-left: 1px solid #000000;
	padding-left:20px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Middle-3
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:4px;
	padding-top:2px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Middle-4
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	background-color:#ffcc33;
	text-align:center;
}
.CIA-Middle-5
{
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	background-color:#4d4d4d;
	text-align:center;
}


.CIA-Last-1
{
	background-color:#4d4d4d; 
	border-left: 1px solid #000000; 
	padding-left:10px;
}
.CIA-Last-2
{
	background-color:#ffffff;
	border-left: 1px solid #000000; 
	border-bottom: 1px solid #000000;
	padding-left:20px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Last-3
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:2px;
	padding-top:2px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Last-4
{
	background-color:#ffffff; 
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	background-color:#ffcc33;
	text-align:center;
}
.CIA-Last-5
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	background-color:#4d4d4d;
	text-align:center;
}


.CIA-Bottom-1
{
	background-color:#4d4d4d;
	border-left:   1px solid #000000;
	border-bottom: 1px solid #000000;
}

.CIA-Bottom-234
{
	background-color:#4d4d4d;
	border-bottom: 1px solid #000000;
}

.CIA-Bottom-5
{
	background-color:#4d4d4d;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}