td {font-family: arial, sans-serif;font-size:11px;color:#000;}
span {font-family: arial, sans-serif;font-size:11px;color:#000;}
/*  HELP DIV STYLES */
#helpDiv, #TAHelpDiv, #agingHelpDiv, #VAHelpDiv, #redistHelpDiv  {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:0px;
    left:0px;
    z-index:50;
}
#pricingToolHelpDiv {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:50px;
    left:150px;
    z-index:50;
}

#helpDiv2 {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:610px;
    top:0px;
    left:0px;
    z-index:50;
}
.newError {
    font-size:16px;
    font-weight:bold;
    color: #E03228;
    padding:3px;
}
.helpTitle {font-weight:bold;padding:3px;}
.helpCell {padding-bottom:3px;vertical-align:bottom;cursor:help;}
.helpHomeCell {cursor:help;}
.helpTextCell {padding:8px;text-align:justify;}
.helpTextCell ul {
	margin-left: 1em;
}
.xCloser {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px;
    border-left:1px solid #96a1bc;
    border-top:1px solid #96a1bc;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    background-color:#999;
    cursor:hand;
    width:18px;
    height:18px;
    text-align:center;
    vertical-align:middle;
}
/*  NAVIGATION STYLES   */
.separator {padding-bottom:7px;vertical-align:middle;}
.navTextoff {
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    cursor:hand;
}
.navTextoff a {color:#000;text-decoration:none;}
.navTexton {
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    color:#900;
    cursor:hand;
}
.navTexton a {color:#900;text-decoration:none;}
.navTextPrint {
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    color:#cb9921;
}
.navTextGlobal {
    font-family:helvetica,arial,sans-serif;
    font-size:10px;
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    text-decoration:none;
}
.navTextGlobal a {text-decoration:none;}
.navTextGlobal a:hover {text-decoration:underline;}
.flmi {
    font-size:8pt;
    font-weight:bold;
    border-bottom:2px solid #000;
    padding:5px;
    cursor:hand;
}
.flmiOver {
    font-size:8pt;
    font-weight:bold;
    color:#d90303;
    background-color:#fcdc7b;
    border-bottom:2px solid #000;
    padding:5px;
    cursor:hand;
}
.dealerNavTable {background-color:#fc3;}
.menu {
    border-left:2px solid #000;
    border-right:2px solid #000;
    background-color:#fc3;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    visibility:hidden;
}
/*  PAGE TITLE AREA STYLES  */
.pageNickNameLine {
    font-size:14px;
    font-weight:bold;
    color:#fc3;
    padding-left:13px;
    white-space:nowrap;
}
.pageName {
    font-size:25px;
    font-weight:bold;
    color:#fff;
    padding-left:13px;
    padding-right:8px;
    vertical-align:bottom;
    white-space:nowrap;
}
.buttonNavToggle {text-align:right;vertical-align:bottom;padding-right:13px;}
.groupingDescription {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:18px;
    font-weight:bold;
    color:#faf2dc;
}
.vehicleListHeadings {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    color:#fcdc7b;
    padding:2px;
}
.vehicleListHeadingsCenter {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fcdc7b;
    padding:2px;
    text-align:center;
}
.vehicleListData {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px;
}
.homeText {
    font-size:16px;
    color:#faf2dc;
    font-weight:bold;
    text-align:justify;
    text-justify:newspaper;
    padding:28px;
}
.zeroes {background-color:#000;}
.threes {background-color:#333;}
.mainBackground {background-color:#525252;}
.fortyniner {background-color:#494949;}
.fortysevens {background-color:#474747;}
.fiftyTwoMain {background-color:#525252;}
.fives {background-color:#555;}
.sixes {background-color:#666;}
.nines {background-color:#999;}
.cees {background-color:#ccc;}
.effs {background-color:#fff;}
.rowShader {background-color:#f1e9c6;}
.offWhite {background-color:#f0f0f0;}
.effCeeThree {background-color:#ffcc33;}
.darkerBlue {background-color:#96a1bc;}
.creamPuff {background-color:#96a1bc;}
.lighterBlue {background-color:#d1dbf4;}
.lighterBlueBlackBorder {background-color:#d1dbf4;border:1px solid #000;}
.thirdPartyInformationColor {background-color:#d1dbf4;}
.thirdPartyInformationColorBlackBorder {background-color:#d1dbf4;border:1px solid #000;}
.lighterRed {background-color:#789b53;}
.perfBackgrounder {background-color:#525252;border:1px solid #999;}
.vehicleAnalyzerSearchLabel {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #ffcc33;
    padding-left:6px;
    padding-top:1px;
    padding-bottom:8px;
    padding-right:2px;
    vertical-align:middle;
}
.vehicleAnalyzerSearchLabelVIP {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    padding-left:6px;
    padding-top:1px;
    padding-bottom:8px;
    padding-right:2px;
    vertical-align:middle;
}
.vehicleAnalyzerSearchInput {
    padding-left:4px;
    padding-top:1px;
    padding-bottom:8px;
    padding-right:6px;
    vertical-align:middle;
}
.vehicleAnalyzerSearchGo {
    padding-left:10px;
    padding-top:8px;
    padding-bottom:1px;
    padding-right:4px;
    vertical-align:middle;
    text-align:right;
}
.trackingNotesTextArea {
    font-family:verdana,arial,sans-serif;
    font-size:9px;
    margin:0px;
    padding:0px
}
/*  NEW DEALER HOME STYLES  */
.homeVinEnter {
    font-size:12px;
    color:#fff;
    padding-top:5px;
}
.homeSectionID {
    font-size:18px;
    font-weight:bold;
    color:#fff;
    vertical-align:bottom;
}
.homeLinkRight {
    font-weight:bold;
    color:#fc3;
    padding-bottom:3px;
    text-align:right;
    cursor:hand;
}
.homeLinkHotRight {
    font-size:12px;
    font-weight:bold;
    color:#d90404;
    padding-bottom:3px;
    text-align:right;
    vertical-align:middle;
    padding-right:5px;
}
.homeLinkLeft {
    font-weight:bold;
    color:#fc3;
    padding-bottom:3px;
    text-align:left;
    cursor:hand;
}
.homeLinkLeftZeroPadding {
    font-weight:bold;
    text-align:left;
    color:#fc3;
    cursor:hand;
}
.homeLinkHotLeft {
    font-size:12px;
    font-weight:bold;
    color:#d90404;
    padding-bottom:3px;
    text-align:left;
    vertical-align:middle;
    padding-right:5px;
}
.flashLabel {color:#fff;text-align:right;}
.homeFooter {padding-left:5px;color:#fff;}
.agingBgRight {background-image:url(../images/dealerHome/agingBgRight_6x9.gif);}
.agingBgLeft {background-image:url(../images/dealerHome/agingBgLeft_6x9.gif);}
.agingBgTop {background-image:url(../images/dealerHome/agingBgTop_10x6.gif);}
.agingBgBottom {background-image:url(../images/dealerHome/agingBgBottom_10x6.gif);}
.loginLine {background-image:url(../images/marketing/loginLine.gif);}
.agingTitleLeft {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size: 9px;
    color: #fff;
    vertical-align: bottom;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.agingTitleRight {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    vertical-align: bottom;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 2px;
}
.agingDataLeft {
    font-family:Arial,Helvetica,Sans-serif;
    font-size: 11px;
    font-weight: normal;
    vertical-align: baseline;
    padding-right: 2px;
}
.agingDataRight {
    font-family:Arial,Helvetica,Sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    padding-right: 4px;
    padding-left: 2px;
}
.dataLinkLeftOver {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#036;
    padding:2px;
    text-align:left;
    vertical-align:baseline;
    text-decoration:underline;
    cursor:hand;
}

.dataLinkLeftOut a{
	text-decoration:none; 
	color:#000000;
	}
.dataLinkLeftOut a:hover{
	text-decoration:underline; 
	color:#036;
	}


.verticalDash {background-image:url(../images/common/verticalBlackDash_1x2.gif);}
.trackingTBox {
    font-family:verdana;
    font-size:10px;
    height:18px;
    width:79px;
}

.tab {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}

.tabOn {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}


/* TRACKING PLAN STYLES */
.trackingTabOn {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}
.trackingTabOff {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight: bold;
    color:#999;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    vertical-align:middle;
}
.spanTabOn {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    height:23px;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}

.spanTabOff {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#999;
    padding-left:8px;
    padding-right:21px;
    padding-top:5px;
    padding-bottom:3px;
    cursor:hand;
    text-decoration:none;
    vertical-align:middle;
}
.spanTabOff a {color:#999;text-decoration:none;}
.trackingTabOff a {color:#999;text-decoration:none;}
.redistText {
    font-size:13px;
    font-style:italic;
    color:#fff;
    padding-left:13px;
    padding-right:13px;
}
.tabContainer {
    background-image:url(../images/common/dashboard_bg.gif);
    height:32px;
    width:100%;
    padding-left:21px;
    padding-top:9px;
    padding-bottom:0px;
    margin:0px;
}
.grayBorder {border:1px solid #999;width:100%;}
.grayBorderSize {border:1px solid #999;}
.L4TD {padding:2px;vertical-align:middle;}
.L4 {font-size:11px;font-weight:bold;color:#D90202;}
.L4Span {
    font-size:10px;
    border:1px solid #333;
    background-color:#FCEBD9;
    color:#000
}
.titleButton {
    padding-right:13px;
    padding-left:13px;
    padding-bottom:3px;
    vertical-align:bottom;
    text-align:right;
}
.vinOrStock {
    font-size:9px;
    padding: 2px;
    width:50%;
    display:inline;
}
.displayPrior {width:50%;display:inline;}
.report-lineitem
{
    background-color: #fff;
}
.report-lineitem2
{
    background-color: #efefed;
}

/*trade analyzer/manager*/

	input, select, textarea { font-family: Arial, Helvetica, Verdana, sans-serif; }
		#topButtonTableResults2	h3 { font-size: 12px; font-family: Verdana, Arial, sans-serif; color: #FC3; margin: 10px 0 8px 0; }
		#topButtonTable h3 { font-size: 12px; font-family: Verdana, Arial, sans-serif; color: #FC3; margin: 10px 0 8px 0; }
			.analyzerInput h3 { font-size: 12px; font-family: Verdana, Arial, sans-serif; color: #FC3; margin: 10px 0 8px 0; }
			.analyzerInput { /*float: right;*/ margin: 0 0 5px 0; }
				.analyzerInput .inner { background-color: #EEE; }		
			.analyzerInput .body { border: solid 1px black; padding: 5px; }
			.analyzerInput select { /*width: 180px;*/ font-size: 14px; }
				.analyzerInput .title { font-size: 20px; font-weight: bold; }
			.analyzerInput .details { font-weight: bold; font-size: 14px; margin: 5px 0 5px 0; }
				.analyzerInput .details div { display: inline; margin: 0 20px 0 0; }
				.analyzerInput .details span { font-weight: normal; font-size: 11px; }
				.analyzerInput .color select { width: 100px; }
				
		#bookOut { /*border: solid 1px #CCC;*/ border-bottom: none; }
	
	
		
		.vehicleAss { margin-top: 10px;font-family: Arial, Helvetica, Verdana, sans-serif; }
		.vehicleAss table td { width:50%; }
		
			.vehicleAss .inner { width: 100%; background-color: white; border: solid 1px #CCC; }
			.vehicleAss .hdr { font-weight: bold; font-size: 11px; padding: 3px 3px; margin: 0; background-color: #D1DBF4; border: solid black 1px; text-indent: 5px; }
			
			.vehicleAss .body { vertical-align: middle; border: solid black 1px; border-top: none; padding: 5px; }
			.vehicleAss textarea { width: 215px; font-size: 14px; }
			
			.vehicleAss .recon { width: 350px; font-size: 12px; }
					.vehicleAss .recon .body  { height: 100px; }
				.vehicleAss .recon input { width: 150px; }
				.vehicleAss .recon label { font-weight: bold; display: block; margin-bottom: 2px; }
				.vehicleAss .recon span { font-weight: bold; font-size: 14px; }
				.vehicleAss .est input { width: 70px; font-size: 14px; }
				.vehicleAss .btn{float:left;}
				.vehicleAss #savingMessage{display:inline; font-weight:bold; font-size:1.1em; padding:3px; }
			.vehicleAss .notify { text-align:left;margin: 5px 0 10px 0; font-size: 12px; width: 320px;}
						.vehicleAss .notify .hdr img { margin-left: 5px; margin-bottom: -6px; }
						.vehicleAss .notify .body  { padding-bottom: 10px; }
				.vehicleAss .notify input { font-size: 14px; }
				.vehicleAss .notify select { width: 150px; margin-top: 5px; margin-left: 5px; font-size: 14px; }
			.vehicleAss .notify #helpDiv2 { width: 200px; }				
			.vehicleAss #dealTrack { clear: both; margin-bottom:5px;margin-right:10px;margin-left:10px; }
	
	 #potentialDeal {width:610px;float:right; margin-left:3px;}
		.vehicleAss dl.dealType {margin-bottom:0px; margin-top:0px; }
			.vehicleAss dl.dealType dt{width:110px; float:left;  }
		.vehicleAss dl.stocknum {margin-bottom:0px; margin-top:5px;}
		.vehicleAss dl.stocknum input{width:135px;}
			.vehicleAss dl.stocknum dt{width:110px; float:left; }
		.vehicleAss dl.salesPersonName{margin-bottom:0px; margin-top:5px;}
		.vehicleAss dl.salesPersonName select{width:135px;}
				.vehicleAss dl.salesPersonName dt{width:110px; float:left; }
		.vehicleAss dl.salesPersonLink{margin-bottom:5px; margin-top:3px;}
			.vehicleAss a{color:#676767; text-decoration:underline;}
				.vehicleAss  a:hover{color:#676767; text-decoration:none;}
				.vehicleAss dl.salesPersonLink dt{width:110px; float:left;}
		.vehicleAss dl.gender dt{float:left; width:75px;}
			.vehicleAss dl.customerInfoFirstName{margin-bottom:0px; margin-top:0px;}
		.vehicleAss dl.customerInfoFirstName dt{width:65px; float:left;}
			.vehicleAss dl.customerInfoLastName{margin-bottom:0px; margin-top:5px;}
		.vehicleAss dl.customerInfoLastName dt{width:65px; float:left;margin-bottom:0px; margin-top:0px;}
		.vehicleAss dl.customerInfoPhone{margin-bottom:0px; margin-top:5px;}
		.vehicleAss dl.customerInfoPhone dt{width:65px; float:left;margin-bottom:0px; margin-top:0px;}
		.vehicleAss dl.customerInfoEmail{margin-bottom:0px; margin-top:5px;}
		.vehicleAss dl.customerInfoEmail dt{width:65px; float:left;margin-bottom:0px; margin-top:0px;}
			.vehicleAss #customerInfo {float:right;}
		.vehicleAss .customerDetails{width:250px;}
		.vehicleAss .rightHeader{float:right; margin-right:205px;}
		#reconditioning{float:left; }
		.appraisalReady{float:right;margin-top:10px;}		
		
		/*trade analyzer page 2*/
		.backToPrevious {text-align:right;}
		.vehicleName{color:#fc3; font-weight:bold; font-size:1em; text-align:left;width:300px; word-wrap:normal; padding:6px 4px 6px 0px;}
		#topButtonTableResults2 .mileage{color:#fc3; font-weight:bold; font-size:.7em; text-align:left; padding:4px 4px 4px 0px;}
		#topButtonTableResults2 .mileage span{color:#fc3; font-weight:normal; }
		#topButtonTableResults2 .vin{color:#cbcbcb; font-weight:normal; font-size:.7em; text-align:left; vertical-align:top;padding:4px 4px 4px 0px;}
		#topButtonTableResults2 .vin span{color:#cbcbcb; font-weight:normal; }
		.rightButtons{padding:4px 4px 4px 0px;}
		#demandDealersTitleTable{margin-top:10px;}
		span.largeText{font-size:14px; padding:3px;vertical-align:middle;}
		#appraisal{width:300px;}
		#appraisalFormCont{margin-top:-10px;width:300px; display: block;}
		#appraisalForm{margin-top:1px;width:300px; }		
		#appraisalForm .pButton{margin-top:5px; display:block;}
		#appraisalForm .pButtonNarrow{margin-top:0px; margin-bottom:-3px;  display:block;}
		#appraisalForm .body{height:50px;}
		#appraisal input{width:85px; font-size: 14px; margin-top:3px; margin-bottom:3px;margin-right:3px;}
			#appraisal select{margin-right:5px;}
		#appraisal .body{text-align:left; vertical-align:middle;}
		#appraisalForm .body span a.darkLink {text-decoration:underline; color:#000000;}
		#appraisalForm .body span a.darkLink:hover{text-decoration:none; color:#000000;}
		#appraisalForm .body span a.darkLink:visited{text-decoration:underline; color:#000000;}
		 .right{float:right;}
		#demandDealersTitleTable #potentialDeal{margin-left:0px; margin-right:5px; margin-top:0px;}
		#appraisalForm #offerEditInput{width:50px; font-size:12px; vertical-align:middle;margin-left:0px;margin-right:1px;}
		/*autocheck logo*/
		.autocheck .hdr { background-color: #333333; padding: 2px 0; text-align: left; }
		.autocheck .body { padding: 0px 5px 5px 15px; text-align: center; }
		.autocheck p { margin: 0; line-height: 13px; text-align: center; }
		.autocheck a { color:#cccccc; text-decoration: underline; }
		.autocheck a:hover { color: #cccccc; text-decoration: none; }
		
		/*trade manager*/
	 	h3.white{color:#ffffff;}
	 	.hide{display:none;}
		.tradeManager #appraisal{width:515px; margin-bottom:10px;}
		.tradeManager .vehicleAss{border:0px;}
		.tradeManager .vehicleAss .inner{border:0px;}
		.tradeManager #appraisalForm{margin:0px;width:215px; border:0px;}		
			.tradeManager #appraisalForm a{color:#cccccc; text-decoration:underline;}		
			.tradeManager #appraisalForm a:hover{color:#cccccc; text-decoration:none;}		
		.tradeManager #appraisalForm .pButton{margin-top:2px; display:block;}
		.tradeManager #appraisalForm .body{height:66px; background-color:#cccccc;}
		.tradeManager #appraisalForm .hdr{ background-color:#525252;color:#ffffff; padding-right:3px;}
		.tradeManager #appraisalForm .hdr .right{ float:right; margin-right:4px;}
		.tradeManager #appraisalform #offer{font-size: 12px; cursor:hand;font-weight:bold;}
		.tradeManager #appraisal input{width:85px; font-size: 14px; margin-top:3px; margin-bottom:3px;margin-right:3px;}
		
		#appraisal #offerEditInput{width:50px; font-size:12px; vertical-align:middle;margin-left:0px;margin-right:1px;}
		#appraisal  #offerEdit {height:33px;vertical-align:middle;}
		#appraisal  #offerEdit img{cursor:hand;}
		#appraisal  #offer{height:33px; vertical-align:middle;padding-top:7px;}
		
		/*initial/adjust appraisal block*/
		.tradeManager #initialAppraisal{ margin:0px; width:300px;}
		.tradeManager  .dollar{font-size:14px;  float:left; padding-top:5px; font-family:Arial,Helvetica, sans-serif;}
			.tradeManager #initialAppraisal a{color:#cccccc; text-decoration:underline;}		
			.tradeManager #initialAppraisal a:hover{color:#cccccc; text-decoration:none;}		
		.tradeManager #initialAppraisal .pButton{margin-top:5px; display:block;}
		.tradeManager #initialAppraisal .body{height:55px; background-color:#cccccc;}
		.tradeManager #initialAppraisal .hdr{ background-color:#525252;color:#ffffff;  padding-right:3px;}
			.tradeManager #initialAppraisal .hdr .right{float:right; margin-right:4px; }
			
			/*appraisal history block*/
			.tradeManager #appraisalHistory{ margin:0px; width:300px;}
		
			.tradeManager #appraisalHistory a{color:#cccccc; text-decoration:underline;}		
			.tradeManager #appraisalHistory a:hover{color:#cccccc; text-decoration:none;}		
		.tradeManager #appraisalHistory .pButton{margin-top:5px; display:block;}
		.tradeManager #appraisalHistory .body{height:66px;width:355px; background-color:#cccccc;}
		.tradeManager #appraisalHistory .hdr{ background-color:#525252;color:#ffffff;width:355px;}
		.tradeManager #appraisalHistory span.amount{display:block;}
		.tradeManager #appraisal input{width:85px; font-size: 14px; margin-top:3px; margin-bottom:3px;margin-right:3px;}
			.tradeManager #appraisal select{margin-right:5px;}
		.tradeManager #appraisal .body{text-align:left; vertical-align:middle;}
			.tradeManager #appraisalHistory .body table td{padding:2px;}
				.tradeManager #appraisalHistory .body table tr.heavy td{font-weight:bold;}
					.tradeManager #appraisalHistory .body table td.amt{width:25px;}
					.tradeManager #appraisalHistory .body table td.right{text-align:right;}
					.tradeManager #appraisalHistory .body table td.name{width:115px;}
		/*wide potential deals box (trade manager)*/
		.potentialDealsWide{ border:1px solid #cccccc; height:35px;margin-bottom:15px;}
		.potentialDealsWide dl{display:inline;clear:none;float:left; margin-left:15px; margin-top:5px;}
			.potentialDealsWide dt{float:left;color:#cccccc; vertical-align:middle; padding-top:3px;}
		.potentialDealsWide a{color:#cccccc; text-decoration:underline;}
		.potentialDealsWide a:hover{color:#cccccc; text-decoration:none;}
		.potentialDealsWide .salesPersonLink{margin-left:0px;padding-top:3px;}
		
		.customerInformationWide{ border:1px solid #cccccc; height:35px; margin-bottom:15px;}
		.customerInformationWide dl{display:inline;clear:none;float:left; margin-left:15px; margin-top:0px;}
			.customerInformationWide dt{float:left;color:#cccccc; vertical-align:middle;}
			.customerInformationWide dd{margin-left:-2px;}
		.customerInformationWide dl.gender dt{padding-top:0px;padding-bottom:3px;}
		.customerInformationWide dd.customerDetails dt{padding-top:3px;}
		.customerInformationWide dd dl{margin-top:10px;}
				

/* ====================== */
/* = Auction Data Table = */
/* ====================== */
#auctionDataResults { border: none; }
#auctionDataResults table {
	border: none;
	border-collapse: collapse;
	font-size: 12px;
}
#auctionDataResults table th {
	border:1px solid #000000;
	padding: 2px 3px;
	font-weight: bold;
	height: 20px;
}
#auctionDataResults thead th { text-align: center; }
#auctionDataResults tbody th { padding-right: 5px; }
#auctionDataResults table td { border:1px solid #000000; padding: 2px 3px; }
#auctionDataResults tbody td { text-align: center; }

/* ==================================== */
/* = MaxView for Auction Data Results = */
/* ==================================== */
body.maxView { 	margin: 0; }
.maxView #auctionDataResults table td, 
.maxView #auctionDataResults table th {	font-size: 11px; font-weight: normal; }
.maxView #auctionDataResults table td {
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
	border-left: none;
	border-bottom: 1px solid #fff;
	height: 20px;
}
.maxView #auctionDataResults tbody th {	text-align: center;	border-top: none; }
.maxView #auctionDataResults #similarMileage th { border-left: none; }
.maxView #auctionDataResults table tr.last td {	border-bottom: 1px solid #000; }


/*****************/
/** Max-iPad-tm **/
/*****************/
body.max-iPad-tm #performanceanalysistop h3 img.light {
    left: 0;
}
