#personManager {
	border: 1px solid #999;
	background: #ccc url() repeat-x bottom;			
	padding: 0;
	position: absolute;
	top:0px;left:0px;
	width: 750px;
	z-index: 1001;
	display:none;
}
#personManager form { margin: 0; }		
#personManager .head {
	position: relative;
	margin: 0;
	background: #525252 url() repeat-x bottom;
	padding: 0.5em;
	border-bottom: 1px solid #999;
	cursor: move;
}
#personManager .head h4 {
	display: inline;
	margin: 0;
	color: #fff;
	font-weight: bold;
	cursor: text;
}
#personManager .head .close {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: 10px;
	color: #A9A9A9;
	padding-right: 25px;
	padding-top: 5px;
	background: url('/IMT/images/managePeople/close_salesperson.png') no-repeat bottom right;
	cursor: pointer;
}
#personManager .saveAndAddAnotherPerson { display: none; }
#personManager .addPerson,
#personManager .saveAndAddAnotherPerson {
	text-align: right;
	margin: 1em 1em 1ex 1em;
	line-height: 16px;
	background: url('/IMT/images/managePeople/add_salesperson.png') no-repeat bottom right;
}
#personManager .addPerson a,#personManager .addSalesPerson a:link, #personManager .saveAndAddAnotherPerson a {
	padding-right: 20px;
	color: #315065;
}
#personManager .saveAndAddAnotherPerson a:hover,
#personManager .addPerson a:hover {
	color: #00f;
}

/* =================================== */
/* = KLUDGE: Ie tbody overflow: auto = */
/* =================================== */
#personManager #people {
/*	padding-right: 10px;*/
	overflow-y: auto;
	overflow-x: hidden;
	height: expression(this.scrollHeight > 400 ? '400px' : 'auto');
/*	margin-bottom: 10px;*/
}
#personManager #people table thead tr {
	border-top: 1px solid #999;
	position: relative;
	top: expression(this.offsetParent.scrollTop-2);
}
/* END KLUDGE */

	
#personManager table {
/*	width: 96.9%;*/
/*	padding: 2%;*/
/*	margin: 0 2% 2% 2%;*/
	width: 99.9%;
	background-color: #fff;
	border: 1px solid #999;					
}
#personManager table a, #personManager table button {
	color: #3B4F5D;
	text-decoration: none;
}
#personManager table caption {
	text-align: right;
	padding: 1em 0 1ex 1ex;
}
#personManager table caption .addSalesPerson {
	diplay: block;
	padding-right: 25px;
}
#personManager thead th {
	background: #A9A9A9 url('/IMT/images/managePeople/header_grad.gif') repeat-x bottom;
	border-bottom: 2px solid #333;
	text-align: left;
	color: #4473924;
	font-weight: normal;
	padding: 1em 25px 0.5ex 1ex;
	text-decoration: underline;
}
#personManager thead th img.sort {
	position: relative;
	top: 4px;
}
#personManager tbody td {
	padding: 1ex 1ex 0.5ex 1ex;
	font-size: 9pt;
	color: #353535;
	vertical-align: bottom;
}
#personManager tbody tr.even td {
	background: #dcdcdc url('/IMT/images/managePeople/row_grad.gif') repeat-x bottom;
	border-bottom: 1px solid #929292;
	border-top: 1px solid #A9A9A9;
}
#personManager tbody tr td.controls {
	border-left: 1px dotted #ccc;
	text-align: right;
	width: 17ex;
}
#personManager tbody td input {
	width: 100px;
}
#personManager tfoot {
	display: none;
}
#personManager tbody tr td.controls button {
	border: 1px solid transparent;
	background-color: transparent;
	font-size: 8pt;
}
#personManager table tr td.controls button.edit_btn {
	color: #003300;
}
#personManager table tr td.controls button.remove_btn {
	color: #580000;	
}
#personManager table tr td.controls button.cancel_btn:hover {
	color: #580000;			
	border: 1px outset #FF0000;
	background-color: #FFE0E0;
}
#personManager table tr td.controls button.save_btn:hover {
	color: #003300;			
	border: 1px outset #00FF00;
	background-color: #DEFFDE;
}
#personManager table tr td.controls button.cancel_btn:hover {
	color: #580000;			
	border: 1px outset #FF0000;
	background-color: #FFE0E0;
}
#personManager table tr td.controls button.edit_btn:hover {
	color: #003300;			
	border: 1px outset #00FF00;
	background-color: #DEFFDE;
}
#personManager table tr td.controls button.remove_btn:hover {
	color: #580000;			
	border: 1px outset #FF0000;
	background-color: #FFE0E0;
}
#personManager table tr.highlighted td {
	background-color: #FFF4D0;
	background-image: none;
	font-weight: bold;
}
#personManager table tr.editing td {
	background-color: #ffffe5;	
	background-image: none;
	border-bottom: 1px solid #A9A9A9;
}
#personManager .required {
	color: #f00;
	display: block;
}
#personManager tbody td.email {
	width: 150px;
}
#personManager tbody td.phone {
	width: 150px;
}

#groupAppraisals.managePeople {
	width: 500px;
	background-color: #ccc;
	border: 1px solid #999;
	display:none;
	top:0px;left:0px;
	position:absolute;
	z-index:1001;
}
#groupAppraisals.managePeople .winHeader {
	background-color: #525252;
	color: #fff;
	padding: 5px 1em;
}
#groupAppraisals.managePeople .winHeader .toggle {
	float: right;
	color: #C0C0C0;
	position: absolute;
	top: 2px;
	right: 1em;
	font-size: 10px;
	color: #A9A9A9;
	padding-right: 25px;
	padding-top: 5px;
	background: url('/IMT/images/managePeople/close_salesperson.png') no-repeat bottom right;
}
#groupAppraisals.managePeople .winHeader .toggle span {
	display: none;
}
#groupAppraisals.managePeople .lightAndMake,
#groupAppraisals.managePeople .groupAppBody {
	padding: 5px 1em;	
	font-size: 12px;
	color: #3A3A3A;
}
#groupAppraisals.managePeople .appDisc {
	text-align: center;
	padding: 8px;
	font-size: 8pt;
	background-color: #E0E0E0;
	color: #494949;
}
/* ================== */
/* = Start Max View = */
/* ================== */
#personManager .managePeopleMaxView {
	background-color: #fff;
}
#personManager .managePeopleMaxView .head {
	background: #eee url(/IMT/view/max/topshadow.gif) repeat-x top;
	border-top: none;
}
#personManager .managePeopleMaxView .head h4 {
	color: #3d4868;
}
#personManager .managePeopleMaxView .head .close {
	color: #2A344A;
}
/* ================ */
/* = End Max View = */
/* ================ */