* {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    background: #fff url(/IMT/images/common/graduatedGreyBackground.jpg) top left repeat-x;
    font: 0.8em/1.2em arial, verdana, sans-serif;
    color: #003;
    height: 100%;
}
body {
    height: 100%;
}



div#pageHeader {
    height: 25px;
    width: 100%;
    background: url(/IMT/images/dealerGroup/headerbg.jpg) top left repeat-x;
    padding: 5px 0px;
    border-top: 1px solid #92A1B5;
    border-bottom: 1px solid #F1F0F4;
}
div#pageHeader span.topNavigation {
    float: right;
    position: relative; /* fixes ie6 doubled-margin bug */
    margin-top: 5px;
    margin-right: 10px;
}
div#pageHeader img#firstlookLogoImg {
    margin-left: 10px;
}
div#pageHeader a {
    text-decoration: none;
    margin: 0px 0.5em;
}
div#pageHeader a:hover {
    text-decoration: underline;
}



div.container {
    width: 100%;
    position: relative;
    min-height: 100%;
    height: 100%;
}
	
html>body .container {
    height: auto;
}
div.wrap {
    width: 100%;
    text-align: center;
    padding-bottom: 28px;
}



div#dealerGroupHomeContent {
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: left;
}



div#dealerGroupHomeSubhead {
    padding: 10px 0px;
    border-bottom: 2px solid #EFEFF0;
}
div#dealerGroupHomeSubhead h2 {
    font-size: 1.2em;
    line-height: 2em;
    color: #0D162C;
}



div#dealerGroupHomeDealerList {
    margin-top: 10px;

}
div#dealerGroupHomeDealerList ul {
    list-style-type: none;
}
div#dealerGroupHomeDealerList ul li {
    padding: 10px 10px 10px 20px;
    width: 300px;
    background: url(/IMT/images/common/bullet-blue.gif) 2% 52% no-repeat;
}
div#dealerGroupHomeDealerList ul li a {
    color: #515E78;
    font-weight: bold;
    text-decoration: none;
}
div#dealerGroupHomeDealerList ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

div#pageFooter {
    font-size: 11px;
    color: #B4B3C3;
    width: 100%;
    position: absolute;
    padding: 6px 0px;
    height: 15px;
    bottom: 0px;
    background: #fff;
    border-top: 1px solid #CECED0;
    overflow: hidden;
}
div#pageFooter strong {
    margin: 0em 0.5em;
    font-weight: bold;
}
div#pageFooter span {
    color: #B4B3C3;
    margin: 0em 0.5em;
}

