body { margin: 0; padding: 0; background-color: #525252; }
img { border: none; }
a { color:#036; }
span.pipe { padding: 0 5px; }



	#dealTrack .hide { display: none; }
	#dealTrack .show { display: block; }


h3 { font-size: 11px; font-family: Arial, sans-serif; padding: 0; margin: 0; }
h6 { font-size: 11px; font-family: Arial, sans-serif; font-weight: normal; padding: 0; margin: 5px 0 0 0; }

	/*until bookout is reinstated*/
	.bo { /*display: none !important;*/ }	
	
.tableModule { padding: 0; margin: 0; border: 1px solid #999; }
.tableModule table { width: 100%; padding: 0; margin: 0; border: 1px solid #000; background-color: #FFF; }
	.tableModule th { padding: 2px 5px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
	.tableModule td { padding: 3px 5px; font-weight: bold; font-size: 9px; font-family: Verdana, Arial, Helvetica, sans-serif; }

.tableModule col { vertical-align: top; }
	.tableModule .colA { text-align: left; }
	.tableModule .colB { text-align: right; }
	.tableModule .colC { text-align: right; }
	
.tableModule thead th { font-size: 11px; background-color: #CCC; border-bottom: solid 1px #000; font-family: Verdana, Arial, Helvetica, sans-serif; }	

.invTotals { float: left; width: 200px; margin-right: 20px; }
.guideBook { float: left; width: 250px; }
	.guideBook h6 { color: #CCC; }
	
.activeChoice { color: #fc3; font-weight: bold;}



#header  { font-family: Arial, Helvetica, sans-serif; }

#nav { width: 100%; background-color: green; }

#main { width: 100%; padding: 0 6px; background-color: #333; }

#footer { width: 100%; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #FC3; padding: 0 0 5px 0; /*border-top: solid 1px #FC3;*/ }

	.flTag { }
		.flTag em { font-weight: bold; }
	
	.edTag { }
	.edTag a { text-decoration: none; }	
	.edTag a:hover { text-decoration: underline; }

	
/*legacy*/
#menu table {font-family:arial,sans-serif;font-size:11px;color:#000;}
#menu .dealerNavTable {background-color:#fc3;}
#menu .globalNav {font-family:arial,helvetica,sans-serif;font-size:10px;color:#fc3;}
#menu .globalNav a {text-decoration:none;color:#fc3;}
#menu .menu {border:2px solid #000;background-color:#fc3;position:absolute;top:0;left:0;z-index:100;visibility:hidden;}
#menu .flmi {font-size:8pt;font-weight:bold;border-bottom:2px solid #000;padding:5px;cursor:hand;}
#menu .flmiOver {font-size:8pt;font-weight:bold;color:#d90303;background-color:#fcdc7b;border-bottom:2px solid #000;padding:5px;cursor:hand;}
#menu .separator {padding-bottom:7px;vertical-align:middle;}
#menu .navTextoff {font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;cursor:hand;}
#menu .navTextoff a {color:#000;text-decoration:none;}
#menu .navTexton {font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;color:#d90303;cursor:hand;}
#menu .navTexton a {color:#d90303;text-decoration:none;}
#menu .navTextPrint {font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;color:#cb9921;}
#menu .navTextGlobal {font-family:helvetica,arial,sans-serif;font-size:10px;font-weight:bold;padding-left:7px;padding-right:7px;padding-bottom:5px;text-decoration:none;}
#menu .navTextGlobal a {text-decoration:none;}
#menu .navTextGlobal a:hover {text-decoration:underline;}

.pageNickNameLine {font-size:14px;font-weight:bold;color:#fc3;padding-left:13px;white-space:nowrap;}
.pageName {font-size:25px;font-weight:bold;color:#fff;padding-left:13px;padding-right:8px;vertical-align:bottom;white-space:nowrap;}

.whtBgBlackBorder {background-color:#fff;border:1px solid black;}
.effCeeThree {background-color:#ffcc33;}
.nines {background-color:#999;}
.zeroes {background-color:#000;}

#helpDiv {border:1px solid #999;display:none;position:absolute;width:210px;top:0px;left:0px;z-index:50; }
.helpTitle {font-weight:bold;padding:3px; font-size: 11px;}
.helpCell {padding-bottom:3px;vertical-align:bottom;cursor:help;}
.helpTextCell {padding:8px;text-align:justify; font-size: 11px;}
.xCloser { float: right; font-family:verdana,helvetica,arial,sans-serif;font-size:11px;font-weight:bold;padding:2px;border-left:1px solid #96a1bc;border-top:1px solid #96a1bc;border-right:1px solid #333;border-bottom:1px solid #333;background-color:#999;cursor:hand;width:18px;height:18px;text-align:center;vertical-align:middle; }

.yelBg {background-color:#fc3;}
.grayBg3 {background-color:#333;}

.fiftyTwoMain {background-color:#525252;}
.pageFooter {font-size:9px;color:#fc3;font-family:Verdana,Arial,Helvetica;}


/* buttons */
span.b { cursor:pointer;font-size:18px; padding-top:0px;
			background: transparent url('../common/_images/buttons/cap-right.gif') no-repeat right;height:10px; }
	span.b span { text-decoration:none;
					padding-left:10px;padding-right:5px;padding-top:4px;margin-right:2px;
					background-repeat:no-repeat;background-position:left;background-color:transparent;
					background-image:url('../common/_images/buttons/cap-left.gif'); }
	span.b a { position:relative;top:-2px;padding-left:5px;
				color:#112f53;font-family:'Trebuchet MS','Arial Narrow','Arial','Helvetica';
				font-size:12px;font-weight:bold;text-decoration:none; }
	span.b a:hover { color:black;text-decoration:underline; }

	/* # alternate button types */
	span.b span.confirm { padding-left:18px;padding-top:4px;padding-right:10px; height:100%;margin-top:0px;	background-repeat:no-repeat;background-position:left;background-image:  url('../common/_images/buttons/cap-left-confirm.gif');}
	span.b span.cancel { padding-left:18px;background-image:url('../common/_images/buttons/cap-left-cancel.gif'); }
	span.b span.delete { padding-left:18px;background-image:url('../common/_images/buttons/cap-left-delete.gif'); }
	span.b span.add { padding-left:18px;padding-top:4px; height:100%;padding-right:10px;background-image:url('../common/_images/buttons/cap-left-add.gif'); }
	span.b span.wide{width:198px; text-align:center; }
	span.b span.wide a{font-weight:bold; font-size:14px;}


