
body { margin: 0; padding: 0; background-color: #525252; }
img { border: none; }
a { color:#036;}

#dealerBody {  }
#dealerBody #main { padding: 0 12px; background-color: #525252; font-family: Arial, sans-serif; }

#logoBar { position: absolute; left: 138px; top: 41px; white-space: nowrap; }
	#logoBar .edgeLogo { margin-bottom: 10px; }
	
	.helpNumber { font-style: italic; color: #FF0; font-size: 12px; position: absolute; left: 510px; top: 57px;  }
	.helpNumber strong { display: block; color: white; }
	
#leftCol { position: absolute; left: 12px; top: 78px; width: 380px; }
	#leftCol { margin-top: 20px; }


	/*horiz lists*/
	.agingSnap ul { padding: 0; margin: 0; list-style-type: none; }
	.agingSnap li { padding: 0; margin: 0; display: inline; }

	.agingSnap ul.data { background-color: white; }


/* PRICING TOOL ------------------------------------------------------------ */

#pricingToolTile {
	width: 379px;
	height: 55px;
	padding: 5px;
	border: 1px solid #666;
	background: #333 url(/IMT/images/dealerHome/pricingAnalyzer.gif) no-repeat bottom left;
	margin-bottom: 8px;
	position: relative;
}

#pricingToolTitle {
	position: absolute;
	bottom: 3px;
	left: 3px;
}

a#pricingToolLink {
	font-size: 11px;
	text-decoration: none;
	float: right;
	color: #ffcc33;
	font-weight: bold;
}
a#pricingToolLink:hover {
	color: #d90404;
	text-decoration: underline;
}
a#pricingToolHelpLink {
	position: absolute;
	bottom: 3px;
	left: 250px;
}

/* ///
customer center definitions
/// */
#custCtr { position: absolute; left: 408px; top: 98px; }
#custCtr .header { width: 351px; height: 34px; border-left: solid 1px #666; background: url(../images/common/crn-homeCustCenter-tr.gif) no-repeat right top #333; }
	#custCtr .header img { margin-top: 8px; margin-left: 10px; }
	#custCtr .nick { color: white; font-size: 11px; margin: 1px 0 4px 11px; font-weight: bold; text-transform: uppercase; }
#custCtr .body { width: 350px; border: solid 1px #666; border-top: none; background-color: #333; }
	#custCtr .topCap { height: 5px; margin-left: 11px; background: url(../images/common/bkgd-homeCustCenter-gradTop.gif) no-repeat #333; font-size: 1px; }

	#custCtr .inner { font-size: 12px; line-height: 15px; height: 441px; width:329px; margin: 0 10px; border:0px; padding: 10px 15px 5px 10px; overflow-x: auto; overflow-y: scroll; background: url(../images/common/bkgd-homeCustCenter-gradMid.gif) repeat-y top #333; scrollbar-face-color: #999; scrollbar-darkshadow-color: #666; scrollbar-track-color: #525252; scrollbar-3dlight-color: #999; }
	#custCtr h3 { margin: 0 0 2px 0; font-size: 12px; }
	#custCtr a { color: #D90404; text-decoration: underline; }
	#custCtr a:hover { text-decoration: none; }	
		#custCtr .mgmtCtr { border: solid #CCC 1px; padding: 3px 10px; background-color: #EDEDED; margin-bottom: 10px; font-size: 11px; line-height: 13px; color: black; }
			#custCtr .mgmtCtr strong { display: block; text-align: right; /*float: right; clear: both; position: relative; bottom: 18px; left: -5px; font-size: 12px; margin-bottom: -18px;*/ }			
	#custCtr .title { border: solid #CCC 1px; padding: 5px 10px; /*background-color: #EDEDED;*/ margin-bottom: 8px; font-size: 12px; line-height: 14px; color: black;  }
	#custCtr .title p { margin: 0; padding: 0; /*font-weight: bold;*/  }
	#custCtr ul { padding: 5px 0 0 0; margin: 5px 0 0 0; border-top: solid 1px #999; }
	#custCtr li { padding: 0 0 0 10px; margin-left: 15px; vertical-align: top; list-style: url(../images/common/bull-homeCustCenterPlus.gif) outside; }
		#custCtr ul.highPri { border-top: none; padding-top: 0; }
		#custCtr ul.highPri li { list-style: url(../images/common/bull-homeCustCenterExcl.gif); }
			#custCtr ul ul { border: none; margin: 3px 0 0 0; padding: 0; list-style-image: none; }
			#custCtr ul ul li, #custCtr ul.highPri li li { border: none; margin: 0 0 0 30px; padding: 0; list-style-type: square; list-style-image: none; font-size: 11px; line-height: 13px; vertical-align: middle; }
	#custCtr .btmCap { height: 5px; margin-left: 11px; background: url(../images/common/bkgd-homeCustCenter-gradBtm.gif) no-repeat  #333; font-size: 1px; }
	#custCtr .footer { text-align: center; margin-top: 5px; margin-bottom: 10px; }
	#custCtr .footer a { color: #FC3; font-weight: bold; }
		#custCtr .footer .helpTag { font-size: 12px;/* color: #FC3;*/  color: white;margin-bottom: 2px; }
		#custCtr .footer .helpTag strong { /*color: white;*/ color: #FC3; }
		#custCtr .footer .feedbackTag { margin-top: 2px; font-size: 11px; /*color: #FC3;*/ color: white; }


	
/*NEW PURCHASING CENTER STYLES*/

#leftHandColumn {float:left; width:175px;}
#tradeAnalyzerFormControlTable td {color:#ffffff;}
#tradeAnalyzerFormControlTable td.lbl {text-align:right; padding-right:3px;}
#purchasingCenterGroupSelect { text-align:right; padding-right:0px; padding-top:0px;}
#radioAndLocate {background:#333333; valign:top;  padding-right:0px; text-align:right;padding-left:0px;margin-right:6px;margin-top:0px; margin-bottom:4px;float:right;width:245px; }
#radioAndLocate ul{color:#ffffff;list-style:none; padding-top:0px;padding-bottom:3px;margin-bottom:0px;margin-left:-10px;margin-right:0px;}
#radioAndLocate li{display:inline;}
#borderPurchasingCenterTable	{border:1px solid #666666;background:#333333;}
#innerRightTable {padding-top:0px;margin-right:5px; background:#333333;padding-bottom:0px;padding-left:0px;float:right; text-align:right;}
#innerRightTable input {width:145px;}
#makeText {width:145px;}
#purchasingCenterLogoDiv{ margin-bottom:5px;  padding-bottom:5px;}
/*New Management Center Styles--JC*/
ul.managementCenterMenu{list-style-type: square; color:#4a4a4a; list-style-position: inside; margin-left:0px;margin-bottom:0px;}
ul.managementCenterMenu li{ border-bottom:1px solid #4a4a4a; padding-top:3px;padding-bottom:3px;}
ul.managementCenterMenu li.last{ border-bottom:0px; padding-top:3px;padding-bottom:3px; }
ul.managementCenterMenu li a{color:#FC3; text-decoration:none; font-weight:bold;}
ul.managementCenterMenu li a:hover{color:#D90404; text-decoration:underline;}
td.rightMenu{padding:5px 8px 5px 0px; }
td.leftImage{padding:5px 25px 5px 5px;vertical-align:bottom;}

#footerHome {  color: white; font-size: 11px; clear:both;}
	#footerHome span { padding: 0 10px; color: white; }
		#footerHome span#dateUpdated { padding: 0; }

