#body{background-color:#474747; margin:0px; padding:0px;display:block; height:100%; font-family:arial, verdana, sans-serif; font-size:.9em;}
body{margin:0px;background-color:#474747;}
img {border:1px solid black;}
img.button {border:0px;}
#LargePicture{padding:10px; font-size:.8em; color:#cccccc;width:15%;}
#thumbnails{float:right;padding:10px;}
ul{list-style-type:none;}
.picHolder{display:block; padding:3px;}
.hide{visibility:hidden;}
#imageBrowse{position:absolute;background-color:#ffffff;border:1px solid #000000;}
#header{border-bottom:1px solid #999999; background-color:#cccccc; padding:5px; font-weight:bold;color:#474747;}
#uploadBody{padding:5px;}
#imageIndicator{margin-top:3px; display:block; color:#cbcbcb;}
#indicator{}
.right{text-align:right; display:block; margin-top:10px; padding-top:10px; border-top:1px solid #cccccc; margin-bottom:-10px;}
#errorMsg{color:#ff0000; font-weight:bold;}
.rotate{display:block;text-align:right; width:255px;}