.purchasing-body
{
	background-color: #364b68;
}
.purchasing-pageTitle
{
	font-family: Arial;
	font-size: 14pt;
	font-weight: bold;
	color: #ffffff;
}
.purchasing-nickname
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	color: #ffffff;
}
.purchasing-separationLineLight
{
	background-color: #A6AAB3;
}
.purchasing-separationLineDark
{
	background-color: #3E5670;
}
.purchasing-separationLineBlack
{
	background-color: #000000;
}

.purchasing-groupingDescription
{
	font-family: Arial;
	font-size: 13pt;
	font-weight: bold;
	color: #ffffff;
}
.purchasing-headingDescription
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #ffffff;
}
.purchasing-backgroundAlt
{
	background-color: #112F53;
}

.purchasing-footer
{
	font-family: Arial;
	font-size: 7pt;
	font-weight: normal;
	color: #ffffff;
	vertical-align: middle;
	height: 30px;
}



a.purchasing-gridHeading
{
	text-decoration: none;
	color: #ffff00;
}

.purchasing-modelSummaryOdd
{
	background-color: #DDDDDD;
}
.purchasing-modelSummaryEven
{
	background-color: #FFFFFF;
}
.purchasing-modelSummaryGroupingDescription
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #3c5573;
	padding-left:10px;
	padding-top:4px;
}
.purchasing-vehicleMatchEven
{
	background-color: #c5c5c5;
}

.purchasing-vehicleMatchOdd
{
	background-color: #DDDDDD;
}
.purchasing-modelSummaryHeading
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #3c5573;
}

.purchasing-modelSummaryData
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}

.purchasing-modelSummaryData a
{
	color: #3f698f;
	font-weight: bold;
	text-decoration: none;
}


.purchasing-topAndSidesThinBorder
{
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
.dataBorderLeft { border-left:1px solid #444;}
.dataBorderRight { border-right:1px solid #444;}
.dataBorderTop { border-top:1px solid #444;}
.purchasing-footer
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
}