.even {background-color: #ccc;}
.leftAlignPadded {padding-left:30px; text-align:left;}
.headerBorderLeft { border-left:2px solid #444; border-top:2px solid #444; border-bottom:2px solid #444; }
.headerBorderCenter { border-top:2px solid #444; border-bottom:2px solid #444; }
.headerBorderRight { border-right:2px solid #444; border-top:2px solid #444; border-bottom:2px solid #444; }

.dataBorderLeft { border-left:2px solid #444;}
.dataBorderRight { border-right:2px solid #444;}
.dataBorderBottom {border-left:2px solid #444;border-right:2px solid #444;border-bottom:2px solid #444;height:0px }
.firstColumn { padding-left: 20px;}
.controls {
	float: left;
	color: #fff;
	background-color: #525252;
	padding: 5px 10px;
	
	margin-bottom: 10px;
	margin-right: 10px;
}
.controls a {
	color: #fff;
	text-decoration: none;
}
.controls a:hover {
	text-decoration: underline;
	color: #999;
}
.whtBgBlackBorder { clear: both;}