.scorecard-heading
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 9pt;
	padding-bottom:3px;
}
.scorecard-data
{
	padding-left: 5px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
}
.scorecard-numericalData
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 8pt;
}
.scorecard-columnHeading
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 8pt;
	color: #ffffff;
	background-color: #333333;
}