.stdTable-border   /*grayBg1*/
{
	background-color: #999;
}

.stdTable-interior  /*whtBgBlackBorder*/
{
	background-color: #fff;
	border:1px solid black;
}

.stdTable-header  /*grayBg2*/
{
	background-color: #ccc;
}

.stdTable-line-darkGrey /*grayBg4*/
{
	background-color: #666;
}

.stdTable-line-black  /*blkBg*/
{
	background-color: #000;
}

.stdTable-line-dotted  /*blkBg*/
{
	background-color: #000;
}

.stdTable-title
{
    padding:2px;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#000;
    vertical-align:bottom;
}

.stdTable-title-right
{
    padding:2px;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#000;
    text-align:right;
    vertical-align:bottom;
}

.stdTable-title-center
{
    padding:2px;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#000;
    text-align:center;
    vertical-align:bottom;
}

.stdTable-data  /*dataLeft*/
{
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:baseline;
}

.stdTable-data-right  /*dataRight*/
{
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
    vertical-align:baseline;
}

.stdTable-data-hiliteRight  /*dataHliteRight*/
{
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
    vertical-align:baseline;
}

.stdTable-line-dash
{
	background-image:url(../images/common/dash.gif);
}