

.equityAnalyzer .wrapper {
	width: 350px;
	border: solid 1px black;
	background-color: white;
	color: black;
}

.equityAnalyzer .wrapper.f {
	float: left;
}

.equityAnalyzer .wrapper.l {
	float: right;
}

.equityAnalyzer div.b {
	float: right;
}

.equityAnalyzer dd, .equityReport dt {
	padding-bottom: 3px;
}

.equityAnalyzer .wrapper dt {
	width: 80px;
	font-weight: bold;
}

.equityAnalyzer .wrapper.l dt {
	width: 100px;
}

.equityAnalyzer .wrapper.f input {
	width: 30px;
}

.equityAnalyzer .wrapper.f .b input {
	width: auto;
}

/*.equityReport .wrapper div.b { margin-bottom:-5px; }*/	
	.equityAnalyzer .hdr {
	height: 1%;
	clear: both;
	padding-top: 20px;
	margin-bottom: 5px;
}

.equityAnalyzer h4 {
	float: left;
	color: #fc3;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.equityAnalyzer #savedMsg {
	font-weight: bold;
}

.equityAnalyzer .none {
	font-size: 1.1em;
	color: white;
}

/* pricing analyzer */
.pricingAnalyzer #content {
	width: 1000px;
}

.pricingAnalyzer div.b {
	float: right;
}

.pricingAnalyzer .hdr {
	height: 1%;
	clear: both;
	padding-top: 5px;
	margin-bottom: 5px;
}

.pricingAnalyzer h4 {
	float: left;
	color: #013366;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.pricingAnalyzer .dropDowns {
	height: 1%;
	clear: both;
	padding-top: 30px;
	margin-bottom: 5px;
}

.pricingAnalyzer h5 {
	float: left;
	color: #CCC;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

table.data {
	font-size: 100%;
	/*line-height:1;*/font-family: Arial,Helvetica,Verdana,sans-serif;
}

table.data {
	width: 100%;
	background-color: white;
	color: black;
	border: solid 1px black;
	border-collapse: collapse;
}

table.data thead {
	background-color: #CCC;
}

table.data thead th {
	padding: 3px 5px;
	border-bottom: solid 1px black;
	white-space: nowrap;
}

table.data thead th a {
	color: black;
	text-decoration: none;
}

table.data thead th a:hover {
	color: #D90404;
	text-decoration: underline;
}

table.data thead th.sorted a {
	color: #D90404;
	text-decoration: underline;
}

/* -- displaytag class */
	table.data tfoot {
	height: 15px;
	background-color: #CCC;
}

table.data tfoot td {
	border-top: solid 1px black;
}

table.data tbody {
	background-color: white;
}

table.data tbody td {
	border-top: dotted 1px #ccc;
	padding: 3px 5px;
}

/* -- exceptions */
		table.data td.f {
	text-align: right;
}

.tabs {
	height: 32px;
	white-space: nowrap;
	color: #333;
	background: transparent url('../common/_images/bkgds/gradWChecks-tabs.gif') repeat-x;
	font-family: Verdana, Helvetica, sans-serif;
	border-bottom: solid 1px #FC3;
	clear: both;
}

.tabs .inner {
	width: 990px;
}

.tabs a {
	margin: 9px 0 0 15px;
	display: inline;
	float: left;
	text-align: center;
	width: 100px;
}

.tabs a {
	color: #999;
	text-decoration: none;
}

.tabs a:hover {
	color: #FC3;
	cursor: hand;
}

.tabs a h4 {
	font-size: .9em;
	margin: 5px 0 0 0;
	font-style: italic;
	color: #CCC
}

.tabs a.active {
	background-color: #333;
}

.tabs a.active img.lcap, .tabs .active img.rcap {

}

.tabs a.active h4 {
	color: #FC3;
	font-size: 1em;
	padding: 4px 0 0 0;
	margin: 0;
}

img.lcap {
	float: left;
}

img.rcap {
	float: right;
}

