
/* // GLOBAL RULES
///////////////////////////////////////////////////////////// */
html, body, #wrap {
	min-height: 100%;
	height: 100%;
}

#wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

html>body, html>body #wrap {
	height: auto;
}

.printOnly {
	display: none;
}

/* fix for IE - prevent dropdowns showing through */
iframe.selectFix {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	filter: mask();
	width: 500px;
	height: 350px;
}

label.req {
	background: transparent url('../_images/icons/required.gif') no-repeat 2px;
	text-indent: 5px;
}

label.ok {
	background: transparent url('../_images/icons/required-ok.gif') no-repeat 2px;
	text-indent: 5px;
}

label.reqOff {
	background: transparent url('../_images/d.gif') no-repeat;
	text-indent: 5px;
}

/* BKGDS */
body {
	background-color: #FFF;
}

/* WIDTHS */
body {
	margin: 0;
	padding: 0;
	min-width: 960px;
}

/* > sets IE min-page width >>>>> */
		table.forcer {
	width: 100%;
	border: none;
	clear: both;
}

table.forcer img.forcer {
	width: 960px;
	height: 1px;
	display: block;
}

/* BOXES = borders, margins & padding */
p,table,td,th,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,pre,form,blockquote,fieldset,input,select {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/* TEXT = sizes and fonts */
body {
	font-size: 67%;
	/*line-height:1;*/font-family: Arial,Helvetica,Verdana,sans-serif;
}

p,select,input,pre,code,textarea {
	font-size: 1em;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .9em;
}

cite {
	font-style: normal;
}

var {
	color: red;
	font-weight: bold;
}

/*
Arial Narrow,Helvetica,Verdana,Georgia,Lucida Sans,Myriad Web,Myriad Condensed Web,Trebuchet MS,Lucida Console
*/

/* LINKS = colors and decs */
a {
	color: #036;
	text-decoration: none;
}

a:hover {
	color: #036;
	text-decoration: underline;
}

a.toggle {
	display: block;
	padding: 2px 0;
	font-size: 11px;
	color: #696969;
	text-decoration: none;
	font-weight: bold;
}

a.toggle:hover {
	color: black;
	text-decoration: none;
}

a.toggle span {
	font-size: 11px;
	color: #900;
	font-family: Verdana,Arial,sans-serif;
	padding: 0 2px;
	margin-left: 4px;
	vertical-align: middle;
	background-color: #f1f1f1;
	border: solid 2px #999;
}

a.toggle:hover span {
	color: #f1f1f1;
	background-color: #900;
	border-color: black;
}

/* LISTS = horiz and standard */
ul {
	list-style: none;
}

ul li {
	display: inline;
}

ol {
	list-style: square inside;
}

/*ul.default li { display:list-item; list-style:square inside; }*/

/* DEFS = used for label and forms pairs */
dl,dt,dd {

}

dt {
	float: left;
	clear: left;
}

/* FORMS */
form {
	display: inline;
}

fieldset {
	border: none;
}

input,select {
	vertical-align: middle;
}

input.number {
	width: 20px;
}

input.date {
	width: 70px;
}

input.money {
	width: 60px;
}

input.miles {
	width: 55px;
}

input.free {
	width: 120px;
}

input.lot {
	width: 60px;
}

input.notes {
	width: 220px;
}

textarea.notes {
	width: 150px;
}

/* TABLES */
th {
	text-align: left;
	vertical-align: bottom;
}

/* DATA TABLE - like "view deals", "pricing analyzer", etc. */
table.data {
	width: 100%;
	background-color: white;
	color: black;
	border: solid 1px black;
	border-collapse: collapse;
}

table.data thead {
	background-color: #CCC;
}

table.data thead th {
	padding: 3px 5px;
	border-bottom: solid 1px black;
	white-space: nowrap;
}

table.data thead th a {
	color: black;
	text-decoration: none;
}

table.data thead th a:hover {
	color: #D90404;
	text-decoration: underline;
}

table.data thead th.sorted a {
	color: #D90404;
	text-decoration: underline;
}

/* -- displaytag class */
	table.data tfoot {
	height: 15px;
	background-color: #CCC;
}

table.data tfoot td {
	border-top: solid 1px black;
}

table.data tbody {
	background-color: white;
}

table.data tbody td {
	border-top: dotted 1px #ccc;
	padding: 3px 5px;
}

/* -- exceptions */
		table.data td.f {
	text-align: right;
}

/* MISC = mostly co-opted tags */
tt {
	font-family: Verdana,Helvetica,sans-serif;
	font-weight: normal;
	text-decoration: none;
	padding: 0 5px;
}

/* for spacing pipes <tt>|</tt> */
ins {
	display: block;
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
}

/* for updated dates, success messages, waiting icons */





/* CONTAINERS =  */
.wrapper {
	padding: 10px;
	border: solid 1px #636363;
	color: white;
}

/* buttons */
a.b {
	padding: 0 0 3px 0;
	color: #333;
	font: 12px/2 'Trebuchet MS','Arial Narrow','Arial','Helvetica';
	text-decoration: none;
	background: transparent url('../_images/buttons/cap-right.gif') no-repeat right 1px;
}

a.b span {
	padding: 2px 5px 5px 10px;
	margin-right: 5px;
	text-decoration: none;
	background: transparent url('../_images/buttons/cap-left.gif') no-repeat left 1px;
}

/* hide from IE */
	html>body a.b {
	padding-top: 2px;
}

a.b:hover span {
	color: black;
	text-decoration: underline;
}

a.off {
	color: #999;
}

a.save span {
	padding-left: 20px;
	background-image: url('../_images/buttons/cap-leftSave.gif');
}

/* ////////////////////////////////////////////////////////// */



/* icons */
img.pa {
	height: 10px;
	width: 15px;
	margin: 0 5px;
}

/* pricing analzyer */
img.cal {
	height: 14px;
	width: 14px;
}

img.lock {
	height: 20px;
	width: 16px;
}

/* asst. declarations */
.neg {
	color: #D90404;
}

.hilite {
	color: #D90404;
}

.even {
	background-color: #CCC;
}

.hide {
	display: none;
}

.show {
	/*visibility:visible;*/
}

/*span.show,input.show,select.show,img.show { display: inline; }*/
img.lcap {
	float: left;
}

img.rcap {
	float: right;
}

/* lights */
.red {
	color: #900;
}

.yellow {
	color: #FF0;
}

.green {
	color: #0F0;
}

.redSm {
	background-image: url('../_images/icons/light-9x9-red.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.yellowSm {
	background-image: url('../_images/icons/light-9x9-yellow.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.greenSm {
	background-image: url('../_images/icons/light-9x9-green.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.noneSm {
	background-image: url('../_images/icons/light-9x9-none.gif');
	background-position: center;
	background-repeat: no-repeat;
}

.redMed {
	background: transparent url('../_images/icons/light-10x10-red.gif') no-repeat center;
}

.yellowMed {
	background: transparent url('../_images/icons/light-10x10-yellow.gif') no-repeat center;
}

.greenMed {
	background: transparent url('../_images/icons/light-10x10-green.gif') no-repeat center;
}

.noneMed {
	background: transparent url('../_images/icons/light-10x10-none.gif') no-repeat center;
}

.yellowWarn {
	background: transparent url('../_images/icons/warn-14x12-yellow.gif') no-repeat;
}

.redWarn {
	background: transparent url('../_images/icons/warn-14x12-red.gif') no-repeat;
}

.noneWarn {
	background: transparent url('../_images/icons/warn-14x12-none.gif') no-repeat;
}

.greenSuccess {
	background: transparent url('../_images/icons/alert-12x12-success.gif') no-repeat;
}

.display {
	clear: both;
	background-color: white;
	border: solid 1px black;
}

.edit {
	clear: both;
	border: solid 1px #FC3;
}

fieldset.longo {
	width: auto;
	float: right;
	text-align: right;
}

fieldset.longo legend {
	font-weight: bold;
	color: #fc3;
	margin: 0 -5px;
}

fieldset.longo select {
	width: 280px;
	display: block;
}

/* // PRIMARY PAGE CONTAINERS
///////////////////////////////////////////////////////////// */


/* DASH =  */





/* CONTENT = page content */
#content {
	clear: both;
	background: #FFF url(../images/b-body.gif) repeat-x;
	padding: 15px 15px 25px 15px;
}

#content:after {
	height: 0;
	clear: both;
	content: "."; visibility:hidden; display:block;
}

#content div:after {
	height: 0;
	clear: both;
	content: "."; visibility:hidden; display:block;
}

/* TABS =  */
#tabs {
	width: 100%;
	background: transparent url('../_images/bkgds/gradWCap-tab-small-l.gif') no-repeat left 6px;
}

#tabs ul {
	height: 30px;
	background: transparent url('../_images/bkgds/gradWCap-tab-small-r.gif') no-repeat right 6px;
}

#tabs li {
	height: 30px;
	float: left;
}

#tabs a {
	float: left;
	height: 30px;
	text-align: center;
	display: block;
	color: #666;
	text-decoration: none;
}

#tabs h5 {
	/*spacing between pipes=*/ margin: 10px 10px 0 10px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

#tabs h5 span {
	font-weight: normal;
}

/*tab 1 exception*/
	#tabs li.tab1 a {
	margin-left: 10px;
}

/*pipes*/
	#tabs li.vline {
	background: transparent url('../_images/bkgds/line-vert999.gif') no-repeat left 11px;
}

/* active tab */
	#tabs li.active a {
	color: #FC3;
	background: transparent url('../_images/bkgds/cap-tab-small-lActive.gif') no-repeat left top;
	margin-right: 2px;
}

/*hides from IE*/
		head:first-child+body #tabs li.active a {
	margin-right: 4px;
}

#tabs li.active {
	background: transparent url('../_images/bkgds/cap-tab-small-rActive.gif') no-repeat right top;
}

#tabs li.active h5 span {
	color: white;
}

#tabs li.active h5 {
	/*padding inside tab=*/ margin: 10px 6px 0 10px;
}

#tabs h5.none {
	color: #bbb;
}

/* HEADER = dropdown and text navigation */
#header {
	width: 100%;
	min-width: 100%;
	height: 32px;
	background-color: #FC3;
	border-bottom: 1px solid black;
}

#dropnav {
	position: absolute;
	top: 12px;
	left: 15px;
}

#dropnav, #dropnav ul {
	z-index: 2;
	font-size: 11px;
	font-weight: bold;
	vertical-align: top;
}

/* top-level */
	#dropnav li {
	float: left;
	white-space: nowrap;
}

#dropnav ins {
	font-weight: normal;
	padding: 0 7px;
}

#dropnav a {
	display: block;
	padding-bottom: 10px;
	text-decoration: none;
	color: black;
}

#dropnav .on a {
	color: #D90404;
}

#dropnav .off a {
	color: #CB9122;
}

/* sub-level */
		#dropnav li ul {
	position: absolute;
	left: -999px;
	top: 20px;
	border-bottom: 2px solid #000;
}

#dropnav li:hover ul, #dropnav li.over ul {
	left: auto;
}

#dropnav li ul a {
	display: block;
	width: auto;
	padding: 5px 5px;
	border: 2px solid #000;
	border-bottom: none;
	background-color: #FC3;
}

#dropnav .on ul a {
	color: black;
}

/* widths */ 
			#dropnav li ul.tools, #dropnav li ul.tools a {
	width: 190px;
}

#dropnav li ul.reports, #dropnav li ul.reports a {
	width: 210px;
}

#dropnav li ul.redist, #dropnav li ul.redist a {
	width: 150px;
}

#dropnav li ul.dept, #dropnav li ul.dept a {
	width: 115px;
}

#dropnav li ul.print, #dropnav li ul.print a {
	width: 100px;
}

/* colors */
			#dropnav li li a:hover {
	color: #D90404;
	background-color: #FCDC7B;
}

#header .textnav {
	position: absolute;
	top: 12px;
	right: 15px;
	margin: 0;
}

#header .textnav a {
	color: #036;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

#header .textnav a:hover {
	text-decoration: underline;
}

#popup #header {
	width: 100%;
	min-width: 100%;
	height: 35px;
	/*background: #333 url('../_images/bkgds/checks-gray.gif');*/ background-color: #CCC;
	padding: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#popup #header img.logo {
	position: absolute;
	top: 6px;
	left: 15px;
	margin: 0;
}

#popup #header ins {
	color: white;
}

/* TITLE = dealer name and page title */
#title {
	width: 100%;
	height: 52px;
	color: white;
	background:#EEE url(../images/b-title.gif) bottom left repeat-x;
	border-bottom: solid 1px #003;
	padding: 5px 0;
}

#title h1,#title h3 {
	margin-left: 15px;
	color: #3e466a;
}

#title h3 {
	color: #637492;
}

#title img.help {
	margin-left: 10px;
	vertical-align: middle;
}

/* abs positioned in header */
	#titleBtns {
	position: absolute;
	top: 65px;
	right: 10px;
}

/* FOOTER = security and legal */
#footer {
	width: 100%;
	height: 18px;
	position: absolute;
	bottom: 0;
	clear: both;
	font-size: .9em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #333;
	background-color: #FFF;
	border-top: solid 1px #003;
	padding-top: 5px;
}

#footer em {
	padding-left: 10px;
	font-weight: bold;
}

#footer .disc {
	font-size: .9em;
	float: right;
	margin-right: 40px;
}

#footer a {
	color: #FC3;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

/* ////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////// */
/* The main calendar widget.  DIV containing a table. */
/* ////////////////////////////////////////////////// */

div.calendar {
	position: relative;
}

.calendar, .calendar table {
	border: 1px solid #556;
	font-size: 11px;
	color: #000;
	cursor: default;
	background: #eef;
	font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
  background: #778 url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #778;
  color: #fff;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #bdf;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #aaf;
  color: #000;
  border: 1px solid #04f;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #77c;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #acf;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}
/* ////////////////////////////////////////////////// */
/**LIGHT BOX STYLES**/

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#333;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}



/* ?????????????????????????????????????????????? 
			REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR
??????????????????????????????????????????????? */



/* help */
div.help { width: 210px; 
			position: absolute; left:0; top:0; z-index:10;
			border: solid #CCC 1px; background-color: white; }
img.help { cursor:help; }
	div.help h4 { border: solid black 1px; border-bottom: none; padding: 5px 10px; margin: 0; font-size: .9em; background-color: #FC3; }
	div.help .text { border: solid black 1px; padding: 10px 10px 5px 10px; }
	div.help p { line-height: 1.4em; font-size: .9em; margin: 0 0 5px 0; }
	div.help a.close { float: right; }

	