﻿@model Wanamaker.WebApp.Areas.PricingSummary.Models.Filters
<div id="BarChartHeader">
    <span class="dropdownlabels">Show: @Html.DropDownListFor(m => m.InventoryType, Model.InventoryType, new { @class = "selectList selectList-color header-title-select", @id = "showsSelectBox" })</span>
    <span class="dropdownlabels">Current Inventory by: @Html.DropDownListFor(m => m.CurrentInventoryType, Model.CurrentInventoryType, new { @class = "selectList selectList-color header-title-select", @id = "currentSelectBox" })</span>
</div>
<div id="chart-container" class="chart-property">

    <div id="invBarChart" style="height: 260px;width: 658px; margin-left:26px;margin-right:26px;padding-top:10px">
    </div>
<div class="chart-stats">
    <span class="lbl-footer"><label id="unitsInStock">@Model.UnitsInStock </label> Units In Stock</span>
    <span class="lbl-footer"> <label id="avgInternetPrice">@string.Format(new System.Globalization.CultureInfo("en-US"), "{0,0:C0}", @Model.AvgInternetPrice)
        </label> Avg Internet Price</span>
    <span  class="lbl-footer">
       <label id="marketAvg"> @string.Format("{0}%", @Model.MarketAvg) </label> Market Avg
    </span>
    <span  class="lbl-footer"><label id="marketDaysSupply">@Model.MarketDaysSupply  </label> Market Days Supply</span>
</div>
<div id="clickedBarInfo">
</div>

</div>