﻿@model Wanamaker.WebApp.Areas.PricingSummary.Models.PriceView
@using Wanamaker.WebApp.Areas.PricingSummary.Models
@using System.Linq
@using System.Text
<div class="summary-main">
    <div class="dealer-info">
        <span class="dealer-name">@Model.OwnerName</span>
    </div>
    <div class="inventory-graph">
        @Html.Partial("BarChartPartialView", Model.FilterOptions)
    </div>
    <div class="inventory-grid">
        @Html.Partial("InventoryGridPartialView")
    </div>
</div>
@Html.Hidden("GreenValue1", Json.Encode(Model.GreenValue1))
@Html.Hidden("GreenValue2", Json.Encode(Model.GreenValue2))
@Html.Hidden("PriceSummaryInput", Json.Encode(Model.Input))
@Html.Hidden("ColumnIndex")
@Html.Hidden("PriceSummaryUrl", @Url.Action("UpdatePricingSummary", "PriceSummary"))
@Html.Hidden("SaveInertnetPriceUrl", @Url.Action("SaveInternetPrice", "PriceSummary"))
@Html.Hidden("SaveTrimUrl", @Url.Action("SaveTrim", "PriceSummary"))
@Html.Hidden("Index", @Url.Action("Index", "PriceSummary"))
@section scripts
{
    <script type="text/javascript"> 
    $(document).ready(function() {
    var chartOptions = @Html.Raw(Json.Encode(@Model.FilterOptions));
    var chart = Max.PriceSummary.Highchart("#invBarChart", chartOptions.YaxisValues, chartOptions.UnitsInStock, chartOptions.XaxisText);
    
    var grid = new InventoryGrid();
    grid.CreateInventoryGrid(@Html.Raw(Json.Encode(@Model.GridData)),@Model.BusinessUnitId);
    var updateSummary = new UpdateSummary();
    $('#btnSearch').click(function() {
        //debugger;
        updateSummary.UpdateForInventoryFilter();

    });
    $('#showsSelectBox').change(function() {
        //debugger;
        updateSummary.Update();
    });
    $('#currentSelectBox').change(function() {
        //debugger;
        if ($('#currentSelectBox').val() == "N") {
            //If Mode=N i.e. All Inventory then hide graph
            //debugger;
            updateSummary.UpdateForAllInventory();
        } else {
            //debugger;
            updateSummary.Update();
        }
    });

     $('#exportInventory').click(function () {
        $('#ExportExcel').submit();
    });

    $('#duplPriceSummaryInput').val($('#PriceSummaryInput').val());
   
   
   //set column index and table header for the first time
    if ($('#currentSelectBox').val() == "R") {
            $('#ColumnIndex').val(2);
            $('#lblRiskType').text('Overpricing Risk by Age');
        }
        else if ($('#currentSelectBox').val() == "A") {
            $('#ColumnIndex').val(0);     
            $('#lblRiskType').text('Due for Repricing by Risk');                   
        }
    
    $("#firstlooklogo").html('<img id="imgfirstlooklogo" alt="Firstlook" src="/merchandising/Public/Images/fl-logo-white-86x6.png"/>');
});



function FormatNumber(number) {
    return (number.toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ","));
}
    </script>
}
