﻿
@using (Html.BeginForm("ExportInventories", "Pricesummary", FormMethod.Post,
                                      new { Id = "ExportExcel" }))
{
<div class="inv-header">
<input type="hidden" id="duplPriceSummaryInput" value="7" name="duplPriceSummaryInput" />
<div class="risk-type"><label id="lblRiskType"></label>

</div>
<div id="searchboxdiv">
<span class="inventoryheaderspan">Find: <input id="inventoryFilter" type="text" placeholder="Stock # or Year, Make, Model" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Stock # or Year, Make, Model'" /> <input type="button" id="btnSearch" class="search-button" value="GO"/> </span>
<span class="inventoryheaderspan"><a id="exportInventory" class="export-link">Export</a></span>
</div>
</div>
<div id="inventoryTableDiv">
  <div id="callout"><span class="close-mark">x</span><span class="click-to-change color-size">Click to Change</span><span class="alter-internet-price color-size"> Your Internet Price</span></div>
 <table id="invGrid">   </table>


</div>
}