﻿@using System.Web.Optimization
@using System.Web.Mvc.Html
@*@Model Wanamaker.WebApp.Areas.PricingAnalysis.Models.CoreView*@

<!DOCTYPE html>
<html lang="en">
    <head>
       <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8" />
        <title>@Model.PageTitle</title>
        @Styles.Render("~/content/css")
        @Styles.Render("~/content/jqueryui_css")
        @Styles.Render("~/content/pricing_css")
    </head>
    <body>
    
    <div id="Page" class="clearfix">
        <div id="Header" class="clearfix">@Html.Partial("~/Areas/Dashboard/Views/Shared/Header.cshtml")</div>
        @*@Html.Partial("WorkflowHeader")*@
        @Wanamaker.WebApp.ProfilerSetting.RenderIncludes()
                @RenderBody()
        </div>
         

     @*   @Html.Partial("_Masthead")
        <div>
            @RenderBody()
        </div>*@

        @Html.Partial("_Footer")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/pricing")
        @Scripts.Render("~/bundles/CTRGraph")
        @Scripts.Render("~/bundles/PWS")
        @Scripts.Render("~/bundles/crazyegg")
        @RenderSection("scripts", required: false)
    </body>
</html>
