/* BKGDS */
body { background-color: #333; }

body#popup,body#iframe { background-color:#525252; }
	#popup .performancePlus table.forcer img.forcer { width:700px; }
		
		
/* fix for IE - prevent dropdowns showing through */
iframe.selectFix { display:none;position:absolute;top:0;left:0;z-index:1;filter:mask();width:500px;height:350px; }

/* LINKS = colors and decs */
a { color:#036;text-decoration: none; }
a:hover { color:#036;text-decoration: underline; }

		.performancePlus table.forcer { width:100%; border:none; clear:both; }
		.performancePlus table.forcer img.forcer { width:700px; height:1px; display:block; }



/* asst. declarations */
img.lcap { float:left; }
img.rcap { float:right; }


/* // ERRORS
///////////////////////////////////////////////////////////// */
.error p { color:#fc3; }
body.error { background-color:#525252; }
.error #menu { height:40px;background-color:transparent; }
.error #menu,.error #header { background-color:transparent; }
.error #header { border:none;height:auto; }
.error #menu img.logo { position: absolute; top: 6px; left: 15px; margin: 0; }




/*
///	STANDARD CONTAINERS
*/

#loading {
	position: absolute;
	display: none;
	z-index:1000;
	border:1px solid black;
	background-color:white;
	padding:10px;
	width:50px;
	height:20px;
	text-align:center;
	font-weight:bold;
}
#loading img { display: block; }

.wrapper { border:solid 1px #636363;color:white; }


	/* DATA TABLE - like "view deals", "pricing analyzer", etc. */
table.data { border-color:black; }
	.data thead { background-color:#CCC; }
	.data th { padding:3px 5px;border-bottom:solid 1px black;white-space:nowrap; }
		.data th a { color:black;text-decoration:none; }
		.data th a:hover { color:#D90404;text-decoration:underline; }
		.data th.sorted a { color:#D90404;text-decoration:underline; } /* -- displaytag class */
	.data tfoot { height:15px;background-color:#CCC; }
		.data tfoot td { border-top-style:solid; }
	.data tbody { background-color:white; }
	.data td { border-style:dotted;padding:3px 5px; }
/* -- exceptions */
		.data td.f,.data th.f { text-align:right; }








/*
///	COMMON MODULES
*/
/* inventory information */
#invInfo { font-size:.9em; height: 90px; width: auto; padding: 5px 5px; border: solid 1px #666; font-family: Verdana, Helvetica, sans-serif; }
	#invInfo h5 { border-bottom: solid 1px #666; margin: 0 0 2px 0; color: #CCC; }
	#invInfo ol { color: #CCC; margin: 0; }
	#invInfo ol li { padding-top:2px; }
	#invInfo strong { color: white; }

/* book vs. cost */
#bookVal { font-size:.9em; height: 90px; width: auto; padding: 5px 5px; border: solid 1px #666; }
	#bookVal table { margin-bottom: 5px; }
	#bookVal thead th, #bookVal thead td { border-bottom: solid 1px #666; padding: 0; margin: 0; }
	#bookVal th, #bookVal td {font-family: Verdana, Helvetica, sans-serif; }
	#bookVal h5 { margin-bottom: 0; color: #CCC; }
	#bookVal thead th { text-align: left; }	
	#bookVal thead td { padding-left: 10px; font-weight: normal; color: #CCC; text-align: center; }
	#bookVal tbody.condition td { font-weight: normal; color: #CCC; text-align: center; }
	#bookVal tbody th { font-weight: normal; color: #CCC; text-align: left; }
	#bookVal tbody td { text-align:right;padding: 2px 0 0 10px; font-weight: bold; color: white; }
	#bookVal cite { font-style: normal; color: #CCC;  }












/* ?????????????????????????????????????????????? 
			REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR REFACTOR
??????????????????????????????????????????????? */



/* help */
div.help { width: 210px; color: black;
			/*position: absolute; top:0px; left:0px; z-index:10;*/
			border: solid #CCC 1px; background-color: white; }
img.help { cursor:help; }
	div.help h4 { border: solid black 1px; border-bottom: none; padding: 5px 10px; margin: 0; font-size: .9em; background-color: #FC3; }
	div.help .text { border: solid black 1px; padding: 10px 10px 5px 10px; }
	div.help p { line-height: 1.4em; font-size: .9em; margin: 0 0 5px 0; }
	
div.help p a { text-decoration:underline; }
	div.help a.close { float: right; }



		
/* // PRIMARY PAGE CONTAINERS
///////////////////////////////////////////////////////////// */

/* BODY = page content */
#content { /*margin-bottom:3.5em;*/ }




/* TABS =  */
#tabs { width:100%;
		background:transparent url('../_images/bkgds/gradWCap-tab-small-l.gif') no-repeat left 6px; }
#tabs ul { height:30px; background:transparent url('../_images/bkgds/gradWCap-tab-small-r.gif') no-repeat right 6px; }
#tabs li { height:30px; float:left; }
#tabs a { float:left; height:30px; text-align:center; display:block; color:#666; text-decoration:none; }
#tabs h5 {  /*spacing between pipes=*/ margin:10px 9px 0 9px; font-family:Verdana,Arial,Helvetica,sans-serif; }
#tabs h5 span { font-weight:normal; }
	/*tab 1 exception*/
	#tabs li.tab1 a { margin-left:5px; }
	/*pipes*/
	#tabs li.vline { background:transparent url('../_images/bkgds/line-vert999.gif') no-repeat left 11px; }
	/* active tab */
	#tabs li.active a { color:#FC3; background:transparent url('../_images/bkgds/cap-tab-small-lActive.gif') no-repeat left top; margin-right:2px; }
		/*hides from IE*/
		head:first-child+body #tabs li.active a { margin-right:4px; }
	#tabs li.active { background:transparent url('../_images/bkgds/cap-tab-small-rActive.gif') no-repeat right top; }
	#tabs li.active h5 span { color:white; }
	#tabs li.active h5  { /*padding inside tab=*/ margin:10px 6px 0 10px; }
#tabs h5.none { color:#999; }

/* MENU = dropdown and text navigation */
#menu { width:100%; min-width:100%; height:32px; 
			background-color:#FC3; border-bottom:1px solid black; }
	#dropnav { position:absolute; top:12px; left:15px; }
	#dropnav, #dropnav ul { z-index:2;font-size:11px; font-weight:bold; vertical-align:top; }
	/* top-level */
	#dropnav li { float:left; white-space:nowrap; }
	#dropnav ins { font-weight:normal; padding:0 7px; }			
	#dropnav a { display:block; padding-bottom:10px; text-decoration:none; color:black; }
	#dropnav .on a { color:#D90404; }
	#dropnav .off a { color:#CB9122; }
		/* sub-level */
		#dropnav li ul { position: absolute; left:-999px; top:20px; border-bottom:2px solid #000; }
		#dropnav li:hover ul, #dropnav li.over ul { left:auto; } 
		#dropnav li ul a { display:block; width:auto; padding:5px 5px; border:2px solid #000; border-bottom:none; background-color:#FC3; }
		#dropnav .on ul a { color:black; }
			/* widths */ 
			#dropnav li ul.tools, #dropnav li ul.tools a { width:190px; }
			#dropnav li ul.reports, #dropnav li ul.reports a { width:210px; }
			#dropnav li ul.redist, #dropnav li ul.redist a { width:150px; }
			#dropnav li ul.dept, #dropnav li ul.dept a { width:115px; }
			#dropnav li ul.printmenu, #dropnav li ul.printmenu a { width:190px; }
			/* colors */
			#dropnav li li a:hover { color:#D90404; background-color:#FCDC7B; }
	#menu .textnav { position: absolute; top:12px; right:15px; margin:0; }
	#menu .textnav a { color:#036; font-size:10px; font-weight:bold; text-decoration:none; }
	#menu .textnav a:hover { text-decoration:underline; }
	
	#popup #menu { width: 100%; min-width: 100%; height: 35px; /*background: #333 url('../_images/bkgds/checks-gray.gif');*/ background-color: #333; padding: 0; border-bottom: 1px solid black; border-top: 1px solid black; }
		#popup #menu img.logo { position: absolute; top: 6px; left: 15px; margin: 0; }
		#popup #menu ins { color: white; }	

/* HEADER = dealer name and page title */
#header { height:48px;
			color: white; background-color:#525252; 
			border-bottom:solid 1px #FC3;
			padding:5px 0; }
#header h1,#header h3 { margin-left:15px; }
#header h3 { color:#FC3; }
#header img.help { margin-left:10px; vertical-align:middle;}
	/* abs positioned in header */
	#titleBtns { position:absolute; top:65px; right:10px; }


/* FOOTER = security and legal */
#footer { padding:5px 0;color:#FC3;background-color:#525252;border-top:solid 1px #FC3; }
	#footer em { font-style:italic; }
	#footer cite.disc { float:right;margin-right:10px;font-size:.9em; }
	#footer a { color:#FC3;text-decoration:none; }
    #footer a:hover { text-decoration:underline; }

    /*CONFIRM BOX*/
 #confirmBox .header{padding:0px 0px 0px 25px;}
 #confirmBox .header img{margin-bottom:-4px;}
 #confirmBox .body{color:#ba0001; background-color:#fffedf;padding:8px 8px 0px 8px;  border-top:1px solid black; border-right:1px solid black; border-left:1px solid black;}
 #confirmBox .buttons{padding:5px 5px 5px 5px;  background-color:#fffedf;border-bottom:1px solid black; border-right:1px solid black; border-left:1px solid black;text-align:center;}
  	#confirmBox .buttons span.b a{padding-left:2px;
				color:#3d3f3e;font-family:Arial,Helvetica, sans-serif;
				font-size:10px;font-weight:normal;text-decoration:none;text-transform:uppercase;}
    #confirmBox .buttons span.b a:hover { color:black;text-decoration:none; }
    input.red{color:#ba0001;}
    
    
   /*Stocking reports*/
.stockingReports #tabs li{font-weight:bold; padding:0px 10px 0px 10px; }
.stockingReports #tabs li a{ height:15px; margin-top:10px; border-left:1px solid #999999;padding-left:10px;}
.stockingReports #tabs li.active a { color:#FC3;padding:8px 10px 8px 11px; margin-top:0px; border:0px;background:transparent url('../_images/bkgds/cap-tab-small-lActiveDark.gif') no-repeat left top; margin-right:2px; }
.stockingReports #tabs li.first a {border:0px; padding-left:10px; }
.stockingReports #tabs li.after a{border:0px; padding-left:7px;}
.stockingReports #tabs li.active { background:transparent url('../_images/bkgds/cap-tab-small-rActiveDark.gif') no-repeat right top; padding-top:0px; padding-right:0px;}
.right_buttons{ margin:10px 0px 10px 0px;}
.firstlookButtons{display:none;}
.stockingReports tr.odd td{ background-color:#ffffff; }
.stockingReports tr.even td{ background-color:#dedede; }
.analyticsResults{ color:#fc3;   background-color:#4d4d4d;border:1px solid black;}
.analyticsResults .title{ bottom:-15px; }
.analyticsResults table{  color:#000000;  }
.analyticsBody .filter{color:#cccccc;}
.analyticsBody .filter a{color:#5dbf00; text-decoration:none;}
.analyticsBody .filter a:hover{color:#66e71e; text-decoration:none;}
.analyticsResults table td.groupTitle a{}
.analyticsResults table td.segmentTitle{color:#ffffff; border:0px;}
	.analyticsResults table td.segmentData{color:#ffffff; border:0px;}
.analyticsResults table td{border-bottom:1px solid #000000; border-right:1px solid black;}
.analyticsResults table td a{color:#000000;}
.analyticsResults table td a:hover{color:#000000;text-decoration:underline;}
.analyticsResults table .groupTitle, .analyticsResults table .groupTitleData{   border-left:1px solid black;  border-top:1px solid black; background-color:#908282;}
.analyticsResults table .groupTitleData{border-left:0px;}
.analyticsResults table .groupTitle a{color:#ffffff; }
	.analyticsResults table .groupTitle a:hover{color:#ffffff; text-decoration:underline; }
.analyticsResults table .category{border-left:1px solid black;}

.analyticsResults table thead th.col_title{  color:#fc3;  }
