
body { background-color: #525252; }

/* HEADER = dropdown and text navigation */
#header { width: 100%; height: 35px; background: #333 url('../_images/bkgds/checked-gray.gif');
			padding: 0; border-bottom: 1px solid black; border-top: 1px solid black; }

#header img.logo { position: absolute; top: 6px; left: 15px; margin: 0; }

/* TITLE = dealer name and page title */
#title { width: 100%; height: auto; background-color: transparent; border: none; padding: 5px 0; }
	#title h1 { margin-left: 15px; margin-top: 10px; }
	#title h3 { display: none; }
	#title h1 img.help { margin: 0 0 4px 10px; vertical-align: bottom; }

#content { color: #FC3; font-weight: bold; }
	#content .button { text-align: center; margin-top: 30px; }

	