/* 	FIRST LOOK (FL) style sheet
	This file defines styles for the Search and Acquisition product
///////////////////////////////////////////////////////////// */

/* GLOBAL OVERRIDES */
body { width:100%;background-color:white; }
#wrap { width:100%; }
#iframe { background-color:#152d4f; }
#iframe .default { background-color:white; }


.rangeSelectPopup{ 
	z-index:5001; position:absolute;  border:1px solid #3f4d6c; color:#3f4d6c; width:240px; padding:5px; vertical-align:middle;
height: 25px;
text-transform:none; background:#eceef4 url('../_images/bkgds/grad-AEBECAtoECEEF4-26h.gif') repeat-x;
	}
.rangeSelectPopup .hideSelect{width:235px;height:25px;z-index:-1;}
.rangeSelectPopup span{padding:3px 3px 3px 3px;float:right;}
.rangeSelectPopup span img.drop{padding-left:2px;}
.rangeSelectPopup .inner{padding-top:3px;padding-bottom:3px;}
	
a.toggle { color:#b9bfcb;text-decoration:none; }
a.toggle:hover { color:black;text-decoration:none; }
	a.toggle span { color:#b9bfcb;background-color:transparent; border:solid 2px #b9bfcb;text-decoration:none; }
	a.toggle:hover span { color:#f1f1f1; background-color:transparent; border-color:white;text-decoration:none; }

/*
///	utility styles
*/
.closed { display:none; }
#wrap .distance a { text-decoration:none !important; }
#wrap .distance a:hover { color:#3f4d6c; }
#wrap .dynSelect a { text-decoration:none !important; }
#wrap .dynSelect a:hover { color:#3f4d6c; }

/*
///	backgrounds
*/
div.odd,div.even { background-position:bottom;background-repeat:repeat-x; }
div.even { background-color:white;background-image:url('../_images/bkgds/grad-FFtoE8E8EA-16h.gif'); }
div.odd { background-color:#f2f2f2;background-image:url('../_images/bkgds/grad-F2toDBDBDD-16h.gif'); }

.odd { background-color:#f2f2f2; }
.even { background-color:#dedede; }

.off { color:#999; }
.off:hover { color:#999; }

a.off { color:#999; }
.right { float:right; }
.left { float:left; }
.vin { text-transform:uppercase; }

select { vertical-align:middle;margin-bottom:1px; }
input { vertical-align:middle; }

.light_red { background-image:url('../_images/icons/light-16x16-red.gif'); }
.light_yellow { background-image:url('../_images/icons/light-16x16-yellow.gif'); }
.light_green { background-image:url('../_images/icons/light-16x16-green.gif'); }
.light_none { background-image:url('../_images/d.gif'); }




/* // COMMON MODULES
///////////////////////////////////////////////////////////// */

.carfax { padding-left:80px;margin-bottom:2px;background:transparent url('../_images/logos/carfax-70x14.gif') no-repeat left 3px;text-align:left; }
	.carfax select { width:140px; }
.autocheck { padding-left:82px;height:20px;background:transparent url('../_images/logos/autocheck-66x12-transForLightBkgd.gif') no-repeat 5px top;text-align:left; }
	.autocheck a { color:#04539e;display:block;margin-top:2px;text-transform:uppercase;text-decoration:underline; }


/*
///	page/module-specific overrides
*/

.insights { text-transform:uppercase;padding-left:23px;background-repeat:no-repeat; }
	.insights h5 { float:left;color:black;margin-right:5px; }
	.insights ul { color:#900; }
	
	
/*.insights ul li { display:block;float:left;/*margin-left:5px;padding-left:10px;background:url('../_images/bullets/square-5x5-A9.gif') no-repeat left 4px; }
.insights li.first { padding-left:5px;background-image:none; }*/
	
	.insights ul li { margin-bottom:1px;padding-right:5px; }	
	.insights ul li img { vertical-align:middle;padding-right:3px; }

	
	
/* performance summary */
#perfSummary .insights { width:340px;margin:10px 0 5px 15px;padding-bottom:3px; }
#perfSummary .services { width:auto;float:right;margin:5px 10px 0 0; }

#perfSummary table.data td { text-align:center; }
#perfSummary .head { padding-top:2px; }
	#perfSummary .head img { margin-bottom:-1px; }
	#perfSummary a.trimToggle { color:#58647c;margin-left:20px; }
	#perfSummary a.viewDeals { color:#036;text-transform:uppercase;float:right;text-decoration:none;font-size:.9em; }
		#perfSummary a.viewDeals:hover,#perfSummary a.trimToggle:hover { color:black;text-decoration:underline; }

	#perfSummary table.data tbody td { font-weight:bold;font-size:1.2em; }

	
/* naaa auction values */
#naaaAuction .head h5 { margin-top:4px; } /* pushed down to line up with select elements */

#naaaAuction a.auctionReportLink,#naaaAuction .foot a { color:#01447b !important;text-decoration:underline; } 
	#naaaAuction tbody th { width:105px; }
	#naaaAuction tbody td { width:14%; } 
	#naaaAuction tbody td.similar { width:35%; }

	#naaaAuction .foot { float:right;position:relative;top:-19px;margin-bottom:-20px; }	
	#naaaAuction tfoot a { margin-right:90px; }

	

#iframe .default h4 { margin-bottom:5px; }
#iframe .default p { color:#333; }

	
	
	

/* // GROUPS
/////////////////////////////////////////////////////////////
These high-level ".group" & ".module" (more for independent tiles) declarations do little more than define common characteristics. Changing any of these will have consequences for many pages.
*** SEE overrides for specific groups to implement individual tweaks.
	".group" can hold these containers	=
		.head 			= the first-level grouping of results, either by model or by market
		.head_sub 		= holds any related subgroups (i.e. "model years" relate to models and are grouped together)
		.body			= the second-level grouping of results, again either by model or by market
		.body_sub		= holds any related subgroups
		.vehicles		= the container for any vehicle groupings (most commonly by years with one table header for all groups)
		.vehicles_sub 	= the container for vehicle line items
		.foot 			= bottom-most container for relevant information (diclaimers, etc.)		
	NOTE: Most often, the .head, .body and .vehicles will hold only the header for that group (i.e. name of Marketplace, vehicle TABLE headers, module title ...); .*_sub groups hold either related group options or group line items (i.e. vehicle line items, model years, trim lists ...) 
	All of these containers are on the same level, none are nested inside any other. The divisions here serve mainly for formatting - ".head" containers usually have a blue shaded background, ".body" containers have a gray shaded background. Since the order of these groupings can change the containers are used to apply the appropriate styles for a specific view.
*/
.group,.module { height:1%;clear:both;text-align:left; }
.group { border:solid 1px #3a4f68; }
	.group:after,.module:after { height:0;clear:both;content:".";visibility:hidden;display:block; }

/* head definitions */
.head,.head_sub { height:1%;padding:5px 15px; }
	.head:after,.head_sub:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
	.head h3,.head h4,.head h5 { float:left;text-transform:uppercase; }
	.head h5.noFloat{float:none; clear:both; display:block; margin-bottom:5px;}
	.head a { text-decoration:underline; }
	.head a.toggle { float:right;text-decoration:none; }
		.head h3 a { text-decoration:none; } /* mainly perf plus link */
		.head h3 a:hover { text-decoration:underline; }
.group .head { color:white;background:#4c6a97 url('../_images/bkgds/grad-496795to16356A-22h.gif') repeat-x bottom; }
	.group .head a { color:#8297a7; }
	.group .head a:hover { color:white; }
		.group .head h3 a { color:white; }

.module .head { padding-bottom:0; }
	.module .head a { color:#58647c; }
.module .head fieldset { float:right;white-space:nowrap; }
	.module .head fieldset label { font-size:.9em;margin-left:5px; }

.body,.body_sub,.vehicles { height:1%;padding:5px 15px; }
	.body:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
	.body h3 { color:black; }
	.body dl { float:left; }
		.body dl:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
	.body a { color:black;text-decoration:underline; }
	.body a:hover { color:#323d5c; }
		.body h3 a { text-decoration:none; }
		.body h3 a:hover { text-decoration:none; }
		
.vehicles h3 { color:#323d5c; }

		
.foot { height:1%;padding:0 15px; }
	.foot:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
	.foot cite { font-size:.9em; }
	
/* // LINKS = other pages in S&A */
.intra_links { float:right;text-transform:uppercase; }
	.intra_links a { color:#3d5e78; }
	.intra_links tt { color:#eee; }

/* // PRIMARY PAGE CONTAINERS
///////////////////////////////////////////////////////////// */

/* HEADER = page title & links */
#header { color:white;height:80px;background:#4c6a97 url('../_images/bkgds/grad-496795to16356A-74h.gif') repeat-x bottom;text-align:center; }
	#header img.logo { position:absolute;left:20px;top:15px; }
	#header h5 { font-size:1.1em;position:absolute;top:14px;right:20px;text-transform:uppercase; }	
	#header h2 { padding-top:15px;font-weight:normal;text-transform:uppercase; }	
	#header a { text-decoration:underline; }
		#header a.backLink { color:white;position:absolute;top:30px;right:20px; }
		#header a.profileLink { color:#5689ac;position:absolute;top:46px;right:30px; }


#popup #header,#iframe #header { height:50px;background-image:none;background-color:#374a68;border-bottom:solid 1px #95adc7; }
	#popup #header img.logo,#iframe #header img.logo { position:absolute;left:20px;top:12px; }	
	#popup a.closeLink,#header a.closeLink { color:white;position:absolute;top:26px;right:20px; }
		
/* FOOTER = copyright */
#footer { color:#999;text-indent:20px;padding:5px 0 10px 0; }
	#popup #footer,#iframe #footer { text-indent:0;text-align:right;color:#e6feff;border-top:solid 1px #95adc7;padding:5px 0; }
	#iframe .default #footer { text-align:left;color:#999;text-indent:20px;border:none; }
	#popup #footer cite,#iframe #footer cite { padding-right:15px; }
	
/* BODY = used only to provide gradient background under header or nav */
#body { height:1%;background:url('../_images/bkgds/grad-greyToWhiteWithBlueTop.gif') repeat-x;padding:20px 15px 30px 15px; }

	#popup #body,#iframe #body { background-image:none; }
	#iframe .default #body { padding-top:20px; }

#search:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
#right:after { height:0;clear:both;content:".";visibility:hidden;display:block; }



/* NAV = market and distance selections */
#nav { height:1%;text-align:center;border-top:solid 3px white;background:#f1f1f1 url('../_images/bkgds/grad-flNav.gif') repeat-x bottom; }
	#nav:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
	#nav .left { width:65%;float:left;padding-right:20px;text-align:right;border-right:solid 1px #888899; }
	#nav .right { float:left;padding-left:20px;text-align:left; }

#confirm_float .submit{text-align:center;}


#tabs {clear:both;height:1%;background:#fcfcfc url('../_images/bkgds/grad-FFtoE8E8EA-16h.gif') repeat-x bottom;border:solid 1px #c8c8c8;border-left-color:#fcfcfc;border-right-color:#fcfcfc;margin:0 2px 0 2px; }
#tabs .body{ float:left; position:relative; left:-1px;margin-top:-1px;background-image:url('../_images/corners/flTabs-left-top.gif'); background-repeat:no-repeat; padding:6px 0 0px 10px;}
#tabs .body_right{ float:right; position:relative; right:-2px;margin-top:-1px;margin-left:0px;background-image:url('../_images/corners/flTabs-right-top.gif'); background-repeat:no-repeat; padding:5px 0 5px 10px;}

#tabs li { border-left:solid 1px #c8c8c8;float:left; }
#tabs li.first{border-left-width:0px;padding-left:1px;}
#tabs li.after{border-left-width:0px;}
#tabs li.active{border-left:solid 1px #c8c8c8;border-right:solid 1px #c8c8c8;position:relative;bottom:-1px; margin-top:-6px; padding-left:0px;}
#tabs a { display:block;text-decoration:none;font-size:1.0em;padding:0px 10px 0px 10px; color:#a6a7ab;}
	#tabs a:hover  { text-decoration:none; }
#tabs li.active a { color:#212838; padding-top:5px;padding-bottom:5px; background-color:#fcfcfc;cursor:default; }	
		#tabs li.new_active a:hover { cursor:default; }
		
.analyticsBody{ border-bottom:1px solid #c8c8c8;border-right:1px solid #c8c8c8;border-left:1px solid #c8c8c8; }
.right_buttons{ margin:10px 10px 10px 0px;}
.edgeButtons{display:none;}
.filter span{color:#c8c8c8;}
.analyticsResults{ color:#ffffff; background-image: url('../_images/bkgds/blue-grad-darkToLight.png'); background-repeat:repeat-x;background-color:#5e7ea7; border:1px solid #2a4161;}
.analyticsResults .title{ bottom:-20px; }
.analyticsResults h3{font-size:1.7em;}
.analyticsResults table{ color:#666666; ;}
.analyticsResults table td{border-bottom:2px solid #ffffff; }
.analyticsResults table td a{color:#666666;}
.analyticsResults table td a:hover{color:#666666;text-decoration:underline;}
.analyticsResults table td.groupTitle, .analyticsResults table td.groupTitleData{ background:#fcfcfc url('../_images/bkgds/grad-FFtoE8E8EA-16h.gif') repeat-x bottom; border-bottom:1px solid #3f5064; border-top:1px solid #3f5064;}
.analyticsResults table td.groupTitle a{color:#3f5064; }
.analyticsResults table td.segmentTitle{color:#ffffff; border-bottom:0px;}
	.analyticsResults table td.segmentData{color:#ffffff; border-bottom:0px;}
	.analyticsResults table td.groupTitle a:hover{color:#3f5064; text-decoration:underline; }
.analyticsResults li{display:block;font-size:1.1em;padding-left:5px;}
.analyticsResults table thead th.col_title{ color:#ffffff;  }

