/* // GLOBAL __PRINT__ RULES
///////////////////////////////////////////////////////////// */
body { width:100%;margin:0;padding:0; }
	#wrap { margin:0;position:static;clear:both;width:100%; }
	/* > sets IE min-page width >>>>> */
		table.forcer { border:none;width:100%;clear:both; }
		table.forcer img.forcer { visibility:hidden; }

/* BKGDS */
body,body#page,body#popup,body#iframe { background-color:white; }

/* BOXES = borders, margins & padding */
p,table,td,th,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,pre,form,blockquote,fieldset,input,select { margin:0;padding:0; }
img { border:none; }

/* TEXT = sizes and fonts */
body { font-size:8pt;font-family:Arial,Helvetica,Verdana,sans-serif; }
td,th { font-family:Arial,Helvetica,Verdana,sans-serif; }
p,select,input,pre,code { font-size:1em; }

h1 { font-size:2.3em; }
h2 { font-size:1.7em; }
h3 { font-size:1.4em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:.9em; }

cite { font-style:normal; }

/* LINKS = colors and decs */
a { color:#333;text-decoration:underline; }
a.toggle { display:none; }

/* LISTS = horiz and standard */
ul { list-style:none; }
ul li { display:inline; }

ol { list-style:square inside; }

/* DEFS = used for label and forms pairs */
dl,dt,dd {  }
dt { float:left;clear:left; }

/* FORMS */
form { display:inline; }
fieldset { border:none; }
input,select { vertical-align:middle; }
	input.date { width:50px; }
	input.money { width:60px; }
	input.miles { width:55px; }
	input.free { width:90px; }
	input.lot { width:60px; }
	input.notes { width:220px; }
	textarea.notes { width:150px; }

/* TABLES */
th { text-align:left;vertical-align:bottom; }

	/* DATA TABLE - like "view deals", "pricing analyzer", etc. */
table.data { width:100%;background-color:white;color:black;border:solid 1px black;border-collapse:collapse; }
	table.data thead { background-color:#CCC; }
	table.data thead th { padding:3px;border-bottom:solid 1px black; }
		table.data thead th a { color:#333;text-decoration:none; }	
		table.data thead th.sorted a { color:black;text-decoration:underline; } /* -- displaytag class */

	table.data tfoot { height:15px;background-color:#CCC; }
		table.data tfoot td { border-top:solid 1px black; }
	table.data tbody { background-color:white; }
		table.data tbody td { border-top:dashed 1px #CCC;padding:2px 5px; }
/* -- exceptions */
		table.data td.f { text-align:right; }

/* MISC = mostly co-opted tags */
tt { font-family:Verdana,Helvetica,sans-serif; font-weight:normal; text-decoration:none; padding:0 5px; } /* for spacing pipes <tt>|</tt> */
ins { display:block; text-decoration:none; font-weight:normal; font-style:italic; } /* for updated dates, success messages, waiting icons */

/* BUTTONS */
.b { display:none; }


/* // PRIMARY PAGE CONTAINERS
///////////////////////////////////////////////////////////// */

/* CONTENT = page content */
#content { clear:both;margin-bottom:10px;margin-top:5px; }
#content:after { height:0;clear:both;content:".";visibility:hidden;display:block; }

/* TABS  */
#tabs { display:none; }
.stockingReports #tabs { display:block; visibility: hidden; }

/* MENU = dropdown and text navigation */
#menu { clear:both; }
#menu #dropnav,#menu iframe,#menu .textnav { display:none; }
#menu .logoFL { float:right;clear:right; }

/* HEADER = dealer name and page title */
#header { float:left; }
	#header h1,#header h3 { display:none; }
	#header h2 { color:black;margin-bottom:0; }

/* FOOTER = security and legal */
#footer { position:static;margin:0;font-family:Verdana,Arial,Helvetica,sans-serif;clear:both;text-align:left; }
	#footer em,#footer tt { display:none; }
	#footer cite { float:left; }	
		#footer cite em { display:inline; }	
	#footer cite.disc { float:right; }


/* // FREQUENTLY-USED CLASSES
///////////////////////////////////////////////////////////// */

/* other CONTAINERS */
.wrapper { display:none; }
.hdr { margin-bottom:6pt; }

/* icons */
img.pa { display:none; } /* pricing analzyer */
img.cal { display:none; }

/* asst. declarations */
.neg { color: #666; }
.hilite { color: #D90404; }
.even { background-color: #CCC; }
.hide { display:none; }
.show {  }

img.lcap { float:left; }
img.rcap { float:right; }

.redSm { background:transparent url('../_images/icons/light-9x9-red.gif') no-repeat center; }
.yellowSm { background:transparent url('../_images/icons/light-9x9-yellow.gif') no-repeat center; }
.greenSm { background:transparent url('../_images/icons/light-9x9-green.gif') no-repeat center; }

.screenOnly { display:none; }

.display { clear:both; background-color:white; border:solid 1px black; }
.edit { clear:both; border:solid 1px #FC3; }


/*email popup*/
#emailPopup div{display:none;}




/* // SPECIFIC OVERRIDES
///////////////////////////////////////////////////////////// */

iframe#selectFix { display:none; }

/* help */
div.help { display:none; }
img.help { visibility:hidden; }

/* status filter */
fieldset.statusFilter { width:auto;float:right;text-align:right; }
	fieldset.statusFilter legend { font-weight:bold;color:#fc3;margin:0 -5px; }
	fieldset.statusFilter select  { width:280px;display:block; }

/* performance plus */
.performancePlus img { visibility:hidden; }
.viewDeals img { visibility:hidden; }

