/* // GLOBAL RULES
///////////////////////////////////////////////////////////// */

html,body,#wrap { min-height:100%;width:100%; }
    #wrap { position:absolute;top:0;left:0;z-index:0; } /* extra container forces footer always to stay at the bottom */

/* WIDTHS */
body { margin:0;padding:0;min-width:965px; }
body#popup,body#iframe { min-width:0; }
	/* > sets < IE 7 min-page width >>>>> */
	table.forcer { width:100%;border:none;clear:both; }
	table.forcer img.forcer { width:965px;height:1px;display:block; }
#popup table.forcer img.forcer { display:none; }


/* // PRIMARY PAGE CONTAINERS
///////////////////////////////////////////////////////////// */

/* HEADER = dealer name and page title */
#header { width:100%; }

/* CONTENT = primary page content container (under '#tabs' down to '#footer') */
#content {  }
#content { margin:15px;margin-bottom:3em; } /* bottom margin prevents overlap of abs-positioned footer */
#content:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
#content div:after { height:0;clear:both;content:".";visibility:hidden;display:block; }
#content div:div:after { height:0;clear:both;content:".";visibility:hidden;display:block; }/*lokesh_24DEC13: resolves IE11 design loading issue */

/* FOOTER = security and legal */
#footer { position:absolute;bottom:0;width:100%;
			font-size:.9em;font-family:Verdana,Arial,Helvetica,sans-serif; }
	#footer em { font-weight:bold; }
	#footer cite em { font-weight:normal; }


/* // TAG DEFAULTS
///////////////////////////////////////////////////////////// */

/* BOXES = borders, margins & padding */
p,table,td,th,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,pre,form,blockquote,fieldset,input,select { margin:0;padding:0; }
img { border:none; }

/* TEXT = sizes and fonts */
body { font-size:67%;font-family:Arial,Helvetica,Verdana,sans-serif; }
	/* standard system fonts --> Arial Narrow,Helvetica,Verdana,Georgia,Lucida Sans,Myriad Web,Myriad Condensed Web,Trebuchet MS,Lucida Console */
p,select,input,pre,code,textarea { font-size:1em; }
h1 { font-size:2.3em; }
h2 { font-size:1.7em; }
h3 { font-size:1.4em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:.9em; }

/* LISTS = horiz and standard */
ul { list-style:none; }
ul li { display:inline; }
ol { list-style:square inside; }

/* DEFINITION LIST = used for label and forms pairs */
dl,dt,dd {  }
dt { float:left;clear:left; }

/* FORMS */
form { display:inline; }
fieldset { border:none; }
input,select { vertical-align:middle; }
		/* common INPUTS */
	input.number { width:20px; }
	input.date { width:70px; }
	input.money { width:60px; }
	input.miles { width:55px; }
	input.make,input.model,input.trim { width:120px; }
	input.free { width:120px; }	/* use when no character limit */
	input.lot { width:60px; }
	input.notes { width:220px; }
	input.err { background-color:#D90404;color:white; }
		/* common SELECTS */
	select.year { width:60px; }
	select.region { width:68px; }
	select.period { width:83px; }
	select.make,select.model,select.trim { width:150px; }
	select.series { width:160px; }
		/* common TEXTAREAS */
	textarea.notes { width:150px; }

/* LABELS */
	/* 'required fields' */
label.req { background:transparent url('../_images/icons/required.gif') no-repeat 2px;text-indent:5px; }
label.ok { background:transparent url('../_images/icons/required-ok.gif') no-repeat 2px;text-indent:5px; }
label.reqOff { background:transparent url('../_images/d.gif') no-repeat;text-indent:5px; }

/* TABLES */
th { text-align:left;vertical-align:bottom; }

/* MISC = mostly co-opted tags */
tt { font-family:Verdana,Helvetica,sans-serif;font-weight:normal;text-decoration:none;padding:0 5px; } /* for spacing pipes <tt>|</tt> */
ins { display:block;text-decoration:none;font-weight:normal;font-style:italic; } /* for updated dates, success messages, waiting icons */
cite { font-style:normal; } /* for date annotations, disclaimers, etc. */
var { color:red;font-weight:bold; } /* generally used for debugging and stubs */

/* LINKS = colors and decs */
a { color:#036;text-decoration:none; }
	a:hover { color:#036;text-decoration:underline; }
/* links with 'x' or '-' used for showing, hiding, closing, opening, etc. 
	SYNTAX: <a href="javascript:closeThis();" class="toggle">Close<span>X</span></a> */
a.toggle { display:block;padding:2px 0;font-size:11px;color:#696969;text-decoration:none;font-weight:bold; }
a.toggle:hover { color:black;text-decoration:none; }
	a.toggle span { font-size:11px;color:#900;font-family:Verdana,Arial,sans-serif;padding:0 2px;margin-left:4px;vertical-align:middle;background-color:#f1f1f1;border:solid 2px #999; }
	a.toggle:hover span { color:#f1f1f1;background-color:#900;border-color:black; }



/* // ERRORS
///////////////////////////////////////////////////////////// */
.error { font-weight: bold; }
.error p { font-size:1.1em;margin-bottom:15px;font-weight:bold; }
.error .button { margin-top:15px;text-align:center; }
ins.error { font-style: normal; }


/* // FREQUENTLY-USED CLASSES
///////////////////////////////////////////////////////////// */

.empty { color:gray; }
.off { color:#999; }
.neg { color:#D90404; }
.hilite { color:#900; }
.hide { display:none; }
.show {  }
.left { float:left; }
.right { float:right; }

.printOnly { display:none; } /* .screenOnly	is available in global_print.css */

/* icons */
img.pa { height:10px;width:15px;margin:0 3px 0 5px; } /* pricing analzyer */
img.cal { height:14px;width:14px;vertical-align:middle;cursor:pointer; }
img.lock { height:20px;width:16px; }
img.ping { height:11px;width:11px; }


/*
///	LIGHTS
*/
.red { color:#900; }
.yellow { color:#FF0; }
.green { color:#0F0; }

.redSm,.redMed,.redWarn,.yellowSm,.yellowMed,.yellowWarn,.greenSm,.greenMed,.greenSuccess { background-color:transparent;background-position:center;background-repeat:no-repeat; }
	/* reds */ 
.redSm { background-image:url('../_images/icons/light-9x9-red.gif');  }
.redMed { background-image:url('../_images/icons/light-10x10-red.gif'); }
.redWarn { background-image:url('../_images/icons/warn-14x12-red.gif'); }
	/* yellows */ 
.yellowSm { background-image:url('../_images/icons/light-9x9-yellow.gif');  }
.yellowMed { background-image:url('../_images/icons/light-10x10-yellow.gif'); }
.yellowWarn { background-image:url('../_images/icons/warn-14x12-yellow.gif'); }
	/* greens */ 
.greenSm { background-image:url('../_images/icons/light-9x9-green.gif');  }
.greenMed { background-image:url('../_images/icons/light-10x10-green.gif'); }
.greenSuccess { background-image:url('../_images/icons/alert-12x12-success.gif'); }
	/* no light */ 
.noneSm,.noneMed,.noneWarn { background-image:url('../_images/d.gif'); }


/*
///	STANDARD CONTAINERS
*/
.wrapper { padding:10px; }


/*
///	TABLES
*/
/* standard DATA table - like "view deals", "pricing analyzer", etc. */
table.data { width:100%;color:black;background-color:white;border:solid 1px #a0a0a0;border-collapse:collapse; }
	.data thead { background-color:#f1f1f1; }
	.data td { border:solid 1px #a0a0a0;padding:2px 10px; }

			.naaaAuctionReport table.data { margin-bottom:40px; }
			.naaaAuctionReport .data tbody td { font-weight:normal;font-size:1em; }

/* THIRDPARTY table - like book outs and auction data */
table.thirdparty { width:100%;color:black;border-collapse:collapse; }
	table.thirdparty th,table.thirdparty td { background-color:white;border:solid 1px #a0a0a0;padding:2px 10px; }
	table.thirdparty th { font-weight:normal;background-color:#e1e8f8; }
	table.thirdparty thead th { text-align:center; }
	table.thirdparty tbody td { font-weight:bold;font-size:1.2em;text-align:center; }
	table.thirdparty tfoot th,table.thirdparty tfoot td { /*font-size:.9em;*/border:none;background:none;font-weight:normal;padding:5px 0 0 0;text-align:left; }
	table.thirdparty tfoot td { text-align:right; }


/* buttons */
span.b { cursor:pointer;font-size:18px;
			background:transparent url('../_images/buttons/cap-right.gif') no-repeat right; }
	span.b span { text-decoration:none;
					padding-left:10px;padding-right:5px;margin-right:2px;
					background-repeat:no-repeat;background-position:left;background-color:transparent;
					background-image:url('../_images/buttons/cap-left.gif'); }
	span.b a { position:relative;top:-2px;padding-left:5px;
				color:#112f53;font-family:'Trebuchet MS','Arial Narrow','Arial','Helvetica';
				font-size:12px;font-weight:bold;text-decoration:none; }
	span.b a:hover { color:black;text-decoration:underline; }

	/* # alternate button types */
	span.b span.confirm { padding-left:18px;background-image:url('../_images/buttons/cap-left-confirm.gif'); }
	span.b span.cancel { padding-left:18px;background-image:url('../_images/buttons/cap-left-cancel.gif'); }
	span.b span.delete { padding-left:18px;background-image:url('../_images/buttons/cap-left-delete.gif'); }
	span.b span.add { padding-left:18px;background-image:url('../_images/buttons/cap-left-add.gif'); }











	/*Stock overview popup*/
.hideSelect{position:absolute;  z-index:-1; width:780px; height:100px;clear:both;}
#overviewFloat .large{width:778px;}
#overviewFloat .small{width:630px;}
#overviewFloat{border:1px solid #213f73; background-color:#ffffff; padding:1px;}
#overviewFloat .hdr{background-color:#dfdfdf;  padding-top:2px; padding-bottom:2px; font-weight:bold;height:15px;}
#overviewFloat .overviewFoot{background-color:#efefef; padding:2px 10px 2px 10px; height:15px;}
#overviewFloat span{float:left; display:block; clear:none; text-align:center;}
#overviewFloat .content{overflow:auto; height:75px; background-color:#ffffff;}
#overviewFloat .content div{border-bottom:1px solid #cacaca;clear:both;height:15px; display:block;}
#overviewFloat .age{width:30px;}
#overviewFloat .year{width:40px;}
#overviewFloat .model{width:250px; text-align:left;}
#overviewFloat .color{width:75px;text-align:left;}
#overviewFloat .mileage{width:50px;}
#overviewFloat .cost{width:65px;}
#overviewFloat .bvc{width:85px;}
#overviewFloat .pt{width:25px;}
#overviewFloat .stockNum{width:55px; color:#395072; }
#overviewFloat .hdr .stockNum{color:#000000;}
#overviewFloat .objective{width:85px;}
#overviewFloat  .right{float:right;}
	#overviewFloat  .right a{color:#333333; text-decoration:underline;}
		#overviewFloat  .right a:hover{color:#333333; text-decoration:none;}
		#overviewFloat cite{color:#cc0000;}
		#overviewFloat .red{color:#cc0000;}
#overviewFloat .center{text-align:center; color:#cc0000; }
#overviewFloat #overviewHead { cursor: move; }


/* ####################   MMR Auction Values #################       */
.bookHeaderTA { height: 62px; border: solid black 1px; }
.MMR { background-color: #97dc99; }
.mmrpagerdisabled {
	color: lightgrey;
}
.mmrpagerActive {
	border-bottom: 1px solid #3B6D9A;
    color: #3B6D9A;
    cursor: pointer;
}
#mmrtranstable {
	width: 100%;
	border: 4px solid #E1E1E1;
	margin-top: 5px;
	border-collapse: collapse;
}
.trclass0{
    background: #FFFFFF;
}
.trclass1{
    background: #E1E1E1;
}
#mmrtranstable th {
	border-left: 1px solid #A2A2A2;
	border-right: 1px solid #A2A2A2;
    color: #3B6D9A;
}
#mmrtranstable td {
    text-align: left;
    padding-left: 5px;
    
}
 
#mmrnumtrans {
	margin-left: 5px;
	margin-right: 5px;
}
.headerSortUp {
	background: url("../../../public/images/colsortup.png") right center no-repeat;
}
.headerSortDown {
	background: url("../../../public/images/colsortdown.png") right center no-repeat;
}
.cursorpointer {
    cursor: pointer;
}
.optionsWrap { clear: both; background-color: white; border: solid 1px black; border-top: none; }
.equipmentOptions { padding: 5px 5px; /*float: left;*/ /*margin-top: 20px; */}
	.equipmentOptions .none { font-weight: bold; font-size: 12px; }
	.equipmentOptions .details div { display: inline; margin: 0 200px 0 0; }