﻿@using Wanamaker.WebApp.Helpers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="@Url.VersionedUrl("~/App_Themes/MAX_2.0/Main.debug.css")">
        <link rel="stylesheet" type="text/css" href="@Url.VersionedUrl("~/Themes/MaxMvc/jquery-ui-1.7.2.custom.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.VersionedUrl("~/Themes/MaxMvc/demo_table_jui.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.VersionedUrl("~/Themes/MaxMvc/AutoLoadStatus.debug.css")" />
        <script src="@Url.Content("~/Public/Scripts/Lib/jquery-1.8.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Public/Scripts/Lib/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Public/Scripts/Admin/AutoLoadStatus.debug.js")" type="text/javascript"></script>
    </head>
<body>
<div style="position:absolute;top:-9999px;left:-9999px;z-index:-9999px">
    <img src="~/App_Themes/Max_2.0/Images/shadowAlpha.png" alt="preload" runat="server" />
    <img src="~/App_Themes/Max_2.0/Images/bg_NavMenuH5.png" alt="preload" runat="server" />
</div>
<div id="Container" class="clearfix">
    <div id="Header" class="clearfix">
        <div id="Logo"></div>
        <div id="NavigationMenu">
            <ul id="SiteMenuUL">
            <li><a href="@Url.Content("~/Admin/Admin.aspx")">Admin Home</a></li>
            <li><a href="@Url.Content("~/Admin/BatchAutoLoadStatus.aspx")">Batch AutoLoad Status</a></li>
            <li><a href="@Url.Content("~/Admin/AdminTemplateManager.aspx")">Template Manager</a></li>
            <li><a href="@Url.Content("~/Admin/Snippets/AddSnippet.aspx")">Snippet Collector</a></li>
            <li><a href="@Url.Content("~/Admin/BenchmarkEntry.aspx")">Benchmark Entry</a></li>
            </ul>

            <ul id="SystemMenuUL">
                <li><a href="@Url.Content("~/Workflow/Inventory.aspx")" runat="server">Back to MAX Ad</a></li>
            </ul>
        </div>
    </div>
    <div id="Content" class="clearfix">
        @RenderBody()
    </div>
    <div id="Footer" class="clearfix">
        
    </div>
</div>
    
</body>

</html>
