<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>MAX: Make a Deal Meeting Booklet</title>
		<style type="text/css">
/* FONTS */
body { font-family: "Arial", "Helvetica", "Verdana", sans-serif; font-size: 11px; }
h2, h3 { font-family: "Georgia", serif; font-size: 16px; font-weight: normal; }
h3 { color: #4e5b7b; }
p { font-size: 12px; }
.additional-info { font-family: "Verdana", sans-serif; font-size: 10px; }
.vehicle-id { font-size: 16px; }
.secondary-id { font-size: 11px; }
.customer_offer, .appraisal_value { font-family: "Verdana", sans-serif; font-size: 10px; }
strong.label { font-family: "Verdana", sans-serif; }
.potential-deal-info dl { font-family: "Verdana", sans-serif; font-size: 10px; }
/* HIDE THESE ELEMENTS */
.reviewbtn, hr, kbd { display: none; }
/* // PRIMARY CONTAINERS */
body { width: 600px; margin: 0 auto; }
.bucket, .bucket-clear { width: 600px; background: url('http://images.firstlook.biz/max/images/print/folder_topright_print.gif') top right no-repeat; margin: 0; padding-top: 8px; margin-bottom: 10px; }
.bucket-top { padding: 0 6px; border-left: solid 1px #b3b2a6; border-right: solid 1px #b3b2a6; border-bottom: solid 1px #b3b2a6; background-color: #f8f9eb;  background: #f8f9eb url('http://images.firstlook.biz/max/images/print/folder_botshading_print.gif') bottom repeat-x; }
.bucket-bottom { padding-bottom: 10px; } 
/* // SECONDARY CONTAINERS */		
.vehicle-summary { text-align: right; }
.additional-info { border: solid 1px #666; padding: 10px 5px; background-color: white; margin-top: 3px; margin-bottom: 3px;	}
.potential-deal-info, .rule-matches, .condition { border: solid 1px #999; padding: 2px 6px; background-color: #fcffd9; }
.potential-deal-info { border-bottom: dotted 1px #999; }
.rule-matches {	border-top: none; border-bottom: none; }
.condition { border-top: dotted 1px #999; }
/* // ELEMENTS */	
p { margin: 12px 0; }
#second_look_summary { border-top: solid 1px #999; padding-top: 12px; }
h3 { margin-bottom: 6px; }
.bucket p, .bucket-clear p { margin: 0; }
/* __ VEHICLE SUMMARY */
.vehicle-summary { text-align: right; }
.vehicle-id, .secondary-id { padding-top: 3px; }
.vehicle-id { width: auto; float: left; text-align: left; font-weight: bold; }
.secondary-id { width: 50%;	}
.secondary-id .appraisal-date { clear: left; margin-left: 20px; }		
/* __ ADDITIONAL INFO */			
.customer_offer, .appraisal_value {	width: 50%;	border-bottom: dotted 1px #999;	padding-bottom: 3px; margin-bottom: 3px; }
dl.appraisal_value dt, dl.customer_offer dt { font-weight: bold; float: left; }
dl.appraisal_value dd, dl.customer_offer dd { font-weight: normal; margin: 0; }
dl.appraisal_value strong, dl.customer_offer strong { font-weight: normal; }
dl.customer_offer { float: right; }
dl.appraisal_value { float: left; }
input.currency { visibility: hidden; width: 80px; height: 15px; vertical-align: top; border: solid 1px #999; background-color: white; position: relative; top: -3px; }
textarea.notes { width: 85%; height: 40px; visibility: hidden; }
.market_values { margin-bottom: 3px; }
.market_values span { padding-right: 15px; }
.notes_area { clear: both; padding-top: 2px; }
textarea.notes { display: inline; vertical-align: top; color: #aaa; border: solid 1px #999; background-color: white; overflow: hidden; padding: 2px 5px; }
/* __ POTENTIAL DEAL */	
.potential-deal-info dl { padding-top: 2px; margin-top: 0; margin-bottom: 3px; }
.potential-deal-info dt { float: left; }
.potential-deal-info dd { display: inline; margin-left: 12px; font-weight: bold; }
/* __ RULE MATCHES */	
.rule-matches { padding-top: 5px; padding-bottom: 5px; }
.rule-matches .item-issue { background: url('http://images.firstlook.biz/max/images/issuearrow.gif') 0 4px no-repeat; padding-left: 12pt; }
.informative { color:#666; font-weight:normal; }
.item-issue ul { list-style: none; margin: 0; padding-left: 0; }
.item-issue li { margin-left: 0; padding-left: 0; display: inline; color:#666; }		
		</style>
	</head>
	<body>
<% if @empty_booklet %>
		<p class="empty_booklet_msg">No Make A Deal appraisals were found.</p>
<% else %>
		<p>The Make-A-Deal workbook you requested for <%= @business_unit_name %> is available for download in MAX. Follow the link below to retrieve your document.</p>
		<p>Click to download: <a href="<%= @url_for_booklet %>">Make A Deal Workbook - <%= @completed.strftime('%m/%d/%Y') %></a> (<%= @size_in_kb %> Kb PDF)</p>
		<p>This message is automatically generated.  If you have questions or need assistance please contact the First Look Help Desk by <a href="mailto:support@firstlook.biz">email</a> or by calling 800-730-5665.</p>
<% end %>
	<%= @summary_html %>
	</body>
</html>
