<% @business_unit_insight_target_preference = @business_unit_insight_target_preferences.first %>

<h4 class="section first">Brief Description</h4>

<p class="information first">
    The appraisal closing rate is the percentage of Trade-In appraisals taken into inventory within two weeks of the 
    appraisal being made. 
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_insight_targets' } %>
<p class="instruction">
    Please set the Appraisal Closing Rate target for your store.
</p>
<p class="input">
    <label for="appraisal_closing_rate_target">Set Store Target to be:</label>
    <span><%= text_field('business_unit_insight_target_preference[]', 'value', { :id => 'appraisal_closing_rate_target', :size => 3, :maxlength => 3 }) %>% <span>(Default is 60%)</span></span>
</p>
<p class="instruction">
    There is also a threshold value which determines what MAX tells you on the Home Page. 
    If your actual Appraisal Closing Rate is below the Appraisal Closing Rate threshold, MAX will alert you about your Appraisal Closing Rate on the home page.
</p>
<p class="input">
    <label for="appraisal_closing_rate_threshold">Notify on the home page if below:</label>
    <span><%= text_field('business_unit_insight_target_preference[]', 'threshold', { :id => 'appraisal_closing_rate_threshold', :size => 3, :maxlength => 3 }) %>% <span style="font-size:.8em">(Default is 40%)</span></span>
</p>
<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>
<%= end_form_tag %>

<h4 class="section">Strategy</h4>

<p class="information first">
    A low Appraisal Closing Rate typically indicates that you may be appraising customer Trade-Ins too low and offering customers too little money for their trade.
    If that is the case, another indicator is that your Immediate Wholesale Average Gross Profit may be high.  
    In order to close more deals, it may make sense to stretch more for Trade-Ins, even if they are not vehicles you would place into retail inventory.
</p>
