<% @business_unit_insight_target_preference = @business_unit_insight_target_preferences.first %>
<h4 class="section first">Brief Description</h4>
<p class="information first">
    Average Immediate Wholesale Profit is the average profit on all Trade-Ins wholesaled after less than 30 days in inventory over some period of time.  
    It attempts to measure how much you typically make on Trade-Ins that are not retained for retail inventory.
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_insight_targets' } %>
<p class="instruction">
    Please enter the target range for Average Immediate Wholesale Profit for your store.
</p>
<p class="input">
    <label>Set Store Target Range to be:</label>
    <span>
        $<%= text_field 'business_unit_insight_target_preference[]', 'min', { :id => 'avg_immediate_wholesale_profit_target_min', :size => 6, :maxlength => 6 } %>
        to
        $<%= text_field 'business_unit_insight_target_preference[]', 'max', { :id => 'avg_immediate_wholesale_profit_target_max', :size => 6, :maxlength => 6 } %>
        <span>(Default is  &#177; $250)</span>
    </span>
</p>
<p class="instruction">
    There is also a threshold value which determines what MAX tells you on the Home Page. 
    If your actual Average Immediate Wholesale Profit is outside the Target Range by more than this number, MAX will alert you on the home page.
</p>
<p class="input">
    <label for="avg_immediate_wholesale_profit_threshold">Notify if more than:</label>
    <span>
        $<%= text_field 'business_unit_insight_target_preference[]', 'threshold', { :id => 'avg_immediate_wholesale_profit_threshold', :size => 6, :maxlength => 6 } %>
        outside Target Range <span>(Default is $250)</span>
    </span>
</p>
<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>
<%= end_form_tag %>

<h4 class="section">Strategy</h4>

<p class="information first">
    Average Immediate Wholesale Profit is an indicator that is used in conjunction with Appraisal Closing Rate to determine whether 
    you are closing as many retail deals as possible; whether you are offering too little or too much for Trade-Ins.  
</p>
<p class="information">
    If Appraisal Closing Rate is low and Average Immediate Wholesale Profit is high, it may mean you are offering customers too little money for their Trade-Ins which may result in fewer retail deals being closed.
</p>
<p class="information">
    If Appraisal Closing Rate is high and Average Immediate Wholesale Profit is very negative, it may mean you are offering customers too much money for their Trade-Ins which may result in many retail deals being closed, but at a potential cost in wholesale loss.
</p>
<p class="information">
    If Appraisal Closing Rate is low and Average Immediate Wholesale Profit is low or negative, it means there is some reason other than appraisal values preventing your store from closing as many retail deals as possible.
</p>
<p class="information">
    If Appraisal Closing Rate is high and Average Immediate Wholesale Profit is high, you are in an enviable position.
</p>