<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_inventory_bucket_items' } %>

<h4 class="section first">Brief Description</h4>

<p class="information first">
    These settings are provided to enable guidance on the Home Page for vehicles that are approaching critical points in their inventory life cycle. 
    For Higher Risk vehicles, the settings refer to what is known as keeping a "Short Leash".  For Low risk, core inventory, they represent times when they are just getting a little long in the tooth.
</p>

<h4 class="section">Settings</h4>

<p class="information first">
    Please set target for your store for the number of days in inventory at which you would like to be notified for each of the risk categories.
</p>

<table class="current_inventory_short_leash">
    <tr>
        <th class="title">Risk</th>
        <th class="title">Retail Warning</th>
        <th class="title">Wholesale Advice</th>
    </tr>
    <% @inventory_bucket_items.each do |@inventory_bucket_item| %>
    <% range_id = @inventory_bucket_item.range_id %>
    <tr>
        <td class="name">
             <%= range_id == 1 ? 'Red' : (range_id == 2 ? 'Yellow' : 'Green') %>
        </td>
        <td class="data">
             <%= text_field 'inventory_bucket_item[]', 'low', { :size => 2, :maxlength => 2 } %>
             <span>(Default is <%= range_id == 1 ? '21' : (range_id == 2 ? '30' : '45') %>)</span>
         </td>
        <td class="data">
             <%= text_field 'inventory_bucket_item[]', 'high', { :size => 2, :maxlength => 2 } %>
             <span>(Default is <%= range_id == 1 ? '30' : (range_id == 2 ? '45' : '60') %>)</span>
        </td>
    </tr>
    <% end %>
    <tr>
        <td class="action" colspan="3">
            <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
            <input type="submit" name="Save" value="Save" />
        </td>
    </tr>
</table>

<%= end_form_tag %>

<h4 class="section">Strategy</h4>

<p class="information first">
    Higher risk vehicles should be retailed more aggressively earlier than lower risk vehicles.  They should also be wholesaled earlier. 
    Higher risk vehicles have a demonstrated historical probability of failing to retail profitably at your store.  Lower risk vehicles have a history of retailing profitably at your store, but inevitably some of them slip through unsold. 
    These warnings will notify you to take action on the list of vehicles needing attention and allow you to do so in a straightforward manner.
</p>
