
<h4 class="section first">Brief Description</h4>

<p class="information first">
    MAX can notify you when one or more segments appear to be overstocked. 
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_insight_targets' } %>

<p class="instruction">
    Please set the number of days supply to Target for each Segment and the number above which you wish to be notified by MAX.
</p>

<table class="current_inventory_day_supply">
	<tr>
		<th class="blank">&nbsp;</th>
		<th class="title">Target Days Supply</th>
		<th class="title">Threshold Days Supply</th>
		<th class="blank">&nbsp;</th>
	</tr>
    <% @business_unit_insight_target_preferences.each do |@business_unit_insight_target_preference| %>
    <% insight_target_id = @business_unit_insight_target_preference.insight_target_id %>
    <% name, css = nil, "data segment " %>
    <% case insight_target_id
         when 9  then name = 'Store'; css = "data store ";
         when 10 then name = 'Truck'
         when 11 then name = 'Sedan'
         when 12 then name = 'Coupe'
         when 13 then name = 'Van'
         when 14 then name = 'SUV'
         when 15 then name = 'Convertible'
         when 16 then name = 'Wagon'
       end
    %>
    <tr>
        <td class="name"><%= name %></td>
		<%= tag('td', {:class => css}, true) %><%= text_field('business_unit_insight_target_preference[]', 'value', { :alt => "#{name} Target Days Supply", :title => "#{name} Target Days Supply", :size => 2, :maxlength => 2, :class => "value" }) %></td>
		<%= tag('td', {:class => css}, true) %><%= text_field('business_unit_insight_target_preference[]', 'threshold', { :alt => "#{name} Days Supply Threshold", :title => "#{name} Days Supply Threshold", :size => 2, :maxlength => 2, :class => "threshold" }) %></td>
		<% if insight_target_id == 9 %>
            <td class="action"><a href="#" onclick="ResetSegmentDaysSupply(); return false;">Apply to All</a></td>
		<% else %>
    		<td>&nbsp;</name>
		<% end %>
	</tr>
    <% end %>
</table>

<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>

<%= end_form_tag %>
