<% @business_unit_insight_target_preference = @business_unit_insight_target_preferences.first %>

<h4 class="section first">Brief Description</h4>

<p class="information first">
    MAX can notify you when you have more than some number of vehicles in inventory that are unplanned. 
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_insight_targets' } %>

<p class="instruction">
    Please set the number of unplanned vehicles that will trigger notification by MAX.  
</p>
<p class="input">
    <label for="current_inventory_unplanned_vehicles_threshold">Number of Vehicles:</label>
    <span><%= text_field 'business_unit_insight_target_preference[]', 'threshold', { :id => 'current_inventory_unplanned_vehicles_threshold', :size => 3, :maxlength => 3 } %> <span>(Default is 5)</span></span>
</p>
<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>

<%= end_form_tag %>
