<% @business_unit_insight_target_preference = @business_unit_insight_target_preferences.first %>

<h4 class="section first">Brief Description</h4>

<p class="information first">
    MAX can notify you when there are a number of Make-A-Deal opportunities on deck. 
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_insight_targets' } %>
<p class="instruction">
    Please set the number of Make-A-Deal Opportunities above which you wish to be notified by MAX.  
</p>
<p class="input">
    <label for="make_a_deal_threshold">Number of Potential Deals:</label>
    <span><%= text_field 'business_unit_insight_target_preference[]', 'threshold', { :id => 'make_a_deal_threshold', :size => 3, :maxlength => 3 } %> <span>(Default is 10)</span></span>
</p>
<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>
<%= end_form_tag %>
