<% @business_unit_insight_target_preference = @business_unit_insight_target_preferences.first %>

<h4 class="section first">Brief Description</h4>

<p class="information first">
    Trade-In Inventory Analyzed measures the percentage of Trade-Ins that were analyzed using the Trade Analyzer<sup><span style="font-size:9px">&copy;</span></sup> out of all those Trade-Ins taken into inventory over the latest 4 week period. 
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'insight_preferences', :action => 'save_insight_targets' } %>
<p class="instruction">
    Please set the Trade-In Inventory Analyzed target for your store. 
</p>
<p class="input">
    <label for="trade_in_inventory_analyzed_target">Set Store Target to be:</label>
    <span><%= text_field 'business_unit_insight_target_preference[]', 'value', { :id => 'trade_in_inventory_analyzed_target', :size => 3, :maxlength => 3 } %>% <span>(Default is 100%)</span></span>
</p>
<p class="instruction">
    There is also a threshold value which determines what MAX tells you on the Home Page. 
    If your actual Trade-In Inventory Analyzed is below the Trade-In Inventory Analyzed threshold, MAX will alert you about the percentage of Trade-In Inventory Analyzed on the home page.
</p>
<p class="input">
    <label for="trade_in_inventory_analyzed_threshold">Notify on the home page if below:</label>
    <span><%= text_field 'business_unit_insight_target_preference[]', 'threshold', { :id => 'trade_in_inventory_analyzed_threshold', :size => 3, :maxlength => 3 } %>% <span>(Default is 80%)</span></span>
</p>
<p class="action">
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
    <input type="submit" name="Save" value="Save" />
</p>
<%= end_form_tag %>

<h4 class="section">Strategy</h4>

<p class="information first">
    A high Trade-In Inventory Analyzed percentage lowers the risk of missing the appraised value on a Trade-In.  
    The Trade Analyzer<sup><span style="font-size:9px">&copy;</span></sup> also provides performance, book and wholesale value information useful in making an inventory decision.
    A high Trade-In Inventory Analyzed percentage improves Max's ability to accurately measure the Appraisal Closing Rate.  
</p>
