<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory,PlanningActOther.new].compact) %>
<% call = remote_function(:url => { :controller => '/management/planning_act_other', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory) }, :update => id) %>
<ul id="<%= id %>" class="<%= planning_action.planning_action_type.underscore_name %>_other_values" hal:refresh="<%= call %>">
    <% PlanningActOther.find(:all, :conditions =>["business_unit_id = ? and active = 1 and planning_action_id = ?", session[:business_unit].id, take_id(planning_action)]).each do |planning_act_other| -%>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, planning_act_other].compact) %>
        <li><input type="checkbox" name="planning_act_other[id][]" <% if selections.detect{|s| s == planning_act_other.id} %>checked="true"<% end %> value="<%= planning_act_other.id %>" id="<%= id %>"><label for="<%= id %>"><%= planning_act_other.name %></label></li>
    <% end -%>
</ul>