#bookVal { float:left;color:white; }
#invInfo { float:left;border-right:none;color:white; }	

.planHistory div.title {color:#fc3; margin-bottom:5px;}
	.planHistory div.title h3 {display:inline;}
	.planHistory div.title h5 {color:#ccc; padding-left:10px;display:inline; }

#snap { 
	position: absolute;
	top: 45px;
	right: 15px;
}

/* // VEHICLE DETAILS 
///////////////////////////////////////////////////////////// */
#vehicleDetails { background-color:white;height:1%;overflow:hidden; }
	#vehicleDetails a.toggle { float:right;margin-right:5px; } /* cancel link */
	#vehicleDetails label { font-weight:normal;margin-right:5px; }
	#vehicleDetails li { padding:0 25px 0 5px;vertical-align:bottom; }
		#vehicleDetails h3 a { color:black; }
		#vehicleDetails h3 a:hover { color:black; }

	/* MESSAGE display area (i.e. when estock card is changed during planning, reprice messaging) */
	.updateMsg { clear:both;margin-left:120px;padding:1px 0 0 25px;height:18px;background:url(../../../common/_images/icons/inaccurateBookValues.gif) no-repeat top 2px; }
		.updateMsg span { background-color:#fcffe7; }	
			
	/* FIRST ROW (i.e. age, mileage, stockNum, etc.) */
	#vehicleDetails .attributes { height:1%;overflow:hidden;padding:3px 0;border-bottom:solid 1px #d5d5d5;background-color:#f1ecf0; }
		#vehicleDetails .attributes ul { vertical-align:bottom; }
			#vehicleDetails .attributes li { float:left;padding:2px 10px 0 5px; }
			/*exceptions*/
			#vehicleDetails .attributes li.vehDesc { padding-top:0; }
			#vehicleDetails .attributes li.age { text-transform: uppercase; font-size:1.2em;width:100px;text-align:right;padding-top:1px; }
			#vehicleDetails .attributes li.snum { padding-right:0;font-size:.9em;font-weight:normal;vertical-align:middle; }
				#vehicleDetails .attributes li strong { margin-left:2px; }
				#vehicleDetails .attributes li span { font-size:1.1em; }
		
	/* LEFT SIDE (i.e. light and insights) */
	#vehicleDetails .riskFactors { float:left;width:110px;height:70px;border-right:solid 1px #d5d5d5;background-color:#efefef;color:#9d2019; }
		#vehicleDetails .riskFactors h5 { text-align:left;float:none;border-top:none;margin:3px 0 0 10px;background-position:right; }
		#vehicleDetails .riskFactors p { margin-left:10px; }
	
	/* RIGHT-SIDE/FIRST ROW (i.e. listPrice, bookAvg, etc.) */
	#vehicleDetails .prices { height:1%;overflow:hidden;padding:3px 0;border-bottom:solid 1px #d5d5d5;background-color:#f8f3f7; }
		#vehicleDetails .prices li { padding:0 0 0 20px;vertical-align:middle; }		
			#vehicleDetails .prices li.f { padding-left:5px; }	/* list price column */
			#vehicleDetails .prices li.specials {  }	/* certified and specFin column */
			
	/* RIGHT-SIDE/SECOND ROW (reprice and service positioning) */
	#vehicleDetails #related { height:1%;padding:5px 0 0 0; }
		#vehicleDetails #vehicleReprice { margin-left:5px; }
		#vehicleDetails #vehicleService { float:right;padding:1px 5px;margin-left:5px; }


/* // VEHICLE REPRICE
///////////////////////////////////////////////////////////// */
#vehicleReprice fieldset { float:left;padding-left:5px; }
	#vehicleReprice fieldset label { float:left;width:55px;height:30px;font-size:1.1em;color:#f90;font-weight:bold;margin-top:3px; }		
	#vehicleReprice ins { font-size:.9em;color:#666; }
		#vehicleReprice ins em { color:#ab1016; }


/* // VEHICLE SERVICE
///////////////////////////////////////////////////////////// */
#vehicleService fieldset { background-color:#efefef;padding:4px;border:1px solid #d5d5d5;}
	#vehicleService fieldset input { margin-left:2px; }
	#vehicleService fieldset label { margin-left:4px; }
		
		



/* // INVENTORY MANAGEMENT
///////////////////////////////////////////////////////////// */

.planPrint table.aging thead { background-color:#333;color:white; }
table.aging caption { color:#FC3;font-size:1.3em;font-weight:bold;font-family:Arial,sans-serif;text-align:left;text-transform:uppercase;padding-bottom:2pt;padding-top:.125in; }
.actionPlansPrint h2 { color:#FC3; }

.plan #header,.actionPlans #header { background-color:#333;border-bottom-color:#333; }
table.plan td{background-color:#ffffff;}
/* // ACTION PLANS */
img.impBtn { display:block;width:150px;height:17px;margin-bottom:10px; }

.actionPlans .wrapper { margin-bottom:10px;height:1%;background-color:white;color:black;font-weight:bold; }
	.actionPlans .wrapper a { color:black;text-decoration:underline; }
	.actionPlans .wrapper a:hover { color:#666; }
	.actionPlans .wrapper li { display:block; }

.actionPlans legend { position:relative;left:-5px;color:black; }

.actionPlans .select { width:450px; }	
	.actionPlans .select .number { margin:0 5px; }
.actionPlans .reports { width:600px; }
	.actionPlans .reports h5 { background-color:#ccc;border:1px solid black;text-indent:5px;padding:2px 0; }
	.actionPlans .reports legend { margin-bottom:5px;  }
	.actionPlans .reports fieldset { margin-bottom:15px; }
	.actionPlans .reports fieldset.l { margin-bottom:0; }
	.actionPlans .reports div.f,.actionPlans .reports div.l { float:left;width:250px; }
	.actionPlans .fullLink { padding-left:22px; }
	.actionPlans .reports .submit { text-align:right;clear:both; }
	
#emailPopup{background-color:#ffffff;border:1px solid #333333;width:500px;color:#333333;}
	#emailPopup .hdr{background-color:#e0e0e0;border-bottom:1px solid #b3b3b3; padding:6px;color:#333333; font-size:1.1em; font-weight:bold;}
	#emailPopup .body{ padding:10px;}
	#emailPopup li{display:block;}
		#emailPopup dt{width:55px; padding-top:3px; padding-left:0px;text-align:left;}
		#emailPopup .body div{margin-bottom:5px;}
		#emailPopup .body .wide{width:477px;}
		#emailPopup .body textarea{font-family:Arial,Helvetica,sans-serif;}
		#emailPopup .body textarea.wide{width:475px; height:75px;}
		#emailPopup .body textarea.wideEmail{width:475px; height:25px;}
		#emailPopup .hdr  a.toggle { float:right; display:block;} 
		#emailPopup .errors{color:#ff0000; padding:10px; font-size:1.0em;}
		#emailPopup label.req{padding-left:8px; text-indent:0px; }
		#emailPopup label.ok{padding-left:8px;text-indent:0px;}
	#emailPopup .note{font-size:.9em; color:#888888;}
	.actionPlansPrint span.b span{padding-left:5px;}
	