

/* BKGDS - repeated here so 'Action Plan' previews display properly */ 
body,body#page,body#popup { background-color:white; }





/* ////////////////////////////////////////////////////////// */
/* INVENTORY ACTION PLAN */
		
.actionPlansPrint h2 { color:black;margin-bottom:10px; }




/* ////////////////////////////////////////////////////////// */
/* INVENTORY PLAN */
#snap,a.actionPlanLink,.sort,.expand,a.historyLink,#regPlanLabel,.pa { display:none; }


/* PAGE BREAKS - not reliable in IE */
.vehicleDetails { page-break-inside:avoid; }
.vehiclePlan { page-break-inside:avoid; }

.objective { page-break-inside:avoid;page-break-after:avoid; }
#currentPlans { page-break-inside:avoid; }

#tabs { display:block;border-bottom:solid 1pt black; }
	#tabs li { display:none; }
	#tabs li.active { display:inline; }

	#tabs a { text-align:left;text-decoration:none; }
	#tabs h5 { font-weight:bold;font-size:1.6em; font-family:Arial,Helvetica,sans-serif; }
	#tabs h5 span { font-size:1em; font-weight:normal; }
	



.actions h5 { display:none; }
table.aging th a { color:black;}

table.aging { width:100%;page-break-inside:avoid;background-color:white; }
table.l { margin-bottom:.25in; }

table.aging { border:solid black 1pt; }
	table.aging caption { font-size:1.3em;font-weight:bold;font-family:Arial,sans-serif;text-align:left;text-transform:uppercase;padding-bottom:2pt;padding-top:.125in; }
	table.aging td,table.aging th { padding: 2pt; }
	table.aging thead th,table.aging thead td { vertical-align:top;border-bottom:solid black 1pt;border-bottom:solid black 1pt;}
	table.aging tfoot.hide { display:block; }
	table.aging tbody th { border-bottom:dashed #ccc 1pt;background-color:#f2f2f2 }
	table.aging tbody td { border-bottom:dashed #ccc 1pt; }
table.aging .age { width:.175in;/*font-weight:bold;*/ }
table.aging .light { width:.25in; }
	table.aging .light .printOnly { text-transform:uppercase; }
		table.aging .noneSm .printOnly { display:none; }
		table.aging .greenSm,table.aging .noneSm,table.aging .yellowSm,table.aging .redSm { background-image:none; }
table.aging .ymm a { font-size:1.2em; }
table.aging .color { width:.6in; }
table.aging .mileage { width:.6in; }
table.aging .lp { width:.65in; }
table.aging .uc { width:.65in;; }
table.aging .bookAvg { width:.65in; }
table.aging .bvc { width:.65in; }
table.aging .tp { width:.6in; }
table.aging .snum { width:.6in; }
table.aging .insights li { color:black; }

/* >>>>>>>>
	for VEHICLE DETAILS
>>>>>>>> */
.vehicleDetails { border-top:solid black 20pt;border-right:solid black 3pt;border-left:solid black 3pt; }
	.vehicleDetails h4 { display:inline; }
		.vehicleDetails h4 a { color:black; }
	.vehicleDetails label { font-weight:normal;margin-right:3pt; }
	.vehicleDetails ol { list-style-type:none; }
	.vehicleDetails ins { font-size:.9em;color:#666; }

/* display & edit views */
	.display li,.edit li { padding:0 25px 0 5px;vertical-align:bottom; }
		/* age column */
		.attributes li.f { float:left; }

/* display view only */
.display { height:1%; }
	.display .attributes { padding:3px 0;border-bottom:solid 1px #d5d5d5;font-weight:bold; }
.display .prices { padding:3px 0;/*border-bottom:solid 1px #d5d5d5;*/font-weight:bold; }
		.display .attributes li.f { width:100px;text-align:right;padding:2px 10px 0 0; } /* age column */
	/* spacing items */
	.display .attributes li { padding:0 10pt 0 0; }
	.display .prices li { padding:0 0 0 24pt; }
		.display .prices li.f { padding-left:5px; }	/* list price column */
	.display .actions { display:none; }
#estockMsg { float:right;width:400px;padding-left:25px;margin-right:10px;background: url(../../../common/_images/icons/inaccurateBookValues.gif) no-repeat top 2px; }
			.display .actions .errors { font-size:1em;font-style:italic;font-weight:normal; }
	.display .riskFactors { float:left; width:110px;}
		.display .riskFactors h5 { margin:3px 0 0 10px; }	
		.display .riskFactors ol { margin:2px 0 0 5px;list-style-position:outside; }


/* >>>>>>>>
	for PLANNING
>>>>>>>> */

a.toggle { display:none; }
input.shortDays { width:20px; }

.vehiclePlan { background-color:white;height:1%;overflow:hidden; }
#page .vehiclePlan { height:1%;border-bottom:solid black 3pt;border-right:solid black 3pt;border-left:solid black 3pt; }
#popup .vehiclePlan { border:solid black 1pt;border-top:none;border-bottom-width:3pt; }
	.vehiclePlan h5 { width:80px;float:left;clear:left;text-align:right;padding-right:10px;margin:0 0 0 10px;text-transform:uppercase; }
	.vehiclePlan fieldset { display:inline; }
	.vehiclePlan ol { list-style:none outside; }
		.objective { vertical-align:top;padding:3pt 0;border-bottom:solid #C9C9C9 1px; }
			.objective h5 { font-weight:normal;margin-top:2pt; }	
				.objective fieldset.f label { font-weight:bold;margin-left:2pt;margin-right:6pt; }
			.objective fieldset.l { margin-left:12pt; }
				.objective fieldset.l input { margin-left:6pt; }
				.objective fieldset.l label { margin-left:2pt; }

	/* save */
	.vehiclePlan .finish .saveBtn { display:none; }
	.vehiclePlan .finish { width:100px;float:right;margin:10px 5px 20px 0; }
	.vehiclePlan .hdr { background-color:#eee;border:solid 1pt #999;padding:4px 10px;font-weight:bold;color:#f90; }	
		.vehiclePlan .finish label { display:block;font-weight:bold;text-transform:uppercase;margin-bottom:5px; }
		.vehiclePlan .finish ins { margin-top:2px; }
	.new,.history { margin-bottom:10px; }		
		.current h5,.new h5,.history h5 { padding-top:10px; }				
		.new h5,.history h5 { border-top:solid 1px #d5d5d5; }	
		.soldOrOther h5 { border-top:none; }
		.elements { margin-left:110px;border-left:solid 1px #d5d5d5;padding:10px 0 10px 10px;margin-right:10px; }

		/* FOR CURRENT ACTIVE PLANS */
		.current .elements { padding-bottom:20px; }
		.current .hdr { color:black;border-width:1pt 0; }
			/* no current plans */
			.current .none { width:350px;background:#ffe url('../../../common/_images/icons/warn-14x12-yellow.gif') no-repeat 8px 5px;padding-left:30px; }
			/* current plan events */
			.current .event { width:5in; }
				.current .event li { float:left; }
				.current .event .hdr { height:1%;font-weight:normal;padding-top:2px;padding-bottom:2px; }
				.current .event ul.det { margin:2px 10px 5px 10px; }	
				.current .event li.str { font-weight:bold;width:1in; }	/*strategy*/
				.current .event li.pd { width:1.25in; } 						/*planned date*/
				.current .event li.ru {  } 									/*run until*/
				.current .event li.upd { display:none; } 					/*update links*/
				.current .event li.mo { width:170px; } 						/*media outlets*/
				.current .event li.not {  }									/*notes*/
			
		/* for new strategies */
		.new .elements { padding-bottom:20px; }
		.new fieldset { margin-top:10px;vertical-align:middle; }
		.new fieldset.f { clear:left; }
			.new fieldset label { font-weight:bold;padding:0 10px 0 5px; }
		.new strong { text-transform:uppercase; }

		#plans h4 { display:none; }
			.planEdit li { padding:2px 10px 1px 10px; }
		.new .planEdit label { width:.5in;font-weight:normal;display:block;float:left; }		
		.new .planEdit fieldset { float:left;width:2.125in;margin-top:6pt; }
		.new .planEdit fieldset.f { clear:none; }
			.new .planEdit fieldset.l label { width:.125in; }
			.planEdit textarea.notes { width:1.5in;height:50px; }
		#soldAndOther fieldset { margin-top:0; }
		#soldAndOther li { padding:2px 10px 1px 0; }

		
	table.plan { width:100%;border-collapse:collapse;margin-bottom:30px;background-color:white; }
table.plan td { vertical-align:top;padding:3pt 3pt;border:solid black 1px; }
table.plan th { padding:1pt 3pt;border:solid black 1px; }

table.plan th { height:12pt;background-color:#ccc; }
table.plan caption,table.plan thead th { font-weight:bold;height:12pt;padding:3pt 3pt;background-color:black;color:white;text-align:left; }
table.plan th.f { width:50%; }
	.spiff th,.modelPromotion th,.repricing th { width:25%; }
	.specialFinance th { width:16%; }
	.auction th { width:10%; }

table.v thead { font-weight: bold; }
table.v td { border-style: none; padding:0px; }
		

