/* // INVENTORY OVERVIEW
///////////////////////////////////////////////////////////// */

.sort,.tabs,#items,.segmentDetails { clear:both; }
	#snap { overflow:hidden; } /* clears contained floated elements */

#snap { position:absolute;width:auto;top:105px;left:15px; }
#content { padding-top:60px; }


#items .model,
table.vehicleDetails { /* IE only */
	width: expression(document.documentElement.clientWidth - 49+'px');
	width: 1370px;
}


	/* abs positioned in header */
	#titleBtns { 
		position: relative; 
		top: 0; 
		margin-top: -100px;  
		text-align: right; 
	 }
	.perfOverall { margin-top: 80px; }

/*
// "VIEW BY" LINKS
*/
.sort { text-align:right;color:#FC3;font-weight:bold;margin:5px 0; }
	.sort h4 { display:inline;margin-right:135px;font-family:Verdana,Helvetica,sans-serif; }
	.sort span { padding-right:15px;color:#999;font-weight:normal; }
	.sort tt { color: #999;font-weight: normal; }
		.sort a { font-weight: normal; color: #CCC; }
		.sort a:hover { color: #999; }

.sort span.alwaysLink { margin-left:30px;padding-right:0;color: white; }
.sort span.alwaysLink a { color: white;text-decoration: underline; }

/*
// PERFORMANCE BUBBLES
*/
.bubble { height:22px;width:525px;background-color:#666;white-space:nowrap; }
	.bubble ul { overflow:hidden;margin: 0 0 0 10px; padding-top: 4px; font-family: Verdana, Helvetica, sans-serif; white-space: nowrap; }
	.bubble li { display: block; float: left; white-space: nowrap; word-spacing: -2px; }
	.bubble li.light { width: 17px; }
	.bubble li.ragp { margin-left: 2px; width: 188px; }
	.bubble li.us { width: 100px; }
	.bubble li.adts { width: 130px; }
	.bubble li.ns { width: 77px; text-align: left; }
/* overall performance */
.perfOverall { float:right;margin-right:5px; }
.perfOverall { color: white;font-family: Verdana, Helvetica, sans-serif; }
	.perfOverall h5 { margin: 0 140px 5px 10px; }
	.perfOverall h5 span { font-weight: normal; text-transform: none; }
/* segment and model performance */
.perfSegment .bubble { float: right; margin: 3px 5px 0 0; background-color: #333; }

/*
// SEGMENT TABS and details
*/
.tabs { 
	font-size:.9em;
	height: 1%;
	background: url('../../../common/_images/bkgds/grad-ioTabs.gif') repeat-x bottom;
	white-space:nowrap;
	overflow:hidden;
 	padding:0;
 	font-family:Verdana, Helvetica, sans-serif; 
 	clear: both;
 	 }
	.tabs img.lcap,.tabs img.rcap { margin-top: 6px; }

.tabs a, .tabs div { height: 40px; display: inline; float: left; text-align: center; }
	.tabs a { color: #666; text-decoration: none; }
	.tabs a:hover { color: black; text-decoration: none; }
.tabs a h4 { line-height: .9em; margin: 11px 0 0 0; }
	.tabs a span { word-spacing: -2px; white-space: nowrap; }
.tabs a { }
.tabs a.active { background-color: #595959; }
	.tabs a.active img.lcap, .tabs .active img.rcap { position: static; margin: 0; }
	.tabs a.active h4 { color: #FC3; height: 28px; padding: 12px 0 0 0; margin: 0; border-top: solid 1px #FC3; }
.tabs div img.vline { margin: 12px 21px 0 21px; }
	.tabs a.sedan { width: 100px; }
	.tabs a.coupe { width: 100px; }
	.tabs a.van { width: 100px; }
	.tabs a.truck { width: 100px; }
	.tabs a.suv { width: 100px; }
	.tabs a.convertible { width: 120px; }
	.tabs a.wagon { width: 100px; }

/* segment information below tabs */
.segmentDetails { color:#CCC;height:30px;background-color:#595959; }
	.segmentDetails .numbers { float:left; margin:7px 0 0 2px; padding: 0; font-family: Verdana, Helvetica, sans-serif; }
	.segmentDetails .numbers li { padding-right:10px; }
	.segmentDetails strong { color: white; }

/*
// SCROLLING CONTAINER for models and vehicles
*/
#items #scroll { 
	height:362px;
	overflow:scroll;
	background:#595959 url('../../../common/_images/bkgds/checked-gray.gif');
	border:solid 1px #AAA; 
	}
	#items cite { color:#FC3;display:block;padding:5px 0;padding-bottom: 0; }

/* 
// MODEL
*/
#items .model { 
	background-color:#FC3; 
	}
	
/* model performance */
.perfModel .bubble { width:543px;background-color:#FFC;color:black;float:right;margin:5px 5px 0 0; }

/* model name, age and days supply; promo button */
.modelDetails { float:left;margin:0;padding:0 0 2px 0;color:black;; }
	.modelDetails h2 { margin:5px 0 0px 5px; }
	.modelDetails span { margin:0 10px 0 5px; }
	.modelDetails img { vertical-align:middle; } /* promo button */
.modelDetails h2 a { color:#036;text-decoration:none; }
.modelDetails h2 a:hover { color:black;border-bottom:solid 2px black;text-decoration:none; }

/* 
// VEHICLE LINE ITEMS
*/
#items .vehicleDetails { background-color:white;color:black;margin-bottom:15px; }
.vehicleDetails thead { background-color:#FC3; }
.vehicleDetails td,.vehicleDetails th { padding:0;margin:0;vertical-align:top; }
.vehicleDetails th { font-size:.8em;border-top:solid 1px black;text-align:left;padding:1px 0;font-family:Verdana,Helvetica,sans-serif; }
	.vehicleDetails th a { color:#036;text-decoration:none; }
	.vehicleDetails th a:hover { color:#D90404; }
	.vehicleDetails th.sorted { color: #D90404; }
		.vehicleDetails th.sorted a { color:#D90404; }
.vehicleDetails td { border-top:solid 1px black;padding:2px 0; }
	.vehicleDetails td img.icon { vertical-align:top; }
/* columns */
.vehicleDetails td.snum,.vehicleDetails td.vin { text-transform:uppercase; }
.vehicleDetails .age,.vehicleDetails .mileage,.vehicleDetails .uc { text-align:right; }
.vehicleDetails .bvc,.vehicleDetails .pt,.vehicleDetails .status,.vehicleDetails .year { text-align:center; }
.vehicleDetails .num,.vehicleDetails .color,.vehicleDetails .bvc,.vehicleDetails .snum,.vehicleDetails .vin,.vehicleDetails .roi { text-indent:5px; }
	/* widths */
.vehicleDetails .num { width:30px; }
.vehicleDetails .age { width:30px; }
.vehicleDetails .year { width:50px; }
	.vehicleDetails .mtb {  } /* takes up the slack */
.vehicleDetails .light { width:13px; }
.vehicleDetails .color { width:70px; }
.vehicleDetails .mileage { width:45px; padding-right:15px;}
.vehicleDetails .lp { width:70px; }
.vehicleDetails .uc { width:70px; }
.vehicleDetails .bvc { width:90px; }
.vehicleDetails .pt { width:35px; }
.vehicleDetails .snum { width:95px; }	
.vehicleDetails .vin { width:145px; }
.vehicleDetails .status { width:55px; }
.vehicleDetails .roi { width:75px; }

