  <div id="appraise-facts">
    <h2>APPRAISAL QUICK FACTS<br />
    	<%- unless trade_in_inventory_analyzed_measure.nil? || trade_in_inventory_analyzed_measure.nil? -%><span>4 wks ending <%= trade_in_inventory_analyzed_measure.measure_upto.strftime('%m/%d/%Y') %></span><%- end -%>
	</h2>
    <p class="stat" style="margin-top:1px;">
	<% if trade_in_inventory_analyzed_measure.nil? || trade_in_inventory_analyzed_measure.measure_from.nil? %>
	<a href="/reporting/trade_in_analyzed_report?date_0=<%= Date.today.strftime('%m/%d/%Y') %>&amp;date_1=<%= Date.today.strftime('%m/%d/%Y') %>" target="ddWindow" hh:interaction="click:Appraisals/Appraisal Quick Facts/Trade-In Inventory Analyzed">
		Trade-In Inventory Analyzed:
		<span>
			N/A
		</span>
	</a>
	<% else %>
	<a href="/reporting/trade_in_analyzed_report?date_0=<%= trade_in_inventory_analyzed_measure.measure_from.strftime('%m/%d/%Y') %>&amp;date_1=<%= trade_in_inventory_analyzed_measure.measure_upto.strftime('%m/%d/%Y') %>" target="ddWindow" hh:interaction="click:Appraisals/Appraisal Quick Facts/Trade-In Inventory Analyzed">
		Trade-In Inventory Analyzed:
		<span>
			<%= sprintf("%d", trade_in_inventory_analyzed_measure.measure*100) %>
			%
		</span>
	</a>
	<% end %>
    </p>
    <p class="supportstat">Target: <%= trade_in_inventory_analyzed_target %>%</p>
    <p class="stat"><% unless average_immediate_wholesale_profit_measure.measure_from.nil? %><a href="/reporting/trade_in_flips_report?date_0=<%= average_immediate_wholesale_profit_measure.measure_from.strftime('%m/%d/%Y') %>&amp;date_1=<%= average_immediate_wholesale_profit_measure.measure_upto.strftime('%m/%d/%Y') %>" target="ddWindow" hh:interaction="click:Appraisals/Appraisal Quick Facts/Average Immediate Wholesale Profit"><% end %>Avg. Imm. Wholesale Profit: <span>$<%= sprintf("%d", average_immediate_wholesale_profit_measure.measure) %></span><% unless average_immediate_wholesale_profit_measure.measure_from.nil? %></a><% end %></p>
    <p class="supportstat">Target range: <%= average_immediate_wholesale_profit_target %></p>
  </div>

 