<% if show_make_a_deal %>
<%= link_to "Preferences", { :controller => "appraisal_review_preferences", :action => "preferences" }, { 'hh:interaction' => 'click:Bottom Navigation/Appraisal Preferences' } %>
<% else %>
<%= link_to "Preferences", { :controller => "insight_preferences", :action => "appraisal_closing_rate" }, { 'hh:interaction' => 'click:Bottom Navigation/Appraisal Preferences' } %>
<% end %>