  <div id="appraise-gauge" style="position:relative;">
    <div id="appraisal-content">
    <p>Dashboard gauges require <br />the Adobe Flash plug-in <br />(version 8 or later).</p>
    </div>
        <script type="text/javascript">
        (function loadAppraisalGuage(id) {
        	var swf = "<%= ActionController::Base.asset_host.call('/appraisal.swf', request) %>?<%= Time.now.seconds_since_midnight %>";
        	var version = "8.0.0.0";
        	var expressInstall = "";
        	var w = 178;
        	var h = 178;
        	var flashvars = {
        		closingrate: <%= closing_rate_target %>,
        		link: escape("<%= url_for(:controller => 'reporting', :action => 'trade_closing_rate_report', :date_0 => "#{date0}", :date_1 => "#{date1}", :escape => false) %>")
        	};
        	var params = {
        		wmode: "transparent",
        		align: "center"
        	};
        	var attributes = {
        		id: id
        	};
        	
        	swfobject.embedSWF(swf,id,w,h,version,expressInstall,flashvars,params,attributes);
        })("appraisal-content");
        </script>
  </div>
