<button class="dash-button" <% if !@show_purchasing %>disabled="disabled"<% end %> 
	onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/IMT/ShowroomDisplayAction.go',  :market => 'group') %>';"">
	<%= @groupTrades %> Potential Trade-Ins offered
</button>
