
<div id="in-group-search"> 
    <h2><%=  session[:business_unit].parent.business_unit_group_preference.car_search_title%>:</h2>
    <%= form_remote_tag :url => {:action => 'in_group_search_locate'},
    					:complete => "
   						var instruction = request.getResponseHeader('X-Instruction');
   						if(instruction == 'ok') {
    							$('in-group-search-message').innerHTML = 'Loading Results...';
    							var stockOrVin = document.getElementById('stockNumberOrVin').value;
   							var searchUrl = '/home/redirect_to_external_url?external_url=%2FNextGen%2FInGroupInventorySearch.go&stockNumberOrVin=' + request.responseText;
    							document.location.href = searchUrl;
    						} else {
   							$('in-group-search-message').innerHTML = request.responseText;
    						}" -%>
    		<%= default_value_input_helper :id => "stockNumberOrVin", :name => 'stockNumberOrVin', :value => "Stock or Vin \#", :size => 25, :maxlength => 17 %>
	    <span id="in-group-search-button-span">
	      <button id="fin-group-search-button" class="dash-button small" type="submit">
	        <img src="/fl30/images/btn_locate.png" />
	        LOCATE
	      </button>
	    </span>
    </form>
    <span id="in-group-search-message">&nbsp;</span>
</div>