<div id="overstock" class="dash-button half block pull-right" style="cursor:pointer;" 
	onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/NextGen/InventoryOverview.go' %>'">

	Inventory Overview
</div>