  <div id="inventory-graph">
    <div id="CurrentInventoryGraph-wrapper">
      <div id="CurrentInventoryGraph-top-arc">
        <img src="/fl30/images/border-inventory-arc.gif" />
      </div>
      <div id="CurrentInventoryGraph-top-title" class="shadow">
        <img src="/fl30/images/border-inventory-graph-title.gif" />
      </div>
      <div id="CurrentInventoryGraph-top-container">
        <div id="CurrentInventoryGraph-graph-container">
          <div id="CurrentInventoryGraph" class="shadow"></div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    jQuery(function($) {
        var total = 0, 
            bar,
            bars = [];
        <% @inventory_sales_graph_data.each_with_index do |data,index|
            units = "#{data.units.to_i}"
        %>
            total += <%= units %>;
        <% end %>
        <% @inventory_sales_graph_data.each_with_index do |data,index|
            rangeId = "#{data.range_id}"
            units = "#{data.units.to_i}"
            green ="#{data.green_light_units.to_i}"
            yellow ="#{data.yellow_light_units.to_i}"
            red ="#{data.red_light_units.to_i}"
            dollars ="#{data.water.to_i}"
            age_lower ="#{data.age_lower.to_i}"
            age_upper ="#{data.age_upper.to_i}"
        %>
        bar = {};
        bar.RangeId = <%= rangeId %>;
        bar.Units = <%= units %>;
        bar.Green = <%= green %>;
        bar.Yellow = <%= yellow %>;
        bar.Red = <%= red %>;
        bar.Percentage = Math.round(bar.Units / total * 100);
        bar.BookMinusCost = <%= dollars %>;
        bar.RangeLow = <%= age_lower %>;
        bar.RangeHigh = <%= age_upper %>;
        bars.push(bar);
        <% end %>

        var graph = CurrentInventoryGraph;
        graph.Setup($('#CurrentInventoryGraph'), bars, '<%= (has_planning ? (url_for :action => :redirect_to_external_url, :external_url => '/NextGen/InventoryPlan.go', :rangeId => 0) : "#") %>');
    });
</script>
