  <div id="appraise-facts" class="bordered-box-outer">
    <div class="bordered-box-inner">
	<%business_unit_id=session[:business_unit].id%>
    <h2>APPRAISAL QUICK FACTS<br />
    	<%- unless trade_in_inventory_analyzed_measure.nil? || trade_in_inventory_analyzed_measure.nil? -%><span>4 wks ending <%= (Date.today - 1 ).strftime('%m/%d/%Y') %></span><%- end -%>
	</h2>
    <p class="stat" style="margin-top:1px;">
	<% if trade_in_inventory_analyzed_measure.nil? || trade_in_inventory_analyzed_measure.measure.nil? %>
	<a href="command_center/DealerLevelGroupPage.aspx?Id=c625a438-4429-4a8c-a3a2-366805acddf9&drillthrough=<%=business_unit_id%>&Period=1&TradeInType=0&type=pmr" target="ddWindow" hh:interaction="click:Appraisals/Appraisal Quick Facts/Trade-In Inventory Analyzed">
		Trade-In Inventory Analyzed:
		<span>
			N/A
		</span>
	</a>
	<% else %>
	<a href="command_center/DealerLevelGroupPage.aspx?Id=c625a438-4429-4a8c-a3a2-366805acddf9&drillthrough=<%=business_unit_id%>&Period=1&TradeInType=0&type=pmr" target="ddWindow" hh:interaction="click:Appraisals/Appraisal Quick Facts/Trade-In Inventory Analyzed">
		Trade-In Inventory Analyzed:
		<span>
			<%= sprintf("%d", trade_in_inventory_analyzed_measure.measure*100) %>
			%
		</span>
	</a>
	<% end %>
    </p>
    <p class="supportstat">Target: <%= trade_in_inventory_analyzed_target %>%</p>
    <p class="stat"><% unless (average_immediate_wholesale_profit_measure.nil?) %><a href="command_center/DealerLevelGroupPage.aspx?Id=59c0e4ef-95bb-4031-8b61-28020d9e91f9&drillthrough=<%=business_unit_id%>&Period=1&type=pmr" target="ddWindow" hh:interaction="click:Appraisals/Appraisal Quick Facts/Average Immediate Wholesale Profit"><% end %>Avg. Imm. Wholesale Profit: <span>$<%= sprintf("%d", average_immediate_wholesale_profit_measure.nil? ? 0 : average_immediate_wholesale_profit_measure.measure.nil? ? 0 : average_immediate_wholesale_profit_measure.measure) %></span><% unless (average_immediate_wholesale_profit_measure.nil? ) %></a><% end %></p>
    <p class="supportstat">Target range: <%= average_immediate_wholesale_profit_target %></p>
  </div>
</div>
