  <div id="inv-overview" class="shadow">
    <div>
    <span class="inv-overview-number"><%= total_units %> Vehicles</span> <%= image_tag("/images/blueinvdot.gif", :style => "padding:0 3px 2px 3px;") %>
    <span class="inv-overview-number"><%= days_supply %> Days Supply</span> <%= image_tag("/images/blueinvdot.gif", :style => "padding:0 3px 2px 3px;") %>
    <span class="inv-overview-number"><%= money(total_dollars) %> in Inventory</span> <%= image_tag("/images/blueinvdot.gif", :style => "padding:0 3px 2px 3px;") %>
    <span>Book vs Cost: <strong class="<% if total_water < 0 %>red<% else %>blue<% end %>"><%= money(total_water) %></strong></span>
    </div>
  </div>