<div id="pricingformerchandising" class=<%- if has_upgrade -%>"dash-button enabled half block pull-left"<%- else -%>"dash-button disabled half block pull-left"<%- end -%>
		onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/pricing/?token=DEALER_SYSTEM_COMPONENT', :rangeId => 0 %>';">
    <span class="icon"></span>Pricing Analyzer
</div>