<div id="online-buying" class="online-buying bordered-box-outer clickable" <% if @show_purchasing %>  onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/NextGen/MarketplaceSearchSummary.go') %>';"<% end %>>
    <div class="bordered-box-inner">
    <h2>Online Buying and Live<br />Auctions</h2>
    <div class="actionlinks">
        <% if @show_purchasing %>  
            <%=link_to "View", :action => :redirect_to_external_url, :external_url => '/NextGen/MarketplaceSearchSummary.go' %>
        <% end %>
    </div>
    </div>
</div>