  <div id="flash-locator">
    <h2>First Look Flash Locator</h2>
    <% if @show_purchasing %>
      <%= form_tag({:action => :redirect_to_external_url},{:id=>"flash_locate_form",:onSubmit => "return flashLocateFormManager.validate();"}) %>
      <input type="hidden" name="external_url" value="/NextGen/FlashLocateSummary.go" />
    <% end %>
    <dl>
      <dt style="color:#666;text-transform:uppercase;padding-right:2px;">
      <label for="yearBegin">Year(s):</label>
      </dt>
      <dd>
      <select id="yearBegin" name="yearBegin" onFocus="flashLocateFormManager.showForm();" >
        <option value="0">ALL</option>
        <%- for year in (1995..Time.now().year+1).to_a.reverse -%>
          <option value="<%= year %>"><%= year %></option>					       
        <%- end -%>
      </select>
      <label for="yearEnd">to</label>
      <select id="yearEnd" name="yearEnd" onFocus="flashLocateFormManager.showForm();" >
        <option value="0">ALL</option>
        <%- for year in (1995..Time.now().year+1).to_a.reverse -%>
          <option value="<%= year %>"><%= year %></option>					       
        <%- end -%>
      </select>
      </dd>
    </dl>
    <dl>
    <dt class="flashLocateLabel" style="padding-right:2px;">
    <label for="makeText" >Make:</label>

    </dt>
    <dd class="formfield">
    <select id="makeText" name="makeText" onfocus="flashLocateFormManager.showForm();">
    	<option value="">Select a Make...</option>
    	<% @vehicle_makes.each do |make| %>
    	<option value="<%= make.name %>"><%= make.name %></option>
    	<% end %>
    </select>
    </dd>
    </dl>
    
<div id="flash_locate" style="display:none;width:251px;position:absolute;background-color:#fff;z-index:3;">
<div>
<dl>
<dt  class="flashLocateLabel" style="padding-right:2px;">
<label for="modelText">Model:</label>

</dt>
<dd class="formfield" >
<input type="text" id="modelText" name="modelText" size="16" onfocus=""/>
</dd>
</dl>

<p style="margin-top:4px;">
<span style="padding-left:50px;">
<input type="radio" name="selectedMarket" id="inGroup"  value="IN_GROUP" /> <label for="inGroup">In-Group Only</label>
</span>
</p>
<p style="margin-top:4px;">
<span style="padding-left:50px;">
<input type="radio" name="selectedMarket" id="online"  value="ONLINE" /> <label for="online">Marketplaces Only</label>
</span>
</p>
<p style="margin-top:4px;">
<span style="padding-left:50px;">
<input type="radio" name="selectedMarket" id="inGroupAndOnline" value="ALL" checked/> <label for="inGroupAndOnline">All</label><br />
</span>
</p>
		<input type="hidden" name="ignoreMarketSuppression" value="true" />
		<input type="hidden" name="flashLocateNotAjax" value="true" />
		<input type="hidden" name="flashLocateRunSearch" value="true" />
		      <a href="#" style="float:left;margin-left:3px;" onclick="flashLocateFormManager.hideForm();return false;">Hide Form</a>
    <span style="margin-top:4px;margin-right:2px;float:right;">
      <input type="image" name="locate" value="submit" src="<%= ActionController::Base.asset_host.call('/images/btn_locate.gif', request) %>" />
    </span>
</div>
</div>

<span id="flash-locator-button-span">
  <button id="flash-locator-button" class="dash-button small" <% if !@show_purchasing %> disabled="disabled"<% end %> onclick="flash_locate_form.submit();">
    <img src="/fl30/images/btn_locate.png" />
    LOCATE
  </button>
</span>
        
	<%= end_form_tag %>

  </div>
