<%- if has_upgrade -%>
<div class="market-stocking bordered-box-outer" id="market-stocking">
	<div class="bordered-box-inner">
	<h2>Stocking</h2>
	<p class="actionlinks">
		<%= link_to "Core Inventory", :action => :redirect_to_external_url, :external_url => '/NextGen/OptimalInventoryStockingReports.go', :token => "DEALER_SYSTEM_COMPONENT" %> | 
		<%= link_to "Market Velocity", :action => :redirect_to_external_url, :external_url => '/pricing/', :token => "DEALER_SYSTEM_COMPONENT", :pageName => "Pages/Market/" %>
	</p>
	</div>
</div>
<%- end -%>

