<%
	external_url = (has_pricing ? '/IMT/PingIIRedirectionAction.go' : '/IMT/SearchStockNumberOrVinAction.go');
	target = (has_pricing ? 'target="IPA"' : ''); 
%>
<div id="vpa-search-div">
<form id='vpa_search' name="vpa_search"
		action="<%= url_for(:action => :redirect_to_external_url, :external_url => external_url) %>"
		<%= target %>
		method="post"
		onsubmit="var el=document.getElementById('vpa_search_<%= parameter_name %>');if(el.value==el.defaultValue){el.value=''}">
	<input type="hidden" name="popup" value="true" />
	<%= default_value_input_helper :id => "vpa_search_#{parameter_name}", :name => parameter_name, :value => search_label %>
	<button class="dash-button small" value="submit" onclick="vpa_search.submit();">SEARCH</button>
</form>
</div>