<div id="trade-analyzer" class="bordered-box-outer">
  <div class="bordered-box-inner">
  <h2 class="red">Analyzer:</h2>
    <form name="SearchStockNumberOrVinForm" <% if @show_tradeAnalyzer %> method="POST" action="<%= url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/SearchStockNumberOrVinAction.go') %>" <% end %> style="display:inline">
        <input type="hidden" name="p.productMode" value="edge" />
        <%= default_value_input_helper :name => 'stockNumberOrVin', :value => "Stock or Vin \#", :size => 25, :maxlength => 17  %>
        <div id="trade-analyzer-row1">
		<% if @show_tradeAnalyzer %>
	        <a style="font-size:10px; font-family:Verdana, Arial, sans-serif; color:#355fab;" class="alert" href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/AppraisalManagerAction.go?selectedTab=awaiting')%>"> <%=@appraisals%> Appraisals Waiting</a>
		<% else %>		
	        <a style="font-size:10px; font-family:Verdana, Arial, sans-serif; color:#355fab;" class="alert"> <%=@appraisals%> Appraisals Waiting</a>
		<% end %>
        <span id="trade-analyzer-button-span">
		<% if @show_tradeAnalyzer %>
            <button id="trade-analyzer-button" class="dash-button small" onclick="SearchStockNumberOrVinForm.submit();">
		<% else %>
            <button id="trade-analyzer-button" class="dash-button small">
		<% end %> 
                <img src="/fl30/images/btn_analyze.png" />
                ANALYZE
            </button>
        </span>
        </div>
    </form>
<% if @show_tradeAnalyzer %>
<div id="trade-analyzer-row2">
	<ul style="list-style-type: none;">
		<li class="block" style="padding-right: 40px;"> <%= link_to('Appraisal Manager', { :action => :redirect_to_external_url, :external_url => '/IMT/AppraisalManagerAction.go'}) %> </li>
		<% manual_book_id = session[:business_unit].business_unit_preference.book_ids.detect {|id| [1,2,3].include?(id)} %>
		<% if manual_book_id == 3 %>
		<li class="block" style="float:right"> <%= link_to('Manual Bookout', { :action => :redirect_to_external_url, :external_url => '/IMT/KBBManualBookoutAction.go', :selected => 'display' }) %>  </li>
		<% end %>
		<% if manual_book_id == 2 %>
		<li class="block" style="float:right"><%= link_to('Manual Bookout', { :action => :redirect_to_external_url, :external_url => '/IMT/NADAManualBookoutAction.go', :selected => 'display' }) %> </li>
		<% end %>
		<% if manual_book_id == 1 %>
		<li class="block" style="float:right"><%= link_to('Manual Bookout', { :action => :redirect_to_external_url, :external_url => '/IMT/BlackBookManualBookoutAction.go', :selected => 'display' }) %> </li>
		<% end %>
	</ul>
</div>
<% end %>
  </div>
</div>
