<div id="in-group-container" class="bordered-box-outer">
	<div class="bordered-box-inner">
		<h2 class="ingroup">In-Group</h2>

		<button class="dash-button" <% if !@show_purchasing %>disabled="disabled"<% end %> onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/NextGen/OptimalInventorySearchSummary.go',  :market => 'group') %>';"">
			<% if search_and_aquisition_report.nil? || search_and_aquisition_report.in_group.nil? %>
				Click to view opportunities
			<% else %>
				<%= search_and_aquisition_report.in_group['Units'] %> Buy Now opportunities
			<% end %>
		</button>

		<%= render_component :action => "potential_tradeins" %>

	</div>
</div>