<div id="pricing" class="pull-left half dash-button" 
	<%- if has_upgrade -%>
		style="cursor:pointer;"
		onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => "/pricing/?token=DEALER_SYSTEM_COMPONENT" %>'"  
	<%- end -%> >
	
	<div class="ping-large-icon"></div>
	
	<div class="ping-pricing">
		<%- if has_upgrade -%>
		<%= pingII_branding(@has_fl30) %>
		<p class="branding">
			<span class="num"><%= due_for_replanning %></span> vehicles<br />
			Due for Repricing
		</p>
		<%- else -%>
		<h2 class="branding">Internet Advertising Accelerator</h2>
		<p class="more_info"><a href="http://www.firstlooksolutions.com/internet-pricing.html" target="firstlooksolutions">Learn More</a></p>
		<%- end -%>
	</div>	

</div>
