
<div id="core-inventory-graph-div">
  
  <script type="text/javascript">
    var link = escape("<%= url_for(:action=>:redirect_to_external_url,:external_url =>'/NextGen/MAXStockingReports.go')%>")
  </script>

  <div id="core-inventory-graph-arc">
    <img id="core-inventory-graph-arc-image" src="/fl30/images/small-graph-arc.gif" />
  </div>
  <div id="core-inventory-graph-body" class="shadow">
  </div>
  <div id="core-inventory-graph-closing-rate">
    <div id="core-inventory-graph-closing-rate-div1">
      Core Inventory
    </div>
    <div id="core-inventory-graph-closing-rate-div2">
      <span id="core-inventory-graph-closing-rate-total"><%= (@optimal.to_i - @stocked.to_i) %></span> Units Out of Stock
    </div>
    <div id="core-inventory-graph-tooltip-container">
      <div id="core-inventory-graph-tooltip"></div>
    </div>
  </div>
  <div id="core-inventory-graph-dealername"><%= @session[:business_unit].name %></div>
  <div class="core-inventory-graph-baroverlay" id="core-inventory-graph-baroverlay0" idx="0"></div>
  <div class="core-inventory-graph-baroverlay" id="core-inventory-graph-baroverlay1" idx="1"></div>
  <div class="core-inventory-graph-baroverlay" id="core-inventory-graph-baroverlay2" idx="2"></div>
</div>

<script type="text/javascript">
  jQuery(function() {
    CoreInventoryGraph.stocked = '<%= @stocked %>';
    CoreInventoryGraph.optimal = '<%= @optimal %>';
    // TODO: Clean after BlueWhale
    CoreInventoryGraph.link = "<%= url_for(:action=>:redirect_to_external_url,:external_url =>'/NextGen/MAXStockingReports.go')%>";
    CoreInventoryGraph.onLoad();
  });
</script>
  