<div id="max-marketing" class="half dash-button pull-right" onclick="window.open('http://www.maxadsystems.com');">
	<div id="max-marketing-info">
		<p class="max-marketing-brand branding"><img src="/fl30/images/max.png" /> 3.0 </p>
		<p class="max-header-doe">Digital Optimization Engine</p>
		<a>Learn More</a>
	</div>
</div>
