<div id="planning" class=<%- if has_upgrade -%>"dash-button enabled half block pull-left"<%- else -%>"dash-button disabled half block pull-left"<%- end -%>
<%- if has_upgrade -%>onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/NextGen/InventoryPlan.go', :rangeId => 0 %>'"<%- end -%> >
	<span class="icon"></span>Quick Planning
</div>