
<div id="max-se-redbox" style="display:none;">
	<form id='go-to-max-se' name="go-to-max-se" action="<%= url_for(:action => :redirect_to_external_url, :external_url => "/IMT/PingIIRedirectionAction.go") %>" target="VPA" method="post">
		<div class="max-se-logo" id="max-se-dialog-title">
		        MAX Merchandising
		</div>
		<div class="max-se-input">
			<input type="hidden" name="popup" value="true" />
			<input type="hidden" name="pageName" value="Pages/MaxMarketing/Default.aspx" />
			<span class="max-se-prompt">Stock Number:</span>
			<span class="max-se-submit">
				<input  id="max-se-stock-number" name="stockNumber" size="15" type="text" />
				<input type="image" src="<%= ActionController::Base.asset_host.call('/images/btn_search.gif', request) %>" 
				name="search" value="submit" class="submit" onclick="RedBox.close();" />
			</span>
	 	</div>
	    <div class="max-se-cancel pull-right">
			<%= link_to_close_redbox "Cancel" %>
	 	</div>
	</form>
</div>


<div id="maxdoe" class="bordered-box-outer">
	<div class="bordered-box-inner">
    	<div id="maxdoe-header">
			<a href="/home/redirect_to_external_url?external_url=%2Fmerchandising%2FRouter.aspx%2Fmax_digital_performance_system">
				<img src="/fl30/images/max.png" />
        		Digital Marketing System
      		</a>
    	</div>
		<div id="maxdoe-left" class="block right-gradient">
			<div class="maxdoe-left-block" id="maxdoe-due-for">
				  <div class="block maxdoe-left-left"><span id="maxdoe-due-for-count">--</span></div>
				  <div class="block maxdoe-left-right">Needs Re-pricing</div>
				  <div class="block maxdoe-left-right2">&#9658;</div>
			  </div>
			  <hr class="maxdoe-hr" />
			  <div class="maxdoe-left-block" id="maxdoe-dashboard" style="display:none">
				  <div class="block maxdoe-left-left"><div id="maxdoe-dashboard-img"></div></div>
				  <div class="block maxdoe-left-right">Dashboard</div>
				  <div class="block maxdoe-left-right2">&#9658;</div>
			  </div>
			  <hr class="maxdoe-hr" />
			  <div class="maxdoe-left-block" id="maxdoe-sellingandemail">
				  <div class="block maxdoe-left-left"><div id="maxdoe-se-img"></div></div>
				  <div class="block maxdoe-left-right" id="max-se-button-title">Merchandising</div>
				  <div class="block maxdoe-left-right2 bordered">&#9658;</div>
			  </div>
		  </div>

		<div id="maxdoe-right" class="block">
			<div id="maxdoe-right-header">Online Inventory Status</div>

			<div class="clearfix">
				<div class="block maxdoe-right-left">
					<span class="maxdoe-count" id="maxdoe-notonline-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-notonline">NOT ONLINE</span>
				</div>
				<div class="block maxdoe-right-right">
					<span class="maxdoe-count" id="maxdoe-noequipment-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-noequipment">NO EQUIPMENT</span>
				</div>
			</div>

			<div class="clearfix">
				<div class="block maxdoe-right-left">
					<span class="maxdoe-count" id="maxdoe-noprice-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-noprice">NO PRICE</span>
				</div>
				<div class="block maxdoe-right-right">
					<span class="maxdoe-count" id="maxdoe-lowactivity-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-lowactivity">LOW ACTIVITY</span>
				</div>
			</div>

			<div class="clearfix">
				<div class="block maxdoe-right-left">
					<span class="maxdoe-count" id="maxdoe-nophotos-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-nophotos">NO PHOTOS</span>
				</div>
				<div class="block maxdoe-right-right">
					<span class="maxdoe-count" id="maxdoe-lowadquality-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-lowadquality">MERCHANDISING</span> <!-- FB: 27963 - Ad Quality to Merchandising, tureen 11/26/2013 -->
				</div>
			</div>
			
				<div class="clearfix">
				<div class="block maxdoe-right-left">
					<span class="maxdoe-count" id="maxdoe-nopricing-count">-</span>
					<span class="maxdoe-count-label" id="maxdoe-nopricing">NO/LOW PRICE COMPARISON</span>
				</div>
				<div class="block maxdoe-right-right">
					&nbsp;
				</div>
			</div>

		</div>
	</div>
</div>


<script type="text/javascript">

	//need this to keep the referer. Bug in IE 8.
	function _Redirect (url) {
		var referLink = document.createElement('a');
		referLink.href = url;
		document.body.appendChild(referLink);
		referLink.click();
	}
	
	function fadeIn(element) {
		jQuery(element).css('background-position', 'left top');
	};

	function updateCount (element, filter) {
		
		if(filter === null) { //hide filters if null
			element.parent('div').hide();
			return;
		}
		
		var count = (filter.Count === null ? "-" : filter.Count);
		element.text(count);
	}

	function makeLink(dueForRepricing) {
	
		if(dueForRepricing === null) { //hide Needs Repricing
			jQuery('#maxdoe-due-for').hide();
			return;
		}
		
		var countElement = jQuery('#maxdoe-due-for-count');
		var count = (dueForRepricing.Count === null ? "-" :  dueForRepricing.Count);
		countElement.text(count);
		jQuery('#maxdoe-due-for').click( function() { _Redirect(dueForRepricing.Url); });
	};

	function updateOnlineInventoryStatusLinks(json) {
		updateCount(jQuery('#maxdoe-notonline-count'), json.Filters["NotOnline"]);
		updateCount(jQuery('#maxdoe-noequipment-count'), json.Filters["NoEquipment"]);
		updateCount(jQuery('#maxdoe-noprice-count'), json.Filters["NoPrice"]);
		updateCount(jQuery('#maxdoe-nophotos-count'), json.Filters["NoPhotos"]);
		updateCount(jQuery('#maxdoe-lowactivity-count'), json.Filters["LowActivity"]);
		updateCount(jQuery('#maxdoe-lowadquality-count'), json.Filters["LowAdQuality"]);
		updateCount(jQuery('#maxdoe-nopricing-count'), json.Filters["NoPriceComparison"]);
	};

	function updateTitle(hasSellingAndEmail, hasWebsitePdf, hasWebsitePdfMarketListings) {
		var name = "Merchandising";
		jQuery('#max-se-dialog-title').html("MAX " + name);	
		jQuery('#max-se-button-title').html(name);	
	};

	function enableDashboardButton(url) {
		fadeIn('#maxdoe-dashboard-img');
		jQuery('#maxdoe-dashboard').click( function() {
			_Redirect(url);
		});
	};

	function showDashboardButton() {
		jQuery('#maxdoe-dashboard').show();
	}

	function enableMarketingButton() {
		fadeIn('#maxdoe-se-img');
		jQuery('#maxdoe-sellingandemail').click( function() {
			RedBox.showInline('max-se-redbox');
			setTimeout(function(){ // delay-focus search input field (wait for it to appear)
				jQuery('input[id=max-se-stock-number]:visible').focus();
			},250);
		});
		// The following code might still be useful, but jQuery and Prototype are interacting at a low level; specifically,
		// Prototype seems to own a function being called by jQuery, and it is producing runtime errors preventing
		// this code from finishing; not yet sure how to resolve this, as the event handlers need to work.
		// punting back for now.
		/*
		jQuery('div[id=max-se-redbox] .max-se-cancel').live( 'keydown', function (event) {
			if (event.keyCode == 9 && !event.shiftKey) // TAB
				jQuery('div[id=max-se-redbox] input[id=max-se-stock-number]:visible').focus();
		});
		jQuery('div[id=max-se-redbox] input[id=max-se-stock-number]').live( 'keydown', function (event) {
			if (event.keyCode == 9 &&  event.shiftKey) // SHIFT + TAB
				jQuery('div[id=max-se-redbox] .max-se-cancel:visible').focus();
		});
		*/
	};

	function marketIPad() {
		jQuery('#maxdoe-sellingandemail').click( function() { window.open("http://www.maxdigital.com"); });
	};

	function marketMax3withDashboardLink() {
		jQuery('#maxdoe-dashboard').click( function() {  window.open("http://www.maxdigital.com"); });
	};

	function updateOnlineInventoryStatus(maxVersion, dashboardEnabled, dashboardUrl) {

		if (maxVersion == 3 && dashboardEnabled)	{
			jQuery('#maxdoe-right').click( function() {  _Redirect(dashboardUrl); });
		} else {
			jQuery('#maxdoe-right').click( function() { window.open("http://www.maxdigital.com"); });
		}
		
		jQuery('#maxdoe-right').css('cursor', 'pointer');
	};

	jQuery(function($) { $.ajax({
		url: '<%= "/home/due_for_updating_price_in_ad/"  %>',
		dataType: "json",
		success: function(json) {
			
			if (json == undefined || json.errorMessage != undefined) return;

			var dueForRepricing = json.Filters["DueForRepricing"];
			makeLink(dueForRepricing);

			if (json.Dashboard["IsEnabled"])  {
				enableDashboardButton(json.Dashboard["Url"]); 
				if ( json.Roles["Report Viewer"] || json.Roles["Administrator"] )
					showDashboardButton();
			} else {
				marketMax3withDashboardLink();
			}

			if (json.MaxVersion == 3) updateOnlineInventoryStatusLinks(json);

			var inv_url;
			if ( json.Roles["Report Viewer"] || json.Roles["Administrator"] )
				inv_url = json.Dashboard["Url"];
			else
				inv_url = '/merchandising/Workflow/Inventory.aspx';
			updateOnlineInventoryStatus(json.MaxVersion, json.Dashboard["IsEnabled"], inv_url);

			if (json.MaxForSellingAndEmail["IsEnabled"]) { 
				enableMarketingButton();
			} else {
				marketIPad();
			};
			
			updateTitle(	json.MaxForSellingAndEmail["HasMaxForSellingAndEmail"],
					json.MaxForSellingAndEmail["HasWebsitePdf"], 
					json.MaxForSellingAndEmail["HasWebSitePdfMarketListings"]
			);	

		},
		error: function(err) {
			//alert(err.statusText);
		}
	})});

</script>
