<div id="appraise-graph-div">
  
  <script type="text/javascript">
    var link = escape("<%= url_for(:controller => 'reporting', :action => 'trade_closing_rate_report', :date_0 => "#{date0}", :date_1 => "#{date1}", :escape => false) %>")
  </script>
  
  <div id="appraise-graph-arc">
    <img id="appraise-graph-arc-image" src="/fl30/images/small-graph-arc.gif" />
  </div>
  <div id="appraise-graph-body" class="shadow">
  </div>
  <div id="appraise-graph-footer-wrapper">
    <div id="appraise-graph-footer">
      Last 4 Weeks<br />
    </div>
    <div id="appraise-graph-closing-rate">
      <span id="appraise-graph-closing-rate-percentage"><%= (percentage.to_f * 100).round%>%</span> Appraisal Closing Rate
    </div>
    <div id="appraise-graph-tooltip-container">
      <div id="appraise-graph-tooltip"></div>
    </div>
  </div>
  
  <div class="appraise-graph-baroverlay" id="appraise-graph-baroverlay0" idx="0"></div>
  <div class="appraise-graph-baroverlay" id="appraise-graph-baroverlay1" idx="1"></div>
  <div class="appraise-graph-baroverlay" id="appraise-graph-baroverlay2" idx="2"></div>
</div>

<script type="text/javascript">
  jQuery(function() {
    AppraiseGraph.closed = <%= closed %>;
    AppraiseGraph.notClosed = <%= not_closed %>;
    AppraiseGraph.appraisals = <%= appraisals %>;
    // TODO: Clean after BlueWhale
	
	<%business_unit_id=session[:business_unit].id%>
	
    AppraiseGraph.link = '/command_center/DealerLevelGroupPage.aspx?drillthrough=<%=business_unit_id%>&type=pmr&Id=C4DE8552-68E4-451E-9F22-F6CEE9359D89';
    AppraiseGraph.onLoad();
  });
</script>
