<div id="marketing" class="half dash-button pull-right" >
	<img src="/images/branding/marketing.gif" />
    <%- if has_upgrade -%>
    <form id='consumer-sheets-search' name="consumer-sheets-search" action="<%= url_for(:action => :redirect_to_external_url, :external_url => "/IMT/PingIIRedirectionAction.go") %>" target="VPA" method="post">
          <input type="hidden" name="popup" value="true" />
          <input type="hidden" name="pageName" value="Pages/MaxMarketing/Default.aspx" \>
	  <div>
		  <div class="pull-left">
			  <%= default_value_input_helper :name => "stockNumber", :value => "Stock \#" %>
		  </div>
		  <div class="pull-right">
			  <input type="image" src="<%= ActionController::Base.asset_host.call('/images/btn_search.gif', request) %>" name="search" value="submit" class="submit" >
		  </div>
	  </div>
    </form>
    <%- else -%>
    <p class="more_info"><a href="http://www.maxmarketingsolutions.com/" target="firstlooksolutions">Learn More</a></p>
    <%- end -%>
</div>