<div id="in-group-container">
      <h2 class="ingroup">In-Group:</h2>
      <div id="in-group" class="in-group" 
        style="margin-bottom:0px;cursor:pointer;" 
       <% if @show_purchasing %> 
	   		onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/NextGen/OptimalInventorySearchSummary.go',  :market => 'group') %>';"  
        	onmouseover="Element.addClassName(this,'in-group-over');" 
			onmouseout="Element.removeClassName(this,'in-group-over');"
		<% end %>>
		
            <div id="in-group-l"></div>
            <div id="in-group-c">
                <h3>
				<% if search_and_aquisition_report.nil? || search_and_aquisition_report.in_group.nil? %>
					Click to view opportunities
				<% else %>
					<%= search_and_aquisition_report.in_group['Units'] %> Buy Now opportunities
				<% end %>
				</h3>
            </div>
            <div id="in-group-r"></div>
      </div>
</div>
  
