  <div id="inv-overview">
    <span><strong><%= total_units %></strong> Vehicles</span> <%= image_tag("/images/blueinvdot.gif", :style => "padding:0 3px 2px 3px;") %>
    <span><strong><%= days_supply %></strong> Days Supply</span> <%= image_tag("/images/blueinvdot.gif", :style => "padding:0 3px 2px 3px;") %>
    <span><strong><%= money(total_dollars) %></strong> in Inventory</span> <%= image_tag("/images/blueinvdot.gif", :style => "padding:0 3px 2px 3px;") %>
    <span>Book vs Cost: <strong class="<% if total_water < 0 %>red<% else %>blue<% end %>"><%= money(total_water) %></strong></span>
  </div>