  <div id="inventory-gauge">
    <div id="optinv-content">
    <p>Dashboard gauges require <br />the Adobe Flash plug-in <br />(version 8 or later).</p>
    </div>
    <script type="text/javascript">
    	(function loadInventoryGuage(id) {
    		var swf = "<%= ActionController::Base.asset_host.call('/optinv_gauge.swf', request) %>?<%= Time.now.seconds_since_midnight %>";
        	var version = "8.0.0.0";
        	var expressInstall = "";
        	var w = 176;
        	var h = 177;
        	var flashvars = {
        		instock: <%= @stocked %>,
        		optimal: <%= @optimal %>,
        		link: "<%= url_for(:action=>:redirect_to_external_url,:external_url =>'/NextGen/MAXStockingReports.go')%>"
        	};
        	var params = {
        		wmode: "transparent",
        		align: "center"
        	};
        	var attributes = {};
        	
        	swfobject.embedSWF(swf,id,w,h,version,expressInstall,flashvars,params,attributes);
    	})("optinv-content");
    </script>
  </div>
