  <div id="inventory-graph"> 
    <div id="invchart-content">
    <p>Dashboard gauges require <br />the Adobe Flash plug-in <br />(version 8 or later).</p>
    </div>
    <script type="text/javascript" charset="utf-8">
	(function loadInventoryGraph(id) {
	    var swf = "<%= ActionController::Base.asset_host.call('/invage_chart.swf', request) %>?<%= Time.now.seconds_since_midnight %>";
	    var version = "8.0.0.0";
	    var expressInstall = "<%= ActionController::Base.asset_host.call('/expressInstall.swf', request) %>";
	    var w = 524;
	    var h = 217;
	    var flashvars = {
	        <% @inventory_sales_graph_data.each_with_index do |data,index|
              the_text = ""
		      case index
		        when 0
		          the_text = "#{data.units.to_i} Vehicles: #{data.yellow_light_units.to_i} Yellow, #{data.red_light_units.to_i} Red"
		        when 1
		          the_text = "#{data.green_light_units.to_i} Green Light Vehicles"
		        else
		          the_text = "#{data.units.to_i} Vehicles: #{data.green_light_units.to_i} Green, #{data.yellow_light_units.to_i} Yellow, #{data.red_light_units.to_i} Red"
		      end  
        	%>
        	bucket<%= index+1 %>: "<%= the_text %>",
        	link<%= index+1 %>: "" <% if index+1!=@inventory_sales_graph_data.length %>,<% end %>
        	<% end %>
	    };
	    var params = {
	        wmode: "transparent",
	        align: "center"
	    };
	    var attributes = {};
	
	    swfobject.embedSWF(swf, id, w, h, version, expressInstall, flashvars, params, attributes);
	})("invchart-content");
    </script>
  </div>
