<div id="live-auctions" class="live-auctions" <% if @show_purchasing %> onmouseover="Element.addClassName(this,'auction-over');" onmouseout="Element.removeClassName(this,'auction-over');"  onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/NextGen/LiveAuctionSummary.go') %>';" <% end %>  >
    <div id="live-auctions-top" class="top">
        <div id="live-auctions-bot" class="bot">
            <div class="fill">
                <% if search_and_aquisition_report.nil? || search_and_aquisition_report.live_auction.nil? %>
				<h2>Live Auctions</h2>
                <p class="supportstat">
                	with Optimal Inventory matches
				</p>
                <% else %>
				<h2><%= search_and_aquisition_report.live_auction['Locations'] %> Live Auctions</h2>
                <p class="supportstat">
                    with <%= search_and_aquisition_report.live_auction['Units'] %> Optimal Inventory matches
                </p>
                <% end %>
                <div class="actionlinks">
                	<% if @show_purchasing %>  
                    	<%= link_to "View", :action => :redirect_to_external_url, :external_url => '/NextGen/LiveAuctionSummary.go' %>
					<% end %>
                </div>
            </div>
        </div>
    </div>
</div>
