<!--div id="make-deal" style="cursor:pointer;" onmouseover="changeProp('make-deal','','style.backgroundImage','url(/images/bucketbkgrd_l_r.gif)','DIV');changeProp('make-deal-top','','style.backgroundImage','url(/images/bucketbkgrd_top_l_r.gif)','DIV');changeProp('make-deal-bot','','style.backgroundImage','url(/images/bucketbkgrd_bot_l_r.gif)','DIV')" onmouseout="changeProp('make-deal','','style.backgroundImage','url(/images/bucketbkgrd_l.gif)','DIV');changeProp('make-deal-top','','style.backgroundImage','url(/images/bucketbkgrd_top_l.gif)','DIV');changeProp('make-deal-bot','','style.backgroundImage','url(/images/bucketbkgrd_bot_l.gif)','DIV')"-->
<div id="make-deal">
    <div id="make-deal-top" class="top">
        <div id="make-deal-bot" class="bot">
            <div class="fill clearfix">
                <h2>
                  <span id="number-of-potential-deals"><%= appraisal_reviews_count %></span> Make-A-Deals on deck
                </h2>
                <p class="supportstat">
                    Out of <strong id="number-of-appraisals"><%= appraisals_count %></strong> 
                    Vehicles Appraised<br />
                    in past <span id="days-back"><%= appraisal_review_preference.days_back %></span> days
                </p>
                <div id="slider">  
                    <div id="track" style="width:50px;">
                      <div id="handle" style="width:6px; cursor: move;"></div>
                    </div>
                </div>
                <div id="results"></div>
                <%= form_remote_tag :url => { :controller => 'appraisal_review', :action => 'update_appraisal_review_preference' }, :html => { :id => 'dbFoo', :name => 'dbFoo' } %>
					<fieldset>
	                    <%= hidden_field_tag "appraisal_review_preference[#{appraisal_review_preference.id}][days_back]", appraisal_review_preference.days_back %>
					</fieldset>
                <%= end_form_tag %>	
                <script type="text/javascript" language="javascript">
                <% if !appraisal_reviews_slider_values.nil? && !appraisal_reviews_slider_values.empty? %>
                   var pdMaxValue = <%= appraisal_reviews_slider_values.last['number_of_appraisal_reviews'] %>;
                <% else %>
                   var pdMaxValue = 1;
                <% end %>
                     
                     var slider_number_of_appraisal_reviews = [<%= appraisal_reviews_slider_values.collect{|v| v['number_of_appraisal_reviews']}.join(',') %>];
                     var slider_number_of_appraisals = [<%= appraisal_reviews_slider_values.collect{|v| v['number_of_appraisals']}.join(',') %>];
                     new Control.Slider('handle', 'track', {
                        range:       $R(0,30,false),
                        values:      [<%= appraisal_reviews_slider_values.collect{|v| v['days_back']}.join(',') %>],
                        sliderValue: <%= appraisal_review_preference.days_back %>,
                        onSlide:     function (v) {
                                        var num_p = slider_number_of_appraisal_reviews;
                                        var num_a = slider_number_of_appraisals;
                                        $('days-back').innerHTML = v;
                                        $('number-of-potential-deals').innerHTML = num_p[v-1];
                                        $('number-of-appraisals').innerHTML = num_a[v-1];
                                     },
                        onChange:    function (v) {
                                        var num_p = slider_number_of_appraisal_reviews;
                                        var num_a = slider_number_of_appraisals;
                                        $('appraisal_review_preference[<%= appraisal_review_preference.id %>][days_back]').value = v;
                                        $('days-back').innerHTML = v;
                                        $('number-of-potential-deals').innerHTML = num_p[v-1];
                                        $('number-of-appraisals').innerHTML = num_a[v-1];
                                        $('dbFoo').onsubmit();
                                        var appraisal_review_jackets = document.getElementById("total-deals");
                                         if(pdMaxValue < 11) { 
                                            appraisal_review_jackets.style.width = (num_p[v-1] * 15) + "px";
                                         } else {
                                            appraisal_review_jackets.style.width = (Math.round(150 * num_p[v-1] / pdMaxValue)) + "px";
                                         }
                                     }
                     });
                </script>
  
                <div class="actionlinks">
                    <%= link_to('Take a Second Look', url_for(:controller => 'appraisal_review'), {'hh:interaction' => 'click:Appraisals/Make A Deal/Make A Deal Summary'}) %>
                    <span style="color:#CCC;margin:0 2px 0 1px;font-size:9px;">|</span> 
                    <%= link_to("Follow Ups (<span id=\"number-of-follow-ups\">#{follow_up_counts}</span>)", url_for(:controller => 'appraisal_review', :action => 'appraisal_review_follow_up_list'), {'hh:interaction' => 'click:Appraisals/Make A Deal/Follow Up Summary'}) %>
                </div>

                <%
                    maxValue = 1
                    if !appraisal_reviews_slider_values.nil? && !appraisal_reviews_slider_values.empty?
                        maxValue = appraisal_reviews_slider_values.last['number_of_appraisal_reviews']
                    end
                    if appraisal_reviews_count > maxValue
                        appraisal_reviews_count = maxValue
                    end
                    fooBar = 0
                    if maxValue < 11
                        fooBar = appraisal_reviews_count * 15
                    else
                        fooBar = (150 * appraisal_reviews_count / maxValue).to_i
                    end
                %>
                 
                <div id="madicon">
                    <ul class="dealjackets">
                        <!-- change the width of this li to show current number of deals: -->
                        <li id="total-deals" style="width:<%= fooBar %>px;">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
  
    
<!-- temp preload for rollover states //-->
<div class="preload">
	<%= image_tag("/images/bucketbkgrd_l_r.gif") %>
	<%= image_tag("/images/bucketbkgrd_top_l_r.gif") %>
	<%= image_tag("/images/bucketbkgrd_bot_l_r.gif") %>
</div>