<%- if has_upgrade -%>
<div class="market-stocking" id="market-stocking"
onclick="window.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => "/pricing/", :token => "DEALER_SYSTEM_COMPONENT", :pageName => "Pages/Market/" %>';"  
        	onmouseover="Element.addClassName(this,'market-stocking-over');" 
			onmouseout="Element.removeClassName(this,'market-stocking-over');"
>
	<div id="market-stocking-top" class="top">
	<div id="market-stocking-bot" class="bot">
		<div class="fill">
			<h2>Market <em>Velocity</em></h2>
			<p class="supportstat">
				 Stocking Guide
			</p>
			<p class="actionlinks">
				<%= link_to "View", :action => :redirect_to_external_url, :external_url => '/pricing/', :token => "DEALER_SYSTEM_COMPONENT", :pageName => "Pages/Market/" %>
			</p>
		</div>		
	</div>
	</div>
	<div id="market-stocking-r"></div>
</div>
<!-- temp preload for rollover states //-->
<div class="preload">
	<%= image_tag("/images/bucketbkgrd_m_r.gif") %>
	<%= image_tag("/images/bucketbkgrd_top_m_r.gif") %>
	<%= image_tag("/images/bucketbkgrd_bot_m_r.gif") %>
</div>
<%- end -%>