<div id="marketing" class="<%= type %> <%= width %>_width">
	<div class="<%= type %>-l"></div>
	<div class="<%= type %>-c">
		<h2 class="branding">MAX Merchandising</h2>
		<%- if has_upgrade -%>
		<form id='consumer-sheets-search' name="consumer-sheets-search" action="<%= url_for(:action => :redirect_to_external_url, :external_url => "/IMT/PingIIRedirectionAction.go") %>" target="VPA" method="post">
			<input type="hidden" name="popup" value="true" />
			<input type="hidden" name="pageName" value="Pages/MaxMarketing/Default.aspx" \>
			<%= default_value_input_helper :name => "stockNumber", :value => "Stock \#" %>
			<input type="image" src="<%= ActionController::Base.asset_host.call('/images/btn_search.gif', request) %>" name="search" value="submit" class="submit" >
		</form>
		<%- else -%>
		<p class="more_info"><a href="http://www.maxmarketingsolutions.com/" target="firstlooksolutions">Learn More</a></p>
		<%- end -%>
	</div>
	<div class="<%= type %>-r"></div>
</div>