<div id="advertising" class="<%= type %> <%= width %>_width">
       
	<!--	style="cursor:pointer;"  -->

<!--	onmouseover="Element.addClassName(this,'over');" 
onmouseout="Element.removeClassName(this,'over');"  -->

	<div class="<%= type %>-l"></div>
	<div class="<%= type %>-c">
		<h2 id="max_branding" class="branding">MAX Ad</h2>
		<div>
		<p>
			<img id="due_for_repricing_indicator" src="images/activity/indicator.gif" />
			<a href="/merchandising/Workflow/Inventory.aspx?usednew=0&filter=DueForRepricing" id="needsAction">Due for Updating Price/Ad</a>
		</p>
		</div>
	
	</div>
	<div class="<%= type %>-r"></div>
</div>
<script type="text/javascript">
	Event.observe("advertising","click", advertisingClick);
	function advertisingClick (evt) {
		document.location.href = '<%= url_for :action => :redirect_to_external_url, :external_url => "/merchandising/?token=DEALER_SYSTEM_COMPONENT" %>';
	}
</script>

<script src="javascripts/json2.js"></script>

<script type="text/javascript"> 
	var url = '/home/due_for_updating_price_in_ad';
	new Ajax.Request(url, {
          method: 'get',
	  onSuccess: function(transport) {
	  
		  try {
		    var json = JSON.parse(transport.responseText);
		    var needsAction = $('needsAction');
		    var dueForUpdateText = json.Filters["DueForRepricing"].Count + ' Due for Updating Price/Ad';
		    needsAction.update(dueForUpdateText);
	  	  } catch (e) {}
	  	  $('due_for_repricing_indicator').hide();  
	  }
	  
	});
</script>

