<div id="online-buying" class="online-buying" <% if @show_purchasing %>   onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/NextGen/OptimalInventorySearchSummary.go',  :market => 'online') %>';"  onmouseover="Element.addClassName(this,'auction-over');" onmouseout="Element.removeClassName(this,'auction-over');" <% end %>>
    <div id="online-buying-top" class="top">
        <div id="online-buying-bot"  class="bot" >
            <div class="fill">
                <% if search_and_aquisition_report.nil? || search_and_aquisition_report.online_auction.nil? %>
				<h2>Online Buying<br />Opportunities</h2>
                <% else %>
				<h2><%= search_and_aquisition_report.online_auction['Units'] %> Online Buying<br />Opportunities</h2>
                <%end %>
				<p class="supportstat">
                    with Optimal Inventory matches
                </p>
                <div class="actionlinks">
                	<% if @show_purchasing %>  
                    	<%=link_to "View", :action => :redirect_to_external_url, :external_url => '/NextGen/OptimalInventorySearchSummary.go', :market => 'online' %>
					<% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- temp preload for rollover states //-->
<div class="preload">
	<%= image_tag("/images/bucketbkgrd_m_r.gif") %>
	<%= image_tag("/images/bucketbkgrd_top_m_r.gif") %>
	<%= image_tag("/images/bucketbkgrd_bot_m_r.gif") %>
</div>