<div id="overstock" class="<%= type %> <%= width %>_width" 
		<%- if has_upgrade -%>style="cursor:pointer;" 
		onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/NextGen/InventoryOverview.go' %>'" 
		onmouseover="Element.addClassName(this,'bar-over');" 
		onmouseout="Element.removeClassName(this,'bar-over');"<%- end -%>>
	<div class="<%= type %>-l"></div>
	<div class="<%= type %>-c">
		<h2 class="branding">Inventory Overview</h2>
	</div>
	<div class="<%= type %>-r"></div>
</div>