<div id="planning" class="<%= type %> <%= width %>_width"
<%- if has_upgrade -%>style="cursor:pointer;" 
		onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/NextGen/InventoryPlan.go', :rangeId => 0 %>'" 
		onmouseover="Element.addClassName(this,'bar-over');" 
		onmouseout="Element.removeClassName(this,'bar-over');" <%- end -%>>
  <div class="<%= type %>-l"></div>
  <div class="<%= type %>-c">
    <h2 class="branding"><span class="icon"></span>Quick Planning</h2>
  </div>
  <div class="<%= type %>-r" ></div>
</div>
