<!--div id="in-group2" style="margin-bottom:0px;cursor:pointer;" onClick="javascript:Effect.toggle('potential-tradeins');" onmouseover="changeProp('in-group2','','style.backgroundImage','url(/images/linebkgrd2_r.gif)','DIV');changeProp('in-group2-l','','style.backgroundImage','url(/images/linebkgrd2_left_r.gif)','DIV');changeProp('in-group2-r','','style.backgroundImage','url(/images/linebkgrd2_rt_r.gif)','DIV')" onmouseout="changeProp('in-group2','','style.backgroundImage','url(/images/linebkgrd2.gif)','DIV');changeProp('in-group2-l','','style.backgroundImage','url(/images/linebkgrd2_left.gif)','DIV');changeProp('in-group2-r','','style.backgroundImage','url(/images/linebkgrd2_rt.gif)','DIV')"-->
<!-- document.location.href='/IMT/ShowroomDisplayAction.go' -->
<span></span>
<div id="in-group2" class="in-group2" 
    style="margin-bottom:0px;cursor:pointer;" 
 	<% if @show_purchasing %>   
	 onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/IMT/ShowroomDisplayAction.go' %>'"  
	 onmouseover="Element.addClassName(this,'in-group-over');" 
	 onmouseout="Element.removeClassName(this,'in-group-over');" 
	<% end %> > 
    <div id="in-group2-l"></div>
      <div id="in-group2-c">
        <h3><%= @groupTrades %> Potential Trade-Ins offered</h3>
      </div>
    <div id="in-group2-r"></div>
</div>
    
 