<div id="pricingformerchandising" class="<%= type %> <%= width %>_width"
        style="cursor:pointer;" 
		onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => '/pricing/?token=DEALER_SYSTEM_COMPONENT', :rangeId => 0 %>';"
		onmouseover="Element.addClassName(this,'bar-over');" 
		onmouseout="Element.removeClassName(this,'bar-over');">
  <div class="<%= type %>-l"></div>
  <div class="<%= type %>-c">
    <h2 class="branding"><span class="icon"></span>Pricing Analyzer</h2>
  </div>
  <div class="<%= type %>-r" ></div>
</div>