<div id="pricing" class="<%= type %> <%= width %>_width" 
		<%- if has_upgrade -%>style="cursor:pointer;"
		onclick="document.location.href='<%= url_for :action => :redirect_to_external_url, :external_url => "/pricing/?token=DEALER_SYSTEM_COMPONENT" %>'"  
		onmouseover="Element.addClassName(this,'over');" 
		onmouseout="Element.removeClassName(this,'over');"<%- end -%>>
	<div class="<%= type %>-l"></div>
	<div class="<%= type %>-c">		
		<%- if has_upgrade -%>
		<%= pingII_branding %>
		<p>
			<span class="num"><%= due_for_replanning %></span> Needs Re-pricing<br />
			
		</p>
		<%- else -%>
		<h2 class="branding">Internet Advertising Accelerator</h2>
		<p class="more_info"><a href="http://www.firstlooksolutions.com/internet-pricing.html" target="firstlooksolutions">Learn More</a></p>
		<%- end -%>
	</div>
	<div class="<%= type %>-r"></div>
	<div class="icon"></div>
</div>
