<div id="trade-analyzer">
    <h2>TRADE ANALYZER:</h2>
    <form name="SearchStockNumberOrVinForm" <% if @show_tradeAnalyzer %> method="POST" action="<%= url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/SearchStockNumberOrVinAction.go') %>" <% end %> style="display:inline">
        <input type="hidden" name="p.productMode" value="edge" />
        <%= default_value_input_helper :name => 'stockNumberOrVin', :value => "Stock or Vin \#", :size => 25, :maxlength => 17  %>
		<% if @show_tradeAnalyzer %>
	        <a style="float:left; font-size:10px; font-family:Verdana, Arial, sans-serif; color:#355fab;" class="alert" href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/WaitingAppraisalsDisplayAction.go')%>"> <%=@appraisals%> Appraisals Waiting</a>
		<% else %>		
	        <a style="float:left; font-size:10px; font-family:Verdana, Arial, sans-serif; color:#355fab;" class="alert"> <%=@appraisals%> Appraisals Waiting</a>
		<% end %>
        <span style="float:left;margin:5px 0 0 6px;">
		<% if @show_tradeAnalyzer %>
        	<input type="image" name="analyze" src="<%= ActionController::Base.asset_host.call('/images/btn_analyze.gif', request) %>"  value="submit" />
		<% else %>
			<img src="<%= ActionController::Base.asset_host.call('/images/btn_analyze.gif', request) %>" />
		<% end %> 
        </span>
    </form>
<% if @show_tradeAnalyzer %>
	<ul style="list-style-type: none;">
		<li style="float: left; padding-right: 5px;"> <%= link_to('Appraisal Manager', { :action => :redirect_to_external_url, :external_url => '/IMT/TradeManagerDisplayAction.go', :pageName => 'bullpen' }) %> </li>
		<% manual_book_id = session[:business_unit].business_unit_preference.book_ids.detect {|id| [1,2,3].include?(id)} %>
		<% if manual_book_id == 3 %>
		<li style="float: left; padding-left: 5px; border-left-color: #ccc; border-left-style: solid; border-left-width: 1px;"> <%= link_to('Manual Bookout', { :action => :redirect_to_external_url, :external_url => '/IMT/KBBManualBookoutAction.go', :selected => 'display' }) %>  </li>
		<% end %>
		<% if manual_book_id == 2 %>
		<li style="float: left; padding-left: 5px; border-left-color: #ccc; border-left-style: solid; border-left-width: 1px; "><%= link_to('Manual Bookout', { :action => :redirect_to_external_url, :external_url => '/IMT/NADAManualBookoutAction.go', :selected => 'display' }) %> </li>
		<% end %>
		<% if manual_book_id == 1 %>
		<li style="float: left; padding-left: 5px; border-left-color: #ccc; border-left-style: solid; border-left-width: 1px; "><%= link_to('Manual Bookout', { :action => :redirect_to_external_url, :external_url => '/IMT/BlackBookManualBookoutAction.go', :selected => 'display' }) %> </li>
		<% end %>
	</ul>
<% end %>
</div>
 
