<script>

jQuery(document).ready(function (){
jQuery.ajax({
		url : "home/appraise_facts",
		request : "GET",
		success : function(xyz) {
				//alert('success');
				jQuery("#facts-div").html(xyz);
			},
			failure : function() {
				//alert("Could Not Load Appraisals");
				jQuery("#facts-div").html("Could Not Load Appraisal Quick Facts");
			}
		});
});
</script>

<div id="columns" class="clearfix">
<div id="left">
<div id="topleft">
  <%= render_component :action => "appraise_graph" %>
	<p class="sectiontitle">APPRAISAL</p>
	<%= render_component :action => "trade_analyzer" %>
	<% if @show_make_a_deal %>
	<%= render_component :action => "make_deal" %>
	<% end %>
	
	<div id="facts-div" >
		<div id='appraise-facts' class='bordered-box-outer' style='height:145px'>
			<div class='bordered-box-inner' style='font-size:10px'>
				<h2>APPRAISAL QUICK FACTS<br /></h2><br>
				<img src='IMT/goldfish/public/images/loading.gif'  >
				<br>
				Loading...
			</div>
		</div>
	</div>
	<img height="1" width="1" src="/IMT/common/_images/d.gif?<%= DateTime.now.strftime('%Y%m%d%H%M%S') %>" style="visibility: hidden;"/>
</div>
</div>

<div id="center">
<div id="topcenter">
  <div class="centergauge">
    <%= render :partial => "#{@view_prefix}inventory_graph", :locals => { :has_planning => @has_planning } %>
  </div>
</div>

	<%= render :partial => "#{@view_prefix}inventory_supplement", :locals => { 
		:total_units => @total_units, 
		:total_dollars => @total_dollars, 
		:total_water => @total_water, 
		:days_supply => @days_supply
	} %>  
	<p class="sectiontitle">INVENTORY</p>

	<div id="inventory-actions">

		<div id="marketing-actions">

			<%- if @has_merchandising -%>
				<%= render :partial => "#{@view_prefix}max_digital_optimization_engine" -%>
			<%- else -%>

				<% if @has_pricing %>
					
					<%= render :partial => "#{@view_prefix}pricing", :locals => { 
						:due_for_replanning => @number_of_vehicles_due_for_replanning, 
						:has_upgrade => true 
					} %>
				
				<% else %>
				
					<%= render :partial => "#{@view_prefix}iaa_marketing" %>

				<% end %>


				<% if @has_marketing %>
					
					<%= render :partial => "#{@view_prefix}marketing", :locals => {
						:has_upgrade => true
					}  %>

				<% else %>
					
					<%= render :partial => "#{@view_prefix}max_marketing" %>

				<% end %>
				
			<%- end -%>
    	</div>

		<div id="pricingandplanning">
			
			<%= render :partial => "#{@view_prefix}planning", :locals => {
			    :has_upgrade => @has_planning
			} %>

			<% if @has_pricing && @has_merchandising %>

				<%= render :partial => "#{@view_prefix}pricingformerchandising", :locals => {
					:has_upgrade => true,
				} %>

			<% else %>

				<%= render :partial => "#{@view_prefix}overview" %>

			<% end %>
	      
    	</div>

		<%= render :partial => "#{@view_prefix}vpa_search", :locals => {
			:parameter_name => @has_pricing ? "q" : "stockNumberOrVin",
			:search_label => @has_pricing? "Year, Make, Model, VIN, Segment" : "Stock \#",
			:has_pricing => @has_pricing
		} %>

	</div>

</div>

<div id="right">
<div id="topright">
  <%= render_component :action => "core_inventory_graph" %>
	<p class="sectiontitle">STOCKING</p>
	<%= render :partial => "#{@view_prefix}market_stocking", :locals => { :has_upgrade => @has_market_stocking }  %>
	<%= render :partial => "#{@view_prefix}online_buying", :object => nil %>
	<%= render :partial => "#{@view_prefix}in_group", :object => nil, :locals => { :search_and_aquisition_report => @search_and_aquisition_report } %>
<% if @show_in_group_search %>
	<%= render_component :action => "in_group_search" %>
<% end %>
	<%= render_component :action => "flash_locate" %>
</div>
</div>

</div>
<div id="footerlinks">
<div id="footer-nav">
	<ul>
		<li><%= render :partial => "#{@view_prefix}appraisal_training", :object => nil, :locals => { :show_make_a_deal => @show_make_a_deal } %> <span>|</span> </li>      
		<li><%= link_to("Performance Management Reports", {:action=>:redirect_to_external_url,:external_url =>'/IMT/ReportCenterRedirectionAction.go'}, {:popup => true}) %> <span>|</span> </li>
<% if @show_equityAnalyzer %>  
		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/NextGen/EquityAnalyzer.go')%>">Loan Value - Book Value Calculator</a> <span>|</span> </li>      
<% end %>
<% if @has_planning %>
  <%business_unit_id=session[:business_unit].id%>
  <li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/command_center/DealerWaterGroupReport.aspx?drillthrough='+business_unit_id.to_s+'&type=pmr&cp=dr&Id=E6A6F567-2E14-433A-ABCA-0E97DA8A1595')%>" onclick="window.open(this.href,'popup','width=1000,height=615,scrollbars=yes,resizable=yes');return false;">Water Report</a> <span>|</span> </li>
<% end %>
		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/PerformanceAnalyzerDisplayAction.go')%>">Performance Analyzer</a> <span>|</span> </li>		

		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/ucbp/TileManagementCenter.go')%>" onclick="window.open(this.href,'popup','width=470,height=615');return false;"><abbr title="Management">Mgmt.</abbr> Summary</a> <span>|</span> </li>
		<li><a href="<%= url_for :action => :redirect_to_external_url, :external_url => '/NextGen/InventoryOverview.go' %>">Inventory Overview</a></li>
	</ul>
</div>
</div>
<iframe height="0" width="0" style="visibility:hidden;display:none" src="/pricing/AspAuth.aspx"></iframe>
<img height="1" width="1" src="/NextGen/common/_images/d.gif?<%= DateTime.now.strftime('%Y%m%d%H%M%S') %>" style="visibility: hidden;"/>