<div id="columns">
<div id="left">
<div id="topleft">
	<div id="headerimage">
	<%= header_branding_helper %>
	</div>
	<%= render_component :action => "appraise_gauge" %>
	<p class="sectiontitle">APPRAISALS</p>
	<% if @show_make_a_deal %>
	<%= render_component :action => "make_deal" %>
	<% end %>
	<%= render_component :action => "appraise_facts" %>
	<img height="1" width="1" src="/IMT/common/_images/d.gif?<%= DateTime.now.strftime('%Y%m%d%H%M%S') %>" style="visibility: hidden;"/>
	<%= render_component :action => "trade_analyzer" %>
</div>
</div>

<div id="center">
<div id="topcenter">
	<%= render :partial => "inventory_graph" %>
</div>
	<%= render :partial => "inventory_supplement", :locals => { 
		:total_units => @total_units, 
		:total_dollars => @total_dollars, 
		:total_water => @total_water, 
		:days_supply => @days_supply
	} %>  
	<p class="sectiontitle-i">INVENTORY</p>
	<div id="inventory-actions">
	<%- if @has_merchandising -%>
		<%= render :partial => 'merchandising', :locals => { 
			:type => 'box',
			:width => 'half',
			:due_for_replanning => @number_of_vehicles_due_for_replanning, 
			:has_upgrade => @has_merchandising,
		} %>
	<%- else -%>
		<%= render :partial => "pricing", :locals => { 
			:type => 'box',
			:width => 'half',
			:due_for_replanning => @number_of_vehicles_due_for_replanning, 
			:has_upgrade => @has_pricing 
		} %>
	<%- end -%>
		<%= render :partial => 'marketing', :locals => {
			:type => 'box',
			:width => 'half',
			:has_upgrade => @has_marketing
		 } %>
  <%- if @has_merchandising -%>
		<%= render :partial => 'planning', :locals => {
			:type => 'bar',
			:width => 'third',
			:has_upgrade => @has_planning
		} %>
		<%= render :partial => 'overview', :locals => {
			:type => 'bar',
			:width => 'third',
			:has_upgrade => true
		} %>
		<%= render :partial => 'pricingformerchandising', :locals => {
			:type => 'bar',
			:width => 'third',
			:has_upgrade => true
		} %>
  <%- else -%>
		<%= render :partial => 'planning', :locals => { 
			:type => 'bar',
			:width => 'half',
			:has_upgrade => @has_planning 
		} %>
		<%= render :partial => 'overview', :locals => { 
			:type => 'bar',
			:width => 'half',
			:has_upgrade => true 
		} %>
  <%- end -%>
		<%= render :partial => 'vpa_search', :locals => {
			:parameter_name => @has_pricing ? "q" : "stockNumberOrVin",
			:search_label => @has_pricing? "Year, Make, Model, VIN" : "Stock \#",
			:has_pricing => @has_pricing
		} %>
	</div>
</div>
<div id="right" class="clearfix">
<div id="topright">
<p class="dealername"><%= @session[:business_unit].name %></p>
	<%= render_component :action => "inventory_gauge" %>
	<p class="sectiontitle-p">PURCHASING</p>
	<%= render :partial => "market_stocking", :locals => { :has_upgrade => @has_market_stocking }  %>
	<%= render :partial => "online_buying", :object => nil, :locals => { :search_and_aquisition_report => @search_and_aquisition_report } %>
	<%= render :partial => "live_auctions", :object => nil, :locals => { :search_and_aquisition_report => @search_and_aquisition_report } %>
	<%= render :partial => "in_group", :object => nil, :locals => { :search_and_aquisition_report => @search_and_aquisition_report } %>
	<%= render_component :action => "potential_tradeins" %>  
<% if @show_in_group_search %>
	<%= render_component :action => "in_group_search" %>
<% end %>
	<%= render_component :action => "flash_locate" %>
</div>
</div>
</div>
<div id="footerlinks">
<div id="footer-nav">
	<ul>
		<li><%= render :partial => "appraisal_training", :object => nil, :locals => { :show_make_a_deal => @show_make_a_deal } %> <span>|</span> </li>      
		<li><%= link_to("Performance Management Reports", {:action=>:redirect_to_external_url,:external_url =>'/IMT/ReportCenterRedirectionAction.go'}, {:popup => true}) %> <span>|</span> </li>
<% if @show_equityAnalyzer %>  
		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/NextGen/EquityAnalyzer.go')%>">Loan Value - Book Value Calculator</a> <span>|</span> </li>      
<% end %>
<% if @has_planning %>
		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/TotalInventoryReportDisplayAction.go')%>">Water Report</a> <span>|</span> </li>
<% end %>
		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/PerformanceAnalyzerDisplayAction.go')%>">Performance Analyzer</a> <span>|</span> </li>		
<%- if @has_merchandising && @has_pricing -%>		
		<li><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/ucbp/TileManagementCenter.go')%>" onclick="window.open(this.href,'popup','width=470,height=615');return false;"><abbr title="Management">Mgmt.</abbr> Summary</a> <span>|</span> </li>
		<li style="border-right:0px"><a href="<%= url_for(:action=>:redirect_to_external_url,:external_url => '/pricing/?token=DEALER_SYSTEM_COMPONENT') %>"><%= pingII_branding_title() %></a></li>
<%- else -%>
		<li style="border-right:0px"><a href="<%=url_for(:action=>:redirect_to_external_url,:external_url =>'/IMT/ucbp/TileManagementCenter.go')%>" onclick="window.open(this.href,'popup','width=470,height=615');return false;">Management Summary</a></li>
<%- end -%>
	</ul>
</div>
</div>
<img height="1" width="1" src="/NextGen/common/_images/d.gif?<%= DateTime.now.strftime('%Y%m%d%H%M%S') %>" style="visibility: hidden;"/>
<% if @search_and_aquisition_report.nil? && false %>
<script type="text/javascript">
search_and_aquisition = function (ev) { <%= remote_function(:url => { :action => 'search_and_aquisition' }) %> }
if (window.addEventListener) {
	window.addEventListener('load', search_and_aquisition, false);
}
else if (window.attachEvent) {
	window.attachEvent('onload', search_and_aquisition);
}
</script>
<% end %>
