.tabs-globalBackground
{
	background-color:#ffffff;
}

.tabs-setHeight
{
	height: 29px;
}
.tabs-tabOnLeft
{
	width: 10px;
	height: 23px;
	border: 0px;
	background-image:url(../../../../images/uiWidgets/tabs/vip/tabOnLeft_White.gif);
	cursor: hand;
}
.tabs-tabOnRight
{
	width: 21px;
	height: 23px;
	border: 0px;
	background-image:url(../../../../images/uiWidgets/tabs/vip/tabOnRight_White.gif);
	cursor: hand;
}
.tabs-tabOffLeft
{
	width: 10px;
	height: 23px;
	border: 0px;
	background-image:url(../../../../images/uiWidgets/tabs/vip/tabOnLeft_White.gif);
	cursor: hand;
}
.tabs-tabOffRight
{
	width: 21px;
	height: 23px;
	border: 0px;
	background-image:url(../../../../images/uiWidgets/tabs/vip/tabOnRight_White.gif);
	cursor: hand;
}
.tabs-tabOnCenter {
    font-family: Verdana,Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    color:#013459;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:5px;
    background-image:url(../../../../images/uiWidgets/tabs/vip/tabOnCenter_White.gif);
    vertical-align:middle;
    cursor: hand;
}
.tabs-tabOffCenter {
    font-family: verdana,Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:bold;
    font-style:normal;
    color:#013459;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:5px;
    background-image:url(../../../../images/uiWidgets/tabs/vip/tabOnCenter_White.gif);
    vertical-align:middle;
    cursor: hand;
}
.tabs-tabOffCenter a {color:#013459;text-decoration:none;}

