﻿.ui-icon-plus
{
	background-image: url('../Public/Images/10x10-blueplus.png') !important;
	background-position: 4px 3px !important;
}
.ui-icon-minus
{
	background-image: url('../Public/Images/minus.png') !important;
	background-position: 4px 3px !important;
}

.ui-jqgrid .ui-jqgrid-bdiv
{
	background-color: #FFFFFF !important;
	height: 251px !important;
	width: 965px !important;
}

.ui-jqgrid-btable
{
	background-color: #FFFFFF !important;
}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
	background-color: #f3f3f3!important;
	font-weight: bold;
	margin-top: 1px;
	background-image: none;
	vertical-align:middle;
}


table
{
	border-color: #EAEAEA !important;
}
.ui-state-hover
{
}

.ui-state-highlight
{
	border: 1px solid #B4E7FC !important;
	background-color: #B4E7FC !important;
	font-weight: bold;
	background-image: none !important;
}

.ui-jqgrid .ui-jqgrid-htable th div
{
    height: auto !important;
    line-height: 13px !important;
    display: inline-flex;
    color: #333333;
    font-family: Arial!important;
    font-weight: normal;
    font-size: 10px!important;
}
.ui-jqgrid tr.ui-row-ltr td
{
	color: #676767 !important;
	font: 12px Arial !important;
	vertical-align: middle;
}

.header
{
	background-color: transparent !important;
	width: auto;
	padding-bottom: 5px;
}
.market-listing-header
{
	vertical-align: middle;
	font-size: 18px;
	color: Black;
}
.export-link
{
	float: right;
	margin-right: 6px;
}
.top
{
	text-align: left;
	width: auto;
	font-size: 12px;
	padding: 0px 5px 10px 5px;
	font-family: Arial !important;
	color: #3761B5;
}
.content
{
	background: linear-gradient(#EEEEEE,#EEEEEE, #DCDBDB ,#DCDBDB ) !important;
	text-align: center;
	width: 977px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-top: 15px;
	border: 1px solid #C8C8C8 !important;
}
#gbox_jqGrid {
	width: 965px !important;
	border: 1px solid white!important;
	margin: 0px 5px 5px 5px!important;
}
.ui-state-hover
{
	background-color: #EAEAEA !important;
}
.grid-container
{
	height: 300px;
}
.grid-show
{
	width: 977px;
	height: 86px;
	border: 1px solid #a1a1a1;
	text-align: center;
	background-color: #E1E0E0;
	background: -webkit-#EEEEEE; /* For Safari 5.1 to 6.0 */
	background: -o-linear-#EEEEEE; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-#EEEEEE; /* For Firefox 3.6 to 15 */
	background: #EEEEEE; /* Standard syntax */
}
.unordered-list
{
	list-style-type: none;
}

.lbl-market-listing
{
	position: absolute;
	font-size: 19px;
	float: right;
	margin-left: 40% !important;
	text-decoration: none !important;
}

.lbl-view-all
{
	position: absolute;
	margin-left: 20px;
	font-size: 12px;
	font-family: Arial !important;
}
.view-all-listing
{
	color: #3761B5;
	text-decoration: underline;
	line-height: 90px;
	cursor:pointer;
}
.content
{
	display: none;
}

#showdollar0listings
{
	float:right;
	background:transparent;
	border: 0;
	border: none;
}

.gid-div
{
	width: inherit;
	height: inherit;
	margin-top: 0;
}
.show-link
{
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.subgrid-cell .ui-helper-hidden
{
	display: none;
}

.lbl-grid-top
{
	font: 12px Arial !important;
	color: #676767;
}


.grid-links
{
	font-size: 12px;
	font-family: Arial !important;
	color: #3761B5;
}


.subgrid-style
{
	font-size: 12px;
	font-family: Arial !important;
	color: #676767;
	line-height: 15px !important;
}
.ui-jqgrid tr.jqgrow
{
	height: 32px;
}

.ui-jqgrid .ui-jqgrid-hdiv {
	width: 965px !important;
}
.export-img
{
	background-image: url("../Public/Images/13x13-exportarrow.png") !important;
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 13px;
	margin: 2px 0 0 8px;
	width: 13px;
}

.ui-jqgrid tr.ui-row-ltr td.middlealign
{
	text-align: center;
	vertical-align: middle;
}

.ui-jqgrid tr.ui-row-ltr td.rightalign
{
	text-align: right;
	vertical-align: middle;
}
.ui-jqgrid tr.ui-row-ltr td.leftalign
{
	text-align: left;
	vertical-align: middle;
}
.ui-jqgrid tr.ui-row-ltr td.txtOverflow
{
	text-overflow: ellipsis;
}
.zero-price-label {
	color: #979797;
	font-size: 11px;
	font-family: Arial !important;
	float: right;
}

.s-ico {
    float: right;
    margin-right: 12px;
    display: inline;
    vertical-align: middle;
    margin-left: 0px;
    height: 100%;
    margin-top: -3px;
}

.s-ico .ui-icon-asc, .ui-jqgrid .ui-icon-asc
{
    margin-top: -3px !important;
    background-image: url("../Public/Images/sortup.png");
	background-repeat: no-repeat;
	background-position: 5px 7px;
    opacity: 0.5;
}

.s-ico .ui-icon-desc, .ui-jqgrid .ui-icon-desc
{
    margin-top: 3px !important;
    background-image: url("../Public/Images/sortdown.png");
	background-repeat: no-repeat;
    background-position: 5px 7px;
    opacity: 0.5;
}
.s-ico .ui-state-disabled{
    opacity: 1;
}
.ui-jqgrid .ui-jqgrid-htable th
{
	padding-left: 0px;
}

div.grid-container div.content div#gbox_jqGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_jqGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#jqGrid_subgrid.ui-state-default.ui-th-column.ui-th-ltr div#jqgh_jqGrid_subgrid div.sort-icon-image span.s-ico
{
display:none;    
}
html body div#Page.clearfix div#pingPage.ping-page div.ping-grid-listing form#ExportExel div.grid-container div.content div#gbox_jqGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_jqGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#jqGrid_InternetPrice.ui-state-default.ui-th-column.ui-th-ltr div#jqgh_jqGrid_InternetPrice.ui-jqgrid-sortable span.s-ico
{
    margin-top:4px!important;
}

html body div#Page.clearfix div#pingPage.ping-page div.ping-grid-listing form#ExportExel div.grid-container div.content div#gbox_jqGrid.ui-jqgrid.ui-widget.ui-widget-content.ui-corner-all div#gview_jqGrid.ui-jqgrid-view div.ui-state-default.ui-jqgrid-hdiv div.ui-jqgrid-hbox table.ui-jqgrid-htable thead tr.ui-jqgrid-labels.ui-sortable th#jqGrid_PMarketAverage.ui-state-default.ui-th-column.ui-th-ltr div#jqgh_jqGrid_PMarketAverage.ui-jqgrid-sortable span.s-ico
{
    margin-top:10px!important;
}
#gview_invGrid table tr td.breakwordclass
{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
#gview_invGrid table tr td.breakwordclass div
{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

#gbox_invGrid thead tr th
{
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word !important;
	vertical-align: middle;
}
#gbox_invGrid thead tr th div
{
    vertical-align:middle;
    line-height:14px;
    font-family:Arial;
	text-align: center;
	margin-left: -5px;
	white-space: pre-wrap; /* CSS3 */
	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -pre-wrap; /* Opera <7 */
	white-space: -o-pre-wrap;
	word-wrap: break-word !important;
	overflow: visible !important;
	white-space: normal !important;
}

.s-ico .ui-state-disabled{
    opacity:1;
}

.header-div-txt {
    width: 80%;
    float: left;
}




div#jqgh_jqGrid_PMarketAverage div.sort-icon-image
{
   margin-top: -29px;  
}

div#jqgh_jqGrid_InternetPrice.ui-jqgrid-sortable div.sort-icon-image
{
    margin-top:-22px;
}
.sort-icon-image {
    margin-top: -16px;
    border: 1px solid rgb(242, 242, 242);
    width: 20%;
    float: right;
}

.asc-sort {
    margin-left: -8px !important;
}

.desc-sort {
    margin-top: -6px;
    margin-left: -8px !important;
}



