/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; background: #fff; margin: 1.5em 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }

/* Removes Firefox imposed outline */
a { outline: none; }

/* Clearing floats without extra markup  */
.wrapper { display: inline-block; }
.wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .wrapper { height: 1%; }
.wrapper { display: block; }


		

/* -------------------------------------------------------------- 
   Typography
-------------------------------------------------------------- */

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.75 * 16px = 12px). */
body { font-size: 75%; }


/* Default fonts and colors. */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: Helvetica, Arial, sans-serif; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; margin-bottom: 1.5em; }
h6 { font-size: 1em; }


/* Text elements
-------------------------------------------------------------- */

p { margin: 0 0 1.5em; }

ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style: inside circle; }
ol { list-style: inside decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }

abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top: 1.5em; font-style: italic; }
del { color: #000; }

a { color: #009; text-decoration: none; }
a:hover, a:focus, a.focus { text-decoration: underline; }

blockquote { margin: 1.5em; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.5em 0; line-height: 1.5; }


/* Tables
-------------------------------------------------------------- */

table { margin-bottom: 1.4em; }
th { border-bottom: 2px solid #ddd; font-weight: bold; }
td { border-bottom: 1px solid #ddd; }
tfoot { font-style: italic; }
caption { background: #ffc; }


/* Some default classes
-------------------------------------------------------------- */

.small { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.quiet { color: #999; }

.hide { display: none; }
.highlight { background: #ffc; }

.top { margin-top: 0; padding-top: 0; }
.bottom { margin-bottom: 0; padding-bottom: 0; }




/* -------------------------------------------------------------- 
   Forms
-------------------------------------------------------------- */

label { font-weight: bold; }

/* Fieldsets */
fieldset { padding: 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ddd; }
legend { padding: 0 0.4em; font-weight: bold; font-size: 1.8em; color: #3E6282; text-indent: -0.5em; }

/* Textareas */
textarea { margin: 0.5em 0.5em 0 0; }
textarea { padding: .4em; }
input:focus { background-color: #F7F5D4; }

/* IE6 Fixes
-------------------------------------------------------------- */
/* Keeps IE6 from cutting pulled/pushed images */
* html ul, * html ol { position: relative; }

/* Fixes incorrect styling of legend in IE6 fieldsets. */
* html legend { margin-bottom: 1.4em; }

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
* html ol { margin-left: 2em; }

/* Layout
-------------------------------------------------------------- */
html {
	background: #F7F5D4 url('Images/body_background.png') repeat-x 0 1px;
}
body { 
	text-align: center;	
} 
body form {
	min-width: 78em; /* 936px */
	margin: 0 auto;
	text-align: left;
	position: absolute;
	top: 10px;
	left: 1%;
	right: 1%;
	width: 98%;
	background: #fff url('Images/body_left.png') repeat-y left;
	padding-left: 10px;
}
body form div.Wrapper {
	background: url('Images/body_right.png') repeat-y right;	
	padding-right: 20px;
	padding-left: 10px; 
	padding-bottom: 1em;
}
body div#white {
	min-width: 75em;
	background-color: #fff;
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 1%;
	right: 1%;
	width: 98%;
	z-index: 0;
	background: #fff url('Images/body_left.png') repeat-y left;
}
body div#white_r {
	background: url('Images/body_right.png') repeat-y right;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -10px;
	width: 10px;
}

div.Navigation {
	font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em;
	background: url('Images/header_horizontal.png') repeat-x;
	height: 13em; /* 156px */
}
div.Navigation #header_l {
	background: url('Images/header_left.png') no-repeat 0 -1px;
	height: 131px;	
	position: relative;
	left: -40px;
	padding-left: 40px;
}
div.Navigation #header_r {
	background: url('Images/header_right.png') no-repeat right -1px;
	height: 131px;	
	position: relative;
	right: -20px;
	padding-right: 20px; 
}
.Navigation .Shortcut {	float: right; margin-top: 45px; }
.Navigation .Shortcut a {
	background: url('Images/home_link.png') no-repeat center center;	
	display: block; width: 59px; height: 59px;
	text-indent: -5000px;
}
.DealerName { 
	float: left; 
	color: #fff;
	margin-top: 2.5em;
	font-size: 2em;
	font-weight: bold;
}
.Navigation .Breadcrumb {
	position: absolute;
	bottom: -1ex;
	left: 40px;
}
.Navigation .Breadcrumb a {
	color: #5d89b1;
	font-weight: bold;
}
.Navigation .Breadcrumb a:hover,
.Navigation .Breadcrumb a:focus,
.Navigation .Breadcrumb a.focus {
	color: #bf8c4f;
}
.Content { 
	clear: both; 
	width: 90%;
	margin: 0 auto;
}
.Content fieldset .ColumnOne { width: 49.9%; float: left; }
.Content fieldset .ColumnTwo { width: 49.9%; float: right; }
.Content fieldset .ColumnOne fieldset,
.Content fieldset .ColumnTwo fieldset {
	padding-top: 0;
}

.Content p.controls {
	clear: both;
	border-top: 1px solid #D4E6F7;
	padding: 1ex 0 0 0;
	margin: auto;
	text-align: right;
}
.Content p.controls input {
	margin-right: 0;
	margin-left: 1ex;
}

.Content .ErrorList,
.Content .ErrorPanel {
	border: 1px solid #800000;
	background-color: #FFD2D2;
	color: #400000;
	list-style-position: inside;
	padding: 1ex;
}

.Content .ErrorList li {
	padding-top: 1ex;
}

/* Page Specific Layouts
-------------------------------------------------------------- */
body.Default ol li {
	display: block;
	margin: 1%;
	float: left;
	width: 48%;
}

body.Default ol li a {
	display: block;
	padding: 15em 1em 1em 1em;
	border: 2px solid #5D89B1;
	font: bold 2em "MS Trebuchet", Arial, sans-serif;
	background-color: #D4E6F7;
	color: #5D89B1;
}
body.Default ol li a:hover,
body.Default ol li a:focus,
body.Default ol li a.focus {
	background: #5D89B1 url('Images/lg_select_arrow.png') no-repeat 10% 75%;	
	color: #D4E6F7;
	border-color: #0D2C48;
}

body.ExistingDmsHostSelection p label {
	display: inline-block;
	width: 12em;
	text-indent: 2em;
}

body.StandardMappingsConfiguration p label,
body.DmsHost p label,
body.Dealer p label,
body.SisConnection p label {
	display: inline-block;
	width: 12em;
}

body.ApplicationDefault .Shortcut {
	background: url('Images/home_link.png') no-repeat center center;	
	display: block; width: 59px; height: 59px;
	text-indent: -5000px;
}
body.ApplicationDefault .Breadcrumb { display: none; }
body.ApplicationDefault h2 {
	color: #3e6282;
}

/* Input Classes
-------------------------------------------------------------- */
.Content .AreaCode,
.Content .ExchangeCode,
.Content .ConnectionLimit,
.Content .IPAddressByte { width: 2em; }
.Content .StationCode {	width: 3em; }
fieldset { border: none; }
fieldset fieldset { border: 1px solid #D4E6F7; }

/* Tables
-------------------------------------------------------------- */
table.grid_view {
	min-width: 63em;
	max-width: 84em;
	width: 95%;
	margin: 0 auto;
	border: 1px solid #5D89B1;
}

table.grid_view thead tr th {
	background-color: #5D89B1;
	border-bottom: 1px solid #595959;
	color: #D4E6F7;
}
table.grid_view thead tr a {
	color: #fff;
	text-decoration: underline;
}
table.grid_view thead tr a:hover,
table.grid_view thead tr a:focus,
table.grid_view thead tr a.focus, {
	color: #D4E6F7;
}
table.grid_view tbody tr td input {
	margin-left: 1ex;
}
table.grid_view tbody tr,
table.grid_view tbody tr td {
	background-color: #fff;
	border-bottom: 1px solid #E1E1E1; 
}
table.grid_view tbody tr.even,
table.grid_view tbody tr.even td {
	background-color: #D4E6F7;
	border-bottom: 1px solid #B6D5F1; 
}
table.grid_view thead tr th { padding: 1ex 0.5ex; }
table.grid_view tbody tr td { padding: 0.5ex 1ex; }
.table-row-pagination {
	text-align: right;
	margin-top: 1ex;
	padding-right: 2em;
}
.table-row-pagination a,
.table-row-pagination span {
	margin-right: 1ex;
	padding: 0 0.5ex;
	color: #454545;
}
.table-row-pagination span {
	font-weight: bold;
}
.table-row-pagination a {
	border: 1px solid #999;
	background-color: #D3D3D3;
}
.table-row-pagination a:hover,
.table-row-pagination a:focus,
.table-row-pagination a.focus {
	color: #232323;
	background-color: #F4F4F4;
}

/* Scrollable Tables
-------------------------------------------------------------- */
body.loaded div.scrollable_table_container {
  width: 95%;
  max-width: 75em;
  max-height: 27em;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 3.5em;
  padding-right: 16px;
  border: 1px solid #5D89B1;
}

body.loaded body.wide div.scrollable_table_container {
	margin-right: 57px;
	float: left;
}

body.loaded div.scrollable_table_container table.grid_view {
  width: 99.9%; 
  margin-top: -2.5em;
  border: none;
  border-spacing: 0px;
  background-color: transparent;
  border-bottom: none;
}

div.scrollable_table_container table.grid_view>tbody { overflow: auto; height: 280px; overflow-x: hidden; }
div.scrollable_table_container table.grid_view>tbody tr,
div.scrollable_table_container table.grid_view>tbody tr td { height: auto; }
div.scrollable_table_container table.grid_view>thead { display: block; position: absolute; top: -2em; }
div.scrollable_table_container table.grid_view>thead tr,
div.scrollable_table_container table.grid_view>thead tr th,
div.scrollable_table_container table.grid_view>thead tr td { position:relative; top: 2px; left: -1px; font-size: 0.9em; }


/* Tabs
-------------------------------------------------------------- */

.ui-tab-container {
	margin: 0 1ex 0 1em;
}
.ui-tab-content { display: inline-block; }
.ui-tab-content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .ui-tab-content{ height: 1%; }
.ui-tab-content { display: block; }

.ui-tab-container ul {
    list-style-type: none;
}
.ui-tab-container li {
    display: inline;
    margin-right: 1ex;
}
.ui-tabs .ui-tab input {
    border: none;
    background-color: transparent;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    padding-bottom: 1px;
    background-color: #D8D8D8;
    border: 1px solid #BCBCBC;
    border-bottom: 1px solid #D8D8D8;
    color: #555;
    cursor: pointer;
}
.ui-tabs .ui-tab input:hover,
.ui-tabs .ui-tab input:focus {
	background-color: #C9C9C9;
 	border: 1px solid #BCBCBC;
	border-bottom: 1px solid #C9C9C9;
}
.ui-tab-content {
    border:1px solid #cccccc;
    background-color: #fff;
    padding: 1ex 1ex 1em 1ex;
    color: #333;
}
.ui-tabs { 
    margin-left: 0;
    margin-bottom: 0;
}
.ui-tabs .ui-tab-active input,
.ui-tabs .ui-tab-active input:hover,
.ui-tabs .ui-tab-active input:focus { 
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: #fff;
	position: relative;
	bottom: -1px;
	color: #000;
	cursor: default;
}