﻿/**/
/** tabs **/
.ui-tabs
{
	display:block;list-style:none;width:100%;margin:0;
	position: relative;
	z-index: 1;
	
}

.inline{display:inline;}

.ui-tabs .ui-tab input
{margin:0;padding:0;overflow:visible;cursor:pointer;}

.ui-tabs .ui-tab input:active{margin:0;padding:0;overflow:visible;cursor:pointer;color:red;}

.ui-tabs .ui-tab{
	display:block;
	float:left;
	margin-right:6px;
	width:auto;
	height: 22px;
	background: url('images/vpa_tabs_top.gif') repeat-x;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 1px 0px 1px;
	padding: 2px;
}

.ui-tabs .ui-tab input{width:100%;border:none;background-color:transparent;line-height:25px;text-align:left;color:#999;font-size:12px;padding-bottom:1px;}

.ui-tabs .ui-tab-active{
	background: #485775;
}
.ui-tabs .ui-tab-active input 
{
		color: #eee;
		font-weight: bold;
}

.ui-tab-content
{
	clear: left;
	position:relative;padding:0;margin:0;width: auto;
	border: solid 1px;border-color: #888;padding:10px 10px 0px;background:#f8f9f8;
}
	
/*snippets*/

/*Snippet editor tab, profile tab*/
.profileSelector 
{
	margin: 10px 5px;
}
.BlurbBuilderTable a 
{
	margin-left: 12px;
}
.warning 
{
	color: #ff6666;
	font-weight: bold;
}
.snippetHead 
{
	border-bottom: solid 2px #ccc;
	padding: 5px;
	
}
.snippetHead li 
{
	display: inline;
	margin-right: 8px;
	
}
.TextEditor 
{
	color: #555;
	margin: 15px;
}


.yearPriceDiv 
{
	clear: left;
}

.highLabel 
{
	margin-left: 90px;
	font-weight: bold;
}
.lowLabel 
{
	margin-left: 140px;
	font-weight: bold;
}


/*vehicle profiles*/
span.rangeLabel 
{
	display: block;
	float: left;
	width: 120px;
}
.listBoxDiv 
{
	float: left;
}

/**/
/*second profiles*/
/*Profile tab*/

h3 
{
	margin: 8px;
	font-size: 0.9em;
}
.main 
{
	text-align:right;
	background: #DDE8FF;
	border-top:1px solid #CCCCCC;
	margin-bottom: 10px;
}
.controls 
{
	float: left;
	text-align: left;
	padding: 10px;	
	min-height: 250px;
}
.controls select 
{
	width: 220px;	
}
.summary 
{
	float: left;
	text-align: left;
	width: 400px;
	font-size: 12px;
	border-right: solid 1px #ccc;
	background: #FFFFFF url('images/gradient_light.jpg') repeat-x;
	padding: 25px 10px;
	margin-bottom: 0px;
	min-height: 290px;
	
}

.summary td 
{
	padding: 2px;
}
.summary td.header 
{

	font-weight: bold;
}

.highLabel 
{
	margin-left: 90px;
	font-weight: bold;
}
.lowLabel 
{
	margin-left: 140px;
	font-weight: bold;
}

span.rangeLabel 
{
	display: block;
	float: left;
	width: 120px;
}
.listBoxDiv 
{
	float: left;
}


.templateRuleSection 
{
	
	border: 1px solid;
	width:auto;
	background: #ededed;
}

.templateRuleSectionBody {
	padding: 5px;
	text-align: left;
	clear:left;
	margin-top: 20px;
}




.availableTemplates a, .availableTemplates a:visited, .availableTemplates a:link 
{
	text-decoration: none;
	color: #303030;
	
}

.availableTemplates a:hover 
{
	color: #a99;
}

.sliderLabel
{
	float: left;
	width: 140px;
}

.listBoxDiv 
{
	float: left;
	width: auto;
	
	padding: 5px 10px;
	border-right: solid 1px #777;
	
}
.noBorder 
{
	border: solid 0px;
}

.mainTemplateBox 
{
	padding: 10px;
	text-align: center;
	position: relative;
	z-index: 1;
}
#SnippetTabs 
{
	width: 720px;
	float: left;
	margin: 10px 0 0 20px;
}
.AvailableBlurbTree 
{
	background:#EEEEEE none repeat scroll 0 0;
	border-left:1px solid #AAAAAA;
	float:left;
	height:100%;
	max-height:380px;
	overflow:scroll;
	padding-top:10px;
	position:relative;
	right:-15px;
	text-align:left;
	top:-10px;
	width:230px;
}

.AvailableBlurbTree td
{
	padding: 2px;
}


.BlurbBuilderTable 
{
	text-align: left;
}


.BlurbBuilderTable td
{
	text-align: left;
}

.BlurbBuilderContent 
{
	float: left;
	background: #ededed;
	margin-left: 15px;
	padding: 10px;
	width: 700px;
}
.SampleTextCreatorHeader 
{
	font-size: 1.1em;
	font-weight: bolder;
}
.SnippetEditorTable 
{
	margin: 10px 0px;
	font-size: 11px;
	width: 99%;
}
.SnippetEditorTable td:first-child
{
	width: 65px;
	border-right: solid 1px #ccc;
}
.SnippetEditorTable td.Active
{
	width: 70px;
}

.SnippetEditorTable td 
{
	padding: 2px 5px;
}
.GeneratedSampleTextForSampleText 
{
	font-size: 0.8em;
	color: #888;
}
.profile 
{
	font-size: 1.1em;
	font-weight: bold;
}
.PreTextInsertBox 
{
	padding: 2px 4px;
	width: 90%;
	margin: 2px;
}

.ConditionField 
{
	width: 300px;
	height: auto;
	min-height: 60px;
	vertical-align: middle;
}
.TemplateBodyField 
{
	width: 300px;
	height: auto;
	min-height: 140px;
	vertical-align: middle;
}

.TemplateMergeFields select 
{
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 5px;
	width: 180px;
	float: right;
	clear: right;
}

.templateCategory 
{
	padding: 2px;
	margin-bottom:10px;
	font: italic 12px/14px;
	
}
.templateCategory a, .templateCategory a:link, .templateCategory a:hover
{
	font: 12px/14px;
	color: #485775;
}
.SelectedBlurb, .SelectedBlurb a, .SelectedBlurb a:link, .SelectedBlurb a:hover
{
	color: #222255;
	font-weight: bold;
	
}
.templateBlurb 
{
	padding: 1px;
	background: transparent;
	color: #333;
	font-style: normal;
	
}

.templateBlurb a, .templateBlurb a:link, .templateBlurb a:hover 
{
	color: #333;
	text-decoration: underline;
}
.templateBlurbRoot 
{
	width: 100%;
	background: #ededed;
	color: #333;
	font: 14px/16px;
}
.templateBlurbRoot a, .templateBlurbRoot a:link, .templateBlurbRoot a:hover
{
	color: #333;
	font: 14px/16px;
}
.availTemplateTD 
{
	width: 100px;
	text-align: left;
	
}
.AvailBlurbTreeForBuilding 
{
	
	position:absolute;
	top: 0;
	right: 0;
	background: #ededed url(images/topshadow.gif) repeat-x;
	text-align: left;
	padding: 10px;
	margin: 10px;
	border: solid 1px #777;
	width: 200px;
	z-index: 999;
	height: auto;
	
}
.AvailTemplatesForBuilding 
{
	float:left;
	text-align:left;
	width: 200px;
	border: solid 1px #777;
	padding: 0;
	
}
.headerTemplates 
{
	padding: 8px 10px 3px 10px;
	height: auto;
	border-bottom: solid 1px #aaa;
	background-image: url(images/topshadow.gif);
	background-repeat: repeat-x;
	background-color: #ededed;
	font-size: 12px;
}
.bodyTemplates
{
	padding: 5px;
	font-size: 12px;
}

.RulesListForBuilding 
{
	float:left;
}
.SelectedTemplate 
{
	background: #555588;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.SelectedTemplate a, .SelectedTemplate a:link, .SelectedTemplate a:hover, .SelectedTemplate a:visited 
{
	color: #f8f8f8;
	font-weight: bold;
	font-size: 12px;

}

.snippet_tabs 
{
	width: 660px;
	float: left;
	
}
.snippet_tabs .ui-tab-content 
{
	padding-bottom: 10px;
}

/**/

.padHead th 
{
	padding: 4px;
	font-size: 90%;
}

.AvailGroups 
{
	float:left;
	margin-top: 10px;
}
.controlBox {

	background: #DDE8FF;
	margin: 10px;
	padding: 0 20px 20px;
	border: solid 1px #aaa;
	float:right;
}
.note 
{
	
	font-size: 10px;
	float:right;
	padding: 8px;
}
.controlBox input 
{
	margin: 6px 6px 6px 0;
}
.controlBox select 
{
	font-size: 11px;
}
.controlBox p 
{
	font-size: 10px;
	color: #555;
}

#VehicleSet .selectors 
{
	width: 320px;
	float:left;
	background: #eee;
	border-right: solid 1px #888;
	padding: 10px;
}
#VehicleSet .selectors b
{
	display:block;
	float:left;
	width: 75px;
	font-size: 12px;
}
#VehicleSet .setOperators 
{
	width: 400px;
	padding: 15px;
	float:left;
	
}
#VehicleSet div.section
{
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #aaa;
}
#VehicleSet .section h2 
{
	font: bold 14px/16px Verdana;
}
#VehicleSet .sec1 
{
	width: 280px;
	float:left;
}
#VehicleSet .sec2
{
	width: 120px;
	float:left;
}