﻿/* styles for approval workflow pages */

@import url("normalizer.css");
@import url("navMenu.css");

#Approval 
{
	background: #eee;
}
div#ApprovalTabs 
{
	font-size: 0.8em;
}
.PhotoCell 
{
	width: 90px;
}
.ApprovalBody 
{	
	text-align: left;
	position: relative;
	width: 980px;
	margin: 0px auto auto;
	background: #FFF;
	
}
.ApprovalBody h1 
{
	font-size: 18px;
	padding: 5px;
}
#ScheduledGV th 
{
	padding-left: 5px;
}
.EdtConfigBox 
{
	float: left;
	width: auto;
	margin: 10px;
	border: solid 1px #888;
	font-size: 12px;
	padding: 0px 10px;
	background: #ededed url(images/topshadow.gif) repeat-x;
	
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
}
.inventoryListImage
{
	width: 100px;
}
.EdtConfigBox h3 {
	font-size: 1.2em;
	text-align: left;
	
}
.EdtConfigBox input 
{
	margin-left: 10px;
}
#EdtDestRptr 
{
	border: solid 1px #888;
}
.calDateSelect 
{
	padding: 0 15px 15px;
	text-align:center;
	top:50px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	clear:right;
}
.calDateSelect td
{
	padding: 1px;
}
.ReleaseCal 
{
	
}
.pendingList 
{
	clear: both;
	width: 98%;
	margin: 10px auto;
	border-color: #aaa;
}
.pendingMerchDesc 
{
	width: 515px;
	min-height: 110px;
	margin: 5px;
	font-size: 11px;
	padding: 4px;
}
th.HeaderAlertCell 
{
	color: #555;
	font-weight: bold;
	background: #ffffaa;
}
.header a, .header a:link, .header a:visited 
{
	font-size: 1.0em;
	margin-left: 5px;
	font-weight: bold;
}
a.VehicleLink, a.VehicleLink:active, a.VehicleLink:hover, a.VehicleLink:link, a.VehicleLink:visited 
{
	font-size: 12px;
	color: #3561ac;
	text-decoration: underline;
	font-weight: bold;
	line-height: 14px;
}
a.VehicleLink:hover 
{
	color: #888;
}
.ApproveButton 
{
	display: block;
}

.ApprovalCell 
{
	background: #eee;
	color: #333;
	padding: 10px 6px;
}

/*Modal Popup*/

.modalBackground {

	background-color:Gray;

	filter:alpha(opacity=70);

	opacity:0.7;

}
.modalPopup {

	background-color:#ffffdd;

	border-width:3px;

	border-style:solid;

	border-color:Gray;

	padding:3px;

	width:250px;

}

.NoPendingNote 
{
	font: 18px/20px;
	color: #888;
	margin: 20px;
}

.NoPendingNote a, .NoPendingNote a:link, .NoPendingNote a:hover, .NoPendingNote a:visited 
{
	font: bold 18px/20px;
	color: #3561ac;
} 

#PendingVehicleDetail td
{
	padding: 0px 1px;
	
}

#PendingVehicleDetail span 
{
	font-weight: bold;
}

a.PendingListStkNum, a.PendingListStkNum:active, a.PendingListStkNum:link, a.PendingListStkNum:visited, a.PendingListStkNum:hover
{
	font-size: 12px;
	font-weight: bold;
	color: #3561AC;
	text-decoration: underline;
	line-height: 14px;
}
a.PendingListStkNum:hover 
{
	color: #888;
}



/**************
ADMIN SETTINGS
**************/
.AdPreferencesForm 
{
	display: block;
	width: 580px;
}

.AdminFormHeader 
{
	font-weight: bold;
}




#workingPane 
{
	border:1px solid #CCCCCC;
	margin:0;
	min-height:500px;
	text-align:left;
	position: relative;
	
}