﻿/* 
	Blue on blue
	written by Glenn Slaven http://slaven.net.au
*/

table.bob caption {
	background-color: transparent;
	background-image: url(cap_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom left;
	text-align:left;
	font-size:150%;
	text-transform:uppercase;
	line-height: 30px;
	letter-spacing:0px;	
}


.bob thead {
	border-left:1px solid #2293FF;	
}

.bob thead th {
	background: #2293FF;
	color: #FFFFFF;
	font-size: 110%;
	border-top:1px solid #2293FF;
	border-right:1px solid #2293FF;
	padding: 4px 0.4em 4px 0.4em;	
}

.bob tfoot td, .bob tfoot th {
	border-top:1px solid #2293FF;
	border-right: none;
	font-weight: bolder;
	font-size: 110%;
	padding: 0.4em 0.5em 0.4em 0.5em;
}

.bob tbody td, .bob tbody th {
	background-color: #D9ECFF;
	border-right:1px solid #2293FF;
	font-size: 100%;
	padding: 0.4em 0.5em 0.4em 0.5em;
}

.bob tbody tr.odd th, .bob tbody tr.odd td{
	background-color: #BDDFFF;
}

.bob tbody th{	
	font-weight: bold;	
	border-left:1px solid #2293FF
}

table.bob  a:link, table.bob  a:visited, table.bob  a:active {	
	color:#444F66;
	background-color: transparent;
	text-decoration: underline;
}

table.bob  a:hover {
	text-decoration:none;
	background-color: #1E90FF;
	color: #FFFFFF;
}