﻿/**/

@import url("navMenu.css");
@import url("normalizer.css");
body 
{
	color: #555;
	width: 992px;
	margin: 0px auto;
}
.mainContent 
{
	border:solid 1px #ccc;
	margin-top: 2px;
	padding: 15px;
}
.filters 
{
	padding: 5px 10px;
	text-align:right;	
	margin-top: 10px;
}
a 
{
	color: #555;
		
}
a:hover 
{
	color: #999;
	
}
td 
{
	padding: 8px;
}
h1 {clear:left;padding: 10px 0 5px;}
h2 
{
	clear:left;
	padding: 20px 0 0;
	font-size: 90%;
	font-weight: bold;
	border-bottom: solid 1px #aaa;
}
.wizardButtons 
{
	float: right;
	padding: 5px 15px;
	margin-bottom: 10px;
	background: #ddd;
	font-size: 10px;
	color: #666;
}
.wizardButtons a,.wizardButtons a:link 
{
	text-decoration: underline;
}
.wizardButtons span 
{
	font-weight: bold;
	color: #333;
	margin-right: 15px;
}
.wizardButtons h5 
{
	border-bottom: solid 1px #ccc;
	font-size: 11px;
}
.phrases 
{
	
	padding: 0;
	/*border-right: solid 1px #888;*/
	
	
}
.phrases select 
{
	width:120px;
}
.phrases a 
{
	display: block;
	font-size: 12px;
	padding: 5px 10px;
	/*border: solid 1px #888;
	border-width: 1px 0 0;
	background: #fff url('images/gradient_light.jpg') repeat-x scroll top left;*/
}
a.active 
{
	font-weight: bold;
	position: relative;
	left: 1px;
	/*border: solid 1px #888;
	border-width: 1px 0 1px 1px;*/
	-moz-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.phrases a.active, .snips 
{
	background: #abcdf2;
}
.snips 
{
	padding: 10px 4px 4px;
	/*border-style: solid;
	border-color: #aaa;
	border-width: 1px 1px 1px 0;*/
	-moz-border-radius: 3px;
	
}
.phrases a:last-child 
{
	border-width: 1px 0 1px;
}
.Grid select, .Grid input
{
	font-size: 10px;
	font-weight: normal;
}
.Grid select 
{
	width: 90px;
}
.Grid 
{
	width: 100%;
	font-size: 11px;
}
.Grid td, .Grid th
{
	padding: 2px 4px;
}
.Grid textarea 
{
	font-size: 11px;
	font-weight: normal;
}
.invisible 
{
	display: none;
}
.ConditionsSettings 
{
	width: 275px;
	margin-left: 20px;	
	float: left;
	font-size: 12px;
}

h3 
{
	font-size: 12px;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 10px;	
}

/*** TOOLS ***/
.clearfix:after, .ui-tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
