﻿/**/
@import url("navMenu.css");
body 
{
	text-align:left;
}
#form1 
{
	width: 980px;
	margin: 0px auto;
	
	
}
div.dashBody 
{
	text-align: right;
	border: solid 1px #ddd;
	margin-top: 2px;
	padding: 10px;
}
div.segmentCharts 
{
	padding: 10px;
	
}
.summaryTable td
{
	font-size: 1.0em;
	padding: 0px;
}
span.head, table.todo tbody th 
{
	display: block;
	margin: 0px 3px;
	color: #333;
	width: 100px;
	font-weight: normal;
	text-align: left;
}
span.datar
{
	display: block;
	margin: 0px 5px;
}
.summary
{
	font-size: 0.9em;
	width: 360px;
	float: left;
}
.summary table, .todo table
{
	width: 100%;
}
.summary a 
{
	font-size: 0.6em;
	color: #888;
	
}
.summary h3 
{
	text-align: left;
	font-size: 1.2em;
	color: #555;
	margin-bottom: 2px;
	padding: 0;
	border-bottom: solid 1px #ccc;
}



h4, table.todo thead td 
{
	text-align: left;
	font-size: 1.1em;
	color: #555;
	margin-bottom: 2px;
	padding: 0 4px;
	border-bottom: solid 1px #4A7EBB;
	
	

}

div.todo 
{
	margin-top: 30px;
	width: 100%;
}
table.todo a 
{
	font-size: 1.0em;
	color: #333;
	text-decoration: none;
}
table.todo td 
{
	padding-right: 20px;
}
td.breaker 
{
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
}
.WebMetricReport 
{
	font-size: 0.9em;
	margin-top: 20px;
}
table.WebMetricReport td 
{
	padding: 2px;
	margin: 0;
}
table.WebMetricReport td.VehCol 
{
	text-align: left;
	font-size: 0.9em;
}
table.WebMetricReport ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}
table.WebMetricReport th span 
{
	display: block;
	float: left;
	margin-left: 30px;
}
table.WebMetricReport a 
{
	font-size: 0.9em;
}
h5 
{
	margin: 0;
}

/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

