﻿body {
}

.ListSearchExtenderPrompt
{
	font-size: 12px;
	font-weight: normal;
	color: Gray;
}

.textarea
{
	font-family: Courier New;
	font-size: 13px;
}

.gridviewpadding
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.searchForm
{
	/*width: 350px;
	float:right;
	border-left: solid 1px #666;*/
	background: #ededed;
	padding: 10px 15px 15px;
	border-top: solid 1px #AAAAAA;
}
.searchForm ul 
{
	
	font-size: 12px;
}
.searchForm li 
{
	display: block;
	float:left;
	margin-left: 8px;
}
.searchForm label 
{
	font-size:0.8em;
	margin:0 0 0 0.3em;
}
.searchForm td 
{
	padding: 5px;
}
.possible 
{
	margin-top: 10px;
	/*padding-top: 10px;*/
	border-top: solid 1px #aaa;
	clear:left;
}
.opCol 
{
	text-align: left;
	padding: 6px 8px 10px; 
}
.selOpt 
{
	width: 580px;
	margin: 5px;
}
.selOpt td
{
	padding: 10px 4px;
	font-size: 11px;
}
.opPackage 
{
	margin-top: 15px;
}
.opText 
{
	font-size: 11px;
	color: #333;
}
.StdList 
{
	margin: 0 auto;
	width: 100%;
}
.StdList h4
{
	/*position: relative;*/
	bottom: 13px;
	font-size: 14px;
	/*height: 10px;*/
	right: 25px;
	font-weight: bold;
	color: #3e436d;
}
.StdList input[type=checkbox] 
{
	margin-top: 8px;
}
li.lbl 
{
	clear:left;
	width: 100px;
}
.searchForm li 
{
	margin-bottom: 8px;
}
.dirtyButton 
{
	color: #ff0000;
	font-weight: bold;
}
p.dealerOption 
{
	font-style: italic;
	color: #666;	
}