﻿body {
}
.Features {
    padding: 20px;
    width: auto;   
    font-size: 11px;         
}
.Features ul {
    display:block;
    width: 22%;
    margin: 1%;
    float:left;
}
.Features label {
    font-size:1.1em;
	margin:0 0 0 0.3em;
    max-width: 87%;
}

.Stds {
    clear:left;
    padding: 3px 10px 3px 20px;
    background: url('images/expand_blue.jpg') no-repeat scroll 5px 50%;
    border-bottom: solid 1px #aaa;
    cursor: pointer;
    
}
.section 
{
	padding: 10px;
}
h5
{
	font: 1.1em/1.2em Verdana, sans;
	text-decoration: underline;
	margin-bottom: 2px;
	color: #444;
	display: block;
}
.dirtyButton 
{
	color: #ff0000;
	font-weight: bold;
}
