﻿body 
{
	
}
.dirtyButton 
{
	color: #ff0000;
	font-weight: bold;
}
div.basics {
    padding: 15px;
    position:relative;
}
.additional input {
    margin: 0 4px 0 14px;
}
.notes2 input { margin: 0 4px; }
ul.notes 
{
	max-height: 100px;
	overflow: scroll;
	width: 95%;
	font-size: 11px;
	padding: 5px;
	border: solid 1px #eee;
}


.special 
{
	padding: 15px inherit;
	color: #220000;
	padding: 15px;
}
.special ul 
{
	font-size: 11px;
	float:left;
	margin: 0 20px 20px;
}
.special select 
{
	margin-right: 40px;
}
.section 
{
	padding: 15px;
	color: #333;
	font-size: 0.9em;
}

.lbl 
{
	margin-left: 15px;
	display: inline-block;
	width: 140px;
}

.ConditionSelectPair 
{
	width: 45%;
	margin-left: 15px;
}

.basics .Locked, .basics .Unlocked
{
	position: static;
	float:right;
	margin-right: 10px;
}

div#pod 
{
	clear:right;
	float:right;
	width: 310px;
	margin-right: 10px;		
	
}

#pricing 
{	
	color: #fff;
	padding: 0;
	background: url(images/InternetPrice-leftcapT.png) no-repeat scroll 0 50%;
	font-size: 14px;	
	padding-left: 9px;
}
#subPrice 
{
	padding: 2px 10px 0px;
	font-size: 10px;
	color: #333;
}


#pricing .inner 
{
	text-align: right;
	margin: 0;
	height: 80px;
	padding: 12px 20px 8px 5px;
	background: url(images/InternetPrice-rightcapT.png) no-repeat scroll right 50%;
}
#pricing .inner .avg 
{
	color: #d8e6ff;
	font-size: 15px;
	font-weight: normal;
}
#pricing .innerBody 
{
	background: url(images/InternetPrice-bkgrdT.png) repeat-x scroll 0 50%;
	
}
#pricing h1 
{
	font: bold 17px/23px;
	text-align: left;
	color: #f1f6ff;
	margin: 0;
	padding: 0;
	width: auto;
}

#headerListPrice 
{
	color: #fff;
	font-size: 23px;
}

#subPrice li 
{
	margin: 1px;
}
#subPrice label 
{
	display: block;
	float:left;
	font-size: 10px;
	width: 125px;
}
.carfax 
{
	margin-left: 25px;
}
#MktAvgPct 
{
	font-size: 14px;
	font-weight: bold;
	color: #d8e6ff;
	line-height: 24px;
}
a.Analyze
{
	float:right;
	display: inline-block;
	text-decoration: none;
	width: 62px;
	height: 20px;
	background: url('images/button-Analyze.gif') no-repeat;
}
.mds span
{
	margin-right: 4px;
}

.colors 
{
	width:558px;float:left;margin-right:20px
}

.colors .section, .notes2 .section 
{
	height: 55px;
}

.VinData select{margin-left: 30px;}