body {
	margin: 0;
	padding: 0;
}
a, a:link, a:active {
	font-size: 75%;
	color: #86ae7b; /* 4e6495 */
	font-weight: normal;
}

a:visited {
	color: #666;
}

a:hover {
	color: #19326b;
}
#nav {
	width: 952px;
	height: 25px;
	margin: 10px auto 1px auto;
	background-color: #86ae7b;
	color: #bfdbb7;
	font-size: 90%;
	text-transform: uppercase;
	border-bottom: 1px solid #346d24;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}

#nav li {
	float: left;
	display: inline;
	padding: 5px 35px 4px 55px;
	background: url(images/nav_bkgrd_arrow.jpg) 0 0 no-repeat;
}
#nav li:first-child {
	padding: 5px 35px 4px 35px;
	background: url(images/nav_bkgrd.jpg) 0 0 no-repeat;
}
#nav li:last-child {
	padding-left: 210px;
	background-attachment: none;
} 
#nav #current {
	color: #274e27;
	font-weight: bold;
}
#nav a {
	color: #eee;
	font-size: 85%;
	text-transform: none;
	font-weight: bold;
}
#container {
	width: 910px;
	margin: 0 auto 10px auto;
	border: 1px solid #CCC;
	padding: 10px 20px;
	background: #fff;
}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
h1 {
	float: left;
	font-size: 180%;
	color: #19326b;
	text-align: baseline;
}

h2 {
	float: right;
	font-size: 140%;
	color: #19326b;
	margin-top: 5px;
}
h3 {
	float: left;
	color: #375088;
	margin-bottom: 3px;
	font-size: 90%;
}
h4 {
	font-size: 70%;
	font-weight:  normal;
	text-transform: uppercase;
	color: #666;
	margin: 3px 0;
}
#vehicle-main {
	margin-bottom: 5px;
}

ul#vehicle-details {
	margin: 0 0 8px 0;
	padding: 0;
	list-style-type: none;
	float: left;
}

ul#vehicle-details li {
	float: left;
	font-size: 110%;
	color: #424242;
	display: inline;
	margin-right: 30px;
}
div#photos {
	margin: 0;
	border-top: 1px solid #CCC;
	/*border-bottom: 1px solid #CCC;*/
	clear: left;
	background: url(images/gradient_light.jpg) 0 1px repeat-x;
}
div.photoset {
	float: left;
	width: 400px;
	margin: 11px 10px 3px 15px;
	border-right: 1px solid #ccc;
	padding-right: 35px;
}
.photoset + .photoset {
	margin-left: 25px;
	border-right: 0px solid #ccc;
	padding-right: 0;
}
div.vehicle-photo {
	float: left;
	padding: 2px;
	margin: 0 2px 2px 0;
	width: 92px;
	height:69px;
	font-size: 80%;
	color: #666;
}
div.vehicle-photo img {
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
}
div.hero {
	clear: left;
	background-color: #4e6495;
	color: #eee;
}
.clearing {
	clear: left;
}
div.vehicle-photo p {
	margin: 0;
	padding: 2px;
	font-size: 85%;
	line-height: 90%;
}

div#second-tier {
	border-top: 1px solid #CCC;
	clear: left;
	background: url(images/gradient_lighter.jpg) 0 1px repeat-x;
}

div#video {
	margin: 11px 25px 10px 15px;
	clear: left;
	float: left;
}
div#video h3 {
	float: none;
}
div#description {
	margin-top: 11px;
	float: left;
}
div#description h3 {
	float: none;
}

div#description textarea 
{
	font-size: 11px;
}
div#mystery-shopping {
	float: left;
	margin:11px 0 0 5px;
}
#mystery-shopping a {
	color: #4e6495;
}
div#options {
	border-top: 1px solid #CCC;
	padding-top: 5px;
	clear: left;
	background: url(images/gradient_lighter.jpg) 0 1px repeat-x;
}
#options h3 {
	margin-left: 15px;
}
div.optionset {
	float: left;
	margin-right: 10px;
	margin-left: 15px;
	width: 150px;
}
#options ul {
	font-size: 72%;
	margin: 0 0 5px 0;
	padding: 0;
	color: #212121;
}
#options li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div#edt {
	margin: 20px 0 1px 0;
	clear: left;
	border-top: 1px solid #ccc;
	background-color: #eee;
	padding: 5px 13px;
}
#edt p {
	font-size: 77%;
	color: #375088;
}
.checkbox {
	font-size: 70%;
	color: #525252;
	margin: 0;
	padding: 0;
}
div#approval {
	border-top: 1px solid #19326b;
	clear: left;
	background: #4e6495 url(images/gradient_blue.jpg) top left repeat-x;
	padding: 7px 13px;
	margin: 0;
}
#approval p {
	font-size: 78%;
	color: #FFF;
}
#approval-actions {
	float: right;
	margin: 0 5px 0 10px;
	border-left: 1px solid #798cb8;
	padding-left: 15px;
	text-align: center;
}
#approval-actions a {
	color: #eee;
	font-size: 88%;
}
.edit {
	float: right;
}
.small {
	font-size: 78%;
	color: #666;
}


/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

