﻿/**/
@import url("navMenu.css");
body 
{
	color: #555;	
}
.main2
{
	width: 990px;
	margin: 0 auto;
}
.cpoContent 
{
	margin-top: 2px;
	border:solid 1px #ddd;
}
/*Features Tab*/
#CertFV 
{
	margin: 20px;
}
.progFeatures 
{
	float:left;padding:10px 25px 10px 10px;width:400px;margin-left:10px;border-right: solid 1px #ccc;
}
.progFeatures li 
{
	
}

/*Profile tab*/

h3 
{
	margin: 8px;
	font-size: 0.9em;
}
.main 
{
	text-align:right;
	background: #DDE8FF;
	border-top:1px solid #CCCCCC;
}
.controls 
{
	float: left;
	text-align: left;
	padding: 10px;	
	min-height: 250px;
}
.controls select 
{
	width: 240px;	
}
tr.row2
{
	background: #EFF3FB;
}
td.special 
{
	padding-right:20px;
}
.summary 
{
	float: left;
	text-align: left;
	width: 420px;
	font-size: 12px;
	border-right: solid 1px #ccc;
	background: #FFFFFF url('images/gradient_light.jpg') repeat-x;
	padding: 25px 10px;
	min-height: 250px;
	
}
.summary td 
{
	padding: 2px;
}
.summary td.header 
{

	font-weight: bold;
}

.highLabel 
{
	margin-left: 90px;
	font-weight: bold;
}
.lowLabel 
{
	margin-left: 140px;
	font-weight: bold;
}

span.rangeLabel 
{
	display: block;
	float: left;
	width: 120px;
}
.listBoxDiv 
{
	float: left;
}

.SpecialsSummary td 
{
	padding: 3px 5px;
}
.CertifiedConfiguration h4 
{
	border-bottom: solid 1px #ccc;
}
/** tabs **/
.ui-tabs
{
	display:block;list-style:none;width:100%;margin:0;
	position: relative;
	z-index: 1;
	
}

.inline{display:inline;}

.ui-tabs .ui-tab input
{margin:0;padding:0;overflow:visible;cursor:pointer;}

.ui-tabs .ui-tab input:active{margin:0;padding:0;overflow:visible;cursor:pointer;color:red;}

.ui-tabs .ui-tab{
	display:block;
	float:left;
	margin-right:6px;
	width:auto;
	height: 22px;
	background: url('images/vpa_tabs_top.gif') repeat-x;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 1px 0px 1px;
	padding: 2px;
}

.ui-tabs .ui-tab input{width:100%;border:none;background-color:transparent;line-height:25px;text-align:left;color:#999;font-size:12px;padding-bottom:1px;}

.ui-tabs .ui-tab-active{
	background: #485775;
}
.ui-tabs .ui-tab-active input 
{
		color: #eee;
		font-weight: bold;
}

.ui-tab-content
{
	clear: left;
	position:relative;padding:0;margin:0;
	width: 980px;
	border: solid 1px;border-color: #888;padding:10px 0 0 0;background:#f8f9f8;
}

ul 
{
	list-style: none;
	padding-left: 0px;
	margin-left: 0;
}

ul input 
{
	margin-right:8px;

}
li 
{
	padding: 5px;
}

/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

