﻿/**/


.NavHolder 
{
	width: 140px;
}
.RightPhotoNav {
	position: relative;
	width: 120px;
	min-height: 600px;
	padding:10px 10px 20px 15px;
	margin-right: 0px;
	margin-left: auto;
	background: #ededed url(images/shadowleft.png) repeat-y;
	background-position: left;
}
.RightPhotoNav h3 
{
	font-style: italic;
	font-size: 11px;
	color: #888;
	float: none;
}
.VerticalNavArrow 
{
	margin: 0 auto;
}
.NavigatorList 
{
	width: 100%;
	margin-top: 10px;
}
.Stay 
{
	font-size: 10px;
	display: block;
	text-align: center;
}
.Stay label 
{
	margin-left: 4px;
}
.NavigatorList td 
{
	font-size: 10px;
	padding: 4px;
	line-height: 14px;
	
}
.NavigatorList tr 
{
	border-top: solid 1px #555;
}
.NavigatorStockNumber 
{
	float:right;
	color: #3561AC;
	text-decoration: underline;
}
.NavigatorVehicleLink, .NavigatorVehicleLink:link, .NavigatorVehicleLink:visited, .NavigatorVehicleLink:hover
{
	text-transform: uppercase;
	color: #333;
}
.NavigatorAgeLabel 
{
	color: #999;
}

.SelectedListRow td
{
	background: #65a1f0;
	color: #fff;
}
.SelectedListRow a, .SelectedListRow a:link, .SelectedListRow a:visited, .SelectedListRow a:hover 
{
	font-weight: bold;
	color: #ddd;	
}

.SelectedListRow .NavigatorAgeLabel 
{
	color: #fff;
	font-weight: bold;
}

.SelectedListRow .NavigatorStockNumber 
{
	
	font-weight: bold;
}


.imageStrip 
{
	text-align: center;
	width: 116px;
	overflow: visible;
/*	min-height: 450px;
	max-height: 550px;*/
	height: 570px;
}
.FilmstripPopupBox 
{
	position: absolute;
	
	width: 207px;
	left: -200px;
	top: 0px;
	text-align: left;
	padding: 0px;

}
.FilmstripPopupText 
{
	width: 180px;
	font-size: 10px;
	background: #ededed url(images/topshadow.gif) repeat-x;
	border: solid 2px #3561AC;
	margin: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.CalloutBlock 
{
	position: absolute;
	right: 0px;
}

.FilmstripContainer 
{
	position:relative;
	text-align:left;
	margin-bottom:10px;
	padding-left:5px;
	padding-right:5px;
	min-height: 65px;
}
.imageStrip table 
{
	width: 114px;
}
.imageStrip td 
{
	width: 114px;
}
.FilmstripBox h3 
{
	/*background: #ededed;
	position: relative;
	bottom: 10px;*/
	font: 10px/10px;
	text-align: left;
	overflow: hidden;
	margin-bottom: 0px;
	/*height: 20px;*/
}
.FilmstripBox 
{
	margin-top: 10px;
	padding: 2px;
	overflow: visible;
	background: #cbc9c9;
	border: inset 1px #555;
	width: auto;
	height: auto;
	position: relative;
	z-index: 999;
	
}
.FilmstripBox table
{
	padding: 2px;
	max-width: 90%;
}

.FilmstripItem 
{

	border:1px solid #F8F8F8;
	height:65px;
	width:95px;
	opacity:0.5;
	
}
.IconHolder 
{
	float:right;width:10px;
}
.IconHolder img 
{
	width: 14px;
	height: 14px;
}
.FilmstripItemSelected 
{
	border: 5px solid #FFFF66 !important;
	width: 85px;
	height: 55px;
	opacity: 1.0;
}
.ThumbText 
{
	position: relative;
}
.ImageZoomThumbnail, .SelectedThumbnail  {
	position:relative;
	
	bottom: 20px;
	z-index: 200;
	text-align: center;
	background: #f8f8f8;
	border: groove 2px #777;
	height: 130px;
	opacity: 1.0;
}
.SelectedThumbnail 
{
	border: groove 2px #ff9;
}
.ImageZoomThumbnail span {
	display: block;
	background: url(images/vpa_tabs_top.gif);
	font-size: 12px;
	color: #555;
	width: 100%;
}
.ImageZoomThumbnail image{
	
	height: 160px;
	opacity: 1.0;
}


.RightPhotoNav select 
{
	font-size: 10px;
	
	margin-top: 10px;
	margin-bottom: 8px;
	width: 120px;
	position: relative;
	
}

.arrowRight 
{
	text-align: center;
}

.arrowLeft 
{
	text-align: center;
}

.progressBar  
{
	clear: right;
	
}
.CompletedProgressBar 
{
	height: 20px;
	background: #c55 url(images/progressBarComplete.gif) repeat-x;
}
.NotCompletedProgressBar 
{
	height: 20px;
	background: #ddd url(images/progressBarIncomplete.gif) repeat-x;
}
.ToDoCounts 
{
	vertical-align: middle;
	margin: 10px -4px 0px;
}
.ToDoCounts span 
{
	font: 11px/12px;
	vertical-align: text-top;
	position:relative;
	right:1px;
	vertical-align: middle;
}
.ToDoCountIcon 
{
	width: 15px;
	vertical-align: middle;
}


.navStkNum 
{
background:#F8F8F8 none repeat scroll 0 0;
bottom:2px;
color:#000000;
display:block;
font-size:10px;
left:7px;
padding:0 2px;
position:absolute;
width:84px;

}

.stkSearchBox 
{
	width: 72%;
	font-size: 10px;
	height: 12px;
	vertical-align: top;
}
.stkSearchImg 
{
	width: 15px;
	height: 15px;
	vertical-align: top;
	border-width: 0px;
	border-style: none;
	background-image: url('images/search-icon-blue.gif');
	background-repeat: no-repeat;
}

.gridButton2
{
	position: absolute;
	top: -27px;
	right: 42px;
	width: 33px;
	height: 26px;
}
.tableButton2 
{
	position: absolute;
	top: -27px;
	right: 5px;
	width: 33px;
	height: 26px;
}

.navPager 
{
	background:#DDDDDD none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	color:#555555;
	display:block;
	font-size:11px;
	text-align:center;
	width:99%;
	font-weight: bold;
}