﻿/**/
body 
{
	background: url('images/gradient_lighter.jpg') repeat-x top;
}

#nav 
{
	background-color: #3e436d;
    color:#f8f8f8;
	height: 30px;
	margin: 0px auto 1px auto;
}

#nav a
{
    color:#D8E2F5;
	text-decoration: none;	
}

.logoBanner 
{
	padding-top: 7px;
	padding-bottom: 6px;
    background-image: url('images/gradient_lighter_up.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
	position:relative;
}

.logoBanner .SubLogo 
{
	position:absolute;
	right: 75px;
	top: 0px;
}

.logoBanner .CertifiedName 
{
	font: italic 18px/18px;
	font-weight: bold;
	color: #606b7c;
	position: absolute;
	top: 15px;
	left: 120px;
}

a.DealerName
{
	
	font-size: 12px;
	color: #606b7c;
	font-weight: bold;
	float:right;
	position:relative;
	top: 30px;
	cursor: pointer;
	padding-left: 12px;
	background-image: url('images/openarrow.gif');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left 50%;
}

span.navSearch 
{
	font: 11px/12px Verdana;
	padding-top:2px;
}

span.navSearch input 
{
	vertical-align: middle;
}

span.navSearch input[type=text] 
{
	
	font-size: 10px;
	width: 115px;
}

.minorLinks 
{
	position: absolute;
	top: 3px;
	right: 2px;
	font-size: 10px;
	color: #666;	
}

.minorLinks a 
{
	text-decoration: underline;
	color: #777;
}

#chartTitle 
{
	margin-left: 110px;
	color: #323465;
	font: 14px/14px Verdana;
}

#nav #MainNavList
{
	float:left;
	margin-left:15px;
}

#nav #MainNavList li
{
	float:left;
	font-size:12pt;
	line-height:21pt;
}


#nav #divSearch
{
	float:right;
	margin:2px 20px 0 0;
}

/*#nav li*/

#nav .bulkUpload 
{
	background:transparent url("../MAX60/Images/btn_BulkUpload.gif") 0 1px no-repeat;
	color:#d8e2f5;
	display:inline-block;
	height:24px;
	float:right;
	font-size:9pt;
	font-weight:bold;
	line-height:10pt;
	margin:2px 20px 0 0;
	padding-left:27px;
	position:static;
	text-align:left;
}

#nav #CustomizeMax
{
	float:right;
	font-size:9pt;
	font-weight:bold;
	height:30px;
	padding-right: 15px;
	position:relative;
}

#nav #CustomizeMax:hover #config
{
	display:block;
}

#nav #CustomizeMax .customize 
{
	display:block;
	font-size:9pt;
	padding:7px 0 9px;
}

#nav #CustomizeMax #config
{
	display:none;
}

#nav a.chevron, #nav a.first
{
	margin:0;
	padding:0;
	overflow:visible;
	cursor:pointer;
	font-weight:normal;	
	color:#9aaccd;
	text-transform:uppercase;		
	display: inline-block;
	vertical-align: middle;
	border:none;
	background-color:transparent;
	text-align:left;
	font-size: 14px;
	
}
#nav a.chevron 
{
	/**/
	
	padding: 0px 30px;
	
		
}

#nav li.current
{
	background-color: #3F76DB;
}

#nav li.current a {
	color: #FFF;
	font-weight: bold;	
}

#nav a:active
{
	color: #f8f8f8;	
}

#nav a 
{
	text-decoration: none;
}

/*sub navigation*/
#subNav 
{
	list-style: none;
	float:right;
	padding:2px 4px 2px 15px;
	background: #ddd;
	margin-bottom: 5px;
	border: solid 1px #666;
	border-width: 0 0 1px 1px;
	font-size: 10px;
	color: #333;
	position: relative;
	z-index: 2;
	-moz-border-radius:0 0 0 20px;
	-webkit-border-radius:0 0 0 20px;
	border-radius:0 0 0 20px;
}
#subNav li, #subNavWorkflow li
{
	display: inline;
}
#subNav a, #subNavWorkflow a
{
	color: #777;
	text-decoration: underline;
}
#subNav a.active, #subNavWorkflow a.active
{
	color: #3561ac;
	font-weight: bold;
	font-size: 11px;
}
#subNavWorkflow
{
	list-style: none;
	float:right;
	padding:2px 4px 2px 15px;
	background: #f4f4f4;
	margin-bottom: 5px;
	border: solid 1px #DDDDDD;
	border-width: 0 0 1px 1px;
	font-size:8pt;
	color: #555555;
	position: relative;
	z-index: 2;
	-moz-border-radius:0 0 0 20px;
	-webkit-border-radius:0 0 0 20px;
	border-radius:0 0 0 20px;
}
/*end sub nav*/

/*flyout*/

ul#config 
{
	background: #3e436d;
	border:solid #3e436d 1px;
	position: absolute;
	right: 0;
	top: 25px;
	z-index: 999999;
	padding: 0;
	width: 140px;
	text-align: right;
}

ul#config li 
{	
	border-top: solid 1px #ccc;
	float: none;
}

ul#config li
{
	display: block;	
	background: transparent;
	background-image: none;
	color: #d8e2f5;	
	height: auto;
	padding: 0;
	font-size: 10px;
	
}

ul#config li a
{
	display: block;	
	background: transparent;
	background-image: none;
	color: #d8e2f5;	
	height: auto;
	padding:5px 15px 5px 0;
	font-size:8pt;
}

ul#config a:active, ul#config a:hover 
{
	/*background-color:#cc3333;
	color:#fff;*/
	background-color:#f0f0f0;
	color: #333;
}

/*common header*/

.GridViewHeader 
{
	background: #fff url(images/gradient_light.jpg) 0 1px repeat-x;
	padding: 4px 5px 2px;
	clear: left;
	border-top: solid 1px #ccc;

}
.NowShowingLabel 
{
	float: left;
	font: bold 16px/18px;
	color: #485775;
	
}
.logoff 
{
	color: #333;
	font-size: 10px;
}

.Notices
{
	background:none repeat scroll 0 0 #FFDDDD;
	color:#CC0000;
	font-size:13px;
	font-weight:bold;
	padding:2px 10px;
	text-align:center;
	font-family: Serif;
}

/**/

