﻿/**/
@import url("normalizer.css");
@import url("navMenu.css");

#progress 
{
	position: absolute;
	top: 500px;
	left: 40%;
	width: 10%;
	background: #f8f8f8;
	border: dashed 1px #ccc;
	padding: 80px;
}
.customPager
{
	clear: left;
	font: bold 11px/12px;
	color: #3561AC;
	
}
.customPager {
    text-align: right;
    margin-top: 5px;
}
.customPager a, .customPager a:visited, .customPager span {
	background-color:#E0E0E0;
	border:1px solid #D0D0D0;
	color:#777777;

	margin-left:2px;
	padding:1px 5px;
	text-decoration:none;
	display:inline-block;
}

.customPager span 
{
    background-color: #d0d0d0;
    border: solid 1px #808080;
    color: #555;
    font-size: 68%;
}
.customPager a:hover,
.customPager a:visited:hover 
{
    background-color: #f0f0f0;
}

.NoPendingNote 
{
	font: 18px/20px;
	color: #888;
	margin: 20px;
}

.NoPendingNote a, .NoPendingNote a:link, .NoPendingNote a:hover, .NoPendingNote a:visited 
{
	font: bold 18px/20px;
	color: #3561ac;
} 


.inventoryBody
{
	position: relative;
	text-align: left;
	width: 990px;
	margin: 0px auto auto;
	background-color: #fff;
	
}
.mainInventoryBox 
{
	text-align: center;
	border: solid 1px #ccc;
	width: 100%;
}
span.color 
{
	float:right;
	font-size: 80%;
	color: #555;
}

.InventoryTableBox
{
	position: relative;
	padding: 20px 0 0px;
	clear:both;	
	text-align: center;
}
.listThumbnail img
{
	width: 80px;
	height: 60px;
}

.InventoryGridStkNum 
{
	
	float:right;
	font-size: 0.8em;
	color: #3561AC;
	text-decoration: underline;
}


/*  Inventory List Styles */
.ListViewHeader th
{
	padding: 1px 2px;
	font-size: 80%;
	text-transform: uppercase;
	color: #eee;
}

.ListViewHeader a, .ListViewHeader a:link, .ListViewHeader a:hover, .ListViewHeader a:visited
{
	padding: 1px 2px;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	color: #eee;
	text-decoration: underline;
}

.tableNumber 
{
	text-align: right;
}
.VehicleSubInfo 
{
	font-size: 85%;
	color: #777;
	text-align: right;
}
.VehicleSubInfo li 
{
	float:left;
	padding: 0 5px;
}
.VehicleSubInfo li.pct 
{
	width: 55px;
	text-align: center;
}
.descSamp 
{
	clear:left;
	font-size: 10px;
	color: #444;
}
.VehicleColumn 
{
	width: 340px;
	text-align: left;
}

.VehicleColumn a, .VehicleColumn a:link
{
	color: Maroon;
	font-size: 12px;
	margin-bottom: 4px;
	display: block;
}
.InventorySummaryList 
{	
	margin: 5px;
	width: 90%;
	
}
.InventorySummaryList td 
{
	padding: 2px 4px;
	
}
.LighterGridItem 
{
	color: #888;
}

.statusHead 
{
	position: absolute;
	top: -64px;
	left: 15px;
	
}
.OnlineStatus 
{
	position: relative;
}