﻿/**/
@import url("navMenu.css");

body 
{
	width: 980px;
	margin: 0 auto;
}
h1 
{
	font: italic 18px/20px Verdana, Sans-Serif;
	color: #555;
	padding: 10px;
	margin: 0 0 10px 0;
}
h3 
{
	color: #555;
}
.performanceMain 
{
	border: solid 1px #aaa;
	min-height: 500px;
	padding: 8px;
}
#startDateCal 
{
	position: absolute;
	top: 50px;
	left: 0px;
}
#endDateCal 
{
	position: absolute;
	top: 20px;
	left: 0px;
}
div.filters 
{
	padding: 10px;
	margin-top: 10px;
	background: #ededed;
}
div.filters span 
{
	display: block;
	font-weight: bold;
	font-size: 0.9em;
	color: #333;
}
.Calendar 
{
	position: relative;
}
.Calendar h3 
{
	font: 12px/14px Verdana, Sans-Serif;
	color: #555;
	text-align: center;
	margin-top: 5px;
}
.ChartControls 
{
	width: 280px;
	margin-left: 20px;
	padding: 8px;
	background: #f4f4f4;
	border: solid 1px #d8d8d8;
	float:right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.Chart 
{
	font-size: 80%;
}
.WebMetricReport 
{
	font-size: 80%;
	margin: 20px;
	clear:left;
}
.WebMetricReport td
{
	text-align: right;
	padding: 2px;
} 
#gridUpdate 
{
	clear:right;
}
/*tabs*/
/** tabs **/
.ui-tabs
{
	display:block;list-style:none;width:100%;
	position: relative;
	z-index: 1;
	margin:0px;
	
}

.inline{display:inline;}

.ui-tabs .ui-tab input
{margin:0;padding:0;overflow:visible;cursor:pointer;}

.ui-tabs .ui-tab input:active{margin:0;padding:0;overflow:visible;cursor:pointer;color:red;}

.ui-tabs .ui-tab{
	display:block;
	float:left;
	margin-right:6px;
	width:auto;
	height: 22px;
	background: url('images/vpa_tabs_top.gif') repeat-x;
	border-style: solid;
	border-color: #aaa;
	border-width: 0px 1px 0px 1px;
	padding: 2px;
}

.ui-tabs .ui-tab input{width:100%;border:none;background-color:transparent;line-height:25px;text-align:left;color:#999;font-size:12px;padding-bottom:1px;}

.ui-tabs .ui-tab-active{
	background: #485775;
}
.ui-tabs .ui-tab-active input 
{
		color: #eee;
		font-weight: bold;
}

.ui-tab-content
{
	clear: left;
	position:relative;padding:0;margin:0;width: auto;
	border: solid 1px;border-color: #888;padding:10px 10px 0px;background:#f8f9f8;
}

/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}




