﻿body {
}
div.photos 
{
	padding: 15px;
}

.itemArea 
{
	position:relative;
	
}
.dragHandle 
{
	float:left;
	position: relative;
	cursor:move;
	margin: 4px;
	width: 128px;	
}
.dragHandle img.SortPhoto
{
	width: 120px;
	border: solid 1px #225599;
	padding: 1px;
}
.dragHandle .num 
{
	color: #fff;
	background: #555;
	font-size: 11px;
	padding: 2px 4px;
	font-weight: bold;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	filter:alpha(opacity=70);
	opacity: 0.5;
}
.itemArea .xButton 
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	cursor: pointer;
}

.PhotoList li 
{
	float:left;
	list-style-type:none;
	width: 130px;
	margin: 15px 5px;
}
li.reorderCue {
	border:dotted 1px #eee;
	width:10px;
	height:105px;
	background: #222288;
	margin: 12px 2px;
	
}
.photoContainer 
{
	padding:0;
	clear:right;
}

ul, li
{
	margin: 0;
}

a.modeSwitch, a.modeSwitch:link, a.modeSwitch:visited, a.modeSwitch:hover, a.modeSwitch:active
{
	float:right;
	display: block;
	padding: 10px;
	background: #899abd url('images/sprLt-grad.png') repeat-x left bottom;
	border: solid 1px #ededed;
    color: #f8f8f8;
	font-weight: bold;
	font-size: 12px;
	text-decoration: underline;
		
}