/**/
@import url("navMenu.css");
@import url("navigator.css");
@import url("VHR.css");

body {
	background-color:#fff;
}
#approvalMain 
{
	margin: 0 auto;
	padding: 0;
	width: 968px;

}
#highlightsPanel, #formattedDiv span.mission 
{
	color: #385284;
	margin-left: 5px;
	font-size: 12px;
}

#formattedDiv h6 
{
	
	color: #385284;
	font-size: 16px;
	font-weight: bold;
	/*margin: 0 40px 0 0;*/
	border-bottom: 0px solid #000000;
}

.invisible 
{
	display: none;
}
a 
{
	text-decoration: none;
}
#container a, #ctl00_WorkArea_container a
{
	color: #86ae7b;
	font-size: 78%;
	text-decoration: underline;
	margin-left: 2px;
}

a:visited {
	color: #666;
}

a:hover {
	color: #19326b;
}
ul 
{
	padding: 0;
	margin: 0;
	list-style: none;
}
#PowerEditUpdatePanel 
{
	
}
span.highlight 
{
	background: #ffff00;
}
.lightData 
{
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
}
.goLong 
{
	margin-left: 20px;
	font-size: 10px;
	color: #666;
}
.goLong:hover 
{
	color: #19326b;
}
.spinner 
{
	position: absolute;
	top: 250px;
	left: 40%;
	background: #fff;
	border: dotted 2px #ccc;
	padding: 40px;
}
#noVehiclesPanel 
{
	width: 910px;
	float: left;
	
}

ul.controls 
{
	clear:left;
	float:left;
	margin: 10px;	
}
.controlSettings span
{
	display: inline-block;
	width: 100px;
}
ul.checks 
{
	float:left;
	width: 200px;
	margin-left: 15px;
	font-size: 12px;
}
ul.controls select 
{
	color:#333333;
	font-size:12px;
	width:250px;
}
div#pod 
{
	float:left;
	width: 310px;
	margin-right: 10px;		
	
}
#pod label 
{
	color: #525252;	
	font-size: 11px;
}
#pricing 
{	
	color: #fff;
	padding: 0;
	background: url(images/InternetPrice-leftcap.png) no-repeat scroll 0 50%;
	font-size: 14px;	
	padding-left: 9px;
}
#subPrice 
{
	padding: 2px 10px 6px;
	font-size: 10px;
	color: #333;
}


#pricing .inner 
{
	text-align: right;
	margin: 0;
	height: 63px;
	padding: 12px 20px 8px 5px;
	background: url(images/InternetPrice-rightcap.png) no-repeat scroll right 50%;
}
#pricing .inner .avg 
{
	color: #d8e6ff;
	font-size: 15px;
	font-weight: normal;
}
#pricing .innerBody 
{
	background: url(images/InternetPrice-bkgrd.png) repeat-x scroll 0 50%;
	
}
#pricing h1 
{
	font: bold 17px/23px;
	text-align: left;
	color: #f1f6ff;
	margin: 0;
	padding: 0;
	width: auto;
}
#headerListPrice 
{
	color: #fff;
	font-size: 23px;
}

#subPrice li 
{
	margin: 1px;
}
#subPrice label 
{
	display: block;
	float:left;
	font-size: 10px;
	width: 125px;
}
.carfax 
{
	margin-left: 25px;
}
#MktAvgPct 
{
	font-size: 14px;
	font-weight: bold;
	color: #d8e6ff;
	line-height: 24px;
}

.featurePreviewSelectors 
{
	margin-left: 10px;
	padding-left: 10px;
}
.PowerEditor 
{
	font-size: 85%;
	clear: left;
	border: solid 1px #ccc;
	width: 900px;
	margin:15px;
	background: #eee;
}
.PowerEditContainer 
{
	width: 100%;
}
.AvailTemplatesForBuilding h3 
{
	margin: 5px;
	font-size: 14px;
}
#CharacterCount 
{
	text-align: right;
	margin-right: 10px;
}
.quickBuildDescPreview 
{
	clear: left;
	width: auto;
	background: #f8f8f8;
	margin-left: 10px;
	padding: 10px;
}
.quickBuildDescPreview textarea 
{
	float: left;
	width: 40%;
	margin-right: 10px;
	margin-left: 15px;
}
.quickBuildDescPreview select
{
	width: 25%;
	margin-bottom: 2px;
}
.basicEquipLbl 
{
	padding: 0px 4px;
}
.basicEquipValue 
{
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.15em;
	color: #777;
}
.smallLabel 
{
	font-size: 9px;
	margin-left: 10px;
}
.equipmentSummary 
{
	clear: left;
	font: 9px/10px Verdana, sans;
	color: #555;
	text-align: left;
}

.quickBuildDescPreview 
{
	clear: left;
	width: auto;
	background: #f8f8f8;
	padding: 10px 20px;
}
.quickBuildDescPreview textarea 
{
	float: left;
	width: 40%;
	height: 400px;
	margin-right: 10px;
	margin-left: 15px;
}
#footerTB 
{
	color: #666688;
	margin-top: 4px;
}
.quickBuildDescPreview select
{
	
	width: 24%;
	margin-bottom: 2px;
}
#container {
	margin: 0;
	border: 1px solid #CCC;
	padding: 5px;
	background: #fff;	
}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
h1 {

	font-size: 125%;
	color: #19326b;
	vertical-align:  baseline;
	width: 505px;
}

h2 {
	float: right;
	font-size: 120%;
	color: #19326b;
	margin-top: 5px;
}
h3 {
	float: left;
	color: #375088;
	margin-bottom: 3px;
	font-size: 90%;
}
h4 {
	font-size: 70%;
	font-weight:  normal;
	text-transform: uppercase;
	color: #666;
	margin: 3px 0;
}
#vehicle-main {
	padding: 0 0 0 15px;
}
.Remap 
{
	float:right;
	margin-right: 15px;
}
.LotDetails 
{
	
	font-size: 14px;
	color: #444;
	clear:left;
	margin: 0 15px;
	border-bottom: solid 1px #ccc;
}
.LotDetails span 
{
	color: #666;
	margin: 0px 3px 0px 15px;
}
#vehicle-details 
{
	padding-top: 8px;
	
}
ul.vehDetails {
	margin: 0 0 3px 10px;
	padding: 0;
	list-style-type: none;
	font-size: 12px;
	color:#333;
	line-height:14px;
	display: block;
}

ul.vehDetails li {
	float: left;
	display: inline;
	margin-right: 25px;
}
.config {
	float:left;
	margin: 0;
	border-top: 1px solid #CCC;
	background: url(images/gradient_light.jpg) 0 1px repeat-x;
}
.config td 
{
	padding: 2px 10px;
}
div#details-panel 
{
	margin: 0;
	border-top: 1px solid #CCC;
	/*border-bottom: 1px solid #CCC;*/
	clear: left;
	background: #eceff6;
	font-size: 12px;
	color: #333;
	margin-bottom: 5px;
}
#details-panel label 
{
	color: #686868;
}
#details-panel ul 
{
	list-style: none;
	float: left;
	margin-right: 0px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 15px;
	width: 165px; 
}
#details-panel ul.wideDetails
{
	width: 240px;
}
#details-panel ul.otherDetails 
{
	margin-right: 0;
	padding: 10px;
	clear:right;
	float:right;
	border-style: solid;
	border-color: #aaa;
	border-width: 0 0 1px 1px;
	background: #dcdfe6;
	width: auto;
}


#details-panel li 
{
	margin-left: 10px;
}

#details-panel label 
{
	display: inline-block;
	width: 90px;
	
}
.config
{
	padding:10px;
	width:600px;
	margin-top: 6px;
	font-size: 12px;
	color: #666;
}
.config input.Update 
{
	float:right;
	color: #86ae7b;
	text-decoration: underline;
	border: 0;
	background: transparent;
	font-size: 11px;
	cursor: pointer;
}
.equipmentSummary 
{
	float:left;
	margin-top:10px;
	padding-left:20px;
	width: 200px;
}
#AdditionalInfoItemsList, #ctl00_WorkArea_AdditionalInfoItemsList
{	
	font-size: 11px;
	color: #385284;	
}
#AdditionalInfoItemsList td, #ctl00_WorkArea_AdditionalInfoItemsList td
{
	width: 180px;
}
.additionalInfoHeader 
{
	text-decoration: underline;
	margin-top: 5px;
	display: block;
}
.photos h4 
{
	float:left;
}
div.photoset {
	
	clear:both;
	float:left;
	
	margin:11px 0 20px 15px;
	padding-right:5px;
	width:46%;
	
}


.photoset + .photoset {
	padding-left: 15px;
	border-left: 1px solid #CCCCCC;
	padding-right: 0;
	clear:none;
}
div.vehicle-photo {
	float: left;
	padding: 2px;
	margin: 0 2px 2px 0;
	width: 92px;
	height:92px;
	font-size: 80%;
	color: #666;
}
div.vehicle-photo img {
	border: 1px solid #ccc;
	width: 100%;
	height: auto;
	cursor: pointer;
}
div.hero {
	clear: left;
	background-color: #4e6495;
	color: #eee;
}
.clearing {
	clear: left;
}
div.vehicle-photo p {
	margin: 0;
	padding: 2px;
	font-size: 85%;
	line-height: 90%;
}

#second-tier {
	clear:both;
	padding: 0 15px;
	margin-bottom: 2px;
	margin-top: 0px;
	background: #e6e6e6 url('images/highlights_top_pane_slice.jpg') repeat-x scroll left top;
	border: solid 1px #8f8f8f;
	padding: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#video {
	margin: 11px 25px 10px 15px;
	clear: left;
	float: left;
	width: 135px;
	height: 110px;
	position: relative;
}
#Play 
{
	position:absolute;
	top: 40px;
	left: 40px;
	width: 60px;
}
#video h3 {
	float: none;
}
#video img 
{
	width: 135px;
}

#VideoLink 
{
	display: block;
	width: 100%;
	border: solid 1px #aaa;
	background: #eee;
	
	text-align: center;
}
#video span 
{
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
}
#highlightsPanel 
{
	padding: 0;		
	margin: 0;
}
#highlightsPanel span.mission 
{
	color: #385284;
	margin-left: 5px;
	font-size: 12px;
}
#regen, #ctl00_WorkArea_regen
{
	display: inline;
	margin: 0 0 0 20px;
	font-weight: bold;
	position: relative;
	
	
}
.regenControls 
{
	float: right;
	height: 26px;
	padding: 0;
}
#descriptionPanel, #ctl00_WorkArea_descriptionPanel
{
	
	margin: 0px;
	padding: 2px 2px 4px;
	clear: both;
	/*float: left;
		width: 750px;*/
	font-size: 13px;
	color: #103176;		
	
}
#descriptionPanel select 
{
	font-size: 11px;
}
#highlightsPanel h3 
{
	
	color: #385284;
	font-size: 16px;
	font-weight: bold;
	/*margin: 0 40px 0 0;*/
	border-bottom: 0px solid #000000;
}
#highlightsPanel a 
{
	float:right;
	font-size: 11px;
	margin-left: 4px;
	color: #35579f;
}
#highlightsPanel #frameworkActions a
{
	float: none;
}

#mysteryShop 
{
	
}
#mysteryShop strong 
{
	
	color:#35579f;
	float:right;
	font-size:12px;
	margin-left:15px;
	line-height: 26px;
}
#mysteryShop strong em
{
	font-style:italic;
	font-weight: bold;
}
	
#mysteryShop a.mystery 
{
	margin-left: 15px;
	line-height: 26px;
	color: #35579f;
	float: right;
	margin-left: 8px;
}

#descriptionPanel textarea 
{
	font-size: 14px;
	line-height: 15px;
	padding: 5px;
	width: 97%;		
}
#ExpiresOn 
{
	font-size: 11px;
	border: solid 1px #19326B;
}
#warning 
{
	clear:both;
	font-size: 80%;
	color: #ff0000;
	background: #ffeeee;
	text-align: center;
	padding: 2px;
	font-style: italic;
}
#highlightSubControls 
{
	background: url('images/highlights_bottom_pane_slice.jpg') repeat-x scroll left top;	
}
.righty 
{
	float:none;
}
#righty 
{
	float:right;
	margin: 5px 5px 0 0;
	text-align: right;
}
#highlightSubControls select 
{	
	/*float: left;	
	margin: 24px 10px 0 5px*/
}
.alerts 
{
	width: 580px;
	float:left;
	background: #ffd0d0;
	margin: 2px 0 0;
	color: #333;
	padding: 5px;
	font-size: 11px;
	border-bottom: solid 2px #fff;
}
.alerts span
{
	margin-right: 5px;
}
.alerts h4 
{
	float:left;
	font-size: 11px;
	margin: 0 5px 0;
	padding: 0;
	font-weight: normal;
	text-transform: none;
}
.alerts h5 
{
	text-transform: none;
}

.mds 
{
	font-size: 15px;
	color: #c7dbff;
	font-weight: normal;
	float:right;
	line-height: 26px;
}
#mdsInfo 
{
	/*font-weight: bold;
	color: #d8e6ff;
	font-size: 18px;
	margin-right: 2px;*/
}
#descriptionTB 
{
	/*height: 140px;*/
	overflow: hidden;
}
#Scheduler 
{
	z-index: 9995;
}
#Scheduler p 
{
	font-size: 11px;
	color: #BB2222;
}
#editDescriptionLink 
{
	float:right;
	margin-bottom:5px;
}
#mystery-shopping {
	float: left;
	margin:11px 0 0 5px;
}
#mystery-shopping a {
	color: #4e6495;
}
#mapped 
{
	background: #f3f3f3;
	margin-top: 15px;
	clear:left;
	padding: 5px;
}
#mapped h3 
{
	font-size: 13px;
	color: #335187;
	font-weight: normal;	
	margin: 0;
}
.LotDetails 
{
	font-size: 13px;
	color: #525252;
}

#mapped .ListedOptions
{
	clear:left;
	margin: 0px 15px 12px;
	font: 12px Verdana Sans-Serif;
	color: #555;
}
.ListedOptions td 
{
	width: 175px;
	color: #727272;
	font-size: 13px;
}
.ListedOptions input 
{
	display: none;
}
span.noVehiclesLbl 
{
	display: block;
	border: solid 1px #aaa;
	text-align: center;
	font: 18px/20px Verdana, Sans-serif;
	color: #555;
	height:600px;
	margin:0 -40px 0 0;
	padding:80px;
	
}
#options, #photos
{
	margin-top: 4px;
	border-top: 1px solid #CCC;
	padding: 15px 15px 5px;
	clear: left;
	background: url(images/gradient_lighter.jpg) 0 1px repeat-x;
	min-height: 25px;
}

div.optionset {
	float: left;
	margin-right: 10px;
	margin-left: 15px;
	margin-top: 5px;
	width: 150px;
}
#options ul {
	font-size: 72%;
	margin: 0 0 5px 0;
	padding: 0;
	color: #212121;
}
#options li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#edt 
{
	background: url(images/gradient_lighter.jpg) 0 1px repeat-x;
	margin: 4px 0 1px 0;
	border-top: 1px solid #ccc;
	padding: 5px 13px;
}
#edt p {
	font-size: 77%;
	color: #375088;
}
#edt span 
{
	margin-left: 20px;	
	color: #333;
}
#edt em
{
	color: #666;
	margin-left: 10px;
	font-weight: bold;
}
.checkbox {
	font-size: 70%;
	color: #525252;
	margin: 0;
	padding: 0;
}
#approval {
	border-bottom: 1px solid #888888;
	clear: left;
	background: #f4f4f4;
	padding: 7px 5px 7px 13px;
	margin: 0 0 10px 0;
	position:relative;	
}
#approval2 {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	clear: left;
	background: #f4f4f4;
	padding: 7px 5px 7px 13px;
	/*margin: 10px 0 10px 0;*/
	position:relative;
	width: 952px;
	bottom: 0;
	/*left: 0;
	right: 0;*/
}
#approval p, #approval2 p {
	font-size: 78%;
	color: #555;
	padding-right: 150px;
}
#approval input, #approval2 input
{
	font: 11px/11px Verdana;	
	padding: 2px;
	margin: 0 0 5px;
}
#approval-actions {
	float: right;
	margin: 0 5px 0 10px;	
	padding-left: 15px;
	text-align: right;
	/*position: relative;*/
}

#approval-actions a {
	color: #555;
	font-size: 10px;
	text-decoration: none;
	
}
.edit {
	float: right;
}
.small {
	color: #666;
	font-size: 11px;
}
.NoPhotosLabel 
{
	clear:left;
	color:#888888;
	display:block;
	font-size:18px;
	padding:25px;
}

#details-panel 
{
	clear: left;
	
}

.DateSelect 
{
	background:#F8F8F8 none repeat scroll 0 0;
	border:1px solid #888888;
	right:75px;
	padding:15px;
	position:absolute;
	text-align:center;
	width:220px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.DateSelect td
{
	padding: 1px;
}
.ReleaseCalendar
{
	
	margin: 3px auto;
}


a.closeLink 
{
	color: #ff0000;
	float: right;
}


div.AdChoice 
{
	padding: 60px 40px;
	position:absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
	background-image: url(images/modalShade.png);
	background-position: left top;
	z-index: 10000;
	
	
}
div.choiceForward 
{
	background: #F8F8F8;
	border:2px solid #19326B;
	padding: 30px;
	width: 800px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	height: 600px;
	overflow: auto;
}
div.choiceForward a 
{
	font-size: 11px;
	text-decoration: underline;
}
div.AdChoice h3, div.AdChoice h2 
{
	display: block;
	float: none;
}
div.AdChoice h3
{
	margin-top: 25px;
	border-bottom: solid 1px #AAA;
}
span.EditTime 
{
	float: right;
}
#DescControls 
{
	float:left;
	margin-left:10px;
	width: 145px;
}
#DescControls select 
{
	margin: 5px 0px 0px;
	width: 100%;
	font-size: 11px;	
}
#DescControls a 
{
	color: #fff;
	font-size: 11px;
}
#DescControls label 
{
	color: #d8e6ff;
	font-size: 13px;
}
#DescControls .BigButton label 
{
	color: #666;
	font-size: 11px;
}

a.BigButton, .BigButton, .LittleButton
{
	display: block;
	width: 107px;
	background-color: Transparent;
	background-image: url('images/button-blank-large.gif');
	background-repeat: no-repeat;
	font-size: 11px;
	line-height: 24px;
	color: #555;
	height: 25px;
	margin-bottom: 6px;
	cursor: pointer;
	border: 0;	
}
.BigButton label 
{
	cursor: pointer;
}
.LittleButton 
{
	width: 62px;
	background-image: url('images/button-blank-small.gif');
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	margin: 0;
	padding: 0;
}
a#priceLnk 
{
	float:right;
	display: inline-block;
	text-decoration: none;
	width: 62px;
	height: 20px;
	background: url('images/button-Analyze.gif') no-repeat;
}
.potent 
{
	font-size: 12px;
	font-weight: bold;
	color: #f1f6ff;
}
.BigButton input 
{
	margin-left: 10px;
	margin-right: 2px;
	vertical-align: baseline;
}
.Trim 
{
	font-size: 14px;
	color: #173c69;
	font-weight: bold;
}
.stockLinks 
{
	float:right;
}
#container .StockNumber 
{
	font: bold 11px/12px Verdana, sans;
	color: #355fab;		
	text-decoration: none;
}
#descriptionPanel #save 
{
	margin: 0 10px;
}
#ExpiresOn 
{
	width: 80px;
}

/*for trim help*/
.trimHelperHolder 
{
	background:#DDD none repeat scroll 0 0;
	border:1px solid #555555;
	left:50px;
	position:absolute;
	text-align:center;
	top:110px;
	max-width: 680px;
	min-width: 300px;
	z-index: 100;
	overflow: scroll;
}
.trimHelperHolder p span 
{
	margin-left: 10px;
	font-weight: bold;
	color: #222288;
}
.discCloser, .discCloser:link, .discCloser:hover, .discCloser:visited
{
	float: right;
	font: bold 22px/24px Verdana, sans;
	color: #3561ac;
}

.trimHelperHolder h3 
{
	text-align: left;
	font-style: italic;
	font-size: 18px;
	line-height: 22px;
	color: #555;
	padding:4px;
	float:none;

}
.trimHelp table
{
	width: 100%;
	overflow: scroll;
}
.trimHelp th
{
	background: #485775;
	color: #fff;
}
.CheckedCell 
{
	background-image: url('images/checkGreen.gif');
	background-repeat: no-repeat;
	background-position: center center;
	
}
.descCol 
{
	text-align: left;
	padding: 1px 5px;
}
.StyleColumn 
{
	background: #485775;
	color: White;
	width: 85px;
	font-size: 12px;
}
.CategoryColumn 
{
	background: #485775;
	color: White;
	width: 200px;
	font-size: 12px;
}
.trimHelp tr.even
{
	background-color: #fff;
}
.trimHelp tr.odd
{
	background-color: #f8f8f8;
}
select.Wide
{
	width: 500px;
}
.ui-collapse-panel-head h3 
{
	margin-left: 4px;
	padding-left: 12px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(images/openarrow.gif);
	border-bottom: 0px solid #000000;
	color: #375088;
	font-size:90%;
}
.ui-collapsed h3 
{
	background-image: url(images/closedarrow.gif);
}

#approveButton 
{
	background: url(images/ApprovalButtonGreen.gif) no-repeat;
	width: 131px;
	height: 21px;
	border: 0;
	cursor:pointer;
	text-indent: 0px;			
}

.More
{
	/*position:fixed;*/
	bottom: 7px;	
}
.Less 
{
	/*position:fixed;*/
	right: 34px;
	top: 10px;
}
.rightie 
{
	float:right;
}
.modal 
{
	background: url('images/modalShade.png') repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
}
.modalBod 
{
	padding: 30px 20px;
	width: 600px;
	margin: 100px auto;
	background: #fff;
}
.modalBod h2 
{
	float:none;
	text-align: left;
	margin-bottom: 30px;
}
.modalBod h3 
{
	float:none;
	border-bottom: solid 1px #666;
	margin-bottom: 5px;
}
.modalBod input 
{
	margin-left: 5px;
}
.modalBod .loginList 
{
	margin-bottom: 10px;
}
.warning 
{
	font-weight: bold;
	color: #f55;
	margin-top: 40px;
}
.AutoBuildReport 
{
	text-align: left;
	font-size: 11px;
}
.actions 
{
	padding: 20px;
	text-align: right;
}

.pubDate 
{
	margin-left: 20px;
}

/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.QuickPackageSearch
{
	font-size: smaller;
	height: 300px;
	overflow: auto;
	border: solid 1px #666666;
	z-index: 999999;
	background-color: White;
	cursor: pointer;
}

#quickPackages_lblPackages
{
	color:#385284;
	font-size:16px;
	font-weight:bold;
}

div.modal
{
	background-image:url("images/modalShade.png");
	background-position:left top;
	background-repeat:repeat;
	height:100%;
	left:0;
	padding:60px 40px;
	position:absolute;
	
	top:0;
	width:100%;
	z-index:10000;
}



#quickPackages_divAdd
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:none repeat scroll 0 0 #F8F8F8;
	border:2px solid #19326B;
	overflow:auto;
	padding:30px;
	width:475px;
	text-align:center;
}

#divApproveSuccessful
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:#F8F8F8;
	border:2px solid #19326B;
	overflow:auto;
	padding:30px;
	width:475px;
	text-align:center;
}