﻿/**/

@import url("normalizer.css");
@import url("vehiclebuilder.css");
@import url("windowSticker.css");


.buildSheetDetails 
{
	clear: left;
	float: left;
	width: 350px;
	text-align: left;
}

.featureGroupBox 
{
	width: 48%;
}
.OptionsBox 
{
	width: 420px;
	float: left;
}

.buildSheetHead
{
	text-align: left;
}
.buildSheetHead h1 
{
	font-size: 16px;
	margin-bottom: 5px;
	border-bottom: solid 1px #000;
}
.buildSheetHead span 
{
	font-size: 14px;
	text-transform: uppercase;
}
.buildSheetHead img 
{
	float: right;
	height: 40px;
	width: 53px;
}

.BulkBuildSheet 
{
	border-bottom: solid 2px #000;
	margin-top: 20px;
}