﻿/* styles for approval workflow pages */

@import url("normalizer.css");
@import url("navMenu.css");
#subNav 
{
	position: absolute;
	top: 0;
	right: 0;
}
.GridViewHeader 
{
	margin-top: 30px;
}
.error 
{
	color: #cc0000;
}
.warning 
{
	color: #ee9900;
}
a.CancelAll 
{
	display: block;
	padding: 4px;
	border: outset 1px #555;
	text-align: center;
	font-size: 11px;
	color: #222244;
	background: #f5f5f5 url('images/gradient_light.jpg') repeat-x;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
a.CancelAll:active 
{
	color: #777;
}
a.CancelAll:hover 
{
	color: #000;
}
#Approval 
{
	background: #eee;
}
td.approval 
{
	width: 200px;
}
div#ApprovalTabs 
{
	font-size: 0.8em;
}
.PhotoCell 
{
	width: 90px;
}
.ApprovalBody 
{
	text-align: left;
	position: relative;
	width: 980px;
	margin: 0px auto auto;
	background: #FFF;
	
}
.ApprovalBody h1 
{
	font-size: 18px;
	padding: 5px;
}
#ScheduledGV th 
{
	padding-left: 5px;
}
.EdtConfigBox 
{
	float: right;
	width: auto;
	border: solid 1px #888;
	font-size: 12px;
	padding: 0px 10px;
	background: #ededed url(images/topshadow.gif) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
}
.inventoryListImage
{
	width: 100px;
}
.EdtConfigBox h3 {
	font-size: 1.2em;
	text-align: left;
	
}
.EdtConfigBox input 
{
	margin-left: 10px;
}

.calDateSelect 
{
	background:#F8F8F8 none repeat scroll 0 0;
	border:1px solid #888888;
	right:25px;
	padding:15px;
	position:absolute;
	text-align:center;
	top:115px;
	width:220px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.calDateSelect td
{
	padding: 1px;
}
.ReleaseCal 
{
	
	margin: 3px auto;
}
.pendingList 
{
	clear: both;
	width: auto;
	margin: 25px auto;
	border-color: #aaa;
}
.pendingList td 
{
	padding: 4px;
}
td.approval td 
{
	padding: 1px;
}
.pendingMerchDesc 
{
	width: 425px;
	min-height: 110px;
	margin: 5px;
	font-size: 11px;
}
th.HeaderAlertCell 
{
	color: #555;
	font-weight: bold;
	background: #ffffaa;
}

.VehicleLink, .VehicleLink:link, .VehicleLink:visited 
{
	color: #3561ac;
	text-decoration: underline;
	font-weight: bold;
}
.VehicleLink:hover 
{
	color: #888;
}

.ApproveButton 
{
	display: block;
}

.ApprovalCell 
{
	background: #eee;
	color: #333;
	padding: 10px 6px;
}

/*Modal Popup*/

.modalBackground {

	background-color:Gray;

	filter:alpha(opacity=70);

	opacity:0.7;

}
.modalPopup {

	background-color:#ffffdd;

	border-width:3px;

	border-style:solid;

	border-color:Gray;

	padding:3px;

	width:250px;

}

.NoPendingNote 
{
	font: 18px/20px;
	color: #888;
	margin: 20px;
}

.NoPendingNote a, .NoPendingNote a:link, .NoPendingNote a:hover, .NoPendingNote a:visited 
{
	font: bold 18px/20px;
	color: #3561ac;
} 

#PendingVehicleDetail td
{
	padding: 0px 1px;
	
}

#PendingVehicleDetail span 
{
	font-weight: bold;
}

.PendingListStkNum 
{
	color: #3561AC;
	text-decoration: underline;
}

/**************
ADMIN SETTINGS
**************/
.AdPreferencesForm 
{
	display: block;
	width: 580px;
}

.AdminFormHeader 
{
	font-weight: bold;
}




#workingPane 
{
	border:1px solid #CCCCCC;
	margin:0;
	min-height:500px;
	text-align:left;
	position: relative;
	
}

a.PendingListStkNum, a.PendingListStkNum:active, a.PendingListStkNum:link, a.PendingListStkNum:visited, a.PendingListStkNum:hover
{
	font-size: 12px;
	font-weight: bold;
	color: #3561AC;
	text-decoration: underline;
	line-height: 14px;
}
a.PendingListStkNum:hover 
{
	color: #888;
}
