﻿/**/
@import url("navMenu.css");

body 
{
	color: #444;
	font-size: 14px;
	min-width: 800px;
	max-width: 980px;
}
div#info img
{
	width: 160px;
	
}
div#info table 
{
	float:left;
	margin-left:15px
}
div#compare 
{
	padding: 10px 25px 0;
}
div#compare a 
{
	color: #222255;
	font-size: 0.7em;
	margin-left: 15px;
}
div#compare a:hover 
{
	color: #444499;
}
a.preview 
{
	float:right;
}

div.description 
{
	clear:left;
	width: 870px;
	min-height: 8em;
	padding: 10px 10px 0;
	border: solid 1px #3e436d;
	font-family: Times New Roman;
	color: #222;
	font-size: 1.4em;
	margin-top: 15px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
span.highlighter 
{
	background: #F0FF00;
}
div.hero 
{
	border-width: 4px;
}
.description p 
{
	position: relative;
	bottom: 15px;
	padding: 0;
	margin: 0;
}
h3 
{
	margin: 0;
	padding: 0 5px;
	font-size: 1em;
	font-weight: bold;
	position:relative;
	bottom: 25px;
	width: 50%;
	color: #444;
	background: #fff;
}

div#disclaimer {
	border-top: 1px solid #19326b;
	clear: left;
	background: #4e6495 url(images/gradient_blue.jpg) top left repeat-x;
	padding: 7px 13px;
	margin: 15px 0 0;
}
#disclaimer p {
	margin: 0;
	color: #FFF;
}



/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
