﻿/**/
@page {
    margin: 0.5in 0.7in;
    
}
div#compare {
    page: main-pages;  
    width: 6.8in;  
}
div.BuildSheetsSection {
    counter-reset: page 1;
    
}
body {
    page: toc-pages;
    counter-reset: page 1;
}
@page toc-pages {
    @bottom {
        content: counter(page, lower-roman);
    }
}
@page main-pages {
    @bottom {
        /*content: counter(page)*/
    }
}

body 
{
	color: #444;
	font-size: 14px;
	min-width: 800px;
	max-width: 980px;
}
div#info img
{
	width: 1.7in;	
}
div#info table 
{
	float: left;
	margin-left: 0.1in;
	width: 5in;
	font-size: 0.8em;
}
div#compare 
{
	padding: 0;
	page-break-after: always;
}
div#compare a 
{
	color: #222255;
	font-size: 0.7em;
	margin-left: 15px;
}

a.preview 
{
	float:right;
}
div.descriptions 
{
	height: 7.5in;
	margin-top: 0.1in;
}
div.description 
{
	clear:left;
	
	min-height: 8em;
	padding: 10px 10px 0;
	border: solid 1px #3e436d;
	font-family: Times New Roman;
	color: #222;
	font-size: 1.2em;
	margin-top: 0.25in;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
span.highlighter 
{
	background: #F0FF00;
}
div.hero 
{
	border-width: 4px;
	font-size:1.1em;
}
.description p 
{
	position: relative;
	bottom: 15px;
	padding: 0;
	margin: 0;
}
h3 
{
	margin: 0;
	padding: 0 5px;
	font-size: 1em;
	font-weight: bold;
	position:relative;
	bottom: 25px;
	width: 50%;
	color: #444;
	background: #fff;
}

div#disclaimer {
	border-top: 1px solid #19326b;
	clear: left;
	background: #4e6495 url(images/gradient_blue.jpg) top left repeat-x;
	padding: 7px 13px;
	margin: 15px 0 0;
}
#disclaimer p {
	margin: 0;
	color: #FFF;
}



/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
