﻿
@import url("navMenu.css");
@import url("normalizer.css");

body 
{
	color: #505050;
}
.templateWorkspace 
{
	width: auto;
	margin-left: 250px;
	
}
.availableTemplates 
{
	float: left;
	width: 240px;
	border: 1px solid;
	
}
.templateContent 
{
	padding: 10px;
}

.templateList 
{
	width: 100%;
	margin: 0px;
}
.addNewLink 
{
	float: right;
}
.templateTextPreview
{
	float: left;
	width: 60%;
	margin: 5px;
}
.availableTemplateItems 
{
	
}
.availableTemplateItems select 
{
	margin-top: 5px;
	margin-right: 5px;
	width: 35%;
	float: right;
	clear: right;
}
.templateRuleSection 
{
	
	border: 1px solid;
	width:auto;
	background: #ededed;
}

.templateRuleSectionHeader 
{
	
	background: #ededed url('images/topshadow-tall.gif') repeat-x;
	
	font-weight: bold;
	width: 100%;
	
	
}
.templateRuleSectionBody {
	padding: 5px;
	text-align: left;
}
.templateRuleSectionBody option {
	font-size: smaller;
}



.availableTemplates a, .availableTemplates a:visited, .availableTemplates a:link 
{
	text-decoration: none;
	color: #303030;
	
}

.availableTemplates a:hover 
{
	color: #a99;
}

.sliderLabel
{
	float: left;
	width: 140px;
}

.listBoxDiv 
{
	float: left;
	width: auto;
	
	padding: 5px 10px;
	border-right: solid 1px #777;
	
}
.noBorder 
{
	border: solid 0px;
}
.yearPriceDiv 
{
	clear: left;
}

.highLabel 
{
	margin-left: 90px;
	font-weight: bold;
}
.lowLabel 
{
	margin-left: 140px;
	font-weight: bold;
}

.mainTemplateBox 
{
	padding: 10px;
	text-align: center;
	position: relative;
	z-index: 1;
}
#SnippetTabs 
{
	width: 720px;
	float: left;
	margin: 10px 0 0 20px;
}
.AvailableBlurbTree 
{
	float: left;
	margin-top: 36px;
	text-align: left;
	width: 220px;
	height: 100%;
	border: solid 1px;
}

.BlurbBuilderTable 
{
	text-align: left;
}


.BlurbBuilderTable td
{
	text-align: left;
}

.BlurbBuilderContent 
{
	float: left;
	background: #ededed;
	margin-left: 15px;
	padding: 10px;
	width: 700px;
}
.SampleTextCreatorHeader 
{
	font-size: 1.1em;
	font-weight: bolder;
}
.SnippetEditorTable 
{
	margin-top: 10px;
}
.SnippetEditorTable td 
{
	padding: 2px 5px;
}
.GeneratedSampleTextForSampleText 
{
	font-size: 0.8em;
	color: #888;
}
.PreTextInsertBox 
{
	width: 190px;
	min-height: 80px;
	padding: 2px 4px;
}
.PostTextInsertBox 
{
	width: 240px;
	min-height: 44px;
	padding: 2px 4px;
}
.ConditionField 
{
	width: 300px;
	height: auto;
	min-height: 60px;
	vertical-align: middle;
}
.TemplateBodyField 
{
	width: 300px;
	height: auto;
	min-height: 140px;
	vertical-align: middle;
}

.TemplateMergeFields select 
{
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 5px;
	width: 180px;
	float: right;
	clear: right;
}

.templateCategory 
{
	background: #485775;
	padding: 2px;
	margin-bottom:10px;
	color: #f8f8f8;
	font: 12px/14px;
	width: 140px;
	
	
	
}
.templateCategory a, .templateCategory a:link, .templateCategory a:hover
{
	font: 12px/14px;
	color: #f8f8f8;
}

.templateBlurb 
{
	padding: 1px;
	background: transparent;
	color: #333;
	
}

.templateBlurb a, .templateBlurb a:link, .templateBlurb a:hover 
{
	color: #333;
	text-decoration: underline;
}
.templateBlurbRoot 
{
	width: 100%;
	background: #ededed;
	color: #333;
	font: 14px/16px;
}
.templateBlurbRoot a, .templateBlurbRoot a:link, .templateBlurbRoot a:hover
{
	color: #333;
	font: 14px/16px;
}
.availTemplateTD 
{
	width: 100px;
	text-align: left;
	
}
.InlineEditor 
{
	padding-top: 10px;
	text-align:left;
	width: 600px;
}
.InlineSnippetHolder 
{
	position:relative;
	padding:5px;
	width: 400px;
}
.InlineSnippetActionButton 
{
	width: 12px;
}
.GeneratedTextFieldHeader 
{
	position:absolute;
	top: -3px;
	left: 10px;
	font: 12px/14px;
	color: #555;
	background: #fff;
	
}
.GeneratedTextField 
{
	width: 90%;
	height: 40px;
	padding: 4px;
}

.AvailBlurbTreeForBuilding 
{
	
	position:absolute;
	top: 0;
	right: 0;
	background: #ededed url(images/topshadow.gif) repeat-x;
	text-align: left;
	padding: 10px;
	margin: 10px;
	border: solid 1px #777;
	width: 200px;
	z-index: 999;
	height: auto;
	
}
.AvailTemplatesForBuilding 
{
	float:left;
	text-align:left;
	width: 200px;
	border: solid 1px #777;
	padding: 0;
	
}
.headerTemplates 
{
	padding: 8px 10px 3px 10px;
	height: auto;
	border-bottom: solid 1px #aaa;
	background-image: url(images/topshadow.gif);
	background-repeat: repeat-x;
	background-color: #ededed;
	font-size: 12px;
}
.bodyTemplates
{
	padding: 5px;
	font-size: 12px;
}

.RulesListForBuilding 
{
	float:left;
}

.inlineTextSection 
{
	width: auto;
	
}

.templateContent 
{
	text-align: left;
}

.TemplateSaveButton 
{
	float:right;
}

.SelectedTemplate 
{
	background: #555588;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.SelectedTemplate a, .SelectedTemplate a:link, .SelectedTemplate a:hover, .SelectedTemplate a:visited 
{
	color: #f8f8f8;
	font-weight: bold;
	font-size: 12px;

}

.BlurbButton 
{
	font: 12px/14px;	
	height: 25px;
	text-align:left;
	width:170px;
	border:1px outset #888888;
	margin: 2px;
	
}

.BlurbButtonOutDescription
{
	background: #fff url(images/add_btn.gif) no-repeat right center;
}
.BlurbButtonInDescription 
{
	background: #fff url(images/minus_btn.gif) no-repeat right center;
}
.BlurbButtonDisabled 
{
		
}

.templateTabCont 
{
	
	float:left;
}

.RemoveBlurbButton 
{
	font: bold 12px/14px;
	color: #882222;
}


.arrowImg 
{
	float:right;
}

.listBoxDiv select 
{
	font-size: 80%;
}


