﻿/**/
@import url("navMenu.css");

body 
{
	color: #555;
	
}
.main 
{
	width: 990px;
	margin: 0 auto;
}
.cpoContent 
{
	margin-top: 2px;
	border:solid 1px #ddd;
}
/*Profile tab*/

h3 
{
	margin: 8px;
	font-size: 0.9em;
}

ul 
{
	list-style: none;
	padding-left: 0px;
	margin-left: 0;
}

ul input 
{
	margin-right:8px;

}
li 
{
	padding: 5px;
}

.CertifiedConfiguration 
{
	padding: 20px;
}
.Specials 
{
	width: 700px;
	margin-left: 20px;
	margin-top: 30px;
}
.Specials td 
{
	padding: 5px;
	vertical-align: middle;
}
.DetailHeader 
{
	font-weight: bold;
}

/*** TOOLS ***/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

