﻿/**/
@import url("normalizer.css");
@import url("navMenu.css");

.NeedActionList 
{
	text-align:left;
	border-left: 1px solid #CAD7F8;
	border-top: 1px solid #CAD7F8;
	color: #CC3333;
	font-size: 85%;
	width: 250px;
	
	background-image: url('images/postit_corner.png');
	background-attachment: scroll;
	background-position: right bottom;
	padding: 10px 30px 10px 25px;
	list-style: none;
	float:left;	
	margin: 10px;
	
}

.NeedActionList a 
{
	float:right;
}
span.count 
{
	display:block;
	float:left;
	width: 40px;
	text-align: right;
	margin-right: 5px;
}
.inventoryBody
{
	position: relative;
	text-align: left;
	width: 990px;
	margin: 0px auto auto;
	background-color: #fff;
	
}
.AgeBlock 
{
	
background-color:#485775;
position:absolute;
top:1px;
left:1px;
text-align: left;
display:block;
font-size:12px;
font-weight: bold;
font-style: italic;
color: #f8f8f8;
padding: 2px 14px 6px 8px;
-moz-border-radius:0 0 10px 0;
-webkit-border-radius:0 0 10px 0;
border-radius:0 0 10px 0;
}
.mainInventoryBox 
{
	text-align: center;
	border: solid 1px #ccc;
	width: 100%;
}

/*inventory grid view of thumbnails */
.InventoryItems
{
	
	clear: left;
	margin: 10px auto;
	width: 90%;
	border: solid 1px #ccc;
}
.InventoryGridBox 
{
	position: relative;
	z-index: 999;
	text-align: center;
	padding: 0px auto;
	
	width: 740px;
	clear:both;
	
	
	text-align: left;
}

.InventoryListBox 
{
	position: relative;
	padding: 0px auto;
	width: auto;
	clear:both;
	width: 99%;
	text-align: left;
}
.GridItem 
{
	float: left;
	margin: 10px 18px 0px;
	position: relative;
	width: 210px;
	height: 180px;
	font: 12px/13px;
	text-align: left;
	overflow:hidden;
	cursor: pointer;
}
.GridItem img 
{
	width: auto;
	
}
.GridItem {
	
}
.GridViewHeader 
{
	position: relative;
	z-index: 1000;
	background: #fff url(images/gradient_light.jpg) 0 1px repeat-x;
	padding: 4px 5px 2px;
}
.GridViewHeader select
{
	font: 12px/14px;
	height:20px;
	margin-left:20px;
	float:left;
	padding:1px 2px;
	vertical-align: top;
	position: relative;
	z-index: 10000;
	
}
.stockSearch {
	float:right;
	display:inline; 
	padding-right: 15px;
	vertical-align: top;
}
.stockSearch input
{
	
}

.GridItem a, .GridItem a:link, .GridItem a:hover, .GridItem a:visited 
{
	font-size: 12px;
	font-weight: 600;
}
.GridItemContents 
{
	width: 205px;
	height: 140px;
	background:#e0e0e0;
	margin-top: 2px;
}

.GridItemPicBox 
{
	border-right:3px solid #FFFFFF;
	float:left;
	height:100%;
	width:175px;
	position: relative;
}

.GridItemPicBox img 
{
	
	width: 100%;
	height: 100%;
}
.GridItemIcons 
{
	float:left;
	width: 25px;
	vertical-align: top;
	text-align: center;
	padding-top: 3px;
	
	height: 100%;
}
.PctComplete 
{
	display:block;
	height:20px;
	font-size: 9px;
	color: #777;
	margin:2px auto;
	
}


img.GridItemIcon 
{
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
}
.InventoryGridHeader 
{
	display:block;
	text-transform: uppercase;
	
	height: 12px;
	width: 400px;
}
.InventoryGridMileage 
{
	font-size: 0.9em;
}
.InventoryGridStkNum 
{
	
	float:right;
	font-size: 0.8em;
	color: #3561AC;
	text-decoration: underline;
}

.GridPager 
{
	clear: left;
	font: bold 11px/12px;
	color: #3561AC;
	
}
.GridPager a, .GridPager a:link, .GridPager a:hover, .GridPager a:visited
{
	float:right;
	margin-left: 20px;
	margin-right: 20px;
}

.SummaryStatsBox 
{
	position: relative;
	width: 705px;
	padding: 3px 10px;
	background: #ededed;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #ddd;
	font: 9px/10px;
	z-index: 20;
}

.SummaryStatValue 
{
	font: bold 9px/10px;
	color: #777;
}

.gridButton 
{
	float: right;
	margin-right: 10px;
}
.tableButton 
{
	float: right;
	
	
}
.inventoryFilterBox
{
	text-align: left;
	position: absolute;
	top: 15px;
	right:0px;
	z-index: 99 !important;
	height: 140px; 
	width: 160px;
	padding: 8px 10px;
	margin: 0px;
	background: #ededed; 
	border-style: solid;
	border-color: #BBB;
	border-width: 0px 1px 1px 1px;
	
}
.inventoryFilterBox h1
{
font-size: 1.9em;
line-height: 1.9em;
color: #3366DD;
}
.inventoryFilterBox select, .inventoryFilterBox input 
{
	margin-top: 4px;
}
a.filterActionLink
{
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	float:right;
}
.inventoryFilterBox select 
{
	font-size: 10px;
	
}

.StockSearchBox, .InventoryAlertsBox
{
	text-align: left;
	width: 180px;
	padding: 10px;
	font: bold 16px/16px;
	background-color: #ededed;
	margin-right: auto;
	margin-left: 10px;
	margin-bottom: 10px;
}

.InventoryAlertsBox 
{
	height: auto;
}

.AlertsText 
{
	font: italic 14px/14px;
	
}
.invisible 
{
	display: none;
}

/* Metrics Styles */
.metricsPanel {
	position: relative;
	padding: 30px 0px 12px;
	
	width: 100%
}
.newUsedDDL 
{
	position:absolute;
	top: 15px;
	left: 180px;
	font-size: 11px;
}
.stats 
{
	position: absolute;
	top: 35px;
	right: 200px;
	font: 9px/10px;
}

.metricsHeaderRow {
	font: bold 12px/14px;
	color: #555;
}
.sectionTitle 
{
	font: bold 14px/16px;
}
.metricsTable 
{
	background: #ededed;
	border: solid 1px #777;
	
}
.metricsTable th 
{
	padding: 3px;
}
.metricsTable td
{
	text-align: center;
	border: solid 1px #777;
	margin: 0px;
	padding: 4px;
}


/*  Inventory List Styles */
.ListViewHeader th
{
	padding: 1px 2px;
	font-size: 80%;
	text-transform: uppercase;
	color: #eee;
}

.ListViewHeader a, .ListViewHeader a:link, .ListViewHeader a:hover, .ListViewHeader a:visited
{
	padding: 1px 2px;
	font-size: 85%;
	text-transform: uppercase;
	color: #eee;
	text-decoration: underline;
}

.tableNumber 
{
	text-align: right;
}
.CBCol 
{
	text-align: center;
}
.VehicleSubInfo 
{
	font-size: 85%;
	color: #777;
}
.VehicleSubInfo li 
{
	float:left;
	width: 70px;
}
.AgeCol 
{
	text-align: right;
}
.VehicleColumn 
{
	width: 250px;
	text-align: left;
}

.VehicleColumn a, .VehicleColumn a:link
{
	color: Maroon;
}
.VinColumn 
{
	font-size: 10px;
}
.ListIconsColumn 
{
	
	text-align: right;
}
.InventorySummaryList 
{
	width: 99%;
	margin: 10px 5px;
}
.InventorySummaryList td 
{
	padding: 2px 4px;
}

.NowShowingLabel 
{
	float: left;
	font: bold 16px/18px;
	color: #485775;
	
}
.NowShowingCount 
{
	float: left;
	margin-left: 10px;
	font: 16px/18px;
}

.gridPager {
    float: right;
    margin-top: 5px;
}
.gridPager a, .gridPager a:visited, .gridPager span {
	background-color:#E0E0E0;
	border:1px solid #D0D0D0;
	color:#777777;

	margin-left:5px;
	padding:1px 5px;
	text-decoration:none;
	display:inline-block;
}
.gridPager span 
{
    background-color: #d0d0d0;
    border: solid 1px #808080;
    color: #555;
    font-size: 68%;
}
.gridPager a:hover,
.gridPager a:visited:hover 
{
    background-color: #f0f0f0;
}
.gridViewRowCount 
{
	clear:left;
	float:left;
	width: 240px;
	font-size: 68%;
	margin-top:5px;
}

#stockSearchLbl 
{
	font-size: 85%;
}

.LighterGridItem 
{
	color: #888;
}

.AllArrow 
{
	display: none;
}
.NotOnlineArrow 
{
	position: absolute;
	left: 316px;
	top: 220px;
	width: 320px;
	height: 32px;
}

.PendingArrow 
{
	position: absolute;
	left: 160px;
	top: 220px;
	width: 320px;
	height: 32px;
}
.OnlineArrow
{
	position: absolute;
	left: 473px;
	top: 220px;
	width: 320px;
	height: 32px;
}

#ReportsPane 
{
	clear: left;
	text-align: right;
	padding: 0px 5px;
}

#ReportsPane input 
{
	font-size: 12px;
	color: #222;
	padding: 1px;
}

#CustomPager 
{
	padding: 5px;
}

/*add new vehicle*/

#StagingVehicle h3 
{
	text-align: left;
	margin-top: 15px;
	font-size: 1.1em;
}
#StagingVehicle h4
{
	text-align: left;
	padding: 10px;
}
#StagingVehicle li 
{
	margin-bottom: 5px;
}
#StagingVehicle .formLabel 
{
	display: inline-block;
	width: 100px;
}