﻿
@import url("navMenu.css");
@import url("normalizer.css");

body 
{
	color:#505050;
	margin:0 auto;
}
.templateWorkspace 
{
	width:auto;
	margin-left:250px;
	
}
.availableTemplates 
{
	float:left;
	width:240px;
	border:1px solid;
	
}
.templateContent 
{
	padding:10px;
}

.templateContent ul { list-style:none; }

.templateList 
{
	width:100%;
	margin:0px;
}
.addNewLink 
{
	float:right;
}
.templateTextPreview
{
	float:left;
	width:60%;
	margin:5px;
}
.availableTemplateItems 
{
	
}
.availableTemplateItems select 
{
	margin-top:5px;
	margin-right:5px;
	width:35%;
	float:right;
	clear:right;
}
.templateRuleSection 
{
	
	border:1px solid;
	width:auto;
	background:#ededed;
}

.templateRuleSectionBody {
	padding:5px;
	text-align:left;
}
.templateRuleSectionBody option {
	font-size:smaller;
}



.availableTemplates a, .availableTemplates a:visited, .availableTemplates a:link 
{
	text-decoration:none;
	color:#303030;
}

.availableTemplates a:hover 
{
	color:#a99;
}

.sliderLabel
{
	float:left;
	width:140px;
}

.listBoxDiv 
{
	float:left;
	width:auto;
	
	padding:5px 10px;
	border-right:solid 1px #777;
	
}
.noBorder 
{
	border:solid 0px;
}
.yearPriceDiv 
{
	clear:left;
}

.highLabel 
{
	margin-left:90px;
	font-weight:bold;
}
.lowLabel 
{
	margin-left:140px;
	font-weight:bold;
}

.mainTemplateBox 
{
	padding:10px;
	text-align:center;
	position:relative;
	z-index:1;
	border:solid 1px #ccc;
}

.AvailableBlurbTree 
{
	float:left;
	clear:left;
	text-align:left;
	width:220px;
	height:100%;
	border:solid 1px;
}

.BlurbBuilderTable 
{
	text-align:left;
}


.BlurbBuilderTable td
{
	text-align:left;
}

.BlurbBuilderContent 
{
	float:left;
	background:#ededed;
	margin-left:15px;
	padding:10px;
	width:700px;
}
.SampleTextCreatorHeader 
{
	font-size:1.1em;
	font-weight:bolder;
}


.TemplateMergeFields select 
{
	margin-left:10px;
	margin-top:5px;
	margin-right:5px;
	width:180px;
	float:right;
	clear:right;
}

.toolkitExt { float:left; width:250px; margin-right:20px; }
.toolkit { border:solid 1px #ccc; background:#f4f4f4; }
.butList { margin-top:1.2em; }

.templateCategory 
{
	padding:2px;
	margin-bottom:10px;
	font:italic 12px/14px;
	
}
.templateCategory a, .templateCategory a:link, .templateCategory a:hover
{
	font:12px/14px;
	color:#485775;
}
.SelectedBlurb, .SelectedBlurb a, .SelectedBlurb a:link, .SelectedBlurb a:hover
{
	color:#222255;
	font-weight:bold;
	
}
.templateBlurb 
{
	padding:1px;
	background:transparent;
	color:#333;
	font-style:normal;
	
}

.templateBlurb a, .templateBlurb a:link, .templateBlurb a:hover 
{
	color:#333;
	text-decoration:underline;
}
.templateBlurbRoot 
{
	width:100%;
	background:#ededed;
	color:#333;
	font:14px/16px;
}
.templateBlurbRoot a, .templateBlurbRoot a:link, .templateBlurbRoot a:hover
{
	color:#333;
	font:14px/16px;
}
.availTemplateTD 
{
	width:100px;
	text-align:left;
	
}
.InlineEditor 
{
	padding-top:10px;
	text-align:left;
	width:600px;
}
.InlineSnippetHolder 
{
	position:relative;
	padding:5px;
	width:400px;
}
.InlineSnippetActionButton 
{
	width:12px;
}
.GeneratedTextFieldHeader 
{
	position:absolute;
	top:-3px;
	left:10px;
	font:12px/14px;
	color:#555;
	background:#fff;
	
}
.GeneratedTextField 
{
	width:90%;
	height:40px;
	padding:4px;
}

.AvailBlurbTreeForBuilding 
{
	
	position:absolute;
	top:0;
	right:0;
	background:#ededed url(images/topshadow.gif) repeat-x;
	text-align:left;
	padding:10px;
	margin:10px;
	border:solid 1px #777;
	width:200px;
	z-index:999;
	height:auto;
	
}
.AvailTemplatesForBuilding 
{
	
	text-align:left;
	border-bottom:solid 1px #777;
	padding:0;
	margin:10px 15px;
	
}
.headerTemplates 
{
	padding:8px 10px 3px 10px;
	height:auto;
	border-bottom:solid 1px #aaa;
	background-image:url(images/topshadow.gif);
	background-repeat:repeat-x;
	background-color:#ededed;
	font-size:12px;
}
.bodyTemplates
{
	padding:5px;
	font-size:12px;
	
}
.newTemplate
{
	text-align:center;	
	padding:8px;
	margin-top:12px;		
}
.newTemplate input 
{
	width:85%;
	margin-top:3px;
}


.RulesListForBuilding 
{
	float:left;
}

.inlineTextSection 
{
	width:auto;
	
}

.templateContent 
{
	text-align:left;
}

.TemplateSaveButton, .righty
{
	float:right;
}

.SelectedTemplate 
{
	background:#555588;
	padding:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.SelectedTemplate a, .SelectedTemplate a:link, .SelectedTemplate a:hover, .SelectedTemplate a:visited 
{
	color:#f8f8f8;
	font-weight:bold;
	font-size:12px;

}

.BlurbButton 
{
	font:12px/14px;	
	height:25px;
	text-align:left;
	width:170px;
	border:1px outset #888888;
	margin:2px;
	
}

.BlurbButtonOutDescription
{
	background:#fff url(images/add_btn.gif) no-repeat right center;
}
.BlurbButtonInDescription 
{
	background:#fff url(images/minus_btn.gif) no-repeat right center;
}
.BlurbButtonDisabled 
{
		
}

.templateTabCont 
{
	
	float:left;
}

.RemoveBlurbButton 
{
	font:bold 12px/14px;
	color:#882222;
}


.arrowImg 
{
	float:right;
}

.listBoxDiv select 
{
	font-size:80%;
}

/** tabs **/
.ui-tabs
{
	display:block;list-style:none;width:100%;margin:0;
	position:relative;
	z-index:1;
	
}

.inline{display:inline;}

.ui-tabs .ui-tab input
{margin:0;padding:0;overflow:visible;cursor:pointer;}

.ui-tabs .ui-tab input:active{margin:0;padding:0;overflow:visible;cursor:pointer;color:red;}

.ui-tabs .ui-tab{
	display:block;
	float:left;
	margin-right:6px;
	width:auto;
	height:22px;
	background:url('images/vpa_tabs_top.gif') repeat-x;
	border-style:solid;
	border-color:#aaa;
	border-width:0px 1px 0px 1px;
	padding:2px;
}

.ui-tabs .ui-tab input{width:100%;border:none;background-color:transparent;line-height:25px;text-align:left;color:#999;font-size:12px;padding-bottom:1px;}

.ui-tabs .ui-tab-active{
	background:#485775;
}
.ui-tabs .ui-tab-active input 
{
		color:#eee;
		font-weight:bold;
}

.ui-tab-content
{
	clear:left;
	position:relative;padding:0;margin:0;width:auto;
	border:solid 1px;border-color:#888;padding:10px 10px 0px;background:#f8f9f8;
}

/*reorder content*/
/*for reorderlist*/
.templateForm 
{
	background:#eff3fb;
	border:solid 1px #ccc;
	float:left;
	margin:1.2em 1em 0 0;
	padding:10px;
	width:540px;
	
}
.butList li { margin-bottom:0.25em; }
.butList li input { margin-bottom:0.15em; width:100px; }
.templateHead { padding:6px; border-bottom:solid 1px #ccc; }
.templateHead span { width:130px; display:block; float:left; }
.templateHead li { margin-right:10px; }
.templateHead li input.text { width:280px; }


div.reorderableCategories td 
{
	padding:0px;
}

.reorderableCategories 
{	
	text-align:left;
	width:500px;
	margin:20px;
	float:left;
}

.reorderableCategories table {  }

.reorderableCategories li {
	background:#698acd;
	color:#FFF;
	list-style:none;
	margin:2px;
}

.reorderableCategories li a {color:#FFF !important; font-weight:bold;}


.dragHandle {
	width:13px;
	height:20px;
	background:#3e436d;
	cursor:move;
}

.callbackStyle {
	border:thin blue inset;		
}

.callbackStyle table {
	background-color:#5377A9;	
	color:Black;
}

.itemArea {
	margin-left:10px;
	height:20px;
	font-size:1em;
	text-align:left;
	padding-top:3px;
}
.itemArea input 
{
	float:right;
	margin:2px 10px 2px 0px;
}
.itemArea b 
{
	margin-top:3px;
}
.reorderCue {
	border:dashed thin black;
	width:100%;
	height:25px;
}

.accordionHeader 
{

	font-weight:bold;
	cursor:pointer;
	border-bottom:1px solid #CCC;
	padding:8px 15px;
	clear:left;
	background:#fff url(images/gradient_lighter.jpg) 0 1px repeat-x;
	
}

.accordionContent 
{
	text-align:left;
}
.accordionContent input 
{
	display:block;
	padding:0.25em 0.25em 0.25em 0.5em;
	border-width:0px;
	background:transparent;
	text-decoration:underline;
	font-size:12px;
	text-align:left;
	cursor:pointer;
	margin:0;
}



#copyForm 
{
	position:absolute;
	
}
.modal 
{
	background:url('images/modalShade.png') repeat;
}
.modalBod 
{
	padding:30px 20px;
	background:#fff;
}

.DynamicEditor 
{
	width:800px;
	background:#f8f8f8;
	padding:20px;
	color:#333;
}
.SnipCreator 
{
	width:600px;
	background:#f8f8f8;
	padding:20px;
	color:#333;
}
.SnipCreator p 
{
	width:80%;
	margin:10px auto 20px 0;
}
li div.DynamicEditor a, li div.DynamicEditor a:link, li div.DynamicEditor a:visited
{
	color:#333 !important;
}
div.DynamicEditor td 
{
	padding:4px;
}
.BlurbBuilderTable a 
{
	margin-right:5px;
}
.BlurbBuilderTable textarea 
{
	width:350px;
	height:100px;
}
.sampleDescription 
{
	padding:10px;	
	clear:both;
	text-align:left;
}