﻿/**/
@import url("normalizer.css");
@import url("navMenu.css");

body 
{
	
}

.featureLabels 
{
	display: inline;
	list-style: none;
}
.featureLabels li 
{
	display: block;
	float:left;
	width: 100px;
	text-align: center;
}


h3.certifiedHeader 
{
	margin-top:5px;
	margin-bottom:3px;
	font-size: 14px;
	
}
h4.certifiedHeader 
{
	margin-top:5px;
	margin-bottom:3px;
	font-size: 0.9em;
	font-style: italic;
	text-decoration: underline;
}

.DealerCustomText 
{
	position: relative;
	bottom:12px;
	left:25px;
}
.YourCertList 
{
	list-style-type: disc;
	margin-left: 20px;	
	color: #555;
}
.YourCertList a 
{
	color: #555;
	
}
.YourCertList a:hover 
{
	color: #999;
}
.AvailableCertifieds 
{
	float:left;
	width: 220px;
}
.CertifiedConfiguration 
{
	background:#FFFFFF url(images/gradient_light.jpg) repeat-x scroll center top;
	border:1px solid #AAAAAA;
	float:left;
	margin-bottom:20px;
	margin-top:20px;
	padding:10px;
	width:630px;
	font-size: 85%;
}

.WizardStep 
{
	padding: 15px;
	
}
.WizardStep td 
{
	padding: 10px;
}
.WizardNav 
{
	padding: 15px;
}
.ConditionsSettings 
{
	width: 300px;
	font-size: 11px;
	float: left;
	padding-top: 15px;
	
}
.ConditionsSettings table 
{
	margin-top: 10px;
}
.last 
{
	clear:left;
	margin-top: 30px;
	border-top: solid 1px #ccc;
}
.QuestionsBox input[type=text], .QuestionsBox input[type=password]
{
	width: 200px;
}
.padHead th
{
	padding: 4px;
}
.DestinationDV 
{
	float:left;
	font-size: 10px;
}
.DestinationDV td 
{
	padding: 2px;
}


h4 a, h4 a:link, h4 a:visited 
{
	text-decoration: underline;
	font-size: 12px;
	color: #222288;
	display: block;
	padding: 5px 10px; 
}
h2 
{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 2px;
	margin-bottom: 18px;
	border-bottom: solid 1px #bbb;
	
}
p 
{
	padding: 5px;
}
.setupBody 
{
	width: 980px;
	margin: 0 auto;
}
.mainContent 
{
	border: solid 1px #ccc;
	padding: 15px;
	border-width: 0 1px 1px;
}
.sampleDescription 
{
	background: #eee;
	padding: 10px;
	border: solid 1px #bbb;
	margin: 5px 0;
	font-size: 12px;
	line-height: 14px;
}
.ReorderTemplate 
{
	clear:left;
	padding-top: 15px;
	padding-right: 30px;
}
.ReorderTemplate em 
{
	display: block;
	width: 220px;
	padding: 4px;
	color: #fff;
	float:left;
	font-size: 20px;	
	
}
.ReorderTemplate .quote 
{
	display: block;
	float:left;
	width: 450px;
	color: #f8f8f8;
	padding-left: 10px;
	border-left: solid 2px #f8f8f8;
	margin: 4px;
}
.ReorderTemplate li 
{
	background: #5377A9 url('images/sprLt-grad.png') repeat-x scroll left bottom;
	margin: 3px;
	min-height: 20px;
	padding-left: 10px;
	position: relative;
	z-index: 1;
}
.ReorderTemplate li span a 
{
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
}
.ReorderTemplate li.ReorderCue 
{
	border: dashed 2px #ccc;
	background: #fff;
	height: 20px;
	margin: 5px 0;
}
.ReorderItem 
{
	
}
.ReorderHandle
{
	position:absolute;
	top:0;
	right: -25px;
}
.DynamicEditor 
{
	z-index: 1000;
	background: #f8f8f8;
	border: solid 1px #ccc;
	padding: 10px;
	margin: 10px;
}

.DynamicEditor input[type=image] 
{
	float:right;
}
.DynamicEditor h2 
{
	display: none;
}
.templateTarget 
{	
	float:left;
	padding: 8px;
	background: #eee;
	border: solid 1px #ccc;
}
.createNew 
{
	float: right;
}

#copyForm 
{
	position: absolute;
	
}
.modal 
{
	background: url('images/modalShade.png') repeat;
}
.modalBod 
{
	padding: 30px 20px;
	background: #fff;
}
.spinner 
{
	position: absolute;
	z-index: 999999;
	top: 250px;
	left: 300px;
	width: 200px;
	border: solid 1px #ccc;
	background: #f8f8f8;
	padding: 80px 100px;
}

.righty 
{
	float:right;
}
.topControls 
{
	background: #eef;
	border: solid 1px #ccc;
	padding: 5px 10px 12px;
	border-width: 2px 1px 0px;
	margin-top: 20px;
}

.Grid 
{
	margin: 0 auto;
}
.Grid td, .Grid th
{
	padding: 3px 8px;
}