﻿/**/
@import url("normalizer.css");
@import url("navMenu.css");
body 
{
	width: 980px;
	margin: 0 auto;
}

a, a:link, a:visited, a:hover, a:active 
{
	text-decoration: none;
}
#mainUploaderBody 
{
	border: solid 1px #ccc;
}
#lostPhotos 
{
	background-color: #aaa;
	padding: 10px;
	
}
#LostPhotosControls 
{
	text-align: right; 
	background: #eee;
	padding:0px 5px 8px;
	border-top:2px solid #555;
}
h2 
{
	color:#333333;
	font-weight:normal;
	margin:3px;
	font-size: 20px;

}
h3 
{
	margin-top: 15px;
	margin-bottom: 10px;
}