﻿body {
}

/*VHR REPORTING*/
/* ============== */
/* = VHR Report = */
/* ============== */
.vhrReports 
{
	float:right;
	width: 400px;
}
.controls 
{
	padding: 0px;
}
.controls span 
{
	margin: 0;
}
fieldset.controls 
{
	border: 0;
}

.vhr_report {
	float: right;
	position: relative;	
	margin-top: 5px;
	z-index: 10;
	text-align: center;
}

.carfax_report {
	margin-right: 10px;
}

.vpa_merchandising_tiles .vhr_report {
	margin-top: 0;
}

.vhr_report ul {
	float: left;
}

.vhr_report ul li.autocheck-inspection-badge,
.vhr_report ul li.carfax-inspection-badge {
	display: inline-block;
	height: 23px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	float: left;
	margin-left: 2px;
}
.carfax_report ul li, .autocheck_report ul li
{
	text-indent: -1500px;
}
.carfax_report ul li.carfax-oneowner-badge {
	background-image: url(images/VPA/VehicleHistory/carfax_oneowner.gif);
	width: 23px;
	
}

.carfax_report ul li.carfax-buyback-guarentee-badge {
	background-image: url(images/VPA/VehicleHistory/carfax_buybackguarentee.gif);
	width: 27px;
}

.carfax_report ul li.carfax-cleantitle-noaccident {
	background-image: url(images/VPA/VehicleHistory/carfax_cleantitle_noaccident.gif);
	width: 60px;
	
}

.carfax_report ul li.carfax-cleantitle {
	background-image: url(images/VPA/VehicleHistory/carfax_cleantitle.gif);
	width: 60px;
	
}

.carfax_report ul li.carfax-noaccident {
	background-image: url(images/VPA/VehicleHistory/carfax_noaccident.gif);
	width: 60px;
}

.autocheck_report ul li.autocheck-assured {
	background-image: url(images/VPA/VehicleHistory/autocheck_assured.gif);
	width: 20px;
}

.autocheck_report ul li.autocheck-score {
	background-image: url(images/VPA/VehicleHistory/autocheck_score.jpg);
	width: 18px;
	color: #fff;
	height: 18px;
	padding-top: 5px;
	text-align: center;
}

.autocheck_report ul li.autocheck-cleantitle {
	background-image: url(images/VPA/VehicleHistory/autocheck_cleantitle.gif);
	width: 60px;
}

.autocheck_report ul li.autocheck-cleantitle-oneowner {
	background-image: url(images/VPA/VehicleHistory/autocheck_cleantitle_oneowner.gif);
	width: 60px;
}

.autocheck_report ul li.autocheck-oneowner {
	background-image: url(images/VPA/VehicleHistory/autocheck_oneowner.gif);
	width: 60px;
}

.vhr_report label.report_status {
	background-image: url(images/VPA/VehicleHistory/report_state.gif);	
	display: block;
	margin: 2px 2px 0 0;
	height: 13px;
	width: 13px;
	float: left;
	cursor: pointer;
}

.vhr_report .report-status-valid {
	background-position: 0 -22px;
}

.vhr_report .report-status-expired {
	background-position: 0 -43px;
}

.vhr_report .report-status-error {
	background-position: 0 -65px;
}

.autocheck_report input.autocheck_button {
	border: none;
	overflow: hidden;
	text-align: left;
	color: #F0F0F2;
	background: transparent url(images/VPA/VehicleHistory/autocheck_logo.gif) no-repeat 0 0;
	width: 94px;
	height: 25px;
	display: block;
	float: left;
	font-size: 1px;
	padding-bottom: 19px;
	padding-left: 3px;
	cursor: pointer;
	text-indent: -1500px;
}

.carfax_report input.carfax_button {
	border: none;
	overflow: hidden;
	text-align: left;
	background: transparent url(images/VPA/VehicleHistory/carfax_logo.gif) no-repeat 0 0;
	width: 94px;
	height: 23px;
	display: block;
	float: left;
	font-size: 1px;
	padding-bottom: 19px;
	padding-left: 3px;
	cursor: pointer;
	text-indent: -1500px;
}

.vhr_report .autocheck_report_view,
.vhr_report .carfax_report_view {
	zoom: 1;
	padding: 0 3px 0px 4px;	
	/* ======================================================================= */
	/* = Borders are meant to be invisible, stops movement when form is open = */
	/* ======================================================================= */
	border-right: 1px solid #F3F3F5;
	border-left: 1px solid #F3F3F5;
}

.vhr_report .autocheck_form_open,
.vhr_report .carfax_form_open {
	background-color: #fff;
	border-right: 1px solid #9ba1ac;
	border-left: 1px solid #9ba1ac;
	padding-bottom: 1px;
	margin-bottom: -1px;
	z-index: 1;
}

.carfax_report .vhr_report_form {
	position: absolute;
	display: block;
	clear: left;
	text-align: left;
	right: 0;
	top: 25px;
	margin-left: -155px;
	width: 300px;
	background-color: #fff;
	border: 1px solid #9ba1ac;
	padding: 8px;
	zoom: 1;
	z-index: -1;
}

html .autocheck_report .vhr_report_form_ReadOnly {
	width: 220px;
}

.autocheck_report .vhr_report_form {
	position: absolute;
	display: block;
	clear: left;
	text-align: left;
	left: 0;
	top: 25px;
	margin-right: -85px;
	width: 185px;
	background-color: #fff;
	border: 1px solid #9ba1ac;
	padding: 8px;
	zoom: 1;
	z-index: -1;
}

.vhr_report .vhr_report_form .order_form p {
	padding-left: 25px;
	padding-right: 25px;
	color: #535256;
}

.carfax_report .vhr_report_form .order_form .carfax_hot_list {
	border-top: 1px solid #e5e5e5;
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list * {
	float: left;
}

.carfax_report .vhr_report_form .order_form .carfax_hot_list label {
	margin-top: 4px;
	font-size: 9px;
	color: #646367;
}

.vhr_report .vhr_report_form .controls {
	margin-top: 10px;
	text-align: center;
}

.vhr_report .vhr_report_form_Insert fieldset.controls {
	text-align: right;
}

.vhr_report .vhr_report_form span.button {
	display: inline-block;
	padding: 1px;
	background: transparent url(images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 1px 5px 5px;
	cursor: pointer;
}

.vhr_report .vhr_report_form span.button input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	font-size: 10px;
}

.vhr_report .vhr_report_form .vhr_report_link {
	text-align: center;
	text-transform: uppercase;
}

.vhr_report .vhr_report_form .error {
	margin: 10px 0;
	padding: 5px 0 5px 50px;
	background: #fff6d4 url(images/VPA/VehicleHistory/attention.gif) no-repeat 20px 50%;
	border-top: 1px solid #ffda52;
	border-bottom: 1px solid #ffda52;
	font-size: 10px;
}
