﻿.WindowStickerHeader 
{
	font: bold 18px/20px;
	color: #000;
	text-align: center;
}
.WindowStickerBody 
{
	width: 800px;
	text-align: center;
}
.windowStickerVehicleHead 
{
	font: bold 14px/16px;
	color: #000;
	text-align: center;
}

.BasicsRow 
{
	font-weight: bold;
	font-size: 12px;
	border-style: none;
}

.BasicsRowHeader 
{
	font-weight: normal;
	font-size: 12px;
	border-style: none;
	width: 100px;
}

.BasicsForm 
{
	border-style: none;
	width: 260px;
	text-align: left;
}

.BasicsForm td 
{
	border-style: none;
	padding: 2px 4px;
}
.MainVehicleImage 
{
	width: 450px;
}
.BuildVehicleImage 
{
	width: 320px;
}
.OptionsBox 
{
	text-align: left;
}

.OptionsBox h1 
{
	text-align: center;
	margin-top: 25px;
	border-bottom: solid 2px #000;
	font: bold 16px/18px;
}

.DescriptionBox 
{
	clear: both;
	width: auto;
	padding-top: 25px;
}

/* styles for build printout */
.buildPrintoutTrimBox 
{
	text-align: left;
}
.buildPrintoutTrimBox h1 
{
	font-size: 1.2em;
	border-bottom: solid 1px #555;
}