<table>
    <thead>
        <tr>
            <th>Make - A - Deal</th>
            <th>Risk</th>
            <th>Trade Analyzed</th>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim</th>
            <th>Color</th>
            <th>Mileage</th>
            <th>Current Appraisal</th>
            <th>Initial Appraisal</th>
            <th># Bumps</th>
            <th>Recon. Amt.</th>
        </tr>
    </thead>
    <%= appraisal_summaries %>
</table>
