    <div class="bucket-top">
        <div class="bucket-bottom clearfix">

            <div class="vehicle-summary">
                <p class="reviewbtn"><%= link_to(image_tag("/images/btn_review2.gif", :border=>0,:title=>"Review",:alt=>"Review"), url_for(:controller => 'appraisal_review', :action => 'detail', :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id, :follow_up_mode => true)) %></p>
                <p class="vehicle-id"<% unless params[:layout] == 'false' %> style="margin-top:12px;"<% end %>>
<% unless params[:layout] == 'false' %>  
                    <span style="margin-left:3px;">                    
                        <%= light_name_to_image(appraisal_review.vehicle_inventory_light.name)%>                  
                    </span>
<% end %>
                    <span style="margin-left:0;padding-left:0;">
                    <%= appraisal_review.vehicle.model_year %>
                    <%= appraisal_review.vehicle.vehicle_make.name %>
                    <%= appraisal_review.vehicle.vehicle_line.name %>
                    <%= appraisal_review.vehicle.series %>
                    </span>
                </p>
                <p class="secondary-id">
                    <span style="margin-left:19px;">Mileage: <%= format_mileage(appraisal_review.vehicle_mileage) %></span>
                    <span style="margin-left:20px;">Color: <%= appraisal_review.vehicle.color %></span>
<% if params[:layout] == 'false' %>
<span style="margin-left:20px;">Risk: <%= appraisal_review.vehicle_inventory_light.name %></span>
<% end %>
                <% unless appraisal_review.appraisal.nil? %>
                    <span class="appraisal-date">Last Appraised: <%= appraisal_review.appraisal.last_modified.strftime("%m/%d/%Y") %></span>
                <% end %>
                </p>
            </div>

<div class="additional-info">

<% if params[:layout] == 'false' %>
                <dl class="appraisal_value">
                    <dt>
                    	New Appraisal:
                    </dt>
                    <dd>
                        <input type="text" class="currency" name="appraisal" /> was: 
	                    <strong>
				            <% if appraisal_review.appraisal_value != 0 %>
		                     	<%= number_to_currency(appraisal_review.appraisal_value, :precision => 0) %>
		                    <% else %>
		                    	$&mdash;
		                    <% end %>
    	                </strong>            
                    </dd>
				</dl>                    
              	<dl class="customer_offer">
                    <% if appraisal_review.customer_offer != 0 || params[:layout] == 'false' %>
                    	<dt><% if params[:layout] == 'false' %>New <% end %>Customer Offer:&nbsp;</dt>
                    	<dd>
                    	    <% if params[:layout] == 'false' %>
                    			<input type="text" class="currency" name="appraisal" /> was: 
                    		<% end %>
                    		<strong><%= number_to_currency(appraisal_review.customer_offer, :precision => 0) %></strong></dd>
                    <% end %>
                    <% unless params[:layout] == 'false' %>
                        <% unless appraisal_review.appraisal.person.nil? %>
                        	<dt>Salesperson:&nbsp;</dt>
                        	<dd><%= appraisal_review.appraisal.person.first_name %> <%= appraisal_review.appraisal.person.last_name %></dd>
                        <% end %>
                    <% end %>
                </dl>
                <div class="market_values">
<%= render :partial =>"appraisal_books_and_values", :locals=>{:appraisal_review=>appraisal_review}%>
                
                    <% if appraisal_review.naaa_value != 0 %>
                        <span>NAAA Auction Value: <%= number_to_currency(appraisal_review.naaa_value, :precision => 0) %></span>
                    <% end %>
                </div>
                <div class="notes_area">
                	<strong class="label">Notes:</strong> 
                	<textarea class="notes"><%= appraisal_review.appraisal_review_follow_up.notes %></textarea> 
                </div>
                       
<% else %>

	<div style="float:left;width:180px;">
		<% if appraisal_review.naaa_value != 0 %>
		<span>NAAA Auction Value: <%= number_to_currency(appraisal_review.naaa_value, :precision => 0) %></span>
		<% end %>
	</div>
    <br style="clear:both;" />
	
<% end %>


</div>

<% appraisal = appraisal_review.appraisal %>
<% customer = appraisal_review.appraisal.customer %>


<% if params[:layout] == 'false' %>
    <%= render :partial => 'appraisal_and_customer', :locals => { :appraisal => appraisal_review.appraisal, :customer => appraisal_review.appraisal.customer } %>

    <%= render :partial => 'rule_matches', :locals => { :appraisal_review => appraisal_review } %> 

    <%= render :partial => 'condition', :locals => { :appraisal_review => appraisal_review } %> 
<% else %>

            <div id="appraisal_review_<%= appraisal_review.id %>_read">
                <div class="rule-matches clearfix"> 
                    <div class="books_header">
<%=render :partial=>"appraisal_books_and_values", :locals=>{:appraisal_review=>appraisal_review}%>
                        <div style="clear:both;padding-left:3px;border-top:1px solid #d1daf1;margin-top:2px;">
                            <p>Notes:  &nbsp; <%= appraisal_review.appraisal_review_follow_up.notes %></p>
                        </div>
                    </div>
                    <div class="followup-detail-info">
                        <div style="float:left; width:172px;padding:2px;"> 
                         <h2>Customer Information</h2> 
                         <% if customer.nil? %>                        
                            <div class="info">Name: ?</div>
                            <div class="info">Gender: ?</div>                            
                            <div class="info">Phone: ?</div>
                            <div class="info">Email: ?</div>
                          <%else%>
                            <div class="info">
                                Name: <%=nil_output_protect(customer.first_name,true)%> <%=nil_output_protect(customer.last_name,false)%>
                            </div>
                            <div class="info">Gender: <%=nil_output_protect(customer.gender,true)%></div>                            
                            <div class="info">Phone: <%=nil_output_protect(customer.telephone_number,true)%></div>
                            <div class="info">Email: <%=nil_output_protect(customer.email,true)%></div>
                          <%end%>
                        </div>                        
                        <div style="float:right;width:175px;padding:2px;">
                            <h2>Potential Deal</h2>
                            <div class="info">Salesperson: <% if !appraisal.person.nil? %><%= nil_output_protect(appraisal.person.first_name,false)  %> <%= nil_output_protect(appraisal.person.last_name,false)  %><%else%>?<%end%></div>
                            <div class="info">Deal Type: <%= case appraisal.deal_track_new_or_used when 0,nil then "?" when 1 then "New" else "Used" end %></div>
                            <div class="info">Stock #: <%=nil_output_protect(appraisal.deal_track_stock_number,true)%></div>
                        </div>                    
                    </div>     
                 </div>
            </div>
            <div id="appraisal_review_<%= appraisal_review.id %>_edit" style="display: none;">
                <div class="additional-info">
                    <%= form_remote_tag :url => { :action => :appraisal_review_update } %>
                    <div style="margin-top:3px;">
                        <%= hidden_field_tag 'appraisal_review[id]', appraisal_review.id %>
                        <%= hidden_field_tag 'update_element', root %>
                        <% unless customer.nil? %>
                        <%= hidden_field 'customer', 'id' , { :object => customer}%>
                        <% end %>
                        <%= hidden_field_tag 'customer[appraisal_id]', appraisal_review.appraisal_id, { :id => nil } %>
                            <fieldset>
                                <legend>Customer Information</legend>
                                <dl class="float_left">
                                    <dt>
                                     First Name: 
                                    </dt>
                                    <dd>
                                    <%= text_field "customer", "first_name", { :object => customer, :size => 12 } %>
                                    </dd>
                                    <dt>
                                        Last Name: 
                                    </dt>
                                    <dd>
                                        <%= text_field "customer", "last_name", { :object => customer, :size => 12 } %>
                                    </dd>
                                </dl>
                                <dl class="float_left">
                                    <dt >
                                        Phone #: 
                                    </dt>
                                    <dd>
                                        <%= text_field "customer", "telephone_number", { :object => customer, :size => 12 } %>
                                    </dd>
                                     <dt >
                                        Email: 
                                    </dt>
                                    <dd>
                                        <%= text_field "customer", "email", { :object => customer, :size => 12 } %>
                                    </dd>
                                    
                                </dl>
                                <dl>
                                    <dt class="small">
                                        Gender: 
                                    </dt>
                                    <dd>
                                        <select name="customer[gender]" id="customer_gender"><%= options_for_select([["-", "Please Select"], ["M", "M"], ["F", "F"]],(customer.nil? ? "" : customer.gender)) %></select>
                                    </dd>                          
                                </dl>
                            </fieldset>                      
                    </div>
                    <div style="margin-top:3px;">
                        <%= hidden_field 'appraisal', 'id', { :object => appraisal } %>
                        <fieldset>
                            <legend>Salesperson</legend>
                            <dl class="float_left">
                                <dt class="large">
                                    Deal Type: 
                                </dt>
                                <dd>
                                    <select name="appraisal[deal_track_new_or_used]"><%= options_for_select([["-", ""], ["New", "1"], ["Used", "2"]],appraisal_num_to_str(appraisal.deal_track_new_or_used)) %></select>
                                </dd>
                                 <dt class="large">
                                    Retail Stock #: 
                                </dt>
                                <dd> 
                                    <%= text_field("appraisal", "deal_track_stock_number",{:object => appraisal,:size => 8})%>
                                </dd>
                            
                            </dl>
                            <dl class="float_left">
                                <dt>
                                   Salesperson: 
                                </dt>
                                <dd>
                                    <%= select "appraisal", "deal_track_sales_person_id", find_people(session[:business_unit].id, 1).collect { |p| [ sprintf("%s %s", p.first_name, p.last_name), p.id ] }, { :object=>appraisal,:include_blank => true } %>
                                </dd>
                            </dl>
                        </fieldset>  
                    </div>
                    <div class="appraisal_area" style="margin-top:3px;">
                        <fieldset>
                            <legend>Appraisal & Customer Offer</legend>
                             <%= hidden_field_tag 'appraisal_valuation[appraisal_id]', appraisal_review.appraisal_id %>
                             <%= hidden_field_tag 'appraisal_offer[appraisal_id]', appraisal_review.appraisal_id %>
                             <%= hidden_field_tag 'appraisal_offer[id]', take_id(appraisal_review.appraisal.appraisal_offer) %>
                              <div class="books_header">
                                <%=render :partial=>"appraisal_books_and_values", :locals=>{:appraisal_review=>appraisal_review}%>
                              </div>
                                <dl class="float_left">
                                   <dt style="width:120px;">
                                    Appraised Value $: 
                                   </dt>
                                   <dd style="width:50px;">
                                      <%= text_field 'appraisal_valuation', 'value', { :size => 7, :maxlength => 7 } %>
                                   </dd> 
                                   <dt style="width:120px;">
                                    Customer Offer $: 
                                   </dt>
                                   <dd style="width:50px;">
                                      <input type="text" id="appraisal_offer" name="appraisal_offer[customer_offer]" size="7" value=""/>
                                   </dd> 
                                </dl>
                                <dl class="float_left">
                                   <dt>
                                    Appraiser: 
                                   </dt>
                                   <dd>
                                     <select name="appraisal_valuation[appraiser_name]">
                                        <option value="">&nbsp;</option>
                                        <% current_appraisal = appraisal_review.appraisal.appraisal_valuations.first %>
                                        <% current_appraiser_name = (current_appraisal.nil? ? "" : current_appraisal.appraiser_name) %>
                                        <% find_people(session[:business_unit].id, 2).each do |appraiser| %>
                                        <option value="<%= appraiser.full_name %>" <% if current_appraiser_name == appraiser.full_name%>selected="true"<% end %>><%= appraiser.full_name %></option>
                                        <% end %>
                                   </select>
                                   </dd>
                                </dl>
                        </fieldset>
                    </div>
                    <div class="appraisal_area" style="margin-top:3px;">
                        <fieldset>
                            <legend>Notes:</legend>
                            <%= hidden_field_tag 'appraisal_review_follow_up[id]', appraisal_review.appraisal_review_follow_up.id %>
                            <textarea name="appraisal_review_follow_up[notes]" class="notes"><%= appraisal_review.appraisal_review_follow_up.notes %></textarea>
                        </fieldset>
                    </div>
                    <div style="position:relative;left:280px;top:36px;">
                        <input type="image" src="/images/btn_save.gif" alt="Save" title="Save" />
                    </div>
                    <%= end_form_tag %>
                </div>
            </div>
            <div class="clearfix">
                <p id="<%= root%>_read_btn" style="float:right;margin:8px 14px 9px 8px;">
                    <input type="image" alt="Edit Follow Up" src="/images/btn_edit.gif" name="followup" onClick="Element.toggle('<%= root %>_read', '<%= root %>_read_btn', '<%= root %>_edit', '<%= root %>_edit_btn');" />
                </p>
                <p id="<%= root%>_edit_btn" style="float:right;margin:8px 11px 9px 8px; display: none;">
                    <input type="image" alt="Cancel Changes" src="/images/btn_cancel.gif" name="followup" onClick="Element.toggle('<%= root %>_read', '<%= root %>_read_btn', '<%= root %>_edit', '<%= root %>_edit_btn');" />
                </p>
                <p class="bottom_deal_link" style="margin:8px 8px 10px 14px;">
                    <%= link_to_remote "Traded In", { :url => { :action => "appraisal_review_deal_complete", :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id }} %> 
                    <span style="color:#999;padding:0 2px;">|</span> 
                    <%= link_to_remote "Deal Dead", {:url => { :action => "appraisal_review_deal_lost", :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id }} %> 
                    <span style="color:#999;padding:0 2px;">|</span> 
                    <%= link_to_remote "Delete from Follow Ups", {:url => { :action => "delete_appraisal_review_from_follow_up_list", :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id, 'appraisal_review_follow_up[id]' => appraisal_review.appraisal_review_follow_up.id }} %> 
                </p>
            </div>            
<% end %>  


          
        </div>
    </div>
<% session[:future_task].notify_completed_unit_of_work() unless session[:future_task].nil? %>
