    <div class="potential-deal-info">
    	<dl class="customer">
        	<dt>Customer Information:</dt>
    <% if customer.nil? %>
    		<dd class="name"><hr /></dd>
    		<dd class="gender">Gender: <kbd>M</kbd><kbd>F</kbd></dd>
    	    <dd class="phone">Phone: <hr /></dd>
    		<dd class="email">Email: <hr /></dd>		
    <% else %>
    		<dd class="name">
        		<% if customer.first_name == '' %>
        		  <hr />
        		<% else %>
        		  <%= customer.first_name %>
        		<% end %> 
        		<% if customer.last_name != '' %>
        		  <%= customer.last_name %>
        		<% end %>
    		</dd>
    		<dd class="gender">
        		Gender: 
        		<% if customer.gender.nil? %>
        		  <kbd>M</kbd><kbd>F</kbd>
        		<% else %>
        		  <%= customer.gender %>
        		<% end %>
    		</dd>
    	    <dd class="phone">
        	     Phone: 
        	     <% if customer.telephone_number == '' %>
        	       <hr />
        	     <% else %>
        	       <%= customer.telephone_number %>
        	     <% end %>
    	    </dd>
    		<dd class="email">
        		Email: 
          		<% if customer.email == '' %>
        		  <hr />
        		<% else %>
        		  <%= customer.email %>
        		<% end %>
    		</dd>
    <% end %>
        </dl>
    	<dl class="deal">
    		<dt>Potential Deal:</dt>
    		<dd class="salesperson">
    		  Salesperson: 
    		  <% if appraisal.person.nil? %>
    		      <hr />
    		  <% else %>
    		      <%= appraisal.person.first_name %> <%= appraisal.person.last_name %>
    		  <% end %>
    		</dd>
    		<dd class="deal_type">Deal Type: 
    		  <% if appraisal.deal_track_new_or_used.nil? || appraisal.deal_track_new_or_used == 0 %>
      		      <kbd>NEW</kbd>
    		      <kbd>USED</kbd>
    		  <% elsif appraisal.deal_track_new_or_used == 1 %>
    		      New
    		  <% else %>
    		      Used
    		  <% end %>
            </dd>
    		<dd class="stock_number">Stock #: 
        		<% if appraisal.deal_track_stock_number == ''%>
        		<hr />
        		<% else %>
        	      <%= appraisal.deal_track_stock_number %>
        		<% end %>
    	   </dd>
    	</dl>
    </div>