<div id="appraisal">
    <div id="appraisal_read">
        <p style="padding:6px;">
            Deal Type: 
            <span style="margin-left:0;color:#333;"><%= case appraisal.deal_track_new_or_used when 0 then "" when 1 then "New" else "Used" end %></span>
            <span style="padding-left:55px;">Salesperson: </span>
            <span style="margin-left:0;color:#333;"><% unless appraisal.person.nil? %><%= appraisal.person.first_name %> <%= appraisal.person.last_name %><% end %></span>
            <br />
            <span style="margin-left:0;">Retail Stock #: </span>
            <span style="margin-left:0;color:#333;"><%= appraisal.deal_track_stock_number %></span>
            
        </p>
    </div>
    <div id="appraisal_edit" style="display: none;">
        <%= form_remote_tag :url => { :action => :update_appraisal }, :html => { :name => 'update_appraisal' } %>
            <%= hidden_field 'appraisal', 'id',:object=>appraisal %>
        <table>
            <thead>
            <tr>
                <th style="font-size:10px;font-weight:normal;color:#333;">Deal Type</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">Retail Stock #</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">Salesperson</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><select name="appraisal[deal_track_new_or_used]"><%= options_for_select([["-", ""], ["New", "1"], ["Used", "2"]],appraisal_num_to_str(appraisal.deal_track_new_or_used)) %></select></td>
                <td><%= text_field "appraisal", "deal_track_stock_number", {:object => appraisal,:size => 8} %></td>
                <td><%= select "appraisal", "deal_track_sales_person_id", find_people(session[:business_unit].id, 1).collect { |p| [ sprintf("%s %s", p.first_name, p.last_name), p.id ] }, { :object=>appraisal,:include_blank => true } %></td>
             </tr>
             <tr>
                <td colspan="3"><%= link_to_function "Save", "document.update_appraisal.onsubmit();" %> <tt>|</tt> <%= link_to_function "Cancel", "Element.toggle('appraisal_read', 'appraisal_edit');" %></td>
             </tr>
            </tbody>
        </table>
        <%= end_form_tag %>
    </div>
</div>
