<% primary_book_value = book_value(appraisal_review, session[:business_unit].business_unit_preference.primary_book_category_id) %>
<% secondary_book_value = book_value(appraisal_review, session[:business_unit].business_unit_preference.secondary_book_category_id) %>


<% unless params[:layout] == 'false' %> 
<div class="float"> 
    Appraised Value: <%= (appraisal_review.appraisal.appraisal_valuations.first.nil? ? "None" : money(appraisal_review.appraisal.appraisal_valuations.first.value))%>
    <% if appraisal_review.appraisal.appraisal_valuations.size > 1 && appraisal_review.appraisal.appraisal_valuations[1].value != 0 %>
        <i>(was <%= money(appraisal_review.appraisal.appraisal_valuations[1].value) %>)</i>
    <% end %>
</div>
<% end %>


<% unless primary_book_value.nil? %>
    <span style="<% unless params[:layout] == 'false' %>width:175px;<% end %>"><%= primary_book_value %></span>
<% end %>

<% unless params[:layout] == 'false' %>
<br />

    <% if !appraisal_review.appraisal.appraisal_offer.nil? %>
        <div class="float">
            Customer Offer: <%= (appraisal_review.appraisal.appraisal_offer.customer_offer.nil? ? "None" : money(appraisal_review.appraisal.appraisal_offer.customer_offer))%>
            <% if !appraisal_review.appraisal.appraisal_offer.old_customer_offer.nil? && appraisal_review.appraisal.appraisal_offer.old_customer_offer != 0 %>
            <i>(was <%= money(appraisal_review.appraisal.appraisal_offer.old_customer_offer)%>)</i>
            <% end %>
        </div>
    <% end %>

<% end %>

<% unless secondary_book_value.nil? %>
    <span style="<% unless params[:layout] == 'false' %>width:175px;<% end %>"><%= secondary_book_value %></span>
<% end %>

