<% if appraisal_valuations.nil? || appraisal_valuations.empty? %>
    <h4 style="font-weight:normal;text-transform:uppercase;">Initial Appraised Value</h4>
    <p style="font-size:10px;color:#666;">Not Recorded</p>
<% else %>
    <h4 style="font-weight:normal;text-transform:uppercase;">Appraisal History</h4>
    <% this_valuation = appraisal_valuations.first %>
        <p id="rule_value_appraised_value" style="margin-bottom:0;padding-bottom:0;<% if !appraisal_review.nil? && (appraisal_review.rule_1 == 1 || appraisal_review.rule_2 == 1 || appraisal_review.rule_6 == 1) %>background-color:#fff949<% end %>">
            Current Appraisal:
            <span style="padding-left:9px;"><strong><%= money(this_valuation.value) %></strong></span>
            <span style="padding-left:5px;color:#666;"><%= this_valuation.date_created.strftime("%m/%d/%Y") %></span>
        </p>
        <% appraisal_valuations.each_index do |i| %>
            <% if i > 0 %>
        <p style="margin-top:0;padding-top:0;margin-bottom:0;padding-bottom:0;">
            Previous Appraisal:
            <span style="padding-left:3px;"><strong><%= money(appraisal_valuations[i].value) %></strong></span>
            <span style="padding-left:5px;color:#666;"><%= appraisal_valuations[i].date_created.strftime("%m/%d/%Y") %></span>
        </p>
            <% end %>
        <% end %>
        <br style="margin:0;padding:0;line-height:4px;" />
<% end %>
