<% appraisal = appraisal_summary %>
<% is_appraisal_review = appraisal.is_appraisal_review(session[:business_unit].id) %>
<% if is_appraisal_review %>
<tbody class="clickable" onclick="window.location.href='<%= url_for(:action => 'detail', :appraisal_id => appraisal.id, :day_id => Date.today.strftime('%Y%m%d')) %>';">
<% else %>
<tbody class="clickable" onclick="window.location.href='<%= url_for(:action => 'redirect_to_external_url', :external_url => '/IMT/TradeManagerEditDisplayAction.go', :appraisalId => appraisal.id, :pageName => 'bullpen') %>';">
<% end %>
    <tr>
        <td class="mad"><%= is_appraisal_review ? image_tag("star_gold.gif") : "" %></td>
        <td class="risk"><%= light_id_to_image(appraisal.appraisal_insight.vehicle_light_id,13) %></td>
        <td><%= appraisal.date_created.strftime('%m-%d-%Y') %></td>
        <td><%= appraisal.vehicle.model_year %></td>
        <td><%= h(appraisal.vehicle.vehicle_make.name) %></td>
        <td><%= h(appraisal.vehicle.vehicle_line.name) %></td>
        <td><%= h(appraisal.vehicle.series) %></td>
        <td><%= appraisal.vehicle.color %></td>
        <td><%= appraisal.vehicle_mileage %></td>
        <% appraisal_valuations = appraisal.appraisal_valuations %>
        <% if appraisal_valuations.nil? || appraisal_valuations.empty? %>
            <td class="appr_value">Not Recorded</td>
            <td>Not Recorded</td>
        <% else %>
            <td class="appr_value"><strong><%= money(appraisal_valuations.first.value) %></strong></td>
            <td><%= money(appraisal_valuations.last.value) %></td>
        <% end %>
        <td><%= appraisal_valuations.size %></td>
        <% appraisal_actions = appraisal.appraisal_actions %>
        <% if appraisal_actions.nil? || appraisal_actions.empty? %>
            <td>Not Recorded</td>
        <% else %>
            <% amt = appraisal_actions.first.estimated_reconditioning_cost %>
            <% if amt.nil? || amt == 0 %>
                <td>-</td>
            <% else %>
                <td><%= money(appraisal_actions.first.estimated_reconditioning_cost) %></td>
            <% end %>
        <% end %>
    </tr>
    <tr>
        <td colspan="3">&#160;</td>
        <td colspan="4"><%= appraisal.vehicle.vin %></td>
        <td colspan="3" class="pri_book_value">
		        <% book_1 = book_value(appraisal, session[:business_unit].business_unit_preference.primary_book_category_id) %>
		        <% if book_1.nil? %>-<% else %><%= book_1 %><% end %>
		    </td>
		    <td colspan="3">
	        <% book_2 = book_value(appraisal, session[:business_unit].business_unit_preference.secondary_book_category_id) %>
	        <% if book_2.nil? %>-<% else %><%= book_2 %><% end %>
      	</td>
    </tr>
    
    <tr class="cust_info">
        <td colspan="2">&#160;</td>
        <td>Customer Info</td>
        <% if appraisal.customer.nil? || appraisal.customer.empty? %>
        <td colspan="2">Not Recorded</td>
        <td colspan="3">Contact: <strong>Not Recorded</strong></td>
        <% else %>
        <td colspan="2"><strong><%= value_or_default(appraisal.customer.full_name, "Not Recorded") %></strong></td>
        <td colspan="3">Contact: <strong><%= value_or_default(appraisal.customer.contact_summary, "Not Recorded") %></strong></td>
        <% end %>
        <td colspan="2">Deal: <strong><%= appraisal.deal_summary %></strong></td>
        <% if appraisal.person.nil? %>
        <td colspan="3">Salesperson: Not Recorded</td>
        <% else %>
        <td colspan="3">Salesperson: <%= value_or_default(appraisal.person.full_name, "Not Recorded") %></td>
        <% end %>
    </tr>
</tbody>
<% session[:future_task].notify_completed_unit_of_work() unless session[:future_task].nil? %>
