<% customer_offer = customer_offer(appraisal_offer, appraisal_valuation) %>
<div class="appraisalbox" style="width:270px;">
    <h4>Customer Appraisal Form <span style="font-weight:normal;font-size:9px"><a href="#" onclick="AppraisalFormPopup('<%=url_for(:action => :redirect_to_external_url, :external_url => "/IMT/AppraisalFormOptionsDisplayAction.go", :pageName => "appraisalForm", :appraisalId =>appraisal_id, :mileage=>mileage,:vin=>vin,:onTM=>true,:offer=>(appraisal_offer.nil?) ? '' : appraisal_offer.customer_offer,:initialAppraisal=>(appraisal_valuation.nil?) ? "" : appraisal_valuation.value.to_s,:primaryError=>"false",:secondaryError=>"false")%>'); return false;" style="font-size:10px;">View</a> | <a href="#" onclick="PrintAppraisalForm('<%=url_for(:action => :redirect_to_external_url, :external_url => "/IMT/AppraisalFormDisplayAction.go",:appraisalId=>appraisal_id,:mileage=>mileage,:vin=>vin)%>' ); return false;" style="font-size:10px;">Print</a></span></h4>
    <div id="rule_value_rule_6"<% if !appraisal_review.nil? && (appraisal_review.rule_1 == 1 || appraisal_review.rule_2 == 1 || appraisal_review.rule_6 == 1) %> style="background-color:#fff949"<% end %>>
        
        <% if customer_offer.nil? %>
            <div style="font-size:9px;color:#666;">Customer Offer: Customer Offer depends on Appraised Value</div>
        <% else %>
            <div id="appraisal_offer" style="margin:8px 0 0 8px;padding:0px;">Customer Offer: 
                <!-- stuff we just pass around for kicks -->
                <%= hidden_field_tag 'appraisal_id', appraisal_id %>
                <%= hidden_field_tag 'mileage', mileage %>
                <%= hidden_field_tag 'vin', vin %>
                <!-- end stuff -->
                <%= hidden_field 'appraisal_offer', 'id', { :object => appraisal_offer } %>
                <%= hidden_field_tag 'appraisal_offer[appraisal_id]', appraisal_id, { :id => 'appraisal_offer_appraisal_id_#{appraisal_id}' } %>
                $<%= text_field_tag 'appraisal_offer[customer_offer]', customer_offer, { :size => 7, :maxlength => 7, :id => 'appraisal_offer_customer_offer' } %>
            </div>
        <% end %>
    </div>
</div>