<% if on_detail_page == true %>
<h4>Adjust Appraisal</h4>
<p style="padding: 5px 4px;">
<% end %>
<input type="hidden" name="appraisal_valuation[appraisal_id]" value="<%= appraisal_id %>" />
$<input type="text" name="appraisal_valuation[value]" size="6"/>
Appraiser:
<%= collection_select("appraisal_valuation", "appraiser_name", find_people(session[:business_unit].id, 2), "full_name", "full_name", {:prompt=>true, :object=>appraisal_review.appraisal.appraisal_valuations.first}, { :id => "appraisal_valuation_appraiser_name_#{appraisal_id}" }) %>
<% if on_detail_page == true %>
</p>
<% end %>
