<div id="appraisal_review_<%= appraisal_review.id %>" class="<%= cycle('bucket-clear', 'bucket', :name => 'bucket_alignment') %>">
  <div class="bucket-top">
    <div class="bucket-bottom clearfix">
 
        <div class="vehicle-summary">
            <p class="reviewbtn"><%= link_to(image_tag("/images/btn_review2.gif", :border=>0,:title=>"Review",:alt=>"Review"), url_for(:controller => 'appraisal_review', :action => 'detail', :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id)) %></p>
            <p class="vehicle-id"<% unless params[:layout] == 'false' %> style="margin-top:12px;"<% end %>>
<% unless params[:layout] == 'false' %>
                <span style="margin-left:3px;">
                <%= light_name_to_image(appraisal_review.vehicle_inventory_light.name) %>
                </span>
<% end %>
                <span style="margin-left:0;padding-left:0;">
                <%= appraisal_review.vehicle.model_year %>
                <%= appraisal_review.vehicle.vehicle_make.name %>
                <%= appraisal_review.vehicle.vehicle_line.name %>
                <%= appraisal_review.vehicle.series %>
                </span>
            </p>
            <p class="secondary-id">
            	<span style="margin-left:19px;">Mileage: <%= format_mileage(appraisal_review.vehicle_mileage) %></span>
            	<span style="margin-left:20px;">Color: <%= appraisal_review.vehicle.color %></span>
<% if params[:layout] == 'false' %>
<!-- ATTN: ADDED .... -->
<span style="margin-left:20px;">Risk: <%= appraisal_review.vehicle_inventory_light.name %></span>
<% end %>
	            <% unless appraisal_review.appraisal.nil? %>
	            	<span class="appraisal-date">Last Appraised: <%= appraisal_review.appraisal.date_created.strftime("%m/%d/%Y") %></span>
	            <% end %>
            </p>
        </div>
        
        <!-- .additional-info -->
        <div class="additional-info mad_summary">
<% unless params[:layout] == 'false' %>
            <div style="float:left;width:200px;margin-right:10px;" class="clearfix">
<% end %>

                <dl class="appraisal_value">
                    <dt>
                    	<% if params[:layout] == 'false' %>New Appraisal:<% else %>Appraised Value:&nbsp;<% end %>
                    </dt>
                    <dd>
                    	<% if params[:layout] == 'false' %>
                    		<input type="text" class="currency" name="appraisal" /> was: 
                    	<% end %>
	                    <strong>
				            <% if appraisal_review.appraisal_value != 0 %>
		                     	<%= number_to_currency(appraisal_review.appraisal_value, :precision => 0) %>
		                    <% else %>
		                    	$&mdash;
		                    <% end %>
    	                </strong>            
                    </dd>
				</dl>                    
              	<dl class="customer_offer">
                    <% if appraisal_review.customer_offer != 0 || params[:layout] == 'false' %>
                    	<dt><% if params[:layout] == 'false' %>New <% end %>Customer Offer:&nbsp;</dt>
                    	<dd>
                    	    <% if params[:layout] == 'false' %>
                    			<input type="text" class="currency" name="appraisal" /> was: 
                    		<% end %>
                    		<strong><%= number_to_currency(appraisal_review.customer_offer, :precision => 0) %></strong></dd>
                    <% end %>
                    <% unless params[:layout] == 'false' %>
                        <% unless appraisal_review.appraisal.person.nil? %>
                        	<dt>Salesperson:&nbsp;</dt>
                        	<dd><%= appraisal_review.appraisal.person.first_name %> <%= appraisal_review.appraisal.person.last_name %></dd>
                        <% end %>
                    <% end %>
                </dl>

<% if params[:layout] == 'false' %> 
                <div class="market_values">
					<% ternary_book_value = book_value(appraisal_review, session[:business_unit].appraisal_review_bookout_preferences.find(:first, :conditions => ["vehicle_make_id = ?", appraisal_review.vehicle.vehicle_make_id]).book_category_id) %>
                    	<% unless ternary_book_value.nil? %>
                                <span><%= ternary_book_value %></span>
                        <% end %>
                        <% if appraisal_review.naaa_value != 0 %>
                                <span>NAAA Auction Value: <%= number_to_currency(appraisal_review.naaa_value, :precision => 0) %></span>
                        <% end %>
                </div>
                <div class="notes_area">
                	<strong class="label">Notes:</strong> 
                	<textarea class="notes">NOTES</textarea> 
                </div>
<% end %>


<% unless params[:layout] == 'false' %>
            </div>
            <div style="<% unless params[:layout] == 'false' %>float:left;width:180px;<% end %>" class="clearfix">
                <% ternary_book_value = book_value(appraisal_review, session[:business_unit].appraisal_review_bookout_preferences.find(:first, :conditions => ["vehicle_make_id = ?", appraisal_review.vehicle.vehicle_make_id]).book_category_id) %>
                <% unless ternary_book_value.nil? %>
                <span><%= ternary_book_value %></span>
                <% end %>
                <% if appraisal_review.naaa_value != 0 %>
                <span>NAAA Auction Value: <%= number_to_currency(appraisal_review.naaa_value, :precision => 0) %></span>
                <% end %>
            </div>
    <br style="clear:both;" />            
<% end %>


        </div>
		<!-- /.additional-info -->

      
<% if params[:layout] == 'false' %>
    <%= render :partial => 'appraisal_and_customer', :locals => { :appraisal => appraisal_review.appraisal, :customer => appraisal_review.appraisal.customer } %>
	<%= render :partial => 'rule_matches', :locals => { :appraisal_review => appraisal_review } %> 
	<%= render :partial => 'condition', :locals => { :appraisal_review => appraisal_review } %> 
<% else %>
        
        <div id="floating-notes-div_<%= appraisal_review.id %>" style="<% unless params[:layout] == 'false' %>margin:0px 15px 15px 9px<% end %>">
<%= render :partial => 'rule_matches', :locals => { :appraisal_review => appraisal_review } %> 
<%= render :partial => 'condition', :locals => { :appraisal_review => appraisal_review } %> 

            <div class="clearfix">
                <p class="followup_btn">
                    <%= image_tag("btn_followup2.gif", :id => "followup_#{appraisal_review.appraisal_id}", :onclick => "Effect.toggle('followup-notes_#{appraisal_review.id}');Position.clone('floating-notes-div_#{appraisal_review.id}', 'followup-notes_#{appraisal_review.id}');", :alt => "Follow Up") %>
                </p>
                <p class="bottom_deal_link" style="margin:8px 8px 10px 14px;">
                    <%= link_to_remote "Already Traded-In", { :url => { :controller => 'appraisal_review', :action => "already_traded_in", :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id, :rule => rule, :escape => true }} %> 
                    <span style="color:#999;padding:0 2px;">|</span> 
                    <%= link_to_remote "Delete from List", {:url => { :controller => 'appraisal_review', :action => "delete_from_list", :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id, :rule => rule, :escape => true }} %> 
                </p>
                 <div id="followup-notes_<%= appraisal_review.id %>" class="followup-notes" style="display:none;">
                    <%= form_remote_tag :url => { :controller => 'appraisal_review', :action => 'update_appraisal_review_and_add_to_follow_up_list'}, :html => { :id => "update_appraisal_review_and_add_to_follow_up_list_form_#{appraisal_review.appraisal_id}", :name => "update_appraisal_review_and_add_to_follow_up_list_form" } %>
                    <fieldset style="text-align: center;">
                    <%= hidden_field_tag 'appraisal_review_follow_up[appraisal_id]', appraisal_review.appraisal_id, { :id => "appraisal_review_follow_up_appraisal_id_#{appraisal_review.appraisal_id}" } %>
                    <%= hidden_field_tag 'appraisal_review_follow_up[day_id]', appraisal_review.day_id, { :id => "appraisal_review_follow_up_day_id_#{appraisal_review.appraisal_id}" } %>
                    <%= hidden_field_tag 'appraisal_id', appraisal_review.appraisal_id, { :id => "appraisal_id_#{appraisal_review.appraisal_id}" } %>
                    <%= hidden_field_tag 'day_id', appraisal_review.day_id, { :id => "day_id_#{appraisal_review.appraisal_id}" } %>
                    <%= hidden_field_tag 'rule', rule, { :id => "rule_#{appraisal_review.appraisal_id}" } %>
                    <input type="hidden" name="page" value="summary" />
                    <textarea class="notes" name="appraisal_review_follow_up[notes]" id="appraisal_review_follow_up_notes_<%= appraisal_review.appraisal_id %>" onfocus="if (this.value == 'NOTES') { this.value = ''; }" >NOTES</textarea>
                    <span style="white-space: nowrap;float: right;font-size:9px;margin-right:8px;color:#666;margin-top:3px;margin-bottom:3px;">Update Appraised Value To: 
                        <%= render :partial => "appraisal_valuation_form", :locals => { :appraisal_id => "#{appraisal_review.appraisal_id}", :appraisal_review => appraisal_review, :on_detail_page=>false } %>
                    </span>
                    <div style="clear: both;text-align:right;margin-right:8px;margin-top:3px;margin-bottom:3px;">
                    <%= image_submit_tag("btn_followup.gif", :id => "appraisal_review_follow_up_button_#{appraisal_review.appraisal_id}", :alt => "Add To Follow Up") %>
                    <%= image_tag("btn_cancel.gif", :id => "appraisal_review_cancel_button_#{appraisal_review.appraisal_id}", :onclick => "Effect.toggle('followup-notes_#{appraisal_review.id}');", :alt => "Cancel", :class => "cancel_btn" ) %>
                        <input type="hidden" name="move_to_follow_up" value="true" />
                    </div>
                    </fieldset>
                    <%= end_form_tag%>
                </div>  
             </div>           
         </div>
<% end %>




        
      </div>
   </div>
</div>
<% session[:future_task].notify_completed_unit_of_work() unless session[:future_task].nil? %>
