<script type="text/javascript">
// Google Analytics.

document.title = "Make A Deal";

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<%= GOOGLE_ACCOUNT%>', 'auto');
ga('send', 'pageview');

</script>

<div id="appraisal_review_follow_up_list_summary">
<% if number_of_appraisal_review_follow_ups == 0 %>
<h3 class="followup">There are <span id="number-of-follow-ups">no</span> potential deals in your Follow Up list.</h3>
<% else %>

<h3 class="followup">
<% 
    areIs = "are"
    plural = "s"
    if number_of_appraisal_review_follow_ups == 1
        areIs = "is"
        plural = ""
    end

%>

There <%=areIs%> <span id="number-of-follow-ups"><%= number_of_appraisal_review_follow_ups %></span> potential deal<%=plural%> in your <%= link_to("Follow Up List", url_for(:action => 'appraisal_review_follow_up_list')) %>.

</h3>

<% end %>
</div>