<div class="potential-deals-summary-table clearfix" id="rule_<%= rule %>">
    <div class="grouphead clearfix">
<% unless params[:layout] == 'false' %>
        <% unless rule == 4 %>
            <p class="float" style="padding-left:4px;margin-top:-2px;font-size:10px;"> <%= link_to "Adjust this rule", {:controller => '/appraisal_review_preferences', :action => 'preferences'} %> </p> 
        <% end %>
        <p class="float" style="padding-right:4px;margin-top:-2px;font-size:10px;"><%= link_to_remote "Turn off this rule", :url => { :action => "update_appraisal_review_preference", :params => { "appraisal_review_preference[#{session[:business_unit].appraisal_review_preference.id}][rule_#{rule}_enabled]" => 0, :reload => true, :escape => true } } %></p>
<% end %>
        <% case rule when 7 then %>
        <h3>A Second Look at <span id="rule_7_count"><%= number_of_appraisal_reviews %></span> deals with Appraised Value Below JD Power PIN ACV: </h3>
        <% when 8 then %>
        <h3>A Second Look at <span id="rule_8_count"><%= number_of_appraisal_reviews %></span> deals with Appraised Value Below JD Power PIN Selling Price: </h3>
		<% when 6 then %>
        <h3>A Second Look at <span id="rule_6_count"><%= number_of_appraisal_reviews %></span> deals where there appears to be money left on the table: </h3>
        <% when 4 then %>
        <h3>A Second Look at <span id="rule_4_count"><%= number_of_appraisal_reviews %></span> Optimal Inventory vehicles for potential trade-in: </h3>
        <% when 1 then %>
        <h3>A Second Look at <span id="rule_1_count"><%= number_of_appraisal_reviews %></span> vehicles with Appraised Value well below Book Value for potential trade-in: </h3>
        <% when 5 then %>
        <h3>A Second Look at <span id="rule_5_count"><%= number_of_appraisal_reviews %></span> vehicles with In-Group demand for potential trade-in: </h3>
        <% when 2 then %>
        <h3>A Second Look at <span id="rule_2_count"><%= number_of_appraisal_reviews %></span> vehicles with Appraised Value well below Auction Value for potential trade-in: </h3>
        <% when 3 then %>
        <h3>A Second Look at <span id="rule_3_count"><%= number_of_appraisal_reviews %></span> deals that appear to be good Book vs Loan opportunities: </h3>
        <% else %>
        <h3>Rule <%= rule %></h3>
        <% end %>
    </div>
 
    <%= appraisal_reviews %>
<% unless params[:layout] == 'false' %>
    <br style="clear:both;" />
<% end %>
</div>