
<div id="appraisal_preference_set_header" class="header">

    <div class="float">
        <a href="#" id="appraisal_review_preference_cancel">Close [X]</a>
    </div>
    Options
</div>
<div style="margin-top:10px;margin-left:8px;">
    <%= link_to_remote 'Reset Follow Up List', :url => { :action => 'start_a_new_appraisal_review_follow_up_list' },:confirm=>"Are you sure you want to reset your follow up list?" %>
    <span style="font-family:sans-serif;font-size:9px;">(Clears your current list and starts a new list.)</span>
</div>      
<div id="" class="body" style="clear:right">
    <%= form_remote_tag :url => { :action => :update_appraisal_review_preference } %>
    <fieldset id="appraisal_review_preferences_fieldset" class="appraisal_review_preferences_fieldset" style="padding:8px">
        <legend>Appraisal Rules</legend>
        <input type="hidden" name="reload" value="true" />
        <p><input id="rule_6" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_6_enabled]" value="1" <% if appraisal_review_preference.rule_6_enabled? %>checked="checked"<% end %> /><label for="rule_6">Low Customer Offer</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_6_enabled]" value="0" /></p>
        <p><input id="rule_4" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_4_enabled]" value="1" <% if appraisal_review_preference.rule_4_enabled? %>checked="checked"<% end %> /><label for="rule_4">Optimal Inventory</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_4_enabled]" value="0" /></p>
        <p><input id="rule_5" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_5_enabled]" value="1" <% if appraisal_review_preference.rule_5_enabled? %>checked="checked"<% end %> /><label for="rule_5">Understocked at Other Dealer</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_5_enabled]" value="0" /></p>
        <p><input id="rule_1" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_1_enabled]" value="1" <% if appraisal_review_preference.rule_1_enabled? %>checked="checked"<% end %> /><label for="rule_1">Below Primary Book Value</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_1_enabled]" value="0" /></p>
        <p><input id="rule_2" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_2_enabled]" value="1" <% if appraisal_review_preference.rule_2_enabled? %>checked="checked"<% end %> /><label for="rule_2">Below NAAA Value</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_2_enabled]" value="0" /></p>
        <p><input id="rule_3" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_3_enabled]" value="1" <% if appraisal_review_preference.rule_3_enabled? %>checked="checked"<% end %> /><label for="rule_3">Arbitrage Opportunity</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_3_enabled]" value="0" /></p>
        <% if !@show_jdpower.nil? %>
		<p><input id="rule_7" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_7_enabled]" value="1" <% if appraisal_review_preference.rule_7_enabled? %>checked="checked"<% end %> /><label for="rule_7">Below JD Power PIN ACV</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_7_enabled]" value="0" /></p>
        <p><input id="rule_8" type="checkbox" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_8_enabled]" value="1" <% if appraisal_review_preference.rule_8_enabled? %>checked="checked"<% end %> /><label for="rule_8">Below JD Power PIN Selling Price</label><input type="hidden" name="appraisal_review_preference[<%= appraisal_review_preference.id %>][rule_8_enabled]" value="0" /></p>
        <% end %>
     </fieldset>
    <div  class="footer">           
       <input type="image" src="/images/btn_save.gif" id="appraisal_review_preference_submit" alt="Save" title="Save" />
    </div>
    <%= end_form_tag %>
</div>
