<%
    book_option_id       = book_vehicle_option[:option].book_option.id
    checkbox_selected    = book_vehicle_option[:option].is_selected? ? 'checked' : ''
    checkbox_id          = "book_#{book_id}_option_#{book_option_id}"
    checkbox_name        = "book[#{book_id}].option[#{book_option_id}]"
    checkbox_label       = book_vehicle_option[:option].book_option.name
    checkbox_price       = 0
    if !book_vehicle_option[:values][book_vehicle_option[:value_type]].nil?
    checkbox_price       = book_vehicle_option[:values][book_vehicle_option[:value_type]].value
    end
%>
<% if book_vehicle_option[:option].is_selected == 1 %>
<li>
    <%= h(checkbox_label) %> <%= money(checkbox_price) %>
</li>
<% end %>