<% if has_carfax_account %>
<div id="carfax_wrapper_<%= vin %>" class="carfax_wrapper">	
	<% if has_carfax_report %>
		<a href="<%= url_for(:action => :redirect_to_external_url, :external_url => '/IMT/CarfaxPopupAction.go', :vin => vin) %>" target="CarfaxReport">
		<img src="/IMT/images/tools/carfaxLogo.gif" width="117" height="22" />
		<% carfax_report_type_text = case carfax_report_type
				when 'BTC' then 'Branded Title Check (BTC)'
				when 'VHR' then 'Vehicle History Report (VHR)'
				when 'CIP' then 'Customer Info Pack (CIP)' 
			end %>
		CARFAX <%= carfax_report_type_text %> Available
		</a>
	<% else %>
		<% if can_purchase_carfax_report %>
		<%= form_remote_tag :url => { :action => :purchase_carfax_report }, :update => "carfax_wrapper_" + vin %>
			<img src="/IMT/images/tools/carfaxLogo.gif" width="117" height="22" />
			<%- report_type = {
				"Select CARFAX Report Type..." => "NONE",
				"Purchase Branded Title Check (BTC) Report" => "BTC", 
				"Purchase Vehicle History (VHR) Report" => "VHR", 
				"Purchase Consumer Info Pack (CIP) Report" => "CIP"
			} -%>
			<%= select_tag( "reportType", options_for_select(report_type, carfax_report_type) ) %>
			<label>
				<input type="checkbox" name="cccFlagFromTile" id="cccFlagFromTile" />
				Display vehicle in CARFAX Hot Listings
			</label>
			<%= hidden_field :appraisal, :id %>
			<input type="hidden" name="vin" value="<%= vin %>" />
			<input type="hidden" name="isAppraisal" value="true" />
			<p class='controls'><%= image_submit_tag "btn_order_report.gif" %></p>
		<%= end_form_tag %>
		<% else %>
		<img src="/IMT/images/tools/carfaxLogo.gif" width="117" height="22" />
		<p>You cannot purchase CARFAX reports</p>
		<% end %>
	<% end %>
</div>
<% end %>