                <% 
                    appraisal_actions = appraisal_review.appraisal.appraisal_actions
                    recon = '--'
                    condition = '--'
                    if !appraisal_actions.empty?
                        if !appraisal_actions.last.estimated_reconditioning_cost.zero?
                            recon = appraisal_actions.last.estimated_reconditioning_cost
                        end
                        if !appraisal_actions.last.conditioning_description.nil? && appraisal_actions.last.conditioning_description != ''
                            condition = appraisal_actions.last.conditioning_description
                        end
                    end
                %>

<% if params[:layout] == 'false' %>
<div class="condition">
	<p><span style="text-transform:uppercase;">Condition Notes:</span> <%= condition %></p>
	<p><span style="text-transform:uppercase;">Reconditioning Estimate:</span> <%= money(recon) %></p>	
</div>
<% else %>
                <% if !appraisal_actions.last.estimated_reconditioning_cost.zero? || (!appraisal_actions.last.conditioning_description.nil? &&  appraisal_actions.last.conditioning_description != '') %>
                        <div style="font-size:10px;color:#828282;text-transform:uppercase;">Condition Notes:</div>
                        <div style="font-size:10px;color:#263047;padding-bottom:2px;">
 	                        <% if !appraisal_actions.last.estimated_reconditioning_cost.zero? %>
	                        	<span style="color:#666;">Reconditioning Estimate:</span> <%= money(recon) %>
	                        <% end %>
	                        <% if !appraisal_actions.last.conditioning_description.nil? %>
	                        <span style="color:#666;padding-left:10px;">Condition:</span> <%= condition %>
	                        <% end %>
                        </div>
                <% end %>
<% end %>
