<div id="customer">
    <div id="customer_read">
        <p style="padding:6px;">
    <% if customer.nil? || customer.empty? %>
            <span style="margin-left:0;color:#333;font-style:italic;">Name Not Supplied
                <span style="font-size:9px;padding-left:0px;margin-left:0px;">(-)</span>
            </span>
            <span style="padding-left:7px;">email Address:</span>
            <span style="margin-left:0;color:#333;font-style:italic;">None</span>
            <br />
            <span style="margin-left:0;">Phone:</span> 
            <span style="margin-left:0;color:#333;font-style:italic;">Not Supplied</span> 
    <% else %>
            <span style="margin-left:0;color:#333;"><%= customer.first_name %> <%= customer.last_name %>
                <span style="font-size:9px;padding-left:0px;margin-left:0px;text-transform:lowercase;">(<%= customer.gender %>)</span>
            </span> 
            <span style="padding-left:7px;">email Address:</span> 
            <span style="margin-left:0;color:#333;"><%= customer.email %></span>
            <br />
            <span style="margin-left:0;">Phone:</span> 
            <span style="margin-left:0;color:#333;"><%= customer.telephone_number %></span> 
    <% end %>
        </p>
    </div>
    <div id="customer_edit" style="display: none;">
    <%= form_remote_tag :url => { :action => :update_customer }, :html => { :name => 'update_customer' } %>
    <% unless customer.nil? %>
    <fieldset><%= hidden_field 'customer', 'id', :object => customer %></fieldset>
    <% end %>
    <%= hidden_field_tag 'customer[appraisal_id]', appraisal_id %>
        <table>
            <thead>
            <tr>
                <th style="font-size:10px;font-weight:normal;color:#333;">First Name</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">Last Name</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">Gender</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">Phone #</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">Email</th>
                <th style="font-size:10px;font-weight:normal;color:#333;">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= text_field "customer", "first_name", :object=>customer,:size => 8 %></td>
                <td><%= text_field "customer", "last_name", :object=>customer,:size => 12 %></td>
                <td><select name="customer[gender]" id="customer_gender"><%= options_for_select([["-", "Please Select"], ["M", "M"], ["F", "F"]],customer.nil? ? "Please Select" : customer.gender ) %></select></td>
                <td><%= text_field "customer", "telephone_number", :object=>customer,:size => 10 %></td>
                <td><%= text_field "customer", "email",:object=>customer, :size => 15 %></td>
             </tr>
             <tr>
             <td colspan="5"><%= link_to_function "Save", "document.update_customer.onsubmit();" %> <tt>|</tt> <%= link_to_function "Cancel", "Element.toggle('customer_read', 'customer_edit');" %></td>
            
             </tr>
            </tbody>
        </table>
    <%= end_form_tag %>
    </div>
</div>