<div class="redistbox"<% unless params[:layout] == 'false' %> id="redistTable" style="display: none;"<% end %>>
    <table<% unless params[:layout] == 'false' %> width="930"<% end %>>
        <% if in_group_redistribution_report.nil? %>
            <tr style="font-size:9px;">
                <td style="text-align:center;padding:6px;">Loading...</td>
            </tr>
        <% elsif in_group_redistribution_report.results.empty? %>
            <tr style="font-size:9px;">
                <td style="text-align:center;padding:6px;">No Results</td>
            </tr>
        <% else %>
            <tr class="datahead"<% unless params[:layout] == 'false' %> style="font-size:10px;"<% end %>>
                <td style="text-align:left;padding-left:6px;">Dealership</td>
                <td>Phone Number</td>
                <td>Target Units</td>
                <td>In Stock</td>
            </tr>
            <% in_group_redistribution_report.results.each do |result|
                    dealer          = result["business_unit_name"]
                    phone           = number_to_phone(result["telephone_number"], {:area_code => true})
                    modelYear       = result["model_year"]
                    yearTarget      = result["optimal_units_model_year"].nil? ? 0 : result["optimal_units_model_year"]
                    yearStocked     = result["stocked_units_model_year"].nil? ? 0 : result["stocked_units_model_year"]
                    modelTarget     = result["optimal_units_model"].nil? ? 0 : result["optimal_units_model"]
                    modelStocked    = result["stocked_units_model"].nil? ? 0 : result["stocked_units_model"]

                    yearNeed  = yearTarget - yearStocked
                    modelNeed = modelTarget - modelStocked
                    target    = ''
                    stocked   = ''
                                       
                    if yearTarget > 0
                        target = "#{modelYear}: #{yearTarget} | Model: #{modelTarget}"
                        stocked = "#{modelYear}: #{yearStocked} | Model: #{modelStocked}"
                    else
                        target = "Model: #{modelTarget}"
                        stocked = "Model: #{modelStocked}"
                    end                                
            %>  
                <tr<% unless params[:layout] == 'false' %> style="font-size:9px;"<% end %>>
                    <td style="text-align:left;padding-left:6px;"><%= dealer %></td>
                    <td><%= phone %></td>
                    <td><%= target %></td>
                    <td><%= stocked %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>