<% if insights.nil? %>
    <p><strong>Performance Analysis: </strong> <span style="font-style:italic;font-size:10px;margin-left:10px;">Loading ...</span></p>
<% else %>
    <p><strong>Performance Analysis: </strong> <% insights.each do |insight| %><span style="font-size:10px;color:#900;margin-left:10px;"><%= insight.to_s %></span><% end %></p>
<% end %>