<% unless params[:layout] == 'false' %>
    <script type="text/javascript">
        var naaa_auction_report_args = {
            vic:                  '<%= naaa_report_form.vic %>',
			vin:                  '<%= naaa_report_form.vin %>',
            model_year:           '<%= naaa_report_form.model_year %>',
            vehicle_make_name:    '<%= naaa_report_form.vehicle.vehicle_line.vehicle_make.name %>',
            vehicle_line_name:    '<%= naaa_report_form.vehicle.vehicle_line.qualified_name %>'
        };
    </script>

    <p class="float"><a href="#" onclick="NAAAAuctionReport(naaa_auction_report_args); return false;">VIEW AUCTION REPORT</a></p>
<% end %>

    <p><strong><%= naaa_report_form.vehicle.name %></strong></p>
    <div class="naaa_form">
        <%= form_remote_tag(:update => container_id, :url => { :action => :naaa_report }, :html => { :name => form_name } ) %>
        <fieldset>
<% unless params[:layout] == 'false' %>
        <input type="hidden" name="vin" value="<%= naaa_report_form.vin %>" />
        <input type="hidden" name="vehicle_id" value="<%= naaa_report_form.vehicle_id %>" />
        <input type="hidden" name="vehicle_line_id" value="<%= naaa_report_form.vehicle.vehicle_line_id %>" />
        <input type="hidden" name="model_year" value="<%= naaa_report_form.model_year %>" />
        <input type="hidden" name="vehicle_mileage" value="<%= naaa_report_form.vehicle_mileage %>" />
        <input type="hidden" name="rule_2" value="<%= naaa_report_form.rule_2 %>" />
<% end %>
        <% if naaa_report_form.vics.length == 1 %>
        <% vic = naaa_report_form.vics.first %>
        <p>
            <span<% unless params[:layout] == 'false' %> id="naaa_series_body_style_name"<% end %>>Series: <%= vic.series %>  <%= vic.body_style %></span>
        </p>
<% unless params[:layout] == 'false' %>
        <input id="naaa_series_body_style_id" type="hidden" name="vic" value="<%= vic.id %>" />
<% end %>
        <% elsif naaa_report_form.vics.empty? %>
        <p>
            <span<% unless params[:layout] == 'false' %> id="naaa_series_body_style_name"<% end %>>Series: <%= naaa_report_form.vehicle.vehicle_line.qualified_name %></span>
        </p>
<% unless params[:layout] == 'false' %>
        <input id="naaa_series_body_style_id" type="hidden" name="mmg" value="<%= naaa_report_form.vehicle.vehicle_line.legacy_id %>" />
<% end %>
        <% else %>
<% unless params[:layout] == 'false' %>
        <span>Series</span>
        <select id="naaa_series_body_style_id" name="vic" onchange="return this.form.onsubmit();">
            <% naaa_report_form.vics.each do |vic| %>
                <option value="<%= vic.id %>"><%= vic.series %>  <%= vic.body_style %></option>
            <% end %>
        </select>
<% end %> 
        <% end %>
        
        <span>Region</span>
        <select<% unless params[:layout] == 'false' %> id="naaa_area_id" name="naaa_area_id" onchange="return this.form.onsubmit();"<% end %>>
            <%= options_from_collection_for_select(naaa_report_form.naaa_areas, 'id', 'name', session[:business_unit].business_unit_preference(true).naaa_area_id) %>
        </select>
        <span>Time Period</span>
        <select<% unless params[:layout] == 'false' %> id="naaa_period_id" name="naaa_period_id" onchange="return this.form.onsubmit();"<% end %>>
            <option value="11">2 weeks</option>
            <option value="12">4 weeks</option>
            <option value="13">6 weeks</option>
            <option value="10"><%=Time.now.strftime("%Y")%> YTD</option>
            <option value="8"><%=Time.now.strftime("%b")%> <%=Time.now.strftime("%Y")%> MTD</option>
            <option value="9"><%=Time.now.strftime("%b")%> <%=1.year.ago.strftime("%Y")%> MTD</option>
            <option value="14">Prior Month ( <%=1.month.ago.strftime("%b")%> )</option>
        </select>
        </fieldset>
        <%= end_form_tag %>
    </div>