<table>
    <tr class="datahead">
        <td>&nbsp;</td>
        <td>High</td>
        <td>Average<% unless naaa_report.nil? || (naaa_report.statistic.nil? && naaa_report.sample.nil?) %> of <%= naaa_report.statistic.vehicle_count %><% end %></td>
        <td>Low</td>
		<% if naaa_report.nil? || naaa_report.sample.nil? %>
        <td>Vehicles with Similar Mileage</td>
		<% else %>
		<td><%= naaa_report.sample.vehicle_count %> Vehicles with Similar Mileage</td>
		<% end %>
    </tr>
    <tr>
        <td class="datahead">Sale Price</td>
<% if naaa_report.nil? || (naaa_report.statistic.nil? && naaa_report.sample.nil?) %>
        <% 4.times do %><td>--</td><% end %>        
<% else %>
        <td><%= money(naaa_report.statistic.high_sales_price) %></td>
        <td><%= money(naaa_report.statistic.average_sales_price) %></td>
        <td><%= money(naaa_report.statistic.low_sales_price) %></td>
        <td<% if naaa_report.rule_2 == 1 %> id="rule_value_rule_2_value" style="background-color:#fff949"<% end %>><%= naaa_report.sample.nil? ? '--' : money(naaa_report.sample.average_sales_price) %></td>
<% end %> 
    </tr>
    <tr>
        <td class="datahead">Related Average Mileage</td>
<% if naaa_report.nil? || (naaa_report.statistic.nil? && naaa_report.sample.nil?) %>
        <% 4.times do %><td>--</td><% end %>
<% else %>
        <td><%= number_with_delimiter(number_with_precision(naaa_report.statistic.high_mileage, precision = 0)) %></td>
        <td><%= number_with_delimiter(number_with_precision(naaa_report.statistic.average_mileage, precision = 0)) %></td>
        <td><%= number_with_delimiter(number_with_precision(naaa_report.statistic.low_mileage, precision = 0)) %></td>
        <td>
            <% if naaa_report.sample.nil? %>--<% else %><%= number_with_delimiter(naaa_report.sample.low_mileage_range) %> - <%= number_with_delimiter(naaa_report.sample.high_mileage_range) %><% end %>
        </td>
<% end %>
    </tr>
</table>