            <div class="rule-matches" id="rule-matches_<%= appraisal_review.id %>">
            	<% if !@show_jdpower.nil? %>
					<% if appraisal_review.rule_7? %>
	                    <div class="item-issue">Appraised value is <%= number_to_currency(appraisal_review.jdpower_acv - appraisal_review.appraisal_value, :precision => 0) %> Below JDPower PIN ACV.</div>
	                <% end %>
	                <% if appraisal_review.rule_8? %>
	                    <div class="item-issue">Appraised value is <%= number_to_currency(appraisal_review.jdpower_avg_selling_price - appraisal_review.appraisal_value, :precision => 0) %> Below JD Power PIN Selling Price.</div>
	                <% end %>
				<% end %>
                <% if appraisal_review.rule_6? %>
                    <div class="item-issue">
                        <% appraisal_offer_delta = appraisal_review.appraisal_value - appraisal_review.customer_offer %>
                        Last Customer Offer is <%= number_to_currency(appraisal_offer_delta, :precision => 0) %> less than the most recent Appraised Value.
                    </div>
                <% end %>
                <% if appraisal_review.rule_4? %>
                    <div class="item-issue">
                        <% if appraisal_review.optimal_units_model_year > 0 %>
                            <%= appraisal_review.vehicle.model_year %>
                        <% end %>
                        <%= appraisal_review.vehicle.vehicle_segment.name %>
                        is an Optimal Inventory model<% if appraisal_review.optimal_units_model_year == 0 %><% end %>
                        <% model_delta = appraisal_review.optimal_units_model - appraisal_review.stocked_units_model %>
                        <% model_year_delta = 0 %>
                        <% if appraisal_review.optimal_units_model_year > 0 %>
                            <% model_year_delta = appraisal_review.optimal_units_model_year - appraisal_review.stocked_units_model_year %>
                            year <% if model_year_delta > 0 %> and is understocked by <%= model_year_delta %><% end %>. &nbsp;&nbsp;  <span class="informative">Target inventory is <%= appraisal_review.optimal_units_model_year %> units.  &nbsp;&nbsp;  <%= appraisal_review.stocked_units_model_year %> in stock.</span> 
                        <% else %>
                            <% if model_delta > 0 %> and is understocked by <%= model_delta %><% end %>.&nbsp;&nbsp; <span class="informative">Target inventory is <%= appraisal_review.optimal_units_model %>. &nbsp;&nbsp; <%= appraisal_review.stocked_units_model %> in stock.</span> 
                        <% end %>
                    </div>
                <% end %>
                <% if appraisal_review.rule_5? %>
                    <div class="item-issue">
                        The following stores need this model or model and year:
                        <ul>
		<% appraisal_review.interested_business_units.each do |business_unit| %>
			<% in_group_distribution_report = appraisal_review.in_group_distribution_report.at(business_unit.id) %>
			<% next if in_group_distribution_report.nil? %>

			<% #Did some cleanup here per case 27209 %>
			<% #If you're seeing "nil can't be coerced into Fixnum" set || 0 at the end of the two "stocked_" var assignments as well %>
			<% #TODO: ffs get this !@#$ out of both partial views, _rule_flags and _rule_matches %>

			<% optimal_units_model_year = in_group_distribution_report["optimal_units_model_year"] || 0 %>
			<% stocked_units_model_year = in_group_distribution_report["stocked_units_model_year"] %>
			<% model_year_delta = 0 %>

			<% if optimal_units_model_year > 0 %>
				<% model_year_delta = optimal_units_model_year - stocked_units_model_year %>
			<% end %>
			    
			<% if model_year_delta > 0 %>
                            <li><%= business_unit.name %> needs <%= model_year_delta %> of the <%= appraisal_review.vehicle.model_year %>'s.</li>
			<% else %>
			    
				<% optimal_units_model = in_group_distribution_report["optimal_units_model"] || 0 %>
				<% stocked_units_model = in_group_distribution_report["stocked_units_model"] %>
				<% model_delta = 0 %>

				<% if optimal_units_model > 0 %>
					<% model_delta = optimal_units_model - stocked_units_model %>
				<% end %>
			    
                                <% if model_delta > 0 %>
                            <li><%= business_unit.name %> needs <%= model_delta %> units of this model.</li>
                                <% end %>
			<% end %>
		<% end %>
                        </ul>
                    </div>
                <% end %>
                <% if appraisal_review.rule_1? %>
                    <div class="item-issue">Appraised value is <%= number_to_currency(appraisal_review.book_value - appraisal_review.appraisal_value, :precision => 0) %> below <%= appraisal_review.book.name %> <%= appraisal_review.book_category.name %> value.</div>
                <% end %>
                <% if appraisal_review.rule_2? %>
                    <div class="item-issue">Appraised value is <%= number_to_currency(appraisal_review.naaa_value - appraisal_review.appraisal_value, :precision => 0) %> below NAAA Auction value for vehicles with similar mileage.</div>
                <% end %>
                <% if appraisal_review.rule_3? %>
                    <div class="item-issue">Book vs Loan opportunity? Preferred Book Value is <%= number_to_currency(appraisal_review.nada_loan_value - appraisal_review.book_value, :precision => 0) %> below NADA Loan value.</div>
                <% end %>
            </div>