<div>
    <% unless trade_analyzer_report.results.nil? %>
    <%= form_tag({:controller => 'reporting', :action => 'view_deals_report'}, { :id => "view_deals_report_#{trade_analyzer_report.__id__.abs}", :onsubmit => "window.open('/reporting/view_deals_report?' + Form.serialize(this), 'viewDeals', 'location=no,status=yes,menubar=yes,toolbar=no,resizable=yes,scrollbars=yes,width=950,height=650'); return false;" }) %>
        <fieldset style="display: none;">
            <%= hidden_field_tag "vehicle_segment_id", trade_analyzer_report.vehicle_segment_id, { :id => nil } %>
            <%= hidden_field_tag "vehicle_segment_name", trade_analyzer_report.vehicle_segment_name, { :id => nil } %>
            <%= hidden_field_tag "vehicle_series", trade_analyzer_report.series, { :id => nil } %>
            <%= hidden_field_tag "vehicle_mileage", "", { :id => nil } %>
            <%= hidden_field_tag "inventory_type", "2", { :id => nil } %>
            <%= hidden_field_tag "weeks", "26", { :id => nil } %>
            <%= hidden_field_tag "forecast", "", { :id => nil } %>
        </fieldset>
    <%= end_form_tag %>
    <%= form_tag("/NextGen/PerformancePlus.go", { :id => "performance_plus_report_#{trade_analyzer_report.__id__.abs}", :onsubmit => "window.open('/NextGen/PerformancePlus.go?' + Form.serialize(this), 'performancePlus', 'location=no,status=yes,menubar=yes,toolbar=no,resizable=yes,scrollbars=yes,width=950,height=650'); return false;" }) %>
        <fieldset style="display: none;">
            <%= hidden_field_tag "groupingDescriptionId", trade_analyzer_report.vehicle_segment_id, { :id => nil } %>
            <%= hidden_field_tag "weeks", "26", { :id => nil } %>
            <%= hidden_field_tag "applyMileageFilter", "true", { :id => nil } %>
            <%= hidden_field_tag "applyUnitCostFilter", "true", { :id => nil } %>
            <%= hidden_field_tag "isPopup", "true", { :id => nil } %>
        </fieldset>
    <%= end_form_tag %>
    <% end %>
    <%= tag('table', params[:layout] == 'false' ? {} : {:style => 'border:1px solid #999;', :width => 930}, true) %>
        <%= tag('tr', params[:layout] == 'false' ? {} : {:style => 'background-color:#d9d9d9;margin:0px;padding:0px;'}, true) %>
            <td style="color:#EEE;background-color:#d9d9d9;margin:0;padding:0 0 0 2px;border-right:0;text-align:left;border-bottom:1px solid #666;" colspan="6">
                <% unless trade_analyzer_report.results.nil? %>
                    <span class="float viewdeals" style="margin-right:3px;margin-top:3px;"><a href="#" onclick="$('<%= "view_deals_report_#{trade_analyzer_report.__id__.abs}" %>').onsubmit(); return false;"><%= image_tag("/images/btn_viewdeals.gif", :border => "0", :align => "baseline") %></a></span>
                <% end %>
                <% vehicle_description = "" %>
                <% if trade_analyzer_report.series.nil? %>
                    <% if trade_analyzer_report.results.nil? %>
                        <% vehicle_description = "#{trade_analyzer_report.make.upcase} #{trade_analyzer_report.line}"%>
                    <% else %>
                        <% vehicle_description = trade_analyzer_report.vehicle_segment_name %>
                    <% end %>
                <% else %>
                    <% vehicle_description = "#{trade_analyzer_report.make.upcase} #{trade_analyzer_report.line} #{trade_analyzer_report.series}" %>
                <% end %>
                <% if trade_analyzer_report.results.nil? %>
                <h4 class="performance_plus_title"><%= vehicle_description %></h4>
                <% else %>
                <h4 class="performance_plus_popup" onclick="$('performance_plus_report_<%= trade_analyzer_report.__id__.abs %>').onsubmit(); return false;"><%= vehicle_description %></h4>
                <% end %>
            </td>
        </tr>
        <tr class="datahead">
            <td>Retail Average Gross Profit</td>
            <td>Units Sold</td>
            <td>Average Days to Sale</td>
            <td>Average Mileage</td>
            <td>No Sales</td>
            <td>Units in Stock</td>
        </tr>
    <% if trade_analyzer_report.results.nil? %>
        <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
    <% else %>
        <tr>
            <td><%= money(trade_analyzer_report.average_gross_profit.to_s) %></td>
            <td><%= trade_analyzer_report.units_sold.to_s %></td>
            <td><%= trade_analyzer_report.average_days.to_s %></td>
            <td><%= format_mileage(trade_analyzer_report.average_mileage.to_s) %></td>
            <td><%= trade_analyzer_report.no_sales.to_s %></td>
            <td><%= trade_analyzer_report.units_in_stock %></td>
        </tr>
    <% end %>
    </table>
</div>