
<% unless params[:layout] == 'false' %>
<div id="update_appraisal_review_and_add_to_follow_up_list">
    <%= form_remote_tag :url => { :action => 'update_appraisal_review_and_add_to_follow_up_list' } %>
<% end %>

    <div class="appraisalbox"<% unless params[:layout] == 'false' %> id="appraisal_valuation_container" style="width:360px;"<% end %>>

<% if params[:layout] == 'false' %>
<dl class="appraisal_value">
<dt>New Appraisal:</dt>
<!-- ATTN: previous line was: Appraised Value:&nbsp; -->						
<!-- ATTN: ADD .... -->
    <dd><input type="text" class="currency" name="appraisal" /> was: 
        <strong>
        <% if appraisal.appraisal_valuations.empty? %>
            <hr />
        <% else %>
            <%= money(appraisal.appraisal_valuations.first.value) %>
        <% end %>
        </strong>
    </dd>
</dl>
<!-- ATTN: ADD .... -->
<dl class="customer_offer">
<dt>New Customer Offer:</dt>
<dd><input type="text" class="currency" name="offer" /> was: 
    <strong>
        <% if appraisal.appraisal_offer.nil? %>
            <hr />
        <% else %>    
            <%= money(appraisal.appraisal_offer.customer_offer) %>
        <% end %>
    </strong>
</dd>
</dl>
<% else %>
        <div id="appraisal_valuation_form">
            <%= render :partial => "appraisal_valuation_form", :locals => { :appraisal_id => appraisal.id, :appraisal_review => appraisal_review, :on_detail_page => true } %>
        </div>
        <div id="appraisal_valuations">
            <%= render :partial => "appraisal_valuations", :object => appraisal.appraisal_valuations(true), :locals => { :appraisal_review => appraisal_review } %>
        </div>
<% end %>

    </div>
    
<% unless params[:layout] == 'false' %> 
    <div id="appraisal_offer">
           <%= render :partial => "appraisal_offer", :object => appraisal_review.appraisal.appraisal_offer, :locals => {  :appraisal_review => appraisal_review, :appraisal_valuation => appraisal_review.appraisal.appraisal_valuations.first, :appraisal_id => appraisal_review.appraisal_id, :mileage => appraisal_review.vehicle_mileage, :vin => appraisal_review.appraisal.vehicle.vin } %>
    </div>
<% end %>    
    
    <div class="appraisalbox">
<% if params[:layout] == 'false' %> 
<p>
<!-- ATTN: ADD .... -->
    <strong class="label">Notes:</strong>
    <textarea class="notes" name="appraisal_review_follow_up[notes]"><% if params[:follow_up_mode] && !appraisal_review.appraisal_review_follow_up.notes.nil? %><%= appraisal_review.appraisal_review_follow_up.notes %><% else %>NOTES<% end %></textarea>
</p>
<% else %>
        <h4><% if params[:follow_up_mode] %>Follow Up Notes<% else %>Add To Follow Up List<% end %></h4>
        <fieldset>
        <%= hidden_field_tag 'appraisal_review_follow_up[appraisal_id]', appraisal_review.appraisal_id, { :id => "appraisal_review_follow_up_appraisal_id_#{appraisal_review.appraisal_id}" } %>
        <%= hidden_field_tag 'appraisal_review_follow_up[day_id]', appraisal_review.day_id, { :id => "appraisal_review_follow_up_day_id_#{appraisal_review.appraisal_id}" } %>
        <%= hidden_field_tag 'appraisal_id', appraisal_review.appraisal_id %>
        <%= hidden_field_tag 'day_id', appraisal_review.day_id %>
        </fieldset>
        <p>
            <textarea rows="4" cols="30" name="appraisal_review_follow_up[notes]" onfocus="if (this.value == 'NOTES'){this.value = '';}" style="padding:0;margin:0;color:#999;vertical-align:top;"><% if params[:follow_up_mode] && !appraisal_review.appraisal_review_follow_up.notes.nil? %><%= appraisal_review.appraisal_review_follow_up.notes %><% else %>NOTES<% end %></textarea>
        </p>
        <p>
        <input type="hidden" name="follow_up_mode" value="<%= params[:follow_up_mode].nil? ? 'false' : 'true' %>" />
        <input type="hidden" name="page" value="detail" />
        <% if params[:follow_up_mode] %>
            <input type="hidden" name="refresh_summary_page" value="true" />
            <input type="image" src="/images/btn_savechanges.gif" align="absmiddle" onclick="this.form.onsubmit();return false;" name="followup" />
        <% else %>
            <input type="hidden" name="appraisal_follow_up_list[id]" value="" />
            <input type="image" src="/images/btn_followup.gif" align="absmiddle" onclick="this.form.onsubmit();return false;" name="followup" />
        <% end %>
        </p>
<% end %>
    </div>
<% unless params[:layout] == 'false' %>
    <%= end_form_tag%>
</div>
<% end %>