<div class="appraisal_summary">

    <% unless params[:layout] == 'false' %>
    <div id="pagehead" class="clearfix">
      <div class="header-left">
        <h1>Appraisal Summary</h1>
        <h2>Appraisal Manager: <span id="mad_summary_title_count"><%= @number_of_appraisals %></span> <% if session[:business_unit].appraisal_review_preference(true).high_mileage_enabled && params[:is_high_mileage] == 'true' %>High Mileage<% end %> <%= @number_of_appraisals == 1 ? 'Vehicle' : 'Vehicles' %></h2>
        <% if session[:business_unit].appraisal_review_preference.high_mileage_enabled %>
        <% if @number_of_alternate_appraisals > 0 %>
        <% if params[:is_high_mileage] == 'true' %>
        <p><%= link_to("#{@number_of_alternate_appraisals} vehicles analyzed with lower mileage", {:action => 'appraisal_summary_list', :is_high_mileage => 'false'}) %></p>
        <% else %>
        <p><%= link_to("#{@number_of_alternate_appraisals} vehicles analyzed with high mileage", {:action => 'appraisal_summary_list', :is_high_mileage => 'true'}) %></p>
        <% end %>
        <% end %>
        <% end %>
        <%= render :partial => 'appraisal_review_follow_up_list_summary', :object => nil, :locals => { :number_of_appraisal_review_follow_ups => @number_of_appraisal_review_follow_ups } %>
      </div>
      <div class="header-right" style="position:relative;">
        <p class="dealername"><%= @session[:business_unit].name %></p>
        <p class="sidelinks">
        <%= link_to("Make-A-Deal Summary", url_for(:action => 'index'), {'hh:interaction' => 'click:Appraisal Review Navigation/Make a Deal Summary'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to("Review Follow Ups", url_for(:action => 'appraisal_review_follow_up_list'), {'hh:interaction' => 'click:Appraisal Review Navigation/Follow Up Summary'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to('Appraisal Manager', url_for(:action => :redirect_to_external_url, :external_url => '/IMT/AppraisalManagerAction.go'), {'hh:interaction' => 'click:Appraisal Review Navigation/Trade Manager'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to_remote('Options', { :url => { :controller => 'appraisal_review', :action => 'appraisal_review_preference' }, :complete => "AppraisalPreferenceRulesDHTML(request,280,10,'pagehead')" }, {'hh:interaction' => 'click:Appraisal Review Navigation/Appraisal Review Preferences'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to_remote('Create Meeting Workbook', { :url => { :controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet_form' }, :complete => "AppraisalReviewBookletFormDHTML(request,280,10,'pagehead')" }, {'hh:interaction' => 'click:Appraisal Review Navigation/Create Workbook'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to('Meeting Workbooks', url_for(:controller => 'appraisal_review_booklet', :action => 'index'), {'hh:interaction' => 'click:Appraisal Review Navigation/Workbook History'}) %>
        </p>
        <div id="0_months_ago"></div>
      </div>
    </div>
    <% end %>

    <div class="appraisal_summaries">
        <%= render_proxy_component_collection(:proxy_component_collection => @proxy_component_collection, :proxy => (params[:proxy].nil? || params[:proxy] == 'true')) %>
    </div>
    
</div>
