<script type="text/javascript">
// Google Analytics.
document.title = "Make-A-Deal Follow Up List";
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<%= GOOGLE_ACCOUNT%>', 'auto');
ga('send', 'pageview');

</script>

<div class="appraisal_reviews">

    <% unless params[:layout] == 'false' %>      
    <div id="pagehead" class="clearfix">
      <div class="header-left">
        <h1>Make-A-Deal Follow Up List</h1>
        <h2>Take a Second Look  <span id="follow_up_summary_title_count"><%= @number_of_appraisal_review_follow_ups %></span> Vehicles</h2>
      </div>
      <div class="header-right">
        <p class="dealername"><%= @session[:business_unit].name %></p>
        <p class="sidelinks">
        <%= link_to('Appraisal Manager', url_for(:action => :redirect_to_external_url, :external_url => '/IMT/AppraisalManagerAction.go'), {'hh:interaction' => 'click:Appraisal Review Navigation/Trade Manager'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to('Make-A-Deal Summary', url_for(:controller => 'appraisal_review'), {'hh:interaction' => 'click:Appraisal Review Navigation/Make a Deal Summary'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span> 
        <%= link_to_remote('Create Meeting Workbook', { :url => { :controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet_form' }, :complete => "AppraisalReviewBookletFormDHTML(request,280,10,'pagehead')" }, {'hh:interaction' => 'click:Appraisal Review Navigation/Create Workbook'}) %>
        <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
        <%= link_to('Meeting Workbooks', url_for(:controller => 'appraisal_review_booklet', :action => 'index'), {'hh:interaction' => 'click:Appraisal Review Navigation/Workbook History'}) %>
        </p>
        <div id="0_months_ago"></div>
      </div>
    </div>
    <% end %>
    
    <div class="potential-deals potential-deals-summary-table clearfix">
        <% @appraisal_reviews.each do |appraisal_review| %>
            <% root = "appraisal_review_#{appraisal_review.id}" %>
            <div id="<%= root %>" class="<%= cycle('bucket-clear', 'bucket') %>">
                <%= render(:partial => 'appraisal_review_follow_up', :object => nil, :locals => { :appraisal_review => appraisal_review, :root => root }) %>
            </div>
        <% end %>
    </div>
</div>
