<h1>Make a Deal Meeting Booklet</h1>
<div id="booklet_template_content">
    <span class="date"><%= Date.today.strftime('%m/%d/%Y') %></span>
</div>
<!-- ### CONTENT ################### -->

<table id="toc">
    <caption>Table of Contents</caption>
<% if params['include_appraisal_review_follow_up_summary'] == 'true' %>
	<tr>
		<td><a href="#follow_up_summary">Follow Up Summary List</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_review_follow_up_detail'] == 'true' %>
	<tr>
		<td><a href="#follow_up_detail">Follow Up Details</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_review_summary'] == 'true' %>
	<tr>
		<td><a href="#second_look_summary">Second Look Summary List</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_review_detail'] == 'true' %>
	<tr>
		<td><a href="#second_look_detail">Second Look Details</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_review_high_mileage_summary'] == 'true' %>
	<tr>
		<td><a href="#second_look_high_mileage_summary">Second Look Summary List (High Mileage Vehicles)</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_review_high_mileage_detail'] == 'true' %>
	<tr>
		<td><a href="#second_look_high_mileage_detail">Second Look Details (High Mileage Vehicles)</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_summary'] == 'true' %>
	<tr>
		<td><a href="#trade_manager_appraisals">Trade Manager Appraisals</a></td>
	</tr>
<% end %>
<% if params['include_appraisal_summary_high_mileage'] == 'true' %>
	<tr>
		<td><a href="#trade_manager_appraisals_high_mileage">Trade Manager Appraisals (High Mileage Vehicles)</a></td>
	</tr>
<% end %>
</table>


<% if params['include_appraisal_review_follow_up_summary'] == 'true' %>
<h2 id="follow_up_summary">Follow Up Summary Pages</h2>
<div class="mad_print_summaries followup_summaries">
<%= render_component :controller => 'appraisal_review', :action => 'appraisal_review_follow_up_list', :params => { :proxy => 'false', :layout => 'false' } %>
</div>
<% end %>

<% if params['include_appraisal_review_follow_up_detail'] == 'true' %>
<h2 id="follow_up_detail">Follow Up Detail Pages</h2>
<div class="mad_print_details">
<% @appraisal_reviews_in_follow_up_list.each do |appraisal_review| %>
<%= render_component :controller => 'appraisal_review', :action => 'detail', :params => { :proxy => 'false', :layout => 'false', :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id, :follow_up_mode => true } %>
<% end %>
</div>
<% end %>

<% if params['include_appraisal_review_summary'] == 'true' %>
<!-- summary:start -->
<h2 id="second_look_summary">Second Look Summary List</h2>
<div class="mad_print_summaries">
<%= render_component :controller => 'appraisal_review', :action => 'index', :params => { :proxy => 'false', :layout => 'false', :days_back => @days_back } %>
</div>
<!-- summary:end -->
<% end %>

<% if params['include_appraisal_review_detail'] == 'true' %>
<h2 id="second_look_detail">Second Look Detail Pages</h2>
<div class="mad_print_details">
<% @appraisal_reviews.each do |appraisal_review| %>
<%= render_component :controller => 'appraisal_review', :action => 'detail', :params => { :proxy => 'false', :layout => 'false', :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id } %>
<% end %>
</div>
<% end %>

<% if params['include_appraisal_review_high_mileage_summary'] == 'true' %>
<h2 id="second_look_high_mileage_summary">Second Look Summary List (High Mileage Vehicles)</h2>
<div class="mad_print_summaries">
<%= render_component :controller => 'appraisal_review', :action => 'index', :params => { :is_high_mileage => 'true', :proxy => 'false', :layout => 'false', :days_back => @days_back } %>
</div>
<% end %>

<% if params['include_appraisal_review_high_mileage_detail'] == 'true' %>
<h2 id="second_look_high_mileage_detail">Second Look Detail Pages (High Mileage Vehicles)</h2>
<div class="mad_print_details">
<% @high_mileage_appraisal_reviews.each do |appraisal_review| %>
<%= render_component :controller => 'appraisal_review', :action => 'detail', :params => { :is_high_mileage => 'true', :proxy => 'false', :layout => 'false', :appraisal_id => appraisal_review.appraisal_id, :day_id => appraisal_review.day_id } %>
<% end %>
</div>
<% end %>

<% if params['include_appraisal_summary'] == 'true' %>
<h2 id="trade_manager_appraisals">Trade Manager Appraisals</h2>
<div class="mad_print_appraisals">
<%= render_component :controller => 'appraisal_review', :action => 'appraisal_summary_list', :params => { :proxy => 'false', :layout => 'false', :days_back => @days_back } %>
</div>
<% end %>

<% if params['include_appraisal_summary_high_mileage'] == 'true' %>
<h2 id="trade_manager_appraisals_high_mileage">Trade Manager Appraisals (High Mileage Vehicles)</h2>
<div class="mad_print_appraisals">
<%= render_component :controller => 'appraisal_review', :action => 'appraisal_summary_list', :params => { :is_high_mileage => 'true', :proxy => 'false', :layout => 'false', :days_back => @days_back } %>
</div>
<% end %>

<!-- ### CONTENT ################### -->
