<% unless is_print_page %>
<div id="pagehead" class="clearfix">
  <div id="header-left">
    <h1>Make-A-Deal:  
        <span style="color:#4f7ba7;padding-bottom:3px;font-weight:normal;">
        <% if params[:follow_up_mode] %>
        Follow Up Review
        <% else %>
        Second Look Review
        <% end %>
        </span>
    </h1>
  </div>
  <div id="header-right">
    <p class="sidelinks" style="margin-top:1px">
       <% if params[:follow_up_mode] %>
       <%= link_to("Follow Up Summary", url_for(:action => 'appraisal_review_follow_up_list'), {'hh:interaction' => 'click:Appraisal Review Navigation/Follow Up Summary'}) %>
       <span style="font-size:10px;font-weight:normal;color:#999;">|</span> 
       <% end %>
       <%= link_to('Make-A-Deal Summary', url_for(:controller => 'appraisal_review'), {'hh:interaction' => 'click:Appraisal Review Navigation/Make a Deal Summary'}) %> 
       <span style="font-size:10px;font-weight:normal;color:#999;">|</span> 
       <%= link_to_remote('Create Meeting Workbook', { :url => { :controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet_form' }, :complete => "AppraisalReviewBookletFormDHTML(request,280,10,'pagehead')" }, {'hh:interaction' => 'click:Appraisal Review Navigation/Create Workbook'}) %>
       <span style="font-size:10px;font-weight:normal;color:#999;">|</span> 
       <%= link_to('View Appraisal', url_for(:action => :redirect_to_external_url, :external_url => "/IMT/TradeManagerEditDisplayAction.go", :pageName => 'bullpen', :appraisalId => "#{@appraisal.id}"), {'hh:interaction' => 'click:Appraisal Review Navigation/Trad	e Manager'}) %>
       <span class="dealername" style="margin-left:13px"><%= @session[:business_unit].name %></span>
    </p>
    <div id="0_months_ago"></div>
  </div>
</div>
<% end %>

<%= tag('div', is_print_page ? {:class => 'pagecontainer'} : {:id => 'pagecontainer'}, true) %>
    <%= tag('div', {:class => 'clearfix'}.update(is_print_page ? {} : {:style => 'margin-bottom:5px;'}), true) %>
        <%= tag('div', {:class => 'flags'}.update(is_print_page ? {} : {:style => 'float:right;margin-right:10px;width:500px;'}), true) %>
            <%= render :partial => "rule_flags", :object => nil, :locals => { :appraisal_review => @appraisal_review } %>
        </div>
        <%= tag('p', {:class => 'vehicle-id'}.update(is_print_page ? {} : {:style => 'padding-bottom:10px;padding-top:13px;'}), true) %>
            <%= tag('span', {:class => 'rule_value_vehicle'}.update(is_print_page ? {} : {:style => 'margin-left:0;padding-left:0;font-size:13px;'}), true) %>
                <%= light_name_to_image(@appraisal_review.vehicle_inventory_light.name)%> 
                <%= @appraisal.vehicle.model_year %>
                <%= @appraisal.vehicle.vehicle_make.name %>
                <%= @appraisal.vehicle.vehicle_line.name %>
                <%= @appraisal.vehicle.series %>
            </span>
            <br />
            <%= tag('span', {:class => "secondary-id"}.update(is_print_page ? {} : {:style => 'margin-left:15px;'}), true) %>Mileage: <%= format_mileage(@appraisal.vehicle_mileage) %></span>
            <%= tag('span', {:class => "secondary-id"}.update(is_print_page ? {} : {:style => 'margin-left:15px;'}), true) %>Color: <%= @appraisal.vehicle.color %></span><br />
            <%= tag('span', {:class => "secondary-id"}.update(is_print_page ? {} : {:style => 'margin-left:15px;'}), true) %>VIN: <%= @appraisal.vehicle.vin %></span>
<% if is_print_page %>
    <span>Risk: <%= @appraisal_review.vehicle_inventory_light.name %></span>
    <span class="appraisal-date">Last Appraised: 
    <% if @appraisal.appraisal_valuations.nil? || @appraisal.appraisal_valuations.empty? %>
        <hr />
    <% else %>
        <%= @appraisal.appraisal_valuations.first.date_created.strftime("%m/%d/%Y") %>
    <% end %>
    </span>
<% else %>
            <br style="margin-top:5px;" />
<% end %>
        </p>
    </div>
    
<% unless is_print_page %>
    <% if params[:follow_up_mode] %>
    <input type="image" src="/images/btn_followup_rmv.gif" name="remove" class="followupbutton" style="float:right;margin:-1px 0 2px 0;" onclick="<%= remote_function(:url => url_for({ :action => 'delete_appraisal_review_from_follow_up_list', :appraisal_id => @appraisal.id, :day_id => @appraisal_review.day_id, 'appraisal_review_follow_up[id]' => @appraisal_review.appraisal_review_follow_up.id, :return_to_summary => true, :escape => true })) %>" />
    <% else %>
    <input type="image" src="/images/btn_remove.gif" name="remove" class="followupbutton" style="float:right;margin:-1px 0 2px 0;" onclick="<%= remote_function(:url => url_for({ :action => 'delete_from_list', :appraisal_id => @appraisal.id, :day_id => @appraisal_review.day_id, :rule => nil, :return_to_summary => true, :escape => true }))%>" />
    <% end %>   
<% end %>
    

<!-- ==== FOLLOWUP ============================================================================= -->	
<% unless is_print_page %>
        <h3>FOLLOW UP</h3>
<% end %>
    <div class="followup-info clearfix">
<% if is_print_page %>
        <h3>FOLLOW UP</h3>
<% end %>
    
          <div<% unless params[:layout] == 'false' %> class="appraisal-container clearfix"<% end %>>
            <div class="bluebar clearfix">
            
<%= render :partial => "update_appraisal_review_and_add_to_follow_up_list", :object => nil, :locals => { :appraisal => @appraisal, :appraisal_review => @appraisal_review } %>

<% if params[:layout] == 'false' %>
    <%= render :partial => 'appraisal_and_customer', :locals => { :appraisal => @appraisal, :customer => @appraisal.customer } %>
<% end %>

            
            </div>
        </div>



<% unless params[:layout] == 'false' %>
        <div style="float:left;width:455px;margin-right:7px;">
            <h4 style="clear:left;padding:4px 0 2px 0;">Potential Deal  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight:normal;font-size:9px"><%= link_to_function "Edit", "Element.toggle('appraisal_read', 'appraisal_edit');" %></span></h4>
            <div id="appraisal-container" class="clearfix" style="background:#FFF url(/images/shading.jpg) bottom left repeat-x;">
                <div class="appraisalbox customer" id="appraisal" style="font-size:10pt">
                    <%= render :partial => "appraisal", :object => @appraisal %>
                </div>
            </div>
        </div>
        <div style="float:left;width:455px;">
            <h4 style="padding:4px 0 2px 0;">Customer Information  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight:normal;font-size:9px"><%= link_to_function "Edit", "Element.toggle('customer_read', 'customer_edit');" %></span></h4>
            <div id="appraisal-container" class="clearfix" style="background:#FFF url(/images/shading.jpg) bottom left repeat-x;">
                <div class="appraisalbox customer" id="customer" style="font-size:10pt">
                    <%= render :partial => "customer", :object => @appraisal.customer, :locals => { :appraisal_id => @appraisal.id } %>
                </div>
            </div>
        </div>
<% end %>

       
    </div>    
<!-- ==== /FOLLOWUP ============================================================================= -->	   


<!-- ==== OPTIONAL TOOLS ========================================================== -->
<%- unless is_print_page -%>
<%- width_class = @has_pingII && @has_tmv && @has_kbb ? "thrid" : "" -%>

<%- if @has_tmv -%>
<div id="edmundsTMV" class="box_light <%= width_class %>">
	<form action="<%= url_for(:action => :redirect_to_external_url, :external_url => "/IMT/EdmundsTmvRedirectionAction.go") %>" method="post" target="TMV">
		<h3><label for="tmv_submit">True Market Value</label></h3>
		<input type="hidden" name="appraisalId" value="<%= @appraisal.id %>" />
		<div class="content">
			<input type="image" id="tmv_submit" name="tmv_submit" src="/images/tmv_edmunds_market_logo.gif" />
		</div>
	</form>
</div>
<%- end -%>
<%- if @has_kbb -%>
<div id="kbb" class="box_light <%= width_class %>">
	<form action="/IMT/KbbConsumerValueLandingAction.go" target="KBB" method="get" accept-charset="utf-8">
		<h3><label for="kbb_submit">Blue Book Consumer Tool</label></h3>	
		<input type="hidden" name="mileage" value="<%= @appraisal.vehicle_mileage %>" />
		<input type="hidden" name="vin" value="<%= @appraisal.vehicle.vin %>" />
		<div class="content">
			<input type="image" name="kbb_submit" id="kbb_submit" src="/images/kbb_logo.gif" />
		</div>
	</form>
</div>
<%- end -%>
<%- end -%>
<!-- ==== /OPTIONAL TOOLS ========================================================= -->


<!-- ==== BOOKS ============================================================================= -->	
 	<div class="book-info" style="<% unless params[:layout] == 'false' %>margin-top:0px;<% end %>">
        <% unless params[:layout] == 'false' %>
           <p style="margin-top:1px;padding-top:0;font-size:9px;line-height:9px;">&nbsp;</p>
        <% end %>
        <h3>MILEAGE, OPTIONS AND BOOK VALUES</h3>
		<% for book_vehicle_summary in @book_vehicle_summaries %>
            <%
                if book_vehicle_summary.book.name == 'BlackBook'
                    book_abbrev = 'bb'
                end
                if book_vehicle_summary.book.name == 'KBB'
                    book_abbrev = 'kbb'
                    kbb_condition = nil
                    for book_category_valuation in book_vehicle_summary.book_valuation.book_category_valuations
                        if book_category_valuation.book_category.id == 11 and kbb_condition == nil
                            kbb_condition = 'Condition: ' + book_category_valuation.book_values.first.book_subcategory.name
                        end
                    end

                end
                if book_vehicle_summary.book.name == 'NADA'
                    book_abbrev = 'nada'
                end
                if book_vehicle_summary.book.name == 'Galves'
                    book_abbrev = 'galves'
                end
            %>
            
<div class="bookbox <%= book_abbrev %><% if book_vehicle_summary == @book_vehicle_summaries[1] %> second<% end %>">

            	<div class="<%= book_abbrev %>logo">
                    <h4><strong><%= book_vehicle_summary.book.name %> Calculator</strong></h4>
                    <p>
                        <strong><%= book_vehicle_summary.book_vehicle.description %></strong><br />
                        Mileage: <%= format_mileage(@appraisal.vehicle_mileage) %>
                        <% if book_vehicle_summary.book.name != 'KBB'%>
                		<!-- non-KBB Layout -->
	                		<% unless book_vehicle_summary.book_valuation.nil? %>
		                        <br />Mileage Adj : <%= money(book_vehicle_summary.book_valuation.mileage_adjustment) %>&nbsp;
		                        <% 	for book_category_valuation in book_vehicle_summary.book_valuation.book_category_valuations
		                                for book_value in book_category_valuation.book_values
			                        		if book_value.book_value_type.id == 4 # options value
		              							trade_in_options = book_value.value
		            						end
		          						end
		          					end
		          				%>
		                        Options Adj : <%= money(trade_in_options) %>
		                    <%end%>
	                    <% end %>
                        <% unless kbb_condition.nil? %>
                            <span style="margin-left:20px;"><%= kbb_condition %></span>
                        <% end %>
                    </p>
            	</div>

<% unless book_vehicle_summary.book_valuation.nil? %>     
            <%  tableClass = ''
                if book_vehicle_summary.book.name == 'KBB' 
                    tableClass = ' class="kbbValuesTable"' 
                end   
            %>
       
            <table<%= tableClass %>>
                <%
                idRule3 = ''
                if (@appraisal_review.rule_1 == 1) && (@appraisal_review.rule_3 == 1) && (book_vehicle_summary.book.id != 2) && (@appraisal_review.book_category_id != @session[:business_unit].business_unit_preference.primary_book_category_id) 
                    idRule3 = ' id="rule_value_book_value" style="background-color:#fff949"'
                end
                %>
                <% if book_vehicle_summary.book.name != 'KBB'%>
                <!-- non-KBB Layout -->
                <tr class="datahead">
                    <% for book_category_valuation in book_vehicle_summary.book_valuation.book_category_valuations %>
                        <td><%= book_category_valuation.book_category.name %></td>
                    <% end %>
                </tr>
                <tr<%= idRule3 %>>
                    <% for book_category_valuation in book_vehicle_summary.book_valuation.book_category_valuations %>
                            <% 
                                idToWrite = ''
                                if (@appraisal_review.rule_1 == 1) && (book_vehicle_summary.book.id == @appraisal_review.book_id) && (book_category_valuation.book_category_id == @appraisal_review.book_category_id ) && (@appraisal_review.book_category_id == @session[:business_unit].business_unit_preference.primary_book_category_id)
                                    idToWrite = ' id="rule_value_book_value" style="background-color:#fff949"'
                                elsif (@appraisal_review.rule_3 == 1) && (book_vehicle_summary.book.id != 2) && (book_category_valuation.book_category_id == @session[:business_unit].business_unit_preference.primary_book_category_id) 
                                    idToWrite = ' id="rule_value_book_value" style="background-color:#fff949"'
                                end 
                                if (@appraisal_review.rule_3 == 1) && (book_vehicle_summary.book.id == 2) && (book_category_valuation.book_category_id == 3)
                                    idToWrite = ' id="rule_value_nada_loan" style="background-color:#fff949"'
                                end
                            %>
                          <td<%= idToWrite %>>
                          		<% 	for book_value in book_category_valuation.book_values
		                        		if book_value.book_value_type.id == 2 # final value
											finalBookValue = book_value.value
	            						end
	          						end
		          				%>
                           <%= money(finalBookValue) %>
                          </td>
                       <% end %>
                </tr>
                
                <% else %>
                <!--  KBB Layout  -->
                <tr class="kbbBookValuesHeader">
                	<th>Wholesale</th>
                	<th>&nbsp;</th>
                	<th>Retail</th>
                	<% unless session[:business_unit].business_units_upgrades.detect{|u| u.upgrade_id == 17}.nil? %>
                		<th width="30%">Trade-In Values</th>
                    <% end %>
                </tr>
<% 
border_width = '1px'
if params[:layout] == 'false'
    border_width = '0.25pt'
end 
%>
                
                <tr>
                    <td style="border-bottom: dashed <%= border_width %> #999;"><%= money(book_vehicle_summary.kbb_wholesale_base) %></td>
                    <td style="border-bottom: none;">Mileage Adjustment:</td>
                    <td style="border-bottom: dashed <%= border_width %> #999;"><%= money(book_vehicle_summary.kbb_retail_base) %></td>
                    <% unless session[:business_unit].business_units_upgrades.detect{|u| u.upgrade_id == 17}.nil? %>
                    	<td rowspan="3" valign="top" class="kbbTradeIn">
                    		<dl>
                    		<dt style="padding-bottom:2px;">Trade-In</dt><dd><%= money(book_vehicle_summary.kbb_trade_in_base) %></dd>
                    		<dt>&nbsp; Mileage Adj.</dt><dd><%= money(book_vehicle_summary.kbb_mileage_adjustment) %></dd>
                    		<dt>&nbsp; Options Adj.</dt><dd><%= money(book_vehicle_summary.kbb_trade_in_options) %></dd>
                    		<dt style="padding-top:2px;">Trade-In <br />(w/Adj.)</dt><dd><br /><%= money(book_vehicle_summary.kbb_trade_in_final) %></dd>
                    		</dl>
                    	</td>
                    <% end %>
                </tr>
                <tr>
                	<td style="border-bottom: dashed <%= border_width %> #999;" class="greyTitle">Wholesale (w/Adjustment)</td>
                	<td style="border-bottom: dashed <%= border_width %> #999;" ><%= money(book_vehicle_summary.kbb_mileage_adjustment) %></td>
                	<td style="border-bottom: dashed <%= border_width %> #999;" class="greyTitle">Retail (w/Adjustment)</td>
                </tr>
                <tr>
                	<td><%= money(book_vehicle_summary.kbb_wholesale_final) %></td>
                	<td class="greyTitle">&nbsp;</td>
                	<td><%= money(book_vehicle_summary.kbb_retail_final) %></td>
                </tr>
                <% end %>
            </table>
            <% end %>

           <div class="options clearfix"<% unless params[:layout] == 'false' %> style="margin-bottom:0px;"<% end %>>
                <% if !book_vehicle_summary.equipment_options.empty? %>
                <p<% unless params[:layout] == 'false' %> id="optionsTwist_<%=book_vehicle_summary.book.name%>" class="closedArrow" style="cursor:pointer;" onclick="javascript:Effect.toggle('options_info_<%=book_vehicle_summary.book.name%>','slide');toggleArrow(this);"<% end %>><strong>Selected Equipment Options</strong></p>
                <div class="options_info" <% unless params[:layout] == 'false' %>id="options_info_<%=book_vehicle_summary.book.name%>" style="display:none;"<% end %>>
                    <ul>
                    
                        <% for book_vehicle_option in book_vehicle_summary.equipment_options %>
                        <%= render(:partial => 'book_vehicle_option', :object => book_vehicle_option, :locals => { :book_id => book_vehicle_summary.book.id }) %>
                        <% end %>
                        
                    </ul>
                <% else %>
                <div class="options clearfix" style="margin-bottom:0px;">
                    <p><strong>No Equipment Options Selected.</strong></p>
                <% end %>
                    <% if !book_vehicle_summary.engine_options.empty? %>
                    <p style="clear:left;padding-bottom:2px;"><strong>Selected Engine Options:</strong></p>
                    <ul>
                    
                        <% for book_vehicle_option in book_vehicle_summary.engine_options %>
                        <%= render(:partial => 'book_vehicle_option', :object => book_vehicle_option, :locals => { :book_id => book_vehicle_summary.book.id }) %>
                        <% end %>
                        
                    </ul>
                    <% end %>
    
                    <% if !book_vehicle_summary.transmission_options.empty? %>
                    <p style="clear:left;padding-bottom:2px;"><strong>Selected Transmission Options:</strong></p>
                    <ul>
                    
                        <% for book_vehicle_option in book_vehicle_summary.transmission_options %>
                        <%= render(:partial => 'book_vehicle_option', :object => book_vehicle_option, :locals => { :book_id => book_vehicle_summary.book.id }) %>
                        <% end %>
                        
                    </ul>
                    <% end %>
                    <% if !book_vehicle_summary.drive_chain_options.empty? %>
                    <p style="clear:left;padding-bottom:2px;"><strong>Selected Drive Chain Options:</strong></p>
                    <ul>
                    
                        <% for book_vehicle_option in book_vehicle_summary.drive_chain_options %>
                        <%= render(:partial => 'book_vehicle_option', :object => book_vehicle_option, :locals => { :book_id => book_vehicle_summary.book.id }) %>
                        <% end %>
                        
                    </ul>
                    <% end %>
                    <% if !book_vehicle_summary.general_options.empty? %>
                    <p style="clear:left;padding-bottom:2px;"><strong>Selected General Options:</strong></p>
                    <ul>
                    
                        <% for book_vehicle_option in book_vehicle_summary.general_options %>
                        <%= render(:partial => 'book_vehicle_option', :object => book_vehicle_option, :locals => { :book_id => book_vehicle_summary.book.id }) %>
                        <% end %>
                        
                    </ul>
                    <% end %>
                </div>   
            </div>
</div>
		<% end %>

    </div>
<!-- ==== /BOOKS ============================================================================= -->	



<!-- ==== NAAA ============================================================================= -->	

    <div<% unless params[:layout] == 'false' %> id="rule_value_rule_2_div" style="margin-top:0px;"<% end %>>
        <div class="NAAA-info clearfix"<% unless params[:layout] == 'false' %> style="clear:both;width:930px;"<% end %>>
            <% unless params[:layout] == 'false' %>
                <p style="margin-top:1px;padding-top:0;font-size:9px;line-height:9px;">&nbsp;</p>
            <% end %>
            <a class='link_btn' style="float: right;" href="https://www.manheim.com/members/internetmmr?vin=<%= @appraisal.vehicle.vin %>" target='MMR' title="Connect to MMR"><img src="/images/btn_connectToMMR.gif" width="106" height="20" alt="Connect to MMR" /></a>
            <h3<% unless params[:layout] == 'false' %> id="auctionTwist" class="openArrow" onclick="javascript:Effect.toggle('auctionBox','slide');toggleArrow(this);" style="cursor:pointer"<% end %>>NAAA AUCTION DATA</h3>
            <div<% unless params[:layout] == 'false' %> id="auctionBox"  style="width:930px;"<% end %> class="auctionbox">
                <%= render_proxy_component :proxy_component_symbol => :naaa_report_proxy_component, :proxy => (params[:proxy].nil? || params[:proxy] == 'true'), :proxy_component_params => {
                    :vin                  => @appraisal.vehicle.vin,
                    :vic                  => @appraisal.vehicle.vic,
                    :vehicle_id           => @appraisal.vehicle.id,
                    :vehicle_line_id      => @appraisal.vehicle.vehicle_line.id,
                    :model_year           => @appraisal.vehicle.model_year,
                    :vehicle_mileage      => @appraisal.vehicle_mileage,
                    :rule_2               => @appraisal_review.rule_2
                } %>
            </div>
        </div>
    </div>
<!-- ==== /NAAA ============================================================================= -->	

<!-- ==== PERFORMANCE ============================================================================= -->	
    <div<% unless params[:layout] == 'false' %> id="rule_value_performance" style="margin-top:8px"<% end %>>
        <div class="performance-info clearfix">
            <h3<% unless params[:layout] == 'false' %> id="perfTwist" class="openArrow" style="cursor:pointer;" onclick="javascript:Effect.toggle('perfBox','slide');toggleArrow(this);"<% end %>>PERFORMANCE SUMMARY</h3>
            <div class="perfbox clearfix"<% unless params[:layout] == 'false' %> id="perfBox" style="display:block;"<% end %>>


                <%= render_proxy_component :proxy_component_symbol => :insights_proxy_component, :proxy => (params[:proxy].nil? || params[:proxy] == 'true'), :proxy_component_params => {
                    :business_unit_id   => session[:business_unit].id,
                    :number_of_weeks    => 26,
                    :vehicle_segment_id => @appraisal.vehicle.vehicle_segment.id,
                    :model_year         => @appraisal.vehicle.model_year,
                    :series             => nil,
                    :inventory_type     => 'Used',
                    :vehicle_mileage    => @appraisal.vehicle_mileage
                } %>
                <div class="trade_analyzer_report">
                    <div class="trade_analyzer_report_form clearfix">
                        <p style="margin:2px 0 2px 6px;padding:0;color:#333;"><strong>Previous 26 Weeks for <%= session[:business_unit].name %></strong></p>
                    </div>
                    <div class="trade_analyzer_report_results">
                    
                        <%= render_proxy_component :proxy_component_symbol => :trade_analyzer_report_proxy_component, :proxy => (params[:proxy].nil? || params[:proxy] == 'true'), :proxy_component_params => {
                                :business_unit_id => session[:business_unit].id,
                                :number_of_weeks => 26,
                                :make => @appraisal.vehicle.vehicle_make.name,
                                :line => @appraisal.vehicle.vehicle_line.qualified_name,
                                :series => @appraisal.vehicle.series,
                                :include_dealer_group => false,
                                :inventory_type => 'Used'
                            } %>
                        <%= render_proxy_component :proxy_component_symbol => :trade_analyzer_report_proxy_component, :proxy => (params[:proxy].nil? || params[:proxy] == 'true'), :proxy_component_params => {
                                :business_unit_id => session[:business_unit].id,
                                :number_of_weeks => 26,
                                :make => @appraisal.vehicle.vehicle_make.name,
                                :line => @appraisal.vehicle.vehicle_line.qualified_name,
                                :series => nil,
                                :include_dealer_group => false,
                                :inventory_type => 'Used'
                            } %>  
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- ==== /PERFORMANCE ============================================================================= -->	

<!-- ==== REDIST  ============================================================================= -->	
    <div<% unless params[:layout] == 'false' %> id="rule_value_rule_5" style="margin-top:0px;"<% end %>>
        <div class="redist-info"<% unless params[:layout] == 'false' %> style="width:930px;"<% end %>>
            <h3<% unless params[:layout] == 'false' %> id="redistTwist" class="closedArrow" style="cursor:pointer;" onclick="javascript:Effect.toggle('redistTable','slide');toggleArrow(this);"<% end %>>IN GROUP DEMAND</h3>    
            <div<% unless params[:layout] == 'false' %> id="in_group_redistribution_info_holder"<% end %>>
                <%= render_proxy_component :proxy_component_symbol => :in_group_redistribution_report_proxy_component, :proxy => (params[:proxy].nil? || params[:proxy] == 'true'), :proxy_component_params => {
                        :business_unit_id => session[:business_unit].id,
                        :vehicle_segment_id   => @appraisal.vehicle.vehicle_segment_id,
                        :model_year           => @appraisal.vehicle.model_year
                    } %>
            </div>
        </div> 
    </div>
<!-- ==== /REDIST ============================================================================= -->	

<!-- ==== CARFAX-AUTOCHECK ==================================================================== -->	
	<% unless is_print_page() %>
	<div <% unless params[:layout] == 'false' %> id="rule_value_6" style="margin-top:0px"<% end %>>
		<h3<% unless params[:layout] == 'false' %> id="checkTwist" class="openArrow" style="cursor:pointer;" onclick="javascript:Effect.toggle('car_check_info_holder','slide');toggleArrow(this);" <% end %>>CAR CHECK</h3>
		<div<% unless params[:layout] == 'false' %> id="car_check_info_holder" class="perfbox clearfix" style='padding: 5px 5px;'<% end %>>		
			<%= render :partial => "carfax_form", :locals => { 
						:has_carfax_account => @has_carfax_account, 
						:can_purchase_carfax_report => @can_purchase_carfax_report,
						:has_carfax_report => @has_carfax_report, 
						:carfax_report => @carfax_report,
						:carfax_report_type => @carfax_report_type,
						:vin => @appraisal.vehicle.vin
				} %>
			<% unless @has_autocheck_account %>
			<% if @can_purchase_autocheck_report || !@autocheck_report.nil? %>
			<div id="autotracker_wrapper">
				<a href="/support/Reports/AutoCheckReport.aspx?DealerId=<%= @session[:business_unit].id %>&Vin=<%= @appraisal.vehicle.vin %>" onclick="AutoCheckReportPop('<%= @session[:business_unit].id %>','<%= @appraisal.vehicle.vin %>'); return false;"><img src="/IMT/images/partners/AutocheckHorizontalSM_on333333.png" width="96" height="25" /> Request &amp; View Autocheck</a>
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
	<% end %>
<!-- ==== /CARFAX-AUTOCHECK =================================================================== -->	

<% unless params[:layout] == 'false' %>
    <div id="ta-info" style="display:none;">
        <p style="margin-top:1px;padding-top:0;font-size:9px;line-height:9px;">&nbsp;</p>
        <%= form_remote_tag :url => { :action => :update_appraisal_action } %>
        <input type="hidden" name="appraisal_action[appraisal_id]" value="<%= @appraisal.id %>" />
        <h3>TRADE ANALYZER INFO</h3> 
        <div class="tabox clearfix">
            <p>
             <span><strong><%= @appraisal.vehicle.model_year %> <%= @appraisal.vehicle.vehicle_make.name.upcase %> <%= @appraisal.vehicle.vehicle_line.qualified_name %> <%= @appraisal.vehicle.series.upcase %></strong></span>
             <span style="padding-left:8px;"><strong>VIN:</strong> <%= @appraisal.vehicle.vin %></span>
             <span style="padding-left:8px;"><strong>Trade Analyzer Date:</strong> <%= @appraisal.date_created %></span>
            </p>
            <p style="padding-top:3px;">
             <span><%= radio_button "appraisal_action", "appraisal_action_type_id", "1", { } %> <label for="appraisal_action_appraisal_action_type_id_1">Place in Retail Inventory</label></span>
             <span style="padding-left:8px;"><%= radio_button "appraisal_action", "appraisal_action_type_id", "2", { } %> <label for="appraisal_action_appraisal_action_type_id_2">Offer to Group (Wholesale)</label></span>
             <span style="padding-left:8px;"><%= radio_button "appraisal_action", "appraisal_action_type_id", "3", { } %> <label for="appraisal_action_appraisal_action_type_id_3">Sell to Wholesaler or Auction</label></span>
             <span style="padding-left:8px;"><%= radio_button "appraisal_action", "appraisal_action_type_id", "4", { } %> <label for="appraisal_action_appraisal_action_type_id_4">Not Traded-In</label></span>
             <span style="padding-left:8px;"><%= radio_button "appraisal_action", "appraisal_action_type_id", "5", { } %> <label for="appraisal_action_appraisal_action_type_id_5">Decide Later</label></span>
            </p>
             <p style="padding-top:3px;float:left;">Wholesale Price: $ <%= text_field "appraisal_action", "wholesale_price", "value" => "", "size" => "7" %></p>
             <p style="float:left;"><label for="appraisal_action_estimated_reconditioning_cost">Est. Recon. Cost: $</label> <%= text_field "appraisal_action", "estimated_reconditioning_cost", "value" => "", "size" => "7" %></p>
             <p style="float:left;"><label for="color">Color:</label>
                <select id="color" name="color">
                    <% if @appraisal.vehicle.color.empty? %>
                        <option value="" selected="selected">&nbsp;</option>
                    <% else %>
                        <option value="">&nbsp;</option>
                    <% end %>
                    <%= options_for_select @colors.collect{|c| [c,c]}, @appraisal.vehicle.color %>
                </select>
            </p>
            <p style="float:left;"><label for="appraisal_action_conditioning_description" style="vertical-align:top;">Conditioning Description:</label> <%= text_area "appraisal_action", "conditioning_description", "cols" => "30", "rows" => "3" %></p>
            <br />
            <input type="submit" name="Submit" value="Submit" style="margin-left:10px;" />
        </div>
        <%= end_form_tag %>
    </div>
<% end %>

</div>
<% session[:future_task].notify_completed_unit_of_work() unless session[:future_task].nil? %>
