
.profileWrap { padding: 10px 0; background-color: white; }
h1 { padding: 3px 10px; margin: 0; font-size: 11px; background-color: #D1DBF4; }

.req { color: #900; padding-right: 3px; }
	div.req { float: right; clear: both; padding: 10px 10px 0 0; }

.memberProfile, .contactInfo, .partnerCred, .alertsSetup, .presetFilters  { padding: 10px; }

label { width: 155px; }
.profileWrap input, .profileWrap select { font-size: 11px; width: 150px; }

.btn { clear: both; padding-right: 10px; }
	.btn input, .btn img { float: right; width: auto; }

ul, li { list-style: none; display: inline; margin: 0; padding: 0; vertical-align: top; }

/* general spacing */
.memberProfile div, .contactInfo div, .partnerCred div, .presetFilters div { margin-bottom: 5px; }

	/* member profile exceptions */
	.memberProfile li { padding-right: 10px; }
	.nameLabel { margin-top: 18px; }
		.sal, .sal select { width: 50px; vertical-align: bottom; }
			.sal select {  margin-bottom: 1px; }
		.first, .first label, .first input { width: 120px; }
		.mid, .mid label, .mid input { width: 35px; }
		.last, .last label, .last input { width: 120px; }
	.memberProfile div.login { margin-top: 15px; }

	/* contact information exceptions */
	.contactInfo div.sms, .contactInfo div.prefMeth  { margin-top: 15px; }
		label.ext { padding-left: 10px; padding-right: 10px; width: auto; }
		.phone input { width: 40px; }
		.phone input.suffix, .phone input#ext { width: 50px; }
		.prefMeth select { width: auto; }

	/* partner credentials exceptions */
	.partnerCred div.ac { margin-top: 15px; }
		input#cfPassConf { margin-bottom: 3px; }

	/* alerts setup exceptions */
.alertsSetup input, .alertsSetup select { font-size: 11px; width: 150px; }

.alertsSetup h2 { font-size: 11px; padding: 0; margin: 10px 0 5px 0; }
.alertsSetup p { padding: 2px 5px; margin: 0 0 5px 0; border: solid 1px #999; font-size: 10px; }
	.alertsSetup p.topBlurb { padding: 2px 0; margin: 0 0 5px 0; border: none; font-size: 11px; }
.alertsSetup label { width: auto; display: block; /*font-weight: bold;*/ margin-bottom: 3px; }
.alertsSetup input { width: auto; }

	.alertsSetup .alertsPrefs { font-size: 11px; }	

.alertsSetup .freq { width: 150px; }
	.alertsSetup .freq select { width: 140px; }
	.alertsSetup label.check { display: inline; width: auto; }

.alertsSetup .format { width: 110px; }
	.alertsSetup .format ul, .alertsSetup .format li { display: block; margin: 0; padding: 0;  }
	
.alertsSetup .dealerships { width: 440px; }
	.alertsSetup .dealerships ul  { display: block; margin: 0; padding: 0; clear: both;  }
	.alertsSetup .dealerships li  { line-height: 12px; padding-bottom: 1px; }
		.alertsSetup .dealerships li input  { float: left;  }
		.alertsSetup .dealerships li.even  { width: 190px; padding-right: 10px; }
		.alertsSetup .dealerships li.odd  { width: 190px; }
		
	/* preset filters exceptions */
	.presetFilters label { vertical-align: top; }
	.presetFilters select { width: auto; height: 100px; }
	