form { margin: 0; padding: 0; }
body#bookOutBody { margin: 0; /*padding: 15px; background-color: #525252;*/ font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 11px; }

.bo { display: none; }
#bookOutBody ul { padding: 0; margin: 0; }
#bookOutBody li { list-style: none; padding: 0; display: inline; }

	#bookOutBody .btn { text-align: right; margin: 0; clear: both; padding-bottom: 5px; }
	
	/*disabled*/
	.off { color: #999; }

.bookOutWrap h1, .bookOutWrapTA h1 { font-size: 18px; margin: 0; }
.bookOutWrap h4, .bookOutWrapTA h4 { font-size: 11px; margin: 0 0 2px 0; }

.bookOutWrap { background-color: #333; margin: 0 0 5px 0; }
.bookOutWrapTA { background-color: #333; border: solid #999 1px; margin: 0 0 5px 0; }

	.bookOutWrap:after { content: "."; clear: both; height: 0; visbility: hidden; display: block; }
	.bookOutWrapTA:after { content: "."; clear: both; height: 0; visbility: hidden; display: block; }
	
#bookOutBody .bookOutWrap { background-color: #525252; border: solid #999 1px; }

.connectError { color: black; border: solid black 1px; /*margin-top: 10px;*/ font-size: 12px; height: 62px; }
	.connectError img { float: right; }
	.connectError h4 { font-size: 14px; margin: 5px 0 3px 10px; }
	.connectError p { font-size: 12px; margin: 0 0 0 10px; }	
	
.bookHeader, .bookHeaderTA { height: 62px; border: solid black 1px; }
	.KBB { background-color: #D1DBF4; }
	.NADA { background-color: #FCDFA5; }
	.BB { background-color: #CCC; }
	.G { background-color: #93b7dc; }
	
	.neg { color: #8D1717; }
	
.transform { text-transform: uppercase; }	
	
	.bookHeader img { float: right; }
	.bookHeader h1 { margin: 5px 0 0 5px; }
	.bookHeader input { font-size: 14px; }
	.bookHeader select { font-size: 14px; /*width: 130px;*/ }
	
		.mileageAdj { text-transform: none; font-size: 11px; font-weight: normal; white-space: nowrap; display: inline; margin-left: 10px; }
		.mileageAdj input { width: 80px; }

	.bookHeaderTA img { float: right; bottom: 0; }
	.bookHeaderTA h1 { margin: 5px 0 0 5px; }
		.bookHeaderTA h1 span { font-weight: normal; margin: 5px 0 0 5px; }
		.bookHeaderTA h1 span.transform { text-transform: uppercase; font-weight: bold; font-size: 12px; margin: 5px 0 0 2px; }
	.bookHeaderTA input { font-size: 14px; }
	.bookHeaderTA select { font-size: 14px; /*width: 200px;*/ }	
		
	.disclaim { border: solid 1px black; border-top: none; margin: 0; text-align: right;  }
	.disclaim p { font-size: 10px; padding: 2px 5px; margin: 0; }

	.error {width: 100%; border: solid black 1px; clear: both; }
		.error .inner {  height: 50px; vertical-align: middle; padding: 2px; color: #D90404; background-color: white; border: solid #D90404 2px; }
	.error img { float: left;  }
	.error p { float: left; margin: 5px 5px 2px 20px; }	

.valuesWrap { width: 100%; clear: both; }
	
	.bookInfo { background-color: #EEE; border: solid black 2px; border-top-width: 1px; padding: 5px 10px; }
	.bookInfo:after { content: "."; clear: both; height: 0; visbility: hidden; display: block; }
		.bookInfo h4 { font-size: 12px; } 
		.bookInfo .bo { float: left; padding-right: 2px; }
		.bookInfo p { margin: 2px 0 0 0; padding: 0; font-size: 10px; }
		.bookInfo .lastBookoutDate { float: right; font-weight: bold; text-align: right; }
	
	.bookValKBB, .bookValBB, .bookValNADA, .bookValG { width: 100%; background-color: white; }

		.bookOutValuesTbl { width: 100%; border-collapse: collapse; }
			.bookOutValuesTbl th { padding: 2px 0; font-size: 11px; background-color: #EEE; border: solid 2px black; border-bottom: dashed 1px #333; border-top: none; }
			.bookOutValuesTbl td { font-size: 18px; padding: 2px 0; text-align: center; font-weight: bold; border: solid 2px black; border-top: none; text-transform: uppercase; }
		
		/*kbb*/
		.bookValKBB .bookOutValuesTbl td { width: 50%; }
		/*bb*/
		.bookValBB .bookOutValuesTbl td { width: 25%; }
		/*nada*/
		.bookValNADA .bookOutValuesTbl td { width: 33%; }
		/*galves*/
		.bookValG .bookOutValuesTbl td { width: 100%; }


		
.optionsWrap { clear: both; background-color: white; border: solid 1px black; border-top: none; }

	.equipmentOptions { padding: 5px 5px; /*float: left;*/ /*margin-top: 20px; */}
	.equipmentOptions .none { font-weight: bold; font-size: 14px; }
	
		.bookOutOptionsTbl { font-size: 11px; }
			.bookOutOptionsTbl thead td, .bookOutOptionsTbl thead th { font-weight: bold; text-align: left; padding-top: 2px; font-size: 10px; font-weight: normal; text-decoration: underline; }
			.bookOutOptionsTbl td.val { text-align: right; padding-left: 10px; }
			
			/* th's only used for 2nd and 3rd checkbox columns */
			.bookOutOptionsTbl th { padding-left: 20px; }	
			.bookOutOptionsTbl input { padding: 0; margin-right: 5px; }	
	.engineOptions, .transOptions, .driveOptions { /*width: 200px; float: right; clear: right;*/ border-top: solid black 1px; padding: 5px 10px; }

.engineOptions ul, .transOptions ul, .driveOptions ul { list-style:none;margin:0;padding:0; }
