.CIA-TopTitle-13
{
	background-color:#4d4d4d;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	padding-left:20px;
	padding-bottom:13px;
	padding-top:26px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	letter-spacing:3px;
	color:#ffcc33;
}
.CIA-TopTitle-4
{
	background-color:#4d4d4d;
	border-top: 1px solid #000000;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	text-align:center;
}
.CIA-TopTitle-5
{
	background-color:#4d4d4d;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}


.CIA-First-1
{
	background-color:#4d4d4d;
	border-left: 1px solid #000000;
	padding-left:10px;	
}
.CIA-First-2
{
	background-color:#ffffff;
	border-left: 1px solid #000000;
	padding-left:20px;
	padding-top:6px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
}
.CIA-First-3
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-top:6px;
	font-family:arial;
	font-size:11pt;
	font-weight:bold;
	color:#000000;
}
.CIA-First-4
{
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
	background-color:#ffcc33;
	text-align:center;
}
.CIA-First-5
{
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:4px;
	padding-top:6px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	background-color:#4d4d4d;
	text-align:center;
}


.CIA-Middle-1
{
	background-color:#4d4d4d;
	border-left: 1px solid #000000;
	padding-left:10px;
}
.CIA-Middle-2
{
	background-color:#ffffff;
	border-left: 1px solid #000000;
	padding-left:20px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Middle-3
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:11pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Middle-4
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
	background-color:#ffcc33;
	text-align:center;
}
.CIA-Middle-5
{
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:4px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	background-color:#4d4d4d;
	text-align:center;
}


.CIA-Last-1
{
	background-color:#4d4d4d; 
	border-left: 1px solid #000000; 
	padding-left:10px;
}
.CIA-Last-2
{
	background-color:#ffffff;
	border-left: 1px solid #000000; 
	border-bottom: 1px solid #000000;
	padding-left:20px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Last-3
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:11pt;
	font-weight:bold;
	color:#000000;
}
.CIA-Last-4
{
	background-color:#ffffff; 
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:12pt;
	font-weight:bold;
	color:#000000;
	background-color:#ffcc33;
	text-align:center;
}
.CIA-Last-5
{
	background-color:#ffffff;
	border-right: 1px solid #000000;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:6px;
	padding-top:4px;
	font-family:arial;
	font-size:8pt;
	font-weight:bold;
	color:#ffcc33;
	background-color:#4d4d4d;
	text-align:center;
}


.CIA-Bottom-1
{
	background-color:#4d4d4d;
	border-left:   1px solid #000000;
	border-bottom: 1px solid #000000;
}

.CIA-Bottom-234
{
	background-color:#4d4d4d;
	border-bottom: 1px solid #000000;
}

.CIA-Bottom-5
{
	background-color:#4d4d4d;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}