td {font-family: arial, sans-serif;font-size:11px;color:#000;}
span {font-family: arial, sans-serif;font-size:11px;color:#000;}
/*  HELP DIV STYLES */
#helpDiv {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:0px;
    left:0px;
    z-index:50;
}
#helpDiv2 {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:610px;
    top:0px;
    left:0px;
    z-index:50;
}
#TAHelpDiv {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:0px;
    left:0px;
    z-index:50;
}
#agingHelpDiv {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:0px;
    left:0px;
    z-index:50;
}
#VAHelpDiv {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:0px;
    left:0px;
    z-index:50;
}
#redistHelpDiv {
    border:1px solid #999;
    display:none;
    position:absolute;
    width:210px;
    top:0px;
    left:0px;
    z-index:50;
}
.newError {
    font-size:16px;
    font-weight:bold;
    color: #E03228;
    padding:3px;
}
.helpTitle {font-weight:bold;padding:3px;}
.helpCell {padding-bottom:3px;vertical-align:bottom;cursor:help;}
.helpHomeCell {cursor:help;}
.helpTextCell {padding:8px;text-align:justify;}
.xCloser {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px;
    border-left:1px solid #96a1bc;
    border-top:1px solid #96a1bc;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    background-color:#999;
    cursor:hand;
    width:18px;
    height:18px;
    text-align:center;
    vertical-align:middle;
}
/*  NAVIGATION STYLES   */
.separator {padding-bottom:7px;vertical-align:middle;}
.navTextoff {
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    cursor:hand;
}
.navTextoff a {color:#000;text-decoration:none;}
.navTexton {
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    color:#900;
    cursor:hand;
}
.navTexton a {color:#900;text-decoration:none;}
.navTextPrint {
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    color:#cb9921;
}
.navTextGlobal {
    font-family:helvetica,arial,sans-serif;
    font-size:10px;
    font-weight:bold;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:5px;
    text-decoration:none;
}
.navTextGlobal a {text-decoration:none;}
.navTextGlobal a:hover {text-decoration:underline;}
.flmi {
    font-size:8pt;
    font-weight:bold;
    border-bottom:2px solid #000;
    padding:5px;
    cursor:hand;
}
.flmiOver {
    font-size:8pt;
    font-weight:bold;
    color:#d90303;
    background-color:#fcdc7b;
    border-bottom:2px solid #000;
    padding:5px;
    cursor:hand;
}
.dealerNavTable {background-color:#fc3;}
.menu {
    border-left:2px solid #000;
    border-right:2px solid #000;
    background-color:#fc3;
    position:absolute;
    top:0;
    left:0;
    z-index:100;
    visibility:hidden;
}
/*  PAGE TITLE AREA STYLES  */
.pageNickNameLine {
    font-size:14px;
    font-weight:bold;
    color:#fc3;
    padding-left:13px;
    white-space:nowrap;
}
.pageName {
    font-size:25px;
    font-weight:bold;
    color:#fff;
    padding-left:13px;
    padding-right:8px;
    vertical-align:bottom;
    white-space:nowrap;
}
.buttonNavToggle {text-align:right;vertical-align:bottom;padding-right:13px;}
.groupingDescription {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:18px;
    font-weight:bold;
    color:#faf2dc;
}
.vehicleListHeadings {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    color:#fcdc7b;
    padding:2px;
}
.vehicleListHeadingsCenter {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fcdc7b;
    padding:2px;
    text-align:center;
}
.vehicleListData {
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px;
}
.homeText {
    font-size:16px;
    color:#faf2dc;
    font-weight:bold;
    text-align:justify;
    text-justify:newspaper;
    padding:28px;
}
.zeroes {background-color:#000;}
.threes {background-color:#333;}
.mainBackground {background-color:#525252;}
.fortyniner {background-color:#494949;}
.fiftyTwoMain {background-color:#525252;}
.fives {background-color:#555;}
.sixes {background-color:#666;}
.nines {background-color:#999;}
.cees {background-color:#ccc;}
.effs {background-color:#fff;}
.rowShader {background-color:#f1e9c6;}
.offWhite {background-color:#f0f0f0;}
.effCeeThree {background-color:#ffcc33;}
.darkerBlue {background-color:#96a1bc;}
.creamPuff {background-color:#96a1bc;}
.lighterBlue {background-color:#d1dbf4;}
.lighterBlueBlackBorder {background-color:#d1dbf4;border:1px solid #000;}
.thirdPartyInformationColor {background-color:#d1dbf4;}
.thirdPartyInformationColorBlackBorder {background-color:#d1dbf4;border:1px solid #000;}
.lighterRed {background-color:#789b53;}
.perfBackgrounder {background-color:#525252;border:1px solid #999;}
.vehicleAnalyzerSearchLabel {
    font-family: Arial
    font-size: 11px;
    font-weight: bold;
    color: #ffcc33;
    padding-left:6px;
    padding-top:1px;
    padding-bottom:8px;
    padding-right:2px;
    vertical-align:middle;
}
.vehicleAnalyzerSearchLabelVIP {
    font-family: Arial
    font-size: 11px;
    font-weight: bold;
    color: #000000;
    padding-left:6px;
    padding-top:1px;
    padding-bottom:8px;
    padding-right:2px;
    vertical-align:middle;
}
.vehicleAnalyzerSearchInput {
    padding-left:4px;
    padding-top:1px;
    padding-bottom:8px;
    padding-right:6px;
    vertical-align:middle;
}
.vehicleAnalyzerSearchGo {
    padding-left:10px;
    padding-top:8px;
    padding-bottom:1px;
    padding-right:4px;
    vertical-align:middle;
    text-align:right;
}
.trackingNotesTextArea {
    font-family:verdana,arial,sans-serif;
    font-size:9px;
    margin:0px;
    padding:0px
}
/*  NEW DEALER HOME STYLES  */
.homeVinEnter {
    font-size:12px;
    color:#fff;
    padding-top:5px;
}
.homeSectionID {
    font-size:18px;
    font-weight:bold;
    color:#fff;
    vertical-align:bottom;
}
.homeLinkRight {
    font-weight:bold;
    color:#fc3;
    padding-bottom:3px;
    text-align:right;
    cursor:hand;
}
.homeLinkHotRight {
    font-size:12px;
    font-weight:bold;
    color:#d90404;
    padding-bottom:3px;
    text-align:right;
    vertical-align:middle;
    padding-right:5px;
}
.homeLinkLeft {
    font-weight:bold;
    color:#fc3;
    padding-bottom:3px;
    text-align:left;
    cursor:hand;
}
.homeLinkLeftZeroPadding {
    font-weight:bold;
    text-align:left;
    color:#fc3;
    cursor:hand;
}
.homeLinkHotLeft {
    font-size:12px;
    font-weight:bold;
    color:#d90404;
    padding-bottom:3px;
    text-align:left;
    vertical-align:middle;
    padding-right:5px;
}
.flashLabel {color:#fff;text-align:right;}
.homeFooter {padding-left:5px;color:#fff;}
.agingBgRight {background-image:url(../images/dealerHome/agingBgRight_6x9.gif);}
.agingBgLeft {background-image:url(../images/dealerHome/agingBgLeft_6x9.gif);}
.agingBgTop {background-image:url(../images/dealerHome/agingBgTop_10x6.gif);}
.agingBgBottom {background-image:url(../images/dealerHome/agingBgBottom_10x6.gif);}
.loginLine {background-image:url(../images/marketing/loginLine.gif);}
.agingTitleLeft {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size: 9px;
    color: #fff;
    vertical-align: bottom;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}
.agingTitleRight {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    vertical-align: bottom;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 2px;
}
.agingDataLeft {
    font-family:Arial,Helvetica,Sans-serif;
    font-size: 11px;
    font-weight: normal;
    vertical-align: baseline;
    padding-right: 2px;
}
.agingDataRight {
    font-family:Arial,Helvetica,Sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    padding-right: 4px;
    padding-left: 2px;
}
.dataLinkLeftOver {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:normal;
    color:#036;
    padding:2px;
    text-align:left;
    vertical-align:baseline;
    text-decoration:underline;
    cursor:hand;
}
.dataLinkLeftOut {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:normal;
    color: #000;
    padding:2px;
    text-align:left;
    vertical-align:baseline;
    cursor:hand;
}
.verticalDash {background-image:url(../images/common/verticalBlackDash_1x2.gif);}
.trackingTBox {
    font-family:verdana;
    font-size:10px;
    height:18px;
    width:79px;
}

.tab {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}

.tabOn {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}


/* TRACKING PLAN STYLES */
.trackingTabOn {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}
.trackingTabOff {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight: bold;
    color:#999;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    vertical-align:middle;
}
.spanTabOn {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    height:23px;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:4px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}

.spanTabOff {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#999;
    padding-left:8px;
    padding-right:21px;
    padding-top:5px;
    padding-bottom:3px;
    cursor:hand;
    text-decoration:none;
    vertical-align:middle;
}
.spanTabOff a {color:#999;text-decoration:none;}
.trackingTabOff a {color:#999;text-decoration:none;}
.redistText {
    font-size:13px;
    font-style:italic;
    color:#fff;
    padding-left:13px;
    padding-right:13px;
}
.tabContainer {
    background-image:url(../images/common/dashboard_bg.gif);
    height:32px;
    width:100%;
    padding-left:21px;
    padding-top:9px;
    padding-bottom:0px;
    margin:0px;
}
.grayBorder {border:1px solid #999;width:100%;}
.grayBorderSize {border:1px solid #999;}
.L4TD {padding:2px;vertical-align:middle;}
.L4 {font-size:11px;font-weight:bold;color:#D90202;}
.L4Span {
    font-size:10px;
    border:1px solid #333;
    background-color:#FCEBD9;
    color:#000
}
.titleButton {
    padding-right:13px;
    padding-left:13px;
    padding-bottom:3px;
    vertical-align:bottom;
    text-align:right;
}
.vinOrStock {
    font-size:9px;
    padding: 2px;
    width:50%;
    display:inline;
}
.displayPrior {width:50%;display:inline;}
.report-lineitem
{
    background-color: fff;
}
.report-lineitem2
{
    background-color: efefed;
}
