
div.containerHidden { display: none; position: absolute; z-index: -1; }
div.container { width: 46em; display: block; margin: 5px; padding: 5px; position: absolute; z-index: 2; }
fieldset.container { width: 45em; background-color: #FFF; }
fieldset.notSales { width: 1%; float: left; }
fieldset.sales { width: 1%; }
fieldset.create { }
legend.title { font-weight: bold; padding-left: 5px; padding-right: 5px; }
legend.heading { padding-left: 5px; padding-right: 5px; }
select.people { width: 15em; margin: 1em; display: block; }
button.move { width: 15em; margin-left: 1em; margin-right: 1em; }
button.submit { width: 7em; }
button.cancel { width: 7em; margin-left: 1em; }
button.create { width: 5em; margin-left: 1em; }
input.name { width: 20em; }
