TABLE {
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
}
.printDivText {
	font-family: arial,sans-serif;
	font-size: 10px;
	color:#ffcc33;
	padding-left:2px;
	vertical-align:middle;
}
.printDivText a {
	color:#ffcc33;
	text-decoration:none;
}
.rankingNumber {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
}
.rankingNumber16 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
}
.rankingNumberWhite {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
}
.nadaFirstPageHeading {
	font-family:times,serif;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding-bottom:5px;
}
.flashReportSectionHeading1 {
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 15pt;
	color:#ffffff;
    background-color: #000000;
    padding:3px;
}
.flashReportSectionHeading2 {
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 9pt;
	color:#ffffff;
    background-color: #000000;
    padding:3px;
}

.flashDate {
	font-family:times,serif;
	font-size:18px;
	font-weight:bold;
	color:#000000;
	text-align:center;
	padding:5px;
}
.flashLabel {
    padding: 3px;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.flashPerfLabel {
    padding: 3px;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align:center;
    VERTICAL-ALIGN: bottom
}
.flashPerfLabelLast {
    padding: 3px;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align:center;
    VERTICAL-ALIGN: bottom
}
.flashperfDataValue {
		/*border:1px solid #000000;
		background-color: #cccccc;*/
		padding:2px;
}
.flashData {
    padding: 3px;
    FONT-SIZE: 9pt;
    font-weight:bold;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.flashPerfData {
    padding: 3px;
    FONT-SIZE: 10pt;
    font-weight:bold;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align:center;
    VERTICAL-ALIGN: bottom
}
.flashPerfDataLast {
    padding: 3px;
    FONT-SIZE: 10pt;
    font-weight:bold;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align:center;
    VERTICAL-ALIGN: bottom
}
.flashHeadline {
	font-family:times,serif;
	font-size:58px;
	font-weight:bold;
	color:#ffffff;
	background-color:#000000;
	text-align:center;
	padding-bottom:3px;
}
.flashSubHeadline {
	font-family:times,serif;
	font-size:32px;
	font-weight:bold;
	color:#000000;
	text-align:center;
	padding-top:13px;
	padding-bottom:13px;
}

.nadaFirstPageHeading2 {
	font-family:times,serif;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	padding-bottom:5px;
}
.nadaFirstPageText {
	font-family:times,serif;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	padding-bottom:4px;
}
.blkMiddleTitle {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	text-align: left
}
.blkMiddleData {
	FONT-WEIGHT: bold;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	text-align: left
}

.blkHeaderTitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.blkFaxTitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.whtHeaderTitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.blkHeaderData {
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.blkMiddleDealer {
 color: #000000;
 font-weight: bold;
 font-size: 21px;
 font-family: Verdana, Arial, Helvetica, Sans-serif;
 text-align: left
}

.blkBold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.blk {
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.wht {
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.brightYellow {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 24px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffff00;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.whtBold {
    FONT-SIZE: 11px;
    font-weight:bold;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.redError1 {
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}


.tableTitleRight {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: bottom
}
.tableTitleRightBold {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    font-weight:bold;
    COLOR: #000000;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: bottom
}
.tableTitleLeft {
    padding: 2px;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.tableTitleLeftBold {
    PADDING-TOP: 2px;
    PADDING-RIGHT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 10px;
    font-weight:bold;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.tableTitleCenter {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: bottom
}
.tableTitleCenterBold {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-TOP: 2px;
    PADDING-BOTTOM: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 9px;
    font-weight:bold;
    COLOR: #000000;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: bottom
}
.dataBoldRight {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
    text-align:right;
}
.dataRight {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
}
.dataRightBold {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
}
.dataCenter {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
}
.dataCenterBold {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
}
.dataCenterSmall {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    border-bottom:1px solid #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
}
.dataRightNoPadTopBot {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right
}
.dataRightNoPadTop {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right
}
.dataCenterNoPadTop {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center
}
.dataRightNoPadBot {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right
}

.dataRightWhite {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right
}
.dataLeft {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftNoPadTopBot {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftNoPadTop {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftNoPadBot {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftVL {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-ALIGN: left
}
.dataRightVL {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-ALIGN: right
}
.dataCenterVL {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-ALIGN: center
}
.dataLeftWhite {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftBold {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
}
.dataLeftBoldWhite {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftMedium {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
.dataLeftMediumTMG {
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
.dataRightMedium {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top
}
.dataRightMediumTMG {
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    COLOR: #000000;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top
}
.dataBold {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dataBoldWhite {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dataHliteRight {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #990000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.dataHliteLeft {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #990000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.dash {
    BACKGROUND-COLOR: #333333
}

.dash2 {
    BACKGROUND-IMAGE: url(../images/common/dash.gif)
}

.dashBig {
    BACKGROUND-IMAGE: url(../images/common/dash_big.gif)
}
.dash400 {
    BACKGROUND-IMAGE: url(../images/common/dash400.gif)
}
.caption {
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #FFCC33;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.captionWhite {
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.mainTitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial
}

.mainTitle2 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
.mainTitle3 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
}
.instruction {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    line-spacing: 15px
}

.grayBg1 {
    BACKGROUND-COLOR: #999999
}
.grayBg2 {
    BACKGROUND-COLOR: #cccccc
}
.grayBg2BlackBorder {
    BACKGROUND-COLOR: #cccccc;
    border:1px solid #000000;
}

.grayBg3 {
    BACKGROUND-COLOR: #333333
}

.grayBg4 {
    BACKGROUND-COLOR: #666666
}
.blkBg {
    BACKGROUND-COLOR: #000000
}
.blkBgBlackBorder {
    BACKGROUND-COLOR: #000000
    border:1px solid black;
}
.yelBg {
    BACKGROUND-COLOR: #ffff00
}
.brightYellowBg {
    BACKGROUND-COLOR: #ffff00
}
.whtBg {
    BACKGROUND-COLOR: #FFFFFF
}
.newYellow {
	background-color:#ffcc33;
}
.blackBorder2px {
	border:2px solid black;
}
.whtBgBlackBorder {
    BACKGROUND-COLOR: #FFFFFF;
    border:1px solid black;
}
.whtBgBlackBorder2px {
    BACKGROUND-COLOR: #FFFFFF;
    border:2px solid black;
}
.whtBgBlackBorderNoTop {
    BACKGROUND-COLOR: #FFFFFF;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.whtBgBlackBorderNoBottom {
    BACKGROUND-COLOR: #FFFFFF;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:1px solid black;
}
.pageFooter {
    FONT-SIZE: 9px;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
a:link {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    FONT-WEIGHT: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10px;
    COLOR: #ffcc33;
    TEXT-DECORATION: none
}
a:visited {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    FONT-WEIGHT: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10px;
    COLOR: #ffcc33;
    TEXT-DECORATION: none
}
.mainBackground {
	background-color:#000000;
}
.nickName {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle
}
.nickNameWhite {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle
}
.largeTitle {
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.largeTitleNoPad {
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.largeTitleTMG {
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.redHotlist {
    FONT-SIZE: 16px;
    COLOR: #ff0000;
    FONT-FAMILY: Arial, Helvetica, San-Serif;
    font-style:italic;
}
.redHotlist2 {
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Arial, Helvetica, San-Serif;
    font-style:italic;
}
.PRReportType {
 color: #000000;
 font-weight: bold;
 font-size: 21px;
 font-family: Arial, Verdana, Helvetica, Sans-serif;
 text-align: left
}
.PRDealer {
 color: #000000;
 font-weight: bold;
 font-size: 16px;
 font-family: Arial, Verdana, Helvetica, Sans-serif;
 text-align: left
}
.PRTimeline {
 color: #000000;
 font-weight: normal;
 font-size: 12px;
 font-family: Arial, Verdana, Helvetica, Sans-serif;
 text-align: left
}
.zoneMake {
	padding-left:5px;
	padding-top:3px;
	padding-bottom:2px;
	padding-right:3px;
	/*border-bottom:1px solid #000000*/
}
.emptyDataCell {
    font-family: Arial, Helvetica, San-Serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
	border-left:1px dotted #999999;
	border-bottom:1px dotted #999999;
}
.ciaData {
    font-family: Arial, Helvetica, San-Serif;
	font-size: 10px;
	padding:2px;
	border-left:1px dotted #999999;
	border-bottom:1px dotted #999999;
}
.emptyDataCellLast {
    font-family: Arial, Helvetica, San-Serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
	border-left:1px dotted #999999;
	/*border-bottom:1px solid #000000;*/
}
.ciaDataLast {
    font-family: Arial, Helvetica, San-Serif;
	font-size: 10px;
	padding:2px;
	border-left:1px dotted #999999;
}
.clsCollapsed {
	display:none;
}
.clsExpanded {
	display:block;
}
.clsCollapsed2 {
	display:none;
}
.clsExpanded2 {
	display:block;
}
.mainTable {}
.sectionSpacer {}
