
body { margin: 0; padding: 0; background-color: #525252; }
img { border: none; }
a { color:#036;}

#dealerBody {  }
#dealerBody #main { padding: 0 12px; background-color: #525252; font-family: Arial, sans-serif; }

#logoBar { position: absolute; left: 185px; top: 41px; white-space: nowrap; }
	#logoBar .edgeLogo { margin-bottom: 10px; }
	
	.helpNumber { font-style: italic; color: #FF0; font-size: 12px; position: absolute; left: 510px; top: 57px;  }
	.helpNumber strong { display: block; color: white; }
	
#leftCol { position: absolute; left: 12px; top: 78px; width: 380px; }
	#leftCol { margin-top: 20px; }

	/*horiz lists*/
	.agingSnap ul { padding: 0; margin: 0; list-style-type: none; }
	.agingSnap li { padding: 0; margin: 0; display: inline; }

	.agingSnap ul.data { background-color: white; }


/* ///
customer center definitions
/// */
#custCtr { position: absolute; left: 408px; top: 98px; /*height: 500px;*/ }
#custCtr .header { width: 350px; height: 34px; border-left: solid 1px #666; background: url(../images/common/crn-homeCustCenter-tr.gif) no-repeat right top #333; }
	#custCtr .header img { margin-top: 8px; margin-left: 10px; }
	#custCtr .nick { color: white; font-size: 11px; margin: 1px 0 4px 11px; font-weight: bold; text-transform: uppercase; }
#custCtr .body { width: 350px; border: solid 1px #666; border-top: none; background-color: #333; }
	#custCtr .topCap { height: 5px; margin-left: 11px; background: url(../images/common/bkgd-homeCustCenter-gradTop.gif) no-repeat #333; font-size: 1px; }

	#custCtr .inner { font-size: 12px; line-height: 15px; height: 411px; margin: 0 10px; padding: 10px 15px 5px 10px; overflow-x: auto; overflow-y: scroll; background: url(../images/common/bkgd-homeCustCenter-gradMid.gif) repeat-y top #333; scrollbar-face-color: #999; scrollbar-darkshadow-color: #666; scrollbar-track-color: #525252; scrollbar-3dlight-color: #999; }
	#custCtr h3 { margin: 0 0 2px 0; font-size: 12px; }
	#custCtr a { color: #D90404; text-decoration: underline; }
	#custCtr a:hover { text-decoration: none; }	
		#custCtr .mgmtCtr { border: solid #CCC 1px; padding: 3px 10px; background-color: #EDEDED; margin-bottom: 10px; font-size: 11px; line-height: 13px; color: black; }
			#custCtr .mgmtCtr strong { display: block; text-align: right; /*float: right; clear: both; position: relative; bottom: 18px; left: -5px; font-size: 12px; margin-bottom: -18px;*/ }			
	#custCtr .title { border: solid #CCC 1px; padding: 5px 10px; /*background-color: #EDEDED;*/ margin-bottom: 8px; font-size: 12px; line-height: 14px; color: black;  }
	#custCtr .title p { margin: 0; padding: 0; /*font-weight: bold;*/  }
	#custCtr ul { padding: 5px 0 0 0; margin: 5px 0 0 0; border-top: solid 1px #999; }
	#custCtr li { padding: 0 0 0 10px; margin-left: 15px; vertical-align: top; list-style: url(../images/common/bull-homeCustCenterPlus.gif) outside; }
		#custCtr ul.highPri { border-top: none; padding-top: 0; }
		#custCtr ul.highPri li { list-style: url(../images/common/bull-homeCustCenterExcl.gif); }
			#custCtr ul ul { border: none; margin: 3px 0 0 0; padding: 0; list-style-image: none; }
			#custCtr ul ul li, #custCtr ul.highPri li li { border: none; margin: 0 0 0 30px; padding: 0; list-style-type: square; list-style-image: none; font-size: 11px; line-height: 13px; vertical-align: middle; }
	#custCtr .btmCap { height: 5px; margin-left: 11px; background: url(../images/common/bkgd-homeCustCenter-gradBtm.gif) no-repeat  #333; font-size: 1px; }
	#custCtr .footer { text-align: center; margin-top: 5px; margin-bottom: 10px; }
	#custCtr .footer a { color: #FC3; font-weight: bold; }
		#custCtr .footer .helpTag { font-size: 12px;/* color: #FC3;*/  color: white;margin-bottom: 2px; }
		#custCtr .footer .helpTag strong { /*color: white;*/ color: #FC3; }
		#custCtr .footer .feedbackTag { margin-top: 2px; font-size: 11px; /*color: #FC3;*/ color: white; }


		
		
		
		
	
#footerHome { position: absolute; left: 12px; top: 630px; width: 745px; color: white; font-size: 11px; }
	#footerHome span { padding: 0 10px; color: white; }
