
body { margin: 0; padding: 0; background-color: #333; }
html, body, #wrap { min-height: 100%; height: 100%; }
#wrap { position: absolute; top: 0; left: 0; }
	html>body, html>body #wrap { height: auto; clear: both; }

#popup body { background-color: #525252; }
#iframe body { background-color: #525252; }

/* print text */
.print { display: none; }

iframe#printFrame { border: none; width: 0; height: 0; }


img { border: none; }
form, table, td, th { margin: 0; padding: 0; }

var { text-decoration: blink; color: red; font-weight: bold; }

img.lcap { float: left; }
img.rcap { float: right; }

/* text */
body, td, th, p, select, input { font-size: 12px; /*color: black;*/ font-family: Arial, Helvetica, Verdana, sans-serif; }

ins { font-weight: normal; text-decoration: none; padding: 0 5px; } /* co-opted for spacing pipes */
cite { font-size: 10px; font-style: normal; font-family: Verdana, Helvetica, sans-serif; }

h1 { font-size: 25px; margin: 0 0 5px 0; }
h2 { font-size: 18px; margin: 0 0 5px 0; line-height: 14px; }
h3 { font-size: 14px; margin: 0 0 5px 0; color: #FC3; }

/* verdana headers */
h4 { font-size: 13px; margin: 0 0 2px 0; /*text-transform: uppercase; font-family: Verdana, Helvetica, sans-serif;*/ }
h5 { font-size: 10px; margin: 0 0 2px 0; text-transform: uppercase; color: #CCC; /*font-family: Verdana, Helvetica, sans-serif;*/ }

h6 { font-size: 8px; }

/* links */
a { color: #036; text-decoration: underline; }
a:hover { color: black; }

/* text links */
	a.text { font-family: Helvetica, sans-serif; font-size: 11px; font-weight: bold; text-decoration: underline; }
	a.text:hover { color: white; }	
	
	
/* asst. declarations */
.neg { color: #D90404; }
.hilite { color: #900; }
.success { color: #FC3; font-style: italic; font-size: .8em; }
	tr.hilite { background-color: #EEE; color: black; }

/* lights */
.red { color: #900; }
.yellow { color: #FF0; }
.green { color: #0F0; }
	
.even { background-color: #CCC; }

	.show { display: block; }
	span.show, select.show, input.show, a.show { display: inline; }
/*.hide { display: none; }*/
.hide { visibility: hidden; position: absolute; left: 0; top: 0; }



/* floating div */
.float { position: absolute; z-index: 1; overflow: hidden; background-color: white; border: solid black 2px; }
.float iframe.selectFix { display:none; display/**/:block; position:absolute;	top:0; left:0; z-index:-1; filter:mask(); width:3000px; height:3000px; }



/* standard list */
ul { list-style: square inside; margin: 3px 0 5px 0; padding: 0; /*white-space: nowrap; font-size: 10px; font-family: Verdana, Helvetica, sans-serif;*/ }
li { padding: 2px 0 0 0; margin: 0; }

/* horiz. list */
ul.h { list-style: none; margin: 0; padding: 0; }
ul.h li { list-style: none; float: left; margin: 0; padding: 0; }
/*
list-style: none outside; margin: 0; padding: 0; float: left; font-family: Arial, Helvetica, Verdana, sans-serif;
*/

/* label and forms pairs */
dl, dt, dd { margin: 0; padding: 0; }
dt { float: left; clear: left; }







/* //////////
	global components
		////////// */

/* close x button */
a.close { font-family: Helvetica, sans-serif; color: black; font-weight: bold; text-decoration: none; padding: 0px 3px 0px 4px; font-size: 11px; text-align: center; background-color: white; border: solid 1px black; }
a.close:hover { background-color: #CCC; color: black; }
a.close span { float: left; cursor: pointer; }

/* help */
img.help { cursor: help; }
div.help { border: solid #CCC 1px; width: 210px; background-color: white; }
	.help h4 { border: solid black 1px; border-bottom: none; padding: 5px 10px; margin: 0; font-size: .9em; background-color: #FC3; }
	.help .text { border: solid black 1px; padding: 10px 10px 5px 10px; }
	.help p { line-height: 1.4em; font-size: .9em; margin: 0 0 5px 0; }
	.help a.close { float: right; }

/* filter or sort */
.pageAction { font-size: 11px; text-align: right; color: #FC3; font-weight: bold; margin: 10px 0 10px 0; }
	.pageAction span { padding-right: 10px; color: #CCC; font-weight: bold; font-size: 1.1em; }
	.pageAction label { color: #CCC; font-weight: normal; margin-left: 10px; }
	.pageAction a { color: white; }
	.pageAction a:hover { color: #FC3; }

	
/* container around primary page data */
#items { border: solid 1px #AAA; margin-bottom: 10px; }	



/* containers for non-table headers & footers */
.hdr {  color: black; padding: 5px 0; }
	.hdr h3 { color: black; }
	.hdr a { color: #011F53; }
	.hdr a:hover { color: black; }
	
.ftr { padding-top: 3px; color: #CCC; }



/* standard module container */
.wrapper { border: solid 1px #636363; color: white; padding: 5px 10px; /*hack for IE */ height: 1%; }
.wrapper:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; }
	.wrapper p { margin: 0; }
	.wrapper select { font-size: 11px; }	
	.wrapper a { color: #FC3; }
	.wrapper a:hover { color: white; }
	.wrapper img { vertical-align: middle; }

	
	
	
	/* toggle partners */
	.display { color: white; border: solid #BD9C38 1px; padding-bottom: 10px; }
	.edit { background-color: white; color: black; }

	
	
/* table cells */

th { text-align: left; /*font-size: .9em;*/ vertical-align: bottom; /*font-family: Verdana, Helvetica, sans-serif;*/ }
td { /*font-size: .9em;*/ }

.year { width: 50px; }



/* standard data table defs - like "view deals", "pricing analyzer", etc. */
.data { width: 100%; background-color: white; color: black; border: solid 1px black; }
	.data thead { background-color: #CCC; }
	.data th { padding: 5px 0; font-family: Arial, Verdana, Helvetica, sans-serif; }
	.data td { border-top: solid 1px black; padding: 2px 0; }

.data .units { width: 50px; text-indent: 10px; }

.data .highsell { text-align: right; }
	.data td.highsell { border-left: dotted 1px #CCC; }
.data .avgsell { text-align: center; }
	.data td.lowsell { border-right: dotted 1px #CCC; }

.data .avgunit { width: 110px; text-align: right; }
.data .avgmile { width: 110px; text-align: right; padding-right: 10px; }





/* thirdparty data table defs - like book outs and auction data */
.thirdparty { width: 100%; border: solid 1px black; background-color: white; border-collapse: collapse; }
	.thirdparty thead th { text-align: center; }
	.thirdparty th { color: black; background-color: #EEE; border: solid 1px black; padding: 2px 5px; line-height: 1em; }
	.thirdparty td { color: black; border: solid 1px black; padding: 2px 5px; font-weight: bold; font-size: 1.1em; }
	.thirdparty cite { color: #CCC; }


/* standard details table defs - like trade manager */
	.details { width: 100%; min-width: 950px; background-color: white; color: black; padding: 0; border: solid 1px black; }

	/* column widths */
	.details .num { width: 30px; text-indent: 5px; }
	.details .age { width: 30px; text-align: right; }

	.details .mtb {  }
	.details .color { width: 70px; text-indent: 5px; }
	.details .mileage { width: 45px; text-align: right; }
	.details .lp { width: 70px; text-align: right; }
	.details .uc { width: 70px; text-align: right; }
	.details .bvc { width: 90px; text-indent: 5px; text-align: center; }
	.details .pt { width: 35px; text-align: center; }
	.details .snum { width: 95px; text-indent: 5px; }	
	.details .vin { width: 145px; text-indent: 5px; }
		.details td.snum, .details td.vin { text-transform: uppercase; }
	.details .status { width: 55px; text-align: center; }

	.details .manage { width: 125px; text-indent: 5px; }
	.details .risk { width: 40px; text-align: center; }
	.details .analyzed { width: 80px; padding-left: 10px; }	
	.details .appraisal { width: 80px; text-indent: 5px; }
.details .salesperson { width: 125px; }
	.details .year { text-indent: 5px; }
	.details .make { width: 110px; text-indent: 5px; }
	.details .model { width: 145px; }
.details .trim { width: 120px; }
	.details .decision { width: 145px; text-indent: 10px; }
	.details .sold { width: 55px; text-indent: 5px; }

.details thead { background-color: #FC3; }
.details td, .details th { padding: 0; margin: 0; }

.details th { font-size: .8em; /*border-top: solid 1px black;*/ text-align: left; /*text-indent: 5px;*/ padding: 2px 0; font-family: Verdana, Helvetica, sans-serif; vertical-align: bottom; }
.details td { font-size: .9em; border-top: solid 1px black; /*text-indent: 5px;*/ padding: 2px 0;  }

.details th.sorted { color: #D90404; }

	.details th a { color: #036; text-decoration: underline; }
	.details th a:hover { color: #D90404; }
	.details th.sorted a { color: #D90404; }

	.details select { font-size: 11px; width: 130px; margin-left: 10px; }























/* //////////
page-specific exceptions 
////////// */

/* trade manager */
.tradeManager #content p { color: #FC3; font-weight: bold; }
	.tradeManager #content .search { color: #FC3; font-weight: bold; }
	.tradeManager #content .search input, .tradeManager #content .search img { margin-left: 5px; vertical-align: middle; }

.tradeManager .details th { padding: 2px 0; }
.tradeManager .details td { padding: 4px 0; }

	.tradeManager .details .even { background-color: #FFF; }

	.tradeManager .details .mileage { padding-right: 5px; text-indent: 10px; }
	
	.tradeManager .details td.manage, .tradeManager .details td.salesperson { border-right: dotted 1px #CCC; }
	.tradeManager .details td.decision { border-left: dotted 1px #CCC; }
	.tradeManager .details .color { width: auto; text-align: center; }

/* photo manager */


.photoManager .photo ul {  }
.photoManager .photo li { width: 175px; margin-bottom: 20px; }


.photoManager .photo .upload { width: 160px; overflow: hidden; }

.photoManager .photo input { width: 225px;  }




.photoManager .photo img { border: solid 5px white; }













/* /////////////
	global page elements
		///////////// */

/* HEADER = dropdown and text navigation */
	/* new dynamic menu declarations */	
#header { width: 100%; min-width: 100%; height: 32px; background-color: #FC3; padding: 0; border-bottom: 1px solid black; }
	#dropnav { position: absolute; top: 12px; left: 15px; }
	#dropnav, #dropnav ul { list-style: none; padding: 0; margin: 0; font-size: 11px; font-weight: bold; vertical-align: top; }
	/* top-level */
	#dropnav li { float: left; white-space: nowrap; margin: 0; padding: 0; font-family: Arial, Helvetica, Verdana, sans-serif; }
	#dropnav ins { font-weight: normal; padding: 0 7px; }			
	#dropnav a { display: block; padding-bottom: 10px; text-decoration: none; color: black; }
	#dropnav .on a { color: #D90404; }
	#dropnav .off a { color: #CB9122; }
		/* sub-level */
		#dropnav li ul { position: absolute; left: -999px; top: 20px; margin: 0; border-bottom: 2px solid #000; }
		#dropnav li:hover ul, #dropnav li.over ul { left: auto; } 
		#dropnav li ul a { display: block; width: auto; padding: 5px 5px; border: 2px solid #000; border-bottom: none; background-color: #FC3; }
		#dropnav .on ul a { color: black; }
			/* widths */ 
			#dropnav li ul.tools, #dropnav li ul.tools a { width: 190px; }
			#dropnav li ul.reports, #dropnav li ul.reports a { width: 210px; }
			#dropnav li ul.redist, #dropnav li ul.redist a { width: 150px; }
			#dropnav li ul.dept, #dropnav li ul.dept a { width: 115px; }
			#dropnav li ul.print, #dropnav li ul.print a {  }
			/* colors */
			#dropnav li li a:hover { color: #D90404; background-color: #FCDC7B; }
	#header .textnav { position: absolute; top: 12px; right: 15px; margin: 0; }
	#header .textnav a { color: #036; font-size: 10px; font-weight: bold; text-decoration: none; }
	#header .textnav a:hover { text-decoration: underline; }

				/* popup declarations */
			#popup #header { width: 100%; min-width: 100%; height: 35px; /*background: #333 url('../images/bkgd-checked-gray.gif');*/ background-color: #333; padding: 0; border-bottom: 1px solid black; border-top: 1px solid black; }
			#popup #header img.logo { position: absolute; top: 6px; left: 15px; margin: 0; }
				#popup #header ins { color: white; }

/* TITLE = dealer name and page title */
#titleBtns { position: absolute; top: 65px; right: 10px; }

#title { width: 100%; height: 48px; background-color: #525252; border-bottom: solid 1px #FC3; padding: 5px 0; color: #CCC; }
	#title h1 { margin-left: 15px; color: white; margin-bottom: 0; }
	#title h3 { /*color: #FC3;*/ margin-left: 15px; margin-bottom: 0; }
	#title h1 img.help { margin: 0 0 4px 10px; vertical-align: bottom; }

				/* popup declarations */
			#popup #title { height: auto; background-color: transparent; }

			
/* TABS = above main content */
.tabs { height: 32px; white-space: nowrap; background: #333 url('../images/common/dashboard_bg.gif') repeat-x; font-family: Verdana, Helvetica, sans-serif; clear: both; }
	/* prevents tabs from wrapping */
	.tabs .inner { width: 990px; }
.tabs a { margin: 9px 0 0 15px; display: inline; float: left; text-align: center; width: 100px; }
	.tabs a { color: #999; text-decoration: none; }
	.tabs a:hover { color: #FC3; }
.tabs a h4 { font-size: .8em; line-height: .8em; margin: 7px 0 0 0; font-style: italic; }
.tabs a.active { background-color: #333; }
	.tabs a.active img.lcap, .tabs .active img.rcap {  }
	.tabs a.active h4 { color: #FC3; font-size: .8em;  padding: 6px 0 0 0; margin: 0; border-top: solid 1px #FC3; }

	/* exceptions */
	.pricingAnalyzer .tabs { border-top: solid 1px #FC3; }

	.tradeManager .tabs a { width: 140px; }
	.tradeManager .tabs a.bullpen { width: 120px; }
	.tradeManager .tabs a.retail { width: 150px; }	
	.tradeManager .tabs a.wholesalerAuction { width: 180px; }
	.tradeManager .tabs a.search { width: 115px; }


/* CONTENT = primary page container */
#content { /*width: 100%;*/ color: white; padding: 0; margin: 15px 15px 30px 15px; clear: both; }
#content:after { content: "."; clear: both; height: 0; visibility: hidden; display: block; width: 850px; }

#content table.forcer { width: 100%; }
#content img.forcer { display: block; }
	#content h3 { /*color: #FC3;*/ }

				/* popup declarations */
			#popup #content { /*width: 800px;*/ color: white; padding: 10px 0 30px 0; margin: 0 15px; clear: both; }
				#popup #content h3 { /*color: #FC3; text-transform: none;*/ }
				#popup #content h3 strong { text-transform: uppercase; }
	/* used on pricing analyzer */
	iframe { width: 100%; height: 400px; border: none; padding: 0; margin: 0; }
	#iframe #content { width: 100%; margin: 0; padding: 0; }


/* FOOTER = copyright and legal */
#footer { position: absolute; bottom: 0; width: 100%; color: #FC3; padding: 5px 0; margin-top: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; border-top: solid 1px #FC3; background-color: #525252; clear: both; }
			
#footer p { padding: 5px 0; margin: 5px 0 5px 10px; }
	#footer em { padding-left: 10px; font-weight: bold; font-style: italic; }
	#footer cite.disc { float: right; margin-right: 10px; font-size: .9em; }

#footer a { color: #FC3; text-decoration: none; }
#footer a:hover { text-decoration: underline; }