<!-- ********FAX: vehicle details Sheet ******** -->
TABLE
{

    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.rankingNumber
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.rankingNumberWhite
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.blkMiddleTitle
{
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	text-align: left
}
.blkMiddleData
{
	FONT-WEIGHT: bold;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	text-align: left
}

.blkHeaderTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.blkFaxTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.whtHeaderTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.blkHeaderData
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.blkMiddleDealer
{
 color: #000000;
 font-weight: bold;
 font-size: 21px;
 font-family: Verdana, Arial, Helvetica, Sans-serif;
 text-align: left
}

.blkBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.blk
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.wht
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.brightYellow
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 24px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.whtBold
{
    FONT-SIZE: 11px;
    font-weight:bold;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}
.redError1
{
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    FONT-FAMILY: Arial, Helvetica, San-Serif
}


.tableTitleRight
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: bottom
}
.tableTitleLeft
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.tableTitleLeftBold
{
    PADDING-TOP: 2px;
    PADDING-RIGHT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 10px;
    font-weight:bold;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
.tableTitleCenter
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 9px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: bottom
}
.dataRight
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right
}
.dataRightWhite
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right
}
.dataLeft
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftWhite
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftBold
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftBoldWhite
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.dataLeftMedium
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
.dataLeftMediumTMG
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
.dataRightMedium
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top
}
.dataRightMediumTMG
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 1px;
    PADDING-BOTTOM: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    COLOR: #000000;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top
}
.dataBold
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #000000;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dataBoldWhite
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dataHliteRight
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #990000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: right;
    TEXT-DECORATION: none
}
.dataHliteLeft
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #990000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
.dash
{
    BACKGROUND-COLOR: #333333
}


.caption
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #FFCC33;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.captionWhite
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.mainTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial
}

.mainTitle2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial
}
.mainTitle3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #000000;
    FONT-FAMILY: Arial;
}
.instruction
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    line-spacing: 15px
}

.grayBg1
{
    BACKGROUND-COLOR: #999999
}
.grayBg2
{
    BACKGROUND-COLOR: #cccccc
}
.grayBg3
{
    BACKGROUND-COLOR: #333333
}
.grayBg4
{
    BACKGROUND-COLOR: #666666
}
.blkBg
{
    BACKGROUND-COLOR: #000000
}
.blkBgBlackBorder
{
    BACKGROUND-COLOR: #000000
    border:1px solid black;
}
.yelBg
{
    BACKGROUND-COLOR: #ffff00
}
.brightYellowBg
{
    BACKGROUND-COLOR: #cccccc
}
.whtBg
{
    BACKGROUND-COLOR: #FFFFFF
}
.whtBgBlackBorder
{
    BACKGROUND-COLOR: #FFFFFF;
    border:1px solid black;
}
.whtBgBlackBorderNoTop
{
    BACKGROUND-COLOR: #FFFFFF;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.whtBgBlackBorderNoBottom
{
    BACKGROUND-COLOR: #FFFFFF;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:1px solid black;
}
.pageFooter
{
    FONT-SIZE: 9px;
    COLOR: #ffcc33;
    FONT-FAMILY: Verdana, Arial, Helvetica
}


a:link
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    FONT-WEIGHT: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10px;
    COLOR: #ffcc33;
    TEXT-DECORATION: none
}
a:visited
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    FONT-WEIGHT: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif;
    FONT-SIZE: 10px;
    COLOR: #ffcc33;
    TEXT-DECORATION: none
}
.mainBackground
{
	background-color:#000000;
}
.nickName
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle
}
.nickNameWhite
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 2px;
    COLOR: #ffffff;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle
}
.largeTitle
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    PADDING-BOTTOM: 2px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.largeTitleNoPad
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.largeTitleTMG
{
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-ALIGN: left
}
.redHotlist
{
    FONT-SIZE: 16px;
    COLOR: #ff0000;
    FONT-FAMILY: Arial, Helvetica, San-Serif;
    font-style:italic;
}
.redHotlist2
{
    FONT-SIZE: 12px;
    COLOR: #ff0000;
    FONT-FAMILY: Arial, Helvetica, San-Serif;
    font-style:italic;
}