.purchasing-body
{
	background-image:url(../images/purchasing/background.gif);
}
.purchasing-bodyWhite
{
	background-color: #ffffff;
}
.purchasing-lightBg
{
	background-color: #24333B;
}
.purchasing-darkBg
{
	background-color: #19242A;
}
.purchasing-pageTitle
{
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	padding: 12px;
	background-color: #19242A;
	border-top: 1px solid #24333b;
	border-bottom: 1px solid #24333b;
}
.purchasing-sectionCell
{
	background-color: #19242A;
	border-top: 1px solid #24333b;
	border-bottom: 1px solid #24333b;
}
.purchasing-sectionCellWhite
{
	background-color: #ffffff;
	border-top: 1px solid #24333b;
	border-bottom: 1px solid #24333b;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.purchasing-sectionCellEnd
{
	border-top: 1px solid #24333b;
	border-bottom: 1px solid #24333b;
}
.purchasing-sectionCellHeading
{
	font-family: Arial;
	font-size: 13pt;
	font-weight: bold;
	color: #9F9264;
}
.purchasing-sectionCellText
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: normal;
	color: #ffffff;
}
.purchasing-sectionCellSubText
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	color: #ffffff;
}
.purchasing-sectionCellMicroText
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	padding-left:2px;
	padding-right:3px;
	color: #ffffff;
}
a.purchasing-sectionCellMicroText
{
	color: #ffffff;
	text-decoration: none;
}
a.purchasing-sectionCellMicroText:hover
{
	color: #ffffff;
	text-decoration: underline;
}
a.purchasing-sectionCellMicroText:visited
{
	color: #ffffff;
}
.purchasing-gridHeading
{
	font-family: Courier,Arial;
	font-size: 8pt;
	color: #000000;
	text-align:left;
	font-weight:bold;
	vertical-align:bottom;
	background-image:url(images/bar.gif);
}
.purchasing-gridHeadingRight
{
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	text-align:right;
	font-weight:bold;
	vertical-align:bottom;
	background-image:url(images/bar.gif);
}
.purchasing-gridData
{
	font-family: Arial;
	font-size: 8pt;
	vertical-align: top;
	color: #000000;
}
.purchasing-groupingHeading
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
	padding-top: 1px;
	padding-bottom: 6px;
	color: #000000;
}
.purchasing-modelGrouping
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
	padding-top: 1px;
	padding-bottom: 6px;
	color: #000000;
}
.purchasing-modelGroupingMatches
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: italic;
	padding-top: 1px;
	padding-bottom: 6px;
	color: #000000;
}
.purchasing-modelLink
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	text-decoration: underline;
}
.purchasing-modelPreferences
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: italic;
	color: #5D8092;
}
.purchasing-nickname
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: italic;
	color: #5D8092;
}
.purchasing-button
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	color: #ffffff;
	background-color: #507080;
	padding-left: 1px;
	padding-right: 1px;
}
.purchasing-buttonInverse
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: normal;
	color: #ffffff;
	background-color: #24333B;
	padding-left: 1px;
	padding-right: 1px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.purchasing-footer
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	font-style: italic;
	color: #507080;
}
.purchasing-searchHeader
{
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	text-align:center;
	color: #ffffff;
}
.purchasing-searchAvoid
{
	font-family: Arial;
	font-size: 8pt;
	font-color: #999999;
	padding-right: 10px;
}
.purchasing-searchNormal
{
	font-family: Arial;
	font-size: 8pt;
	color: #ffffff;
	padding-right: 10px;
}
.purchasing-searchPrefer
{
	font-family: Arial;
	font-size: 8pt;
	font-weight: bold;
	font-style: italic;
	color: #ffffff;
	padding-right: 10px;
}
.purchasing-searchCheckbox
{
	padding-left: 10px;
	padding-right: 7px;
}
.purchasing-buyLink
{
	color: #ffffff;
}
.purchasing-buyLink:link
{
	color: #ffffff;
	text-decoration:none;
}
.purchasing-buyLink:visited
{
	color: #ccccff;
	text-decoration:none;
}
.purchasing-buyLink:hover
{
	color:#ffffff;
	text-decoration:underline;
}
.purchasing-medBg
{
	background-color: #244658;
}
.purchasing-medBgUnderline
{
	background-color: #12222B;
}
.purchasing-inventoryOverviewBoxMargin
{
	padding-left: 10px;
	padding-right: 10px;
}
.purchasing-inventoryOverviewBoxHeading
{
	background-color: #244658;
	font-family:arial;
	font-size:14pt;
	font-weight:bold;
	color:#ffffff;
}
.purchasing-popUpSectionHeading
{
	font-family:arial;
	font-size:10pt;
	font-weight:bold;
	color:#ffffff;
	padding-top:4px;
	padding-bottom:4px;
}
.purchasing-popUpSectionData
{
	font-family:arial;
	font-size:9pt;
	font-weight:normal;
	color:#000000;
	padding-top:1px;
	padding-bottom:1px;
}