.even {background-color: #ccc;}
.leftAlignPadded {padding-left:30;text-align:left;}
.headerBorderLeft { border-left:2px solid #444; border-top:2px solid #444; border-bottom:2px solid #444; }
.headerBorderCenter { border-top:2px solid #444; border-bottom:2px solid #444; }
.headerBorderRight { border-right:2px solid #444; border-top:2px solid #444; border-bottom:2px solid #444; }

.dataBorderLeft { border-left:2px solid #444;}
.dataBorderRight { border-right:2px solid #444;}
.dataBorderBottom {border-left:2px solid #444;border-right:2px solid #444;border-bottom:2px solid #444;height:0px }
