.homeTopTabOn {
	font-size:10px;
	font-weight:bold;
	background-color:#ffcc33;
	color:#000000;
	/*padding-top:4px;
	padding-bottom:4px;*/
	text-align:center;
	vertical-align:middle;
}
.homeTopTabOff {
	font-size:10px;
	font-weight:bold;
	background-color:#666666;
	color:#000000;
	/*padding-top:4px;
	padding-bottom:4px;*/
	text-align:center;
	vertical-align:middle;
}
.homeTopTabCell {
	padding-left:8px;
	padding-top:5px;
	padding-bottom:5px;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
}

.blueDash {
	background-image:url(../images/dealerHome/blueDash_50x1.gif);
}
.blueDown {
	background-image:url(../images/dealerHome/blueDown_50x1.gif);
}

#intelDiv
{
	/*position:relative;
	top:0px;
	left:0px;
	z-index:15;*/
	width:100%;
	/*width:337px;*/
	height:350px;
	overflow-x:auto;
	overflow-y:scroll;
	background-color:#ffffff;
	scrollbar-face-color: #999999;
	scrollbar-darkshadow-color:#666666;
	scrollbar-track-color:#525252;
	scrollbar-3dlight-color:#999999;
	/*scrollbar-arrow-color: #ffcc33;
	scrollbar-highlight-color: #ffcc33;
	scrollbar-base-color:#ffcc33;
	scrollbar-shadow-color:#ffcc33;*/
}
.intelCell {
	padding-left:8px;
	padding-right:5px;
	padding-bottom:8px;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	border-left:1px solid #666666;
}
.intelText {
	padding-top:3px;
	padding-right:8px;
	padding-bottom:5px;
	padding-left:8px;
}
.intelSectionTitle {
	font-size:12px;
	font-weight:bold;
	/*color:#d90404;
	background-color:#d90404;
	color:#faf2dc;*/
	color:#d90404;
	background-color:#cccccc;
	padding:4px;
	/*text-transform:uppercase;
	border:1px solid #1B5D94;*/
}
.intelSubSection {
	font-weight:bold;
	color:#1B5D94;
	padding-top:8px;
}
.intelBulletTableCell {
	padding-left:8px;
	padding-right:3px;
	vertical-align:top;
}
.intelCheckTableCell {
	padding-left:18px;
	padding-right:3px;
	vertical-align:top;
}
.intelBullet {
	padding-top:4px;
	padding-right:5px;
	vertical-align:top;
}
.intelCheck {
	padding-top:4px;
	padding-right:5px;
	vertical-align:top;
}
/*	TABLE BACKGROUND STYLES	*/
.intelBgRight {
	background-image:url(../images/dealerHome/tableBorderBgRight_6x10.gif);
}
.intelBgLeft {
	background-image:url(../images/dealerHome/tableBorderBgLeft_6x10.gif);
}
.intelBgTop {
	background-image:url(../images/dealerHome/tableBorderBgTop_10x6.gif);
}
.intelBgBottom {
	background-image:url(../images/dealerHome/tableBorderBgBottom_10x8.gif);
}
