body {}
a {color:#036;}
.blkBold {
    font-weight:bold;
    font-size:13px;
    color:#000;
    font-family:Arial,Helvetica,San-Serif;
}
.blkBold12Arial {
    font-weight:bold;
    font-size:12px;
    color:#000;
    font-family:Arial,Helvetica,San-Serif;
}
.rankingNumber {
    font-weight:bold;
    font-size:18px;
    color:#000;
    font-family:Arial,Helvetica,San-Serif;
}
.rankingNumberTIR {
    font-weight:bold;
    font-size:18px;
    color:#000;
    font-family:Arial,Helvetica,San-Serif;
    padding-top:6px;
    padding-right:10px;
    padding-bottom:6px;
    padding-left:10px;
}
.blk {font-size:11px;color:#000;font-family:Arial,Helvetica,San-Serif;}
.redError1 {font-size:11px;color:#f00;font-family:Arial,Helvetica,San-Serif;}
.headerGray {
    font-weight: bold;
    font-size: 12px;
    color: #555;
    font-family:Arial,Helvetica,Sans-serif;
}
.headerWhite {
    font-weight:bold;
    font-size:12px;
    color:#fff;
    font-family:Arial,Helvetica,Sans-serif;
}
.tableTitleRight {
    padding:2px;
    font-weight:bold;
    font-size:9px;
    color:#000;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    text-align:right;
    vertical-align:bottom;
}
.tableTitleRightNoBold {
    padding:2px;
    font-size:9px;
    color:#000;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    text-align:right;
    vertical-align:bottom;
}
.tableTitleRightHref {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#036;
    text-align:right;
    padding:2px;
    vertical-align:bottom;
    cursor:hand;
    text-decoration:none;
}
.tableTitleLeft {
    padding:2px;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#000;
    vertical-align:bottom;
}
.tableTitleLeftHref {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#036;
    padding:2px;
    vertical-align:bottom;
    cursor:hand;
    text-decoration:none;
}
.tableTitleLeftSelect {
    padding-right:2px;
    padding-left:4px;
    font-weight:bold;
    font-size:9px;
    padding-bottom:2px;
    color:#000;
    padding-top:2px;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    vertical-align: bottom;
}
.tableTitleLeftNoBold {
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    vertical-align:bottom;
}
.tableTitleCenter {
    padding:2px;
    font-weight:bold;
    font-size:9px;
    color:#000;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    text-align:center;
    vertical-align:bottom;
}
.tableTitleCenterHref {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-weight:bold;
    font-size:9px;
    color:#036;
    text-align:center;
    padding:2px;
    vertical-align:bottom;
    cursor:hand;
     text-decoration:none;
}
.nickName {
    padding:2px;
    font-weight:bold;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:center;
    vertical-align:middle;
}
.largeTitle {
    padding-right:2px;
    padding-left:4px;
    font-weight:bold;
    font-size:18px;
    padding-bottom:2px;
    color:#000;
    padding-top:2px;
    font-family:Arial,Helvetica,Sans-serif;
}
.bubble {
    font-weight:bold;
    font-size:16px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
}
.dataRight {
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
}
.dataRightNoPadTopBot {
    padding-right:2px;
    padding-left:2px;
    font-size:11px;
    padding-bottom:0px;
    color:#000;
    padding-top:0px;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
}
.dataRightNoPadTop {
    padding-right:2px;
    padding-left:2px;
    padding-bottom:2px;
    padding-top:0px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
}
.dataRightNoPadBot {
    padding-right:2px;
    padding-left:2px;
    font-size:11px;
    padding-bottom:0px;
    color:#000;
    padding-top:2px;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
}
.dataLeft {
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:baseline;
}
.dataLeftPopup {
    padding:2px;
    font-size:11px;
    color:#036;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:baseline;

}
.dataLeft a {
    cursor:hand;
    text-decoration:none;
}
.dataLeft a:hover {
    cursor:hand;
    text-decoration:underline;
}
.dataLeftNoPadTopBot {
    padding-right:2px;
    padding-left:2px;
    font-size:11px;
    padding-bottom:0px;
    color:#000;
    padding-top:0px;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:baseline;
}
.dataLeftNoPadTop {
    padding-right:2px;
    padding-left:2px;
    font-size:11px;
    padding-bottom:2px;
    color:#000;
    padding-top:0px;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:baseline;
}
.dataLeftNoPadBot {
    padding-right:2px;
    padding-left:2px;
    font-size:11px;
    padding-bottom:0px;
    color:#000;
    padding-top:2px;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:baseline;
}
.dataLeftBottom {
    padding:2px;
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    color:#000;
    text-align:left;
    vertical-align:bottom;
}
.dataLeftBold {
    padding:2px;
    font-weight:bold;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:top;
}
.dataLeftMedium {
    padding-right:2px;
    padding-left:4px;
    padding-bottom:2px;
    padding-top:2px;
    font-size:13px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:top;
}
.dataLeftMediumBottom {
    padding-right:2px;
    padding-left:4px;
    padding-bottom:2px;
    padding-top:2px;
    font-size: 13px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    vertical-align:bottom;
}
.dataCenterMedium {
    padding-right:2px;
    padding-left:4px;
    padding-bottom:2px;
    padding-top:2px;
    font-size:13px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:center;
    vertical-align:top;
}
.dataCenter {
    padding:2px;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:center;    
    vertical-align:baseline;
}
.dataRightMedium {
    padding-right:2px;
    padding-left:4px;
    padding-bottom:2px;
    padding-top:2px;
    font-size:13px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
    vertical-align:top;
}
.dataBold {
    padding-right:2px;
    padding-left:4px;
    padding-bottom:0px;
    padding-top:3px;
    font-weight:bold;
    font-size:10px;
    color:#000;
    font-family:Verdana,Arial,Helvetica,sans-serif;
}
.dataBoldRight {
    padding-right:2px;
    padding-left:2px;
    padding-bottom:0px;
    padding-top:3px;
    font-weight:bold;
    font-size:10px;
    color:#000;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    text-align:right;
}
.dataBoldTMG {
    padding-right:2px;
    padding-left:4px;
    font-weight:bold;
    font-size:10px;
    padding-bottom:0px;
    color:#000;
    padding-top:3px;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    vertical-align:top;
}
.dataHliteRight {
    padding:2px;
    font-size:11px;
    color:#900;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:right;
    text-decoration:none;
}
.dataHliteLeft {
    padding:2px;
    font-size:11px;
    color:#900;
    font-family:Arial,Helvetica,Sans-serif;
    text-align:left;
    text-decoration:none;
}
.dash {background-image:url(../images/common/dash.gif);}
.caption {
    font-size:9px;
    color:#fc3;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    text-decoration:none;
}
.imageCaption {
    font-size:11px;
    color:#fc3;
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    text-decoration:none;
}
.popUpCaption {
    font-weight:bold;
    font-size:12px;
    color:#fc3;
    font-family:Arial,Helvetica,Sans-serif;
    text-decoration:none;
}
.popUpCaptionLarge {
    font-weight:bold;
    font-size:18px;
    color:#fc3;
    font-family:Arial,Helvetica,Sans-serif;
    text-decoration:none;
}
.mainTitle {
    font-weight:bold;
    font-size:12px;
    color:#fc3;
    font-family:Arial;
}
.mainContent {
    font-weight:bold;
    font-size:11px;
    color:#fc3;
    font-family:Arial;
}
.instruction {
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-decoration:none;
    line-spacing: 15px;
}
.instructionBold {
    font-weight:bold;
    font-size:11px;
    color:#000;
    font-family:Arial,Helvetica,Sans-serif;
    text-decoration:none;
    line-spacing:15px;
}
.grayBg1 {background-color: #999;}
.grayBg2 {background-color: #ccc;}
.grayBg3 {background-color: #333;}
.grayBg4 {background-color: #666;}
.blkBg {background-color: #000;}
.yelBg {background-color: #fc3;}
.redBg {background-color: #fcc;}
.dangerBg {background-color: #c00;}
.yellowBg {background-color: #fc0;}
.whtBg {background-color: #fff;}
.whtBgBlackBorder {background-color: #fff;border:1px solid black;}
.whtBgRedBorder {background-color: #fff;border:2px solid #c00;}
.whtBgBlackBorderNoTop {
    background-color: #fff;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
}
.whtBgBlackBorderNoBottom {
    background-color: #fff;
    border-top:1px solid #000;
    border-right:1px solid #000;
    border-left:1px solid #000;
}
.grayBg2BlackBorder {background-color: #ccc;border:1px solid #000;}
.pageFooter {font-size: 9px;color: #fc3;font-family:Verdana,Arial,Helvetica;}
.instructionText {font-family:arial,helvetica,sans-serif;font-size: 12px;line-height: 16px;}
.mainBackground {background-image:url(../images/common/table_background.gif);}
.requiredField {color:#900;}
.globalNav {font-family:arial,helvetica,sans-serif;font-size:10px;color:#fc3;}
.globalNav a {text-decoration:none;color:#fc3;}
.redHotlist {font-size:14px;color:#f00;font-family:Arial,Helvetica,San-Serif;font-style:italic;}
.redHotlist2 {font-size: 12px;color: #f30;font-family:Arial,Helvetica,San-Serif;font-style:italic;}
.scroll {
    width:100%;
    height:400px;
    overflow:auto;
    scrollbar-arrow-color:#fc3;
    scrollbar-face-color:#333;
    scrollbar-highlight-color:#333;
}
.navCellon {
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    padding:2px;
    vertical-align:middle;
    nowrap:true;
    text-decoration:none;
}
.navCellon a:link    {color: #fc3;text-decoration:underline;}
.navCellon a:active  {color: #fc3;text-decoration:underline;}
.navCellon a:visited {color: #fc3;text-decoration:underline;}

.navCellonOver {
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
    color:#fc3;
    padding:2px;
    vertical-align:middle;
    nowrap:true;
    text-decoration:underline;
}
.linkstyle {font-family:"@Arial Unicode MS",sans-serif;font-size:9px;color:#ccc;}
.linkstyleprintable {font-family:"@Arial Unicode MS",sans-serif;font-size:9px;color:#000;}
.menu {border:2px solid #000;background-color:#fc3;z-index:100;}
.flmi {
    font-family:arial,sans-serif;
    font-size:8pt;
    font-weight:bold;
    color:#000;
    border-bottom:2px solid #000;
    padding:5px;
    cursor:hand;
}
.flmiOver {
    font-family:arial,sans-serif;
    font-size:8pt;
    font-weight:bold;
    color:#fff;
    background-color:#000;
    border-bottom:2px solid #000;
    padding:5px;
    cursor:hand;
}
.flmiLast {
    font-family:arial,sans-serif;
    font-size:8pt;
    font-weight:bold;
    color:#000;
    padding:5px;
    cursor:hand;
}
.flmiLastOver {
    font-family:arial,sans-serif;
    font-size:8pt;
    font-weight:bold;
    color:#fff;
    background-color:#000;
    padding:5px;
    cursor:hand;
}
.trainingHomeQuadrant {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:22px;
    font-weight:bolder;
    color:#333;
    text-align:center;
    padding-top:6px;
    padding-bottom:8px;
    border:1px solid #333;
    background-color:#fc3;
}
.glowWorm {filter:progid:DXImageTransform.Microsoft.Glow(color=#fff,strength=2);}
.glowWormBlack {filter:progid:DXImageTransform.Microsoft.Glow(color=#333,strength=3);}
.bullpenVehicle {
    font-family:Verdana,Arial,Helvetica,Sans-serif;
    font-size:9px;
    color:#000;
    text-align:left;
    vertical-align:bottom
    padding-left:0px;
    padding-top:2px;
    padding-right:2px;
    padding-bottom:2px;
}
.bullpenVehicle a:link {color: #000;text-decoration:none;}
.bullpenVehicle a:active {color: #036;text-decoration:none;}
.bullpenVehicle a:visited {color: #000;text-decoration:none;}
.bullpenVehicle a:hover {color: #000;text-decoration:underline;}
.redistributionTabOn {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:bold;
    color:#000;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border:1px solid #fc3;
    background-color:#fc3;
}
.redistributionTabOff {
    font-family:Arial,Helvetica,Sans-serif;
    font-size:11px;
    font-weight:bold;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
}
.redistributionTabOff a {color:#fc3;text-decoration:none;}
.redistributionTabOn2 {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:9px;
    font-weight:bold;
    font-style:italic;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}
.redistributionTabOff2 {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:9px;
    font-weight:bold;
    font-style:italic;
    color:#999;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    vertical-align:middle;
}
.redistributionTabOff2 a {color:#999;text-decoration:none;}
.redistributionTabOnBottom {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:9px;
    font-weight:bold;
    font-style:italic;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border-bottom:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}
