/* // PRIMARY PAGE CONTAINERS
///////////////////////////////////////////////////////////// */

/* HEADER = page title & links */
#header { position:static;height:28px;border-top:solid 1px #486694;background:#e5e5e5 url('../../../common/_images/bkgds/brushed-584x35-withTopShadow.jpg') repeat-x top;text-align:left; }
.analytics #header { background-image:url('../../../common/_images/bkgds/brushed-1168x35-withAnalyticsShading.jpg');text-align:left; }
	#header hr { position:absolute;left:380px;top:18px;width:400px;height:1px;color:#b7bac3; }
	#header img { vertical-align:top; }
	#header img.fl { margin:5px 0 0 10px; }
	#header img.navigator { width:103px;height:13px;margin:9px 0 0 0; }
	#header img.analytics { width:86px;height:11px;margin:12px 5px 0 0; }


#body { background:#e5e5e5 url('../../../common/_images/bkgds/brushed-584x134.jpg') bottom;padding:0px 10px; }
#frame { background:white url('../../../common/_images/bkgds/grad-greyToWhiteWithBlueTop.gif') repeat-x;padding-top:7px; }





/* // GENERAL =
///////////////////////////////////////////////////////////// */

.navigator .intra_links { text-transform:none;position:absolute;right:15px;top:34px; }
	.navigator .intra_links a { text-decoration:underline; }

a.bidListLink { color:#003561;float:right;margin-top:3px;text-transform:uppercase; }



/* // ANALYTICS
/////////////////////////////////////////////////////////////
*/
#analytics_wrap { display:none;clear:both;float:right;width:650px;border:solid 1px #d8d8d8;border-top:none;border-right:none; }
#analytics { overflow:hidden;text-align:left;border:solid 8px #313c5a;padding:5px 0 23px 0;background:#f9f9f9 url('../../../common/_images/bkgds/grad-F9toE9-69h.gif') repeat-x bottom; }
	#analytics div.forcer { height:120px;text-align:center;font-weight:bold; }
	#analytics div.forcer img.loading { margin-top:50px;margin-right:5px; }

#analytics #naaaAuction .body { min-height:60px; }

#analytics_wrap a.toggle { margin-bottom:-18px;position:relative;right:22px;top:-30px;color:#333;text-transform:uppercase;text-decoration:none; }
/*#navUpgrade a.toggle { float:right;margin-bottom:5px;color:#333;text-decoration:none;text-transform:uppercase; }*/
#analytics_wrap a.toggle:hover { color:black;text-decoration:none; }
	#analytics_wrap a.toggle span { color:#b74d4f;background-color:transparent;border:solid 2px #999;text-decoration:none; }
	#analytics_wrap a.toggle:hover span { color:#333;background-color:transparent;border-color:#333;text-decoration:none; }


/* navigation */
.navigator #nav { text-align:right;position:absolute;right:0px;top:0px;background-color:transparent;background-image:none;border-top:none;z-index:6; }
	.navigator #tabs_analytics a { color:#cacaca; }
	/*.navigator #nav a.bookoutLink { color:#313c5b;text-transform:uppercase;float:right;margin-top:3px;margin-right:10px; }*/

	#tabs_analytics { float:right; }
		#tabs_analytics li { font-size:.9em;display:block;float:left;height:19px;background:transparent url('../../../common/_images/bkgds/analytics-tabs.gif') no-repeat top left;text-transform:uppercase;padding:0 15px 0 30px; }
			#tabs_analytics li a { display:block;padding-top:3px; }
			#tabs_analytics li a:hover { text-decoration:none; }
		.navigator #nav li.first { background-image:url('../../../common/_images/bkgds/analytics-tabsFirst.gif');padding-left:30px;/*padding-right:10px;*/ }

	.navigator #nav .open li { background-image:url('../../../common/_images/bkgds/analytics-tabsOpen.gif');/*padding-right:20px;*/ }
	.navigator #nav .open li.first { background-image:url('../../../common/_images/bkgds/analytics-tabsFirst.gif');/*padding-right:20px;*/ }
	.navigator #nav .open li.active { background-image:url('../../../common/_images/bkgds/analytics-tabsOpen-active.gif');padding-left:25px;padding-right:10px; }
	.navigator #nav .open li.first_active { background-image:url('../../../common/_images/bkgds/analytics-tabsFirst-active.gif');padding-left:25px;padding-right:10px; }
		.navigator #nav .open li.active a { background:url('../../../common/_images/bullets/caratDown-7x4-D4.gif') no-repeat 7px left;padding-left:10px; }
		.navigator #nav .open li.first_active a { background:url('../../../common/_images/bullets/caratDown-7x4-D4.gif') no-repeat 7px left;padding-left:10px; }


/* // GROUPS
/////////////////////////////////////////////////////////////
These are specific page-level or module-level tweaks. *** SEE firstlook.css for master declarations
*/

/* /// NAVIGATOR overrides //////////////////////////////////// */
.navigator #results { padding-bottom:5px; }			
#results .fl_navigator { margin-top:0;border:none; }

/* MARKET */
.fl_navigator .head { 
	height: 25px;
	width: 690px;
	color: #545f77;
	background:none;
	padding:2px 0 0 5px; 
	}	
	.fl_navigator .head h3 { font-size:inherit;display:inline;text-transform:none;margin-right:20px; }
	.fl_navigator .head label { float:left;font-style:italic;text-transform:none;margin-right:3px; }
.fl_navigator .head .market,.fl_navigator .head .distance { float:left; }
	.fl_navigator .head .market div,.fl_navigator .head .distance div { display:inline; }
.fl_navigator .head .distance a { color:#545f77; }
.fl_navigator .head .dynSelect a { color:#545f77; }
.fl_navigator .head .rangeSelectPopup .mileage{width:65px;}
	.fl_navigator .head .market label { margin-top:3px; }
.fl_navigator .head .distance { padding-top:3px; }
	.fl_navigator .head .distance label {  }
	.fl_navigator .head .distance select { width:110px; }
	.fl_navigator .head .distance select.small { width:60px; margin-top:-2px;}
	
/* MODEL */
	/* wrapper is required for the multiple background images behind and around the content */			
.fl_navigator .body_wrap { height:1%;background:#fcfcfc url('../../../common/_images/bkgds/grad-FFtoE8E8EA-16h.gif') repeat-x bottom;border:solid 1px #c8c8c8;border-left-color:#fcfcfc;border-right-color:#fcfcfc;margin:0 2px 0 2px; }
.fl_navigator .body,.fl_navigator .body_sub { position:relative;margin-top:-1px;background-color:transparent;background-repeat:no-repeat; }
.fl_navigator .body { float:left;left:-2px;background-image:url('../../../common/_images/corners/flNavigator-left-top.gif');padding:5px 0 0 10px; }
	.fl_navigator .body h3 { font-size:1.1em;display:inline;margin-left:5px; }
		.fl_navigator .body h3 a:hover { text-decoration:underline; }
	.fl_navigator .body dl  { padding-bottom:3px; }	
	.fl_navigator .body .dynSelect  { margin-left:20px; }	
	.fl_navigator .body .dynSelect select { width:175px;margin-top:-2px; }


/* MODEL YEARS */
.fl_navigator .body_sub { float:right;right:-2px;background-image:url('../../../common/_images/corners/flNavigator-right-top.gif');background-position:right top;padding:0; }
.fl_navigator .modelyears  { 
	margin:0 145px 0 0; 
	}
	/* 'year' label */
	.fl_navigator .modelyears em { float:left;margin:5px 3px 0 0;font-style:normal;font-size:.9em;text-transform:uppercase; }
	.fl_navigator .modelyears li { border-left:solid 1px #c8c8c8;float:left; }
	.fl_navigator .modelyears li.first,.fl_navigator .modelyears li.after { border-left-width:0; }
		/* num of results */ 
		.fl_navigator .modelyears li span { font-weight:normal;font-size:.9em; } 	
	.fl_navigator .modelyears li.active { border-left:solid 1px #c8c8c8;border-right:solid 1px #c8c8c8;position:relative;bottom:-1px; }	
.fl_navigator .modelyears a { display:block;text-decoration:none;font-size:1.1em;padding:4px 4px; }
	.fl_navigator .modelyears a:hover  { text-decoration:none; }
	.fl_navigator .modelyears li.active a { padding-top:3px;padding-bottom:5px;font-weight:bold;background-color:#fcfcfc;cursor:default; }	
		.fl_navigator .modelyears li.active a:hover { cursor:default; }
	
/* VEHICLES */
	/* wrapper is required for the multiple background images behind and around the content */		
.vehicles_wrap { 
	overflow:hidden;
	height:1%;
	margin:0 1px;
	border-bottom:solid 1px #c8c8c8;
	background:#fcfcfc url('../../../common/_images/bkgds/grad-F9toE9-69h.gif') repeat-x bottom;
	}
	.vehicles_wrap .right,
	.vehicles_wrap .left { 
		min-height:75px;
		width:49.5%;
		padding:0;
		position:relative;
		bottom:-1px; 
		}	
	.vehicles_wrap .left { 
		background:url('../../../common/_images/corners/flNavigator-left-bottom.gif') left bottom no-repeat;
		}
	.vehicles_wrap .right { 
		background:url('../../../common/_images/corners/flNavigator-right-bottom.gif') right bottom no-repeat;
	}

		.vert_line { 
			background-color:#b0b0b0;
			height:50px;
			width:1px;
			position:absolute;
			left:50%;
			margin-top:12px; 
			}
.paging { color:#1c2846;text-transform:lowercase;float:right;position:absolute;right:15px;margin-top:-19px;margin-bottom:-19px; }
	.paging a { color:#59647b;text-decoration:underline;padding:0 2px; }

.vehicles_wrap table  { width:100%; }	
.fl_navigator tr.odd,.fl_navigator tr.even { background:none; }

.vehicles,.vehicles_sub { text-transform:uppercase; }
		.vehicles { height:12px;padding:0;margin:0; }
	
			.vehicles th a { color:#81899a;font-size:.9em; }
		.vehicles_sub { 
			/*
			max-height:66px;
			*/
			overflow:hidden;
			margin-bottom:0px; 
			}
			.vehicles_sub table  { color:#545f77;border-collapse:collapse; }
				.vehicles_sub tr  { cursor:pointer; }
				.vehicles_sub td { 
					border-top: solid 1px #cacaca;
					padding-top: 1px;
					padding-bottom: 1px;
					height: 20px; 
					vertical-align: middle;
					}
			.vehicles_sub tr.first td { border-top:none; }
		.vehicles_sub tr.active { 
			color:#32415e;
			background:#f1f1f1 url('../../../common/_images/bkgds/grad-F1toBDC1C7-16h.gif') repeat-x bottom; 
			}			
		.vehicles_sub tr.active td { 
			/*border-bottom:solid 1px #8e919a;border-top:solid 1px #8e919a;*/ 
			}	

	/* widths */
.vehicles th {
	letter-spacing: -1px;
}


td.count,
th.count { 
	width: 25px;
	text-align: left;
	text-indent: 5px;
	}

td.trim,
th.trim { 
	width: auto;
	/* the flexible cell */
	}
td.trim { 
	padding-top:2px;
	line-height: 0.8;
	}

td.drivetrain,
th.drivetrain { 
	width: 58px;
	text-indent: 3px;
	}
	.vehicles td.drivetrain {
		overflow:hidden; 
	}
td.color,
th.color { 
	width: 50px;
	text-indent: 5px;
	}
	td.color { 
		overflow:hidden; 
		}
td.mileage,
th.mileage { 
	text-align: left;
	width: 50px;
	text-indent: 5px;
}
	td.mileage { 
		text-indent: 8px;
	}
td.dist,
th.dist { 	
	width: 50px;
	}
	td.dist { 
		text-indent: 5px;
		}
td.bid,
th.bid { 
	width: 95px;
	text-align: center;
	}
td.uc,
th.uc { 
	text-align: center;
	width: 55px;
	}

	
	
	
	