/* // GENERAL =
///////////////////////////////////////////////////////////// */
#results { height:1%;clear:both;margin-top:10px; }

.padLeft { padding-left:5px; }
dd.error { color:#ff0000;text-align:left;margin-left:50px; }


.profileHide{width:315px; height:345px;}

/* image sizes */
img.hotListIcon { width:48px;height:13px; }
img.hlIcon { width:10px;height:6px; }

/* column sorting */
ul.sort { margin-top:-2px;list-style-type:none;padding:0px; }
ul.sort li a { color:#cccccc;font-size:1em; }
ul.sort li a:hover{ color:#cccccc;font-size:1em;text-decoration:underline; }
ul.sort li.asc,ul.sort li.desc { background-repeat:no-repeat;background-position:0px;padding-left:10px; }
	ul.sort li.asc { background-image:url('../../../common/_images/bullets/arrow_sortAsc.gif'); }
	ul.sort li.desc { background-image:url('../../../common/_images/bullets/arrow_sortDesc.gif'); }
div.dropmarker { height:10px;width:200px;background-color:#74797d;margin-top:-3px;margin-left:-5px;z-index:1000;overflow: hidden; }

/* required fields */
.search label.req { background:transparent url('../../../common/_images/icons/required.gif') no-repeat 0px; padding-left:6px; }
.search label.ok { background:transparent url('../../../common/_images/icons/required-ok.gif') no-repeat 0px;padding-left:6px; }

/* ADD TO HOT LIST element */
ins.hotlist { display:inline;font-style:normal;visibility:hidden; }
ins.hotlist input { margin-right:0px; }
	ins.hotlist input.number { margin-right:3px; }
ins.hotlist img { margin-left:5px; }

/*dynamic select box*/
.dynSelect { cursor:hand;display:inline;background:url('../../../common/_images/bullets/caratDown-7x4-6C8196.gif') no-repeat right; background-position-y:6px;padding-right:8px;margin-right:5px; }
.noBack { background:none; }
	/*success icon for saving search defaults */
	.saveSuccess,.saveSuccessHidden { margin-top:0px;margin-right:5px; }
	.saveSuccessHidden { visibility:hidden; }


/* popup divs */
#navUpgrade { position:absolute;right:25px;top:-1000px;border:solid 1px white;z-index:910; }
#navUpgrade .module { background-color:white;width:350px;border:solid 1px #4c5365; }
	#navUpgrade .head { background:#e5e5e5 url('../../../common/_images/bkgds/brushed-584x134.jpg');border-bottom:solid 1px #4c5365; }
	#navUpgrade .head img.flLogo { float:left;margin-right:10px;margin-top:8px;width:89px;height:21px; }
	#navUpgrade .head h4 { text-transform:none;float:right;width:220px;margin-bottom:10px; }
	#navUpgrade p { line-height:1.3;margin-top:10px; }
#navUpgrade a.toggle { float:right;margin-bottom:5px;color:#333;text-decoration:none;text-transform:uppercase; }
#navUpgrade a.toggle:hover { color:black;text-decoration:none; }
	#navUpgrade a.toggle span { color:#b74d4f;background-color:transparent;border:solid 2px #999;text-decoration:none; }
	#navUpgrade a.toggle:hover span { color:#333;background-color:transparent;border-color:#333;text-decoration:none; }

	
#float { background-color:white;padding:0 0 2px 2px;position:absolute;right:5px;top:275px;width:575px;z-index:500; }
#profile_float {background-color:white;padding:1px 1px 1px 1px;width:315px; position:absolute;right:5px;top:275px;z-index:1000;}
	#profile_float .profileSet { height:1%;clear:both;border:solid 1px #4c5365; }
	#profile_float .profileBody {padding:10px; border-top:1px solid #74777c; background-color:#ffffff;}
	#profile_float .profileBody div {margin-bottom:5px; }
	#profile_float .buttons { margin-bottom:10px;padding:0px 20px 0 5px; text-align:right;}
	#profile_float .error{font-size:.9em; text-align:center; margin:5px; color:#ff0000; font-weight:bold; display:none;}
	#profile_float dt { width:70px; font-weight:bold; text-align:right; padding-right:15px; padding-top:2px;}
	#profile_float dd { width:200px; float:none; margin:0px;}
	#profile_float .mileage{width:75px;}
	#profile_float dd.padTop{padding-top:3px;margin-top:5px;}
	#profile_float span.padSides{padding:0px 5px 0px 5px;}
	#profile_float li { display:block; }
	#profile_float li label{cursor:n-resize;}
	#profile_float ul { list-style-type:none; }
	#profile_float dd.left { text-align:left; }
	#profile_float span.instructions { font-weight:bold;color:#4d5363;display:block; }
	#profile_float span.draggable { display:inline;cursor:pointer;clear:both; }
	#profile_float select{width:125px;}

#profileHead { font-weight:normal;margin-top:-1px;font-size:.9em;padding:5px 10px; color:#000000; text-transform:uppercase;background-color:#666666; background-image:url('../../../common/_images/bkgds/grad-d3d3d3-898a8e.gif'); background-repeat:repeat-x; }
	#profileHead h4 {cursor:default;}

#confirm_float{background-color:white; padding:1px 1px 1px 1px;width:250px; position:absolute;right:5px;top:275px;z-index:1000;}
	#confirm_float .profileSet { height:1%;clear:both;border:solid 1px #4c5365; }
		#confirm_float .profileSet { height:1%;clear:both;border:solid 1px #4c5365; }
		#confirm_float .profileBody {padding:10px; border-top:1px solid #74777c; font-size:1.1em;}
	#confirm_float .buttons {padding:0px 0px 10px 5px; text-align:center;}
	#confirm_float .buttons span.b{padding-top:10px;}
.selectDownArrow { background:url('../../../common/_images/bullets/caratDown-7x4-6C8196.gif') no-repeat;background-position-y:5px;background-position-x:1px; }
	#rightNav { margin-bottom:10px;text-align:right;clear:both;display:block; }

/* // SEARCH TOTALS = number of searches performed and date */
.totals { float:left; }
#totalsDate { padding-left:2px; }


/* // OPTIMAL INVENTORY SUMMARY navigation */
#nav .setPrefs { margin:10px 0 4px 0;color:#2c4558; }
#nav .left{height:30px;}
#nav .left .setPrefs { text-align:right; }
#nav .right .setPrefs { text-align:left; }
	.setPrefs a { color:#2c4558;text-decoration:underline; }
#nav .right select { margin-bottom:-2px; }

#nav .submit { position:absolute;right:20px;margin-top:1px; }

#markets ul { float:right;margin-top:5px; }
	#markets li { padding-left:11px;margin-left:10px;display:block;float:left;white-space:nowrap;font-size:1.2em;font-weight:bold;text-transform:uppercase;color:#27324f;background-repeat:no-repeat;background-position:0;cursor:pointer; }
	#markets li.label { height:20px;font-size:1.1em;text-transform:capitalize;padding-right:5px;color:#003;cursor:default; }
	#markets li.on { background-image:url('../../../common/_images/bullets/check-7x8-437AAA.gif'); }
	#markets li.off { background-image:url('../../../common/_images/bullets/square-5x5-A9.gif');padding-left:9px;font-weight:normal;font-style:italic;color:#666;; }

#distance { margin-top:-1px; margin-bottom:-1px;}

	#distance  a { color:#112f53; }
	#distance  a:hover { text-decoration:none; }

	
	
#searchOptions { border:1px solid #596d86;width:450px;height:415px;background-color:#ffffff; }
#searchOptions #searchOptionsContent{ padding:4px; }
#searchOptions #searchOptionsHeader{ padding:4px;border-bottom:1px solid #596d86;cursor:hand;color:#ffffff;font-size:1.1em;background:transparent url('../../../common/_images/bkgds/grad-lightToDarkBlue-short.gif') repeat-x; }


/* // MARKETPLACE SUMMARY search filter options */
.marketplaceSummary #results div.left { width:48%; }
.marketplaceSummary #results div.right { width:49%; }

/* BODY = used only to provide gradient background under header or nav */
.marketplaceSummary #body {  }


/* // TABLES
/////////////////////////////////////////////////////////////
*/
	/* common cell stylings */	
td.count,th.count { width:38px;text-align:right; }
td.trim,th.trim { width:100px;text-align:left;overflow:hidden; }
td.color,th.color { width:80px;overflow:hidden; }
td.mileage,th.mileage { width:70px; }	
td.drivetrain,th.drivetrain { width:70px; }
td.dist,th.dist { width:70px; }	
td.view { width:45px; }
	th.view { width:32px; }
	/* in-group */
td.seller,th.seller { width:160px; } 
	td.seller { text-transform:none; }
td.uc,th.uc { width:80px; } 
td.retail, th.retail { width: 80px;}
#page1 td.retail, #page1 th.retail {width: 60px;}
td.days,th.days { width:80px; }
	/* auctions */
td.location,th.location { width:130px; }
	td.location { text-transform:none; }
td.bid,th.bid { width:110px; } 
td.exp,th.exp { width:80px; }
	td.exp { text-transform:none; }	

	
/* // GROUPS
/////////////////////////////////////////////////////////////
These are specific page-level or module-level tweaks. *** SEE firstlook.css for master declarations
*/

/* /// SHARED overrides */			
.vehicles th { font-weight:normal; }


/* /// MARKETPLACE SUMMARY overrides //////////////////////////////////// */
.marketplaceSummary .ingrp,.marketplaceSummary .live { margin-top:0; } /* left and right top modules */
	.marketplaceSummary .ingrp .first,.marketplaceSummary .ingrp .last { margin:0;border:0; } 
	.marketplaceSummary .ingrp div.even,.marketplaceSummary .ingrp div.odd { background-image:none; } /* has white background */
	.marketplaceSummary .summary .none { background-image:none;text-transform:uppercase; } 
	
.marketplaceSummary .summary .head { padding-right:5px;padding-left:10px; }

.marketplaceSummary .prefs  { white-space:nowrap;height:20px;width:275px;float:right;color:#8297a7;margin-top:1px; }

	.marketplaceSummary .prefs .prefs_dist { float:left; }
	.marketplaceSummary .prefs .prefs_dist select { width:95px; }
	.marketplaceSummary .prefs .prefs_dist a { color:white; }
#wrap .prefs .prefs_dist .dynSelect a:hover { color:#8297a7; }
	.marketplaceSummary .prefs .prefs_set { white-space:nowrap;float:right;margin-left:0;padding-left:0; }
	.marketplaceSummary .prefs .prefs_set img { vertical-align:middle; }	

.marketplaceSummary .summary .body { color:#333; }
.marketplaceSummary .summary .first { margin-top:4px; }
.marketplaceSummary .summary .last { margin-bottom:5px;border-bottom:solid 1px #999; }
	.marketplaceSummary .summary dt { float:none; }
	.marketplaceSummary .summary .body dd { width:auto;font-size:1.1em;text-transform:uppercase;padding-left:12px;text-align:left; }
	.marketplaceSummary .summary em { margin-bottom:2px;font-style:normal;display:block;text-transform:none;font-weight:normal; }
	
	
.marketplaceSummary a.viewLink,.marketplaceSummary a.viewAllLink { text-transform:uppercase;text-decoration:none;float:right; }
.marketplaceSummary a.viewAllLink { text-align:right;display:block;float:right;color:white;margin-top:2px;text-decoration:underline;width:58px; }
	.marketplaceSummary a.viewLink { color:#102c4f; }
	.marketplaceSummary a.viewLink:hover { text-decoration:underline; }
.marketplaceSummary .online a.viewLink { margin-top:17px; }
.marketplaceSummary .live a.viewLink { margin-top:50px; }
.marketplaceSummary a.off { color:#999; }
		
		
/* /// SEARCH MODULE overrides //////////////////////////////////// */
#search { margin-top:10px; }
#search .head a { color:#112f53; text-decoration:none;}
#search .head a:hover { color:#112f53; text-decoration:underline;}
	.search { border-color:#999; }
	.search .head { background-color:#eee;background-image:none;border-bottom:solid 1px #999; }
		.search .head h5 { color:#666;font-weight:normal; }
		.search .head a { float:right;text-transform:uppercase;text-decoration:underline; }	
	.search .body { background:#fafafa url('../../../common/_images/bkgds/grad-F9toF0-28h.gif') repeat-x bottom; padding-bottom:5px;}
		.search .body dt { padding:2px 5px 0 0;text-transform:uppercase; }
		.search .body dd { padding:0 15px 0 0; }
.search .submit { float:right;margin:0px 2px 0px 0px; }
.search fieldset { padding-top:10px;float:left;vertical-align:middle; }
#newYears { display:block;clear:both;margin-bottom:10px; }
	/* ONE TIME overrides */
.onetime fieldset { padding-bottom:0px; padding-top:3px;}
.onetime .submit { margin-top:0px; }
.onetime .head {padding-left:10px;}
.onetime .noBottom{border-bottom:0px;}
.onetime .head h5{background: url('../../../common/_images/bullets/caratDown-4x7-A6.gif') no-repeat left;padding-left:10px;cursor:pointer;}
.onetime .head h5.contracted{background: url('../../../common/_images/bullets/caratRight-4x7-A6.gif') no-repeat left;padding-left:10px;cursor:pointer;}
	/* FLASH LOCATE overrides */
.flash fieldset { padding-bottom:5px; }
.flash .submit { margin-top:40px; }	
	.flash .body dl { margin-bottom:5px; }
	.flash .body dl.make,.flash .body dl.model { float:none; }
	.flash .body dl.model { margin-bottom:0; }
		.flash .body dt { width:40px; }
		.flash .body dl.trim dt { width:35px; }	.flash em { text-transform:lowercase;margin-top:1px; }
	.flash .years dt { text-align:right;width:90px;  }
	.flash dt em { display:block; }
	.flash dl.range {float:none;}
	.flash dl.range em { padding:0 2px; }
	.flash dl.year { margin-bottom:0; }
		.flash dl.year em { margin-right:10px; }
	.flash .markets { margin-top:-5px;margin-left:10px; }
	.flash .markets li { display:block;padding:0;margin:-1px 0 0 0; }
	.flash .markets li input { margin:0 5px 0 0; }
	

/* /// EDIT SEARCH OPTIONS overrides //////////////////////////////////// */
	.options{background-color:#ffffff;}
	.options .head h4 { text-transform:none;margin-bottom:2px; }
		.options .head h4 strong { text-transform:uppercase; }
.options .head_sub { background:#eceef4 url('../../../common/_images/bkgds/grad-AEBECAtoECEEF4-26h.gif') repeat-x;border-bottom:solid 1px #bac5cd; }

.options fieldset { padding-top:5px;padding-bottom:0; }
	.options fieldset legend { position:relative;left:-5px;margin-bottom:5px;text-transform:uppercase;color:#11192f; }
.options input { margin-right:3px; }
.options select { margin:0 5px 2px 5px; }	
.options ul { float:left; }
.options li { display:block;margin-right:5px; }
	.options li input { float:left;clear:left;margin-top:-2px; }
	.options .other { height:20px;margin-top:15px; float: left; }
	.options .years dt { width:320px; }
	.options  .hdr{ background-color:#cacaca; color:#395072; font-size:1em; margin:4px; padding-top:3px; padding-bottom:3px;}
		.options  .hdr span{padding-left:73px;}
		.options  .hdr span.first{padding-left:14px;}
		.options  .hdr span.last{padding-left:95px;}
	.options .years span a{color:#395072; text-decoration:none;}
		.options .years span a:hover{ color:#395072;text-decoration:underline;}
	.options .years span.stockMessage{ padding-left:62px;width:200px; font-size:1em; text-transform:none;  color:#395072;} 
		
	.options .years span.allStockMessage{ padding-left:10px;width:200px;font-size:1em; text-transform:none;  color:#395072;}
		.options .years dt span { font-size:.9em;text-transform:lowercase; color:#000000;}
.options .submit { float:right;position:relative;top:-32px;margin-bottom:-20px; }


	
/* /// SEARCH SUMMARY RESULTS overrides //////////////////////////////////// */
	.summary { margin-top:15px; }
	.summary table { width:100%;text-transform:uppercase; }	
		.summary dd { font-weight:bold; }
.summary .market dt { cursor:pointer; }	
.summary .none .market dt { cursor:default; }
		.summary dt h3 { font-weight:bold;text-transform:uppercase; }
		.summary .head dl { float:left; }
			.summary .head dt { width:295px; }
			.summary .head dd { font-size:1.175em;width:115px; } /* results number */
	.summary .head .left { width:72%; }
	.summary .head .left dd { text-align:right;margin-right:5px; }

	.summary .left .select { text-transform:lowercase;margin-top:2px; }
	.summary .left .select img { margin-left:3px;vertical-align:middle; }
.summary .left .select a { text-decoration:none; }	
.summary .left .select a:hover { color:white;text-decoration:none; }
.summary .left .select a strong { color:white;font-size:1.175em;position:relative;top:-2px;padding-right:2px; }
	.summary .left select { margin-top:-2px;margin-bottom:0;padding:0; } /* hidden select */
	.summary .head .left a.viewAllLink { margin-top:1px;text-align:right;display:block;width:45px;float:left;position:relative;left:-135px;margin-right:-45px; }	
		.summary .head .left .rangeSelect{margin-left:5px;}
	.summary .head .right { width:25%;text-align:right;padding-top:2px; }
	.summary .head .update { text-align:left;width:25px;border-left:solid 1px #657798;padding:0 5px 0 10px;margin-left:10px; }
	.summary .head .rating { color:#c5d8e4;text-transform:uppercase;font-weight:bold; }
		.summary .head .right img { vertical-align:middle; }
		.summary .head .right span { margin-right:5px; }		
		.summary .head .right div { float:right; }

	.summary .head_sub { padding-top:1px;padding-bottom:1px;}			
.head_sub .submit { float:right;margin:0;padding:0;margin-bottom:-6px; }
	
.summary .modelyears { height:1%;margin-top:5px;margin-bottom:6px; }
	.summary .modelyears em { float:left;display:block;width:70px; }
	.summary .modelyears ul { padding:0 20px; }


	.summary .modelyears li { cursor:hand;color:#999;font-style:italic;float:left;width:50px;background:url('../../../common/_images/bullets/square-5x5-A9.gif') no-repeat left;padding-left:8px; }
	.summary .modelyears li a { color:#999;text-decoration:none; }
		.summary .modelyears li a:hover { text-decoration:none; }

.modelyears li.all,.modelyears li.allnew,.modelyears li.allopt,.modelyears li.allnew_off,.modelyears li.allopt_off { width:75px; }
		.modelyears li.allopt,.modelyears li.allopt_off,.modelyears li.allnew,.modelyears li.allnew_off { /*padding-left:11px;*/ }
		.modelyears li.opt,.modelyears li.opt_off,.modelyears li.new,.modelyears li.new_off { /*padding-left:11px;*/ }
	.modelyears li.new,.modelyears li.allnew { font-style:normal;background-image:url('../../../common/_images/bullets/check-7x8-437AAA.gif'); }
	.modelyears li.new_off,.modelyears li.allnew_off { background-image:url('../../../common/_images/bullets/check-7x8-A9.gif'); }		
	.modelyears li.opt,.modelyears li.allopt { font-style:normal;background-image:url('../../../common/_images/bullets/plus-8x8-2C9202.gif'); }
	.modelyears li.opt_off,.modelyears li.allopt_off { background-image:url('../../../common/_images/bullets/plus-8x8-A9.gif'); }	
		.modelyears li.opt a,.modelyears li.new a,.modelyears li.allopt a,.modelyears li.allnew a { color:black;font-weight:bold;padding-left:3px; }
		.modelyears li.opt_off a,.modelyears li.new_off a,.modelyears li.allopt_off a,.modelyears li.allnew_off a { font-weight:bold;padding-left:3px; }
/* all years is ON */
.modelyears ul.all li.new,.modelyears ul.all li.new_off { font-style:italic;background-image:url('../../../common/_images/bullets/check-7x8-A9.gif'); }
.modelyears ul.all li.opt,.modelyears ul.all li.opt_off { font-style:italic;background-image:url('../../../common/_images/bullets/plus-8x8-A9.gif'); }			
	.modelyears ul.all li.opt a,.modelyears ul.all li.new a { color:#999; }
	.modelyears ul.all li.allopt a,.modelyears ul.all li.allnew a { color:black; }		
		/* hotlist */
		.modelyears li span.hl { margin-left:2px;color:white;font-size:.1em;padding:5px 5px;background:url('../../../common/_images/icons/hotList-HLText.gif') no-repeat; }
		.modelyears li.opt_off span.hl,.modelyears li.allopt_off span.hl,.modelyears li.new_off span.hl,.modelyears li.allnew_off span.hl { background-image:url('../../../common/_images/icons/hotList-HLText-off.gif'); }
		.modelyears ul.all li.opt span.hl,.modelyears ul.all li.new span.hl { background-image:url('../../../common/_images/icons/hotList-HLText-off.gif'); }
			
		
			
.summary .body,.summary .vehicles { border-top:solid 1px #999; }
	.summary .body dt { width:376px;padding-left:12px;background:url('../../../common/_images/bullets/caratRight-4x7-A6.gif') no-repeat left; }
	.summary .none dt { background-image:none; }
	.summary .body dd { width:75px;text-align:right; } /* results number */

.summary .expanded .body .market { display:none; }
.summary .expanded .vehicles,.summary .expanded .vehicles_sub { display:block; }
.summary .collapsed .body {  }
.summary .collapsed .vehicles,.summary .collapsed .vehicles_sub { display:none; }


.summary .vehicles { display:none; } /* vehicle header (default view) */
.summary .vehicles { border-bottom:solid 1px #3a4f68;margin-top:-11px; } /* *** ATTN: overridden in IE include */
	.summary .vehicles table { color:#08112b;text-align:left; }
		.summary td { padding:2px 0;border-top:solid 2px white; }
		.summary td.name { padding-left:5px; }
		.summary .vehicles th.name { background:url('../../../common/_images/bullets/caratDown-7x4-3F4D6C.gif') no-repeat left; }
		.summary .vehicles th.name a:hover { text-decoration:none;color:black; }		
		.summary .vehicles h3 { padding-left:12px; }
.summary .vehicles_sub { padding-left:2px;padding-right:2px;margin-top:5px; } /* vehicle items */
	.summary .vehicles_sub table { color:#303030;border:solid 1px #999;border-left-width:0;border-right-width:0;margin-bottom:5px; }	

	


/* /// IN-GROUP VEHICLE DETAILS overrides //////////////////////////////////// */
#results .ingroup { background-color:#ccc;border-color:#152d4f;margin-bottom:10px; }
	.ingroup .head { padding:0px;border-bottom:solid 1px #152d4f;background-color:#f2f2f2;background-image:url('../../../common/_images/bkgds/grad-F2toDBDBDD-16h.gif'); }
		.ingroup .head .left,.ingroup .head .right { width:auto;padding:5px 0;margin:0 15px;color:black;text-transform:uppercase; }
		.ingroup .head .right { padding-top:6px;font-size:1.1em;font-weight:bold;color:black;background:none;border-left:none; }		
			.ingroup .head h3 { color:#152d4f; }
	.ingroup .body { padding:0; }
	.ingroup .left { width:180px;padding:10px 15px; }
	.ingroup .right { background-color:white;border-left:solid 1px #152d4f;padding-bottom:10px; }
	.ingroup .contact  { color:#152d4f;margin-top:10px;margin-left:2px; }
		.ingroup .contact h5 { color:#152d4f;font-size:1.1em; }
		.ingroup .contact p { width:150px;margin-top:3px;line-height:1.3; }
		.ingroup .contact cite { font-weight:bold;white-space:nowrap; }
		.ingroup .contact .communicator li {
			display: block;
			background: transparent url('../_images/communicator.gif') no-repeat scroll left center;
		}
		.ingroup .contact .communicator li.communicatorActive {
			background: transparent url('../_images/communicator_active.gif') no-repeat scroll left center;
		}
		.ingroup .contact .communicator li.communicatorAway {
			background: transparent url('../_images/communicator_away.gif') no-repeat scroll left center;
		}
		.ingroup .contact .communicator li.communicatorBusy {
			background: transparent url('../_images/communicator_busy.gif') no-repeat scroll left center;
		}
		.ingroup .contact .communicator li.communicatorDoNotDisturb {
			background: transparent url('../_images/communicator_donotdisturb.gif') no-repeat scroll left center;
		}
		.ingroup .contact .communicator li.communicatorInactive {
			background: transparent url('../_images/communicator_inactive.gif') no-repeat scroll left center;
		}
		.ingroup .contact .communicator li a { padding-left: 35px; }
		.ingroup .contact .communicator li span { padding-left: 35px; font-size: 90%; }
	.ingroup dl { overflow:hidden;width:100%;color:#152d4f;font-size:1.2em;font-weight:bold; }
		.ingroup dt,.ingroup dd,.ingroup li { padding:2px 0; }
		.ingroup dt { width:180px;padding-left:15px;text-transform:uppercase; }
			.ingroup li.label { padding-left:15px;color:#152d4f;font-size:1.2em;font-weight:bold;text-transform:uppercase; }
	.ingroup ul li { display:block; }
		.ingroup ul dl { width:1050px;padding-left:0;color:black;font-size:1em;font-weight:bold; height:500px}
			.ingroup ul dt,.ingroup ul dd { text-transform:none;font-weight:normal;padding-bottom:0px; }
	.ingroup li.book_options { height:1%;padding-left:15px;margin-bottom:5px; }		
	.ingroup li.book_options ul { float:left;margin-right:20px;margin-top:3px; }
				.ingroup li.book_options ul li { padding-left:0;padding:0; }

				
				
				

/* Live auction summary */
.liveAuctionSummary .selectDownArrow{background:url('../../../common/_images/bullets/arrowDown-blueOnWhite.gif') no-repeat; background-position-y:5px;background-position-x:1px;}
.liveAuctionSummary .select {border: 0 inset buttonface; width: 550px; font: icon; cursor: default;}
.liveAuctionSummary .dropDown		{position: absolute; visibility: hidden; width: 85px;	padding: 0;	border:1px solid #596d86;}
.liveAuctionSummary .searchFilters {text-align:left;margin-bottom:10px;}
.liveAuctionSummary .selectTable	{color:#112f51;}
.liveAuctionSummary #mainTable	{}
.liveAuctionSummary .dynSelect { height:28px; cursor:hand; display:inline;background:url('../../../common/_images/bullets/arrowDown-blueOnWhite.gif') no-repeat right; background-position-y:6px;padding-right:8px; margin-right:33px;}
.liveAuctionSummary .dynSelect select{margin-right:0px;}
.liveAuctionSummary .dynSelect a{line-height:20px;}
.liveAuctionSummary .noBack{background:none; margin-right:0px;}
.liveAuctionSummary table.main thead {
	background: #4c6a97 url('../../../common/_images/bkgds/grad-lightToDarkBlue-short.gif') repeat-x bottom;
	color:#ffffff; }
.liveAuctionSummary table.main { border-top:1px solid #596d86;  border-right:1px solid #596d86;  border-left:1px solid #596d86;}
.liveAuctionSummary table.main thead th{text-transform:uppercase; border-bottom:1px solid #596d86; padding:5px; }
.liveAuctionSummary table.main tbody td{ border-bottom:1px solid #596d86; padding:5px; }
.liveAuctionSummary .center{text-align:center;}
.liveAuctionSummary tr.even { background-color:#ffffff;}
.liveAuctionSummary tr.odd { background-color:#f1f1f1;}
.liveAuctionSummary tr.over{ background-color:#ffffcc;}
/*Live Auction Run List */
.liveAuctionRunList #mainTable	{border-top:1px solid #596d86; border-right:1px solid #596d86; border-left:1px solid #596d86; }
.liveAuctionRunList #saleHeader {color:#ffffff;border-bottom:1px solid  #596d86; padding:4px; font-size:1.2em; font-weight:bold;	background:transparent url('../../../common/_images/bkgds/grad-lightToDarkBlue-short.gif') repeat-x;}
.liveAuctionRunList #content { padding:0px;}
.liveAuctionRunList #details { padding:4px; margin-bottom:15px; font-weight:bold;  }
.liveAuctionRunList .date {  font-size:.8em; }
.liveAuctionSummary .noBack{background:none;}
.liveAuctionRunList table.main thead th{text-transform:uppercase; border-bottom:1px solid #596d86; padding:5px; }
.liveAuctionRunList table.main tbody td{ border-bottom:1px solid #596d86; padding:5px; }
.liveAuctionRunList table.main tbody tr.match{ background-color:#f1fd79; }
.liveAuctionRunList  .center{text-align:center;}
.liveAuctionRunList  .check{background: url('../../../common/_images/bullets/check-7x8-2C9202.gif') center;background-repeat: no-repeat; background-color:inherit;}
.liveAuctionRunList tr.even { background-color:#ffffff;}
.liveAuctionRunList tr.odd { background-color:#f1f1f1;}
.liveAuctionRunList tr.over{ background-color:#ffffcc;}
 .liveAuctionRunList tr.show{background-color:#ffffdd;}
  .liveAuctionRunList a.disabled{color:#999; text-decoration:none; cursor:default;}
    .liveAuctionRunList a.disabled:hover{color:#999;  text-decoration:none; cursor:default;}
     .liveAuctionRunList a{color:#003366; text-decoration:underline; }
    .liveAuctionRunList a:hover{color:#003366;  text-decoration:none; }
 .liveAuctionRunList  ul.sort li a{color:#003366; font-size:1em;}
.liveAuctionRunList  ul.sort li a:hover{color:#003366; font-size:1em; text-decoration:none;}
.liveAuctionRunList ul.sort li.asc {background-image:url('../../../common/_images/bullets/arrow_sortAsc_blue.gif'); background-repeat:no-repeat; background-position:0px; padding-left:10px; }
.liveAuctionRunList  ul.sort li.desc {background-image:url('../../../common/_images/bullets/arrow_sortDesc_blue.gif'); background-repeat:no-repeat; background-position:0px; padding-left:10px; }

.rangeSelect a.white {color:#ffffff;}
.select a.white {color:#ffffff;}

/* Buyer's Order Form (Pop-Up) */
#OrderDiv { background-color:#fff; border:solid #808080 2px; display:none; padding-bottom:10px; position:absolute; right:47px; top:120px; width:395px; }
#OrderDiv .formTitleBar { background-color:#808080; height:21px; }
#OrderDiv h4 { color:#fff; float:left; padding:2px 9px 3px; font-size:1.2em; }
#OrderDiv #ButtonClose { border-style: solid; color:#FF0000; float:right; height:16px; width:16px; font-weight:bold; line-height:.5em; }
#OrderFormDiv .fieldLabelPair { clear:both; color:#004a82; padding-top:5px; font-size:1em; }
#OrderFormDiv .fieldLabelPair input { color:#004a82; font-size:1em; width:214px; }
#OrderFormDiv .fieldLabelPair select { color:#004a82; font-size:1em; }
#OrderFormDiv .fieldStackedLabelPair textarea { color:#004a82; font-size:1em; margin:0 0 0 10px; }
#OrderFormDiv .fieldLabelPair label { color:#004a82; display:block; float:left; font-size:1.1em; margin-left:10px; width:150px; }
#OrderFormDiv .fieldStackedLabelPair { clear:both; padding-top:5px; }
#OrderFormDiv .fieldStackedLabelPair label { color:#004a82; display:block; margin:0 5px 0 10px; }
#OrderFormDiv .ckbLabelPair { clear:both; color:#004a82; padding:5px 0 0 8px; }
#OrderFormDiv textarea { width:178px; }
#OrderFormDiv .formActionButtons { position:absolute; right:8px; bottom:10px; }
#OrderFormDiv .notesStackedTextAreaLable textarea { color:#004a82; font-size:1em; margin:0 0 0 10px; height: 50px; }
#OrderFormDiv .notesStackedTextAreaLable{ clear:both; padding-top:5px; }
#OrderFormDiv .notesStackedTextAreaLable label { color:#004a82; display:block; margin:0 5px 0 10px; }