<% planning_action = inventory_planning_task.planning_action %>
<% planning_action_default = inventory_planning_task.planning_category_table_cell.planning_action_default %>
<li><% unless planning_action.id == 1 %><a href="#" onclick="new Ajax.Request('/planning/refresh_planning_act?planning_action_id=<%= planning_action.id %>&amp;menu_bar_component=true&amp;inventory_id=<%= inventory.id %>', {asynchronous:true, evalScripts:true, onComplete:function(request){Element.replace($('planning_action_menu_bar_component'), request.responseText);}}); return false;"><% end %>
    <% if planning_action.id == 1 %>
        <%= inventory.age %> day old <%= inventory.planning_category_name %> vehicle; scheduled for repricing on <%= inventory_planning_task.valid_from.strftime('%m/%d/%Y') %>
        <% unless planning_action_default.empty_value %>
            <% reprice = planning_action_default.planning_action_default_reprices.first %>
            <% if reprice.planning_action_default_reprice_type_id == 1 %>
                Consider dropping price by <%= money (reprice.amount) %>
            <% elsif reprice.planning_action_default_reprice_type_id == 2 %>
                Compare against PING Average price of <%= ping_conditional_display inventory %>
            <% elsif reprice.planning_action_default_reprice_type_id == 3 %>
                Consider setting List Price to Unit Cost + <%= money (reprice.amount) %>
            <% end %>
        <% end %>
    <% elsif planning_action.id == 2 %>
        <% if planning_action_default.empty_value %>
            Consider advertising this vehicle.
        <% else %>
            <% planning_action_default.planning_action_default_small_print_advertisements.each do |small_print_advertisement| %>
                <% campaign = small_print_advertisement.campaign %>
                Advertise in <%= campaign.third_party.nil? ? '' : campaign.third_party.name %> <%= campaign.name %>.  Ad plan due in <%= campaign.campaign_deadline.nil? ? '' : campaign.campaign_deadline.days_until_deadline %> for <%= interval_as_bare_text(campaign.run_date_interval) %> publication
            <% end %>
        <% end %>
    <% elsif [3,8].include?(planning_action.id) %>
        <% if planning_action_default.empty_value %>
            Consider offering to online auctions.
        <% else %>
            Consider offering on
            <% planning_action_default.planning_action_default_internet_auctions.each do |default| %>
                <%= default.third_party.name %>
            <% end %>
        <% end %>
    <% elsif planning_action.id == 4 %>
        <% if planning_action_default.empty_value %>
            Consider for lot promotion
        <% else %>
            Consider for
            <% planning_action_default.planning_action_default_lot_promotions.each do |default| %>
                <%= default.planning_act_lot_promotion.name %>
            <% end %>
            lot promotion
        <% end %>
    <% elsif planning_action.id == 5 %>
        <% if planning_action_default.empty_value %>
            Consider SPIFFing this vehicle
        <% else %>
            <% planning_action_default.planning_action_default_spiffs.each do |default| %>
                <% planning_act_spiff = PlanningActSPIFF.find(default.planning_act_spiff_id) %>
                Consider <%= money(planning_act_spiff.amount) %> <%= planning_act_spiff.name %> SPIFF
            <% end %>
        <% end %>
    <% elsif [6,10,14].include?(planning_action.id) %>
        <% if planning_action_default.empty_value %>
            Consider for Other action
        <% else %>
            Consider for
            <% planning_action_default.planning_action_default_others.each do |default| %>
                <%= default.planning_act_other.name %>
            <% end %>
        <% end %>
    <% elsif planning_action.id == 7 %>
        <% if planning_action_default.empty_value %>
            Send vehicle to auction.
        <% else %>
            <% planning_action_default.planning_action_default_live_auctions.each do |default| %>
                <% live_auction = default.live_auction %>
                Send vehicle to <%= [live_auction.name, live_auction.city, live_auction.state].compact * ',' %>
            <% end %>
        <% end %>
    <% elsif planning_action.id == 9 %>
        <% if planning_action_default.empty_value %>
            Send vehicle to wholesaler.
        <% else %>
            <% planning_action_default.planning_action_default_wholesalers.each do |default| %>
                <% wholesaler = default.planning_action_default_wholesaler.wholesaler %>
                Contact <%= wholesaler.name %>, (phone# - <%= wholesaler.telephone_number %>)
            <% end %>
        <% end %>
    <% elsif planning_action.id == 11 %>
        <% if planning_action_default.empty_value %>
            Consider offering to online advertisers.
        <% else %>
            Consider offering on
            <% planning_action_default.planning_action_default_internet_advertisement.each do |default| %>
                <%= default.planning_action_default_internet_advertisement.third_party.name %>
            <% end %>
        <% end %>
    <% elsif planning_action.id == 12 %>
        In Group
    <% elsif planning_action.id == 13 %>
        Sold
    <% elsif planning_action.id == 15 %>
        Service
    <% end %>
<% unless planning_action.id == 1 %></a><% end %></li>