<div id="inventory_<%= inventory.id %>" 
	<% if (first_inventory_item == inventory.id) && (side_of_page == 'left') %>
        class="inventory_select clearfix"
    <% else %>
        class="inventory clearfix"
    <% end %>
 <% if side_of_page == 'left' %>
 onclick="toggleClass(this);"
 <% end %>
 >

<% if side_of_page == 'left' %>
<div id="plan-selector">&nbsp;</div>
<div class="list-top">
<div class="list-bot clearfix">
<div class="listcontents">
    <div class="top clearfix">
        <% unless inventory.inventory_planning_tasks.empty? %>
        <ul class="planning_actions">
            <% inventory.inventory_planning_tasks.each do |inventory_planning_task| %>
            <li><%= inventory_planning_task.planning_action.name %> </li>
            <% end %>
        </ul>
        <% end %>
        
        <span class="service">
            <%= link_to_remote "Service Dept.", { :url => { :action => 'service_open', :id => inventory.id }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('Service');" } %>
        </span>
    </div>
<% end %>

		<div class="vehicleinfo" 
		 <% if side_of_page == 'left' %>
		onmouseover="this.className='vehicleinfoHilite';" onmouseout="this.className='vehicleinfo';" onclick="new Ajax.Request('/planning/inventory_form/<%= inventory.id %>', {asynchronous:true, evalScripts:true}); return false;"
		<% end %>
		>
		 <% if side_of_page == 'left' %>   
		    <div class="float">
		      <span class="colormile"><%= inventory.vehicle.color %></span>
    		  <span class="colormile"><%= format_mileage( inventory.mileage_received ) %> Miles</span>
    		</div>
         <% end %>
			<div class="vehicle_top">
    			<span class="age"><%= inventory.age %> Days</span>
    			<span class="ymmts"><%= inventory.vehicle.description %></span>
    			
             </div>
         <% if side_of_page == 'left' %> 
             <div class="vehicle_acquired">
                    <span class="t-p" style="margin-left:50px;"><% if !inventory.certified.zero? %>Certified<% end %></span>
                    <span class="t-p"><% if !inventory.special_finance.zero? %>Special Finance<% end %></span>
                    <span class="t-p"><%= inventory.acquire_type %></span>
                    <span class="t-p" style="margin-right:5px;"><a href="#" onclick=""><%=inventory.stock_number%></a></span>
    		 </div>
    	 <% end %>
    	 <% if side_of_page == 'right' %>   
		    <div class="risk">
		    <div class="vehicle_acquired">
                    <span class="t-p"><%= inventory.acquire_type %></span>
                    <span class="t-p" style="margin-right:5px;"><a href="#" onclick=""><%=inventory.stock_number%></a></span>
    		 </div>
		      <span class="light"><%= vehicle_light_img inventory %></span>
		      <span class="colormile" style="margin-left:8px;"><%= inventory.vehicle.color %></span>
    		  <span class="colormile"><%= format_mileage( inventory.mileage_received ) %> Miles</span>
    		</div>
         <% end %>	  
            <div class="risk_prime">
         <% if side_of_page == 'right' %>
             <div class="vehicle_acquired">
               <span class="t-p"><% if !inventory.certified.zero? %>Certified<% end %></span>
               <span class="t-p"><% if !inventory.special_finance.zero? %>Special Finance<% end %></span>
    		 </div>
         <% end %>
                <% if side_of_page == 'left' %> 
                <span class="light"><%= vehicle_light_img inventory %></span>
                <% end %>          
                <% unless (inventory.risk_analysis.nil? || inventory.risk_analysis.empty?) %>
                <span><%= image_tag("/images/issuearrow.gif") %> <%= inventory.risk_analysis%></span>
                <% end %>
            </div>
		</div>
<% if side_of_page == 'left' %>		
		<div class="pricing">
		
            <span style="font-size:11px;color:#263047;">List Price: <span id="priceedit_<%= inventory.id %>" style="background-color:#ffffe0;" ondblclick="repriceManager.showReprice('priceedit_<%= inventory.id %>','priceedit_widgit_<%= inventory.id %>');"><%= money( inventory.list_price ) %></span>
                <div class="reprice_widgit" style="display:none;position:absolute;" id="priceedit_widgit_<%= inventory.id %>">
            
                    <a href="#" onclick="repriceManager.cancelReprice();return false;"><%= image_tag("/images/btn_cancel_sm.gif", :border => 0) %></a> 
                    <input type="text" value="<%=inventory.list_price%>" id="priceedit_widgit_<%= inventory.id %>_input"/> <%= image_tag("/images/btn_submit_sm.gif") %>
                </div>
           </span>
                           	
	        <span style="padding-left:8px;">
                <span class="priceref">Unit Cost: <%= money( inventory.unit_cost ) %></span>
                <span class="priceref"><%= inventory.primary_book_name %> <%= inventory.primary_book_category_name %>: <%= money( inventory.primary_book_value ) %></span>
                <span class="priceref">Book vs Cost: <%= money( inventory.primary_book_value_vs_unit_cost ) %></span>
            </span>
       
		</div>

</div>
</div>
</div>
<% end %>
</div>