<div id="Input">
    <div id="GuidanceNote">
        <div id="InventoryItemGuidance">
            <% unless inventory.inventory_planning_tasks.nil? || inventory.inventory_planning_tasks.empty? %>
            <h4><%= inventory.age %> day old <%= inventory.inventory_planning_categories.first.business_unit_planning_category.planning_category.name %> vehicle</h4>
            <p>Guidance:</p>
            <ul>
                <%= render :partial => 'inventory_planning_task', :collection => inventory.inventory_planning_tasks, :locals => { :inventory => inventory } %>
            </ul>
            <% end %>
        </div>
    </div>
    <div id="InventoryItem">
        <%= render :partial => 'inventory', :object => inventory, :locals => { :side_of_page => 'right' } %>
    </div>
  <div id="PlanStrategies">
  
    <!-- TODO: simon, this is a copy/paste of the old Objectives code, needs fixing up //-->
    <div id="InvObjective">
        <div class="t2">
    		<ul><li style="padding-left:3px;">Objective: </li>
    			<!-- RJS expects #{objective_camel_case_name}ObjectivesTab -->
    			<li id="RetailObjectivesTab" class="here"><a onclick="ChangeObjectiveTab('Retail','<%= inventory.id %>');" title="Change to a retail objective">Retail</a></li>
    			<li id="WholesaleObjectivesTab"><a onclick="ChangeObjectiveTab('Wholesale','<%= inventory.id %>');" title="Change to a wholesale objective">Wholesale</a></li>
    		</ul>
    	</div>
    	<div class="t2">
    		<ul><li style="padding-left:3px;">Status: </li>
    	       <li><a title="Change to Service status">Service Dept.</a></li>
    	       <li id="SoldObjectivesTab"><a onclick="ChangeObjectiveTab('Sold','<%= inventory.id %>');" title="Change to Sold status">Sold</a></li>
    	       <li id="OtherObjectivesTab"><a onclick="ChangeObjectiveTab('Other','<%= inventory.id %>');" title="Change to Other status">Other</a></li>
    	   </ul>
    	</div>
    </div>
    <!-- END //-->
    
    <div id="RepricingPartial">
        <%= render_planning_act(1, inventory) %>
    </div>
    <!-- menu bar -->
    <% menu_bar_variables(inventory) %>
    <%= render_menu_bar_component(:planning_action_menu_bar) %>
    <!-- menu bar -->
    
  </div>
    
    <div id="planHistory">

        <span class="plan_nav_buttons">
		<%= image_tag("/images/btn_previous_r.gif", :alt => "Previous Vehicle", :title => "Show previous vehicle planning space", :border => "0") %><span><a href="">Previous Vehicle</a></span>
        &nbsp; <span><a href="">Next Vehicle</a></span><%= image_tag("/images/btn_next_r.gif", :alt => "Next Vehicle", :title => "Show next vehicle planning space", :border => "0") %>
        </span>

        <p>Current Retail Plans:</p>
        <p> <a href="">SPIFF</a> (added Today) <span><a href="">Delete</a></span><br/>
            <em><a href="">Repriced</a> on 11/27/06</em><br/>
            <a href="">Lot Promote</a> (added 11/27/06) <span><a href="">Delete</a></span>
        </p>
        <p class="planLink"><a href="">View Plan History</a></p>
    </div>
</div>
<div id="PlanningActManagement" style="display: none;"></div>
<div id="CampaignManagement" style="display: none;"></div>
<div id="ThirdPartyManagement" style="display: none;"></div>
<div id="CredentialManagement" style="display: none;"></div>