<% inventory_list.each do |inventory| %>
<div id="inventory_item_list_<%= inventory.id %>">
    <div style="float: left;">
        <%= render :partial => 'inventory', :object => inventory, :locals => { :side_of_page => 'left' } %>
    </div>
    <div style="float: left;">
        <%= render_planning_act planning_action_id, inventory %>
    </div>
</div>
<% end %>