<%= planning_act_form_tag(planning_action,inventory,:planning_act_lot_promotion) %>
    <h5>Choose your lot promotions</h5>
     <div class="c">
    	<div class="managerLink"><%= link_to_remote "Add/Remove #{planning_action.name} Options", { :url => { :controller => 'management/planning_act_lot_promotion', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => inventory.id, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('PlanningActManagement');" }, { :title => "Open #{planning_action.name} Manager" } %></div>
    </div>
    <%= render_component :controller => 'management/planning_act_lot_promotion', :action => 'list', :params => { :inventory_id => inventory.id, :planning_action_id => planning_action.id, :selections => planning_action_defaults(inventory, planning_action.id).collect{|d| d.planning_act_lot_promotion_id}, :input_type => 'checkbox', :input_object => nil, :input_method => nil, :html_options => {} } %>
    <h5>Notes and Scheduling</h5>
	<%= render :partial => 'planning_act_notes', :locals => { :inventory => inventory, :planning_action => planning_action } %>
	<div class="c">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>