<%= planning_act_form_tag(planning_action,inventory) %>
	<select id="business_unit_id" name="business_unit_id">
	   <option value="0">Select ...</option>
	   <%= options_from_collection_for_select session[:business_unit].siblings, 'id', 'name' %>
	</select>
	<div class="c">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>