<%= planning_act_form_tag(planning_action,inventory,:planning_act_reprice) %> 
<%= hidden_field_tag 'planning_act_reprice[planning_act_price_attribute_id]', 1, { :id => "planning_act_list_reprice_attribute_#{inventory.id}" } %>
<%= hidden_field_tag 'planning_act_reprice[original_price]', inventory.list_price, { :id => "planning_act_list_original_price_#{inventory.id}" } %>
<div class="repricing">
    <div style="color:#336;font-size:12px;"><label for="List Price">List Price: </label></div>
        <div style="margin-left:5px;">
            <input type="image" src="/images/btn_cancel_sm.gif" name="cancel" value="cancel" style="margin-left:5px;" /> 
            <%= text_field_tag 'planning_act_reprice[new_price]', money(inventory.list_price.to_i), { :id => "planning_act_list_new_price_#{inventory.id}", :size => '8', :style => 'background-color:#ffffe0;' } %> 
            <input type="image" src="/images/btn_submit_sm.gif" name="submit" value="submit" />
        </div>
    </div>
<%= end_form_tag %>
<% if session[:business_unit].business_unit_preference.ad_price_enabled %>
<%= planning_act_form_tag(planning_action,inventory,:planning_act_reprice) %>
<%= hidden_field_tag 'planning_act_reprice[planning_act_price_attribute_id]', 2, { :id => "planning_act_ad_reprice_attribute_#{inventory.id}" } %>
<%= hidden_field_tag 'planning_act_reprice[original_price]', inventory.inventory_advertising_attribute.price, { :id => "planning_act_ad_original_price_#{inventory.id}" } %>
<div class="c">
  <div class="l"><label for="List Price">Ad Price: </label></div>
  <div class="i"><input type="image" src="/images/btn_cancel_sm.gif" name="cancel" value="cancel" style="margin-left:5px;" /> <%= text_field_tag 'planning_act_reprice[new_price]', inventory.inventory_advertising_attribute.price, { :id => "planning_act_ad_new_price_#{inventory.id}", :size => '8' } %> <input type="image" src="/images/btn_submit_sm.gif" name="submit" value="submit" /></div>
</div>
<%= end_form_tag %>
<% end %>
<div class="pricing clearfix">
  <dl>
    <dt>Unit Cost:</dt>
    <dd><%= money( inventory.unit_cost ) %></dd>
    <dt><%= inventory.primary_book_name %> <%= inventory.primary_book_category_name %>:</dt>
    <dd><%= money( inventory.primary_book_value ) %></dd>
    <dt>Book vs Cost:</dt>
    <dd><%= money( inventory.primary_book_value_vs_unit_cost ) %></dd>
    <dt>PING:</dt>
    <dd>
      <em>
        <div id="ping_price">
          <%= money(ping_conditional_display inventory) %>
        </div>
      </em>
    </dd>
  </dl>
</div>
<br style="clear:both;" />