<% css = "#{planning_action.planning_action_type.underscore_name}_#{planning_action.underscore_name}_values" %>
<div class="<%= css %>" hal:refresh="<%= refresh_planning_act(planning_action,inventory) %>"><!-- empty marker div to attach hal:refresh onto as css selectors have bad support --></div>
 <h5>Choose your Internet Auctions</h5>
<div class="c">
	<div class="managerLink"><%= link_to_remote "Add/Remove #{planning_action.name} Options", { :url => { :controller => 'management/internet_auction', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => inventory.id, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" }, { :title => "Open #{planning_action.name} Manager" } %></div>
</div>
<% internet_auctions = internet_auctions_by_business_unit(session[:business_unit].id) %>
<div class="t4">

<% prefixes = internet_auctions.collect{|internet_auction| gen_id([planning_action.planning_action_type, planning_action, inventory, internet_auction]) } %>
<% prefixes_qu_t = prefixes.collect{|p| "'#{p}_tab'"} %>
<% prefixes_qu_c = prefixes.collect{|p| "'#{p}_container'"} %>
<% prefixes_js_t = "[#{prefixes_qu_t.join(',')}]" %>
<% prefixes_js_c = "[#{prefixes_qu_c.join(',')}]" %>
<% internet_auctions.each_with_index do |internet_auction,index| %>
<% id_outer = gen_id([planning_action.planning_action_type, planning_action, inventory, internet_auction]) %>
<%is_selected = false;%> 
    <div class="option_set">        
         <input type="checkbox" name="internet_auction[id][]" <% if is_selected %>checked="true"<% end %> value="<%= internet_auction.id %>" id="<%= id_outer %>"> <label for="<%=id_outer%>"><%=  internet_auction.name %></label>
         <div style="text-align:right;"><a href="#" id="edit_link_<%= id_outer %>" onclick="planningEdit.editContent(this,'options_content_<%= id_outer%>'); return false;">Edit</a></div>
    </div>
<% end %>

</div>
<%active_auction = false%>
<%= planning_act_form_tag(planning_action,inventory,:planning_act_internet_auction) %>
    <% internet_auctions.each_with_index do |internet_auction,index| %>
    <% id_outer = gen_id([planning_action.planning_action_type, planning_action, inventory, internet_auction]) %>
    <div id="options_content_<%= id_outer %>" class="planning_options_set" style="display:none; position:absolute;">
    
    <% if internet_auction.name == 'GMAC Smart Auction' && has_credential?(session[:member],3) || internet_auction.name != 'GMAC Smart Auction' %>
        <%active_auction = true%>
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActInternetAuction.new, internet_auction], 'third_party_id') %>
        <%= hidden_field_tag 'planning_act_internet_auction[third_party_id]', internet_auction.id, { :id => id } %>
    	<div class="c">
            <div class="l">Send: </div>
            <div class="i">
                <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActInternetAuction.new, internet_auction], 'send_pictures') %>
                <div><%= check_box 'planning_act_internet_auction', 'send_pictures', { :id => id }, true, false %><label for="<%= id %>">Pictures</label></div>
                <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActInternetAuction.new, internet_auction], 'send_announcements') %>
                <div><%= check_box 'planning_act_internet_auction', 'send_announcements', { :id => id }, true, false %><label for="<%= id %>">Announcements</label></div>
            </div>
    	</div>
    	<div class="c">
            <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActInternetAuction.new, internet_auction], 'announcements') %>
    		<div class="l"><label for="<%= id %>">Announcements</label>:</div>
    		<div class="i"><%= text_area 'planning_act_internet_auction', 'announcements', { :id => id, :rows => 4, :cols => 15 } %></div>
        </div>
    	<div class="c">
    		<input type="button" name="Done" onclick="Element.hide('options_content_<%= id_outer %>');" value="Done" />
    	</div>
    
    <% else %>
        <p class="credential_authority_3" hal:refresh="<%= refresh_planning_act(planning_action,inventory) %>">To activate SmartAuction, enter your <br /> SmartAuction ID in your <%= link_to_remote "profile", { :url => { :controller => 'credential', :action => 'open', :credential_authority_id => 3 }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('CredentialManagement');" }, { :title => "Open Credential Manager" } %>.</p>
    <% end %>
    </div>
    <% end %>
    <%if active_auction%>
        <div class="c">
        		<input type="submit" name="Save" value="Save Auctions" />
        </div>
    <%end%>
<%= end_form_tag %>