<%= planning_act_form_tag(planning_action,inventory,:planning_act_wholesaler) %>
	<h5>Choose one of your standard Wholesalers</h5>
    <%= render_component :controller => 'management/wholesaler', :action => 'list', :params => { :inventory_id => inventory.id, :planning_action_id => planning_action.id } %>
    <div class="c">
    	<div class="managerLink"><%= link_to_remote "Add/Remove #{planning_action.name} Options", { :url => { :controller => 'management/wholesaler', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => inventory.id, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" }, { :title => "Open #{planning_action.name} Manager" } %></div>
    </div>
    <h5>Notes and Scheduling</h5>
	<div class="c">
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActWholesaler.new], 'date') %>
		<div class="l"><label for="<%= id %>">Date</label>:</div>
		<div class="i"><%= text_field 'planning_act_wholesaler', 'date', { :id => id, :size => 10, :maxsize => 10 } %> <a href="#" onclick=""><%= image_tag("/images/icon_cal.gif", :alt => "Calendar", :border => "0") %></a></div>
	</div>
	<%= render :partial => 'planning_act_notes', :locals => { :inventory => inventory, :planning_action => planning_action } %>
	<div class="input_container">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>