<%= planning_act_form_tag(planning_action,inventory,:planning_act_spiff) %>
    <h5>Choose one of your standard SPIFFs</h5>
    <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActSPIFF.new]) %>
    <% html_options = { :onclick => "$('#{id}').checked = true;" } %>
    <%= render_component :controller => 'management/planning_act_spiff', :action => 'list', :params => { :inventory_id => inventory.id, :planning_action_id => planning_action.id, :selections => planning_action_defaults(inventory, planning_action.id).collect{|d| d.planning_act_spiff_id}, :input_type => 'radio', :input_object => nil, :input_method => nil, :html_options => {} } %>
    <div class="c">
    	<div class="managerLink"><%= link_to_remote "Add/Remove #{planning_action.name} Options", { :url => { :controller => 'management/planning_act_spiff', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => inventory.id, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('PlanningActManagement');" }, { :title => "Open #{planning_action.name} Manager" } %></div>
    </div>
    <h5>Use an ad-hoc SPIFF</h5>
    <div class="c">
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActSPIFF.new], 'amount') %>
		<div class="l"><label for="<%= id %>">Value ($)</label>:</div>
		<div class="i"><%= text_field 'planning_act_spiff', 'amount', { :id => id, :size => 7, :maxsize => 7 }.update(html_options) %></div>
	</div>
	<div class="c">
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActSPIFF.new], 'name') %>
        <div class="l"><label for="<%= id %>">Name</label>:</div>
		<div class="i"><%= text_field 'planning_act_spiff', 'name', { :id => id, :size => 10, :maxsize => 255 }.update(html_options) %></div>
	</div>
	<div style="clear: both;"></div>
	<h5>Notes and Scheduling</h5>
	<%= render :partial => 'planning_act_notes', :locals => { :inventory => inventory, :planning_action => planning_action } %>
	<div class="c">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>