<div class="campaign_run_values" hal:refresh="<%= refresh_planning_act(planning_action,inventory) %>">
<%= planning_act_form_tag(planning_action,inventory,:planning_act_small_print_advertisement) %>
    <div class="c">
    	<div class="managerLink"><%= link_to_remote "Add/Remove Campaigns", { :url => { :controller => 'management/campaign', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => inventory.id }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('CampaignManagement');" }, { :title => "Open Campaign Manager" } %></div>
    </div>
	<% campaign_runs = CampaignDeadline.find(:all, :conditions => ["business_unit_id = ?", session[:business_unit].id], :order => "campaign_name") %>
	<% campaign_runs.each do |campaign_run| %>
    <% is_selected = planning_action_defaults(inventory, planning_action.id).detect{|d| d.campaign_id == campaign_run.campaign_id}%>
    <% id_outer = gen_id([planning_action.planning_action_type, planning_action, inventory, campaign_run].compact)%>
        <div class="option_set">
            <input type="checkbox" name="campaign[id][]" <% if is_selected %>checked="true"<% end %> value="<%= campaign_run.campaign_id %>" id="<%= id_outer %>"> <label for="<%= id_outer %>"><%= [campaign_run.third_party_name, campaign_run.campaign_name].compact * ', ' %></label>
            <div style="text-align:right;"><a href="#" id="edit_link_<%=id_outer%>" onclick="planningEdit.editContent(this,'options_content_<%= id_outer %>'); return false;">Edit</a></div>
        </div>
        <div class="planning_options_set" style="display:none; position:absolute;" id="options_content_<%=id_outer%>">
        <div class="c">
            <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, campaign_run, InventoryAdvertisingAttribute.new], 'description') %>
            <div class="l"><label for="<%= id %>">Your Text Snippet</label>:</div>
    		<div class="i"><%= text_area 'inventory_advertising_attribute', 'description', { :id => id, :rows => 4, :cols => 20 } %></div>
    	</div>
    	<div class="c">
            <% text_id = id %>
            <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, campaign_run, PlanningActSmallPrintAdvertisement.new], 'description') %>
            <div class="l"><label for="<%= id %>">Ad Text</label>:</div>
    		<div class="i"><%= text_area 'planning_act_small_print_advertisement', 'description', { :id => id, :rows => 4, :cols => 20 } %><br /><a href="#" onclick="$('<%= id %>').value = ''; return false;">Clear</a> <span style="font-size:10px;color:#666;">|</span> <a onclick="new Ajax.Request('/planning/planning_act_small_print_advertisement_generate_text?description=' + $F('<%= text_id %>') + '&inventoryId=<%= inventory.id %>', {asynchronous:true, evalScripts:true, onComplete:function(request){$('<%= id %>').value = request.responseText;}}); return false;" href="#">Build Ad</a></div>
    	</div>
    	<div class="c">
            <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, campaign_run, PlanningActSmallPrintAdvertisement.new], 'planning_act_price_attribute_id_1') %>
            <div class="l"><%= radio_button 'planning_act_small_print_advertisement', 'planning_act_price_attribute_id', 1, { :id => id } %> <label for="<%= id %>">List Price</label></div>
            <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, campaign_run, PlanningActSmallPrintAdvertisement.new], 'planning_act_price_attribute_id_2') %>
            <div class="i"><%= radio_button 'planning_act_small_print_advertisement', 'planning_act_price_attribute_id', 2, { :id => id } %> <label for="<%= id %>">Ad Price</label></div>
    	</div>
    	<div class="c">
            <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, campaign_run, PlanningActSmallPrintAdvertisement.new], 'show_price_on_plan') %>
            <div class="l" style="width:20em"><%= check_box 'planning_act_small_print_advertisement', 'show_price_on_plan', { :id => id } %> <label for="<%= id %>">Show price on plan</label></div>
    	</div>
    	<div class="c float">
            <input type="button" name="ok_<%=id_outer%>" onclick="Element.hide('options_content_<%=id_outer%>');" value="Done" />
	    </div>
    </div>
    <% end %>
	<div class="c">
		<input type="submit" name="Save" value="Save Advertisements" />
	</div>
<%= end_form_tag %>
</div>