<div class="c">
    <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningAct.new], 'notes') %>
    <div class="l"><label for="<%= id %>">Notes</label>:</div>
    <div class="i"><%= text_area 'planning_act', 'notes', { :id => id, :rows => 4, :cols => 15 } %></div>
</div>