<%= planning_act_form_tag(planning_action,inventory,:planning_act_live_auction) %>
    <h5>Choose one of your standard Live Auction Locations</h5>
     <div class="c">
    	<div class="managerLink"><%= link_to_remote "Add/Remove #{planning_action.name} Options", { :url => { :controller => 'management/live_auction', :action => 'start', :planning_action_id => planning_action.id, :inventory_id => inventory.id, :mode => 'float' }, :loading => 'RedBox.loading();', :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" }, { :title => "Open #{planning_action.name} Manager" } %></div>
    </div>
    <%= render_component :controller => 'management/live_auction', :action => 'list', :params => { :inventory_id => inventory.id, :planning_action_id => planning_action.id, :selections => planning_action_defaults(inventory, planning_action.id).collect{|d| d.live_auction_id}, :input_type => 'radio', :input_object => nil, :input_method => nil, :html_options => {} } %>
    <h5>Notes and Scheduling</h5>
	<div class="c">
    	<% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActLiveAuction.new], 'date') %>
		<div class="l"><label for="<%= id %>">Date</label>:</div>
		<div class="i"><%= text_field 'planning_act_live_auction', 'date', { :id => id, :size => 10, :maxsize => 10 } %><a href="#" onclick="return false;"><%= image_tag("/images/icon_cal.gif", :alt => "Calendar", :border => "0") %></a></div>
	</div>
	<%= render :partial => 'planning_act_notes', :locals => { :inventory => inventory, :planning_action => planning_action } %>
	<div class="c">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>