<%= planning_act_form_tag(planning_action,inventory) %>
	<%= hidden_field_tag 'planning_act[planning_action_id]', planning_action.id %>
	<%= render :partial => 'planning_act_notes', :locals => { :inventory => inventory, :planning_action => planning_action } %>
	<div class="input_container">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>