<%= planning_act_form_tag(planning_action,inventory,:planning_act_internet_advertisement) %>
   <h5>Choose your Internet Advertisements</h5>
    <% internet_publisher_by_business_unit(session[:business_unit].id).each do |internet_publisher| %>
    <% id = gen_id([planning_action, inventory,internet_publisher.id].compact) %>
    <div class="option_set">
        <input type="checkbox" name="internet_publisher[id][]" value="<%= internet_publisher.id %>"  id="<%=id%>"/> <label for="<%=id%>"><%= internet_publisher.name %></label>
        <div style="text-align:right;"><a href="#" id="edit_link_<%=id%>" onclick="planningEdit.editContent(this,'options_content_<%= id %>'); return false;">Edit</a></div>
    </div>    
    <div id="options_content_<%= id %>" class="planning_options_set" style="display:none; position:absolute;">
        <dl>
            <div>Send Vehicle</div>
            <div>
                <input type="radio" name="send_vehicle" value="true"> Yes
                <input type="radio" name="send_vehicle" value="false"> No
            </div>
            <div>Price</div>
            <div>
                <input type="radio" name="list_price" value="true"> List Price
                <input type="radio" name="list_price" value="false"> Ad Price
            </div>
            <div>Highlights</div>
            <div><textarea name="highlights" rows="4" cols="15"></textarea></div>
        </dl>
        <div style="text-align:right;"><input type="button" value="Done" onclick="Element.hide('options_content_<%= id %>');"/></div>   
    </div>
    
    <% end %>
    
	<div class="input_container">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>