<%= planning_act_form_tag(planning_action,inventory,:planning_act_sold) %>
	<%= hidden_field_tag 'planning_act[planning_action_id]', planning_action.id %>
	<div class="c">
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActSold.new], 'planning_action_type_id') %>
        <div class="l"><label for="<%= id %>">Sold As</label>:</div>
        <div class="i">
            <select name="planning_act_sold[planning_action_type_id]" id="<%= id %>">
                <option value="1">Retail</option>
                <option value="2">Wholesale</option>
            </select>
	   </div>
	</div>
	<div class="c">
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActSold.new], 'buyer') %>
		<div class="l"><label for="<%= id %>">Buyer</label>:</div>
		<div class="i"><%= text_field 'planning_act_sold', 'buyer', { :id => id, :size => 10, :maxsize => 255 } %></div>
	</div>
	<div class="c">
        <% id = gen_id([planning_action.planning_action_type, planning_action, inventory, PlanningActSold.new], 'date') %>
		<div class="l"><label for="<%= id %>">Date</label>:</div>
		<div class="i"><%= text_field 'planning_act_sold', 'date', { :id => id, :size => 10, :maxsize => 10 } %></div>
	</div>
	<%= render :partial => 'planning_act_notes', :locals => { :inventory => inventory, :planning_action => planning_action } %>
	<div class="c">
		<input type="submit" name="Save" value="Save" />
	</div>
<%= end_form_tag %>