<div id="ServicePanel" class="management">
	<div>
		<div class="ManagerHeader">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'service_close' }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close Service Details', :id => 'ServiceCloseButton' } %></div>
			<h4>Service Details</h4>
		</div>
		<div class="ManagerBody">
            <input type="checkbox" name="Detail"> Detail<br /><br />
            Notes: <textarea rows="4" cols="30"></textarea><br /><br />
            Enter: <input type="text" size="10" value="12/12/07" /> Exit: <input type="text" size="10" value="12/15/07" /><br /><br />
            <input type="submit" value="Save" />
		</div>
	</div>
</div>