<div id="planning_mode_menu_bar_wrapper" class="clearfix" style="float: right;">
    <% require 'planning_mode_menu_bar' %>
    <% open_menu_tag, close_menu_tag, action = * menu_bar_tag(:planning_mode_menu_bar) %>
    <%= open_menu_tag %>
    <!-- no content -->
    <%= close_menu_tag %>
</div>
<div id="InventoryNavigation">
<h2><%= @number_of_vehicles %> Vehicles Identified for <%= @search_criterion.search_type %></h2>
</div>
<div id="Inventory" >

	<script type="text/javascript">
        Event.observe(window, 'load', page_loaded, false);
    	function page_loaded(evt) {
            <%= remote_function :url => { :action => :inventory_item_list, 'vehicle_list[id]' => @vehicle_list_id, 'planning_action[id]' => @planning_action_id } %>
    	}
	</script>
</div>
<div id="Sticky">
    <div id="InventoryForm">
    </div>
</div>
<div id="Service" style="display:none">
    <!-- Holds the Service Red Box -->
</div>

