<%@ tag body-content="empty" %><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<a href="javascript:pop('<c:url value="/Ping.go"></c:url>')" title="<fmt:message key="title.ping"/>"<c:if test="${!empty id}"> id="${id}"</c:if>><img src="<c:url value="/common/_images/icons/ping.gif"/>" class="ping"/></a>