<%@ tag body-content="empty" %><%@ attribute name="link" required="true" %><%@ attribute name="grouping" required="true" %><%@ attribute name="popup" required="false" %><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<c:set var="url"><c:url value="/ViewDealsAction.go"><c:param name="groupingDescriptionId" value="${grouping}"/><c:param name="weeks" value="26"/><c:param name="applyMileageFilter" value="false"/><c:param name="reportType" value="0"/></c:url></c:set>
<a href="<c:choose><c:when test="${popup=='false'}">${url}</c:when><c:otherwise>javascript:pop('${url}','deals')</c:otherwise></c:choose>" title="<fmt:message key="title.viewDeals"/>">${link}</a>