#log_ {
	border: 1px solid #ddd;
	padding: 8px;
	background-color: #fafafa;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	width: 500px;
	height: 300px;
	overflow: auto;
}
#log_ * {
	background-repeat: no-repeat;	
	font-size: 11px;
}
#log_ h6 {
	font-weight: bold;
}
#log_ p, #log_ h6, #log_ ul {
	margin: 0;
	padding: 0;
	text-align: left;
}
#log_ dl {
	padding-bottom: 4px;
	border-bottom: 1px solid #eee;
	margin-bottom: 4px;
}
#log_ dl dt:after {
	content: " :";
}
#log_ dl dt, #log_ dl dd {
	padding: 0;
	margin: 0 4px 0 0;
	display: inline;
}
#log_ dl dt {
	min-height: 18px;
	padding-left: 20px;
	float: left;
}
#log_ a { text-transform: lowercase; font-weight: bold; }
#log_ p {
	padding-left: 20px;
	background-position: top left;
	line-height: 1.4em;
}
#log_ p.debug { background-image: url(debug.gif); color: #0CCD14; font-weight: bold; }
#log_ p.info  { background-image: url(info.gif); color: #0066B3; font-weight: bold; }
#log_ p.warn  { background-image: url(warn.gif); color: #E9C000;  font-weight: bold; }
#log_ p.error { background-image: url(error.gif); color: #EE0000; font-weight: bold; }
#log_ p.fatal { background-image: url(fatal.gif); color: #656565; font-weight: bold; }

#log_ dd.debug a { color: #0CCD14; }
#log_ dd.info  a { color: #0082C6; }
#log_ dd.warn  a { color: #E9C000; }
#log_ dd.error a { color: #EE0000; }
#log_ dd.fatal a { color: #444; }



