﻿table#autoLoadStatus tbody tr {
	cursor: pointer
}

.loading {
	background:transparent url( Images/loading.gif ) no-repeat scroll center; height:100%; width:100%;
}

.none {
	display: none;
}


tr.selected {
	background: #ABABAB;
}

h1 {
	font-size: 25px;
	margin: 15px;
}

.contents{
	 padding: 0 15px 15px;
}