﻿

#campaigns .ui-helper-hidden { display: none; }
#campaigns .ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
#campaigns .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
#campaigns .ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#campaigns .ui-helper-clearfix { display: inline-block; }
#campaigns .ui-helper-clearfix { display:block; }
#campaigns .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
#campaigns .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
#campaigns .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
#campaigns .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* Component containers
----------------------------------*/
#campaigns .ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
#campaigns .ui-widget input, #campaigns .ui-widget select, #campaigns .ui-widget textarea, #campaigns .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
#campaigns .ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/AutoLoadStatus/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
#campaigns .ui-widget-content a { color: #222222; }
#campaigns .ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/AutoLoadStatus/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
#campaigns .ui-widget-header a { color: #222222; }

/* Interaction states
----------------------------------*/
#campaigns .ui-state-default, #campaigns .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/AutoLoadStatus/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none; }
#campaigns .ui-state-default a, #campaigns .ui-state-default a:link, #campaigns .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
#campaigns .ui-state-hover, #campaigns .ui-widget-content .ui-state-hover, #campaigns .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999; background: #dadada url(images/AutoLoadStatus/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
#campaigns .ui-state-hover a, #campaigns .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
#campaigns .ui-state-active, #campaigns .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/AutoLoadStatus/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
#campaigns .ui-state-active a, #campaigns .ui-state-active a:link, #campaigns .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
#campaigns .ui-state-highlight, #campaigns .ui-widget-content .ui-state-highlight {border: 1px solid #fcefa1; background: #fbf9ee url(images/AutoLoadStatus/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color: #363636; }
#campaigns .ui-state-highlight a, #campaigns .ui-widget-content .ui-state-highlight a { color: #363636; }
#campaigns .ui-state-error, #campaigns .ui-widget-content .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(images/AutoLoadStatus/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
#campaigns .ui-state-error a, #campaigns .ui-widget-content .ui-state-error a { color: #cd0a0a; }
#campaigns .ui-state-error-text, #campaigns .ui-widget-content .ui-state-error-text { color: #cd0a0a; }
#campaigns .ui-state-disabled, #campaigns .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
#campaigns .ui-priority-primary, #campaigns .ui-widget-content .ui-priority-primary { font-weight: bold; }
#campaigns .ui-priority-secondary, #campaigns .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
#campaigns .ui-icon { width: 16px; height: 16px; background-image: url(images/AutoLoadStatus/ui-icons_222222_256x240.png); }
#campaigns .ui-widget-content .ui-icon {background-image: url(images/AutoLoadStatus/ui-icons_222222_256x240.png); }
#campaigns .ui-widget-header .ui-icon {background-image: url(images/AutoLoadStatus/ui-icons_222222_256x240.png); }
#campaigns .ui-state-default .ui-icon { background-image: url(images/AutoLoadStatus/ui-icons_888888_256x240.png); }
#campaigns .ui-state-hover .ui-icon, #campaigns .ui-state-focus .ui-icon {background-image: url(images/AutoLoadStatus/ui-icons_454545_256x240.png); }
#campaigns .ui-state-active .ui-icon {background-image: url(images/AutoLoadStatus/ui-icons_454545_256x240.png); }
#campaigns .ui-state-highlight .ui-icon {background-image: url(images/AutoLoadStatus/ui-icons_2e83ff_256x240.png); }
#campaigns .ui-state-error .ui-icon, #campaigns .ui-state-error-text .ui-icon {background-image: url(images/AutoLoadStatus/ui-icons_cd0a0a_256x240.png); }

/* positioning */
#campaigns .ui-icon-carat-1-n { background-position: 0 0; }
#campaigns .ui-icon-carat-1-ne { background-position: -16px 0; }
#campaigns .ui-icon-carat-1-e { background-position: -32px 0; }
#campaigns .ui-icon-carat-1-se { background-position: -48px 0; }
#campaigns .ui-icon-carat-1-s { background-position: -64px 0; }
#campaigns .ui-icon-carat-1-sw { background-position: -80px 0; }
#campaigns .ui-icon-carat-1-w { background-position: -96px 0; }
#campaigns .ui-icon-carat-1-nw { background-position: -112px 0; }
#campaigns .ui-icon-carat-2-n-s { background-position: -128px 0; }
#campaigns .ui-icon-carat-2-e-w { background-position: -144px 0; }
#campaigns .ui-icon-triangle-1-n { background-position: 0 -16px; }
#campaigns .ui-icon-triangle-1-ne { background-position: -16px -16px; }
#campaigns .ui-icon-triangle-1-e { background-position: -32px -16px; }
#campaigns .ui-icon-triangle-1-se { background-position: -48px -16px; }
#campaigns .ui-icon-triangle-1-s { background-position: -64px -16px; }
#campaigns .ui-icon-triangle-1-sw { background-position: -80px -16px; }
#campaigns .ui-icon-triangle-1-w { background-position: -96px -16px; }
#campaigns .ui-icon-triangle-1-nw { background-position: -112px -16px; }
#campaigns .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
#campaigns .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
#campaigns .ui-icon-arrow-1-n { background-position: 0 -32px; }
#campaigns .ui-icon-arrow-1-ne { background-position: -16px -32px; }
#campaigns .ui-icon-arrow-1-e { background-position: -32px -32px; }
#campaigns .ui-icon-arrow-1-se { background-position: -48px -32px; }
#campaigns .ui-icon-arrow-1-s { background-position: -64px -32px; }
#campaigns .ui-icon-arrow-1-sw { background-position: -80px -32px; }
#campaigns .ui-icon-arrow-1-w { background-position: -96px -32px; }
#campaigns .ui-icon-arrow-1-nw { background-position: -112px -32px; }
#campaigns .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
#campaigns .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
#campaigns .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
#campaigns .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
#campaigns .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
#campaigns .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
#campaigns .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
#campaigns .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
#campaigns .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
#campaigns .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
#campaigns .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
#campaigns .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
#campaigns .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
#campaigns .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
#campaigns .ui-icon-arrowthick-1-w { background-position: -96px -48px; }
#campaigns .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
#campaigns .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
#campaigns .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
#campaigns .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
#campaigns .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
#campaigns .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
#campaigns .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
#campaigns .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
#campaigns .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
#campaigns .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
#campaigns .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
#campaigns .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
#campaigns .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
#campaigns .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
#campaigns .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
#campaigns .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
#campaigns .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
#campaigns .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
#campaigns .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
#campaigns .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
#campaigns .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
#campaigns .ui-icon-arrow-4 { background-position: 0 -80px; }
#campaigns .ui-icon-arrow-4-diag { background-position: -16px -80px; }
#campaigns .ui-icon-extlink { background-position: -32px -80px; }
#campaigns .ui-icon-newwin { background-position: -48px -80px; }
#campaigns .ui-icon-refresh { background-position: -64px -80px; }
#campaigns .ui-icon-shuffle { background-position: -80px -80px; }
#campaigns .ui-icon-transfer-e-w { background-position: -96px -80px; }
#campaigns .ui-icon-transferthick-e-w { background-position: -112px -80px; }
#campaigns .ui-icon-folder-collapsed { background-position: 0 -96px; }
#campaigns .ui-icon-folder-open { background-position: -16px -96px; }
#campaigns .ui-icon-document { background-position: -32px -96px; }
#campaigns .ui-icon-document-b { background-position: -48px -96px; }
#campaigns .ui-icon-note { background-position: -64px -96px; }
#campaigns .ui-icon-mail-closed { background-position: -80px -96px; }
#campaigns .ui-icon-mail-open { background-position: -96px -96px; }
#campaigns .ui-icon-suitcase { background-position: -112px -96px; }
#campaigns .ui-icon-comment { background-position: -128px -96px; }
#campaigns .ui-icon-person { background-position: -144px -96px; }
#campaigns .ui-icon-print { background-position: -160px -96px; }
#campaigns .ui-icon-trash { background-position: -176px -96px; }
#campaigns .ui-icon-locked { background-position: -192px -96px; }
#campaigns .ui-icon-unlocked { background-position: -208px -96px; }
#campaigns .ui-icon-bookmark { background-position: -224px -96px; }
#campaigns .ui-icon-tag { background-position: -240px -96px; }
#campaigns .ui-icon-home { background-position: 0 -112px; }
#campaigns .ui-icon-flag { background-position: -16px -112px; }
#campaigns .ui-icon-calendar { background-position: -32px -112px; }
#campaigns .ui-icon-cart { background-position: -48px -112px; }
#campaigns .ui-icon-pencil { background-position: -64px -112px; }
#campaigns .ui-icon-clock { background-position: -80px -112px; }
#campaigns .ui-icon-disk { background-position: -96px -112px; }
#campaigns .ui-icon-calculator { background-position: -112px -112px; }
#campaigns .ui-icon-zoomin { background-position: -128px -112px; }
#campaigns .ui-icon-zoomout { background-position: -144px -112px; }
#campaigns .ui-icon-search { background-position: -160px -112px; }
#campaigns .ui-icon-wrench { background-position: -176px -112px; }
#campaigns .ui-icon-gear { background-position: -192px -112px; }
#campaigns .ui-icon-heart { background-position: -208px -112px; }
#campaigns .ui-icon-star { background-position: -224px -112px; }
#campaigns .ui-icon-link { background-position: -240px -112px; }
#campaigns .ui-icon-cancel { background-position: 0 -128px; }
#campaigns .ui-icon-plus { background-position: -16px -128px; }
#campaigns .ui-icon-plusthick { background-position: -32px -128px; }
#campaigns .ui-icon-minus { background-position: -48px -128px; }
#campaigns .ui-icon-minusthick { background-position: -64px -128px; }
#campaigns .ui-icon-close { background-position: -80px -128px; }
#campaigns .ui-icon-closethick { background-position: -96px -128px; }
#campaigns .ui-icon-key { background-position: -112px -128px; }
#campaigns .ui-icon-lightbulb { background-position: -128px -128px; }
#campaigns .ui-icon-scissors { background-position: -144px -128px; }
#campaigns .ui-icon-clipboard { background-position: -160px -128px; }
#campaigns .ui-icon-copy { background-position: -176px -128px; }
#campaigns .ui-icon-contact { background-position: -192px -128px; }
#campaigns .ui-icon-image { background-position: -208px -128px; }
#campaigns .ui-icon-video { background-position: -224px -128px; }
#campaigns .ui-icon-script { background-position: -240px -128px; }
#campaigns .ui-icon-alert { background-position: 0 -144px; }
#campaigns .ui-icon-info { background-position: -16px -144px; }
#campaigns .ui-icon-notice { background-position: -32px -144px; }
#campaigns .ui-icon-help { background-position: -48px -144px; }
#campaigns .ui-icon-check { background-position: -64px -144px; }
#campaigns .ui-icon-bullet { background-position: -80px -144px; }
#campaigns .ui-icon-radio-off { background-position: -96px -144px; }
#campaigns .ui-icon-radio-on { background-position: -112px -144px; }
#campaigns .ui-icon-pin-w { background-position: -128px -144px; }
#campaigns .ui-icon-pin-s { background-position: -144px -144px; }
#campaigns .ui-icon-play { background-position: 0 -160px; }
#campaigns .ui-icon-pause { background-position: -16px -160px; }
#campaigns .ui-icon-seek-next { background-position: -32px -160px; }
#campaigns .ui-icon-seek-prev { background-position: -48px -160px; }
#campaigns .ui-icon-seek-end { background-position: -64px -160px; }
#campaigns .ui-icon-seek-first { background-position: -80px -160px; }
#campaigns .ui-icon-stop { background-position: -96px -160px; }
#campaigns .ui-icon-eject { background-position: -112px -160px; }
#campaigns .ui-icon-volume-off { background-position: -128px -160px; }
#campaigns .ui-icon-volume-on { background-position: -144px -160px; }
#campaigns .ui-icon-power { background-position: 0 -176px; }
#campaigns .ui-icon-signal-diag { background-position: -16px -176px; }
#campaigns .ui-icon-signal { background-position: -32px -176px; }
#campaigns .ui-icon-battery-0 { background-position: -48px -176px; }
#campaigns .ui-icon-battery-1 { background-position: -64px -176px; }
#campaigns .ui-icon-battery-2 { background-position: -80px -176px; }
#campaigns .ui-icon-battery-3 { background-position: -96px -176px; }
#campaigns .ui-icon-circle-plus { background-position: 0 -192px; }
#campaigns .ui-icon-circle-minus { background-position: -16px -192px; }
#campaigns .ui-icon-circle-close { background-position: -32px -192px; }
#campaigns .ui-icon-circle-triangle-e { background-position: -48px -192px; }
#campaigns .ui-icon-circle-triangle-s { background-position: -64px -192px; }
#campaigns .ui-icon-circle-triangle-w { background-position: -80px -192px; }
#campaigns .ui-icon-circle-triangle-n { background-position: -96px -192px; }
#campaigns .ui-icon-circle-arrow-e { background-position: -112px -192px; }
#campaigns .ui-icon-circle-arrow-s { background-position: -128px -192px; }
#campaigns .ui-icon-circle-arrow-w { background-position: -144px -192px; }
#campaigns .ui-icon-circle-arrow-n { background-position: -160px -192px; }
#campaigns .ui-icon-circle-zoomin { background-position: -176px -192px; }
#campaigns .ui-icon-circle-zoomout { background-position: -192px -192px; }
#campaigns .ui-icon-circle-check { background-position: -208px -192px; }
#campaigns .ui-icon-circlesmall-plus { background-position: 0 -208px; }
#campaigns .ui-icon-circlesmall-minus { background-position: -16px -208px; }
#campaigns .ui-icon-circlesmall-close { background-position: -32px -208px; }
#campaigns .ui-icon-squaresmall-plus { background-position: -48px -208px; }
#campaigns .ui-icon-squaresmall-minus { background-position: -64px -208px; }
#campaigns .ui-icon-squaresmall-close { background-position: -80px -208px; }
#campaigns .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
#campaigns .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
#campaigns .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
#campaigns .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
#campaigns .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
#campaigns .ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Corner radius */
#campaigns .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
#campaigns .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
#campaigns .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
#campaigns .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
#campaigns .ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
#campaigns .ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
#campaigns .ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
#campaigns .ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
#campaigns .ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/* Overlays */
#campaigns .ui-widget-overlay { background: #aaaaaa url(images/AutoLoadStatus/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); }
#campaigns .ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/AutoLoadStatus/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); -moz-border-radius: 8px; -webkit-border-radius: 8px; }/* Accordion
----------------------------------*/
----------------------------------*/
#campaigns .ui-resizable { position: relative;}
#campaigns .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
#campaigns .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
#campaigns .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
#campaigns .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
#campaigns .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
#campaigns .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
#campaigns .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
#campaigns .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
#campaigns .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
#campaigns .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}/* Slider
----------------------------------*/

#campaigns .paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

#campaigns .paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
	color: #333 !important;
}

#campaigns .dataTables_paginate .ui-button {
	margin-right: -0.1em !important;
}

#campaigns .paging_full_numbers {
	width: 350px !important;
}

#campaigns .dataTables_wrapper .ui-toolbar {
	padding: 5px;
}

#campaigns .dataTables_paginate {
	width: auto;
}

#campaigns .dataTables_info {
	padding-top: 3px;
}

#campaigns table.display thead th {
	padding: 3px 0px 3px 10px;
	cursor: pointer;
	* cursor: hand;
}

#campaigns div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}


/*
 * Sort arrow icon positioning
 */
#campaigns table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

#campaigns table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

#campaigns .dataTables_wrapper {
	position: relative;
	clear: both;
}

#campaigns .dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

#campaigns .dataTables_length {
	width: 40%;
	float: left;
}

#campaigns .dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

#campaigns .dataTables_info {
	width: 50%;
	float: left;
}

#campaigns .dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
#campaigns .paginate_disabled_previous, #campaigns .paginate_enabled_previous, #campaigns .paginate_disabled_next, #campaigns .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

#campaigns .paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

#campaigns .paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

#campaigns .paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

#campaigns .paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
#campaigns table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
}

#campaigns table.display tfoot th {
	padding: 3px 0px 3px 10px;
	font-weight: bold;
	font-weight: normal;
}

#campaigns table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

#campaigns table.display td {
	padding: 3px 10px;
}

#campaigns table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

#campaigns .sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

#campaigns .sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

#campaigns .sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

#campaigns .sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

#campaigns .sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
#campaigns table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

#campaigns table.display tr.even.gradeA {
	background-color: #eeffee;
}




#campaigns table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

#campaigns table.display tr.even.gradeA {
	background-color: #eeffee;
}

#campaigns table.display tr.odd.gradeC {
	background-color: #ddddff;
}

#campaigns table.display tr.even.gradeC {
	background-color: #eeeeff;
}

#campaigns table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

#campaigns table.display tr.even.gradeX {
	background-color: #ffeeee;
}

#campaigns table.display tr.odd.gradeU {
	background-color: #ddd;
}

#campaigns table.display tr.even.gradeU {
	background-color: #eee;
}


#campaigns tr.odd {
	background-color: #E2E4FF;
}

#campaigns tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
#campaigns .dataTables_scroll {
	clear: both;
}

#campaigns .top, #campaigns .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#campaigns .top .dataTables_info {
	float: none;
}

#campaigns .clear {
	clear: both;
}

#campaigns .dataTables_empty {
	text-align: center;
}

#campaigns tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

#campaigns tfoot input.search_init {
	color: #999;
}

#campaigns td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

#campaigns td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


#campaigns .example_alt_pagination div.dataTables_info {
	width: 40%;
}

#campaigns .paging_full_numbers a.paginate_button,
 	.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

#campaigns .paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

#campaigns .paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

#campaigns .paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}

#campaigns table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

#campaigns table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
#campaigns tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

#campaigns tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

#campaigns tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

#campaigns tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

#campaigns tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

#campaigns tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
#campaigns tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

#campaigns tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

#campaigns tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

#campaigns tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

#campaigns tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

#campaigns tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

#campaigns tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

#campaigns tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

#campaigns tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

#campaigns tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

#campaigns tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

#campaigns tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

#campaigns tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

#campaigns tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

#campaigns tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

#campaigns tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

#campaigns tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

#campaigns tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

#campaigns tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

#campaigns tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

#campaigns tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

#campaigns tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

#campaigns tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

#campaigns tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
#campaigns .ex_highlight #example tbody tr.even:hover, #campaigns #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

#campaigns .ex_highlight #example tbody tr.odd:hover, #campaigns #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}