﻿
#Content { background:transparent; margin:0; }

.panel { -moz-border-radius:16px; -webkit-border-radius:16px; background:#dedede url( Images/sprite_BGHorizontal.png ) repeat-x scroll 0 0px; border:solid #ddd 1px; border-radius:16px; }

.boxLink {
	color:#666; display:block; padding:0.3em 0.5em; position:relative; text-decoration:none;
}
.boxLink:hover { background-color: #e6edf2; }
.boxLink span { color:#999; font-size:1.2em; font-weight:bold; position:absolute; right:5px; top:3px; }

#tomcatSessionImages { height:0; overflow:hidden; width:0; }

/* Vehicle Selector */

#HeaderSearch.invisible { display:none; }


/* Gauges */

#Gauges {
    background: url(Images/Dashboard/bg_dash_guages.png) 0 0 no-repeat;
    min-height: 322px;
}

#NotOnline,
#MerchandisingAlertGauge { 
    position: relative;
    top: 61px;
    padding: 0;
    width: 206px;
    height: 206px;
    float: left;
    display: block;
    text-decoration: none;
}
#NotOnline {
    margin-left: 30px;
    left: -5px;
}
#MerchandisingAlertGauge {
    top: 28px;
}
#Gauges .gauge {
    display: block;
    position: absolute;
    width: 81px;
    height: 121px;
    top: 40px;
    left: 56px;
    background-position: 0 0;
    -webkit-box-shadow:inset 0 0 10px black;
       -moz-box-shadow:inset 0 0 10px black;
            box-shadow:inset 0 0 10px black;
}
#NotOnline .gauge { background:#cc2626 url( Images/Dashboard/notOnlineGauge_Meter.png ) no-repeat scroll 0 121px; }
#Gauges #MerchandisingAlertGauge .gauge {
    background: #90949F url(Images/Dashboard/lowActivityGauge_Meter.png) 0 121px no-repeat;
    width: 26px;
    left: 122px;
    top: 42px;
}

#Gauges .foreground { 
	background: url(Images/Dashboard/bg_guages_flat.png) 0 0 no-repeat; 
	width: 80px; /* + padding = 206px; */
	height: 122px; /* + padding = 206px; */
	display: block; 
	position: absolute; 
	text-align: center; 
	text-transform: uppercase; 
	padding: 84px 30px 0 96px; 
}
#Gauges #MerchandisingAlertGauge .foreground { 
	background-position: -206px 0; 
	padding: 72px 100px 0 26px;
	height: 134px;
}
#Gauges .percentage { color:#b91514; font-size:24px; }
#Gauges .count, #Gauges .label { color:#666666; display:block; font-size:11px; line-height:16px; }
#Gauges .count { font-size: 10px; margin-top: 5px; }

#NotOnline.loading,
#MerchandisingAlertGauge.loading { 
	background:transparent url( Images/loading_small_gray.gif ) no-repeat scroll center; 
	height:206px;
	width:206px; 
}
#NotOnline.loading *,
#MerchandisingAlertGauge.loading * { display: none; }

.ui-tabs-panel .loading {
    background:transparent url( Images/loading_small.gif?2 ) no-repeat center center; 
    position: absolute;
}
.chart-container {
    position: relative;
    z-index: 5;
}
.chart-container .loading {
    background: url( Images/loading_small.gif?2 ) no-repeat center center;
}
.chart-container .loading,
.chart-container .error {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    cursor: default;
}
.chart-container .error .no_data_message {
    line-height: 200px;
    color: #d1d1d1;
    font-size: 24px;
}
.report_error .no_data_message {
    line-height: 200px;
    color: #d1d1d1;
    font-size: 24px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    display: block;
}
.chart-container .error .no_budget_message {
    line-height: 200px;
    color: #808080;
    font-size: 14px;
}
    .chart-container .error .no_budget_message a {
        font-size: 14px;
    }

.report_table_container > .loading,
.report_table_container .mCSB_container > .loading {
    width: 100%;
    height: 100px;
    display: block;
    background: transparent url(Images/loading_small.gif?2 ) no-repeat center center;
}


.missing-budget,
.chart-data a {
    color: #00a8ee;
    text-decoration: none;
}

.chart-data a,
.detaillinks a {
    color: #4c82a9;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

/* MAX Product Links */

#ProductLinks { clear:both; padding:0 0 30px; }
#ProductLinks .linkListBox { margin: -22px 0 0 12px; min-height:150px; }
#ProductLinks .linkListBox li a { display:block; font-size:1.1em; padding:3px 0; text-decoration:none; position:relative; }
#ProductLinks .linkListBox li a:hover { text-decoration:underline; }
#ProductLinks .linkListBox li a:hover span { background:#990000; border-color:#990000; color:#fff; text-decoration:none; }
#ProductLinks .linkListBox li a span {
	background:#fbffc3; border:solid #ddd 1px; color:#555; display:block;
	font-size:0.9em; text-align:center; width:2.25em; position:absolute; right:0px; top:0px;
}
#ProductLinks .linkListBox.loading { background: white url( Images/loading_small.gif?2 ) no-repeat scroll center; min-height:150px; }

/* TODO: Remove these styles when all ad quality bucket links are hot */
#ProductLinks .linkListBox li.noLink { padding:3px 0; position:relative; }
#ProductLinks .linkListBox li.noLink span.count { display:inline-block; position:absolute; right:0px; text-align:center; top:0px; width:2.25em; }
/* End temporary ad quality bucket link styles */

#MAXLinks { float:left; margin:0 9px 0 19px; }

#ProductLinks #ActivityAlerts.linkListBox { margin-left:12px; }

#MaxAdLink { cursor:pointer; float:left; height:102px; text-decoration:none; width:240px; }
#MaxAdLink .maxAdLogo {
	background:transparent url(Images/sprite_Logos.png?v=4) no-repeat scroll 18px -83px; color:transparent;
	display:block; float:right; height:30px; line-height:0; margin:30px 20px 0px 0; text-indent:-5000px; width:173px;
}
#MaxAdLink .maxAdLogo span { visibility:hidden; }
#MaxAdLink span {
	clear:right; /*color:#414267;*/ display:block; font-size:1.2em;
	line-height:1em; padding:4px 20px 0 0; text-align:right;
}
#MaxAdLink span.maxSectionWorkflowText {
	color:#4c82a9; font-size:1.0em;	
}
#MaxAdLink .review {
	padding: 0;
	text-align: center;
	font-size: 11px;
	margin-top: 14px;
}
#MaxAdLink span#NeedsActionCount {
    display:inline;
    font-size:1em;
    padding:0;
}
#MaxAdLink span.tagline { font-size:11px; padding:0; font-style:italic; color: #235bb4; text-align: center; }
#MaxSELink { float:left; height:102px; margin-left:16px; width:240px; }
#MaxSELink h3 {
	background:transparent url(Images/sprite_Logos.png?v=4) no-repeat scroll -3px -116px; float:right;
	height:27px; margin:20px 11px 0 0; text-indent:-5000px; width:217px;
}
#MaxSELink .form { clear:both; padding: 10px 20px 0 0; text-align:right; }
#MaxSELink .form input { font-size:0.9em; }
#MaxSeTextbox[disabled] { background-color: #EBEBE4; color: #545454; cursor: default; }

.placeholder_text { color: #a9a9a9 !important; }

#MaxSELink .learnMore { float:right; font-size:0.9em; margin:1em 20px 0 0;  }

#CraigslistLink {
	color:#414267; display:block; float:left; font-size:1.2em; font-weight:bold; height:42px;
	line-height:3em; margin:10px 0 0; width:236px; text-align:right; text-decoration:none;
}
#CraigslistLink span { margin-right:20px; }

#SearchForm { margin-top:1em; padding:1em 0 0.5em 2em; }
#SearchForm label { color:#777; margin-right:0.5em; }
#SearchForm input { font-size:0.9em; }
#SearchForm input.text { font-size:1.2em; padding:2px 4px; width:388px; }

/* Report Links */

#ReportLinks { border-top:solid #d6d6d6 1px; margin:0 12px 0 10px; padding:0.75em 0.5em 0 0.5em; }
#ReportLinks h2 { color:#888; float:left; font-size:1.1em; line-height:2em; margin-right:1em; padding-bottom:0.75em; }
#ReportLinks ul { display:block; }

#SitePerformanceReports { float:left; width:737px; }
#SitePerformanceReports li {
	background:#e3e3e3 url( Images/sprite_BGHorizontal.png ) repeat-x scroll 0 -263px; border:solid #c9c9c9 1px;
	display:block; float:left; margin:0 15px 5px 0; width:207px;
}

#AdditionalLinks { border-left:solid #ddd 1px; float:right; padding-left:20px; width:205px; line-height: 2em; height: 26px; }
#AdditionalLinks a { text-decoration: none }

#MAXTiles .freshPanel { background: #fbfbfb url(Images/Dashboard/bg_maxtiles.png) 0 100% repeat-x; }

#Dashboard .mastheadLogo {
  background: transparent url("Images/Dashboard/logo_max_insights.png?v=4") 0 0 no-repeat;
  height: 35px;
  left: 10px;
  margin-right: 10px;
  position: relative;
  top: 8px;
  width: 182px;
}

.dashboard { 
    padding: 0 15px 30px;
}

#ProductLinks { padding-top: 20px; }
#ProductLinks .linkListBox,
#ProductLinks #ActivityAlerts.linkListBox { 
    margin-top: -100px; 
    margin-left: 10px; 
    position: relative;
}
#ActionAlerts.linkListBox { margin-left: 0;}

#InventoryType select { 
    float: right; 
    padding: 0; 
    margin: 10px 10px 0 0; 
}
.groupDash #InventoryType { 
    position: relative; 
    text-align: center; 
}
.groupDash #InventoryType select { 
    float: none; 
    margin: 0; 
    position: absolute; 
    left: -3px;
    top: 3px;
}
.groupDash #InventoryType h2 { 
    font-size: 1.5em; 
    margin: 0 10px 20px 0; 
}

.report-highlight {
    border: 3px solid #3862b6;
}
.linkListBox .pointer {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -100px;
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;    
    border-top: 30px solid #3862b6;
}
.linkListBox.active .pointer { display: block; }

.report-link {
    position: absolute;
    bottom: -30px;
    display: block;
    left: 0;
    width: 100%;
    text-align: center;
}


.notification-warning {
    background: url("Images/Dashboard/notification_warning.png") 0 0 no-repeat;
    line-height: 15px;
    height: 15px;
    display: block;
    padding-left: 30px;
}

#SectionHeader {
    padding: 15px 0 0;
    line-height: 19px;
}
#SectionHeader .notification-warning {
    float: right;
    text-decoration: none;
    color: gray;
}
#SectionHeader h1,
#reports h2,
#ga_sources_report h2 {
    text-align: center;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
    margin: 0;
    color: #646c79;
}
#ga_sources_report h2 {
    text-transform: uppercase;
    /*margin: 1em 0;*/
}
#reports h2 .date {
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
}
#reports {
    padding: 10px;
    position: relative;
}
#reports .download {
    float: right;
    margin: 0 0 5px;
}
#reports .close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: url("Images/Dashboard/report_close.png") 0 0 no-repeat;
    cursor: pointer;
}
#reports .download {
    padding-left: 16px;
    height: 16px;
    line-height: 16px;
    background: url("Images/Dashboard/download.png") 0 0 no-repeat;
}


#WebsitePerformance {
    background: rgb(224,222,225);
    background: url("Images/Dashboard/bg_webperf.png") 0 0 repeat-y;
    background: -moz-linear-gradient(left,  rgba(224,222,225,1) 0%, rgba(250,250,250,1) 50%, rgba(224,222,225,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,222,225,1)), color-stop(50%,rgba(250,250,250,1)), color-stop(100%,rgba(224,222,225,1)));
    background: -webkit-linear-gradient(left,  rgba(224,222,225,1) 0%,rgba(250,250,250,1) 50%,rgba(224,222,225,1) 100%);
    background: -o-linear-gradient(left,  rgba(224,222,225,1) 0%,rgba(250,250,250,1) 50%,rgba(224,222,225,1) 100%);
    background: -ms-linear-gradient(left,  rgba(224,222,225,1) 0%,rgba(250,250,250,1) 50%,rgba(224,222,225,1) 100%);
    background: linear-gradient(to right,  rgba(224,222,225,1) 0%,rgba(250,250,250,1) 50%,rgba(224,222,225,1) 100%);
    background-clip: padding-box;
    border: 1px solid #666666;   
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    float: left;
    position: relative;
    min-height: 316px;
    margin: 8px 10px 0;    
    text-align: center;
    width: 486px;
    padding: 0 10px 10px;
    height: 360px;
}
.groupDash #WebsitePerformance {
    height: 385px;
    padding-bottom: 2px;
}
.tabs .chart-data .chart-render.split_chart {
    width: 242px !important;
}
.tabs .chart-data .chart-render.split_chart.split_left {
    float: left;
}
.tabs .chart-data .chart-render.split_chart.split_right {
    float: right;
}
#chart_select p {
    max-width: 110px;
}
#chart_select.constrained .xlg_pill {
    max-width: 94px;
}
#chart_select.constrained .lg_pill {
    max-width: 84px;
}
#chart_select.constrained .med_pill {
    max-width: 74px;
}
#chart_select.constrained .sm_pill {
    max-width: 55px;
}
#chart_select.constrained .xsm_pill {
    max-width: 44px;
}
#chart_cv_chart,
#chart_act_chart,
#chart_email_chart,
#chart_map_chart,
#chart_cpv_chart,
#chart_cpa_chart,
#chart_cpe_chart,
#chart_cpm_chart,
#chart_stats_searches,
#chart_stats_pages,
#chart_stats_actions {
    float: left;
}
#chart_stats_searches,
#chart_stats_pages,
#chart_stats_actions {
    margin-right: -33px;
}
#tab_ga_trends .bg,
#chart_ga_trends, /* wtf? */
#tab_sources .bg,
#tab_mobile .bg {
    width: 484px;
    height: 210px;
}
#tab_website20 .bg, #tab_showroom .bg, #tab_ttm .bg {
    width: 484px;
    height: 250px;
}

#chart_ttm_g_owp,
#chart_ttm_g_cao {
    width: 484px;
    height: 250px;
}
.chart_title_inline_value {
    color: #0099CD !important;
    font-weight: bold !important;
}
.chart_title_inline_value_green {
    color: #009B42 !important;
    font-weight: bold !important;
}
.detaillinks { 
    text-align: right; 
    margin-right: 5px;
}

#trends_pseudotips {
    position: absolute;
    top: 38px;
}

#tab_impression .bg {
    width: 484px;
    height: 190px;
}
#tab_lead .bg {
    width: 484px;
    height: 161px;
}

.trends .chart-data,
.trends .chart-container,
.trends .bg,
.trends .chart-render {
    width: 484px !important;
    max-width: 484px !important;
    height: 197px !important;
    max-height: 197px !important;
}
.trends .level_2_tabs .ui-tabs-anchor {
    line-height: 1.2em;
}
.trends .detaillinks {
    position: relative;
    top: 13px;
}

.trends .fullheight .chart-data,
.trends .fullheight .chart-container,
.trends .fullheight .chart-render,
.trends .fullheight .bg,
.trends .fullheight .loading,
.trends .fullheight .error {
    height: 236px !important;
    max-height: 236px !important;
}
#vdp_trend_details,
#costper_vdp_trend_details {
    display: block;
    position: absolute;
    bottom: 18px;
    right: 10px;
}


.hc_pseudotip_anchor {
    position: absolute;
    z-index: 12;
    white-space: nowrap;
}
    .hc_pseudotip_content {
        position: relative;
        background: white;
        background: rgba(255,255,255,0.8);
        border: 1px solid #232323;
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgb(51, 51, 51);
        box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
        text-align: left;
        padding: 7px 7px;
    }
.price_arrow {
    display: inline-block;
    width: 9px;
    height: 7px;
    background: url("Images/Dashboard/updown_arrows.png?2") 0 0 no-repeat;
    position: relative;
}
    .price_arrow.positive {
        top: -3px;
    }
    .price_arrow.negative {
        background-position: 0 -7px;
        top: 2px;
    }

.chart_action {
    position: absolute;
    left: 0px;
    top: 90px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: rgb(100, 108, 121);
    line-height: 16px;
    z-index: 1;
}


/* cost per lead charts */
.data-options {
    background: #d7d6d8;
    padding: 5px;
    font-size: 11px;
}
    #tab_lead_trend .data-options>.detaillinks,
    #tab_costper_lead_trends .data-options>.detaillinks {
        position: static;
        top: inherit;
    }

.lead-types.direct {
    float: left;
}
.lead-types.indirect {
    float: left;
    margin-left: 20px;
}
.lead-types .type {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}
.lead-types input {
    vertical-align: bottom;
}
.lead-types label.disabled {
    color: #808080;
}

#WebsitePerformance h1 {
    color: #646c79;
    font-size: 21px;
    font-weight: bold;
    display: inline;
}

.chart-footer {
    padding: 4px 6px 6px;
    border-top: 1px solid #cccccc;
}
#chart_stats .loading {
    width: 484px;
    height: 320px;
}
.linkListBox .chart-footer ul {
    padding: 0;
}

.chart-title {
    text-align: left;
    padding: 7px 0 0 0;
    float: left;
}
.data-total {
    font-size: 11px;
    color: #646c79;
}

.interactive {
    cursor: pointer;
}

.chart_toggle {
    cursor: default;
}
.toggle {
    display: inline-block;
    cursor: default;
    visibility: hidden;
    width: 10px;
    height: 21px;
    background: url("Images/Dashboard/toggle.png") 3px 5px no-repeat;
}
    .chart_toggle.interactive {
        cursor: pointer;
    }
    .chart_toggle.interactive .toggle {
        cursor: pointer;
        visibility: visible;
    }

.chart-subheader .chart-controls {
    float: right;
}
.chart-subheader .chart-controls select {
    width: 78px; 
    font-size: 11px;
}
.chart-subheader .chart-controls div {
    float: left;
    text-align: left;
}
.chart-subheader .chart-controls div span {
    display: block;
    font-size: 11px;
}

.chart-costs li {
    float: left;
    margin-right: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #646c79;
    text-align: center;
}
.chart-costs li.tag {
    background: #d8d8d9;
    width: 54px;
    height: 27px;
    padding: 3px 5px 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 12px;
    position: relative;
    margin: 3px 30px 0 0;
}
.chart-costs li.tag .pointer {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: auto;
    margin: 0;
    width: 0; 
    height: 0; 
    border-left: 15px solid #d8d8d9;
    border-top: 15px solid transparent;    
    border-bottom: 15px solid transparent;
    border-right: none;
}
.chart-costs .vendor {
    font-size: 11px;
    display: block;
}

.chart-footer .stats {
    float: left;
    width: 50%;
    text-align: center;
    color: #333;
    font-size: 11px;
}
.chart-footer h5 {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.linkListBox.alerts {
    padding: 0 0 9px;
    min-height: 291px;
}
.linkListBox.alerts table {
    width: auto;
    margin: 9px 9px 0;
}
.linkListBox.alerts table.table-header {
    width: 100%;
    margin-right: 0; margin-left: 0;
    border: 0;
}
.table-header th {
    padding: 0 25px 0 16px;
}
.linkListBox.alerts table th {
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    vertical-align: middle;
}
.linkListBox.alerts table td {
    padding: 4px 0;
    border-bottom: 1px solid #efefef;
}
.linkListBox.alerts table th.dealership {
    text-align: left;
}
.linkListBox.alerts table td.dealership {
    color: #666666;
    width: 138px;
    line-height: 1em;
}
.linkListBox.alerts table .data {
    text-align: center;
    width: 70px;
    font-size: 16px;
    font-weight: bold;
    color: #898989;
}
.linkListBox.alerts table.table-header .data-heading {
    width: 50px;
}


.threshold-setting {
    position: absolute;
    bottom: 2px;
    left: 9px;
    font-size: 10.5px;
}
.threshold-setting h6 {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}
.threshold-setting input {
    width: 24px;
    font-size: 10.5px;
}


#reports .nav li,
.tabbed_report .nav li {
    display: inline;
    float: none;
}
#reports .nav li a,
.tabbed_report .nav li a {
    text-decoration: underline;
}
#reports .nav li.ui-state-active a,
.tabbed_report .nav li.ui-state-active a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}




table.tablesorter {
    font-family:arial;
    /*background-color: #CDCDCD;*/
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
    padding-right: 10px;
}
table.tablesorter thead tr .header {
    background-image: url("Images/Dashboard/bg.gif");
    background-repeat: no-repeat;
    background-position: center right -5px;
    cursor: pointer;
    text-align: center;
}
table.tablesorter tbody tr .dealership {
    width: 140px;
    text-align: left;
}
#ttm_report table.tablesorter tbody tr .dealership {
    width: 250px;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    line-height: 24px;
    vertical-align: top;
    font-size: 12px;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
}
table.tablesorter tbody tr.odd {
    background-color: #F8F8F8;
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("Images/Dashboard/asc.gif");
}
table.tablesorter thead tr .headerSortUp {
    background-image: url("Images/Dashboard/desc.gif");
}
table.tablesorter thead tr .headerSortDown, 
table.tablesorter thead tr .headerSortUp {
    background-color: #C0D6E2;
}
table.tablesorter .notification-warning { /*right-aligned and compact version*/
    background-position: -3px -4px;
    padding-left: 0;
    padding-right: 30px;
    float: right;
}

/* sorted tables */
.report_table_container {
    margin: 5px 12px 12px 12px !important;
}
table.report_table thead tr th {
    cursor: pointer;
    line-height: 1.2em;
    padding-top: 9px;
    padding-bottom: 9px;
}
table.report_table tbody tr td.wrapped {
    padding: 0;
}
table.report_table tbody tr td div.rowWrapper
{
    line-height: 1.1em;
    padding: 9px 4px;
    line-height: 1.1em;
    position: relative;
}
table.report_table tbody tr td div.rowEntry
{
    position: absolute; 
    left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    width: 100%;
    font-weight: bold;
}
table.report_table tbody tr td div.pctBar
{
    height: 2.22em;
    top: 2px;
    background: #19d2fe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5ZDJmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOWE2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #19d2fe 0%, #19a6d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19d2fe), color-stop(100%,#19a6d6));
    background: -webkit-linear-gradient(top,  #19d2fe 0%,#19a6d6 100%);
    background: -o-linear-gradient(top,  #19d2fe 0%,#19a6d6 100%);
    background: -ms-linear-gradient(top,  #19d2fe 0%,#19a6d6 100%);
    background: linear-gradient(to bottom,  #19d2fe 0%,#19a6d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19d2fe', endColorstr='#19a6d6',GradientType=0 );
    opacity: 0.9;
}
    .report_table th:first-child {
        cursor: default;
    }
/*    .report_table a {
        text-decoration: none;
    }
*/

table.tablesorter tbody td.text_align_left {
    text-align: left;
}
table.tablesorter tbody td.text_align_right {
    text-align: right;
}
table.tablesorter tbody tr.emphasized td {
    color: #fff;
    background: #4873C8;
}

.filterable_report_header {
    size: 14px;
    color: #646C79;
}
    .filterable_report_header input {
        padding: 1px 4px;
    }
    .filterable_report_header .input_label {
        /*font-weight: bold;*/
        font-size: 10px;
        text-transform: uppercase;
        color: #808080;
    }
    .filterable_report_header .filterable_report_output_label_major {
    }
    .filterable_report_header .filterable_report_output_label_minor {
        font-size: 10px;
        text-transform: uppercase;
        color: #808080;
    }
    .filterable_report_header .filterable_report_output_value {
        font-weight: bold;
        margin-left: 20px;
        font-size: 18px;
    }


ul.report_tabs {
    cursor: default;
}
ul.report_tabs li {
    display: inline-block;
    list-style-type: none;
    margin: 8px;
    border-bottom: 5px solid white;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    color: #808080;
    font-weight: bold; }

    ul.report_tabs li.active {
        cursor: default;
        border-bottom: 5px solid #C0D6E2;
        color: black; }

#website_performance_report_table td.editable {
    width: 90px;
    text-align: center;
}
.tablesorter .editable:hover {
    background-image: url("Images/Dashboard/edit.png");
    background-position: 95% 6px;
    background-repeat: no-repeat;
}

.tablesorter td.error {
    color: #ff0000;
}

.editable input {
  width: 42px;
}
.editable .save,
.editable .cancel {
    width: 16px;
    height: 16px;
    background: url("Images/Dashboard/edit_save.png") 0 0 no-repeat;
    margin: 5px 3px 0;
    float: right;
    cursor: pointer
}
.editable .cancel {
    float: left;
    background: url("Images/Dashboard/edit_cancel.png") 0 0 no-repeat;
}


.dashboard { padding: 0; }

/*#InventoryType {
    padding: 4px 8px 0 0;
    position: absolute;
    right: 8px;
    top: 4px;
    float: none;
    left: auto;
}*/

.chart-subheader {
    padding: 5px 0 3px;
}

#Gauges #MerchandisingAlertGauge .gauge { background-position: 0 70px; }
#NotOnline .gauge { background-position: 0 30px; }
#ProductLinks { padding-left: 15px; }

.missing-budget {
    font-size: 12px;
    font-weight: normal;
}

#chart_cpv_wrapper {
    float: left;
    position: relative;
}
#chart_cpv_chart { float: none; }


/*!
 * jQuery UI Tabs 1.8.23
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; /*padding: .2em;*/ zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 0 1px 0; border-bottom: 0 !important; padding: 0; height: 40px; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1.1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }
#chart_tabs.ui-tabs { padding: 0; }
#chart_select.ui-tabs-nav {
    margin: 0 -2px;
}
#chart_select.ui-tabs-nav li {
    display: table;    
    margin: 0 2px;
}
#chart_select.ui-tabs-nav li a {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,241,241,1) 50%, rgba(221,221,221,1) 83%, rgba(189,189,189,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(242,241,241,1)), color-stop(83%,rgba(221,221,221,1)), color-stop(100%,rgba(189,189,189,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,241,241,1) 50%,rgba(221,221,221,1) 83%,rgba(189,189,189,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,241,241,1) 50%,rgba(221,221,221,1) 83%,rgba(189,189,189,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,241,241,1) 50%,rgba(221,221,221,1) 83%,rgba(189,189,189,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,241,241,1) 50%,rgba(221,221,221,1) 83%,rgba(189,189,189,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bdbdbd',GradientType=0 );
    color: #333333;
    font-size: 11px;
    line-height: 1em;
    font-weight: bold;
    border-bottom: 1px solid #b3b5bb;
    border-top: 1px solid #eaebf1;
    float: none;
    display: table-cell;
    vertical-align: middle;
    
}
#chart_select.ui-tabs-nav li.ui-tabs-active a {
    background: rgb(87,129,211);
    background: -moz-linear-gradient(top, rgba(87,129,211,1) 0%, rgba(22,64,146,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,129,211,1)), color-stop(100%,rgba(22,64,146,1)));
    background: -webkit-linear-gradient(top, rgba(87,129,211,1) 0%,rgba(22,64,146,1) 100%);
    background: -o-linear-gradient(top, rgba(87,129,211,1) 0%,rgba(22,64,146,1) 100%);
    background: -ms-linear-gradient(top, rgba(87,129,211,1) 0%,rgba(22,64,146,1) 100%);
    background: linear-gradient(to bottom, rgba(87,129,211,1) 0%,rgba(22,64,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5781d3', endColorstr='#164092',GradientType=0 );
    color: #fff;
    cursor: default;
}

.level_2_tabs .ui-tabs-nav {
    padding: 0;
    margin-top: 5px;
    position: relative;
    z-index: 10;
}
.ui-tabs .level_2_tabs .ui-tabs-nav li {
    height: auto;
}
.ui-tabs .level_2_tabs .ui-tabs-nav li a {
    text-transform: uppercase;
    color: #666666;
    padding: 5px 7px;
    font-size: 0.95em;
}
.level_2_tabs .ui-tabs-nav li.ui-tabs-active {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-bottom: none;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.level_2_tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #333333;
    font-weight: bold;
    cursor: default;
}
.level_2_tabs .ui-tabs-panel {
    padding: 1px;
    background: rgb(204,204,204);
    background: -moz-linear-gradient(top, rgba(204,204,204,1) 0%, rgba(229,229,229,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204,204,204,1) 0%,rgba(229,229,229,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(204,204,204,1) 0%,rgba(229,229,229,0) 100%); /* W3C */
}
.level_2_tabs .ui-tabs-panel .bg {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

/* group level dashboard */

.dashWrapper { 
    padding: 20px 15px 0; 
    margin-bottom: 30px; 
    position: relative;
}
.groupDash .linkListBox {
    width: 211px;
    border: 1px solid #666666;
    position: relative;
}
.groupDash .freshPanel,
.groupDash #WebsitePerformance {
    border-radius: 3px;
    margin-top: 0;
    z-index: 5;
}

.freshPanel {
    -webkit-box-shadow: 0px 0px 7px rgb(156, 156, 156);
    -moz-box-shadow: 0px 0px 7px rgb(156, 156, 156);
    box-shadow: 0px 0px 7px rgb(156, 156, 156);
}

.freshPanel.alerts_box > h2 > .count {
    margin: 8px 4px 0px 10px;
}
.freshPanel.alerts_box > h2 > .title {
    float: inherit;
    width: inherit;
    margin: 15px 0px 0px 10px;
}

.threshold-edit-link {
    display: block;
    position: absolute;
    bottom: 2px;
    left: 2px;
    right: 2px;
    padding: 0;
    text-align: center;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    border-radius: 2px;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 1%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d6d6d6), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #d6d6d6 1%,#efefef 100%);
    background: -o-linear-gradient(top, #d6d6d6 1%,#efefef 100%);
    background: -ms-linear-gradient(top, #d6d6d6 1%,#efefef 100%);
    background: linear-gradient(to bottom, #d6d6d6 1%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#efefef',GradientType=0 );
}

.groupDash .report-link {
    left: 0;
    width: 211px;
    background: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: inset 0 0 13px #ebebeb;
    bottom: -30px;
    z-index: 0;
    line-height: 50px;
    height: 40px;
    color: #999999;
    text-decoration: none;
    /*display: none;*/
}
#view-ActionAlerts {
    left: 15px;
}
#view-WebsitePerformance {
    width: 506px;
    left: 238px;
}
#view-ActivityAlerts {
    left: 756px;
}
.groupDash #ActionAlerts.linkListBox, 
.groupDash #ActivityAlerts.linkListBox { 
    height: 387px;
    padding-bottom: 0;
}

.groupDash .clickable { cursor: pointer; }

#inventory-alerts, #quality-alerts {
    height: 280px;
}

.alerts .mCSB_container {
    margin-right: 10px;
}
.js-no-alerts {
    margin: 20px;
}

.refresh {
    position: absolute;
    top: 0;
    right: 20px;
    color: #557fd5;
    font-style: italic;
    line-height: 24px;
    height: 24px;
    padding: 0 4px 0 0;
}
.refresh .icon {
    width: 24px;
    height: 24px;
    background: url("Images/Dashboard/synchronize_24.png") 0 0 no-repeat;
    display: block;
    text-indent: -9999em;
    text-decoration: ltr;
    overflow: hidden;
    float: right;
    margin-left: 10px;
}
.refresh .icon.loading {
    background-image: url("Images/loading_small.gif?2");
    background-position: center center;
    cursor: default;
}
.refresh .message {
    font-weight: bold;
}
.refresh.long {
    background: #FFFFFF;
    background: rgba(255,255,255,.9);
}
.refresh .progress {
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background: #CCC;
}
.refresh .text {
    position: relative;
    z-index: 2;
    padding-left: 4px;
}

.chart-costs li.tag.wider {
    width: 76px;
}
    .tag .cramped {
        font-size: 0.8em;
    }
    .tag .enlarged {
        font-size: 1.1em;
    }

.no-data {
    color: rgb(196, 196, 196);
    font-size: 0.9em;
}

/* https://incisent.fogbugz.com/default.asp?27046
   https://github.com/highslide-software/highcharts.com/issues/663 */
#tab_ga .highcharts-container .highcharts-axis-labels span {
    /*background-color: #ffffff;*/
}


.form {
    position: relative;
}
    .form.disabled {
        cursor: default !important;
        opacity: 0.5;
    }
    .form .loading {
        display: none;
        background: transparent url( Images/loading_small_gray.gif ) no-repeat scroll center; 
        width: 17px;
        height: 17px;
        position: absolute;
        top: 13px;
        left: 136px;
    }
        .form.disabled .loading {
            display: block;
        }

#UserMessaging {
    position: relative;
    z-index: 1;
    top: -3px;
}
#UserMessaging p.error {
    background: #ffe5e5 url(../MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 3px -122px;
    border-color: #e56767;
    color: #C94545 !important;
}
    #UserMessaging p {
        font-weight: bold;
        margin: 0 0 0 27px;
        min-height: 16px;
        padding: 4px;
        padding-left: 29px;
        border-width: 1px;
        text-align: left;
        border-style: solid;
        font-size: 10px;
        line-height: 10px;
    }

.beta_tag {
    position: absolute;
    top: 0px;
    left: 12px;
    color: #c0c0c0;
    cursor: default;
    text-transform: uppercase;
    font-size: 9px;
}

.not-a-link {
    cursor: default;
}

.marketing_message {
    font-family: Garamond, serif;
    line-height: 1em;
    color: #B8FF00;
    font-weight:bold;
    font-size: 80px;
    height: 250px;
    text-shadow:0px 0px 0 rgb(231,231,231),1px 1px 0 rgb(216,216,216),2px 2px 0 rgb(202,202,202),3px 3px 0 rgb(187,187,187),4px 4px 0 rgb(173,173,173),5px 5px 0 rgb(158,158,158), 6px 6px 0 rgb(144,144,144),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
