﻿
.button, .small.button { line-height:normal; padding-left:0.25em; padding-right:0.25em; }

#MainNavList li.menuHead ul li a { padding-right:0 !important; }
#MaxSELink .form { padding:10px 10px 0 0; }

/* Dashboard */
#SitePerformance #SiteKeys { padding-top:58px; }
#SitePerformance ul li span.siteKey { top:-1px; }

#SitePerformanceGraphs .data { width:49.5%; padding-top:0.5em; }
#SitePerformanceGraphs .data label { line-height:1.8em; }
#SitePerformanceGraphs .data ul li span.siteKey { top:-3px; }