﻿/* ----------------------------------------------------------- //
   CSS Reset
// ----------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-weight:normal;
	font:inherit;
	vertical-align:baseline;
}

a::-moz-focus-inner, img::-moz-focus-inner, input::-moz-focus-inner { border:0 !important; outline:0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}

html { overflow-y:scroll; }

body { line-height:1.5em; }

ol, ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }

table { border-collapse:collapse; border-spacing:0; }

a { color:#36589a; outline:0; }

/* clearfix class */
.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clearfix:after { clear:both; content:" "; display:block; font-size:0; height:0; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }

/* ----------------------------------------------------------- //
   Global
// ----------------------------------------------------------- */

html { background:transparent url( Images/sprite_BGHorizontal.png ) repeat-x scroll 0 -289px; }
body { color:#5B5F62; font-family:Arial, Helvetica, Sans-Serif; font-size:9pt; }

em { font-style:italic; }
strong { font-weight:bold; }

#Page { visibility:hidden; }

#Header, #Body, #Footer { clear:both; margin:0 auto; width:999px; }

.max { font-family:"Arial Black", Gadget; }

.bold { font-weight:bold !important; }
.normal { font-weight:normal !important; }
.leftAlign { text-align:left !important; }
.invisible { visibility:hidden !important; }
.displayNone { display:none !important; }

input.text.search {
    color:#999;
    font-size:0.9em;
    font-style:italic;
    padding:2px 5px 3px;
}

input.text.search.focus {
    color:#333;
    font-style:normal;
}

#UserMessaging p { font-weight:bold; margin:0.5em 1em; min-height:32px; padding:10px 0 0 54px; }
#UserMessaging p.error { background:#ffe5e5 url(Images/sprite_MessageIcons.png) no-repeat scroll 10px -160px; border:solid #e56767 1px; color:#bf0000 !important; }
#UserMessaging p.warning { background:#ffffcc url(Images/sprite_MessageIcons.png) no-repeat scroll 10px -75px; border:solid #e5b27e 1px; color:#bf6000 !important; }
#UserMessaging p.info { background:#e3ebfa url(Images/sprite_MessageIcons.png) no-repeat scroll 10px 8px; border:solid #9fb5e0 1px; color: #365DAD; }

/* ----------------------------------------------------------- //
   Header
// ----------------------------------------------------------- */

#Header { position:relative; padding-top:1px; z-index:3; }

.mastheadLogo {
	background:transparent url(Images/sprite_Logos.png?v=4) no-repeat scroll 0 6px;
	height:30px; float:left; padding-bottom:0.35em; text-indent:-5000px; overflow: hidden; width:345px; display: block;
}

#UserLinks { float:right; margin-top:1px; }
#UserLinks li { background:transparent url( Images/sprite_Header.png ) no-repeat scroll 0 -167px; display:inline; padding:0 0.25em 0 0.75em; }
#UserLinks li.first { background:none; }
#UserLinks li a { color:#999; font-size:0.9em; position:relative; text-decoration:none; text-transform:uppercase; top:-1px; }
#UserLinks li a:hover { text-decoration:underline; }
#UserLinks li a.dealerSelector { background:transparent url( Images/sprite_Header.png ) no-repeat scroll right -62px; font-weight:bold; padding-right:12px; }

#Navigation { background:#3e436d; padding:1px 0 2px; }

#MainNavList { float:left; list-style-type:none; margin:1px 0 0 12px; position:relative; z-index:4; }
#MainNavList li { float:left; margin-right:1em; }
#MainNavList li a { color:#fff; font-size:1.2em; line-height:1.8em; text-decoration:none; }
#MainNavList li.menuHead { background:transparent url( Images/sprite_Header.png ) no-repeat scroll right -29px; position:relative; }
#MainNavList li.menuHead a { cursor:default; padding-right:1em; text-decoration:none;  }
#MainNavList li.menuHead ul { background:#3e436d; border-bottom:solid #3e436d 1px; display:none; left:0; position:absolute; top:2em; }
#MainNavList li.menuHead ul li {border-top:solid #f0f0f0 1px; display:block; list-style-type:none; margin-right:0; width:100%; }
#MainNavList li.menuHead ul li a {
	cursor:pointer; color:#fff !important; display:block; font-size:1.1em; line-height:1.2em; padding:0.25em 1em 0.4em 0.5em !important; white-space:nowrap;
}
#MainNavList li.menuHead ul li a:hover { background:#f0f0f0; color:#3e436d !important; text-decoration:none; }

#Navigation #HeaderSearch { float:right; margin:2px 3px 0 0; }
#Navigation #HeaderSearch input.text { color:#ddd; font-size:1em; font-style:italic; padding:1px 5px 2px; width:200px; }
#Navigation #HeaderSearch input.text:focus { color:#333; font-style:normal; }

#SubNavigationUL { display:block; float:right; }
#SubNavigationUL li { display:inline !important; margin-right:0.25em; padding:0 0.25em; width:82px; }
#SubNavigationUL .bulkUpload {
    background:url( Images/sprite_Header.png ) no-repeat scroll 2px 2px transparent;
    color:#eee; display:inline-block; float:right; font-size:8pt; font-weight:bold; height:24px; line-height:9pt;
    margin:2px 14px 0 0; padding-left:30px; position:static; text-align:left; text-decoration:none;
}
#SubNavigationUL .messages {
    background:url( Images/icon_Messages.png ) no-repeat scroll 7px 3px transparent; border-left:1px solid #ddd; color:#fff;
    display:inline-block; float:right; font-size:9pt; font-weight:bold; height:24px; line-height:9pt;
    margin:2px 0 0; padding:0 10px 0 36px; position:relative; text-align:left; text-decoration:none;
}
#SubNavigationUL .messages span { position:relative; top:5px; }
#SubNavigationUL .messages #MessageCount {
    background:none repeat scroll 0 0 #bf0000; border:1px solid #fff; color:#fff; font-size:0.8em;
    font-family:small; line-height:0.8em; padding:2px 3px 3px 4px; position:absolute; right:4px; top:-12px;
}

/* ----------------------------------------------------------- //
   Content
// ----------------------------------------------------------- */

#Body { background:#f4f4f4; padding-bottom:1em; position:relative; z-index:2; }
#Footer { position:relative; z-index:1; }

/* Link list classes */
/* For the buckets being displayed convention : the classname match the bucketID (case sensitive)*/

.highActivity {	background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -285px; }
.LowActivity { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -249px; }
.lowPhotos { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -141px; }
.mismatched { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -69px; }
.needsKeyInfo { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -321px; }
.noBookout { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -105px; }
.Offline { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 1px -177px; }
.EquipmentNeeded { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -213px; }
.NoPhotos { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -141px; }
.NoPrice { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -357px; }
.notOnline { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -33px; }
.noVhr { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -393px; }
.reprice { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 -357px; }
.CreateInitialAd { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 3px; }
.AdReviewNeeded { background:transparent url(Images/sprite_BucketIcons.png) no-repeat scroll 0 3px; }
