/* overrides */
#Page {
	background: none;}
#Footer {
	min-height: 5em;}
#MainNavList li {
	display: none;}
#MainNavList li#NavInventoryLink {
	display: list-item;}
#Header .dealerSelector {
	display: none;}
.context_name {
	color: rgb(221, 221, 221);
	float: right;
	font-size: 0.9em;
	height: 21px;
	margin: 13px 8px 0 0;
	padding: 3px 20px 0 10px;
	cursor: default;
}
.mastheadLogo {
	background: url(../Max3.0/Images/logo_MAX_Plain.png?v=4) no-repeat 0 0;
	width: 161px;
}
/* layout */
p {
	margin: 1em 0;}
.legal_copy {
	margin: 0 4em 2em 0;}
.column_container {
	clear: both;}
.column {
	float: left;
	width: 49%;}
.column.right {
	float: right;
	text-align: right;}
.page_description {
	margin-bottom: 2em;}
.section {
	border-top: 1px solid rgb(172,172,172);
	margin-top: 2em;}
.actions {
	text-align: right;
	margin-top: 2em;}
.loading_pane {
	height: 680px;}
.loading_pane .message {
	margin-top: 20%;
	font-size: 2em;
	min-height: 2em;
	line-height: 2em;
	color: rgb(148,148,148);
	text-align: center}
/* fontography */
h1,h2,h3 {
	font-weight: bold;}
h1 {
	font-size: 2em;
	margin: 1em 0;}
h2 {
	font-size: 1.6em;
	margin: 0.8em 0;}
h3 {
	font-size: 1.2em;
	margin: 0.6em 0;}
.term {
	font-weight: bold;}
/* components */
input[type='text'],
input[type='password'] {
	padding: 1px 0 1px 4px;
	width: 100px;
	border: 1px solid rgb(172,172,172);
	margin: 2px 4px 2px 0px;
	height: 1.5em;
	position: relative;}
input:disabled {
	border: 1px solid rgb(214,214,214);
	background: white;}
input[type='select']:disabled {
	color:#333; }
input.monthpicker {}
input.soft {
	color: rgb(148,148,148);}
label {
	display: block;}
.radio.option {
	display: inline;}
.radio.option input[type='radio'] {
	margin-right: 0;}
.radio.option label {
	display: inline;
	padding: 0 0.25em;}
.field {
	float: left;
	position: relative;}
.field.list_item {
	display: block;
	float: none;
	clear: both;}
.field.list_item label,
.field.label label {
	display: inline-block;
	width: 120px;}
.button {
	border: 1px solid #ABADB3;
	padding: 5px 15px;
	text-align: center;
	cursor: pointer;
	height: 20px;
	line-height: 20px;}
.button.save {
	width: 5em;
	padding: 10px 50px;
	margin: 0 0 0 10px;
	font-size: 1.25em;
	float: right;}
.button.setup_google {
	width: 12em;
}
.button.disabled {
	background: white;
	color: rgb(171, 173, 179);
	cursor: default;
}
.button.expand_collapse {
	font-size: 1.6em;
	font-weight: normal;}
.busy_message {
	display: block;
	float: right;
	font-size: 1.25em;
	font-style: italic;
	color: rgb(171, 173, 179);
	line-height: 2.5em;}
.password_cover {
	background: url(Images/security_envelope.png);
	position: absolute;
	cursor: pointer;
	margin-top: 2px;
	border: 1px solid black;}
/* generics */
.invisible {
	visibility: hidden;}
/* adjustments, hacks & obscure */
.column.align_h2_baseline {
	margin-top: 1.15em;}
h2 select,
h2 input[type='text'],
h2 input[type='password'] {
	font-size: 1em;
	font-weight: bold;
	color: rgb(51, 51, 51);
	min-width: 9em;}
.profile_select {
	font-size: 1.25em;
	width: 22em;
	max-width: 22em;}
.profile_provider_select {
	font-size: 1.25em;
	width: 9em;
	max-width: 9em;
	margin-left: 0.25em;}
.vdp_placeholder {
	height: 7.1em;}
