<%@ Control Language="C#" AutoEventWireup="true" Inherits="FirstLook.Pricing.WebApplication.Pages.Internet.Controls.VehicleInformation.Controls_VehicleInformation_ColorLabel" Codebehind="ColorLabel.ascx.cs" %>

<asp:Label ID="VehicleColorLabel" runat="server" EnableViewState="false" />