﻿@using System.Web.Optimization
@model Wanamaker.WebApp.Areas.PricingSummary.Models.PriceView

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta charset="utf-8" />
        <title>@Model.PageTitle</title>
        @Styles.Render("~/content/css")
        @Styles.Render("~/content/jqueryui_css")
        @Styles.Render("~/content/pricingSummary_css")
    </head>
    <body>
    
    <div id="Page" class="clearfix">
        <div id="Header" class="clearfix">@Html.Partial("~/Areas/Dashboard/Views/Shared/Header.cshtml")</div>
       
                @RenderBody()
         <div id="Footer" class="clearfix">@Html.Partial("_Footer")</div>
        </div>
         


       
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/PricingSummary")
        @Scripts.Render("~/bundles/crazyegg")
        
        @RenderSection("scripts", required: false)

    </body>
</html>
