﻿/* CSS Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border:0;
    margin:0;
    padding:0
}
/*
ul, ol, dl {
	position:relative; 
}
*/

html {
    overflow-y:scroll;
}

body {
    color:#5b5f62;
    font-size:9pt !important;
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    line-height:12pt;
    padding:1em 2em !important;
}

a {
	color:#355FAB;
	outline:0;
}

a:active {
	color:#C00;
}

.bold {
	font-weight:bold;
}

.red {
	color:#C00 !important;
}

.green {
	color:green !important;
}

.greyed {
	color:#999;
}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     clear:both;
     content:" ";
     display:block;
     font-size:0;
     height:0;
     visibility:hidden;
}
.clearfix {
	display:inline-block;
}
/* start commented backslash hack \*/
* html .clearfix
{ height:1%; }
.clearfix
{ display:block; }
/* close commented backslash hack */

.clearLeft {
    clear:left;
}

.clearRight {
    clear:right;
}

.clear {
    clear:both;
}

.error {
    color:#C00;
    line-height:1em
}

.floatLeft {
	float:left;
}

.floatRight {
	float:right;
}

.alignCenter {
	text-align:center !important;
}

.alignLeft {
	text-align:left !important;
}

.alignRight {
	text-align:right !important;
}

/* Shell */

#Container {
	margin:0 auto;
	padding:0;
	width:100%;
}

#Header a.siteTitle {
	color:#333;/* #36589a */
	font-size:1.5em;
	font-weight:bold;
	text-decoration:none;
}

#Header ul {
	background-color:#36589a;
	margin:0.75em 0 0;
	padding-left:0 !important;
}

#Header ul li {
	float:left;
	list-style-type:none;
}

#Header ul li a {
	color:#fff;
	display:block;
	padding:0.3em 0 0.6em 1em;
}

/* Content */

#Content {
	-moz-border-radius:0 0 4px 4px;
	background:#f4f4f4;
	border-radius:0 0 4px 4px;
	margin:0 auto;
	padding:0.5em 1.5em 1.5em;
	position:relative;
	z-index:1000;
}

h3 { margin-bottom:0.5em !important; }
h4 { margin-bottom:0.25em !important; }

.pageTitle { margin-bottom:1em; }
.pageTitle h1 { font-size:12pt; }

.dataTable {
	background-color:#fff;
	border:solid #ccc 1px;
	border-collapse:collapse;
	margin-bottom:1.5em;
	width:100%;
}

.dataTable tr:hover {
	background-color:#ffffcc;
}

.dataTable td {
	border-top:solid #ccc 1px;
	padding:0.3em 0.5em 0.4em 0.5em;
}

.dataTable th {
	background-color:#ddd;
	color:#333;
	font-weight:normal;
	padding:0.3em 0.5em;
	text-align:left;
}

.dataTable caption,
h4.caption {
	color:#777;
	font-size:1.1em;
	font-weight:bold;
	padding:0.25em 0 0.3em 0.6em;
	text-align:left;
}

.ui-dialog {
	-moz-border-radius:8px;
	background-color:#fff;
	border:solid #666 1px;
	border-radius:8px;
	height:422px !important;
	width:750px !important;
}

.ui-widget-overlay {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color:#333;
	filter: alpha(opacity=50);
	left:0;
	opacity:0.5;
	position:absolute;
	top:0;
}

.ui-dialog-content {
	padding:0 2em 2em;
}

.ui-dialog-content h1 {
	font-size:1.3em;
	margin-bottom:1em;
}

.ui-dialog-content p {
	margin-bottom:4em;
}

.ui-dialog-content label {
	font-size:1.2em;
	margin:2em 1em 2em 2em;
}

.ui-dialog-content p.error {
	display:none;
	margin:10px 0 0 174px;
}

.ui-dialog-content p.example {
	color:#999;
	font-style:italic;
	margin:5px 0 0 174px;
}

.ui-dialog-content .fieldLabelPair input {
	font-size:1.2em;
	width:442px;
}

.ui-dialog-buttonpane {
	bottom:1em;
	position:absolute;
	right:2em;
}

/* Home page tabs */

#Tabset {
	position:relative;
	z-index:1002;
}

#Tabset ul {
	margin-top:1em;
	padding-left:0;
}

#Tabset ul li {
	-moz-border-radius:4px 4px 0 0;
	background:#eee url(../Images/bg_TabItems.gif) repeat-x scroll top left;
	border:solid #ccc 1px;
	border-bottom:0;
	border-radius:4px 4px 0 0;
	float:left;
	font-size:0.9em;
	list-style-type:none;
	margin-right:2px;
	text-align: center;
    width: 145px;
}

#Tabset ul li a {
	color:#777;
	display:block;
	padding:0.3em 1em 0.3em 1em;
	text-decoration:none;
}

#Tabset ul li:hover {
	background:#fff;
}

#Tabset ul li a:hover {
	color:#607890;
	text-decoration:underline;
}

#Tabset ul li.selected {
	background:#fff;
	font-weight:bold;
    margin-bottom:-1px;
    padding-bottom:1px;
}

#Tabset ul li.selected a {
	color:#777;
}

#Tabset ul li.selected a:hover {
	color:#777;
	cursor:default;
	text-decoration:none;
}

#TabContent {
	-moz-border-radius:0 4px 4px 4px;
	background-color:#fff;
	border:solid #ccc 1px;
	border-radius:0 4px 4px 4px;
	padding:1em 1em 0 1em;
	position:relative;
	z-index:1001;
}

#TabContent h3 {
	color:#607890;
	font-size:1.2em;
	padding-bottom:0.25em;
}

#TabContent h3 a {
	float:right;
	font-weight:normal;
	margin-right:0.5em;
}

/* Home page tables */

#TabContent span.empty {
	position:relative;
	top:-1em;
}

.dataTable a.name {
	font-weight:bold;
}

.dataTable ul.actions {
	padding-left:0;
}

.dataTable ul.actions li {
	float:left;
	list-style-type:none;
	margin-right:1em;
}

.dataTable ul.actions li a {
	display:block;
	height:1.5em;
	padding-left:20px;
	width:auto;
}

.dataTable ul.actions li a.share {
	background:transparent url(../Images/icon_Share.gif) no-repeat scroll center left;
}

.dataTable ul.actions li a.copy {
	background:transparent url(../Images/icon_Copy.gif) no-repeat scroll center left;
}

.dataTable ul.actions li a.remove {
	background:transparent url(../Images/icon_Remove.png) no-repeat scroll center left;
}

.dataTable ul.actions li a.delete {
	background:transparent url(../Images/icon_Delete.gif) no-repeat scroll center left;
}

/* Home page above tabs */

#HelpLink { background:transparent url(../Images/icon_Help.png) no-repeat scroll center left; display:inline-block; float:right; height:18px; margin-right:0.5em; padding-left:20px; }

#BulkActionStatusList li.success { color:#339933; }
#BulkActionStatusList li.failed { color:#cc3333; }

.globalmessage { border-width: 1px; border-style: solid; margin: 10px 0 15px; }
.globalmessage p { margin: 0 auto; padding:10px 0 10px 44px; font-weight:bold; line-height:16px; position: relative; }

.globalmessage.error { background:#ffe5e5; border-color: #e56767; color:#bf0000; }
.globalmessage.error p {  background: url(/merchandising/Themes/MaxMvc/Images/sprite_MessageIcons.png) no-repeat scroll 10px -116px; }

.globalmessage.warning { background:#ffffcc; border-color: #e5b27e; color:#bf6000; }
.globalmessage.warning p { background: url(/merchandising/Themes/MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px -52px; }

.globalmessage.info { background:#e3ebfa; border-color: #9fb5e0; color:#365DAD; }
.globalmessage.info p { background: url(/merchandising/Themes/MaxMvc/Images/sprite_MessageIcons.png?v=3.0) no-repeat scroll 10px 10px; }

.globalmessage.credential { position: fixed; z-index: 1000; width: 100%;}

.globalmessage .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.globalmessage .dismiss {
  position: absolute;
  top: 10px;
  right: 50px;
}