/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

form[action*="ModifyTemplate.aspx"] {
	min-width: 1210px;
}


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/

/*body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }*/

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#444; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }


ul { padding-left:2em; }
ol { padding-left:2em; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #CEE7FF; color:#fff; text-shadow: none; }
::selection { background:#CEE7FF; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #CEE7FF; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }





 /* Primary Styles
    Author: 
 */


.hform p { margin: 0 0 .5em; }
.hform .checkbox_list label,
.hform .radio_list label,
.hform p label { float: left; width: 100px; }

.hform p input { width: 200px; }
.hform p select { width: 200px; }

.hform p span.button input,
.hform p input.button { width: auto; }
.hform p input.checkbox { width: auto; }
.hform p input.radio { width: auto; }

.hform .checkbox input { width: auto; }
.hform .radio_list,
.hform .checkbox_list { list-style: none; }
/* vForm
-------------------------------------------------------------- */
fieldset.vform { border:solid #999 1px; margin-bottom:1em; padding:1em; }
fieldset.vform legend { padding:0 0.5em; }

.vform p { margin: 0 0 .5em; }
.vform p label { display: block; }

.vform p.checkbox label { display: inline; }

body {
	padding: 1em;
}

#main {
	max-width: 98%;
	margin: 1em auto;
	padding-bottom: 100px;
}

#page_preview {
	float: right;
	border: 1px solid #999;
	margin: 0 10px 20px 20px;
	overflow: hidden;
	position: relative;
	cursor: crosshair;
	font-size: 12pt; 
	line-height: 1.2;
}

#page_preview * {
	-webkit-user-select:none;
	-moz-user-select:none;
}

#page_preview .backgroundImage {
	left:0;
	position:absolute;
	top:0;
}

p.size_list {
	text-align: right;
}

table.overlay_grid {
	table-layout: fixed;
	position: absolute;
	z-index: 1;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
}
table.overlay_grid tr {
	overflow: hidden;
}

table.overlay_grid td { 
	border: 1px solid #84FFFF;
	background-color: transparent;
	padding: 0;
	overflow: hidden;
	font-size: 6pt;
	color: #C0C0C0;
}

.arial { font-family: Arial; }
.arial_black { font-family: "Arial Black"; }
.comic_sans { font-family: "Comic Sans"; }
.courier_new { font-family: "Courier New"; }
.georgia { font-family: Georgia; }
.impact { font-family: Impact; }
.lucidia_console { font-family: "Lucida Console"; }
.lucidia_grande { font-family: "Lucida Grande"; }
.lucidia_grande { font-family: "Lucida Sans Unicode","Lucida Grande"; }
.tahoma { font-family: Tahoma; }
.times { font-family: "Times New Roman", Times; }
.trebuchet { font-family: "Trebuchet MS", Trebuchet, Helvetica; }
.verdana { font-family: Verdana; }

#sample_text,
#sample_list,
#sample_bullet,
#sample_em,
#sample_en,
#sample_height {
	visibility: hidden;
	position: absolute;
	float: left;
}

#character_per_area {
	float: left;
}

#page_preview .print_area {
	background-color: #E6F2FF;
	border: 1px solid #9FCFFF;
	-moz-box-shadow: 3px 3px solid #666;
	-webkit-box-shadow: 3px 3px solid #666;
	box-shadow: 3px 3px solid #666;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
	overflow: hidden;
}

html #page_preview .prompted_value {
	background-color: #E6FFF2;
	border-color: #9FFFCF;
}

html #page_preview .selected {
	background-color: #FF0;
	border-color: #FF8000;
}
html #page_preview .qr_code {
	background-image: url("../../Public/Images/example_qr_code.png");
	background-size: 100%;
	background-size: cover; -ms-behavior: url(/backgroundsize.min.htc);
	border-width: 2px;
}

footer {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	border-top: 1px solid #ddd;
	padding: 1em;
	clear: both;
	z-index: 100;
}
footer p {
	margin-left: 80%;
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}