
/* FONT sizes */
#sticker * {
	font-size: 115%;
}
#sticker .equipment {
	font-size: 75%;
}
#sticker .price {
	font-size: 250%;
}

/* COMMON rules */
.dealer, .book, .price span, .legal, .equipment strong {
	display: none;
}
#sticker .vehicle {
	text-align: left;
}
#sticker dl {
	text-align: left;
}
	#sticker dt {
		display: none;
	}	
	.equipment .col {
		float: left;
		margin-right: 30px;
		text-align: left;
		list-style: none outside;
	}

	#sticker .equipment .col li {
		display: block;
		text-align: left;
	}			

/* SCREEN 
		measurements */
@media screen,projector {
	
	/* 72px equiv to 72pt 
				= 1in */
		
	/* element WIDTHS */
		#sticker .vehicle {
			width: 360px; 
		}
		#sticker .snum, #sticker .engine {
			width: 144px; 
		}
		#sticker .transmission {
			width: 162px; 
		}
		#sticker .vin {
			width: 216px;
		}

	/* from the LEFT */
		#sticker .vehicle {
			margin-left: -108px;
		}
		#sticker .snum, #sticker .engine, #sticker .mileage, #sticker .price {
			margin-left: -180px;
		}
		#sticker .vin {
			margin-left: 36px;
		}
		#sticker .transmission {
			margin-left: 90px;
		}
		#sticker .equipment {
			margin-left: -234px;
		}
	
	/* from the TOP */
		#sticker .vehicle {
			margin-top: -216px; 
		}
		#sticker .engine, #sticker .transmission {
			margin-top: -172px; 
		}
		#sticker .snum, #sticker .vin {
			margin-top: -194px; 
		}
		#sticker .mileage {
			margin-top: -150px;
		}
		#sticker .equipment {
			margin-top: -36px; 
		}
		#sticker .price {
			margin-top: 252px;
		}
		
}

/* PRINT 
		measurements */
@media print {

	/* element WIDTHS */
		#sticker .vehicle {
			width: 5in; 
		}
		#sticker .snum, #sticker .engine {
			width: 2in; 
		}
		#sticker .transmission {
			width: 2.25in; 
		}
		#sticker .vin {
			width: 3in; 
		}
		#sticker .equipment .col {
			float: left;
			margin-right: 0.5in;
		}
		
	/* from the LEFT */
		#sticker .vehicle {
			margin-left: -1.5in;
		}
		#sticker .snum, #sticker .engine, #sticker .mileage {
			margin-left: -3.125in;
		}
		#sticker .price {
			margin-left: -2.5in;
		}
		#sticker .vin {
			margin-left: 0;
		}
		#sticker .transmission {
			margin-left: 0.75in;
		}
		#sticker .equipment {
			margin-left: -3.25in;
		}
	
	/* from the TOP */
		#sticker .vehicle {
			margin-top: -3.125in; 
		}
		#sticker .engine, #sticker .transmission {
			margin-top: -2.25in; 
		}
		#sticker .snum, #sticker .vin {
			margin-top: -2.6875in; 
		}
		#sticker .mileage {
			margin-top: -1.8125in;
		}
		#sticker .equipment {
			margin-top: -0.75in; 
		}
		#sticker .price {
			margin-top: 3.4375in;
		}
		
}

