﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BulkWindowStickerDisplay.aspx.cs" Inherits="Wanamaker.WebApp.Print.BulkWindowStickerDisplay" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
<body>
    <form id="form1" runat="server">
    <div align="center">
        <asp:Label runat="server" ID="lblMessage" EnableViewState="False" ForeColor="red"></asp:Label>
    </div>
    </form>
</body>
</body>
</html>
