<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory].compact) %>
<% call = remote_function(:url => { :controller => '/management/print_publisher', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory), :input_type => input_type, :input_object => input_object, :input_method => input_method, :html_options => html_options }, :success => "$('#{id}').outerHTML = request.responseText;") %>
<% css = "retail_small_print_advertisement_values" %>
<% if ['radio','checkbox'].include?(input_type) %>
<ul id="<%= id %>" class="<%= css %>" hal:refresh="<%= call %>">
    <% print_publishers.each do |print_publisher| %>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, print_publisher]) %>
        <li><input type="<%= input_type %>" name="print_publisher[id][]" <% if selections.detect{|s| s == print_publisher.id} %>checked="true"<% end %> value="<%= print_publisher.id %>" id="<%= id %>"><label for="<%= id %>"><%= print_publisher.name %></label></li>
    <% end %>
</ul>
<% elsif input_type == 'select' %>
    <%= collection_select(input_object, input_method, print_publishers, "id", "name", { :object => Campaign.new(:third_party_id => selections.first), :prompt => 'Please Select' }, html_options.update('id' => id, 'class' => css, 'hal:refresh' => call)) %>
<% end %>