<% html_options = Hash.new %>
<% if editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if print_publisher.nil? || print_publisher.id.nil? %>
<ul id="print_component_list">
    <% print_components.each_with_index do |print_component,idx| %>
    <li id="item_<%= print_component.id %>">
        <%= hidden_field_tag "print_publisher_print_component_list_item[#{print_component.id}][print_component_id]", print_component.id, html_options %>
        <%= hidden_field_tag "print_publisher_print_component_list_item[#{print_component.id}][position]", idx+1, html_options %>
        <%= check_box_tag "print_publisher_print_component_list_item[#{print_component.id}][active]", 1, true, html_options %>
        <%= hidden_field_tag "print_publisher_print_component_list_item[#{print_component.id}][active]", 0, html_options %>
        <label for="print_publisher_print_component_list_item_active"><%= print_component.name %></label>
    </li>
    <% end %>
</ul>
<% else %>
<ul id="print_component_list">
    <% print_publisher.print_publisher_print_component_list_items.sort{ |a,b| a.position <=> b.position }.each_with_index do |@print_publisher_print_component_list_item,idx| %>
    <li id="item_<%= @print_publisher_print_component_list_item.id %>">
        <%= hidden_field 'print_publisher_print_component_list_item[]', 'id', html_options %>
        <%= hidden_field 'print_publisher_print_component_list_item[]', 'print_component_id', html_options %>
        <%= hidden_field 'print_publisher_print_component_list_item[]', 'position', html_options %>
        <!-- the check_box tag is not working here -->
        <% if @print_publisher_print_component_list_item.active == 1 %>
        <%= check_box_tag "print_publisher_print_component_list_item[#{@print_publisher_print_component_list_item.id}][active]", 1, true, html_options %>
        <% else %>
        <%= check_box_tag "print_publisher_print_component_list_item[#{@print_publisher_print_component_list_item.id}][active]", 1, false, html_options %>
        <% end %>
        <%= hidden_field_tag "print_publisher_print_component_list_item[#{@print_publisher_print_component_list_item.id}][active]", 0, html_options %>
        <label for="print_publisher_print_component_list_item_active"><%= @print_publisher_print_component_list_item.print_component.name %></label>
    </li>
    <% end %>
</ul>
<% end %>
<% if editable %>
    <% if print_publisher.nil? %>
    <%= sortable_element 'print_component_list', :update => 'print_component_list_container', :complete => visual_effect(:highlight, 'print_component_list'), :url => { :action => 'print_publisher_print_component_list_items_sort', :print_publisher_id => nil } %>
    <% else %>
    <%= sortable_element 'print_component_list', :update => 'print_component_list_container', :complete => visual_effect(:highlight, 'print_component_list'), :url => { :action => 'print_publisher_print_component_list_items_sort', :print_publisher_id => print_publisher.id } %>
    <% end %>
<% end %>