<% html_options = Hash.new %>
<% if print_publisher.nil? || editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if editable == true %>
    <% select_disabled = 'disabled="true"'%>
<% else %>
    <% select_disabled = ''%>
<% end %>
<div id="PrintPublisherManager" class="management_float">
	<div>
		<div class="header">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'finish', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?', :complete => 'RedBox.close();' }, { :title => 'Close Print Publisher Manager', :id => 'PrintPublisherManagerCloseButton' } %></div>
			Add/Manage Print Advertisers
		</div>
		<%= form_mode_tag :url => { :action => 'open', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :float => { :complete => true } %>
		<div class="body">	
			<div class="float">
                <% if editable %>
                    <span>Add</span>
                <% else %>
                    <%= link_to_mode "Add", { :url => { :action => 'add', :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :title => 'Add a new print publisher', :id => 'PrintPublisherManagerAddButton' }, { :complete => true } %>
                <% end %>
			</div>
			<label for="PrintPublisherManagerPublications">Select a Publication:</label>
			<select id="PrintPublisherManagerPublications" name="print_publisher_id" <%= select_disabled %> onchange="if (this.form.onsubmit) { this.form.onsubmit(); } else { this.form.submit(); }">
                <% if print_publisher.nil? %>
                <option value="0" selected="selected">Select...</option>
                <%= options_from_collection_for_select(print_publishers, 'id', 'name', nil) %>
                <% else %>
                <option value="0">Select...</option>
                <%= options_from_collection_for_select(print_publishers, 'id', 'name', print_publisher.id) %>
                <% end %>
			</select>
		</div>
		<%= end_form_tag %>
		<% if flash.now[:notice].nil? || flash.now[:notice].empty? %>
		<div id="PrintPublisherManagerErrors" style="display:none;"></div>
		<% else %>
		<div id="PrintPublisherManagerErrors">
            <% if flash.now[:notice] === Array -%>
                <ul><% flash.now[:notice].each do |notice| -%><li><%= notice -%></li><% end -%></ul>
            <% else %>
                <%= flash.now[:notice] -%>
            <% end %>
		</div>
		<% end %>
		<div id="PrintPublisherManagerPublication" class="body">
			<%= form_mode_tag :url => { :action => 'save' }, :html => { :id => 'PrintPublisherForm', :name => 'PrintPublisherForm' }, :float => { :complete => true } %>
			<% unless planning_action_id.nil? %>
			<%= hidden_field_tag 'planning_action_id', planning_action_id %>
			<% end %>
			<% unless inventory_id.nil? %>
			<%= hidden_field_tag 'inventory_id', inventory_id %>
			<% end %>
			<% if !print_publisher.nil? && !print_publisher.id.nil? %>
			<%= hidden_field 'print_publisher', 'id', html_options.update(:object => print_publisher) %>
			<% end %>
			<fieldset>
				<legend>Publication Details</legend>
				<% if !print_publisher.nil? && !editable %>
				<div style="text-align:right;">
    				<%= link_to_mode 'Edit', { :url => { :action => 'edit', :print_publisher_id => print_publisher.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :id => 'PrintPublisherManagerEditButton', :title => "Edit #{print_publisher.name}" }, { :complete => true } %>
    				<tt>|</tt>
    				<%= link_to_mode 'Delete', { :url => { :action => 'delete', :print_publisher_id => print_publisher.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => "Are you sure you want to delete #{print_publisher.name}" }, { :id => 'PrintPublisherManagerDeleteButton', :title => "Delete #{print_publisher.name}" }, { :complete => true } %>
    			</div>
    			<% end %>
				<dl>
					<dt>
						<label for="print_publisher_name">Publication</label>:
					</dt>
					<dd>
						<%= text_field 'print_publisher', 'name', html_options.update(:object => print_publisher) %>
					</dd>
					<dt>
						<label for="print_publisher_email">Email</label>:
					</dt>
					<dd>
						<%= text_field 'print_publisher', 'email', html_options.update(:object => print_publisher) %>
					</dd>
					<dt>
						<label for="print_publisher_fax">Fax</label>:
					</dt>
					<dd>
						<%= text_field 'print_publisher', 'fax', html_options.update(:object => print_publisher) %>
					</dd>
					<dt>
						 Use Ad Price:
					</dt>
					<dd class="radio_options">
						<%= radio_button 'print_publisher', 'include_vehicle_price', 1, html_options.update(:object => print_publisher) %>
						<label for="print_publisher_has_vehicle_price_true">Yes</label>
						
						<%= radio_button 'print_publisher', 'include_vehicle_price', 0, html_options.update(:object => print_publisher) %>
						<label for="print_publisher_has_vehicle_price_false">No</label>
					</dd>
					<dt>
						Options Source:
					</dt>
					<dd class="radio_options">
                        <% books.each do |book| %>
                        <%= radio_button 'print_publisher', 'book_id', book.id, html_options.update(:object => print_publisher) %>
						<label for="print_publisher_book_id_<%= book.id %>"><%= book.short_name %></label>
                        <% end %>
						<%= radio_button 'print_publisher', 'book_id', 5, html_options.update(:object => print_publisher) %>
						<label for="print_publisher_book_id_2">First Look</label>
					</dd>
				</dl>
			</fieldset>
			<fieldset>
				<legend>Show in Ad Text</legend>
				<div id="print_component_list_container">
				<%= render :partial => 'print_publisher_print_component_list_items', :locals => {
                      :print_publisher  => print_publisher,
                      :print_components => print_components,
                      :editable         => editable
                    } %>
				</div>
				<% if editable %>
				<span>Drag items in list to reorder ad text content</span>
				<% end %>
			</fieldset>
			<% if !print_publisher.nil? && editable %>
			<div id="PrintPublisherManagerPublicationButtons">
				<a href="#" onclick="if (document.PrintPublisherForm.onsubmit) { document.PrintPublisherForm.onsubmit(); } else { document.PrintPublisherForm.submit(); }" title="Save changes to <%= print_publisher.name %>">Save</a>
				<%= link_to_mode 'Cancel', { :url => { :action => 'cancel', :print_publisher_id => print_publisher.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?' }, { :id => 'PrintPublisherManagerDeleteButton', :title => "Cancel changes to #{print_publisher.name}" }, { :complete => true } %>
			</div>
			<% end %>
			<%= end_form_tag %>
		</div>
	</div>
</div>