﻿
@page {
    margin: 0.5in;
    padding: 0;
}
    

@media print {
* {
    margin: 0;
    padding: 0;
    font-size: 9pt;
    }
}

@media screen {
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    }
}
body {
	font-size: 68%;
	text-align: center;
	}
	
#wrap_ {
	text-align: left;
}

img,iframe,table,fieldset { 
	border: none; 
}

@media screen {

	.print_only_ {
		display: none;
	}
	
}
@media print {
	.hide_nonJS {
		display: none;
	}
}

/* required for JS consistency */
.invisible_ { visibility: hidden;  }
.hide_, 
.hide_block, 
.hide_inline { display: none; }