.bookstable {
	width: 100%;
}
.bookstable td{
	padding-left: 5px;
	padding-right: 5px;
}
.bookvalues{
    border: 1px solid #666666;
	font-size: 10px;
}
.bookvalues table {
	font-size: 10px;
	width: 100%;
}
.bookvalues table tr{
	border: 0;
	margin: 0;
	padding: 0;
}
.bookvaluestd{
	width: 48%;
}
.bbbackground {
	background-color: #CCCCCC;
}
.nadabackground {
	background-color: #FCDFA5;
}
.galvesbackground {
	background-color: #91B6DB;
}
.kbbbackground {
	background-color: #D1DBF4;
}
.mmrbackground {
	background-color: #97dc99;
}
.bookdetails {
	width: 100%;
}
.bookdetails li {
	color: #4E5475;
	font-size: 10px;
	padding: 0;
	margin-bottom: 5px;	
}
.bookdetails li select{
	margin-right: 5px;
}
.mmrdetails {
	width: 100%;
	margin-bottom: 3px;
}
.bookvaluetable tr {
	padding: 0px;
}
.bookvaluetable tr td span{
	font-size: 16px;
	font-weight: bold;
}
#bbvalues tr td {
    background: url("../images/background_gradient_bbcell.png") repeat-x scroll 0 0;
	border-left: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    text-align: center;
}
#nadavalues tr td {
    background: url("../images/background_gradient_nadacell.png") repeat-x scroll 0 0;
	border-left: 2px solid #FCDFA5;
    border-right: 2px solid #FCDFA5;
    text-align: center;
}
#galvesvalues tr td {
    background: url("../images/background_gradient_galvescell.png") repeat-x scroll 0 0;
	border-left: 2px solid #98CCFE;
    border-right: 2px solid #98CCFE;
    text-align: center;
}
.kbbvalues{
    background: url("../images/background_gradient_kbbcell.png") repeat-x scroll 0 0;
	border-left: 2px solid #D1DBF4;
    border-right: 2px solid #D1DBF4;
    text-align: center;
}
.mmrvalues{
    background: url("../images/background_gradient_mmrcell.png") repeat-x scroll 0 0;
	border-left: 2px solid #97dc99;
    border-right: 2px solid #97dc99;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.mmrtextoffset{
	margin-left: 12px;
}
.booklink {
	text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 12px;
}
.mmrlinks {
	border-bottom: 1px solid #3B6D9A;
    color: #3B6D9A;
    font-size: 14px;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: 16px;
}
#linktommr li{
    display: inline-block;
}
#bookfooterimages li {
	margin-right: 10px;
}
.bvspacing {
	margin-top: 12px;
	margin-left: 10px;
}
.bookrowspacing {
	margin-right: 5px;
}
.mileage {
	height: 28px;
	text-align: left;
}
.mmrpagerdisabled {
	color: lightgrey;
}
.mmrpagerActive {
	border-bottom: 1px solid #3B6D9A;
    color: #3B6D9A;
    cursor: pointer;
}
#mmrtranstable {
	width: 100%;
	border: 4px solid #E1E1E1;
	margin-top: 5px;
	border-collapse: collapse;
}
#mmrtranstable tr:nth-child(odd) {
    background: #E1E1E1;
}
#mmrtranstable th {
	border-left: 1px solid #A2A2A2;
	border-right: 1px solid #A2A2A2;
    color: #3B6D9A;
}
#mmrtranstable td {
    text-align: left;
    padding-left: 5px;
}
#mmrnumtrans {
	margin-left: 5px;
	margin-right: 5px;
}
.displaynone {
	display: none;
}
.headerSortUp {
	background: url("../../../public/images/colsortup.png") right center no-repeat;
}
.headerSortDown {
	background: url("../../../public/images/colsortdown.png") right center no-repeat;
}
.cursorpointer {
    cursor: pointer;
}
.kbbdesc {
	float: left;
	text-align: right;
	padding-right: 5px;
	width: 50%;
}
.kbbtival {
	float: left;
	text-align: left;
    font-weight: bold;
    margin-left: 5px;
}