<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory,PlanningActLotPromotion.new].compact) %>
<% call = remote_function(:url => { :controller => '/management/planning_act_lot_promotion', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory), :selections => selections, :input_type => input_type, :input_object => input_object, :input_method => input_method, :html_options => html_options }, :update => id) %>
<ul id="<%= id %>" class="retail_lot_promotion_values" hal:refresh="<%= call %>">
    <% PlanningActLotPromotion.find(:all, :conditions =>["business_unit_id = ? and active = 1", session[:business_unit].id]).each do |planning_act_lot_promotion| -%>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, planning_act_lot_promotion].compact) %>
        <li><input type="<%= input_type %>" name="planning_act_lot_promotion[id][]" <% if selections.detect{|s| s == planning_act_lot_promotion.id} %>checked="true"<% end %> value="<%= planning_act_lot_promotion.id %>" id="<%= id %>"><label for="<%= id %>"><%= planning_act_lot_promotion.name %></label></li>
    <% end -%>
</ul>