﻿/* dialog */

.ui-dialog 
{
	border: solid 1px black;
	background-color: White;
}

.ui-dialog
{
	position: absolute;
	overflow: hidden;
}

.ui-dialog-titlebar
{
	border-bottom: dotted 2px black;
	height: 2em;
}

.ui-dialog-title
{
	font-weight: bold;
	position: relative;
	top: 7px;
	left: 8px;
}

.ui-dialog-titlebar-close
{
	position: absolute;
	right: 7px;
	cursor: default;
}

.ui-dialog-container
{
	position: relative;
}

.ui-dialog-content
{
	margin: 1.2em;
}

.ui-dialog
{
	width: 100%;
}

.ui-dialog-buttonpane
{
	border-top: dotted 2px black;
	width: 100%;
	position: absolute;
	bottom: 8px;
	text-align: right;
	padding-top: 5px;
	margin-right: 5px;
}

.ui-dialog-buttonpane ul
{
	list-style-type: none;
}

.ui-dialog-buttonpane ul li
{
	display: inline;
}

.ui-resizable-handle { position: absolute; font-size: 0.1px; }

.ui-resizable .ui-resizable-handle { display: block; }

.ui-dialog .ui-resizable-n { height: 4px; width: 100%; top: 0px; left: 0px; background-color: Gray; }
.ui-dialog .ui-resizable-s { height: 4px; width: 100%; bottom: 0px; left: 0px; background-color: Gray; }
.ui-dialog .ui-resizable-e { width: 4px; right: 0px; top: 0px; height: 100%; background-color: Gray; }
.ui-dialog .ui-resizable-w { width: 4px; left: 0px; top: 0px; height: 100%; background-color: Gray; }

.ui-dialog .ui-resizable-se { width: 9px; height: 9px; right: 0px; bottom: 0px; background-color: Black; }
.ui-dialog .ui-resizable-sw { width: 9px; height: 9px; left: 0px; bottom: 0px; background-color: Black; }
.ui-dialog .ui-resizable-nw { width: 9px; height: 9px; left: 0px; top: 0px; background-color: Black; }
.ui-dialog .ui-resizable-ne { width: 9px; height: 9px; right: 0px; top: 0px; background-color: Black; }

button {
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

button.ui-dialog-titlebar-close 
{
	position: absolute;
	top: 5px;
	right:5px;
	line-height: 60%;
	font-size: 50%;
	padding-left: 5px;
	padding-right: 5px;
}

.blue .ui-resizable-ne,
.blue .ui-resizable-se ,
.blue .ui-resizable-sw ,
.blue .ui-resizable-nw { background-color: Aqua; }

/* menu:global */

ul.ui-menu 
{
    position: relative;
}

ul.ui-menu, 
ul.ui-menu ul
{
    margin: 0;
    padding: 0;
    display: block;
}

ul.ui-menu li
{
    position: relative;
    list-style: none;
    float: left;
}

ul.ui-menu li a,
ul.ui-menu li span
{
    display: block;
    text-decoration: none;
}

ul.ui-menu ul
{
    position: absolute;
    visibility: hidden;    
}

ul.ui-menu li:hover ul ul,
ul.ui-menu li.ui-menu-hover ul ul
{
    visibility: hidden;
}

ul.ui-menu li:hover ul,
ul.ui-menu li li:hover ul,
ul.ui-menu li li li:hover ul,
ul.ui-menu li.ui-menu-hover ul,
ul.ui-menu li li.ui-menu-hover ul,
ul.ui-menu li li li.ui-menu-hover ul
{
    visibility: visible;
}

.ui-menu-vertical ul.ui-menu li
{
    width: 100%;
}

/* menu:vertical */

.demo .ui-menu-vertical
{
    position:relative;
    top: 3em;
    left: 0;
    z-index: 300;
}

.demo ul
{
    background:#7795BD;
}

.demo .ui-menu-vertical ul.ui-menu
{
    width: 9em;
}

.demo ul.ui-menu ul
{
    width: 10.5em;
    left: 8.9em;
    top: -1em;
    z-index: 400;
}

.demo ul.ui-menu ul ul
{
    width: 11.5em;
    left: 10.4em;
}

.demo ul.ui-menu li
{
    background:#7795BD url(Images/menu_bg_nav.gif) repeat-x;
}

.demo ul.ui-menu li a,
.demo ul.ui-menu li span
{
    color: black;
    padding: 4px 2px 4px 8px;
    border:1px solid #648ABD;
    border-bottom: 0;
    background: transparent url(Images/menu_arrow_right.gif) right center no-repeat;
}

.demo ul.ui-menu li.ui-menu-leaf a,
.demo ul.ui-menu li.ui-menu-leaf span
{
    background-image: none;
}

.demo ul.ui-menu li a img
{
    border-style: none;
    vertical-align: middle;
}

.demo ul.ui-menu li:hover, 
.demo ul.ui-menu li.ui-menu-hover
{
    background:#7795BD;
}

.demo ul.ui-menu li:hover a, 
.demo ul.ui-menu li:hover span, 
.demo ul.ui-menu li.ui-menu-hover a,
.demo ul.ui-menu li.ui-menu-hover span,
.demo ul.ui-menu li:hover li:hover a, 
.demo ul.ui-menu li:hover li:hover span, 
.demo ul.ui-menu li.ui-menu-hover li.ui-menu-hover a,
.demo ul.ui-menu li.ui-menu-hover li.ui-menu-hover span,
.demo ul.ui-menu li:hover li:hover ul a:hover, 
.demo ul.ui-menu li:hover li:hover ul span.ui-menu-hover, 
.demo ul.ui-menu li.ui-menu-hover li.ui-menu-hover ul a:hover,
.demo ul.ui-menu li.ui-menu-hover li.ui-menu-hover ul span.ui-menu-hover
{
    color: White;
}

.demo ul.ui-menu li:hover ul a, 
.demo ul.ui-menu li:hover ul span, 
.demo ul.ui-menu li.ui-menu-hover ul a,
.demo ul.ui-menu li.ui-menu-hover ul span,
.demo ul.ui-menu li:hover li:hover ul a, 
.demo ul.ui-menu li:hover li:hover ul span, 
.demo ul.ui-menu li.ui-menu-hover li.ui-menu-hover ul a,
.demo ul.ui-menu li.ui-menu-hover li.ui-menu-hover ul span
{
    color: Black;
}

.demo ul.ui-menu li a:hover,
.demo ul.ui-menu li span.ui-menu-hover
{
    color: White;
    background: transparent url(Images/menu_arrow_right_active.gif) right center no-repeat;
}

.demo ul.ui-menu li.ui-menu-leaf a:hover
{
    background-image: none;
}

/* menu:horizontal */

.demo .ui-menu-horizontal
{
    position:absolute;
    left: 9.5em;
    top: 0;
    z-index: 300;
}

.demo .ui-menu-horizontal ul.ui-menu
{
    width: 54em;
}

.demo .ui-menu-horizontal ul.ui-menu ul
{
    width: 10.5em;
    left: 0;
    top: 100%;
}

.demo .ui-menu-horizontal ul.ui-menu ul ul
{
    top: -0.3em;
}

.demo .ui-menu-horizontal ul.ui-menu ul ul
{
    width: 11.5em;
}

.demo .ui-menu-horizontal ul.ui-menu li
{
    width: 9em;
    text-align:center;
}

.demo .ui-menu-horizontal ul.ui-menu ul li
{
    text-align:left;
    width: 10.5em;
}

.demo .ui-menu-horizontal ul.ui-menu ul ul li
{
    width: 11.5em;
}

.demo .ui-menu-horizontal ul.ui-menu li ul li ul
{
    margin: -1.4em 0 0 10.35em;
}

/* collapse menu */

.ui-collapse-panel-head
{
    width:100%;
    height:30px;
    background-image: url(Images/collapse_panel_bg_head.png);
    background-repeat:repeat-x;
    color:#FFF;
    font-weight:bold;
}
.ui-collapse-panel-titlebar
{
    height: 30px;
}
.ui-collapse-panel-titlebar
{
    padding:5px; cursor: pointer; vertical-align: middle;
}
.ui-collapse-panel-title
{
    float: left;
}
.ui-collapse-panel-action
{
    float: left; margin-left: 20px;
}
.ui-collapse-panel-button
{
    float: right; vertical-align: middle;
}
.ui-collapse-panel-body
{
    background-color:white;
    overflow:hidden;
}