<% html_options = Hash.new %>
<% if live_auction.nil? || editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if editable == true %>
    <% select_disabled = 'disabled="true"'%>
<% else %>
    <% select_disabled = ''%>
<% end %>
<div id="LiveAuctionManager" class="management_float">
	<div>
		<div class="header">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'finish', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close Live Auction Manager', :id => 'LiveAuctionManagerCloseButton' } %></div>
			Add/Manage Live Auction Locations
		</div>
		<%= form_mode_tag :url => { :action => 'open', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :float => { :complete => true } %>
		<div class="body">
			<div>
                <% if editable %>
                    <span>Add</span>
                <% else %>
                    <%= link_to_mode "Add", { :url => { :action => 'add', :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :title => 'Add a new live auction location', :id => 'LiveAuctionManagerAddButton' }, { :complete => true } %>
                <% end %>
			</div>
			<label for="LiveAuctionManagerLocations">Select a Live Auction:</label>
			<select id="LiveAuctionManagerLocations" name="live_auction_id" <%= select_disabled %> onchange="if (this.form.onsubmit) { this.form.onsubmit(); } else { this.form.submit(); }">
                <% if live_auction.nil? %>
                <option value="0" selected="selected">Select...</option>
                <%= options_from_collection_for_select(live_auctions, 'id', 'name', nil) %>
                <% else %>
                <option value="0">Select...</option>
                <%= options_from_collection_for_select(live_auctions, 'id', 'name', live_auction.id) %>
                <% end %>
			</select>
		</div>
		<%= end_form_tag %>
		<% if flash.now[:notice].nil? || flash.now[:notice].empty? %>
		<div id="LiveAuctionManagerErrors" style="display:none;"></div>
		<% else %>
		<div id="LiveAuctionManagerErrors">
            <% if flash.now[:notice] === Array -%>
                <ul><% flash.now[:notice].each do |notice| -%><li><%= notice -%></li><% end -%></ul>
            <% else %>
                <%= flash.now[:notice] -%>
            <% end %>
		</div>
		<% end %>
		<div id="LiveAuctionManagerLocation" class="body">
            <% if !live_auction.nil? && !editable %>
			<div id="LiveAuctionManagerLocationButtons">
				<div class="float">
    				<%= link_to_mode 'Edit', { :url => { :action => 'edit', :live_auction_id => live_auction.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :id => 'LiveAuctionManagerEditButton', :title => "Edit #{live_auction.name}" }, { :complete => true } %>
    				<%= link_to_mode 'Delete', { :url => { :action => 'delete', :live_auction_id => live_auction.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => "Are you sure you want to delete #{live_auction.name}" }, { :id => 'LiveAuctionManagerDeleteButton', :title => "Delete #{live_auction.name}" }, { :complete => true } %>
    			</div>
			</div>
			<% end %>
			<%= form_mode_tag :url => { :action => 'save' }, :float => { :complete => true }, :html => { :id => 'LiveAuctionForm', :name => 'LiveAuctionForm' } %>
			<% unless planning_action_id.nil? %>
			<%= hidden_field_tag 'planning_action_id', planning_action_id %>
			<% end %>
			<% unless inventory_id.nil? %>
			<%= hidden_field_tag 'inventory_id', inventory_id %>
			<% end %>
			<% if !live_auction.nil? && !live_auction.id.nil? %>
			<%= hidden_field 'live_auction', 'id', html_options.update(:object => live_auction) %>
			<% end %>
			<fieldset>
				<legend>Live Auction Location Details</legend>
				<dl>
					<dt>
						<label for="live_auction_name">Name</label>:
					</dt>
					<dd>
						<%= text_field 'live_auction', 'name', html_options.update(:object => live_auction) %>
					</dd>
					<dt>
						<label for="live_auction_city">City</label>:
					</dt>
					<dd>
						<%= text_field 'live_auction', 'city', html_options.update(:object => live_auction) %>
					</dd>
					<dt>
						<label for="live_auction_state">State</label>:
					</dt>
					<dd>
						<%= text_field 'live_auction', 'state', html_options.update(:object => live_auction) %>
					</dd>
				</dl>
			</fieldset>
			<% if !live_auction.nil? && editable %>
			<div id="LiveAuctionManagerLocationButtons" class="footer">
				<div><a href="#" onclick="if (document.LiveAuctionForm.onsubmit) { document.LiveAuctionForm.onsubmit(); } else { document.LiveAuctionForm.submit(); }" title="Save changes to <%= live_auction.name %>">Save</a></div>
				<div><%= link_to_mode 'Cancel', { :url => { :action => 'cancel', :live_auction_id => live_auction.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?' }, { :id => 'LiveAuctionManagerDeleteButton', :title => "Cancel changes to #{live_auction.name}" }, { :complete => true } %></div>
			</div>
			<% end %>
			<%= end_form_tag %>
		</div>
	</div>
</div>