<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory].compact) %>
<% call = remote_function(:url => { :controller => '/management/live_auction', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory) }, :update => id) %>
<ul id="<%= id %>" class="wholesale_live_auction_values" hal:refresh="<%= call %>">
    <% live_auctions.each do |live_auction| -%>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, live_auction].compact) %>
        <li><input type="<%= input_type %>" name="live_auction[id][]" <% if selections.detect{|s| s == live_auction.id} %>checked="true"<% end %> value="<%= live_auction.id %>" id="<%= id %>"><label for="<%= id %>"><%= [live_auction.name, live_auction.city, live_auction.state].compact * '_' %></label></li>
    <% end -%>
</ul>