<div class="booklet_includes">
    <% if appraisal_review_booklet_summary.include_appraisal_review_summary? || appraisal_review_booklet_summary.include_appraisal_review_detail? %>
    <p><%= appraisal_review_booklet_summary.number_of_appraisal_reviews %> Second <%= appraisal_review_booklet_summary.number_of_appraisal_reviews == 1 ? "Look" : "Looks" %> (<%= [(appraisal_review_booklet_summary.include_appraisal_review_summary? ? 'Summary' : nil), (appraisal_review_booklet_summary.include_appraisal_review_detail? ? 'Detail' : nil)].compact.join(', ') %>)</p>
    <% end %>
    <% if appraisal_review_booklet_summary.include_appraisal_review_high_mileage_summary? || appraisal_review_booklet_summary.include_appraisal_review_high_mileage_detail? %>
    <p><%= appraisal_review_booklet_summary.number_of_appraisal_reviews_with_high_mileage %> High Mileage Second <%= appraisal_review_booklet_summary.number_of_appraisal_reviews_with_high_mileage == 1 ? "Look" : "Looks" %> (<%= [(appraisal_review_booklet_summary.include_appraisal_review_high_mileage_summary? ? 'Summary' : nil), (appraisal_review_booklet_summary.include_appraisal_review_high_mileage_detail? ? 'Detail' : nil)].compact.join(', ') %>)</p>
    <% end %>
    <% if appraisal_review_booklet_summary.include_appraisal_review_follow_up_summary? || appraisal_review_booklet_summary.include_appraisal_review_follow_up_detail? %>
    <p><%= appraisal_review_booklet_summary.number_of_appraisal_review_follow_ups %> Follow-<%= appraisal_review_booklet_summary.number_of_appraisal_review_follow_ups == 1 ? "Up" : "Ups" %> (<%= [(appraisal_review_booklet_summary.include_appraisal_review_follow_up_summary? ? 'Summary' : nil), (appraisal_review_booklet_summary.include_appraisal_review_follow_up_detail? ? 'Detail' : nil)].compact.join(', ') %>)</p>
    <% end %>
    <% if appraisal_review_booklet_summary.include_appraisal_summary? %>
    <p><%= appraisal_review_booklet_summary.number_of_appraisal_summaries %> Appraisal<%= appraisal_review_booklet_summary.number_of_appraisal_summaries == 1 ? "" : "s" %></p>
    <% end %>
    <% if appraisal_review_booklet_summary.include_appraisal_summary_high_mileage? %>
    <p><%= appraisal_review_booklet_summary.number_of_appraisal_summaries_with_high_mileage %> High Mileage Appraisal<%= appraisal_review_booklet_summary.number_of_appraisal_summaries_with_high_mileage == 1 ? "" : "s" %></p>
    <% end %>
</div>
