<div id="appraisal_review_booklet_preference_header" class="header">
    <div class="float">
        <a href="#" id="appraisal_review_booklet_preference_cancel">Close [X]</a>
    </div>
    Options
</div>
<div class="body" style="clear: right;">
    <div>
        <h3>Print Period</h3>
        <p>Choose between 1 and 30 days of Appraisals for your workbook by moving the slider.</p>
        <div id="slider"><div id="track"><div id="handle"></div></div></div>
        <ul style="width: 285px; padding: 5px; margin-top: 15px; background-color: #a0b5d0;">
            <li><strong id="days-back"><%= appraisal_review_preference.days_back %></strong> Days</li>
            <li><strong id="number-of-potential-deals"><%= appraisal_reviews_count %></strong> Make-A-Deals</li>
            <li><strong id="number-of-appraisals"><%= appraisals_count %></strong> Vehicles Appraised</li>
        </ul>
    </div>
    <hr style="margin-top: 10px; margin-bottom: 5px;"/>
    <%= form_remote_tag :url => { :controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet_request' }, :html => { :id => 'appraisal_review_booklet_request_form' } %>
    <fieldset id="appraisal_review_booklet_preference_fieldset" class="appraisal_review_booklet_preference_fieldset" style="padding: 8px;">
        <legend>Print Items</legend>
        <p class="print_option_instruction"><small id="print_item_notes">One or more of the following items must be selected.</small></p>
        <h3>Second Look</h3>
        <p class="print_option"><input id="include_appraisal_review_summary" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_review_summary]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_review_summary? %>checked="checked"<% end %> /><label for="include_appraisal_review_summary">Include Summary Pages</label><input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_review_summary]" value="0" /></p>
        <p class="print_option"><input id="include_appraisal_review_detail" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_review_detail]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_review_detail? %>checked="checked"<% end %> /><label for="include_appraisal_review_detail">Include Detail Pages</label><input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_review_detail]" value="0" /></p>
        <% if appraisal_review_preference.high_mileage_enabled %>
        <h3>Second Look (High Mileage)</h3>
        <p class="print_option"><input id="include_appraisal_review_high_mileage_summary" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_review_high_mileage_summary]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_review_summary? %>checked="checked"<% end %> /><label for="include_appraisal_review_high_mileage_summary">Include Summary Pages</label></p>
        <p class="print_option"><input id="include_appraisal_review_high_mileage_detail" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_review_high_mileage_detail]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_review_detail? %>checked="checked"<% end %> /><label for="include_appraisal_review_high_mileage_detail">Include Detail Pages</label></p>
        <% end %>
        <input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_review_high_mileage_summary]" value="0" />
        <input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_review_high_mileage_detail]" value="0" />
        <h3>Follow-Up</h3>
        <p class="print_option"><input id="include_appraisal_review_follow_up_summary" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_review_follow_up_summary]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_review_follow_up_summary? %>checked="checked"<% end %> /><label for="include_appraisal_review_follow_up_summary">Include Summary Pages</label><input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_review_follow_up_summary]" value="0" /></p>
        <p class="print_option"><input id="include_appraisal_review_follow_up_detail" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_review_follow_up_detail]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_review_follow_up_detail? %>checked="checked"<% end %> /><label for="include_appraisal_review_follow_up_detail">Include Detail Pages</label><input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_review_follow_up_detail]" value="0" /></p>
        <h3>Trade Manager Appraisals</h3>
        <p class="print_option"><input id="include_appraisal_summary" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_summary]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_summary? %>checked="checked"<% end %> /><label for="include_appraisal_summary">Include Trade Manager Appraisals</label></p>
        <% if appraisal_review_preference.high_mileage_enabled %>
        <p class="print_option"><input id="include_appraisal_summary_high_mileage" type="checkbox" name="appraisal_review_booklet_summary[include_appraisal_summary_high_mileage]" value="1" <% if appraisal_review_booklet_preference.include_appraisal_summary_high_mileage? %>checked="checked"<% end %> /><label for="include_appraisal_summary_high_mileage">Include High Mileage Trade Manager Appraisals</label></p>
        <% end %>
        <input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_summary_high_mileage]" value="0" />
        <input type="hidden" name="appraisal_review_booklet_summary[include_appraisal_summary]" value="0" />
        <!-- fields for the slider // start -->
        <input id="appraisal_review_booklet_summary_days_back" type="hidden" name="appraisal_review_booklet_summary[days_back]" value="<%= appraisal_review_preference.days_back %>" />
        <input id="slider_days_back" type="hidden" name="slider[days_back]" value="<%= appraisal_reviews_slider_values.collect{|v| v['days_back']}.join(',') %>" />
        <input id="slider_number_of_appraisal_reviews" type="hidden" name="slider[number_of_appraisal_reviews]" value="<%= appraisal_reviews_slider_values.collect{|v| v['number_of_appraisal_reviews']}.join(',') %>" />
        <input id="slider_number_of_appraisals" type="hidden" name="slider[number_of_appraisals]" value="<%= appraisal_reviews_slider_values.collect{|v| v['number_of_appraisals']}.join(',') %>" />
        <!-- fields for the slider // end -->
        <p class="print_option_instruction"><small id="notification_notes">Enter email addresses if notification is desired.</small></p>
		<p class="print_option_instruction"><small id="email_address_notes">Separate email addresses with a comma.</small></p>
        <p><input id="email_notification" type="checkbox" name="appraisal_review_booklet_summary[email_notification]" value="1" <% if appraisal_review_booklet_preference.email_notification? %>checked="checked"<% end %> /><label for="email_notification">Email me</label> <label for="email_address">at</label> <input type="text" id="email_address" name="appraisal_review_booklet_summary[email_address]" value="<%= appraisal_review_booklet_preference.email_address %>" maxlength="255" style="10em;" /><input type="hidden" name="appraisal_review_booklet_summary[email_notification]" value="0" /></p>
        <p><span id="booklet_preferences_submit_enabled"><a id="booklet_preferences_submit" href="#" onclick="new Ajax.Request('/appraisal_review_booklet/appraisal_review_booklet_preference', {asynchronous:true, evalScripts:true, parameters:Form.serialize($('appraisal_review_booklet_request_form')), onComplete: function(request) {$('booklet_preference_saved').innerHTML = request.responseText; $('booklet_preference_saved').show();}}); return false;">Always use these values</a><span id="booklet_preference_saved" style="display: none; margin-left: 5px; margin-right: 5px;">&nbsp;</span></span><span id="booklet_preferences_submit_disabled" style="display: none;">Always use these values</span></p>
        <p class="action"><input type="submit" name="submit" value="Create Workbook Now" id="appraisal_review_booklet_preference_submit" /></p>
    </fieldset>
    <%= end_form_tag %>
    <hr style="margin-top: 10px; margin-bottom: 5px;" />
    <p style="margin-left: 8px; padding: 2px;"><%= link_to_function "Schedule workbooks for automatic creation", "$('appraisal_review_booklet_schedule_fieldset').toggle();" %><span id="booklet_schedule_saved" style="display: none; margin-left: 5px; margin-right: 5px;">&nbsp;</span></p>
    <%= form_remote_tag :url => { :controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet_schedule' }, :success => "$('booklet_schedule_saved').innerHTML = request.responseText; $('booklet_schedule_saved').show(); $('appraisal_review_booklet_schedule_fieldset').hide();", :failure => "$('booklet_schedule_saved').innerHTML = request.responseText;  $('booklet_schedule_saved').show();" %>
    <fieldset id="appraisal_review_booklet_schedule_fieldset" class="appraisal_review_booklet_schedule_fieldset" style="padding: 8px; display: none;">
        <legend>My Schedule</legend>
        <p><input id="has_sunday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_sunday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_sunday_enabled %>checked="checked"<% end %> /><label for="has_sunday_enabled">Sunday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_sunday_enabled]" value="0" /></p>
        <p><input id="has_monday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_monday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_monday_enabled %>checked="checked"<% end %> /><label for="has_monday_enabled">Monday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_monday_enabled]" value="0" /></p>
        <p><input id="has_tuesday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_tuesday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_tuesday_enabled %>checked="checked"<% end %> /><label for="has_tuesday_enabled">Tuesday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_tuesday_enabled]" value="0" /></p>
        <p><input id="has_wednesday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_wednesday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_wednesday_enabled %>checked="checked"<% end %> /><label for="has_wednesday_enabled">Wednesday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_wednesday_enabled]" value="0" /></p>
        <p><input id="has_thursday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_thursday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_thursday_enabled %>checked="checked"<% end %> /><label for="has_thursday_enabled">Thursday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_thursday_enabled]" value="0" /></p>
        <p><input id="has_friday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_friday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_friday_enabled %>checked="checked"<% end %> /><label for="has_friday_enabled">Friday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_friday_enabled]" value="0" /></p>
        <p><input id="has_saturday_enabled" type="checkbox" name="appraisal_review_booklet_schedule[has_saturday_enabled]" value="1" <% if appraisal_review_booklet_schedule.has_saturday_enabled %>checked="checked"<% end %> /><label for="has_saturday_enabled">Saturday</label><input type="hidden" name="appraisal_review_booklet_schedule[has_saturday_enabled]" value="0" /></p>
        <p style="position: relative; left: 100px; bottom: 60px;"><label for="hour_of_day" style="margin-left: 5px; margin-right: 5px;">at</label><input id="hour_of_day" type="text" name="appraisal_review_booklet_schedule[hour_of_day]" value="<%= appraisal_review_booklet_schedule.hour_of_day %>" size="2" maxlength="2" style="width: 1.5em;" /> h <small>(00h to 23h)</small></p>
        <p class="action"><input type="submit" name="submit" value="Save Schedule" /></p>
    </fieldset>
    <%= end_form_tag %>
</div>
