<% future_task = appraisal_review_booklet_summary.future_task %>
<% container_id = "appraisal_review_booklet_summary_#{appraisal_review_booklet_summary.id}" %>
<div class="appraisal_review_booklet_summary" id="<%= container_id %>">
    <div class="bucket-top">
        <div class="bucket-bottom clearfix">
            <% if future_task.future_task_status_id == 1 %><!-- submitted -->
            <div class="booklet_link">
                <p>&nbsp;</p>
            </div>
            <div class="booklet_attributes">
                <p class="date_time"><%= appraisal_review_booklet_summary.future_task.created.strftime('%m/%d/%Y %H:%M:%S') %> CST</p>
                <p class="status">Submitted</p>
            </div>
            <%= render :partial => 'appraisal_review_booklet_summary_includes', :object => nil, :locals => {:appraisal_review_booklet_summary => appraisal_review_booklet_summary} %>
            <% end %>
            <% if future_task.future_task_status_id == 2 %><!-- accepted -->
            <div class="booklet_link">
                <p>&nbsp;</p>
            </div>
            <div class="booklet_attributes">
                <p class="date_time"><%= appraisal_review_booklet_summary.future_task.created.strftime('%m/%d/%Y %H:%M:%S') %> CST</p>
                <p class="status">Accepted</p>
            </div>
            <%= render :partial => 'appraisal_review_booklet_summary_includes', :object => nil, :locals => {:appraisal_review_booklet_summary => appraisal_review_booklet_summary} %>
            <% end %>
            <% if future_task.future_task_status_id == 3 %><!-- processing -->
            <div class="booklet_link">
                <p>&nbsp;</p>
            </div>
            <div class="booklet_attributes">
                <p class="date_time"><%= appraisal_review_booklet_summary.future_task.created.strftime('%m/%d/%Y %H:%M:%S') %> CST</p>
                <p class="status">Processing as of: <%= future_task.commenced.strftime('%m/%d/%Y %H:%M:%S') %> CST</p>
                <p class="progress">Progress: <%= future_task.units_of_work_completed %> of <%= future_task.units_of_work %></p>
            </div>
            <%= render :partial => 'appraisal_review_booklet_summary_includes', :object => nil, :locals => {:appraisal_review_booklet_summary => appraisal_review_booklet_summary} %>
            <% end %>
            <% if future_task.future_task_status_id == 4 %><!-- error -->
            <div class="booklet_link">
                <p>&nbsp;</p>
            </div>
            <div class="booklet_attributes">
                <p class="date_time"><%= appraisal_review_booklet_summary.future_task.created.strftime('%m/%d/%Y %H:%M:%S') %> CST</p>
                <p class="status"><em>Error!</em></p>
                <p class="progress">Progress: <%= future_task.units_of_work_completed %> of <%= future_task.units_of_work %></p>
            </div>
            <%= render :partial => 'appraisal_review_booklet_summary_includes', :object => nil, :locals => {:appraisal_review_booklet_summary => appraisal_review_booklet_summary} %>
            <% end %>
            <% if future_task.future_task_status_id == 5 %><!-- completed -->
            <div class="booklet_link">
                <p><%= link_to "Download PDF", {:controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet', :id => appraisal_review_booklet_summary.appraisal_review_booklet_id}, :popup => true %></p>
            </div>
            <div class="booklet_attributes">
                <p class="date_time"><%= appraisal_review_booklet_summary.future_task.created.strftime('%m/%d/%Y %H:%M:%S') %> CST</p>
                <p class="number_of_pages">Number of Pages: <%= appraisal_review_booklet_summary.number_of_pages %></p>
                <p class="size">Size: <%= appraisal_review_booklet_summary.size_of_booklet.nil? ? "???" : appraisal_review_booklet_summary.size_of_booklet/1024 %> KB</p>
            </div>
            <%= render :partial => 'appraisal_review_booklet_summary_includes', :object => nil, :locals => {:appraisal_review_booklet_summary => appraisal_review_booklet_summary} %>
            <% end %>
        </div>
    </div>
</div>
<% unless [4,5].include?(future_task.future_task_status_id) %>
<script type="text/javascript">
new PeriodicalExecuter(function(pe) {
    <%= remote_function :url => { :action => 'appraisal_review_booklet_summary', 'appraisal_review_booklet_summary_id[]' => appraisal_review_booklet_summary.id }, :success => "var my_pe = pe; try { my_pe.stop(); $('#{container_id}').replace(request.responseText); } catch (e) {alert(e);}" %>
}, 5);
</script>
<% end %>