<div class="potential-deals-summary-table clearfix">
    <div class="grouphead clearfix">
        <h3><%= Time.new.months_ago(months_ago).strftime('%m-%Y') %> has <%= number_of_appraisal_review_booklet_summaries %> <%= number_of_appraisal_review_booklet_summaries == 1 ? "Workbook" : "Workbooks" %></h3>
    </div>
    <div id="<%= months_ago %>_months_ago">
        <%= appraisal_review_booklet_summaries %>
    </div>
    <br style="clear:both;" />
</div>