<script type="text/javascript">
// Google Analytics.
document.title = "Make-A-Deal Workbooks";
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<%= GOOGLE_ACCOUNT%>', 'auto');
ga('send', 'pageview');

</script>

<div id="appraisal_reviews">
    <div id="pagehead" class="clearfix">
        <div id="header-left">
            <h1>Make-A-Deal Workbook</h1>
            <h2>Choose a workbook created within the last 3 months</h2>
            <div id="appraisal_review_follow_up_list_summary">
                <h3 class="followup">
                <% if @number_of_appraisal_review_booklet_summaries == 0 %>
                There are <span id="number-of-booklet-summaries">no</span> Workbooks generated within the last three months.
                <% else %>
                <% 
                    wasIs = "were"
                    plural = "s"
                    if @number_of_appraisal_review_booklet_summaries == 1
                        wasIs = "was"
                        plural = ""
                    end
                %>
                There <%= wasIs %> <span id="number-of-booklet-summaries"><%= @number_of_appraisal_review_booklet_summaries %></span> Workbook<%=plural%> generated within the last three months.
                <% end %>
                </h3>
            </div>
        </div>
		
		
        <div id="header-right" style="position:relative;">
            <p class="dealername"><%= @session[:business_unit].name %></p>
            <p class="sidelinks">
                <%= link_to('Make-A-Deal Summary', url_for(:controller => 'appraisal_review')) %> 
                <span style="font-size:10px;font-weight:normal;color:#999;">|</span>
                <%= link_to_remote('Create Meeting Workbook', :url => { :controller => 'appraisal_review_booklet', :action => 'appraisal_review_booklet_form' }, :complete => "AppraisalReviewBookletFormDHTML(request,280,10,'pagehead')") %>
            </p>
        </div>
    </div>
    <div id="potential-deals">
        <% @proxy_component_collections.each do |proxy_component_collection| %>
            <%= render_proxy_component_collection(:proxy_component_collection => proxy_component_collection, :proxy => (params[:proxy].nil? || params[:proxy] == 'true'), :include_empty => true) %>
        <% end %>
    </div>
</div>