<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:hh="http://www.firstlook.biz/schema/interaction" xml:lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>FirstLook | Home</title>
<link rel="shortcut icon" href="/images/fl.ico" />
<%= javascript_include_tag "prototype", "application", "slider" %>
<%= stylesheet_link_tag "/fl30/stylesheets/global.css", "search", @page_style || "", :media => "all" %>
<!--[if lte IE 6]>
<%= stylesheet_link_tag "global-ie6", "home-ie6", :media => "all" %>
<![endif]-->
<%= stylesheet_link_tag "printstyles", :media => "print" %>
<%= javascript_include_tag "/fl30/javascripts/jquery-1.7.1.min.js" ,"/fl30/javascripts/home_browser_check.js" ,"/fl30/javascripts/home_charting.js" ,"/fl30/javascripts/home_max_doe.js" ,"/fl30/javascripts/home_appraise_graph.js" ,"/fl30/javascripts/home_current_inventory_graph2.js" ,"/fl30/javascripts/home_core_inventory_graph.js" ,"/fl30/javascripts/home_main.js", "/fl30/javascripts/modernizr.js" %>
<%= javascript_include_tag '/fl30/javascripts/kendo.js' %>
<%= javascript_include_tag 'redbox' %>
<%= javascript_include_tag 'effects' %>
<%= stylesheet_link_tag 'redbox' %>
<script src="/hedgehog/hedgehog-bootstrap.js" type="text/javascript"></script>
<script src="/hedgehog/hedgehog.js" type="text/javascript"></script>
<script src="/hedgehog/hedgehog-enhance-attribute.js" type="text/javascript"></script>

<script type="text/javascript">
// Google Analytics.

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<%= GOOGLE_ACCOUNT%>', 'auto');
ga('send', 'pageview');

</script>
</head>
<body>
<div id="container">
<form id="hedgehog_data" action="#" onsubmit="return false;">
  <fieldset>
    <input type="hidden" id="system_identifier" name="system_identifier" value="<%= session[:member].id %>" />
  </fieldset>
</form>
<div id="header">

    <div id="logo30" class="block">
        <div class="block"><img alt="FirstLook" src="../fl30/images/homepage_fllogo.png"></div>
        <div id="version" class="block"></div>
    </div>

  <div id="busy" style="display:none;">
    <%= image_tag "activity/progressbar_microsoft.gif" %>
  </div>
  <%= render_component :controller => "common", :action => "topstatus" %>
</div>
<div id="wrapper">
  <div style="text-align: center;">
    <% if @flash[:notice] -%>
      <div id="notice">
        <% if @flash[:notice] === Array %>
          <ul>
          <% @flash[:notice].each do |notice| -%>
            <li><%= notice -%></li>
          <% end -%>
          </ul>
        <% else %>
            <%= @flash[:notice] -%>
        <% end %>
      </div>
    <% else -%>
      <div id="notice" style="display:none"></div>
    <% end -%>
  </div>
<%= @content_for_layout %>
</div>
<div id="footer">
  <%= render_component :controller => "common", :action => "bottomstatus" %>
  <%= render_component :controller => "common", :action => "logo" %>  
</div>
    <%= render_component :controller => "common", :action => "topnav" %>
</div>
</body>
</html>
