<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:hh="http://www.firstlook.biz/schema/interaction" xml:lang="en">
<head>
<title>MAX: <%= @page_title || "Home" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="/images/fl.ico" />
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "popup" %>
<%= javascript_include_tag "sorttable" %>
<%= javascript_include_tag "slider" %>
<%= javascript_include_tag 'redbox' %>
<%= javascript_include_tag 'elementswap' %>
<%= javascript_include_tag 'calendar' %>
<%= javascript_include_tag 'calendar-en' %>
<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag 'sarissa' %>
<%= stylesheet_link_tag "global", "search", @page_style || "", :media => "all" %>
<!--[if lte IE 6]>
<%= stylesheet_link_tag "global-ie6", @page_style + "-ie6" || "", :media => "all" %>
<![endif]-->
<%= stylesheet_link_tag "printstyles", :media => "print" %>
<%= stylesheet_link_tag 'redbox' %>
<%= stylesheet_link_tag 'calendar' %>
<script src="/hedgehog/hedgehog-bootstrap.js" type="text/javascript"></script>
<script src="/hedgehog/hedgehog.js" type="text/javascript"></script>
<script src="/hedgehog/hedgehog-enhance-attribute.js" type="text/javascript"></script>
</head>
<body>
<div id="container">
<form id="hedgehog_data" action="#" onsubmit="return false;">
	<fieldset>
		<input type="hidden" id="system_identifier" name="system_identifier" value="<%= session[:member].id %>" />
	</fieldset>
</form>
<div id="header">

  <div id="busy" style="display:none;">
    <%= image_tag "activity/progressbar_microsoft.gif" %>
  </div>
  <%= render_component :controller => "common", :action => "topstatus" %>
</div>
<div id="wrapper">
  <div style="text-align: center;">
    <% if @flash[:notice] -%>
      <div id="notice">
        <% if @flash[:notice] === Array %>
          <ul>
          <% @flash[:notice].each do |notice| -%>
            <li><%= notice -%></li>
          <% end -%>
          </ul>
        <% else %>
            <%= @flash[:notice] -%>
        <% end %>
      </div>
    <% else -%>
      <div id="notice" style="display:none"></div>
    <% end -%>
  </div>
<%= @content_for_layout %>
</div>
<div id="footer">
  <%= render_component :controller => "common", :action => "bottomstatus" %>
  <%= render_component :controller => "common", :action => "logo" %>  
</div>
    <%= render_component :controller => "common", :action => "topnav" %>
</div>
</body>
</html>
