<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>MAX: <%= @page_title || "Home" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="/images/fl.ico" />
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "global", "search", @page_style || "", :media => "all" %>
</head>
<body>
<div id="container">
<div id="header">

  <div id="busy" style="display:none;">
    <%= image_tag "activity/progressbar_microsoft.gif" %>
  </div>
  <% unless session[:remote_entry] %>
  <%= render_component :controller => "common", :action => "topstatus" %>
  <% end %>
</div>
<div id="wrapper">
  <div style="text-align: center;">
    <% if @flash[:notice] -%>
      <div id="notice">
        <% if @flash[:notice] === Array %>
          <ul>
          <% @flash[:notice].each do |notice| -%>
            <li><%= notice -%></li>
          <% end -%>
          </ul>
        <% else %>
            <%= @flash[:notice] -%>
        <% end %>
      </div>
    <% else -%>
      <div id="notice" style="display:none"></div>
    <% end -%>
  </div>
<%= @content_for_layout %>
</div>
<div id="footer">
  <%= render_component :controller => "common", :action => "bottomstatus" %>
  <%= render_component :controller => "common", :action => "logo" %>  
</div>
  <%= render_component :controller => "common", :action => "topnavlogin" %>
</div>
</body>
</html>
