<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>MAX: <%= @page_title || "First Look" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="/images/fl.ico" />
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "popup" %>
<%= javascript_include_tag "sorttable" %>
<%= javascript_include_tag "slider" %>
<%= javascript_include_tag 'redbox' %>
<%= javascript_include_tag 'elementswap' %>
<%= stylesheet_link_tag "global",@page_style || "", :media => "all" %>

</head>
<body>
<div id="container">
<div id="header">
  <%= render_component :controller => "common", :action => "topnav_popup" %>
 
</div>

<div id="wrapper">
  
<%= @content_for_layout %>
</div>

<div id="footer">
  <%= render_component :controller => "common", :action => "bottomstatus" %>
   
</div>
</div>
</body>
</html>
