<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>MAX: <%= @page_title %></title>
</head>
<body>
	<div id="print_template_content">
		<span class="dealer_name"><%= session[:business_unit].name %></span>
		<span class="copyright"><%= render :file => '/common/copyright_statement.rhtml' %></span>
		<span class="date"><%= Date.today.strftime('%m/%d/%Y') %></span>
	</div>
	<%= @content_for_layout %>
</body>
</html>

