<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>MAX: <%= @page_title || "Report" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="/images/fl.ico" />
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "sorttable" %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "global", @page_style || "", :media => "all" %>
<%= stylesheet_link_tag "printstyles", :media => "print" %>
<script src="/hedgehog/hedgehog-bootstrap.js" type="text/javascript"></script>
<script src="/hedgehog/hedgehog.js" type="text/javascript"></script>
<script src="/hedgehog/hedgehog-enhance-attribute.js" type="text/javascript"></script>
</head>
<body onload="window.focus()">
<div id="container">
  <form id="hedgehog_data" action="#" onsubmit="return false;">
    <fieldset>
      <input type="hidden" id="system_identifier" name="system_identifier" value="<%= session[:member].id %>" />
    </fieldset>
  </form>
  <div id="busy" style="display:none;">
    <%= image_tag "activity/progressbar_microsoft.gif" %>
  </div>
  <div id="notice" style="display:none">
    &nbsp;
  </div>
<div id="wrapper" style="padding-top:3px">
    <a name="pageTop">&nbsp;</a>
    <%= @content_for_layout %>
</div>

<div id="footer">
  <%= render_component :controller => "common", :action => "bottomstatus" %>
  <%= render_component :controller => "common", :action => "logo" %>  
</div>
</div>
</body>
</html>
