<%--
<c:set var="tempXPath" value="$parsedXML//resource_type[@swgcraft_id = '${resourceclass}']/description" />
[ XPath:<c:out value="${tempXPath}"/> ]
[ value of <c:out value="${resourceclass}"/>: 
<x:out select="${tempXPath}" escapeXml="false"/>]
--%>




<%--
	<c:if test="${id} =  ${resourceclass}">
		<br/><b>match:<c:out value="${id}"/></b>
	</c:if>
--%>


	<x:set var="id" select="$resourceType[@swgcraft_id]"/>
	<c:out value="${id}"/>
	
	
	
	
<x:forEach var="resourceType" select="$parsedXML//resource_type">
	<c:set var="id"><x:out select="@swgcraft_id"/></c:set>
	<c:if test="${id eq resourceclass}">
		<x:out select="$resourceType/description"/>
	</c:if>
</x:forEach>


<table>
	<tr>
		<th>ResourceType</th>
		<th>ID</th>
		<th>IsTrue</th>
	</tr>
<x:forEach var="resourceType" select="$parsedXML//resource_type">
	<tr>
	<c:set var="id"><x:out select="@swgcraft_id"/></c:set>
		<td>${id}</td>
		<td><x:out select="$resourceType/description"/></td>
	<c:choose>			
		<c:when test="${id eq resourceclass}">
		<td bgcolor="#99eeee"><b>Match</b></td>
		</c:when>
		<c:otherwise>
		<td> -- </td>
		</c:otherwise>
	</c:choose>
	</tr>
</x:forEach>
</table>
	
	
	
