#aip_nav {  
  padding: 10px;
}

#aip_container {
  padding-bottom: 15px;
}

#aip_current_page_title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px;
}

.aip_tabs_navlist {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 19px;
    padding-left: 10px;
}

.aip_tabs_navlist ul, .aip_tabs_navlist li
{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aip_tabs_navlist a:link, .aip_tabs_navlist a:visited
{
    background: #E8EBF0;
    border: 1px solid #ccc;
    color: #666;
    float: left;
    font-size: small;
    font-weight: normal;
    line-height: 14px;
    margin-right: 8px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}

.aip_tabs_navlist a:link#current, .aip_tabs_navlist a:visited#current
{
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #000;
}

.aip_tabs_navlist a:hover { color: #f00; }

.aip_tabs_navlist ul a:hover { color: #f00 !important; }

#aip_title {
  border-bottom: 1px solid black;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#aip_title #nickname {
  font-size: 12pt;
  font-weight: bold;
}

#aip_title #pagetitle {
  font-size: 16pt;
}

.fineprint {
  font-size: smaller;
}

#vehicles_container {
  width: 500px;
  float:left;
}

#vehicle_detail {
  float:right;
}

#vehicles_list {
  width: 500px;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}

#vehicles_list .vehicle_line_item {
  clear: both;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;
}

#vehicles_list .number {
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding-right: 5px;
}

#vehicles_list .detail_container {
    width: 450px;
    height: 60px;
    border: 1px solid #ccc;
    float: left;
}

#vehicles_list .detail_container .color {
    width: 10px;
    height: 100%;
    background: yellow;
    float:left;
}

#vehicles_list .detail_container .detail {
    width: 410px;
    height: 100%;
    padding-left: 10px;
    float:left;
}

#vehicles_list .detail .summary {
    font-size: 8pt;
    font-weight: bold;
    padding-bottom: 5px;
}

#vehicles_list .detail .property {
    font-size: 7pt;
    position: relative;
}

#vehicles_list .property .label {
    font-weight: bold;
    display: block;
    float: left;
    padding-right: 5px;
    text-align: right;
}

#vehicles_list #color.property {
    top: 0px;
    left: 0px;
}

#vehicles_list #mileage.property {
    top: 10px;
    left: 0px;
}

#vehicles_list #color.property .label, #vehicles_list #mileage.property .label {
    width: 40px;
}

#vehicles_list #type.property {
    top: -25px;
    left: 100px;
}

#vehicles_list #type.property .label {
    display: none;
}

#vehicles_list #type.property .value {
    font-weight: bold;
}

#vehicles_list #stock.property {
    top: -15px;
    left: 100px;
}

#vehicles_list #planned.property {
    top: -50px;
    left: 200px;
}

#vehicles_list #listprice.property {
    top: -48px;
    left: 200px;
}

#vehicles_list #unitcost.property {
    top: -60px;
    left: 280px;
}

#vehicles_list #bookvscost.property {
    top: -57px;
    left: 200px;
}

#vehicles_list .detail .plan_link {
    position: relative;
    top: -75px;
    left: 400px;
    font-weight: bold;
}