#container{
    width:533px;
}
#footer{
    height:20px;
}
#header{
    clear:both;
    height:30px;
}
div.tabs{
    border:0px;
    border-bottom:1px solid #cccccc;
    height:20px;
    
}
div.tabs ul{
    border:0px;
}
div.tabs li{
    border:0px;
    padding-left:0px;
    padding-right:0px;
    width:65px;
    float:left;
  
}

div.tabs li.active{
    padding:0px;
    width:63px;
}
div.tabs li.active a{
    padding-left:0px;
    padding-right:0px;
    margin-top:0px;
    border-top:1px solid #cccccc;
    padding-top:2px;
    padding-bottom:1px;
   
    width:63px;
    position:relative;
    bottom:-2px;
   
}
div.tabs a.tab_link{
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    color:#330066;
    font-weight:bold;
    width:65px;
    display:block;
    clear:none;
    float:left;
    text-align:center;
    margin-top:5px;
    font-size:12px;
    
}
div.tabs a.tab_link:hover{
    background-color:#ffffe1;
    text-decoration:none;
}
div.tab_content{
    border:1px solid #cccccc;
    border-top:0px;
    background-color:#fcfcfc;
    height:1%;
}
div.tab_content fieldset{
    margin-bottom:10px;
}
div.tab_content legend{
    font-size:13px;
}

table.preference_table td{
    padding:3px;
	font-size: 11px;
	line-height: 16px;
    border-bottom: 1px dashed #ccc;padding: 0 2px;
}
table.preference_table td.header{
    font-weight:bold;
}
table.preference_table td.make, td.book{
    width:150px;
}
table.preference_table td.select{
    width:115px;
}
dt,dd{
    font-size:.8em;
}
dt{
    float:left;
    width:200px;
    text-align:right;
    padding-right:5px;
}
dd{text-align:left;}
