
div.l { float: left; width: 10em; margin-left: 0.5em; }
div.i { float: left; }
div.c { clear: both; }

.off { display: none; }

#SearchResultContainer {
    float: right;
    width: 49%;
    margin: 0.01em;
    height:1%;
}
#CampaignRunVehicleListContainer {
    float:left;
    width: 49%;
    margin: 0.01em;
    height:1%;
    
}
#SearchCriterionContainer{
    float:right;
}
#campaign_run_details{

    float:left;
}


/* cut and paste inventory css (from planning) */

.add-to-list {float:right;margin-right:15px;margin-top:5px; }
* html .add-to-list { margin-right:5px; } /* positioning styles for IE */
.add-to-list a, 
.add-to-list a:hover, 
.add-to-list a:visited, 
.add-to-list a:active { display:block;width:95px;font-family: Verdana;text-decoration:none;font-size:9px;color:#999;line-height:9px;padding-right:15px; }
* html .add-to-list a, 
* html .add-to-list a:hover, 
* html .add-to-list a:visited, 
* html .add-to-list a:active { width:90px; } /* positioning styles for IE */

.inventory_item, .inventory_item_select { width:475px;margin-top:7px;margin-right:2px;background:transparent url(../images/planmid3.gif) top left repeat-y;padding:0px;border-bottom:1px solid #CCC; height:1%;}
.inventory_item_select { background:none;border:1px solid #CCC;cursor:pointer; }
.list-top { background: transparent url(../images/inventory_item_top.gif) top left no-repeat; }
.list-bot { background:none;/*transparent url(../images/planbot4.gif) bottom left no-repeat;*/ }
.vehicleinfo { border-top:1px solid #cad7e4; border-right:1px solid #cad7e4;padding:4px 0 4px 5px;height:1%; }
.vehicleinfo p {display:block;clear:none;}
.age { font-size:9px;color:#263047; }
.ymmts { font-weight:bold;font-size:11px;color:#656f87;letter-spacing:-1px;margin-left:3px; }
.colormile {  color:#263047;font-size:10px; }
.light { padding-left:15px;padding-right:15px; }
.risk { font-size:9px;padding-left:1px;margin-top:2px; }
.t-p { margin-left:5px;color:#666;font-size:9px; }
.inventory_item .pricing {height:19px;padding:0;margin:3px;float:right; clear:right; }
.priceref { display:block;color:#666;font-size:9px; }
.planning_action{font-size:10px;}
.inventory_left_corner{
     background: transparent url(../images/inventory_item_top_left.gif) top left no-repeat;
     width:7px;
     float:left;
}
.inventory_right_corner{
     background: transparent url(../images/inventory_item_top_right.gif) top right no-repeat;
     width:7px;
     float:right;
}
.inventory_item .top{
  background:url(../images/inventory_item_top.gif) top left repeat-x;
  height:1%;
}
.results_summary{

    font-size:.8em;
}
#campaign_run_details{
    font-size:.9em;
    margin-top:10px;
    width:475px;
}
#campaign_run_details .header{
    padding:3px;
    background-color:#cccccc;
}
#campaign_run_details .body{
    padding:5px;
    background-color:#f6f6f6;
    border:1px solid #cccccc;
    border-top:0px;
    font-size:.9em;
}
#campaign_run_details .notes_container{
    margin-top:40px;
   text-align:right;
}
#campaign_run_details .notes_container textarea{
    width:200px;
   
   
}
#campaign_run_details dt{
 width:75px;
 text-align:right;
 padding-right:3px;
}
#campaign_run_details dd{
    margin-bottom:3px;
}
.editAdText{display:none; font-size:.8em; float:right;}
#CampaignRunVehicleListContainer .editAdText{display:block;}

.inplaceeditor-form { margin:0;padding:0;display:inline; } 
.inplaceeditor-form input { margin:0;padding:0;width:50px;height:7px;font-size:9px; }
.inplaceeditor-form a { font-size:9px;text-decoration:none;padding-left:2px;padding-right:2px; }
div.vehicle_list{
    background-color:#fcfcfc;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding-left:1px;
   
    padding-top:8px;
    padding-bottom:1px;
}
div.vehicle_list_header{

    padding-top:1px;
    height:1%;
    background: transparent url('../images/searchheader.gif') repeat-x;
    font-size:11px;
    color:#666666;
    width:480px;
    border-bottom:1px solid #cccccc;
}
div.vehicle_list_header_right{
     padding:5px 8px 5px 5px;    
    float:right;
    background:transparent url('../images/searchheader_right.gif') no-repeat right;
    margin-top:-2px;
    padding-bottom:5px; 
    padding-top:5px;    

}
div.vehicle_list_header_left{
    float:left;
    background:transparent url('../images/searchheader_left.gif') no-repeat;
    padding:5px 5px 5px 8px;
    margin-top:-1px;
    padding-bottom:3px;
}

