td{padding:3px}
th{padding:0 3px}
.sortable{
font-family:verdana,arial,sans-serif;
font-size:10px;
}

table.sortable a.sortheader, table.sortable a.sortheader:hover {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

table.sortable a.sortheader:hover { text-decoration:underline; }

table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
.reportIntro {
text-align:center;
padding-bottom:20px;
}

.reportIntro h2 { font-weight:normal;font-size:13px;color:#4f7ba7;margin:0;padding:0; }
.reportIntro h1 { color:#3d4868;font-weight:bold;font-size:16px;margin:0;padding:0 0 3px 0; }

.reportIntro .statistic { font-size:11px;color:#006;margin:0;padding:3px 0 0 0; }

tr.even { background-color:#FFF; }
tr.odd { background-color:#cfd7e6; }

h2.secondHeader { font-weight:normal;font-size:13px;color:#4f7ba7;margin:0;padding:6px 0 6px 0;text-align:center; }