p { font-weight:normal;font-size:15px;line-height:20px;color:#4f7ba7;margin:5px 0 0 0;padding:2px 0; }
h1 { color:#3d4868;font-weight:bold;font-size:17px;margin:10px 0 0 0;padding:0 0 3px 0; }
#wrapper { background: #FFF url(../images/errorshadow.gif) repeat-x; padding:20px; }
#container { width:100%;margin:0px;}