* { 
    margin:0; padding:0; 
}
BODY { 
	font-family:Verdana, Arial, sans-serif;
	font-size:14px; 
	
}
a, a:link, a:hover, a:visited, a:active { 
	font-size:11px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color:#355fab;
	text-decoration:none;
	cursor: pointer; 
}
a:visited {
    color:#5470a2;
}
a:hover {
    text-decoration:underline;
}

a img {border: 0;}

/*********** STRUCTURE **************/

#header { 
	padding: 2px 3px 0px 3px;
	height: 20px; 
	border-bottom: 1px solid #CCC;
}
#left { 
    float:left;
	width:250px;
	padding:.6em;
	background:#fafafa url(../images/homepg_bkgrd.jpg) bottom left repeat-x; }
#right { 
    float:right;
	width:250px;
	padding:.6em;
	background:#fafafa url(../images/homepg_bkgrd.jpg) bottom left repeat-x;
	padding-bottom:227px; }
#center { 
    margin-right:250px;
	margin-left:250px;
	padding:.5em;
	background-color:#f3f3f3;
	padding-bottom:250px;
}
#footer { 
    clear:both;
	padding:.5em; 
	height: 55px;
	border-top: 1px solid #666;
	margin-top:0px;
}

#wrapper { background: #EEE url(../images/topshadow.gif) repeat-x; overflow:hidden; padding:15px; }
*html #wrapper{height:1%;}
html>body #wrapper { min-height:1%; }
#container { width:990px;margin:0 auto; position:relative;}

#topnav {
    float: left;
}

#topstatus {
    float: right;
}
*html #topstatus { margin-top:6px; }
html>body #topstaus { margin-top:0px; }

#bottomnav {
    float: left;
}

#bottomstatus {
    float: left;
}

#logo {
    float: right;
}

/************** LAYOUT **************/

#pagecontainer { margin-left:10px;margin-right:15px; }


#pagehead,
.pagehead { 
	margin-left:10px;
	margin-right:15px;
	margin-bottom:10px; 
	}
	#pagehead h2,
	.pagehead h2 { 
		font-weight:normal;
		font-size:16px;
		color:#4f7ba7;
		margin:0;
		padding:0; 
		}
	#pagehead h1,
	.pagehead h1 { 
		color:#3d4868;
		font-weight:bold;
		font-size:16px;
		margin:0;
		padding:0 0 3px 0; 
		}



.dealername { color:#5c687e;font-weight:bold; font-size:10px; }

#flags { margin-top:3px;margin-bottom:3px; }

p.vehicle-id { font-size:14px;color:#263047;font-weight:bold;line-height:17px; }
.secondary-id { font-size:11px;color:#666;font-weight:normal; }
h3,legend { color:#263047; font-size:10px; font-weight:bold;}
h4 { color:#263047; font-size:10px; font-weight:bold; }

p.supportstat, .supportstat, .supportstat a { font-size:9px;line-height:10px;color:#5f6c8b;margin:0;padding:0; }
p.supportstat strong { color:#45598b; }
.actionlinks { margin:5px 0 3px 0;font-size:9px;}

.stat { font-size:9px;color:#006;margin-top:3px;padding-top:6px;border-top: 1px dotted #999; }

.item-id {color:#333;}
.item-issue {color:#c00;padding-left:7px;padding-bottom:3px;background:url(../images/issuearrow.gif) 0 4px no-repeat;font-size:11px;line-height:11px;font-weight:bold;}

.sectiontitle, .sectiontitle-p, .sectiontitle-i { font-family:Verdana;font-size:11px;color:#aaa;letter-spacing:1px;padding:3px 0 3px 20px; }
.sectiontitle-p { padding:3px 0 0px 11px; }
.sectiontitle-i { padding:0 0 0 14px;float:left; }

fieldset{border:0px;}

/************* NAV ******************/
.navlist li
{
  font-family: 'Verdana',sans-serif;
  font-size:9px;
  padding:0 5px;
  display: inline;
  list-style-type: none;
  border-right: 1px #CCC solid;
}
.navlist a, .navlist a:hover, .navlist a:visited, .navlist a:active
{
  font-family: 'Verdana',sans-serif;
  font-size:9px;
  color:#036;   
  text-decoration: none;
  text-transform: uppercase;
}
.navlist a:hover {
  text-decoration:underline;
} 
#topstatus a, #topstatus a:hover, #topstatus a:visited, #topstatus a:active 
{
  text-transform: none;
  color:#666;
}
#topstatus a:hover {
  text-decoration:underline;
}
#topstatus li:last-child {
    border-right:0;
 }
#bottomnav .navlist li {
  text-transform: none;
  color:#666;
  font-size:10px;
  
}
#bottomstatus .navlist li {
  text-transform: none;
  color:#9999b2;
  font-size:10px;
  border-right: 1px #CCC solid;
}
#bottomstatus li:last-child {
    border-right:0;
 }
.navlist li:last-child {
    border-right:0;
 }

/************* NEW DROP-DOWN MENU NAV ******************/

#global_menu_bar_container {
    position:absolute;
    z-index:4;
    top:3px;
    left:5px;
    }
#global_menu_bar_container li {
    cursor:pointer;
    }
#global_menu_bar_container ul {
    color:#036;
    padding: 0;
    margin: 0;
    list-style: none;
}
#global_menu_bar_container li.menu_bar_level_1, #global_menu_bar_container span.menu_bar_level_1 {
    font-family: 'Verdana',sans-serif;
    font-size:9px;
    color:#036;
    text-decoration: none;
    float: left;
    position: relative;
    padding:0 5px;
    border-right: 1px #CCC solid;
    z-index:auto; /* IE fix for positioned elements */
    }
#global_menu_bar_container li a {    
    font-family: 'Verdana',sans-serif;
    font-size:9px;
    color:#036; 
    text-decoration:none;
    background-color: white;
    }
#global_menu_bar_container li a:hover,  #global_menu_bar_container li a:visited, #global_menu_bar_container li a:active {
    color:#036;
    text-decoration: none;
    cursor: pointer;
    }
#global_menu_bar_container li ul {
    display: none;
    position: absolute;
    z-index:4;
    top: 1.1em;
    left: 1px;
    padding:3px 0 0 0;
    border-bottom:1px solid #333;
    }
html>body #global_menu_bar_container li ul, * html #global_menu_bar_container li ul {
    /* IE display fix */
    padding:1px 0 0 0;
    border-left:1px solid #333;
    border-right:1px solid #333;
    }
#global_menu_bar_container li:hover ul, #global_menu_bar_container li.over ul {
    display: block;
    cursor:pointer;
    }
#global_menu_bar_container .menu_bar_level_2 {
    position: relative;
    z-index:10;
    margin-top:0px;
    margin-bottom:0;
    background-color:#fff;
    }
#global_menu_bar_container .menu_bar_level_2 a,
#global_menu_bar_container .menu_bar_level_2 a:hover,
#global_menu_bar_container .menu_bar_level_2 span {
    display:block;
    padding:4px;
    border-left:1px solid #333;
    border-right:1px solid #333;
    border-top:1px solid #CCC;
    white-space:nowrap;
    width:180px;    /* gives hasLayout IE property to anchors and fixes vertical/horizontal spacing */
    height:100%;
    }

html>body #global_menu_bar_container .menu_bar_level_2 a,
html>body #global_menu_bar_container .menu_bar_level_2 a:hover,
* html #global_menu_bar_container .menu_bar_level_2 a,
* html #global_menu_bar_container .menu_bar_level_2 a:hover {
    /* IE display fix */
    border-left:0px;
    border-right:0px;
}

#global_menu_bar_container .menu_bar_level_2 a:hover,
#global_menu_bar_container .menu_bar_level_2 span:hover {
    background-color:#EEE;
    }

/* Simon Attempts Nested Sub Menu CSS */

#global_menu_bar_container ul ul ul.menu_bar_level_2 {
    position: absolute;
    left: 161px;
    top: 0px;
    z-index: 5;
    display: none;
    border-top:1px solid #CCC;
    border-right:1px solid #CCC;
    border-bottom:1px solid #CCC;
    }
#global_menu_bar_container ul ul ul.menu_bar_level_2 {
    border-top: 0;
    padding-top:0;
	margin-left: 27px;
    }     
#global_menu_bar_container ul li.menu_bar_level_2:hover ul,
#global_menu_bar_container ul.menu_bar_level_1 li.over ul {
    display: block;
    }
#global_menu_bar_container ul ul li.menu_bar_menu {
    background:#FFF url(../images/navarrow2.gif) 148px 4px no-repeat;
    }
#global_menu_bar_container ul ul li.menu_bar_menu span {
    border-left:0;
    border-right:0;
    }

#global_menu_bar_container .menu_bar_level_3 {
    position: relative;
    z-index:11;
    margin-top:0px;
    margin-bottom:0;
    background-color:#fff;
    }
	
#global_menu_bar_container .menu_bar_level_2 .menu_bar_level_3 a,
#global_menu_bar_container .menu_bar_level_2 .menu_bar_level_3 a:hover {
    display:block;
    position: relative;
	left: 0px;
    z-index:12;
    padding:4px;
    border-left:1px solid #333;
    border-right:1px solid #333;
    border-top:1px solid #CCC;
    white-space:nowrap;
    }

 /*****Tabs******/
div.tabs{
    
    border-top:1px solid #cccccc;
    border-right:1px solid #cccccc;
    background-color:#eeeeee;
    clear:both;
    }
div.tabs a.tab{
        color:#355fab;
        padding:0px 5px 0px 5px; 
        font-size:10px;
        }
div.tabs li.active,#tabs_bottom li.after{border:0px;}
div.tabs li.last{border-right:1px solid #cccccc;}
div.tabs li.active a{
        border-right:1px solid #cccccc; 
        padding-top:4px; 
        border-left:1px solid #cccccc;
        position:relative; 
        bottom:-1px; 
        }
div.tabs ul{list-style-type:none;}
div.tabs li{
        display:inline;
        border-left:1px solid #cccccc;
        
        }
div.tabs li.active a, div.tab_content{background-color:#fcfcfc;}
div.tab_content{
      
        padding:10px;
        font-size:.8em;
        }
ul.top{
    border-bottom:1px solid #cccccc;
}

/************ PREFS & MANAGERS ***********/ 
 
/****Ad Manager popup****/
.management {
    width:350px;
    background-color:#ffffff;
    border:1px solid #cccccc;
}
.ManagerHeader{
    padding:5px;
    height:1%;
    border-bottom:1px solid #cccccc;
    background-color:#efefef;
}
.ManagerBody{
    font-size:.8em;
    padding:5px;
}
.ManagerPublication{
    font-size:.8em;
    padding:5px;
}

#appraisal_preference p { font-size:11px;padding-bottom:2px; }
#appraisal_preference label { display:block;float:left;width:180px;padding-right:2px;clear:left; }
#appraisal_bookout_preferences { margin-top:2px; }
#appraisal_bookout_preferences table {border-collapse: collapse; }
#appraisal_bookout_preferences table, #appraisal_bookout_preferences tr, #appraisal_bookout_preferences td { font-size:11px; }
#appraisal_bookout_preferences td { padding:1px 20px 1px 0; }
#appraisal_bookout_preferences tr.tableheader td { font-size:10px; font-weight:bold; color:#666; border-bottom:1px solid #CCC; }

 /******* TOOLS AND HACK FIXES **********/

html>body .clearfix {min-height: 1px;} /* only IE 7 gets this */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.hide { display:none; }
.show { display:block; }
.float {float:right;margin-left:3px;}
.float_left{float:left;}
#busy {
  position:relative;
  left:425px;
  clear:none;
  float:left;
  margin:0px auto 0 auto;
}

#notice {
  text-align: center;
  border: 1px solid black;
  background: white;
  padding: 3px;
  margin-bottom: 4px;
}

.preload {
    position:absolute;
    top: -500px;
    left: -500px;
    z-index:auto; /* IE fix for positioned elements */
}
/*floated  selection popups*/

div.option_float{
    border:1px solid #666666;
    width:215px;
}
div.option_float .header{
    padding:5px;
    font-size:.9em;
    background-color:#cccccc;
    border-bottom:1px solid #666666;
   
}
div.option_float .body{
    padding:10px;
    font-size:.8em;
}
div.option_float .body input{
    width:125px;
}

div.option_float .footer{
    padding:5px;
    font-size:.8em;
    text-align:right;
}
div.option_float .footer input{
    font-size:.8em;
    width:auto;
}

div.management_float{
    border:1px solid #666666;
    width:355px;
}
div.management_float .header{
    padding:5px;
    font-size:.9em;
    background-color:#cccccc;
    border-bottom:1px solid #666666;
   
}
div.management_float .body{
    padding:10px;
    font-size:.8em;
}
div.management_float .body input.text{
    width:125px;
}
div.management_float dd.radio_options{
    clear:left;
    padding-left:50px;
}
div.management_float .footer{
    padding:5px;
    font-size:.8em;
    text-align:right;
}
div.management_float .footer input{
    font-size:.8em;
}
div.management_float dt{
    width:95px; 
    padding-right:3px;
    text-align:right;
    margin-bottom:3px;
}
div.management_float dd{
     margin-bottom:3px;
}
div.management_float dl{
   display:block;
   margin:3px;
}
div.management_float li{

    list-style-type:none;
}
.error_block{
    border:1px solid #fe4b50;
    background-color:#ebcdd5;
    color:#fe4b50;
    font-size:.7em;
    padding:5px;
    margin:3px;
    font-weight:bold;

}

/* =========================== */
/* = appraisal_review/detail = */
/* =========================== */
.carfax_wrapper { width: 65.9%; float: left; margin: 0; padding: 0; }
.carfax_wrapper img { position: relative; top: 4px; } 
.carfax_wrapper label {
	display: block; font-size: 8pt; color: #355fab; margin-left: 118px;
	float: left;
}
.carfax_wrapper p {
	font-size: 8pt; color: #555; margin-top: 1ex;
}
.carfax_wrapper .controls {
	display: inline; position: relative; top: 4px;
}
#autotracker_wrapper img {
	position: relative; top: 2px;
}