/**** UNIQUE HOMEPG STRUCTURE ****/

#header {
	margin: 0px 35px 0px 35px;
}

#left {
	position: relative;
	/* for floating div positioning */
    float: left;
	width: 235px;
	padding: 0;
	margin: 0;
	background: transparent url(../images/homepg_bkgrd.jpg) bottom left repeat-x;
	padding-bottom: 47px;
	z-index: auto;
/* IE fix for positioned elements */
}

#right {
	float: left;
	width: 215px;
	padding: 0;
	margin: 0;
	background: transparent url(../images/homepg_bkgrd.jpg) bottom left repeat-x;
	padding-bottom: 32px;
}

html>body #right {
	padding-bottom: 27px;
}

#center {
	float: left;
	width: 539px;
	padding: 0;
	margin: 0;
	background: #fcfcfc url(../images/center_bkgrd.jpg) bottom left repeat-x;
}

html>body #center {
	width: 540px;
}

#footerlinks {
	clear: both;
	padding: 0;
	margin: 0;
	height: 40px;
	background: url(../images/footer_bkgrd.jpg) bottom left repeat-x;
	text-align: center;
}

#footer {
	border-top: 0px;
}

#headerimage {
	width: 118px;
	height: 23px;
	padding: 13px 0 0 30px;
}

#wrapper {
	padding: 0;
	border-left: 0px solid #CCC;
	border-right: 0px solid #CCC;
}

#wrapper #columns {
	background: #fafafa url(../images/pagebkgrd2.jpg) bottom left repeat-y;
}

#topleft {
	background: transparent url(../images/topleft_corner.jpg) top right no-repeat;
}

#topright {
	background: transparent url(../images/topright_corner.jpg) top left no-repeat;
}

#topcenter {
	background: transparent url(../images/topcenter.jpg) top left repeat-x;
}

html>body #topcenter {
	

}

#foo {
	left: 35px;
}

.dealername {
	padding: 15px 50px 0 0;
	text-align: right;
	height: 1%;
}

/**** APPRAISAL ****/

#appraise-gauge {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#closingtarget {
	position: absolute;
	top: 65px;
	left: 80px;
	z-index: auto;
	width: 71px;
	height: 17px;
	background: url(../images/tooltip_bkgrd.gif) top left no-repeat;
}

#closingtarget p {
	color: #666;
	text-align: center;
	font-size: 9px;
	padding: 2px;
	line-height: 10px;
}

#make-deal {
	width: 200px;
	border: 0;
	padding: 0;
	background: #FFF url(../images/bucketbkgrd_l.gif) top left repeat-y;
	text-align: right;
	margin: 0 16px 0 20px;
}

#make-deal .top {
	background: url(../images/bucketbkgrd_top_l.gif) top right no-repeat;
}

#make-deal .bot {
	background: url(../images/bucketbkgrd_bot_l.gif) bottom left no-repeat;
}

#make-deal .fill {
	padding: 10px 10px 6px 10px;
}

* html div#make-deal .fill {
	padding: 10px 7px 6px 7px;
}

#make-deal h2 {
	font-weight: normal;
	font-size: 13px;
	color: #41860f;
	margin: 0;
	padding: 0;
}

#make-a-deal-overview {
	margin-top: 2px;
	padding-top: 2px;
	border-top: 1px solid #EEE;
	text-align: left;
}

.make-a-deal-overview-item {
	font-size: 10px;
	line-height: 11px;
	padding: 2px 0;
}

#madicon {
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 3px;
	width: 150px;
}

.dealjackets {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 

150px;
	/* 15px x 10 */ height: 17px;
	position: relative;
	background: url(../images/icon_folder_off.gif) top left repeat-x;
}

.dealjackets li {
	padding: 0;
	margin: 0;
	float: left;
}

#total-deals {
	top: 0;
	left: 0;
	background: url(../images/icon_folder_on.gif) top left repeat-x;
	position: absolute;
	height: 17px;
	display: block;
	z-index: 1;
}

/* slider */

#slider {
	float: left;
	margin-top: -5px;
	margin-left: 25px;
	margin-right: 2px;
}

#track {
	width: 50px;
	background-color: #EEE;
	height: 2px;
	text-align: left;
}

* html div#track {
	overflow: hidden;
}

#handle {
	width: 6px;
	height: 8px;
	background-color: #CCC;
	cursor: move;
	text-align: left;
	margin-top: -3px;
}

* html div#handle {
	overflow: hidden;
}

#appraise-facts {
	width: 195px;
	padding: 25px 0;
	margin: 0 auto;
}

#appraise-facts h2 {
	font-weight: normal;
	font-size: 10px;
	line-height: 11px;
	color: #5f6c8b;
	margin: 0;
	padding: 0;
}

#appraise-facts h2 span {
	font-size: 9px;
	color: #7e879a;
	font-style: italic;
}

#appraise-facts p {
	
}

#trade-analyzer {
	width: 195px;
	margin: 0 auto;
	padding-bottom: 10px;
}

#trade-analyzer h2 {
	font-family: Arial;
	font-size: 11px;
	color: #030;
	padding-bottom: 2px;
}

.alert {
	font-size: 10px;
	color: #355fab;
	background-color: #fffe84;
	border-top: 1px solid #82ba82;
	border-bottom: 1px solid #82ba82;
	padding: 2px 5px;
	margin: 4px 0;
}

.alert:hover {
	text-decoration: none;
}

#trade-analyzer input {
	background-color: #EEE;
	color: #666;
	margin: 0;
	padding: 0;
}

#potential-tradeins {
	position: absolute;
	right: 30px;
	top: 480px;
	padding: 0px;
	border: 1px solid #999;
	z-index: 899;
	overflow: visible;
}

#appraisals-waiting {
	position: absolute;
	left: 30px;
	top: 510px;
	padding: 0px;
	border: 1px solid #999;
	z-index: 999;
	overflow: visible;
}

#appraisals-waiting table, #potential-tradeins table {
	border-collapse: collapse;
	font-size: 9px;
	color: #003;
}

#appraisals-waiting tr, #potential-tradeins tr {
	padding: 2px 0;
	border-bottom: 1px solid #999;
}

#appraisals-waiting td, #potential-tradeins td {
	padding: 2px 7px;
	white-space: nowrap;
}

#appraisals-waiting tr.tableheader, #potential-tradeins tr.tableheader {
	background-color: #cfd7e6;
	color: #333;
	font-weight: bold;
	padding: 0;
}

#appraisals-waiting tr.tableheader td, #potential-tradeins tr.tableheader td {
	padding: 1px 7px;
}

#appraisals-waiting .even, #potential-tradeins .even {
	background-color: #EEE;
}

#appraisals-waiting .odd, #potential-tradeins .odd {
	background-color: #FFF;
}

#appraisal-training {
	padding: 35px 0 0 20px;
}

.teachtext a, .teachtext a:hover, .teachtext a:active, .teachtext a:visited {
	color: #06c;
	font-family: Georgia, "Times Roman", serif;
	font-size: 10px;
}

.teachtext a:hover {
	text-decoration: underline;
	color: #3b84cc;
}

/**** INVENTORY ****/

#inventory-gauge {
	text-align: center;
	padding-top: 15px;
}

#optinv {
	position: absolute;
	top: 65px;
	left: 80px;
	z-index: auto;
	width: 95px;
	height: 38px;
	background: url(../images/tooltip_bkgrd2.gif) top left no-repeat;
}

#optinv p {
	color: #666;
	text-align: center;
	font-size: 9px;
	padding: 2px;
	line-height: 10px;
}

#inventory-graph {
	text-align: center;
	margin: 0 auto;
}

#inv-overview {
	text-align: center;
	font-size: 10px;
	color: #000;
	height: 35px;
	background: url(../images/invoverview_bkgrd2.jpg) top center no-repeat;
	padding-top: 8px;
}

#inv-overview .red {
	color: #900;
}

#inv-overview .blue {
	color: #0C34C9;
}

#plan-items {
	text-align: center;
	padding: 0;
}

#plan-items h2 {
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #666;
	margin: 0;
	padding: 0;
}

#inventory-actions {
	margin-left: 15px;
	margin-right: 15px;
	clear: both;
}

.box h2, .bar h2 {
	float:right;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #2c4087;
	margin: 0;
	padding: 0;
	position: relative;
}

#advertising .branding {
	margin: 12px 0;
	width: 108px;
	height: 15px;
	text-align: left;
	overflow: hidden;
	text-indent: -5000px;
	background: url('../images/branding/advertising.gif') no-repeat top right;
	cursor:pointer;
}

#needsAction {
	vertical-align:top;
	cursor:pointer;
	font-weight:normal; 
	font-size:small
}

#advertising .box-c p {
	line-height:15px;
	margin-top:0 !important;
}

#marketing .branding {
	margin: 14px 0 1.5em 0;
	width: 196px;
	height: 28px;
	text-align: left;
	overflow: hidden;
	text-indent: -5000px;
	background: url('../images/branding/marketing.gif') no-repeat top right;
}

#marketing  input {
	position:relative;
	left:5px;
}

#pricing .branding {
	width: 200px;
	margin: 10px 0 1.5em 0;
	font-size: 12px;
	font-weight: bold;
}

#pricing  p {
	float:right;
	margin-top:0 !important;
	width:130px;
}

#planning .icon {
	top: -7px;
	margin-left: -23px;
	background: url('../images/icon_doc2_small.gif') no-repeat left center;
}

#pricingformerchandising .icon {
	top: -7px;
	margin-left: -23px;
	background: url('../images/icon_pingII_small.gif') no-repeat left center;
}

#inventory-actions {
	text-align:center;
}

#inventory-actions .box {
	margin: 4px 10px 10px 5px;
}

#inventory-actions .bar {
	margin: 0 5px 10px 5px;
}

#inventory-actions .bar.half_width {
	margin: 0 11px 10px 7px;
}

.box p, .bar p {
	clear:both;
	font-size: 12px;
	line-height: 12px;
	color: #2c4087;
	margin: 18px 0 0;
	padding-bottom: 0.2ex; /* Show descenders in IE, PM */
}

.box p .num, .bar p .num {
	font-weight: bold;
}

.box h2 sub, .bar h2 sub {
	position: absolute;
	top: 9pt;
	right: 0;
	white-space: nowrap;
}

.box {
	position: relative;
	float: left;
	border: 0px solid #e5e5e5;
	padding: 7px 2px;
	background: #fff url(../images/invbkgrd_c_combo.gif) repeat-x 0 0;
	text-align: right;
	height: 90px;
}

.box-l {
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 104px;
	background: url(../images/invbkgrd_left_combo.gif) 0px 0px no-repeat;
}

.box-r {
	position: absolute;
	right: 0;
	top: 0;
	width: 3px;
	height: 109px;
	background: url(../images/invbkgrd_rt_combo.gif) 0px 0px no-repeat;
}

.over, .over .box-l,.over .box-r {
	background-position: 0px -105px;
}

.box-c {
	position: absolute;
	top: 0;
	left: 8px;
	padding-top: 7px;
	width: 140px;
}

.box-c {
	width: 140px;
}

.icon {
	position: absolute;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: bottom left;
}

#pricing .icon,
#advertising .icon {
	width: 51px;
	height: 50px;
	background-image: url(../images/icon_pingII_large.gif);
}

#advertising .icon {
	bottom: 30px;
	left: 45px;
}

#pricing .icon {
	bottom: 20px;
	left: 25px;
}

.bar {
	position: relative;
	height: 14px;
	padding: 5px 0px;
	border: 0px solid #e5e5e5;
	background: #FFF url(../images/linebkgrd_combo.gif) 0px 0px repeat-x;
	margin-bottom: 14px;
}

.bar-l {
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 24px;
	background: url(../images/linebkgrd_left_combo.gif) top left no-repeat;
}

.bar-r {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 24px;
	background: url(../images/linebkgrd_rt_combo.gif) top right no-repeat;
}

.bar-c {
	position: absolute;
	top: 0;
	left: 15px;
	padding-top: 4px;
	text-align: center;
}

.full_width {
	width: 100%;
}

.half_width {
	width: 235px;
	float: left;
	clear: none;
}

.half_width .box-c,
.half_width .bar-c {
	width: 214px;
}

.half_width .bar-c h2.branding {
	float:none !important;
}

.bar-over, .bar-over .bar-l, .bar-over .bar-r {
	background-position: 0px -24px;
}

.third_width {
	clear: none;
	float: left;
	width: 158px;
}

.third_width .bar-c {
	margin:0 auto;
	width:128px;
}

#vpa_search {	
	clear: both;
	border-top: 1px dotted #999;
	padding-top: 1ex;
}

#vpa_search input, #consumer-sheets-search input {
	color: #666;
	background-color: #f5fafc;
	padding: 0 2px;
}

#vpa_search input.text {
	margin-left: 4em;
	width: 25em;
}

#vpa_search input.submit, #consumer-sheets-search input.submit {
	position: relative;
	top: 2px;
}

#center-nav {
	text-align: center;
	margin-bottom: 5px;
}

#center-nav ul li {
	display: inline;
	padding: 2px;
}

#center-nav a:link {
	color: #727272;
	text-decoration: none;
}

#center-nav a:visited {
	color: #727272;
	text-decoration: none;
}

#center-nav a:hover {
	color: #666;
	text-decoration: underline;
}

#center-nav span {
	font-size: 9px;
	color: #CCC;
	padding-left: 4px;
}

#inventory-training {
	padding: 5px 0 0 20px;
}

/**** PURCHASING ****/

/*
 All background images have the over state appended to the bottom of the image, on over the class name changes and the bg position is moved to show the over state bg.  
 This fixes the caching issue with css background images
*/

.market-stocking, .online-buying, .live-auctions {
	width: 193px;
	border: 0;
	padding: 0;
	background: #FFF url(../images/bucketbkgrd_m_combo.gif) top left repeat-y;
	text-align: right;
	margin: 4px auto;
	cursor: pointer;
}

.market-stocking .top, .online-buying .top, .live-auctions .top {
	background: url(../images/bucketbkgrd_top_m_combo.gif) 0px 0px no-repeat;
}

.market-stocking .bot, .online-buying .bot, .live-auctions .bot {
	background: url(../images/bucketbkgrd_bot_m_combo.gif) bottom left no-repeat;
}

.market-stocking .fill, .online-buying .fill, .live-auctions .fill {
	padding: 8px 9px 8px 0;
}

.market-stocking-over, .market-stocking-over .top, .auction-over, .auction-over .top, .auction-over .top {
	background-position: -193px 0px;
}

.market-stocking-over .bot,.auction-over .bot, .auction-over .bot {
	background-position: -193px bottom;
}

#market-stocking h2, #online-buying h2, #live-auctions h2 {
	font-weight: normal;
	font-size: 13px;
	color: #900;
	margin: 0;
	padding: 0;
}

.in-group, .in-group2 {
	width: 187px;
	position: relative;
	height: 22px;
	padding: 0px;
	background: url(../images/linebkgrd2_combo.gif) 0px 0px repeat-x;
	margin: 2px auto;
	cursor: pointer;
}

#in-group-l, #in-group2-l {
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 22px;
	background: url(../images/linebkgrd2_left_combo.gif) 0px 0px no-repeat;
}

#in-group-r, #in-group2-r {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 22px;
	background: url(../images/linebkgrd2_rt_combo.gif) 0px 0px no-repeat;
}

#in-group-c, #in-group2-c {
	position: absolute;
	top: 0;
	left: 12px;
	padding-top: 5px;
}

.in-group-over,.in-group-over #in-group-l, .in-group-over #in-group2-l,.in-group-over #in-group-r,.in-group-over #in-group2-r {
	background-position: 0px -22px;
}

.in-grouplink {
	width: 183px;
	padding: 3px;
	text-align: left;
	margin: 2px auto;
}

h2.ingroup {
	font-weight: normal;
	font-size: 12px;
	color: #900;
	margin: 6px 0 2px 13px;
	padding: 0;
}

#in-group h3, #in-group2 h3 {
	font-weight: normal;
	font-size: 10px;
	color: #414163;
	margin: 0;
	padding: 0;
}

#flash-locator {
	width: 200px;
	margin: 15px auto 0px auto;
	padding-bottom: 6px;
	font-size: 10px;
	color: #666;
}

#flash-locator h2 {
	font-family: Arial;
	font-size: 11px;
	color: #900;
	padding-bottom: 4px;
	text-transform: uppercase;
}

#flash-locator input {
	margin: 0;
	padding: 0;
}

.formfield input {
	background-color: #EEE;
	color: #666;
}

#flash-locator span.formfield {
	padding-left: 5px;
}

#needs-purchase-upgrade {
	padding: 55px 0 195px 0;
}

/**** OTHER ****/

/*
#center-alerts { position:relative;width:450px;height:114px;border:0px solid #CCC;margin:10px auto;padding:8px 0 0 0;font-size:10px;background:url(../images/voicebkgrd.gif) top left repeat-x;z-index:auto; }
#center-alerts-l { position:absolute;left:0;top:0;width:23px;height:114px;background:url(../images/voicebkgrd_left.gif) top left no-repeat;z-index:auto; }
#center-alerts-r { position:absolute;right:0;top:0;width:23px;height:114px;background:url(../images/voicebkgrd_rt.gif) top right no-repeat;z-index:auto; }
#center-alerts-c { position:absolute;top:0;left:30px;padding-top:30px;text-align:center;z-index:auto; }
#center-alerts h3 { padding:0 0 4px 0;margin:0;font-size:14px;color:#006;font-weight:normal; }
#center-alerts h4 { padding:0;margin:0;font-size:13px;color:#003;font-weight:normal; }
*/

#center-alerts {
	position: relative;
	width: 450px;
	height: 114px;
	border: 0px solid #CCC;
	margin: 10px auto;
	padding: 8px 0 0 0;
	font-size: 10px;
	z-index: auto;
}

#center-alerts span {
	font-size: 11px;
}

.qualifier {
	font-size: 13px;
	color: #898989;
}

.qualifier a {
	font-weight: bold;
	color: #a50000;
	font-size: 11px;
}

#campaign_deadlines {
	font-size: 10px;
	padding-left: 10px;
	color: #333;
	padding-bottom: 5px;
	margin-bottom: 0;
	height: 38px;
}

#campaign_deadlines ul {
	list-style-type: none;
	display: inline;
}

#campaign_deadlines li {
	display: inline;
}

#footer-nav {
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#footer-nav ul li {
	display: inline;
	padding: 2px;
}

#footer-nav a:link, #footer-nav a:hover, #footer-nav a:active, #footer-nav a:visited {
	font-size: 11px;
	color: #828282;
	text-decoration: none;
}

#footer-nav a:hover {
	color: #6A6A6A;
	text-decoration: underline;
}

#footer-nav span {
	font-size: 9px;
	color: #CCC;
	padding-left: 4px;
}

#invchart-content p, #appraisal-content p, #optinv-content p {
	font-size: 11px;
	color: #666;
	text-align: center;
}

#invchart-content {
	width: 524px;
	height: 216px;
	margin: 0 auto;
}

#appraisal-content {
	width: 179px;
	height: 178px;
}

#optinv-content {
	width: 177px;
	height: 177px;
}

#in-group-search {
	width: 200px;
	margin: 15px auto;
	padding: 10px, 0px, 10px, 0px;
}

#in-group-search h2 {
	font-family: Arial;
	font-size: 11px;
	color: #900;
	padding-bottom: 4px;
	text-transform: uppercase;
}

#in-group-search input {
	background-color: #EEE;
	color: #666;
	margin: 0;
	padding: 0;
}

#in-group-search-message {
	color: #900;
}

/****Flash Locate****/

#inGroup,#online,#inGroupAndOnline {
	background-color: #e4e4e4;
}

.flashLocateLabel {
	color: #666;
	text-transform: uppercase;
	width: 50px;
	text-align: right;
}
