

/*
/// MAKE-A-DEAL BOOKLET
*/

@import url('mad_printpages_details.css');
@import url('mad_printpages_summaries.css');


.mad_print_summaries {
	counter-increment: report;
	page-break-before: always;
}

.mad_print_details {
	counter-increment: report;
	page-break-before: always;
}

.appraisal_summary {
	counter-increment: report;
	page-break-before: always;
}


/* // 
	BREAKS */


	/* ___ overrides ___ */
	.pagehead h2 {
		display: none;
	}





#booklet_template_content {
	display: none;
}
/*
#booklet_template_content .date {
	string-set: DATE content();
	}
*/

#mad_summary_title_count,
#follow_up_summary_title_count {
	string-set: SUMMARY_COUNT content();
}

/*
/// HIDE
*/


br,
.vehicle-id img,
#appraisal_review_follow_up_list_summary,
.grouphead p,
#pagehead,
.followup_btn, 
.bottom_deal_link,
.followup-notes,
.reviewbtn,
.followupbutton,
span.viewdeals { 
	display: none; 
	}





/* \\\ SHARED */

p { 
	margin: 0; 
	}

.informative {
	color:#666;
	font-weight:normal;
	}


.item-issue ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	}
.item-issue li {
	font-size: 7pt;
	margin-left: 0;
	padding-left: 0;
	display: inline;
	color:#666;
	}



.market_values {
	margin-bottom: 3pt;
	
}
	.market_values span {
		padding-right: 24pt;
	}

.potential-deal-info {
	
}

.potential-deal-info kbd {
	font-family: "Verdana";
	font-weight: normal;
	padding: 0 6pt;

}

hr {
	border: solid 0.25pt #999;
	height: 12pt;
	width: 1in;
	display: inline-block;
	background-color: white;
	vertical-align: top;
	margin-bottom: 2pt;
}
.name hr {
	width: 1.25in;
	}
.email hr {
	width: 1.25in;
	}

input.currency {
	margin: 0 3pt;
	vertical-align: top;
	display: inline-block;
	width: 1.125in;
	height: 14pt;
	border: solid 0.25pt #999;
	background-color: white;
	position: relative;
	top: -3pt;
}


.notes_area {
	clear: both;
	padding-top: 2pt;
}

textarea.notes {
	display: inline-block;
 	vertical-align: top;
	color: #aaa;
	width: 90%;
	height: 2pc;
	border: solid 0.25pt #999;
	background-color: white;
	overflow: hidden;
	padding: 2pt 5pt;
}
strong.label {
	font-size: 7.5pt;
	font-family: "Verdana", sans-serif;
}

		
.additional-info {
	border: solid 0.25pt #666;
	padding: 8pt 6pt;
	font-family: "Verdana", sans-serif;
	font-size: 7.5pt;
	background-color: white;
}


dl.customer_offer,
dl.appraisal_value {
	font-family: "Verdana", sans-serif;
	font-size: 7.5pt;
	width: 50%;
	border-bottom: dotted 0.25pt #999;
	/*
	*/
	padding-bottom: 3pt;
	margin-bottom: 3pt;
}
	dl.appraisal_value dt,
	dl.customer_offer dt {
		font-weight: bold;
		float: left;
	}
	dl.appraisal_value dd,
	dl.customer_offer dd {
		font-weight: normal;
		margin: 0;
	}
	dl.appraisal_value strong,
	dl.customer_offer strong {
		font-weight: normal;
	}
dl.customer_offer {
	float: right;
}
dl.appraisal_value {
	float: left;
}

dl.customer,
dl.deal {
	font-family: "Verdana", sans-serif;
	font-size: 7.5pt;
	margin-top: 0;
	margin-bottom: 3pt;
}
dl.customer {
	padding-top: 2pt;
}

	dl.customer dt,
	dl.deal dt {
		float: left;
		font-weight: normal;
	}
	dl.customer dd,
	dl.deal dd {
		margin-left: 12pt;
		display: inline;
		font-weight: bold;
	}









