

.appraisal_summaries table {
	font-size: 8pt;
	margin-bottom: 6pt;
	border-collapse: collapse;
}
.appraisal_summaries thead {
	background-color: #006;
	color: #eee;
}

.appraisal_summaries td, 
.appraisal_summaries th {
	vertical-align: top;
	padding: 3pt 4pt;
}
	.appraisal_summaries td.mad,
	.appraisal_summaries td.risk,
	.appraisal_summaries td.appr_value {
		text-align: center;
	}
	.appraisal_summaries td.pri_book_value {
		text-align: right;
	}
	
.appraisal_summaries td.pri_book_value strong {
	padding-right: 7pt;
}

.appraisal_summaries tr.cust_info td {
	background-color: #ccc;
	border-bottom: solid 0.5pt #006;
	border-top: solid 0.25pt #666;
}
.appraisal_summaries tr.cust_info td strong {
	font-size: 8pt;
	color: #000;
}

.appraisal_summaries td strong {
	color: #006;
	font-size: 9pt;
}










/* /// DETAIL PAGES ////////////
*/



.mad_print_details {

}


 {
	page-break-inside: avoid;
}

/* // 
	BREAKS */

.pagecontainer {
	page-break-before: always;
}
.followup-info,
.book-info,
.NAAA-info,
.performance-info,
.redist-info,
.appraisal_summaries tbody {
	page-break-inside: avoid;
}


	/* ___ overrides ___ */






/* VEHICLE DETAILS (top left corner)
*/
.pagecontainer .vehicle-id {
	font-weight: normal;
	font-family: "Verdana", sans-serif;
	font-size: 9pt;
width: 3.5in;
position: absolute;
top: 0;
left: 0;
}
.pagecontainer .vehicle-id:first-child { 
	display: inline;
	}
	.pagecontainer .vehicle-id span {
		padding-right: 12pt;
	}
	.pagecontainer .vehicle-id .rule_value_vehicle {
		display: block;
		font-weight: bold;
		margin-bottom: 6pt;
		font-size: 11pt;	
	}
	.pagecontainer .appraisal-date {
		display: block;
		margin-top: 3pt;
		}

/* VEHICLE ANALYSIS (top right corner)
*/
.flags {
	font-family: "Verdana", sans-serif;
	min-height: 0.65in;
	width: 3in;
	margin-left: auto;
	font-size: 7.5pt;
	line-height: 8pt;
	padding: 4pt;
	border-left: 0.25pt solid #999;
	border-top: 0.25pt solid #999;
	background: #fcffd9 url('http://images.firstlook.biz/max/images/postit_corner_print.gif') bottom right no-repeat; 
	}
.flags .item-issue {
	color:#000;
	padding-left: 7px;
	padding-bottom: 0;
	background:url('http://images.firstlook.biz/max/images/issuearrow.gif') 0 3px no-repeat;
	font-weight:normal;
	margin-left: 0px;
	}
.flags .condition {
	color: #333;
	font-size: 7.5pt;
	border-top: dotted 0.25pt #999;
	margin-top: 2pt;
	padding-top: 2pt;
}
.flags .condition div {
 	display: inline;
}




/* /// DETAIL SUB SECTIONS
*/

/* sub GROUPS */
.followup-info,
.book-info,
.NAAA-info,
.performance-info,
.redist-info {
	clear: both;
	margin: 0 0 6pt 0; /* ! spacing under subgroups */
}





/* sub HEADERS */
.followup-info h3,
.book-info h3,
.NAAA-info h3,
.performance-info h3,
.redist-info h3 {
	font-family: "Verdana", "Arial", sans-serif;
	font-weight: bold;
	color: #213042;
	margin: 0 0 2pt 0; /* ! spacing under subheader */

	font-size: 8pt;
}


/* sub TABLES */
.naaa_report table,
.performance-info table,
.redist-info table {
	width: 100%;
	margin: 0 6pt;
	padding: 0;
	border-collapse: collapse;
	}
	.naaa_report table {
		margin: 0 0;
	}
	.redist-info table {
		margin: 0 0;
	}




/* FOLLOWUP
*/

.followup-info {  }
	.followup-info .bluebar {
		border: solid 0.5pt #666;	
		padding: 8pt 5pt 5pt 5pt;
	}

.followup-info h4 {
	display: inline;
	font-weight: normal;
}
	.followup-info h4 a {
		display: none;
	}
.appraisal-container { 
	display: inline;
}
	.appraisal-container div { 
		display: inline;
	}
	.appraisal-container div p { 
		display: inline;
		margin: 0;
	}



.appraisalbox {
	/*
	background-color: green;
	border-bottom: dotted #ccc 3pt;	
	*/
}

.mad_print_details .potential-deal-info {
	padding-top: 6pt;
	margin-top: 6pt;
	border-top: dotted #999 0.25pt;	
	
}



.appraisal_offer .appraisal_offer_read { 
	font-size:10px;
}
.appraisalbox span { margin-left:10px; }
.appraisal_valuations,
.appraisal_offer {
	display: none;
}
.appraisal_valuation_form,
.appraisalbox h4,
.appraisal_offer img,
.appraisal_offer form {
	display: none;
}
.appraisalbox form p {
	clear:left;
}

.followup-info dt {
	float: left;
	clear: left;
}
.followup-info dd {
	display: inline;
	font-weight: bold;
}


/* BOOK VALUES 
*/
.book-info {  }
.bookbox { 
	float: left; 
	width: 49%;
	padding: 0; 
	margin-bottom: 6pt;
	border: 0.5pt solid #999;
	}
	.book-info .second {
		float: right; 
	}

	.options {
		font-size: 8pt;
		}
	.options ul {
		margin: 0;
		padding: 0;
		}
		
.options_info li {
	white-space: nowrap;
	font-size: 7pt;
	/*margin-left:10px;*/
		padding-left: 3pt;
	float:left;
	width: 40%;
}

	
	.kbb .options_info li {
		/*
		white-space: normal;
		width: 30%;
		*/
	}

	
.bb { 
	
	}
	.bblogo { 
		background: #d9d9d9 url('http://images.firstlook.biz/max/images/bbooklogo.jpg') top right no-repeat;
		height:62px; 
		}
.nada { 

	}
	.nadalogo { 
		background: #E2D8B9 url('http://images.firstlook.biz/max/images/nadalogo_r.jpg') top right no-repeat;
		height:62px;
	 	}
.kbb {  }
	.kbblogo { 
		background:#e4e8f8 url('http://images.firstlook.biz/max/images/kbblogo.gif') bottom right no-repeat;
		height:62px; 
	}
.galves {  }
	.galveslogo { 
		background: #93b7dc url('http://images.firstlook.biz/max/images/galveslogo.gif') top right no-repeat;
		height:62px; 
	}
	
	.bookbox h4 { 
		display: inline;
		position: relative;
		top: 2px;
		font-size: 10pt;
		color:#000;
		padding-left: 6px;
		}
	.bookbox p { 
		margin-top: 6pt; 
		font-size: 8pt;
		padding-left: 3pt;
	}
	.bookbox p br { 
		display: block; 
	}
	.bookbox ul { 
		list-style-type: none; 
		}
/*
	.bookbox span { 
		margin-left: 10px; 
		}
*/
	.bookbox table {
		width:100%;
		text-align:center;
		border-collapse:collapse;
		font-size: 8pt;
		background-color:#FFF;
		border:0.25pt solid #999;
		padding:3px; 
		}
	.bookbox td { 
		border-right:0.25pt solid #333;
		padding:2px; 
		}
	.bookbox .datahead { 
		background-color:#EEE;
		border-bottom:0.25pt dashed #999;
		}

.kbbValuesTable {
	width: 100%; 
	border-collapse: collapse;
	text-align: center;
	}
	.kbbBookValuesHeader th { 
		padding: 2px 0px 2px 4px;
		background-color: #EEE;
		border-right: solid 0.25pt #333;
		border-bottom: dashed 0.25pt #999;
		border-top: none;
		font-weight:normal;
	}
    .kbbValuesTable td { 
	    text-transform:none; 
	    padding: 2px; 
	    border-right: solid 0.25pt #333; 
    }
    .kbbValuesTable dt,
    .kbbValuesTable dd {
    	text-transform:none;
    }
    
    .kbbValuesTable dt { 
    	padding-left:2px; 
    	width:75%; 
    	text-align:left;
    	}
    .greyTitle{ background-color: #EEE; }
    .kbbTradeIn dt, .kbbTradeIn dd { float:left; }
    .kbbTradeIn dd {  }



/* NAAA AUCTION DATA
*/
.NAAA-info {  }
	.NAAA-info p.float {
		display: none;	
	}
.auctionbox { 
	border:0.25pt solid #666;
	}
	.auctionbox p {
		float: left;
		padding: 2pt 6pt;
		}
	.naaa_form { 
		display: inline;
		margin-bottom:5px;
		}
	.naaa_form select {
		display: none;
		}
		
	.naaa_form { 
		margin-left:3px; 
	}
	.naaa_form form p { 
		display: inline; 
		white-space: nowrap;
		}
	
	/* form labels */
	.naaa_form span { 
		display: none;
		margin-left: 6pt;
		font-size: 8pt;
		font-weight: bold;
	}
	.naaa_form span.naaa_series_body_style_name {
		display: inline;
	}
	.naaa_report table { 
		text-align: center;
		margin-top: 2pt;
		font-size: 8pt;
		border: 0.25pt solid #999;
		padding: 3pt; 
		}
	.naaa_report td { 
		border-right:0.25pt solid #333;
		padding:2pt; 
		}
	.naaa_report .datahead { 
		background-color:#EEE;
		border-bottom:0.25pt solid #333;
	}


/* PERFORMANCE SUMMARY
*/
.performance-info {  }
.performance-info table { 
	font-family: "Verdana", sans-serif;
	margin: 0 2pt 2pt 2pt;
	text-align:center;
	border-collapse:collapse;
	background-color:#FFF;
	border: 0.25pt solid #999;
	padding: 3pt; 
	}
.performance-info td { 
	border-right:0.25pt solid #333;
	padding: 2pt; 

	}
	.performance-info .datahead  td { 
		background-color:#EEE;
		border-bottom:0.25pt solid #333;
		font-size: 7.5pt;
		}
		
.performance-info table h4 {
	display: inline;
	color: black;
	font-size: 8pt;
	}

.perfbox {
	margin:2px 2px 0 2px;
	background-color:#FFF;
	border:0.25pt solid #666; 
	}
.perfbox span { 
	margin-left:5px; 
	}
	
.insights { 
	color:#EEE;
	padding:3px;
	font-size: 8pt;
	margin:1px 1px 4px 1px;
	border-bottom:0.25pt dotted #999;
 }
.insights p {
	background:url('http://images.firstlook.biz/max/images/issuearrow2.gif') 3px 2px no-repeat; 
	font-size: 8pt;
	line-height:12px;
	font-weight: bold;
	margin-bottom:0;
	padding-left:10px;
	color:#333; 
	}

	.trade_analyzer_report_form strong { 
		font-size: 8pt;
	}
	.trade_analyzer_report_results p { 
		font-size:15pt;
		padding-left:6px;
		padding-bottom:6px;
		}
	.trade_analyzer_report_results .datahead { 
		background-color:#EEE;
		color:#333; 
		}


/* IN GROUP DEMAND 
*/
.redist-info {  }
	.redist-info table { 
		text-align: center;
		border: 0.25pt solid #666; 
		}
	.redist-info td { 
		font-size: 7pt;
		font-family: "Verdana", sans-serif;
		border: 0.25pt solid #666; 
		border-width: 0 0.25pt; 
		padding: 1.5pt; 
		}
	.redist-info .datahead td { 
		background-color: #dadada;
		border-bottom-width: 0.25pt; 
		border-bottom-style: dashed;
		}
