/* /// SUMMARIES /////////////////
*/
.mad_print_summaries {}

h3 {
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: normal;
	margin-bottom: 6pt;
}

/* // 
	BREAKS */
.mad_print_summaries h3 {
	/*
	page-break-before: always;
	*/
}
.bucket, .bucket-clear { 
	page-break-inside: avoid;
}

.bucket, 
.bucket-clear { 
	background: url('http://images.firstlook.biz/max/images/print/folder_topright_print.gif') top right no-repeat; 
	margin: 0 0 12pt 0;
}
	.bucket::before,
	.bucket-clear::before { 
		content: url('http://images.firstlook.biz/max/images/print/folder_topleft_print.gif');
		vertical-align: top;
	}
	.bucket-top { 
		padding: 0 6pt;
		border-left: solid 1pt #b3b2a6;
		border-right: solid 1pt #b3b2a6;
		border-bottom: solid 1pt #b3b2a6;
		background-color: #f8f9eb; 
		padding-top: 0;
		background: #f8f9eb url('http://images.firstlook.biz/max/images/print/folder_botshading_print.gif') bottom repeat-x; 
		}
	.bucket-bottom { 
		padding-bottom: 6pt;
		} 

.vehicle-summary { 
	font-family: "Arial", serif;
	margin-top: -3pt;
	text-align: right;
	}
	.vehicle-id { 
		position: relative;
		float: left;
		font-size: 12pt;
		top: -1pt;
		font-weight: bold;
		}
	.secondary-id { 
		display: inline;
		}
		.secondary-id span { 
			font-size: 8.5pt;
			white-space: nowrap;
			}
			.secondary-id .appraisal-date { 
				padding-left: 1pc;
				}		


	/* ___ overrides ___ */
.mad_print_summaries .additional-info {
	margin-top: 3pt;
	margin-bottom: 3pt;
}
.mad_print_summaries .potential-deal-info,
.mad_print_summaries .rule-matches,
.mad_print_summaries .condition {
	border: solid 0.25pt #999;
	border-width: 0 0.25pt;
	padding: 2pt 6pt;
	background-color: #fcffd9;
}
	.mad_print_summaries .potential-deal-info {
		border-top-width: 0.25pt;
		margin-bottom: 0;
	}
	.mad_print_summaries .rule-matches {
		font-size: 8.5pt;
		}
		.rule-matches .item-issue { 
			background: url('http://images.firstlook.biz/max/images/issuearrow.gif') 0 4px no-repeat; 
			padding-left: 12pt;
		}
		.mad_print_summaries .potential-deal-info dl.deal {
			padding-bottom: 3pt;
			border-bottom: dotted 0.25pt #999;
		}		
	.mad_print_summaries .condition {
		border-bottom: solid 0.25pt #999;
		font-size: 8.5pt;
	}
		.mad_print_summaries .condition::after {
			content: url('http://images.firstlook.biz/max/images/print/postit_corner_print.gif');
			float: right;
			position: relative;
			right: -7pt;
		}
		.mad_print_summaries .condition span {
			padding-right: 6pt;
			font-size: 8pt;
		}
		.mad_print_summaries .condition p:first-child {
			border-top: dotted 0.25pt #999;
			margin-top: 3pt;
			padding-top: 3pt;	
		}











