/* CSS Planning Mode Menu */

#planning_mode_menu_bar_wrapper ul {
    list-style: none;
    margin-right: 60px;
    margin-top: 7px;
    background-color: #FFF;
    }
#planning_mode_menu_bar_wrapper li.menu_bar_level_1 {
    position: relative;
    float: left;
    margin-left: 20px;
    z-index: auto;
    }
#planning_mode_menu_bar_wrapper li ul {
    display: none;
    position: absolute;
    z-index: 3000;
    top: 9px;
    padding: 5px;
    border: 1px solid #999;
    border-top: 0px;
    }
#planning_mode_menu_bar_wrapper li ul a:hover { 
    
    }
#planning_mode_menu_bar_wrapper li:hover ul, #planning_mode_menu_bar_wrapper li.over ul {
    display: block;
    white-space: nowrap;
    }
#planning_mode_menu_bar_wrapper .menu_bar_level_1, #planning_mode_menu_bar_wrapper .menu_bar_level_2 {
    
    }
#planning_mode_menu_bar_wrapper ul ul.menu_bar_level_2 {
    position: absolute;
    left: 60px;
    top: -7px;
    z-index: 500;
    display: none;        
    }
#planning_mode_menu_bar_wrapper ul li.menu_bar_level_2:hover ul {
    display: block;
    white-space: nowrap;
    }
#planning_mode_menu_bar_wrapper .menu_bar_level_3 a,
#planning_mode_menu_bar_wrapper .menu_bar_level_3 a:hover,
#planning_mode_menu_bar_wrapper .menu_bar_level_3 span {
    display: block;
    white-space: nowrap;
    }
#planning_mode_menu_bar_container {
    position: relative;
    clear: both;
    top: 10px;
    }
#planning_mode_menu_bar_container ul {
    list-style: none;
    }
#planning_mode_menu_bar_container ul li {
    position: relative;
    float: left;
    margin-left: 5px;
    border-right: 1px #CCC solid;
    padding:0 5px;
    }

/* CSS Planning Action Menu */

#planning_action_menu_bar_component {
    min-height: 1%;
    }
#planning_action_menu_bar_component ul {
    list-style: none;
    height: 17px;
    margin:0px 5px 0px 5px;
    padding-bottom:4px;
    }
#planning_action_menu_bar_component ul#planning_action_menu_bar {
    border-bottom: 1px solid #d8d8d8;
    margin-top:5px;
    }
#planning_action_menu_bar_component li.menu_bar_level_1, #planning_action_menu_bar_component li.menu_bar_level_2 {
    position: relative;
    float: left;
    margin-left:0px;
    }
#planning_action_menu_bar_component li {
    font-family:Verdana;font-size:10px;color:#515154;margin-bottom:0;
    }       
#planning_action_menu_bar {
    margin:0 5px;
    height:19px;
    border:1px solid #b2b2b5;
    border-bottom:0;
    background-color:#f7fafd;
    padding-top:2px;
    }
#planning_action_menu_bar li.menu_bar_action {
    padding-top:4px;
    padding-right:5px;
    text-align:right;
    width:84px;
    }
#planning_action_menu_bar li a {    
    display:block;
    width: 68px;
    height: 17px;
    font-family:Verdana;
    font-size:10px;
    color:#8385ae;
    text-decoration:none;
    text-align:center;
    padding-top:4px;
    }
#planning_action_menu_bar li.active {
    background:url(../images/plan_tab.jpg) top center no-repeat;
    }
#planning_action_menu_bar li.active a {
    color:#393966;
    }
#planning_action_menu_bar:after {  /* clearing fix for moz browsers */
    content: "."; display: block; height: 0; clear: both; visibility: hidden; 
    }    
    
/* Strategy Menu */

#planning_action_menu_bar_container {
    background:#fdfdff url(../images/planspacebkgrd_bottom.gif) bottom left no-repeat;
    margin:0px 5px 5px 5px;
    border: 1px solid #b6b6b7;
    border-top: 0px solid #d8d8d8;
    padding:0px 3px 0 0px;
    }
#planning_action_menu_bar_container:after {  /* clearing fix for moz browsers */
    content: "."; display: block; height: 0; clear: both; visibility: hidden; 
    }
#planning_action_menu_bar_container div.menu_bar_level_1 {
    clear:left;
    }
#planning_action_menu_bar_container .menu_bar_level_1 ul {
    float:left;
    height:100%;
    width:85px;
    background:#fafbff url(../images/planstrategy_bkgrd.jpg) bottom right repeat-y;
    border-top:1px solid #e2e7ed;
    padding-bottom:25px;
    }
#planning_action_menu_bar_container .menu_bar_level_1 ul li.menu_bar_level_2 {
    width:58px;
    font-family:Verdana;font-size:9px;color:#9898bc;
	margin-left: 11px;
	margin-bottom: 0;
	padding: 7px 10px 7px 6px;
	border-bottom: 1px solid #e2e7ed;
	list-style: none;
	display:block;
    }
#planning_action_menu_bar_container .menu_bar_level_1 a {
    font-family:Verdana;font-size:9px;color:#9898bc;text-decoration:none;
    }
#planning_action_menu_bar_container .menu_bar_level_1 ul li.active {
    background:#fafbff url(../images/planstrategy_bkgrd2.gif) right center no-repeat;
	padding: 7px 10px 7px 6px;
	list-style: none;
	display:block;
	font-size:11px;
	color:#336;
    }
#planning_action_menu_bar_container .menu_bar_level_1 ul li.active a {
    font-size:11px;
	color:#336;
	}

#planning_action_menu_bar_container div { 
    float:left;
    }

/* Strategy Forms */
#planning_action_menu_bar_container div.container {
    margin:10px;
    font-size:10px;
    color:#003;
    }
.option_set{ 
    padding-top:5px;
    clear:left;
}

/* Objective list - not in menu */
#InvObjective { margin-top:0px;margin-bottom:3px;min-height:1%; }
#InvObjective:after {  /* clearing fix for moz browsers */
    content: "."; display: block; height: 0; clear: both; visibility: hidden;
    }
.t2 { float:left; }
.t2 li { 
    position: relative;
    float: left;
    margin-left: 4px;
    z-index: auto;
    }
.t2 ul, .t2 li { list-style:none;font-family:Verdana;font-size:10px;color:#666; }
.t2 li a {    
    font-family:Verdana;
    font-size:10px;
    color:#818181;
    text-decoration:none;
    padding: 2px 5px 5px 13px;
    background:url(../images/radiobtn.gif) 0 4px no-repeat;
    }
.t2 li.here a {
    color:#333;
    text-transform:uppercase;
    background:url(../images/);
    padding: 2px 8px 5px 0px;
    }
    

/* bogus background url is given to #wrapper because it needs something to override the url set in global.css */
#wrapper { background:url(../images/); margin-top:-41px; padding: 5px;}
* html #wrapper, *+html #wrapper  { height:1%; }
#pageheader { background:url(../images/planpgtop.jpg) top left repeat-x;width:100%;height:41px; }

/***** LIST ITEM STYLES *****/
.service {display:block;float:right;margin-right:15px;margin-top:4px; margin-bottom:1px; }
* html .service { margin-right:5px; }
.service a, .service a:hover { display:block;width:70px;font-family: Verdana;text-decoration:none;font-size:9px;color:#999;line-height:11px;padding-right:6px;background:url(../images/checkbox_alt.gif) top right no-repeat; }
* html .service a, * html .service a:hover { width:70px; } /* positioning styles for IE */
*+html .service a, *+html .service a:hover { padding-right:12px; }
.service a:hover { background:url(../images/checkbox_alt2.gif) top right no-repeat; }

.inventory, .inventory_select { position:relative;width:528px;margin-bottom:7px;margin-right:2px;background:url(../images/planmid_combo.gif) 0 0 repeat-y;padding:0px;border:0px solid #CCC; }
#plan-selector { display:none;position:absolute;width:10px;height:100px;padding:0;margin:0;top:-2px;left:528px;background:url(../images/planselect_arrow2.gif) top left no-repeat; }

.vehicle_acquired { float:right;padding-right:5px; }
.risk .analysis, .risk_prime .analysis { color:#ff0000;font-size:9px; }
.list-top { background:url(../images/plantop_combo.gif) 0 0 no-repeat; }
.list-bot { background:url(../images/planbot_combo.gif) left bottom no-repeat; }

.listcontents { background:url(../images/); }
.vehicleinfo, .inventory_select .vehicleinfo, .vehicleinfoHilite  { cursor:pointer;border-top:1px solid #cad7e4; border-bottom:1px solid #cad7e4;padding:4px 0 4px 5px;background-color:inherit; }
.vehicleinfoHilite { background-color:#fffed8; }

.vehicleinfo .float, .vehicleinfoHilite .float {margin-right:5px;}
.age { font-size:9px;color:#263047; }
.ymmts { font-weight:bold;font-size:11px;color:#656f87;letter-spacing:-1px;margin-left:3px; }
.colormile { margin-left:20px; color:#263047;font-size:10px; }
.light { padding-left:15px;padding-right:15px; }
.risk, .risk_prime { font-size:9px;padding-left:1px;margin-top:2px; color:#C00;}
.t-p { margin-left:5px;color:#666;font-size:9px; }
.inventory .pricing, .inventory_select .pricing {height:19px;padding-left:5px;margin-top:0px; }
.priceref { margin-left:8px;color:#666;font-size:9px; }
.reprice_widgit { background-color:#ffffff; border:1px solid #cccccc; padding:2px; }
.reprice_widgit input { width:75px;font-size:11px; }
.inplaceeditor-form { margin:0;padding:0;display:inline; } 
.inplaceeditor-form input { margin:0;padding:0;width:50px;height:7px;font-size:9px; }
.inplaceeditor-form a { font-size:9px;text-decoration:none;padding-left:2px;padding-right:2px; }

/* SELECTED LIST ITEM STYLES */
.inventory_select { background:url(../images/planmid_combo.gif) -528px 0px repeat-y; }
.inventory_select .list-top { background:url(../images/plantop_combo.gif) -528px 0px no-repeat; }
.inventory_select .list-bot { background:url(../images/planbot_combo.gif) -528px bottom no-repeat; }
.inventory_select .vehicleinfo, .inventory_select .vehicleinfoHilite  { border-left:1px solid #263047;border-right:1px solid #263047;border-top:0px;border-bottom:1px solid #CCC; }
.inventory_select .ymmts { color:#263047; }
.inventory_select .top .planning_actions li { color:#346392; }
.inventory_select  #plan-selector { display:block; }

#Menu { float:right; }

/* how stuff vanishes */

div.off {
	display: none;
}

/* main divs */

#InventoryNavigation { position: relative; top: -10px; width:500px;height:20px;color:#b2b2b2;font-weight:normal;margin:18px 0 0 9px;font-family:Verdana, Arial, Helvetica, sans-serif;font-size:10px;letter-spacing:1px; float:left; }
#InventoryNavigation h2 { letter-spacing:normal;font-weight:normal;font-size:14px;color:#4f7ba7;margin:0;padding:0; }

#Inventory {
	width: 538px;
    float: left;
    margin-left:10px;
}
#Inventory .SpacerTop {
	padding-top: 0px;
}
/* positioning enables window scroll effect */
#Sticky { position:relative;width:417px;margin-right:15px;float:right; }
#InventoryForm {
	position:absolute;
	width: 417px;
	top:0px;
	right:0;
	padding-left: 2px;
	background:#eff3fc url(../images/planspace_bkgrd.gif) top left repeat-x;
	border:1px solid #989898;
}

#GuidanceNote { width:396px;margin:8px 6px 6px 6px;padding-bottom:25px;background:#ffffd8 url(../images/notebottom.gif) bottom right no-repeat;border-top:1px solid #f2f291;border-left:1px solid #f2f291; }

#InventoryItemGuidance { min-height:32px;padding:15px 9px 9px 9px;background:url(../images/plan_paperclip.gif) top right no-repeat;margin-top:-7px;margin-right:16px; }

#InventoryItemGuidance h4 { 
    font-family: Georgia, 'Times Roman', serif;
	color: #4f7ba7;
	font-size:13px;
	padding-bottom:4px;
	}
#InventoryItemGuidance p { 
    font-family: Georgia, 'Times Roman', serif;
	color: #4f7ba7;
	font-size:13px; 
	}

#InventoryItemGuidance ul, #InventoryItemGuidance ul a {
	font-family: Georgia, 'Times Roman', serif;
	color: #4f7ba7;
	font-size:12px;
	margin-top:4px;
	list-style-type: none;
	list-style-position: inside;
	text-decoration:underline;
}

#InventoryItem { width:415px; }

/***** Inventory Items *****/

.top ul {
	display: inline;
}
.top ul li {
	display: inline;
	list-style: none;
}
.top .planning_actions li {
    font-family: Georgia, 'Times Roman', serif;
	color: #4f7ba7;
	font-size:11px;
	list-style-type: none;
	padding-top:2px;
	padding-right:5px;
    float: left;
}
.top .close {
    float: right;
}
.top {
    margin-left:15px;
    clear: both;
 
}
* html .top { margin-right:5px; } /* positioning styles for IE */

.properties dl {
    display: block;
}
.properties dl dt {
    float: left;
    width: 5.5em;
    margin-left: 0.5em;
}
.properties dl dd {
    float: left;
    width: 4.0em;
}
.properties {
    clear: both;
}

/***** Inventory Planning Form ****/

/* override list item styles */
#InventoryForm .inventory { width:inherit;margin-top:5px;margin-bottom:0;margin-right:2px;background:none;padding:0px; }
#InventoryForm .vehicleinfo { width:inherit;cursor:default;border:0;margin-bottom:10px; }
#InventoryForm .age { font-size:10px; }
#InventoryForm .ymmts { font-size:11px;color:#263047;letter-spacing:0px;margin-left:3px; }
#InventoryForm .colormile { font-size:11px;color:#263047; }
#InventoryForm .risk, #InventoryForm .vehicle_acquired { margin-top:0px; }
#InventoryForm .risk_prime { margin-top:2px;margin-left:43px; }
#InventoryForm .risk_prime .vehicle_acquired { padding-right:12px; }



/* Reprice Partial */
#RepricingPartial { 
    background-color:#fdfdff;
    border:1px solid #b6b6b7;
    border-bottom: 1px solid #d8d8d8;
    margin:5px 5px 0 5px;
    padding:5px;
    min-height:1%;
 }

.repricing { margin:5px 0 0 5px;float:left; }
.repricing div { float:left; }

#RepricingPartial .pricing dl dt { color:#666;font-size:9px;float: left; width: 10em;}
#RepricingPartial .pricing dl dt { clear: both; }
#RepricingPartial .pricing dl dd { color:#666;font-size:9px;float: left; width: 7em;}
#RepricingPartial .pricing { color:#666;font-size:9px;line-height:12px;float:left;margin-left:35px; }

/* Plan History links */
#planHistory { color:#666;font-size:10px;margin-top:8px;margin-left:12px;margin-bottom:20px; }
#planHistory img { margin-right:2px;margin-left:2px;vertical-align:text-top; }
#planHistory p { margin-bottom:3px;line-height:14px; }
#planHistory span { margin-left:10px; }
#planHistory span.plan_nav_buttons { float:right;margin-right:5px;margin-left:0; }
#planHistory span.plan_nav_buttons span { margin-left:0px; }
#planHistory span.plan_nav_buttons a { color:#036; }
.planLink { float:right;margin-right:15px;margin-top:-18px; }


/***/ #PlanspaceContainer { background:#fdfdff url(../images/planspacebkgrd_bottom.gif) bottom left no-repeat;border:1px solid #b6b6b7;margin:5px;padding:3px 3px 0 3px; }


/***/ .RetailObjectiveRepriceContainer { margin-bottom:10px;padding-top:5px; }
/***/ .RetailObjectiveRepriceContainer .input_container { margin:5px 0 0 5px;float:left; }
/***/ .RetailObjectiveRepriceContainer .dollar_value_label { float:left;color:#336;font-size:12px;background-color:#ffffe0; }
/***/ .RetailObjectiveRepriceContainer .dollar_value { float:left; margin-left:5px; }
/***/ .RetailObjectiveRepriceContainer .dollar_value input { background-color:#ffffe0; }

/***/ .RetailObjectiveRepriceContainer .pricing dl dt { color:#666;font-size:9px;float: left; width: 10em;}
/***/ .RetailObjectiveRepriceContainer .pricing dl dt { clear: both; }
/***/ .RetailObjectiveRepriceContainer .pricing dl dd { color:#666;font-size:9px;float: left; width: 7em;}
/***/ .RetailObjectiveRepriceContainer .pricing { color:#666;font-size:9px;line-height:12px;float:left;margin-left:35px; }



/***** Strategy tabs *****/

/***/ .StrategyTabs { float:left;height:100%;width:85px;background:#fafbff url(../images/planstrategy_bkgrd.jpg) bottom right repeat-y;border-top:1px solid #e2e7ed;padding-bottom:25px; }
/***/ .StrategyPlans { float:left;margin-left:20px;font-size:10px;color:#336;padding-top:10px;padding-bottom:10px; }
/***/ #PlanObjectives { clear:both;border-top:1px solid #e2e7ed;margin-top:10px; }

/***/ .StrategyTabs .t3 {margin-left:7px; }

/***/ #InventoryForm .t3 ul {
	margin-left: 11px;
	padding-left: 0;
	
	} 
/***/ #InventoryForm .t3 ul li {
    font-family:Verdana;font-size:9px;color:#9898bc;
	margin-left: 0;
	margin-bottom: 0;
	padding: 7px 10px 7px 6px;
	border-bottom: 1px solid #e2e7ed;
	list-style: none;
	display:block;
	}
/***/ #InventoryForm .t3 ul li.here {
	background:#fafbff url(../images/planstrategy_bkgrd2.gif) right center no-repeat;
	padding: 7px 10px 7px 6px;
	border-bottom: 1px solid #e2e7ed;
	list-style: none;
	display:block;
	font-size:11px;
	color:#336;
	}

/***/ #InventoryForm .t3 ul li.name {
	border: 0px solid #ffc;
	list-style: none;
	display:block;
	}
/***/ #InventoryForm .t3 a { font-family:Verdana;font-size:9px;color:#9898bc;text-decoration:none; }

/***/ #InventoryForm .t3 ul li.here a { color:#336;font-size:11px; }


.StrategyPlans .text_value_label,
.StrategyPlans .notes_value_label,
.StrategyPlans .dollar_value_label,
.StrategyPlans .date_value_label { float: left;width:80px;margin-right:5px;margin-top:2px;margin-bottom:2px; }

.StrategyPlans .text_value,
.StrategyPlans .notes_value,
.StrategyPlans .dollar_value,
.StrategyPlans .date_value { float: left;width:130px;margin-right:5px;margin-top:2px;margin-bottom:2px; }

.StrategyPlans .widget_link { clear:left;margin-left:85px;margin-top:2px;margin-bottom:5px; }
.StrategyPlans .widget_link a { font-size:9px; }

.StrategyPlans .input_container { clear: both; }
.StrategyPlans .input_container a { font-size:9px; }

.StrategyPlans .SPIFFinput { margin-top:2px;margin-bottom:2px; }
.StrategyPlans .SPIFFinput label { margin-left:5px;margin-top:2px;margin-bottom:2px; }

.managerLink { margin-top:2px;margin-bottom:5px; }

.StrategyPlans .item ul, .StrategyPlans .item li, .StrategyPlans .name ul, .StrategyPlans .name li { list-style-type:none; display:inline; }

.campaign_run_values, .retail_spiff_values, .retail_lot_promotion_values, .wholesale_live_auction_values, .wholesale_wholesaler_values { list-style-type: none;margin-top:2px;margin-bottom:2px; }
.campaign_run_values li{
    padding-top:5px;
    padding-bottom:3px;
    border-bottom:1px solid #cccccc;
}
.campaign_run_values li input{
    margin-right:3px;
}
.planning_options_set{
    background-color:#ffffff;
    border:1px solid #cccccc;
    width:275px;
    padding:5px;
    z-index:1500;
}

h5 { font-size:10px;font-weight:normal;color:#003; }

/* MANAGER */

.manager {
    /* container for the management-widget */
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.manager .top {
    /* title bar for the management-widget */
    padding: 5px;
    height: 1%;
    border-bottom: 1px solid #cccccc;
    background-color: #efefef;
}

.manager .top .close {
    /* management-widget title-bar sub-container for close button */
    float: right;
    margin-left: 3px;
}

.manager .top .close span {
    /* close button */
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    background-color: red;
}

.manager table {
    border-style: solid;
    border: 1px solid #efefef;
}

.manager td {
    border-style: none solid;
    border: 1px solid #efefef;
    text-align: ".";
}

.manager thead {
    background-color: #efefef;
    font-size:.8em;
}

.manager input {
    width: 5em;
}

.manager .col {
    float: left;
    width: 6em;
}

.manager .auto {
    width: auto;
}

.manager .row {
    clear: both;
}

.manager tr.off {
    display: none;
}

.management dl dt {
    float: left;
    width: 5.5em;
    margin-left: 0.5em;
}

div.l {
    /* label container */
    float: left;
    width: 10em;
    margin-left: 0.2em;
}

div.i {
    /* input container */
    float: left;
}

div.c {
    /* container for label and input */
    clear: both;
    padding-top:8px;
}
.t4 { clear:left; }