/*popup overrides*/
#container { width:100%; font-size:11px; text-align:justify; line-height:1.5em; margin-bottom:0px;}
#header{clear:both; border:0;}
#footer{height:25px;clear:both;}
#wrapper{clear:both;}

/*popup formatting*/
.contact_information{margin-left:35%;}
.large_title{font-size:1.4em; color:#060056;font-weight:bold;text-align:center;margin-bottom:10px;}
p.title{font-weight:bold; text-decoration:underline;margin-top:10px; margin-bottom:10px;}
ul.point_list{list-style-type:disc;padding-left:50px; }
ul.point_list li{display:block; margin-bottom:10px;}
span.indent{width:25px;display:block; float:left;}
.point_header{ font-weight:bold;}