


.appraisal_summaries table {
	font-size:10px;
	margin: 0 10px;
	border-collapse: collapse;
}

.appraisal_summaries td.mad,.appraisal_summaries td.risk {
text-align: center;
}
 
.appraisal_summaries td, .appraisal_summaries th {
	vertical-align: top;
	padding: 3px 5px;
}

.appraisal_summaries thead {
	background-color: #006;
	color: #eee;
}
.appraisal_summaries tr.cust_info td {
	background-color: #ccc;
	border-bottom: solid 2px #006;
		border-top: solid 1px #666;
}
.appraisal_summaries tr.cust_info td strong {
font-size: 10px;
	color: #000;
}

.appraisal_summaries td.appr_value {
	text-align: center;
}
.appraisal_summaries td.pri_book_value {
	text-align: right;
}
.appraisal_summaries td.pri_book_value strong {
	padding-right: 15px;
}


.appraisal_summaries td strong {
	color: #006;
	font-size: 13px;
}


.bottom_deal_link a, .bottom_deal_link a:visited, .bottom_deal_link a:hover { font-size:10px;color: #355fab;text-decoration:none; }
.bottom_deal_link a:visited { color: #667ba3; }
.bottom_deal_link a:hover { text-decoration: underline; }


/********** MAKE-A-DEAL ****************/

#header-left,
.header-left { 
	float:left; 
	}
#header-right,
.header-right { 
	float:right;
	text-align:right; 
	}
	
p.sidelinks { margin-top:5px; }



#potential-deals,
.potential-deals { 
	margin-left:5px;
	margin-right:5px; 
	}
.potential-deals-summary-table { margin:15px 0;background:#f1f5fe;border:1px solid #d3d6de;padding-bottom:5px; }
.potential-deals-summary-table h3 { color:#3d4868;font-weight:normal;font-size:13px;font-family: Georgia, 'Times Roman', serif;padding:2px 0 0 4px; }

.followup_btn { cursor: hand; }
.cancel_btn  { cursor: hand; }

.grouphead { background:#f1f5fe;padding:5px;margin:0 3px 0 0; } /* cfd7e6 f1f5fe */
div.grouphead .count { color:#999; }



.appraisal_review_booklet_summary { 
	width: 50%;
	margin: 5px 0;
	padding: 0; 
	background: url(../images/folder2.gif) top left repeat-y;
	font-size:11px;
	line-height:13px; 
	margin-left: 10px;
	}
	.appraisal_review_booklet_summary .booklet_link {
		text-align: right;
		padding: 4px 20px 0 0;
	}
	
	.appraisal_review_booklet_summary .booklet_attributes,
	.appraisal_review_booklet_summary .booklet_includes {
		margin-left: 10px;
	}
	.appraisal_review_booklet_summary .booklet_includes {
		margin-bottom: 10px;
	}


#header-right .appraisal_review_booklet_summary,
.header-right .appraisal_review_booklet_summary { 
	margin:5px 0;
	padding:0;
	font-size:11px;
	line-height:13px;
	background: none;
	}

#header-right .bucket-top,
.header-right .bucket-top { 
	background:none; 
	}

#header-right .bucket-bottom,
.header-right .bucket-bottom { 
	background:none;
	}

.header-right .appraisal_review_booklet_summary {
	width: 100%;
	margin-left: 0;
}
	.header-right .appraisal_review_booklet_summary .booklet_link {
		text-align: right;
		padding-right: 0;
	}
	.header-right .appraisal_review_booklet_summary .booklet_includes {
		margin-bottom: 5px;
	}




.bucket, .bucket-clear { position:relative;float:left;width:465px;margin:5px 0;padding:0; background: url(../images/folder2.gif) top left repeat-y;font-size:11px;line-height:13px; }
.bucket-clear { clear:left;margin-right:2px;margin-left:3px; }
.bucket-top { background:url(../images/folder_top2.gif) top left no-repeat; }
.bucket {margin:5px 2px 5px 5px; }
.bucket-bottom { background:url(../images/folder_bot2.jpg) bottom left no-repeat; } 
.reviewbtn { float:right; margin-right:14px; margin-top:6px; }
* html .reviewbtn { margin-right:11px; } /* IE positioning */
.vehicle-summary, .additional-info { padding:3px; }
.vehicle-summary span { padding:0 3px; }
div.vehicle-summary p.vehicle-id { font-size:12px;font-weight:bold;line-height:17px; }
.secondary-id { font-size:11px;color:#263047;font-weight:normal; }
.appraisal-date { margin-left:20px;color:#475168;font-size:10px; }
.additional-info { padding:2px 6px 6px 14px;margin:0 15px 0 9px;min-height:1%; }
*html .additional-info{height:1%;}
.additional-info span{ padding:0 5px 0 0;color:#666; font-size:10px; line-height:14px; }
.mad_summary dl{padding:0 5px 0 0;color:#666; font-size:10px; line-height:14px;}
.mad_summary dl dt{ width:105px;padding-top:1px;}
.mad_summary dl dd{padding-top:1px;}
.additional-info .save_button{padding-top:5px; padding-right:1px;float:right;}
.additional-info fieldset {border:1px solid #e8e8e8; padding:2px;}
.additional-info input{font-size:11px;}
.additional-info select{font-size:11px;}
.additional-info dt{width:72px;text-align:right; font-size:10px; padding-top:3px;}
.additional-info dd{ padding-top:3px;}
.additional-info dt.small{width:50px;}
.additional-info dt.large{width:85px;}

.books_header {border:1px solid #ccdbf4;font-weight:bold;font-size:10px; padding:2px;background-color:#fafcf7; color:#333;}
.appraisal_area .books_header{ margin:5px; margin-left:12px;}


.appraisal_area textarea.notes,
.followup-notes textarea.notes { 
	width: 95%; margin: 5px 0 5px 5px; height: 60px; 
	}
.followup-notes textarea { margin-left:0; height: 45px;overflow:auto;color:#999; }



.books_header span {color:#333;}
.rule-matches { border-top:1px solid #d1daf1;border-left:1px solid #d1daf1;padding:6px 20px 6px 12px;background:#fcffd9 url(../images/postit_corner4.gif) bottom right no-repeat;margin:0 15px 0 9px; }
*html .rule-matches{height:1%;}
div.rule-matches .item-issue { background:url(../images/issuearrow.gif) 0 4px no-repeat; font-size:10px;line-height:15px;font-weight:bold;margin-bottom:2px; }
div.rule-matches ul, .item-issue ul { font-size:10px;font-weight:normal;list-style:none;margin:0;padding:1px 0 0 5px; }
div.rule-matches li, .item-issue li { margin:0;padding:0;line-height:12px; }

.followup_btn { float:right;margin:8px 14px 9px 8px;cursor:pointer; }

.followup-notes { position:absolute;z-index:500;border:1px solid #CCC;background-color:#FFF; }

h3.followup { font-weight:normal;font-size:11px;color:#263047;margin:2px 8px 0 0;padding:0; }

.appraisalbox { margin:0px;float:left;padding:0; }
.appraisalbox h4 { font-size:10px;font-weight:bold;color:#666;padding:2px 0px 2px 5px;margin:0;white-space:pre; }
.appraisalbox h4 a { color:#355FAB;font-size:10px;line-height:10px; }

.appraisalbox p, .appraisalbox ul { font-size:10px;padding:6px 10px 6px 6px; }
.appraisalbox ul { list-style-type:none; }
.appraisalbox #appraisal_offer_read, #appraisal_offer_edit { font-size:10px; }
.appraisalbox span { margin-left:10px; }
.customer { width:100%;color:#666; }

#flags,
.flags { 
	margin-top:4px;
	border-left:1px solid #d1daf1;
	border-top:1px solid #d1daf1;
	padding:10px 30px 10px 12px;
	background:#fcffd9 url(../images/postit_corner3.gif) bottom right no-repeat; 
	}

.rulehighlight { color:#fcffd9; }

#appraisal-info, 
.appraisal-info, 
#book-info, 
.book-info, 
#performance-info, 
.performance-info, 
#NAAA-info, 
.NAAA-info, 
#redist-info, 
.redist-info, 
#ta-info, 
.ta-info, 
#followup-info,
.followup-info { 
	margin-bottom:10px;
	clear:both; 
	}
	
#appraisal-info,
.appraisal-info { 
	width:930px; 
	}
#appraisal-container,
.appraisal-container { 
	background:#FFF url(../images/shading.gif) bottom left no-repeat;border:1px solid #ccc; }
.bluebar { background:url(../images/topbluebar.gif) top left repeat-x; }

div.box_light {
	float: left;
	width: 457px;
	margin-right: 10px;	
	border: 1px solid #999;
	background-color: #fff;
	padding: 0;
}

body div.thrid {
	width: 297px;
}

div.box_light h3 {
	border-bottom: 1px solid #b8b8b8;
	background: #d8d8d8 url('../images/box_light_header_grad.jpg') repeat-x top;
	padding: 5px 0 2px 0;
	text-indent: 8px;
	color: #3c3c3c;
	text-transform: uppercase;
}
div.box_light h3 label {
	display: block;
	background: url('../images/box_light_header_arrow.gif') no-repeat 95% 50%;
}
div.box_light h3 label:hover {
	text-decoration: underline;
}
div.box_light div.content {
	padding: 4px 8px 10px 10px;
	overflow: hidden;
}
div.box_light div.content input {
	display: block;
	padding-right: 315px;
}
#pingII_analysis.box_light input {
	padding-bottom: 12px;
}

@media print {
	#pingII_analysis.box_light,
	#edmundsTMV.box_light { display: none; }
}

#book-info,
.book-info { margin-bottom:0px; }

.bookbox { border:1px solid #999;margin:2px;float:left;width:455px;margin-right:5px;padding-bottom:10px; }
.bb { background-color:#d9d9d9; }
    .bblogo { background: url(../images/bbooklogo.jpg) top right no-repeat;height:62px; }
.nada { background-color:#E2D8B9; }
    .nadalogo { background: url(../images/nadalogo_r.jpg) top right no-repeat;height:62px; }
.kbb { background-color:#e4e8f8; }
    .kbblogo { background: url(../images/kbblogo.gif) bottom right no-repeat;height:62px; }
    .kbbValuesTable {width: 100%; border-collapse: collapse;font-size:10px;text-align:center; }
    .kbbBookValuesHeader th{ padding: 2px 0px 2px 4px; background-color: #EEE; border-right: solid 1px #333; border-bottom: dashed 1px #999; border-top: none;font-weight:normal; }
    .kbbValuesTable td{ text-transform:none; padding: 2px; border-right: solid 1px #333; }
    .kbbValuesTable dt, .kbbValuesTable dd {text-transform:none;}
    .kbbValuesTable dt{padding-left:2px; width:75%;text-align:left;}
    .greyTitle{ background-color: #EEE; }
    .kbbTradeIn dt, .kbbTradeIn dd { float:left;width:85px; }
    .kbbTradeIn dd { width:35px; }

.galves { background-color:#93b7dc; }
.galveslogo { background: url(../images/galveslogo.gif) top right no-repeat;height:62px; }
.bookbox h4, .auctionbox h4, .perfbox h4 { font-size:11px;font-weight:normal;color:#000;padding:6px 0 0 6px; }
.bookbox p, .bookbox ul, .auctionbox p { font-size:10px;padding:6px; }
.bookbox ul, 
#performance-info ul,
.performance-info ul { 
	list-style-type:none; 
	}
.bookbox span { margin-left:10px; }
.auctionbox span { margin-left:3px;font-size:10px;font-weight:bold; }
.bookbox table {width:100%;text-align:center;border-collapse:collapse;font-size:10px;background-color:#FFF;border:1px solid #999;padding:3px; }
.bookbox td { border-right:1px solid #333;padding:2px; }
.bookbox .datahead { background-color:#EEE;border-bottom:1px dashed #999;font-size:10px; }
.options {margin-bottom:6px;}
.options ul {margin:0;padding:0;}
a.optionsedit, a.optionsedit:hover, a.optionsedit:active, a.optionsedit:visited { color:#666;text-decoration:underline;}
a.optionsedit:hover {text-decoration:none;}



.options_info li {
	white-space:nowrap;
	margin-left:10px;
	float:left;
	width:40%;
}


p.closedArrow { background:url(../images/arrow_closed2.gif) 3px 7px no-repeat;padding-left:13px; }
p.openArrow { background:url(../images/arrow_open2.gif) 3px 7px no-repeat;padding-left:13px; }
h3.closedArrow { background:url(../images/arrow_closed2.gif) 2px 2px no-repeat;padding-left:11px; }
h3.openArrow { background:url(../images/arrow_open2.gif) 2px 2px no-repeat;padding-left:11px; }



.naaa_form { margin-left:3px; }
.naaa_report table { width:930px;text-align:center;border-collapse:collapse;font-size:10px;background-color:#FFF;border:1px solid #999;padding:3px; }
.naaa_report td { border-right:1px solid #333;padding:2px; }
.naaa_report .datahead { background-color:#EEE;border-bottom:1px solid #333;font-size:11px; }
.auctionbox { border:1px solid #999;margin:2px;width:100%;background-color:#e4e8f8; }


#followup-info, 
.followup-info { 
	margin-top:2px;
	padding:2px;
	width:930px;
	background-color:#d9d9d9;
	border:1px solid #999; 
	}

.perfbox { margin:2px;width:930px;background-color:#d9d9d9;border:1px solid #999; }
.perfbox span { margin-left:5px; }
#insights { color:#EEE;padding:4px;font-size:10px;margin:2px 2px 6px 2px;border:0px solid #CCC;background-color:#fcffd9; }
#insights p { background:url(../images/issuearrow2.gif) 3px 3px no-repeat; font-size:9px;line-height:12px;font-weight:bold;margin-bottom:0px;padding-left:10px;color:#333; }

.trade_analyzer_report h4 {font-weight:bold;font-size:10px;}
.trade_analyzer_report table { margin: 0 2px 2px 2px;width:924px;text-align:center;border-collapse:collapse;font-size:10px;background-color:#FFF;border:1px solid #999;padding:3px; }
.trade_analyzer_report td { border-right:1px solid #333;padding:2px; }
.trade_analyzer_report .datahead { background-color:#EEE;border-bottom:1px solid #333;font-size:11px; }
.trade_analyzer_report_form p { font-size:9px;padding-left:6px;padding-bottom:6px; }
.trade_analyzer_report_results .datahead { background-color:#828282;color:#eee; }

#redist-info, 
.redist-info { 
	width:930px; 
	}
#redist-info table,
.redist-info table { 
	text-align:center;
	border-collapse:collapse;
	font-size:10px;
	border:1px solid #999;
	padding:2px; 
	}
#redist-info td { 
	border-right:1px solid #999;
	padding:2px; 
	}
#redist-info .datahead,
.redist-info .datahead { 
	background-color:#dadada;
	border-bottom:1px dashed #999;
	font-size:10px; 
	}

.redistbox { background:#EEE url(../images/shading2.jpg) bottom left repeat-x; }

.tabox { border:1px solid #999;margin:2px;width:100%;background:#FFF url(../images/shading.jpg) bottom left repeat-x; }
.tabox ul { list-style:none; }
.tabox span { margin-left:5px;font-size:10px; }
.tabox p { font-size:10px;margin:5px; }

#appraisal_preference_float { background-color:white;padding:1px 1px 1px 1px;width:315px; position:absolute;right:5px;top:275px;z-index:1000; }

#appraisal_review_booklet_float { 
	background-color:white;
	padding:1px 1px 1px 1px;
	width:315px; 
	position:absolute;
	right:5px;
	top:275px;
	z-index:1000; 
	}

.informative {color:#999;font-weight:normal;display:block;}

.naaa_form{ margin-bottom:5px;}
.naaa_form select{font-size:10px;}


/* FOLLOW UPS */
#followup-detail-info,
.followup-detail-info { 
	width:385px; 
	font-size:11px; 
	}
#followup-detail-info h2,
.followup-detail-info h2 { 
	font-size:10px;
	color:#263047;
	padding:2px 0 0 0;
	margin:0; 
	}
#followup-detail-info .info,
.followup-detail-info .info { 
	color:#333;
	padding-top:2px; 
	} 

/* trade analyzer form performance plus link headers */

h4.performance_plus_title {padding-top:4px;}
h4.performance_plus_popup {padding-top:4px;}
h4.performance_plus_popup:hover {text-decoration:underline;cursor:pointer;}

/* appraisal review booklet form */

p.print_option {padding: 2px; margin-left: 15px;}
p.print_option_instruction {margin-bottom: 5px;margin-top: 3px;}
p.action {text-align:center;}

tbody.clickable {cursor: pointer;}

/* slider */

#slider { margin-top: 15px; margin-bottom: 5px; width: 295px; }
#track { background-color:#a0b5d0; height:7px; }
* html div#track { overflow:hidden; }
#handle { width:6px; height:15px; background-color:#8590a8; cursor:move; border: 1px black solid; }
* html div#handle { overflow:hidden; }


