
/* CSS for MenuBar generated HTML */

#preference_menu_bar_wrapper {
	background: url(../images/menu_background.gif) no-repeat top left;
	

}


#preference_menu_bar {

}


#preference_menu_bar_wrapper div.container {
    margin-top: 10px;
    }
#preference_menu_bar_wrapper div.container div.container {
    float: left;
	padding-left: 20px;
	padding-top: 20px;
	margin-left: 0px;
}
#preference_menu_bar_wrapper ul.menu_bar_level_0 {
    margin-left: 0;
	padding-left: 0;
	display: inline;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_0 li {
	margin-left: 0;
	margin-bottom: 0;
	width: 95px;
	overflow:  hidden;
	padding: 2px 5px 5px;
	list-style: none;
	display: inline;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_0 li.active {
	border-bottom: 4px solid #aaa;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_1 {
	float: left;
	padding-top: 10px;
	margin-top: 10px;
	margin-left: 0;
	padding-left: 0;
	border-right: 1px solid #b6b7b7;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_1 li {
    margin-left: 0;
	margin-bottom: 0;
	padding: 2px 15px 5px;
	text-align: right;
	list-style: none;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_1 li.active {
	border-right: 4px solid #aaa;

    }
#preference_menu_bar_wrapper ul.menu_bar_level_2 {
    margin-left: 0;
	padding-left: 0;
	display: inline;
	border-bottom: 1px solid #b6b7b7;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_2 li {
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 15px 5px;
	list-style: none;
	display: inline;
    }
#preference_menu_bar_wrapper ul.menu_bar_level_2 li.active {
	border-bottom: 4px solid #aaa;

    }

/* Table Menu CSS */

#table_menu {
    margin: 5px 0px 5px 1em;
}
#table_menu ul {
    list-style: none;
    }
#table_menu ul ul {
    position: relative;
    display: none;
    }
#table_menu ul li:hover ul {
    position: absolute;
    display: block;
    z-index: 3001;
    cursor: pointer;
    background-color: #fff;
    }
#table_menu .table_command {
    margin-right: 10px;
    margin-left: 10px;
    }

p.information {
	font-size: 11px;
	line-height: 16px;
}
p.instruction {
	padding: 0em 2em;
	font-style: oblique;
	font-size: 10px;
	line-height: 14px;
	color: #666;
}
p.input {
	font-size: 10px;
	line-height: 14px;	
}
table.preference_table {
	font-size: 11px;
	line-height: 16px;
}
/* Quick CSS for simple label/input layout */

div.off {
	display: none;
	}
.c {
	clear: both;
	}
.l {
	float: left;
	width: 250px;
	}
.i {
	margin-left: 0.5em;
	}
.l_l {
	float: left;
	width: 16em;
	}
.l_i {
	margin-left: 0.5em;
	}
.r_l {
	margin-left: 0.5em;
	}
.r_i {
	float: left;
	width: 1.5em;
	}

#business_unit_planning_category .l {
    width: 6em;
    }

#quicklinks div {
    width: 220px;
    float: left;
    background-image: url(../images/arrow_down.gif);
    -x-background-x-position: left;
    -x-background-y-position: center;
    background-repeat: no-repeat;
    padding-left-value: 20px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-bottom: 3px;
    vertical-align: top;
    font-size: 95%;
    }

#quicklinks a {
    margin-left: 10px;
    }

/* CSS for the Planning Category Configuration */

#planning_menu_container {
    /* hack <cough, cough> */
    width: 700px;
    }

/* CSS for the Planning Category Table */

#planning_category_table_lhs {
    float: left;
    padding: 0.5em;
    }
#planning_category_table_rhs {
    float: left;
    padding: 0.5em;
    }
#planning_category_table_cell #submit{
    font-size:.9em; 
    float:right;
    }
#planning_category_table_cell{
    margin-top:10px;
    }
#planning_category_table_cell .options{
    border-top:1px solid #cccccc;
    }

#planning_category_table_container div.management_float {
    width: 300px;
    }

.end-of-line {
    clear: both;
    }
.line {
    float: left;
    }
    
td.on  {
    background-color: green;
    }
td.off {
    /* TODO: remove */
    }

div.buttons {
    /* TODO: remove */
    }
div.title {
    margin: 5px;
    }

input.age {
    width: 1.2em;
    }
th.age {
    width: 1.3em;
    }

/* CSS for the managers */

#third_party_menu_container .header {
    display: none;
    }

#planning_act_management_container .header {
    display: none;
    }

#preference_menu_bar_container .header {
    display: none;
    }
#preference_menu_bar_container .menu_bar_level_1 {float:left;width:233px}
#preference_menu_bar_container #targets_menu_container {float:left;width:610px;}

/* CSS for the Make a Deal Rules table etc */

table.appraisal_review_preferences {font-size: 11px; border-collapse: collapse; border-spacing: 2px;}
table.appraisal_review_preferences td, table.appraisal_review_preferences th {padding: 2px;}
table.appraisal_review_preferences th {border-bottom: 1px dashed #ccc; text-align: left;}
table.appraisal_review_preferences td {border-bottom: 1px dashed #ccc;}
table.appraisal_review_preferences td label {margin-left: 3px;}
table.appraisal_review_preferences td.submit {text-align:center;padding:5px;border:0px;}

table.current_inventory_day_supply {border-collapse: separate; border-spacing: 3px; font-size:11px;}
table.current_inventory_day_supply td, table.current_inventory_day_supply th {padding:3px;padding-left:5px;text-align:center;}
table.current_inventory_day_supply th.blank {font-weight:bold;width:25%;}
table.current_inventory_day_supply th.title {font-weight:bold;border-bottom: 1px solid #000;width:25%;}
table.current_inventory_day_supply td.name {text-align:right;}
table.current_inventory_day_supply td.data {}
table.current_inventory_day_supply td.action {text-align:left;}

table.current_inventory_short_leash {border-collapse: separate; border-spacing: 3px; font-size:11px;}
table.current_inventory_short_leash td, table.current_inventory_short_leash th {padding:3px;padding-left:5px;text-align:center;}
table.current_inventory_short_leash th.title {width:33%;font-weight:bold;border-bottom:1px solid #000;}
table.current_inventory_short_leash td.name {}
table.current_inventory_short_leash td.data {}
table.current_inventory_short_leash td.data span {font-size: 10px;}
table.current_inventory_short_leash td.action {padding-top:8px;}
table.current_inventory_short_leash td.action input {margin-left:10px;margin-right:10px;}

#preference_menu_bar_wrapper h4.section {margin-top:15px;}
#preference_menu_bar_wrapper h4.first {margin-top:5px;}
#preference_menu_bar_wrapper p.input {clear:both;margin-top:5px;padding-left:2em;}
#preference_menu_bar_wrapper p.input label {float:left;width:250px;}
#preference_menu_bar_wrapper p.input span {float:left;}
#preference_menu_bar_wrapper p.input span span {font-size:10px; position:relative;float:none;}
#preference_menu_bar_wrapper p.input span label {width:auto;margin-left:5px;}
#preference_menu_bar_wrapper p.instruction {clear:both;margin-top:3px;}
#preference_menu_bar_wrapper p.action {text-align:center;clear:both;position:relative;top:10px;}
#preference_menu_bar_wrapper p.action input {margin-left:10px;margin-right:10px;}
#preference_menu_bar_wrapper p.information {clear:both;margin-top:8px;}
#preference_menu_bar_wrapper p.first {margin-top:2px;}
