
/* 
/// static TEMPLATE content
*/
#print_template_content { display: none; }

/* static top */
.dealer_name {
	string-set: DEALER_NAME content();
	}
.date {
	string-set: DATE content();
	}

/* static bottom */
.copyright { 
	string-set: COPYRIGHT content(); 
	}

/* 
/// dynamic TEMPLATE content
*/
body {
	counter-reset: report;
}
h1 { 
	string-set: DOC_HEADER content();
	display: none;
	}
#toc caption {
	text-align: left;
	font-family: "Georgia", serif;
	font-size: 11.5pt;
	font-weight: normal;
	flow: static(HEADER);
}
	#toc caption::before {
		display: block;
		content: '\A' string(DOC_HEADER);
		}
	#toc caption::before {
		font-family: "Verdana", sans-serif;
		font-weight: bold;
		font-size: 12.5pt;
		}

h2 {
	font-family: "Georgia", serif;
	font-size: 12pt;
	font-weight: normal;
	flow: static(HEADER);
}
	h2::before {
		display: block;
		content: '\A' string(DOC_HEADER);
	}
	h2::before {
		font-family: "Verdana", sans-serif;
		font-weight: bold;
		font-size: 12.5pt;
	}


/* 
/// PAGE LAYOUT
*/

@page {
	size: 8.5in 11in;
	padding: 12pt 0;
	margin: 0.6in 0.25in 0.5in 0.25in;
	border-style: solid;
	border-color: #999;
	border-width: 0.25pt 0;
	font-family: "Verdana";

	@top-left {
		padding-top: 12pt;
		vertical-align: top;
		content: flow(HEADER);
		}
	/* */
	@top-right {
		font-family: "Verdana";
		padding-bottom: 4pt;
	 	white-space: pre;
		vertical-align: bottom;		
	   	font-size: 8pt;
	    content: string(DEALER_NAME) 
				 '\A' 
				 string(DATE);
	  	}
 	@bottom-left {
		margin-top: 3pt;
		/*
		*/
		vertical-align: top;
		content: string(COPYRIGHT);
		font: 8pt "Arial", sans-serif;
		color: #666;
		}
	@bottom-center {
		/*
		margin-top: .165cm;
		*/
		vertical-align: top;
		font: 10pt "Georgia", serif;
		content: counter(page);
		font-weight: normal;
		}
	@bottom-right {
		margin-top: 1pt;
		vertical-align: top;
		content: url('http://images.firstlook.biz/max/images/print/fllogo.png');
	}
}

select {
	display: none;
}

/* /// PRINT DEFAULTS
*/
body {
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 10pt;
	margin: 0;
}

h3 {
	font-size: 12pt;
	color: #4e5b7b;
	}
form { display: inline; }

/* /// TOC
*/
#toc {
	width: 50%;
	margin:0;
	padding: 0;
}
	#toc td {
		font-size: 12pt;
		padding: 6pt;
		padding-left: 0;
	}
	#toc a {
		display: inline-block;
		width: 90%;
		text-decoration: none;
	}
	#toc a::after {
		content: leader('.') target-counter(attr(href), page);
	 	font-style: normal;
	}

