#wrapper { background:#FFF url(/images/); }
#header,#global_menu_bar_container,#topstatus { display:none; }
#flags { border:1px solid #666; }
.rule-matches{ border:1px solid #999;background:#FFF url(/images/); }
.sidelinks {display:none; }
.secondary-id input { display:none; }
.grouphead { background:#FFF;padding:3px 0;margin:0; }
.grouphead a { display:none; }
.potential-deals-summary-table { margin:0;background:#FFF;border:0px; }
.bucket-clear, .bucket { position: static; float: none; background: url(/images/folder_print2.gif) top left repeat-y;  }
.bucket-top { background:url(/images/folder_top_print2.gif) top left no-repeat; }
.bucket-bottom { background:url(/images/folder_bot_print2.gif) bottom left no-repeat;border-bottom:1px solid #999; } 
.reviewbtn, .bottom_deal_link, .followup_btn, .followupbutton, .viewdeals { display:none;margin:0;padding:0; }
.followup { display:none; }
#appraisal-container { background-image: none; }
.informative { color:#333; }
.clearfix p input { display:none; }
#insights { border:1px solid #333; }
#redistTable table { background-color:#FFF; }
#trade_analyzer_report { background-color:#FFF; }
#rule_value_performance { background-color:#FFF; }
#perfBox, .perfbox { background-color:#FFF; }
#followup-info h4 a, #followup-info h4 span { display:none; }
#auctionBox div p a { display:none; }
#redistTwist { padding-bottom:3px; }