#RB_overlay {
  position: absolute;
  z-index:10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height:100%;
  background-color: #000;
  opacity: .3;
  filter: alpha(opacity=30);
}

#RB_redbox {
  width: 100%;
  position: absolute;
  top: 0px;
}

#RB_loading {
  position: relative;
  top: 200px;
  z-index: 10001;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  background: #666 url(../images/redbox_spinner.gif) no-repeat center center;
  border: 2px solid black;
}

#RB_window {
  z-index: 10002;
  background-color: #FFFFFF;
  display: block;
  text-align: left;
  overflow: hidden;
  margin: 20px auto 0 auto;
  position: absolute;  
}
