
.model_years ul {
	display: inline;
}
.model_years ul li {
	display: inline;
	list-style: none;
}
.risk_category{
   clear:none;
  
}

.colors ul {
	display: inline;
	clear:none;
}
.colors ul li {
	display: inline;
	list-style: none;
}

.vehicles ul li {
    display: inline;
}
div.model{
    padding:3px;
}
.name_search_criterion_container fieldset{
    border:1px solid #dddddd;
    padding:5px;
    height:179px;
    display:block; clear:none;
}
li.make {
    list-style: none;   
}

li.line {
    list-style: none;   
    width: 12em;    
    font-size:.8em;
    display:block;
}
li.line input{
    width:12px;
    height:12px;
}
.search_criterion_container{
    height:1%;
    
}
.name_search_criterion_container ul{
    list-style:none;
}
div.name_search_criterion_container{
    margin-top:10px;
    margin-bottom:10px;
    background-color:#ffffff;
    width:475px;
   
}
div.name_search_criterion_container label{
    font-size:.8em;
   }
 .search_header{   
   
    padding-top:1px;
    height:1%;
    background: transparent url('../images/searchheader.gif') repeat-x;
    font-size:11px;
    color:#666666;
    clear:both;
    border-bottom:1px solid #cccccc;
   
}
div.clear{
    text-align:right;
}
div.name_search_criterion_container .next_search{

    padding:3px; 
    text-align:right;
}
 .search_header .header_left{

    float:left;
    background:transparent url('../images/searchheader_left.gif') no-repeat;
    padding:5px 5px 5px 8px;
    margin-top:-1px;
    padding-bottom:3px;
}
.search_header .name_search_criterion{
    padding:5px 8px 5px 5px;    
    float:right;
    background:transparent url('../images/searchheader_right.gif') no-repeat right;
    margin-top:-2px; 
    padding-bottom:2px;      
}
div.name_search_criterion_container .search_footer{
        text-align:right;
        padding:5px;
        background-color:#f6f6f6;
        border-right:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-top:1px solid #cccccc;
        border-bottom:1px solid #cccccc;
        clear:both;
}
.parent_search_node{   
    font-size:10px; 
    font-weight:bold;    
    text-indent:12px;
    cursor:pointer;
}
.expanded{
    background:transparent url('../images/expanded_node.gif') no-repeat left;
    margin-bottom:-1px;
}
.contracted{
     background:transparent url('../images/contracted_node.gif') no-repeat left;
     margin-bottom:0px;
}
.empty{
     background:transparent url('../images/empty_parent_node.gif') no-repeat left;
     margin-bottom:0px;
}
.child_search_node{
     background:transparent url('../images/child_branch.gif') no-repeat left;
     text-indent:15px; 
     margin-left:3px; 
     font-size:9px; 
     cursor:pointer;
    /* margin-bottom:-1px;*/
 }
 .hilighted_node{
 
    background-color:#ffff99;
   
 }
 .selected_node{
 
    background-color:#dde4fc;
   
 }
 .last_node{
    background:transparent url('../images/last_child_branch.gif') no-repeat top left;
 }
#search_summary{
    font-size:.8em;
    text-align:left;
  }
 #search_navigation{
 
 float:left;
 padding:5px;
 width:123px;
 height:200px;
 overflow-y:auto;
 border-right:1px solid #cccccc; 
 border-left:1px solid #cccccc; 
 clear:both;

 } 
/*search criteria load popup*/
#load_search_criterion{

    border:1px solid #cccccc;
    font-size:.8em;
}
#load_search_criterion div{
    padding:4px;
}
#load_search_criterion .header{
    
    border-bottom:1px solid #cccccc;
    background-color:#cccccc;
    
}
#load_search_criterion .footer{
   text-align:right;
  
}
.slider_track{
    width:200px;
    height:50px;
    background:url('../images/slider_background.gif');
    border-right:1px solid #666666;
    border-left:1px solid #666666;
    margin:10px;
    margin-left:20px;
}
.slider_track .handle{
    width:10px;
    height:25px;

}
.search_body_container{
    float:right;
    clear:none;
    height:210px;
    border-right:1px solid #cccccc;
}

.tab_content { width:310px;}
input.number{width:100px;}
input.check{width:11px; height:11px;}
dt{float:left;}