
@import url('reset.css');

/* ////
	STANDARD page containers */
body {
	background-color: white;
}



/* HEADER 
	= dealer name and page title */
#header { 
	width: 100%;

}

#header h1,
#header p { 
	margin-left: 15px; 
}
#header p { 
	margin-top: 5px; 
}




/* BODY 
	= primary page container */
#body {

}

/* FOOTER
	=  */
#footer {

}





	
