
body,
p,
table,td,th,caption,
ul,ol,li,
dl,dd,dt,
h1,h2,h3,h4,h5,h6,
pre,blockquote,
form,fieldset,legend,input,select { 
	margin: 0;
	padding: 0;
}

table,
fieldset,
img {
	border: none;
}



h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	}

form {
	display: inline;
}


ul,li { 
	list-style: none; 
	list-style-position: outside; 
}



cite {
	font-style: normal;
}

select, input, textarea {
	vertical-align: middle;
}

caption,th {
	text-align: left;
}
    