
#sticker * {
	font-size: 110%;
	font-family: Arial, serif;
	font-weight: bold;
	text-align: center;
	border: none;
}

/* COMMON rules */
#sticker .vehicle {
	font-size: 120%;
}
#sticker .dealer,
#sticker .price {
	font-size: 180%;
}
	.price strong {
			float: right;
	}
	.price span {
			float: left;
	}	
	#sticker .book strong {
		text-align: right;
		width: auto;
	}
#sticker .legal {
	font-size: 70%;
	text-align: center;
}
	.equipment strong, 
	.equipment br {
		display: none;
	}
	#sticker .equipment .col {
		float: left;
		text-align: left;
		width: 40%;
		list-style: none outside;
	}
	.equipment .f {
			float: left;
		}
	.equipment .l {
		
	}
		#sticker .equipment .col li {
			display: block;
			text-align: left;
		}
		

/* SCREEN 
		measurements */
@media screen {
	#sticker .book,
	#sticker .equipment {
		font-size: 120%;
	}
	#sticker .dealer {
		display: none;
	}	
	#sticker .vehicle {
		margin-top: -282px;
		width: 360px;
		margin-left: -72px;
	}
	#sticker .engine {
		margin-top: -254px;
		width: 360px;
		margin-left: -72px;
	}
	#sticker .mileage {
		margin-top: -234px;
		margin-left: -72px;
	}
	#sticker .snum {
		margin-top: -220px;
		margin-left: -72px;
	}
	#sticker .color {
		margin-top: -206px;
		margin-left: -72px;
	}
	#sticker .transmission {
		margin-top: -234px;
		margin-left: 64px;
	}
	#sticker .vin {
		margin-top: -220px;
		margin-left: 64px;
	}
	
	
	#sticker .equipmentHeader {
		margin-top: -160px;
		width: 360px;
		margin-left: -72px;
		}
	#sticker .equipment {
		margin-top: -144px;
		width: 75%;
		margin-left: -72px;
	}	
	#sticker .details {
		min-width: auto;
		width: 50%;
		margin-left: -25%;
		margin-top: -144px;
	}
	#sticker .price {
		font-size: 200%;
		margin-top: 280px;
		width: 50%;
		margin-left: -25%;
	}
	#sticker .book {
		display: none;
	}
	#sticker .legal {
		display: none;
	}
}

/* PRINT 
		measurements */
@media print {
	
	#sticker .details,
	#sticker .equipment,
	#sticker .book {
		font-size: 115%;
	}
	#sticker .dealer {
		display: none;
	}	
	#sticker .vehicle {
		margin-top: -3.92in;
		width: 5in;
		margin-left: -1in;		
	}
	#sticker .engine {
		margin-top: -3.53in;
		width: 5in;
		margin-left: -1in;
	}
	#sticker .mileage {
		margin-top: -3.25in;
		margin-left: -1in;
	}
	#sticker .snum {
		margin-top: -3.06in;
		margin-left: -1in;
	}
	#sticker .color {
		margin-top: -2.86in;
		margin-left: -1in;
	}
	#sticker .transmission {
		margin-top: -3.25in;
		margin-left: 0.9in;
	}
	#sticker .vin {
		margin-top: -3.06in;
		margin-left: 0.9in;
	}
	
	
	
	#sticker .equipmentHeader {
		margin-top: -2.22in;
		width: 5in;
		margin-left: -1in;
		}
	#sticker .equipment {
		width: 6in;
		margin-left: -1in;
		margin-top: -2in;
	}	
	#sticker .details {
			width: 3in;
			margin-left: -1.5in;
			margin-top: -2in;
	}
	#sticker .price {
		font-size: 240%;
		margin-top: 3.89in;
		width: 4.5in;
		margin-left: -2.25in;
	}
	#sticker .book {
		display: none;		
	}	
	#sticker .legal {
		display: none;
	}

}

