﻿table, td
{
    border: 1px solid #CCC;
    border-collapse: collapse;
    font: small/1.5 "Tahoma" , "Bitstream Vera Sans" , Verdana, Helvetica, sans-serif;
}
table
{
    border: none;
    border: 1px solid #CCC;
}
thead th, tbody th
{
    background: #FFF url(Images/th_bck.gif) repeat-x;
    color: #666;
    padding: 5px 10px;
    border-left: 1px solid #CCC;
}
tbody th
{
    background: #fafafb;
    border-top: 1px solid #CCC;
    text-align: left;
    font-weight: normal;
}
tbody tr td
{
    padding: 5px 10px;
    color: #666;
    background: #efefef;
}
tbody tr:hover
{
    background: #FFF url(Images/tr_bck.gif) repeat;
}
tbody tr:hover td
{
    color: #454545;
}
tfoot td, tfoot th
{
    border-left: none;
    border-top: 1px solid #CCC;
    padding: 4px;
    background: #FFF url(Images/foot_bck.gif) repeat;
    color: #666;
}
caption
{
    text-align: left;
    font-size: 120%;
    padding: 10px 0;
    color: #666;
}
table a:link
{
    color: #666;
}
table a:visited
{
    color: #666;
}
table a:hover
{
    color: #003366;
    text-decoration: none;
}
table a:active
{
    color: #003366;
}
