
  #Header {
    background-color: #900;
  }

  #Header h1 {
    color: #fc0;
  }

  #P2P_selector {
    border: 1px solid #fff;
    color: #fc0;
  }

  #Header h3, #Header h3 a:link, #Header h3 a:visited {
    color: #fff;
  }

  #Header h3 a:hover {
    color: #fc0;
    background-color: #600;
  }

  #Header h3 a.current:link, #Header h3 a.current:visited {
    color: #fc0;
  }

  #Header h3 a.current:hover {
    color: #fc0;
    background-color: #900;
  }

  #Header h1 a:link, #Header h1 a:visited {
    color: #fc0;
    text-decoration: none;
  }

  #Header h1 a:hover {
    color: #fc0;
    background-color: #900;
    text-decoration: underline;
  }

  #Header h1 span {
    color: #fff;
  }

  #Tabs a:link, #Tabs a:visited {
    background-color: #c00;
    color: #fff;
    border: 1px solid #900;
    border-bottom: 1px solid #c00;
  }

  #Tabs ul#MainTabs a:link.current, #Tabs ul#MainTabs a:visited.current,
  div#CategoryList a.current:link, div#CategoryList a.current:visited {
    color: #900;
  }

  #Tabs a:hover {
    color: #fc0;
    background-color: #600;
    border-bottom: 1px solid #600;
  }

  #Tabs li#AdminTab a:link, #Tabs li#AdminTab a:visited {
    color: #fff;
    background-color: #900;
    border-bottom: 1px solid #900;
    text-decoration: underline;
  }

  #Tabs li#AdminTab a:hover {
    color: #fc0;
  }

  #Tabs li#AdminTab a.current {
    color: #fc0;
    text-decoration: none;
  }
