
/*Fat Erik's Breadcrumbs*/
#crumblist
{
list-style: none;
padding: 0;
margin: 0;
}

#crumblist li
{
display: inline;
padding: 0;
margin: 0;
}

#crumblist li:before { content: "> "; }
#crumblist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/

/*Win IE browsers - hide from Mac IE\*/
* html #crumblist { height: 1%; }

* html #crumblist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #crumblist li:first-child { background-image: none; }