#sections #navcontainer
{
background: black;
border-top: 1px solid #9CC;
font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#sections #navlist
{
list-style: none outside none;
margin: 0;
padding: 0;
}

@media all {
#sections #navlist {
text-align: center
}
}

#sections #navlist li
{
bottom: 11px;
display: inline;
line-height: 1.2em;
margin: 0;
padding: 0;
position: relative;
}

html>body #sections #navlist li
{
background: #000;
margin: 0 3px 0 0;
padding: 4px 0px 4px 0;
}

#sections #navlist a, #sections #navlist a:link, #sections #navlist a:visited
{
background: #900;
border: 1px solid #FFF;
bottom: 2px;
color: #FFF;
cursor: pointer;
display: inline;
height: 1em;
margin: 0;
padding: 3px 5px 3px 5px;
position: relative;
right: 2px;
text-decoration: none;
font-weight: bold;
}

#sections #navlist a:hover
{
background: #C00;
bottom: 1px;
color: #FFF;
position: relative;
right: 1px;
}

#sections #navlist a:active
{
background: #999;
bottom: 0px;
color: #FFF;
position: relative;
right: 0px;
}

#sections #navlist li#active
{
background: black;
bottom: 13px;
display: inline;
margin: 0 3px 0 0;
padding: 0;
position: relative;
}

html>body #sections #navlist li#active
{
background: #000;
margin: 0 4px 0 4px;
}

#sections #navlist #active a, #sections #navlist #active a:link, #sections #navlist #active a:visited, #sections #navlist #active a:hover
{
background: black;
border-bottom: none;
border-left: 1px solid #9CC;
border-right: 1px solid #9CC;
border-top: 1px solid #9CC;
bottom: 0;
color: #FFF;
cursor: text;
margin: 0;
padding: 2px 5px 0 5px;
position: relative;
right: 0;
}