body { 
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: small;
  width: 800px;
  border: 1px solid black;
  
}

#breadcrumb {  
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  font-style: italic;
  font-weight: bold;
}

#subsections {
  float: left;
  width: 780px;
  height: 38px;
  padding-top: 10px;
}
  
#content {
  clear: both;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	border: 1px solid #ccc;
	display: inline-block;
}
#content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html #content {
	height: 1%;
}	

.left-content {
  float: left;
}

.right-content {
  float: right;
}

.section {
  padding: 2px;
  width: 376px;
  margin: 2px;
  padding-bottom: 10px;
  overflow: auto;
  padding-left: 5px;
  margin-top: 10px;
  border: 2px solid gray;
  background: white;
}

.wide {
  width: 772px;
}

.section div {
  clear: both;
  height: auto;
  padding-bottom: 5px;
  text-align: left;
}

.section div .fieldLabel {
  height: auto;
  width: 130px;
  float: left;
  text-align: right;
  margin: 0px;
  padding-right: 5px;
  font-size: 9pt;
  font-weight: bold;
}

.section div .sourceLabel{
	font-weight: normal;
}
.section h2 {
  float: left;
  margin-top: 1px;
  text-align: left;
}

.section h3 {
  text-align: center;
  padding-bottom: 4px;
}

.section .editLink {
  float: right;
  padding: 5px;
}

.section .formButtons {
  float: right;
  padding: 5px;
}

.statement td {
  border: 1px solid black;
}

.section h3 {
  clear: both;
}

.section label {
  clear: both;
}

  a:link, a:visited {
    color: #03c;
  }

  a:hover {
    color: #fff;
    background-color: #03c;
  }

#associateMembers li {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #aaa;
}

.errorMessage {
  color: red; 
}