#tablist
{
border-bottom: 1px solid #ccc;
margin: 0;
padding-bottom: 19px;
}

#tablist ul, #tablist li
{
display: inline;
list-style-type: none;
margin: 0;
padding: 0;
}

#tablist a:link, #tablist a:visited
{
background: #E8EBF0;
border: 1px solid #ccc;
color: #666;
float: left;
font-size: small;
font-weight: normal;
line-height: 14px;
margin-right: 3px;
padding: 2px 10px 2px 10px;
text-decoration: none;
}

#tablist a:link#current, #tablist a:visited#current
{
background: #fff;
border-bottom: 1px solid #fff;
color: #000;
}

#tablist a:hover { color: #f00; }

body.section-1 #tablist li#nav-1 a,
body.section-2 #tablist li#nav-2 a,
body.section-3 #tablist li#nav-3 a,
body.section-4 #tablist li#nav-4 a
{
background: #fff;
border-bottom: 1px solid #fff;
color: #000;
}

#tablist #subnav-1,
#tablist #subnav-2,
#tablist #subnav-3,
#tablist #subnav-4
{
display: none;
width: 90%;
}

body.section-1 #tablist ul#subnav-1,
body.section-2 #tablist ul#subnav-2,
body.section-3 #tablist ul#subnav-3,
body.section-4 #tablist ul#subnav-4
{
display: inline;
left: 10px;
position: absolute;
top: 95px;
}

body.section-1 #tablist ul#subnav-1 a,
body.section-2 #tablist ul#subnav-2 a,
body.section-3 #tablist ul#subnav-3 a,
body.section-4 #tablist ul#subnav-4 a
{
background: #fff;
border: none;
border-left: 1px solid #ccc;
color: #999;
font-size: smaller;
font-weight: bold;
line-height: 10px;
margin-right: 4px;
padding: 2px 10px 2px 10px;
text-decoration: none;
}

#tablist ul a:hover { color: #f00 !important; }

#contents
{
background: #fff;
border: 1px solid #ccc;
border-top: none;
clear: both;
margin: 0px;
padding: 15px;
} 


#newDMSField {
	border: 2px solid black;
	width: 220px;
	padding: 10px;
	background-color: white;
}
