
#sticker * {
	font-size: 110%;
	font-family: Arial, serif;
	text-align: left;
	border: none;
}

#sticker .color,
#sticker .transmission,
#sticker .snum,
#sticker .vin,
#sticker .equipmentHeader,
#sticker .price span {
	text-transform: uppercase;		
}

#sticker .equipment {
	text-transform: capitalize;
}

/* COMMON rules */
#sticker .equipment .col {
	float: left;
	text-align: left;
	width: 49%;
	list-style: none outside;
}
.equipment .f {
	float: left;
}
#sticker .equipment .col li {
	display: block;
	text-align: left;
}
		
/* ========== */
/* = Hidden = */
/* ========== */
#sticker .equipment br,
#sticker .equipment strong,
#sticker .engine,
#sticker .legal,
#sticker .mileage,
#sticker .book {
	display: none;
}


/* SCREEN
		measurements */
@media screen {
	/* ============= */
	/* = Font-Size = */
	/* ============= */
	#sticker .vehicle {
		font-size: 160%;
	}	
	#sticker .equipmentHeader {
		font-weight: bold;
		font-size: 125%;
	}
	#sticker .details,
	#sticker .equipment,
	#sticker .book {
		font-size: 110%;
		line-height: 2;
	}
	#sticker .price span {
		text-align: right;
		display: block;
		font-size: 38%;
	}
	#sticker .price {
		text-align: right;
		font-size: 500%;
	}
	
	/* =============== */
	/* = x-positions = */
	/* =============== */
	#sticker .vehicle,
	#sticker .engine,
	#sticker .mileage,
	#sticker .snum,
	#sticker .color,
	#sticker .equipmentHeader,
	#sticker .equipment,
	#sticker .price {
		margin-left: -72px;
	}
	#sticker .transmission,
	#sticker .vin {
		margin-left: 64px;
	}
	#sticker .details {
		margin-left: -25%;
	}
	
	/* =============== */
	/* = y-positions = */
	/* =============== */
	#sticker .vehicle {
		margin-top: -250px;
	}
	#sticker .engine {
		margin-top: -254px;
	}
	#sticker .vin,
	#sticker .snum {
		margin-top: -200px;
	}
	#sticker .transmission,
	#sticker .color {
		margin-top: -186px;
	}
	#sticker .equipmentHeader {
		margin-top: -160px;
	}
	#sticker .equipment,
	#sticker .details {
		margin-top: -144px;
	}
	#sticker .price {
		margin-top: 220px;
	}
	
	/* ========== */
	/* = widths = */
	/* ========== */
	#sticker .vehicle,
	#sticker .engine,
	#sticker .equipmentHeader,
	#sticker .equipment,
	#sticker .price {
		width: 340px;
	}
}

/* PRINT
		measurements */
@media print {
	/* ============= */
	/* = Font-Size = */
	/* ============= */
	#sticker .vehicle {
		font-size: 160%;
	}	
	#sticker .equipmentHeader {
		font-weight: bold;
		font-size: 125%;
	}
	#sticker .details,
	#sticker .equipment,
	#sticker .book {
		font-size: 110%;
		line-height: 2;
	}
	#sticker .price span {
		text-align: right;
		display: block;
		font-size: 38%;
	}
	#sticker .price {
		text-align: right;
		font-size: 500%;
	}

	/* =============== */
	/* = x-positions = */
	/* =============== */
	#sticker .vehicle,
	#sticker .engine,
	#sticker .mileage,
	#sticker .snum,
	#sticker .color,
	#sticker .equipmentHeader,
	#sticker .equipment {
		margin-left: -1.20in;
	}
	#sticker .price {
		margin-left: -1.30in;
	}
	#sticker .transmission,
	#sticker .vin {
		margin-left: 1in;		
	}
	#sticker .details {
		margin-left: -1.75in;
	}
	#sticker .book {
		margin-left: -0.73in;
	}

	/* =============== */
	/* = y-positions = */
	/* =============== */
	#sticker .vehicle {
		margin-top: -2.8in;
	}
	#sticker .color,
	#sticker .transmission {
		margin-top: -2.2in;
	}
	#sticker .snum,
	#sticker .vin {
		margin-top: -2.01in;
	}
	#sticker .equipmentHeader {
		margin-top: -1.7in;
	}
	#sticker .details,
	#sticker .equipment {
		margin-top: -1.55in;
	}
	#sticker .price {
		margin-top: 3.13in;
	}

	/* ========== */
	/* = widths = */
	/* ========== */
	#sticker .vehicle,
	#sticker .engine {
		width: 4.71in;
	}
	#sticker .equipmentHeader,
	#sticker .equipment,
	#sticker .price {
		width: 4.71in;
	}
	#sticker .details {
		width: 3in;
	}
	#sticker .vin,
	#sticker .snum,
	#sticker .transmission,
	#sticker .color {
		width: 2.5in; /* Needed to prevent wrapping in IE6, PM */
	} 
}