﻿@using System.Globalization
@model Wanamaker.WebApp.Areas.ExternalCredentials.Models.OutputModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>External Credential Listing.  Administrators only.</h1>
<br/>

@{ 
    Write(Model.BusinessUnitId.ToString(CultureInfo.InvariantCulture));
}

<h1>OEM Sites</h1>

@foreach (var c in Model.OEMCredentials)
{
    <div><span>Credential Type:  @c.TypeId</span></div>
    <div><span>Sub TypeId:  @c.TypeId</span></div>
    <div><span>Description:  @c.TypeDescription</span></div>
    <div><span>Username:  @c.Username</span></div>
    <div><span>IsValid:  @c.IsValid</span></div>
    <div><span>Credential Json: @Newtonsoft.Json.JsonConvert.SerializeObject(c)</span></div>
    <br/>
}


<h1>Listing Sites</h1>
@foreach (var c in Model.SiteCredentials)
{
    <div><span>Credential Type:  @c.TypeId</span></div>
    <div><span>Sub TypeId:  @c.TypeId</span></div>
    <div><span>Description:  @c.TypeDescription</span></div>
    <div><span>Username:  @c.Username</span></div>
    <div><span>IsValid:  @c.IsValid</span></div>
    <div><span>Credential Json: @Newtonsoft.Json.JsonConvert.SerializeObject(c)</span></div>
    <br/>
}