﻿
.mastheadLogo {
  background: url(Images/logo_Max_BMW.png?v=4) no-repeat scroll 0 0 transparent;
  width:237px;
}

#Dashboard .mastheadLogo {
	background-image: url(Images/logo_Max_Dashboard_BMW.png?v=4);
	width:244px;
}
.ApprovalSummary .mastheadLogo {
  background: url(Images/logo_MAX_AD_BMW.png?v=4) repeat-x scroll 0 0;
  width:  202px;
}
