﻿/* ----------------------------------------------------------- //
   CSS Reset
// ----------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight:normal;
	font: inherit;
	vertical-align: baseline;
}

a::-moz-focus-inner, img::-moz-focus-inner, input::-moz-focus-inner { border:0 !important; outline:0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	overflow-y:scroll;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { outline:0; }

/* clearfix class */
.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clearfix:after { clear:both; content:" "; display:block; font-size:0; height:0; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }


/* ----------------------------------------------------------- //
   Layout
// ----------------------------------------------------------- */

a.undo { float:right; margin-right:0.5em; }

table.data { empty-cells:show; }
table.data td { padding:0.5em 8px; text-overflow:ellipsis; overflow:hidden; vertical-align:middle; }

input.pageButton { display:inline-block; height:42px; overflow:visible; width:148px; }
input.text, textarea.text { padding: 0.3em 2px 0.25em; }

#Container { background:#f3f3f3; margin:0 auto; position:relative; width:1001px; z-index:1; }

.pageContent { visibility:hidden; }

#Header { background:#3661b4 url(../../Themes/MAX3.0/Images/sprite_Gradients1.png?v=3.0) repeat-x scroll 0 0; height:49px; margin:0 auto; position:relative; width:999px; z-index:5; }

#SiteMenuUL, #SystemMenuUL, #SiteMenuUL li, #SystemMenuUL li { float:left; }
#SiteMenuUL, #SystemMenuUL { margin:15px 0 0 15px; }
#SiteMenuUL li, #SystemMenuUL li { float:left; margin-right:1em; }
#SystemMenuUL { margin-left:0; padding-left:1em; }
#SiteMenuUL li.menuHead { position:relative; }
#SiteMenuUL li.menuHead a { padding-right:1em;  }
#SiteMenuUL li.menuHead .subMenu { display:none; left:-0.5em; position:absolute; top:-0.2em; z-index:2000; }
#SiteMenuUL li.menuHead .subMenu h5 a { display:block; padding:0.2em 0 0.25em 0.5em; margin-right:0.25em; }
#SiteMenuUL li.menuHead .subMenu ul li { white-space:nowrap; width:100%; }
#SiteMenuUL li.menuHead .subMenu ul li a { display:block; padding:0.25em 0 0.25em 0.5em; }

#Content { padding-top:1em; position:relative; z-index:4; }
#Footer { position:relative; z-index:3; }

.contentHeader { padding-bottom:0.5em; }
.contentHeader h2 { float:left; padding-left:15px; }
.contentHeader .contentHeaderButton { float:right; margin-right:15px; }

.scrollTableHead, .scrollTableBody { clear:both; }
.scrollTableBody { width:100%; }
.scrollTableHead table.data, .scrollTableBody table.data { table-layout:fixed; }
.scrollTableHead table.data th { height:25px; padding:0 8px; text-align:left; vertical-align:middle; }
.scrollTableHead table.data tr th.first, .scrollTableBody table.data tr td.first { padding-left:14px; }
.scrollTableBody { overflow:auto; overflow-x:hidden; }

.panelHeader { padding:0.5em 1em 0.7em 1em; }
.panelHeader h3 { float:left;  }

.inlineAddContainer { position:relative; }
.inlineAdd, .inlineEdit { position:absolute; right:20px; top:3px; z-index:500; }
a.inlineAddLink, .inlineAdd a.close, .inlineEdit a.close { float:right; }
.inlineAdd .shadowed, .inlineEdit .shadowed { padding:3px 1em 1em; width:160px; }
.inlineAdd .form, .inlineEdit .form { margin-top:1.5em; }
.inlineAdd .form label, .inlineEdit .form label { display:inline-block; margin-bottom:0.25em; }
.inlineAdd .form input.text, .inlineEdit .form input.text { margin-bottom:0.5em; padding:0.3em 2px 0.25em; width:153px; }
.inlineAdd .form .formButtons, .inlineEdit .form .formButtons { text-align:right; }

div.loading { border:solid #ccc 1px; background:#fff url(Images/icon_Loading.gif) no-repeat scroll center; filter: alpha(opacity=80); left:0; opacity:0.8; position:absolute; top:0; z-index:200; }
tr div.loading { border:0; }
select.loading { background:#fff url(Images/icon_Loading.gif) no-repeat scroll center; }

div.error { clear:both; }
.error span { display:block; margin-bottom:0.5em; position:relative; top:0.5em; }

#UserMessaging div.error, #UserMessaging div.warning, #UserMessaging div.info { margin:0 3px 0.25em 3px; min-height:40px; padding:0.5em 1em 0.5em 84px; }
#UserMessaging div.error ul, div.warning ul, div.info ul { padding:0.5em 0 0 4em; }
#UserMessaging div.info span { position:relative; top:10px; }


/* ----------------------------------------------------------- //
   Fonts, colors, backgrounds, borders, etc.
// ----------------------------------------------------------- */

.bold { font-weight:bold; }
.nobold { font-weight:normal !important; }
span.required { color:#cc3333; }

body { color:#333; font-family:Verdana, Tahoma, Helvetica, Sans-Serif; font-size:9pt;  }

table.data td { border-bottom:solid #ccc 1px; }
table.data tr.highlight td { background:#fff; }

a { color:#36589a; }
a:hover { color:#0055ff; }
a:active { color:#cc0000; text-decoration:none; }

a.edit { background:transparent url(Images/sprite_EditDeleteIcons.png) no-repeat scroll 0 -26px; display:inline-block; height:15px; margin-right:0.5em; width:15px; }
a.edit span { display:none; }
a.edit:hover { background-position:0 -42px; }

a.delete { background:transparent url(Images/sprite_EditDeleteIcons.png) no-repeat scroll -25px -26px; display:inline-block; height:15px; margin-right:0.5em; width:15px; }
a.delete span { display:none; }
a.delete:hover { background-position:-25px -42px; }

a.inlineAddLink, .inlineAdd a.close { font-size:0.7em; }

input.pageButton { background:transparent url(Images/button_Blue-34x140.png) no-repeat scroll 0 0; border:0; color:#fff; font-family:"Arial Black"; font-size:1.1em; line-height:1.1em; text-shadow:#17116d -1px -1px; }
input.pageButton:hover { background-position:0 -44px; }
input.pageButton:active { background-position:0 -88px; }

input.pageButton[disabled] { background-position:0 -132px; color:#aaa; text-shadow:none; }

input.text, textarea.text {
	background:#fff url(Images/bg_Textbox.png) repeat-x scroll 0 0; border:solid #b3b3b3 1px;
	color:#444; font:1.1em/1.4em Verdana, Arial, Helvetica, Sans-Serif;
}

select { border:solid #b3b3b3 1px; color:#444; }

tr.undo { background-color:#ffffcc !important; }
div.undo span { text-decoration:line-through; }

#Logo {
	background:transparent url(../../Themes/MAX3.0/Images/logo_MAX_admin.png?v=3.0) no-repeat scroll top left;
	float:left;
	width: 143px;
	height: 35px;
	top: 8px;
	left: 10px;
	margin-right: 10px;
	position: relative;
}

#SystemMenuUL { border-left:solid #fff 1px; }
#SiteMenuUL li a, #SystemMenuUL li a { color:#fff; font-size:1.1em; text-decoration:none; }
#SiteMenuUL li a:hover, #SystemMenuUL li a:hover { text-decoration:underline; }
#SiteMenuUL li.menuHead { background:transparent url(Images/icon_NavMenuArrows.png) no-repeat scroll 100% 8px; }
#SiteMenuUL li.menuHead a:hover, #SystemMenuUL li.menuHead a:hover { text-decoration:none; }
#SiteMenuUL li.menuHead .subMenu h5 {
	background:#f5f5f5 url(Images/bg_NavMenuH5.png) repeat-x scroll left bottom; border-bottom:solid #b3b3b3 1px;
	color:#36589a; font-size:1em; text-shadow:-1px -1px #fff;
}
#SiteMenuUL li.menuHead .subMenu h5 a { background:transparent url(Images/icon_NavMenuArrows.png) no-repeat scroll 100% -32px; color:#36589a; text-shadow:none; }
#SiteMenuUL li.menuHead .subMenu li { font-size:0.9em; }
#SiteMenuUL li.menuHead .subMenu li a { color:#36589a; text-shadow:0 0 transparent; }
#SiteMenuUL li.menuHead .subMenu li a:hover { background:#36589a; color:#fff; }

.contentHeader h2 span { color:#36589a; font-size:1.1em; font-weight:bold; line-height:1.3em; }
.contentHeader .contentHeaderButton a { color:#d96c00; line-height:20px; }
.contentHeader .contentHeaderButton a span { font-weight:bold; }
.contentHeader .contentHeaderButton a:hover { color:#36589a; text-decoration:none; }

.scrollTableHead { background:transparent url(Images/bg_TH.png) repeat-x scroll 0 0; }
.scrollTableHead table th { background:transparent url(Images/bg_TH.png) repeat-x scroll 0 0; color:#fff; }
.scrollTableHead table th, .scrollTableBody table td { font-size:0.8em; }

.secondary .scrollTableHead { background:transparent url(Images/bg_TH-Gray.png) repeat-x scroll 0 0; }
.secondary .scrollTableHead table { background:#f3f3f5; }
.secondary .scrollTableHead table th { background:transparent url(Images/bg_TH-Gray.png) repeat-x scroll 0 0; color:#333; }
.secondary .scrollTableBody table tr { background:transparent url(Images/border_SecondaryTD.png) no-repeat scroll 5px 0; }
.secondary .scrollTableBody table tr.first { background-image:none; }
.secondary .scrollTableBody table td { border-bottom-color:#f3f3f5; color:#666; word-wrap: break-word; }

.secondary a.edit { background:transparent url(Images/sprite_EditDeleteIcons.png) no-repeat scroll 0 0; display:inline-block; height:12px; margin-right:0.em; width:12px; }
.secondary a.edit span { display:none; }
.secondary a.edit:hover { background-position:0 -13px; }

.secondary a.delete { background:transparent url(Images/sprite_EditDeleteIcons.png) no-repeat scroll -20px 0; display:inline-block; height:12px; margin-right:0em; width:12px; }
.secondary a.delete span { display:none; }
.secondary a.delete:hover { background-position:-20px -13px; }

.panel { background:transparent url(Images/bg_Panel.png) no-repeat scroll 0 0; border:solid #b3b3b3 1px; }
.panelHeader { position:relative; }
.panelHeader h3 { color:#333; font-family:"Arial Black", Verdana, Arial, Helvetica, Sans-Serif; }

.inlineAdd .shadowed, .inlineEdit .shadowed { background:#fff; border:solid #ccc 1px; }
.inlineAdd .form label { font-size:0.8em; }
.inlineAdd .form span.checkbox label { font-size:0.7em; }
.inlineAdd .form input.text { font-size:0.8em; }
.inlineAdd .form .formButtons input.button { font-size:0.7em; }

.inlineEdit a.close, .inlineEdit .form span.checkbox label, .inlineEdit .form .formButtons input.button, .inlineEdit .form input.text { font-size:0.9em; }

.error span { color:#cc0000 !important; font-size:8pt; line-height:10pt; }

#UserMessaging { font-size:0.9em; font-weight:bold; }
#UserMessaging div.error { background:#ffe5e5 url(Images/icon_Error.png) no-repeat scroll 25px 8px; border:solid #e53939 1px; color:#bf0000 !important; }
#UserMessaging div.warning { background:#ffffcc url(Images/icon_Warning.png) no-repeat scroll 25px 12px; border:solid #E58F39 1px; color:#bf6000 !important; }
#UserMessaging div.info { background:#e3ebfa url(Images/icon_Info.png) no-repeat scroll 25px 8px; border:solid #6586c7 1px; color: #365DAD; }
#UserMessaging div.error ul, div.warning ul, div.info ul { font-weight:normal; list-style-type:disc; }

/* ----------------------------------------------------------- //
   Special effects
// ----------------------------------------------------------- */

.shadow {
  background: url(Images/shadowAlpha.png) no-repeat bottom right; float:left;
}

.shadow .shadowed {
  background:#fff; border:solid #b3b3b3 1px; cursor:default; margin: 0 6px 6px 0;
}
