﻿
/* ----------------------------------------------------------- //
   Layout
// ----------------------------------------------------------- */

.inlineAdd span.checkbox input { float:left; }
.scrollTableBody span.copyrighted { display:inline-block; height:7px; left:3px; overflow:hidden; position:relative; text-indent:-9999px; width:7px; }
.scrollTableBody td div.loading { width:100%; }

/* Manage Snippets */

#SnippetsList { clear:both; float:left; width:700px; overflow-x:hidden; }
#SnippetsList .scrollTableBody { }

/*
#SearchSnippets { padding:1em 1em 1em 2.5em; }
#SearchSnippets label { margin-right:1em; }
#SearchSnippets input.text { height:22px; margin:0; padding:0 0 0 2px; width:175px; }
#SearchSnippets input.button { cursor:pointer; display:inline-block; height:24px; position:relative; left:-6px; overflow:hidden; padding:0; top:0; width:21px; }
*/

#SearchSnippets { padding:0 0 10px 5px; }
#SearchSnippets h3 { padding:0.5em 0 0.5em 5px; }
#SearchSnippets label { display:none !important; }
#SearchSnippets #VehicleMakeFields,
#SearchSnippets #VehicleYearModelFields, 
#SearchSnippets #VehicleStyleTrimFields { float:left !important; margin:0 !important; padding:0 !important; width:230px; }
#SearchSnippets #VehicleMakeFields select,
#SearchSnippets #VehicleYearModelFields select, 
#SearchSnippets #VehicleStyleTrimFields select { margin:0 5px !important; padding:0 !important; width:220px; }
#EmptySnippetsList { padding:120px 0 0; text-align:center; }
#SnippetTableDiv { min-height:316px; width:700px; }

#SnippetSources, #SnippetTags { clear:right; float:right; margin-bottom:11px; width:270px; }

#SnippetSources .scrollTableBody, #SnippetTags .scrollTableBody { height:171px; }

#SnippetSources .inlineAdd .formButtons { margin-bottom:-1.5em; position:relative; top:-1.5em; }

#SourcesDataTable td.first span.copyright { left:2px; position:relative; }


/* Add/Edit Snippet */

#AddSnippetLink { display:block; float:left; font-size:0.8em; margin:0.25em 0 0 1em; }
#AddSnippetContent .panel { clear:both; padding:10px 20px 18px; }
#SnippetForm { padding-bottom:0 !important;}
#SnippetVehicleForm { margin-top:5px; }

#SnippetFields { padding-bottom:1em; }
#ChildSnippetFields { clear:both; padding-top:0.75em; }

#SnippetFields .helper { float:right; margin-right:0.5em; position:relative; top:0.5em; }

#SnippetTextFields, #ChildSnippetTextFields { float:left; width:478px; }
#SnippetDetailsFields, #ChildSnippetDetailsFields { float:left; width:240px; }
#SnippetTagsFields, #ChildSnippetTagsFields { float:left; position:relative; width:204px; }
#SnippetTagsFields label, #ChildSnippetTagsFields label { float:left; }

#SnippetTextFields label, #ChildSnippetTextFields label, #SnippetSourceFields label { display:block; float:left; }
#SnippetTextFields textarea, #ChildSnippetTextFields textarea { clear:left; height:175px; width:476px; }
#ChildSnippetTextFields textarea { height:84px; }

#SnippetDetailsFields { margin:0 0 0 1em; }
#ChildSnippetDetailsFields { margin:0 0 0 1em; }
#SnippetDetailsFields .inlineAdd { right:21px; top:-3px; }
#SnippetSourceFields select { margin:1px 0 0; width:150px; }
#SnippetSourceFields .inlineAddLink { float:none; margin-left:0.5em; }
#VerbatimFields, #ChildVerbatimFields { margin:1.5em 0 1em 0; }

#SnippetRatingFields .radioList, #ChildSnippetRatingFields .radioList { position:relative; top:0.1em; }
#SnippetRatingFields .radioList label, #ChildSnippetRatingFields .radioList label { left:-1.3em; position:relative; top:1em; }

#SnippetTagsFields, #ChildSnippetTagsFields { margin-left:1em; }
#SnippetTagsFields .inlineAdd, #ChildSnippetTagsFields .inlineAdd { right:5px; top:-4px; }
#SnippetTagsFields select, #ChildSnippetTagsFields select { display:block; font-size:0.8em; height:179px; overflow-y:scroll; width:204px; }
#SnippetTagsFields select option, #ChildSnippetTagsFields select option { padding:0.1em 0.25em 0.15em 0.25em; }
#ChildSnippetTagsFields select { height:84px; }

#VehicleMakeFields, #VehicleYearModelFields, #VehicleStyleTrimFields { float:left; margin-top:1em; width:310px; }
#VehicleMakeFields { width:290px; }
#VehicleYearModelFields { width:330px; }
#VehicleStyleTrimFields { float:right; }
#VehicleYearModelFields, #VehicleStyleTrimFields { margin-left:10px; }
#VehicleMakeFields label, #VehicleYearModelFields label, #VehicleStyleTrimFields label { display:block; float:left; margin-right:0.5em; }
#VehicleMakeFields select, #VehicleYearModelFields select, #VehicleStyleTrimFields select { display:block; float:left; height:124px; width:214px; }
#VehicleMakeFields select option, #VehicleYearModelFields select option, #VehicleStyleTrimFields select option { padding:0.1em 0.25em 0.15em 0.25em; }
#VehicleStyleTrimFields select { float:right; margin-right:2px; }

#AddSnippetPageButtons { padding:0 10px 2em 15px; position:relative; }
#AddSnippetPageButtons a { position:relative; top:0.5em; }
#AddSnippetPageButtons input { float:right; }
#AddSnippetPageButtons div.loading { border:0; float:right; height:16px; left:-5px; position:relative; top:14px; width:16px; }
#AddSnippetPageButtons a.clearForm { float:left; }

/* ----------------------------------------------------------- //
   Fonts, colors, backgrounds, borders, etc.
// ----------------------------------------------------------- */

.scrollTableBody span.copyrighted { background:transparent url(Images/checkmark_SmallGrey.png) no-repeat scroll center; color:transparent; }
/*.scrollTableBody td div.loading { background-color:transparent; }*/

/* Manage Snippets */

#SearchSnippets h3, #SearchSnippets label { font-size:0.8em; }
#SearchSnippets input.button { background:transparent url(Images/button_Search.png) no-repeat scroll 0 0; border:0; color:transparent; text-indent:-9999px; text-transform:capitalize; }
#EmptySnippetsList { color:#4c4f54; }
#EmptySnippetsList p { font-weight:bold; }

/* Add/Edit Snippet */

/*#SnippetFields { border-bottom:solid #c9c9c9 1px; }*/
#ChildSnippetFields { border-top:solid #fff 1px; }

#SnippetFields .helper { font-size:0.8em; font-style:italic; font-weight:bold; }
#SnippetFields .helper .required { font-style:normal; }

#SnippetForm label, #SnippetVehicleForm label { font-size:0.75em; font-weight:bold; }
#SnippetForm .checkbox label { font-weight:normal; }

#SnippetDetailsFields select { font-size:0.8em; }
#SnippetRatingFields .radioList label, #ChildSnippetRatingFields .radioList label { font-weight:normal; }

#SnippetVehicleForm h3 { font-size:1em; font-weight:bold; }

#VehicleMakeFields select, #VehicleYearModelFields select, #VehicleStyleTrimFields select { font-size:0.8em; }



