html,body,#wrap { min-height:100%;width:100%; }
    #wrap { position:absolute;top:0;left:0;z-index:0; } /* extra container forces footer always to stay at the bottom */

/* WIDTHS */
body { margin:0;padding:0;min-width:965px; }
body#popup,body#iframe { min-width:0; }
	/* > sets < IE 7 min-page width >>>>> */
	table.forcer { width:100%;border:none;clear:both; }
	table.forcer img.forcer { width:965px;height:1px;display:block;border:0px; }
#popup table.forcer img.forcer { display:none; }
		#menu .textnav { position: absolute; top:12px; right:15px; margin:0; }
	#menu .textnav a { color:#036; font-size:10px; font-weight:bold; text-decoration:none; }
	#menu .textnav a:hover { text-decoration:underline; }
	/* FOOTER = security and legal */
#footer { position:absolute;bottom:-35px; width:100%;;
			font-family:Verdana,Arial,Helvetica,sans-serif; font-size:.7em;}
	#footer em { font-weight:bold; }
	#footer cite em { font-weight:normal; }
	#footer { padding:5px 0;color:#FC3;background-color:#525252;border-top:solid 1px #FC3; }
	#footer em { padding-left:10px;font-style:italic; }
	#footer cite.disc { float:right;margin-right:10px;font-size:.9em; }
	#footer a { color:#FC3;text-decoration:none; }
    #footer a:hover { text-decoration:underline; }
    #footer span.footer em{ font-weight:normal;}
	 #menu { width: 100%; min-width: 100%; height: 35px; /*background: #333 url('../_images/bkgds/checks-gray.gif');*/ background-color: #F0F0F0; padding: 0; border-bottom: 1px solid #DEDEDE; border-top: 1px solid #737373; }
		 #menu .logo { position: absolute; top: 6px; left: 15px; margin: 0; }
		 #menu ins { color: white; }	
		 #menu img.logo { position: absolute; top: 6px; left: 15px; margin: 0; }
		#menu ins { color: white; }	
		

		