div#photoManagerContent {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    display: block;
    height: 100%;
    font-family: arial, verdana, sans-serif;
    font-size: .7em;
    width: 700px;

}
div#photoManagerContent a {
    color: #000;
}
#LargePicture {
    padding:12px 0px 10px 10px;
    font-size:.8em;
    color:#cccccc;

}
.smallPictureFrame {
    width:73px;
    background-color:black;
    display:inline-block;
    margin:0px 1px 0px 1px;
}
.smallSpacer {
    width:73px;
    height:55px;
    display:inline-block;
    margin:3px;
}


div.actionButtons {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: left;
    clear: both;
    height: 30px;
}

div.actionButtons h2 {
    float: left;
    display: inline;
    font-size: 1.35em;
}
div.actionButtons h2 span {
    font-size: 0.65em;
    font-weight: normal;
    color: gray;
    margin-left: 2em;
}

div#uploadBody div.actionButtons {
	height: 15px;
	margin-left: 5px;
}
div#uploadBody div.actionButtons h2 span {
    margin-left: 0em;
    display: inline-block;
}
div.actionButtons input {
    float: right;
    margin: 0px 3px;
    clear: none;
}


div#photoManagerContent div#container {
    padding: 0px;
}
div#photoManagerContent table, div#photoManagerContent table td {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a#largepicturelink {
    font-size: 0.9em;
}
div#largepicturewrapper {
	position: relative;
	float: left;
	clear: none;
	padding-bottom: 20px;
	margin-top: 15px;

	background: #E7EEF2 url(/photos/images/largepicturebottomcap.gif) bottom center no-repeat;
}
div#largepicture {
	position: relative;
	float: left;
	clear: none;
	width: 245px;
	height: 348px;
	padding: 12px 28px 0px 28px;
	overflow: hidden;
	background: #E7EEF2 url(/photos/images/largepicturetopcap.gif) top left no-repeat;
}
div#photoframe {
    width: 245px;
    height: 245px;
    text-align: center;
    border: 1px solid #000;
}
image#makePrimary {
	margin-bottom: -3px;
}
div#photocontrols input {
	margin-top: 0.5em;
}
div#photomanagerthumbs {
	float: left;
	position: relative;
	clear: none;
	width: 370px;
	padding: 0px 10px;

}
div#photomanagerthumbs h3 {
	color: #343434;
	font-size: 1.3em;
	font-weight: normal;
	border-bottom: 1px solid #6E798D;
}
div.thumbs div.thumbnailrow ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
div.thumbs div.thumbnailrow ul li {
    width: 80px;
    height: 110px;
    padding-right: 12px;
    display: inline;
    float: left;
}

div.thumbnailcontainer {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    display:inline;
    float:left;
    text-align:center;
    border:solid 1px #ccc;
    overflow: hidden;
}

div.active {
    border: 1px solid #000;
    background: #E7EEF5;
}

div.thumbnailrow {
    display:block;
    clear: both;
    padding:3px 0px;
}

.hide {
    visibility:hidden;
}
#imageBrowse {
    position: absolute;
    background-color: #fff;
    width: 300px;
}
#header {
    border-bottom:1px solid #999999;
    background-color:#cccccc;
    padding:5px;
    font-weight:bold;
    color:#474747;
}

#imageIndicator {
    float: right;
    color:#cbcbcb;
}
#imageIndicator a {
    margin: 0 0.5em;
}


.right {
    text-align:right;
    display:block;
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #cccccc;
    margin-bottom:-10px;
}
#errorMsg {
    color:#f94246;
    font-weight:bold;
}
.rotate {

    text-align:right;
    width:248px;
}

div.importwindow {
    font-size:13px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    display: none;
    z-index: 5;
}
div.winHeader {
    background-color:#F0F0F0;
    padding:5px;
    width:100%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
div#menu h1  {
    margin: 5px 0px 0px 10px;
    display: inline;
    float: left;
    font-weight: bold;
    font-size: 1.8em;
    color: #6E6E6E;
}
div.winHeader h1 {
    margin: 5px 0px 0px 5px;
    display: inline;
    float: left;
    font-weight: bold;
    font-size: 1.2em;
    color: #6E6E6E;
}

a.toggle {
    display:block;
    padding:2px;
    margin: 0.5em 5px 0px 0px;
    font-size:11px;
    color:#696969;
    text-decoration:none;
    font-weight:bold;
    float:right;
    clear: none;
    font-family:Arial,Verdana,sans-serif;
}
a.toggle:hover {
    color:black;
    text-decoration:none;
    font-family:Arial,Verdana,sans-serif;
}
a.toggle span {
    font-size:11px;
    color:#900;
    font-family:Verdana,Arial,sans-serif;
    padding:0 3px;
    margin-left:2px;
    vertical-align:middle;
    background-color:#f1f1f1;
    border:solid 2px #999;
}
a.toggle:hover span {
    color:#f1f1f1;
    background-color:#900;
    border-color:black;
}
div#uploadBody {
    padding:5px;
    font-size: 0.8em;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
div#uploadBody input {
    font-size: 1.1em;
}
div#uploadBody div#files input {
	width: 250px;
}
div#uploadBody form#uploadForm {
	margin-left: 5px;
}

div.importWindowBody {
    background-color:#ffffff;
    padding:5px;
    width: 100%;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 0.8em;

}

div.importWindowBody input {
	float: right;
	margin-right: 10px;
}
div#importAppraisals {
    width:510px;
}
span.sendtext {
	float: right;
	margin-right: 10px;
}


div.titleLine {
    border-bottom:solid 1px #CCC;
    padding:5px;
}


form#importAppForm {
    float: left;
    width: 363px;
    padding: 10px 5px;
}
div#appraisalthumbs div.thumbnailrow {
	margin: 5px;
}
div#appraisalthumbs div.thumbnailcontainer {
    width: 70px;
    height: 70px;

}


div.appThumbs {
    float: left;
    width: 130px;
    height: 145px;
    overflow: hidden;
    padding-top:10px;
    padding-bottom:10px;
}

div.appThumb {
	border: 2px solid #ccc;
    width:124px;
    height: 124px;
    overflow: hidden;
    text-align:center;
}

div.appUrls {
    border:solid 2px #CCC;
    border-bottom-width: 1px;
}

div.appUrls ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
li.selected {
    background-color:#E7EEF2;
}


li.appUrl {
    height: 10px;
    padding:2px;
    border-bottom:solid 1px #CCC;
}
li.appUrl input {
    clear: both;
    float:right;
    cursor:hand;
}



/* specific to appraisal-side */

body.appraisalBody {
	margin:0px;background-color:#525252;
}
body.appraisalBody div.thumbnailcontainer {
    border: 1px solid #000;
    background: #525252;
}
body.appraisalBody div.active {
    border: 1px solid #fff;
    background: #525252;
}

body.appraisalBody div.thumbs {
	float: left;
}
body.appraisalBody div#LargePicture {
	padding: 0;
	float: right;
}
body.appraisalBody div.thumbnailrow {
	padding: 0;
	clear: both;
}
body.appraisalBody div.thumbs div.thumbnailrow ul li {

    width: 70px;
    height: 70px;
    padding: 2px;
    display: inline;
    float: left;
}
body.appraisalBody div.thumbs div.thumbnailcontainer {
	height: 75px;
}
body.appraisalBody div#photoframe {
	display: block;
}

body.appraisalBody div#photoframe {
    width: 245px;
    height: 245px;
    text-align: center;
    border: 1px solid #ccc;
}