﻿html, body
{
    height: 100%;
}
.form
{
    width: 100%;
    min-width: 1350px;
    float: left;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E8F0', endColorstr='#FFFFFF',GradientType=0); /* IE9 */
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E1E8F0',endColorStr='#ffffff',GradientType=0); /* IE8 */
    background-image: -moz-linear-gradient(to top, #ffffff 50%,#E1E8F0  80%); /* For Firefox 3.6 to 15 */
    background-image: -webkit-linear-gradient(to top, #ffffff 50%,#E1E8F0  65%); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(to top,#ffffff 50%,#E1E8F0  65%); /* For Opera 11.1 to 12.0 */
    background-image: -ms-linear-gradient(to top,#ffffff 50%,#E1E8F0  65%);
    background-image: linear-gradient(to top, #ffffff 50%,#E1E8F0  80%);
    background-image: -webkit-linear-gradient(bottom, #ffffff 50%,#E1E8F0  80%); /* For chrome */
}
.master
{
    clear: both;
    background: url("Images/gradient-top.jpg") repeat-x;
    height: 52px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: auto;
}
.logo
{
    background-image: url('Images/logo-main-firstlook.jpg');
    width: 290px;
    height: 52px;
    float: left;
}
.pmr-label
{
    float: left;
}
.nav-bar
{
    position: absolute;
    top: 35%;
    right: 5px;
    float: right;
    text-align: right;
}
.page-footer
{
    text-align: left;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
    width: 90%;
    background: white url('Images/logo-firstlook.gif') no-repeat right;
	height: 22px;
}

.vertical-line
{
    margin: 12px 0 0 20px;
    float: left;
    border-left: 2px solid grey;
    height: 25px;
}

.report-header-pmr
{
    margin: 14px 0 0 20px;
    float: left;
    font-size: 1.3em;
    font-family: Verdana;
    color: rgb(101, 101, 101);
}

.container
{
    height: auto;
    min-height: 85%;
}
