﻿










/* LAYOUTS for REPORTS HOME pages
    = .pmr (dealer reports)
        #body : x,y,z
    = .pmr (group reports | SPLIT page)
        #body_a : a,b,c,d
        #body_b : x,y,z
    = .pmc (dealer center | SPLIT page)
        #body_a : a,b,c
        #body_b : x,y,z
*/



.pmc .group_reports 
{
    padding-bottom: 10px;
    }

    .pmc .columnitem {
	    margin: 10px 0px 15px 0px;
    }

.pmc {
	position: relative;
    width: 1050px;
    margin: 0 auto 0 auto;
    }
.pmc .a_ .group_reports, .pmc .c_ .group_reports {
    /* background: transparent url('Images/narrowcolumnreports_bottom.gif') no-repeat center bottom; */
    height: 1%;
	}
.pmc .a_ .group_reports .group, .pmc .c_ .group_reports .group {
    /*background: transparent url('Images/narrowcolumnreports_top.gif') no-repeat center top;*/
    background: #fff url('Images/dash_bg2.png') 100% 0 repeat-y;
      border:1px solid #dcdbdb;
    /*margin:9px 6px;*/
    -webkit-box-shadow:2px 2px 5px #b1b5b5;
    box-shadow:2px 2px 5px #b1b5b5;
    -moz-box-shadow:2px 2px 1px #b1b5b5;
    }
    #appraise-facts .group
    {
          background: #fff url('Images/dash_bg2.png') 100% 0 repeat-y;
      border:1px solid #dcdbdb;
    /*margin:9px 6px;*/
    -webkit-box-shadow:2px 2px 5px #b1b5b5;
    box-shadow:2px 2px 5px #b1b5b5;
    -moz-box-shadow:2px 2px 1px #b1b5b5;
    padding: 10px 10px 0px 10px;
    }
     #makeADeal .group
    {
          background: #fff url('Images/dash_bg2.png') 100% 0 repeat-y;
      border:1px solid #dcdbdb;
    /*margin:9px 6px;*/
    -webkit-box-shadow:2px 2px 5px #b1b5b5;
    box-shadow:2px 2px 5px #b1b5b5;
    -moz-box-shadow:2px 2px 1px #b1b5b5;
    padding: 10px 10px 0px 10px;
    }
.pmc .b_ .group_reports {
    /* background: transparent url('Images/widecolumnreports_bottom.gif') no-repeat center bottom; */
    height: 1%;
	}
.pmc .b_ .group_reports .group {
    /*background: transparent url('Images/widecolumnreports_top.gif') no-repeat center top;*/
    background: #fff url('Images/dash_bg2.png') 100% 0 repeat-y;
      border:1px solid #dcdbdb;
    /*margin:9px 6px;*/
    -webkit-box-shadow:2px 2px 5px #b1b5b5;
    box-shadow:2px 2px 5px #b1b5b5;
    -moz-box-shadow:2px 2px 1px #b1b5b5;
    }
.pmc, .pmr {
	/*border-top: 1px solid #cdcdcf;*/
	background: #f7f7f7 url('Images/bkgd-grad-A1toF6-359h.jpg') repeat-x;
}
.pmc .group_reports dd {
	font-size: 0.9em;
}
    * html .pmc #head_ h1 { 
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='App_Themes/Leopard/Images/header-PMC.png'); 
    }
    head:first-child+body .pmc #head_ h1 { /* for non-IE browsers */
        background: url('Images/header-PMC.png') no-repeat;
    }





/* -------------
    SPECIFIC ELEMENTS */

#body_a h2 {
	/* margin-bottom: 5px; */
}

.pmc #body_a h3 {
	/*margin-left: 7px;*/
	font-size: 1.1em;  font-weight: bold;
	color: #586682;
}

/* dealer reports SELECT header
    is only included on group pages */
#body_b h2 {
	margin-bottom: 8px;
}
    #body_b h2 select {
	    margin-left: 10px;
    }

.pmc .group_reports .group {
	padding: 10px 10px 0px 10px;
    }



/* DEALER REPORTS viewing options */
.view_options {   
    text-align: right;
	clear: both;
	height: 30px;
	padding: 10px 15px 0px 15px;
	position: relative;
    }    
    .view_options #ShowDealerShipReports, .view_options #HideDealerShipReports { /* SHOW dealer reports link  */  
        float: left;
        }
        
        
#ShowDealerShipReports
{
WIDTH:115px;
-webkit-box-shadow: 2px 2px 5px #b1b5b5;  box-shadow: 3px 3px 5px #b1b5b5;  -moz-box-shadow: 2px 2px 1px #b1b5b5;  padding: 3px 8px 4px 3px;  background-color: white;  margin: 1px 0 0 1px;  float: left;
}

#reportselector {
    margin-bottom:1em;
    }

/* Updated View Options*/
.view_optionsGroup {   
    text-align: right;
	clear: both;
	height: 30px;
	padding: 10px 15px 0px 15px;
    }        

/* clip bottom container */
.pmc .split_ {
   height: 20px;
   overflow: hidden;
   }
   
   
/* on-page popups */



#DealershipHomeLinks 
{
    width: 230px;
    height: 200px;
    /*bottom: 1em;*/
    /*right: 1em;*/
    /*bottom: 6em;*/
    /*right: 3em;*/
    right:1px;
    overflow-y: scroll;
    z-index: 100;
    overflow-x: hidden;
    
    float: right;
clear: both;
padding: 10px;
    position: relative;
    text-align: left;

}


#appraisalTimeSpan {
	position: absolute;
	top: 185px;
	width: 185px;
}

#selectAppraisalClosingRateTimeRange {
	top: 100px;
	left: -20px;
}

#selectNumbersTimeRange {
    top: -60px;
    right: 0;
}

#DealerSelection
{
      width: 220px;
    height: 200px;
     top: 80px;
    /* right: 0; */
    /* position: absolute; */
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
    float: left;
    z-index: 100;
    background-color:White;
}
#DealerSelection div.controls {
	width: 200px;
	margin-top: 10px;
}

   
/* -------------
    LAYOUTS */

/* = .pmr (group reports | SPLIT page)
        #body_a : a,b,c,d
        #body_b : x,y,z 
*/
div.a_, div.b_, div.c_, div.d_ {
    float: left;
    margin: 0 3px;
    }
div.a_ {
   margin-left: 0;
   }   
div.d_ {
   margin-right: 0;
   }
 #dealer_reports {
     padding: 10px 20px;

     border: 1px solid #cdcdcf;
    }
/* = .pmr (dealer reports)
        #body : x,y,z
*/ 
div.x_, div.y_, div.z_ {
    float: left;
    }
div.y_ {
   margin-left: 24px;
   margin-right: 24px;
   }

/* = .pmc (command center | SPLIT page)
        #body_a : a,b,c
        #body_b : x,y,z
*/

.pmc #container,.pmc #body_a,.pmc #body_b {
	height: 1%;
 	padding: 0;
 	width:1050px;
 	float:left;
 	background:url('Images/dash_bg.png') repeat-x #fff;
 	}
.pmc #dealer_reports {
    background: #f7f7f7 url('Images/bkgd-grad-A1toF6-359h.jpg') repeat-x;
    position: absolute;
    /*bottom: 38px;*/
    top:447px;
    left: 0px;
    z-index: 100;
    
    }
.pmc div.a_, .pmc div.b_, .pmc div.c_ 
{
    display: inline;

    float: left;
    margin: 0;
    padding: 0;
}
.pmc div.a_ {
    width: 260px;
	padding-left: 10px;
	margin-top: 97px;
    position: relative;
    z-index: 4;
}
.pmc div.b_ {
	width: 517px;
	padding: 0px 0px 0px 0px;
	margin-top: 60px;
}
.pmc div.b_ .columnitem 
{
    margin-left: 10px;
    margin-right: 10px;
}

.pmc div.c_ 
{
    width: 250px;
	padding-right: 0px;
	margin-top: 107px;
}

/* #head_ overrides */
.pmc #head_ {
    height: auto;
    width: 1155px;
    padding: 0;
	margin-top:-6px;
    position: absolute;
    
    }
    .pmc #head_ #topnavmenubar {
        background: url("Images/gradient-top.jpg") repeat-x;
        height:53px;
    	right: 0px;
    	width: 89%;
    	padding-right: 24px;
    	padding-bottom: 3px;
    	padding-top: 7px;
    	float:left;
    	
    	/*border-bottom: 3px solid #eee;*/
    	text-align: right;
    	color: #999;
    	
    	}
		.pmc #head_ #topnavmenubar a {
			color: #999;
			margin: 0 0.5em;
	}
    .pmc #head_ h1 {
        margin-left: 20px;
        height: 37px;
    }
    .pmc #head_ p {
        margin-left: 20px;
	
        }
     /* additional info */
    .pmc #head_ .r_ {
        text-align: right;
        position: absolute;
        top: 0;
        right: 20px;
        }
     .pmc #head_ .updated {
        display: block;
        }
     .pmc #head_ h3 {
        display: inline;
        /*padding-bottom: 10px;*/
	
        }
     .pmc #head_ .r_ em {
        padding-right: 5px;
	
        }


/* #appraise-facts specific styles */

.pmc #appraise-facts h3 {
	/*margin-left: 0;*/
}

#appraise-facts {
	margin-top: 40px;
	color: #999;
}

#appraise-facts em {
	font-size: 0.8em;
}

#appraise-facts li h5 {
	border-top: 1px dotted #999;
	padding-top: 0.5em;
}
#appraise-facts h5 a {
	color: #3365bc;
}

/* make-a-deal specific styles */
.pmc #makeADeal h3 {
	/*color: #41860f;*/
	display: inline;
    /*margin-left: 0;*/
}

#makeADeal {
	margin-top: 10px;
	color: #999;
}

#makeADeal li h5 {
	border-top: 1px dotted #999;
	padding-top: 0.5em;
}

#makeADeal h5 a {
	color:#3365bc;
}

/* inventory graph specific styles */

.pmc #inventory-graph {
	/* background: transparent url(Images/graphbackground.gif) top center no-repeat; */
}

#ShowDealerSelection
{
-webkit-box-shadow: 2px 2px 5px #b1b5b5;
box-shadow: 3px 3px 5px #b1b5b5;
-moz-box-shadow: 2px 2px 1px #b1b5b5;
padding: 3px 8px 4px 3px;
background-color: white;
margin: 1px 0 0 1px;
float: left;}

#ShowDealershipHomeLinks
{-webkit-box-shadow: 2px 2px 5px #b1b5b5;
box-shadow: 3px 3px 5px #b1b5b5;
-moz-box-shadow: 2px 2px 1px #b1b5b5;
padding: 3px 8px 4px 3px;
background-color: white;
margin: 1px 0 0 1px;

    }