@page {
	@top-right {
		content: flow(topright);
		font-size: 7pt;
	}
	@top-left {
		content: flow(topleft);
	}
	@bottom-right {
		
		content: flow(bottomright);
	}
	@bottom-left {
		content: flow(bottomleft);
		font-size: 7pt;
	}
	@bottom-center {
		content: "Page " counter(page) " of " counter(pages);
		font-family: arial, sans-serif;
    	font-size: 7pt;
	}
}

.prince_top_right_ {
	flow: static(topright);
	float: right;
}

.prince_top_left_ {
	flow: static(topleft);
	float: left;
}
.prince_bottom_right_ {
	flow: static(bottomright);
	float: right;
}
.prince_bottom_left_ {
	flow: static(bottomleft);
	float: left;
}

.print_image_ {
	width: 2.7in;
}