/* global redefinition stuff */
html {
	background-color: #fff;
}

#container {
	background: #efefef;
	position: relative;
	border-bottom: 1px solid #000;
	border-top: 1px solid #aaa;
	padding: 10px;
	text-align: left;
	line-height: 140%;
	font-size: 105%;
}
p {
	margin-bottom: 1em;
}
h3 {
	margin-bottom: 0.5em;
}
ul {
	margin: 0 2em;
}
li {
	margin-bottom: 0.5em;
}
blockquote {
	margin: 0 3em;
}
/* specific overrides */

#wrap_ {
	width: 620px;
	margin: 0 auto;
	position: relative;
}
#head_ {
	background: url(Images/logo.gif) 5px 10px no-repeat;
}