
@page {
    margin: 0.5in;
    padding: 0;
}
    

@media print {
* {
    margin: 0;
    padding: 0;
    font-size: 9pt;
    }
	.hide_nonJS {
		display: none;
	}
}

@media screen {
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    }
	.print_only_ {
		display: none;
	}
}
body 
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 68%;
	text-align: center;
	}
	
.pmc #wrap_ {
	text-align: left;
	margin:0 auto;
}
#wrap_ {
	text-align: left;
		margin:0 auto;
}

img,iframe,table,fieldset { 
	border: none; 
}


/* required for JS consistency */
.invisible_ { visibility: hidden;  }
.hide_, 
.hide_block, 
.hide_inline { display: none; }

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 0.2em;
	}

h1 { font-size:1.7em; }
h2 { color: #586682;font-size:1.4em; }
h3 { color: #0b205e; font-size: 1em; 
	font-family: Verdana, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: normal;}
h4 { color: #000053; font-size: 1em;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;}
h5 { 
	font-size: 0.8em;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	}
select, input, textarea { color: #545a66;    font-size: 11px;
    vertical-align: middle; }

ul { list-style: none; }
a {
   color: #28354e;
   text-decoration: none; 
   }
a:hover { text-decoration: underline; }


dfn {
	color: #8D93C3;
	font-style: normal;
}




/* -------------
    CONTAINER ELEMENTS */

/* REPORTS
*/
.pmr .group_reports {
	width: 300px;
	}
.pmr .group_reports::after,.pmr .group::after {
    height: 0; clear: both;	content: "."; visibility: hidden; display: block; 
    }
 .group::after {
    height: 0; clear: both;	content: "."; visibility: hidden; display: block; 
    }

.dealer_reports {
	width: 290px;
    }
    .dealer_reports h3, 
    .group_reports h3 {
	    margin-bottom: 0px;
	    }

/* REPORT GROUPS 
*/
.group_reports .group 
{
    padding: 10px 12px 0 12px;
    }	
.dealer_reports .group {
    margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
/* reports for 
    dealer group = */

.pmr .group_reports .group {
    margin-bottom: 10px;
    /* sets default - 
        final height is dynamically calculated on page load */
    height: 290px;
    }
head:first-child+body .pmr .group_reports .group { /* for non-IE browsers */
    height: 310px;
}
.group_reports dt {
    clear: left;
    margin-top: 3px;
    margin-bottom: 3px;
    }
.group_reports dd {
    clear: left;
    margin-left: 0;
    padding-bottom: 2px;
    }
.pmr group_reports dd {
    padding-bottom: 5px;
    border-bottom: solid 1px #d6d8df;
}
/* reports for 
    single dealer = */
.dealer_reports h4 {
    height: auto;
    padding: 0;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 2px;
    cursor: pointer;
    }
   .dealer_reports h4 img {
        padding-right: 0px;
        } 
.dealer_reports ul {
    padding: 5px 15px 0 15px;
    }
    .dealer_reports li {
	    padding-left: 7px;
	    margin-left: 5px;
	    margin-top: 0;
	    margin-bottom: 3px;
	    }
    /* closed toggle state */    
    .dealer_reports .closed h4 {
        padding-bottom: 5px;
        }
    .dealer_reports .closed ul {
        display: none;
        }		
       
    /* columnar items in pmc */
       


/* -------------
    STRUCTURAL ELEMENTS */


.pmr {
	position: relative;
    width: 960px;
    margin: 0 auto 5px auto;
    }

#head_ {
	height: 35px;
	padding: 0 20px;
	padding-top: 15px;
	}
    #head_ h1 { 
	    height: 18px;
	    margin-left: -4px;
    }
    #head_ h1 span { 
	    display: none;
    }
    #head_ p { 
	    padding-bottom: .2em;
        margin: 0;
    }
    

#container, #body_a {
	height: 1%;
 	padding: 10px 20px;
 	}
.pmc #body_b {
	height: 1%;
width: 90%;

float: left;
text-align: left;

margin: 130px 0 0 0;
}
.pmr #body_b {
	height: 1%;
}
.pmc #body_b::after {
    height: 0; clear: both;	content: "."; visibility: hidden; display: block; 
    }
  .pmr  #body_::after,.pmr  #body_a::after,.pmr  #body_b::after {
    height: 0; clear: both;	content: "."; visibility: hidden; display: block; 
    }
#body_c {
	width: 400px;
	padding: 90px 260px 10px 260px;
	}

	#body_c p {
		padding: 0.5em 0;
	}


#foot_ { 
	padding-top: 10px;
	height: 26px; /* height of logo */
	}
	#foot_ em { 
		padding-right: 10px;
		padding-left: 2px;
		}
	#foot_ cite { 
		padding-left: 10px;
		}




.updated {
	margin-top: 0.5em;
}

.close {
	position: absolute;
	right: 1em;
	top: 1em;
}
.close:hover {
	cursor: pointer;
}

.closebox 
{
    position: absolute;
    right: 1em;
    background: transparent url(Images/close-box.gif) center right no-repeat;
    height: 12px;
    padding-right: 18px;
}
.closebox:hover {
	cursor: pointer;
	text-decoration: underline;
}
.right {
	float: right;
}
.left {
	float: left;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -49px;
	text-align: center;
	padding: 10px;
	line-height: 16px;
	color: #888;
	font-size: 1.2em;
	border: 1px solid #888;
	background: white;
}

/* INLINE POPUP =
 */

.inlinepopup 
{
	padding: 10px;
    position: absolute;
    text-align: left;
    z-index:3;
}

#DealerSelection .inlinepopup 
{
	padding: 10px;
    position: absolute;
    text-align: left;
    z-index:3;
}

.selectbox 
{
    width: 230px;
    position: absolute;
}







/* ///////////////////////
	BACKGROUNDS AND COLORS
/////////////////////// */

/* -------------
    TAGS */



a.em_link { text-decoration: underline; }

/* -------------
    SINGLE ELEMENTS */

/* NUMBERS =
*/
.neg { color: #900; }
.pos { color: #0C34C9; }
.updated { color: #4b5264; }


/* LOADING INDICATOR =
*/

.loading {
	width: 100%;
	text-align: center;
}
.loading img {
	margin: 0px 5px;
}


/* INLINE POPUP =
 */

.inlinepopup 
{
	/*background-color: #eee;*/
	background-color:White;
    border: 1px solid black;
    padding: 10px;
}

/* -------------
    CONTAINER ELEMENTS */

/* REPORTS
*/
.dealer_reports, 
.group_reports {
    color: #5f6a86;
    }
    .dealer_reports .group a {
	    color: #5f6a86;
	    }
  .pmc  .group_reports dt span, /* wraps coming soon titles instead of <a> */
   .pmc .group_reports .group a {
        /*color: #000053;*/
        color: Red;
        }
.pmr .group_reports dt span, /* wraps coming soon titles instead of <a> */
   .pmr .group_reports .group a {
        color: #000053;
        }

/* GROUP REPORTS 
    two-part bkgd */
.pmr .group_reports {
    background: transparent url('Images/cap-btm-reportGroup-300x13.gif') no-repeat center bottom;
	}
.pmr .group_reports .group {
    background: transparent url('Images/cap-top-reportGroup-300x600.gif') no-repeat center top;
    }	
    


/* DEALER REPORTS
    three-part bkgd */
.dealer_reports .group {
	background: url('Images/cap-btm-reportGroup-290x18.gif') no-repeat bottom;
}
.dealer_reports h4 {
    background: url('Images/cap-top-reportGroup-290x13.gif') no-repeat ;
}
.dealer_reports ul {
	background: url('Images/cap-top-reportGroup-290x600.gif') no-repeat left -22px;
}

/* DEALER report bullet */
.dealer_reports li {
	list-style-type: none;
	background: url('Images/bull-square-AAB-3x3.gif') no-repeat left 5px;
	}
	
/* Footer section of pmc */
.view_options  {
   	background: url(Images/footer_bkgrd.jpg) bottom left repeat-x;
    }

/* -------------
    SPLIT PAGE */
.split_ {
    background: #f7f7f7 url('Images/bkgd-grad-A1toF6-359h.jpg') repeat-x;
    background-position: 0 -50px; 
    }
    
    
/* -------------
   BASIC PAGE */
   
#body_c a {

	font-weight: bold;
	text-decoration: underline;
}
#body_c a:hover {
	color: #586682;
}
/* -------------
    STRUCTURAL ELEMENTS */

.pmr {
	border-top: 1px solid #cdcdcf;
	background: #f7f7f7 url('Images/bkgd-grad-A1toF6-359h.jpg') repeat-x;
}
#container, #body_a, #body_b {
	border: 1px solid #cdcdcf;
 	border-top: none;
	}
.pmr #head_ h1 { 
	BACKGROUND: url(Images/header-PMR.gif) no-repeat;
}

HEAD:first-child + BODY .pmc #head_ H1 {	BACKGROUND: url(Images/header-PMC.png) no-repeat}

    #head_ p {
	    color: #515e78;
	    }
    #head_ .r_ {
	    color: #353d52;
	    }
    #head_ a, #head_ a:hover {
	    color: #222836;
        }

#foot_ { 
	color: #999;
	background: white url('Images/logo-firstlook.gif') no-repeat right;
	}








/* ///////////////////////
	TYPE DEFAULTS
/////////////////////// */

/* -------------
    TAGS */


.updated { font-size: 0.9em; }

/* -------------
    SINGLE ELEMENTS */

/* BUTTON = 
*/
.buttonwrapper {
	position: relative;
	text-align: right;
	display: block;
	height: 20px;
	background: url(images/button-right.gif) no-repeat top right;
	padding-right: 5px;
	padding-bottom: 5px;
	margin: 0px 2px;
	width: 1%;

}

.buttonwrapper[class] {
	width: auto;
}

.button {
	white-space: nowrap;
	display: block;
	height: 20px;
	padding-left: 5px;
	padding-top: 3px;
	background: url(images/button-left.gif) no-repeat top left;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font: 10px "Verdana", sans-serif;
	text-decoration: none;
}



/* -------------
    CONTAINER ELEMENTS */

/* REPORTS
*/
.dealer_reports,
.group_reports {
    line-height: 1.2;
    }
.group_reports dt {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1em;
    }	


/* -------------
    F ELEMENTS */



#foot_ { 
	font-size: 0.9em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	}
	.foot-new
	{
	    font-size: 0.9em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	width: 90%;
	clear: both;
	float: left;
	margin:0;
	    }
	#foot_ em { 
		font-weight: bold;
		}
	#foot_ cite { 
		font-style: normal; 
		}
	#foot_ span { 
		font-style: italic; 
		}


/* NUMBERS =
*/
.positivenumber, .positivenumber a {
	color: #3D78E0;
}
.negativenumber, .negativenumber a {
	color: #D01043;
}

/* OBSERVED ELEMENTS
 */

.dyna_link {
    cursor: pointer;
    }
.dyna_link:hover {
    text-decoration: underline;
    }
    
/* INLINE POPUPS
 */
 
 .inlinepopup h3 {
 	padding-bottom: 1em;
 }
 /* HEAD
 */
 #head_ p {
	font-size: 1.3em;
	font-weight: bold;
	}
	
	


/* inventory graph  */
#CurrentInventoryGraphLoadingIndicator {
	height: 70px;
	padding-top: 50px;
}
.pmc #inventory-graph {
    height: 210px;
    width: 508px;
    padding-top: 28px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* text-align: center;*/
    margin:auto;
}
.pmr #inventory-graph {
	height: 210px;
	width: 508px;
	padding-top: 28px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cib {
    height: 210px;
    width: 508px;
    padding-top: 28px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    text-align: center;
    margin:auto;
}
#inventory-graph #invchart-content {
	text-align: center;
}
#inventory-graph #invchart-content h3 {
	line-height: 1em;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: none;
}
#inventory-graph .left {
	margin-left: 20px;
}
#inventory-options {
	float: right;
	margin-right: 20px;
	display: inline;
}

#inventory-graph ul
{
	text-align: center;
	list-style-type: none;
}
#inventory-graph li {
	display: inline;
	background: url(Images/BlueDot.gif) 2px 4px no-repeat;
	padding-left: 10px;
}

#inventory-graph .inventory-graph-legend {
	padding-left: 10px;
	float: left;
	text-align: left;
	font-style: oblique;
	font-size: 0.8em;
}

#pricing-graph 
{
    width: 590px;
    margin-left: auto;
    margin-right: auto;
}
#pricing-graph .right 
{
    margin-right: 14px;
}

#pricing-graph span.left 
{
    height: 20px;
    display: inline-block;
}
#pricing-graph span.left b 
{
    vertical-align: top;
}
/* behind the numbers table */

#numbers, #maxcolumn {
	width: 488px;
	position: relative;
}
#numbers h2.inventoryTableHeader,
#maxcolumn h2.inventoryTableHeader
 {
	/*font-family: "trebuchet ms", helvetica, arial, sans-serif;
	font-style: oblique; */
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	padding: 12px 0px 0 0px;
	width: 468px;
	/*background: url(Images/inventorytablebackground-top.gif) no-repeat top left; commented as per new mock up*/
	/* height: 30px; */
	/* margin-bottom: 0px; */
	text-align: left;
	font-family: Verdana, Helvetica, sans-serif;
}

#numbers #numbersTimeSpan {
	float: right;
}
#numbers .inventoryTable,
#maxcolumn .inventoryTable 
{
     background: #fff url('Images/dash_bg2.png') 100% 0 repeat-y;
      border:1px solid #dcdbdb;
    
    -webkit-box-shadow:2px 2px 5px #b1b5b5;
    box-shadow:2px 2px 5px #b1b5b5;
    -moz-box-shadow:2px 2px 1px #b1b5b5;
    
	/* background: transparent url(Images/inventorytablebackground-bottom.gif) center bottom no-repeat;  commented as per new mock up screen*/
	width: 488px;
	/*margin-bottom: 10px;commented as per new mock up screen*/
}

#numbers table,
#maxcolumn table
{
	width: 472px;
	clear: both;
	margin: 0px 8px 0px 8px;

	border-collapse: collapse;
}

#numbers 
{
    cursor: pointer;
}

#maxcolumn table th,
#numbers table th {
	font-size: 0.8em;
	color: #000053;
	font-weight: normal;
	vertical-align: bottom;
	text-align: center;
	border-bottom: #999 1px solid;
}

#maxcolumn table thead,
#numbers table thead  {
	padding: 0px 10px;
}

#maxcolumn table tbody td,
#numbers table tbody td {
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
}

#maxcolumn table tbody td a,
#numbers table tbody td a 
{
    color: rgb(0,0,83);
    font-size: 1em;
}

#maxcolumn .MaxGroupDashboardTile table tr h3
{
    color: #0b205e;
    font-family: Verdana, Helvetica, sans-serif;
    line-height: 1em;
    font-size: 1.3em;
    font-weight: normal;
    text-transform: none;
}
#maxcolumn .MaxGroupDashboardTile .AnalysisLinkContainer.Left
{
    display: inline-block;
    text-align: center;
    float: left;
    margin-left: 9em;
}
#maxcolumn .MaxGroupDashboardTile .AnalysisLinkContainer.Right
{
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 9em;
}


/* edge usage graph */

h3#edgeusagetitle {
	text-transform: none;
}

div#edgeusagegraph {
	width: 195px;
	height: 35px;
	position: relative;
}
div#edgeusagegraph:hover {
	cursor: pointer;
}
div#edgeusagegraph ul.usagenumbers {
	list-style-type: none;
	padding: 5px 0px 0px 0px;
}

div#edgeusagegraph ul.usagenumbers li {
	height: 12px;
	float: left;
	margin-bottom: 6px;
}

div#edgeusagegraph li#redsystemusage {
	background: #f00;
}
div#edgeusagegraph li#yellowsystemusage {
	background: #ff0;
}
div#edgeusagegraph li#greensystemusage {
	background: #0f0;
}
div#edgeusagegraph ul#edgeusagegraphlegend {
	list-style-type: none;
	padding: 0px 0px 0px 27px;
}
div#edgeusagegraph ul#edgeusagegraphlegend li {
	float: left;
	padding-left: 15px;
	padding-right: 10px;
	font-weight: bold;
}
div#edgeusagegraph li#redsystemusage-legend {
	background: url(Images/dot-red.gif) left 2px no-repeat;
}
div#edgeusagegraph li#yellowsystemusage-legend {
	background: url(Images/dot-yellow.gif) left 2px no-repeat;
}
div#edgeusagegraph li#greensystemusage-legend {
	background: url(Images/dot-green.gif) left 2px no-repeat;
}

div#edgeusagegraph div#graphcover {
	position:absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 195px;
	height: 35px;
}


/*** email ***/

div.email {
	width: 400px;
	right: 5px;
	background: white url(Images/inline-header-background.gif) top left repeat-x;
	white-space: normal;
}
div.email label {
	text-transform: none;
}
div.email textarea, div.email input {

	font-family: Arial, Helvetica, Verdana, sans-serif;
}
div.email .wide {
	width: 385px;
}
div.email h3 {
	font-weight: bold;
	font-size: 1.1em;
}
div.email li {
	padding: 5px;
}
div.email small {
	font-size: 0.9em;
	color: #999;
}
div.email .error {
	background-color: #ffe8e8;
}

/*** drop menus ***/

.dropMenu select 
{
    font-size: 80%;
}

.dropMenu span 
{
    background: transparent url(Images/menu-icon.gif) 2px right no-repeat;
    padding-right: 12px;
}

/** New Dropdown Menu Classes **/

.dropdown-opions {
	margin: 0 0 5px 0;
	width: auto;
	padding: 0 2px 0 0;
}
.dropdown-opions option {
	padding: 0 2px 0 0;
}
.dropdown-opions-label {
	margin: 0 0 5px 0;
	font-weight: bold;
}