.viewer {
	width: auto;
	padding: 10px 0px 10px 0px;
	background: white url('Images/bkgd-reportViewer.jpg') repeat-x left -10px;
	border-top: 1px solid #93a2b6;
}

.viewer #header {
	padding: 0;
	margin: 0 10px;
	color: #999;
	height: 25px;
	background: url('Images/FLlogo_horiz.gif') no-repeat;
}
.viewer #header h1 {
	margin-left: 210px;
}
.viewer #header h3 {
	clear: both;
}

.viewer #controls {
	clear: right;
	white-space: nowrap; 
	margin: 10px 10px 0px 10px;
}

.viewer #controls select {
	margin-right: 5px;
	vertical-align: middle;
}

.viewer #controls fieldset {
	margin-top: -5px;
	padding-top: 5px;
	height: 25px;
	float: left;
}

.viewer #controls label.varToggleRow
{
	display: none;
}

.viewer #controls select.varToggleRow 
{
	position: absolute;
	top: 95px;
	left: 15px;
}


.viewer .tools, .viewer .paging {
	font-size: 9px;
	color: #666;
	text-align: right;
	margin-top: -4px;
	padding-top: 5px;
	height: 20px;
	white-space: nowrap;
	text-transform: uppercase;
}

.viewer .tools span.right { margin-left: 10px; margin-right: 0; }

.viewer label {
	font-size: 10px;
	text-transform: uppercase;
}

#report { /*
position: absolute; width: 100%; top: 90px;

    
*/
	background; white;
	margin: 0 15px;
	clear: both;
}

#paging_top {
	margin-top: 15px;
	margin-bottom: 10px;
}

#paging_bottom {
	margin-bottom: 8px;
}

.viewer .paging {
	margin-right: 10px;
	height: 30px;
	clear: both;
	float: right;
}

.viewer .paging .tools {
	font-size: 9px;
}

.viewer span.right {
	margin-right: 10px;
}

/* centering background images in report tables */
.viewer div#main div#report table td 
{
	background-position: left center;
}

div.paging .error {
	margin-top:5px;
	background-color: #E15555;
	padding: 3px;
	text-align: center
}
div.paging .none{
	display : none;
}


