<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EnterDealership.aspx.cs" Inherits="Home_EnterDealership" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Pre-Owned Performance Management Center</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <p>You will shortly be redirected to the selected deaership.</p>
    </div>
    </form>
</body>
</html>
