﻿/* CSS Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border:0;
    margin:0;
    padding:0
}
/*
ul, ol, dl {
	position:relative; 
}
*/

body {
    color:#5b5f62;
    font-size:10pt;
    font-family:"Trebuchet MS", Trebuchet, Arial, sans-serif !important;
    padding:0 0.5em;
}

a {
	color:#355FAB;
	outline:0;
}

a:active {
	color:#C00;
}

h1 {
	margin:1em 0 0.5em 0;
}