
#sticker * {
	font-size: 110%;
	font-family: Arial, serif;
	font-weight: bold;
	text-align: center;
	border: none;
}

/* COMMON rules */
	.price strong {
			float: right;
	}
	.price span {
			float: left;
	}
	.equipment strong,
	.equipment br {
		display: none;
	}
	#sticker .equipment .col {
		float: left;
		text-align: left;
		width: 49%;
		list-style: none outside;
	}
	.equipment .f {
			float: left;
		}
	.equipment .l {

	}
		#sticker .equipment .col li {
			display: block;
			text-align: left;
		}
		
/* ========== */
/* = Hidden = */
/* ========== */
#sticker .book {
	display: none;
}
#sticker .legal {
	display: none;
}
#sticker .dealer {
	display: none;
}


/* SCREEN
		measurements */
@media screen {
	/* ============= */
	/* = Font-Size = */
	/* ============= */
	#sticker .vehicle {
		font-size: 120%;
	}
	#sticker .details,
	#sticker .equipment,
	#sticker .book {
		font-size: 115%;
	}
	#sticker .price {
		font-size: 240%;
	}
	
	/* =============== */
	/* = x-positions = */
	/* =============== */
	#sticker .vehicle,
	#sticker .engine,
	#sticker .mileage,
	#sticker .snum,
	#sticker .color,
	#sticker .equipmentHeader,
	#sticker .equipment,
	#sticker .price {
		margin-left: -72px;
	}
	#sticker .transmission,
	#sticker .vin {
		margin-left: 64px;
	}
	#sticker .details {
		margin-left: -25%;
	}
	
	/* =============== */
	/* = y-positions = */
	/* =============== */
	#sticker .vehicle {
		margin-top: -282px;
	}
	#sticker .engine {
		margin-top: -254px;
	}
	#sticker .mileage {
		margin-top: -234px;
	}
	#sticker .snum {
		margin-top: -220px;
	}
	#sticker .color {
		margin-top: -206px;
	}
	#sticker .transmission {
		margin-top: -234px;
	}
	#sticker .vin {
		margin-top: -220px;
	}
	#sticker .equipmentHeader {
		margin-top: -160px;
	}
	#sticker .equipment {
		margin-top: -144px;
	}
	#sticker .details {
		margin-top: -144px;
	}
	#sticker .price {
		margin-top: 280px;
	}	
	
	/* ========== */
	/* = widths = */
	/* ========== */
	#sticker .vehicle,
	#sticker .engine,
	#sticker .equipmentHeader,
	#sticker .equipment,
	#sticker .price {
		width: 340px;
	}
	#sticker .vehicle,
	#sticker .engine {
		text-indent: -2em;
	}
}

/* PRINT
		measurements */
@media print {
	/* ============= */
	/* = Font-Size = */
	/* ============= */
	#sticker .vehicle {
		font-size: 120%;
	}
	#sticker .details,
	#sticker .equipment,
	#sticker .book {
		font-size: 115%;
	}
	#sticker .price {
		font-size: 240%;
	}

	/* =============== */
	/* = x-positions = */
	/* =============== */
	#sticker .vehicle,
	#sticker .engine,
	#sticker .mileage,
	#sticker .snum,
	#sticker .color,
	#sticker .equipmentHeader,
	#sticker .equipment,
	#sticker .price {
		margin-left: -0.75in;
	}
	#sticker .transmission,
	#sticker .vin {
		margin-left: 1.15in;
	}
	#sticker .details {
		margin-left: -1.75in;
	}

	/* =============== */
	/* = y-positions = */
	/* =============== */
	#sticker .vehicle {
		margin-top: -2.82in;
	}
	#sticker .engine {
		margin-top: -2.48in;
	}
	#sticker .mileage {
		margin-top: -2.2in;
	}
	#sticker .snum {
		margin-top: -2.01in;
	}
	#sticker .color {
		margin-top: -1.81in;
	}
	#sticker .transmission {
		margin-top: -2.2in;
	}
	#sticker .vin {
		margin-top: -2.01in;
	}
	#sticker .equipmentHeader {
		margin-top: -1.17in;
	}
	#sticker .details,
	#sticker .equipment {
		margin-top: -0.95in;
	}
	#sticker .price {
		margin-top: 3.95in;
	}

	/* ========== */
	/* = widths = */
	/* ========== */
	#sticker .vehicle,
	#sticker .engine {
		width: 5in;
		text-indent: -0.75in;
	}
	#sticker .equipmentHeader,
	#sticker .price {
		width: 4.25in;
	}
	#sticker .equipment {
		width: 5in;
	}
	#sticker .details {
		width: 3in;
	}
	#sticker .mileage,
	#sticker .snum,
	#sticker .color {
		width: 1.9in;
	}
	#sticker .transmission,
	#sticker .vin {
		width: 2.5in;
	}
}

