﻿div.bar_chart div.bar {
	border: 1px solid #647897;
	border-bottom-width: 0;
	background: #909fb5 url(Images/IPA/bar_bg_grad.gif) repeat-x bottom;
	overflow: visible;
	position: relative;
	width: 99.99%;
	z-index: 1;
}
div.bar_chart div.bar:hover {
	border-color: #355fab;
	background-position: top;
}
div.bar_chart div.bar:hover span.label {
	text-decoration: underline;
	color: #355fab;
}
div.bar_chart div.active_bar,
div.bar_chart div.active_bar:hover {
	background-image: none;
	border-color: #000;
	border-bottom-width: 0;
	background-color: #667A99;
	cursor: default;
}
div.bar_chart table tbody td .active_bar:hover span.label {
	color: #000;
	text-decoration: none;
}
div.bar_chart table {
	position: relative;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	overflow: visible;
	width: 609px;
	margin: 0 auto;
	border: 1px solid #000;
}
div.bar_chart table tbody td, 
div.bar_chart table tbody th  {
	color: #202020;
	height : 130px;
	padding: 2em 10px 0 10px;
	vertical-align: bottom;
}
div.bar_chart table tbody td {
	border-top: 1px solid #000;
	cursor: default;
	background: #dfeaf4 url(Images/IPA/chart_bg_grad.gif) repeat-x top;
}
div.bar_chart table tfoot th {
	vertical-align: top;
	border-top: 1px solid #000;
}
div.bar_chart table tbody td .bar span.label {
	position: relative;
	top: -1.5em;
	font-weight: bold;
	color: #313A48;
}
div.bar_chart table tbody td .bar span {
	width: 100%;
	text-align: center;
	display: block;
}
div.bar_chart table tbody th,
div.bar_chart table tfoot td,
div.bar_chart table thead td {
	width: 20px;
}
div.bar_chart table tbody th {
	vertical-align: bottom;
	border-left: 1px solid #000;
}
div.bar_chart table tbody th ul {
	height: 130px;
	position: relative;
	left: -609px;
}
div.bar_chart table tbody th li {
	position: absolute;
	border: none;
	text-align: right;
	left: 32px; /* 20px width + 10px padding + table border width + th border width */
	width: 566px;
	z-index: 0;
}
div.bar_chart table tbody th li span {
	color: #5C5C5C;
	font-size: 0.9em;
	position: relative;
	display: block;
	text-align: center;
	width: 40px;
	left: 41px; /* + border of th */
	top: -0.75em;
}
div.bar_chart table tfoot th,
div.bar_chart table thead th {
	text-align: center;
	padding: 0.5ex;
}
div.bar_chart table th,
div.bar_chart table tfoot td,
div.bar_chart table thead td {
	background-color: #eaf5fd;
}
div.bar_chart .overpricing_risk div.bar {
	background-color: #900000;
	background-image: none;
}
div.risk_bar_chart table tbody td div.bar {
	top: 1px;
}
div.risk_bar_chart table tbody td .bar span.label {
	top: -2.5em;
}
div.bar_chart td.due_for_replanning {
	border-right: 1px solid #bbd2e3;
}
div.bar_chart th.due_for_replanning {
	border-right: 1px solid #bbb;
}
