/* CHOOSE SELLER PAGE ------------------------------------------------------ */

#pageHead 
{
    width: 800px;
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}
#pageHead span 
{
    font-style: oblique;
}
#ResultsTable
{
    width: 800px;
    text-align: left;
    margin: 0 auto;
}
#PricingSearchForm 
{
    margin-bottom: 20px;
}

#PricingSearchForm td 
{
    padding-right: 15px;
}
#ResultsTable h3 
{
    padding-bottom: 5px;
}

#ResultsTable h3 span 
{
    font-weight: normal;
}

/* PROCESS SELLER PAGE ----------------------------------------------------- */

#Progress 
{
    width: 352px;
    text-align: left;
    margin: 0 auto;
}

#ProgressBarContainer 
{
    width: 350px;
    height: 20px;
    border: 1px solid #000;
    text-align: left;
    overflow: hidden;
}

#VehicleCount 
{
    float: right;
}

#ProgressBarFill 
{
    height: 20px;
    width: 0%;
    border-right: 1px solid #ccc;
    background-color: #a0bbd5;
}