#ipa #pingFlash
{
	position: relative;
	height: 350px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border: solid 4px #c0c0c0;
	background-color: #c0c0c0;
	z-index: 100;
}

#ipa #pingFlashBg
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #f6f6f6 url(Images/IPA/ipa_swf_bg.gif) top left repeat-x;
	z-index: 1;
}

/* CHART -------------------------------------------------------------- */

#chartHeading
{
	margin: 0 auto;
	width: 574px;
	height: 40px;
	position: relative;
	text-align: center;
}

#chartHeading .left
{
	position: absolute;
	bottom: 1px;
	left: 0px;
}

#chartHeading .right
{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#chartHeading h1
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: -1;
}

/* INVENTORY FACTS --------------------------------------------------------- */


#inventoryFacts
{
	margin: 0 auto;
	height: 35px;
	width: 627px;
	padding-top: 6px;
	background: transparent url(Images/IPA/inventory_facts_bg.gif) top left no-repeat;
	text-align: center;
	font-size: 85%;
}
.fact
{
	color: #333;
	padding-right: 14px;
	padding-left: 3px;
	background: transparent url(Images/IPA/inventory_fact_separator.gif) center right no-repeat;
}

.fact span
{
	font-weight: bold;
	font-size: 105%;
}

.fact.last
{
	background-image: none;
	padding-right: 0px;
	margin-right: 6px; /* counteract the left padding on the first fact */
}


/* INVENTORY TABLE --------------------------------------------------------- */

#InventoryTableTitle
{
	font-size: 120%;
}

input#keyword
{
	font-size: 90%;
}

#inventoryTable
{
	clear: both;
	margin: 0 auto;
	width: 800px;
	position: relative;
}

#inventoryTable tr
{
	cursor: pointer;
}

#inventoryTable tr td.series_match
{
	text-align: left;
	text-indent: -8000px;
	overflow: hidden;
}

#inventoryTable tr td.is_series_match
{
	background-image: url(Images/ModifySearch/green-check.gif);
	background-position: 50% 5px;
	background-repeat: no-repeat;
}

#gridHeading
{
	margin: 20px auto 1ex auto;
	width: 800px;
}


.dropMenu span
{
	position: relative;
	top: 1px;
	left: 2px;
	white-space: nowrap;
	font-size: 85%;
}

a.enabled
{
	color: #c00c0d;
}

tr.selected td
{
	background-color: #c4d8e7;
}

#stockOrModelTextBoxLabel
{
	margin-left: 5ex;
}
#stockOrModelTextBox
{
	width: 25ex;
}

#inventoryTable span.export_error
{
	position: absolute;
	right: 0;
}

#inventoryTable span.export_error label
{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	text-align: left;
	top: -6px;
	right: -29px;
	background: transparent url(Images/IPA/row_attention.gif) no-repeat top left;
}
#inventoryTable tr.odd span.export_error label
{
	background-position: -30px 0;
}
#inventoryTable tr.selected span.export_error label
{
	background-position: -60px 0;
}
#inventoryTable span.export_error label input
{
	z-index: -1;
	display: block;
	border-color: #c4d8e7;
	color: #c4d8e7;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
}

.price-comparison-image
{
	width: 300px;
	text-align: left;
	border-bottom: 1px solid #a9a9a9;
}

.red-background
{
	background: red;
	color: white !important;
}

.green-background
{
	background: green;
	color: white !important;
}

.yellow-background
{
	background: yellow;
	color: black !important;
}

table.inventory-pricing-grid
{
	border: solid 1px #a9a9a9;
	width: 1050px !important;
	margin: auto;
}
.msrp-logo
{
	width: 34px;
	height: 25px;
}
.pricingInventoryTable
{
	width: 1050px !important;
}
.kbb-logo
{
	width: 35px;
	height: 22px;
}
.nada-logo
{
	width: 28px;
	height: 20px;
}
.edmunds-logo
{
	width: 30px;
	height: 25px;
}
.mktAvg-logo
{
	width: 30px;
	height: 25px;
}
#ipa .page-footer
{
	/* TODO: change to underscore */
	width: 980px;
	z-index: 1;
	position: relative;
	margin: 0 auto;
}
.image-dimension
{
	height: 32px;
	width: 32px;
}
