.dropMenu
{
	display: inline;
}

.dropMenu select 
{
    font-size: 80%;
    line-height: 26px;
}

.dropMenu span 
{
    background: transparent url(Images/drop_arrow.gif) 4px right no-repeat;
    padding-right: 10px;
    line-height: 26px;
}

.dropMenu b
{
	display: inline-block;
    height: 26px;
    line-height: 26px;
}

#chart {
	position: relative;
	left: 7px;
}

#progress 
{
    position: absolute;
}