form.preference_page {
	width: 990px;
	text-align: left;
	position: relative;
}

.preference_page .form_view {
	margin: 0 0 1.5em 0; 
	width: 530px;
	float: left;
}

.preference_page label { font-weight: bold; color: #485775; }

/* Fieldsets */
.preference_page fieldset { 
	padding: 1.4em; 
}
.preference_page legend { padding: 0 0 1em; font-weight: bold; font-size: 1.2em; color: #485775 }
.preference_page fieldset.controls {
	border: none;
	padding: 0;
	margin-top: -1em;
	margin-bottom: 2.5em;
	text-align: right;
	clear: both;
}

/* Textareas */
.preference_page textarea { margin: 0 0.5em 0 0; }
.preference_page textarea { padding: .4em; }

.preference_page ul.radio_group input,
.preference_page ul.radio_group label {
/*	float: left;*/
}

.preference_page ul.radio_group li {
/*	clear: both;*/
}


/* hForm
-------------------------------------------------------------- */
.preference_page fieldset.hform p { margin: 0 0 .5em; }
.preference_page fieldset.hform p label { float: left; clear: left; width: 200px; margin-top: 1ex; }

.preference_page fieldset.hform p input { width: 200px; }
.preference_page fieldset.hform p select { width: 200px; }

.preference_page fieldset.hform p input.button { width: auto; }
.preference_page fieldset.hform p input.checkbox { width: auto; }
.preference_page fieldset.hform p input.radio { width: auto; }

.preference_page fieldset.hform p.checkbox { margin-left: 100px; }
.preference_page fieldset.hform p.checkbox label { float: none; }
.preference_page fieldset.hform p.checkbox input { width: auto; }


/* vForm
-------------------------------------------------------------- */
.preference_page fieldset.vform p { margin: 0 0 0.5em; }
.preference_page fieldset.vform p label { display: block; }

.preference_page fieldset.vform p.checkbox label { display: inline; }

/* ======================= */
/* = Interaction Classes = */
/* ======================= */
.has_javascript td.only_show_with_javascript * {
	visibility: hidden;
}
* html .has_javascript tbody tr.hover td.only_show_with_javascript *,
.has_javascript tbody tr:hover td.only_show_with_javascript * {
	visibility: visible;
}

/* =================== */
/* = GridView Styles = */
/* =================== */
.preference_page table.grid {
	table-layout: fixed;
	width: 570px;
}
.preference_page table.grid thead th { text-align: left; }

.preference_page table.grid caption {
	color: #3F3F3F;
}

.preference_page table.grid th.move_up,
.preference_page table.grid td.move_up		{ width: 15px; }
.preference_page table.grid th.move_down,
.preference_page table.grid td.move_down	{ width: 15px; }
.preference_page table.grid th.delete,
.preference_page table.grid td.delete		{ width: 15px; } 
.preference_page table.grid th.selected,
.preference_page table.grid td.selected		{ width: 15px; } 

.preference_page table.grid .delete,
.preference_page table.grid .snippet_up,
.preference_page table.grid .snippet_down {
	vertical-align: middle;
}

.preference_page table.grid td.move_up input,
.preference_page table.grid td.move_down input,
.preference_page table.grid td.delete input {
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	overflow: visible;
	color: #2B4068;
	cursor: pointer;
}

.preference_page table.grid td.move_up input,
.preference_page table.grid td.move_down input {
	color: #91959D;
	font-weight: bold;
	font-size: 18px;
	padding: 0 10px;
}

.preference_page table.grid td.move_up input:hover,
.preference_page table.grid td.move_down input:hover {
	color: #2B4068;
}

.preference_page table.grid td.delete input {
	padding: 0 5px;
	font-weight: bold;
	font-size: 18px;
	color: #ccc;
	visibility: visible;
	text-align: center;
}

.preference_page table.grid tr.hover td.delete input, 
.preference_page table.grid tr:hover td.delete input, 
.preference_page table.grid td.delete input:hover {
	visibility: visible;
	color: #800000;
}

/* ====================== */
/* = Disabled Grid View = */
/* ====================== */
html body .preference_page table.disabled {
	border-color: #e1e1e1;
}
html body .preference_page table.disabled caption {
	background-color: #eaeaea !important;
}

html body .preference_page table.disabled * {
	color: #bfbfbf !important;
}

html body .preference_page table.disabled tr.odd td {
	background-color: #ebebeb;
}

html body .preference_page table.disabled tr td {
	background-color: #f3f3f3;
}


/* ================== */
/* = Snippet Report = */
/* ================== */
.preference_page table.snippet_report {
	margin: 0 0 1.5em 245px;
}

.preference_page table.snippet_report .select		{ width: 30px; }
.preference_page table.snippet_report .snippet_name	{ width: 125px; }


.preference_page table.snippet_report td.select input {
	vertical-align: top;
	font-size: 10px;
}
.preference_page table.snippet_report td.select input:hover {
	text-decoration: underline;
	border-bottom: 1px solid #2B4068;
}

.preference_page table.snippet_report td.select input {
	/* = Mirrors: .preference_page table.grid td.move_up input = */
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	overflow: visible;
	color: #2B4068;
}


/* =========== */
/* = Buttons = */
/* =========== */
.preference_page fieldset.controls input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
}

.preference_page fieldset.controls span.button {
	display: inline-block;
	padding: 1px;
	background: transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 1px 5px 5px;
	cursor: pointer;
}
.preference_page fieldset.controls span.cancel_button input {
	padding-left: 20px;
	background: transparent url(Images/VPA/button_cancel_x.gif) no-repeat 8px 50%;
}

.preference_page fieldset.controls span.update_button input,
.preference_page fieldset.controls span.insert_button input {
	padding-left: 20px;
	background: transparent url(Images/VPA/button_save_check.gif) no-repeat 8px 50%;
}

.preference_page fieldset .desc {
	color: #555;
	padding: 0 2em 1em 1em;
}

/* ============= */
/* = Help Text = */
/* ============= */
.preference_page fieldset .help_text {
	border: 1px solid #8EA5B0;
	background-color:	#F4FFFF;
	margin: 10px 50px;
	color: #555;
	padding: 10px 40px 10px 20px;
	position: relative;
	display: none;
}

.preference_page fieldset .help_text .help_arrow {
	position: absolute;
	display: block;
	width: 28px;
	height: 15px;
	background-image: url('Images/VPA/help_pointer.gif');
	text-align: center;
	color: #F4FFFF;
}

.preference_page fieldset .help_text dt {
	font-weight: bold;
	text-decoration: underline;
	color: #4B4B4B;
	float: left;
	margin-right: 1ex;
}

.preference_page fieldset .help_text dl {
	margin-bottom: 1ex;
}

.preference_page fieldset .help_text dd dl {
	margin-left: 1ex;
	margin-bottom: 1em;
}

.preference_page fieldset .help_text abbr {
	font-variant: small-caps;
	font-size: 95%;
}

.preference_page fieldset .help_text em.example {
	font-weight: normal;
	font-style: italic;
	font-size: 105%;
	color: #4B4B4B;
}

.preference_page fieldset .help_arrow_up { margin-top: 18px; }
.preference_page fieldset .help_arrow_up .help_arrow {
	top: -14px;
	left: 7px;
	background-position: top center;
}

.preference_page fieldset .help_arrow_down { margin-bottom: 18px; }
.preference_page fieldset .help_arrow_down .help_arrow {
	bottom: -14px;
	right: 7px;
	background-position: bottom center;
}

.preference_page fieldset .help_arrow_right { margin-bottom: 18px; }
.preference_page fieldset .help_arrow_right .help_arrow {
	right: -13px;
	bottom: 7px;
	height: 28px;
	width: 15px;
	background-position: center right;
}

html .preference_page fieldset .help_arrow_left {
	margin-top: -1ex;
	width: 30em;
	position: absolute;
	right: -3em;
}

html body .preference_page fieldset .help_even {
	margin-top: -3em !important;
}

.preference_page fieldset .help_arrow_left .help_arrow {
	left: -13px;
	top: 7px;
	height: 28px;
	width: 15px;
	background-position: center left;
}

/* ================== */
/* = Preference Nav = */
/* ================== */
.preference_page .secondary_preference_nav {
	float: left;
	width: 235px;
}

.preference_nav a {
	font-size: 10px;
	color: #355fab;
}
.preference_nav a:hover {
	font-size: 10px;
}
.preference_nav div.ui-menu-horizontal {
	padding-bottom: 5px;
	border-bottom: 1px solid #aaa;
}
.preference_nav div.ui-menu-horizontal ul.ui-menu { margin: 0; padding: 0 0 2px 0; }
.preference_nav div.ui-menu-horizontal ul.ui-menu li { 
	border-right: none; 
	padding: 2px 2px 5px; 
}
.preference_nav div.ui-menu-horizontal ul.ui-menu li.ui-menu-child-selected {
	border-bottom: 4px solid #aaa;
}

.preference_nav div.ui-menu-vertical {
	margin-top: 1em;
	border-right: 1px solid #aaa;
}
.preference_nav div.ui-menu-vertical ul.ui-menu { margin: 0; padding: 0 0 2px 0; }
.preference_nav div.ui-menu-vertical ul.ui-menu li { 
	text-align: right;
	padding: 10px 5px; 
	border-right: 4px solid #F1F1F1;
}
.preference_nav div.ui-menu-vertical ul.ui-menu li.ui-menu-selected {
	border-right: 4px solid #aaa; font-weight:bold; color:#27447a;
}


/* ============================== */
/* = AdvertisementGeneratorForm = */
/* ============================== */
#AdvertisementGeneratorForm.preference_page ul.radio_group {
	padding-bottom: 1em;
}
#AdvertisementGeneratorForm.preference_page p.checkbox {
	margin-left: 3em;
}
#AdvertisementGeneratorForm.preference_page table.grid { 
	margin: 1ex 0 1em 50px;
	width: 250px;
}
#AdvertisementGeneratorForm.preference_page fieldset.controls {
	z-index: 0;
	border-top: 1px solid #ddd;
	margin-top: -1.5em;
	padding-top: 1px;
	clear: both;
}
#AdvertisementGeneratorForm.preference_page table.grid thead tr {
	display: none;
}

#AdvertisementGeneratorForm.preference_page table.grid caption {
	padding: 2px 0 1px 5px;
	background-color: #a9a9a9;
	color: #fff;
	font-weight: bold;
}

#AdvertisementGeneratorForm.preference_page ul.radio_group .help_text {
	margin-top: -1em !important;
}

#AdvertisementGeneratorForm.preference_page .pricing_report_dropdown {
	text-indent: 50px;
}

/* ========================= */
/* = EquipmentSettingsForm = */
/* ========================= */
#EquipmentSettingsForm.preference_page fieldset .help_arrow_left {
	margin-top: -1ex;
	width: 20em;
	position: absolute;
	right: -3em;
}

#EquipmentSettingsForm.preference_page fieldset.controls {
	width: 420px;
}