body {
	font-family: Trebuchet, 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
	font-size: 68%;
}


/* LIGHTS --------------------------------------------------------- */
.light
{
    display: block;
    height: 13px;
    width: 12px;
}

.light.red
{
    background: transparent url('Images/lights.gif') 0px 1px no-repeat;
}

.light.yellow
{
    background: transparent url('Images/lights.gif') 0px -11px no-repeat;
}

.light.green
{
    background: transparent url('Images/lights.gif') 0px -24px no-repeat;
}


/* LAYOUT / PAGE BLOCKS --------------------------------------------------------- */



#hd {
	margin-top: 4px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
	height: 15px;
	position: relative;
	z-index: 1;
}

#bd {
	padding: 20px;
	margin-top: 3px;
	margin-bottom: 5px;
	background: #f1f1f1 url(Images/page_bg_top.gif) repeat-x;
	border-bottom: solid 1px #666666;
}

#pageMenu {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	text-align: right;
	margin-bottom: 15px;
}

a,
a:link,
a:visited {
	color: #355fab;
	font-size: 90%;
	text-decoration: none;
}

a:link:hover,
a:visited:hover {
	color: #355fab;
	font-size: 90%;
	text-decoration: underline;
}
a.disabled
{
    color: #666;
}
a.disabled:hover
{
    color: #666;
    text-decoration: none;
}

#pageTitle
{
    float: left;
}

/* ================= */
/* = START: Footer = */
/* ================= */
div.page-footer {
    padding: 3px 0px 10px 5px;
    margin-right: 5px;
    color: #999;
    font-size: 90%;
    text-align: left;
    background: transparent url(Images/firstlook_logo_tagline_2.gif) no-repeat center right;
}

div.page-footer ul {
	list-style: none;
	margin: 0;
}

div.page-footer ul li {
	display: inline;
	border-right: 1px solid #9999b2;
	padding: 0 0.5em;
}

div.page-footer ul li.last {
	border-right: none;
	position: relative;
}

div.page-footer ul li.last span.chrome-copy {
	padding-left: 0.5em;
}

/* = END: Footer = */

/* HTML ELEMENTS / UTILITY CLASSES ---------------------------------------- */

em
{
    font-style: oblique;
    font-weight: 900;
}
strong
{
    font-weight: 900;
}

label.small {
	color: #8b8b8b;
	text-transform: none;
	font-size: 85%;
}

.textBox {
	padding: 1px 2px;
	border: solid 1px #8f8f8f;
	background: #fff url(Images/textbox_bg.gif) top right no-repeat;

}


.right {
	float: right;
	margin-left: 8px;
	margin-top: auto;
}

.left {
	float: left;
	margin-right: 8px;
	margin-top: auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.overlabelContainer
{
    position: relative;
}

label.overlabel {
    color:#999;
}

label.overlabel-apply {
    position:absolute;
    top:3px;
    left:5px;
    z-index:1;
    color:#999;
}

a { outline: none; }


/* HEADINGS --------------------------------------------------------- */

h1 {
	color: #485775;
	font-size: 135%;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	text-align: center;
}

h2 {
	color: #485775;
	font-size: 125%;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

h3
{
	color: #485775;
	font-size: 105%;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}


/* TOP MENU --------------------------------------------------------- */

#application_menu_container {
	float: left;
}

#member_menu_container,
#seller_menu_container {
	float: right;
}

#application_menu_container a,
#application_menu_container a,
#seller_menu_container a,
#hd ul.ui-menu a {
	font-size: 100%;
}

/* GRIDS --------------------------------------------------------- */

table.grid {
	border: solid 1px #a9a9a9;
	width: 800px;
	margin: auto;
}

table.small
{
    width: 757px;
}

table.grid tr.center th,
table.grid tr.center td {
	text-align: center;
}

table.grid .bold {
	font-weight: bold;
}

table.grid .nowrap {
	white-space: nowrap;
}

table.grid .warning {
	color: #bc0000;
}

table.grid th,
table.grid th a,
table.grid th a:hover,
table.grid th a:visited,
table.grid th a:visited:hover {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
}

table.grid td {
	padding: 5px 6px;
	vertical-align: top;
	color: #555;
}

table.small td
{
    padding: 2px 3px;
}

table.grid td.alignCenter
{
    text-align: center;
}

table.grid td.alignRight
{
    text-align: right;
}


table.grid th {
	background: #a9a9a9;
	color: #fff;
	padding: 5px 6px;
	vertical-align: bottom;
	text-align: center;
}
table.grid th.ascending
{
    padding-right: 15px;
    background: #bbb url(Images/sort_ascending.gif) no-repeat right bottom;
}
table.grid th.descending
{
    padding-right: 15px;
    background: #bbb url(Images/sort_descending.gif) no-repeat right bottom;
}

table.small th
{
    padding: 2px 3px;
    text-align: left;
}

table.grid tbody tr {
	background-color: #ffffff;
}

table.grid tbody tr.odd {
	background-color: #f2f2f2;
}

table.grid tfoot tr td {
	background-color: #d0d0d0;
	border-top: solid 1px #888;
}

.gridPager {
    float: right;
    margin-top: 5px;
}

.gridPager a,
.gridPager a:visited,
.gridPager span
{
    display: inline-block;
    padding: 1px 5px;
    text-decoration: none;
    border: solid 1px #d0d0d0;
    margin-left: 5px;
    background-color: #e0e0e0;
    color: #777;
}

.gridPager span
{
    background-color: #d0d0d0;
    border: solid 1px #808080;
    color: #555;
}

.gridPager a:hover,
.gridPager a:visited:hover
{
    background-color: #f0f0f0;
}

.gridViewRowCount
{
    float: left;
    margin-top: 5px;
}



/* BUTTONS AND LINKS ----------------------------------------------- */

a.button {
	display: block;
	height: 18px;
}

a.button:hover
{
    background-position: 0px -36px;
}

a.button:active
{
    background-position: 0px -18px;
}

#saveAsExcelButton
{
    width: 72px;
    background-image: url(Images/Buttons/button_save_as_excel.gif);
}

#refreshButton
{
	width: 25px;
	background-image: url(Images/Buttons/button_refresh.gif);
}

#stockOrModelSearchButton
{
    width: 58px;
    background-image: url(Images/Buttons/button_search.gif);
}

.pingIcon
{
    cursor: pointer;
}
.pingIcon img
{
    position: relative;
    top: 1px;
}

.stockLink
{
    cursor: pointer;
}

a.listingProviderLink:link,a.listingProviderLink:active,a.listingProviderLink:visited
{
    text-decoration: underline;
}

/* DROP MENUS --------------------------------------------------------- */

.dropMenu
{
	color: #485775;
	display: inline;
}

.dropMenu select
{
    font-size: 80%;
}

.dropMenu span
{
    background: transparent url(Images/drop_arrow.gif) -2px right no-repeat;
    padding-right: 10px;
    line-height: 26px;
}

.dropMenu b
{
    height: 26px;
    line-height: 26px;
}
/* Progress Icon --------------------------------------------------------- */

#progress
{
    position: fixed;
    top: 48%;
    left: 45%;
    padding: 10px;
    background-color: #fff;
    border: solid 1px #888;
    z-index: 10000;
}
#progress iframe { display: none; }

/* CLEAR FIX ------------------------------------------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */

.clear
{
   clear: both;
}

/* =============== */
/* = START: Menu = */
/* =============== */
/* = start: Formating = */
div.blue div.ui-menu-horizontal,
div.blue div.ui-menu-horizontal a { color: #036; }
div.ltGrey div.ui-menu-horizontal,
div.ltGrey div.ui-menu-horizontal a { color: #666; }
div.ltGrey div.ui-menu-horizontal ul.ui-menu li a:hover,
div.ltGrey div.ui-menu-horizontal ul.ui-menu li span:hover
div.ltGrey div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover span { text-decoration: underline; }
div.smallCaps div.ui-menu-horizontal { font-size: 9px; text-transform: uppercase; }
div.ui-menu-horizontal {
	font-family: Verdana ,Helvetica, Arial, "MS Trebuchet", sans-serif;
	font-size: 10px;	
}
div.ui-menu-horizontal ul.ui-menu { margin: 0; padding: 0 0 2px 0; }
div.ui-menu-horizontal ul.ui-menu li { border-right: 1px solid #999; padding: 0; }
div.ui-menu-horizontal ul.ui-menu li.last {	border-right: none; }
div.ui-menu-horizontal ul.ui-menu li.ui-menu-parent {
	padding-right: 3px;
	background-image: url('Images/Menu/navarrow.gif');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
div.ui-menu-horizontal ul.ui-menu li.ui-menu-parent li.ui-menu-parent {	background-image: url('Images/Menu/navarrow2.gif'); }
div.ui-menu-horizontal ul.ui-menu li a, 
div.ui-menu-horizontal ul.ui-menu li span {	line-height: 12px; padding: 0 5px; }
div.ui-menu-horizontal ul.ui-menu li ul {
	top: 12px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	border-top: none;
	background-color: #fff;
}
div.ui-menu-horizontal ul.ui-menu li li ul {
	top: -2px;
	border-left: none;
	border: 1px solid #999;
}
div.ui-menu-horizontal ul.ui-menu li li {
	margin: 0;
	padding: 0;
	border-right: none;
	border-top: 1px solid #EDEDED;
	text-transform: none;
	border-bottom: 1px solid #fff; /* KLUDGE: IE6 padding fix, color should match parent ul */
}
div.ui-menu-horizontal ul.ui-menu li li a,
div.ui-menu-horizontal ul.ui-menu li li span { padding: 5px; }
div.ui-menu-horizontal ul.ui-menu li ul li:hover,
div.ui-menu-horizontal ul.ui-menu li ul li.ui-menu-hover { background-color: #F5F5F5; }
/* = end: Formating = */

/* = start: Menu Functional Layout = */
div.ui-menu-horizontal ul.ui-menu {	display: block;	list-style: none; }
div.ui-menu-horizontal ul.ui-menu li { display: inline;	position: relative; }
div.ui-menu-horizontal ul.ui-menu li a,
div.ui-menu-horizontal ul.ui-menu li span {	display: inline; text-decoration: none; cursor: pointer; }
div.ui-menu-horizontal ul.ui-menu li ul { position: absolute;	left: -1px;	display: none; }
div.ui-menu-horizontal ul.ui-menu li li ul { left: 100%; }
div.ui-menu-horizontal ul.ui-menu li li { display: list-item; white-space: nowrap; overflow: visible; }
div.ui-menu-horizontal ul.ui-menu li li a,
div.ui-menu-horizontal ul.ui-menu li li span { display: block; }
div.ui-menu-horizontal ul.ui-menu li:hover>ul,
div.ui-menu-horizontal ul.ui-menu li ul:hover { display: block; }
div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover ul {	display: block; }
/* = end: Functional Layout = */

/* ================= */
/* = START: Dialog = */
/* ================= */
/* = start: Formating = */
.ui-dialog { 
	background-color: #fff; 
	font: normal 12px/16px Verdana, Tahoma, Arial, sans-serif;
}
.ui-dialog-titlebar {
	border-bottom: solid 1px #cdcdcd;
	background-color: #DFDFDF;
	margin-top: 4px;
	padding: 6px 0 2px 8px;
	zoom: 1;
	position: relative;
}
.ui-dialog-title {
	color: #31404F;
	font-weight: bold;
	font-size: 12px;
	margin-left: 8px;
}
.ui-dialog-titlebar button.ui-dialog-titlebar-close {
	position: absolute;
	top: 0;
	right: 6px;
	display: block;
	text-indent: -25000px;
	width: 22px; height: 22px;
	background: transparent url(Images/Dialog/Close.gif) no-repeat top center;
	border-color: #f4f4f4;
	outline: 1px solid #f4f4f4;
}

.ui-dialog-titlebar button.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar button.ui-dialog-titlebar-close:active,
.ui-dialog-titlebar button.ui-dialog-titlebar-close:focus {
	background-position: bottom center;
	border-color: #f4f4f4;
	outline: 1px solid #f4f4f4;
}
.ui-dialog-content {
	color: #3F3F3F;
	padding: 0 10px 3em 8px;
}
.ui-dialog-content .confirmation {
	font-size: 8pt;
}
.ui-dialog-buttonpane {
	position: absolute;
	bottom: 0;
	right: 8px;
	height: 3em;
}
.ui-dialog-buttonpane ul li {
	margin: 0 0 0 0.5em;
	padding: 0;
}
.ui-dialog .ui-resizable-s { height: 4px; background: #fff url(Images/Dialog/x_border.gif) repeat-x bottom; }
.ui-dialog .ui-resizable-n { height: 2px; background: #fff url(Images/Dialog/x_border.gif) repeat-x top; z-index: -1; }
.ui-dialog .ui-resizable-w { width: 4px;  background: #fff url(Images/Dialog/y_border.gif) repeat-y left; }
.ui-dialog .ui-resizable-e { width: 4px;  background: #fff url(Images/Dialog/y_border.gif) repeat-y right; }
.ui-dialog .ui-resizable-se, .ui-dialog .ui-resizable-sw,
.ui-dialog .ui-resizable-nw, .ui-dialog .ui-resizable-ne { 
	width: 4px; height: 4px; 
	background: #fff url(Images/Dialog/Corners.gif) no-repeat;
}
div.ui-resizable .ui-resizable-se {
	width: 12px; height: 12px;
	background-image: url(Images/Dialog/Corners_resizable.gif);
}
.ui-dialog .ui-resizable-se { background-position: bottom right; }
.ui-dialog .ui-resizable-ne { background-position: top right; }
.ui-dialog .ui-resizable-nw { background-position: top left; }
.ui-dialog .ui-resizable-sw { background-position: bottom left; }
.ui-dialog input.button,
.ui-dialog button {
    margin:0;
    background-color:#fff;
    border:1px solid #9f9f9f;
    border-top-color: #b4b4b4;
    border-left-color: #b4b4b4;
    font-weight: bold;
    font-size: 85%;
    color:#485775; 
    cursor:pointer;
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
}
.ui-dialog input.button:hover,
.ui-dialog button:hover {
	background-color: #f4f4f4;
	color: #535a6a;
	border-color: #b9b9b9;
	border-top-color: #cdcdcd;
	border-left-color: #cdcdcd;
}
.ui-dialog .ui-input-fieldset { border: none; }
.ui-dialog .ui-input-fieldset textarea { width: 99.9%; }
.ui-dialog p.warning {
    margin-top: 0.2em;
    color: #c00c0d;
    font-size: 90%;
    font-weight: bold;
}
.distribution_messagebox p {
	white-space: pre-line;
}
/* = end: Formating = */
/* = start: Functional Layout = */
.ui-dialog { position: absolute; overflow: hidden; width: 100%; zoom: 1}
.ui-dialog-container { position: relative; }
.ui-dialog-buttonpane ul { list-style-type: none; }
.ui-dialog-buttonpane ul li { display: inline; }
.ui-resizable-handle { position: absolute; }
.ui-dialog .ui-resizable-n { width: 100%; top: 0px; left: 0px; }
.ui-dialog .ui-resizable-s { width: 100%; bottom: 0px; left: 0px; }
.ui-dialog .ui-resizable-e { right: 0px; top: 0px; height: 100%; }
.ui-dialog .ui-resizable-w { left: 0px; top: 0px; height: 100%; }
.ui-dialog .ui-resizable-se { min-width: 1px; min-height: 1px; right: 0px; bottom: 0px; }
.ui-dialog .ui-resizable-sw { min-width: 1px; min-height: 1px; left: 0px; bottom: 0px; }
.ui-dialog .ui-resizable-nw { min-width: 1px; min-height: 1px; left: 0px; top: 0px; }
.ui-dialog .ui-resizable-ne { min-width: 1px; min-height: 1px; right: 0px; top: 0px; }
/* = end: Functional Layout = */

/* collapse panel */
/* = start: functional layout = */
.ui-collapse-panel-head { position: relative; width: 99.9%; }
.ui-collapse-panel-button { position: absolute; right: 5px; top: 8px; }
.ui-collapse-panel-titlebar { cursor: pointer; }
.ui-collapse-panel-body { padding: 0; border: none; overflow: hidden; }
.ui-collapse-panel-body-wrapper { overflow: auto; position: static !important; }
.ui-collapse-panel-vertical-expanding .ui-collapse-panel-wrapper { overflow-x: hidden; }
.ui-collapse-panel-horizontal-expanding .ui-collapse-panel-wrapper { overflow-y: hidden; }
/* = end: functional layout = */

/* ===================== */
/* = START: Search Tab = */
/* ===================== */
/* = start: functional layout = */
.ui-tabs {
	display: block;
	list-style: none;
	width: 100%;
	margin: 0;
}

.ui-tabs .ui-tab { display: block; float: left; }
.ui-tabs .ui-tab input {
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.ui-tabs .ui-tab input:hover { text-decoration: underline; }
.ui-tabs .ui-tab input:active {
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	color: red;
}
.ui-tab-content { clear: both; padding: 0; margin: 0; }
.ui-empty-tab-content { display: none; }
/* = end: functional layout = */

/* ================== */
/* = Helper Classes = */
/* ================== */
.inline { display: inline; }