/*===================
 = VPA Page Layout =
 ===================*/
/* @group Layout */
#vpa #wrap {
	width: 990px;
    margin: 0 auto;
	padding-bottom: 10px;
	text-align: left;
	position: relative;
	z-index: 2;
}
#vpa #menu {
	width: 990px;
	margin-top: 15px;
}
#vpa #hd {
	height: auto;
	margin-bottom: 0;
}
#vpa .vpa_header_info_tabs .invListings-bd table.inventory, 
#vpa .vpa_header_info_tabs .ui-tab-content {
	width: 950px;
	margin: 0 auto;
}
#vpa .vpa_header_info_tabs .ui-tab-content .invListings, 
#vpa .vpa_header_info_tabs .ui-tab-content .selectedEquipment {
	margin-bottom: 10px;
}
#vpa .vpa_header_info_tabs .units_in_stock_tab {
	position: absolute;
	right: 0;
}
#vpa #mktPrce {
	margin: 0 0 0 20px;
	width: 540px;
	float: left;
}
#vpa div.vpa_search_tile {
	float: right;
	width: 407px;
	margin: 0 20px 0 0;
}
#vpa .page-footer {
 /* TODO: change to underscore */
	width: 980px;
	z-index: 1;
	position: relative;	
    margin: 0 auto;
}
#vpa .market_listings {
	margin-top: 1ex;
}
#vpa .market_listings table.grid {
	width: 900px;
}
#vpa .market_listings .gridPager {
    margin-right: 1em;
}
#vpa #PricePointUpdatePanel {
	clear: both;
}
#vpa .vpa_pricing_tiles,
#vpa .vpa_merchandising_tiles {
	width: 945px;
}
#vpa .vpa_pricing_tiles:after {
}
#vpa .vpa_pricing_tiles,
#vpa .vpa_merchandising_tiles,
#vpa .vpa_internet_shopper {
	margin: 10px 20px 0;
}
#vpa .vpa_merchandising_tiles .vpa_internet_shopper {
	clear:  left;
	width: auto;
	margin: 0;
}
#vpa #MerchandisingInformationUpdatePanel {
	z-index: 10;
	position: relative;	
}
#vpa #MarketListingsUpdatePanel {
	z-index: 1;
	position: relative;	
}
#vpa #SearchTypeUpdatePanel {
	display: none;
}
#vpa #PricingPanels_NADA_Dataset.smallNote {
	line-height: 5pt;
}
#vpa h1#page_branding {
    /* this is shown when the MAX for S&eM upgrade is not available, PM */
	display: block;
	width: 540px;
	height: 19px;
	text-align: left;
	margin: 2px 0 0 22px;
}
#vpa.package_1 h1#page_branding, 
#vpa.package_2 h1#page_branding, 
#vpa.package_3 h1#page_branding, 
#vpa.package_4 h1#page_branding, 
#vpa.package_5 h1#page_branding,
#vpa.package_6 h1#page_branding, 
#vpa.package_7 h1#page_branding,
#vpa.package_8 h1#page_branding {
    text-indent: 23px;
    padding-top: 4px;
    background: transparent url(../Lion/Images/icon_Ping.png) no-repeat 0px 2px; /* TODO: Shouldn't be dependent on the Lion Theme */
    font-size: 1.3em;
    color: #122e53;
	font: italic small-caps normal 12pt/14pt "Arial Black", sans-serif;
}
/* @end */
/* @group Basic Styles */
.content h3 {
	background-color: #F7F7F8;
	color: #193B05;
	float:  left;
	position: relative;
	top: -11px;
	left: -11px;
	font: italic 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: bold;
	padding-right: 5px;
	text-shadow: #CACACC -2px 1px 2px;
}
/* @end */
/*=======================
= Component Formating =
======================= */
/*VPA Inventory Calc -------------------------------------------------------*/
/* @group mktPrce */
#vpa #mktPrce h2 {
	font: normal 1em Arial;
	padding: 1em 1ex 0 2em;
    display: inline-block;
    float: left;
}
#vpa #mktPrce div.inline {
    display: inline-block;
	padding: 1em 1ex 0 1ex;
}
div#Calculator_AppraisalCalculator_SliderContainerHtmlGenericControl, 
div#Calculator_InventoryCalculator_SliderContainerHtmlGenericControl {
	margin-left: 5px;
	height: 110px;
    width: 510px;
}
div#Calculator_AppraisalCalculator_SliderContainerHtmlGenericControl {
    margin-bottom: 10px;
}
#vpa.auction_view div#Calculator_AppraisalCalculator_SliderContainerHtmlGenericControl, 
#vpa.in_group_view div#Calculator_AppraisalCalculator_SliderContainerHtmlGenericControl {
    margin-bottom: 10px;
    margin-top: 7px;
}
#vpa.package_7 div#Calculator_AppraisalCalculator_SliderContainerHtmlGenericControl, 
#vpa.package_8 div#Calculator_AppraisalCalculator_SliderContainerHtmlGenericControl {
    margin-top: 10px;
}
#vpa #mktPrce a.override_analysis {
	color: #b9c4fc;
}
#vpa #mktPrce a.override_analysis:active,
#vpa #mktPrce a.override_analysis:hover {
	color:  #355fab;
}
#mktPrce .control label {
    display: inline-block;
    font-size: 1.1em;
    vertical-align: bottom;
   	margin: -2px 1ex -3px;
	padding-top: 0;
	color: #636363;
}
#mktPrce .control li {
    display: inline-block;
    float: left; /* IE 7 */
}
#vpa.auction_view #mktPrce .control .mktPrce-price,
#vpa.auction_view #mktPrce .control .mktPrce-avg,
#vpa.in_group_view #mktPrce .control .mktPrce-price,
#vpa.in_group_view #mktPrce .control .mktPrce-avg,
#vpa.appraisal_view #mktPrce .control .mktPrce-max-market,
#vpa.appraisal_view #mktPrce .control .mktPrce-avg,
#vpa.appraisal_view #mktPrce .control .mktPrce-price {
    padding-left: 1em;
}
#vpa.auction_view #mktPrce .control .mktPrce-max-market, 
#vpa.in_group_view #mktPrce .control .mktPrce-max-market {
    width: 155px;
}
#mktPrce .control .mktPrce-max-market {
    width: 145px;
    margin-right: -1.4ex;
}
#mktPrce .control .mktPrce-max-market .value {
    float: left;
    padding: 1ex 1ex 1ex 0;
    font-weight: bold;
    font-size: 1.1em;
}
#mktPrce .control .mktPrce-max-market .label {
    font-style: italic;
}
#vpa.auction_view #mktPrce .control .mktPrce-price label, 
#vpa.in_group_view #mktPrce .control .mktPrce-price label {
    width: 80px;
}
#mktPrce .control .mktPrce-price label {
    width: 50px;
}
#mktPrce .control .mktPrce-avg label {
    width: 50px;
}
#vpa.auction_view #mktPrce .control .mktPrce-est-recon label, 
#vpa.in_group_view #mktPrce .control .mktPrce-est-recon label {
    width: 80px;
}
#mktPrce .control .mktPrce-est-recon input {
    width: 50px;
}
#mktPrce .control .mktPrce-est-recon label {
    width: 45px;
}
#vpa.auction_view #mktPrce .control .mktPrce-target-profit, 
#vpa.in_group_view #mktPrce .control .mktPrce-target-profit {
    display: none;
}
#mktPrce .control .mktPrce-target-profit input {
    display: inline;
    width: 70px;
    color: #3a4267;
    font: small-caps normal "Arial Black", sans-serif;
    text-align: right;
    padding: 0;
}
#mktPrce .control .mktPrce-target-gross input {
    width: 50px;
}
#mktPrce .control .mktPrce-target-gross label {
    margin-right: 0;
    width: 65px;
}
#mktPrce .control .mktPrce-target-profit label {
    margin-top: -10px;
    width: 120px;
    text-align: right;
}
#mktPrce .control span.input_unit {
    font-size: 1.5em;
}
#mktPrce .control span.current {
    display: block;
    color: #666;
    font-style: italic;
    margin-top: 1ex;
}
#mktPrce .control .mktPrce-price span.current {
	margin-left:  1.5em;
}
#mktPrce .control input {
    font-size: 1.4em;
    padding: 2px;
    font-weight: bold;
    color: #203874;
    background-color: #fffeae;
    text-align: right;
}
#mktPrce .control .mktPrce-max-market span {
    color: #2a8535;
    text-transform: uppercase;
}
#mktPrce .control .mktPrce-price input {
    width: 4em;
}
#mktPrce .control .mktPrce-avg input {
    width: 2em;
}
#mktPrce ul#calculator_summary {
    white-space: nowrap;
    color: #000;
    width: 100%;
    padding: 0.5em 0;
    margin: 0 auto;
    text-align: center;
    background-color: #d9e0f2;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9fd), to(#d9e0f2));
    background: -moz-linear-gradient(top, #f9f9f9, #d9e0f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f9fd, endColorstr=#d9e0f2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f9fd, endColorstr=#d9e0f2)";
}
#mktPrce ul#calculator_summary,
#mktPrce ul#calculator_summary li {
	display:  inline-block;
	text-align: center;
	color: #6f6f6f;
	vertical-align: middle;
}
#mktPrce ul#calculator_summary li {
	border-right: 1px solid #AABEF2;	
    margin-right: -1px;
	padding:  0 1em;
    float: left; /* IE 7 */
}
#vpa.auction_view ul#calculator_summary, 
#vpa.in_group_view ul#calculator_summary, 
#vpa.appraisal_view ul#calculator_summary {
    padding: 1.5em 0;
}
#vpa.auction_view ul#calculator_summary li, 
#vpa.in_group_view ul#calculator_summary li, 
#vpa.appraisal_view ul#calculator_summary li {
	padding:  0 2.5em;
}
#vpa.appraisal_view ul#calculator_summary li {
	padding:  0 1ex;
}
#mktPrce ul#calculator_summary li input,
#mktPrce ul#calculator_summary li label {
    cursor: text !important;
    overflow: visible;
}
#mktPrce ul#calculator_summary li p {
    padding: 1px 0 3px;
}
#mktPrce ul#calculator_summary li p, 
#mktPrce ul#calculator_summary li input {
	display: block;
    color: #000;
}
#mktPrce #calculator_summary li:first-child {
	padding: 1em;
	float:  left;
	text-align: center;
	border-right: none;
}
#vpa.inventory_view #calculator_summary li:first-child {
	text-align: left;
}
#mktPrce #calculator_summary li.potential_gross_profit, 
#mktPrce #calculator_summary li.naaa_price, 
#mktPrce #calculator_summary li:last-child {
	border-right: none;
}
#mktPrce #calculator_summary li h6 {
	text-transform: uppercase;
	color: #303030;
}
#mktPrce #calculator_summary li input.readonly {
	text-align: center;
	background-color:  transparent;
	border: none;
	cursor: pointer;
	color: #3f3f3f;
	font-size: 1.1em;
}
#mktPrce #calculator_summary li.target_selling_price {
	border-right: 1px solid #AABEF2;	
}
/* @end */
/*VPA search tile -------------------------------------------------------*/
/* @group vpa_search_tile */
.vpa_search_tile .ui-tabs .ui-tab {
	width: 49.99%;
}
.vpa_search_tile .ui-tabs .ui-tab input {
	width: 100%;
	border: none;
	background-color: transparent;
	line-height: 25px;
	text-align: left;
	padding-left: 0.75em;
	color: #485775;
	font-size: 12px;
	padding-bottom: 1px;
}
.vpa_search_tile .ui-tabs .ui-tab input:hover {
	color: #13516F;
}

.vpa_search_tile .ui-tabs {
	background: transparent url(Images/VPA/SearchTile/vpa_tabs_top.gif) repeat-x top;
}

.vpa_search_tile .ui-tab-content {
	border: none;
	padding: 0;
	background: #F8F9F8 url(Images/VPA/SearchTile/vpa_search_tile_bottom.gif) repeat-x bottom;
}

.vpa_search_tile .ui-tab-content .ui-tab-content-wrapper {
	background: transparent url(Images/VPA/SearchTile/vpa_search_tile_right.gif) no-repeat bottom right;
	padding: 10px 20px;
}

.vpa_search_tile .ui-tabs .ui-tab {
	background: transparent url(Images/VPA/SearchTile/vpa_tabs_top_inactive.gif) repeat-x top left;
}

.vpa_search_tile .ui-tabs .ui-tab-active {
	background-image: none !important;
}

.vpa_search_tile .ui-tabs .ui-tab-active input {
	font-weight: bold;
	background: transparent url(Images/VPA/SearchTile/vpa_search_marker.gif) no-repeat 10px 50%;
	padding-left: 20px;
}

.vpa_search_tile .ui-tabs .tab-precision input {
	background: transparent url(Images/VPA/SearchTile/vpa_tabs_top_inactive_corner.gif) no-repeat 0 right;
}

.vpa_search_tile .ui-tabs .tab-precision input.ui-tab-active-input {
	background: transparent url(Images/VPA/SearchTile/vpa_tabs_top_inactive_corner.gif) no-repeat -31px right;
}

.vpa_search_tile .ui-tabs .tab-overall-summary input {
	border-right: 1px solid #A8AAAD;
}

.vpa_search_tile .ui-tab-content a.search_btn {
	display: inline-block;
	width: 58px;
	height: 18px;
	background: transparent url(Images/Buttons/button_search.gif) no-repeat 0 0;
	overflow: hidden;
	text-indent: -5000px;
}

.vpa_search_tile .ui-tab-content a.search_btn:hover {
	background-position: 100% 0;
}

.vpa_search_tile {
	color: #666;
}

.vpa_search_tile select {
	font-size: 95%;
}

.vpa_search_tile .ui-tab-content .ui-tab-content-wrapper h3 {
	margin-bottom: 8px;
}

#center_row .vpa_search_tile .ui-tab-content {
	background: none;
}

#center_row .vpa_search_tile .ui-tab-content .ui-tab-content-wrapper {
	background: none;
}

#center_row {
	border-top: 1px solid #F8F9F8; /*KLUDGE: to get correct width should match background color*/
	background: transparent url(Images/VPA/SearchTile/vpa_search_full_bottom.gif) no-repeat bottom 520px;
    position: relative;
}
/* @end */
/* @group vpa_search_list */
.vpa_search_list ul { display: block; width: 220px; position: absolute; }
.vpa_search_list li {
	display: inline;
	position: relative;
	top: -6px;
	margin-right: 10px;
	color: #525253;
	font-size: 10px;
}
.vpa_search_list li input {
	position: relative;
	top: 2px;
}
.vpa_search_tile img.is_series_match {
	padding-top: 3px;
	margin-left: -12px;
	position: absolute;
}
.vpa_search_tile p.vpa_end_search_line {
	clear: left;
	text-align: left;
	font-style: italic;
	color: #838383;
	letter-spacing: 1px;
}
.vpa_search_tile p.search-attribute-text {
	margin-top: 10px;
}
.vpa_search_tile p.hidden-search-attribute-text {
	display: none;
}
.vpa_search_tile .search_action_links {
	position: absolute;
	bottom: 0;
	right: 20px;
	width: 120px;
	padding: 0 5px 7px 0;
}
.vpa_search_tile .search_action_links a {
	display: block;
	padding-bottom: 2px;
}
.vpa_search_tile .generated_by {
	color: #999;
	position: absolute;
	bottom: 7px;
	left: 580px;
	width: 250px;
}
/* @end */
/* Search Summary Table ----------------------------------------------*/
/* @group search_table_summary */
table.vpa_search_summary {
	border-bottom: 1px solid #dce1e9;
}
table.vpa_search_summary thead th {
	color: #525253;
	background: transparent url(Images/VPA/SearchTile/summary_table_header.gif) no-repeat bottom right;
	padding: 0 5px 2px;
}
table.vpa_search_summary tbody tr td {
	background: #fff url(Images/VPA/SearchTile/summary_table_row.gif) no-repeat bottom right;
	border-right: 1px solid #dce1e9;
	text-align: right;
	padding: 1px 5px;
	color: #999;
}
table.vpa_search_summary tbody tr.is_search td {
	font-weight: bold;
	color: #485775; 
	background: #fff url(Images/VPA/SearchTile/summary_table_selected_row.gif) no-repeat bottom right;
}
#vpa table.vpa_search_summary tbody tr.is_reference td.col_desc,
#vpa table.vpa_search_summary tbody tr.is_reference td {
	font-size: 1.2em;
	padding-top: 3px;
	padding-bottom: 3px;
	background: #F8F9F8 url(Images/VPA/SearchTile/summary_table_reference_row.gif) no-repeat bottom right;
}
table.vpa_search_summary .col_desc {
	font-size: 0.9em;
	width: 175px;
	text-align: left;
	background-color: #f8f9f8;
}
/* @end */
/* @group search_tray */
#vpa .search_tray {
	position: relative;
	z-index: 1;
	background-color: #e8e8e8;
	border: 1px solid #9ba1ac;
	border-top: none;
	margin: 0 30px;
	color: #181a1d;
}
#vpa .search_tray .inner {
	border: 1px solid #fff;
	padding: 1ex 100px 1ex 82px;
}
#vpa .search_tray .inner h6 {
	display: inline;
	font-weight: bold;
	margin-right: 0.5ex;
	margin: 0 0.5ex 0 -60px;
}
#vpa .search_tray .inner p {
	display: inline;
}
#vpa .search_tray .inner a {
	position: absolute;
	right: 20px;
	top: 1em;
}
/* @end */
/*box_360 Style --------------------------------------------------------*/
/* @group 360 box */
.box_360 .content {
	background: transparent url(Images/VPA/360Tile/vpa_360_bottom_grad.gif) repeat-x bottom left;
	margin: 1em 0 0 0;
	padding: 0 10px 10px 10px;
	width: 925px;
	border: 1px solid #335325;
	border-bottom-width: 0;
	position: relative;
}
.box_360 .content:after {
    /* Webkit - Firefox fix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.box_360 .content .corner {
	background: transparent url(Images/VPA/360Tile/tl_angle_corner.gif) no-repeat top right;
	display: block;
	height: 25px;
	width: 27px;
	clear: both;
	position: absolute;
	top: -1px;
	right: -1px;
}
/* @end */
/*VPA Mystery Shopping --------------------------------------------------*/
/* @group internet_shopper */
.vpa_internet_shopper {
	display: block;
	padding-left: 201px;
	background: transparent url(Images/VPA/360Tile/vpa_internet_mystery_shoping.gif) no-repeat 0 0;
	padding: 3px 0 8px 201px;
}
.vpa_internet_shopper li {
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #B8B9BA;
	font-size: 10pt;
	font-weight: bold;
}
.vpa_internet_shopper li.first {
	border: none;
}
/* @end */
/*VPA pricing tile -----------------------------------------------------*/
/* @group pricing_tiles */
.vpa_pricing_tiles {
	font-size: 8pt;
	line-height: 11pt;
}
.vpa_pricing_tiles .content {
	margin-top: 11px;
}
.vpa_pricing_tiles div.books {
    clear: left;
}
.vpa_pricing_tiles div.book, 
.vpa_pricing_tiles div.widebook {
	float: left;
    margin-right: 5px;
	margin-bottom: 6px;
}
.vpa_pricing_tiles div.book {
	width: 190px;
}
.vpa_pricing_tiles div.widebook {
	width: 525px;
    margin-right: 10px;
}
.vpa_pricing_tiles .hd {
	background: transparent url(Images/Books/header.gif) no-repeat 100% 0;
	border-left: 1px solid #818181;
	border-bottom: 1px solid #818181;
}
.vpa_pricing_tiles .hd, 
.vpa_pricing_tiles .hd a {
	height: 23px;
	color: #656565;
	text-transform: uppercase;
	font: bold 7pt/23px Arial, sans-serif;
	text-indent: 8px;
}
.vpa_pricing_tiles .hd a,
.vpa_pricing_tiles .hd a:link {
	padding-right: 11px;
	background: transparent url(Images/Books/link_arrow.gif) no-repeat center right;
}
.vpa_pricing_tiles .hd .tileLink {
	height: 23px;
}
.vpa_pricing_tiles .bd {
	font-size: 13px;
	color: #4d5466;
	background-color: #EEE;
	border-left: 1px solid #818181;
	border-right: 1px solid #818181;
	border-bottom: 1px solid #818181;
	padding: 2px 5px;
	height: 60px;
}
.vpa_pricing_tiles .bd .price {
	color: #31384f;
}
.vpa_pricing_tiles .bd div.guide {
	float: left;
	width: 32.9%;
}
.vpa_pricing_tiles .bd img {
	display: block;
}
.vpa_pricing_tiles .ft {
	color: #6A6A6A;
	background-color: #E0E0E0;
	border-left: 1px solid #818181;
	border-right: 1px solid #818181;
	border-bottom: 1px solid #818181;
	padding: 2px 5px;
	font-size: 90%;
	line-height: 10px;
	position: relative;
}
.vpa_pricing_tiles .ft .ft-value {
	color: #353535;
	font-weight: bold;
}
.vpa_pricing_tiles .ft .kbb-guide-footer,
.vpa_pricing_tiles .ft .nada-guide-footer,
.vpa_pricing_tiles .ft .tmv-guide-footer {
	float: left;
	width: 110px;
}
.vpa_pricing_tiles .ft .kbb-guide-footer {
	margin-right: -110px; /* Hack: Means the center block is always in the center  */
}
.vpa_pricing_tiles .ft .nada-guide-footer {
	margin-left: 33%;
}
.vpa_pricing_tiles .ft .tmv-guide-footer {
	float: right;
	margin-right: 65px;
}
.vpa_pricing_tiles .smallNote {
	font-size: 10px !important;
}
.vpa_pricing_tiles .bd a.inaccurate_value,
.vpa_pricing_tiles .bd a.no_value {
	display: inline-block;
	background: url(Images/VPA/attention_icon.gif) no-repeat left center;
	height: 13px;
	color: #355fab;
	text-decoration: underline;
}
.vpa_pricing_tiles .bd a.inaccurate_value {
	padding-left: 18px;	
}
.vpa_pricing_tiles .bd a.no_value {
	text-indent: -15000px;
	width: 16px;
}
/* @end */
/*VPA Merchandising tile ----------------------------------------------*/
/* @group Merchandising */
.vpa_merchandising_tiles .content h3 {
    background-color: #f0f0f0;
}
#vpa.package_3 .vpa_merchandising_tiles .search-notes-field label span,
#vpa.package_3 .vpa_merchandising_tiles .search-notes-field label br {
	display: none;
}
.vpa_merchandising_tiles span.export_error {
	position: absolute;
	top: 45px;
	left: 80px;
}
.vpa_merchandising_tiles span.export_error label {
	display: block;
	width: 16px;
	height: 16px;
	text-align: left;
	background: transparent url(Images/VPA/attention_icon.gif) no-repeat top left;
}
.vpa_merchandising_tiles span.export_error label input {
	z-index: -1;
	display: block;
	border-color: #c4d8e7;
	color: #c4d8e7;
	width: 1px;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
}
/* @end */
/* ============== */
/* = VHR Report = */
/* ============== */
/* @group VHR */
.vhr_report {
	float: right;
	position: relative;	
	margin-top: 5px;
	z-index: 10;
}
.carfax_report {
	margin-right: 10px;
}
.vpa_merchandising_tiles .vhr_report {
	margin-top: 10px;
	z-index: 1;
}
.vhr_report ul {
	float: left;
}
.vhr_report ul li.autocheck-inspection-badge,
.vhr_report ul li.carfax-inspection-badge {
	display: inline-block;
	height: 23px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	float: left;
	margin-left: 2px;
}
.carfax_report ul li.carfax-oneowner-badge {
	background-image: url(Images/VPA/VehilceHistory/carfax_oneowner.gif);
	width: 23px;
	text-indent: -1500px;
}
.carfax_report ul li.carfax-buyback-guarentee-badge {
	background-image: url(Images/VPA/VehilceHistory/carfax_buybackguarentee.gif);
	width: 27px;
	text-indent: -1500px;
}
.carfax_report ul li.carfax-cleantitle-noaccident {
	background-image: url(Images/VPA/VehilceHistory/carfax_cleantitle_noaccident.gif);
	width: 60px;
	text-indent: -1500px;
}
.carfax_report ul li.carfax-cleantitle {
	background-image: url(Images/VPA/VehilceHistory/carfax_cleantitle.gif);
	width: 60px;
	text-indent: -1500px;
}
.carfax_report ul li.carfax-noaccident {
	background-image: url(Images/VPA/VehilceHistory/carfax_noaccident.gif);
	width: 60px;
	text-indent: -1500px;
}
.autocheck_report ul li.autocheck-assured {
	background-image: url(Images/VPA/VehilceHistory/autocheck_assured.gif);
	width: 20px;
	text-indent: -1500px;
}
.autocheck_report ul li.autocheck-score {
	background-image: url(Images/VPA/VehilceHistory/autocheck_score.jpg);
	width: 18px;
	color: #fff;
	height: 18px;
	padding-top: 5px;
	text-align: center;
}
.autocheck_report ul li.autocheck-cleantitle {
	background-image: url(Images/VPA/VehilceHistory/autocheck_cleantitle.gif);
	width: 60px;
	text-indent: -1500px;
}
.autocheck_report ul li.autocheck-cleantitle-oneowner {
	background-image: url(Images/VPA/VehilceHistory/autocheck_cleantitle_oneowner.gif);
	width: 60px;
	text-indent: -1500px;
}
.autocheck_report ul li.autocheck-oneowner {
	background-image: url(Images/VPA/VehilceHistory/autocheck_oneowner.gif);
	width: 60px;
	text-indent: -1500px;
}
.vhr_report label.report_status {
	background-image: url(Images/VPA/VehilceHistory/report_state.gif);	
	display: block;
	margin: 2px 2px 0 0;
	height: 13px;
	width: 13px;
	float: left;
	cursor: pointer;
}
.vhr_report .report-status-valid {
	background-position: 0 -22px;
}
.vhr_report .report-status-expired {
	background-position: 0 -43px;
}
.vhr_report .report-status-error {
	background-position: 0 -65px;
}
.autocheck_report input.autocheck_button {
	border: none;
	overflow: hidden;
	text-align: left;
	color: #F0F0F2;
	background: transparent url(Images/VPA/VehilceHistory/autocheck_logo.gif) no-repeat 0 0;
	width: 94px;
	height: 25px;
	display: block;
	float: left;
	font-size: 1px;
	padding-bottom: 19px;
	padding-left: 3px;
	cursor: pointer;
}
.carfax_report input.carfax_button {
	border: none;
	overflow: hidden;
	text-align: left;
	background: transparent url(Images/VPA/VehilceHistory/carfax_logo.gif) no-repeat 0 0;
	width: 94px;
	height: 23px;
	display: block;
	float: left;
	font-size: 1px;
	padding-bottom: 19px;
	padding-left: 3px;
	cursor: pointer;
}
.vhr_report .autocheck_report_view,
.vhr_report .carfax_report_view {
	zoom: 1;
	padding: 0 3px 0px 4px;	
	/* ======================================================================= */
	/* = Borders are meant to be invisible, stops movement when form is open = */
	/* ======================================================================= */
	border-right: 1px solid #F3F3F5;
	border-left: 1px solid #F3F3F5;
}
.vhr_report .autocheck_form_open,
.vhr_report .carfax_form_open {
	background-color: #fff;
	border-right: 1px solid #9ba1ac;
	border-left: 1px solid #9ba1ac;
	padding-bottom: 1px;
	margin-bottom: -1px;
	z-index: 1;
}
.carfax_report .vhr_report_form {
	position: absolute;
	display: block;
	clear: left;
	text-align: left;
	right: 0;
	margin-left: -155px;
	width: 255px;
	background-color: #fff;
	border: 1px solid #9ba1ac;
	padding: 8px;
	zoom: 1;
	z-index: -1;
}
html .autocheck_report .vhr_report_form_ReadOnly {
	width: 220px;
}
.autocheck_report .vhr_report_form {
	position: absolute;
	display: block;
	clear: left;
	text-align: left;
	left: 0;
	margin-right: -85px;
	width: 185px;
	background-color: #fff;
	border: 1px solid #9ba1ac;
	padding: 8px;
	zoom: 1;
	z-index: -1;
}
.vhr_report .vhr_report_form .order_form p {
	padding-left: 25px;
	padding-right: 25px;
	color: #535256;
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list {
	border-top: 1px solid #e5e5e5;
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list * {
	float: left;
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list label {
	margin-top: 4px;
	font-size: 9px;
	color: #646367;
}
.vhr_report .vhr_report_form .controls {
	margin-top: 10px;
	text-align: center;
}
.vhr_report .vhr_report_form_Insert fieldset.controls {
	text-align: right;
}
.vhr_report .vhr_report_form span.button {
	display: inline-block;
	padding: 1px;
	background: transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 1px 5px 5px;
	cursor: pointer;
}
.vhr_report .vhr_report_form span.button input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	font-size: 10px;
}
.vhr_report .vhr_report_form .vhr_report_link {
	text-align: center;
	text-transform: uppercase;
}
.vhr_report .vhr_report_form .error {
	margin: 10px 0;
	padding: 5px 0 5px 50px;
	background: #fff6d4 url(Images/VPA/VehilceHistory/attention.gif) no-repeat 20px 50%;
	border-top: 1px solid #ffda52;
	border-bottom: 1px solid #ffda52;
	font-size: 10px;
}
/* @end */
/* @group Crazy Ass Toolbar */
.vpa_merchandising_tiles .internet-advertisement-field {
	width: 450px;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #c1c1c1;
	float: left;
}
.vpa_merchandising_tiles .internet-advertisement-field a.photo_manager {
	float: right;
}
.vpa_merchandising_tiles .internet-advertisement-field h4,
.vpa_merchandising_tiles .search-notes-field h4 {
	color: #525252;
	font-size: 10pt;
	font-weight: bold;
}
.vpa_merchandising_tiles .search-notes-field textarea,
.vpa_merchandising_tiles .internet-advertisement-field textarea {
	width: 446px;
	height: 90px;
	color: auto;
	padding: 2px;
}
.vpa_merchandising_tiles .search-notes-field textarea.readonly,
.vpa_merchandising_tiles .internet-advertisement-field textarea.readonly {
	color: #808080;
}
#vpa.package_3 .vpa_merchandising_tiles .search-notes-field textarea,
#vpa.package_4 .vpa_merchandising_tiles .search-notes-field textarea,
#vpa.auction_view .search-notes-field textarea,
#vpa.appraisal_view .search-notes-field textarea {
	width: 915px;
}
#vpa.auction_view .vpa_merchandising_tiles div.ui-textarea-header, 
#vpa.in_group_view .vpa_merchandising_tiles div.ui-textarea-header, 
#vpa.appraisal_view .vpa_merchandising_tiles div.ui-textarea-header {
	width: 904px;
}
.vpa_merchandising_tiles .internet-advertisement-field .generated_by {
	float: left;
	color: #999;
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog {
	bottom: 135px;
	left: 160px;
	width: 270px;
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog ul {
	padding: 5px 5px 1em 5px;
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog ul li {
	list-style: disc inside;
	padding-left: 1em;
	color: #292929;
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog .footer-text {
	display: block;
	font-size: 8pt;
	color: #5F5F5F;
	text-align: center;
	border-top: 1px solid #ddd;
	padding-top: 5px;
	margin-top: 5px;
}
.vpa_merchandising_tiles .internet-advertisement-field .ui-control-buttons,
.vpa_merchandising_tiles .search-notes-field .ui-control-buttons {
	display: block;
	text-align: right;
}
.vpa_merchandising_tiles .internet-advertisement-field .ui-control-buttons input.edit-button,
.vpa_merchandising_tiles .search-notes-field .ui-control-buttons input.edit-button {
	font-weight: bold;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar {
	width: 435px;
	padding: 0 0 0 17px;
	background: transparent url(Images/1-Click/toolbar.gif) no-repeat 0 0;
	position: relative;
	top: 2px;
}
.vpa_merchandising_tiles .ui-full-body-text,
.vpa_merchandising_tiles .ui-full-footer-text {
	display: none;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper {
	padding: 0 17px 0 0;
	background: transparent url(Images/1-Click/toolbar.gif) no-repeat 100% 0;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper ul {
	display: block;
	padding: 0;
	background: transparent url(Images/1-Click/toolbar.gif) repeat-x 0 -37px;	
	white-space: nowrap;
	overflow: hidden;
	zoom: 1;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li {
	display: inline;	
	line-height: 37px;
	background: transparent url(Images/1-Click/text_buttons.gif) no-repeat 100% -1px;
	padding-right: 12px;
	position: relative;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items .ui-toolbar-box-outer {
	position: absolute;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items {
	display: none;
	position:absolute;
	top: 37px;
	left: -10px;
	min-width: 129px;
	background-image: none;
	background-color: #e6f2ff;
	line-height: 25px;
	padding: 5px 10px;
	border-color: #858A8F;
	border-left: 2px;
	border-bottom: 1px;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li {
	display: block;
	height: 25px;
	background-image: none;
	padding: 0;
	line-height: 25px;
	border-bottom: 1px solid #DFDFDF;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li input {
	display: block;
	height: 15px;
	line-height: 15px;
	padding: 0;
	text-transform: none;
	font-weight: normal;
	font-size: 9px;
	color: #215e9b;
}
html .vpa_merchandising_tiles .ui-toolbar-items-wrapper li.ui-branded-button input.disabled {
	color: #e6f2ff !important;
}
.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.disabled input.disabled {
	color: #858585 !important;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li input {
	display: inline-block;
	height: 42px;
	margin-bottom: -5px;
	padding-bottom: 5px;
	padding-left: 8px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	cursor: pointer;
	width: auto;
	overflow: visible;
	color: #042354;
	text-transform: uppercase;
	font: bold 11px Trebuchet, "Trebuchet MS", Arial, sans-serif;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover {
	background: transparent url(Images/1-Click/text_buttons.gif) no-repeat 100% -40px;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover input {
	background: transparent url(Images/1-Click/text_buttons.gif) no-repeat 0 -40px;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items {
	display: block;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li .ui-toolbar-box-outer {
	visibility: hidden;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover .ui-toolbar-box-outer {
	visibility: visible;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items li,
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items li input {
	background-image: none;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li.hover {
	background-color: #fff;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li.disbled.hover {
	background-color: #042354 !important;
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items ul.ui-toolbar-items {
	display: none;
}
html div.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.ui-branded-button input.ui-toolbar-button {
	background-image: url(Images/1-Click/branded_buttons.gif);
	background-repeat: no-repeat;
	height: 25px;
	width: 129px;
	text-align: left;
	font-size: 1px;
	color: #e6f2ff;
	text-align: right;
	padding-bottom: 23px;
	border: none;
}
html body form .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.ui-branded-button { 
	width: 129px;
	height: 25px;
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.ui-branded-button input.ui-toolbar-button:hover { background-position-y: -25px !important; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.disabled input.ui-toolbar-button,
body div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.disabled input.ui-toolbar-button:hover	{ background-position-y: -50px !important; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax input.ui-toolbar-button 				{ background-position: 0 0; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-clean-title input.ui-toolbar-button 	{ background-position:  -129px 0; margin-left: 15px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-oneowner input.ui-toolbar-button		{ background-position:  -258px 0; margin-left: 10px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-bbg input.ui-toolbar-button				{ background-position:  -387px 0; margin-left: 9px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-no-accident input.ui-toolbar-button		{ background-position:  -516px 0; margin-left: 14px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck input.ui-toolbar-button				{ background-position:  -645px 0; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-clean-title input.ui-toolbar-button	{ background-position:  -774px 0; margin-left: 15px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-one-owner input.ui-toolbar-button 	{ background-position:  -903px 0; margin-left: 15px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-assured input.ui-toolbar-button 		{ background-position: -1032px 0; margin-left: 12px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-score input.ui-toolbar-button 		{ background-position: -1161px 0; margin-left: 13px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.tmv input.ui-toolbar-button 					{ background-position: -1290px 0; margin-left: 7px;}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.kbb input.ui-toolbar-button 					{ background-position: -1419px 0; margin-left: 12px;}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.nada input.ui-toolbar-button 					{ background-position: -1548px 0; margin-left: 0; }
div.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.carfax_and_autocheck ul.ui-toolbar-items {
	width: 258px;
}
html div.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.autocheck-score input.ui-toolbar-button {
	text-indent: 5px;
	font-size: 13px;
	color: #fff;
	text-align: left;
	padding-top: 5px;
	height: 20px;
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck,
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-clean-title,
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-one-owner,
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-assured,
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-score {
	position: absolute;
	left: 140px;
	margin-top: 0;
	border-left: 1px solid #DFDFDF;
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck 			{ top: 5px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-one-owner	{ top: 31px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-assured		{ top: 57px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-score		{ top: 83px; }
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-clean-title	{ top: 109px; }
.vpa_merchandising_tiles span.equipment_label {
	float: left;
	padding-top: 2px;
	font-size: 10px;
	color: #525252;
}
.vpa_merchandising_tiles .ui-textarea-footer .ui-buttons li {
	padding: 0 3px;
}
.vpa_merchandising_tiles .ui-textarea-footer .ui-buttons li.high_value {
	border-right: 1px solid #b1b4b8;
}
.vpa_merchandising_tiles .ui-textarea-footer {
	position: relative;
}
.vpa_merchandising_tiles .ui-textarea-footer ol.ui-preview li {
	bottom: 14px;
}
.vpa_merchandising_tiles div.ui-textarea-footer .ui-control-buttons {
	text-align: right;
}
.vpa_merchandising_tiles div.ui-textarea-footer .disabled input {
	color: #999;
}
.vpa_merchandising_tiles div.ui-text-editor div.ui-control-buttons {
	float: right;
}
.vpa_merchandising_tiles .ui-textarea-bl-links,
.vpa_merchandising_tiles .ui-textarea-bl-links * {
	float: left;
}
.vpa_merchandising_tiles div.ui-textarea-bl-links input { 
	margin-top: 1px;
	float: none;
}
.vpa_merchandising_tiles .ui-textarea-bl-links input,
.vpa_merchandising_tiles div.ui-text-editor div.ui-control-buttons input {
	color: #355fab;
	padding: 0 0.25em;
	margin: 0;
	background-color: transparent;
	border: 0px solid transparent;
	display: inline-block;
	text-align: left;
	font-size: 10px;
	overflow: visible; /* IE Button Width Bug fix */	
}
.vpa_merchandising_tiles .ui-textarea-bl-links input:hover,
.vpa_merchandising_tiles div.ui-text-editor div.ui-control-buttons input:hover {
	text-decoration: underline;
}
.vpa_merchandising_tiles ul.ui-document-warning li {
	color: #400000;
	font-weight: bold;
	padding: 5px 0 0 25px;
	background: transparent url(Images/1-Click/warning.gif) no-repeat bottom left;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation {
	height: 450px;
	width: 500px;
	margin-left: -250px;
	left: 50%;
	top: -250px;
	text-align: center;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation .ui-i-confirm-statement {
	padding: 1em;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation .ui-dialog-titlebar {
	text-align: left;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation .ui-confirm-ad-text {
	height: 150px;
	margin: 5px 2em;
	overflow-x: visible;
	overflow-y: auto;
	padding: 3px;
	text-align: left;
	line-height: 1.5em;
	border: 1px solid #e5e8e3;
	background-color: #fafbf9;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation span.highlight_text {
	background-color: #ffffc0;
	color: #000;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation span.over_limit_text {
	background-color: #800000;
	color: #fff;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.ad_preview_options {
	text-align: right;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.ad_preview_options label {
	font-weight: normal;
	font-size: 9px;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.character_count {
	text-align: left;
	text-indent: 12px;
	font-size: 9px;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.character_count .character_count_value {
	font-weight: bold;
	color: #000;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.character_count .character_count_value_over {
	font-weight: bold;
	color: #800000;
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation textarea {
	padding: 3px;
	font: 9px/1.5em Arial, Sans-Serif;
	overflow-y: auto;
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li input {
	background-image: url(Images/1-Click/notes_buttons.gif);
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.copy_ad_to_notes input {
	width: 131px;
	background-position: 0px -38px;
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.copy_ad_to_notes input:hover {
	background-position: 0px -76px;
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.jd_power input {
	width: 90px;
	background-position: -130px -38px;
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.jd_power input:hover {
	background-position: -130px -76px;
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.store_avg_price input {
	width: 109px;
	background-position: -227px -38px;
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.store_avg_price input:hover {
	background-position: -227px -76px;
}
/* @end */
/*VPA Header Info -----------------------------------------------------*/
/* @group Header */
.vpa_header_info_tabs {
	position: relative;
	z-index: 1;
}
.vpa_header_info_tabs .ui-tabs {
	position: absolute;
	top: -2em;
	left: 560px;
	width: 410px;
	margin-right: 1ex;
}
.vpa_header_info_tabs .ui-tabs .ui-tab {
	display: inline;
	float: none;
}
.vpa_header_info_tabs .ui-tabs .ui-tab input {
	padding-right: 15px;
	background: transparent url(Images/VPA/expand_arrow.gif) no-repeat right center;
	overflow: visible;
}
.vpa_header_info_tabs .ui-tabs .ui-tab-active input {
	font-weight: bold;
	background: transparent url(Images/VPA/expanded_arrow.gif) no-repeat right center;
}
.vpa_header_info_tabs .ui-tabs input {
	border: none;
	background-color: transparent;
	color: #355FAB;
	font-size: 10px;
}
.vpa_header_info_tabs .title {
	background-color: #D6D6D6;
	border-right: 1px solid #B0B0B0;
	border-left: 1px solid #B0B0B0;
	width: 100%;
}
.vpa_header_info_tabs .title p {
	text-indent: 10px;
	padding: 1ex 0;
}
.vpa_header_info_tabs .vpa_selected_equipment {
	border: 1px solid #A9A9A9;
	border-top: none;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs {
	position: static;
	width: auto;
	top: auto;
	left: auto;
	background-color: #D6D6D6;
	border-bottom: 1px solid #A9A9A9;
	padding: 1ex 0;
	height: 1em;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .ui-tab {
	display: block;
	float: left;
	margin-left: 1ex;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .blue_book {
	border-left: 1px solid #B5B5B5;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .ui-tab input {
	text-align: left;
	float: left;
	color: #626262;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content ul, 
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content p {
	padding: 0 1em 1em;
	color: #464646;
	clear: both;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content p {
	padding-top: 1ex;
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content ul li {
	display: block;
	float: left;
	width: 24.9%;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer {
	background-color: #DCE1F5;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	padding: 5px 8px 8px;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer a.ReportLink {
	margin-left: 1ex;
	float: right;
	text-transform: uppercase;
	text-decoration: underline;
	font: bold bold 10px Trebuchet, "Trebuchet MS", Arial, sans-serif;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer h4 {
	font-weight: bold;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl * {
	display: inline;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dt {
	margin-right: 1ex;
	font-weight: bold;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dd {
	margin-right: 2em;
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dd select {
	font-size: 10px;
	position: relative;
	top: 1px;
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable {
	background-color: #FFF;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable th {
	background-color: #EFEDF0;
	border: 1px solid #999;
	font-weight: normal;
	text-align: center;
	padding: 3px 0 1px;
	color: #535353;
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable tbody th {
	text-align: left;
	text-indent: 1em;
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable td {
	border: 1px solid #999;
	font-weight: bold;
	text-align: center;
	color: #3C3C3C;
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable tfoot td {
	text-align: left;
	border: none;
	color: #525252;
	background-color: #F8F9F8;
	padding: 2px;
	font-size: 10px;
	font-weight: normal;
	text-indent: 1ex;
}
/* @end */
#vpa #wrap {
	border: 1px solid #878D99;
	background: #F8F9F8 url(Images/VPA/page_bg.gif) repeat-x bottom left;
}
#vpa #hd {
	padding: 6px 6px 1px;
	background: #F8F9F8 url(Images/VPA/vpa_header_grad.jpg) repeat-x bottom left;
	border-bottom: 1px solid #959AA2;
	margin-bottom: 0;
	z-index: 0;
}
#vpa #priceRank {
	display: none;
}
/*html ELEMENTS ----------------------------------------*/
#vpa h1 {
	color: #414141;
	font-size: 1.5em;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	display: inline;
}
#vpa h2 {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

#vpa h2.high_risk {
	color: #C00;
}

#vpa h2.medium_risk {
	color: #AF9501;
}

#vpa label.small {
	color: #8B8B8B;
	text-transform: none;
	font-size: 85%;
}
#vpa .smallNote {
	color: #888;
	font-size: 90%;
	font-style: italic;
}
.hidden {
	display: none;
}
/*MARKET SUMMARY --------------------------------------------------*/
#mktPrce {
    border: 1px solid #9ba1ac;
    min-height: 132px;
}
#mktPrce .inner1 {
    border: 1px solid #fff;
    padding: 1px;
}
#mktPrce .inner2 {
    zoom: 1;
    background-color: #d9e0f2;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f9fd), to(#d9e0f2));
    background: -moz-linear-gradient(top, #f9f9f9, #d9e0f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f9fd, endColorstr=#d9e0f2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f9fd, endColorstr=#d9e0f2)";
}
#mktPrce .control {
	width: 100%;
	position: relative;
}
#mktPrce .second_control {
    padding-top: 2em;
}
#mktPrce .control li {
	padding: 3px 1.2ex;
}
#mktPrce .control li span.button {
	display: inline-block;
	border: 1px solid #BDBDBD;
    background-color: #fff;
	font-weight: bold;
	font-style: italic;
    padding: 1px;
}
#mktPrce .control li span.button a {
	padding: 3px 10px;
	font-size: 1.1em;
    zoom: 1;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#DFE0E0));
    background: -moz-linear-gradient(top, #ffffff, #DFE0E0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#DFE0E0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#DFE0E0)";
	text-transform: uppercase;
}
#mktPrce .second_control li.mktPrce-save {
    float: right;
    padding-right: 1em !important;
}
#mktPrce .control li.mktPrce-save {
	padding: 0em 1.5em 1.5em;
}
#mktPrce .control li.mktPrce-save .button a {
	color: #919191;
    font-style: normal;
    font-weight: bold;
}
#vpa #mktPrce .control li.mktPrce-save .has_changed_price {
    background-color: #d71414;
}
#vpa #mktPrce .control li.mktPrce-save .has_changed_price a {
    color: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa1212), to(#d71414));
    background: -moz-linear-gradient(top, #aa1212, #d71414);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa1212, endColorstr=#d71414);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa1212, endColorstr=#d71414)";
}
#vpa.package_1 #mktPrce .control li.mktPrce-max .button a,
#vpa.package_2 #mktPrce .control li.mktPrce-max .button a,
#vpa.package_3 #mktPrce .control li.mktPrce-max .button a,
#vpa.package_4 #mktPrce .control li.mktPrce-max .button a,
#vpa.package_5 #mktPrce .control li.mktPrce-max .button a,
#vpa.package_6 #mktPrce .control li.mktPrce-max .button a {
    font-size: 0.8em;
    padding-left: 3px;
    padding-right: 3px;
}
#mktPrce .control li.mktPrce-max {
	text-align: right;
	padding: 0 1.5em 1em;
}
#mktPrce .control li.mktPrce-max .button a {
	font-weight: bold;
	font-style: italic;
	color: #285a0b;
}
#mktPrce .control a.help_text {
    width: 99%;
    text-align: right;
	display:  block;
	color: #828791;
    margin-top: 1ex;
    cursor: help;
}
#vpa.auction_view #mktPrce .control li, 
#vpa.in_group_view #mktPrce .control li, 
#vpa.appraisal_view #mktPrce .control li {
	padding: 1px 0;
}
#mktPrce .control input {
	background-color: #FFFFAE;
	border: 1px solid #7C7C7C;
	color: #555;
	padding: 1px 3px;
	width: 70px;
	text-align: right;
	font-weight: bold;
}
#mktPrce .control input.readonly {
	border: none;
	background-color: transparent;
	margin: 1px; /*even out missing border width*/
}
#mktPrce .control .current {
	color: #999;
}
.emphasis {
    /* used for the Override Market Analysis, consider removing */
	font-size: 0.9em;
	color: #C00C0D;
}
#mktPrce .search-chart-rank {
	color: #00105A;
}
#mktPrce input.negative_value {
    /* Only used on the appraisal screen */
	color: #800000;
	border-color: #800000;
}
#mktPrce .rank_control {
	text-align: center;
	font-size: 1.1em;
}
#mktPrce .rank_control label {
	color: #616979;
}
#mktPrce ul#market_summary,
#mktPrce ul#market_summary li {
	display: inline-block;
	text-align: center;
	color: #616979;
}
#mktPrce ul#market_summary li span {
	color:  #000;
	font-weight: bold;
	font-size: 1.1em;
}
#mktPrce ul#market_summary {
	border-top: 1px solid #AABEF2;
	width: 94.9%;
    white-space: nowrap;
    margin: inherit 2.5%;
    position: relative;
    left: 2.5%;
}
#mktPrce ul#market_summary li {
    float: left; /* IE 7 */
	width: 25%;
	padding: 1ex 0;
}
#mktPrce ul#market_summary li.listings {
	text-align: left;
}
#mktPrce ul#market_summary li.market_day_supply {
	font-weight: bold;	
	font-size: 1.1em;
	width: 40%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#DFE0E0));
    background: -moz-linear-gradient(top, #ffffff, #DFE0E0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#DFE0E0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#DFE0E0)";
    border: 1px solid #fff;
    border-right: 1px solid #AABEF2;
    border-left: 1px solid #AABEF2;
}
#mktPrce ul#market_summary li.avg_mileage {
	text-align: right;
    padding-left: 4em;
}
#mktPrce div.top_wrapper {
	border: 1px solid #AABEF2;
    position: relative;
}
#mktPrce div.hr {
	width: 95%;
	margin: 0 auto;
	border-top: 1px solid #AABEF2;
    clear: both;
}
#mktPrce div.hr hr {
	display: none;
}
/*VEHICLE DETAIL ---------------------------------------------------------*/
.vhclDtl .vhclDtl_wrapper {
	float: left;
	min-width: 555px;
}
.vhclDtl dt,
.vhclDtl dd {
	display: inline;
	line-height: 1.5em;
	white-space: nowrap;
}
.vhclDtl dd {
	margin-left: 4px;
	margin-right: 20px;
}
.vhclDtl dl,
.vhclDtl .vhclDtl_wrapper span,
.vhclDtl .info span {
	color: #666;
	display: inline;
	white-space: nowrap;
}
.vhclDtl dl {
	padding-left: 20px;
}
.vhclDtl .vhclDtl_wrapper span,
.vhclDtl .info span {
	padding-right: 20px;
}
.vhclDtl .vin,
.vhclDtl dt.vin {
	padding-left: 0;
}
.vhclDtl .vin dd,
.vhclDtl dd.vin {
	margin-right: 0;
}
.vhclDtl .vin dd span,
.vhclDtl dd.vin span {
	padding-right: 1ex;
}
.vhclDtl span.certified,
.vhclDtl span.tradein-or-purchase {
	color: #666;
	display: inline;
	white-space: nowrap;
	position: relative;
	top: 4px;
}
.vhclDtl .info {
	font-family: Trebuchet, "Trebuchet MS", Arial, sans-serif;
	display: block;
	font-size: 13px;
	padding-bottom: 1ex;
	clear: left;
	zoom: 1;
}
.vhclDtl .info dd {
	color: #333333;
}
.vhclDtl .stock_number {
	font-size: 16px;
	position: absolute;
	top: 0.5ex;
	right: 20px;
}
.vhclDtl .stock_number:hover {
	font-size: 16px;
}
.vhclDtl .edit-vehicle-info {
	border: none;
	display: block;
	width: 15px;
	height: 15px;	
	background: transparent url(Images/VPA/edit_vehicle_info.gif) no-repeat top center;
	position: absolute;
	cursor: pointer;
	top: 30px;
	left: 5px;
}
.vhclDtl .edit-vehicle-info:hover {
	background-position: bottom center;
}
.has_javascript .vhclDtl .only_show_with_javascript {
	display: none;
}
.vhclDtl .edit-info {
	border: 1px solid #e3e5e5;
	border-top-color: #afb0b0;
	border-left-color: #c7c7c7;
	background-color: #fffffa;
	clear: left;
	margin: 0 10px 2em 25px;
}
.vhclDtl .edit-info table {
	width: 99.9%;
	border-collapse: collapse;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}
.vhclDtl .edit-info table thead tr th {
	text-transform: uppercase;
	color: #485775;
	height: 28px;
	vertical-align: middle;
	background: #f2f2f2 url(Images/ModifySearch/equipment_header.gif) repeat-x 0 -2px;
}
.vhclDtl .edit-info table tbody tr td {
	background-color: #f4f6f8;
	padding: 2px 0px;
}
.vhclDtl .edit-info table .col_body_style {
	padding-left: 10px;
	width: 430px;
}
.vhclDtl .edit-info div.hr {
	height: 1px;
	background: transparent url(Images/VPA/edit_vehicle_info_hr.gif) no-repeat center center;
}
.vhclDtl .edit-info hr {
	display: none;
}
.vhclDtl .edit-info .validation_error {
	border: 1px solid #e6e0ce;
	border-top: none;
	background: #f8f2df url(Images/VPA/attention_gradient.gif) repeat-x top;
	padding: 0 5px 5px;
	position: relative;
	left: -6px;
}
.vhclDtl .edit-info .validation_error .attention_icon {
	position: absolute;
	top: 5px;
	left: 180px;
}
.vhclDtl .edit-info .validation_error .validation_warning {
	display: block;
}
.vhclDtl .edit-info .validation_warning {
	display: none;
	color: #462800;
}
.vhclDtl .edit-info fieldset {
	padding-top: 10px;
	width: 200px;/*width: 235px; updated for Fogbugz ID 31287*/
	float: left;
}
.vhclDtl .edit-info fieldset label {
	display: inline-block;
	width: 90px;
	color: #353535;
	margin-bottom: 3px;
}
.vhclDtl .edit-info fieldset select {
	width: 114px;
	font-size: 0.9em;
	margin-bottom: 3px;
	margin-top: 1px;
	text-transform: capitalize;
	color: #353535;
}
.vhclDtl .edit-info fieldset.transfer_price input {
	width: 75px;
}
.vhclDtl .edit-info fieldset input {
	width: 110px;
	margin-bottom: 3px;
	font-size: 0.9em;
	color: #353535;
}
.vhclDtl .edit-info fieldset .checkbox input {
	width: auto;
}
.vhclDtl .edit-info fieldset.color_and_mileage {
	width: 190px; /*width: 225px; Updated for FB 31287.*/
	padding-left: 10px;
}
.vhclDtl .edit-info fieldset.color_and_mileage .validation_error {
	margin-bottom: -2em;
}
.vhclDtl .edit-info fieldset.color_and_mileage label {
	width: 50px;
}
.vhclDtl .edit-info fieldset.interior label {
	width: 75px;
}
.vhclDtl .edit-info fieldset.transfer_price .checkbox {
	margin-left: 90px;
}
.vhclDtl .edit-info fieldset.misc {
	width: 225px;
	padding-right: 10px;
}
.vhclDtl .edit-info fieldset.controls {
	width: 920px;
	clear: both;
	text-align: right;
	padding-top: 0;
}
.vhclDtl .edit-info fieldset.controls input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
}
.vhclDtl .edit-info fieldset.controls span.button {
	display: inline-block;
	padding: 1px;
	background: transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 1px 5px 5px;
	cursor: pointer;
}
.vhclDtl .edit-info fieldset.controls span.cancel-button input {
	padding-left: 20px;
	background: transparent url(Images/VPA/button_cancel_x.gif) no-repeat 8px 50%;
}
.vhclDtl .edit-info fieldset.controls span.save-button input {
	padding-left: 20px;
	background: transparent url(Images/VPA/button_save_check.gif) no-repeat 8px 50%;
}
.ui-hidden-head {
	display: none !important;
}
a.save_button,
a.save_button:link {
	display: block;
	width: 83px;
	height: 21px;
	text-align: left;
	text-indent: -5000px;
	background: transparent url(Images/Buttons/vpa_button_reprice.gif) no-repeat 0 0;
}
a.save_button:hover {
	background-position: 0 -42px;
}
a.save_button:active {
	background-position: 0 -63px;
}
/*SEARCH ---------------------------------------------------------*/
#search-modify-mileage {
	clear: both;
	text-align: left;
}
#search-modify {
	display: none;
	line-height: 200%;
	margin-bottom: 10px;
	background-color: #E8E8E8;
	padding: 1px 10px;
}
table.equip td.equip-type {
	font-weight: bold;
	vertical-align: top;
	padding: 3px 10px 3px 0px;
	border-top: 1px solid #C0C0C0;
}
table.equip td.equip-list {
	padding: 3px 10px 3px 0px;
	border-top: 1px solid #C0C0C0;
}
table.equip td.equip-all {
	vertical-align: top;
	padding: 3px 10px 3px 0px;
	border-top: 1px solid #C0C0C0;
}
#search-modify-ranges-distance {
	width: 220px;
	height: 20px;
}
.ui-slider-disabled .ui-slider-handle {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.ui-slider-1 {
	width: 74px;
	height: 11px;
	position: relative;
	background: url(Images/Slider/distance_slider_bg.gif) repeat-x center center;
	cursor: pointer;
}
#search-modify-ranges-distance-label {
	float: left;
	margin-left: 4px;
	width: 30px;
	white-space: nowrap;
}
.search-chart {
	background: transparent;
	width: 470px;
	margin: 8px auto 0;
}
.MarketAverageSliderBg {
	width: 470px;
	padding-bottom: 3em;
}
.search-chart-numbers {
	color: #00105A;
	font-size: 105%;
}
/*MARKET liSTINGS ---------------------------------------------------------*/
.market_listings {
    padding: 1px;
	width: 930px;
    margin: 0 auto;
    border: 1px solid #96979b;
	background-color: #eaebef;
}
.market_listings .inner {
	padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    zoom: 1;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#c0c0c0));
    background: -moz-linear-gradient(top, #f9f9f9, #c0c0c0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#c0c0c0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#c0c0c0)";
}
.market_listings a,
.market_listings a:hover,
.market_listings a:visited {
	color: #4C5C7C;
}
.market_listings th a,
.market_listings th a:hover,
.market_listings th a:visited {
	color: #FFF;
	text-decoration: none;
}
.market_listings-bd {
	padding-left: 10px;
}
.market_listings .ui-collapse-panel-body-wrapper { 
    overflow: visible; 
}
.market_listings-bd a.findVehicle {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	float: right;
	position: relative;
	bottom: 14px;
}
.market_listings_hd {
	text-transform: uppercase;
	font-size: 110%;
	font-weight: bold;
	color: #4C5C7C;
	background: transparent url(Images/VPA/expand_arrow.gif) no-repeat top left;
    zoom: 1;
}
.market_listings_hd a,
.market_listings_hd a:hover {
	background-color: transparent;
	color: #193B05;
	font: italic 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: bold;
	padding-right: 5px;
	text-shadow: #CACACC -2px 1px 2px;
	text-transform: capitalize;
}
.market_listings_hd span {
	text-transform: none;
	font-style: italic;
	color: #7A7A7A;
	font-size: 90%;
	font-weight: normal;
}
.market_listings_hd .call_to_action {
    color: #355fab; 
    position: absolute;
    left: 43%;
    top: 1px;
    text-align: right;
    text-decoration: underline;
}
.grid td.certified,
.grid td.not_certified {
	text-indent: -15000px;
	background-position: 40% 5px;
	background-repeat: no-repeat;
}
.grid td.certified {
	background-image: url(Images/ModifySearch/green-check.gif);
}
.grid tr.analyzed td.certified {
	background-image: url(Images/ModifySearch/green-check-on-aabbff.gif);
}
table.grid tbody tr.analyzed {
	background-color: #AABBFF;
}
.vehicleDescriptionButton {
	display: block;
	width: 12px;
	height: 11px;
	background-image: url(Images/VPA/expand_button.gif);
	overflow: hidden;
}
.vehicleDescriptionButton.open {
	display: block;
	width: 12px;
	height: 11px;
	background-image: url(Images/VPA/contract_button.gif);
	overflow: hidden;
}
.vehicleDescription {
	z-index: 5;
	position: absolute;
	left: -3px;
	top: 0px;
	width: 890px;
	margin: 6px;
	padding-top: 0.5em;
	border-top: 1px solid #999;
}
.vehicleDescription ul {
	list-style-type: none;
}
.vehicleDescription ul li {
	float: left;
	width: 33%;
}
.vehicleDescription .section {
	float: left;
	clear: both;
	width: 100%;
	border-top: 1px solid #CCC;
	padding-top: 0.5em;
}
#datepicker_div {
	border: 1px solid #919191;
	background-color: #FFF;
	padding: 3px;
}
#datepicker_div .datepicker_next,
#datepicker_div .datepicker_prev {
	color: #000040;
}
.simple_search_overview {
    margin-top: 0.5ex;
    border-top: 1px solid #999;
	padding: 0.5ex 20px;
}
.simple_search_overview h6 {
	color: #6A6A6A;
	font-weight: bold;
	display: inline;
}
.simple_search_overview ul {
	list-style: none;
	display: inline;
} 
.simple_search_overview ul li {
	display: inline;
	font-size: 10px;
	margin-left: 2em;
	padding: 0 0 2px 10px;
}
.simple_search_overview ul li.enabled {
	color: #465441;
	background: url(Images/VPA/SearchTile/check_mark.gif) no-repeat 0 50%;
}
.simple_search_overview ul li.disabled {
	color: #888;
}
/* ====================== */
/* = Modify Search Page = */
/* ====================== */
/* = start: Layout = */
#vpa.vpa_modify_search #search_controls {
	position: relative;
	width: 272px;
	float: left;
	margin: 10px 0;
	z-index: 5;
}
#vpa.vpa_modify_search #results_feedback {
	padding: 10px 20px 10px 290px;
}
#vpa.vpa_modify_search #results_feedback td.vehicle_description {
	white-space: nowrap;
}
#vpa.vpa_modify_search #search_wrapper {
	background: transparent url(Images/ModifySearch/left_back.gif) repeat-y -80px;
	padding-bottom: 20px;
	clear: both;
}
#vpa.vpa_modify_search div#wrap {
	padding-bottom: 0; /*reset wrap padding so back ground can go to bottom*/ 
	z-index: 2;
	position: relative;
}
#vpa.vpa_modify_search .application_menu_container {
	position: relative;
}
#vpa.vpa_modify_search .market_listings,
#vpa.vpa_modify_search .market_listings_hd {
	width: auto;
}
#vpa.vpa_modify_search table.grid {
	width: 680px;
}
/* = end: Layout = */
#VehicleNavigator_VehicleNavigatorControl {
	display: block;
	background: #f7f8f7 url(Images/VPA/VehicleNavigator/grad.jpg) repeat-x;
	border-bottom: 1px solid #dedede;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul {
	float: left;
	display: block;
	padding: 0 5px;
	margin: 5px 0;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li {
	display: inline;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev {
	padding: 0 1em 0 0;
	border-right: 1px solid #a2a7ad;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next {
	padding: 0 0 0 1em;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li span {
	color: #959aa2;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li a {
	color: #666;
	font-size: 110%;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev a,
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev span {
	background-repeat: no-repeat;
	background-image: url(Images/VPA/VehicleNavigator/icons_prev.gif);
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev span {
	padding-left: 15px;
	background-position: 0 4px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev a {
	padding-left: 15px;
	background-position: 0 -26px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev a:hover {
	background-position: 0 -57px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next a,
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next span {
	background-repeat: no-repeat;
	background-image: url(Images/VPA/VehicleNavigator/icons_next.gif);
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next span {
	padding-right: 15px;
	background-position: 100% 4px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next a {
	padding-right: 15px;
	background-position: 100% -26px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next a:hover {
	background-position: 100% -57px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl fieldset {
	float: right;
	padding: 2px;
} 
#vpa #VehicleNavigator_VehicleNavigatorControl .warning {
	display: inline-block;	
	color: #800000;
	background: transparent url(Images/VPA/attention_icon.gif) no-repeat ;
	padding: 0 5px 0 20px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl .button {
	display: inline-block;
	padding: 1px;
	background: transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 0 5px;
	cursor: pointer;
}
#vpa #VehicleNavigator_VehicleNavigatorControl .button input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	font-size: 10px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl .button input:hover {
	text-decoration: underline;
}
/* = start: general styling = */
#vpa.vpa_modify_search #hd h1 span#VehicleDescriptionLabel {
	font-size: 12px;
	font-weight: bold;
	color: #485775;
	padding-bottom: 1ex;
}
#vpa.vpa_modify_search #results_feedback .content_group {
	background: #fff url(Images/ModifySearch/first_header.gif) repeat-x 0 -4px;
	border: 1px solid #9ba1ac;
	padding: 5px 5px 10px;
	margin: 10px 0 12px 0;
}
#vpa.vpa_modify_search #results_feedback .content_group h3 {
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 5px;
}
#vpa.vpa_modify_search #results_feedback .content_group .header {
	padding-bottom: 5px;
}
#vpa.vpa_modify_search #results_feedback .content_group .header * {
	display: inline;
}
#vpa.vpa_modify_search #results_feedback .content_group .content {
	padding: 10px;
}
/* = end: general styling = */
/*= start: serach_results styling = */ 
#vpa.vpa_modify_search #search_controls dl.search_results {
	text-align: right;
}
#vpa.vpa_modify_search #search_controls dl.search_results dl,
#vpa.vpa_modify_search #search_controls dl.search_results dt,
#vpa.vpa_modify_search #search_controls dl.search_results dd {	
	display: inline;
}
#vpa.vpa_modify_search #search_controls #search-ctrls-distance-slider {
	padding: 5px 0 0 0;
	margin: 0 0 5px 0;
}
#vpa.vpa_modify_search #search_controls #search-ctrls-distance-slider * {
	float: left;
}
#vpa.vpa_modify_search #search_controls #search-ctrls-distance-slider .SearchDistanceSlider {
	margin: 0 1em;
}
#vpa.vpa_modify_search #search_controls #search-modify-mileage {
	clear: left;
	margin: 0 0 5px 0;
}
#vpa.vpa_modify_search #search_controls #search-ctrls-distance-slider,
#vpa.vpa_modify_search #search_controls #search-modify-mileage,
#vpa.vpa_modify_search #search_controls .other_matches {
	color: #353535;
	margin-left: 10px;
}
#vpa.vpa_modify_search #search_controls .other_years_matches {
	color: #353535;
	margin-left: 10px;
    margin-top: 10px;
}

#SearchDataView_NextYearCheckbox {
    margin-left: 5px;
}
#vpa.vpa_modify_search #search_controls #search-modify-mileage select {
	margin-left: 1ex;
}
#vpa.vpa_modify_search #search_controls #search-modify-mileage label {
	margin-right: 1ex;
}
#vpa.vpa_modify_search #search_controls dl.precision_search_results {
	margin-top: -1em;
	color: #485775;
	font-style: italic;
}
#vpa.vpa_modify_search #search_controls dl.precision_search_results dd {
	font-weight: bold;
	font-size: 12px;
	margin-right: 5px;
}
#vpa.vpa_modify_search #search_controls hr {
	margin: 0 15px 0 10px;
}
#vpa.vpa_modify_search #search_controls dl.overall_search_results {
	border-bottom: 1px dotted #D6D6D6;
	color: #485775;
	font-style: italic;
	margin: 0 10px;
}
#vpa.vpa_modify_search #search_controls dl.overall_search_results dt {
	float: left;
	font-weight: bold;
}
#vpa.vpa_modify_search #search_controls dl.overall_search_results dl dt {
	float: none;
	color: #667289;
}
#vpa.vpa_modify_search #search_controls .user_message {
	position: absolute;
	top: 50%;
	left: 400px;
	width: 300px;
	padding: 2em;
	background-color: #efefef;
	border: 1px solid #c6c6c6;
	color: #667289;
	font-size: 1.5em;
	font-weight: bold;
}
#vpa.vpa_modify_search #search_controls .search_data_view {
	padding: 0 15px 0 10px;
}
#vpa.vpa_modify_search #search_controls .search_data_view hr {
	margin: 0;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.has_flyout {
	cursor: pointer;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results {
	margin: 2px 0;
	padding: 5px 15px 5px 10px;
	position: relative;
	border-top: 1px solid transparent; /* to match dl.highlight height */
	border-bottom: 1px solid transparent; /* to match dl.highlight height */
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd ul {
	margin-top: 1px;
}
#vpa.vpa_modify_search #search_controls div.catalog_data_view dl.highlight {
	background-color: #f1f1f1;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.hover {
	background-color: #f4f4f4;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd .vin_fly_out {
	position: absolute;
	left: 0;
	top: 1px;
	padding-left: 272px;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd .vin_fly_out .content {
	padding: 3px 10px 10px;
	background-color: #fff;
	border: 1px solid #9ba1ac;
	border-left: 1px solid #fff;
	border-right-width: 2px;
	border-bottom-width: 2px;
	text-align: left;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd .vin_fly_out .content .fly_out_border_break {
	height: 23px;
	width: 1px;
	position: absolute;
	top: 1px;
	left: 0px;
	background-color: #fff;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd .vin_fly_out .content ul {
	padding-bottom: 5px;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd .vin_fly_out .content li label {
	white-space: nowrap;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dt {
	float: left;
	color: #485775;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results dd {
	color: #3C4760;
	font-weight: bold;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results input.open_vin_attribute {
	position: absolute;
	top: 8px;
	right: 5px;
	width: 5px;
	height: 10px;
	display: block;
	/* ========================== */
	/* = Polygol Border Hack :) = */
	/* ========================== */
	border-left: 10px solid #BBB;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	background: none;
	overflow: hidden;
}
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results input.open_vin_attribute:hover,
#vpa.vpa_modify_search #search_controls .catalog_data_view dl.highlight input.open_vin_attribute {
	border-left: 10px solid #6698EC;
}
#vpa.vpa_modify_search #search_controls .reset_precision_changes {
	margin: 0 10px 0 35px;
}
#vpa.vpa_modify_search #search_controls .restore_precision_defaults {
	display: block;
	padding-right: 10px;
}
#vpa.vpa_modify_search #search_controls .restore_precision_defaults input,
#vpa.vpa_modify_search #search_controls .reset_precision_changes input {
	color: #677289;
	background: none;
	border: none;
	font-family: Trebuchet, Arial, sans-serif;
	font-size: 11px;	
	overflow: visible;
	width: auto;
	display: inline;
	cursor: pointer;
}
#vpa.vpa_modify_search #search_controls .restore_precision_defaults input:hover,
#vpa.vpa_modify_search #search_controls .reset_precision_changes input:hover {
	color: #03419C;
}
#vpa.vpa_modify_search #search_controls .restore_precision_defaults input {
	display: block;
	text-align: right;
	margin: 0 5px 5px 0;
	color: #677289;
	width: 99%;
}
#vpa.vpa_modify_search #search_controls .preview_market_listings,
#vpa.vpa_modify_search #search_controls .save_precision_changes {
	border: 1px solid #a3a3a3;
	background-color: #eaeaea;
	padding: 2px;
}
#vpa.vpa_modify_search #search_controls .preview_market_listings input,
#vpa.vpa_modify_search #search_controls .save_precision_changes input {
	overflow: visible;
	width: auto;
	border: none;
	background: transparent url("Images/VPA/button_gradient.gif") repeat-x 50% 50%;
	font: bold 10px Trebuchet, Arial, sans-serif;
	color: #505a6c;
	padding: 0 5px;
}
#vpa.vpa_modify_search #search_controls .cancel_market_listings input {
	overflow: visible;
	width: auto;
	border: none;	
	color: #808080;
	text-decoration: underline;
	font: bold 10px Trebuchet, Arial, sans-serif;
	background: none;
}
/*= start: serach_results styling = */ 
/* = start: market_summary_table = */
#vpa.vpa_modify_search table.market_summary_table {
	background-color: #fff;
}
#vpa.vpa_modify_search table.market_summary_table thead th {
	color: #757575;
	font-size: 10px;
	text-align: right;
	vertical-align: bottom;
	padding-right: 10px;
}
#vpa.vpa_modify_search table.market_summary_table thead th.title {
	font-weight: bold;
	font-size: 12px;
	color: #485775;
	text-indent: 0.5em;
	text-align: left
}
#vpa.vpa_modify_search table.market_summary_table tbody th {
	border-left: 1px solid #efefef;
}
#vpa.vpa_modify_search table.market_summary_table tbody td.percent {
	border-right: 2px solid #c6c6c6;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr.high td,
#vpa.vpa_modify_search table.market_summary_table tbody tr.high th {
	border-top: 1px solid #efefef;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr.low td,
#vpa.vpa_modify_search table.market_summary_table tbody tr.low th {
	border-bottom: 2px solid #c6c6c6;
}
#vpa.vpa_modify_search table.market_summary_table tbody td,
#vpa.vpa_modify_search table.market_summary_table tbody th {
	padding: 2px 5px;
	color: #667289;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr.you th,
#vpa.vpa_modify_search table.market_summary_table tbody tr.you td {
	color: #485775;
	background-color: #cfe8f1 !important;
	font-style: italic;
	font-weight: bold;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr.you td.market_value_different {
	color: #800000;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr.odd th,
#vpa.vpa_modify_search table.market_summary_table tbody tr.odd td {
	background-color: #fff;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr th,
#vpa.vpa_modify_search table.market_summary_table tbody tr td {
	background-color: #efefef;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr.you td.value,
#vpa.vpa_modify_search table.market_summary_table tbody tr.you td.percent {
	padding-right: 7px;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr td.value {
	text-align: right;
	padding-right: 10px;
}
#vpa.vpa_modify_search table.market_summary_table tbody tr td.percent {
	padding-right: 10px;
	text-align: right;
}
/* = end: market_summary_table = */
/* = start: market_overview styling = */
#vpa.vpa_modify_search #results_feedback .market_overview p.text_summary {
	margin: 0 0.5ex;
	font-size: 12px;
	color: #757575;
}
#vpa.vpa_modify_search #results_feedback .market_overview p.text_summary strong,
#vpa.vpa_modify_search #results_feedback .market_overview p.text_summary em {
	font-weight: bold;
	font-style: normal;
	margin: 0 2px;
}
#vpa.vpa_modify_search #results_feedback .market_overview p.text_summary strong {
	color: #485775;
	font-size: 13px;
}
#vpa.vpa_modify_search #results_feedback .market_overview table {
	float: left;
	width: 315px;
}
#vpa.vpa_modify_search #results_feedback .market_overview table.pricing_summary_table {
	margin: 10px 0 0 10px;
}
#vpa.vpa_modify_search #results_feedback .market_overview table.mileage_summary_table {
	margin: 10px 0 0 20px;
}
/* = end: market_overview styling = */
/* = start: Headings = */
#vpa.vpa_modify_search .vhclDtl .edit-vehicle-info {
	display: none;
}
#vpa.vpa_modify_search #search_controls h2,
#vpa.vpa_modify_search #search_controls h3,
#vpa.vpa_modify_search #search_controls h4,
#vpa.vpa_modify_search #results_feedback h2,
#vpa.vpa_modify_search #results_feedback h3,
#vpa.vpa_modify_search #results_feedback h4 {
	text-transform: uppercase;
	font-weight: normal;
}
#vpa.vpa_modify_search #search_controls h2 {
	text-indent: 10px;
}
#vpa.vpa_modify_search #results_feedback .branding {
	position: relative;	
}
#vpa.vpa_modify_search #results_feedback .branding h3 {
	text-transform: lowercase;
	font: italic small-caps normal 12pt/14pt "Arial Black", sans-serif;
	letter-spacing: 1px;	
}
#vpa.vpa_modify_search #results_feedback .branding h3 small {
	text-transform: capitalize;
	font: italic 7pt Arial, sans-serif;
}
#vpa.vpa_modify_search #results_feedback .branding a {
	position: absolute;
	bottom: 0;
	right: 0;
	font-weight: bold;
	text-transform: uppercase;
}
#vpa.vpa_modify_search .market_listings_hd {
	background-image: none;
	padding-left: 0;
}
/* = start: Headings = */
/* = CVATabs =*/
#CVATabs {
    background: #f4f4f4;
    height: 34px
}
#CVATabs ul {
    background: #f3f5ff;
    border-bottom: solid #98979c 1px;
    height: 24px;
    list-style: none;
}
#CVATabs ul li {
    float: left;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    height: 24px
}
#CVATabs ul li a {
    color: #6c7e98;
    display: block;
    height: 24px;
    padding: 0 25px 0px 17px;
    text-decoration: none
}
#CVATabs ul li a span {
    position: relative;
    top: 6px
}
#CVATabs ul #IAATab a {
    background: transparent url(../Lion/Images/icon_Ping.png) no-repeat 23px 2px; /* TODO: Shouldn't be dependent on the Lion Theme */
    padding-left: 23px
}
#CVATabs ul #IAATab a span {
    padding-left: 23px;
    font-size: 1.3em;
	font: italic small-caps normal 12pt/14pt "Arial Black", sans-serif;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray', Positive='true');
    -ms-filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray', Positive='true');
}
#CVATabs ul #CVATab a {
    background:transparent url(../../Public/Images/logo_MAXMarketing.png) no-repeat 10px center;
    display:block;
    height:25px;
    width:356px;
}
#CVATabs ul #CVATab a span {
    display:none;
}
#CVATabs ul.selected0 #IAATab {
    background: transparent url(../Lion/Images/bg_TabSelected.gif) repeat-x 1px 1px; /* TODO: Shouldn't be dependent on the Lion Theme */
    position:relative;
    height: 25px;
}
#CVATabs ul.selected0 #CVATab {
    border-left: solid #98979c 1px
}
#CVATabs ul.selected0 #CVATab {
    border-bottom: 0px;
}
#CVATabs ul.selected0 #IAATab a {
    border-left: solid #fff 1px;
    color:#122e53 !important;
    cursor: default
}
/* ==================== */
/* = Stupid Bug fixes = */
/* ==================== */
/* = Redraw optimaztions = */
#vpa #search-modify-ranges-distance-label,
#vpa #mktPrice { position: absolute; }
#vpa .vpa_search_tile { height: 282px; }
#vpa.auction_view .vpa_search_tile, 
#vpa.in_group_view .vpa_search_tile, 
#vpa.appraisal_view .vpa_search_tile { 
    height: 358px; 
}

/*Fogbugz ID 31287*/
.certified { margin-right: 40px;}
.interior {width: 300px !important;}
.certified-dropdown {max-width: 210px !important;width: auto !important;}
/*Fogbugz ID 31287*/