/* =================== */
/* = VPA Page Layout = */
/* =================== */
#vpa #mktPrce {
	margin: 0 0 0 10px;
}
#vpa div.vpa_search_tile {
	margin: 0 10px 0 0;
}
#mktPrce .control .mktPrce-target-profit input {
    margin-top: 0;
}
/* VPA pricing tile ----------------------------------------------------- */
.vpa_pricing_tiles div.book {
	width: 190px;
	margin: 0 0 0 10px;
}

.vpa_pricing_tiles div.widebook {
	width: 525px;
	margin-right: 0;
}

#search { margin-left: 5px; }
#search div.tooltip { width: 350px; }
#mktPrce .control a.help_text {
    width: auto !important;
}

.vpa_merchandising_tiles {
    zoom: 1;
    position: relative;
}
.vpa_merchandising_tiles .internet-advertisement-field {
	margin-right: 5px;
	padding-right: 5px;
}

.box_360 .content .corner {
	right: -2px;
}

div.btn-link 
{
	position: relative; /*HACK: force hasLayout */
}

.vpa_merchandising_tiles div.ui-textarea-header ol {
	display: inline-block;
}

.vpa_merchandising_tiles .ui-textarea-footer {
	position: static;
}

.vpa_merchandising_tiles .ui-textarea-footer ol.ui-preview li {
	bottom: 28px;
}

.vpa_pricing_tiles .ft .nada-guide-footer {
	margin-left: 16%; /* half of 33% for IE's double margin bug */
}

.vpa_pricing_tiles .ft .tmv-guide-footer {
	margin-right: 32px; /* half of 65px for IE's double margin bug */
}

html #vpa.vpa_modify_search #search_controls .catalog_data_view dl {
	zoom: 1;
	color: #fff;
}
html #vpa.vpa_modify_search #search_controls .catalog_data_view dl.search_results input.open_vin_attribute {
	color: #fff;
}
#vpa.vpa_modify_search #results_feedback {
	zoom: 1;
	padding-left: 20px;
	float: right;
}
html #vpa.vpa_modify_search #results_feedback .branding {
	zoom: 1;
}
html #vpa.vpa_modify_search table.grid {
	width: 676px;
}

.vhr_report {
	margin-right: 0;
	float: none;
	zoom: 1;
}

div.carfax_report {
	width: 240px;
	float: right;
}

div.autocheck_report {
	width: 220px;
	float: right;
}

.vhr_report .autocheck_report_view {
	float: left;
}
.vhr_report .carfax_report_view {
	float: right;
}

.carfax_report .vhr_report_form {
	top: 22px;
}

.autocheck_report .vhr_report_form {
	top: 24px;
}

.carfax_report .vhr_report_form {
	position: absolute;
	display: block;
	clear: left;
	text-align: left;
	right: 0;
	margin-left: -155px;
	width: 255px;
	background-color: #fff;
	border: 1px solid #9ba1ac;
	padding: 8px;
	zoom: 1;
	z-index: -1;
}

.autocheck_report .vhr_report_form {
	left: auto;
	left: 0;
}

#progress 
{
    position: absolute;
}

#progress div
{
	z-index: 100;
	overflow: hidden;
}

#progress 
{
	border: 0;
	background: transparent;
	padding: 0;
}
#progress div 
{
	border: 1px solid #888;
	background-color: #fff;
	padding: 10px
}

#progress iframe
{
	display: block;
	position:absolute; 
	width: 125px;
	height: 58px;
	top: 0;
	left: 0;
	z-index: -1;
	color: #fff;
}
#vpa .mktLst {
	clear: both;
}

#CVATabs ul li { font-size:1.2em; }
#CVATabs ul li a { display:inline-block; height:24px; }
