
#sticker * {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	border: none;
}

/* COMMON rules */

#sticker .dealer,
#sticker .price {
	font-size: 180%;
}
	
#sticker .equipment .f {
			float: left;
		}
#sticker .equipment .l {
		
	}
#sticker .equipment .col li {
	display: block;
	text-align: left;
}
		

/* SCREEN 
		measurements */
@media screen {
	#sticker .vehicle {
		font-size: 180%;
	}
	#sticker .book,
	#sticker .equipment,
	#sticker .vin,
	#sticker .mileage,
	#sticker .snum,
	#sticker .color,
	#sticker .transmission {
		font-size: 115%;
	}
	#sticker .snum {
		margin-top: -168px;
		margin-left: 144px;
	}
	#sticker .vehicle {
		margin-top: -144px;
		width: 648px;
		margin-left: -324px;
	}
	#sticker .vin {
		margin-top: -126px;
		width: 216px;
		margin-left: -108px;
	}
	#sticker .color {
		margin-top: -114px;
		margin-left: -168px;
	}
	#sticker .mileage {
		margin-top: -96px;
		margin-left: -168px;
	}
	#sticker .transmission {
		margin-top: -114px;
		margin-left: 72px;
	}
	#sticker .equipment {
		margin-top: -36px;
		width: 504px;
		margin-left: -252px;
	}
	#sticker .equipment .col {
		float: left;
		text-align: left;
		width: 126px;
		list-style: none outside;

	}
	#sticker .price {
		margin-top: 216px;
		width: 576px;
		margin-left: -288px;
	}
}

/* PRINT 
		measurements */
@media print {
	#sticker .vehicle {
		font-size: 160%;
	}
	#sticker .book,
	#sticker .equipment,
	#sticker .vin,
	#sticker .mileage,
	#sticker .snum,
	#sticker .color,
	#sticker .transmission {
		font-size: 120%;
	}
	#sticker .snum {
		margin-top: -2.33in;
		margin-left: 2in;
	}
	#sticker .vehicle {
		margin-top: -2in;
		width: 7in;
		margin-left: -3.5in;
	}
	#sticker .vin {
		margin-top: -1.75in;
		width: 75%;
		margin-left: -38%;
	}
	#sticker .color {
		margin-top: -1.56in;
		margin-left: -2.33in;
	}
	#sticker .mileage {
		margin-top: -1.33in;
		margin-left: -2.33in;
	}
	#sticker .transmission {
		margin-top: -1.59in;
		margin-left: 1in;
	}
	#sticker .equipment {
		width: 7in;
		margin-top: -0.5in;
		margin-left: -3.5in;
	}
	#sticker .equipment .col {
		float: left;
		text-align: left;
		width: 1.75in;
		list-style: none outside;
	}
	#sticker .price {
		margin-top: 3in;
		width: 8in;
		margin-left: -4in;
	}
}

