﻿#CVASettingsForm fieldset legend
{
	margin-left:-0.6em;
}

.autocheck_report .vhr_report_form, .carfax_report .vhr_report_form
{
	top:57px;
}

#VHRWidgets .pleaseWaitPanel, #VHRWidgets2 .pleaseWaitPanel
{
	margin-top:30px;
}

#VHRWidgets .pleaseWaitPanel table, #VHRWidgets2 .pleaseWaitPanel table
{
	height:34px !important;
}

#VehicleFeatures .editModulePanel .prefPageActions
{
    bottom: 1em;
}

#Providers
{
	padding-bottom:1em;
}

#Providers select
{
	position:relative;
	top:2px;
}

#ConsumerHighlightsTabContent, #FeaturesItems, #BenefitsCkbs
{
	overflow:auto;
	position:relative;
	overflow-x:hidden;
}

#MarketListingsPreferenceTable
{
    width:674px !important;
}

#MarketListingsPreferenceTable .filterPanelLink span.button 
{
	position:static;
	margin-top:-16px;
}

#MarketListings .editModulePanel .prefPageActions
{
    bottom:1em;
}

.saveBtn, .cancelBtn
{
	padding-top:1000px;
}