﻿
/* Vehicle Info Header */

#vpa #mktPrce
{
	margin: 0 0 0 10px;
}

#vpa div.vpa_search_tile
{
	margin: 0 10px 0 0;
}

/* Progress Indicator */

#progress
{
    position: absolute;
}

#progress div
{
	z-index: 100;
	overflow: hidden;
}

#progress
{
	border: 0;
	background: transparent;
	padding: 0;
}

#progress div
{
	border: 1px solid #888;
	background-color: #fff;
	padding: 10px
}

#progress iframe
{
	display: block;
	position:absolute; 
	width: 125px;
	height: 58px;
	top: 0;
	left: 0;
	z-index: -1;
	color: #fff;
}

/* IAA/MM Tabs */

#PricingTabs ul li
{
	font-size:1.2em;
}

#PricingTabs ul li a
{
	display:inline-block;
	height:24px;
}

/* MM Preview Form */

.ie6Refresh
{
	display:block;
	height:16px;
	left:-5px;
	overflow:hidden;
	padding:0 !important;
	position:relative;
	width:44px;
}

.ie6DatePicker
{
	display:block;
	height:18px;
	left:-5px;
	overflow:hidden;
	padding:0 !important;
	position:relative;
	width:64px;
}

#ui-datepicker-div  
{
	z-index:1000000 !important;
}

#CVASettingsForm fieldset legend
{
	margin: 0 -0.6em;
}

#PacketOptions, #WebsitePdfFields
{
	width:217px;
	overflow:hidden;
}

#VHRWidgets
{
	width:217px;
	padding:0 !important;
	margin:0 !important;
	position:relative;
}

#PaymentInfoForm
{
	width:187px;
	overflow:hidden;
	position:relative;
}

#VHRWidgets .pleaseWaitPanel, #VHRWidgets2 .pleaseWaitPanel
{
	margin-top:30px;
}

.autocheck_report .vhr_report_form, .carfax_report .vhr_report_form
{
	top:57px;
}

.vhr_report
{
	margin-right:4px;
	white-space:nowrap;
}

.carfax_report
{
	width:104px !important;
	overflow:hidden;
}

.autocheck_report
{
	width:94px !important;
	overflow:hidden;
}

.autocheck_report .vhr_report_form
{
	left:7px;
}

#CVASettingsForm .updateDeal
{
	margin-right:5px;
}

/* Preview Modules */

#DealerSummary
{
	margin-left:30px;
}

#VehicleImagePanel
{
	padding-left:0px;
}

#VehiclePhoto
{
	margin-left:5px !important;
}

#CertifiedBenefits .viewModulePanel ul li 
{
	margin-left:5px;
}

#Gauge 
{
	height:66px !important;
}

.comparisonRow td.logo 
{
	border-left:solid #d3d3d3 1px !important;
}

.comparisonRow td.delta 
{
	border-right:solid #d3d3d3 1px !important;
}

/* Preference (Edit) Modules */

.saveBtn, .cancelBtn
{
	padding-top:1000px;
}

.editModulePanel ul.displayed
{
	padding-bottom:3em;
}

ul.displayed li
{
	margin-bottom:5px;
}

ul.displayed li, ul.available li, ul.deleted li
{
	border:dashed #ccc 1px !important;
}

ul.displayed li a, ul.available li a, ul.deleted li a
{
	visibility:visible !important;
}

#HighlightsTabContent ul.available li {
	width:90% !important;
}

#VehicleFeatures .editModulePanel ul.displayed li 
{
	width:194px;
}

#VehicleFeatures .editModulePanel .prefPageActions {
    bottom:0.5em;
}

#ConsumerHighlightsTabContent, #FeaturesItems, #BenefitsCkbs
{
	overflow:auto;
	position:relative;
	overflow-x:hidden;
}

#MarketListingsPreferenceTable 
{
	width:98% !important;
}

.filterPanelLink span.button
{
	top:-14px !important;
}

/* use GIF sprites in IE6 ... */

#Gauge, #GaugeItems ul li, #GaugeItems .gaugeBreakDiv
{
	background-image:url(Images/sprite_MaxSelling_Gauge.gif);
}

.editModulePanel .headerSortDown .arrowIcon, .editModulePanel .headerSortUp .arrowIcon, .moduleEditLink, .viewModulePanel:hover .moduleEditLink:hover, #VehiclePhoto a.vehiclePhotoEditLink, 
#VehiclePhoto:hover a.vehiclePhotoEditLink, .editModulePanel ul.displayed li, .editModulePanel ul.available li, .editModulePanel ul.deleted li, .moveToAvailable, .moveToDeleted, .moveToDisplayed, #Providers a.bookout, 
#PricingAnalysisPreferenceContent a.inaccurate, #MarketListingsPreferenceTable .filterPanelLink span.button, #MarketListingsControl td.certified .checkmark, .datePickerButton, 
.warningIcon, .errorIcon, #PricingTabs ul #IAATab a, #SalesPacketPreviewWidget ul li.selected, .vhr_report label.report_status, #VehicleFeatures .viewModulePanel ul li, #ConsumerHighlights .viewModulePanel ul li, 
span.stars1, span.stars15, span.stars2, span.stars25, span.stars3, span.stars35 , span.stars4 , span.stars45 , span.stars5, #CertifiedBenefits .viewModulePanel li
{
	background-image:url(Images/sprite_MaxSelling.gif);
}

#PricingTabs ul #CVATab a, .carfax_report input.carfax_button, .autocheck_report input.autocheck_button
{
	background-image:url(Images/sprite_MaxSelling_Logos.gif);
}
