﻿
@page {
    margin:1.27cm 0cm 1.27cm 1.91cm;
    padding:0;
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
    clear:both;
    content:" ";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.clearfix {
    display:inline-block
}
/* start commented backslash hack \*/
* html .clearfix {
    height:1%;
}
.clearfix {
    display:block;
}
/* close commented backslash hack */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
}

body 
{
    color:#5b5f62;
    font-family:Trebuchet, "Trebuchet MS", Arial, sans-serif;
    font-size:9pt;
    padding-bottom:1cm;
    width:17.30cm;
}

sup {
    font-size:0.6em;
}

.bold
{
	font-weight:bold;
}

.red
{
	color:#C00 !important;
}

.middot
{
    display:inline-block;
    padding:0 0.15cm 0 0.13cm;
    position:relative;
    top:-0.10cm;
}

.nbsp
{
    display:inline-block;
    width:0.25em;
}

.page
{
    page-break-after:always;
}

.highlightRow
{
    background:#e8efff;
}

#marketcomparisoncontent #market-analysis-head
{
    background:#5d6692;
    margin:0.26cm 0 0.53cm;
    text-align:right;
    width:100%
}

#marketcomparisoncontent #market-analysis-head h1
{
    color:#fff;
    font-family:Arial !important;
    font-size:1.1em;
    font-style:italic;
    font-weight:normal !important;
    padding:0.08cm 0.26cm;
}

#market-comparison-wrap
{
    background:transparent url(/resources/App_Themes/Lion/Images/bg_SellingSheet_Top.jpg) no-repeat top left;
    background-image-resolution:96dpi;
    clear:left;
    margin-top:0.052cm;
    padding-top:1cm;
}

#dealersummary
{
    font-family:"Times New Roman", Serif;
    font-size:0.9em;
    width:100%;
}

#dealersummary div.logo
{
    float:left;
    width:15%;
}

#dealersummary div.copy
{
    border-top:solid #7f7f7f 0.013cm;
    float:right;
    width:78%;
}

#dealersummary div.copy p
{
    padding:0.2cm 0 0.2cm 0;
}

#dealersummary div.copy p.address
{
    border-top:solid #7f7f7f 0.013cm;
    margin-bottom:0.2cm;
}

.noDealerLogo div.logo
{
	display:none;
}


.noDealerLogo div.copy
{
	width:100% !important;
}

#sellingsheet
{
    background:transparent url(/resources/App_Themes/Lion/Images/bg_SellingSheet_Top.jpg) no-repeat top left;
    background-image-resolution:96dpi;
    clear:left;
    margin-top:0.052cm;
    padding-top:1cm;
}

#vehicle-year-model
{
    clear:both;
    padding-top:0.26cm;
    position:relative;
}

#vehicle-year-model h2
{
    color:#333;
    float:left;
    font-size:1.7em;
    padding:0 0 0 0.26cm;
}

#vehicle-year-model p.dealer
{
    clear:left;
    color:#333;
    float:left;
    font-size:1.3em;
    margin-top:0;
    padding-left:0.2cm;
}

#vehicle-year-model p.price
{
    background:#ffff99;
    bottom:0.05cm;
    font-size:1.3em;
    padding:0.05cm 0.16cm;
    position:absolute;
    right:0.26cm;
}

#vehicle-year-model p.price strong
{
    color:#333;
}

#vehiclespecs
{
    background:transparent url(/resources/App_Themes/Lion/Images/bg_SellingSheet_Rpt.png) repeat-y top left;
    background-image-resolution:96dpi;
    border-top:solid transparent 1px;
    clear:both;
    margin-bottom:-0.1cm;
    position:relative;
    top:-0.1cm;
}

#vehiclespecs .columnA
{
    float:left;
    margin:0.26cm 0.26cm -0.84cm 0.26cm;
    position:relative;
    top:-0.85cm;
    width:3.65cm;
}

#vehiclespecs .columnB
{
    float:left;
    margin-bottom:-0.64cm;
    position:relative;
    top:-0.64cm;
    width:12.94cm;
}

#vehiclespecs .columnBA
{
    float:left;
    width:12.75cm;
}

#vehiclespecs .columnBB
{
    position:absolute;
    right:0;
    width:3.9cm;
}

#vehiclespecs .columnBA ul, #vehiclespecs .columnBB ul
{
    list-style-type:none;
    padding-bottom:0.16cm;
}

#vehiclespecs .columnBA ul li, #vehiclespecs .columnBB ul li
{
    clear:left;
    font-size:1.1em;
    font-weight:bold;
    line-height:1.3em;
}

#vehiclespecs .columnBA ul li label
{
    display:block;
    float:left;
    font-weight:normal;
    width:2.9cm;
}

#vehiclespecs .columnBA ul li span {
    display:block;
    float:left;
}

#vehiclespecs .columnBB ul li label
{
    display:block;
    float:left;
    font-weight:normal;
    width:2.1cm;
}

#vehiclespecs .columnBB ul li
{
    color:#87898e;
    font-size:0.8em;
    font-weight:normal;
}

#vehiclespecs .columnBA ul .first-child
{
    font-size:1.2em;
}

#vehiclespecs .columnBA ul .first-child span
{
    font-weight:bold;
}

#vehicleLogos {
    bottom:0;
    position:absolute;
    right:0;
}

#vehicleLogos img {
    margin-right:0.26cm;
    prince-image-resolution:96dpi;
}

#EngineInfo {
    border-top:0.013cm solid #8A8F94;
    margin-top:0.13cm;
    padding-top:0.2cm;
}

#vehicle-features {
    border-top:solid #8A8F94 0.013cm;
    clear:left;
    margin:0 0 0 0.26cm;
    padding-top:0.11cm;
    width:16.67cm;
}

#vehicle-features h4 {
    font-size:1.2em;
    padding-bottom:0.08cm;
}

#vehicle-features ul {
    clear:both;
    width:16.669cm;
}

#vehicle-features ul li {
    background:transparent url(/resources/App_Themes/Lion/Images/bullet_LI2.png) no-repeat 0 0.07cm;
    background-image-resolution:96dpi;
    float:left;
    list-style-type:none;
    margin:0 0.13cm 0 0;
    padding-left:0.19cm;
    width:5.16cm;
}

.noVehiclePhoto {
    margin-bottom:-0.13cm;
}

.noVehiclePhoto .columnA {
    display:none;
}

.noVehiclePhoto .columnB {
    float:none !important;
    margin-bottom:-0.44cm !important;
    margin-left:0.26cm;
    top:-0.64cm !important;
    width:16.27cm;
}

.noVehiclePhoto .columnBA {
    width:16.7cm !important;
}

.noVehiclePhoto .columnBB {
    right:-4.50cm !important;
}

/*.noVehiclePhoto #vehicle-features {
    margin-bottom:-0.5cm !important;
    position:relative;
    top:-0.5cm;
}*/

hr.highlights {
    border:0;
    border-top:solid #8A8F94 0.013cm;
    background-color:#8A8F94;
    clear:both;
    color:#8A8F94;
    height:0.013cm;
    overflow:hidden;
    margin:0.25cm 0 -0.13cm 0.26cm;
    width:16.7cm;
}

#consumer-highlights {
    clear:left;
    clear:both;
    margin:0.25cm 0 -0.5cm 0.26cm;
    padding-top:0.11cm;
    width:16.669cm;
}

#consumer-highlights h4 {
    font-size:1.2em;
    padding-bottom:0.08cm;
}

#consumer-highlights div.clearfix {
    margin-bottom:-0.503cm;
}

#consumer-highlights ul {
    clear:both;
    width:16.669cm;
}

#consumer-highlights ul li {
    background:transparent url(/resources/App_Themes/Lion/Images/bullet_LI2.png) no-repeat 0 0.07cm;
    background-image-resolution:96dpi;
    float:left;
    list-style-type:none;
    margin:0 0.13cm 0 0;
    padding-left:0.19cm;
    width:5.16cm;
}

#jdpower-highlights {
    clear:both;
    margin:0.13cm 0 -0.5cm 0.26cm;
    padding-top:0.31cm;
    width:16.669cm;
}

#jdpower-highlights h4 {
    font-size:1.2em;
    padding-bottom:0.08cm;
}

#jdpower-highlights ul {
    clear:both;
    width:16.669cm;
}

#jdpower-highlights ul li {
    background:transparent url(/resources/App_Themes/Lion/Images/bullet_LI2.png) no-repeat 0 0.07cm;
    background-image-resolution:96dpi;
    float:left;
    list-style-type:none;
    margin:0 0.13cm 0 0;
    padding-left:0.19cm;
    width:5.16cm;
}

#reviewsawards-highlights {
    clear:both;
    margin:0.25cm 0 -0.5cm 0.26cm;
    padding-top:0.11cm;
    width:16.669cm;
}

#reviewsawards-highlights h4
{
    font-size:1.2em;
    padding-bottom:0.08cm;
}

#reviewsawards-highlights ul
{
    clear:both;
    width:16.669cm;
}

#reviewsawards-highlights ul li
{
    background-image:none !important;
    line-height:1.2em;
    list-style-type:none;
    margin-left:0;
    padding:0.13cm 0;
}

#reviewsawards-highlights ul li span.source
{
	color:#424547;
	font-weight:bold;
}

#vhr-highlights
{
    clear:both;
    margin:0.25cm 0 -0.5cm 0.26cm;
    width:16.669cm;
}

#vhr-highlights h4
{
    font-size:1.2em;
    padding-bottom:0.08cm;
}

#vhr-highlights ul
{
    clear:both;
    width:16.669cm;
}

#vhr-highlights ul li
{
    background:transparent url(/resources/App_Themes/Lion/Images/bullet_LI2.png) no-repeat 0 0.07cm;
    background-image-resolution:96dpi;
    float:left;
    list-style-type:none;
    margin:0 0.13cm 0 0;
    padding-left:0.19cm;
    width:5.16cm;
}

span.stars1, span.stars15, span.stars2, span.stars25, span.stars3, span.stars35, span.stars4, span.stars45, span.stars5 {
    background:transparent url(/resources/pricing/Public/Images/CircleRatings.png) no-repeat 0 -3cm;
    background-position:0 -1.75cm;
    color:transparent !important;
    display:inline-block;
    height:0.280cm;
    margin-left:0.11cm;
    overflow:hidden;
    vertical-align:middle;
    width:1.555cm;
}

span.stars1 {
    background-position:0 0;
}

span.stars15 {
    background-position:0 -0.29cm;
}

span.stars2 {
    background-position:0 -0.58cm;
}

span.stars25 {
    background-position:0 -0.87cm;
}

span.stars3 {
    background-position:0 -1.16cm;
}

span.stars35 {
    background-position:0 -1.455cm;
}

span.stars4 {
    background-position:0 -1.75cm;
}

span.stars45 {
    background-position:0 -2.04cm;
}

span.stars5 {
    background-position:0 -2.315cm;
}

#vehiclespecs-bottom {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_SellingSheet_Btm.png) no-repeat bottom left;
    clear:left;
    height:0.13cm;
    overflow:hidden;
    position:relative;
    z-index:10000;
}

#certified-features {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_CertFeatures_Top.jpg) no-repeat top left;
    clear:left;
    margin-bottom:-0.104cm;
    position:relative;
    top:-0.104cm;
}

#certified-features h4 {
    font-size:1.1em;
    padding:0.38cm 0.26cm 0.26cm 0.26cm;
    text-transform:uppercase
}

#certified-features ul {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_CertFeatures_Rpt.gif) repeat-y top left;
    margin-top:-0.13cm;
    padding:0.07cm 0;
    z-index:1001;
}

#certified-features li {
    background:transparent url(/resources/App_Themes/Lion/Images/bullet_LI2.png) no-repeat 0 0.07cm;
    float:left;
    list-style-type:none;
    margin-left:0.26cm;
    padding-left:0.13cm;
    width:47%;
}

#certified-features-bottom {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_CertFeatures_Btm.png) no-repeat bottom left;
    clear:left;
    height:0.11cm;
    margin-bottom:-0.065cm;
    overflow:hidden;
    position:relative;
    top:-0.065cm;
}

/*==== Payments Information ====*/

#PaymentsInformationDiv
{
	background:#a1cc98 url(/resources/App_Themes/Lion/Images/bg_PaymentsInfo.gif) repeat-x top left;
	border:solid #7aa66f 0.026cm;
	font-size:1.2em;
	margin:0.13cm 0 0 0;
	padding-bottom:0.13cm;
	text-align:center;
}

#PaymentsInformationDiv strong
{
	color:#364d32;
}

#PaymentsInformationDiv .monthlyPayments
{
	background:#ffff99;
	color:#364d32;
	font-weight:bold;
}

#PaymentsInformationDiv .termPayments
{
	margin-top:0.13cm;
}

#PaymentsInformationDiv .interestRate
{
	font-size:0.75em;
	font-style:italic;
}

#PaymentsInformationDiv .downPaymentAndTerms
{
	font-style:italic;
}

/* Pricing List */

#pricing-list {
    height:0.51cm;
    list-style-type:none;
    margin:-0.104cm 0 -0.104cm;
}

#pricing-list li {
    /*border:solid #fff 0.053cm;*/
    display:block;
    float:right;
    font-size:1.2em;
    font-weight:bold;
    /*padding:0.026cm 0.16cm;*/
}

#pricing-list li.first-child {
    background:#ffff99;
    color:#333;
    margin-left:0.53cm;
}

#pricing-list li.first-child .payments
{
	font-size:0.9em;
	font-weight:normal;
}

#pricing-list li label {
    font-weight:normal
}

/* Pricing Analysis */

#pricing-mkt-analysis {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_360Pricing_1.jpg) no-repeat top left;
    background-image-resolution:96dpi;
    clear:right;
    overflow:hidden;
    position:relative;
    width:100%;
}

#pricing-mkt-analysis h3 {
    color:#183408;
    font-size:1.3em;
    font-style:italic;
    margin-bottom:-0.026cm;
    padding:0.13cm 0 0 0;
    text-align:center;
}

#pricing-mkt-analysis #Gauge {
    margin-bottom:0.264cm
}

#pricing-mkt-analysis label.date {
    color:#999;
    font-family:Arial, Sans-Serif;
    font-size:0.7em;
}

#pricing-mkt-analysis label.price {
    font-weight:bold;
    text-align:center;
}

#pricing-mkt-analysis table {
    border-collapse:collapse;
    clear:both;
    width:100%;
}

#pricing-mkt-analysis .comparisonRow {
    background:#eaedf6 url(/resources/App_Themes/Lion/Images/bg_360Pricing_row.gif) repeat-x top left;
    background-image-resolution:96dpi;
    border-left:solid #d3d3d3 0.053cm;
    height:0.952cm;
}

.comparisonRow td {
    background:#eaedf6 url(/resources/App_Themes/Lion/Images/bg_360Pricing_row.gif) repeat-x top left;
    background-image-resolution:96dpi;
    border-top:solid #9dabc5 0.026cm;
    height:0.952cm;
    margin:0;
}

.comparisonRow td.logo {
    padding-top:0.08cm;
    text-align:center;
}

.comparisonRow td.label label {
    padding-right:2.117cm;
}

.comparisonRow td.price {
    font-weight:bold;
}

.comparisonRow td.delta {
    border-right:solid #d3d3d3 0.053cm;
    color:green;
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
}

.comparisonRow td.delta div {
    text-align:center;
}

.comparisonRow td.delta span.small {
    color:#999;
    display:block;
    font-family:Arial, Sans-Serif;
    font-size:0.6em;
    margin-top:-0.053cm
}

.comparisonRow td.delta span.grey
{
	color:#999;
}

.comparisonBtm {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_360Pricing_2btm.jpg) no-repeat top left !important;
    background-image-resolution:96dpi;
    display:block;
    height:0.13cm;
    margin-top:-0.026cm;
    overflow:hidden;
}

#Gauge {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_GaugeBar2.png) no-repeat center 0.264cm
}

#GaugeItems {
    height:1.852cm;
    margin:0 auto;
    position:relative;
    width:14.02cm;
}

#GaugeItems ul {
    list-style-type:none;
}

#GaugeItems ul li {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_GaugeItem2.gif) no-repeat top center;
    display:block;
    font-size:0.9em;
    line-height:1em;
    padding-top:0.476cm;
    position:absolute;
    text-align:center;
    text-transform:uppercase;
    top:0.264cm;
}

#GaugeItems ul li strong {
    display:block;
}

#GaugeItems .gaugeBreakDiv {
    background:transparent url(/resources/App_Themes/Lion/Images/bg_GaugeBreak3.gif) no-repeat top left;
    height:0.476cm;
    position:absolute;
    top:0.264cm;
    width:0.423cm;
}

#GaugeItems .offerPrice span, #Gauge .offerPrice strong {
    background:#ffff99;
    color:#333;
    display:block;
    padding:0.053cm 0;
}

#sellingsheetcontent #market-comparison {
    margin-top:0.26cm;
}

#sellingsheetcontent #market-comparison h3 {
    color:#6b656b;
    font-size:1.1em;
    position:relative;
    top:-0.08cm;
}

#sellingsheetcontent #market-comparison table {
    border:solid #8c96ad 0.013cm;
    border-collapse:collapse;
    margin-bottom:0.53cm;
    width:100%;
}

#sellingsheetcontent #market-comparison th {
    background:#8c96ad;
    border-bottom:solid #d6d7e7 0.013cm;
    color:#fff;
    font-size:1em;
    line-height:1em;
    padding:0.16cm;
}

#sellingsheetcontent #market-comparison td {
    border:solid #d6d7e7 0.013cm;
    font-size:0.9em;
    line-height:0.9em;
    padding:0.16cm;
}

#sellingsheetcontent #market-comparison td.certified {
    color:green;
    font-family:Times New Roman;
    font-size:1em;
    font-weight:bold;
    text-align:center;
}

#sellingsheetcontent #market-comparison td.certified .checkmark {
    background:transparent url(/resources/App_Themes/Lion/Images/checkmark1.gif) no-repeat top left;
    display:block;
    height:0.21cm;
    margin:0 auto;
    overflow:hidden;
    width:0.24cm;
}

#sellingsheetcontent #market-comparison td.certified .checkmark span {
    display:none;
}

#sellingsheetcontent #market-comparison td.savings {
    color:green;
}

#vehicle-description {
    border-top:0.013cm solid #8A8F94;
    clear:left;
    margin:0.39cm 0 0 0.265cm;
    padding-top:0.106cm;
    width:16.67cm;
}

#vehicle-description h4 {
    font-size:1.2em;
    width:2.65cm;
}

#marketcomparisoncontent #market-comparison {
    clear:both;
    margin-top:0;
}

#marketcomparisoncontent #market-comparison h3 {
    color:#6b656b;
    font-size:1.4em;
    /*position:relative;
    top:-0.08cm;*/
    margin-top:0.156cm;
}

#marketcomparisoncontent #market-comparison table {
    border:solid #8c96ad 0.013cm;
    border-collapse:collapse;
    margin-bottom:0.53cm;
    width:100%;
}

#marketcomparisoncontent #market-comparison td {
    border:solid #8c96ad 0.013cm;
    font-size:0.9em;
    line-height:0.9em;
    padding:0.16cm;
}

#marketcomparisoncontent #market-comparison td.mcItemHeader {
    background:#ebeef5;
}

#marketcomparisoncontent #market-comparison td.mcItemHeader ul {
    width:95%;
}

#marketcomparisoncontent #market-comparison td.mcItemHeader li {
    float:left;
    line-height:1.2em;
    list-style-type:none;
    width:44.5%
}

#marketcomparisoncontent #market-comparison td.mcItemHeader li.vehicleDealer {
    width:35%;
}

#marketcomparisoncontent #market-comparison td.mcItemHeader li.vehiclePrice {
    float:right;
    text-align:right;
    width:20%;
}

#marketcomparisoncontent #market-comparison td.mcItemHeader .highlight {
    color:#404790;
    font-weight:bold;
}

#marketcomparisoncontent #market-comparison td.mcItemHeader li.vehicleMakeModel li {
    margin-right:0.26cm;
    width:auto;
}

#marketcomparisoncontent #market-comparison td.mcItemDesc p {
    font-size:1.1em;
    line-height:1.1em;
}

#marketcomparisoncontent #market-comparison .savings {
    color:green;
    font-size:1.2em;
}

#preview-footer {
    bottom:0;
    margin:0.53cm 0 0.26cm;
    position:absolute;
    width:17.66cm;
}

#preview-footer h3 {
    color:#333;
    font-family:Times New Roman, Serif;
    font-size:1em;
}

#preview-footer ul li {
    float:left;
    font-family:Times New Roman, Serif;
    list-style-type:none;
}

#customer-info {
    float:left;
    white-space:nowrap;
    width:70%;
}

#customer-info ul {
    white-space:nowrap;
}

#customer-info ul li {
    display:inline;
    padding-right:0.4cm;
}

#salesperson-info {
    float:right;
    text-align:left;
    width:30%;
}

#preview-footer p.disclaimer {
    border-bottom:solid #999 0.013cm;
    clear:both;
    font-size:0.75em;
    font-style:italic;
    padding-bottom:0.08cm;
    padding-top:0.20cm;
}

#disclaimercontent p {
    clear:both;
    font-size:0.75em;
    padding-bottom:0.08cm;
    padding-top:0.25cm;
}

#disclaimercontent .underline {
    border-bottom:solid #999 0.013cm;
    padding-top:0.25cm
}

#disclaimercontent #disclaimer-head {
    background:#5d6692;
    margin:0.26cm 0 0.53cm;
    text-align:right;
    width:100%;
}

#disclaimercontent #disclaimer-head h1 {
    color:#fff;
    font-family:Arial !important;
    font-size:1.1em;
    font-style:italic;
    font-weight:normal !important;
    padding:0.08cm 0.26cm;
}