﻿input.highlight
{
	width:324px;
}

.prefPageActions
{
	bottom:1em;
	clear:both;
	padding:5px 0;
	position:absolute;
	right:0;
	width:100%;
}

.addBtn
{
	font-size:0.8em;
}

.saveBtn, .cancelBtn
{
	background:url(Images/sprite_MaxSelling_Buttons.png) no-repeat scroll -442px -1px transparent;
	border:0;
	cursor:pointer;
	float:right;
	font-size:0;
	height:21px;
	margin-left:5px;
	overflow:hidden;
	text-indent:-1000px;
}

.saveBtn
{
	background-position:-438px -1px;
	width:65px;
}

.saveBtn:hover
{
	background-position:-438px -22px;
}

.saveBtn:active
{
	background-position:-438px -42px;
}

.closeBtn
{
	background-position:-258px -1px;
	width:104px;
}

.closeBtn:hover
{
	background-position:-258px -22px;
}

.closeBtn:active
{
	background-position:-258px -42px;
}

.cancelBtn
{
	background-position:-365px -1px;
	width:70px;
}

.cancelBtn:hover
{
	background-position:-365px -22px;
}

.cancelBtn:active
{
	background-position:-365px -42px;
}

.resetBtn
{
	color:#355FAB !important;
	float:left;
	font-size:1em !important;
	text-decoration:underline !important;
}

.ui-widget-overlay
{
	background-color:#000;
	left:0;
	opacity:0.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position:absolute;
	top:0;
}

.editModulePanel table
{
	border-bottom:solid #b8bdcc 1px;
	border-collapse:collapse;
	width:600px
}

.editModulePanel table th
{
	cursor:default !important;
	line-height:1.1em;
	padding:3px;
}

.editModulePanel table td
{
	padding:3px;
    border-top:solid #b8bdcc 1px;
    border-bottom:solid #b8bdcc 1px;
}

.editModulePanel td.name, .editModulePanel th.Name
{
	text-align:left;
}

.editModulePanel th.Selected
{
	width:64px;
}

.editModulePanel .highlightRow, .editModulePanel .even
{
    background:#e1e6f3;
}

.editModulePanel .header
{
	cursor:pointer !important;
	padding-right:10px;
}

.editModulePanel .header:hover
{
	text-decoration:underline !important;
}

.editModulePanel .headerSortDown, .editModulePanel .headerSortUp
{
	background-color:#ffffcc;
}

.editModulePanel .headerSortDown a, .editModulePanel .headerSortUp a
{
	display:block;
	position:relative;
}

.arrowIcon
{
	display:block;
	height:4px;
	position:absolute;
	right:1px;
	width:8px;
}

.editModulePanel .headerSortDown .arrowIcon
{
	background:#ffffcc url(Images/sprite_MaxSelling.png) no-repeat -209px -147px;
	top:8px;
}

.editModulePanel .headerSortUp .arrowIcon
{
	background:#ffffcc url(Images/sprite_MaxSelling.png) no-repeat -209px -180px;
	top:14px;
}

.editModulePanel tbody.ui-sortable tr
{
	cursor:move !important;
}

.editModulePanel tbody.ui-sortable .tablePlaceholder
{
	height:25px !important;
}

.displayOnSheetCkb
{
	display:none;
}

.liPlaceholder
{
	background:#ccc !important;
	height:20px;
	position:relative;
	z-index:500000;
}

/*===== Inline Editing =====*/

.moduleEditLink
{
	-moz-border-radius:3px 3px 3px 3px;
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -167px transparent;
	border:solid #495b8c 1px;
	border-radius:3px;
	color:#2d468c !important;
	font-size:0.9em !important;
	height:14px;
	overflow:hidden;
	padding:0px 5px 2px 24px;
	position:absolute;
	right:0px;
	text-align:center;
	text-decoration:none !important;
	top:1px;
	width:120px;
	z-index:100000;
}

.viewModulePanel:hover .moduleEditLink
{
	background-color:#fff;
}

.viewModulePanel:hover .moduleEditLink:hover
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -167px #2d468c !important;
	color:#fff !important;
	text-decoration:none !important;
}

#VehiclePhoto a.vehiclePhotoEditLink
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -147px transparent;
	border:solid #495b8c 1px;
	color:#2d468c;
	font-size:0.8em;
	opacity:0.80;
	filter: alpha(opacity = 80);
	padding:2px 6px 1px 20px;
	position:absolute;
	left:0;
	text-decoration:none;
	top:0;
}

#VehiclePhoto:hover a.vehiclePhotoEditLink
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -167px #2d468c;
	color:#fff !important;
	filter: alpha(opacity = 100);
	opacity:1;
	text-decoration:none !important;
}

.moduleContainer
{
	position:relative;
}

.editModulePanel
{
	display:none;
	height:450px;
	position:relative;
	z-index:1000;
	zoom:1;
}

.editModulePanel h3
{
	display:none;
}

.editModulePanel a
{
	color:#2d468c;
}

.preferenceContent
{
	padding:0 0 10px 0;
}

.editModulePanel h4
{
	background:#fff;
	border-bottom:solid #ccc 1px;
	clear:both;
	color:#5b5f62;
	font-size:1em;
	padding:3px 0 4px 10px;
	position:relative;
	width:auto;
	z-index:999999;
}

.editModulePanel  h4 .small
{
	color:#777;
	font-size:0.9em;
}

.editModulePanel ul.displayed
{
	background:#fff;
	margin:0;
	padding:5px 5px 15px;
}

.editModulePanel ul.displayed li
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -214px -245px transparent;
	border:solid #fff 1px;
	color:#5b5f62;
	float:left;
	font-size:1em;
	list-style:none;
    margin:0 1px 0 4px;
    overflow:hidden;
	padding-left:7px !important;
	position:relative;
	width:196px;
}

.editModulePanel ul.displayed li:hover
{
	border:1px dashed #ccc;
}

.editModulePanel ul.available
{
	background:none repeat scroll 0 0 #ffffcc;
	border-bottom:solid #ccc 1px;
	display:block;
	min-height:2em;
	padding:5px 0 15px;
	white-space:nowrap;
}

.editModulePanel ul.available li
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -209px -245px transparent;
	border:1px dotted #bbb;
	color:#888;
	display:block;
	float:left;
	font-size:1em;
	list-style:none;
	margin:0 4px 3px 4px;
	overflow:hidden;
	padding:0 8px 0 13px;
	position:relative;
	white-space:normal;
	width:95%;
}

.editModulePanel ul.deleted
{
	border-bottom:solid #ccc 1px;
}

.editModulePanel ul.deleted li
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -209px -245px transparent;
	border:1px dotted #bbb;
	color:#666;
	font-size:1em;
	list-style:none;
	margin:0 4px 3px 0;
	padding:0 8px 0 13px !important;
	position:relative;
}

ul.displayed li, ul.available li, ul.deleted li
{
	cursor:move;
}

.availableDiv, .deletedDiv
{
	border-top:solid #ccc 1px;
}

.moveToAvailable, .moveToDeleted, .moveToDisplayed
{
	background:transparent url(Images/sprite_MaxSelling.png) no-repeat -205px -77px;
	display:block;
	height:12px;
	line-height:100pt;
	overflow:hidden;
	position:absolute;
	top:2px;
	visibility:hidden;
	width:12px;
}

.moveToDeleted
{
	background-position:-205px -103px;
}

.moveToDisplayed
{
	background-position:-205px -90px;
}

ul.displayed .moveToAvailable, ul.available .moveToDisplayed
{
	right:2px;
}

#HighlightsTabContent ul.displayed .moveToAvailable, #HighlightsTabContent ul.available .moveToDisplayed, #HighlightsTabContent ul.deleted .moveToDisplayed
{
	right:16px;
}

#HighlightsTabContent ul.displayed .moveToDeleted, #HighlightsTabContent ul.available .moveToDeleted, #HighlightsTabContent ul.deleted .moveToAvailable
{
	right:2px;
}

ul.displayed li:hover a, ul.available li:hover a, ul.deleted li:hover a
{
	visibility:visible;
}

/*===== Vehicle Features =====*/

#FeaturesItems
{
	background:#e7e7e7;
	border:solid #ccc 1px;
	clear:both;
	height:350px;
	overflow:auto;
}

#Providers
{
	margin-top:1em;
	position:relative;
	padding-bottom:2em;
}

#Providers a.bookout
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll 98px -42px transparent;
	color:#355FAB;
	font-size:1em;
	margin:0.3em 0 0;
	padding-right:12px;
	position:absolute;
	right:0;
	text-decoration:underline;
	top:-2px;
}

#VehicleFeatures .editModulePanel .prefPageActions
{
	bottom:1.8em;
}

/*===== Highlights Tabs =====*/

#HighlightTabSet
{
	margin-left:0px;
}

#HighlightTabs li
{
	background:url(Images/sprite_MaxSelling_bgRepeatX.png) repeat-x scroll 0 -39px #ccc;
	border:solid #ccc 1px;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	float:left;
	list-style-type:none;
	margin:0 2px 0 0;
	-moz-border-radius:3px 3px 0 0;
	padding:2px 1em 0;
	position:relative;
	top:1px;
}

#HighlightTabs li a
{
	color:#5b5f62;
	cursor:pointer;
	display:block !important;
	font-size:1em;
	line-height:2.1em;
	text-align:center;
}

#HighlightTabs li a:hover
{
	text-decoration:none;
}

#HighlightTabs li.selected
{
	background:#fff;
	border:solid #fff 1px;
	border-left:solid #ccc 1px;
	border-top:solid #ccc 1px;
	border-right:solid #ccc 1px;
	cursor:default;
	font-weight:bold;
}

/*===== Highlights =====*/

#ConsumerHighlightsTabContent
{
	background:#e7e7e7;
	border:solid #ccc 1px;
	clear:both;
	height:375px;
	overflow:auto;
	width:691px;
}

.highlightTabContent
{
	display:none;
}

.addHighlight
{
	font-size:.8em;
	font-weight:normal !important;
	line-height:1em;
	position:absolute;
	right:5px;
	top:6px;
}

.addHighlight:hover
{
	text-decoration:none !important;
}

.addHighlight span
{
	text-decoration:underline !important;
}

#ConsumerHighlights .editModulePanel  h3
{
	margin-bottom:3px;
}

#HighlightsTabContent .availableDiv
{
	float:left;
	width:67%;
}

#HighlightsTabContent .deletedDiv
{
	float:left;
	width:33%;
}

#HighlightsTabContent ul.available li
{
	width:92% !important;
}

#HighlightsTabContent ul.deleted
{
	background:#f2dfe3;
	border-left:solid #ccc 1px;
	padding:5px 0 15px;
}

#HighlightsTabContent ul.deleted li
{
	background-color:transparent !important;
	border-color:#bf939d !important;
	color:#a68088;
	margin:0 4px 3px;
}

#ReviewsAwardsTabContent ul.displayed
{
	padding:5px 25px 15px 0;
	width:auto !important;
}

#ReviewsAwardsTabContent ul li
{
	background:none;
	line-height:1.2em;
	margin:0 0 0 5px;
	padding:5px 0 5px 0;
	width:650px;
}

#ReviewsAwardsTabContent ul.displayed li .source
{
	font-weight:bold;
}

#ReviewsAwardsTabContent ul.available
{
	padding: 0 8px;
}

#ReviewsAwardsTabContent ul.available li
{
	margin:5px 0 0;
	padding-left: 5px;
}

#JDPowerTabContent ul.available li
{
	display:block;
	float:left;
	white-space:normal;
	width:150px;
}

#ConsumerHighlightsTabContent .moduleContainer
{
	/*overflow:hidden;*/
}

#CarFaxCheckBoxDiv
{
	background:#fff;
	color:#5b5f62;
	font-size:0.9em;
	padding:5px 0 7px 6px;
}

#CarFaxCheckBoxDiv label
{
	position:relative;
	top:-2px;
}

/* Ad Preview (Vehicle Description) */

#AdPreviewVehiclePreferences
{
	background:#fff;
	color:#5b5f62;
}

#EditAdPreviewCopyDiv
{
	padding:10px 0;
}

#AdjustPreviewLengthButtons
{
	border-bottom:solid #ccc 1px;
	padding:2px 8px 3px 0;
}

#AdjustPreviewLengthButtons button
{
	font-size:0.75em;
	margin-right:0.3em;
}

#EditAdPreviewCopyDiv
{
	color:#999;
}

#EditAdPreviewCopyDiv .highlight
{
	background-color:#ccffcc;
	color:#000;
}

/* Certified Benefits */

#CertifiedBenefits .moduleEditLink
{
	right:10px;
}

#CertifiedBenefits .editModulePanel ul.displayed
{
	border-bottom:1px solid #ccc;
	margin:0;
	padding-left:4px;
	width:auto;
}

#CertifiedBenefits .editModulePanel ul.displayed li
{
	border:solid #fff 1px;
	float:left;
	width:309px;
}

#CertifiedBenefits .editModulePanel ul.displayed li:hover
{
	border:dashed #ccc 1px;
}

#BenefitsCkbs
{
	background:#E7E7E7;
	border:solid #ccc 1px;
	height:380px;
	margin-top:1em;
	overflow:auto;
}

#CertifiedVehiclePreferences .messagingLabel
{
	margin-left:10px;
}

#CertifiedBenefits .editModulePanel .prefPageActions
{
	bottom:5px;
}

/* Pricing Analysis */

#PricingAnalysis .moduleEditLink
{
	right:10px;
	top:2px;
	width:auto;
}

#PricingAnalysis .editModulePanel
{
	margin-bottom:5px;
	position:relative;
	top:2px !important;
}

#PricingAnalysis .editModulePanel #PricingAnalysisTableContainer
{
	background:#E7E7E7;
	border-bottom:solid #ccc 1px;
	height:340px;
	margin-left:15px;
	overflow:auto;
	width: 669px;
}

#PricingAnalysis .editModulePanel table
{
	background-color:#fff;
	border:solid #ccc 1px;
	color:#5b5f62;
	margin:0 auto 1em;
	width:669px !important;
}

#PricingAnalysis .editModulePanel table, #PricingAnalysis .editModulePanel table td
{
	font-size:1em;
}

#PricingAnalysis .editModulePanel th
{
    color:#5b5f62;
	padding-top:8px !important;
}

#PricingAnalysis .editModulePanel .gaugeTableContainer
{
	background:#fff;
    color:#5b5f62;
	margin-top:1em;
	padding-bottom:3px;
}

#PricingAnalysis .editModulePanel .gaugeTableContainer #PricingAnalysisBtm
{
	display:none;
}

#PricingAnalysisPreferenceContent
{
	color:#5B5F62;
	margin:0;
}

#PricingAnalysisPreferenceContent a.bookout
{
	margin-left:0.5em;
}

#PricingAnalysisPreferenceContent a.inaccurate
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -342px transparent;
	padding-left:18px;
}

#PricingAnalysis .editModulePanel .overridePriceSelection
{
	display:block;
	margin-left:19px;
}

#PricingAnalysis .editModulePanel .overridePriceSelection label, #PricingAnalysis .editModulePanel .showGaugeCkb label
{
	position:relative;
	top:-2px;
}

#PricingAnalysisVehiclePreferences .prefPageActions
{
	margin:0 10px 0 0;
	width:668px;
}

/* MarketListings */

#MarketListings .moduleEditLink
{
	right:0;
	top:-2px;
}

#MarketListings .emptyModule .moduleEditLink
{
	right:7px;
	top:0px;
}

#MarketListingsForm
{
	background:#fff;
	border-bottom:solid #ccc 1px;
}

#MarketListingsTabs
{
	float:left;
}

#MarketListingsTabs li
{
	background:url(Images/sprite_MaxSelling_bgRepeatX.png) repeat-x scroll 0 -39px #ccc;
	border:solid #ccc 1px;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	color:#5B5F62;
	float:left;
	list-style-type:none;
	margin:0 2px 0 0;
	-moz-border-radius:3px 3px 0 0;
	position:relative;
	top:1px;
}

#MarketListingsTabs li.selected
{
	background:#fff;
	font-weight:bold;
	padding-bottom:1px;
}

#MarketListingsTabs li a
{
	color:#5B5F62;
	display:block;
	font-size:1em;
	line-height:2.1em;
	padding:2px 15px 0 15px;
}

#MarketListingsTabs li a:hover
{
	text-decoration:none;
}

#DisplayAdPreviewCheckboxDiv, #DisplayDealerNameCheckbox
{
	float:right;
	margin-right:8px;
}

#DisplayAdPreviewCheckboxDiv label, #DisplayDealerNameCheckbox label
{
	color:#5B5F62;
	position:relative;
	top:-2px;
}

#MarketListingsPreferenceTable
{
	border:solid #fff 1px;
	border-collapse:collapse;
	border-top:solid #fff 2px;
	table-layout:fixed;
	width:100%;
}

#MarketListingsPreferenceTable tr
{
	cursor:default;
}

#MarketListingsPreferenceTable tr.filters 
{
	cursor:auto;
	background-color:#888a94;
}

#MarketListingsPreferenceTable tr.filters td 
{
	border-right:dotted #fff 1px;
	border-left:dotted #fff 1px !important;
	color:#fff;
	font-size:1em;
	vertical-align:bottom;
}

#MarketListingsPreferenceTable tr.row1 td
{
	background-color:#fff;
	border-bottom:0;
	color:#5B5F62;
	padding:0;
	vertical-align:bottom;
}

#MarketListingsPreferenceTable tr.row2 td
{
	border-top:0;
	border-bottom:0;
}

#MarketListingsPreferenceTable tr.row1 td span.title
{
	left:2px;
	position:relative;
	top:5px;
}
#MarketListingsPreferenceTable .filterPanelLink, #MarketListingsPreferenceTable .filterPanelLink:hover
{
	color:#fff;
	display:block;
	font-size:1em;
	height:27px;
	overflow:hidden;
	text-decoration:none;
}

#MarketListingsPreferenceTable .filterPanelLink span.button 
{
	background:transparent url(Images/sprite_MaxSelling.png) no-repeat -1px -77px;
	display:block;
	float:right;
	height:16px;
	left:0;
	position:relative;
	top:-2px;
	width:15px;
}

#MarketListingsPreferenceTable .filterPanelLink:hover span.button 
{
	background-position:-1px -94px;
}

#PriceFilterPanel
{
	right:0;
}

#MarketListingsFiltersMessage
{
	background:#ffe5cc;
	border:solid #ffa64c 1px;
	clear:both;
	color:#994c00;
	margin:10px 1px 2px;
	padding:5px 8px 3px;
}

#MarketListingsPreferenceTable a.open span.button
{
	background-position:-1px -111px !important;
}

#MarketListingsPreferenceTable .filterPanel
{
	background:#fff;
	border:solid #ccc 1px;
	color:#5B5F62;
	display:none;
	padding:10px;
	position:absolute;
	z-index:100000;
}

#MarketListingsPreferenceTable .filterPanel select
{
	color:#5B5F62;
}

#MarketListingsPreferenceTable .filterPanel .filterBtn
{
	clear:both;
	font-size:0.8em;
	margin-top:1em;
}

#MarketListingsPreferenceTable th a 
{
	color:#5B5F62;
	font-size:1em;
}

#MarketListingsPreferenceTable tbody tr.selected td
{
	background-color:#ccffc9;
	border-color:#6cca69;
}

#MarketListingsControl
{
    color:#5b5f62;
}

#MarketListingsControl .tableContainer
{
	background:#fff;
	border:solid #ccc 1px;
	border-top:0;
    height:450px;
    overflow:auto;
    overflow-x:hidden;
    padding:5px 0;
    position:relative;
}

#MarketListingsControl h3
{
	display:none;
}

#MarketListings #MarketListingsControl table
{ 
	background:#fff;
	width:100%;
}

#MarketListings .editModulePanel
{
	height:570px !important;
}

#MarketListings .editModulePanel th
{
	padding-top:8px !important;
	border-bottom-color:#888a94;
}

#MarketListingsControl td.certified .checkmark
{
	background:transparent url(Images/sprite_MaxSelling.png) no-repeat -208px -204px;
	height:8px;
	overflow:hidden;
	width:9px;
}

#MarketListingsControl .emptyModule
{
	border-top:0 !important;
	background-color:#fff !important;
}

#MarketListingsControl .emptyDataSetLabel 
{
	color:#5b5f62 !important;
	padding-left:8px;
}

#MarketListingsSearchPanel .emptyDataSetLabel
{
	background-color:#fff;
	border-top:solid #ccc 1px;
	display:block;
}

#MarketListingsControl td.certified .checkmark span
{
	display:none;
}

#MarketListingsControl tr.vehicleDescription td p
{
	line-height:1.4em;
	margin:0.5em;
}

#MarketListingsSearchPanel .pagingLabel
{
	color:#fff;
	display:block;
	float:left;
	margin:5px 0 0 10px;
}

#MarketListingsPagingDiv
{
    float: right;
    margin: 5px 0 10px;
    position:relative;
}

#MarketListingsPagingDiv span
{
	display:block;
	float:left;
	padding:0 0 0 4px;
}

#MarketListingsPagingDiv a
{
	background-color:#fff;
	border:solid #ccc 1px;
	color:#666;
	display:block;
	float:left;
	font-size:1em;
	margin-left:3px;
	padding: 0 4px;
    position:relative;
	text-decoration:none;
}

#MarketListingsPagingDiv a:hover
{
	background-color:#8c8a94;
	border-color:#8c8a94;
	color:#fff;
}

#MarketListingsPagingDiv a.selectedPage, #MarketListingsPagingDiv a.selectedPage:hover
{
	background:#fff;/*495b8c*/
	border-color:#fff;
	color:#5B5F62;
	cursor:default;
	font-weight:bold;
	text-decoration:none;
}

/**/

.pleaseWaitPanel, .pleaseWaitPagePanel
{
	background-color:#fff;
	border:solid #ccc 1px;
	color:#666;
	filter:alpha(opacity=85);
	left:0;
	opacity:0.85;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
	z-index:10000;
}

.pleaseWaitPagePanel
{
	left:-1px;
}

.pleaseWaitPanel table, .pleaseWaitPagePanel table
{
	background:transparent url(../../Public/Images/loading.gif) no-repeat 45% 50%;
	color:#777;
	font-family:Arial;
	width:100%;
}

.pleaseWaitPanel p, .pleaseWaitPagePanel p
{
	font-size:1.1em;
	margin-left:49%;
}

#PricingAnalysis .pleaseWaitPanel, #MarketListings .pleaseWaitPanel
{
	margin-left:40px;
}

/* for vehicle photo */
#VehicleSummaryPanel .pleaseWaitPanel table
{
	background-position:35% 50%;
}

/* modal edit styles */

.modalEdit
{
	height:480px !important;
}

.marketListingsModalEdit
{
	height:600px !important;
}

.modalEdit .ui-dialog-content, .marketListingsModalEdit .ui-dialog-content
{
	height:auto !important;
}

.modalEdit .ui-dialog-titlebar, .marketListingsModalEdit .ui-dialog-titlebar
{
	background:url(Images/sprite_MaxSelling_bgRepeatX.png) repeat-x scroll 0 -39px #ccc;
	border-radius:0 !important;
	font-size:1.1em;
	-moz-border-radius:0 !important;
	padding:0.5em 0 0.4em;
	text-shadow:1px 1px 0 #ddd;
}

.modalEdit .ui-dialog-titlebar-close, .marketListingsModalEdit .ui-dialog-titlebar-close
{
	display:none;
}

.modalEdit a.moduleEditLink, .marketListingsModalEdit a.moduleEditLink
{
	display:none !important;
}

.modalEdit #MarketListings .viewModulePanel th
{
	display:none !important;
	visibility:hidden !important;
}
