﻿html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    border:0;
    margin:0;
    padding:0
}

ul, ol, dl
{
	position: relative; 
}


html
{
    background:#fff;
    overflow-y:scroll;
}

body
{
    color:#5b5f62;
    font-size:9pt;
    font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif !important;
}

a
{
	color:#355FAB;
	outline:0;
}

a:active
{
	color:#C00;
}

html body form div a
{
	font-size:100%;
}

.bold
{
	font-weight:bold;
}

.red
{
	color:#C00 !important;
}

.green
{
	color:green !important;
}

.greyed
{
	color:#999;
}

.alignLeft
{
	text-align:left;
}

.clearfix:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after
{
     clear:both;
     content:" ";
     display:block;
     font-size:0;
     height:0;
     visibility:hidden;
}
.clearfix
{
	display:inline-block;
}
/* start commented backslash hack \*/
* html .clearfix
{ height:1%; }
.clearfix
{ display:block; }
/* close commented backslash hack */

.clearLeft
{
    clear:left;
}

.clearRight
{
    clear:right;
}

.clear
{
    clear:both;
}

.error
{
    color:#C00;
    line-height:1em
}

.floatLeft
{
	float:left;
}

.alignCenter
{
	text-align:center;
}

.alignLeft
{
	text-align:left;
}

.alignRight
{
	text-align:right;
}

.hideTopBorder
{
	border-top-color:transparent !important;
}

input.text
{
    color:#666;
    font-size:.9em;
    padding:2px 2px;
}

input.text:focus
{
    background:#ffc;
    border-width:1px;
}

.small
{
	font-size:.8em;
	font-weight:normal;
}

.italic, .italics
{
	font-style:italic;
}

.inline
{
	display:inline !important;
}

#ui-datepicker-div
{
	display:none;
}

.datePickerText
{
	float:left;
}

.datePickerButton
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -204px transparent !important;
	display:block !important;
	float:left;
	height:14px !important;
	margin:3px 0 0 4px;
	width:14px !important;
}

.datePickerButton:hover
{
	background-position:-1px -219px !important;
}

.datePickerButton span
{
	display:none;
}

#Container
{
    background:#f4f4f4;
    border:solid #98979c 1px;
    border-top:0px;
    display:none;
    padding-bottom:45px;
    width:991px;
    margin:0 auto;
}

.viewModulePanel .highlightRow, .viewModulePanel .even
{
    background:#f2f4fa;
}

.previewSheetDDL
{
	margin-top:5px;
}

.ckbList
{
	display:block;
	position:relative;
}

.warningIcon, .errorIcon
{
    background:url(Images/sprite_MaxSelling.png) repeat scroll -1px -341px transparent;
    *display:inline;
    display:-moz-inline-stack;
    left:3px;
    min-height:13px;
    position:relative;
    top:2px;
    vertical-align:top;
    width:16px;
    zoom:1;
    _height:13px
}

.errorIcon
{
    background:url(Images/sprite_MaxSelling.png) repeat scroll -1px -307px transparent;
    min-height: 16px;
    top: 0px;
    _height: 16px
}

.pageBreak
{
	border-top:dashed #cc0000 1px;
	position:absolute;
	right:0;
	width:36px;
}

.pageBreak span
{
	color:#cc0000;
	display:block;
	float:left;
	font-family:Arial, Verdana, Sans-Serif;
	font-size:8pt;
	font-weight:bold;
	line-height:9pt;
	margin:1px 0 0 2px;
	text-align:left;
}

.emptyModule
{
	background:transparent none !important;
	border-top:dotted #bbb 1px !important;
	border-bottom:0 !important;
	border-left:0 !important;
	border-right:0 !important; 
	color:#bbb;
	cursor:default !important;
	padding:3px;
    position:relative;
}

.emptySetOnly
{
	display:none;
}

.emptyModule .emptySetOnly
{
	display:block !important;
}

.emptyModule #PricingAnalysisBtm
{
	display:none;
}

.emptyModule h3, .emptyModule h4
{
	color:#bbb !important;
	font-size:1.2em !important;
	font-style:normal !important;
	text-align:left !important;
}

.emptyModule table
{
	display:none !important;
}

.pleaseWaitPanel
{
	position:relative;
	z-index:99999;
}

/* ================== */
/* ===== Tabset ===== */
/* ================== */
#PricingTabs
{
    background:#f4f4f4;
    height:34px
}

#PricingTabs ul
{
    border-right:solid #fff 1px;
    height:24px;
    list-style:none
}

#PricingTabs ul li
{
    border-bottom:solid #98979c 1px;
    float:left;
    font-size:1.2em;
    font-weight:bold;
    height:24px
}

#PricingTabs ul li a
{
    color:#6c7e98;
    display:block;
    height:24px;
    padding:0 25px 0px 17px;
    text-decoration:none
}

#PricingTabs ul li a span
{
    position:relative;
    top:3px
}

#PricingTabs ul #IAATab a
{
    background:url(Images/sprite_MaxSelling.png) no-repeat scroll -174px -304px transparent;
    font-style: italic;
    padding-left:23px
}

#PricingTabs ul #IAATab a span
{
    padding-left:25px
}

#PricingTabs ul #CVATab a
{
    background:url(Images/sprite_MaxSelling_Logos.png) no-repeat scroll 10px -1px transparent;
    display:block;
    float: left;
    height:25px;
    margin-top:3px;
    width:356px;
}

#PricingTabs ul #CVATab a span
{
    display:none;
}

#PricingTabs ul #CVATab a.small
{
	background-image:none;
	border:0 !important;
	color:#355FAB !important;
	cursor:pointer !important;
    display:inline;
    font-size:9pt;
    height:auto;
    margin: 6px 0 0 41px;
    padding:0 !important;
    text-decoration:underline;
    width:auto;
}

#PricingTabs ul.selected1
{
    background:url(Images/sprite_MaxSelling_bgRepeatX.png) repeat-x scroll 1px -139px transparent;
}

#PricingTabs ul.selected1 li
{
    background:#f3f5ff
}

#PricingTabs ul.selected1 #CVATab
{
    background:transparent;
    border-bottom:0px;
    border-left:solid #98979c 1px
}

#PricingTabs ul.selected1 #CVATab a
{
    border-left:solid #fff 1px;
    color:#122e53;
    cursor:default;
}

#CVAContent
{
    background:#f4f4f4 url(Images/sprite_MaxSelling_bgRepeatY.png) repeat-y -1435px 0;
    border-top:solid #bbb 1px;
    width:950px;
}

#CVAModules
{
    background:#fff;
    border:solid #bbb 1px;
    border-left:0;
    border-top:0;
    float:right;
    left:1px;
    padding:10px 0 20px 0;
    position:relative;
    width:732px;
    z-index:10;
}

.highlightModule, .highlightModule
{
	background:#ffffcc;
}

#VehicleImagePanel .highlightModule img
{
	visibility:hidden;
}

#PricingAnalysis .highlightModule #PricingList .first-child, #PricingAnalysis .highlightModule h3, #PricingAnalysis .highlightModule #Gauge, #PricingAnalysis .highlightModule table, #PricingAnalysis .highlightModule table td, #PricingAnalysis .highlightModule table th
{
	background-color:#ffffcc !important;
}

#PricingAnalysis .highlightModule #PricingAnalysisBtm, #PricingAnalysis .highlightModule .gaugeTableContainer
{
	background-color:#ffffcc !important;
	background-image:none !important;
}

#CertifiedBenefits .highlightModule .previewPanel, #CertifiedBenefits .highlightModule .previewPanel ul
{
	background-image:none !important;
}

#PricingAnalysis .highlightModule table
{
	border-color:transparent !important;
}

#MarketListings .highlightModule table td
{
	background-color:#ffffcc !important;
}

/* ================================= */
/* ===== Preview Settings Form ===== */
/* ================================= */

#CVASettingsForm
{
    background:#fff;
    border-bottom:solid #bbb 1px;
    float:left;
    position:relative;
    width:217px;
    z-index:11;
}

#SwitchViewFields select
{
	color:#5B5F62;
	font-size:1.3em !important;
	font-weight:bold;
	margin-left:15px;
	width:180px;
}

#SwitchViewFields span
{
	margin-left:15px;
}

#CVASettingsForm fieldset
{
    border:0px;
    padding:0 0 5px;
    margin-top:5px;
    zoom:1;
}

#CVASettingsForm fieldset legend
{
	background-color:#F4F4F4;
	border-top:solid #bbb 1px;
	border-bottom:solid #bbb 1px;
	display:block;
	font-weight:bold;
	margin:0;
	padding:5px 0 5px 15px;
    width:202px;
}

#CVASettingsForm fieldset label
{
    display:block;
    padding-bottom:2px;
    padding-top:4px
}

#CVASettingsForm fieldset input, #CVASettingsForm fieldset select
{
    font-size:.8em
}

#CVASettingsForm fieldset .ckbList
{
	clear:both;
	display:block;
	margin-left:10px;
}

#SalesPacketPreviewWidget
{
	margin:10px 0 0;
}

#SalesPacketPreviewWidget span
{
	margin-left:15px;
}

#SalesPacketPreviewWidget ul li
{
	position:relative;
	font-size:1.2em;
	left:15px;
	list-style-type:none;
	width:214px;
}

#SalesPacketPreviewWidget ul li a
{
	margin-left:14px;
}

#SalesPacketPreviewWidget ul li.selected
{
	background:transparent url(Images/sprite_MaxSelling.png) no-repeat -1px -1px;
	color:#fff;
	font-weight:bold;
	font-size:1.4em;
	line-height:18pt;
	height:25px;
	overflow:hidden;
	position:relative;
	right:10px;
}

#SalesPacketPreviewWidget ul li.selected a
{
	color:#fff;
}

#SalesPacketPreviewWidget ul li.selected a:hover
{
	color:#fff;
	cursor:default;
	text-decoration:none;
}

#SellingSheetIncludes
{
	zoom:1;
	margin:10px 0 0 15px;
}

#SellingSheetIncludes label 
{
	display:inline !important;
}

#MarketComparisonIncludes
{
	margin:10px 0 10px 15px !important;
}

#MarketComparisonIncludes label 
{
	display:inline !important;
}

/* Begin VHR Widgets */

#VHRWidgets, #VHRWidgets2
{
	position:relative;
	z-index:99999;
}

#VHRWidgets .pleaseWaitPanel, #VHRWidgets2 .pleaseWaitPanel
{
	border:0 !important;
}

#VHRWidgets .pleaseWaitPanel table, #VHRWidgets2 .pleaseWaitPanel table
{
	background-position:35% 50%;
	height:39px !important;
}

.vhrWidgets
{
	height:24px;
	padding:5px 0 0 0;
	position:static !important;
	white-space:nowrap;
}

.vhr_report 
{
	background-color:#fff;
	float:right;
	margin:5px 6px 0 0;
}

.vhr_report label.report_status
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -1px -342px #fff;
	cursor:pointer;
	display:block;
	float:left;
	height:16px;
	margin:0 2px 0 0;
	padding:0 !important;
	position:relative;
	width:16px;
}

.vhr_report .report-status-valid
{
	background-image: none !important;
}

.carfax_report input.carfax_button
{
	background:url(Images/sprite_MaxSelling_Logos.png) no-repeat scroll -1px -68px #fff;
	border:medium none;
	cursor:pointer;
	display:block;
	float:left;
	font-size:0 !important;
	height:16px;
	overflow:hidden;
	padding-bottom:19px;
	padding-left:3px;
	text-align:left;
	text-indent:1000em;
	width:82px;
}

.carfax_report ul
{
	display:none;
}

.autocheck_report input.autocheck_button
{
	background:url(Images/sprite_MaxSelling_Logos.png) no-repeat scroll -1px -134px #fff;
	border:medium none;
	color:#F0F0F2;
	cursor:pointer;
	display:block;
	float:left;
	font-size:0 !important;
	height:16px;
	overflow:hidden;
	padding-bottom:19px;
	padding-left:3px;
	position:relative;
	text-align:left;
	text-indent:1000em;
	width:71px;
}

html .autocheck_report .vhr_report_form_ReadOnly
{
	width:220px;
}

.vhr_report_form fieldset label
{
	display:inline !important;
}

.vhr_report_form div.error
{
	white-space:normal !important;
}

.autocheck_report .vhr_report_form, .carfax_report .vhr_report_form
{
	background-color:#fff;
	border:1px solid #9BA1AC;
	clear:left;
	display:block;
	left:0px;
	padding:1.5em 8px 8px 8px;
	position:absolute;
	text-align:left;
	top:27px;
	z-index:999999;
}

.carfax_report .vhr_report_form
{
	left:105px;
}

.autocheck_report .vhr_report_form
{
	left:4px;
}

.vhr_report_form .closeVhrWidgetLink {
	position:absolute;
	right:8px;
	text-decoration:underline;
	top:0;
}

.autocheck_report_view, .carfax_report_view
{
	border-right:solid #fff 1px;
	border-left:solid #fff 1px;
	height:17px;
	padding:0 2px;
}

.carfax_form_open, .autocheck_form_open
{
	background-color:#fff;
	border-right:solid #9ba1ac 1px;
	border-left:solid #9ba1ac 1px;
	height:17px;
	padding:0 2px;
	position:relative;
}

.vhr_report .vhr_report_form .vhr_report_link
{
	text-align:center;
	text-transform:uppercase;
}

.carfax_hot_list
{
	border-top:solid #ccc 1px;
	margin-top:5px;
	padding-top:5px;
}

.vhr_report_form .carfax_hot_list label {
	display:block !important;
	float:left !important;
	font-size:0.8em;
	margin:-2px 0 0 24px;
	white-space:normal !important;
}

.vhr_report_form .carfax_hot_list input
{
	left:9px;
	position:absolute;
}

/* End VHR Widgets */

#CVASettingsForm fieldset .ckbList label
{
    display:inline;
    position:relative;
    top:-1px
}

#CVASettingsForm fieldset hr
{
    border:solid #e3e3e3 1px;
    border-bottom:0px;
    clear:left;
    height:1px;
    margin:8px 15px;
    overflow:hidden;
}

#CustomerInfoDiv
{
    margin:10px 0 0 15px;
}

#CustomerInfoDiv label.inline
{
	color:#777;
	font-size:0.9em;
	padding-left:5px;
}

/* Begin payment info */

#PaymentInfoForm
{
	margin-top:15px;
	padding:0 15px 0 13px;
}

#PaymentInfoForm h4
{
	border-bottom:solid #ccc 1px;
	font-size:1em;
	margin:0 0 5px 1px;
}

#PaymentInfoForm label
{
	display:inline !important;
}

#PaymentInfoForm .paymentsPerMonth, #PaymentInfoForm .downPayment
{
	clear:left;
	float:left;
	padding-bottom:10px;
	white-space:nowrap;
}

#PaymentInfoForm .paymentsTerm, #PaymentInfoForm .interestRate
{
	float:right;
	padding-bottom:10px;
}

#PaymentInfoForm .paymentsPerMonth input, #PaymentInfoForm .downPayment input
{
	position:relative;
	left:1px;
	width:40px;
}

#PaymentInfoForm .paymentsTerm input
{
	position:relative;
	left:1px;
	width:15px;
}

#PaymentInfoForm .interestRate input
{
	position:relative;
	left:1px;
	width:25px;
}

#PaymentInfoForm .checkboxDiv
{
	clear:both;
	margin:0 0 5px -2px;
}

#PaymentInfoForm .checkboxDiv label
{
	position:relative;
	top:-1px;
}

#PaymentInfoForm .checkboxDiv .floatRight
{
	float:right;
	padding-bottom:5px;
}

#OwnPaymentsInfo
{
	border-top:solid #ccc 1px;
	border-bottom:solid #ccc 1px;
	clear:both;
	padding-top:5px;
}


/* End payment info */

.printSheetIncludes
{
	margin:10px 0 0 15px;
	zoom:1;
}

.printSheetIncludes input
{
	margin-left:14px;
}

#CVASettingsForm .updateDeal
{
	background:url(Images/sprite_MaxSelling_Buttons.png) no-repeat scroll -120px -1px transparent;
	border:0;
	display:block;
	float:right;
	height:20px;
	line-height:100em;
	margin:20px 10px 5px 0;
	outline-style:none;
	overflow:hidden;
	text-indent:10000em;
	width:136px;
}

#CVASettingsForm .updateDeal:hover
{
    background-position:-120px -22px;
}

#CVASettingsForm .updateDeal:active
{
    background-position:-120px -43px;
}

#CVASettingsForm .resetDeal
{
	float:left;
	margin:21px 0 0 10px;
	text-decoration:underline;
}

#SelectPdfErrorMessage
{
	margin:5px 0 5px;
}

#OfferPriceError
{
	clear:left;
	display:block;
}

#PDFActionsErrorMessage, #PublishActionsErrorMessage
{
	margin:5px 0 0 15px;
}

.pdfActionsCkbList
{
	margin-left:13px;
	zoom:1;
}

#CVASettingsForm .mktListingRadButtons
{
	clear:both;
	display:block;
	margin-left:27px;
}

#CVASettingsForm .mktListingRadButtons br
{
	line-height:.001em;
}

#CVASettingsForm .mktListingRadButtons input
{
	clear:both;
	float:left;
}

#CVASettingsForm .mktListingRadButtons label
{
	display:block;
	float:left;
	position:relative;
	top:-1px;
}

#CVASettingsForm .formButtons
{
	clear:both;
	text-align:right;
	margin-right:10px;
	padding:5px 0;
	position:relative;
}

#CVASettingsForm .print-sheet-button
{
	background: url(Images/sprite_MaxSelling_Buttons.png) no-repeat scroll -1px -1px transparent;
	display:block;
	float:right;
	height:20px;
	margin-bottom:5px;
	margin-top:5px;
	outline-style:none;
	overflow:hidden;
	width:116px;
}
#CVASettingsForm .print-sheet-button:hover
{
    background-position:-1px -22px;
}
#CVASettingsForm .print-sheet-button:active
{
    background-position:-1px -43px;
}
#CVASettingsForm .print-sheet-button.disabled
{
    background-position:-1px -64px;
    cursor:default;
}

#CVASettingsForm .print-sheet-button.NOTICEME
{
	background: url(Images/sprite_MaxSelling_Buttons.png) no-repeat scroll -1px -86px transparent;
}
#CVASettingsForm .print-sheet-button.NOTICEME:hover
{
    background-position:-1px -107px;
}
#CVASettingsForm .print-sheet-button.NOTICEME:active
{
    background-position:-1px -128px;
}
#CVASettingsForm .print-sheet-button.NOTICEME.disabled
{
    background-position:-1px -149px;
}



#CVASettingsForm .print-sheet-button span
{
    display:none;
}

.publishingMessage
{
	color:#C00;
	float:left;
	margin:0 0 0 15px;
	text-align:left;
}

#WebsitePdfIncludes, #WebsitePdfAddOns
{
	margin:10px 0 0 15px;
	zoom:1;
}

.currentPacketLink
{
	display:block;
	margin:10px 15px 0;
	text-decoration:underline !important;
}

.tinyUrlText
{
	margin:5px 0 0 15px;
	width:175px;
}

.printOptions, .printOptions legend
{
	background-color:#f4f4f4;
}

.printOptions label
{
	display:inline !important;
}

.printOptions .terms
{
	margin:0 15px;
	padding-top:10px;
}

.printOptions span.small
{
	clear:both;
	color:#999;
	display:block;
	margin:0 15px;
}

#PublishOptions, #OfferDetails
{
	overflow:hidden;
	width:217px;
}

#PreviewSellingSheetSpan, #PreviewComparisonSpan
{
	display:block;
	float:left;
	width:210px;
}

/*==== Market Comparison Header ====*/
#MarketComparisonHead
{
	color:#fff;
	display:none;
	background:#5d6692;
	margin:0 0 10px 40px;
	text-align:right;
	width:652px;
}

#MarketComparisonHead h2
{
	background:#5d6692;
	color:#fff;
	font-size:1.2em;
	font-style:italic;
	font-weight:normal;
	padding:2px 8px;
	text-transform:uppercase;
}

/*==== Dealer Summary ====*/
#DealerSummary
{
	font-family:"Times New Roman", Serif;
	margin-left:40px;
	padding:10px 0 0;
	width:652px;
}

#DealerSummary div.logo
{
	float:left;
	overflow:hidden;
	width:138px;
}

#DealerSummary div.copy
{
	float:left;
	margin-left:10px;
	width:500px;
}

#DealerSummary div.copy p
{
	border-top:solid #7f7f7f 1px;
	padding:5px 0 0;
}

#DealerSummary div.copy p.address
{
	border-top:solid #7f7f7f 1px;
	margin-bottom:10px;
}

#DealerSummary div.copy p.address a
{
	font-size:1em;
}

.noDealerLogo .copy
{
	width:632px !important;
}

/*==== Vehicle Year Model ===*/
#VehicleYearModel
{
    margin:0 0 0 40px;
	position:relative;
    width:652px;
}

#VehicleDealerInfo
{
	bottom:0;
	float:left;
    height:40px;
    overflow:hidden;
	position:relative;
    width:480px;
}

#VehicleYearModel h2
{
    bottom:0;
    color:#333;
    font-size:1.7em;
    line-height:1.2em;
    padding:0 0 0 10px;
    position:absolute;
}

#VehicleLogos
{
	float:right;
	text-align:right;
	width:160px;
}

#VehicleLogos img
{
	margin:5px 10px 0 0;
}

/*==== Vehicle Specs ====*/
#VehicleSpecs
{
    background:transparent url(Images/sprite_MaxSelling_bgRepeatY.png) repeat-y 0 0;
    border-top:solid #fff 1px;
    margin-left:40px;
    padding:0;
    position:relative;
    width:653px;
    z-index:21;
}

#VehicleSummaryPanel
{
    background:url(Images/sprite_MaxSelling_bgNoRepeat.png) no-repeat scroll -1px -142px transparent;
}

#VehicleImagePanel
{
	padding-left:10px;
}

#VehicleSpecs .noVehiclePhoto #VehicleSummaryDetails
{
	margin-left:0 !important;
}

#VehicleSpecs .noVehiclePhoto #VehicleSummaryDetails .columnA
{
	width:632px !important;
}

#VehiclePhoto
{
    float:left;
    margin:10px 0 0;
    position:relative;
    width:138px;
}

#VehicleSummaryDetails
{
    float:left;
    margin:5px 0 0;
    padding-left:12px;
}

#VehicleSummaryDetails .columnA
{
    float:left;
    width:481px;
}

#VehicleSummaryDetails .columnB
{
	position:absolute;
	right:10px;
    width:140px;
}

#VehicleSummaryDetails ul
{
    font-size:1.1em;
    list-style-type:none;
}

#VehicleSummaryDetails ul label
{
    display:block;
    float:left;
    width:130px;
}

#VehicleSummaryDetails ul span
{
    display:block;
    float:left;
}

#VehicleSummaryDetails ul li
{
	clear:left;
}

#VehicleSummaryDetails ul li.first-child
{
    font-size:1.2em;
    width:280px !important;
}

#EngineInfo
{
	border-top:solid #a7aeb8 1px;
	margin-top:5px;
	padding-top:5px;
}

#VehicleSummaryDetails .columnB li
{
    color:#87898E;
    font-size:0.8em;
}

#VehicleSummaryDetails .columnB li.first-child
{
    color:#5B5F62;
    margin-bottom:38px;
}

#VehicleSummaryBtm
{
    background:url(Images/sprite_MaxSelling_bgNoRepeat.png) no-repeat scroll -1px -124px transparent;
	height:5px;
	overflow:hidden;
}

/* Features/Highlights/Description */

#FeaturesUpdatePanel
{
	margin:0 7px 0 11px;
	overflow:hidden;
	position:relative;
	zoom:1;
}

#VehicleDescriptionUpdatePanel, #HighlightsUpdatePanel
{
	margin:0 11px;
	overflow:hidden;
	position:relative;
	zoom:1;
}

#HighlightsUpdatePanel
{
	margin:0;
}

#VehicleFeatures .viewModulePanel
{
	width:631px;
}

#VehicleFeatures .viewModulePanel .previewPanel, #ConsumerHighlights .viewModulePanel .previewPanel, #VehicleDescription .viewModulePanel .previewPanel .vehicleDescriptionContent
{
    border-top:1px solid #a7aeb8;
    clear:left;
    margin-top:5px;
    padding-top:4px;
    position:relative;	
}

#VehicleFeatures .viewModulePanel h4, #ConsumerHighlights .viewModulePanel h4, #VehicleDescription h4
{
    font-size:1.2em;
    padding-bottom:3px;
}

#VehicleFeatures .viewModulePanel ul, #ConsumerHighlights .viewModulePanel ul
{
    float:left;
    width:630px;
}

#VehicleFeatures .viewModulePanel ul li, #ConsumerHighlights .viewModulePanel ul li
{
    background:url(Images/sprite_MaxSelling.png) no-repeat scroll -214px -245px transparent;
    float:left;
    list-style-type:none;
    margin:0 5px 0 0;
    overflow:hidden;
    padding-left:7px;
    width:196px;
}

.highlightSection
{
	clear:both;
	padding-bottom:10px;
}

#ConsumerHighlights .viewModulePanel
{
	margin:0 11px;
}

#ConsumerHighlights .viewModulePanel #SnippetHighlightsUL li
{
	background:none;
	clear:both;
	display:block !important;
	line-height:1.2em;
	padding:5px 0 5px 0;
	width:100% !important;
}

#ConsumerHighlights .viewModulePanel #SnippetHighlightsUL li .source
{
	color:#424547;
	font-weight:bold;
}

#VehicleFeatures .emptyModule, #ConsumerHighlights .emptyModule
{
	border-top:dotted #a2a6b0 1px !important;
	color:#a2a6b0 !important;
}

#VehicleFeatures .emptyModule h3, #ConsumerHighlights .emptyModule h3, #VehicleFeatures .emptyModule h4, #ConsumerHighlights .emptyModule h4
{
	color:#a2a6b0 !important;
}

span.stars1, span.stars15, span.stars2, span.stars25, span.stars3, span.stars35 , span.stars4 , span.stars45 , span.stars5
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -80px -134px transparent;
	display:inline-block;
	height:10px;
	line-height:100em;
	overflow:hidden;
	vertical-align:middle;
	width:58px;
}

span.stars1
{
	background-position:-80px -36px;
}

span.stars15
{
	background-position:-80px -47px;
}

span.stars2
{
	background-position:-80px -58px;
}

span.stars25
{
	background-position:-80px -69px;
}

span.stars3
{
	background-position:-80px -80px;
}

span.stars35
{
	background-position:-80px -91px;
}

span.stars4
{
	background-position:-80px -102px;
}

span.stars45
{
	background-position:-80px -113px;
}

span.stars5
{
	background-position:-80px -124px;
}

/*===== Vehicle Description =====*/

#VehicleDescriptionUpdatePanel
{
	display:none;
}

/*===== Certified Benefits =====*/

#CertifiedBenefitsUpdatePanel
{
	margin:0;
	overflow:hidden;
	position:relative;
	zoom:1;
}

#CertifiedBenefits .previewPanel
{
    background:transparent url(Images/sprite_MaxSelling_bgRepeatY.png) repeat-y -655px 0;
    position:relative;
    width:653px;
    z-index:20;
}

#CertifiedBenefits .viewModulePanel
{
	margin-left:40px;
	width:653px;
}

#CertifiedBenefits .viewModulePanel h4
{
    border-top:solid #fff 3px;
    font-size:1em;
    padding:5px 0 0 10px;
    position:relative;
    text-transform:uppercase;
    top:-2px;
}

#CertifiedBenefits .viewModulePanel #CertifiedFeaturesBtm
{
	background:url(Images/sprite_MaxSelling_bgNoRepeat.png) no-repeat scroll -1px -130px transparent;
	height:5px;
	overflow:hidden;
}

#CertifiedBenefits .viewModulePanel li
{
    background:url(Images/sprite_MaxSelling.png) no-repeat scroll -214px -245px transparent;
    float:left;
    list-style-type:none;
    margin-left:10px;
    overflow:hidden;
    padding-left:7px;
    width:309px;
}

/*==== Payments Information ====*/

#PaymentInfoUpdatePanel
{
	margin:0 0 0 40px;
	position:relative;
	width:653px;
}

#PaymentsInformationDiv
{
	background:url(Images/sprite_MaxSelling_bgRepeatX.png) repeat-x scroll 1px -69px #A1CC98;
	border:solid #7aa66f 1px;
	font-size:1.2em;
	margin-top:5px;
	padding-bottom:5px;
	text-align:center;
}

#PaymentsInformationDiv strong
{
	color:#364d32;
}

#PaymentsInformationDiv .monthlyPayments
{
	background:#ffff99;
	color:#364d32;
	font-weight:bold;
}

#PaymentsInformationDiv .termPayments
{
	margin-top:5px;
}

#PaymentsInformationDiv .interestRate
{
	font-size:0.75em;
	font-style:italic;
}

#PaymentsInformationDiv .downPaymentAndTerms
{
	font-style:italic;
}

/*===== Pricing Analysis =====*/

#PricingList
{
	height:24px;
	list-style-type:none;
    margin:2px 0 0;
    width:652px;
}

#PricingList li
{
	display:block;
	float:right;
	font-size:1.2em;
	font-weight:bold;
	padding:2px 6px;
}

#PricingList li.first-child
{
	background:#FFFF99 none repeat scroll 0 0;
	color:#333333;
	margin-left:20px;
}

#PricingList li.first-child .payments
{
	font-size:0.9em;
	font-weight:normal;
}

#PricingList li label
{
	font-weight:normal;
}

#PricingAnalysis
{
}

#PricingAnalysis .viewModulePanel
{
	margin-left:40px;
	width:653px;
}

#PricingAnalysis .viewModulePanel .gaugeTableContainer
{
	background:url(Images/sprite_MaxSelling_bgNoRepeat.png) no-repeat scroll -1px -1px #fff;
    position:relative;
}

#PricingAnalysis .viewModulePanel .gaugeTableContainer h3 
{
	color:#183408;
	font-size:1.3em;
	font-style:italic;
	margin-bottom:-1px;
	padding:5px 0 0 0;
	text-align:center;
}

#PricingAnalysis .viewModulePanel #Gauge
{
	margin-bottom:10px;
}

#PricingAnalysis .viewModulePanel label.date
{
	color:#999;
	font-size:.8em;
	font-family:Arial, Sans-Serif;
}

#PricingAnalysis .viewModulePanel label.price
{
	font-weight:bold;
	text-align:center
}

#PricingAnalysis .viewModulePanel .comparisonRow
{
	background:url(Images/sprite_MaxSelling_bgRepeatX.png) repeat-x scroll 1px 1px #EAEDF6;
	height:36px;
}

#PricingAnalysis .viewModulePanel table
{
	clear:both;
	border-collapse:collapse;
	border-left:solid #d3d3d3 1px;
	border-right:solid #d3d3d3 1px;
	margin-top:-4px;
	width:653px;
}

#PricingAnalysis .viewModulePanel th
{
	background:transparent !important;
}

#PricingAnalysis .viewModulePanel .comparisonRow td
{
	border-top:solid #9dabc5 1px;
}

#PricingAnalysis .viewModulePanel .comparisonRow td.logo
{
	text-align:center;
}

#PricingAnalysis .viewModulePanel .comparisonRow td.price
{
	font-weight:bold;
}

#PricingAnalysis .viewModulePanel .comparisonRow td.delta
{
	color:green;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
}

#PricingAnalysis .viewModulePanel .comparisonRow td.delta div
{
	text-align:center;
}

#PricingAnalysis .viewModulePanel .comparisonRow td.delta label
{
	color:#5b5f62;
	margin-bottom:0px;
}

#PricingAnalysis .viewModulePanel .comparisonRow td.delta span
{
	color:#999;
	display:block;
	font-size:.6em;
	font-family:Arial, Sans-Serif;
	margin-top:-2px;
}

#Gauge
{
	background:url(Images/sprite_MaxSelling_Gauge.png) no-repeat scroll 41px 8px transparent;
	height:70px;
	position:relative;
}

#GaugeItems
{
	height:70px;
	margin:0 auto;
	position:relative;
	width:530px;
}

#GaugeItems ul
{
	list-style-type:none;
}

#GaugeItems ul li
{
	background:url(Images/sprite_MaxSelling_Gauge.png) no-repeat scroll center -160px transparent;
	display:block;
	font-size:.9em;
	line-height:1em;
	overflow:hidden;
	padding-top:18px;
	position:absolute;
	text-transform:uppercase;
	text-align:center;
	top:10px;
}

#GaugeItems ul li strong
{
	display:block;
	white-space:nowrap;
}

#GaugeItems .gaugeBreakDiv
{
	background:url(Images/sprite_MaxSelling_Gauge.png) no-repeat center -120px transparent;
	height:18px;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:16px;
}

#GaugeItems .offerPrice span, #Gauge .offerPrice strong
{
	background:#ffff99;
	color:#333;
	display:block;
	padding:2px 0;
}

#GaugeItems ul li.offerPrice
{
	line-height:1.1em;
}

#PricingAnalysisBtm
{
    background:url(Images/sprite_MaxSelling_bgNoRepeat.png) no-repeat scroll -1px -136px transparent;
	height:5px;
	margin-bottom:10px;
	overflow:hidden;
}

/*===== Market Listings =====*/

#MarketListings .viewModulePanel
{
    position:relative;
	margin:0 0 0 40px;
	width:652px;
}

#MarketListings .viewModulePanel h3
{
	color:#6b656b;
	font-size:1.1em;
	position:relative;
	top:-3px;
}

#MarketListings .viewModulePanel table
{
	border:solid #D6D7E7 1px;
	border-collapse:collapse;
	margin-bottom:20px;
	width:652px;
}

#MarketListings .viewModulePanel th
{
	background:#8c96ad;
	border-bottom:solid #d6d7e7 1px;
	color:#fff;
	cursor:default !important;
	font-size:.9em;
	line-height:.9em;
	padding:6px;
}

#MarketListings .viewModulePanel td
{
	border:solid #d6d7e7 1px;
	font-size:.9em;
	line-height:1em;
	padding:6px;
}

#MarketListings td.certified .checkmark
{
	background:url(Images/sprite_MaxSelling.png) no-repeat scroll -208px -204px transparent;
	height:8px;
	overflow:hidden;
	width:9px;
}

#MarketListings td.certified .checkmark span
{
	display:none;
}

#MarketListings td.savings
{
	color:green;
}

#MarketComparisonListings 
{
	display:none;
	margin:0;
	width:652px;
}

#MarketComparisonListings h3
{
	color:#6b656b;
	font-size:1.1em;
	position:relative;
	top:-3px;
}

#MarketComparisonListings table
{
	border:solid #8c96ad 1px;
	border-collapse:collapse;
	margin-bottom:20px;
	width:652px;
}

#MarketComparisonListings td
{
	border:solid #8c96ad 1px;
	font-size:0.9em;
	line-height:0.9em;
	padding:6px;
}

#MarketComparisonListings td.mcItemHeader
{
	background:#ebeef5;
}

#MarketComparisonListings td.mcItemHeader ul
{
	width:100%;
}

#MarketComparisonListings td.mcItemHeader li
{
	float:left;
	line-height:1.2em;
	list-style-type:none;
	width:44.5%;
}

#MarketComparisonListings td.mcItemHeader li.vehicleDealer
{
	width:35%;
}

#MarketComparisonListings td.mcItemHeader li.vehiclePrice
{
	float:right;
	text-align:right;
	width:20%;
}

#MarketComparisonListings td.mcItemHeader .highlight
{
	color:#404790;
	font-weight:bold;
}

#MarketComparisonListings td.mcItemHeader li.vehicleMakeModel li
{
	margin-right:10px;
	width:auto;
}

#MarketComparisonListings td.mcItemDesc p
{
	line-height:1.4em;
	margin:0.5em;
}

#MarketComparisonListings .savings
{
	color:green;
	font-size:1.2em;
}

#EditMarketListingsPanel table
{
	line-height:1.1em;
}

/*===== Offer Footer =====*/

#CVAFooter
{
	margin:0 0 0 40px;
	width:652px;
}

#CVAFooter h3
{
	color:#333;
	font-family:"Times New Roman", Serif;
	font-size:1em;
}

#CVAFooter ul li
{
	float:left;
	font-family:"Times New Roman", Serif;
	list-style-type:none;
}

#CVAFooter #CustomerInfo
{
	float:left;
}

#CVAFooter #CustomerInfo ul li
{
	padding-right:15px;
}

#CVAFooter #SalespersonInfo
{
	float:right;
	text-align:left;
}

#CVAFooter p.disclaimer
{
	border-bottom:solid #999 1px;
	clear:both;
	font-size:.75em;
	font-style:italic;
	padding-bottom:3px;
	padding-top:12px;
}

#BuildNumber
{
    margin:5px auto;
    width:991px;
}

/* jQuery UI styles */

.ui-widget-header
{
	border-top-width:0 !important;
	border-right-width:0 !important;
	border-left-width:0 !important;
}

.ui-dialog-titlebar
{
	padding:3px 0 2px;
}

.ui-dialog-title
{
	color:#333;
	font-weight:700;
	margin-left:8px;
}

.ui-dialog-content
{
	border-width:0 !important;
	color:#3F3F3F;
	padding:5px 8px 0;
}

.ui-datepicker .ui-dialog input.button, .ui-datepicker button, .warningDialog button, .certifiedDialog button
{
	background-color:#fff !important;
	border-color:#B4B4B4 #9F9F9F #9F9F9F #B4B4B4 !important;
	border-style:solid;
	border-width:1px;
	color:#485775 !important;
	cursor:pointer !important;
	font-size:95% !important;
	font-weight:700 !important;
	margin:0 0 0 3px !important;
	padding:2px 5px !important;
	text-align:center !important;
	text-transform:uppercase !important;
}

.ui-datepicker .ui-dialog-buttonpane, .warningDialog .ui-dialog-buttonpane, .certifiedDialog .ui-dialog-buttonpane
{
	border-width:0 !important;
	padding:0 5px 10px 0;
	text-align:right;
}
