
#header {background:#f8f9f8;}
.InputContainer h3 { font-size:1em; color:#485775; }

/* LAYOUT / PAGE BLOCKS --------------------------------------------------------- */

a,
a:link,
a:visited {
	color: #355fab;
	font-size: 90%;
	text-decoration: none;
}

a:link:hover,
a:visited:hover {
	color: #355fab;
	font-size: 90%;
	text-decoration: underline;
}
a.disabled
{
    color: #666;
}
a.disabled:hover
{
    color: #666;
    text-decoration: none;
}

#pageTitle
{
    float: left;
}

/* HTML ELEMENTS / UTILITY CLASSES ---------------------------------------- */

em
{
    font-style: oblique;
    font-weight: 900;
}

label.small {
	color: #8b8b8b;
	text-transform: none;
	font-size: 85%;
}

.textBox {
	padding: 1px 2px;
	border: solid 1px #8f8f8f;
	background: #fff url(../Leopard/Images/textbox_bg.gif) top right no-repeat;

}

.right {
	float: right;
	margin-left: 8px;
	margin-top: auto;
}

.left {
	float: left;
	margin-right: 8px;
	margin-top: auto;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

div.overlabelContainer
{
    position: relative;
}

label.overlabel {
    color:#999;
}

label.overlabel-apply {
    position:absolute;
    top:3px;
    left:5px;
    z-index:1;
    color:#999;
}

a { outline: none; }


/* GRIDS --------------------------------------------------------- */

table.grid {
	border: solid 1px #a9a9a9;
	width: 800px;
	margin: auto;
	border-collapse:collapse;
}

table.grid tr.center th,
table.grid tr.center td {
	text-align: center;
}

table.grid .bold {
	font-weight: bold;
}

table.grid .nowrap {
	white-space: nowrap;
}

table.grid .warning {
	color: #bc0000;
}

table.grid th,
table.grid th a,
table.grid th a:hover,
table.grid th a:visited,
table.grid th a:visited:hover {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
}

table.grid td {
	padding: 5px 6px;
	vertical-align: top;
	color: #555;
}

table.small td
{
    padding: 2px 3px;
}

table.grid td.alignCenter
{
    text-align: center;
}

table.grid td.alignRight
{
    text-align: right;
}


table.grid th {
	background: #a9a9a9;
	color: #fff;
	padding: 5px 6px;
	vertical-align: bottom;
	text-align: center;
}
table.grid th.ascending
{
    padding-right: 15px;
    background: #bbb url(../Leopard/Images/sort_ascending.gif) no-repeat right bottom;
}
table.grid th.descending
{
    padding-right: 15px;
    background: #bbb url(../Leopard/Images/sort_descending.gif) no-repeat right bottom;
}

table.small th
{
    padding: 2px 3px;
    text-align: left;
}

table.grid tbody tr {
	background-color: #ffffff;
}

table.grid tbody tr.odd {
	background-color: #f2f2f2;
}

table.grid tfoot tr td {
	background-color: #d0d0d0;
	border-top: solid 1px #888;
}

.gridPager {
    float: right;
    margin-top: 5px;
}

.gridPager a,
.gridPager a:visited,
.gridPager span
{
    display: inline-block;
    padding: 1px 5px;
    text-decoration: none;
    border: solid 1px #d0d0d0;
    margin-left: 5px;
    background-color: #e0e0e0;
    color: #777;
}

.gridPager span
{
    background-color: #d0d0d0;
    border: solid 1px #808080;
    color: #555;
}

.gridPager a:hover,
.gridPager a:visited:hover
{
    background-color: #f0f0f0;
}

.gridViewRowCount
{
    float: left;
    margin-top: 5px;
}

.edit-info th 
{
	font-weight:normal;
	text-align:left;
}

/* Progress Icon ---------------------------------------------------------*/

.clear
{
   clear: both;
}

/* ===================== */
/* = START: Search Tab = */
/* ===================== */
/* = start: functional layout = */
.ui-tabs {
	display: block;
	list-style: none;
	width: 100%;
	margin: 0;
}

.ui-tabs .ui-tab { display: block; float: left; }
.ui-tabs .ui-tab input {
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.ui-tabs .ui-tab input:hover { text-decoration: underline; }
.ui-tabs .ui-tab input:active {
	margin: 0;
	padding: 0;
	overflow: visible;
	cursor: pointer;
	color: red;
}
.ui-tab-content { clear: both; padding: 0; margin: 0; }
.ui-empty-tab-content { display: none; }
/* = end: functional layout = */

/* ================== */
/* = Helper Classes = */
/* ================== */
.inline { display: inline; }

 /*===================
= VPA Page Layout =
===================*/
#vpa #wrap {
	width: 990px;
	padding-bottom: 10px;
	text-align: left;
	position: relative;
	z-index: 2;
}

#vpa #menu {
	width: 990px;
	margin-top: 15px;
}

#vpa #hd {
	height: auto;
	margin-bottom: 0;
}

#vpa .vpa_header_info_tabs .invListings-bd table.inventory, 
#vpa .vpa_header_info_tabs .ui-tab-content {
	width: 950px;
	margin: 0 auto;
}

#vpa .vpa_header_info_tabs .ui-tab-content .invListings, 
#vpa .vpa_header_info_tabs .ui-tab-content .selectedEquipment {
	margin-bottom: 10px;
}

#vpa .vpa_header_info_tabs .units_in_stock_tab {
	position: absolute;
	right: 0;
}

#vpa #center_row {
	position: relative;
}

#vpa #mktPrce {
	margin: 0 0 0 20px;
	width: 540px;
	float: left;
}

#vpa div.vpa_search_tile {
	float: right;
	width: 408px;
	margin: 0 20px 0 0;
}

#vpa .mktLst {
	margin-top: 10px;
}

#vpa .mktLst table.grid {
	width: 950px;
}

#vpa #PricePointUpdatePanel {
	clear: both;
}

#vpa #MerchandisingInformationUpdatePanel {
	z-index: 10;
	position: relative;	
}
#vpa #MarketListingsUpdatePanel {
	z-index: 1;
	position: relative;	
}

#vpa #SearchTypeUpdatePanel {
	display: none;
}

#vpa #PricingPanels_NADA_Dataset.smallNote {
	line-height: 5pt;
}

/*VPA Header Info -----------------------------------------------------*/
.vpa_header_info_tabs {
	position: relative;
	z-index: 1;
}

.vpa_header_info_tabs .ui-tabs {
	position: absolute;
	top: -2em;
	left: 560px;
	width: 410px;
	margin-right: 1ex;
}

.vpa_header_info_tabs .ui-tabs .ui-tab {
	display: inline;
	float: none;
}

.vpa_header_info_tabs .ui-tabs .ui-tab input {
	padding-right: 15px;
	background: transparent url(../Leopard/Images/VPA/expand_arrow.gif) no-repeat right center;
	overflow: visible;
}

.vpa_header_info_tabs .ui-tabs .ui-tab-active input {
	font-weight: bold;
	background: transparent url(../Leopard/Images/VPA/expanded_arrow.gif) no-repeat right center;
}

.vpa_header_info_tabs .ui-tabs input {
	border: none;
	background-color: transparent;
	color: #355FAB;
	font-size: 10px;
}

.vpa_header_info_tabs .title {
	background-color: #D6D6D6;
	border-right: 1px solid #B0B0B0;
	border-left: 1px solid #B0B0B0;
	width: 100%;
}

.vpa_header_info_tabs .title p {
	text-indent: 10px;
	padding: 1ex 0;
	color:#000;
}

.vpa_header_info_tabs .vpa_selected_equipment {
	border: 1px solid #A9A9A9;
	border-top: none;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs {
	position: static;
	width: auto;
	top: auto;
	left: auto;
	background-color: #D6D6D6;
	border-bottom: 1px solid #A9A9A9;
	padding: 1ex 0;
	height: 1em;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .ui-tab {
	display: block;
	float: left;
	margin-left: 1ex;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .blue_book {
	border-left: 1px solid #B5B5B5;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .ui-tab input {
	text-align: left;
	float: left;
	color: #626262;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content ul, 
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content p {
	padding: 0 1em 1em;
	color: #464646;
	clear: both;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content p {
	padding-top: 1ex;
}

.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content ul li {
	display: block;
	float: left;
	width: 24.9%;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer {
	background-color: #DCE1F5;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	padding: 5px 8px 8px;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer a.ReportLink {
	margin-left: 1ex;
	float: right;
	text-transform: uppercase;
	text-decoration: underline;
	font: bold bold 10px Trebuchet, "Trebuchet MS", Arial, sans-serif;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer h4 {
	font-weight: bold;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer dl * {
	display: inline;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dt {
	margin-right: 1ex;
	font-weight: bold;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dd {
	margin-right: 2em;
}

.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dd select {
	font-size: 10px;
	position: relative;
	top: 1px;
}

.vpa_header_info_tabs .vpa_auction_data table.ResultsTable {
	background-color: #FFF;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
}

.vpa_header_info_tabs .vpa_auction_data table.ResultsTable th {
	background-color: #EFEDF0;
	border: 1px solid #999;
	font-weight: normal;
	text-align: center;
	padding: 3px 0 1px;
	color: #535353;
}

.vpa_header_info_tabs .vpa_auction_data table.ResultsTable tbody th {
	text-align: left;
	text-indent: 1em;
}

.vpa_header_info_tabs .vpa_auction_data table.ResultsTable td {
	border: 1px solid #999;
	font-weight: bold;
	text-align: center;
	color: #3C3C3C;
}

.vpa_header_info_tabs .vpa_auction_data table.ResultsTable tfoot td {
	text-align: left;
	border: none;
	color: #525252;
	background-color: #F8F9F8;
	padding: 2px;
	font-size: 10px;
	font-weight: normal;
	text-indent: 1ex;
}

#vpa #wrap {
	border: 1px solid #878D99;
	background: #F8F9F8 url(../Leopard/Images/VPA/page_bg.gif) repeat-x bottom left;
}

#vpa #hd {
	padding: 6px 6px 1px;
	background: #F8F9F8 url(../Leopard/Images/VPA/vpa_header_grad.jpg) repeat-x bottom left;
	border-bottom: 1px solid #959AA2;
	margin-bottom: 0;
	z-index: 0;
	position:relative;
}

#vpa #priceRank {
	display: none;
}

/*html ELEMENTS ----------------------------------------*/
#vpa h1 {
	color: #414141;
	font-size: 1.5em;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	display: inline;
}

#vpa h2 {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

#vpa h2.high_risk {
	color: #C00;
}

#vpa h2.medium_risk {
	color: #AF9501;
}

#vpa label.small {
	color: #8B8B8B;
	text-transform: none;
	font-size: 85%;
}

#vpa .smallNote {
	color: #888;
	font-size: 90%;
	font-style: italic;
}

#vpa .inner1 {
	border: 1px solid #FFF;
}

#vpa .inner2 {
	border: 1px solid #E5E5E5;
	padding: 4px;
	min-height: 134px;
}

.hidden {
	display: none;
}

/*VEHICLE DETAIL ---------------------------------------------------------*/
.vhclDtl .vhclDtl_wrapper {
	float: left;
	min-width: 555px;
}

.vhclDtl dt,
.vhclDtl dd {
	display: inline;
	line-height: 1.5em;
	white-space: nowrap;
}

.vhclDtl dd {
	margin-left: 4px;
	margin-right: 20px;
}

.vhclDtl dl,
.vhclDtl .vhclDtl_wrapper span,
.vhclDtl .info span {
	color: #666;
	display: inline;
	white-space: nowrap;
}

.vhclDtl dl {
	padding-left: 20px;
}

.vhclDtl .vhclDtl_wrapper span,
.vhclDtl .info span {
	padding-right: 20px;
}

.vhclDtl .vin,
.vhclDtl dt.vin {
	padding-left: 0;
}

.vhclDtl .vin dd,
.vhclDtl dd.vin {
	margin-right: 0;
}

.vhclDtl .vin dd span,
.vhclDtl dd.vin span {
	padding-right: 1ex;
}

.vhclDtl span.certified,
.vhclDtl span.tradein-or-purchase {
	color: #666;
	display: inline;
	white-space: nowrap;
	position: relative;
	top: 4px;
}

.vhclDtl .info {
	font-family: Trebuchet, "Trebuchet MS", Arial, sans-serif;
	display: block;
	font-size: 13px;
	padding-bottom: 1ex;
	clear: left;
	zoom: 1;
}

.vhclDtl .info dd {
	color: #333333;
}

.vhclDtl .stock_number {
	font-size: 16px;
	position: absolute;
	top: 0.5ex;
	right: 20px;
}

.vhclDtl .stock_number:hover {
	font-size: 16px;
}

.vhclDtl .edit-vehicle-info {
	border: none;
	display: block;
	width: 15px;
	height: 15px;	
	background: transparent url(../Leopard/Images/VPA/edit_vehicle_info.gif) no-repeat top center;
	position: absolute;
	cursor: pointer;
	top: 30px;
	left: 5px;
	z-index:100000;
}

.vhclDtl .edit-vehicle-info:hover {
	background-position: bottom center;
}

.has_javascript .vhclDtl .only_show_with_javascript {
	display: none;
}

.vhclDtl .edit-info {
	border: 1px solid #e3e5e5;
	border-top-color: #afb0b0;
	border-left-color: #c7c7c7;
	background-color: #fffffa;
	clear: left;
	margin: 0 10px 2em 25px;
}

.vhclDtl .edit-info table {
	width: 99.9%;
	border-collapse: collapse;
	font-family: Verdana, sans-serif;
	font-size: 11px;
}

.vhclDtl .edit-info table thead tr th {
	text-transform: uppercase;
	color: #485775;
	height: 28px;
	vertical-align: middle;
	background: #f2f2f2 url(../Leopard/Images/ModifySearch/equipment_header.gif) repeat-x 0 -2px;
}

.vhclDtl .edit-info table tbody tr td {
	background-color: #f4f6f8;
	padding: 2px 0px;
}

.vhclDtl .edit-info table .col_body_style {
	padding-left: 10px;
	width: 430px;
}

.vhclDtl .edit-info div.hr {
	height: 1px;
	background: transparent url(../Leopard/Images/VPA/edit_vehicle_info_hr.gif) no-repeat center center;
}
.vhclDtl .edit-info hr {
	display: none;
}

.vhclDtl .edit-info .validation_error {
	border: 1px solid #e6e0ce;
	border-top: none;
	background: #f8f2df url(../Leopard/Images/VPA/attention_gradient.gif) repeat-x top;
	padding: 0 5px 5px;
	position: relative;
	left: -6px;
}

.vhclDtl .edit-info .validation_error .attention_icon {
	position: absolute;
	top: 5px;
	left: 180px;
}

.vhclDtl .edit-info .validation_error .validation_warning {
	display: block;
}

.vhclDtl .edit-info .validation_warning {
	display: none;
	color: #462800;
}

.vhclDtl .edit-info fieldset {
	padding-top: 10px;
	width: 235px;
	float: left;
}

.vhclDtl .edit-info fieldset label {
	display: inline-block;
	width: 90px;
	color: #353535;
	margin-bottom: 3px;
}

.vhclDtl .edit-info fieldset select {
	width: 114px;
	font-size: 0.9em;
	margin-bottom: 3px;
	margin-top: 1px;
	text-transform: capitalize;
	color: #353535;
}

.vhclDtl .edit-info fieldset.transfer_price input {
	width: 75px;
}

.vhclDtl .edit-info fieldset input {
	width: 110px;
	margin-bottom: 3px;
	font-size: 0.9em;
	color: #353535;
}

.vhclDtl .edit-info fieldset .checkbox input {
	width: auto;
}

.vhclDtl .edit-info fieldset.color_and_mileage {
	width: 225px;
	padding-left: 10px;
}
.vhclDtl .edit-info fieldset.color_and_mileage .validation_error {
	margin-bottom: -2em;
}

.vhclDtl .edit-info fieldset.color_and_mileage label {
	width: 50px;
}

.vhclDtl .edit-info fieldset.interior label {
	width: 75px;
}

.vhclDtl .edit-info fieldset.transfer_price .checkbox {
	margin-left: 90px;
}

.vhclDtl .edit-info fieldset.misc {
	width: 225px;
	padding-right: 10px;
}

.vhclDtl .edit-info fieldset.controls {
	width: 920px;
	clear: both;
	text-align: right;
	padding-top: 0;
}

.vhclDtl .edit-info fieldset.controls input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
}

.vhclDtl .edit-info fieldset.controls span.button {
	display: inline-block;
	padding: 1px;
	background: transparent url(../Leopard/Images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 1px 5px 5px;
	cursor: pointer;
}

.vhclDtl .edit-info fieldset.controls span.cancel-button input {
	padding-left: 20px;
	background: transparent url(../Leopard/Images/VPA/button_cancel_x.gif) no-repeat 8px 50%;
}

.vhclDtl .edit-info fieldset.controls span.save-button input {
	padding-left: 20px;
	background: transparent url(../Leopard/Images/VPA/button_save_check.gif) no-repeat 8px 50%;
}

/* ===================== */
/* = Vehicle Navigator = */
/* ===================== */
#VehicleNavigator_VehicleNavigatorControl {
	display: block;
	background: #f7f8f7 url(../Leopard/Images/VPA/VehicleNavigator/grad.jpg) repeat-x;
	border-bottom: 1px solid #dedede;
}

#vpa #VehicleNavigator_VehicleNavigatorControl ul {
	float: left;
	display: block;
	padding: 0 5px;
	margin: 5px 0;
}

#vpa #VehicleNavigator_VehicleNavigatorControl ul li {
	display: inline;
}

#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev {
	padding: 0 1em 0 0;
	border-right: 1px solid #a2a7ad;
}

#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next {
	padding: 0 0 0 1em;
}

#vpa #VehicleNavigator_VehicleNavigatorControl ul li span {
	color: #959aa2;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li a {
	color: #666;
	font-size: 110%;
}

#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev a,
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev span {
	background-repeat: no-repeat;
	background-image: url(../Leopard/Images/VPA/VehicleNavigator/icons_prev.gif);
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev span {
	padding-left: 15px;
	background-position: 0 4px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev a {
	padding-left: 15px;
	background-position: 0 -26px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.prev a:hover {
	background-position: 0 -57px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next a,
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next span {
	background-repeat: no-repeat;
	background-image: url(../Leopard/Images/VPA/VehicleNavigator/icons_next.gif);
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next span {
	padding-right: 15px;
	background-position: 100% 4px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next a {
	padding-right: 15px;
	background-position: 100% -26px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl ul li.next a:hover {
	background-position: 100% -57px;
}

#vpa #VehicleNavigator_VehicleNavigatorControl fieldset {
	float: right;
	padding: 2px;
	position: relative;
} 

#vpa #VehicleNavigator_VehicleNavigatorControl .warning {
	display: inline-block;	
	color: #800000;
	background: transparent url(../Leopard/Images/VPA/attention_icon.gif) no-repeat ;
	padding: 0 5px 0 20px;
}

#vpa #VehicleNavigator_VehicleNavigatorControl .button {
	display: inline-block;
	padding: 1px;
	background: transparent url(../Leopard/Images/VPA/button_gradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin: 0 5px;
	cursor: pointer;
}

#vpa #VehicleNavigator_VehicleNavigatorControl .button input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
	font-size: 10px;
}
#vpa #VehicleNavigator_VehicleNavigatorControl .button input:hover {
	text-decoration: underline;
}