<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PostbackTest.aspx.cs" Inherits="WebApplication.PostbackTest" %>
<%@ Register Assembly="WebControlLibrary" Namespace="WebControlLibrary" TagPrefix="wcl" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
        <div>
            <asp:ObjectDataSource ID="ObjectDataSource1" runat="server" TypeName="WebApplication.App_Code.SampleDataSource" SelectMethod="GetMarketPricing"></asp:ObjectDataSource>
            <wcl:ClientSideData ID="ClientData1" runat="server" DataSourceID="ObjectDataSource1" />
            <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
            <asp:Label ID="Label1" runat="server" Text="-"></asp:Label>
        </div>
    </form>
</body>
</html>
