<% html_options = Hash.new %>
<% if campaign.nil? || editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if editable == true %>
    <% select_disabled = 'disabled="true"'%>
<% else %>
    <% select_disabled = ''%>
<% end %>
<div id="CampaignManager" class="management_float">
	<div>
		<div class="header">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'finish', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close Campaign Manager', :id => 'CampaignManagerCloseButton' } %></div>
			Add/Manage Campaigns
		</div>
		<%= form_mode_tag :url => { :action => 'open', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :float => { :complete => true } %>
		<div class="body">
			<div style="float:right;">
                <% if editable == true %>
                <span>Add</span>
                <% else %>
                <%= link_to_mode "Add", { :url => { :action => 'add', :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :title => 'Add a new campaign', :id => 'CampaignManagerAddButton' }, { :complete => true } %>
                <% end %>
			</div>
			<label for="CampaignManagerEntries">Select a Campaign:</label>
			<select id="CampaignManagerEntries" name="campaign_id" <%= select_disabled %> onchange="if (this.form.onsubmit) { this.form.onsubmit(); } else { this.form.submit(); }">
                <% if campaign.nil? %>
                <option value="0" selected="selected">Select...</option>
                <%= options_from_collection_for_select(campaigns, 'id', 'name', nil) %>
                <% else %>
                <option value="0">Select...</option>
                <%= options_from_collection_for_select(campaigns, 'id', 'name', campaign.id) %>
                <% end %>
			</select>
		</div>
		<%= end_form_tag %>
        <% if flash.now[:notice].nil? || flash.now[:notice].empty? %>
		<div id="CampaignManagerErrors" style="display:none;"></div>
		<% else %>
		<div id="CampaignManagerErrors">
            <% if flash.now[:notice] === Array -%>
                <ul><% flash.now[:notice].each do |notice| -%><li><%= notice -%></li><% end -%></ul>
            <% else %>
                <%= flash.now[:notice] -%>
            <% end %>
		</div>
		<% end %>
		<div id="CampaignManagerEntry" class="body">
			<%= form_mode_tag :url => { :action => 'save' }, :float => { :complete => true }, :html => { :id => 'CampaignForm', :name => 'CampaignForm' }, :condition => "(($('run_date_interval_type_id').disabled || $('deadline_interval_type_id').disabled) == false)" %>
			<% unless planning_action_id.nil? %>
			<%= hidden_field_tag 'planning_action_id', planning_action_id %>
			<% end %>
			<% unless inventory_id.nil? %>
			<%= hidden_field_tag 'inventory_id', inventory_id %>
			<% end %>
			<% if !campaign.nil? && !campaign.id.nil? %>
			<%= hidden_field 'campaign', 'id', html_options.update(:object => campaign) %>
			<% end %>
			<fieldset>
				<legend>Campaign Details</legend>
				 <% if !campaign.nil? && !editable %>
			
    				<div style="text-align:right;">
        				<%= link_to_mode 'Edit', { :url => { :action => 'edit', :campaign_id => campaign.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :id => 'CampaignManagerEditButton', :title => "Edit #{campaign.name}" }, { :complete => true } %>
        				<tt>|</tt>
        				<%= link_to_mode 'Delete', { :url => { :action => 'delete', :campaign_id => campaign.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => "Are you sure you want to delete #{campaign.name}" }, { :id => 'CampaignManagerDeleteButton', :title => "Delete #{campaign.name}" }, { :complete => true } %>
        			</div>
			
			         <% end %>
            	<dl>
            	   <dt>
                        <% url_params = ""
                           url_params << "&planning_action_id=#{planning_action_id}" unless planning_action_id.nil?
                           url_params << "&inventory_id=#{inventory_id}" unless inventory_id.nil?
                           url_append = ""
                           url_append << " + '#{url_params}'" unless url_params.empty? %>
                    <label for="campaign_campaign_type_id">Type</label>:
                    </dt>
                    <dd>
                    <%= collection_select "campaign", "campaign_type_id", CampaignType.find(:all), "id", "name", { :object => campaign, :prompt => 'Please Select' }, html_options.update(:onchange => "new Ajax.Request('/management/campaign/change_campaign_type?campaign_type_id=' + $F('campaign_campaign_type_id') #{url_append}, {asynchronous:true, evalScripts:true})") %>
                    </dd>
                    </dl>
                    
                   
                <% if campaign.nil? || campaign.third_party.nil? || campaign.campaign_type_id != 1 %>
                <%= render :partial => "third_parties", :object => nil, :locals => { :third_party_type => nil, :third_party_id => nil, :html_options => html_options, :planning_action_id => planning_action_id, :inventory_id => inventory_id } %>
                <% else %>
                <%= render :partial => "third_parties", :object => ThirdParty.find(:all, :conditions => ["business_unit_id = ? and third_party_type_id = 1", session[:business_unit].id]), :locals => { :third_party_type => campaign.third_party.third_party_type, :third_party_id => campaign.third_party.id, :html_options => html_options, :planning_action_id => planning_action_id, :inventory_id => inventory_id } %>
                <% end %>
               <dl style="clear:both; display:block;">
                <dt>
               <label for="campaign_name">Name</label>:
               </dt>
               <dd>
                    <%= text_field "campaign", "name", html_options.update(:object => campaign) %>
                    </dd>
                    </dl>
               
                <% if campaign.nil? %>
                <%= render :partial => "interval", :object => nil, :locals => { :editable => editable, :object_name => 'run_date', :object_label => 'Run Date' } %>
                <% else %>
                <%= render :partial => "interval", :object => campaign.run_date_interval, :locals => { :editable => editable, :object_name => 'run_date', :object_label => 'Run Date' } %>
                <% end %>
                <% if campaign.nil? %>
                <%= render :partial => "interval", :object => nil, :locals => { :editable => editable, :object_name => 'deadline', :object_label => 'Deadline' } %>
                <% else %>
                <%= render :partial => "interval", :object => campaign.deadline_interval, :locals => { :editable => editable, :object_name => 'deadline', :object_label => 'Deadline' } %>
                <% end %>
               
			</fieldset>
			<% if !campaign.nil? && editable %>
			<div id="CampaignManagerEntryButtons">
				<div><a href="#" onclick="if (document.CampaignForm.onsubmit) { document.CampaignForm.onsubmit(); } else { document.CampaignForm.submit(); }" title="Save changes to <%= campaign.name.nil? ? 'new campaign' : campaign.name %>">Save</a></div>
				<div><%= link_to_mode 'Cancel', { :url => { :action => 'cancel', :campaign_id => campaign.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?' }, { :id => 'CampaignManagerDeleteButton', :title => "Cancel changes to #{campaign.name.nil? ? 'new campaign' : campaign.name}" }, { :complete => true } %></div>
			</div>
			<% end %>
			<%= end_form_tag %>
		</div>
	</div>
</div>