<% planning_action_type = planning_action.nil? ? nil : planning_action.planning_action_type %>
<% id = gen_id([planning_action_type, planning_action, inventory].compact) %>
<% call = remote_function(:url => { :controller => '/management/campaign', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory), :input_type => input_type, :input_object => input_object, :input_method => input_method, :html_options => html_options }, :success => "$('#{id}').outerHTML = request.responseText;") %>
<% css = "campaign_values" %>
<% campaigns = Campaign.find(:all, :conditions => ["business_unit_id = ? and active = 1", session[:business_unit].id], :order => "name") %>
<% if ['radio','checkbox'].include?(input_type) %>
<ul id="<%= id %>" class="<%= css %>" hal:refresh="<%= call %>">
    <% campaigns.each do |campaign| -%>
        <% id = gen_id([planning_action_type, planning_action, inventory, campaign].compact) %>
        <li><input type="<%= input_type %>" name="campaign[id][]" id="<%= id %>" value="<%= campaign.id %>" id="<%= id %>"><label for="<%= id %>"><%= [take_name(campaign.campaign_type),take_name(campaign.third_party), take_name(campaign), interval_as_bare_text(campaign.run_date_interval)].compact * ', ' %></label></li>
    <% end -%>
</ul>
<% elsif input_type == 'select' %>
<%= collection_select(input_object, input_method, campaigns, "id", "name", { :prompt => 'Please Select' }, html_options.update('id' => id, 'class' => css, 'hal:refresh' => call)) %>
<% end %>