<% html_options = Hash.new %>
<% if editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% interval_type_options = Hash.new %>
<% if editable == false || interval.nil? %>
    <% interval_type_options[:disabled] = true %>
<% end %>
<% unless interval.nil? %>
<%= hidden_field object_name, "id", { :object => interval } %>
<% end%>
<%= hidden_field object_name, "interval_type_id", { :object => interval }.update(interval_type_options) %>
<div class="c">
    <div class="l"><%= object_label %> Interval:</div>
    <div class="i">
        <%= radio_button object_name, "interval_type_id", 1, { :object => interval, :onchange => remote_function(:url => { :action => 'change_interval_type', :interval_type_id => '1', :object_name => object_name }) }.update(html_options) %><label for="<%= object_name %>_interval_type_id_1">One Time</label>
        <%= radio_button object_name, "interval_type_id", 2, { :object => interval, :onchange => remote_function(:url => { :action => 'change_interval_type', :interval_type_id => '2', :object_name => object_name }) }.update(html_options) %><label for="<%= object_name %>_interval_type_id_2">Weekly</label>
        <%= radio_button object_name, "interval_type_id", 3, { :object => interval, :onchange => remote_function(:url => { :action => 'change_interval_type', :interval_type_id => '3', :object_name => object_name }) }.update(html_options) %><label for="<%= object_name %>_interval_type_id_3">Monthly</label>
        <%= radio_button object_name, "interval_type_id", 4, { :object => interval, :onchange => remote_function(:url => { :action => 'change_interval_type', :interval_type_id => '4', :object_name => object_name }) }.update(html_options) %><label for="<%= object_name %>_interval_type_id_4">Yearly</label>
    </div>
</div>
<div id="<%= object_name %>_interval_type_0_container" <%= interval_class(interval,0) %>>
    <div class="c">
        <div class="l"><label for="<%= "#{object_name}_nil" %>"><%= object_label %></label>:</div>
        <div class="i">Please select a interval ...</div>
    </div>
</div>
<div id="<%= object_name %>_interval_type_1_container" <%= interval_class(interval,1) %>>
    <div class="c">
        <div class="l"><label for="<%= "#{object_name}_day_of_year" %>"><%= object_label %></label>:</div>
        <div class="i">
            <%= text_field object_name, "day_of_year", { :size => '10', :maxlength => '10', :object => interval, :id => "#{object_name}_day_of_year_1" }.update(interval_type_options) %>
        </div>
    </div>
</div>
<div id="<%= object_name %>_interval_type_2_container" <%= interval_class(interval,2) %>>
    <div class="c">
        <div class="l"><label for="<%= "#{object_name}_day_of_week" %>"><%= object_label %></label>:</div>
        <div class="i">
            <%= collection_select object_name, "day_of_week", WeekDay.find(:all), "id", "name", { :object => interval, :prompt => 'Please Select' }, interval_type_options %>
        </div>
    </div>
</div>
<div id="<%= object_name %>_interval_type_3_container" <%= interval_class(interval,3) %>>
    <div class="c">
        <div class="l"><label for="<%= "#{object_name}_day_of_month" %>"><%= object_label %></label>:</div>
        <div class="i">
            <%= collection_select object_name, "day_of_month", MonthDay.find(:all), "id", "name", { :object => interval, :prompt => 'Please Select' }, interval_type_options %>
        </div>
    </div>
</div>
<div id="<%= object_name %>_interval_type_4_container" <%= interval_class(interval,4) %>>
    <div class="c">
        <div class="l"><label for="<%= "#{object_name}_day_of_year" %>"><%= object_label %></label>:</div>
        <div class="i">
            <%= text_field object_name, "day_of_year", { :size => '10', :maxlength => '10', :object => interval, :id => "#{object_name}_day_of_year_4" }.update(interval_type_options) %>
        </div>
    </div>
</div>