<!-- <% Log.info("third_party_id=#{third_party_id}") %> -->
<div class="c" id="third_party_container">
    <% if third_parties.nil? %>
    <div class="l" id="third_party_label_container"></div>
    <div class="i" id="third_party_input_container"></div>
    <% else %>
    <dl>
    <dt id="third_party_label_container"><label for="campaign_third_party_id"><%= third_party_type.name %></label>:</dt>
    <dd id="third_party_input_container">
        <% planning_action = third_party_type.planning_actions.first %>
        <%= render_component :controller => 'management/print_publisher', :action => 'list', :params => { :inventory_id => inventory_id, :planning_action_id => planning_action_id, :input_type => 'select', :input_object => 'campaign', :input_method => 'third_party_id', :html_options => html_options, :selections => [third_party_id].compact } %>
        <% unless html_options[:disabled] %>
        <span><%= link_to_remote "Add/Manage...", { :url => { :controller => 'management/print_publisher', :action => 'start', :planning_action_id => planning_action_id, :inventory_id => inventory_id, :mode => 'float' }, :loading => "RedBox.moveChildren($('RB_window'),$('CampaignManagement')); RedBox.loading();", :complete => "RedBox.addHiddenContent('ThirdPartyManagement');" } %></span>
        <% end %>
    </dd>
    </dl>
    <% end %>
</div>