﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.SearchInputs
@using Wanamaker.WebApp.Areas.PricingAnalysis.Models;
@using System.Linq;

    <div class="search-parameter shift-left">
       <span id="lblListing" class="dhead"><span class="dclick">LISTINGS<span class="arrow"></span> </span></span>
        <div id="list" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                LISTINGS:</label>
            <span id="listClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Listing in @Model.Listings)
                {
                    <li class="text-upper">
                        <input type="radio"  id="@Listing.DisplayId" value="@Listing.DisplayName" checked="@Listing.IsSelected" name="listings">
                        @Listing.DisplayName (@Listing.Count)</li>
                }
            </ul>
            <input type="button" class="update-button" value="Update" />
            <span class="error"></span>
        </div>
        <span id="listSpan" class="small-font">Active </span>
    </div>
    <div class="search-parameter shift-right">
 
        <span id="lblDistance" class="dhead">
            <span class="dclick">DISTANCE<span class="arrow"></span> </span></span>
        <div id="distance" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                DISTANCE:</label>
            <span id="distanceClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Distance in @Model.Distance)
                {   
                    <li>
                        <input type="radio" id="@Distance.DisplayId" value="@Distance.DisplayName" checked="@Distance.IsSelected" name="distance" />@Distance.DisplayName
                    </li>
                }
            </ul>
            <span class="error"></span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="distanceSpan" class="small-font">-</span>
    </div>
    <div class="search-parameter shift-left">
         <span id="lblCertified" class="dhead">
       
            <span class="dclick">CERTIFIED<span class="arrow"></span> </span></span>
        <div id="certified" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                CERTIFIED:</label>
            <span id="certifiedClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Certified in @Model.Certified)
                {
                    <li>
                        <input type="checkbox" id="@Certified.DisplayId" value="@Certified.DisplayName" checked="@Certified.IsSelected" />@Certified.DisplayName
                        (@Certified.Count) </li>
                }
            </ul>
            <span class="error">You must select at least one Option</span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="certifiedSpan" class="small-font"><ul class="display-style"><li> Certified & </li> <li>Not Certified </li> </ul></span>
    </div>
    <div class="search-parameter shift-right">

        <span id="lblTrim" class="dhead">
         <span class="dclick">TRIM<span class="arrow"></span> </span></span>
              
        <div id="trim" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                TRIM:</label>
            <span id="trimClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Trim in @Model.Trim)
                {
                   
                    <li  class="dcs-trims" id=@("li" + Trim.DisplayId)>
                        <input type="checkbox" id="@Trim.DisplayId" value="@Trim.DisplayName" checked="@Trim.IsSelected" class="dcs-trims-checkbox" />@Trim.DisplayName
                        (@Trim.Count) </li>
                }
            </ul>
            <span class="error">You must select at least one trim.</span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="trimSpan" class="small-font">-</span>
    </div>
    <div class="search-parameter shift-left">
        <span id="lblTransmission" class="dhead">
         <span class="dclick">TRANSMISSION<span class="arrow"></span> </span></span>
            
        <div id="transmission" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                TRANSMISSION:</label>
            <span id="transmissionClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Transmission in @Model.Transmission)
                {
        
                    <li>
                        <input type="checkbox" id="@Transmission.DisplayId" value="@Transmission.DisplayName" checked="@Transmission.IsSelected" />@Transmission.DisplayName
                        (@Transmission.Count) </li>
                }
            </ul>
            <span class="error">You must make at least one selection.</span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="transmissionSpan" class="small-font">-</span>
    </div>
    <div class="search-parameter shift-right">
       <span id="lblDriveTrain" class="dhead">
        <span class="dclick">DRIVE TRAIN<span class="arrow"></span> </span></span>
          
        <div id="driveTrain" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                DRIVE TRAIN:</label>
            <span id="driveTrainClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var DriveTrain in @Model.DriveTrain)
                {
        
                    <li>
                        <input type="checkbox" id="@DriveTrain.DisplayId" value="@DriveTrain.DisplayName" checked="@DriveTrain.IsSelected" />@DriveTrain.DisplayName
                        (@DriveTrain.Count) </li>
                }
            </ul>
            <span class="error">You must make at least one selection.</span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="driveTrainSpan" class="small-font">-</span>
    </div>
    <div class="search-parameter shift-left">
       <span id="lblEngine" class="dhead">
        <span class="dclick">ENGINE<span class="arrow"></span> </span></span>
           
        <div id="engine" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                ENGINE:</label>
            <span id="engineClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Engine in @Model.Engine)
                {
        
                    <li>
                        <input type="checkbox" id="@Engine.DisplayId" value="@Engine.DisplayName" checked="@Engine.IsSelected"  >@Engine.DisplayName
                        (@Engine.Count)</li>
                }
            </ul>
            <span class="error">You must make at least one selection.</span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="engineSpan" class="small-font">-</span>
    </div>
    <div class="search-parameter shift-right">
          <span id="lblFuel" class="dhead">
           <span class="dclick">FUEL<span class="arrow"></span> </span></span>
           
        <div id="fuel" class="dbody toggleable">
            <label class="fontstyle-bold text-upper">
                FUEL:</label>
            <span id="fuelClose" class="close-box">x</span>
            <ul class="list-style">
                @foreach (var Fuel in @Model.Fuel)
                {
        
                    <li>
                        <input type="checkbox" id="@Fuel.DisplayId" value="@Fuel.DisplayName" checked="@Fuel.IsSelected" />@Fuel.DisplayName
                        (@Fuel.Count)</li>
                }
            </ul>
            <span class="error">You must make at least one selection.</span>
            <input type="button" class="update-button" value="Update" />
        </div>
        <span id="fuelSpan" class="small-font">-</span>
    </div>

      
@{
    SearchInputs searchOptions = new SearchInputs();

    var listings = Model.Listings.Where(ls => ls.IsSelected == true);

    if (listings != null)
    {
        searchOptions.Listings = listings.ToList();
    }

    var distance = Model.Distance.Where(ls => ls.IsSelected == true);

    if (distance != null)
    {
        searchOptions.Distance = distance.ToList();
    }

    var certified = Model.Certified.Where(ls => ls.IsSelected == true);

    if (certified != null)
    {
        searchOptions.Certified = certified.ToList();
    }

    var trims = Model.Trim.Where(ls => ls.IsSelected == true);

    if (trims != null)
    {
        searchOptions.Trim = trims.ToList();
    }

    var transmissions = Model.Transmission.Where(ls => ls.IsSelected == true);

    if (transmissions != null)
    {
        searchOptions.Transmission = transmissions.ToList();
    }

    var driveTrain = Model.DriveTrain.Where(ls => ls.IsSelected == true);

    if (driveTrain != null)
    {
        searchOptions.DriveTrain = driveTrain.ToList();
    }

    var engines = Model.Engine.Where(ls => ls.IsSelected == true);

    if (engines != null)
    {
        searchOptions.Engine = engines.ToList();
    }

    var fuel = Model.Fuel.Where(ls => ls.IsSelected == true);

    if (fuel != null)
    {
        searchOptions.Fuel = fuel.ToList();
    }

    searchOptions.AutoTraderMake = Model.AutoTraderMake;
    searchOptions.AutoTraderModel = Model.AutoTraderModel;
    searchOptions.AvgMileageValue = Model.AvgMileageValue;
    searchOptions.CarsDotComMakeID = Model.CarsDotComMakeID;
    searchOptions.CarsDotComModelId = Model.CarsDotComModelId;
    searchOptions.CriteriaUpdated = Model.CriteriaUpdated;
    searchOptions.EndYear = Model.EndYear;
    searchOptions.InternetPrice = Model.InternetPrice;
    searchOptions.ListingCount = Model.ListingCount;
    searchOptions.MatchingCount = Model.MatchingCount;
    searchOptions.MileageUpdated = Model.MileageUpdated;
    searchOptions.OverallCount = Model.OverallCount;
    searchOptions.PageNo = Model.PageNo;
    searchOptions.PageSize = Model.PageSize;
    searchOptions.RecordCount = Model.RecordCount;
    searchOptions.SelectedEquipment = Model.SelectedEquipment;
    searchOptions.ShowZeroListing = Model.ShowZeroListing;
    searchOptions.Size = Model.Size;
    searchOptions.StartYear = Model.StartYear;
    searchOptions.UpdateOverall = Model.UpdateOverall;
    searchOptions.Zipcode = Model.Zipcode;
    searchOptions.MileageEndValue = Model.MileageEndValue;
    searchOptions.MileageStartValue = Model.MileageStartValue;
    searchOptions.AllListings = Model.AllListings;
        
    searchOptions.Vin = Model.Vin;
    searchOptions.MinMileageValue = Model.MinMileageValue;
    searchOptions.MaxMileageValue = Model.MaxMileageValue;
    
}

@Html.Hidden("SearchOptions", @Html.Raw(Json.Encode(searchOptions)))