﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.FacetAndFilter
@using System.Linq;
@using FirstLook.Common.Core.Extensions;
    @foreach (var Equipments in @Model.TopLevelEquipments.Where(tle => tle.Level == 1).OrderBy(tle => tle.DisplayName))
    {
        <button class="filter" id="@("btnFct"+Equipments.DisplayId)" title="@Equipments.DisplayName (@Equipments.Count)" value="@Equipments.DisplayName" onclick="ChangeColor(this.value,true);">
            @Equipments.DisplayName.SmartTruncate(20, ' ', true, true) (@Equipments.Count)</button>
        
    }
    @if (@Model.TopLevelEquipments.Where(tle => tle.Level == 1).Count() > 0)
    {
        if (@Model.TopLevelEquipments.Where(tle => tle.Level == 2 || tle.Level == 3 || tle.Level == 4).Count() > 0)
        {
            <a class="add-more" onclick="PopulateList(this);">Add More.....</a>
        }
        
        foreach (var m in Model.TopLevelEquipments.Where(tl => tl.Level != 1).OrderBy(tle => tle.Level).ThenBy(tle => tle.DisplayName))
        {
            <button class="filter hide-control facet-hidden-buttons" id="@("btnFct"+m.DisplayId)" value="@m.DisplayName" title="@m.DisplayName (@m.Count)" onclick="ChangeColor(this.value,true);">
                @m.DisplayName.SmartTruncate(20, ' ', true, true) (@m.Count)</button>  
        }
    }

    @if (@Model.TopLevelEquipments.Where(tle => tle.Level == 1).Count() == 0 && @Model.TopLevelEquipments.Where(tle => tle.Level == 2).Count() > 0)
    {
        foreach (var Equipments in @Model.TopLevelEquipments.Where(tle => tle.Level == 2).OrderBy(tle => tle.DisplayName))
        {
            <button class="filter" id="@("btnFct"+Equipments.DisplayId)" value="@Equipments.DisplayName" title="@Equipments.DisplayName (@Equipments.Count)" onclick="ChangeColor(this.value,true);">
                @Equipments.DisplayName.SmartTruncate(20, ' ', true, true) (@Equipments.Count)</button>
        }

        if (@Model.TopLevelEquipments.Where(tle => tle.Level == 3 || tle.Level == 4).Count() > 0)
        {
            <a class="add-more" onclick="PopulateList(this);">Add More.....</a>
        }
        
        foreach (var m in Model.TopLevelEquipments.Where(tl => tl.Level != 1 && tl.Level != 2).OrderBy(tle => tle.Level).ThenBy(tle => tle.DisplayName))
        {
            <button class="filter hide-control facet-hidden-buttons" id="@("btnFct"+m.DisplayId)" title="@m.DisplayName (@m.Count)" value="@m.DisplayName" onclick="ChangeColor(this.value,true);">
                @m.DisplayName.SmartTruncate(20, ' ', true, true) (@m.Count)</button>  
        }
    }

    @if (@Model.TopLevelEquipments.Where(tle => tle.Level == 1).Count() == 0 && @Model.TopLevelEquipments.Where(tle => tle.Level == 2).Count() == 0 && @Model.TopLevelEquipments.Where(tle => tle.Level == 3).Count() > 0)
    {
        foreach (var Equipments in @Model.TopLevelEquipments.Where(tle => tle.Level == 3).OrderBy(tle => tle.DisplayName))
        {
            <button class="filter" id="@("btnFct"+Equipments.DisplayId)" value="@Equipments.DisplayName" title="@Equipments.DisplayName (@Equipments.Count)" onclick="ChangeColor(this.value,true);">
                @Equipments.DisplayName.SmartTruncate(20, ' ', true, true) (@Equipments.Count)</button>
        }
        
        if (@Model.TopLevelEquipments.Where(tle => tle.Level == 4).Count() > 0)
        {
            <a class="add-more" onclick="PopulateList(this);">Add More.....</a>
        }
        
         foreach (var m in Model.TopLevelEquipments.Where(tl => tl.Level != 1 && tl.Level != 2 && tl.Level != 3).OrderBy(tle => tle.Level).ThenBy(tle => tle.DisplayName))
         {
            <button class="filter hide-control facet-hidden-buttons" id="@("btnFct"+m.DisplayId)" value="@m.DisplayName" title="@m.DisplayName (@m.Count)" onclick="ChangeColor(this.value,true);">
                @m.DisplayName.SmartTruncate(20, ' ', true, true) (@m.Count)</button>  
         }
    }
    
    @if (@Model.TopLevelEquipments.Where(tle => tle.Level == 1).Count() == 0 && @Model.TopLevelEquipments.Where(tle => tle.Level == 2).Count() == 0 && @Model.TopLevelEquipments.Where(tle => tle.Level == 3).Count() == 0 && @Model.TopLevelEquipments.Where(tle => tle.Level == 4).Count() > 0)
    {
        foreach (var Equipments in @Model.TopLevelEquipments.Where(tle => tle.Level == 4).OrderBy(tle => tle.DisplayName))
        {
            <button class="filter" id="@("btnFct"+Equipments.DisplayId)" value="@Equipments.DisplayName" title="@Equipments.DisplayName (@Equipments.Count)" onclick="ChangeColor(this.value,true);">
                @Equipments.DisplayName.SmartTruncate(20, ' ', true, true) (@Equipments.Count)</button>
        }
    }
