﻿<div class="gauge-main">
    <div class="gauge-info">
        <span class="gauge-font-size">Avg Mileage:<label class="gauge-font-style" id="lblAvgMileagePricInGame"></label></span>
        <span class="market-day-supply gauge-font-size">Market Days Supply:</span> <span
            class="overall-span gauge-font-size">Overall<label class="gauge-font-style" id="lblOverallMarketDaysSupply"></label></span>
        <span class="matching-span gauge-font-size" style="display: none">Matching
            <label class="gauge-font-style" id="lblMatchingMarketDaysSupply">
            </label>
        </span>
    </div>
    <div class="gauge gauge-callout-style" id="sliderLabel">
        <span id="gaugeCalloutText" class="gauge-callout-text"></span><span id="gaugeCalloutPercentage"
            class="gauge-callout-Percentage"></span>
    </div>
    <div class="gauge-alert low-price-alert-gauge">
        <span class="alert-text">Alert:</span>
        <span class="alert-txt-msg">Too few matching vehicles in market listing to calculate reliable market avg.</span>        
     </div>

    <div id="gauge" class="dragdealer slider_interactive_container" style="width: 618px;
        height: auto">
        <div id="handle" class="handle">
        </div>
    </div>
    <div id="gaugeRiskIndicator" class="gauge-risk" style="width: 576px">
    </div>

    <div class="gauge-value-alert low-price-alert-gauge">
            <span class="spn-message">Please adjust search criteria or price using market listings.</span>    
    </div>

    <div class="gauge-value" id="divGaugeValue">
        <div class="div-width low">
            <ul>
                <li class="light-font">low</li>
                <li class="black-font" id="liLowValue"></li>
                <li class="percentage-display" id="liLowPercantage"></li>
            </ul>
        </div>
        <div class="div-width avg">
            <ul>
                <li class="light-font-avg">avg</li>
                <li class="black-font-avg" id="liAvgPrice"></li>
            </ul>
        </div>
        <div class="div-width high">
            <ul>
                <li class="light-font">high</li>
                <li class="black-font" id="liHighValue"></li>
                <li class="percentage-display" id="liHighPercantage"></li>
            </ul>
        </div>
    </div>
    <div class="price-in-game">
        <span class="circle gauge-position">2</span> <span class="lbl-price-in-game">Price "In
            the Game"</span>
    </div>
    @if ((bool)ViewData["ShowCtrGraph"])
    {
        <div id="CtrGraphArea" class="hoverGraphArea">
            <a id="CtrGraphLink" class="right-shift shift-top" data-businessunitid="@ViewData["BussinessUnitId"]" data-inventoryid="@ViewData["InventoryId"]" data-stocknum="J979089">
                <img src="../Themes/MAX3.0/Images/1343832346_pie-chart_graph.png" id="ctrImgSrc"
                    width="16" border="0" alt=" CTR Graph">
                CTR Graph</a>
        </div>
    }
</div>
