﻿@model ViewOne
@using Wanamaker.WebApp.Areas.PricingAnalysis.Models;
@using System.Linq;
@*
  <div id="Page" class="clearfix">
        <div id="Header" class="clearfix">@Html.Partial("~/Areas/Dashboard/Views/Shared/Header.cshtml")</div>
       </div>*@
<div id="PageHeader">
    @{
        if (Model.links != null)
        {
        @Html.Partial("WorkflowHeaderLinksPartial", Model.links)
        }
    }
</div>

<div id="pingPage" class="ping-page">
    <div class="ping-header">
        @Html.Partial("InventoryHeaderPartialView", Model.InventoryHeader)
    </div>
    <div class="ping-content">
        <div id="divDataLoader" class="data-load-progress">
        
        </div>
        <div class="loading-ping">
            <div id="loading-text">Loading...</div>
        </div>
        <div class="competitive-set">
            <span class="circle dss-circle-position">1</span>
            <label class="lbl-competitive">
                Define Competitive Set</label>            
            <div id="dvMatchingCount">
                <label class="overall-matching-style align-right" id="lblMatchingCountLabel">
                </label>
                <label class="overall-matching-count align-right" id="lblMatchingCount"></label>
            </div>
            
            <div id="divMileageParitial" class="mileage-partial">
                
            </div>
            <div id="divDefineCompetitiveSet" class="search-criteria">
                
            </div>
            
            <div class="filter-div" id="filter-div">
            
            </div>

        </div>
        <div class="pricing-outer">
            <div class="pricing-inner">
                
                 @*<div id="dvPriceInGameGauge" class="gauge-progress">
                 </div>*@
                    <div class="gauge-component">
                       @Html.Partial("GaugePartialView", new ViewDataDictionary { { "InventoryId", Model.links.InventoryId }, { "BussinessUnitId", Model.links.BusinessUnitId }, { "ShowCtrGraph", (bool)Model.ShowCtrGraph } })
                    </div>
                 
                 @*<div id="dvPriceInPricing" class="price-calc-progress">
                 </div>*@
                    <div class="pricing-calculator">
                        @Html.Partial("PricingCalculatorPartial",Model)
                    </div>
                
                <div class="pricing-comparison">
                    <div id="pricingproofDisplay" class="pc-display" action-url="@Url.Action("PricingProof", "PingOne")" >
                    </div>
                </div>
                <div class="vehicle-history-report outer-div">
                    <label class="align-report-header">
                        VEHICLE HISTORY REPORT</label>
                    <div id="veicleHistoryReport" class="veicle-History" action-url="@Url.Action("VehicleHistoryReport", "PingOne")">
                    </div>
                </div>
            </div>
        </div>
    </div>@*  end of content div*@

    <div class="ping-grid-listing">
        @Html.Partial("MarketListingsPartial", Model.MysteryLink)
    </div>@*  end of ping grid div*@

</div>@*  end of main div*@
<div id="overlay" class="dss-light-box">
</div>
@Html.Hidden("Vin", @Model.InventoryHeader.Vin)
@Html.Hidden("Make", @Model.InventoryHeader.Make)
@Html.Hidden("Model", @Model.InventoryHeader.Model)
@Html.Hidden("Year", @Model.InventoryHeader.Year)
@Html.Hidden("ListPrice", @Model.InventoryHeader.ListPrice)
@Html.Hidden("MarketListingUrl", @Url.Action("Marketlistings", "PingOne"))
@Html.Hidden("FacetsUrl", @Url.Action("LoadFacets", "PingOne"))
@Html.Hidden("MileageBarUrl", @Url.Action("MileageBar", "PingOne"))
@Html.Hidden("SearchFiltersUrl", @Url.Action("DefineSearchFilters", "PingOne"))
@Html.Hidden("PricingProofUrl", @Url.Action("PricingProof", "PingOne"))
@Html.Hidden("PPInternetPrice")
@Html.Hidden("PPShowAlert")
@Html.Hidden("PPMarketAvg")
@{
    SearchInputs searchOptions = new SearchInputs();
    
    var listings= Model.SearchOption.Listings.Where(ls => ls.IsSelected == true);
    
    if(listings!=null){
        searchOptions.Listings = listings.ToList();
    }

    var distance = Model.SearchOption.Distance.Where(ls => ls.IsSelected == true);

    if (distance != null)
    {
        searchOptions.Distance = distance.ToList();
    }

    var certified = Model.SearchOption.Certified.Where(ls => ls.IsSelected == true);

    if (certified != null)
    {
        searchOptions.Certified= certified.ToList();
    }

    var trims = Model.SearchOption.Trim.Where(ls => ls.IsSelected == true);

    if (trims != null)
    {
        searchOptions.Trim = trims.ToList();
    }

    var transmissions = Model.SearchOption.Transmission.Where(ls => ls.IsSelected == true);

    if (transmissions != null)
    {
        searchOptions.Transmission = transmissions.ToList();
    }

    var driveTrain = Model.SearchOption.DriveTrain.Where(ls => ls.IsSelected == true);

    if (driveTrain != null)
    {
        searchOptions.DriveTrain = driveTrain.ToList();
    }

    var engines = Model.SearchOption.Engine.Where(ls => ls.IsSelected == true);

    if (engines != null)
    {
        searchOptions.Engine = engines.ToList();
    }

    var fuel = Model.SearchOption.Fuel.Where(ls => ls.IsSelected == true);

    if (fuel != null)
    {
        searchOptions.Fuel = fuel.ToList();
    }
    
    searchOptions.Vin = Model.InventoryHeader.Vin;
    searchOptions.UpdateOverall = Model.SearchOption.UpdateOverall;
    searchOptions.MinMileageValue = Model.SearchOption.MinMileageValue;
    searchOptions.MaxMileageValue = Model.SearchOption.MaxMileageValue;
    searchOptions.MileageEndValue = Model.SearchOption.MileageEndValue;
    searchOptions.MileageStartValue = Model.SearchOption.MileageStartValue;
    searchOptions.RecordCount = Model.SearchOption.RecordCount;
    searchOptions.AllListings = Model.SearchOption.AllListings;  
}

@Html.Hidden("overallCriteria", @Html.Raw(Json.Encode(searchOptions)))

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/Scripts/Mileage")
    <script type="text/javascript">    
        
        $(document).ready(function () {
            Max.PricingAnalysis.Init();
        });
    </script>
}
