﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.InventoryHeader
<div class="arrow_box"  ><span class="arrow_box_inner">@Model.Color</span></div>
<div class="format-control">
 
    <div>
        <span class="inventory-name">
            <label class="make-model-style">@Model.Year @Model.Make @Model.Model</label>
            @{
                
            bool trims=false;
            foreach (var trim in Model.TrimsList)
            {
                if (trim.Selected) {
                    trims = false;
                    //<span>@trim.Value</span>
                    break;
                }
                else{
                    trims = true;
                }
            }
        }
        </span>
        @if (trims)
        {
            @Html.DropDownListFor(m => m.TrimsList, Model.TrimsList, "Select Trim...", new { @class = "selectList selectList-color header-title-select", @id = "ddlChromeStyle",@tabindex=1 })
            <div class="lightbox">
            <span class="trim-alert">Please select a Trim.</span>
                <span class="LoadWorking"></span>
            </div>
        }
        else
        {
            @Html.DropDownList("ddlChromeStyle", Model.TrimsList, new { @class = "selectList selectlist-normal header-title-select", @id = "ddlChromeStyle" });
        }
      
        <span class="display-stock-number">
            <label class="stock-number-label">
                Stock #: </label>
                @{var url = "/IMT/EStock.go?stockNumberOrVin=" + Model.StockNumber + "&isPopup=true";}
            <a class="stock-number-link" href="@url" target="_blank" tabindex="2">@Model.StockNumber</a> </span>
    </div>
    <div class="div-with-list-items">
        <span class="align-header-item-list" id="ItemList">
            <label class="label-size">
                Days: @Model.AgeInDays
            </label>
        </span><span class="align-header-item-list" id="ItemList">
        
          <label class="label-size color-overflow" id="inventorycolor" >
           Color:    @(@Model.Color == null || @Model.Color == "" ? "-" : @Model.Color)
           </label>
   
   </span><span class="align-header-item-list" id="ItemList">

            <label class="label-size">Mileage:   @(@Model.Mileage.HasValue && @Model.Mileage>0? Convert.ToString(string.Format("{0:N0}", @Model.Mileage)) : "N/A")</label>
      
        </span><span class="align-header-item-list" id="ItemList">
            <label class="label-size">
                Unit Cost:  @(@Model.UnitCost!=0 ? Convert.ToString(string.Format(new System.Globalization.CultureInfo("en-US"), "{0,0:C0}", @Model.UnitCost)) : "-")</label>
      
        </span><span class="align-header-item-list" id="ItemList">
            
                <label class="label-size lbl-certified">
                     @Model.CertificationName
                </label>
           
        </span>
    </div>
    <input type="hidden" id="hdSaveTrimUrl" value="@Url.Action("SaveTrim", "PingOne")" />
    <input type="hidden" id="hdnmarketAvg" value="0" />

</div>
