﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.MysteryLinks

@using (Html.BeginForm("ExportListings", "PingOne", FormMethod.Post,
                                      new { Id = "ExportExel" }))
{
    <div class="market-listing-overlay"></div>
    <div class = "grid-container">
        <div class = "grid-show" >

            <div class="gid-div">
                <div class="view-all-listing lbl-view-all">View All</div>
                <div class="view-all-listing lbl-market-listing">Market Listings (<span id="listingCount">@Model.ListingCount</span>)</div>
            </div>
            <input type="hidden" id="hdJqGridPageNo" value="0"/>
            <input type="hidden" id="hdJqGridPageSize" value="0"/>
             <input type="hidden" id="DuplSearchOptions" value="" name="DuplSearchOptions" />


            @*<ul class = "unordered-list"><li class = "market"> Market Listings(number)</li>
<li class = "all"> All</li>
</ul>*@

        </div>
 
        <div class="content">
            <div class="header">
                <span class="market-listing-header">Market Listings</span> 
        
          <a id="exportListing" class="export-link grid-links">
            Export <div class="export-img"></div></a>            
            </div>

            <div class="top">
            
                <span class="lbl-grid-top">View vehicles on:</span> <a class="show-link grid-links" AutoTraderMake='@Model.AutoTraderMake' AutoTraderModel='@Model.AutoTraderModel' StartYear='@Model.StartYear' EndYear='@Model.EndYear' Zipcode='@Model.Zipcode' onclick="updateLinkAutoTraderCom(this);">
                                                                        AutoTrader.com</a>   |  <a class="show-link grid-links" CarsDotComMakeID='@Model.CarsDotComMakeID' Zipcode='@Model.Zipcode' ModelId='@Model.ModelId' StartYear='@Model.StartYear' Zipcode='@Model.Zipcode' CarsDotComModelId='@Model.CarsDotComModelId' onclick="updateLinkCarsCom(this);">
                                                                                                    Cars.com</a>
                <span class="zero-price-label">Show Zero Priced Vehicles</span><input type="checkbox" class="lbl-grid-top" id="showdollar0listings"/> 
            </div>
            <table id="jqGrid">
            </table>
        </div>

    </div>

}
