﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>marketlistingstrial</title>
    <script src="../../../../Public/Scripts/PricingAnalysis/MarketListings/jquery-1.7.2.min.js"
        type="text/javascript"></script>
    <script src="../../../../Public/Scripts/PricingAnalysis/MarketListings/grid.locale-en.js"
        type="text/javascript"></script>
    <script src="../../../../Public/Scripts/PricingAnalysis/MarketListings/jquery.jqGrid.min.js"
        type="text/javascript"></script>
    <script src="../../../../Public/Scripts/PricingAnalysis/MarketListings/marketlistings.js"
        type="text/javascript"></script>
    

</head>
<body>
    <div>
    

    <div class="content">
    <div class="header">
        <span class="market-listing-header">Market Listings</span> <a href="@Url.Action("ExportListings", "PingOne")"  class="export-link">
            Export</a>
    </div>
    <div class="top">
        <span>View vehicles on:</span> <a href="#" onclick="window.open('http://www.yahoo.com', '_blank')">
            AutoTrader.com</a> <a href="#" onclick="window.open('http://www.yahoo.com', '_blank')">
                Cars.com</a> <a href="#" onclick="window.open('http://www.yahoo.com', '_blank')">Carsoup</a>
    </div>
    <table id="jqGrid">
    </table>
    @*<div id="jqGridPager"></div>*@
</div>
        <script type="text/javascript">
        var marketlistingsinput = new Markelistingsinput("/PingOne/Marketlistings","WBANA327473WGFAFSFD");
        $(document).ready(function () {
            marketlistingsinput.fillGrid();
        });

           
    </script>
</div> </body>
</html>
