﻿
<h2>MarketListingsMain</h2>

@*@Html.Partial("MarketListingsPartial");*@

<div class="content">
    <div class="header">
        <span class="market-listing-header">Market Listings</span> <a href="@Url.Action("ExportListings", "PingOne")"  class="export-link">
            Export</a>
    </div>
    <div class="top">
        <span>View vehicles on:</span> <a href="#" onclick="window.open('http://www.yahoo.com', '_blank')">
            AutoTrader.com</a> <a href="#" onclick="window.open('http://www.yahoo.com', '_blank')">
                Cars.com</a> <a href="#" onclick="window.open('http://www.yahoo.com', '_blank')">Carsoup</a>
    </div>
    <table id="jqGrid">
    </table>
    @*<div id="jqGridPager"></div>*@
</div>



<input type="button" onclick="fillGrid();" value="Click to load Market listings Table" />




