﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.ViewOne
<div class="main">
    <div class="Header">
        Pricing Calculator
    </div>
    <div class="Pricing-Calculator--Content" id="PCContainer">
        <ul class="pricing-calculator-labels-left">
            <li class="pricing-calculator-labels-list market-li align-center">
                <label for="pMarketAvg" class="pricing-calculator-labels">
                    % of Market</label>
            </li>
            <li class="pricing-calculator-labels-list rank-li align-center">
                <label for="rank" class="pricing-calculator-labels">
                    Rank</label>
            </li>
            <li class="pricing-calculator-labels-list calculator-lblInternet-li align-center">
                <label for="internetPrice" class="pricing-calculator-lblInternet">
                    Internet Price</label>  
            </li>
            <li class="pricing-calculator-labels-list unit-cost-li align-center">
                <label for="unitCost" class="pricing-calculator-labels unit-cost-li" >
                    Unit Cost</label>
            </li>
        </ul>
        <ul class="pricing-calculator-textboxes-right">
            <li class="pricing-calculator-labels-list  market-li align-center">
                <input type="text" id="pMarketAvg"  class="pricing-calulator-variables calculator-font-style" data-bind="value:marketavg"  tabindex="3" />
            </li>
            <li class="pricing-calculator-labels-list  rank-li align-center">
                <input type="text" id="rank"  data-bind="value:rank" class="pricing-calulator-variables  span-variable calculator-font-style"  tabindex="4"/>
                <span class="total-ranks calculator-font-style  font16" id="spn_TotalRanks">of </span> </li>
            <li class="pricing-calculator-labels-list  calculator-lblInternet-li align-center">
                <input type="text" id ="internetPrice" maxlength="7" class="pricing-calulator-variables calculator-font-style" data-bind="value:internetprice "  tabindex="5" />
                <input type="hidden" id ="internetPriceEdit" value="N" data-internetprice="" />
            </li>
            <li class="pricing-calculator-labels-list unit-cost-li align-center">
                <input type="text" class="pricing-calulator-variables  calculator-font-style font16" data-bind="value:unitcost" style="border: none"
                    readonly="readonly" id="txtUnitCost" tabindex="6" />
            </li>
        </ul>
        <div class="horizonlat-Line"></div>
        <ul class="pricing-calculator-labels-left">
            <li class="pricing-calculator-labels-list Potential-Gross-Profit-li">
                <label for="potentialgrossprofit" class="pricing-calculator-labels Potential Gross Profit-li">
                    Potential Gross Profit</label>
            </li>
        </ul>
        <ul class="pricing-calculator-textboxes-right">
            <li class="pricing-calculator-labels-list">
                <input type="text"  id="potentialgrossprofit" class="pricing-calulator-variables calculator-font-style font16" data-bind="value :potentialgrosprofit"  tabindex="6" />
            </li>
        </ul>
        <input type="button" class="btn-Pricing-Calculator" id="btnApproveAd" value="Update Price and Ad" post-url="@Url.Action("SaveInternetPriceNApproveAd", "PingOne")"  tabindex="7" />
        <ul class="pricing-calculator-labels-left pricing-calculator-align-left" id = "lnkpricinghistoryd">
            <li class="pricing-calculator-labels-list calculator-top"><a href="#!" class="lnk-Pricing-Calculator" id="lnkpricinghistory" post-url="@Url.Action("PricingHistory", "PingOne")">
                                                                          Show Pricing History<span id="arrow" class="calculator-side-arrow"  tabindex="8"></span></a> </li>
        </ul>
        @if (Model.ShowSavePriceOnly)
        {
        <ul class="pricing-calculator-textboxes-right pricing-calculator-align-right">
            <li class="pricing-calculator-labels-list .pricing-calculator-align-right calculator-top">
                <a href="#!" class="lnk-Pricing-Calculator" id="lnkSavePriceonly" post-url="@Url.Action("SaveInternetPrice", "PingOne")"  tabindex="9">
                    Save Price Only</a> <div class="success-message" id="showSuccess"><span id="tickSuccess"></span><div class="saved-msg">Saved</div></div>
            </li>
            
        </ul>
        }
        
        <input id="internetPriceEditFlag" prev-value="" type="hidden" data-bind="value:internetPrice" />
        <div id="divPricingHistory" class="pricing-history-data hide-control">
            
        </div>
    </div>
 
</div>
