﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.PriceMileageInputs

<div class="listing-count-label">
    <label class="overall-matching-count over-all" id="lblOverall">@Model.OverallCount</label>
    <label class="overall-matching-style over-all">
        Overall</label>
</div>

<div class="mileage-price-slider">    
    @Html.Hidden("StartValue", @Model.StartValue)
    @Html.Hidden("EndValue", @Model.EndValue)
    @Html.Hidden("MaxValue", @Model.MaxValue)
    @Html.Hidden("MinValue", @Model.MinValue)
    @Html.Hidden("Mileage", @Model.Mileage)
    @Html.Hidden("AveragePrice", @Model.AveragePrice)


    <div class="mileage-info">
        <span class="mileage-font">MILEAGE</span>
        
         <div class="mileage-alert low-price-alert-mileage @(!Model.ShowAlert ? "hide-mileage-values" : "")">
            <div class="mileage-alert-text">
                Alert:</div>
            <div class="mileage-alert-msg">
                Too few matching vehicles in market to calculate reliable market avg.
            </div>
        </div>

        <label id="lblSliderRange" class="max-value font-color @(Model.ShowAlert ? "hide-mileage-values" : "")">
            0 - unlimited</label>
    </div>
    <div class="callout-style @(Model.ShowAlert ? "hide-mileage-values" : "")" id="callout">
        <span id="calloutText" class="callout-text"></span>
    </div>
    <div id="rangeSlider" class="range-slider">
    </div>
    
    <div class="mileage-values-alert low-price-alert-mileage @(!Model.ShowAlert ? "hide-mileage-values" : "")" >
            <div class="mileage-slider-message">
                Please adjust search criteria or price using market listings.
            </div>
    </div> 

    <div class="mileage-values @(Model.ShowAlert ? "hide-mileage-values" : "") " id="dvMileageValues">
        <label id="lblMinValue" class="fontstyle-bold">
            0
        </label>
        <span id="average">
            <label id="lblAvg" class="average-label">
                avg</label>
            <label id="lblAvgPrice" class="fontstyle-bold average-value">@string.Format("{0:0,0}", @Model.AveragePrice)</label>
        </span>
        <label id="lblMaxValue" class="max-value  fontstyle-bold">
            Unlimited</label>
    </div>
</div>
