﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.PricingProof
@using System.Linq;
<div class="new-class">
    <div class="cover">
        <div class="pricing-proof-main">
            <span class="circle pricing-circle-position">3</span>
            <div class="style">
                Pricing Proof Points
            </div>
            @{var eStockUrl = "/IMT/EStock.go?stockNumberOrVin=" + ViewBag.StockNumber + "&isPopup=true";}
            @{
                var kbbUrl = "../Public/Images/PricingProof/kelleybluebook.png";
                var nadaUrl = "../Public/Images/PricingProof/nada.png";
                var galvesUrl = "../Public/Images/PricingProof/galves_icon.png";
                var msrpUrl = "../Public/Images/msrp_logo_sm.png";
                var marketavgUrl = "../Public/Images/PricingProof/avgmarket.png";
                var blackbookUrl = "../Public/Images/PricingProof/blackbook_icon.png";
                var edmundsUrl = "../Public/Images/PricingProof/edmunds.png";

                var acuraUrl = "../Public/Images/PricingProof/acura_logo_sm.png";
                var audiUrl = "../Public/Images/PricingProof/audi_logo_sm.png";
                var bmwUrl = "../Public/Images/PricingProof/bmw_logo_sm.png";
                var fordUrl = "../Public/Images/PricingProof/ford_logo_sm.png";
                var hondaUrl = "../Public/Images/PricingProof/honda_logo_sm.png";
                var infinitiUrl = "../Public/Images/PricingProof/infiniti_logo_sm.png";
                var kiaUrl = "../Public/Images/PricingProof/kia_logo_sm.png";
                var miniUrl = "../Public/Images/PricingProof/mini_logo_sm.png";
                var scionUrl = "../Public/Images/PricingProof/scion_logo_sm.png";
                var toyotaUrl = "../Public/Images/PricingProof/toyota_logo_sm.png";
                var volkswagenUrl = "../Public/Images/PricingProof/volkswagen_logo_sm.png";
                var count = 0;

                foreach (var m in Model.PriceComparisons.OrderBy(pc => pc.BookId))
                {
                    count = count + 1;
                    var diff = Model.InternetPrice - m.Threshold;
                    var price = "lbl" + m.DisplayId.Replace(" ", "");
                    var newPrice = "spn" + m.DisplayId.Replace(" ", "");
                    var status = "";
                    var cssName = "";
                    var statusId = "status" + m.DisplayId.Replace(" ", "");
                    var tick = "tick" + m.DisplayId.Replace(" ", "");
                    var Logo = m.DisplayId.Replace(" ", "") + "Logo";
                @Html.Hidden("hidden" + m.DisplayId.Replace(" ", ""), m.DealerThreshold)
                    if (diff >= m.DealerThreshold)
                    {
                        status = "above " + m.DisplayName;
                        cssName = "font-style warning";
                    }
                    else
                    {
                        status = "below " + m.DisplayName;
                        cssName = "font-style success";
                    }

                    bool IsAccu = true;
                    IsAccu = m.IsAccurate;
                    bool marketNAflag = false, bookNAflag = false;

                    var display = "display" + m.DisplayId.ToLower();
                <div id="@m.DisplayId.ToLower()" class="subdiv @( count == 5 ? "remove-border" : "")">
                    @if (m.Threshold == 0)
                    {

                        if (ViewBag.ShowAlert && (m.DisplayId.ToLower() == "msrp" || m.DisplayId.ToLower() == "marketavg"))
                        {
                        <span id="@tick" class="alert-image"></span>
                        }
                        else if (m.DisplayId.ToLower() != "msrp" && m.DisplayId.ToLower() != "marketavg")
                        {
                        <a id="@tick" href="@eStockUrl" target="_blank" class="alert-image" onclick="openEstock(this); return false;">
                        </a>
                        }
                        else
                        {
                        <span id="@tick" class= "@(diff >= m.DealerThreshold ? "failure-image" : "success-image")">
                        </span>
                        }
                    }
                    else if (!IsAccu && (m.DisplayId.ToLower() == "nada" || m.DisplayId.ToLower() == "kbb" || m.DisplayId.ToLower() == "galves" || m.DisplayId.ToLower() == "edmunds" || m.DisplayId.ToLower() == "blackbook" || m.DisplayId.ToLower() == "mmr"))
                    {
                        <a id="@tick" href="@eStockUrl" target="_blank" class="alert-image" onclick="openEstock(this); return false;">
                        </a>
                    }
                    else if (ViewBag.ShowAlert && (m.DisplayId.ToLower() == "msrp" || m.DisplayId.ToLower() == "marketavg"))
                    {
                        <span id="@tick" class="alert-image"></span>
                    }
                    else
                    {
                        <span id="@tick" class= "@(diff >= m.DealerThreshold ? "failure-image" : "success-image")">
                        </span>
                    }
                    <div id="@Logo" class="books-logo">
                        @{if (m.DisplayId.ToLower() == "kbb")
                          {
                            <img alt="" width="60px" height="45px" src="@kbbUrl" />
                          }
                          else if (m.DisplayId.ToLower() == "nada")
                          {
                            <img alt="" width="60px" height="45px" src="@nadaUrl" />
                          }
                          else if (m.DisplayId.ToLower() == "galves")
                          {
                            <img alt="" width="150px" height="33px" src="@galvesUrl" />
                          }
                          else if (m.DisplayId.ToLower() == "msrp")
                          {
                              if (ViewBag.Make != null)
                              {
                                  var make = ViewBag.Make;
                                  if (make.ToLower() == "acura")
                                  {
                            <img alt="" width="60px" height="45px" src="@acuraUrl" />
                                  }
                                  else if (make.ToLower() == "audi")
                                  {
                            <img alt="" width="60px" height="45px" src="@audiUrl" />
                                  }
                                  else if (make.ToLower() == "bmw")
                                  {
                            <img alt="" width="60px" height="45px" src="@bmwUrl" />
                                  }
                                  else if (make.ToLower() == "ford")
                                  {
                            <img alt="" width="60px" height="45px" src="@fordUrl" />
                                  }
                                  else if (make.ToLower() == "honda")
                                  {
                            <img alt="" width="60px" height="45px" src="@hondaUrl" />
                                  }
                                  else if (make.ToLower() == "infiniti")
                                  {
                            <img alt="" width="60px" height="45px" src="@infinitiUrl" />
                                  }
                                  else if (make.ToLower() == "kia")
                                  {
                            <img alt="" width="60px" height="45px" src="@kiaUrl" />
                                  }
                                  else if (make.ToLower() == "mini")
                                  {
                            <img alt="" width="60px" height="45px" src="@miniUrl" />
                                  }
                                  else if (make.ToLower() == "scion")
                                  {
                            <img alt="" width="60px" height="45px" src="@scionUrl" />
                                  }
                                  else if (make.ToLower() == "toyota")
                                  {
                            <img alt="" width="60px" height="45px" src="@toyotaUrl" />
                                  }
                                  else if (make.ToLower() == "volkswagen")
                                  {
                            <img alt="" width="60px" height="45px" src="@volkswagenUrl" />
                                  }
                                  else
                                  {
                            <img alt="" width="60px" height="45px" src="@msrpUrl" />
                                  }
                              }//end of view bag check
                              else
                              {
                            <img alt="" width="60px" height="45px" src="@msrpUrl" />
                              }//end of view bag else 

                          }//end of msrp ie. next else if 

                          else if (m.DisplayId.ToLower() == "marketavg")
                          {
                            <img alt="" width="60px" height="45px" src="@marketavgUrl" />
                          }
                          else if (m.DisplayId.ToLower() == "edmunds")
                          {
                            <img alt="" width="60px" height="45px" src="@edmundsUrl" />
                          }
                          else if (m.DisplayId.ToLower() == "blackbook")
                          {
                            <img alt="" width="75px" height="19px" src="@blackbookUrl" />
                          }


                        }
                    </div>
                    <div  id="@display" class="display">
                        <span id="@price" class="@((m.Threshold == 0 || (ViewBag.ShowAlert && (m.DisplayId.ToLower() == "msrp" || m.DisplayId.ToLower() == "marketavg"))) ? "font-style black-font" : cssName)">@((m.Threshold == 0 || (ViewBag.ShowAlert && (m.DisplayId.ToLower() == "msrp" || m.DisplayId.ToLower() == "marketavg"))) ? "N/A" : string.Format("{0,0:C0}", m.Threshold))</span>
                        <div class="adjust-height">
                            <span class="fonts">Current Price: <span id="@newPrice" class="highlight">@(((ViewBag.ShowAlert && (m.DisplayId.ToLower() == "msrp" || m.DisplayId.ToLower() == "marketavg")) || (m.DisplayId.ToLower() == "edmunds" && m.Threshold == 0)) ? "-" : string.Format("{0,0:C0}", diff < 0 ? diff * -1 : diff))
                            </span></span>
                        </div>
                        <span id="@statusId" class="fonts">@status</span>
                    </div>
                    @if (m.DisplayId.ToLower() == "marketavg")
                    {<span id="lnkView" class="view-link" onclick="OpenDiv(@m.DisplayId.ToLower(),@display);">
                    View All<span class="arrow-wrapper"><span id="arr" class="side-arrow"></span></span></span>}
                    @if (m.DisplayId.ToLower() == "marketavg")
                    {
                        <div class="comparisons comparisons-font ">
                            <div class="ruler">
                                <span class="align-left">Distance</span> <span class="align-right">Price v. Mkt Avg</span></div>
                            @foreach (var r in Model.RadioList)
                            {
                                var difference = Model.InternetPrice - r.AvgPrice;
                                var priceTag = "";
                                var className = "";
                                var idVar = Model.InternetPrice;
                                if (difference <= m.DealerThreshold)
                                {
                                    priceTag = string.Format("{0,0:C0}", difference * -1) + " Under";
                                    className = "success radio-width";
                                }
                                else
                                {
                                    priceTag = string.Format("{0,0:C0}", difference) + " Over";
                                    className = "warning radio-width";
                                }
                                <ul>
                                    <li>
                                        <input type="radio"  id="rd_@r.Mileage.Replace(" ", "")" name="radioList" value="@r.Mileage" checked="@r.IsSelected" onchange="Change(this)" />@r.Mileage
                                        <input type="hidden" id="hd_@r.Mileage.Replace(" ", "")" value="@r.AvgPrice" class="pricing-proof-hidden-fileds"/>
                                        <input type="hidden" id="hd_Alert_@r.Mileage.Replace(" ", "")" value="@Convert.ToInt16(@r.ShowAlert)" />
                                    </li>
                                    <li class="market-avg-options"><span class="@className" id="@r.Mileage.Replace(" ", "")">@priceTag</span></li>
                                </ul>
                   
                            }
                        </div>
                    }
                </div>

                }
            }
        </div>
    </div>
</div>
