﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.VehicleHistoryReport
<img src="../Public/Images/VehicleHistory/attention.png" class="@(!Model.AutocheckVehicleHistoryReport.HasPurchasedAutocheck && Model.AutocheckVehicleHistoryReport.HasPurchaseReportRights ? !Model.CarfaxVehicleHistoryReport.HasCarfax ? "vhr-attention-carfax" : "vhr-attention-autocheck" : "hide-control")" alt="attention" />
<img src="../Public/Images/VehicleHistory/attention.png" class="@(!Model.CarfaxVehicleHistoryReport.HasPurchasedCarfax && Model.CarfaxVehicleHistoryReport.CanPurchaseCarfax ? "vhr-attention-carfax" : "hide-control")" alt="attention" />
<div class="center-align">
    <div id="btnCarfax" name="btnCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasCarfax ? "btn-carfax" : "hide-control")" onclick="btnCarfax_onclick();">
    </div>
    <div id="btnAutocheck" name="btnAutocheck" class="@(Model.AutocheckVehicleHistoryReport.HasAutocheckReport ? "btn-autocheck-default" : "hide-control")  @(!Model.CarfaxVehicleHistoryReport.HasCarfax ? "btn-autocheck" : "")"
           onclick="btnAutocheck_onclick();">
    </div>
</div>
<div id="autocheckMain" class="@(Model.AutocheckVehicleHistoryReport.HasAutocheckReport ? "autocheck-main" : "hide-control") @(!Model.CarfaxVehicleHistoryReport.HasCarfax ? "show-div" : "")">
    <div id="noAutoCheckReport" class="@(!Model.AutocheckVehicleHistoryReport.HasPurchasedAutocheck && Model.AutocheckVehicleHistoryReport.HasPurchaseReportRights ? "data img-background" : "data img-background hide-control")">
        <input type="button" id="btnAutoCheckReport" name="PullAutoCheckReport" class="pull-report-button"
               value="Pull AutoCheck Report" post-url="@Url.Action("VehicleHistoryReport", "PingOne")" onclick="PullAutocheck(this);"/>
    </div>
    @if (Model.AutocheckVehicleHistoryReport.HasPurchasedAutocheck)
    {
        <div class="data">
            <a id="viewAutocheckReport" class="view-link-position-autocheck" onclick=" openReport('@Model.AutocheckVehicleHistoryReport.AutocheckUrl'); ">
                View Full Report</a>
        </div>
    }
    @if (string.IsNullOrEmpty(Model.AutocheckVehicleHistoryReport.Error))
    {
        <div class="data">
            @Model.AutocheckVehicleHistoryReport.Error
        </div>
    }
</div>
<div id="carfaxMain" class="@(Model.CarfaxVehicleHistoryReport.HasCarfax ? "carfax-main" : "hide-control")">
    <div id="noCarfaxReport" class="@(!Model.CarfaxVehicleHistoryReport.HasPurchasedCarfax && Model.CarfaxVehicleHistoryReport.CanPurchaseCarfax ? "data img-background" : "data img-background hide-control")">
        <input type="button" id="btnPullCarfaxReport" name="PullCarfaxReport" class="pull-report-button"
               value="Pull Carfax Report" post-url="@Url.Action("VehicleHistoryReport", "PingOne")" onclick="PullCarfax(this);" />
    </div>
    @if (Model.CarfaxVehicleHistoryReport.HasPurchasedCarfax && string.IsNullOrEmpty(Model.CarfaxVehicleHistoryReport.Error))
    {
        <div class="data">
            <a id="viewCarfaxReport" class="view-link-position" onclick=" openReport('@Model.CarfaxVehicleHistoryReport.CarfaxUrl'); ">
                View Full Report</a>
        </div>
        <div id="carfaxData" class="data">
            <ul class="align-list div-size">
                <li id="ownerCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasOneOwner ? "single-owner" : "align-list-items-negative")">
                    <label for="ownerCarfax" class="align-list-items-label">
                        1-Owner</label>
                </li>
                <li id="buyBackCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasBuyBackGurantee ? "align-list-items" : "align-list-items-negative")">
                    <label for="buyBackCarfax" class="align-list-items-label">
                        Buy Back Guarantee</label>
                </li>
                <li id="totalLossCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasNoTotalLossReported ? "align-list-items" : "align-list-items-negative")">
                    <label for="totalLossCarfax" class="align-list-items-label">
                        No Total Loss Reported</label>
                </li>
                <li id="frameDamageCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasNoFrameDamageReported ? "align-list-items" : "align-list-items-negative")">
                    <label for="frameDamageCarfax" class="align-list-items-label">
                        No Frame Damage Reported</label>
                </li>
            </ul>
            <ul class="align-list div-size">
                <li id="airbagCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasNoAirbagDeploymentReported ? "align-list-items" : "align-list-items-negative")">
                    <label for="airbagCarfax" class="align-list-items-label">
                        No Airbag Deployment Reported</label>
                </li>
                <li id="odometerCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasNoOdometerRollbackReported ? "odometer-rollback" : "align-list-items-negative")">
                    <label for="odometerCarfax" class="align-list-items-label">
                        No Odometer Rollback Reported</label>
                </li>
                <li id="accidentsCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasNoAccidentReported ? "accidental-damage" : "align-list-items-negative")">
                    <label for="accidentsCarfax" class="align-list-items-label">
                        No Accident/Damage Reported</label>
                </li>
                <li id="manufacturerCarfax" class="@(Model.CarfaxVehicleHistoryReport.HasNoManufacturerRecallsReported ? "manufacturer-recall" : "align-list-items-negative")">
                    <label for="manufacturerCarfax" class="align-list-items-label">
                        No Manufacturer Recalls Reported</label>
                </li>
            </ul>
        </div>
        

    }
    else
    {
            
        <div class="data">
            @Model.CarfaxVehicleHistoryReport.Error
        </div> 
            
    }
</div>
