﻿@model Wanamaker.WebApp.Areas.PricingAnalysis.Models.WorkFlowHeaderLinks

<div id="WorkflowHeader" class="clearfix">

    <div class="clearfix">

        <div id="WorkflowMenu">
            <ul>
                <li id="EquipmentMenuItem" class="first equipment"><a id="LoadEquipmentLink" title="Needs Equipment" href="@Url.Content(Model.LoadEquipmentLink)">Equipment</a></li>
                <li id="PackagesMenuItem" class="packages"><a id="LoadPackagesLink" title="Needs Option Packages" href="@Url.Content(Model.LoadPackagesLink)">Option Packages</a></li>
                <li id="PhotosMenuItem" class="photos"><a id="LoadPhotosLink" title="Needs Photos" class=" needsPhotos " href="@Url.Content(Model.LoadPhotosLink)">Photos</a></li>
                <li id="PricingMenuItem" class="pricing selected"><a id="PricingPageLink" title="Needs Pricing" class=" needsPricing " href="@Url.Content(Model.PricingPageLink)">Pricing</a></li>
                <li id="ApprovalMenuItem" class="approval"><a id="ApprovalLink" class="approval" title="Needs Approval" href="@Url.Content(Model.ApprovalLink)">Approval </a></li>
                @if (!string.IsNullOrEmpty(Model.MAXSellingLink))
                {
                    <li id="MaxSEMenuItem" class="maxSe"><a id="MAXSellingLink" title="MAX Merchandising"  href="@Url.Content(Model.MAXSellingLink)">MAX Merchandising</a></li>
                }
            </ul>
        </div>


         <div class="right-shift" id="BulkUpload">
            <a href="@Url.Content(Model.BulkUpload)" title="Upload photos for multiple vehicles" target="_blank">Bulk Upload</a>
        </div>

        <div id="SearchWidgetPanel" >
	
    <div class="right-shift" id="HeaderSearch">
        <form action='@Url.Content("~/PricingAnalysis/PingOne")' method="GET">
            <input type="hidden" id="inv" name="inv" value="@Model.InventoryId" />
            <input type="hidden" id="businessUnitId" name="businessUnitId" value="@Model.BusinessUnitId" />
            <input type="hidden" id="filter" name="filter" value="@Model.Filter" />
            <input type="hidden" id="usednew" name="usednew" value="@Model.UsedNew" />
            <input type="hidden" id="agebucket" name="agebucket" value="@Model.AgeBucket" />

            <input  type="text" id="HeaderSearchText" name="searchText" title="Search inventory by Make, Model, Stock Number, VIN, Color, etc." placeholder="Stock #, VIN, Make ..."/>
            <input type="submit" value="Search" id="HeaderSearchButton"/>
        </form>
    </div>
</div>

       

        

    </div>

</div>

<div class="clearfix ">

        <div id="InventoryAndCompleted">
            <div id="WorkflowSelector" class="work-flow-selector">
                <ul>
                    <li class="previous">
                        <a id="btnPrevious"  @*onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Previous Vehicle']);"*@ href="@Model.PreviousUrl">&lt; Previous</a>
                    </li>
                    <li class="count"><span id="lblCurrentItem">@Model.PresentOutofTotal</span></li>
                    <li class="next">
                        <a id="btnNext" @*onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Next Vehicle']);"*@ href="@Model.NextUrl">Next &gt;</a>
                    </li>
                </ul>
            </div>
             <a id="pws" class="windowStickerToggle dialogLink right-shift ctr-graph-link" style="margin-right:120px" data-url="@Url.Content(Model.PrintWindowSticker)" data-inv="@Model.InventoryId">Print Window Sticker</a>
            
        </div>

</div>
<div id="PrintWindowStickerDlg"></div>
<div id="ctr-graph" class="dialog" style="display: none">                
        
    <ul class="carinfo"></ul>

    <script id="ctrGraphHeader" type="text/x-jquery-tmpl">
        <li><span class="yearmakemodel data">${YearMakeModel}</span></li>
        <li>Ext. Color: <span class="data color">${ExteriorColor}</span></li>
        <li>Photos: <span class="data photos">${PhotoCount}</span></li>
        <li>Miles: <span class="data mileage">${Mileage}</span></li>
        <li>Certified: <span class="data cert">{{if Certfied===true}}Yes{{else}}No{{/if}}</span></li>
    </script>

    <div id="chart-line"></div>

    <div class="loadingGraph"></div>

</div>

<div id='pwsOverlay' ></div>


@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $("#WorkflowMenu>ul>li").click(function () {
            $("#WorkflowMenu>ul>li").removeClass('selected');
            $(this).addClass('selected');
        });
    });
</script>
}