﻿        <div id="WorkflowHeader" class="clearfix">

    <div class="clearfix">

        <div id="WorkflowMenu">
            <ul>
                <li id="EquipmentMenuItem" class="first equipment"><a id="LoadEquipmentLink" onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Equipment']);" href="LoadEquipment.aspx?inv=31974093&amp;filter=NeedsPricingAll&amp;usednew=2&amp;agebucket=">Equipment</a></li>
                <li id="PackagesMenuItem" class="packages"><a id="LoadPackagesLink" onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Option Packages']);" href="LoadPackages.aspx?inv=31974093&amp;filter=NeedsPricingAll&amp;usednew=2&amp;agebucket=">Option Packages</a></li>
                <li id="PhotosMenuItem" class="photos"><a id="LoadPhotosLink" title="Needs Photos" class=" needsPhotos " onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Photos']);" href="Photos.aspx?inv=31974093&amp;filter=NeedsPricingAll&amp;usednew=2&amp;agebucket=">Photos</a></li>
                <li id="PricingMenuItem" class="pricing"><a id="PricingPageLink" title="Needs Pricing" class=" needsPricing " onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Pricing']);" href="Pricing.aspx?inv=31974093&amp;filter=NeedsPricingAll&amp;usednew=2&amp;agebucket=">Pricing</a></li>
                <li id="ApprovalMenuItem" class="approval selected"><a id="ApprovalLink" class="approval" onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Apprvoal']);" href="ApprovalSummary.aspx?inv=31974093&amp;filter=NeedsPricingAll&amp;usednew=2&amp;agebucket=">Approval </a></li>
                <li id="MaxSEMenuItem" class="maxSe"><a id="MAXSellingLink" onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'MAX SE']);" href="/pricing/Pages/MaxMarketing/Preview.aspx?oh=0C1B63CA-F1A7-E011-BBB1-001B219B7C2C&amp;vh=131974093&amp;sh=8D2BA5CC-D47E-E311-92F8-848F69DDF3CC">MAX Merchandising</a></li>
            </ul>
        </div>


         <div class="right-shift" id="BulkUpload">
            <a href="https://incisent.aultec.net/?APP=BU&amp;BUC=WINDYCIT05&amp;CTX=2&amp;FNAME=JEN &amp;LNAME=DOMONKOS&amp;SIG=2CFEF7665CE3966AF1412EF5637E2ECC&amp;TIME=20150406T090337Z&amp;UID=JDOMONKOS" title="Upload photos for multiple vehicles" target="_blank">Bulk Upload</a>
        </div>

        <div id="SearchWidgetPanel" >
	
    <div class="right-shift" id="HeaderSearch">
        <input  type="text" id="HeaderSearchText" title="Search inventory by Make, Model, Stock Number, VIN, Color, etc." placeholder="Stock #, VIN, Make ...">
        <input type="submit" value="Search"  id="HeaderSearchButton">
    </div>

</div>

       

        

    </div>

</div>

<div class="clearfix ">

<div id="InventoryAndCompleted">
<div id="WorkflowSelector" class="work-flow-selector">
            <ul>
                <li class="previous"><a id="btnPrevious"  onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Previous Vehicle']);">&lt; Previous</a></li>
                <li class="count"><span id="lblCurrentItem">1 of 146</span></li>
                <li class="next"><a id="btnNext" onclick="_gaq.push(['_trackEvent', 'Workflow Selector', 'Click', 'Next Vehicle']);" href="ApprovalSummary.aspx?inv=32004020&amp;filter=NeedsPricingAll&amp;usednew=2&amp;agebucket=">Next &gt;</a></li>
            </ul>
        </div>
             <a class="windowStickerToggle dialogLink right-shift ctr-graph-link">Print Window Sticker</a>
        <a id="CtrGraphLink" class="right-shift shift-top" href="#" data-businessunitid="105239" data-inventoryid="32265236" data-stocknum="J979089" data-ymmt="2014 BMW 328i xDrive "><img src="../../../../Public/Images/1343832346_pie-chart_graph.png" width="16" title="CTR graph" border="0" alt=" CTR Graph"> CTR Graph</a>
           
 
        </div>

</div>