  <div id="bottomstatus">
    <ul class="navlist">
      <li>USER: <%=session[:member][:login]%></li>
      <li><em>SECURE AREA</em></li>
      <li style="border-right:0;"><%= render :file => '/common/copyright_statement.rhtml' %></li>
    </ul>
  </div>
  
