  <div id="bottomnav">
    <ul class="navlist">
      <li>Manual Book-Out</li>
      <li>Water Report</li>
      <li>Performance Analyzer</li>
      <li>Print Window Stickers</li>
    </ul>
  </div>
