  <div id="logo">
  <% if get_theme == "gmac" %>
  <%= image_tag("quickturnlogo.gif", :alt => "SmartAuction QuickTurn powered by FirstLook") %>
  <% else %>
  <%= image_tag("fllogo.gif", :alt => "FirstLook") %>
  <% end %>
  </div>
