 <div class="clearfix">
  <div style="float:left;">
    <%= image_tag("fllogo.gif", :alt => "FirstLook") %>
  </div>
  <div id="topstatus">
    <ul class="navlist">
        <li style="border-right:0px;"><a href="javascript:window.close();">Close Window</a></li>
    </ul>
  </div>
</div>