  <div id="topstatus">
    <ul class="navlist">
      <li><%= link_to 'Member Profile', {:action => :redirect_to_external_url, :external_url => '/IMT/EditMemberProfileAction.go'}, :popup => ['new_window', 'location=no,status=yes,menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=500'] %></li>
     
		<li> <a href="https://flmax.force.com/customersupport/s/" target = "_blank">Videos/FAQ</a></li> 
	 <li><a href="/support/Marketing_Pages/AboutUs.aspx" onclick="javascript:staticPopup(this.href,'planning',800,700);return false;">About First Look</a></li>
      <li><a href="/support/Marketing_Pages/ContactUs.aspx" onclick="javascript:staticPopup(this.href,'planning',800,500);return false;">Contact First Look</a></li>
      <li style="border-right:0;"><a href="<%=url_for(:action=>:logout)%>">Log Out</a></li>
    </ul>
  </div>
