@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic);
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic);
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/

/* 1. RESET
----------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* 2. ROOT
----------------------------------------------------------------------------------------*/

html {
    overflow-y: scroll;
    background: #FFF;
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */

img, embed, object, video {
    max-width: 100%;
}


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/

body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 1em;
    line-height: 1.618em;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.809em;
    line-height: 1em;
}

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0.618em;
    max-width: 30em;
/* Optimal width for long-form text */
}

ul {
    list-style-type: disc;
    margin-left: 1.618em;
}

ol {
    list-style-type: decimal;
    margin-left: 1.618em;
}

nav ul, nav ol,
ul.ui-menu, ul.ui-menu,
ul.ui-menu ul, ul.ui-menu ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

small {
    font-size: 80%;
}

/* 4. LINKS
----------------------------------------------------------------------------------------*/

a, a:visited {
    outline: none;
    color: #002157;
    text-decoration: underline;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:active {
    outline: none;
}
a:focus {
    box-shadow: 0 0 5px rgba(255, 180, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 180, 0, 1); 
    -moz-box-shadow: 0 0 5px rgba(255, 180, 0, 1); 
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/

#container {
    padding: 0.809em;
    max-width: 30em;
    min-width: 20em;
    margin: auto;
}

aside {
    width: 100%;
}

/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/

.cf:before, .cf:after {
    content: "";
    display: block;
}

.cf:after {
    clear: both;
}



/*
This file contains the unique styles needed for example.html which do not appear in /css/global.css
----------------------------------------------------------------------------------------
*/

html {
    background: rgb(256, 256, 256);
}
a:link {
    color: #324c77;
}
h1 {
    line-height: 1.4em;
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

#container {
    font-size: 0.90em;
}

#main {
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    background: #e5e5e5 url(page_background.png) repeat-x;
}
#main .main_pointless_design {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

h1 {
    text-align: left;
    font-size: 1.3em;
    line-height: 1.2em;
}

h3, h4, h5, h6 {
    font-weight: bold;
    color: #4e5475;
}

footer {
    background: #e5e5e5 url(../images/page_background.png) repeat-x;
    padding: 0.618em 0.618em 0;
}

/* @group Simple Menu */

nav ol,
nav ul,
ul.ui-menu o,
ul.ui-menu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 1000;
}

nav ol li,
nav ul li,
ul.ui-menu li,
ul.ui-menu li,
ul.ui-menu ol li,
ul.ui-menu ul li {
    position: relative;
    display: inline-block;
}

nav li ul,
nav li ol,
ul.ui-menu li ul,
ul.ui-menu li ol {
    position: absolute;
    display: none;
}

nav li ul li,
nav li ol li,
ul.ui-menu li ul li,
ul.ui-menu li ol li {
    display: block;
    padding: 1px 1ex;
    white-space: nowrap;
    border: 1px solid #999;
    border-top-width: 0;
    background-color: #fff;
}

nav li li a,
ul.ui-menu li li a {
    display: block;
}

nav li:hover ul,
nav li:hover ol,
nav li ul:hover,
nav li ol:hover,
nav li ul:hover li,
nav li ol:hover li,
ul.ui-menu li:hover ul,
ul.ui-menu li:hover ol,
ul.ui-menu li ul:hover,
ul.ui-menu li ol:hover,
ul.ui-menu li ul:hover li,
ul.ui-menu li ol:hover li {
    display: block;
}

nav li ul:hover li,
nav li ol:hover li,
ul.ui-menu li ul:hover li,
ul.ui-menu li ol:hover li {
    white-space: nowrap;
    overflow: hidden;
}

/* @end */

/* @group Tab */

.tab_box {
    border-top: none;
}

.tab_box .tab_content {
    clear:  both;
    border: 1px solid #919dab;
    background-color: white;
}

.tabs li button {
    border: 1px solid #919dab;
    text-align: left;
}

.tabs li.current button {
    border-bottom-color: #fff;
}

/* @end */

/* @group Boxes */


div.book_box .selected_equipment {
    text-align: left;
    background-color: #ddd;
    padding-bottom: 0.309em;
    border: 1px solid #666;
    border-top-width: 0;
}
div.book_box .selected_equipment h5 {
    color: #111;
    font-size: 0.7em;
    display: inline-block;
    padding: 0.618em 0.618em 0;
    vertical-align: top;
}
div.book_box .selected_equipment p.message {
    display: inline-block;
    font-size: 0.8em;
}
div.book_box .selected_equipment ul {
    display: inline-block;
    max-width: 68em;
    min-width: 30em;
}
div.book_box .selected_equipment ul li {
    display: inline-block;
    width: 32%;
    font-size: 0.8em;
    margin: 1px 5px;
}
div.book_box .selected_equipment ul li.selected {
	padding: 1px 5px;
}
div.book_values p.controls {
    display: block;
    text-align: right;
    max-width: 100%;
    padding: 0 0.618em;
}
div.book_values p.controls .button {
    font-size: 0.9em;
}
div.book_values .edit_equipment {
    border: 1px solid #666;
    background-color: #fff;
    text-align: left;
}

div.black_book .book_values {
    border: 1px solid #666;
    background-color: #ccc;
}
div.black_book table thead th {
    color: #202830;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
}
div.black_book table tbody td {
    color: #000;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1d1d1), to(#b5b5b5));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #b5b5b5);
    background-image:    -moz-linear-gradient(top, #d1d1d1, #b5b5b5);
    background-image:      -o-linear-gradient(top, #d1d1d1, #b5b5b5);
    background-image:     -ms-linear-gradient(top, #d1d1d1, #b5b5b5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1d1d1, endColorstr=#b5b5b5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1d1d1, endColorstr=#b5b5b5)";
}
div.black_book .book_values .logo {
    background-image: url(../images/logo_black_book_with_book.png);
    width: 89px;
    height: 31px;
}

div.nada .book_values {
    border: 1px solid #808080;
    background-color: #fcdfa5;
}
div.nada table thead th {
    color: #403520;
    border-right: 2px solid #fcdfa5;
    border-left: 2px solid #fcdfa5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdf2d9), to(#f4e4c4));
    background-image: -webkit-linear-gradient(top, #fdf2d9, #f4e4c4);
    background-image:    -moz-linear-gradient(top, #fdf2d9, #f4e4c4);
    background-image:      -o-linear-gradient(top, #fdf2d9, #f4e4c4);
    background-image:     -ms-linear-gradient(top, #fdf2d9, #f4e4c4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdf2d9, endColorstr=#f4e4c4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdf2d9, endColorstr=#f4e4c4)";
}
div.nada table tbody td {
    color: #000;
    border-right: 2px solid #fcdfa5;
    border-left: 2px solid #fcdfa5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4e4c4), to(#e8d5ac));
    background-image: -webkit-linear-gradient(top, #f4e4c4, #e8d5ac);
    background-image:    -moz-linear-gradient(top, #f4e4c4, #e8d5ac);
    background-image:      -o-linear-gradient(top, #f4e4c4, #e8d5ac);
    background-image:     -ms-linear-gradient(top, #f4e4c4, #e8d5ac);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4e4c4, endColorstr=#e8d5ac);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4e4c4, endColorstr=#e8d5ac)";
}
div.nada_consumer .book_values .logo, 
div.nada .book_values .logo {
    background-image: url(../images/logo_nada_with_book.png);
    width: 89px;
    height: 31px;
}

div.kbb .book_values {
    border: 1px solid #808080;
    background-color: #d1dbf4;
}
div.kbb table thead th {
    color: #2a437f;
    border-right: 2px solid #d1dbf4;
    border-left: 2px solid #d1dbf4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecf0fb), to(#dfe7fa));
    background-image: -webkit-linear-gradient(top, #ecf0fb, #dfe7fa);
    background-image:    -moz-linear-gradient(top, #ecf0fb, #dfe7fa);
    background-image:      -o-linear-gradient(top, #ecf0fb, #dfe7fa);
    background-image:     -ms-linear-gradient(top, #ecf0fb, #dfe7fa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ecf0fb, endColorstr=#dfe7fa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ecf0fb, endColorstr=#dfe7fa)";
}
div.kbb table tbody td {
    color: #092641;
    border-right: 2px solid #d1dbf4;
    border-left: 2px solid #d1dbf4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfe7fa), to(#cdd9f8));
    background-image: -webkit-linear-gradient(top, #dfe7fa, #cdd9f8);
    background-image:    -moz-linear-gradient(top, #dfe7fa, #cdd9f8);
    background-image:      -o-linear-gradient(top, #dfe7fa, #cdd9f8);
    background-image:     -ms-linear-gradient(top, #dfe7fa, #cdd9f8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dfe7fa, endColorstr=#cdd9f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dfe7fa, endColorstr=#cdd9f8)";
}
div.kbb_consumer .book_values .logo, 
div.kbb .book_values .logo {
    background-image: url(../images/logo_kbb_with_book.png);
    width: 89px;
    height: 31px;
}

div.galves .book_values {
    border: 1px solid #808080;
    background-color: #93b7dc;
}
div.galves table thead th {
    color: #2a437f;
    border-right: 2px solid #93b7dc;
    border-left: 2px solid #93b7dc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1e1f1), to(#c0d2e5));
    background-image: -webkit-linear-gradient(top, #d1e1f1, #c0d2e5);
    background-image:    -moz-linear-gradient(top, #d1e1f1, #c0d2e5);
    background-image:      -o-linear-gradient(top, #d1e1f1, #c0d2e5);
    background-image:     -ms-linear-gradient(top, #d1e1f1, #c0d2e5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1e1f1, endColorstr=#c0d2e5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1e1f1, endColorstr=#c0d2e5)";
}
div.galves table tbody td {
    color: #092641;
    border-right: 2px solid #93b7dc;
    border-left: 2px solid #93b7dc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0d2e5), to(#a5b9d2));
    background-image: -webkit-linear-gradient(top, #c0d2e5, #a5b9d2);
    background-image:    -moz-linear-gradient(top, #c0d2e5, #a5b9d2);
    background-image:      -o-linear-gradient(top, #c0d2e5, #a5b9d2);
    background-image:     -ms-linear-gradient(top, #c0d2e5, #a5b9d2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c0d2e5, endColorstr=#a5b9d2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c0d2e5, endColorstr=#a5b9d2)";
}
div.galves .book_values .logo {
    background-image: url(../images/logo_galves_with_book.png);
    width: 89px;
    height: 31px;
}

div.edmunds .book_values {
    border: 1px solid #808080;
    background-color: #98ccfe;
}
div.edmunds table thead th {
    color: #2a437f;
    border-right: 2px solid #98ccfe;
    border-left: 2px solid #98ccfe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d3ebfe), to(#c7e1fd));
    background-image: -webkit-linear-gradient(top, #d3ebfe, #c7e1fd);
    background-image:    -moz-linear-gradient(top, #d3ebfe, #c7e1fd);
    background-image:      -o-linear-gradient(top, #d3ebfe, #c7e1fd);
    background-image:     -ms-linear-gradient(top, #d3ebfe, #c7e1fd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d3ebfe, endColorstr=#c7e1fd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d3ebfe, endColorstr=#c7e1fd)";
}
div.edmunds table tbody td {
    color: #092641;
    border-right: 2px solid #98ccfe;
    border-left: 2px solid #98ccfe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c7e1fd), to(#b3d3fb));
    background-image: -webkit-linear-gradient(top, #c7e1fd, #b3d3fb);
    background-image:    -moz-linear-gradient(top, #c7e1fd, #b3d3fb);
    background-image:      -o-linear-gradient(top, #c7e1fd, #b3d3fb);
    background-image:     -ms-linear-gradient(top, #c7e1fd, #b3d3fb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c7e1fd, endColorstr=#b3d3fb);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c7e1fd, endColorstr=#b3d3fb)";
}
div.edmunds_consumer .book_values .logo, 
div.edmunds .book_values .logo {
    background-image: url(../images/logo_edmunds_sm.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 89px;
    height: 31px;
}
fieldset.edmunds_select_vehicle {
    background-color: #b3d3fb;
    border: 1px solid #999;
    padding: 2em 1ex 4em;
    background-image: url(../images/logo_edmunds_sm.png);
    background-repeat: no-repeat;
    background-position: top left;
}
fieldset.edmunds_select_vehicle legend {
    display: none;
}

div.naaa .book_values {
    border: 1px solid #808080;
    background-color: #d0d6ea;
}
div.naaa a {
    text-transform: lowercase;
    font-variant: small-caps;
    position: relative;
}
div.naaa table thead th {
    color: #0a2845;
    border-right: 2px solid #d0d6ea;
    border-left: 2px solid #d0d6ea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaedf5), to(#dadeea));
    background-image: -webkit-linear-gradient(top, #eaedf5, #dadeea);
    background-image:    -moz-linear-gradient(top, #eaedf5, #dadeea);
    background-image:      -o-linear-gradient(top, #eaedf5, #dadeea);
    background-image:     -ms-linear-gradient(top, #eaedf5, #dadeea);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaedf5, endColorstr=#dadeea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaedf5, endColorstr=#dadeea)";
}
div.naaa table tbody td {
    color: #000041;
    border-right: 2px solid #d0d6ea;
    border-left: 2px solid #d0d6ea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadeea), to(#c0c7d7));
    background-image: -webkit-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:    -moz-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:      -o-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:     -ms-linear-gradient(top, #dadeea, #c0c7d7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadeea, endColorstr=#c0c7d7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadeea, endColorstr=#c0c7d7)";
}


div.naaa .book_values .logo {
    background-image: url(../images/logo_naaa_with_book.png);
    width: 58px;
    height: 31px;
}

div.kbb_consumer .book_values,
div.nada_consumer .book_values,
div.edmunds_consumer .book_values {
    background-color: #f1f1f1;
    border: 1px solid #cacaca;
}
div.kbb_consumer .book_values .value,
div.nada_consumer .book_values .value,
div.edmunds_consumer .book_values .value, 
div.kbb_consumer .book_values dd,
div.nada_consumer .book_values dd,
div.edmunds_consumer .book_values dd {
    font-weight: bold;
}

div.book_box h3 {
    display: inline;
    text-transform: none;
    font-weight: normal;
    font-size: 0.75em;
}
div.book_box p,
div.book_box a,
div.book_box button {
    display: inline;
    font-size: 0.75em;
}
div.book_box .book_values dl {
    font-size: 0.8em;
    line-height: 2.6em;
}
div.book_box .book_out_state {
    color: #4e5475;
}
div.book_box .update_bookout {
    text-transform: lowercase;
    font-variant: small-caps;
}
div.book_box .book_values {
    text-align: right;
}
div.book_box table {
    border-collapse: collapse;
    vertical-align: bottom;
    table-layout: fixed;
}
div.book_box table thead th {
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
}

div.book_box table tbody td {
    text-align: center;
    font-weight: bold;
}

#books .book_box {
    float: left;
}

.third, 
.half {
    display: inline-block;
}

.full {
    margin: 0.618em;
}
#polk ul {
    margin-left: 2em;
}
#polk .section_content {
    padding: 0.618em;
}

#ping_and_calculator {
    border: 1px solid #a0b4d9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
#ping_and_calculator > .pointless_design {
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #dde4f2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f9fd), to(#d9e1f1));
    background-image: -webkit-linear-gradient(top, #f7f9fd, #d9e1f1);
    background-image:    -moz-linear-gradient(top, #f7f9fd, #d9e1f1);
    background-image:      -o-linear-gradient(top, #f7f9fd, #d9e1f1);
    background-image:     -ms-linear-gradient(top, #f7f9fd, #d9e1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f9fd, endColorstr=#d9e1f1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f9fd, endColorstr=#d9e1f1)";
}
.appraisal .calculator_logo {
    background-image: url(logo_appraisal_calculator.png); 
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 29px;
    text-indent: -8000em;
    overflow: hidden;
}
.inventory .calculator_logo {
    background-image: url(../images/logo_inventory_calculator.png); 
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 34px;
    text-indent: -8000em;
    overflow: hidden;
}
.appraisal .ping_logo {
    background-image: url(logo_appraisal_ping.png);
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 26px;
    text-indent: -8000em;
    overflow: hidden;
}
.inventory .ping_logo {
    background-image: url(../images/logo_inventory_ping.png);
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 26px;
    text-indent: -8000em;
    overflow: hidden;
}
.listings_overview {
    margin: 0.618em 0 0;
}

/* @end */

.form_list {
    list-style: none;
}

.horizontal li,
.horizontal dt,
.horizontal dd {
    display: inline;
}

section {
    margin-bottom: 1em;
}

.solid_white_box {
    border: 1px solid #a6b4c4;
    background-color: #fff;
}
.solid_white_box .pointless_design {
    border: 1px solid #fff;
}
.white_box {
    border: 1px solid #919dab;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
    background-image:    -moz-linear-gradient(top, #fff, #f7f7f7);
    background-image:      -o-linear-gradient(top, #fff, #f7f7f7);
    background-image:     -ms-linear-gradient(top, #fff, #f7f7f7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f7f7f7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f7f7f7)";
}
.white_box .pointless_design {
    border: 2px solid #fff;
}

.grey_box {
    border: 1px solid #919dab;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #fff, #e2e2e2);
    background-image:      -o-linear-gradient(top, #fff, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #fff, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2)";
}
.grey_box .pointless_design {
    border: 1px solid #fff;
}
.open .summary h3:before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 4px;
    margin-left: 2px;
    margin-right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4e5475;
}
.open .hide_on_open {
    display: none;
}
.collapsed .summary h3:before {
     content: "";
     display: inline-block;
     width: 4px;
     height: 0px;
     margin-left: 2px;
     margin-right: 4px;
     border-top: 4px solid transparent;
     border-bottom: 4px solid transparent;
     border-left: 4px solid #4e5475;
}
.collapsed .summary h3.external_link::before {
        display: none;
}
.summary {
    color: #0d004c;
    min-height: 1.4em;
}
.summary dt::before {
    content: " | ";
    position: relative;
    top: -2px;
}
.summary dt:first-child::before {
    content: ""
}
.summary dd {
    font-weight: bold;
}
.button {
    cursor: pointer;
    border: 1px solid #4e5475;
    padding: 2px 1em;
    border-radius: 0.309em;
    overflow: hidden;
    color: #fff;
    text-shadow: #6e758e 2px 1px 1px;
    box-shadow: inset 0px 0px 1px 1px #fff;
    font-weight: bold;
    background-image: url(background_gradient_button.png);
    background-position: 0 -18px;
}
.tabs button:active, .tabs button:selected {
    border: none;
    outline: none;
}
.button.light {
    border-radius: 0.309em;
    background-image: none;
    background-color: #ededed;
    border-color: #919dab;
    text-shadow: none;
    color: #324c77;
    font-weight: normal;
    text-decoration: underline;
    font-size: 0.618em;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 2px 2px #fff;
    width: auto;
    height: auto;
}
.button.light.disabled:hover, 
.button.light.disabled {
	color: #999;
}
.button.light:hover {
    text-decoration: none;
    background-color: #dedede;
    border-color: #828d99;
}
.button.red {
    background-position: 0 -129px;
}
.button.blue {
    background-position: 0 -183px;
}
.button.lt_green {
    background-position: 0 -239px;
}
button.green {
    background-position: 0 -294px;
}
#controls .button {
    text-transform: uppercase;
}
#controls button.saving {
    background-position: 0 -294px;
}
input {
    border-width: 1px;
}
button.link,
input.link {
    color: #002157;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background-color: transparent;
}
abbr.sm_caps {
    font-variant: small-caps;
}
.tabs li button {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #fff, #e2e2e2);
    background-image:      -o-linear-gradient(top, #fff, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #fff, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2)";
}
.tabs li {
    position: relative;
}
.symbol {
    font-weight: normal;
    font-family: arial;
}
.vehicle_info {
    color: #3f3f3f;
}
#vehicle_details {
    color: #555;
    font-size: 0.9em;
    vertical-align: top;
}
#vehicle_details .body_style {
    background-color: #fbea9f;
    border-color: #a8a8a8;
}
#vehicle_details .model_configuration {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}
#vehicle_details .pointless_design {
    padding: 0.309em 0.618em 0;
}
#vehicle_details .items {
    display: inline-block;
    width: 33em;
}
#vehicle_details dl.attributes {
    margin-bottom: 0;
    max-width: 40em;
    margin-left: 10em;
}
#vehicle_details dd.mileage {
    width: 6em;
}
#vehicle_details dd.color {
    width: 5em;
}
#vehicle_details .mileage,
#vehicle_details .color {
    text-transform: uppercase;
}
#vehicle_details .lot_location, 
#vehicle_details .interior_color {
    font-size: 0.85em;
}
#vehicle_details dd.lot_location {
    width: 6.246em;
}
#vehicle_details dd.interior_color {
    width: 12.128em;
}
#vehicle_details .attributes dt, 
#vehicle_details .attributes dd {
    text-align: left;
    display: inline-block;
}
#vehicle_details .attributes dd {
    font-weight: bold;
    color: #000;
    margin-right: 0.618em;
}
#vehicle_details ul.form_list {
    float: right;
    text-align: right;
}
#vehicle_details ul.form_list a {
    font-size: 0.9em;
}
#vehicle_details ul.form_list button {
    font-size: 0.8em;
    text-transform: capitalize;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: url(../images/icon_edit_details.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

#appraisal_type label {
    color: #3f3f3f;
    font-size: 1.2em;
    margin-right: 1.618em;
}
#appraisal_type p label {
    font-size: 1em;
    font-weight: normal;
    margin-right: 0;
}
#appraisal_type legend {
    font-weight: bold;
    text-indent: 0.618em;
}
#appraisal_type p {
    padding-top: 0.319em;
    padding-right: 0.618em;
    float: right;
}
#appraisal_type ul.form_list {
    max-width: 50em;
}

input.readonly {
    background-color: transparent;
    border: none;
    cursor: text;
}
#external_links,
#external_links li {
    display: inline;
}
#external_links li { 
    margin-right: 1ex;
}
#notify {
    font-size: 0.9em;
    line-height: 1em;
    display: inline-block;
    border-radius: 0.75em;
    background-color: #dae2f2;
    border: 1px solid #c8d1e1;
}
#notify label {
    color: #404040;
    display: inline-block;
    padding: 0 1em;
    border-radius: 0.75em;
    border: 1px solid #fff;
}
#secondary_actions {
    display: block;
    text-align: right;
    max-width: 100%;
    list-style: none;
}
#secondary_actions li {
    display: inline;
    font-size: 0.75em;
}
#secondary_actions li a {
    color: #607380;
}
.average_mileage dd {
    font-weight: bold;
}
.market_days_supply {
    color: #0d004c;
    font-size: 14px;
}
.market_days_supply dd {
    font-weight: bold;
    font-size: 1.15em;
}
.listings_overview .market_listings {
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 0.2ex 0.5em;
    font-size: 1.3em;
    color: #040;
    font-style: italic;
    white-space: nowrap;
}
.listings_overview .market_listings .value {
    font-size: 1.2em;
}
#listings_summary p {
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#avg_graphic {
    margin: 0.618em 0 0;
    height: 97px;
}
#listings_include ul {
    margin-left: 0;
}
#listings_include li {
    border-left: 1px solid blue;
    padding-left: 0.8ex;
}
#listings_include li:first-child {
    border-left: none;
}
#listings_summary p button {
    border: transparent;
    background-color: transparent;
    font-size: 0.75em;
    color: #002157;
}
#listings_summary p button:first-child {
    display: none;
}
#global_search_controls .form_list li {
    text-align: right;
}
#global_search_controls .form_list label {
    text-align: left;
    display: inline-block;
    width: 49%;
}
#global_search_controls .form_list input, 
#global_search_controls .form_list select {
    width: 49%;
    text-align: right;
}
#global_search_controls .form_list .match label,
#global_search_controls .form_list .match input {
    width: auto;
}
.customer_offer {
    text-align: right;
    font-size: 1.2em;
    line-height: 1.5em;
}
.customer_offer input {
    width: 85%;
    margin-left: 0.3ex;
    background-color: #fbea9f;
    font-weight: 800;
    text-align: right;
    /* font-family: "Arial Black", Gadget; */
    padding: 0;
    font-size: 1em;
    line-height: 1em;
}
#customer_offer {
    clear: both;
    padding-bottom: 0.618em;
}
#customer_offer input {
    max-width: 11.3em;
}
#customer_offer a,
#customer_offer button.link {
    font-size: 0.6em;
}
#customer_offer button.button {
    font-size: .8em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    float: right;
    text-transform: uppercase;
}
#controls {
    margin-bottom: 0;
}
.sneeky_select select {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
}
.sneeky_select::after { /* Only Webkit */
    /*
    content: " ";
    display: inline-block;
    height: 1px;
    width: 1px;
    border-left: 0.3em solid transparent;
    border-top: 0.3em solid #777;
    border-right: 0.3em solid transparent;
    position: relative;
    top: -0.3em;
    left: -0.3em;
    */
}
.sneeky_select:hover select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    border: 1px solid #999;
    background-color: auto;
}
.sneeky_select:hover::after {
    display: none;
}
.logo,
.icon {
    display: inline-block;
    overflow: hidden;
    text-indent: -8000em;
    text-align: left;
}
.hr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #999;
    -moz-box-shadow: 0 1px 1px #dadde6;    
    -webkit-box-shadow: 0 1px 1px #dadde6;
    box-shadow: 0 1px 1px #dadde6;       
    height: 1px;
}
.hr hr {
    display: none;
}
html body .hidden {
    display: none;
}
.lt_gradient_box {
    border: 1px solid #919dab;
    -moz-box-shadow: 1px 1px 1px #b5b5b5;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #b5b5b5; /* background - 30% */
    box-shadow: 1px 1px 1px #b5b5b5;         /* background - 30% */
    margin-bottom: 0.618em;
}
.lt_gradient_box .pointless_design {
    border: 1px solid #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fff));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #fff);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #fff);
    background-image:      -o-linear-gradient(top, #f5f5f5, #fff);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#ffffff)";
}
table {
    border-spacing: 1px;
    display: table !important;
}
table.vehicle_list {
    table-layout: fixed;
}

.horizontal_table {
    border: 1px solid #808080;
    padding: 1px;
    table-layout: fixed;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.horizontal_table th {
    background-color: #eff0f1;
}
.horizontal_table th,
.horizontal_table td {
    font-size: 0.7em;
    padding: 0 1ex 0 1ex;
    text-align: left;
    max-height: 1em;
}
.horizontal_table tr:nth-child(even) th {
    background-color: #e6eaee;
    border-top: 1px solid #dee5ec;
    border-bottom: 1px solid #dee5ec;
}
.horizontal_table tr:nth-child(even) td {
    background-color: #f1f6fb;
    border-top: 1px solid #dee5ec;
}
.horizontal_table td {
    font-weight: bold;
    color: #1d1158;
}
a:link[target] {
    padding-right: 13px;
    background-image: url(../images/icon_new_window.png);
    background-position: 100% 20%;
    background-repeat: no-repeat;
}
#store_perfomance table.data {
    text-align: center;
    border: 1px solid #000;
}
table.data {
    table-layout: fixed;
    border: 1px solid grey;
    margin: 0.618em;
}
table.data caption {
    padding: 0 0.619ex;
    position: relative;
    bottom: -0.5ex;
    text-align: left;
    font-size: 0.8em;
}
table.data thead th:first-child {
    border-left: 1px solid #fff;
}
table.data thead th {
    padding: 0 1em;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid grey;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
}
table.data thead th.desc,
table.vehicle_list thead th.desc {
    background-color: #e2e2e2;
    background-image: url(../images/icon_arrows.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
}
table.data thead th.asc,
table.vehicle_list thead th.asc {
    background-color: #e2e2e2;
    background-image: url(../images/icon_arrows.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
table.data tbody td:first-child {
    border-left: 1px solid #f2f2f2;
}
table.data tbody td {
    background-color: #fff;
    padding: 0.618ex;
    border-left: none;
    border: 1px solid #f2f2f2;
}
table.vehicle_list {
    font-size: 0.8em;
    border: 1px solid grey;
}
table.vehicle_list caption {
    text-align: left;
    font-weight: bold;
    color: #4E5475;
}
table.vehicle_list thead th:first-child {
    border-left: 1px solid #fff;
}
table.vehicle_list thead th {
    font-size: 0.8em;
    padding: 0 1em;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid grey;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
}
table.vehicle_list tbody td:first-child {
    border-left: 1px solid #f2f2f2;
}
table.vehicle_list tbody td {
    padding: 0 0.5ex;
    background-color: #fff;
    padding: 0.618ex;
    border-left: none;
    border-right: 1px solid #f2f2f2;
}
table.vehicle_list tbody tr:nth-child(even) td {
    background-color: #eee;
}
ul.paging_list {
    max-width: 100%;
    display: block;
    text-align: right;
}
ul.paging_list li {
    display: inline;
    margin-right: 0.25ex;
}

fieldset legend {
    color: #4E5475;
}

.vehicle_info dl dt,
.vehicle_info dl dd {
    display: inline-block;
}
.vehicle_info dl dd {
    font-weight: bold;
}
.tabs {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
.tabs li {
    display: inline;
    padding: 0;
    margin: 0;
}
.tabs li button {
    margin-bottom: -1px; /* to make up for the border-bottom 0 in webkit */
    padding: 0;
    cursor: pointer;
}
.tab_box .tab_content {
    margin-top: 0;
    padding: 1em 1ex 0.25ex;
}
.summary p, 
.summary dl {
    max-width: 100%;
}
.half {
    width: 99.9%;
}

.black_book.half {
    margin-right: 0;
}
.summary {
    cursor: pointer;
}
.summary h3 {
    position: relative;
}
.summary p, 
.summary dl {
    text-align: right;
    padding-right: 1em;
    margin-bottom: 0;
}
.summary span.value {
    font-weight: bold;
}
.summary dl * {
    display: inline;
}
#application_tabs {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-left: -0.618em;
    padding-right: 1.236em;
    border-bottom: 1px solid #919dab;
}
#application_tabs li {
    display: inline-block;
    width: 49%;
    background-color: #fff;
}
#application_tabs li.current {
    position: relative;
    top: 1px;
    border-top: 1px solid #919dab;
    border-right: 1px solid #919dab;
    border-bottom: 2px solid white;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#fff));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #fff);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #fff);
    background-image:      -o-linear-gradient(top, #e2e2e2, #fff);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#ffffff)";
    text-indent: 20px;
}
#application_tabs li.ping .logo {
    background-image: url(../images/logo_ping_iii_with_unit_pricing_power.png);
    width: 356px;
    height: 25px;
}
#application_tabs li.max_for_s_and_em .logo {
    background-image: url(../images/logo_max_for_s_and_em.png);
    width: 366px;
    height: 19px;
}

div.book_box .rebook {
    background-image: url(../images/icon_attention_sm.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
}
div.book_box .update_bookout, 
div.book_box .rebook {
    float: right;
}
div.book_box .book_values .logo {
    float: left;
}
div.book_box dl,
div.book_box dl dt,
div.book_box dl dd {
    display: inline-block;
    margin: 0;
}
div.book_box table {
    width: 100%;
}
button.vhr .icon,
button.vhr .logo {
    margin-bottom: -7px;
}
#link_to_mmr .logo {
    background-image: url(../images/logo_mmr_button.png);
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.carfax_status {
    position: relative;
    top: 2px;
    background-image: url(../images/icon_report_state.gif);
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}
.carfax_status.valid {
    background-position: 0 -21px;
}
.carfax_status.error {
    background-position: 0 -42px;
}
.carfax_status.expired {
    background-position: 0 -64px;
}
.autocheck_logo {
    background-image: url(../images/logo_autocheck.png);
    width: 94px;
    height: 25px;
}
.carfax_logo {
    background-image: url(../images/logo_carfax.png);
    width: 94px;
    height: 18px;
}
.carfax_ok_logo {
    position: relative;
    top: -2px;
    background-image: url(../images/icon_carfax_ok.png);
    width: 22px;
    height: 22px;
}
.carfax_buy_back_guarentee_logo,
.carfax_one_owner_logo,
.carfax_no_accident_logo,
.carfax_clean_title_logo {
    display: none;
}
#dealer_sales_report table {
    width: 100%;
    overflow: hidden;
}
#dealer_sales_report table thead tr {
}

footer .branding {
    background-image: url(../images/logo_sm_firstlook_on_fff.png);
    background-repeat: no-repeat;
    width: 212px;
    height: 28px;
}
footer .fl_copyright {
    font-size: 0.7em;
    color: #545454;
}
footer .current_user {
    color: #545454;
}
footer .current_user .value {
    text-transform: uppercase;
    font-weight: bold;
}


.overlay .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(70)";
    z-index: 1000;
}
.overlay.black .mask {
    background-color: #000;
}
.overlay.white .mask {
    background-color: #fff;
}
.overlay.blue .mask {
    background-color: #001f41;
}
.overlay .overlay_content {
    position: fixed;
    top: 0%;
    left: 1%;
    right: 1%;
    margin: 5em auto;
    width: 80%;
    max-width: 70em;
    z-index: 1001;
}
.overlay .overlay_content .pointless_design {
    border-width: 2px;
}
.overlay fieldset {
    padding-top: 2em;
    overflow: visible;
}
.overlay fieldset legend {
    font-weight: bold;
    text-indent: 1.618em;
    background-color: #e4e4e4;
    border-bottom: 1px solid #dbdbdb;
    color: #4e5475;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.overlay .button_close {
    display: block;
    font-weight: bold;
    font-size: 1.618em;
    position: absolute;
    border-radius: 1.618em;
    border: 1px solid #fff;
    top: -0.309em;
    right: -0.309em;
    padding: 0 0.321em;
    background-color: #707996;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #000;
    color: #fff;
    z-index: 100;
}
table.form_table {
    width: 100%;
}
table.form_table thead th {
    font-weight: bold;
}
table.form_table thead th, 
table.form_table tbody td {
    text-align: left;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #ededed);
    background-image:    -moz-linear-gradient(top, #fdfdfd, #ededed);
    background-image:      -o-linear-gradient(top, #fdfdfd, #ededed);
    background-image:     -ms-linear-gradient(top, #fdfdfd, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfdfd, endColorstr=#ededed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfdfd, endColorstr=#ededed)";
}
.form_pair,
dl.form_pair dt,
dl.form_pair dd {
    display: inline-block;
}
ul.form_pair li {
    list-style: none;
}
ul.form_pair li, 
dl.form_pair dt,
dl.form_pair dd {
    margin-top: 0.309em;
    margin-bottom: 0.618em;
}
.form_pair {
    max-width: 40em;
}
dl.form_pair dt {
    width: 7em;
}
dl.form_pair dd input, 
dl.form_pair dd select {
    width: 9em;
}
.overlay .form_pair {
    max-width: 17em;
}
.overlay dl.form_pair dt {
    width: 7em;
}
.overlay dl.form_pair dd input, 
.overlay dl.form_pair dd select {
    width: 9em;
}
#change_style a { display: inline-block; }

fieldset p.controls {
    margin: 0.309em 0.618em;
    padding-top: 0.309em;
    border-top: 1px solid #dbdbdb;
    max-width: 100%;
    text-align: right;
}
#internet_advertising_accelerator .half {
    vertical-align: text-top;
    padding: 0.309em 0.618em;
    width: 48%;
}
#internet_advertising_accelerator h5 {
    font-size: 0.9em;
}
#internet_advertising_accelerator .half > a {
    float: right;
}
#internet_advertising_accelerator .text_content {
    clear: right;
    background-color: #fff;
    height: 8em;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

#ping_and_calculator {
    z-index: 100;
    position: relative;
}
#market_listings {
    z-index: 50;
    position: relative;
    top: -2em;
    padding-top: 2em;
    margin-bottom: -1em; /* section bottom - this top */
}
#market_listings,
#market_listings .pointless_design {
    border-radius: 10px; 
}

#market_listings p {
    max-width: 99%;
    text-indent: 0.618em;
    color: #222;
    margin-bottom: 0;
    text-align: right;
}
#market_listings p .value {
    font-weight: bold;
}
/*#market_listings p button {
    float: right;
}*/
table.listings {
    font-size: 0.8em;
    table-layout: fixed;
}
table.listings tr th {
    color: #fff;
    text-shadow: #6e758e 1px 1px 1px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.9em;
    background-color: #a9a9a9
    border-top: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    border-bottom: 1px solid #7f7f7f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9a9a9), to(#8c8c8c));
    background-image: -webkit-linear-gradient(top, #a9a9a9, #8c8c8c);
    background-image:    -moz-linear-gradient(top, #a9a9a9, #8c8c8c);
    background-image:      -o-linear-gradient(top, #a9a9a9, #8c8c8c);
    background-image:     -ms-linear-gradient(top, #a9a9a9, #8c8c8c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a9a9a9, endColorstr=#8c8c8c);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a9a9a9, endColorstr=#8c8c8c)";
}
table.listings tbody td {
    color: #3f3d3c;
    border-right-color: #fcfcfc;
    border-left: none;
    border-bottom-color: #e1e3ed;
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}
table.listings tbody tr:nth-child(4n+1) td,
table.listings tbody tr:nth-child(4n+2) td {
    border: 1px solid #f2f2dd;
    background-color: #f0f2fc; 
}
table.listings .ad_button .button {
    text-decoration: none;
    padding: 0 0.308em;
    font-size: 1.0em;
}
table.listings .seller {
    min-width: 5em;
    max-width: 20em;
}
table.listings .listings_description {
    min-width: 20em;
    max-width: 45em;
}
table.listings .certified.true {
    background-image: url(../images/icon_green_check_sm.png);
    background-repeat: no-repeat;
    background-position: center;
}
table.listings .mileage,
table.listings .internet_price,
table.listings .percent_market_avg,
table.listings .distance {
    text-align: right;
    padding-right: 0.618em;
}
table.listings tr.ad td {
    font-size: 1em;
}
table.listings tr.ad td .description {
    display: inline-block;
    width: 45%;
}
table.listings tr.ad td dl {
    display: inline-block;
    width: 45%;
}
table.listings tr.ad td dl dd {
    font-weight: bold;
    margin-right: 2em;
}
table.listings .stock_num .vin {
    font-size: 0.9em;
    color: #727272;
}
table.listings tr.ad td dl dt,
table.listings tr.ad td dl dd {
    display: inline;
}
table.listings tr.ad td p .sellers_descrition {
    font-weight: bold;
}
table.listings tr .ad_button { width: 1em; }
table.listings tr .age { width: 2em; }
table.listings tr .seller { width: 15em; }
table.listings tr .certified { width: 5em; }
table.listings tr .color { width: 4em; }
table.listings tr .mileage { width: 4em; }
table.listings tr .internet_price { width: 10em; }
table.listings tr .percent_market_avg { width: 9em; }
table.listings tr .distance { width: 5em; }
table.full {
    width: 98.5%;
}
p.message {
    padding: 0 1em;
    margin: 0.25ex;
    background-color: #e5f6ff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #b0a88a;
}
p.error {
    padding: 0 1em;
    margin: 0.25ex;
    background-color: #fff6e5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #8aa8b0;
    font-weight: bold;
    color: #451408;
    text-shadow: #b4bcbe 1px 1px 1px;
    max-width: 100%;
    text-align: center;
}
#market_listings .paging_list {
    margin-right: 1em;
    font-size: 1em;
}
table.listings tbody tr.highlighted td {
    background-color: #AABBFF;
}
.person_manager {
	background: #fff;
	border: #000 solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
.person_manager .add_controls {
   position: absolute;
}
.person_manager .add_controls {
   position: absolute;
   right: 33px;
   top: 16px;
   z-index: 100;
}
.person_table_wrapper {
	padding: 1em 0;
}
.person_manager table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 98%;
	border: 1px solid #000;
	font-size: 9pt;
}
.person_manager table tbody tr:nth-child(even) td {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #efefef, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #efefef, #e2e2e2);
    background-image:      -o-linear-gradient(top, #efefef, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #efefef, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#efefef, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#efefef, endColorstr=#e2e2e2)";
}
.person_manager table .first_name {
	width: 11em;
}
.person_manager table .first_name {
	width: 10em;
}
.person_manager table .last_name {
	width: 12em;
}
.person_manager table .last_name input {
	width: 11em;
}
.person_manager table .email {
	width: 12em;
}
.person_manager table .email input {
	width: 11em;
}
.person_manager table .phone {
	width: 8em;
}
.person_manager table .phone input {
	width: 7em;
}
.person_manager table .controls {
	width: 6em;
	font-size: 10pt;
}
.highlightvehicle
{
    background: none;
    border: none;
    color: #002157;
    font-size: 0.75em;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
    padding: 0;
    cursor: pointer;
    display: inline;
}
.paging_list .current .button {
    font-weight: bold;
    color: #7a7a7a;
    border-color: #999;
    background-image: none;
    background-color: #fff;
}
.loading .loader_mask {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #eee;
    text-align: center;
    opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 900;
}
.loading .mask_image {
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -110px;
    width: 220px;
    height: 19px;
    background-image: url(../images/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000;
}
.more_links {
    clear: both;
}

.global_loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 24px;
    z-index: 10000;
}
.global_loader div {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 14px;
    height: 24px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    border-top: none;
    padding: 3px 8px;
}
#ajax-loader.global_loader div {
    width: 140px;
    border: 1px solid #888; 
    border-top-width: 0;
    background: url('../images/ajax-loader2.gif')  no-repeat 128px center #eee;
}
#ajax-loader-error div {
    width: 345px;
    border: 1px solid #571510; 
    border-top-width: 0;
    background-color: #a4281f;
	color: #fff;
}



/*@media screen and (max-width: 33.236em) {*/
/*#appraisal_table .pointless_design {*/
/*    overflow: scroll;*/
/*    width: 100%;*/
/*    max-width: 20em;*/
/*}*/
/*.tabs li button {*/
/*    padding-top: 1em;*/
/*    padding-bottom: 1em;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*}*/
/*}*/
/*@media screen and (min-width: 30em) and (max-width: 47.236em) {*/
/*#appraisal_table .pointless_design {*/
/*    overflow: scroll;*/
/*    width: 100%;*/
/*    max-width: 29em;*/
/*}*/
/*#avg_graphic {*/
/*    margin: 0.618em 0;*/
/*    width: 285px;*/
/*    height: 62px;*/
/*}*/
/*#avg_graphic embed {*/
/*    width: 285px;*/
/*    height: 62px;*/
/*}*/
/*}*/
