/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
	padding: 1.618em;
	margin: 0 auto;
	max-width: 71em;
	min-width: 71em;
}
#main .main_pointless_design {
    padding: 1ex;
}

h1 {
	font-size: 1.3em;
	line-height: 1.618em;
	margin-bottom: 0.1em;
}

ul {
	margin-left: 0.4em;
}

ol {
	margin-left: 0.4em;
}

nav#application_menu,
#ApplicationMenu, #ApplicationMenu ul.ui-menu {
	float: left;
}

nav#member_menu,
#MemberMenu, #MemberMenu ul.ui-menu {
	float:  right;
}

.estock .vehicle_description {
    margin-top: 0.618em;
}
.vehicle_description {
	display: inline-block;
}
.vehicle_info {
	display: inline-block;
	font-size: 0.8em;
}

.vehicle_info {
	float: right;
}
.vehicle_info dl {
	display: inline;
	text-align: left;
}
.vehicle_info dl dt {
	margin-left: 1em;
}
.vehicle_info p.controls {
    margin-left: 0.618em;
    font-size: 0.9em;
    display: inline-block;
    width: 12em;
}
.vehicle_info p.controls input {
    width: 6em;
}
.vehicle_info p.controls .button {
    text-decoration: none;
    width: 4em;
}
.vehicle_info p.controls .button .symbol.right_arrow {
    overflow: hidden;
    text-align: left;
    text-indent: -8000em;
    text-decoration: none;
    background-image: url(../../images/icon_rh_arrow_sm.png);
    background-position: center left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 14px;
} 
#change_style .pointless_design {
	background-color: #eee;
	padding: 0.25ex;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#change_style {
	background-color: #fff;
	padding: 2px;
	border: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.tabs {
    white-space: nowrap;
    max-width: 100%;
}
.tabs li button {
    margin-bottom: -1px; /* to make up for the border-bottom 0 in webkit */
    padding: 0.618em 1em;
    cursor: pointer;
    font-weight: bolder;
    font-family: Arial;
    color: #4e5475;
    text-indent: 0.25ex;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
.tabs li.current button {
    cursor: default;
}
.tabs li.current button::after {
    top: 0.8ex;
    left: 1ex;
    position: absolute;
    content: " ";
    display: block;
    width: 0px;
    height: 4px;
    border-top: 4px solid #4e5475;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.tabs li button::after {
    top: 0.8ex;
    left: 1ex;
    position: absolute;
    content: " ";
    display: block;
    width: 4px;
    height: 0px;
    border-top: 4px solid transparent;
    border-left: 4px solid #4e5475;
    border-bottom: 4px solid transparent;
}
.tabs li.current button {
    text-indent: 1ex;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#fff));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #fff);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #fff);
    background-image:      -o-linear-gradient(top, #e2e2e2, #fff);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#ffffff);
}
.tab_box .two_tabs li button {
    width: 49.9%;
}
.tab_box .three_tabs li.current button {
    width: 33.2%;
}
.tab_box .three_tabs li button {
    width: 33.125%;
}
.tab_box .three_tabs li button {
    width: 33.125%;
}
.moz .tab_box .two_tabs {
    width: 49.8%;
}
.moz .tab_box .three_tabs li.current button {
    width: 33%;
}
#secondary_actions {
    float: right;
}
#ping_and_calculator #search_controls .tabs li:nth-child(2) button {
    border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    overflow: hidden;
}
#listings_summary p button.right {
    display: block;
    float: right;
    margin-top: 0.618em;
}
#listings_summary p button.left {
    display: block;
    float: left;
}
div.book_box .manual_bookout p {
	display: block;
}
div.book_box .manual_bookout p label {
	display: inline-block;
	width: 7em;
}
div.book_box .update_bookout {
    float: right;
}
div.book_box .book_values .logo {
    float: left;
}
div.print .book_values {
    float: left;
    max-width: 54em;
}
.book_values p {
    margin: 0 0.618em;
}
.book_values .edit_equipment {
    max-width: 52em;
    margin: 0.5em;
}
div.book_box .print_forms {
    float: right;
    clear: right;
    width: 13em;
    margin-top: 2.309em;
}
div.book_box .print_forms ul {
    list-style: none;
}
.book_values .edit_equipment ul {
    max-width: 60em;
    margin-top: 0.618em;
}
.book_values .edit_equipment ul li {
    display: inline-block;
    width: 35.3em;
    border: 1px solid #fff;
    font-size: 0.8em;
}
.book_values .edit_equipment ul li.selected {
    background-color: #efefff;
    border-color: #dfdfff;
}
.book_values .edit_equipment ul li:hover {
    background-color: #efefef; 
    border: 1px solid #dfdfdf;
}
div.book_box table tbody td {
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
}
.book_box .selected_equipment {
	position: relative;
}
.book_box .selected_equipment button {
	position: absolute;
	bottom: 1ex;
	right: 0.5ex;
}
#controls .form_list {
    max-width: 66%;
    display: inline-block;
}
.third {
    width: 32%;
    margin: 0.618ex;
}

.half {
    width: 49%;
    margin: 0;
}
#books .half:nth-child(1),
#books .half:nth-child(4),
#books .half:nth-child(6) {
    margin-right: 1em;
}
#books .current {
    display: block;
    text-align: center;
    clear: both;
    border-top: 1px solid #cacaca;
    color: #666;
    padding-top: 0.618em;
}
#books .adjusted_value {
    color: #444;
}
#books .adjusted_value dd {
    font-size: 1.309em;
}
div.book_box dl dd {
    padding: 0 1em;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
div.naaa.half table .similar_mileage {
    width: 15em;
}

#ping_overview {
	float: left;
    margin-bottom: -0.618em;
	width: 31.5em;
}
#ping_overview ul.horizontal {
    margin-bottom: 0.309em;
    margin-top: 0.309em;
}
#ping_overview .avg_graphic,
#ping_overview .listings_include {
    margin-left: 0.309em;
}
#ping {
    float: right;
    width: 53em;
    position: relative;
    margin-right: -0.309em;
}
#ping ul.even {
    width: 24em;
    margin-left: 90px;
    padding-left: 1ex;
}
#ping .logo {
    position: absolute;
    top: 0.309em;
}
#search_controls {
    float: right;
    width: 21em;
    margin-top: -2px;
    border-left: 1px solid #abc0ea;
}
#search_controls .tabs li button {
    font-weight: normal;
    letter-spacing: -0.5px;
}
#search_controls .tabs li button .value {
    font-weight: bold;
}
#search_controls .tab_content {
    border: none;
    margin-right: 4px;
    border-left: 1px solid #fff;
}
#search_controls #global_search_controls .form_list li {
    padding-top: 0.618em;
}
#search_controls #global_search_controls label.dark {
    text-transform: lowercase;
    font-variant: small-caps;
    color: #686868;
    font-weight: bold;
}
#search_controls #global_search_controls .mileage label.dark {
    float: left;
    color: #666;
}
#search_controls #global_search_controls .match label {
    text-transform: lowercase;
    font-variant: small-caps;
}
#search_controls #global_search_controls .mileage label {
    width: auto;
}
#search_controls #global_search_controls .mileage select {
    width: 6em;
}
#search_controls #global_search_controls .modify_search_link {
    float: left;
}
#search_controls #global_search_controls .modify_search_link::before {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: -4px;
    margin-right: 4px;
    background-image: url(icon_modify_search.png);
    content: " ";
}
#search_controls #global_search_controls p.generated_by {
    color: #999;
    line-height: 1em;
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}
#search_controls #global_search_controls p.generated_by .value {
    font-weight: bold;
}
#search_controls #global_search_controls p.generated_by .search_user {
    text-transform: uppercase;
}
#ping,
#calculator,
#search_controls {
    vertical-align: top;
    display: inline-block;
}
#calculator {
    width: 15.618em;
    padding-right: 0.618em;
    border-right: 1px solid #a0b4d9;
}
#calculator .calculator_logo {
    margin: 0.309em;
}
#calculator .form_list {
    margin-bottom: 0;
}
#calculator .form_list li {
    text-align: right;
}
.appraisal #calculator .form_list li {
    padding-top: 0.418em;
    line-height: 2.2em;
}
.inventory #calculator .form_list li {
    padding-top: 1em;
}
.inventory #calculator .form_list li .current {
    color: #555;
    font-size: 0.7em;
    text-align: left;
    position: absolute;
    text-indent: 0.309em;
}
.inventory #calculator .form_list li .value {
    font-weight: bold;
    color: #222;
}
#calculator .form_list li span,
.customer_offer span {
    font-size: 1.35em;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
    line-height: 1.45em;
}
#calculator .form_list .appraisal_value span { 
    font-size: 2.1em;
    line-height: 1.2em; 
}
.customer_offer span { 
    font-size: 1.75em; 
}
#calculator .form_list label {
    width: 6.5em;
    font-size: 0.8em;
    line-height: 1.2em;
    float: left;
    text-align: left;
}
#calculator .form_list li input {
    float: right;
    margin-left: 5px;
}
#calculator .form_list li input, 
#calculator .form_list li select,
.customer_offer input,
.target_market_average input {
    width: 5em;
    text-align: right;
    font-size: 1.35em;
    padding: 0 .2em;
    font-weight: bold;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.35);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.35);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.35);
    border: 1px solid #999999;
    color: #414141;
}
#calculator .form_list li input.readonly { 
    border: 1px solid transparent; 
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    -ms-filter: none;
}

/*#calculator .form_list .target_selling_price input { width: 5.59em; }*/
#calculator .form_list .unit_cost input { color: #777; }
#calculator .form_list .potential_gross_profit input { color: #1f7a50; }
#calculator .form_list .target_selling_price input { color: #1f7a50; }
#calculator .form_list .appraisal_value input,
.customer_offer input {
    font-size: 1.65em;
    width: 185px;
    background-color: #fbea9f;
}
.customer_offer input { font-size: 1.6em; }

#calculator .form_list .appraisal_value label { 
    display: block; 
    float: none;
    margin-bottom: 2px;
}

#calculator .form_list .appraisal_value label {
    color: #002157;
    font-size: 1.1em;
    width: auto;
}


#calculator .form_list .appraisor label {
    padding-right: 1em;
}
#calculator .form_list .target_selling_price label {
    padding-right: 1em;
}
#calculator .form_list .hr {
    margin-bottom: 5px;
}

#search_controls .tabs li:first-child button {
    margin-right: -5px;
    border-left-color: #fff;
}
#listings_include {
	margin-top: 0.2em;
	margin-bottom: 0;
    font-size: 0.9em;
	line-height: 1em;
	height: 2.1em;
	overflow: hidden;
}
#listings_include h4, #listings_include p {
	display: block;
	line-height: 1.0em;
	margin-bottom: 0;
	float: left;
}
#listings_include h4 {
    font-weight: normal;
}
#listings_include p {
    font-size: 0.8em;
    padding-left: 0.8ex;
	width: 34em;
	max-width: 100%;
	margin-top: 0.2em;
}
#listings_summary {
    clear: both;
}
.listings_overview {
    margin: 0;
}
.listings_overview li {
    vertical-align: bottom;
    padding-top: 2px;
    padding-bottom: 2px;
}
#listings_summary p {
    border-top: 1px solid #a0b4d9;
    margin-left: -0.309em;
    padding-left: 0.309em;
    margin-right: 0.309em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}
.listings_overview .value {
    font-weight: bold;
}
.listings_overview .market_listings,
.listings_overview .avg_mileage, 
.listings_overview .current_mileage {
    position: absolute;
    bottom: 1.309em;
}
.listings_overview .avg_mileage {
	text-align: left;
	left: 15.3em;
	width: 10em;
    bottom: 1.618em;
}
.listings_overview .current_mileage {
	text-align: left;
	left: 36em;
	width: 8em;
    font-size: 0.7em;
    color: #555;
    padding: 0;
	bottom: 2.409em;
}
.listings_overview .market_listings {
    border-top: 1px solid #a0b4d9;
    border-right: 1px solid #a0b4d9;
    border-bottom: 1px solid #fff;
    margin-bottom: -2px;
    margin-top: 1px;
	left: -0.275em;
}
.listings_overview .market_listings .value {
    font-weight: bold;
}
#customer_offer p {
    display: inline-block;
    margin-bottom: 0;
}
#customer_offer .horizontal.form_list {
    display: inline;
}
.summary {
    position: relative;
}
.summary h3 {
    position: absolute;
    left: 1em;
    top: 0.3em;
}
#notify {
    float: right;
}
.warning_list {
    display: block;
    max-width: 99%;
    text-align: right;
    list-style: none;
}
.warning_list li {
    margin-bottom: 0.308em;
}
.warning_list span {
    display: inline-block;
    width: auto;
    padding: 0 1em;
}
.warning_list .hard {
    background-color: #ffbebe;
    color: #650000;
    border: 1px solid #650000;
    border-radius: 0.618em;
}
.warning_list .soft {
    background-color: #beffbe;
    color: #006500;
    border: 1px solid #006500;
    border-radius: 0.618em;
}
#actions {
    float: right;
}
.market_days_supply, 
.target_market_average {
    text-align: right;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
}
.market_days_supply {
    padding-left: 1em;
    text-align: center;
}
.target_market_average input {
    max-width: 3em;
    font-size: 1.1em;
    margin-left: 5px;
}
.horizontal {
    display: inline-block;
}
.horizontal.even {
    display: table;
    table-layout: fixed;
}
.horizontal.even li {
    display: table-cell;
}
#link_to_mmr {
    color: #3b6d9a;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: 1px solid #3b6d9a;
}
#link_to_mmr .logo {
    display: inline;
    text-indent: 0;
    font-size: 1.3em;
    font-variant: normal;
    text-transform: capitalize;
    font-family: Impact, 'Arial Black';
}
.open_more {
    font-size: 0.8em;
    float: right;
    padding-top: 0.7em;
}
.open_more::before {
    content: " ";
    display: inline-block;
    width: 0.5ex;
    height: 0px;
    border-top: 0.5ex solid transparent;
    border-left: 0.5ex solid #002157;
    border-bottom: 0.5ex solid transparent;
}
#vhr {
    padding-bottom: 0.618em;
}
#vhr .half:first-child {
    margin-right: 1ex;
}
#vhr .lt_gradient_box {
    position: relative
}
#vhr .half .logo {
    position: absolute;
    top: 1ex;
    left: 1em;
}
#vhr .half .report_link {
    font-size: 0.8em;
    position: absolute;
    top: 5.618em;
    left: 2.618em;
}
#vhr .horizontal_table {
    margin-top: 0.618em;
    margin-left: 53%;
    width: 45%;
}
#vhr .half .inspection_list {
    width: 45%;
}
#vhr .full .logo, 
#vhr .full .report_link {
    margin-left: 1.618em;
    margin-top: 0.618em;
}
#vhr .full .inspection_list {
    width: 23%;
}
#vhr .full table {
    margin-bottom: -6em;
}
#vhr .inspection_list {
    list-style: none;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 0.618em;
}
#vhr .inspection_list.first {
    margin-left: 2em;
}
#vhr .inspection_list li {
    padding-left: 2em;
    margin: 1px;
    font-size: 0.8em;
    color: #493f78;
}
#vhr .inspection_list li.selected {
    background-image: url(../images/icon_green_check_sm.png);
    background-position: 4% 50%;
    background-repeat: no-repeat;
}
#print_center .third, 
#print_center .quarter {
    float: left;
}
li.selected {
    background-color: #eeedf2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #d4ccf2;
}
#print_center .controls {
    border-top: 1px solid #abb0c1;
    padding-top: 0.309em;
    clear: both;
    text-align: right;
}
header .light {
	display: inline-block;
    margin-top: 3px;
    margin-bottom: -3px;
    background-image: url(../images/icon_lights_lg.png);
    width: 20px;
    height: 20px;
}
header .green_light { background-position: 0 -20px; }
header .yellow_light { background-position: 0 -45px; }
header .red_light { background-position: 0 -72px; }
.light {
	display: inline-block;
    margin-top: -3px;
    margin-bottom: -3px;
    background-image: url(../images/icon_lights_sm.png);
    height: 14px;
}
.unknown_light { width: 14px; } 
.green_light { background-position: 0 -14px; width: 14px; }
.yellow_light { background-position: 0 -32px; width: 14px; }
.red_light { background-position: 0 -51px; width: 14px; }

.trade_manager header ul {
    display: inline-block;
    float: right;
    margin: 0 0.618em;
}
.trade_manager header ul li:first-child {
    border-left-width: 0;
}
.trade_manager header ul li {
    display: inline;
    margin: 0;
    padding-right: 0.618em;
    padding-left: 0.618em;
    border-left: 1px solid #3b6d9a;
}
.table_tabs ul.tabs {
	margin-left: -1px;
	padding-top: 8px; /* matches negative top from values */
}
.table_tabs ul.tabs li {
	margin: 0 1px;
}
.table_tabs ul.tabs li button {
   font-size: 0.65em; 
}
.table_tabs ul.tabs li.current button .value {
	background-color: #4E5475;
	border: 1px solid #34384e;
}
.table_tabs ul.tabs li button .value {
	float: none;
	zoom: 1;
	position: absolute;
	display: block;
	top: -13px;
	right: 0;
	background-color: #999999;
	border: 1px solid #757575;
	color: #fff;
	padding: 0 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 10px;
    text-shadow: #6e758e 2px 1px 1px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
.table_tabs ul.tabs li.none button {
	color: #808080;
}
.table_tabs ul.tabs li button::after {
	display: none;
}
#appraisl_bucket_tabs, #appraisal_table {
    margin-top: 0;
    margin-bottom: 0;
}
#appraisal_table .controls {
    float: right;
    margin-bottom: -1.618em;
    margin-right: 0.618em;
}
#appraisal_table {
    margin-top: 0;
    border: 1px solid #919DAB;
    padding: 1em 1ex 0.25ex;
    background-color: #fff;
}
#appraisal_table td {
    color: #3f3f3f;
}
#appraisal_table tr:hover td {
    background-color: #fcfceb;
    color: #000;
}
#last_appraisal .right {
    text-align: right;
}
#last_appraisal .nowrap {
    white-space: nowrap;
}
#last_appraisal .no_appraisal {
    padding-left: 2.5em;
}
.trade_manager #trade_manager_search {
    border: 1px solid #4E5475;
    position: relative;
}
.trade_manager #trade_manager_search .controls {
    position: absolute;
    margin-top: -1em;
    right: 0.618em;
    top: 50%;
}
.trade_manager #trade_manager_search p {
    margin-bottom: 0;
}
.trade_manager #trade_manager_search .more_search {
    display: none;
}
.carfax_buy_back_guarentee_logo,
.carfax_one_owner_logo,
.carfax_no_accident_logo,
.carfax_clean_title_logo {
    display: inline-block;
}
.carfax_buy_back_guarentee_logo {
    position: relative;
    top: -2px;
    background-image: url(../images/icon_carfax_buy_back_guarentee.png);
    width: 27px;
    height: 20px;
}
.carfax_one_owner_logo {
    position: relative;
    top: -3px;
    background-image: url(../images/icon_carfax_one_owner.png);
    width: 23px;
    height: 23px;
}
.carfax_no_accident_logo {
    background-image: url(../images/icon_carfax_no_accident.png);
    width: 88px;
    height: 16px;
}
.carfax_clean_title_logo {
    background-image: url(../images/icon_carfax_clean_title.png);
    width: 77px;
    height: 16px;
}
#store_perfomance table {
    width: auto;
    overflow: auto;
}
#store_perfomance table thead tr {
    font-size: 1em;
}
.appraisal_listings {
	border: 1px solid #919DAB;
}
.appraisal_listings fieldset p {
    text-align: right;
    max-width: 100%;
    width: 100%;
}
table.vehicle_list {
    margin: 0.618em 0 0.618em 0.618em;
    width: 86em;
	table-layout: fixed;
}
table.vehicle_list th.edit,
table.vehicle_list td.edit { width: 2em; text-transform: lowercase; font-variant: small-caps; }
table.vehicle_list th.risk,
table.vehicle_list td.risk { width: 2em; }
table.vehicle_list th.created_date,
table.vehicle_list td.created_date { width: 8em; }
table.vehicle_list th.vehicle,
table.vehicle_list td.vehicle { color: #111; }
table.vehicle_list th.customer,
table.vehicle_list td.customer { width: 10em; }
table.vehicle_list th.color,
table.vehicle_list td.color { width: 7em; }
table.vehicle_list th.mileage,
table.vehicle_list td.mileage { width: 5em; }
table.vehicle_list th.sales_person,
table.vehicle_list td.sales_person { width: 10em; }
table.vehicle_list th.appraisal,
table.vehicle_list td.appraisal { width: 5em; color: #111; }
table.vehicle_list th.inventory_decision,
table.vehicle_list td.inventory_decision { width: 10em; }
table.vehicle_list td.inventory_decision select { width: 8em; }
footer .branding {
    position: relative;
    top: -0.618em;
    padding-right: 1em;
}
footer .fl_copyright {
    display: inline-block;
    margin-bottom: 0;
}
footer .current_user {
    float: right;
}
.horizontal dl {
    display: inline;
}
#potential_deal fieldset legend {
    font-weight: bold;
    text-decoration: underline;
}
#potential_deal fieldset {
    display: inline-block;
    vertical-align: top;
	font-size: 0.80em;
}
#potential_deal.white_box fieldset label {
    color: #555;
}
#potential_deal.white_box li {
    margin-bottom: 0.618em;
}
#potential_deal fieldset:nth-child(2) {
    border-left: 1px solid #c5cae5;
}
#potential_deal_fieldset ul.form_list label {
    display: inline-block;
    width: 11em;
}
#customer_information ul.form_list label {
    display: inline-block;
    width: 5em;
}
#customer_information dl.form_pair {
    margin-bottom: 0;
    margin-left: 0.309em;
}
#customer_information dl.form_pair dt {
    width: 5.308em;
}
#customer_information dl.form_pair input {
    width: 8em;
    margin-right: 1.618em;
}
#potential_deal_fieldset a {
    margin-left: 11.309em;
    display: block;
}
#potential_deal ul.horizontal {
    max-width: 100%;
}
#reconditioning_form {
    padding: 0.618em;
}
#reconditioning_form legend {
    font-weight: bold;
}
#reconditioning_form textarea {
    display: block;
    width: 99%;
}
#potential_deal ul.horizontal li {
    vertical-align: top;
    padding-right: 1.618em;
    display: inline-block;
}
#potential_deal ul.horizontal .salesperson select {
    width: 15em;
}
#potential_deal ul.horizontal .salesperson a {
    font-size: 0.8em;
}
#dealer_sales_report table {
    width: 98%;
    table-layout: auto;
}
#dealer_sales_report table tbody td {
	text-align: center;
}
#dealer_sales_report .show_dealer_group_results {
    float: right;
    margin-bottom: -1.618em;
    margin-right: 1.618em;
}
#dealer_sales_report .view_deals {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 0.9em;
    text-decoration: none;
    float: right;
    margin-bottom: -1.618em;
    margin-right: 1.618em;
    line-height: 1.2em;
    color: #fff !important;
}
#dealer_sales_report p {
    text-indent: 0.618em;
    color: #666;
}
.advanced_search {
	position: absolute;
	background-color: #fff;
	border: 2px solid #4E5475;
	z-index: 10;
	padding: 1ex;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
.advanced_search .field_handle {
		display: block;
		position: absolute;
		top: -12px;
		left: 15em;
		border-bottom: 10px solid #4E5475;
		border-left: 10px solid #fff;
		border-right: 10px solid #fff;
		background-color: #4E5475;
}
#jd_power_frame {
    width: 980px;
	height: 460px;
    border: 1px solid grey;
    margin: 2px 7px;
}
#iaa_frame {
    width: 992px;
	height: 155px;
}
#books_overlay {
	background-color: #fff;
	padding: 2px;
	border: 1px solid #000;
}
#reconditioning_overlay .pointless_design {
	background-color: #eee;
	padding: 0.25ex;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#reconditioning_overlay {
	background-color: #fff;
	padding: 2px;
	border: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.appraisal_submit_buttons
{
    list-style-type: none;
    height: 35px;
    max-width: 100%;
}

.appraisal_submit_buttons li
{
   float:right;
}

.appraisal_cancel a
{
    height:30px ; 
    display:block; 
    width:78px;
    background: url("../images/btn-cancel.gif") no-repeat scroll 0 0 transparent;
}
.appraisal_seeResults a
{
    padding-left:5px;
    height:30px ; 
    display:block; 
    width:106px;
    background: url("../images/btn-seeResults.gif") no-repeat scroll 0 0 transparent;
}
/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
/*@media screen and (min-width: 48em) and (max-width: 63.236em) {*/
/*    #container {*/
/*        width: 48em;*/
/*    }*/
/*    .table_tabs ul.tabs {*/
/*        white-space: normal;*/
/*    }*/

/*    .carfax_no_accident_logo,*/
/*    .carfax_clean_title_logo {*/
/*        display: none;*/
/*    }*/

/*    #appraisal_table {*/
/*        font-size: 0.8em;*/
/*    }*/
/*    #appraisal_table table {*/
/*        width: 100%;*/
/*    }*/

/*    [> todo: highlight tabs better when in this mode <]*/
/*}*/

/*@media screen and (min-width: 30em) and (max-width: 63.236em) {*/
/*.half {*/
    /*width: 99.9%;*/
/*}*/
/*.third {*/
    /*width: 46%;*/
    /*margin: 0.618ex;*/
/*}*/
/*.vehicle_info {*/
	/*float: none;*/
/*}*/
/*#secondary_actions {*/
    /*float: none;*/
/*}*/
/*#notify {*/
    /*float: none;*/
/*}*/
/*#actions {*/
    /*float: none;*/
/*}*/
/*}*/

