﻿@using Wanamaker.WebApp.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @if (!string.IsNullOrEmpty(ViewBag.ieViewDoc)) 
    {
        <meta http-equiv="X-UA-Compatible" content="IE=@ViewBag.ieViewDoc" />
    }
    <link rel="stylesheet" type="text/css" href="@Url.VersionedUrl("~/Themes/Max3.0/Main.debug.css")" />
    @if( ViewBag.CssLinks != null )
    {
    foreach (string link in ViewBag.CssLinks)
    {
        <link rel="stylesheet" type="text/css" href="@link" />
    }
    }
    <!--[if IE 7]>
	    <link href="@Url.VersionedUrl( "~/Themes/MaxMvc/IE7.debug.css" )" type="text/css" rel="stylesheet" media="screen" />
	<![endif]-->
    <!--[if IE 8]>
	    <link href="@Url.VersionedUrl( "~/Themes/MaxMvc/IE8.debug.css" )" type="text/css" rel="stylesheet" media="screen" />
	<![endif]-->
    
    <link rel="shortcut icon" href="@Url.Content( "~/App_Themes/MAX60/images/max.ico" )" type="image/x-icon" />
</head>
<body id="Dashboard" class="@(ViewBag.ViewingGroupDashboard?"GroupDashboard":"")" >
    <div id="Page" class="clearfix">
        <div id="Header" class="clearfix">@Html.Partial("~/Areas/Dashboard/Views/Shared/Header.cshtml")</div>
        <div id="Body" class="clearfix">
            @Wanamaker.WebApp.ProfilerSetting.RenderIncludes()
            <div id="Content" class="clearfix">
                @if (ViewBag.CustomMessage != null && !string.IsNullOrEmpty(ViewBag.CustomMessage.MessageText))
                {
                    <div id="UserMessaging">
                        <p class="@ViewBag.CustomMessage.MessageType.ToString().ToLower()">
                            @ViewBag.CustomMessage.MessageType : @ViewBag.CustomMessage.MessageText
                        </p>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
        <div id="Footer" class="clearfix">
        </div>
    </div>
    <div id="ScriptBlock">
@if (HtmlHelpers.IsDebugBuild())
{
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/json2.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery-1.8.2.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery-ui-1.9.0.custom.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.tmpl.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.tablesorter.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/highcharts-3.0.1.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/underscore-min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/date.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.mCustomScrollbar.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.mousewheel.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Max/MAX.UI.Global.debug.js")" type="text/javascript"></script>
        <input type="hidden" id="jsIsDebug" value="1" />
}
else
{
        <!-- Not using combined here because we need an older verion on highcharts-->
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/json2.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery-1.8.2.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery-ui-1.9.0.custom.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.cookie.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.tmpl.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.tablesorter.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.mCustomScrollbar.min.js")" type="text/javascript"></script>    
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.mousewheel.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/jquery.simpleplaceholder.min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/underscore-min.js")" type="text/javascript"></script>
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/date.js")" type="text/javascript"></script>    
        <script src="@Url.VersionedUrl("~/Public/Scripts/Lib/highcharts-3.0.1.js")" type="text/javascript"></script>
    
        <script src="@Url.VersionedUrl("~/Public/Scripts/Max/MAX.UI.Global.js")" type="text/javascript"></script>
}
        
        @if( ViewBag.JavaScripts != null )
        {
        foreach (string script in ViewBag.JavaScripts)
        {
            <script src="@script" type="text/javascript"></script>
        }
        }
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push( ['_setAccount', 'UA-1230037-1'] );
            _gaq.push( ['_trackPageview'] );

            (function () {
                var ga = document.createElement( 'script' ); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ( 'https:' == document.location.protocol ? 'https://ssl' : 'http://www' ) + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName( 'script' )[0]; s.parentNode.insertBefore( ga, s );
            } )();
        </script>

    </div>
</body>
</html>
