﻿<span class="mastheadLogo">MAX</span>

<div id="Navigation" class="clearfix">
    <ul id="MainNavList">
        @if (ViewBag.IsReportViewer == true)
        {
        <li onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Home (Dashboard)']);"><a href="@Url.Content( "~/Dashboard.aspx" )" id="lnkHome">Home</a></li>
        }
        <li id="NavInventoryLink" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Inventory']);"><a href="@Url.Content( "~/Workflow/Inventory.aspx" )" id="A1">Inventory</a></li>
        @if (ViewBag.IsReportViewer == true)
        {
        <li class="menuHead" id="ReportsMenu">
            <a onclick="return false;" href="#">Reports</a>
            <ul class="clearfix">
                @*If is in whitelist (see WorkflowHeader.aspx)*@
                @if (true)
                {
                    <li><a href="@Url.Content("~/Reports/VehicleActivityReport.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Low Activity Report']);">Low Activity</a></li>
                }
                <li><a href="@Url.Content("~/Reports/VehicleOnlineStatusReport.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Not Online Report']);">Not Online</a></li>
                @if (ViewBag.showOnlineClassifiedOverview == true)
                {
                    <li><a href="@Url.Content("~/Reports/PerformanceSummaryReport.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Performance Summary']);">Performance Summary</a></li>
                }
                <li><a href="@Url.Content("~/Dashboard.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Executive Dashboard']);">MAX Dashboard</a></li>
                @if (ViewBag.IsGldEnabled == true)
                {
                    <li><a href="@Url.Content("~/GroupDashboard.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Group Level Dashboard']);">MAX Group Dashboard</a></li>
                }
                @if (ViewBag.HasPricingSummary == true)
                {
                    <li><a href="@Url.Content("~/PricingSummary/PriceSummary?BusinessunitId=" + @ViewBag.BusinessUnit.BusinessUnitId)">Pricing Summary</a></li>
                }
                
                    
            </ul>
        </li>
        }
        <li class="menuHead" id="SettingsMenu">
            <a onclick="return false;" href="#">Settings</a>
            <ul class="clearfix">
                <li><a href="@Url.Content("~/CustomizeMAX/DealerPreferences.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'MAX Settings']);">MAX Settings</a></li>
                <li><a href="@Url.Content("~/DigitalPerformanceAnalysis.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Digital Performance Analysis']);">Digital Performance Analysis</a></li>
                <li><a href="@Url.Content("~/CustomizeMAX/DealerSetup.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Setup Wizard']);">Setup Wizard</a></li>
                @if (ViewBag.IsAdministrator == true)
                {
                    <li><a href="@Url.Content("~/CustomizeMAX/AdvancedDealerPreferences.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Advanced Dealer Preferences']);">Advanced Settings</a></li>
                    <li><a href="@Url.Content("~/CustomizeMAX/TemplateManager.aspx")" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Highlights Wizard']);">Highlights Wizard</a></li>
                }
            </ul>
        </li>
        @if (ViewBag.IsAdministrator == true)
        {        
            <li class="menuHead" id="AdminMenu">
                <a onclick="return false;" href="#">Admin</a>
                <ul class="clearfix">
                    <li><a href="@Url.Content("~/Admin/Admin.aspx")">Home</a></li>
                    <li><a href="@Url.Content("~/Admin/BatchAutoLoadStatus.aspx")">Batch AutoLoad Status</a></li>
                    <li><a href="@Url.Content("~/Admin/Snippets/AddSnippet.aspx")">Snippet Collector</a></li>
                    <li><a href="@Url.Content("~/Admin/AdminTemplateManager.aspx")">Template Manager</a></li>
                    <li><a href="@Url.Content("~/Admin/BenchmarkEntry.aspx")">Benchmark Entry</a></li>
                </ul>
            </li>
        }
          @if (ViewBag.IsMaxStandAlone == false)
          {
              <li>
                  <a id='firstlooklogo' href="../../home" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Return to FirstLook']);">
                      FirstLook
                  </a>
              </li>
          }


        <li><a href="https://flmax.force.com/customersupport/s/" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Support Portal']);" target="_blank">
            <span>Videos/FAQ</span>
        </a></li>

        <li id="NavLogOutLink"><a href="@Url.Content("~/LogOff.aspx")">Log Out</a></li>
           

    </ul>

    @*<div id="HeaderSearch" class="@ViewBag.HeaderSearchClass">
        <input type="text" class="text search" value="Make, Model, Year, VIN, Stock # ..." id="StockSearchTextbox" title="Search for Make, Model, Stock Number, or VIN" />
        <input type="submit" class="submit" value="Search" id="StockSearchButton" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Search Button']);" />
    </div>

    <ul id="SubNavigationUL">
        <li class="first"><a class="bulkUpload" target="_blank" href="@ViewBag.BulkUploadUrl" onclick="_gaq.push(['_trackEvent', 'Header Navigation', 'Click', 'Bulk Upload']);">Bulk<br />Upload</a></li>
        
    </ul>*@

</div>

<a class="dealerSelector" href="@Url.Content("~/DealerChooser.aspx")" title="@if (ViewBag.BusinessUnit != null)
                                                                      { @ViewBag.BusinessUnit.Name }">@if (ViewBag.BusinessUnit != null)
                                                                      { @ViewBag.BusinessUnit.Name }</a>
