/* IE 7 necessary zoom*/
* {zoom:1;}

/* Logo 3.0 */
#logo30{padding:8px 0px;}
#logo30 div{vertical-align:top;}
#logo30 div#version{font-size:23px;font-weight:bolder;color:#880101;border-right:1px solid #c8cbcb;padding-right:15px;margin-top:-1px;left:-4px;} /* removed CSS that causes bad font rendering in IE8 */

/* Overrides of styles in global.css */
#header{border:1px solid #c8cbcb;height:45px;padding:0 5px;position:relative;}
#header{
	background-image:-webkit-linear-gradient(top, #fff, #fff, #E4EAF2);
	background-image:-moz-linear-gradient(top, #fff, #fff, #E4EAF2); 
    background-image:-ms-linear-gradient(top, #fff, #fff, #E4EAF2);
    /* IE8 */
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#E4EAF2',GradientType=0);
    /* IE7- */
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#E4EAF2',GradientType=0);
}

#global_menu_bar_container{position:absolute;top:8px;left:277px;width:400px;}

div#topstatus{position:absolute;top:12px;right:8px;z-index:4;}
div#wrapper{background:#fff url(../Static/images/dash_bg.png) repeat-x top;padding:0;}
#columns{background: transparent url(../Static/images/home_center_col_background.jpg) no-repeat center bottom;}
#left,#center,#right{background:transparent;width:251px;padding:0px 2px;margin:0;}
#center{width:476px;}

/* General style items */
.bordered-box-outer,.shadow{
    border:1px solid #dcdbdb;
    margin:9px 6px;
    -webkit-box-shadow:2px 2px 5px #b1b5b5;
    box-shadow:2px 2px 5px #b1b5b5;
    -moz-box-shadow:2px 2px 1px #b1b5b5;
}
.shadow-right{
}
.shadow{border:0;margin:0;}
.shadow-right{border:0;margin:0;}
.bordered-box-outer.clickable:hover{
    cursor:pointer;
    -moz-box-shadow:-2px -2px 5px #b1b5b5;
    -webkit-box-shadow:-2px -2px 5px #b1b5b5;
    box-shadow:-2px -2px 5px #b1b5b5;
}
.bordered-box-inner{
    padding:5px 11px; /* #E4EAF2 */
	position: relative; /* need to properly render text in IE8 */
    background: #fff url("../Static/images/dash_bg2.png") 100% 0 repeat-y;
}
.right-gradient{
    padding:0;
	background-image:-webkit-linear-gradient(left, #fff, #EBECEE);
	background-image:-moz-linear-gradient(left, #fff, #EBECEE);
	background-image:-ms-linear-gradient(left, #fff, #EBECEE);
    /* IE7- */
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#EBECEE',GradientType=1);
    /* IE8 */
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#EBECEE',GradientType=1);
}
.bordered-box-inner h2.red{margin-bottom:5px;}
.dash-button{color:#000;font-size:10px;padding:3px;display:inline-block;border:1px solid #dcdbdb;}
.dash-button.enabled{cursor:pointer;}
.dash-button.disabled{cursor:default;}
.dash-button{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	background: #fff url("../Static/images/dash_button_bg_sm.png") 0 100% repeat-x;
}
.dash-button.half{width:223px;padding:18px 0;margin:5px 5px 0; background: #fff url("../Static/images/dash_button_bg.png") 0 100% repeat-x;}
.dash-button.small{
    color:#595a5a;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
	overflow:visible;
}
.red{color:#880101;font-size:14px;font-weight:normal;}
.sectiontitle{color:#808080;padding:10px 0 0 7px;}
.rightalign{text-align:right;}
.icon{position:absolute;width:30px;height:30px;background-repeat:no-repeat;background-position:bottom left;}
.block{display:inline-block;*display:inline;}
.dealername{position:absolute;top:10px;right:15px;}

/* Gauges */
.sidegauge{display:block;height:236px;border:1px dashed #808080;margin:0 8px;}
.centergauge{display:block;height:176px;margin:10px 5px 0;}

/* Trade Analyzer */
#trade-analyzer {margin-top:5px;}
#trade-analyzer .bordered-box-inner{padding-bottom:14px;}
#trade-analyzer input[type=text]{color:#666;margin-bottom:12px;width:99%}
#trade-analyzer-row1{position:relative;min-width:100%;}
#trade-analyzer .alert{font-size:10px;color:#355fab;background-color:#FFFF01;padding:2px 5px;margin:4px 0;letter-spacing:-1px;}
#trade-analyzer-button-span{position:absolute;top:0;right:0;}
#trade-analyzer-button{padding:2px 3px;position:relative;padding-left:14px;width:80px;}
#trade-analyzer-button img{position:absolute;top:3px;left:5px;margin:0px;padding:0px;}
#trade-analyzer-row2{margin-top:14px;width:100%;}

/* Make a Deals */
#make-deal .bordered-box-inner{margin-bottom:6px;}
#number-of-potential-deals{color:#000;font-size:24px;}
#make-deal .supportstat{text-align:right;margin:4px 35px 3px 0px;}
#madicon{margin:4px 0px 10px 30px;width:150px;}
.dealjackets{list-style:none;margin:0;padding:0;width:150px;height: 17px;position:relative;background:url(../../images/icon_folder_off.gif) top left repeat-x;}
.dealjackets li{padding:0;margin:0;float:left;}
#total-deals{position:absolute;top:0;left:0;background:url(../../images/icon_folder_on.gif) top left repeat-x;height:17px;display:block;z-index:1;}
/* slider */
#slider{float:left;margin:-2px 2px 0px 25px;position:relative;}
#track{width:50px;background-color:#EEE;height:2px;position:absolute;top:1px;left:0;}
* html div#track{overflow:hidden;}
#handle {width:6px;height:8px;background-color:#CCC;cursor:move;text-align:left;margin-top:-3px;}
* html div#handle{overflow:hidden;}

/* Appraisal Quick Facts */
#appraise-facts .bordered-box-inner{padding-bottom:10px;margin:6px 0px 6px;}
#appraise-facts h2{font-size:10px;line-height:11px;margin:6px 0 10px;padding:0px;font-weight:normal;}
#appraise-facts h2 span{font-size:9px;color:#7e879a;font-style:italic;}
#appraise-facts .stat{margin-top:16px;color:#3975A1;}
#appraise-facts .supportstat{color:#7e879a;}

/* Inventory Overview */
#inv-overview{width:465px;margin:0 6px 0 5px;text-align:center;font-size:9px;height:30px;background-color:#E3ECF4;position:relative;text-align:center;z-index:4}
#inv-overview div{position:absolute;top:-1px;left:8px;margin-top:2px;}
#inv-overview span{white-space: nowrap;}
#inv-overview .red{color:#900;font-size:10px;}
#inv-overview .blue{color:#0C34C9;font-size:10px;}

/* MAX Digital Optimization Engine */
#maxdoe{margin-top:3px;color:#000;font-size:10px;}
#maxdoe>.bordered-box-inner{padding-right:0;}
#maxdoe-header{font-style:italic;padding:7px 0;vertical-align:top;width:465px;}
#maxdoe-header a {color:#000;}
#maxdoe-left,#maxdoe-right{vertical-align:top;}
#maxdoe-left{width:212px;letter-spacing:-1px;}
#maxdoe-right{width:232px;border-top:1px solid #dcdbdb;font-size:9px;padding:3px 0 9px 3px;}
.maxdoe-left-block{color:#000;font-size:11px;}
.maxdoe-left-block:hover{cursor:pointer;}
.maxdoe-left-left,.maxdoe-left-right,.maxdoe-left-right2{line-height:30px;}
#maxdoe-dueforprice{font-size:20px;font-weight:bold;}
.maxdoe-left-left{width:55px;text-align:center;}
.maxdoe-left-left img{height:12px;opacity:0.5;filter:alpha(opacity=50);}
.maxdoe-left-right{width:130px;padding-left:5px;}
.maxdoe-left-right2{width:8px;}
.maxdoe-hr{border:0;border-bottom:1px solid #fff;}
#maxdoe-right-header{font-size:12px;font-weight:bold;padding:3px;}
.maxdoe-right-left{display: block; float: left; padding:3px 0px 9px 6px;font-weight:bold;width:90px;color:#525252;}
.maxdoe-right-right{display: block; float: left; padding: 3px 0 0 6px; width:120px;font-weight:bold;color:#525252;}
.maxdoe-right-right2{width:96px;}
#maxdoe-right a:link, #maxdoe-right a:visited {color:#000;}
#maxdoe-right a:hover, #maxdoe-right a:active {scolor:yellow;}

#maxdoe-dashboard-img, #maxdoe-se-img {
	height:12px; 
	width:50px;
	background-image:url(../images/max_sm.png);
       	background-position: left bottom;
}

#go-to-max-se { height:200px; width: 400px; }
.max-se-submit input{ vertical-align:middle;}
.max-se-input {line-height: 120px;}
.max-se-prompt { margin-left:20px;}
.max-se-logo {color: #fff; font-weight:bold; line-height:40px; background-color: #3A4673; vertical-align:bottom; padding-left: 20px; }
.max-se-cancel {line-height:40px; vertical-align:bottom; border-top: 1px solid #b4b4b4; width:90%; margin-right:20px; }
.max-se-cancel a { float:right; }
.pull-right { float:right; }
.pull-left{ float:left; }

.branding h2 {font-weight:bold; text-align:right;}
.branding { color: #2C4087; }
.banding p {text-align:right;}

#inventory-actions > div { clear:both }

.half {width:223px;}
.max-header-doe { font-style:italic; font-size:11px; }
.max-marketing-brand { font-size: 17px; font-weight:bold;}
#max-marketing, #pricing,#marketing, #iaa-marketing  {height:50px}

#max-marketing-info {line-height: 18px; margin-left: 15px;}

#pricing { padding-top: 14px; padding-bottom: 22px;}

.ping-pricing {float:right; width: 150px; margin-right:15px; }
.ping-pricing h2 {text-align:right; font-size:15px;}
.ping-pricing h3 {text-align:right; font-size:9px;}
.ping-pricing p {text-align:right; margin-top: 4px;}
.ping-large-icon {
    position: absolute;
	width: 51px;
	height: 50px;
	background-image: url(../../images/icon_pingII_large.gif);
	margin-left:10px;
	top:24px;
}

#marketing > img { width: 196px; height: 28px; }

#marketing input[type="text"] { width: 129px; margin:7px 0px 0px 12px;}
#marketing input[type="image"] { width:48px; height:19px; margin:8px 12px 0px 0px;}

.iaa-text {text-align:right; float:right; width: 150px; margin-right:15px; }
.iaa-text h2 { font-size: 12px; }
.iaa-text p { margin-top:8px; }

#pricingandplanning {padding-top: 8px;}

.maxdoe-count {  font-size:11px;}
#maxdoe-due-for-count {font-size: 18px; font-weight:bold;}

/*#4C82A9;}*/

/* Inventory Actions */
#inventory-actions{margin:0;text-align:left;position:relative;}
#planning-and-pricing{position:relative;}
#pricingformermerchandising { float:right; right:0px; bottom: 0px; width: 100px;}
#planning,#pricingformerchandising, #overstock {text-align:center;position:relative;font-size:14px;}
#marketing{text-align:center;font-size:14px;}
#planning .icon{background:url('../Static/images/icon_doc2_small.gif') no-repeat left center;position:absolute;top:12px;left:35px;}
#pricingformerchandising .icon{background:url('../../images/icon_pingII_small.gif') no-repeat left center;position:absolute;top:12px;left:35px;}
#marketing .icon{background:url('../../images/branding/marketing.gif') no-repeat left center;position:absolute;top:5px;left:0px;}
#consumer-sheets-search input.submit{position:absolute;top:60px;right:30px;}

#marketing input.submit { position:static; }

/* VPA Search */
#vpa-search-div{border-top:1px dotted #999;margin:0px 5px 0;height:25px; position:relative; top:10px;}
#vpa_search input, #consumer-sheets-search input{color:#666;background-color:#f5fafc;padding:0px 2px;}
#vpa_search input.text{width:373px;position:absolute;top:8px;left:0;}
#vpa_search button{width:72px;}
#vpa_search button{position:absolute;top:7px;right:0;}

/* Stocking, Buying, and Consumer Vehicles */
.market-stocking,.online-buying,.consumer-vehicles{text-align: right;}
.market-stocking{margin-top:3px;}
#market-stocking h2,#online-buying h2,#consumer-vehicles h2,
#in-group-container h2,#flash-locator h2,#in-group-search h2{font-size:13px;color:#880101;margin:7px 7px 0px 7px;padding:0;font-weight:normal;}
#in-group-search h2 { margin-bottom: 10px; }

/* In Group */
#in-group-container button{width:80%;border-radius:3px;margin:5px 23px;}
#in-group-search{margin:15px 12px;font-size:10px;position:relative;height:75px;}
#in-group-search-button-span{float: right; margin: 6px 2px 10px 0;}
#stockNumberOrVin { margin-left: 7px; }
#fin-group-search-button { margin-right: 5px; }

/* Flash Locator */
#flash-locator{margin:15px 16px;font-size:10px;line-height:25px;}
#flash-locator input{margin:0;padding:0;}
.formfield input{background-color:#EEE;color:#666;}
#flash-locator span.formfield{padding-left:5px;}
.flashLocateLabel{color:#666;text-transform:uppercase;width:50px;text-align:left;}
#flash-locator-button-span{margin:4px 2px 10px 0;float:right;}
#flash-locator-button{padding:2px 3px;position:relative;line-height:15px;}
#flash-locator-button img{padding-right:3px;}
#flash-locator form{margin-left:8px;}

/* Footer */
#footer-logo{float:right;}
#footer{border-top:0px;}
#footerlinks{clear:both;padding:0;margin:0;height:40px;background:url(../../images/footer_bkgrd.jpg) bottom left repeat-x;text-align:center;}
#footer-nav{padding-top: 10px;}
#footer-nav ul li{display:inline;padding:2px;}
#footer-nav a:link, #footer-nav a:hover, #footer-nav a:active, #footer-nav a:visited{font-size:11px;color:#828282;text-decoration:none;}
#footer-nav a:hover{color:#6A6A6A;text-decoration:underline;}
.bordered-box-inner a, .bordered-box-inner a:link, .bordered-box-inner a:visited, .bordered-box-inner a:active { color: #4c82a9; }
.bordered-box-inner a:hover { color: #2270a9; }

/* Inventory Graph */
#CurrentInventoryGraph-wrapper{width:465px;height:182px;position:relative;}
#CurrentInventoryGraph-top-arc{margin:0;padding:0;}
#CurrentInventoryGraph-top-title{width:494px;margin:0 0 9px 0;padding:0;position:relative;height:23px;}
#CurrentInventoryGraph-top-container{width:100%;height:130px;position:relative;}
#CurrentInventoryGraph-graph-container{width:100%;height:130px;position:relative;cursor:default;}

#CurrentInventoryGraph {
    width: 494px; height:131px; z-index:3; 
    background:url(../Static/images/border-inventory-graph-body.gif);
    background-repeat: repeat-x;
    font:11px/15px Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#CurrentInventoryGraph a:hover {text-decoration: none;}
#CurrentInventoryGraph div {color:#000; position: absolute; }
#CurrentInventoryGraph .bar {position: absolute; display: block; }
#CurrentInventoryGraph .ageLabel {
    position:absolute; text-align:center;
    left:0; top:111px; height:20px; padding: 5px 0 0 0;
}
#CurrentInventoryGraph .bookMinusCost, 
#CurrentInventoryGraph .percent { 
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#CurrentInventoryGraph .bookMinusCost.positive {color:#78A0BF;}
#CurrentInventoryGraph .bookMinusCost.negative {color:#CC0000;}
#CurrentInventoryGraph .ageLabel img {width:7px; height:15px; margin: -3px 4px -3px 0;}

#CurrentInventoryGraph .solidgray { background: #828e99; }
#CurrentInventoryGraph .gray { border: 1px solid #828e99; }
#CurrentInventoryGraph .gray {
    background: -moz-linear-gradient(left, #a2b1bf 0%, #bec8d2 25%, #a2b1bf 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a2b1bf), color-stop(25%,#bec8d2), color-stop(100%,#a2b1bf));
    background: -webkit-linear-gradient(left, #a2b1bf 0%,#bec8d2 25%,#a2b1bf 100%);
    background: -o-linear-gradient(left, #a2b1bf 0%,#bec8d2 25%,#a2b1bf 100%);
    background: -ms-linear-gradient(left, #a2b1bf 0%,#bec8d2 25%,#a2b1bf 100%);
    background: linear-gradient(to right, #a2b1bf 0%,#bec8d2 25%,#a2b1bf 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#BBC6D0', endColorStr='#A2B1BF', GradientType=0);
}
.no-cssgradients #CurrentInventoryGraph .gray {
    background: #a2b1bf url(../Static/images/graph-bar-background.gif);
}

#CurrentInventoryGraph .hoverContainer { visibility: hidden; height: 1px; width: 1px; }
#CurrentInventoryGraph .tooltip { 
    background: #ffffcc;
    border-radius: 10px;
    padding: 2px 15px;
    border: 1px solid #DADA06;
    top: -8px;
    white-space: nowrap;
}
#CurrentInventoryGraph .red { 
    left: 1px;
    background: #bc0909;
    background: -moz-linear-gradient(left,  #bc0909 0%, #d67171 25%, #bc0909 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bc0909), color-stop(25%,#d67171), color-stop(100%,#bc0909));
    background: -webkit-linear-gradient(left,  #bc0909 0%,#d67171 25%,#bc0909 100%);
    background: -o-linear-gradient(left,  #bc0909 0%,#d67171 25%,#bc0909 100%);
    background: -ms-linear-gradient(left,  #bc0909 0%,#d67171 25%,#bc0909 100%);
    background: linear-gradient(to right,  #bc0909 0%,#d67171 25%,#bc0909 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d67171', endColorstr='#bc0909',GradientType=1 );
}
#CurrentInventoryGraph .yellow { 
    left: 1px; 
    background: #cfe600;
    background: -moz-linear-gradient(left,  #cfe600 0%, #e1e5bc 25%, #cfe600 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cfe600), color-stop(25%,#e1e5bc), color-stop(100%,#cfe600));
    background: -webkit-linear-gradient(left,  #cfe600 0%,#e1e5bc 25%,#cfe600 100%);
    background: -o-linear-gradient(left,  #cfe600 0%,#e1e5bc 25%,#cfe600 100%);
    background: -ms-linear-gradient(left,  #cfe600 0%,#e1e5bc 25%,#cfe600 100%);
    background: linear-gradient(to right,  #cfe600 0%,#e1e5bc 25%,#cfe600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e5bc', endColorstr='#cfe600',GradientType=1 );
}
#CurrentInventoryGraph .green { 
    left: 1px; 
    background: #2b8c2f;
    background: -moz-linear-gradient(left,  #2b8c2f 0%, #8bc98d 25%, #2b8c2f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2b8c2f), color-stop(25%,#8bc98d), color-stop(100%,#2b8c2f));
    background: -webkit-linear-gradient(left,  #2b8c2f 0%,#8bc98d 25%,#2b8c2f 100%);
    background: -o-linear-gradient(left,  #2b8c2f 0%,#8bc98d 25%,#2b8c2f 100%);
    background: -ms-linear-gradient(left,  #2b8c2f 0%,#8bc98d 25%,#2b8c2f 100%);
    background: linear-gradient(to right,  #2b8c2f 0%,#8bc98d 25%,#2b8c2f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc98d', endColorstr='#2b8c2f',GradientType=1 );
}
#CurrentInventoryGraph-top-body-image{visibility:hidden;display:none;}

/* Core Inventory Graph */
#core-inventory-graph-div{height:196px;margin-top:6px;position:relative;}
#core-inventory-graph{height:140px;}
#core-inventory-graph-div{width:239px;position:relative;padding-left:6px;}
#core-inventory-graph-arc{height:15px;width:100%;}
#core-inventory-graph-arc-image{height:15px;width:100%;}
#core-inventory-graph-body{background:url(../Static/images/small-graph-body.gif);height:181px;width:100%;position:relative;}
#core-inventory-graph-body-image{visibility:hidden; display:none;}
#core-inventory-graph-dealername{position:absolute;z-index:1;top:10px;right:5px;font-size:9px;font-weight:bolder;float:right;}
#core-inventory-graph-closing-rate{position:relative;z-index:5;top:-70px;left:0px;background-color:transparent;text-align:center;font-size:12px;}
#core-inventory-graph-closing-rate-div1{position:relative;padding-top:9px;}
#core-inventory-graph-closing-rate-div2{position:relative;padding-top:15px;}
.core-inventory-graph-baroverlay{position:absolute;float:left;z-index:11;top:5px;height:125px;width:36px;cursor:pointer;}
#core-inventory-graph-tooltip-container{position:relative;width:400px;height:18px;z-index:10;left:-1000px;font-size:small;display:inline-block;text-align:center;top:-167px;visibility:hidden;}
#core-inventory-graph-tooltip{display:inline;background-color:#ffffcc;vertical-align:middle;-moz-border-radius: 10px;-webkit-border-radius: 10px;-khtml-border-radius: 10px;border-radius: 10px;padding:2px 15px;border-width:1px;border-style:solid;border-color:#DADA06}

/* Appraiser Graph */
#appraise-graph-div{height:196px;margin-top:6px;position:relative;}
#appraise-graph{height:140px;}
#appraise-graph-footer{text-align:center;font-size:9px;line-height:20px;}
#appraise-graph-closing-rate{text-align:center;font-size:12px;padding-top:10px;}
#appraise-graph-closing-rate-percentage,#core-inventory-graph-closing-rate-total{color:#355fab;font-weight:bolder;font-size:16px;font-family:Arial;padding-right:4px;}
#appraise-graph-div{width:239px;position:relative;padding-left:6px;}
#appraise-graph-arc{height:15px;width:100%;}
#appraise-graph-arc-image{height:15px;width:100%;}
#appraise-graph-body{background:url(../Static/images/small-graph-body.gif);height:181px;width:100%;position:relative;}
#appraise-graph-body-image{visibility:hidden; display:none;}
#appraise-graph-footer-wrapper{position:relative;top:-76px;left:0px;}
.appraise-graph-baroverlay{position:absolute;float:left;z-index:11;top:5px;height:125px;width:36px;cursor:pointer;}
#appraise-graph-tooltip-container{position:relative;width:400px;height:18px;z-index:10;left:-1000px;font-size:small;display:inline-block;text-align:center;top:-167px;visibility:hidden;}
#appraise-graph-tooltip{display:inline;background-color:#ffffcc;vertical-align:middle;-moz-border-radius: 10px;-webkit-border-radius: 10px;-khtml-border-radius: 10px;border-radius: 10px;padding:2px 15px;border-width:1px;border-style:solid;border-color:#DADA06}
