﻿
.vehBuilder
{
	background: #e0e0e0;
}

.builderBody 
{
	font-family: Arial;
	position: relative;
	text-align: left;
	width: 990px;
	margin: 30px auto auto;
	background: #FFF;
	border: solid 1px #aaa;
}
.workingPane 
{
	text-align: left;
	float:left;
	width: 100%;
	margin: 0px;
	background: #f8f8f8;
}

.BuilderImageView 
{	
	position:relative;
	height: 25px;
	margin-left: 0px;
	margin-right: 0px;
	background: #F8F8F8;
	
	
	text-align: left;
	
}
.NavHolder 
{
	width: 140px;
}
.RightPhotoNav {
	width: 120px;
	min-height: 600px;
	padding:10px 10px 20px 15px;
	margin-right: 0px;
	background: #ededed url(images/shadowleft.png) repeat-y;
	background-position: left;
}
.NavigatorList 
{
	width: 100%;
	margin-top: 10px;
}
.NavigatorList td 
{
	font-size: 10px;
	padding: 4px;
	line-height: 14px;
	
}
.NavigatorList tr 
{
	border-top: solid 1px #555;
}
.NavigatorStockNumber 
{
	float:right;
	color: #3561AC;
	text-decoration: underline;
}
.NavigatorVehicleLink, .NavigatorVehicleLink:link, .NavigatorVehicleLink:visited, .NavigatorVehicleLink:hover
{
	text-transform: uppercase;
	color: #333;
}
.NavigatorAgeLabel 
{
	color: #999;
}

.SelectedListRow td
{
	background: #65a1f0;
	color: #fff;
}
.SelectedListRow a, .SelectedListRow a:link, .SelectedListRow a:visited, .SelectedListRow a:hover 
{
	font-weight: bold;
	color: #ddd;	
}

.SelectedListRow .NavigatorAgeLabel 
{
	color: #fff;
	font-weight: bold;
}

.SelectedListRow .NavigatorStockNumber 
{
	
	font-weight: bold;
}

.imageStrip 
{
	text-align: center;
	width: 116px;
	overflow: visible;
/*	min-height: 450px;
	max-height: 550px;*/
	height: 550px;
}
.FilmstripPopupBox 
{
	position: absolute;
	
	width: 207px;
	left: -200px;
	top: 0px;
	text-align: left;
	padding: 0px;

}
.FilmstripPopupText 
{
	width: 180px;
	font-size: 10px;
	background: #ededed url(images/topshadow.gif) repeat-x;
	border: solid 2px #3561AC;
	margin: 0px;
	-moz-border-radius: 4px;
	
	
}
.CalloutBlock 
{
	position: absolute;
	right: 0px;
}

.FilmstripContainer 
{
	position:relative;
	text-align:left;
	margin-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}
.imageStrip table 
{
	width: 114px;
}
.imageStrip td 
{
	width: 114px;
}
.FilmstripBox h3 
{
	/*background: #ededed;
	position: relative;
	bottom: 10px;*/
	font: 10px/10px Arial, Sans-serif;
	text-align: left;
	overflow: hidden;
}
.FilmstripBox 
{
	margin-top: 10px;
	padding: 2px;
	overflow: visible;
	background: #cbc9c9;
	border: inset 1px #555;
	width: auto;
	height: auto;
	position: relative;
	z-index: 999;
	
}
.FilmstripBox table
{
	padding: 2px;
	max-width: 90%;
}

.FilmstripItem 
{

	border: solid 1px #f8f8f8;
	width: 86%;
	opacity: 0.5;
	
}
.IconHolder 
{
	float:right;width:10px;
}
.IconHolder img 
{
	width: 14px;
	height: 14px;
}
.FilmstripItemSelected 
{
	border: 5px solid #FFFF66 !important;
	width: 80%;
	opacity: 1.0;
}
.ThumbText 
{
	position: relative;
}
.ImageZoomThumbnail, .SelectedThumbnail  {
	position:relative;
	
	bottom: 20px;
	z-index: 200;
	text-align: center;
	background: #f8f8f8;
	border: groove 2px #777;
	height: 130px;
	opacity: 1.0;
}
.SelectedThumbnail 
{
	border: groove 2px #ff9;
}
.ImageZoomThumbnail span {
	display: block;
	background: url(images/vpa_tabs_top.gif);
	font-size: 12px;
	color: #555;
	width: 100%;
}
.ImageZoomThumbnail input{
	
	height: 160px;
	opacity: 1.0;
}
.VehicleFilmstripItem
{
	height:48px;
	margin:1px 0;
	width:64px;
}
.PhotoDeleteButton 
{
	float:right;
}

.PhotoItemSelected
{
	opacity: 0.5;
}


.FilmstripItemContents 
{
	border: solid 1px #C3CEE0;
	background: #f8f8f8;
}
.UnselectedImageZoomThumbnail 
{
	vertical-align: baseline;
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 5px;
	z-index: 199;
	background: #f8f8f8;
	border: groove 2px #777;

}
.UnselectedImageZoomThumbnail input{
	height: 160px;
}

.paddedContainer 
{
	padding: 5px;
	margin: 0px;
}
#tabs 
{
	margin: 0;
	width: 67%;
	float: left;
}
.featureGroupBox input:checked+span.optionCheckBoxLabeler
{
	background-image: url('images/whiteFade.png');
	background-repeat: repeat-x;
	background-color:#558855;
	color: #eee;	
}
.StdFeatureList 
{
	 float: left;
	 position: relative;
	 width: 40%;
	 margin: 5px;
	 padding: 5px;
}
#extColorDDL 
{
	position: absolute;
	top: 100px;
	right: 5px;
	color: #333;
}
