body
{
	background:none repeat scroll 0 0 #FFFFFF;
	font-family:Arial;
	margin:0 auto auto;
	position:relative;
	text-align:left;
	width:100%;
}

a, a:link, a:hover, a:visited
{
	color:#000000;
	text-decoration:none;
}

div.button
{
	 background: url('./Images/bg-menu-main.png') repeat-x;
	 border: solid 1px gray;
	 -moz-border-radius: 5px;
	 margin:0 auto;
	 padding: 3px;
	 width:80%;
}

div.button a
{
	color: White;
}