﻿
/**/

.mobileInventoryBody
{
	position: relative;
	text-align: left;
	width: 100%;
	margin: 0px auto auto;
	background: #FFF;
	font-family: Arial;
	
}

*{
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	outline: 0;
	padding: 0;
	margin: 0 auto;
}

a, a:link, a:hover, a:visited
{
	text-decoration: none;
	color: inherit;
}

select 
{
	margin-bottom: 10px;
}

div.ColorSwatch 
{
	width:10px;
	height:10px;
	position:absolute;
	right:0px;
	top:0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 5px;
}
span.colorLabel, span.pctLbl 
{
	float:right;
	position:relative;
	font: 0.5em/0.8em Arial;
	color:#888;	
}
span.colorLabel 
{
	right:14px;
}
span.pctLbl 
{
	clear:right;
	font-size: 0.6em;
	margin: 6px 4px 0px;
	
}
tr.InventoryRow h3
{
	position:relative;
}

input#vehicleSearch 
{
	height: 36px;
	margin-top: 8px;
	font-size: 28px;
	width: 85%;
	
}
input#stkButton 
{
	height:24px;
}
.stockSearch 
{
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.details 
{
	clear: left; 
	float:left;
	list-style: none;
	display: inline;
	font-size: 1.25em;
}
.details li 
{
	display: block;
	float: left;
	margin-right: 26px;
	
}
.details span 
{
	font: 85%;
	color: #666;
	margin-left: 2px;
}
span.stock 
{
	float: left;
	color: #3561AC;
	font-size: 85%;
	margin-top: 2px;
}

.ActivityFilterDDL 
{
	font: 22px/24px Arial, Verdana, Sans-serif;
	height:30px;
	vertical-align: bottom;
}



/*  Inventory List Styles */
.header 
{
	text-align: center;
}

.header a, .header a:link, .header a:hover, .header a:visited
{
	color: #eee;
	font-size: 13px;
	padding: 3px;
	display: inline-block;
	text-transform: none;
	text-shadow: #888 1px 1px 1px;
}

.InventorySummaryList 
{
	width: 100%;
}

#InventoryTable
{
	border-collapse:collapse;
}

#InventoryTable th, #InventoryTable td
{
	padding:2px 4px
}

.VehicleColumn
{
	padding: 3px 6px;
}
.VehicleColumn h3
{
	color: #375176;
	font-size: 1.4em;
	line-height: 1.45em;
	font-weight: bold;
}





.gridPager {
    float: right;
    margin-top: 5px;
    margin-bottom: 30px;
}
.gridPager a, .gridPager a:visited, .gridPager span {
	background-color:#E0E0E0;
	border:1px solid #D0D0D0;
	color:#777777;
	font-size: 1.5em;
	margin-left:10px;
	margin-bottom: 10px;
	padding:6px 15px;
	text-decoration:none;
	display:inline-block;
}
.gridPager span 
{
    background-color: #d0d0d0;
    border: solid 1px #808080;
    color: #555;
}
.gridPager a:hover,
.gridPager a:visited:hover 
{
    background-color: #f0f0f0;
}
.gridViewRowCount 
{
	clear:left;
	float:left;
	width: 100%;
	margin-top:5px;
}

.gridViewRowCount input 
{
	float: right;
}

#ButtonsDiv
{
	width: 320px;
	height: 45px;
	text-align: right;
	padding: 0px;
	background: url('images/MenuBarBkgrd.png') repeat-x;
	z-index: 1000;
}

#ButtonsDiv .PreviewButton 
{
	float: left;
}
#ButtonsDiv input 
{
	position: relative;
	top: 2px;
}

/**/
#StagingVehicle 
{
	width: 300px;
	font-family: Verdana;
	text-align: left;
	padding: 15px;
	border: solid 1px #666;
	background: #eee;
}
#StagingVehicle h3 
{
	margin-top: 15px;
	font-size: 1.1em;
}
#StagingVehicle h4
{
	padding: 10px;
}
#StagingVehicle ul 
{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#StagingVehicle li 
{
	margin-bottom: 5px;
}
#StagingVehicle .formLabel 
{
	display: inline-block;
	width: 100px;
}

#addButton 
{
	margin: 0px 2px 14px 8px;
}

input.Logoff 
{
	display:block;
	font-size:24px;
	margin:0 auto;
	width:98%;
}