/**/
*
{
	padding: 0px;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{  
     margin:0;  
     padding:0;  
     -webkit-text-size-adjust:none;		
} 
ul, li, ol, dl, dd, dt{  
     list-style:none;  
     padding:0;  
     margin:0;  
}  
a{  
     text-decoration:none;
} 

body.mobileInventoryBody 
{
	position: relative;
	width: 100%;
	background: #fff;
	font-size: 14px;
	
}

h5
{
	color:#585858;
	display:block;
	font-size:14px;
	font-weight:normal;
	line-height:16px;
	padding-top: 3px;
	padding-bottom: 2px;
	border-bottom: 1px solid #aaa;
	margin-bottom: 4px;
}

input.wideSaveButton 
{
	display:block;
	font-size:16pt;
	width: 98%;
	margin: 5px auto;
}

input.editButton 
{
	width: 100px;
}
#mobileBuilderBody 
{
	font-family: Arial;
	position: relative;
	text-align: left;
	margin: 0 auto 45px;
	
	background: #FFF;
	
}
#BuilderPanel 
{
	float:left;
}
body #ButtonsDiv, body #BuilderPanel, body.show_normal #ButtonsDiv, body.show_normal #BuilderPanel,
body.show_normal #MenuPanel, body #MenuPanel
{
	width: 320px;
}

body.show_side #ButtonsDiv, body.show_side #BuilderPanel, body.show_side #MenuPanel 
{
	width: 480px;
}
body div#LoadUpdatePanel.menuOpen, body.show_normal div#LoadUpdatePanel.menuOpen 
{
	width: 640px;
}
.FlyoutMenu 
{
	width: 100%;
}
.basicSection 
{
	margin-top: 30px;	
}
#MenuPanel h3 
{
	padding: 10px;
	height: 35px;
	border-width: 0px 1px 0px;
	border-color: #ddd;
	border-style: solid;
	background: #fff url('images/dualfade.gif') repeat-x top;
	font-size: 90%;
}
ul.allLinks 
{
	border-top: solid 1px #aaa;
	margin: 20px auto;
	text-align: center;
	
}
ul.allLinks li
{
	display: inline;
	font-size: 12px;
}
ul.allLinks a 
{
	display: block;
	float: left;
	color: #666;
	width: 33%;
	text-decoration: underline;	
}
li.NoteOdd .noteAuthor, li.NoteOdd .noteDate
{
	font-size: 85%;
	color: #dc3963;
	font-weight: bold;
}
li.NoteEven .noteAuthor,li.NoteEven .noteDate  
{
	font-size: 85%;
	color: #3954dc;
	font-weight: bold;
}
.noteBody 
{	
	display:block;
	padding-left:10px;
}
#MenuPanel h3.strike, li.strike 
{
	text-decoration: line-through;
	color: #555;
}
.afterMarketTrimBox input 
{
	width: 200px;
	margin-left: 6px;
	margin-bottom: 20px;
}
#ExtraItemsBox input
{
	height: 30px;
	width: 30px;
}
#ExtraItemsBox label
{
	font-size: 18px;
}
/*  main section */
#ButtonsDiv
{
	width: 320px;
	text-align: right;
	padding: 0px;
	background: url('images/MenuBarBkgrd.png') repeat-x;
	position: relative;
	z-index: 98;
}
#ButtonsDiv .PreviewButton 
{
	float: left;
}
#ButtonsDiv input, #ButtonsDiv img 
{
	position: relative;
	top: 2px;
	margin-right:10px;
}
#ButtonsDiv #SaveOKPlaceholder 
{
	left: 58px;
	z-index: 100;
}
div.ConditionSelectPair 
{
	text-align: center;
}
div.ConditionSelectPair a
{
	display:inline-block;
	margin:0;
	padding:0;
	height: 32px;
	overflow: hidden;
}
div.ConditionSelectPair input.Active
{
	position:relative;
	bottom:32px;
}
div.ConditionSelectPair h4
{
	text-align: left;
	font-size: 0.8em;
	font-weight: bold;
	padding-top:5px;
	color: #777;
}
.basicSection span
{
	display: inline-block;
	width: 110px;
}
.mobileStepControl 
{
	text-align: center;
}
.CloseIcon 
{
	float: right;
}
.mobileTrimBits 
{
	height:auto;
	padding:5px;
}
#newTrim 
{
	font-size: 1.1em;
}
#BuilderNotes
{
	width: 95%;
}
#newTrim select 
{
	width: 60%;
	margin-bottom: 10px;
	font-size: 20px;
	padding: 4px 0px;
}
select#styleDDL 
{
	width: 90%;
}
#StdGridView td > h3:last-child 
{
	border-bottom: solid 1px #AAA;
	margin-bottom: 10px;
}
.grpHead 
{
	text-transform: uppercase;
	margin-bottom: 2px;
	color: #444;
	display: block;
}
.stdGrpHead 
{
	font: 20px/21px Verdana, sans;
	text-transform: uppercase;
	padding: 4px;
	color: #333;
	background: #ddd;
	display: block;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topRight: 8px;
}
.stdList
{
	display: block;
	clear:left;
	font: 14px/14px Verdana, Arial, sans;
	color: #333;
	
}

/*op buttons*/
.opGroup
{
	 position: relative;
	 margin: 6px 3px;
	 padding: 2px;
	 border-bottom: solid 1px #ccc;
}
.opGroup input 
{
	display: none;
}	
div.opGroup a span
{
	display:block;
	font-size:15px;
	line-height: 15px;
	margin-right:10px;
	height:55px;
	padding:8px 4px 4px 42px;
	vertical-align:middle;
	cursor: pointer;
}
a.checkHolder span
{
	background:transparent url(images/mobile-button-gray-longLeft.png) no-repeat scroll left top;
	color:#222222;
	text-shadow: #888 1px 1px 0.2px;
}
div.opGroup a.checkedHolder span
{
	background: transparent url('images/mobile-button-green-longLeft.png') no-repeat left top;
	color: #eee;
	text-shadow: #888 2px 2px 0.2px;  
	font-weight: 600;
}
div.opGroup a 
{
	width: 100%;
	float: left;
	margin-right: 8px;
}
div.opGroup a.checkHolder
{
	background: transparent url('images/mobile-button-gray-right.png') no-repeat right top;
	letter-spacing: -0.2px;
	width:300px;
	margin:0 auto;
}
div.opGroup a.checkedHolder
{
	background: transparent url('images/mobile-button-green-right.png') no-repeat right top;
	letter-spacing: -1px;
	width:300px;
	margin:0 auto;
}
#mobileBuilderBody.show_normal div.opGroup a.checkedHolder 
{
	width: 300px;
}
#mobileBuilderBody.show_normal div.opGroup a.checkHolder 
{
	width: 300px;
}
.inventoryData table 
{
	background: #ededed url('images/topshadow-tall.gif') repeat-x;
	clear: left;
	position: relative;
	z-index: 1;
	
	font: bold 1em/1em Verdana, sans;
	color: #333;
	text-align: left;
	height: auto;
	margin: 0px;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #777;
	
}
.inventoryData td
{
	padding: 2px 0px 0px 0px;
	font-weight: normal;
}
.inventoryData .dataValue 
{
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.15em;
	color: #555;
}
.mobileStockDisplay 
{
	float: right;
	font: bold 16px/16px Verdana, sans;
}
.statusLabel 
{
	font-size: 18px;
	line-height: 19px;
	text-transform: uppercase;
}
.smallLabel 
{
	font-size: 0.8em;
}
/* end of image viewer styles */
/* TABS */
.ui-tab-content
{
	clear:left;padding:0;margin:0;width: auto;
	border-top: solid 3px #2F4E6F;
	background: #fff;
	position: relative;
	z-index: 99;	
}

.ui-tab-container {vertical-align: top; text-align: center;}

.ui-tabs
{
	display:block;
	list-style:none;
	margin:0;
	background: #C8D7E3;
	width: 315px;
}

.ui-tabs .ui-tab{display:block;float:left;}
.ui-tabs .ui-tab input
{margin:0;padding:0;overflow:visible;cursor:pointer;}

.ui-tabs .ui-tab input:hover{text-decoration:underline;}
.ui-tabs .ui-tab input:active{margin:0;padding:0;overflow:visible;cursor:pointer;color:red;}

.ui-empty-tab-content{display:none;}
.inline{display:inline;}

.mobileEquipmentTabs .ui-tabs .ui-tab{
	
	background: transparent;
	width:49%;
	border-width: 1px 1px 0px;
	border-color: #aaa;
}

.mobileEquipmentTabs .ui-tabs .ui-tab input
{
	width:100%;
	height: 100%;
	border:none;
	background-color:transparent;
	text-align:center;
	color:#999;
	font-size:1.1em;
	line-height:1.2em;
	padding-bottom:1px;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
}

	
.mobileEquipmentTabs .ui-tabs .ui-tab input:hover{color:#13516F;}
.mobileEquipmentTabs .ui-tabs .ui-tab-active input:hover{color:#eef;}

.mobileEquipmentTabs .ui-tab-content{clear: left;padding:10px 0px;text-align: left;}
.mobileEquipmentTabs .ui-tab-content .ui-tab-content-wrapper
{
	background:transparent url(images/mobileEquipmentTabs_right.gif) no-repeat bottom right;
	padding:10px 20px 100px 20px;}

.mobileEquipmentTabs .ui-tabs .ui-tab-active
{
	background:#2F4E6F none repeat scroll 0 0;
	color: #fff;
	-webkit-box-shadow: 10px 4px 5px #888;
}

.mobileEquipmentTabs .ui-tabs .ui-tab-active input
{
	font-weight:bold;
	color: #fff;
	
}
#mobileTabs 
{
	margin: 0;
	width: 100%;
	background: #f8f8f8;
}
#progress 
{
	position:absolute;
	z-index: 10000;
	left: 46%;
	top: 140px;
}
.vehBuilder
{
	background: #e0e0e0;
}

.stdEquipViewer 
{
	clear:left;
	border-bottom: groove thin #777;
	text-align: left;
	font-size: small;
	width: auto;
	padding-top: 10px;
	
	vertical-align: middle;
	
}
.stdEquipViewer input 
{
	float:right;
	font-size: 120%;
}

.paddedContainer 
{
	padding: 5px;
	float: left;
}
#tabs 
{
	margin: 0;
	width: 67%;
	float: left;
}
.mobileTrimBits .paddedContainer div 
{
	padding-bottom: 6px;
}
.featureGroupBox input:checked+span.optionCheckBoxLabeler
{
	background-image: url('images/whiteFade.png');
	background-repeat: repeat-x;
	background-color:#558855;
	color: #eee;	
}
/*stdfeatures*/
.stdBox 
{
	 float: left;
	 position: relative;
	 width: 40%;
	 margin: 5px;
	 padding: 5px;
}
.stdBox > li:first-child
{
	font: 1.1em/1.1em Verdana, sans;
	text-transform: uppercase;
	margin-bottom: 2px;
	color: #444;
	display: block;
}

.stdFeatures 
{
	clear:both;
	text-align: left;
	font-size: 80%;
	
	max-width: 850px;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	overflow: hidden;
	background: #ededed;
	
}
#extColorDDL 
{
	position: absolute;
	top: 100px;
	right: 5px;
	color: #333;
}

/* for iphone */
#frame{

    clear: both;

	width:320px;

	float: left;

}
/***************************/

.phone {-wap-input-format: "*N"}


.mobileInventoryBody
{
	background:none repeat scroll 0 0 #FFFFFF;
	font-family:Arial;
	margin:0 auto auto;
	position:relative;
	text-align:left;
	width:320px;
}