


/* COMMON rules */
.dealer, .book, #sticker .engine, #sticker .transmission {
	display: none;
}

#sticker .vehicle {
	text-align: left;
}
	.vehicle .trim {
		display: block;
	}

#sticker dl {
	font-weight: bold;
	text-align: left;
}
	#sticker .equipment .col {
		float: left;
		list-style: none outside;
	}
		#sticker .equipment .col li {
			display: block;
		}	

.equipment strong {
	display: block;
}
	.equipment .col {
		font-size: 90%;
		float: left;
	}



#sticker .price {
	font-size: 150%;
}
.price strong {
		float: right;
		}
	.price span {
		float: left;
		}
#sticker .legal {
	border-style: solid;
	border-color: black;
	font-size: 70%;
	text-align: justify;
}



/* SCREEN 
		measurements */
@media screen,projector {

	#sticker .vehicle,
	#sticker dl {
		width: 216px; /* 216px equiv to 216pt = 3in */
	}
	#sticker .vehicle {
		margin-top: -194px; 
		margin-left: -216px;
	}
		.vehicle .trim {
			margin-top: 18px;
		}
	#sticker dl {
		margin-left: 18px;
	}
		#sticker dd {
			margin-left: 54px;
		}
		.snum {
			margin-top: -194px; /* 216 pts = 3in */
		}
		.vin {
			margin-top: -172px;
		}
		.mileage {
			margin-top: -150px;
		}
	#sticker .equipment {
		width: 432px;
		margin-top: -100px; 
		margin-left: -216px;
	}
		.equipment .col {
			margin-right: 50px;
		}
	#sticker .price,
	#sticker .legal {
		width: 306px;
		margin-left: -81px;
	}
	#sticker .price {
		margin-top: 252px;
	}
	#sticker .legal {
		margin-top: 272px;
		border-width: 1px 0 0 0;
	}

}

/* PRINT 
		measurements */
@media print {

	#sticker .vehicle,
	#sticker dl {
		width: 216pt;
	}
	#sticker .vehicle {
		margin-top: -194pt;
		margin-left: -216pt;
	}
		.vehicle .trim {
			margin-top: 18pt;
		}
	
	#sticker dl {
		margin-left: 18pt;
	}
		#sticker dd {
			margin-left: 54pt;
		}
		.snum {
			margin-top: -194pt; /* 216 pts = 3in */
		}
		.vin {
			margin-top: -172pt;
		}
		.mileage {
			margin-top: -150pt;
		}
	#sticker .equipment {
		width: 432pt;
		margin-top: -100pt; 
		margin-left: -216pt;
	}
		.equipment .col {
			margin-right: 50pt;
		}
	
	#sticker .price,
	#sticker .legal {
		width: 306pt;
		margin-left: -81pt;
	}
	#sticker .price {
		margin-top: 252pt;
	}
	#sticker .legal {
		border-width: 0.5pt 0 0 0;
		margin-top: 272pt;
	}
}

