/* /// 
	KBB styles */

@import url('type.css');


body {
	min-width: 920px;
	padding-bottom: 2em;
}

li {
	margin-bottom: 0.4em;
}
dt { 
	float:left;
	clear:left; 
}
dt,dd { 
	margin-bottom: 0.2em;
}

#header { 
	padding-bottom: 0.4em;
	background-color: #c9d3d6;
}
#content {
	padding-top: 1em;
	width: 840px;
	min-width: 840px;
	margin: 0 auto;
}


/* ????? specific to KBB VALUES page
		[move to sep sheet if kbb standalone begins to grow] ???? */

@media screen, projector {

	/* // 
		print only */
	.selected img,
	.selected em {
		display: none;
	}
	img.printLogo {
		display: none;
	}

}

/* // 
	primary KBB VALUES page containers */

#left {
	border: solid 1px #c9d3d6;
	border-left: none;
	border-bottom: none;
	float: left;
	width: 50%;
}
#right {
	border-top: solid 6px #c9d3d6;
	float: right;
	width: 410px;
	padding-bottom: 25px;
	background: white url('../bkgd_table_bottom.gif') no-repeat left bottom;
}
h2.vehicle {
	margin-left: 15px;
	padding-bottom: 0.3em;
}
.copyright {
	clear: both;
	display: block;
	margin-top: 10px;
	margin-left: 10px;
}

/* general rules 
*/
a.update {
	background: transparent url('../bullet_link_update.gif') no-repeat left 50%;
	padding-left: 15px;	
}
.print {
	float: right;
}
a.print img.icon {
	vertical-align: middle;
	margin-right: 2px;
}

/* condition ratings icons
*/
.stars {
	display: block;
	padding: 0;
	line-height: 0;
	width: 60px;
	height: 10px;
	background-image: url('../sprite_starRatings.gif');
	background-repeat: no-repeat;
}
.stars em {
	display: none;
}
	.selected .excellent .stars { background-position: -60px top; }
	.good .stars { background-position: left -10px; }
	.selected .good .stars { background-position: -60px -10px; }
	.fair .stars { background-position: left -20px; }
	.selected .fair .stars { background-position: -60px -20px; }
	.poor .stars { background-position: left -30px; }
	.selected .poor .stars { background-position: -60px -30px; }


/* tabbing stuff */

div.tab {
	padding: 3px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	display: inline;
	position: relative;
	top: 2px;
	cursor: pointer;
}
div.activeTab {
	padding: 3px;
	border-top: 1px solid #315989;
	border-left: 1px solid #315989;
	border-right: 1px solid #315989;
	background-color: #c9d3d6;
	display: inline;
	position: relative;
	top: 2px;
	
}

div#trade-in {
	border: 1px solid #315989;
	padding: 5px;
}
div#retail {
	border: 1px solid #315989;
	padding: 5px;
	display: none;
}
div.clear {
	clear: both;
}

/* // 
	secondary KBB VALUES page containers */
.bbValues,
.selections {
	width: 410px;
	margin-left: auto;
}
.selections {
	margin-top: 1em;
	border: solid 1px #c9d3d6;
	border-top-width: 6px;
	border-right: none;
	padding: 1em 0;
}
	.selections .update {
		float: right;
		margin-right: 10px;
		padding-right: 5px;
	}	
	strong.update {
		width: 30%;
	}

	.selections h4,
	.selections h5 {
		margin-left: 10px;
		margin-bottom: 0.5em;
		clear: left;
	}
	.selections ul,
	.selections dl {
		margin-top: 0.2em;
	}
	/* vehicle details */
	.selections dl {
		width: 65%;
	}
		.selections dt {
			padding-left: 10px;
		}
		.selections dd {
			margin-left: 40%;
		}
	/* equipment options */	
	.selections ul {
		float:left;
		width: 33%;
	}
		.selections li {
			margin-left: 10px;
		}


/* table rules
*/
/*
*/
.bbValues table {
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
}
	.bbValues td {
	 	padding: 0.3em;
	}
	.bbValues th {
	 	padding: 0 0 0.3em 0;
	}

/* last table cell */
.value {
	text-align: right;
}
/* highlight selected condition */
.selected {
	background-color: #f6f7da;
}

/* specific defs for right table display 
*/
#right .bbValues {
	width: 408px;
	border-left: solid 1px #c9d3d6;
	border-right: solid 1px #c9d3d6;
}
#right h3 {
	margin-top: 5px;
	margin-left: 10px;
}
#right h3 img {
	display: none;
}
#right table {
	width: 370px;
}
	#right caption {
		padding-bottom: 5px;
		padding-left: 5px;
	}
	#right th {
		display: none;
	}
	#right td {
		border: solid 6px white;
		border-left: none;
		border-right: none;
	}
		#right .excellent td {
			border-top: none;
		}
		#right .poor td {
			border-bottom: none;
		}

/* specific defs for left table display 
*/
#left .stars {
	display: none;
}
#left .bbValues {
	margin-top: 1em;
}

/* text is hidden behind img */
#left .bbValues h3 {
	background-color: #e9edef;
	border-top: solid 1px #c9d3d6;
	border-bottom: solid 1px #c9d3d6;
}
	/* required to get double border */
	#left h3 span {
		display: block;
		height: 18px;
		border-top: solid 1px white;
		border-bottom: solid 1px white;
		overflow: hidden;
		padding:  0.2em 0 0.2em 15px;
	}
	#left h3 img {
		background-color: #e9edef;
		display: block;
		height: 18px;
		float: left;
		position: relative;
		top: -22px;
		margin-bottom: -5px;
	}
	

#left .bbValues table {
	width: 70%;
}
	/* required to overcome IEs lack of border-spacing support */
	#left .bbValues th span {
		display: block;
		width: 100%;
		border-bottom: solid 2px #c9d3d6;
	 	padding-bottom: 0.3em;
	}
	#left .selected td {
		border-top: dotted 1px #3a5e8b;
		border-bottom: dotted 1px #3a5e8b;
	}
	
#left .bbValues caption,
#left .bbValues .poor,
#left .bbValues tfoot	 {
	display: none;
}



@media print {
	body { 
		width: 100%; 
		padding-top: 0.5in;
	}
	.printLogo {
		display: block;
		margin: 0 auto 0.5em auto;
	}	
	
	a,
	#header .dealer,
	#header h1,
	#right,
	.update,
	.stars { 
		display: none; 
	}
	#header .stockNumber {
		display: inline;
		float: right;
		padding-right: 10px;
	}
	#content { 
		width: 7.5in;
		min-width: 7.5in;
		padding: 0;
		margin-left: 0 auto;
	}
	h2.vehicle {
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#left {
		float: none;
		width: 6in;
		margin: 0 auto;
		border-right: none;
		border-top: none;
	}
		#left .bbValues,
		.selections {
			width: 100%;
			margin: 0;
			margin-top: 6pt;
		}
		#left .bbValues {
			margin-bottom: 12pt;
			padding-bottom: 0.25in;
			border-bottom: solid 2pt #113f77;
		}
	.copyright {
		text-align: center;
		position: absolute;
		width: 5in;
		bottom: 0;
		left: 50%;
		margin-left: -2.5in;
	}
	/* text is not shown here */
	#left .bbValues h3 {
		border: none;
		background-color: white;
		text-align: center;
	}
		#left h3 span {
			visibility: hidden;
		}
		#left h3 img {
			background-color: white;
			float: none;
			display: block;
			padding-left: 150px;
			margin-bottom: -15px;
		}
		#left .bbValues table {
			width: 50%;
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
			border-collapse: collapse;
		}
		.bbValues th,
		.bbValues td {
		 	padding: 0.3em 0;
		}
		.bbValues th {
			border-bottom: solid 2pt #113f77;
		 	padding-bottom: 0.3em;
		}
			/* required to overcome IEs lack of border-spacing support */
			#left .bbValues th span {
				display: inline;
				border-bottom: none;
			}
		.bbValues td {
			border-top: solid 1pt #c9d3d6;
			border-bottom: none;
		 	padding-bottom: 0.8em;
		 	vertical-align: top;
		 	height: 0.5in;
		}
		#left .selected td {
			background-color: transparent;
			border-top: solid 1pt #c9d3d6;
			border-bottom: none;
		}
		/* 
			print only */
		.selected em {
			display: block;
			margin-top: 3pt;
		}
		.selected img {
		 	position: relative;
		 	left: -20px;
		 	margin-right: -20px;
		}
}


