/* /// 
	KBB type rules */


@media print {

	h2.vehicle { 
		font-size: 16pt;
		line-height: 2;
	}

}
	
html {
	font: 67%/0.8 Arial, Helvetica, Verdana, sans-serif;
}
body {
	font-size: 1.1em;
	line-height: 1.2;
	}


h1 { 
	color: #113f77; 	
	font-size: 1.7em;
	}
h2 { 
	color: #113f77; 
	font-size: 1.4em;
	font-weight: bold;
	}
h3 { 
	color: #113f77; 
	font-size: 1.3em;
	font-weight: bold;
	}
h4 { 
	font-size: 1.1em; 
	color: #113f77;
	font-weight: bold;
	}
h5 { 
	font-size: 1em;
	font-weight: bold;
	}	

a {
	color: #113f77;
}
a.print {
	font-size: 0.9em;
	text-decoration: none;
}


li {
	line-height: 0.9;
}
dt {
	font-weight: bold;
}

.copyright {
	font-style: italic;
	font-size: 0.9em;
}

#header .dealer { 
	font-size: 1em;
	text-transform: uppercase;
	color: #113f77;
	}

#header .stockNumber {
	font-size: 1.2em;
	color: #113f77;
}

#content { 
	color: #333;
	}



/* specific to KBB VALUES page
		-- move to sep sheet if kbb standalone grows at all */
#right {
	font-size: 0.9em;
}
.bbValues h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}
.bbValues .selected em {
	font-weight: normal;
	font-style: normal;
	font-size: 0.8em;
}

.bbValues table {
 font-size: 1.3em;
 font-weight: bold;
 color: #666;
}
.bbValues caption {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.9em; 
	color: #113f77;
	font-weight: bold;
}
.bbValues th {
	color: #113f77;
}
.bbValues tfoot td {
	font-size: 0.8em;
	font-weight: normal;
	color: #333;
}

	strong.update {
		color: red;
	}

	.selected .condition {
		color: #333;
	}
	.selected .value {
		color: #113f77;
	}
		



.selections {
	font-size: 0.9em; 
}
	.selections h4,
	.selections h5 {
		font-family: Verdana, Helvetica, Arial, sans-serif;
	}
	.selections ul,
	.selections dl {
		font-size: 1em; 
	}








