﻿* 
{
    margin: 0;
    border: 0;
    padding: 0;
}
body
{
	font-family:  Arial, sans-serif;
	font-size: 68%;
	background-color: #525252;
	color: black;

}
h1
{
	font-size: 2.3em;
	line-height: 1.5em;
	color: white;
}
h2
{
	font-size: 1.3em;
	line-height: 1.5em;
	color: #fc3;
}
h3
{
	font-size: 1.1em;
	color: white;
}
/* links */
a
{
    color: white;
	text-decoration: none;
}
a:visited
{
    color: #5470a2;
}
a:hover
{
    text-decoration: underline;
}
a img
{
	border: 0;
	outline: none;
}

/* reports */

.container
{
	margin: 10px auto;
	position: relative;
	width: 990px;
}
.content
{
    border-top: 1px solid #fc3;
    border-bottom: 1px solid #fc3;
	background-color: #333;
	background-image: url(Images/Reports/TopShadow.gif);
	background-repeat: repeat-x;
	padding: 15px;
	overflow: hidden;
}
.header
{
	text-align: left;
	padding-bottom: 10px;
}
.close
{
	float: right;
	vertical-align: top;
}
.clear
{
	clear: both;
	margin: 0;
	padding: 0;
}
.primary-data
{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid white;
}
.primary-data td
{
	padding: 3px;
}
.primary-data th
{
	padding: 3px 3px 6px 3px;
	background-color: #ccc;
	border-bottom: 2px solid #444;
	border-top: 2px solid #444;
	text-align: left;
}
.primary-data th a
{
	font-size: 1em;
	font-weight: 700;
	color: #036;
}
.primary-data tr
{
	background-color:#FFF;
}
.primary-data tr.odd
{
	background-color:#ccc;
}
.page-footer
{
    clear: both;
	border-top: 1px solid #666;
	padding-top: 5px;
}
.page-footer .status
{
    float: left;
}

.page-footer li
{
    padding-right: 3px;
	margin-right: 5px;
	display: inline;
	list-style-type: none;
	border-right: solid 1px #fc3;
	color: #fc3;
}
.page-footer li em
{
	font-weight: bold;
}
.page-footer li.last
{
	border-right:0;
}
