/* -------------------------------------------------------------- 
   IE Hacks
-------------------------------------------------------------- */

/* Make sure the layout is centered in IE5 */
body { text-align: center; }
form { text-align: left; }

/* Keeps IE6 from cutting pulled/pushed images */
ul, ol { position: relative; }

/* Fixes incorrect styling of legend in IE6 fieldsets. */
legend { margin-bottom: 1.4em; }

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left: 2em; }