/* ================= */
/* = START: Dialog = */
/* ================= */
/* = start: Formating = */
.ui-dialog { 
	background-color: #fff; 
	z-index: 999;
}
.ui-dialog-titlebar {
	border-bottom: solid 1px #cdcdcd;
	background-color: #DFDFDF;
	margin-top: 4px;
	padding: 6px 0 2px 0;
	zoom: 1;
	position: relative;
}
.ui-dialog-title {
	color: #31404F;
	font-weight: bold;
	font-size: 12px;
	margin-left: 8px;
}
.ui-dialog-titlebar button.ui-dialog-titlebar-close {
	position: absolute;
	top: 1px;
	right: 6px;
	display: block;
	text-indent: -25000px;
	width: 22px; height: 22px;
	background: transparent url(Images/Dialog/Close.gif) no-repeat top center;
	border: 1px solid #dfdfdf;
	outline: 1px solid #dfdfdf;
}

.ui-dialog-titlebar button.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar button.ui-dialog-titlebar-close:active,
.ui-dialog-titlebar button.ui-dialog-titlebar-close:focus {
	background-position: bottom center;
	border-color: #f4f4f4;
	outline: 1px solid #f4f4f4;
}
.ui-dialog-content {
	color: #3F3F3F;
	padding: 0 10px 3em 8px;
}
.ui-dialog-content .confirmation {
	font-size: 8pt;
}
.ui-dialog-buttonpane {
	position: absolute;
	bottom: 0;
	right: 8px;
	height: 3em;
}
.ui-dialog-buttonpane ul li {
	margin: 0 0 0 0.5em;
	padding: 0;
}
.ui-dialog .ui-resizable-s { height: 4px; background: #fff url(Images/Dialog/x_border.gif) repeat-x bottom; }
.ui-dialog .ui-resizable-n { height: 2px; background: #fff url(Images/Dialog/x_border.gif) repeat-x top; }
.ui-dialog .ui-resizable-w { width: 4px;  background: #fff url(Images/Dialog/y_border.gif) repeat-y left; }
.ui-dialog .ui-resizable-e { width: 4px;  background: #fff url(Images/Dialog/y_border.gif) repeat-y right; }
.ui-dialog .ui-resizable-se, .ui-dialog .ui-resizable-sw,
.ui-dialog .ui-resizable-nw, .ui-dialog .ui-resizable-ne { 
	width: 4px; height: 4px; 
	background: #fff url(Images/Dialog/Corners.gif) no-repeat;
}
div.ui-resizable .ui-resizable-se {
	width: 12px; height: 12px;
	background-image: url(Images/Dialog/Corners_resizable.gif);
}
.ui-dialog .ui-resizable-se { background-position: bottom right; }
.ui-dialog .ui-resizable-ne { background-position: top right; }
.ui-dialog .ui-resizable-nw { background-position: top left; }
.ui-dialog .ui-resizable-sw { background-position: bottom left; }
.ui-dialog input.button,
.ui-dialog button {
    margin:0;
    background-color:#fff;
    border:1px solid #9f9f9f;
    border-top-color: #b4b4b4;
    border-left-color: #b4b4b4;
    font-weight: bold;
    font-size: 85%;
    color:#485775; 
    cursor:pointer;
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
}
.ui-dialog input.button:hover,
.ui-dialog button:hover {
	background-color: #f4f4f4;
	color: #535a6a;
	border-color: #b9b9b9;
	border-top-color: #cdcdcd;
	border-left-color: #cdcdcd;
}
.ui-dialog .ui-input-fieldset { border: none; }
.ui-dialog .ui-input-fieldset textarea { width: 99.9%; }
.ui-dialog p.warning {
    margin-top: 0.2em;
    color: #c00c0d;
    font-size: 90%;
    font-weight: bold;
}
/* = end: Formating = */
/* = start: Functional Layout = */
.ui-dialog { position: absolute; overflow: hidden; width: 100%; zoom: 1}
.ui-dialog-container { position: relative; }
.ui-dialog-buttonpane ul { list-style-type: none; }
.ui-dialog-buttonpane ul li { display: inline; }
.ui-resizable-handle { position: absolute; }
.ui-dialog .ui-resizable-n { width: 100%; top: 0px; left: 0px; }
.ui-dialog .ui-resizable-s { width: 100%; bottom: 0px; left: 0px; }
.ui-dialog .ui-resizable-e { right: 0px; top: 0px; height: 100%; }
.ui-dialog .ui-resizable-w { left: 0px; top: 0px; height: 100%; }
.ui-dialog .ui-resizable-se { min-width: 1px; min-height: 1px; right: 0px; bottom: 0px; }
.ui-dialog .ui-resizable-sw { min-width: 1px; min-height: 1px; left: 0px; bottom: 0px; }
.ui-dialog .ui-resizable-nw { min-width: 1px; min-height: 1px; left: 0px; top: 0px; }
.ui-dialog .ui-resizable-ne { min-width: 1px; min-height: 1px; right: 0px; top: 0px; }
/* = end: Functional Layout = */