/* =============== */
/* = START: Menu = */
/* =============== */
/* = start: Formating = */
div.blue div.ui-menu-horizontal,
div.blue div.ui-menu-horizontal a { color: #036; }
div.ltGrey div.ui-menu-horizontal,
div.ltGrey div.ui-menu-horizontal a { color: #666; }
div.ltGrey div.ui-menu-horizontal ul.ui-menu li a:hover,
div.ltGrey div.ui-menu-horizontal ul.ui-menu li span:hover
div.ltGrey div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover span { text-decoration: underline; }
div.smallCaps div.ui-menu-horizontal * { text-transform: uppercase; }
div.ui-menu-horizontal ul.ui-menu { margin: 0; padding: 0 0 2px 0; list-style: none; }
div.ui-menu-horizontal ul.ui-menu li { border-right: 1px solid #999; padding: 0; }
div.ui-menu-horizontal ul.ui-menu li.last {	border-right: none; }
div.ui-menu-horizontal ul.ui-menu li.ui-menu-parent {
	padding-right: 3px;
	background-image: url('Images/navarrow.gif');
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
div.ui-menu-horizontal ul.ui-menu li.ui-menu-parent li.ui-menu-parent {	background-image: url('Images/navarrow2.gif'); }
div.ui-menu-horizontal ul.ui-menu li a, 
div.ui-menu-horizontal ul.ui-menu li span {	line-height: 12px; padding: 0 5px; }
div.ui-menu-horizontal ul.ui-menu li ul {
	top: 12px;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	border-top: none;
	background-color: #fff;
	list-style: none;
}
div.ui-menu-horizontal ul.ui-menu li li ul {
	top: -2px;
	border-left: none;
	border: 1px solid #999;
}
div.ui-menu-horizontal ul.ui-menu li li {
	margin: 0;
	padding: 0;
	border-right: none;
	border-top: 1px solid #EDEDED;
	text-transform: none;
	border-bottom: 1px solid #fff; /* KLUDGE: IE6 padding fix, color should match parent ul */
}
div.ui-menu-horizontal ul.ui-menu li li a,
div.ui-menu-horizontal ul.ui-menu li li span { padding: 5px; }
div.ui-menu-horizontal ul.ui-menu li ul li:hover,
div.ui-menu-horizontal ul.ui-menu li ul li.ui-menu-hover { background-color: #F5F5F5; }
/* = end: Formating = */

/* = start: Menu Functional Layout = */
div.ui-menu-horizontal ul.ui-menu {	display: block;	list-style: none; }
div.ui-menu-horizontal ul.ui-menu li { display: inline;	position: relative; }
div.ui-menu-horizontal ul.ui-menu li a,
div.ui-menu-horizontal ul.ui-menu li span {	display: inline; text-decoration: none; cursor: pointer; }
div.ui-menu-horizontal ul.ui-menu li ul { position: absolute;	left: -1px;	display: none; }
div.ui-menu-horizontal ul.ui-menu li li ul { left: 100%; }
div.ui-menu-horizontal ul.ui-menu li li { display: list-item; white-space: nowrap; overflow: visible; }
div.ui-menu-horizontal ul.ui-menu li li a,
div.ui-menu-horizontal ul.ui-menu li li span { display: block; }
div.ui-menu-horizontal ul.ui-menu li:hover>ul,
div.ui-menu-horizontal ul.ui-menu li ul:hover { display: block; }
div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover ul {	display: block; }
/* = end: Functional Layout = */

/* = END: Menu = */