html .market_report_table table tbody td.expando input {
	overflow: hidden;
	cursor:	pointer;
}
html .market_report_table table tbody td.shopping_list label {
	overflow: hidden;
	cursor: pointer;
}
html table.grid thead tr.headings th label {
	text-decoration: underline;
	cursor: pointer;
}
html table.grid thead tr.headings input.unsorted {
	height: auto;
}
html h1#branding,
html h2.dealer_name {
	text-align: left;
}
html #progress {
	position: absolute;
}