/* ================= */
/* = Start: Layout = */
/* ================= */
#page_wrapper,
#menu,
div.page-footer {
	width: 87em;
	margin: 0 auto;
	position: relative;
	clear: both;
}
#menu {
	z-index: 100;
}
#page_wrapper {
	z-index: 50;
}
div.page-footer {
	z-index: 0;
}
#menu .ui-menu-horizontal {
	font-size: 0.85em; 
}
#menu .application_menu_container {
	float: left;	
}
#menu .member_menu_container {
	float: right;
}
#control_wrapper {
	position: relative;
	z-index: 10;
}
#control_wrapper,
#control_wrapper .market_report_table,
#control_wrapper .market_report_table table,
#control_wrapper .shopping_list_table,
#control_wrapper .shopping_list_table table {
	width: 84em;
	margin: 0 auto;
	clear: both;
	position: relative;
	z-index: 1;
}
#control_wrapper #search_controls {
	position: relative;
	top: 0.5em;
	float: left;
}
#control_wrapper #navigation_controls {
	float: right;
	margin-right: 2em;
}
div.page-footer .status {
	font-size: 0.9em;
}

.report #control_wrapper .print_controls {
	clear: both;
	text-align: right;
	margin-top: 1ex;
}

.list #control_wrapper .print_controls {
	clear: both;
	float: right;
	text-align: left;
	position: relative;	
	top: -1em;
}

.list #control_wrapper .row_controls {
	float: left;
	text-align: left;
}

#progress {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -30px;
    padding: 15px 10px 15px 40px;   
    color: #4F4F4F;
    background-color: #fff;
    border: solid 1px #888;
    z-index: 10000;
    background: #fff url('Images/loading.gif') no-repeat 5px 50%;
}
/* = End: Layout = */

/* ================ */
/* = Start: Color = */
/* ================ */
#page_wrapper {
	background: #f1f1f1 url('Images/PageBg.gif') repeat-x 0 0;
	border-top: 1px solid #a9a9a9;
	border-bottom: 1px solid #a9a9a9;
	background-color: #f1f1f1;
	padding: 1.6em 0.84em 0.84em;
}
h1,h2,h3 {
	color: #213d65;
}
h4,h5,h6 {
	color: #5c6890;
}
#branding {
	color: #213d65;
	font-size: 1.5em;
	line-height: 1; 
	margin-left: 1em;
	font-style: italic;
}
h2.dealer_name {
	color: #5c6890;
	font-size: 0.8em;
	margin-top: -1.25em;
	margin-left: 1.9em;
}
ul.report_links {
	list-style: none;
	position: absolute;
	top: 20px;
	right: 1ex;
	display: block;
}
ul.report_links li {
	color: #5c6890;
	font-size: 0.8em; 
	display: inline;
	padding: 0 1ex;
	border-right: 1px solid #5c6890;
}
ul.report_links li.last {
	border-right: none;
}
/* = Start: Color = */

/* ========================== */
/* = Start: Search Controls = */
/* ========================== */
#search_controls select {
	width: 150px;
}
#search_controls .ui-slider {
	width: 74px;
	height: 11px;
	top: 0.8ex;
	position: relative;
	background: url(Images/distance_slider_bg.png) repeat-x center center;
	cursor: pointer;
	margin-right: 1ex;
}
#search_controls select,
#search_controls .ui-slider,
#search_controls label {
	float: left;
}
#search_controls label {
	margin: 0 1ex 0;
	font-weight: normal;
	color: #213d65;
}
#search_controls label.radius_report {
	width: 62px;
}
#search_controls span.button {
	margin-left: 1em;
}
/* = End: Search Controls = */

/* =============== */
/* = Start: Tabs = */
/* =============== */
#control_wrapper .tabs {
	float: right;
	padding-right: 1ex;
}
#control_wrapper .tabs li {	
	padding: 5px 15px;
	border: 1px solid #cfcfcf;
	border-bottom: none;
	background-color: #dfdfdf;
	margin-left: 3px;
}
#control_wrapper .tabs li,
#control_wrapper .tabs li a {
	color: #6d7e96;
	font-size: 1.1em;
	font-weight: bold;
}
#control_wrapper .tabs li a:hover {
	text-decoration: none;
	color: #213d65;
}
#control_wrapper .tabs li.active {
	background-color: #cfcfcf;
	border: 1px solid #b4b4b4;
	border-bottom: none;
	position: relative;
	top: 1px;
	padding: 7px 15px 5px;
	margin-top: -2px;
	border-right: 2px solid #919191;
}
#control_wrapper .tabs li.active,
#control_wrapper .tabs li.active a {
	color: #213d65;
}
/* = End: Tabs = */

/* ================== */
/* = Start: Buttons = */
/* ================== */
span.button input {
	overflow: visible;
	width: auto;
	border: none;
	margin: 0;
	padding: 0 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #2B4068;
	border: 1px solid #fff;
	background-color: transparent;
	cursor: pointer;
}
span.button {
	display: inline-block;
	padding: 1px;
	background: transparent url(Images/ButtonGradient.gif) repeat-x center center;
	border: 1px solid #a3a3a3;
	margin-top: 1px;
	cursor: pointer;
}
/* = Start: Buttons = */

/* =============== */
/* = Start: Grid = */
/* =============== */
/* start columns */
table.grid th.mds,
table.grid td.mds {
	width: 7em;
	text-align: center;
}
table.grid th.smallest_mds,
table.grid td.smallest_mds {
	width: 5.5em;
	text-align: center;
}
table.grid thead tr.headings th.vehicle_info {
	text-align: left;
}
table.grid th.units_sold,
table.grid td.units_sold {
	width: 4em;
	text-align: center;
}
table.grid th.number_of_listings,
table.grid td.number_of_listings {
	width: 6.5em;
	text-align: center;
}
table.grid th.avg_market_price,
table.grid td.avg_market_price {
	width: 8.5em;
}
table.grid tbody td.avg_market_price {
	text-align: right;
	padding-right: 2em;
}
table.grid th.avg_mileage,
table.grid td.avg_mileage {
	width: 8.5em;
}
table.grid tbody td.avg_mileage {
	text-align: right;
	padding-right: 2em;
}
table.grid th.units_in_stock,
table.grid tbody td.units_in_stock {
	width: 6em;
	text-align: center;
}
/* end columns */

/* start tabe head */
table.grid thead tr.headings th {
	background-color: #a9a9a9;
	color: #f4f4f4;
	font-weight: normal;
	text-transform: uppercase;
	vertical-align: text-bottom;
	text-align: center;
	font-size: 0.95em;
	line-height: 1.25;
	padding-top: 10px;
}
table.grid thead tr.headings th label {
	cursor: pointer;
	color: #fff;
	font-weight: normal;
}
table.grid thead tr.headings th label:hover {
	text-decoration: underline;
}
table.grid thead tr.headings .sort_list,
table.grid thead tr.headings .sort_list li {
	display: inline;
}
table.grid thead tr.headings .sort_list {
	margin: 0;
}
table.grid thead tr.headings input.sorted,
table.grid thead tr.headings input.unsorted,
table.grid thead tr.headings .sort_list input {
	font: bold 1.2em sans-serif;
	padding: 0 0.5ex;
	border: none;
	background: transparent;
	color: #fff;
	margin-top: -0.5ex;
}
table.grid thead tr.headings input.unsorted {
	display: inline-block;
	width: 1px;
	height: 1px;
	color: #a9a9a9;
}
/* end tabe head */

/* start tabe body */
table.grid tbody td {
	font-size: 0.9em;
	color: #555555;
	background-color: #f2f2f2;
	border-top: 1px solid #E9E9E9;
}
table.grid tbody tr.odd td {
	background-color: #fff;
}
table.market_report_table tbody td.vehicle_info ul {
	float: left;
	margin: 3px 0 -3px 0;
}
table.grid tbody td.vehicle_info ul {
	display: block;
	list-style: none;
	margin: 3px 0 -3px 0;
}
table.grid tbody td.vehicle_info ul li {
	display: inline;
}
table.grid tbody .series {
	margin-left: 1ex;
}
table.grid tbody .series,
table.grid tbody .drive_train,
table.grid tbody .engine,
table.grid tbody .fuel_type,
table.grid tbody .transmission {
	padding: 0 0.5ex 0 0;
	margin-right: 0.5ex;
	color: #747474;
}
table.grid tbody .series,
table.grid tbody .drive_train,
table.grid tbody .engine,
table.grid tbody .fuel_type {
	border-right: 1px solid #C1C1C1;
}
table.grid tbody tr.odd .series,
table.grid tbody tr.odd .drive_train,
table.grid tbody tr.odd .engine,
table.grid tbody tr.odd .fuel_type {
	border-right: 1px solid #D6D6D6;
}
table.market_report_table tbody tr td.has_configuration span.year,
table.market_report_table tbody tr td.has_configuration span.make,
table.market_report_table tbody tr td.has_configuration span.model,
table.market_report_table tbody tr td.has_configuration span.segment {
	float: left;
	margin: 3px 0.5ex -3px 0;
}
/* end tabe body */

/* start paging */
ul.paging_list {
	list-style: none;
	display: inline;
}
ul.paging_list li {
	display: inline;
}
ul.paging_list li input {
	font-size: 0.9em;
	padding: 0 0.75ex;
	border: 1px solid #d0d0d0;
	background-color: #e0e0e0;
	color: #777;
	overflow: visible;
	width: auto;
	margin-left: 0.5ex;
}
ul.paging_list li input.paging_current:hover,
ul.paging_list li input.paging_current {
	border: 1px solid #777;
	background-color: #F9F9F9;
	color: #515151;
}
ul.paging_list li input:hover {
	border: 1px solid #949494;
}
/* end paging */

/* = End: Grid = */

/* ============================== */
/* = Start: Navigation Controls = */
/* ============================== */
#navigation_controls .tabs li.shopping_list {
	padding-left: 10px;
}
#navigation_controls .tabs li.shopping_list a {
	background-image: url('Images/ShoppingList_tab.gif');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 20px;
}
#navigation_controls .tabs li.shopping_list_inactive a {
	background-position: 0px -112px;
}
#navigation_controls .tabs li.shopping_list_inactive a:hover {
	background-position: 0px 3px;
}
/* = End: Navigation Controls = */

/* ================================ */
/* = Start: Market Stocking Table = */
/* ================================ */
.market_report_table {
	position: relative;
	border-top: 1px solid #c5c5c5;
}
.market_report_table table {
	border: 1px solid #a9a9a9;
	border-top: 2px solid #cfcfcf;
	table-layout: fixed;
}

/* start columns */
.market_report_table table th.expando,
.market_report_table table td.expando {
	width: 1.25em;
}

.market_report_table table th.shopping_list,
.market_report_table table td.shopping_list {
	width: 5em;
}
.market_report_table table td.shopping_list {
	vertical-align: top;
}
/* end columns */

/* start filters */

.market_report_table table thead tr.filter_summary td {
	background-color: #cfcfcf;	
	color: #4F4F4F;
}
.market_report_table table thead tr.filter_summary td.avg_market_price{
	text-align: right;
	padding-right: 2em;
}
.market_report_table table thead tr.filter_summary td.avg_mileage {
	text-align: right;
	padding-right: 2em;
}
.market_report_table table thead tr.filter_summary td.units_in_stock {
	width: 6em;
	text-align: center;
}
.market_report_table table thead tr.filter_summary td dl,
.market_report_table table thead tr.filter_summary td dl dt,
.market_report_table table thead tr.filter_summary td dl dd {
	display: inline;
	padding: 0;
	margin: 0;
}
.market_report_table table thead tr.filter_summary td dl dt {
	text-transform: uppercase;
	font-weight: normal;
}
.market_report_table table thead tr.filter_summary td dl dd {
	margin-right: 1ex;
	margin-left: 0.5ex;
	color: #353535;
}
.market_report_table table thead tr.filters,
.market_report_table table thead tr.filters td {
	padding: 0;
	border: none;
	vertical-align: top;
}
.market_report_table table thead tr.filters .filter {
	position: relative;
}
.market_report_table table thead tr.filters fieldset {
	padding: 0 3px 3px;
	background-color: #fff;
	border-left: 1px solid #a9a9a9;
	border-bottom: 2px solid #a9a9a9;
	border-right: 2px solid #a9a9a9;
}
.market_report_table table thead tr.filters fieldset p,
.market_report_table table thead tr.filters fieldset ul {
	padding-left: 1ex;
}
.market_report_table table thead tr.filters fieldset ul.checkbox_list {
	display: block;
	margin-left: 1ex;
}
.market_report_table table thead tr.filters fieldset ul.checkbox_list li {
	width: 32.9%;
	float: left;
}
.market_report_table table thead tr.filters fieldset ul.checkbox_list li label {
	width: 5.5em;
	color: #1F1F1F;
	background-color: #fff;
}
.market_report_table table thead tr.filters fieldset ul.checkbox_list li label:hover {
	background-color: #FFFFCA;
	color: #000;
}
.market_report_table table thead tr.filters fieldset .filter_control {
	text-align: right;
	margin-top: 0;
	padding: 0 1ex 0 0;
}
/* end filters */

/* start column filters */
.market_report_table table thead tr.filters td.mds .radio_list {
	margin-left: -1ex;
}
.market_report_table table thead tr.filters td .radio_list {
	margin: 0;
	text-align: left;
	list-style: none;
}
/* end column filters */

/* start tabe body */
.market_report_table table tbody td.expando input {
	display: block;
	color: #c2c2c2;
	padding: 1px;
	overflow: visible;
	width: auto;
	height: 12px;
	width: 12px;
	border: 1px solid #c2c2c2;
	background-color: #fff;	
	line-height: 6px;
	text-indent: -1px;
	margin-left: 2px;
	font-weight: bold;
	font-family: sans-serif;
}
.market_report_table table tbody tr.child td.expando input {
	line-height: 7px;
}
.market_report_table table tbody td.expando input:hover {
	color: #949494;
	border: 1px solid #949494;
}
.market_report_table table tbody td.shopping_list .readonly input {
	font-size: 9px;
	overflow: visible;
	width: auto;
	padding: 0 2px;
}
.market_report_table tbody td.shopping_list .readonly input {
	z-index: -1;
	position: relative;
}
.market_report_table tbody td.shopping_list label.readonly {
	cursor: pointer;
	display: block;
	height: 16px;
	background: transparent url('Images/ShoppingList_sm.gif') no-repeat 0 -15px;
}
.market_report_table tbody td.shopping_list input.edit {
	width: 2em;
}
.market_report_table tbody td.shopping_list label.in_list,
.market_report_table tbody td.shopping_list label.child_in_list {
	background-position: 0 0;
}
.market_report_table tbody td.shopping_list label:hover {
	background-position: 0 -45px;
}
.market_report_table tbody td.shopping_list label.in_list:hover {
	background-position: 0 0px;
}
.market_report_table table tbody tr.child td {
	color: #6A6A6A;
	padding-top: 1px;
	padding-bottom: 2px;
	border-top: 1px solid #D9D9D9;
}
.market_report_table table tbody tr.child td.expando,
.market_report_table table tbody tr.child td.shopping_list {
	border: none;
}
/* end tabe body */

/* start paging */
.paging_controls span.button {
	float: left;
	margin-top: -3px;
}

.paging_controls {
	padding: 5px 0;
}
.paging_controls ul.paging_list {
	float: right;
	margin: 0;
}
.row_controls .expand_all_rows {
	float: left;
}
/* end paging */

/* = End: Market Stocking Table = */

/* ============================== */
/* = Start: Shopping List Table = */
/* ============================== */
.shopping_list_table {
	border-top: 1px solid #c5c5c5;
}
.shopping_list_table table {
	border: 1px solid #a9a9a9;
	border-top: 2px solid #cfcfcf;
	table-layout: fixed;
}

.shopping_list_table table th.select,
.shopping_list_table table td.select {
	width: 1.25em;
}

.shopping_list_table table th.quantity,
.shopping_list_table table td.quantity {
	width: 4.5em;
}
.shopping_list_table table td.select span.button {
	margin-left: 1px;
}
.shopping_list_table table td.select input {
	color: #800000;
}

.shopping_list_table table th.flash_locate,
.shopping_list_table table td.flash_locate {
	width: 6.5em;
}

.shopping_list_table table td.flash_locate a {
	font-variant: small-caps;
}

.shopping_list_table table td.quantity input {
	text-align: center;
	font-weight: bold;
	width: 3em;
	margin: 0 auto;
	background-color: #ebebeb;
	border: 1px solid #cecece;
}
.shopping_list_table table tr.odd td.quantity input {
	background-color: #ebebeb;
	border: 1px solid #cecece;
}

.shopping_list_table table tr.notes td.select {
	border-top: none;
}

.shopping_list_table table tr.notes {
	vertical-align: top;
}
.shopping_list_table table tr.notes label {	
	vertical-align: top;
	display: block;
	float: left;
	text-align: right;
	padding: 1ex 1em 0 0;
	width: 9.25em;
	text-transform: uppercase;
}
.shopping_list_table table tr.notes textarea {
	margin-top: -0.3ex;
	overflow: hidden;
	width: 64.5em;
	height: 3em;
	border: 1px solid #fff;
	background-color: #ebebeb;
	border: 1px solid #cecece;
}
.shopping_list_table table tr.odd textarea {
	background-color: #ebebeb;
	border: 1px solid #cecece;
}

.save_controls {
	float: right;
	text-align: right;
}
.save_controls span.button {
	margin-left: 1ex;
}
/* = End: Shopping List Table = */

.print_dialog p {
	padding: 1em;
}

#please_wait {
	height: 400px;
	width: 550px;
	margin: 0 auto;
	background: #f1f1f1 url('Images/Waiting.gif') no-repeat 50% 50%;	
}

/* =========================== */
/* = start: with_javascript = */
/* =========================== */
body.has_javascript #search_controls select {
	visibility: hidden;
}
body.has_javascript .market_report_table table thead tr.filter_summary td.has_filter {
	background-image: url('Images/FilterIcon.gif');
	background-repeat: no-repeat;
	background-position: right 5px;
	vertical-align: middle;
	cursor: pointer;
}
body.has_javascript .market_report_table table thead tr.filter_summary td.has_filter:hover {
	background-image: url('Images/FilterIcon.gif');
	background-repeat: no-repeat;
	background-position: right -46px;
}
body.has_javascript .market_report_table table thead tr.filters fieldset {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
body.has_javascript .market_report_table table thead tr.filters div.filter {
	display: none;
	z-index: 1;
}
body.has_javascript .market_report_table table tbody tr.other_parent td.vehicle_info {
	color: #009;
	cursor: pointer;
}
/* = end: with_javascript = */