/* ================= */
/* = START: Footer = */
/* ================= */
div.page-footer {
    color: #999;
    background: transparent url(Images/firstlook_logo_tagline.gif) no-repeat center right;
}

div.page-footer ul {
	list-style: none;
	margin: 0;
}

div.page-footer ul li {
	display: inline;
	border-right: 1px solid #9999b2;
	padding: 0 0.5em;
}

div.page-footer ul li.last {
	border-right: none;
	position: relative;
}
div.page-footer ul li.last span.chrome-copy {
	position: absolute;
	top: 1.5em;
	left: 1ex;
}
/* = END: Footer = */