/* ================= */
/* = Start: Layout = */
/* ================= */
@page {
	size: 216mm  279mm;
	margin: 10mm;
	@top-right { 
        content: "Page " counter(page) " of " counter(pages);
        font-style: italic;
        font-size: 6pt;
        color: #BCBCBC;
    }
    @top-left {
    	content: flow(header);
    }
    @bottom-left {
    	content: flow(footer);
    }
}
#page_wrapper {
	clear: both;
}
#footer {
	border-top: 1px solid #000;
	flow: static(footer);
}
#footer span.date {
	font-size: 6pt;
}
#footer img {
	float: right;
}
.market_report_table,
.market_report_table table,
.shopping_list_table,
.shopping_list_table table {
	width: 195mm;
	clear: both;
	page-break-before: avoid;
}
/* = End: Layout = */

/* ================ */
/* = Start: Color = */
/* ================ */
h1,h2,h3 {
	color: #213d65;
}
h4,h5,h6 {
	color: #5c6890;
}
#branding {
	/*
		TODO Add Image for Branding
	*/
	flow: static(header);
	color: #213d65;
	font-size: 1.5em;
	line-height: 1; 
	margin-bottom: 1em;
	font-style: italic;
	
}
#branding span {
	display: block;
	font-size: 0.66em; 
	color: #5c6890;
}
h2.dealer_name {
	color: #5c6890;
	font-size: 0.8em; 
	padding-top: 0.8em;
	position: absolute;
	top: -1em;
	left: 0em;
}
h3 {
	font-size: 8pt;
	line-height: 1;	
}
/* = Start: Color = */

/* =========== */
/* = Summary = */
/* =========== */
p.vehicle_info_summary,
p.price_summary,
p.mileage_summary,
p.report_days_summary,
p.report_radius_summary {
	font-size: 6pt;
	color: #808080;
	float: left;
	line-height: 1;
	margin-bottom: -0.05mm;
	page-break-after: avoid;
}
p.vehicle_info_summary {
	margin-top: 1em;
	page-break-after: avoid;
}
p.price_summary {
	margin-left: 75mm;
	width: 25mm;
	page-break-after: avoid;
}
p.mileage_summary {
	width: 24mm;
	page-break-after: avoid;
}

/* =============== */
/* = Start: Grid = */
/* =============== */
/* start columns */
table.grid th.mds,
table.grid td.mds {
	width: 7em;
	text-align: center;
}
table.grid thead tr th.vehicle_info {
	text-align: left;
}
table.grid th.vehicle_info,
table.grid td.vehicle_info {
	padding-left: 1em;

}
table.grid th.units_sold,
table.grid td.units_sold {
	width: 4em;
	text-align: center;
}
table.grid th.number_of_listings,
table.grid td.number_of_listings {
	width: 6.5em;
	text-align: center;
}
table.grid th.avg_market_price,
table.grid td.avg_market_price {
	width: 8.5em;
}
table.grid tbody td.avg_market_price {
	text-align: right;
	padding-right: 2em;
}
table.grid th.avg_mileage,
table.grid td.avg_mileage {
	width: 8.5em;
}
table.grid tbody td.avg_mileage {
	text-align: right;
	padding-right: 2em;
}
table.grid th.units_in_stock,
table.grid tbody td.units_in_stock {
	width: 6em;
	text-align: center;
}
/* end columns */

/* start tabe head */
table.grid thead tr th {
	color: #2f2f2f;
	background: #e1e1e1 url('Images/header_grad.jpg') repeat-x 100%;	
	border-bottom: 1px solid #e7e7e7;
	font-weight: normal;
	vertical-align: bottom;
	text-align: center;
	font-size: 8pt;
	line-height: 1.25;
	font-weight: normal;
}
/* end tabe head */

/* start tabe body */
table.grid tbody td {
	font-size: 7pt;
	color: #555555;
	background-color: #fafafa;
}
table.grid tbody tr.odd td {
	background-color: #fff;
}
table.grid tbody td.vehicle_info ul {
	font-size: 6pt;
	display: block;
	list-style: none;
	margin: 3px 0 -3px 0;
}
table.grid tbody td.vehicle_info ul li {
	display: inline;
}
table.grid tbody .series {
	margin-left: 1ex;
}
table.grid tbody .series,
table.grid tbody .drive_train,
table.grid tbody .engine,
table.grid tbody .fuel_type,
table.grid tbody .transmission {
	padding: 0 0.5ex 0 0;
	margin-right: 0.5ex;
	color: #9B9B9B;
}
table.grid tbody .series,
table.grid tbody .drive_train,
table.grid tbody .engine,
table.grid tbody .fuel_type {
	border-right: 1px solid #E8E8E8;
}
/* end tabe body */

/* = End: Grid = */

/* ============================== */
/* = Start: Shopping List Table = */
/* ============================== */
.market_report_table table,
.shopping_list_table table {
	border: 1px solid #a9a9a9;
	table-layout: fixed;
	border-collapse: separate;
}

.shopping_list_table table th.quantity,
.shopping_list_table table td.quantity {
	width: 5em;
}

.shopping_list_table table td.quantity .box {
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 0.75mm;
	width: 3mm;
	height: 3mm;
	display: inline-block;
	border: 1px solid #8B8B8B;
}

.shopping_list_table table tr.notes td.select {
	border-top: none;
}

.shopping_list_table table tr.notes {
	vertical-align: top;
}
.shopping_list_table table tr.notes td {
	border: none;
	border-bottom: 1px solid #a9a9a9;
	page-break-before: avoid;
}

.shopping_list_table table tr.notes div {
	float: left;
	margin: 0 4mm;
	text-indent: -2mm;
	font-size: 8pt;
	color: #939393;
	height: 7em;
	background: transparent url('Images/text_lines.gif') 0 4mm;	
}
.shopping_list_table table tr.notes .line {
	border: none;
	border-top: 1px solid #a9a9a9;
	display: block;
	width: 190mm;
	margin-left: 2mm;
}
.shopping_list_table table tr.notes div.notes {
	width: 125mm;
}
.shopping_list_table table tr.notes div.lot_location {
	width: 50mm;
}
/* = End: Shopping List Table = */