/* TABS =  */
#tabs { width:100%;
		background:transparent url('../../../../images/uiWidgets/tabs/edge/gradWCap-tab-small-l.gif') no-repeat left 6px; margin-bottom:-20px;}
#tabs ul { height:30px; background:transparent url('../../../../images/uiWidgets/tabs/edge/gradWCap-tab-small-r.gif') no-repeat right 6px; }
#tabs li { height:30px; float:left; }
#tabs a { float:left; height:30px; text-align:center; display:block; color:#666; text-decoration:none; }
#tabs h5 {  /*spacing between pipes=*/ margin:10px 10px 0 10px; font-family:Verdana,Arial,Helvetica,sans-serif; }
#tabs h5 span { font-weight:normal; }
	/*tab 1 exception*/
	#tabs li.tab1 a { margin-left:10px; }
	/*pipes*/
	#tabs li.vline { background:transparent url('../../../../images/uiWidgets/tabs/edge/line-vert999.gif') no-repeat left 11px; }
	/* active tab */
	#tabs li.active a { color:#FC3; background:transparent url('../../../../images/uiWidgets/tabs/edge/cap-tab-small-lActive.gif') no-repeat left top; margin-right:2px; }
		/*hides from IE*/
		head:first-child+body #tabs li.active a { margin-right:4px; }
	#tabs li.active { background:transparent url('../../../../images/uiWidgets/tabs/edge/cap-tab-large-rActive.gif') no-repeat right top; }
	#tabs li.active h5 span { color:white; }
	#tabs li.active h5  { /*padding inside tab=*/ margin:10px 6px 0 10px; }
#tabs h5.none { color:#999; }