/* ----------------------------------------------------------- //
   CSS Reset
// ----------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight:normal;
	font: inherit;
	vertical-align: baseline;
}

a::-moz-focus-inner, img::-moz-focus-inner, input::-moz-focus-inner { border:0 !important; outline:0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { outline:0; }

/* clearfix class */
.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clearfix:after { clear:both; content:" "; display:block; font-size:0; height:0; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }


/* ----------------------------------------------------------- //
   Layout
// ----------------------------------------------------------- */

#Container { margin:0 auto; width:720px; }

#Header { margin:12px 0 6px; }
#Header h1 { float:left; margin:3px 0 0 6px; }
#Header .logo { float:right; height:20px; margin-right:6px; overflow:hidden; text-indent:-9999px; width:108px; }

#Body { clear:both; height:500px; }
#Body p { text-align:center; }
#Body p.action { margin:106px 0 20px; text-align:center; }

/* ----------------------------------------------------------- //
   Appearance
// ----------------------------------------------------------- */

.bold { font-weight:bold; }
.nobold { font-weight:normal !important; }
span.required { color:#cc3333; }

html { background:transparent url(Images/bg_HTML.jpg) repeat-x scroll top left; }
body { color:#35373b; font:10pt/12pt "Trebuchet MS", Trebuchet, Arial, sans-serif !important;  }

a { color:#36589a; }
a:hover { color:#0055ff; }
a:active { color:#cc0000; text-decoration:none; }

#Header h1 { color:#5b5f62; font-size:1.4em; font-weight:bold; }
#Header .logo { background:transparent url(Images/logo_MAX-no-tagline.png) no-repeat scroll top left; }

#Body { background:transparent url(Images/graphic_ActivatePhotoMgr.png) no-repeat scroll 50% 75%; border:solid 2px #cad2d9; }
#Body p.action { font-size:1.7em; }

