 body
{
	font:13px/1.22 arial,helvetica,clean,sans-serif;
	*font-size:small;
	*font:x-small
}
table
{
	font-size:inherit;
	font:100%
}
pre,code,kbd,samp,tt
{
	font-family:monospace;
	*font-size:108%;
	line-height:99%
}
body
{
	text-align:center
}
#ft
{
	clear:both
}
#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7
{
	margin:auto;
	text-align:left;
	width:57.69em;
	*width:56.301em;
	min-width:750px
}
#doc2
{
	width:73.074em;
	*width:71.313em
}
#doc3
{
	margin:auto 10px;
	width:auto
}
#doc4
{
	width:74.923em;
	*width:73.117em
}
.yui-b
{
	position:relative
}
.yui-b
{
	_position:static
}
#yui-main .yui-b
{
	position:static
}
#yui-main
{
	width:100%
}
.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main
{
	float:right;
	margin-left:-25em
}
.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main
{
	float:left;
	margin-right:-25em
}
.yui-t1 .yui-b
{
	float:left;
	width:12.3207em;
	*width:12.0106em
}
.yui-t1 #yui-main .yui-b
{
	margin-left:13.3207em;
	*margin-left:13.0106em
}
.yui-t2 .yui-b
{
	float:left;
	width:13.8456em;
	*width:13.512em
}
.yui-t2 #yui-main .yui-b
{
	margin-left:14.8456em;
	*margin-left:14.512em
}
.yui-t3 .yui-b
{
	float:left;
	width:23.0759em;
	*width:22.52em
}
.yui-t3 #yui-main .yui-b
{
	margin-left:24.0759em;
	*margin-left:23.52em
}
.yui-t4 .yui-b
{
	float:right;
	width:13.8456em;
	*width:13.512em
}
.yui-t4 #yui-main .yui-b
{
	margin-right:14.8456em;
	*margin-right:14.512em
}
.yui-t5 .yui-b
{
	float:right;
	width:18.4608em;
	*width:18.016em
}
.yui-t5 #yui-main .yui-b
{
	margin-right:19.4608em;
	*margin-right:19.016em
}
.yui-t6 .yui-b
{
	float:right;
	width:23.0759em;
	*width:22.52em
}
.yui-t6 #yui-main .yui-b
{
	margin-right:24.0759em;
	*margin-right:23.52em
}
.yui-t7 #yui-main .yui-b
{
	display:block;
	margin:0 0 1em
}
#yui-main .yui-b
{
	float:none;
	width:auto
}
.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gb .yui-u,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u
{
	float:left;
	margin-left:2%;
	width:32%
}
.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u
{
	*margin-left:1.8%;
	_margin-left:4%
}
.yui-g .yui-gb .yui-u
{
	_margin-left:.8%
}
.yui-gb .yui-u
{
	float:right
}
.yui-gb div.first
{
	margin-left:0;
	float:left
}
.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first
{
	*margin-right:0;
	*width:32%;
	_width:31.7%
}
.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first
{
	*margin-right:0
}
.yui-gb .yui-gd .yui-u
{
	*width:66%;
	_width:61.2%
}
.yui-gb .yui-gd div.first
{
	*width:31%;
	_width:29.5%
}
.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u
{
	width:32%;
	_float:right;
	margin-right:0;
	_margin-left:0
}
.yui-gb .yui-gc div.first
{
	width:66%;
	*float:left;
	*margin-left:0
}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u
{
	margin:0
}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u
{
	float:right
}
.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-g div.first,.yui-gc div.first,.yui-gc div.first div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first
{
	float:left
}
.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u
{
	width:49%;
	*width:48.1%;
	*margin-left:0
}
.yui-g .yui-g div.first
{
	*margin:0
}
.yui-gb .yui-g div.first
{
	*margin-right:4%;
	_margin-right:1.3%
}
.yui-gb .yui-gb .yui-u
{
	_margin-left:.7%
}
.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first
{
	*margin-left:0
}
.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u
{
	*width:48.1%;
	*margin-left:0
}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf
{
	width:49.1%
}
.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first
{
	margin-left:0
}
.yui-g .yui-gc div.first,.yui-gc div.first,.yui-gd .yui-g,.yui-gd .yui-u
{
	width:66%
}
.yui-gd div.first,.yui-gb .yui-gd div.first
{
	width:32%
}
.yui-g .yui-gd div.first
{
	_width:29.9%
}
.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf div.first
{
	width:24%
}
.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u
{
	float:right
}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first
{
	float:left
}
.yui-ge div.first,.yui-gf .yui-g,.yui-gf .yui-u
{
	width:74.2%
}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first
{
	*width:24%;
	_width:20%
}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u
{
	*width:73.5%;
	_width:65.5%
}
#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf
{
	zoom:1
}
.yui-gb .yui-u
{
	float:left
}
body
{
	color:#000;
	background:#FFF
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{
	margin:0;
	padding:0
}
table
{
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img
{
	border:0
}
address,caption,cite,code,dfn,em,strong,th,var
{
	font-style:normal;
	font-weight:400
}
li
{
	list-style:none
}
caption,th
{
	text-align:left
}
h1,h2,h3,h4,h5,h6
{
	font-size:100%;
	font-weight:400
}
q:before,q:after
{
	content:''
}
abbr,acronym
{
	border:0;
	font-variant:normal
}
sup,sub
{
	line-height:-1px;
	vertical-align:text-top
}
sub
{
	vertical-align:text-bottom
}
input,textarea,select
{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit
}
#datepicker_div,.datepicker_inline
{
	background-color:#fff;
	width:185px;
	padding:3px
}
#datepicker_div
{
	display:none;
	border:1px solid#666;
	z-index:9999
}
#datepicker_div a
{
	cursor:pointer
}
.datepicker_inline
{
	float:left;
	display:block;
	border:0
}
.datepicker_rtl
{
	direction:rtl
}
.datepicker_dialog
{
	padding:5px!important
}
button.datepicker_trigger
{
	width:25px
}
img.datepicker_trigger
{
	margin:2px;
	vertical-align:middle
}
.datepicker_prompt
{
	float:left;
	padding:2px;
	background:#ddd
}
*html.datepicker_prompt
{
	width:185px
}
.datepicker_control,.datepicker_links,.datepicker_header,.datepicker
{
	clear:both;
	float:left;
	width:100%
}
.datepicker_control
{
	display:none;
	background:#eee;
	padding:2px 0
}
.datepicker_links
{
	padding:2px 0
}
.datepicker_links label
{
	padding:2px 5px;
	color:#888
}
.datepicker_clear,.datepicker_prev
{
	float:left;
	width:34%
}
.datepicker_rtl.datepicker_clear,.datepicker_rtl.datepicker_prev
{
	float:right;
	text-align:right
}
.datepicker_current
{
	float:left;
	width:30%;
	text-align:center
}
.datepicker_close,.datepicker_next
{
	float:right;
	width:34%;
	text-align:right
}
.datepicker_rtl.datepicker_close,.datepicker_rtl.datepicker_next
{
	float:left;
	text-align:left
}
.datepicker_header
{
	padding:1px 0 3px;
	text-align:center;
	height:1.3em
}
.datepicker_header select
{
	font-size:80%;
	border:0
}
.datepicker
{
	background:#ccc;
	text-align:center;
	font-size:100%
}
.datepicker a
{
	display:block;
	width:100%
}
.datepicker_daysRow
{
	background:#eee;
	color:#666
}
.datepicker_weekCol
{
	background:#777;
	color:#fff
}
.datepicker_daysCell
{
	border:1px solid#ddd
}
.datepicker_daysCell a
{
	display:block
}
.datepicker_weekEndCell
{
	background:#ddd
}
.datepicker_daysCellOver
{
	background:#fff
}
.datepicker_unselectable
{
	color:#888
}
.datepicker_today a
{
	font-weight:700
}
.datepicker_currentDay a
{
	color:#fff
}
.datepicker_currentDay
{
	background-color:#c00c0d
}
.datepicker_status
{
	width:100%;
	text-align:center
}
.datepicker_multi.datepicker
{
	border:1px solid#777
}
.datepicker_oneMonth
{
	float:left;
	width:185px
}
.datepicker_newRow
{
	clear:left
}
.datepicker_cover
{
	display:block;
	position:absolute;
	z-index:-1;
	filter:mask();
	top:-4px;
	left:-4px;
	width:200px;
	height:200px
}
.ui-dialog
{
	z-index:9
}
body
{
	font-family:Trebuchet,'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
	font-size:68%
}
.light
{
	display:block;
	height:13px;
	width:12px
}
.light.red
{
	background:transparent url('Images/lights.gif') 0 1px no-repeat
}
.light.yellow
{
	background:transparent url('Images/lights.gif') 0 -11px no-repeat
}
.light.green
{
	background:transparent url('Images/lights.gif') 0 -24px no-repeat
}
#hd
{
	margin-top:4px;
	padding-left:20px;
	padding-right:20px;
	clear:both;
	height:15px;
	position:relative;
	z-index:1
}
#bd
{
	padding:20px;
	margin-top:3px;
	margin-bottom:5px;
	background:#f1f1f1 url(Images/page_bg_top.gif) repeat-x;
	border-bottom:solid 1px #666
}
#pageMenu
{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	text-align:right;
	margin-bottom:15px
}
a,a:link,a:visited
{
	color:#355fab;
	font-size:90%;
	text-decoration:none
}
a:link:hover,a:visited:hover
{
	color:#355fab;
	font-size:90%;
	text-decoration:underline
}
a.disabled
{
	color:#666
}
a.disabled:hover
{
	color:#666;
	text-decoration:none
}
#pageTitle
{
	float:left
}
div.page-footer
{
	padding:3px 0 10px 5px;
	margin-right:5px;
	color:#999;
	font-size:90%;
	text-align:left;
	background:transparent url(Images/firstlook_logo_tagline_2.gif) no-repeat center right
}
div.page-footer ul
{
	list-style:none;
	margin:0
}
div.page-footer ul li
{
	display:inline;
	border-right:1px solid #9999b2;
	padding:0 .5em
}
div.page-footer ul li.last
{
	border-right:none;
	position:relative
}
div.page-footer ul li.last span.chrome-copy
{
	position:absolute;
	top:1.5em;
	left:1ex
}
em
{
	font-style:oblique;
	font-weight:900
}
strong
{
	font-weight:900
}
label.small
{
	color:#8b8b8b;
	text-transform:none;
	font-size:85%
}
.textBox
{
	padding:1px 2px;
	border:solid 1px #8f8f8f;
	background:#fff url(Images/textbox_bg.gif) top right no-repeat
}
.right
{
	float:right;
	margin-left:8px;
	margin-top:auto
}
.left
{
	float:left;
	margin-right:8px;
	margin-top:auto
}
.center
{
	margin-left:auto;
	margin-right:auto
}
div.overlabelContainer
{
	position:relative
}
label.overlabel
{
	color:#999
}
label.overlabel-apply
{
	position:absolute;
	top:3px;
	left:5px;
	z-index:1;
	color:#999
}
a
{
	outline:none
}
h1
{
	color:#485775;
	font-size:135%;
	font-weight:700;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	text-align:center
}
h2
{
	color:#485775;
	font-size:125%;
	font-weight:700;
	font-family:Verdana,Tahoma,Arial,sans-serif
}
h3
{
	color:#485775;
	font-size:105%;
	font-weight:700;
	font-family:Verdana,Tahoma,Arial,sans-serif
}
#application_menu_container
{
	float:left
}
#member_menu_container,#seller_menu_container
{
	float:right
}
html ul.ui-menu a
{
	font-size:100% !important	
}
table.grid
{
	border:solid 1px #a9a9a9;
	width:800px;
	margin:auto
}
table.small
{
	width:757px
}
table.grid tr.center th,table.grid tr.center td
{
	text-align:center
}
table.grid .bold
{
	font-weight:700
}
table.grid .nowrap
{
	white-space:nowrap
}
table.grid .warning
{
	color:#bc0000
}
table.grid th,table.grid th a,table.grid th a:hover,table.grid th a:visited,table.grid th a:visited:hover
{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:11px
}
table.grid td
{
	padding:5px 6px;
	vertical-align:top;
	color:#555
}
table.small td
{
	padding:2px 3px
}
table.grid td.alignCenter
{
	text-align:center
}
table.grid td.alignRight
{
	text-align:right
}
table.grid th
{
	background:#a9a9a9;
	color:#fff;
	padding:5px 6px;
	vertical-align:bottom;
	text-align:center
}
table.grid th.ascending
{
	padding-right:15px;
	background:#bbb url(Images/sort_ascending.gif) no-repeat right bottom
}
table.grid th.descending
{
	padding-right:15px;
	background:#bbb url(Images/sort_descending.gif) no-repeat right bottom
}
table.small th
{
	padding:2px 3px;
	text-align:left
}
table.grid tbody tr
{
	background-color:#fff
}
table.grid tbody tr.odd
{
	background-color:#f2f2f2
}
table.grid tfoot tr td
{
	background-color:#d0d0d0;
	border-top:solid 1px #888
}
.gridPager
{
	float:right;
	margin-top:5px
}
.gridPager a,.gridPager a:visited,.gridPager span
{
	display:inline-block;
	padding:1px 5px;
	text-decoration:none;
	border:solid 1px #d0d0d0;
	margin-left:5px;
	background-color:#e0e0e0;
	color:#777
}
.gridPager span
{
	background-color:#d0d0d0;
	border:solid 1px grey;
	color:#555
}
.gridPager a:hover,.gridPager a:visited:hover
{
	background-color:#f0f0f0
}
.gridViewRowCount
{
	float:left;
	margin-top:5px
}
a.button
{
	display:block;
	height:18px
}
a.button:hover
{
	background-position:0 -36px
}
a.button:active
{
	background-position:0 -18px
}
#saveAsExcelButton
{
	width:72px;
	background-image:url(Images/Buttons/button_save_as_excel.gif)
}
#refreshButton
{
	width:25px;
	background-image:url(Images/Buttons/button_refresh.gif)
}
#stockOrModelSearchButton
{
	width:58px;
	background-image:url(Images/Buttons/button_search.gif)
}
.pingIcon
{
	cursor:pointer
}
.pingIcon img
{
	position:relative;
	top:1px
}
.stockLink
{
	cursor:pointer
}
a.listingProviderLink:link,a.listingProviderLink:active,a.listingProviderLink:visited
{
	text-decoration:underline
}
.dropMenu
{
	color:#485775;
	display:inline
}
.dropMenu select
{
	font-size:80%
}
.dropMenu span
{
	background:transparent url(Images/drop_arrow.gif) -2px right no-repeat;
	padding-right:10px;
	line-height:26px
}
.dropMenu b
{
	height:26px;
	line-height:26px
}
#progress
{
	position:fixed;
	top:48%;
	left:45%;
	padding:10px;
	background-color:#fff;
	border:solid 1px #888;
	z-index:10000
}
#progress iframe
{
	display:none
}
.clearfix:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.clearfix
{
	display:inline-block
}
/* Hides from IE-mac \*/ * html .clearfix
{
	height:1%
}
.clearfix
{
	display:block
}
/* End hide from IE-mac */ .clear
{
	clear:both
}
div.blue div.ui-menu-horizontal,div.blue div.ui-menu-horizontal a
{
	color:#036
}
div.ltGrey div.ui-menu-horizontal,div.ltGrey div.ui-menu-horizontal a
{
	color:#666
}
div.ltGrey div.ui-menu-horizontal ul.ui-menu li a:hover,div.ltGrey div.ui-menu-horizontal ul.ui-menu li span:hover div.ltGrey div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover span
{
	text-decoration:underline
}
div.smallCaps div.ui-menu-horizontal
{
	font-size:9px;
	text-transform:uppercase
}
div.ui-menu-horizontal
{
	font-family:Verdana,Helvetica,Arial,"MS Trebuchet",sans-serif;
	font-size:10px
}
div.ui-menu-horizontal ul.ui-menu
{
	margin:0;
	padding:0 0 2px
}
div.ui-menu-horizontal ul.ui-menu li
{
	border-right:1px solid #999;
	padding:0
}
div.ui-menu-horizontal ul.ui-menu li.last
{
	border-right:none
}
div.ui-menu-horizontal ul.ui-menu li.ui-menu-parent
{
	padding-right:3px;
	background-image:url('Images/Menu/navarrow.gif');
	background-repeat:no-repeat;
	background-position:100% 50%
}
div.ui-menu-horizontal ul.ui-menu li.ui-menu-parent li.ui-menu-parent
{
	background-image:url('Images/Menu/navarrow2.gif')
}
div.ui-menu-horizontal ul.ui-menu li a,div.ui-menu-horizontal ul.ui-menu li span
{
	line-height:12px;
	padding:0 5px
}
div.ui-menu-horizontal ul.ui-menu li ul
{
	top:12px;
	margin:0;
	padding:0;
	border:1px solid #999;
	border-top:none;
	background-color:#fff
}
div.ui-menu-horizontal ul.ui-menu li li ul
{
	top:-2px;
	border-left:none;
	border:1px solid #999
}
div.ui-menu-horizontal ul.ui-menu li li
{
	margin:0;
	padding:0;
	border-right:none;
	border-top:1px solid #EDEDED;
	text-transform:none;
	border-bottom:1px solid #fff
}
div.ui-menu-horizontal ul.ui-menu li li a,div.ui-menu-horizontal ul.ui-menu li li span
{
	padding:5px
}
div.ui-menu-horizontal ul.ui-menu li ul li:hover,div.ui-menu-horizontal ul.ui-menu li ul li.ui-menu-hover
{
	background-color:#F5F5F5
}
div.ui-menu-horizontal ul.ui-menu
{
	display:block;
	list-style:none
}
div.ui-menu-horizontal ul.ui-menu li
{
	display:inline;
	position:relative
}
div.ui-menu-horizontal ul.ui-menu li a,div.ui-menu-horizontal ul.ui-menu li span
{
	display:inline;
	text-decoration:none;
	cursor:pointer
}
div.ui-menu-horizontal ul.ui-menu li ul
{
	position:absolute;
	left:-1px;
	display:none
}
div.ui-menu-horizontal ul.ui-menu li li ul
{
	left:100%
}
div.ui-menu-horizontal ul.ui-menu li li
{
	display:list-item;
	white-space:nowrap;
	overflow:visible
}
div.ui-menu-horizontal ul.ui-menu li li a,div.ui-menu-horizontal ul.ui-menu li li span
{
	display:block
}
div.ui-menu-horizontal ul.ui-menu li:hover>ul,div.ui-menu-horizontal ul.ui-menu li ul:hover
{
	display:block
}
div.ui-menu-horizontal ul.ui-menu li.ui-menu-hover ul
{
	display:block
}
.ui-dialog
{
	background-color:#fff;
	font:normal 12px/16px Verdana,Tahoma,Arial,sans-serif
}
.ui-dialog-titlebar
{
	border-bottom:solid 1px #cdcdcd;
	background-color:#DFDFDF;
	margin-top:4px;
	padding:6px 0 2px;
	zoom:1;
	position:relative
}
.ui-dialog-title
{
	color:#31404F;
	font-weight:700;
	font-size:12px;
	margin-left:8px
}
.ui-dialog-titlebar button.ui-dialog-titlebar-close
{
	position:absolute;
	top:0;
	right:6px;
	display:block;
	text-indent:-25000px;
	width:22px;
	height:22px;
	background:transparent url(Images/Dialog/Close.gif) no-repeat top center;
	border-color:#f4f4f4;
	outline:1px solid #f4f4f4
}
.ui-dialog-titlebar button.ui-dialog-titlebar-close:hover,.ui-dialog-titlebar button.ui-dialog-titlebar-close:active,.ui-dialog-titlebar button.ui-dialog-titlebar-close:focus
{
	background-position:bottom center;
	border-color:#f4f4f4;
	outline:1px solid #f4f4f4
}
.ui-dialog-content
{
	color:#3F3F3F;
	padding:0 10px 3em 8px
}
.ui-dialog-content .confirmation
{
	font-size:8pt
}
.ui-dialog-buttonpane
{
	position:absolute;
	bottom:0;
	right:8px;
	height:3em
}
.ui-dialog-buttonpane ul li
{
	margin:0 0 0 .5em;
	padding:0
}
.ui-dialog .ui-resizable-s
{
	height:4px;
	background:#fff url(Images/Dialog/x_border.gif) repeat-x bottom
}
.ui-dialog .ui-resizable-n
{
	height:2px;
	background:#fff url(Images/Dialog/x_border.gif) repeat-x top;
	z-index:-1
}
.ui-dialog .ui-resizable-w
{
	width:4px;
	background:#fff url(Images/Dialog/y_border.gif) repeat-y left
}
.ui-dialog .ui-resizable-e
{
	width:4px;
	background:#fff url(Images/Dialog/y_border.gif) repeat-y right
}
.ui-dialog .ui-resizable-se,.ui-dialog .ui-resizable-sw,.ui-dialog .ui-resizable-nw,.ui-dialog .ui-resizable-ne
{
	width:4px;
	height:4px;
	background:#fff url(Images/Dialog/Corners.gif) no-repeat
}
div.ui-resizable .ui-resizable-se
{
	width:12px;
	height:12px;
	background-image:url(Images/Dialog/Corners_resizable.gif)
}
.ui-dialog .ui-resizable-se
{
	background-position:bottom right
}
.ui-dialog .ui-resizable-ne
{
	background-position:top right
}
.ui-dialog .ui-resizable-nw
{
	background-position:top left
}
.ui-dialog .ui-resizable-sw
{
	background-position:bottom left
}
.ui-dialog input.button,.ui-dialog button
{
	margin:0;
	background-color:#fff;
	border:1px solid #9f9f9f;
	border-top-color:#b4b4b4;
	border-left-color:#b4b4b4;
	font-weight:700;
	font-size:85%;
	color:#485775;
	cursor:pointer;
	padding:1px;
	text-align:center;
	text-transform:uppercase
}
.ui-dialog input.button:hover,.ui-dialog button:hover
{
	background-color:#f4f4f4;
	color:#535a6a;
	border-color:#b9b9b9;
	border-top-color:#cdcdcd;
	border-left-color:#cdcdcd
}
.ui-dialog .ui-input-fieldset
{
	border:none
}
.ui-dialog .ui-input-fieldset textarea
{
	width:99.9%
}
.ui-dialog p.warning
{
	margin-top:.2em;
	color:#c00c0d;
	font-size:90%;
	font-weight:700
}
.ui-dialog
{
	position:absolute;
	overflow:hidden;
	width:100%;
	zoom:1
}
.ui-dialog-container
{
	position:relative
}
.ui-dialog-buttonpane ul
{
	list-style-type:none
}
.ui-dialog-buttonpane ul li
{
	display:inline
}
.ui-resizable-handle
{
	position:absolute
}
.ui-dialog .ui-resizable-n
{
	width:100%;
	top:0;
	left:0
}
.ui-dialog .ui-resizable-s
{
	width:100%;
	bottom:0;
	left:0
}
.ui-dialog .ui-resizable-e
{
	right:0;
	top:0;
	height:100%
}
.ui-dialog .ui-resizable-w
{
	left:0;
	top:0;
	height:100%
}
.ui-dialog .ui-resizable-se
{
	min-width:1px;
	min-height:1px;
	right:0;
	bottom:0
}
.ui-dialog .ui-resizable-sw
{
	min-width:1px;
	min-height:1px;
	left:0;
	bottom:0
}
.ui-dialog .ui-resizable-nw
{
	min-width:1px;
	min-height:1px;
	left:0;
	top:0
}
.ui-dialog .ui-resizable-ne
{
	min-width:1px;
	min-height:1px;
	right:0;
	top:0
}
.ui-collapse-panel-head
{
	position:relative;
	width:99.9%
}
.ui-collapse-panel-button
{
	position:absolute;
	right:5px;
	top:8px
}
.ui-collapse-panel-titlebar
{
	cursor:pointer
}
.ui-collapse-panel-body
{
	padding:0;
	border:none;
	overflow:hidden
}
.ui-collapse-panel-body-wrapper
{
	overflow:auto;
	position:static!important
}
.ui-collapse-panel-vertical-expanding .ui-collapse-panel-wrapper
{
	overflow-x:hidden
}
.ui-collapse-panel-horizontal-expanding .ui-collapse-panel-wrapper
{
	overflow-y:hidden
}
.ui-tabs
{
	display:block;
	list-style:none;
	width:100%;
	margin:0
}
.ui-tabs .ui-tab
{
	display:block;
	float:left
}
.ui-tabs .ui-tab input
{
	margin:0;
	padding:0;
	cursor:pointer
}
.ui-tabs .ui-tab input:hover
{
	text-decoration:underline
}
.ui-tabs .ui-tab input:active
{
	margin:0;
	padding:0;
	overflow:visible;
	cursor:pointer;
	color:red
}
.ui-tab-content
{
	clear:both;
	padding:0;
	margin:0
}
.ui-empty-tab-content
{
	display:none
}
.inline
{
	display:inline
}
 #pageHead
{
	width:800px;
	margin:auto;
	text-align:left;
	margin-bottom:10px
}
#pageHead span
{
	font-style:oblique
}
#ResultsTable
{
	width:800px;
	text-align:left;
	margin:0 auto
}
#PricingSearchForm
{
	margin-bottom:20px
}
#PricingSearchForm td
{
	padding-right:15px
}
#ResultsTable h3
{
	padding-bottom:5px
}
#ResultsTable h3 span
{
	font-weight:400
}
#Progress
{
	width:352px;
	text-align:left;
	margin:0 auto
}
#ProgressBarContainer
{
	width:350px;
	height:20px;
	border:1px solid #000;
	text-align:left;
	overflow:hidden
}
#VehicleCount
{
	float:right
}
#ProgressBarFill
{
	height:20px;
	width:0%;
	border-right:1px solid #ccc;
	background-color:#a0bbd5
}
#ipa #pingFlash
{
	position:relative;
	height:350px;
	width:350px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	border:solid 4px #c0c0c0;
	background-color:silver;
	z-index:100
}
#ipa #pingFlashBg
{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#f6f6f6 url(Images/IPA/ipa_swf_bg.gif) top left repeat-x;
	z-index:1
}
#chart
{
	margin:8px auto 0;
	height:196px;
	width:574px
}
#chartHeading
{
	margin:0 auto;
	width:574px;
	height:40px;
	position:relative;
	text-align:center
}
#chartHeading .left
{
	position:absolute;
	bottom:1px;
	left:0
}
#chartHeading .right
{
	position:absolute;
	bottom:0;
	right:0
}
#chartHeading h1
{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:-1
}
#PricingGraph
{
	width:609px;
	height:207px;
	margin-left:-20px
}
#inventoryFacts
{
	margin:0 auto;
	height:35px;
	width:627px;
	padding-top:6px;
	background:transparent url(Images/IPA/inventory_facts_bg.gif) top left no-repeat;
	text-align:center;
	font-size:85%
}
.fact
{
	color:#333;
	padding-right:14px;
	padding-left:3px;
	background:transparent url(Images/IPA/inventory_fact_separator.gif) center right no-repeat
}
.fact span
{
	font-weight:700;
	font-size:105%
}
.fact.last
{
	background-image:none;
	padding-right:0;
	margin-right:6px
}
#InventoryTableTitle
{
	font-size:120%
}
input#keyword
{
	font-size:90%
}
#inventoryTable
{
	clear:both;
	margin:0 auto;
	width:800px
}
#inventoryTable tr
{
	cursor:pointer
}
#gridHeading
{
	margin:20px auto 1ex;
	width:800px
}
#gridHeading .dropMenu
{
	width:440px
}
.dropMenu span
{
	position:relative;
	top:1px;
	left:2px;
	white-space:nowrap;
	font-size:85%
}
a.enabled
{
	color:#c00c0d
}
tr.selected td
{
	background-color:#c4d8e7
}
#stockOrModelTextBox
{
	width:19ex
}
 #vpa #wrap
{
	width:990px;
	padding-bottom:10px;
	text-align:left
}
#vpa #hd
{
	height:auto;
	margin-bottom:0
}
#vpa .vpa_header_info_tabs .invListings-bd table.inventory,#vpa .vpa_header_info_tabs .ui-tab-content
{
	width:950px;
	margin:0 auto
}
#vpa .vpa_header_info_tabs .ui-tab-content .invListings,#vpa .vpa_header_info_tabs .ui-tab-content .selectedEquipment
{
	margin-bottom:10px
}
#vpa .vpa_header_info_tabs .units_in_stock_tab
{
	position:absolute;
	right:0
}
#vpa #center_row
{
	position:relative
}
#vpa #mktPrce
{
	margin:0 0 0 20px;
	width:540px;
	float:left
}
#vpa div.vpa_search_tile
{
	float:right;
	width:408px;
	margin:0 20px 0 0
}
#vpa .page-footer
{
	width:980px;
	z-index:1;
	position:relative
}
#vpa .mktLst
{
	margin-top:10px
}
#vpa .mktLst table.grid
{
	width:950px
}
#vpa #PricePointUpdatePanel
{
	clear:both
}
#vpa #MerchandisingInformationUpdatePanel
{
	z-index:10;
	position:relative
}
#vpa #MarketListingsUpdatePanel
{
	z-index:1;
	position:relative
}
#vpa .vpa_pricing_tiles,#vpa .vpa_merchandising_tiles
{
	width:945px
}
#vpa .vpa_pricing_tiles,#vpa .vpa_merchandising_tiles,#vpa .vpa_internet_shopper
{
	margin:10px 20px 0
}
#vpa .vpa_merchandising_tiles .vpa_internet_shopper
{
	width:auto;
	margin:0
}
#vpa #SearchTypeUpdatePanel
{
	display:none
}
#vpa #PricingPanels_NADA_Dataset.smallNote
{
	line-height:5pt
}
#vpa h1#page_branding
{
	display:block;
	width:540px;
	height:19px;
	text-align:left;
	text-indent:-5000px;
	overflow:hidden;
	margin:2px 0 0 22px
}
#vpa.package_1 h1#page_branding
{
	background:transparent url(Images/VPA/ping_ii_price_accelerator.gif) no-repeat 0 0
}
#vpa.package_2 h1#page_branding
{
	background:transparent url(Images/VPA/ping_ii_pricing_accelerator_with_internet_mystery_shopper.gif) no-repeat 0 0
}
#vpa.package_3 h1#page_branding
{
	background:transparent url(Images/VPA/pricing_accelerator.gif) no-repeat 0 0
}
#vpa.package_4 h1#page_branding
{
	background:transparent url(Images/VPA/pricing_accelerator_with_internet_mystery_shopper.gif) no-repeat 0 0
}
#vpa.package_5 h1#page_branding,#vpa.package_6 h1#page_branding
{
	background:transparent url(Images/VPA/internet_advertising_accelerator.gif) no-repeat 0 0
}
.vpa_search_tile .ui-tabs .ui-tab
{
	width:49.99%
}
.vpa_search_tile .ui-tabs .ui-tab input
{
	width:100%;
	border:none;
	background-color:transparent;
	line-height:25px;
	text-align:left;
	padding-left:.75em;
	color:#485775;
	font-size:12px;
	padding-bottom:1px
}
.vpa_search_tile .ui-tabs .ui-tab input:hover
{
	color:#13516F
}
.vpa_search_tile .ui-tabs
{
	background:transparent url(Images/VPA/SearchTile/vpa_tabs_top.gif) repeat-x top
}
.vpa_search_tile .ui-tab-content
{
	border:none;
	padding:0;
	background:#F8F9F8 url(Images/VPA/SearchTile/vpa_search_tile_bottom.gif) repeat-x bottom
}
.vpa_search_tile .ui-tab-content .ui-tab-content-wrapper
{
	background:transparent url(Images/VPA/SearchTile/vpa_search_tile_right.gif) no-repeat bottom right;
	padding:10px 20px
}
.vpa_search_tile .ui-tabs .ui-tab
{
	background:transparent url(Images/VPA/SearchTile/vpa_tabs_top_inactive.gif) repeat-x top left
}
.vpa_search_tile .ui-tabs .ui-tab-active
{
	background-image:none!important
}
.vpa_search_tile .ui-tabs .ui-tab-active input
{
	font-weight:700;
	background:transparent url(Images/VPA/SearchTile/vpa_search_marker.gif) no-repeat 10px 50%;
	padding-left:20px
}
.vpa_search_tile .ui-tabs .tab-precision input
{
	background:transparent url(Images/VPA/SearchTile/vpa_tabs_top_inactive_corner.gif) no-repeat 0 right
}
.vpa_search_tile .ui-tabs .tab-precision input.ui-tab-active-input
{
	background:transparent url(Images/VPA/SearchTile/vpa_tabs_top_inactive_corner.gif) no-repeat -31px right
}
.vpa_search_tile .ui-tabs .tab-overall-summary input
{
	border-right:1px solid #A8AAAD
}
.vpa_search_tile .ui-tab-content a.search_btn
{
	display:inline-block;
	width:58px;
	height:18px;
	background:transparent url(Images/Buttons/button_search.gif) no-repeat 0 0;
	overflow:hidden;
	text-indent:-5000px
}
.vpa_search_tile .ui-tab-content a.search_btn:hover
{
	background-position:100% 0
}
.vpa_search_tile
{
	color:#666
}
.vpa_search_tile select
{
	font-size:95%
}
.vpa_search_tile .ui-tab-content .ui-tab-content-wrapper h3
{
	margin-bottom:8px
}
#center_row .vpa_search_tile .ui-tab-content
{
	background:none
}
#center_row .vpa_search_tile .ui-tab-content .ui-tab-content-wrapper
{
	background:none
}
#center_row
{
	border-top:1px solid #F8F9F8;
	background:transparent url(Images/VPA/SearchTile/vpa_search_full_bottom.gif) no-repeat bottom 520px
}
.vpa_search_list ul
{
	display:block;
	width:220px;
	position:absolute
}
.vpa_search_list li
{
	display:inline;
	position:relative;
	top:-6px;
	margin-right:10px;
	color:#525253;
	font-size:10px
}
.vpa_search_list li input
{
	position:relative;
	top:2px
}
.vpa_search_tile p.vpa_end_search_line
{
	clear:left;
	text-align:left;
	font-style:italic;
	color:#838383;
	letter-spacing:1px
}
.vpa_search_tile p.search-attribute-text
{
	margin-top:10px
}
.vpa_search_tile p.hidden-search-attribute-text
{
	display:none
}
.vpa_search_tile .search_action_links
{
	position:absolute;
	bottom:0;
	right:20px;
	width:120px;
	padding:0 5px 7px 0
}
.vpa_search_tile .search_action_links a
{
	display:block;
	padding-bottom:2px
}
.vpa_search_tile .generated_by
{
	color:#999;
	position:absolute;
	bottom:7px;
	left:580px;
	width:250px
}
table.vpa_search_summary
{
	border-bottom:1px solid #dce1e9
}
table.vpa_search_summary thead th
{
	color:#525253;
	background:transparent url(Images/VPA/SearchTile/summary_table_header.gif) no-repeat bottom right;
	padding:0 5px 2px
}
table.vpa_search_summary tbody tr td
{
	background:#fff url(Images/VPA/SearchTile/summary_table_row.gif) no-repeat bottom right;
	border-right:1px solid #dce1e9;
	text-align:right;
	padding:1px 5px;
	color:#999
}
table.vpa_search_summary tbody tr.is_search td
{
	font-weight:700;
	color:#485775;
	background:#fff url(Images/VPA/SearchTile/summary_table_selected_row.gif) no-repeat bottom right
}
#vpa table.vpa_search_summary tbody tr.is_reference td.col_desc,#vpa table.vpa_search_summary tbody tr.is_reference td
{
	font-size:1.2em;
	padding-top:3px;
	padding-bottom:3px;
	background:#F8F9F8 url(Images/VPA/SearchTile/summary_table_reference_row.gif) no-repeat bottom right
}
table.vpa_search_summary .col_desc
{
	font-size:.9em;
	width:175px;
	text-align:left;
	background-color:#f8f9f8
}
.box_360 .content
{
	background:transparent url(Images/VPA/360Tile/vpa_360_bottom_grad.gif) repeat-x bottom left;
	margin:1em 0 0;
	padding:0 10px 10px;
	width:925px;
	border:1px solid #335325;
	border-bottom-width:0;
	position:relative
}
.box_360 .content .corner
{
	background:transparent url(Images/VPA/360Tile/tl_angle_corner.gif) no-repeat top right;
	display:block;
	height:25px;
	width:27px;
	clear:both;
	position:absolute;
	top:-1px;
	right:-1px
}
.vpa_internet_shopper
{
	display:block;
	padding-left:201px;
	background:transparent url(Images/VPA/360Tile/vpa_internet_mystery_shoping.gif) no-repeat 0 0;
	padding:3px 0 8px 201px
}
.vpa_internet_shopper li
{
	float:left;
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #B8B9BA;
	font-size:10pt;
	font-weight:700
}
.vpa_internet_shopper li.first
{
	border:none
}
.vpa_pricing_tiles
{
	font-size:8pt;
	line-height:11pt
}
.vpa_pricing_tiles .content h3
{
	overflow:hidden;
	text-indent:-5000px;
	background:transparent url(Images/VPA/360Tile/vpa_360_pricing_title.gif) no-repeat 0 0;
	height:16px;
	width:57px;
	position:relative;
	top:-5px;
	left:-11px
}
.vpa_pricing_tiles div.book,.vpa_pricing_tiles div.widebook
{
	float:left;
	margin-right:10px;
	margin-bottom:6px
}
.vpa_pricing_tiles div.book
{
	width:190px
}
.vpa_pricing_tiles div.widebook
{
	width:525px
}
.vpa_pricing_tiles .hd
{
	background:transparent url(Images/Books/header.gif) no-repeat 100% 0;
	border-left:1px solid #818181;
	border-bottom:1px solid #818181
}
.vpa_pricing_tiles .hd,.vpa_pricing_tiles .hd a
{
	height:23px;
	color:#656565;
	text-transform:uppercase;
	font:bold 7pt/23px Arial,sans-serif;
	text-indent:8px
}
.vpa_pricing_tiles .hd a,.vpa_pricing_tiles .hd a:link
{
	padding-right:11px;
	background:transparent url(Images/Books/link_arrow.gif) no-repeat center right
}
.vpa_pricing_tiles .hd .tileLink
{
	height:23px
}
.vpa_pricing_tiles .bd
{
	font-size:13px;
	color:#4d5466;
	background-color:#EEE;
	border-left:1px solid #818181;
	border-right:1px solid #818181;
	border-bottom:1px solid #818181;
	padding:2px 5px;
	height:60px
}
.vpa_pricing_tiles .bd .price
{
	color:#31384f
}
.vpa_pricing_tiles .bd div.guide
{
	float:left;
	width:32.9%
}
.vpa_pricing_tiles .bd img
{
	display:block
}
.vpa_pricing_tiles .ft
{
	color:#6A6A6A;
	background-color:#E0E0E0;
	border-left:1px solid #818181;
	border-right:1px solid #818181;
	border-bottom:1px solid #818181;
	padding:2px 5px;
	font-size:90%;
	line-height:10px;
	position:relative
}
.vpa_pricing_tiles .ft .ft-value
{
	color:#353535;
	font-weight:700
}
.vpa_pricing_tiles .ft .kbb-guide-footer,.vpa_pricing_tiles .ft .nada-guide-footer,.vpa_pricing_tiles .ft .tmv-guide-footer
{
	float:left;
	width:110px
}
.vpa_pricing_tiles .ft .kbb-guide-footer
{
	margin-right:-110px
}
.vpa_pricing_tiles .ft .nada-guide-footer
{
	margin-left:33%
}
.vpa_pricing_tiles .ft .tmv-guide-footer
{
	float:right;
	margin-right:65px
}
.vpa_pricing_tiles .smallNote
{
	font-size:10px!important
}
.vpa_pricing_tiles .bd a.inaccurate_value,.vpa_pricing_tiles .bd a.no_value
{
	display:inline-block;
	background:url(Images/VPA/attention_icon.gif) no-repeat left center;
	height:13px;
	color:#355fab;
	text-decoration:underline
}
.vpa_pricing_tiles .bd a.inaccurate_value
{
	padding-left:18px
}
.vpa_pricing_tiles .bd a.no_value
{
	text-indent:-15000px;
	width:16px
}
.vpa_merchandising_tiles .content h3
{
	overflow:hidden;
	text-indent:-5000px;
	background:transparent url(Images/VPA/MerchandisingTile/vpa_merchandising_tile_title.gif) no-repeat 0 0;
	height:16px;
	width:113px;
	position:relative;
	top:-5px;
	left:-15px
}
#vpa.package_3 .vpa_merchandising_tiles .content h3
{
	background:transparent url(Images/VPA/MerchandisingTile/vpa_merchandising_tile_title_notes.gif) no-repeat 0 0;
	width:44px;
	left:-13px
}
#vpa.package_3 .vpa_merchandising_tiles .search-notes-field label span,#vpa.package_3 .vpa_merchandising_tiles .search-notes-field label br
{
	display:none
}
.vhr_report
{
	float:right;
	position:relative;
	margin-top:5px
}
.carfax_report
{
	margin-right:10px
}
.vpa_merchandising_tiles .vhr_report
{
	margin-top:0
}
.vhr_report ul
{
	float:left
}
.vhr_report ul li.autocheck-inspection-badge,.vhr_report ul li.carfax-inspection-badge
{
	display:inline-block;
	height:23px;
	background-repeat:no-repeat;
	background-position:50%;
	overflow:hidden;
	float:left;
	margin-left:2px
}
.carfax_report ul li.carfax-oneowner-badge
{
	background-image:url(Images/VPA/VehilceHistory/carfax_oneowner.gif);
	width:23px;
	text-indent:-1500px
}
.carfax_report ul li.carfax-buyback-guarentee-badge
{
	background-image:url(Images/VPA/VehilceHistory/carfax_buybackguarentee.gif);
	width:27px;
	text-indent:-1500px
}
.carfax_report ul li.carfax-cleantitle-noaccident
{
	background-image:url(Images/VPA/VehilceHistory/carfax_cleantitle_noaccident.gif);
	width:60px;
	text-indent:-1500px
}
.carfax_report ul li.carfax-cleantitle
{
	background-image:url(Images/VPA/VehilceHistory/carfax_cleantitle.gif);
	width:60px;
	text-indent:-1500px
}
.carfax_report ul li.carfax-noaccident
{
	background-image:url(Images/VPA/VehilceHistory/carfax_noaccident.gif);
	width:60px;
	text-indent:-1500px
}
.autocheck_report ul li.autocheck-assured
{
	background-image:url(Images/VPA/VehilceHistory/autocheck_assured.gif);
	width:20px;
	text-indent:-1500px
}
.autocheck_report ul li.autocheck-score
{
	background-image:url(Images/VPA/VehilceHistory/autocheck_score.jpg);
	width:18px;
	color:#fff;
	height:18px;
	padding-top:5px;
	text-align:center
}
.autocheck_report ul li.autocheck-cleantitle
{
	background-image:url(Images/VPA/VehilceHistory/autocheck_cleantitle.gif);
	width:60px;
	text-indent:-1500px
}
.autocheck_report ul li.autocheck-cleantitle-oneowner
{
	background-image:url(Images/VPA/VehilceHistory/autocheck_cleantitle_oneowner.gif);
	width:60px;
	text-indent:-1500px
}
.autocheck_report ul li.autocheck-oneowner
{
	background-image:url(Images/VPA/VehilceHistory/autocheck_oneowner.gif);
	width:60px;
	text-indent:-1500px
}
.vhr_report label.report_status
{
	background-image:url(Images/VPA/VehilceHistory/report_state.gif);
	display:block;
	margin:2px 2px 0 0;
	height:13px;
	width:13px;
	float:left;
	cursor:pointer
}
.vhr_report .report-status-valid
{
	background-position:0 -22px
}
.vhr_report .report-status-expired
{
	background-position:0 -43px
}
.vhr_report .report-status-error
{
	background-position:0 -65px
}
.autocheck_report input.autocheck_button
{
	border:none;
	overflow:hidden;
	text-align:left;
	color:#F0F0F2;
	background:transparent url(Images/VPA/VehilceHistory/autocheck_logo.gif) no-repeat 0 0;
	width:94px;
	height:25px;
	display:block;
	float:left;
	font-size:1px;
	padding-bottom:19px;
	padding-left:3px;
	cursor:pointer
}
.carfax_report input.carfax_button
{
	border:none;
	overflow:hidden;
	text-align:left;
	background:transparent url(Images/VPA/VehilceHistory/carfax_logo.gif) no-repeat 0 0;
	width:94px;
	height:23px;
	display:block;
	float:left;
	font-size:1px;
	padding-bottom:19px;
	padding-left:3px;
	cursor:pointer
}
.vhr_report .autocheck_report_view,.vhr_report .carfax_report_view
{
	zoom:1;
	padding:0 3px 0 4px;
	border-right:1px solid #F3F3F5;
	border-left:1px solid #F3F3F5
}
.vhr_report .autocheck_form_open,.vhr_report .carfax_form_open
{
	background-color:#fff;
	border-right:1px solid #9ba1ac;
	border-left:1px solid #9ba1ac;
	padding-bottom:1px;
	margin-bottom:-1px;
	z-index:1
}
.carfax_report .vhr_report_form
{
	position:absolute;
	display:block;
	clear:left;
	text-align:left;
	right:0;
	margin-left:-155px;
	width:255px;
	background-color:#fff;
	border:1px solid #9ba1ac;
	padding:8px;
	zoom:1;
	z-index:-1
}
html .autocheck_report .vhr_report_form_ReadOnly
{
	width:220px
}
.autocheck_report .vhr_report_form
{
	position:absolute;
	display:block;
	clear:left;
	text-align:left;
	left:0;
	margin-right:-85px;
	width:185px;
	background-color:#fff;
	border:1px solid #9ba1ac;
	padding:8px;
	zoom:1;
	z-index:-1
}
.vhr_report .vhr_report_form .order_form p
{
	padding-left:25px;
	padding-right:25px;
	color:#535256
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list
{
	border-top:1px solid #e5e5e5
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list *
{
	float:left
}
.carfax_report .vhr_report_form .order_form .carfax_hot_list label
{
	margin-top:4px;
	font-size:9px;
	color:#646367
}
.vhr_report .vhr_report_form .controls
{
	margin-top:10px;
	text-align:center
}
.vhr_report .vhr_report_form_Insert fieldset.controls
{
	text-align:right
}
.vhr_report .vhr_report_form span.button
{
	display:inline-block;
	padding:1px;
	background:transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border:1px solid #a3a3a3;
	margin:1px 5px 5px;
	cursor:pointer
}
.vhr_report .vhr_report_form span.button input
{
	overflow:visible;
	width:auto;
	border:none;
	margin:0;
	padding:0 5px;
	text-transform:uppercase;
	font-weight:700;
	color:#2B4068;
	border:1px solid #fff;
	background-color:transparent;
	cursor:pointer;
	font-size:10px
}
.vhr_report .vhr_report_form .vhr_report_link
{
	text-align:center;
	text-transform:uppercase
}
.vhr_report .vhr_report_form .error
{
	margin:10px 0;
	padding:5px 0 5px 50px;
	background:#fff6d4 url(Images/VPA/VehilceHistory/attention.gif) no-repeat 20px 50%;
	border-top:1px solid #ffda52;
	border-bottom:1px solid #ffda52;
	font-size:10px
}
.vpa_merchandising_tiles .internet-advertisement-field
{
	width:450px;
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #c1c1c1;
	float:left
}
.vpa_merchandising_tiles .internet-advertisement-field a.photo_manager
{
	float:right
}
.vpa_merchandising_tiles .internet-advertisement-field h4,.vpa_merchandising_tiles .search-notes-field h4
{
	color:#525252;
	font-size:10pt;
	font-weight:700
}
.vpa_merchandising_tiles .search-notes-field textarea,.vpa_merchandising_tiles .internet-advertisement-field textarea
{
	width:446px;
	height:90px;
	color:auto;
	padding:2px
}
.vpa_merchandising_tiles .search-notes-field textarea.readonly,.vpa_merchandising_tiles .internet-advertisement-field textarea.readonly
{
	color:grey
}
#vpa.package_3 .vpa_merchandising_tiles .search-notes-field textarea,#vpa.package_4 .vpa_merchandising_tiles .search-notes-field textarea,#vpa.appraisal_view .search-notes-field textarea
{
	width:915px
}
#vpa.appraisal_view .vpa_merchandising_tiles div.ui-textarea-header
{
	width:904px
}
.vpa_merchandising_tiles .internet-advertisement-field .generated_by
{
	float:left;
	color:#999
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog
{
	bottom:135px;
	left:160px;
	width:270px
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog ul
{
	padding:5px 5px 1em
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog ul li
{
	list-style:disc inside;
	padding-left:1em;
	color:#292929
}
.vpa_merchandising_tiles .internet-advertisement-help-dialog .footer-text
{
	display:block;
	font-size:8pt;
	color:#5F5F5F;
	text-align:center;
	border-top:1px solid #ddd;
	padding-top:5px;
	margin-top:5px
}
.vpa_merchandising_tiles .internet-advertisement-field .ui-control-buttons,.vpa_merchandising_tiles .search-notes-field .ui-control-buttons
{
	display:block;
	text-align:right
}
.vpa_merchandising_tiles .internet-advertisement-field .ui-control-buttons input.edit-button,.vpa_merchandising_tiles .search-notes-field .ui-control-buttons input.edit-button
{
	font-weight:700
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar
{
	width:435px;
	padding:0 0 0 17px;
	background:transparent url(Images/1-Click/toolbar.gif) no-repeat 0 0;
	position:relative;
	top:2px
}
.vpa_merchandising_tiles .ui-full-body-text,.vpa_merchandising_tiles .ui-full-footer-text
{
	display:none
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper
{
	padding:0 17px 0 0;
	background:transparent url(Images/1-Click/toolbar.gif) no-repeat 100% 0
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper ul
{
	display:block;
	padding:0;
	background:transparent url(Images/1-Click/toolbar.gif) repeat-x 0 -37px;
	white-space:nowrap;
	overflow:hidden;
	zoom:1
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li
{
	display:inline;
	line-height:37px;
	background:transparent url(Images/1-Click/text_buttons.gif) no-repeat 100% -1px;
	padding-right:12px;
	position:relative
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items .ui-toolbar-box-outer
{
	position:absolute
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items
{
	display:none;
	position:absolute;
	top:37px;
	left:-10px;
	min-width:129px;
	background-image:none;
	background-color:#e6f2ff;
	line-height:25px;
	padding:5px 10px;
	border-color:#858A8F;
	border-left:2px;
	border-bottom:1px
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li
{
	display:block;
	height:25px;
	background-image:none;
	padding:0;
	line-height:25px;
	border-bottom:1px solid #DFDFDF
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li input
{
	display:block;
	height:15px;
	line-height:15px;
	padding:0;
	text-transform:none;
	font-weight:400;
	font-size:9px;
	color:#215e9b
}
html .vpa_merchandising_tiles .ui-toolbar-items-wrapper li.ui-branded-button input.disabled
{
	color:#e6f2ff!important
}
.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.disabled input.disabled
{
	color:#858585!important
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li input
{
	display:inline-block;
	height:42px;
	margin-bottom:-5px;
	padding-bottom:5px;
	padding-left:8px;
	border:none;
	background-color:transparent;
	background-repeat:no-repeat;
	cursor:pointer;
	width:auto;
	overflow:visible;
	color:#042354;
	text-transform:uppercase;
	font:bold 11px Trebuchet,"Trebuchet MS",Arial,sans-serif
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover
{
	background:transparent url(Images/1-Click/text_buttons.gif) no-repeat 100% -40px
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover input
{
	background:transparent url(Images/1-Click/text_buttons.gif) no-repeat 0 -40px
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items
{
	display:block
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li .ui-toolbar-box-outer
{
	visibility:hidden
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover .ui-toolbar-box-outer
{
	visibility:visible
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items li,.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items li input
{
	background-image:none
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li.hover
{
	background-color:#fff
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items li.disbled.hover
{
	background-color:#042354!important
}
.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.hover ul.ui-toolbar-items ul.ui-toolbar-items
{
	display:none
}
html div.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.ui-branded-button input.ui-toolbar-button
{
	background-image:url(Images/1-Click/branded_buttons.gif);
	background-repeat:no-repeat;
	height:25px;
	width:129px;
	text-align:left;
	font-size:1px;
	color:#e6f2ff;
	text-align:right;
	padding-bottom:23px;
	border:none
}
html body form .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.ui-branded-button
{
	width:129px;
	height:25px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.ui-branded-button input.ui-toolbar-button:hover
{
	background-position-y:-25px!important
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.disabled input.ui-toolbar-button,body div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.disabled input.ui-toolbar-button:hover
{
	background-position-y:-50px!important
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax input.ui-toolbar-button
{
	background-position:0 0
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-clean-title input.ui-toolbar-button
{
	background-position:-129px 0;
	margin-left:15px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-oneowner input.ui-toolbar-button
{
	background-position:-258px 0;
	margin-left:10px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-bbg input.ui-toolbar-button
{
	background-position:-387px 0;
	margin-left:9px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.carfax-no-accident input.ui-toolbar-button
{
	background-position:-516px 0;
	margin-left:14px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck input.ui-toolbar-button
{
	background-position:-645px 0
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-clean-title input.ui-toolbar-button
{
	background-position:-774px 0;
	margin-left:15px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-one-owner input.ui-toolbar-button
{
	background-position:-903px 0;
	margin-left:15px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-assured input.ui-toolbar-button
{
	background-position:-1032px 0;
	margin-left:12px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.autocheck-score input.ui-toolbar-button
{
	background-position:-1161px 0;
	margin-left:13px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.tmv input.ui-toolbar-button
{
	background-position:-1290px 0;
	margin-left:7px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.kbb input.ui-toolbar-button
{
	background-position:-1419px 0;
	margin-left:12px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper li.nada input.ui-toolbar-button
{
	background-position:-1548px 0;
	margin-left:0
}
div.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.carfax_and_autocheck ul.ui-toolbar-items
{
	width:258px
}
html div.vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.autocheck-score input.ui-toolbar-button
{
	text-indent:5px;
	font-size:13px;
	color:#fff;
	text-align:left;
	padding-top:5px;
	height:20px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck,div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-clean-title,div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-one-owner,div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-assured,div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-score
{
	position:absolute;
	left:140px;
	margin-top:0;
	border-left:1px solid #DFDFDF
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck
{
	top:5px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-one-owner
{
	top:31px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-assured
{
	top:57px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-score
{
	top:83px
}
div.vpa_merchandising_tiles .ui-toolbar-items-wrapper .carfax_and_autocheck ul li.autocheck-clean-title
{
	top:109px
}
.vpa_merchandising_tiles span.equipment_label
{
	float:left;
	padding-top:2px;
	font-size:10px;
	color:#525252
}
.vpa_merchandising_tiles .ui-textarea-footer .ui-buttons li
{
	padding:0 3px
}
.vpa_merchandising_tiles .ui-textarea-footer .ui-buttons li.high_value
{
	border-right:1px solid #b1b4b8
}
.vpa_merchandising_tiles .ui-textarea-footer
{
	position:relative
}
.vpa_merchandising_tiles .ui-textarea-footer ol.ui-preview li
{
	bottom:14px
}
.vpa_merchandising_tiles div.ui-textarea-footer .ui-control-buttons
{
	text-align:right
}
.vpa_merchandising_tiles div.ui-textarea-footer .disabled input
{
	color:#999
}
.vpa_merchandising_tiles div.ui-text-editor div.ui-control-buttons
{
	float:right
}
.vpa_merchandising_tiles .ui-textarea-bl-links,.vpa_merchandising_tiles .ui-textarea-bl-links *
{
	float:left
}
.vpa_merchandising_tiles div.ui-textarea-bl-links input
{
	margin-top:1px;
	float:none
}
.vpa_merchandising_tiles .ui-textarea-bl-links input,.vpa_merchandising_tiles div.ui-text-editor div.ui-control-buttons input
{
	color:#355fab;
	padding:0 .25em;
	margin:0;
	background-color:transparent;
	border:0 solid transparent;
	display:inline-block;
	text-align:left;
	font-size:10px;
	overflow:visible
}
.vpa_merchandising_tiles .ui-textarea-bl-links input:hover,.vpa_merchandising_tiles div.ui-text-editor div.ui-control-buttons input:hover
{
	text-decoration:underline
}
.vpa_merchandising_tiles ul.ui-document-warning li
{
	color:#400000;
	font-weight:700;
	padding:5px 0 0 25px;
	background:transparent url(Images/1-Click/warning.gif) no-repeat bottom left
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation
{
	height:450px;
	width:500px;
	margin-left:-250px;
	left:50%;
	top:-250px;
	text-align:center
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation .ui-i-confirm-statement
{
	padding:1em
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation .ui-dialog-titlebar
{
	text-align:left
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation .ui-confirm-ad-text
{
	height:150px;
	margin:5px 2em;
	overflow-x:visible;
	overflow-y:auto;
	padding:3px;
	text-align:left;
	line-height:1.5em;
	border:1px solid #e5e8e3;
	background-color:#fafbf9
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation span.highlight_text
{
	background-color:#ffffc0;
	color:#000
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation span.over_limit_text
{
	background-color:maroon;
	color:#fff
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.ad_preview_options
{
	text-align:right
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.ad_preview_options label
{
	font-weight:400;
	font-size:9px
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.character_count
{
	text-align:left;
	text-indent:12px;
	font-size:9px
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.character_count .character_count_value
{
	font-weight:700;
	color:#000
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation p.character_count .character_count_value_over
{
	font-weight:700;
	color:maroon
}
.vpa_merchandising_tiles div.ui-text-editor-confirmation textarea
{
	padding:3px;
	font:9px/1.5em Arial,Sans-Serif;
	overflow-y:auto
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li input
{
	background-image:url(Images/1-Click/notes_buttons.gif)
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.copy_ad_to_notes input
{
	width:131px;
	background-position:0 -38px
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.copy_ad_to_notes input:hover
{
	background-position:0 -76px
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.jd_power input
{
	width:90px;
	background-position:-130px -38px
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.jd_power input:hover
{
	background-position:-130px -76px
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.store_avg_price input
{
	width:109px;
	background-position:-227px -38px
}
.vpa_merchandising_tiles .search-notes-field div.ui-textarea-header .ui-buttons li.store_avg_price input:hover
{
	background-position:-227px -76px
}
.vpa_header_info_tabs
{
	position:relative;
	z-index:1
}
.vpa_header_info_tabs .ui-tabs
{
	position:absolute;
	top:-2em;
	left:560px;
	width:410px;
	margin-right:1ex
}
.vpa_header_info_tabs .ui-tabs .ui-tab
{
	display:inline;
	float:none
}
.vpa_header_info_tabs .ui-tabs .ui-tab input
{
	padding-right:15px;
	background:transparent url(Images/VPA/expand_arrow.gif) no-repeat right center;
	overflow:visible
}
.vpa_header_info_tabs .ui-tabs .ui-tab-active input
{
	font-weight:700;
	background:transparent url(Images/VPA/expanded_arrow.gif) no-repeat right center
}
.vpa_header_info_tabs .ui-tabs input
{
	border:none;
	background-color:transparent;
	color:#355FAB;
	font-size:10px
}
.vpa_header_info_tabs .title
{
	background-color:#D6D6D6;
	border-right:1px solid #B0B0B0;
	border-left:1px solid #B0B0B0;
	width:100%
}
.vpa_header_info_tabs .title p
{
	text-indent:10px;
	padding:1ex 0
}
.vpa_header_info_tabs .vpa_selected_equipment
{
	border:1px solid #A9A9A9;
	border-top:none
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs
{
	position:static;
	width:auto;
	top:auto;
	left:auto;
	background-color:#D6D6D6;
	border-bottom:1px solid #A9A9A9;
	padding:1ex 0;
	height:1em
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .ui-tab
{
	display:block;
	float:left;
	margin-left:1ex
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .blue_book
{
	border-left:1px solid #B5B5B5
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tabs .ui-tab input
{
	text-align:left;
	float:left;
	color:#626262
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content ul,.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content p
{
	padding:0 1em 1em;
	color:#464646;
	clear:both
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content p
{
	padding-top:1ex
}
.vpa_header_info_tabs .vpa_selected_equipment .ui-tab-content ul li
{
	display:block;
	float:left;
	width:24.9%
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer
{
	background-color:#DCE1F5;
	border-right:1px solid #999;
	border-left:1px solid #999;
	padding:5px 8px 8px
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer a.ReportLink
{
	margin-left:1ex;
	float:right;
	text-transform:uppercase;
	text-decoration:underline;
	font:bold bold 10px Trebuchet,"Trebuchet MS",Arial,sans-serif
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer h4
{
	font-weight:700
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl *
{
	display:inline
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dt
{
	margin-right:1ex;
	font-weight:700
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dd
{
	margin-right:2em
}
.vpa_header_info_tabs .vpa_auction_data .InputContainer dl dd select
{
	font-size:10px;
	position:relative;
	top:1px
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable
{
	background-color:#FFF;
	border-collapse:collapse;
	width:100%;
	font-size:12px
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable th
{
	background-color:#EFEDF0;
	border:1px solid #999;
	font-weight:400;
	text-align:center;
	padding:3px 0 1px;
	color:#535353
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable tbody th
{
	text-align:left;
	text-indent:1em
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable td
{
	border:1px solid #999;
	font-weight:700;
	text-align:center;
	color:#3C3C3C
}
.vpa_header_info_tabs .vpa_auction_data table.ResultsTable tfoot td
{
	text-align:left;
	border:none;
	color:#525252;
	background-color:#F8F9F8;
	padding:2px;
	font-size:10px;
	font-weight:400;
	text-indent:1ex
}
#vpa #wrap
{
	border:1px solid #878D99;
	background:#F8F9F8 url(Images/VPA/page_bg.gif) repeat-x bottom left
}
#vpa #hd
{
	padding:6px 6px 1px;
	background:#F8F9F8 url(Images/VPA/vpa_header_grad.jpg) repeat-x bottom left;
	border-bottom:1px solid #959AA2;
	margin-bottom:0;
	z-index:0
}
#vpa #priceRank
{
	display:none
}
#vpa h1
{
	color:#414141;
	font-size:1.5em;
	font-family:Verdana,Tahoma,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:400;
	text-align:left;
	display:inline
}
#vpa h2
{
	display:inline;
	font-size:12px;
	font-weight:700;
	font-family:Verdana,Tahoma,Arial,sans-serif
}
#vpa h2.high_risk
{
	color:#C00
}
#vpa h2.medium_risk
{
	color:#AF9501
}
#vpa label.small
{
	color:#8B8B8B;
	text-transform:none;
	font-size:85%
}
#vpa .smallNote
{
	color:#888;
	font-size:90%;
	font-style:italic
}
#vpa .inner1
{
	border:1px solid #FFF
}
#vpa .inner2
{
	border:1px solid #E5E5E5;
	padding:4px;
	min-height:134px
}
.hidden
{
	display:none
}
#mktPrce
{
	border:1px solid #9BA1AC;
	background:#E8E8E8 url(Images/VPA/market_pricing_bg.gif) repeat-x top left
}
#mktPrce .inner2
{
	padding-top:1em
}
div.mktPrice-guage
{
	float:left;
	margin-left:30px;
	margin-right:10px;
	width:130px;
	height:130px;
	position:relative
}
div.mktPrice-guage div.mktPrice-guage-grey-pointer
{
	position:absolute;
	background:transparent url(Images/VPA/grey_gauge_pointer.gif) no-repeat 0 0;
	bottom:0;
	right:0;
	height:130px;
	width:130px
}
div.mktPrice-guage div.mktPrice-guage-black-pointer
{
	position:absolute;
	background:transparent url(Images/VPA/black_gauge_pointer.gif) no-repeat 0 0;
	height:130px;
	width:130px;
	bottom:0;
	right:0
}
#mktPrce .control
{
	margin-left:130px;
	width:310px;
	position:relative
}
#mktPrce .control li
{
	padding:3px 0
}
#vpa.appraisal_view #mktPrce .control li
{
	padding:1px 0
}
#mktPrce .control input
{
	background-color:#FFFFAE;
	border:1px solid #7C7C7C;
	color:#555;
	padding:1px 3px;
	width:70px;
	text-align:right;
	font-weight:700
}
#mktPrce .control input.readonly
{
	border:none;
	background-color:transparent;
	margin:1px
}
#mktPrce .control label
{
	margin:3px 1ex
}
#mktPrce .control .current
{
	color:#999;
	font-style:italic
}
#mktPrce .control li.rollup
{
	border-top:1px solid #999
}
#vpa.appraisal_view .control li.naaa-price *
{
	color:#666;
	font-size:10px
}
#vpa.appraisal_view .control li.naaa-price
{
	border-top:1px solid #BDBDBD;
	padding:1px 0
}
#vpa.appraisal_view .control li.naaa-profit *
{
	color:#7F7F7F;
	font-size:10px
}
#vpa.appraisal_view .control li.naaa-profit
{
	border-bottom:1px solid #BDBDBD;
	padding:1px 0
}
a.override_analysis:link
{
	margin-left:1em;
	color:#999
}
a.override_analysis:hover
{
	color:#355FAB
}
.emphasis
{
	font-size:.9em;
	color:#C00C0D
}
.max_the_price_button
{
	clear:left;
	margin-left:140px;
	z-index:3
}
#mktPrce .search-chart
{
	position:relative
}
#mktPrce .search-chart-rank
{
	left:255px;
	position:absolute;
	top:0;
	color:#00105A
}
#vpa.appraisal_view #mktPrce .search-chart-rank
{
	left:185px
}
#mktPrce input.negative_value
{
	color:maroon;
	border-color:maroon
}
#mktPrce .save_button,#mktPrce .calculate_button
{
	position:absolute;
	right:0
}
#mktPrce #market_summary
{
	border-top:1px solid #B9B9B9;
	width:90%;
	text-align:center;
	margin:1ex auto 1em;
	padding-top:1ex;
	white-space:nowrap
}
#mktPrce #market_summary li
{
	display:inline;
	margin:0 3em;
	color:#00105A;
	font-size:12px;
	white-space:nowrap
}
#mktPrce #market_summary li.market_day_supply
{
	font-weight:700;
	font-size:14px;
	margin-right:1em
}
#mktPrce #market_summary li.avg_mileage
{
	margin-right:0
}
#mktPrce #market_summary li span
{
	color:#000;
	font-weight:700
}
#vpa .table-row-pagination
{
	margin-right:20px
}
.vhclDtl .vhclDtl_wrapper
{
	float:left;
	min-width:555px
}
.vhclDtl dt,.vhclDtl dd
{
	display:inline;
	line-height:1.5em;
	white-space:nowrap
}
.vhclDtl dd
{
	margin-left:4px;
	margin-right:20px
}
.vhclDtl dl,.vhclDtl .vhclDtl_wrapper span,.vhclDtl .info span
{
	color:#666;
	display:inline;
	white-space:nowrap
}
.vhclDtl dl
{
	padding-left:20px
}
.vhclDtl .vhclDtl_wrapper span,.vhclDtl .info span
{
	padding-right:20px
}
.vhclDtl .vin,.vhclDtl dt.vin
{
	padding-left:0
}
.vhclDtl .vin dd,.vhclDtl dd.vin
{
	margin-right:0
}
.vhclDtl .vin dd span,.vhclDtl dd.vin span
{
	padding-right:1ex
}
.vhclDtl span.certified,.vhclDtl span.tradein-or-purchase
{
	color:#666;
	display:inline;
	white-space:nowrap;
	position:relative;
	top:4px
}
.vhclDtl a.google_base
{
	display:inline-block;
	width:13px;
	height:13px;
	background:url(Images/VPA/google_base_header.gif) no-repeat 0 0;
	margin-bottom:2px
}
.vhclDtl a.google_base:hover
{
	background-position:0 -16px
}
.vhclDtl .info
{
	font-family:Trebuchet,"Trebuchet MS",Arial,sans-serif;
	display:block;
	font-size:13px;
	padding-bottom:1ex;
	clear:left;
	zoom:1
}
.vhclDtl .info dd
{
	color:#333
}
.vhclDtl .stock_number
{
	font-size:16px;
	position:absolute;
	top:.5ex;
	right:20px
}
.vhclDtl .stock_number:hover
{
	font-size:16px
}
.vhclDtl .edit-vehicle-info
{
	border:none;
	display:block;
	width:15px;
	height:15px;
	background:transparent url(Images/VPA/edit_vehicle_info.gif) no-repeat top center;
	position:absolute;
	cursor:pointer;
	top:30px;
	left:5px
}
.vhclDtl .edit-vehicle-info:hover
{
	background-position:bottom center
}
.has_javascript .vhclDtl .only_show_with_javascript
{
	display:none
}
.vhclDtl .edit-info
{
	border:1px solid #e3e5e5;
	border-top-color:#afb0b0;
	border-left-color:#c7c7c7;
	background-color:#fffffa;
	clear:left;
	margin:0 10px 2em 25px
}
.vhclDtl .edit-info table
{
	width:99.9%;
	border-collapse:collapse;
	font-family:Verdana,sans-serif;
	font-size:11px
}
.vhclDtl .edit-info table thead tr th
{
	text-transform:uppercase;
	color:#485775;
	height:28px;
	vertical-align:middle;
	background:#f2f2f2 url(Images/ModifySearch/equipment_header.gif) repeat-x 0 -2px
}
.vhclDtl .edit-info table tbody tr td
{
	background-color:#f4f6f8;
	padding:2px 0
}
.vhclDtl .edit-info table .col_body_style
{
	padding-left:10px;
	width:430px
}
.vhclDtl .edit-info div.hr
{
	height:1px;
	background:transparent url(Images/VPA/edit_vehicle_info_hr.gif) no-repeat center center
}
.vhclDtl .edit-info hr
{
	display:none
}
.vhclDtl .edit-info .validation_error
{
	border:1px solid #e6e0ce;
	border-top:none;
	background:#f8f2df url(Images/VPA/attention_gradient.gif) repeat-x top;
	padding:0 5px 5px;
	position:relative;
	left:-6px
}
.vhclDtl .edit-info .validation_error .attention_icon
{
	position:absolute;
	top:5px;
	left:180px
}
.vhclDtl .edit-info .validation_error .validation_warning
{
	display:block
}
.vhclDtl .edit-info .validation_warning
{
	display:none;
	color:#462800
}
.vhclDtl .edit-info fieldset
{
	padding-top:10px;
	width:235px;
	float:left
}
.vhclDtl .edit-info fieldset label
{
	display:inline-block;
	width:90px;
	color:#353535;
	margin-bottom:3px
}
.vhclDtl .edit-info fieldset select
{
	width:114px;
	font-size:.9em;
	margin-bottom:3px;
	margin-top:1px;
	text-transform:capitalize;
	color:#353535
}
.vhclDtl .edit-info fieldset.transfer_price input
{
	width:75px
}
.vhclDtl .edit-info fieldset input
{
	width:110px;
	margin-bottom:3px;
	font-size:.9em;
	color:#353535
}
.vhclDtl .edit-info fieldset .checkbox input
{
	width:auto
}
.vhclDtl .edit-info fieldset.color_and_mileage
{
	width:225px;
	padding-left:10px
}
.vhclDtl .edit-info fieldset.color_and_mileage .validation_error
{
	margin-bottom:-2em
}
.vhclDtl .edit-info fieldset.color_and_mileage label
{
	width:50px
}
.vhclDtl .edit-info fieldset.interior label
{
	width:75px
}
.vhclDtl .edit-info fieldset.transfer_price .checkbox
{
	margin-left:90px
}
.vhclDtl .edit-info fieldset.misc
{
	width:225px;
	padding-right:10px
}
.vhclDtl .edit-info fieldset.controls
{
	width:920px;
	clear:both;
	text-align:right;
	padding-top:0
}
.vhclDtl .edit-info fieldset.controls input
{
	overflow:visible;
	width:auto;
	border:none;
	margin:0;
	padding:0 5px;
	text-transform:uppercase;
	font-weight:700;
	color:#2B4068;
	border:1px solid #fff;
	background-color:transparent;
	cursor:pointer
}
.vhclDtl .edit-info fieldset.controls span.button
{
	display:inline-block;
	padding:1px;
	background:transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border:1px solid #a3a3a3;
	margin:1px 5px 5px;
	cursor:pointer
}
.vhclDtl .edit-info fieldset.controls span.cancel-button input
{
	padding-left:20px;
	background:transparent url(Images/VPA/button_cancel_x.gif) no-repeat 8px 50%
}
.vhclDtl .edit-info fieldset.controls span.save-button input
{
	padding-left:20px;
	background:transparent url(Images/VPA/button_save_check.gif) no-repeat 8px 50%
}
.ui-hidden-head
{
	display:none!important
}
a.save_button,a.save_button:link
{
	display:block;
	width:83px;
	height:21px;
	text-align:left;
	text-indent:-5000px;
	background:transparent url(Images/Buttons/vpa_button_reprice.gif) no-repeat 0 0
}
a.save_button:hover
{
	background-position:0 -42px
}
a.save_button:active
{
	background-position:0 -63px
}
a.calculate_button,a.calculate_button:link
{
	display:block;
	width:83px;
	height:21px;
	text-align:left;
	text-indent:-5000px;
	background:transparent url(Images/Buttons/vpa_button_calculate.gif) no-repeat 0 0
}
a.calculate_button:hover
{
	background-position:0 -42px
}
a.calculate_button:active
{
	background-position:0 -63px
}
a.max_the_price_button
{
	display:block;
	width:80px;
	height:16px;
	text-indent:-5000px;
	background:transparent url(Images/Buttons/button_optimize_price_disabled.gif) no-repeat 0 0
}
a.max_the_price_button,a.max_the_price_button:link
{
	background:transparent url(Images/Buttons/button_optimize_price.gif) no-repeat 0 0
}
a.max_the_price_button:link:hover
{
	background-position:0 -16px
}
a.max_the_price_button:link:active
{
	background-position:0 -32px
}
#search-modify-mileage
{
	clear:both;
	text-align:left
}
#search-modify
{
	display:none;
	line-height:200%;
	margin-bottom:10px;
	background-color:#E8E8E8;
	padding:1px 10px
}
table.equip td.equip-type
{
	font-weight:700;
	vertical-align:top;
	padding:3px 10px 3px 0;
	border-top:1px solid #C0C0C0
}
table.equip td.equip-list
{
	padding:3px 10px 3px 0;
	border-top:1px solid #C0C0C0
}
table.equip td.equip-all
{
	vertical-align:top;
	padding:3px 10px 3px 0;
	border-top:1px solid #C0C0C0
}
#search-modify-ranges-distance
{
	width:220px;
	height:20px
}
.ui-slider-disabled .ui-slider-handle
{
	opacity:.5;
	filter:alpha(opacity=50)
}
.ui-slider-1
{
	width:74px;
	height:11px;
	position:relative;
	background:url(Images/Slider/distance_slider_bg.gif) repeat-x center center;
	cursor:pointer
}
#search-modify-ranges-distance-label
{
	float:left;
	margin-left:4px;
	width:30px;
	white-space:nowrap
}
.search-chart
{
	background:transparent;
	width:470px;
	margin:8px auto 0
}
.MarketAverageSliderBg
{
	width:470px;
	padding-bottom:3em
}
.search-chart-numbers
{
	color:#00105A;
	font-size:105%
}
.mkrtAvg-container
{
	background-position:bottom center;
	background-repeat:no-repeat;
	position:relative;
	width:470px;
	height:85px;
	margin:1em auto 0
}
.ui-slider-mrktAvg-handle
{
	height:24px;
	width:11px;
	background-image:url(Images/Slider/dundas_slider_pointer.gif)
}
form.appraisal_view .ui-slider-mrktAvg-handle
{
	margin-top:15px
}
form.appraisal_view .ui-slider-mrktAvg-handle-disabled
{
	top:15px
}
.ui-slider-mrktAvg-handle-disabled
{
	height:24px;
	width:11px;
	background:url(Images/Slider/dundas_slider_disabled.gif) no-repeat 0 6px
}
.ui-slider-mrktAvg-rail
{
	position:relative;
	width:460px;
	height:80px
}
.ui-slider-disabled .ui-slider-mrktAvg-handle
{
	background-image:url(Images/Slider/dundas_slider_disabled.gif)
}
.ui-slider-mrktAvg
{
	width:470px;
	height:30px;
	position:relative;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer
}
.mktLst a,.mktLst a:hover,.mktLst a:visited
{
	color:#4C5C7C
}
.mktLst th a,.mktLst th a:hover,.mktLst th a:visited
{
	color:#FFF;
	text-decoration:none
}
.mktLst-bd
{
	padding-left:10px
}
.mktLst-bd a.findVehicle
{
	font-size:1em;
	font-weight:700;
	text-transform:uppercase;
	float:right;
	position:relative;
	bottom:14px
}
.mktLst-hd
{
	text-transform:uppercase;
	font-size:110%;
	font-weight:700;
	color:#4C5C7C;
	padding-left:10px;
	background:transparent url(Images/VPA/expand_arrow.gif) no-repeat top left;
	margin-left:10px;
	width:930px;
	margin:0 auto
}
.mktLst-hd a
{
	font-weight:700
}
.mktLst-hd span
{
	text-transform:none;
	font-style:italic;
	color:#7A7A7A;
	font-size:90%;
	font-weight:400
}
.mktLst td.certified,.mktLst td.not_certified
{
	text-indent:-15000px;
	background-position:40% 5px;
	background-repeat:no-repeat
}
.mktLst td.certified
{
	background-image:url(Images/ModifySearch/green-check.gif)
}
.mktLst tr.analyzed td.certified
{
	background-image:url(Images/ModifySearch/green-check-on-aabbff.gif)
}
table.grid tbody tr.analyzed
{
	background-color:#ABF
}
.vehicleDescriptionButton
{
	display:block;
	width:12px;
	height:11px;
	background-image:url(Images/VPA/expand_button.gif);
	overflow:hidden
}
.vehicleDescriptionButton.open
{
	display:block;
	width:12px;
	height:11px;
	background-image:url(Images/VPA/contract_button.gif);
	overflow:hidden
}
.vehicleDescription
{
	z-index:5;
	position:absolute;
	left:-3px;
	top:0;
	width:925px;
	margin:6px;
	padding-top:.5em;
	border-top:1px solid #999
}
.vehicleDescription ul
{
	list-style-type:none
}
.vehicleDescription ul li
{
	float:left;
	width:33%
}
.vehicleDescription .section
{
	float:left;
	clear:both;
	width:100%;
	border-top:1px solid #CCC;
	padding-top:.5em
}
#datepicker_div
{
	border:1px solid #919191;
	background-color:#FFF;
	padding:3px
}
#datepicker_div .datepicker_next,#datepicker_div .datepicker_prev
{
	color:#000040
}
.simple_search_overview
{
	padding:.5ex 20px
}
.simple_search_overview h6
{
	color:#6A6A6A;
	font-weight:700;
	display:inline
}
.simple_search_overview ul
{
	list-style:none;
	display:inline
}
.simple_search_overview ul li
{
	display:inline;
	font-size:10px;
	margin-left:2em;
	padding:0 0 2px 10px
}
.simple_search_overview ul li.enabled
{
	color:#465441;
	background:url(Images/VPA/SearchTile/check_mark.gif) no-repeat 0 50%
}
.simple_search_overview ul li.disabled
{
	color:#888
}
.vpa_modify_search #under_header
{
	background-color:#E9EBF5;
	border-bottom:1px solid #9BA1AC;
	border-top:1px solid #FFF;
	border-right:1px solid #E9EBF5;
	border-left:1px solid #E9EBF5;
	padding:1ex 1em;
	position:relative
}
.vpa_modify_search #under_header #search-ctrls-distance-slider span,.vpa_modify_search #under_header #search-ctrls-distance-slider div,.vpa_modify_search #under_header #search-ctrls-distance-slider input
{
	float:left;
	display:block;
	margin-top:8px;
	position:relative
}
.vpa_modify_search #under_header #search-ctrls-distance-slider div div
{
	margin-top:0;
	margin-right:0
}
.vpa_modify_search #under_header #search-ctrls-distance-slider div
{
	margin-right:1ex
}
.vpa_modify_search #under_header #search-ctrls-distance-slider span
{
	margin-right:1ex
}
.vpa_modify_search #under_header #search-modify-mileage
{
	clear:none;
	margin-left:2em
}
.vpa_modify_search #under_header .other_matches
{
	float:right
}
.vpa_modify_search #under_header .search_controls
{
	float:right
}
.vpa_modify_search #under_header .other_matches
{
	color:#555;
	font-size:9px;
	margin-right:1.5em
}
.vpa_modify_search #under_header .other_matches input
{
	position:relative;
	top:2px
}
.vpa_modify_search #under_header .vpa_cancel_search
{
	padding-right:1ex;
	margin-right:1ex;
	border-right:1px solid #bdc4e1
}
.vpa_modify_search #under_header .vpa_update_search
{
	display:inline-block;
	background:transparent url(Images/Buttons/button_update_search.gif) no-repeat 50% 0;
	width:88px;
	height:19px;
	overflow:hidden;
	position:relative;
	top:2px;
	text-indent:-6000px
}
.vpa_modify_search label.save_search
{
	background:transparent url(Images/Buttons/button_update_search.gif) no-repeat 0 0;
	border:none;
	display:block;
	width:88px;
	height:19px;
	text-indent:-5000px;
	overflow:hidden;
	text-align:left;
	cursor:pointer;
	margin-left:120px
}
.vpa_modify_search label.save_search input
{
	z-index:-1;
	position:absolute
}
.vpa_modify_search .vpa_restore_search
{
	position:absolute;
	bottom:-1.5em;
	right:40px
}
.vpa_modify_search #search_control
{
	background:transparent url(Images/ModifySearch/left_back.gif) repeat-y -112px;
	padding-bottom:20px;
	clear:both
}
#vpa.vpa_modify_search div#wrap
{
	padding-bottom:0
}
.vpa_modify_search table.equipment thead th
{
	font-family:Verdana,sans-serif;
	font-size:11px;
	text-transform:uppercase;
	color:#485775;
	height:30px;
	vertical-align:middle
}
.vpa_modify_search table.equipment td,.vpa_modify_search table.equipment th
{
	vertical-align:text-top
}
.vpa_modify_search table.equipment .col_trims
{
	padding-left:20px
}
.vpa_modify_search #my_equipment
{
	background:transparent url(Images/ModifySearch/vertical_borders.gif) repeat-y bottom center;
	padding:0 12px 30px 10px;
	margin-bottom:35px
}
.vpa_modify_search #my_equipment .summary,.vpa_modify_search #my_equipment table.equipment
{
	margin-top:1.5em
}
.vpa_modify_search #my_equipment .summary
{
	float:left;
	width:230px;
	_margin-right:-3px;
	color:#555
}
.vpa_modify_search #my_equipment .summary h3
{
	font-size:14px;
	color:#485775;
	padding:8px 0 3px 6px;
	background:transparent url(Images/ModifySearch/equipment_header.gif) repeat-x 0 0
}
.vpa_modify_search #my_equipment table.equipment thead th
{
	background:#f2f2f2 url(Images/ModifySearch/equipment_header.gif) repeat-x 0 0
}
.vpa_modify_search #my_equipment .summary p
{
	padding-top:5px;
	line-height:16px;
	text-indent:16px
}
.vpa_modify_search #my_equipment .summary h6,.vpa_modify_search #my_equipment .summary dl
{
	padding-left:15px
}
.vpa_modify_search #my_equipment table.equipment
{
	width:738px
}
.vpa_modify_search #my_equipment table.equipment td
{
	text-indent:18px
}
.vpa_modify_search #search_summary
{
	float:left;
	width:217px;
	padding:0 12px
}
.vpa_modify_search #search_summary h3
{
	margin-bottom:15px;
	font-size:13px
}
.vpa_modify_search #search_summary .segments
{
	color:#555
}
.vpa_modify_search #search_summary .segments li
{
	padding-bottom:1ex
}
.vpa_modify_search .summary h6,.vpa_modify_search #search_summary .segments h6
{
	margin-top:1em;
	font-weight:700
}
.vpa_modify_search .summary dl,.vpa_modify_search #search_summary .segments dl
{
	margin-top:2px
}
.vpa_modify_search .summary dl dt,.vpa_modify_search #search_summary .segments dl dt
{
	display:block;
	float:left;
	clear:left;
	width:80px;
	padding-left:10px
}
.vpa_modify_search .summary dl dd,.vpa_modify_search #search_summary .segments dl dd
{
	font-style:italic;
	margin-left:90px
}
.vpa_modify_search #additional_equipment
{
	margin-left:241px
}
.vpa_modify_search #additional_equipment h3
{
	text-indent:15px;
	margin-bottom:15px;
	font-size:13px
}
.vpa_modify_search #additional_equipment li h4
{
	float:left;
	text-indent:20px;
	color:#555;
	font-size:12px;
	text-decoration:underline;
	cursor:pointer
}
.vpa_modify_search #additional_equipment li input.select_all
{
	color:#999;
	padding:0;
	border:none;
	background-color:transparent;
	font:10px Trebuchet,'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif;
	position:absolute;
	right:25px;
	text-align:right
}
.vpa_modify_search #additional_equipment li input.select_all:hover
{
	color:#355fab
}
.vpa_modify_search #additional_equipment li input.select_all:active
{
	position:relative;
	top:100px
}
.vpa_modify_search #additional_equipment li
{
	margin-bottom:10px;
	position:relative
}
.vpa_modify_search #additional_equipment li.current_segment
{
	padding-bottom:17px;
	margin-bottom:15px;
	margin-top:2px;
	background:transparent url(Images/ModifySearch/additional_equipment_top_bottom.gif) no-repeat -235px 100%
}
.vpa_modify_search #additional_equipment li.current_segment h4
{
	text-decoration:none;
	cursor:default
}
.vpa_modify_search #additional_equipment li.current_segment input.select_all
{
	color:#355fab
}
.vpa_modify_search #additional_equipment table.equipment
{
	width:739px;
	background:transparent url(Images/ModifySearch/vertical_borders_2.gif) repeat-y -235px 0
}
.vpa_modify_search #additional_equipment table.equipment thead th
{
	background:#f2f2f2 url(Images/ModifySearch/additional_equipment_top_bottom.gif) no-repeat top center
}
.vpa_modify_search #additional_equipment table.equipment thead th.col_doors
{
	background-position:top right
}
.vpa_modify_search table.equipment td label
{
	text-indent:2px;
	color:#353535;
	line-height:18px;
	padding-left:18px;
	background:transparent url(Images/ModifySearch/tristatebox.gif) no-repeat 0 0
}
.vpa_modify_search .loading table.equipment td label.all_selected,.vpa_modify_search .loading table.equipment td label.some_selected,.vpa_modify_search .loading table.equipment td label.none_selected,.vpa_modify_search .loading table.equipment td label.all_selected:hover,.vpa_modify_search .loading table.equipment td label.some_selected:hover,.vpa_modify_search .loading table.equipment td label.none_selected:hover
{
	background:transparent url(Images/ModifySearch/tristatebox_loader.gif) no-repeat 0 0
}
.vpa_modify_search .loading table.equipment td.trigger label.none_selected
{
	background:transparent url(Images/ModifySearch/tristatebox.gif) no-repeat 0 0!important
}
.vpa_modify_search .loading table.equipment td.trigger label.none_selected:hover
{
	background:transparent url(Images/ModifySearch/tristatebox.gif) no-repeat 0 -106px!important
}
.vpa_modify_search .loading table.equipment td.trigger label.all_selected
{
	background:transparent url(Images/ModifySearch/tristatebox.gif) no-repeat 0 -28px!important
}
.vpa_modify_search .loading table.equipment td.trigger label.all_selected:hover
{
	background:transparent url(Images/ModifySearch/tristatebox.gif) no-repeat 0 -134px!important
}
.vpa_modify_search table.equipment td input
{
	overflow:hidden;
	border:none;
	background-color:transparent;
	display:block;
	width:1px;
	height:1px
}
.vpa_modify_search table.equipment td label.hover,.vpa_modify_search table.equipment td label:hover
{
	background-position:0 -106px
}
.vpa_modify_search table.equipment td label.all_selected
{
	background-position:0 -28px
}
.vpa_modify_search table.equipment td label.all_selected_hover,.vpa_modify_search table.equipment td label.all_selected:hover
{
	background-position:0 -134px
}
.vpa_modify_search table.equipment td label.some_selected
{
	background-position:0 -56px
}
.vpa_modify_search table.equipment td label.some_selected_hover,.vpa_modify_search table.equipment td label.some_selected:hover
{
	background-position:0 -162px
}
.vpa_modify_search table.equipment td label.selected_by_default,.vpa_modify_search table.equipment td label.selected_by_default_hover,.vpa_modify_search table.equipment td label.selected_by_default:hover
{
	background-position:0 -84px
}
.vpa_modify_search table.equipment td span.rate_1,.vpa_modify_search table.equipment td span.rate_2,.vpa_modify_search table.equipment td span.rate_3
{
	color:red;
	text-align:left;
	overflow:hidden;
	text-indent:-1500px;
	display:inline-block;
	width:8px;
	height:8px;
	position:relative;
	margin-left:.5ex;
	bottom:2px;
	background-image:url(Images/ModifySearch/ratings.gif);
	background-repeat:no-repeat
}
.vpa_modify_search table.equipment td span.rate_1
{
	background-position:0 0
}
.vpa_modify_search table.equipment td span.rate_2
{
	background-position:0 -14px
}
.vpa_modify_search table.equipment td span.rate_3
{
	background-position:0 -28px
}
#adding_segment
{
	position:fixed;
	top:48%;
	left:45%;
	padding:10px;
	background-color:#fff;
	border:solid 1px #888;
	z-index:10000
}
form.preference_page
{
	width:990px;
	text-align:left;
	position:relative;
	margin:0 auto;
}
.preference_page .form_view
{
	margin:0 0 1.5em;
	width:500px;
	float:left
}
.preference_page label
{
	font-weight:700;
	color:#485775
}
.preference_page fieldset
{
	padding:1.4em;
	position:relative;
}
.preference_page legend
{
	padding:1em 0 0;
	font-weight:700;
	font-size:1.2em;
	color:#485775;
	position:absolute;
	top:0px;
	left:15px;
}
* html .preference_page legend
{
	left:8px;
}
.preference_page fieldset.controls
{
	border:none;
	padding:0;
	/*margin-top:-1em;*/
	margin-top:1em;
	margin-bottom:2.5em;
	text-align:right;
	clear:both
}
.preference_page textarea
{
	margin:0 .5em 0 0
}
.preference_page textarea
{
	padding:.4em
}
.preference_page fieldset.hform p
{
	margin:0 0 .5em
}
.preference_page fieldset.hform p label
{
	float:left;
	clear:left;
	width:200px;
	margin-top:1ex
}
.preference_page fieldset.hform p input
{
	width:200px
}
.preference_page fieldset.hform p select
{
	width:200px
}
.preference_page fieldset.hform p input.button
{
	width:auto
}
.preference_page fieldset.hform p input.checkbox
{
	width:auto
}
.preference_page fieldset.hform p input.radio
{
	width:auto
}
.preference_page fieldset.hform p.checkbox
{
	margin-left:100px
}
.preference_page fieldset.hform p.checkbox label
{
	float:none
}
.preference_page fieldset.hform p.checkbox input
{
	width:auto
}
.preference_page fieldset.vform
{
	padding-top:0;
}
.preference_page fieldset.vform p
{
	margin:0 0 .5em
}
.preference_page fieldset.vform p label
{
	display:block; padding-bottom:2px;
}
.preference_page fieldset.vform p.checkbox label
{
	display:inline
}
.preference_page fieldset.vform span.checkbox
{
	position:relative; top:2px; left:5px;
}
.preference_page fieldset.vform span.checkbox label
{
	display:inline; padding-left:5px; position:relative; top:-2px; font-weight:normal;
}
.has_javascript td.only_show_with_javascript *
{
	visibility:hidden
}
* html .has_javascript tbody tr.hover td.only_show_with_javascript *,.has_javascript tbody tr:hover td.only_show_with_javascript *
{
	visibility:visible
}
.preference_page table.grid
{
	table-layout:fixed;
	width:570px
}
.preference_page table.grid thead th
{
	text-align:left
}
.preference_page table.grid caption
{
	color:#3F3F3F
}
.preference_page table.grid th.move_up,.preference_page table.grid td.move_up
{
	width:15px
}
.preference_page table.grid th.move_down,.preference_page table.grid td.move_down
{
	width:15px
}
.preference_page table.grid th.delete,.preference_page table.grid td.delete
{
	width:15px
}
.preference_page table.grid th.selected,.preference_page table.grid td.selected
{
	width:15px
}
.preference_page table.grid .delete,.preference_page table.grid .snippet_up,.preference_page table.grid .snippet_down
{
	vertical-align:middle
}
.preference_page table.grid td.move_up input,.preference_page table.grid td.move_down input,.preference_page table.grid td.delete input
{
	border:none;
	background-color:transparent;
	padding:0;
	margin:0;
	overflow:visible;
	color:#2B4068;
	cursor:pointer
}
.preference_page table.grid td.move_up input,.preference_page table.grid td.move_down input
{
	color:#91959D;
	font-weight:700;
	font-size:18px;
	padding:0 10px
}
.preference_page table.grid td.move_up input:hover,.preference_page table.grid td.move_down input:hover
{
	color:#2B4068
}
.preference_page table.grid td.delete input
{
	padding:0 5px;
	font-weight:700;
	font-size:18px;
	color:#ccc;
	visibility:visible;
	text-align:center
}
.preference_page table.grid tr.hover td.delete input,.preference_page table.grid tr:hover td.delete input,.preference_page table.grid td.delete input:hover
{
	visibility:visible;
	color:maroon
}
html body .preference_page table.disabled
{
	border-color:#e1e1e1
}
html body .preference_page table.disabled caption
{
	background-color:#eaeaea!important
}
html body .preference_page table.disabled *
{
	color:#bfbfbf!important
}
html body .preference_page table.disabled tr.odd td
{
	background-color:#ebebeb
}
html body .preference_page table.disabled tr td
{
	background-color:#f3f3f3
}
.preference_page table.snippet_report
{
	margin:0 0 1.5em 245px
}
.preference_page table.snippet_report .select
{
	width:30px
}
.preference_page table.snippet_report .snippet_text
{
	width:405px
}
.preference_page table.snippet_report td.select input
{
	vertical-align:top;
	font-size:10px
}
.preference_page table.snippet_report td.select input:hover
{
	text-decoration:underline;
	border-bottom:1px solid #2B4068
}
.preference_page table.snippet_report td.select input
{
	border:none;
	background-color:transparent;
	padding:0;
	margin:0;
	overflow:visible;
	color:#2B4068
}
.preference_page fieldset.controls input
{
	overflow:visible;
	width:auto;
	border:none;
	margin:0;
	padding:0 5px;
	text-transform:uppercase;
	font-weight:700;
	font-size:10px;
	color:#2B4068;
	border:1px solid #fff;
	background-color:transparent;
	cursor:pointer
}
.preference_page fieldset.controls span.button
{
	display:inline-block;
	padding:1px;
	background:transparent url(Images/VPA/button_gradient.gif) repeat-x center center;
	border:1px solid #a3a3a3;
	margin:1px 5px 5px;
	cursor:pointer
}
.preference_page fieldset.controls span.cancel_button input
{
	padding-left:20px;
	background:transparent url(Images/VPA/button_cancel_x.gif) no-repeat 8px 50%
}
.preference_page fieldset.controls span.update_button input,.preference_page fieldset.controls span.insert_button input
{
	padding-left:20px;
	background:transparent url(Images/VPA/button_save_check.gif) no-repeat 8px 50%
}
.preference_page fieldset .desc
{
	color:#555;
	padding:3.4em 2em 1em 0em
}
.preference_page fieldset .help_text
{
	border:1px solid #8EA5B0;
	background-color:#F4FFFF;
	margin:10px 50px;
	color:#555;
	padding:10px 40px 10px 20px;
	position:relative;
	display:none
}
.preference_page fieldset .help_text .help_arrow
{
	position:absolute;
	display:block;
	width:28px;
	height:15px;
	background-image:url('Images/VPA/help_pointer.gif');
	text-align:center;
	color:#F4FFFF
}
.preference_page fieldset .help_text dt
{
	font-weight:700;
	text-decoration:underline;
	color:#4B4B4B;
	float:left;
	margin-right:1ex
}
.preference_page fieldset .help_text dl
{
	margin-bottom:1ex
}
.preference_page fieldset .help_text dd dl
{
	margin-left:1ex;
	margin-bottom:1em
}
.preference_page fieldset .help_text abbr
{
	font-variant:small-caps;
	font-size:95%
}
.preference_page fieldset .help_text em.example
{
	font-weight:400;
	font-style:italic;
	font-size:105%;
	color:#4B4B4B
}
.preference_page fieldset .help_arrow_up
{
	margin-top:18px
}
.preference_page fieldset .help_arrow_up .help_arrow
{
	top:-14px;
	left:7px;
	background-position:top center
}
.preference_page fieldset .help_arrow_down
{
	margin-bottom:18px
}
.preference_page fieldset .help_arrow_down .help_arrow
{
	bottom:-14px;
	right:7px;
	background-position:bottom center
}
.preference_page fieldset .help_arrow_right
{
	margin-bottom:18px
}
.preference_page fieldset .help_arrow_right .help_arrow
{
	right:-13px;
	bottom:7px;
	height:28px;
	width:15px;
	background-position:center right
}
html .preference_page fieldset .help_arrow_left
{
	margin-top:-1ex;
	width:30em;
	position:absolute;
	right:-3em
}
html body .preference_page fieldset .help_even
{
	margin-top:-3em!important
}
.preference_page fieldset .help_arrow_left .help_arrow
{
	left:-13px;
	top:7px;
	height:28px;
	width:15px;
	background-position:center left
}
.preference_page .secondary_preference_nav
{
	float:left;
	width:235px
}
.preference_nav a
{
	font-size:10px;
	color:#355fab
}
.preference_nav a:hover
{
	font-size:10px
}
.preference_nav div.ui-menu-horizontal
{
	padding-bottom:5px;
	border-bottom:1px solid #aaa
}
.preference_nav div.ui-menu-horizontal ul.ui-menu
{
	margin:0;
	padding:0 0 2px
}
.preference_nav div.ui-menu-horizontal ul.ui-menu li
{
	border-right:none;
	padding:2px 2px 5px
}
.preference_nav div.ui-menu-horizontal ul.ui-menu li.ui-menu-child-selected
{
	border-bottom:4px solid #aaa
}
.preference_nav div.ui-menu-vertical
{
	margin-top:1em;
	border-right:1px solid #aaa
}
.preference_nav div.ui-menu-vertical ul.ui-menu
{
	margin:0;
	padding:0 0 2px
}
.preference_nav div.ui-menu-vertical ul.ui-menu li
{
	text-align:right;
	padding:10px 5px;
	border-right:4px solid #F1F1F1
}
.preference_nav div.ui-menu-vertical ul.ui-menu li.ui-menu-selected
{
	border-right:4px solid #aaa
}
#AdvertisementGeneratorForm.preference_page ul.radio_group
{
	padding-bottom:1em
}
#AdvertisementGeneratorForm.preference_page p.checkbox
{
	margin-left:3em
}
#AdvertisementGeneratorForm.preference_page table.grid
{
	margin:1ex 0 1em 50px;
	width:250px
}
#AdvertisementGeneratorForm.preference_page fieldset.controls
{
	z-index:0;
	border-top:1px solid #ddd;
	margin-top:-1.5em;
	padding-top:1px;
	clear:both
}
#AdvertisementGeneratorForm.preference_page table.grid thead tr
{
	display:none
}
#AdvertisementGeneratorForm.preference_page table.grid caption
{
	padding:2px 0 1px 5px;
	background-color:#a9a9a9;
	color:#fff;
	font-weight:700
}
#AdvertisementGeneratorForm.preference_page ul.radio_group .help_text
{
	margin-top:-1em!important
}
#AdvertisementGeneratorForm.preference_page .pricing_report_dropdown
{
	text-indent:50px
}
#EquipmentSettingsForm.preference_page fieldset .help_arrow_left
{
	margin-top:-1ex;
	width:20em;
	position:absolute;
	right:-3em
}
#EquipmentSettingsForm.preference_page fieldset.controls
{
	width:420px
}

/* Added by KB 10/30/2009 */
.dataGridDiv table { margin-left:15px; border:solid #a9a9a9 1px; background:#fff; }
.dataGridDiv table tr.altRow { background:#f2f2f2; }
.dataGridDiv table th, .dataGridDiv table td { padding:5px; }
.dataGridDiv table th { background:#a9a9a9; color:#fff; font-weight:bold; }
.dataGridDiv .formButtons { text-align:right; position:relative; left:20px; margin-top:3px; }
.dataGridDiv .formButtons a.button { display:inline; margin-left:10px; text-decoration:none !important; background:transparent url(../Leopard/Images/VPA/button_gradient.gif) repeat-x bottom left; border:solid #ccc 1px; padding:6px 0 6px 6px; }
.dataGridDiv .formButtons a.button span { padding:4px 8px 4px 14px; font-size:1.1em; }
.dataGridDiv .formButtons a.button:hover { text-decoration:none !important; }
.dataGridDiv .formButtons a.button:hover span { text-decoration:underline; }
.dataGridDiv .formButtons a.saveButton span { background:transparent url(../Leopard/Images/VPA/button_save_check.gif) no-repeat left center; }
.dataGridDiv .formButtons a.cancelButton span { background:transparent url(../Leopard/Images/VPA/button_cancel_x.gif) no-repeat left center; }

a.checked { display:block; margin:auto; width:12px; height:12px; background:transparent url(../Austere/Images/checkbox_checked.gif) no-repeat top left;}
a.unchecked { display:block; margin:auto; width:12px; height:12px; background:transparent url(../Austere/Images/checkbox_unchecked.gif) no-repeat top left;}
.checkboxLabel { display:inline !important; margin-left:8px; }
input.checkbox { position:relative; top:2px; margin:0 3px 0 5px; }


div.participation {
	margin-left: 1.4em;
	margin-top: 15px;
}

div.participation a, div.participation a:link, div.participation a:visited, div.participation a:link:hover, div.participation a:visited:hover{
	text-decoration: underline;
}

div.participation .participation-item{
	font-size: 120%;
	margin: 10px 20px 10px 0px;
}