.scorecard-interior
{
	background-color: 525252;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #000;
}
.scorecard-heading
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 7pt;
	font-weight: bold;
	color: efefef;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: bottom;
	text-align: right;
}
.scorecard-lineitem
{
	font-family: Arial, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	color: 000;
	background-color: fff;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}
.scorecard-title
{
	font-family: verdana;
	font-size: 8pt;
	font-weight: bold;
	color: FFCC33;
}
.scorecard-dash {background-image:url(../images/common/dash.gif);}
.scorecard-dashThick
{
	background-color: 014e86;
}


.report-border
{
	background-color: B2B6A8;
	border: 1px solid #01619D;
}
.report-interior
{
	background-color: B2B6A8;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid #000;
}
.report-interior-NoTop
{
	background-color: B2B6A8;
	padding-left: 2px;
	padding-right: 2px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}
.report-heading
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 7pt;
	font-weight: bold;
	color: efefef;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: bottom;
	text-align: right;
}
.report-heading a:link {color: #013358;text-decoration:none;}
.report-heading a:active {color: #014E86;text-decoration:none;}
.report-heading a:visited {color: #013358;text-decoration:none;}
.report-heading a:hover {color: #014E86;text-decoration:underline;}
.report-title
{
	font-family: Bookman Old Style, Serif;
	font-size: 14pt;
	font-weight: bold;
	color: 94341E;
}
.report-lineitem
{
	font-family: Arial, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	color: 000;
	background-color: fff;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}
.report-lineitem2
{
	font-family: Arial, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	color: 000;
	background-color: efefed;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}
.report-frame
{
	padding-left: 2px;
	padding-right: 2px;

}
.report-rank
{
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: bold;
}
.report-highlight
{
	color: 94341E;
}


.report-rowBorderFirst
{
	background-color: #01619D;
}
.report-rowBorder
{
	background-color: #fff;
}
.report-footer
{
	font-family: Arial, Sans-Serif;
	font-size: 8pt;
	font-weight: normal;
	color: 000;
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
}
.blk {font-size:11px;color:#000;font-family:Arial,Helvetica,San-Serif;}
.scorecardAnalysis {
	font-family:verdana;
	font-weight:bold;
	font-size:8pt;
	padding-left:5px;
}
