<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:hyperlink ID="Hyperlink1" runat="server" NavigateUrl="~/Simple.aspx">Simple</asp:hyperlink>
        <asp:hyperlink ID="Hyperlink2" runat="server" NavigateUrl="~/Fancy.aspx">Fancy</asp:hyperlink>
    </div>
    </form>
</body>

</html>
