<%@ tag body-content="empty" %><%@ attribute name="id" required="true" %><%@ attribute name="ignoreGreen" required="false" %><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><c:if test="${ignoreGreen}" var="bNoGreen"/>${id==1?'red':id==2?'yellow': id==3&&!bNoGreen?'green':'none'}