<% html_options = Hash.new %>
<% if wholesaler.nil? || editable == false %>
    <% html_options[:disabled] = true %>
<% end %>
<% if editable == true %>
    <% select_disabled = 'disabled="true"'%>
<% else %>
    <% select_disabled = ''%>
<% end %>
<div id="WholesalerManager" class="management_float">
	<div>
		<div id="WholesalerManagerHeader" class="header">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'finish', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close Wholesaler Manager', :id => 'WholesalerManagerCloseButton' } %></div>
			Add/Manage Wholesalers
		</div>
		<%= form_mode_tag :url => { :action => 'open', :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :float => { :complete => true } %>
		<div id="WholesalerManagerBody" class="body">
			<div>
                <% if editable %>
                    <span>Add</span>
                <% else %>
                    <%= link_to_mode "Add", { :url => { :action => 'add', :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :title => 'Add a new live auction location', :id => 'WholesalerManagerAddButton' }, { :complete => true } %>
                <% end %>
			</div>
			<label for="WholesalerManagerEntries">Select a Wholesaler:</label>
			<select id="WholesalerManagerEntries" name="wholesaler_id" <%= select_disabled %> onchange="if (this.form.onsubmit) { this.form.onsubmit(); } else { this.form.submit(); }">
                <% if wholesaler.nil? %>
                <option value="0" selected="selected">Select...</option>
                <%= options_from_collection_for_select(wholesalers, 'id', 'name', nil) %>
                <% else %>
                <option value="0">Select...</option>
                <%= options_from_collection_for_select(wholesalers, 'id', 'name', wholesaler.id) %>
                <% end %>
			</select>
		</div>
		<%= end_form_tag %>
		<% if flash.now[:notice].nil? || flash.now[:notice].empty? %>
		<div id="WholesalerManagerErrors" style="display:none;"></div>
		<% else %>
		<div id="WholesalerManagerErrors">
            <% if flash.now[:notice] === Array -%>
                <ul><% flash.now[:notice].each do |notice| -%><li><%= notice -%></li><% end -%></ul>
            <% else %>
                <%= flash.now[:notice] -%>
            <% end %>
		</div>
		<% end %>
		<div id="WholesalerManagerEntry" class="body">
            <% if !wholesaler.nil? && !editable %>
			<div id="WholesalerManagerEntryButtons">
				<div class="float">
    				<%= link_to_mode 'Edit', { :url => { :action => 'edit', :wholesaler_id => wholesaler.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id } }, { :id => 'WholesalerManagerEditButton', :title => "Edit #{wholesaler.name}" }, { :complete => true } %>
    				<%= link_to_mode 'Delete', { :url => { :action => 'delete', :wholesaler_id => wholesaler.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => "Are you sure you want to delete #{wholesaler.name}" }, { :id => 'WholesalerManagerDeleteButton', :title => "Delete #{wholesaler.name}" }, { :complete => true } %>
    			</div>
			</div>
			<% end %>
			<%= form_mode_tag :url => { :action => 'save' }, :float => { :complete => true }, :html => { :id => 'WholesalerForm', :name => 'WholesalerForm' } %>
			<% unless planning_action_id.nil? %>
			<%= hidden_field_tag 'planning_action_id', planning_action_id %>
			<% end %>
			<% unless inventory_id.nil? %>
			<%= hidden_field_tag 'inventory_id', inventory_id %>
			<% end %>
			<% if !wholesaler.nil? && !wholesaler.id.nil? %>
			<%= hidden_field 'wholesaler', 'id', html_options.update(:object => wholesaler) %>
			<% end %>
			<fieldset>
				<legend>Wholesaler Details</legend>
				<dl>
					<dt>
						<label for="wholesaler_name">Name</label>:
					</dt>
					<dd>
						<%= text_field 'wholesaler', 'name', html_options.update(:object => wholesaler) %>
					</dd>
					<dt>
						<label for="wholesaler_telephone_number">Telephone #</label>:
					</dt>
					<dd>
						<%= text_field 'wholesaler', 'telephone_number', html_options.update(:object => wholesaler) %>
					</dd>
				</dl>
			</fieldset>
			<% if !wholesaler.nil? && editable %>
			<div id="WholesalerManagerEntryButtons" class="footer">
				<div><a href="#" onclick="if (document.WholesalerForm.onsubmit) { document.WholesalerForm.onsubmit(); } else { document.WholesalerForm.submit(); }" title="Save changes to <%= wholesaler.name %>">Save</a></div>
				<div><%= link_to_mode 'Cancel', { :url => { :action => 'cancel', :wholesaler_id => wholesaler.id, :planning_action_id => planning_action_id, :inventory_id => inventory_id }, :confirm => 'Are you sure?' }, { :id => 'WholesalerManagerDeleteButton', :title => "Cancel changes to #{wholesaler.name}" }, { :complete => true } %></div>
			</div>
			<% end %>
			<%= end_form_tag %>
		</div>
	</div>
</div>