<% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory].compact) %>
<% call = remote_function(:url => { :controller => '/management/wholesaler', :action => 'list', :planning_action_id => take_id(planning_action), :inventory_id => take_id(inventory) }, :update => id) %>
<ul id="<%= id %>" class="wholesale_wholesaler_values" hal:refresh="<%= call %>">
    <% wholesalers.each do |wholesaler| -%>
        <% id = gen_id([(planning_action.nil? ? nil : planning_action.planning_action_type), planning_action, inventory, wholesaler].compact) %>
        <%if !inventory.nil?%>
            <li><input type="radio" name="wholesaler[id][]" value="<%= wholesaler.id %>" id="<%= id %>"><label for="<%= id %>"><%= [wholesaler.name, wholesaler.telephone_number].compact * '_' %></label></li>
        <%else%>
            <li><input type="checkbox" name="wholesaler[id][]" value="<%= wholesaler.id %>" id="<%= id %>"><label for="<%= id %>"><%= [wholesaler.name, wholesaler.telephone_number].compact * '_' %></label></li>
        <%end%>
    <% end -%>
</ul>