

.wait {
	cursor: wait;
}

/* >>>>>>>>
	VEHICLE items display
>>>>>>>> */


	




/* >>>>>>>>
	QUICK PLANNING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>> */

/* 
//// GENERAL
*/

/* 
page-level 
*/

#quick {
	float: right;
	height: 1%;
}
#quick a {
	color: white;
}


/* 
// TABLE 
*/
#quick td, #quick th {
	background-color: #777;
	vertical-align: top;
}
#quick th {
	font-size: 1px;
	
}

/* corners */
#quick .tl, #quick .tr, #quick .bl, #quick .br {
	width: 4px;
	padding: 0;
	background-repeat: no-repeat;
}
.tl {
	background-image: url('../../../common/_images/corners/quickPlanWidget-tl-small.gif');
}
.tr {
	background: url('../../../common/_images/corners/quickPlanWidget-tr-small.gif') no-repeat top right;
}
.bl {
	height: 4px;
	background-image: url('../../../common/_images/corners/quickPlanWidget-bl-small.gif');
	background-position: bottom left;
}
.br {
	height: 4px;
	text-align: right;
	background-image: url('../../../common/_images/corners/quickPlanWidget-br-small.gif');
	background-position: bottom right;
}



/* 
//// RIGHT SIDE
*/
#quick h4 {
	font-size: 1em;
	margin: 3px 2px 0 5px;
	padding-left: 9px;
	float: right;
	background: url('../../../common/_images/bullets/arrowDown-grayOnClear-small.gif') no-repeat left 5px;
}
#quick h4 a {
	color: #fcfcbd;
}
#quick h4 a:hover {
	color: #fcfcbd;
	text-decoration: none;
}

/* collapsed */
#quick .collapsed h4 {
	background: url('../../../common/_images/bullets/arrowRight-grayOnClear-small.gif') no-repeat left 4px;
}
#quick .collapsed h4 a {
	color: #eee;
}
	#quick .collapsed h4 a:hover {
		color: #eee;
	}

#quick .collapsed .l,
.collapsed .choices {
	display: none;
}
#quick .collapsed td.bl, #quick .collapsed td.br {
	font-size: 1px;
}


/* 
objective choices
*/
#quick .objectives {
	margin-top: 1px;
}
#quick .objectives a {
	font-size: 1em;
	display: block;
	width: auto;
	height:1%;
	padding: 2px 0 2px 17px;
	
}
#quick .objectives a:hover {
	background-color: #525252;
	text-decoration: none;
}



/* 
//// LEFT SIDE
*/

.SHOW_RETAIL .l,
.SHOW_WHOLESALE .l { border-right: solid 1px #454545; }

/* 
icons & labels
*/
.icons,
.labels {
	margin-left: auto;
	text-align: center;
}
.icons {
	padding: 0 10px;
	margin-top: 1px;
	background-color: #454545;
}
	.icons a {
		padding: 0 5px;
	}
	.icons a:hover {
		background-color: #777;
	}
	.icons img {
		position: relative;
		top: -11px;
		margin-bottom: -10px;
	}
	.icons tt {
		padding: 0 10px;
		visibility: hidden;
	}

.labels {
	font-size: .9em;
	padding: 0 5px 0 10px;
}
	.labels span {
		display: block;
		float: left;
		text-align: center;
	}
	.labels span.first {
		text-align: right;
	}
		#quickPlanRetail .labels span.first tt {
			padding-left: 3px;
			position: relative;
			right: -10px;
		}
	#quickPlanRetail .labels span.mid {
		width: 65px;
		text-indent: 6px;
		text-align: center;	
	}
	.labels span.last {
		text-align: left;
	}
		#quickPlanRetail .labels span.last tt {
			padding-right: 3px;
			position: relative;
			left: -7px;
		}
		.labels span.last tt {
			padding-left: 10px;
		}

.SHOW_QUICK_REPRICE #repriceLink,
.SHOW_QUICK_TRANSFER #transferLink,
.SHOW_QUICK_SPIFF #spiffLink,
.SHOW_QUICK_AUCTION #auctionLink,
.SHOW_QUICK_WHOLESALER #wholesalerLink,
.SHOW_QUICK_ADVERTISE #advertiseLink {
	background-color: #777;
}
	/* do NOT show labels when a quick plan is active */
	.SHOW_QUICK_REPRICE .labels,
	.SHOW_QUICK_TRANSFER .labels,
	.SHOW_QUICK_SPIFF .labels,
	.SHOW_QUICK_AUCTION .labels,
	.SHOW_QUICK_WHOLESALER .labels,
	.SHOW_QUICK_ADVERTISE .labels {
		display: none;
	}

/* 
master quick input
*/
.apply {
	margin: 5px 10px 0 10px;
	padding-bottom: 1px;
	text-align: right;
}
#quickPlanRetail,
#quickPlanWholesale {
	display: none;
}

.SHOW_RETAIL #quickPlanRetail {
	display: block;
}
	#quick .SHOW_RETAIL .objectives a.retailLink {
		background-color: #525252;
		text-decoration: none;
		cursor: default;
	}
.SHOW_WHOLESALE #quickPlanWholesale {
	display: block;
}
	#quick .SHOW_WHOLESALE .objectives a.wholesaleLink {
		background-color: #525252;
		text-decoration: none;
		cursor: default;
	}



.manageLink {
	float: right;
	font-size: .9em;
}


/*
*/




/* >>>>>>>>
	ALL items display
>>>>>>>> */

/* >> REPRICING >>>>>>> */

/* page-level */
#quickReprice {
	width: 190px;
	text-align: center;
}


/* default .OFF on */
.ALL {
	display: none;
}
.OFF,
.REPRICE_ENABLED_ALL .ALL,
.TRANSFER_ENABLED_ALL .ALL { 
	display: block;
}
/* .ALL on */
.REPRICE_ENABLED_ALL .OFF,
.TRANSFER_ENABLED_ALL .OFF { 
	display: none; 


}


/* vehicle-level */

th.lp a:hover { text-decoration: none; }

/* list price and reprice */

.REPRICE_ENABLED input.money,
.REPRICE_ENABLED_ALL input.money,
.TRANSFER_ENABLED input.money,
.TRANSFER_ENABLED_ALL input.money
 { 
	background-color: yellow;
}

.TRANSFER_ENABLED .transferp .display,
.TRANSFER_ENABLED_ALL .transferp .display {
	display: none;
}
.TRANSFER_ENABLED .transferp .edit,
.TRANSFER_ENABLED_ALL .transferp .edit {
	display: block;
}
.REPRICE_ENABLED .lp .display,
.REPRICE_ENABLED_ALL .lp .display {
	display: none;
}
.REPRICE_ENABLED .lp .edit,
.REPRICE_ENABLED_ALL .lp .edit {
	display: block;
}
#items .CLOSED .edit,
#items .OPEN .display,
.aging .REPRICED .edit,
.edit {
	display: none;
}
#items .CLOSED .display,
#items .OPEN .edit,
.aging .REPRICED .display,
.display {
	display: block;
}


/* >> ADVERTISING >>>>>>> */



/* page-level */
#quickAdvertise {
	direction: rtl;
}
#quickAdvertise .noPublications {
	width: 190px;
	direction: ltr;
	text-align: center;
}
#quickAdvertise .noPublications .manageLink {
	float: none;
	text-decoration: underline;
	font-weight: normal;
	margin-top: -2px;
	font-size: 1em;
}

#quick h6 {
	text-align: left;
	color: #fcfbbb;
	font-size: 1em;	
}

.SHOW_QUICK_ADVERTISE .expanded,
.SHOW_QUICK_ADVERTISE #expandDetailsLink {
	display: none;
}
.SHOW_QUICK_ADVERTISE .summaryLink {
	cursor: default;
}

.notesInput {
	width: 90px;
	margin-top: 1px;
	border: solid 1px #7e9dba;
}



.inline ins {
	font-style: normal;
	display: block;
	float: left;
	width: 100px;
	margin-top: 3px;
}
.inline input {
	float: left;
}

.editMode .notesInput {
	display: inline;
}
.displayMode .notesInput,
.editMode ins {
	display: none;
}
.quickSpiffItemInput .displayMode ins {
	color: gray;
}



#quick .links {
	text-align: right;
	font-size: .9em;
	margin: 5px 0;
}

.vehSavedLine {
	text-align: right;
}




/* >> SPIFF */

/* 
page-level 
*/

#quickSpiff .notesInput {
	width: 110px;
	margin-right: 3px;
}
#quickSpiff .editMode ins {
	display: none;
}

/* >> AUCTION &
		WHOLESALER */

/* 
page-level 
*/

#quickAuction,
#quickWholesaler  { 
	height:1%;
	text-align: left;
}
#quickAuction .links,
#quickWholesaler .links { 
	text-align: right;
	}
#quickAuction select,
#quickWholesaler select {
	margin-right:5px;
}


/*
*/


.layer {
	padding: 5px;
	background-color: #fff98b;
}
/* >> ADVERTISE */

/* 
vehicle-level 
*/
.SHOW_QUICK_ADVERTISE .inline .adDescription {
	display: block;
}
.SHOW_QUICK_ADVERTISE .actions  {
	text-align: left;
	vertical-align: bottom;
}
.inline .adDescription {
	display: none;
	height: 30px;
	font-size: .9em;
	width: 130px;
	overflow: hidden;
}
.inline .adDescription ins { /* display */
	display: inline;
	float: none;
	text-align: left;
}
.inline .layer { /* edit */
	width: 150px;
}
.inline .layer img { /* buttons */
	margin-bottom: 5px;
}

.inline textarea {
	font-size: 1.1em;
	width: 120px;
	height: 35px;
	float: left;
}

.SHOW_QUICK_ADVERTISE .aging tfoot td {
	border-top: solid 1px #ffe385;
	background-color: #ffffe7;
}
.SHOW_QUICK_ADVERTISE tfoot {
	display: table-footer-group;
	text-align: right;
}
.SHOW_QUICK_ADVERTISE tfoot fieldset {
	float: right;
	text-align: right;
}

.inline .active,
tfoot .active {
	background-color: #fff98b;

}
#adText .layer {
	width: 250px;
}

/* right side buttons */
#adText .right {
	width: 20px;
}	
	#adText img {
		margin-bottom: 0;
	}
	

#adText .formActionLinks {
	margin-top: 5px;
	width: 210px;
	text-align: right;
}	
a#vehicleInfoLink {
	margin-left: 90px;
	text-decoration: underline;
}
#adText textarea {
	width: 210px;
	height: 60px;
}


#changePublications {
	width: 400px;
	right: 100px;
}

#changePublications .break {
	margin: 10px;
}
#changePublications .buttons {
	text-align:right;
	margin: 10px;
}
.break {
	clear: both;
	height: 1%;
}
#changePublications .publications {
	float: left;
}




.publications { 
	float: right;
	direction: ltr;
	padding-right: 10px;
}
.publications li {
	text-align: left;
	display: block;
}
.publications a {
	color: #666;
	font-size: .9em;
	text-decoration: underline;
}
#quick .publications a.actionPlanLink {
	color: #d5d5d5;
	font-size: 1em;
	text-decoration: none;
}



/* 
page-level 
*/

#quickAdvertise .manageLink {
	float: left;
	font-weight: normal;
	margin-top: -2px;
}
#quickAdvertise .links {
	direction: ltr;
	clear: both;
	height: 1%;
	margin: 10px 0 0 0;
}
#quickAdvertise .links input  { 
	font-size: 1.1em;
	margin-left: 5px;
}




#quickAdvertise .publications {
	border-left: solid 1px #525252;
	padding: 0 8px;
	margin-top: 5px;
}
	#quickAdvertise .first {
		padding-right: 0;
	}
	#quickAdvertise .last {
		border-left: none;
		padding-left: 0;
	}

/* widths */
#quickAdvertise .publications li { 
	width: 190px;
	margin-bottom: 2px;
}
#quickAdvertise .publications dt { /* publication name */
	width: 90px;
}


/* alignments */
.publications dt {
	float: left;
	text-align: left;
/*
white-space: nowrap;
overflow: hidden;
*/
	margin-right: 5px;
}
.publications dd.date {
	float: left;
}
	#quickAdvertise img.cal {
		margin-left: 2px;
	}
	
.publications dt {
	font-weight: bold;
}
.publications dd {
	font-size: .8em;
}


.publications .header dd.count {
	padding-right: 0;
}
.publications dd.count {
	float: right;
	padding-right: 15px;
}



/* 
vehicle-level 
*/

.quickAdvertiseItemInput {
	height:1%;
}

/* widths */
.quickAdvertiseItemInput .publications {
	height: 1%;
	display: block;
}
.quickAdvertiseItemInput .publications li {
	width: 160px;
	padding-right: 5px;
	float: right;
}
.quickAdvertiseItemInput .publications a {
	float: right;

}
input.publicationCheck {
	float: left;
	margin-top: -2px;
}
.quickAdvertiseItemInput a.adHistoryLink {
	clear: right;
	font-size: .9em;
	padding-right: 15px;
}

#history {
	width: 325px;
	right: 20px;
}



/* >> DEFAULT QUICKS 
>>>>>>> */
/* 
page-level 
*/
#quickReprice,
#quickSpiff,
#quickAuction,
#quickWholesaler,
#quickAdvertise,
#quickTransfer {
	display: none;
}
/* 
vehicle-level 
*/
.quickSpiffItemInput,
.quickAuctionItemInput,
.quickWholesalerItemInput ,
.quickAdvertiseItemInput {
	display: none;
}

/* >> ENABLED QUICKS 
>>>>>>> */
/* 
page-level 
*/
.SHOW_QUICK_REPRICE #quickReprice,
.SHOW_QUICK_TRANSFER #quickTransfer,
.SHOW_QUICK_SPIFF #quickSpiff,
.SHOW_QUICK_AUCTION #quickAuction,
.SHOW_QUICK_WHOLESALER #quickWholesaler,
.SHOW_QUICK_ADVERTISE #quickAdvertise
 {
	display: block;
}
/* 
vehicle-level 
*/
.SHOW_QUICK_SPIFF .quickSpiffItemInput,
.SHOW_QUICK_AUCTION .quickAuctionItemInput,
.SHOW_QUICK_WHOLESALER .quickWholesalerItemInput,
.SHOW_QUICK_ADVERTISE .quickAdvertiseItemInput {
	display: block;
}
.SHOW_QUICK_SPIFF .openPlanButton,
.SHOW_QUICK_AUCTION .openPlanButton,
.SHOW_QUICK_WHOLESALER .openPlanButton,
.SHOW_QUICK_ADVERTISE .openPlanButton {
	display: none;
}
