

	
#filters {
	float: left;
	height: 1%;
	clear:right;
}





/*
ul.select { z-index:1; position:absolute; margin-bottom:-10px;margin-left:-1px; }
*/

ul.select { float:left; }

.customCheck { display: none; }
ul.custom .customCheck { display: inline; position: relative; right: 2px;}


ul.select li, ul.active li{cursor:pointer;}

ul.select li {
	display: none;
}

ul.select li.selected {
	display: block;
	padding: 0 13px 3px 3px;
	
	color: #fc3;
	background:transparent url('../../../common/_images/bullets/carat-downFC3On47.gif') right;
	background-repeat:no-repeat;
}



ul.select li.custom{
	border-top:1px solid #fc3;
	border-left:1px solid #fc3;
	border-right:1px solid #fc3;
	padding:0px 4px 3px 3px;
	background:none;
	background-color:#333;
	
	
}
ul.active{
	position:absolute; z-index:1;
	display:block; 
	width:95px; 
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #000;
}
ul.active li{
	display:block;
	width:95px;
	background-color:#fc3;
	color:#000;
	border-top:1px solid #000;
	padding:2px;
	
}
ul.active li.over{
	background-color:#fcdc7b;
	color:#d90404;
}

ul.active li.selected{
	background-color:#fdefc4;
}



/* FILTER SELECT BOXES */
.filterGroup {
	float: left;
}
.filterGroup label {
	float: left;
	display: block;
	margin-right: 5px;
	color: #fc3;
	font-weight:bold;
}



/* >>>>>>>>
	STANDARD PLANNING FILTERS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>> */

#planningFilters { 
	clear: left;
	float: left;
	margin-right: 25px;
}

#planningFilters .button { 
	position:relative;
	top: -2px;
}


#planningFilters label { 
	float: left;
	color: #fc3;
	font-weight: bold;
	padding-right: 10px;
}




/*
#planningFilters select {
	margin-left: 10px;
}
*/

#planningFilters .planType {
	width: 120px;
}
#planningFilters .timeRange {
	width: 80px;
}




/* >>>>>>>>
	ADVANCED PLANNING FILTERS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>> */


#advancedFilters { 
	float: left;
}

#hideFiltersLink, #showFiltersLink {
	float: left;
}



#advancedFilters a { 
	text-decoration: underline;
}
#advancedFilters label { 
	padding-left: 10px;
}

#advancedFilters .ageSelect {
	width: 120px;
}
#advancedFilters .riskSelect {
	width: 95px;
}
#advancedFilters .objectiveSelect {
	width: 150px;
}
#advancedFilters .mileageSelect {
	width: 120px;
}



/*

.customFilterGroup {
	float:left;
	clear:both;	
	background-color:#333;
	border:1px solid #fc3;
	color:#fc3;
	padding:4px;
	width:565px;
	margin-left:40px;
	text-align:center;
}

#objectiveCustom.customFilterGroup {
	width:330px;
	margin-left:140px;
}
#riskCustom.customFilterGroup {
	width:250px;
	margin-left:82px;
	
}
.customFilterGroup .filterButton {
	margin-left:8px;
}

.customFilter {
	float:left;
}
 .customFilter label {
	padding-left: 8px;
	color: #ccc;
	display:inline;
	font-weight:normal;
	font-size:10px;
	padding-right:0px;

}
*/









.SHOW_ADVANCED_FILTERS { /* this is the class that is inserted to affect page display */ }

/* DEFAULTS */
#advancedFilters fieldset, #hideFiltersLink { 
	display: none;
}

/* ENABLED */

.SHOW_ADVANCED_FILTERS #filters {
	width: 100%;
}

.SHOW_ADVANCED_FILTERS #advancedFilters fieldset,
.SHOW_ADVANCED_FILTERS .filteredValueDisplay {
	display: inline;
}
.SHOW_ADVANCED_FILTERS #hideFiltersLink {
	display: block;
}
.SHOW_ADVANCED_FILTERS #showFiltersLink {
	display: none;
}

/* >>>>> AGE FILTER >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* vehicle-level */
.noneInGroupMsg {
	background: #666 url('../../../common/_images/bkgds/grad-darkGray-tblHdr.gif') repeat-x bottom;
	border: solid 1px black;
	padding: 5px 10px 5px 10px;
	font-size: 1.1em;
	color: #ccc;
	display: none;
	text-transform:uppercase;

}
.emptyGroup {
	height: 1%;
	
}
#page #wrap #content #items .emptyGroup .noneInGroupMsg {
	display: block;
	clear: left;
}
#page #wrap #content #items .emptyGroup table.aging {
	display: none;
}


 /* WATCH LIST */
.AGE_SHOW_RANGE_1 #items #ageGroup_1 table.aging,
.AGE_SHOW_RANGE_1 #ageGroup_2 .noneInGroupMsg,
.AGE_SHOW_RANGE_1 #ageGroup_3 .noneInGroupMsg,
.AGE_SHOW_RANGE_1 #ageGroup_4 .noneInGroupMsg,
.AGE_SHOW_RANGE_1 #ageGroup_5 .noneInGroupMsg,
.AGE_SHOW_RANGE_1 #ageGroup_6 .noneInGroupMsg {
	display: block;
}
.AGE_SHOW_RANGE_1 #items #ageGroup_1 .noneInGroupMsg,
.AGE_SHOW_RANGE_1 #ageGroup_2 table.aging,
.AGE_SHOW_RANGE_1 #ageGroup_3 table.aging,
.AGE_SHOW_RANGE_1 #ageGroup_4 table.aging,
.AGE_SHOW_RANGE_1 #ageGroup_5 table.aging,
.AGE_SHOW_RANGE_1 #ageGroup_6 table.aging {
	display: none !important;
}


.AGE_SHOW_RANGE_2 #items #ageGroup_2 table.aging,
.AGE_SHOW_RANGE_2 #ageGroup_1 .noneInGroupMsg,
.AGE_SHOW_RANGE_2 #ageGroup_3 .noneInGroupMsg,
.AGE_SHOW_RANGE_2 #ageGroup_4 .noneInGroupMsg,
.AGE_SHOW_RANGE_2 #ageGroup_5 .noneInGroupMsg,
.AGE_SHOW_RANGE_2 #ageGroup_6 .noneInGroupMsg {
	display: block;
}
.AGE_SHOW_RANGE_2 #items #ageGroup_2 .noneInGroupMsg,
.AGE_SHOW_RANGE_2 #ageGroup_1 table.aging,
.AGE_SHOW_RANGE_2 #ageGroup_3 table.aging,
.AGE_SHOW_RANGE_2 #ageGroup_4 table.aging,
.AGE_SHOW_RANGE_2 #ageGroup_5 table.aging,
.AGE_SHOW_RANGE_2 #ageGroup_6 table.aging {
	display: none !important;
}


.AGE_SHOW_RANGE_3 #items #ageGroup_3 table.aging,
.AGE_SHOW_RANGE_3 #ageGroup_1 .noneInGroupMsg,
.AGE_SHOW_RANGE_3 #ageGroup_2 .noneInGroupMsg,
.AGE_SHOW_RANGE_3 #ageGroup_4 .noneInGroupMsg,
.AGE_SHOW_RANGE_3 #ageGroup_5 .noneInGroupMsg,
.AGE_SHOW_RANGE_3 #ageGroup_6 .noneInGroupMsg {
	display: block;
}
.AGE_SHOW_RANGE_3 #items #ageGroup_3 .noneInGroupMsg,
.AGE_SHOW_RANGE_3 #ageGroup_1 table.aging,
.AGE_SHOW_RANGE_3 #ageGroup_2 table.aging,
.AGE_SHOW_RANGE_3 #ageGroup_4 table.aging,
.AGE_SHOW_RANGE_3 #ageGroup_5 table.aging,
.AGE_SHOW_RANGE_3 #ageGroup_6 table.aging {
	display: none !important;
}

.AGE_SHOW_RANGE_4 #items #ageGroup_4 table.aging,
.AGE_SHOW_RANGE_4 #ageGroup_1 .noneInGroupMsg,
.AGE_SHOW_RANGE_4 #ageGroup_2 .noneInGroupMsg,
.AGE_SHOW_RANGE_4 #ageGroup_3 .noneInGroupMsg,
.AGE_SHOW_RANGE_4 #ageGroup_5 .noneInGroupMsg,
.AGE_SHOW_RANGE_4 #ageGroup_6 .noneInGroupMsg {
	display: block;
}
.AGE_SHOW_RANGE_4 #items #ageGroup_4 .noneInGroupMsg,
.AGE_SHOW_RANGE_4 #ageGroup_1 table.aging,
.AGE_SHOW_RANGE_4 #ageGroup_2 table.aging,
.AGE_SHOW_RANGE_4 #ageGroup_3 table.aging,
.AGE_SHOW_RANGE_4 #ageGroup_5 table.aging,
.AGE_SHOW_RANGE_4 #ageGroup_6 table.aging {
	display: none !important;
}

.AGE_SHOW_RANGE_5 #items #ageGroup_5 table.aging,
.AGE_SHOW_RANGE_5 #ageGroup_1 .noneInGroupMsg,
.AGE_SHOW_RANGE_5 #ageGroup_2 .noneInGroupMsg,
.AGE_SHOW_RANGE_5 #ageGroup_3 .noneInGroupMsg,
.AGE_SHOW_RANGE_5 #ageGroup_4 .noneInGroupMsg,
.AGE_SHOW_RANGE_5 #ageGroup_6 .noneInGroupMsg {
	display: block;
}
.AGE_SHOW_RANGE_5 #items #ageGroup_5 .noneInGroupMsg,
.AGE_SHOW_RANGE_5 #ageGroup_1 table.aging,
.AGE_SHOW_RANGE_5 #ageGroup_2 table.aging,
.AGE_SHOW_RANGE_5 #ageGroup_3 table.aging,
.AGE_SHOW_RANGE_5 #ageGroup_4 table.aging,
.AGE_SHOW_RANGE_5 #ageGroup_6 table.aging {
	display: none !important;
}

.AGE_SHOW_RANGE_6 #items #ageGroup_6 table.aging,
.AGE_SHOW_RANGE_6 #ageGroup_1 .noneInGroupMsg,
.AGE_SHOW_RANGE_6 #ageGroup_2 .noneInGroupMsg,
.AGE_SHOW_RANGE_6 #ageGroup_3 .noneInGroupMsg,
.AGE_SHOW_RANGE_6 #ageGroup_4 .noneInGroupMsg,
.AGE_SHOW_RANGE_6 #ageGroup_5 .noneInGroupMsg {
	display: block;
}
.AGE_SHOW_RANGE_6 #items #ageGroup_6 .noneInGroupMsg,
.AGE_SHOW_RANGE_6 #ageGroup_1 table.aging,
.AGE_SHOW_RANGE_6 #ageGroup_2 table.aging,
.AGE_SHOW_RANGE_6 #ageGroup_3 table.aging,
.AGE_SHOW_RANGE_6 #ageGroup_4 table.aging,
.AGE_SHOW_RANGE_6 #ageGroup_5 table.aging {
	display: none !important;
}

/* >>>>> RISK FILTER >>>>>>>>>>>>>>>>>>>>>>>>>>> */
.RISK_SHOW_GREEN #items .riskGroup_green { 
	display: block;
}
.RISK_SHOW_GREEN .riskGroup_yellow,
.RISK_SHOW_GREEN .riskGroup_red {
	display: none !important;
}

.RISK_SHOW_YELLOW #items .riskGroup_yellow { 
	display: block;
}
.RISK_SHOW_YELLOW .riskGroup_green,
.RISK_SHOW_YELLOW .riskGroup_red {
	display: none !important;
}

.RISK_SHOW_RED #items .riskGroup_red { 
	display: block;
}
.RISK_SHOW_RED .riskGroup_green,
.RISK_SHOW_RED .riskGroup_yellow {
	display: none !important;
}


/* >>>>> OBJECTIVE FILTER >>>>>>>>>>>>>>>>>>>>>>>>>>> */
.OBJECTIVE_SHOW_RETAIL #items .objectiveGroup_retail { 
	display: block;
}
.OBJECTIVE_SHOW_RETAIL .objectiveGroup_wholesale,
.OBJECTIVE_SHOW_RETAIL .objectiveGroup_sold,
.OBJECTIVE_SHOW_RETAIL .objectiveGroup_other {
	display: none !important;
}

.OBJECTIVE_SHOW_WHOLESALE #items .objectiveGroup_wholesale { 
	display: block;
}
.OBJECTIVE_SHOW_WHOLESALE .objectiveGroup_retail,
.OBJECTIVE_SHOW_WHOLESALE .objectiveGroup_sold,
.OBJECTIVE_SHOW_WHOLESALE .objectiveGroup_other {
	display: none !important;
}

.OBJECTIVE_SHOW_SOLD #items .objectiveGroup_sold { 
	display: block;
}
.OBJECTIVE_SHOW_SOLD .objectiveGroup_retail,
.OBJECTIVE_SHOW_SOLD .objectiveGroup_wholesale,
.OBJECTIVE_SHOW_SOLD .objectiveGroup_other {
	display: none !important;
}

.OBJECTIVE_SHOW_OTHER #items .objectiveGroup_other { 
	display: block;
}
.OBJECTIVE_SHOW_OTHER .objectiveGroup_retail,
.OBJECTIVE_SHOW_OTHER .objectiveGroup_wholesale,
.OBJECTIVE_SHOW_OTHER .objectiveGroup_sold {
	display: none !important;
}





/* >>>>> MILEAGE FILTER >>>>>>>>>>>>>>>>>>>>>>>>>>> */
.MILEAGE_SHOW_RANGE_1 #items .mileageGroup_1 { /* < 20K */
	display: block;
}
.MILEAGE_SHOW_RANGE_1 .mileageGroup_2,
.MILEAGE_SHOW_RANGE_1 .mileageGroup_3,
.MILEAGE_SHOW_RANGE_1 .mileageGroup_4,
.MILEAGE_SHOW_RANGE_3 .mileageGroup_5,
.MILEAGE_SHOW_RANGE_1 .mileageGroup_none {
	display: none !important;
}

.MILEAGE_SHOW_RANGE_2 #items .mileageGroup_2 { /* < 50K */
	display: block;
}
.MILEAGE_SHOW_RANGE_2 .mileageGroup_3,
.MILEAGE_SHOW_RANGE_2 .mileageGroup_4,
.MILEAGE_SHOW_RANGE_2 .mileageGroup_5,
.MILEAGE_SHOW_RANGE_2 .mileageGroup_none {
	display: none !important;
}

.MILEAGE_SHOW_RANGE_3 #items .mileageGroup_3 { /* < 80-ish */
	display: block;
}
/*.MILEAGE_SHOW_RANGE_3 .mileageGroup_1,
.MILEAGE_SHOW_RANGE_3 .mileageGroup_2,
.MILEAGE_SHOW_RANGE_3 .mileageGroup_3,*/
.MILEAGE_SHOW_RANGE_3 .mileageGroup_4,
.MILEAGE_SHOW_RANGE_3 .mileageGroup_5,
.MILEAGE_SHOW_RANGE_3 .mileageGroup_none {
	display: none !important;
}

.MILEAGE_SHOW_RANGE_4 #items .mileageGroup_4 { /* < 100K */
	display: block;
}
/*
.MILEAGE_SHOW_RANGE_4 .mileageGroup_1,
.MILEAGE_SHOW_RANGE_4 .mileageGroup_2,
.MILEAGE_SHOW_RANGE_4 .mileageGroup_3,
.MILEAGE_SHOW_RANGE_4 .mileageGroup_4,*/
.MILEAGE_SHOW_RANGE_4 .mileageGroup_5,
.MILEAGE_SHOW_RANGE_4 .mileageGroup_none {
	display: none !important;
}

.MILEAGE_SHOW_RANGE_5 #items .mileageGroup_5 { /* dealer excessive mileage = if > 100K (not always present) */
	display: block;
}
.MILEAGE_SHOW_RANGE_5 .mileageGroup_none {
	display: none !important;
}
