/* >>>>>> ADVANCED PLANNING  >>>>>> */
@import url('plan_filters.css');



/* // INVENTORY MANAGEMENT PLAN
///////////////////////////////////////////////////////////// */

/* **** addt'l page CONTAINERS 
*/

/* stock number search */
#searchStockForm { 
	position: absolute; 
	left: 225px; 
	top: 122px; 
	width: 220px;
	}
#searchStockForm { 
	color: white; 
	}
	#searchStockForm .search { 
		width: 70px;
		margin-left: 5px; 
		background-color: #7e7e7e; 
		border: solid 1px #7e9dba;
	}
	#searchStockForm input.focus { 
		background-color: white; 
	}
	#searchStockForm .error { 
		color: #fcfcbd;
		text-align: left;
		padding-left: 85px;
		margin-top: 3px;
	}
	
	
	
	
	/* highlight searched vehicle */
	table.selected { border:2px solid #ffc501; }
	table.selected th { background-color:#c7c5c8; }
	table.selected td { background-color:#fffece; }






/* vehicles 'due' and 'planned' counts */
#planningCount { position: absolute; top:100px; left:0px; }
	#planningCount strong { color: #fcfcbd; }
	#planningCount img { margin-right:5px;vertical-align:middle; }
	#planningCount li { color:white;list-style-type:none;padding-top:5px; }
	

/* **** popup & layer CONTAINERS 
*/
#popup #wrap { position:static; }
#popup #footer { position:static;clear:both; }

#internetAuctions { margin-bottom: 5px; }



	/*
	*/

/* >>>>>>>>
	COMMON DECLARATIONS
>>>>>>>> */
#page #items { background-color:#474747;border:solid 1px #FC3;border-top:none; 
			padding:10px; margin-bottom: 50px; }
.planSelect { width:125px; }
.tp { color:#666; }

	img.inaccurate { 
		width: 13px; 
		height: 13px; 
	}



	
#tabs h5 { 
	margin-right: 8px;
	margin-left: 8px;
	font-weight: normal;
}
	#tabs h5 span { 
		font-size: 1em;
	}
	
#tabs li.active h5 { 
	color: white;
}
	#tabs li.active h5 strong { 
		color: #fc3;
	}
	#tabs li.active h5 ins strong { 
		color: white;
	}
	
#tabs a.actionPlanLink { 
	display:inline; 
	height:auto;
	margin-top:10px;
	margin-right:5px;
	float:right;
	color:#333;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:underline;
}
#tabs a.actionPlanLink:hover { 
	color:black;
	text-decoration:none; 
}
img.inaccurate { cursor: help; }

			
.openPlanButton {
	height: 20px;
	float:right;
	margin-right: 20px;
}
.pop { 
	overflow: hidden;
	border: solid black 1px; 
	background-color: white;
}
.pop h1 {
	font-size: 1.1em;
	background-color: #e3e3e3;
	padding: 5px 10px;
}
.pop .toggle {
	float: right;
	margin: 5px 5px 0 0;
}
.pop .body {
	margin: 5px 10px;
}
.pop p {
	margin-bottom: 5px;
}

#box {
	height: 1%;
	
}
img.pointer_left {
	margin-top: 20px;
	height: 13px;
	width: 7px;
}
img.pointer_up {
	display:block;
	margin-left: 20px;
	position: relative;
	top: 1px;
	height: 7px;
	width: 13px;
}
img.pointer_down {
	display:block;
	margin-left: 20px;
	position: relative;
	top: -1px;
	height: 7px;
	width: 13px;
}

.pointer_up img.pointer_down {
	display:none;
}
.pointer_down img.pointer_up {
	display:none;
}

#box #inner {
	background-color: #ffffde;
	border: solid 2px black;
}


/*
#box div.pointer_left {
	margin-left: 6px;
}
*/




#vehiclePlan {
	border:none;
	width: 920px;
}
#vehiclePlan .hdr { 
	background-color: #ffe; 
	border: none; 
}	
/*
////////// TEST TEST TEST 
*/


#displayControls {
	height: 1%;
	color: #d5d5d5;
	clear: both; 
	vertical-align: top;
}
#displayControls a {
	color: #d5d5d5;
}
#displayControls a:hover { 
	color: white;
}




#expandDetailsLink { 
	font-size: .8em;
	text-transform: none;
	margin-left: 25px;
	margin-top: 2px;
font-weight: normal;
font-family: 'Arial',sans-serif;
}
	a#expandDetailsLink { color: #d5d5d5; }
	a#expandDetailsLink:hover { color:white; text-decoration:none;background-color: #474747; }



#statusFilter { 
	width: 335px;
	float: left;
	clear: right;
}
#statusFilter label {
	float: left;
	color: #fc3;
	padding-right: 5px;
	font-weight: bold;
}
select#statusFilterSelect  { 
	font-size: .9em;
	width: 265px;
	background-color: #ddd;
	margin-bottom: 5px; 	
	}
	
#statusFilterSubmit{
    float:right;
    padding-right:23px;
}


a.summaryLink { 
	color: black;
	text-decoration: none; 
	}
	a.summaryLink:hover { 
		text-decoration: none; 
		color: black;
		background: #fcffe7;
		}

	/*
	.planned a.summaryLink { background: #cbcccb; padding: 0 5px;   }
	.planned a.summaryLink { background: #fcffe7; }
	*/

/* >>>>>>>>
	SHADING overrides when PLAN is OPEN
>>>>>>>> */

.shade .aging tbody th { background-color: #bbb; }
.shade .aging tbody td,
.shade .aging tfoot td { background-color: #ccc; }

/*gaps*/
.shade table.aging tbody th.lp,
.shade table.aging tbody th.uc,
.shade table.aging tbody th.bookAvg { 
	border-left-color:#ccc; 
}

.shade table.aging a.summaryLink { color: gray;  }
	.shade table.aging a.summaryLink,
	.shade table.aging a.summaryLink strong { background: none; }
	
	.shade #expandDetailsLink,
	.shade #advancedFilters,
	.shade .inline,
	.shade .openPlanButton,
	.shade .summaryText img,
	.shade .insights img { visibility: hidden;  }

.shade .aging,
.shade .aging .ymm a,
.shade .aging .hilite { 
	color:gray; 
}
.shade .aging .ymm a:hover { 
	color:gray;
	text-decoration: none;
	cursor: default;
}

/* open plan styles */
.shade table.PLAN_OPEN tbody th { background-color:#f2f2f2; }
.shade table.PLAN_OPEN tbody td { background-color:white; }

	.shade table.PLAN_OPEN,
	.shade table.PLAN_OPEN .ymm a,
	.shade table.PLAN_OPEN .ymm a:hover { color:black; }

	.expanded { float: right; width:460px; margin-right:15px; text-align:left;}




/* >>>>>>>>
	for INITIAL VIEW
>>>>>>>> */

.filteredValueDisplay {
	display: none;
	text-transform: none;
}

/*
#items div.l { margin-bottom:20px; }
*/

.agingHeader { 
	margin-top: 20px;
	margin-bottom:5px; 
	font-size: 1.3em;
	font-family:Verdana,Arial,sans-serif;
	text-transform:uppercase;
	color: #fc3;
}
	.agingHeader span { 
		font-size: 1em;
		font-weight: normal;
	}


h3.f { margin-top: 0px; }



/* VEHICLE ITEMS TABLE 
*/



/* >> COMMON defs 
*/
.aging { width: 100%; }

.aging td,
.aging th { 
	padding-left: 5px;
}


/* >> STATUS defs 
*/
/* th = 
	vehicle 1st row */
.due th,
.unplanned th { background-color: #f2f2f2; }
.planned th { background-color: #cbcccb; }
.updated th { background-color: #ffe5a0; }

/* td = 
	vehicle 2nd row */
.due td,
.unplanned td { background-color:white; }
.planned td { background-color: #f2f2f2; }
.updated td { background-color: #fff2cf; }






/* BOX defs - 
	IE6 : width +5 padding-left */
.age { 
	width: 30px;
}
.aging .light { 
	width: 15px;
	padding-left: 0; /* IE6 : -5 */
}
.color { 
	width: 60px; 
}
.mileage { 
	width: 55px; 
}
.transferp {
	width: 90px;
}
	.transferp .display, .transferp .edit { 
		height: 20px;
		width: 90px;
	}
.lotp {
	width: 60px;
}

.lp { 
	width: 85px;
}
	.lp .display, .lp .edit { 
		height: 20px;
		width: 85px;
	}
/* currency */
.tmv,
.uc,
.bookAvg { 
	width: 60px;
}
.bvc { 
	width: 75px;
}
.aging .tp { 
	width: 65px;
	padding-left: 0; /* IE6 : -5 */
}
.aging .snum { 
	width: 75px; 
	padding-left: 0; /* IE6 : -5 */
}




	



/*
.expand {  }
*/



/* VEHICLE defs */
.aging tbody th { /* vehicle first row */
	padding-top: 4px;
	padding-bottom: 2px;
	font-weight: normal;
	vertical-align: top;
}

.aging tbody td { /* vehicle second row */
	vertical-align: top;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* 
/////// BORDERS
*/
.aging { 
	border-left: solid black 1px;
	border-right: solid black 1px;
	border-bottom: solid #666 3px;
}
table.l { border-bottom-width: 0; }

/* header 
*/
.aging thead td,
.aging thead th { 
	border-bottom: none;
	border-top: solid black 1px;
}

/* gaps 
*/
.aging tbody .transferp,
.aging tbody .lotp,
.aging tbody .lp,
.aging tbody .tmv,
.aging tbody .uc,
.aging tbody .bookAvg { 
	border-left-style: solid; 
	border-left-width: 2px; 
}
.aging thead td { 
	border-left-color: #666;
}
	.aging thead .lp { 
		border-left-color: black;
	 }
.aging tbody th { 
	border-left-color: white;
}


/* 
/////// GENERAL
*/

/* HEADER row 
*/
.aging thead th,
.aging thead td { 
	color: white;
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
	background-color: #999;
	background-repeat: repeat-x;
	background-position: bottom;
	background-image: url('../../../common/_images/bkgds/grad-lightGray-tblHdr.gif');
}
.aging thead th { 
	text-transform: uppercase;
	color: #ccc; 
	background-color: #666;
	background-image: url('../../../common/_images/bkgds/grad-darkGray-tblHdr.gif');
}




/* indiv cell overrides */
.aging tbody .age,
.aging tbody .ymm { 
	font-weight: bold;
}
.aging tbody .transferp,
.aging tbody .lp  { 
	cursor: pointer;
}

.aging tbody .transferp,
.aging thead .lp { text-transform:uppercase; }

.ymm { 
	width:333px;
	/*text-indent:0;*/
}
	.ymm a { color: black; }
	.ymm a:hover { color: black; text-decoration: underline; }
		




/* increase size */
tbody .ymm {
	font-size: 1.1em;
}

/* reduce size */
thead .tmv,
thead .bookAvg { 
	text-indent: 0;
	font-size: .9em;
	line-height: 1em;
}





	.ymm img.widthFix { 
		/* forces a min-width for IE */
		visibility: hidden;
		display: block;
		width: 230px;
		height: 0px;
		margin-top: -10px;
	}



/*misc.*/
.aging .insights { 
	word-spacing: -1px;
	color: #900;
	text-indent: 5px;
	vertical-align: top;
	font-size: .9em;
	margin-bottom: 2px;
}


.aging .ping,
.aging .pa { float: right; clear: none;  }


	.aging img { vertical-align: middle; }
	.aging .lotAndStatus { margin-bottom: 2px; }
	.aging .watchPerf { }
		.aging .watchPerf span,
		.lotAndStatus span { margin-right:5px;font-weight:bold;font-size:1.1em;/*margin-left:5px;*/ }




			.aging tbody input.money { width:38px;margin:0;padding:0;}
			.aging tbody img.cancel,.aging tbody img.ok { 
				vertical-align:top;
				width:16px;
				height:16px; 
			}
			.aging tbody img.cancel { margin-right:5px; }
			.aging tbody img.ok { margin-left:2px; }
			


	/*current plan and last planned date summary*/
	div.summaryText { width:250px; }
.summaryText .planned {  }
.summaryText .unplanned { padding-left:10px;background: white url('../../../common/_images/icons/warn-14x12-red.gif') no-repeat; }
.summaryText .due { padding-left:10px;background: white url('../../../common/_images/icons/warn-14x12-yellow.gif') no-repeat; }
.summaryText .updated { padding-left:10px;background: white url('../../../common/_images/icons/alert-12x12-success.gif') no-repeat; }



	.aging .summary { text-indent:0;padding-left:10px; }
		.aging .summary .active { padding-left:16px; }
			.aging .summary .active strong { padding-left:5px; }
		.aging .summary .due { padding-left:19px; }
		/*
			.aging .summary .due a { background-color:#fcffe7;color:black;cursor:pointer; }
			.aging .summary .due a:hover { text-decoration:none; }
		*/
			.aging .summary .due em { padding-left:5px; }
			.aging .summary .redWarn em,.aging .summary .greenSuccess em { padding-left:0px; }
		.aging .summary .due a ins { display:inline;padding-left:5px; }
		.aging .summary .none a ins { padding-left:0; }
		.aging .summary .due ins span { font-style:normal; }
	
/*links*/
a.estockLink,a.photosLink { color:#00f;text-decoration:underline; }
	a.estockLink:hover,a.photosLink:hover { text-decoration:none; }
	
.aging tbody td.l { color:#f90; }



/*
plan summary
tfoot { 
	display: none;
}
.SHOW_EXPANDED_SUMMARIES tfoot {
	display: table-footer-group;
}
*/


.aging tfoot td { 
	text-indent: 0;
	border-top: solid 1px black;
	padding:5px 0;
	background-color:#fcffe7;
}





	

/* >>>>>>>>
	for EXPANDED VIEW
>>>>>>>> 


*/

		/* ???????????????????? >>>>>>>> */
/* ???????????? */
	#vehicleService .errors { color:red;padding:3px;margin:2px;text-align:left; }
	#plans .errors { color:red;padding:10px 0 0 0;margin:0 10px 0 10px; }
	
	/* ???????????? */

	.service .errors { color:red;padding:3px;margin:2px;text-align:left;float:right; }
	#plans .errors { color:red;padding:10px 0 0 0;margin:0 10px 0 10px; }
	.strategies .errors{color:red;padding:5px 0 5px 115px; }
#vehiclePlan .lotAndStatus { margin-left:82px; }	
input.shortDays { width:20px; }
#popup #vehiclePlan { border-bottom:solid black 1px; border-top:none; }
	#vehiclePlan fieldset { display:inline; }
	#vehiclePlan ol { list-style:none outside; }
	.objective,.current,.strategies { height:1%;background-color:#efefef; }
		/* <<<<<<<<< ????????????????????  */



/* >>>>>>>>
	PLANNING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>> */
#vehiclePlan { 
	border:solid 2px gray;
}

	/* NEXT PLAN DATE & SAVING */	
	#vehiclePlan .finish { width:118px;float:right;margin:10px 5px 0 0; }
		#vehiclePlan .finish label { display:block;font-weight:bold;text-transform:uppercase;margin-bottom:5px; }
		#vehiclePlan .finish ins { margin-top:2px; }
		#vehiclePlan .finish .saveBtn { margin-top:10px; }
		#vehiclePlan .finish .saveBtn input { /*width:90px;*/ }

/*left-side headers*/
#vehiclePlan h5 { width:90px;float:left;clear:left;text-align:right;padding-right:10px;margin:0 0 0 5px;text-transform:uppercase;border-top:solid 1px #d5d5d5; }
	.objective h5 { padding-top:5px; }	
	.current h5,.strategies h5,.history h5 { padding-top:10px; }	
	.current h5{padding-bottom:10px;}
	.strategies h5,.history h5 {  }	
#sold h5,#other h5 {  }

/*right-side content*/
.elements { margin-left:110px;border-left:solid 1px #d5d5d5;border-top:solid 1px #d5d5d5;padding:10px;background-color:white; }		
	.current .elements { background-color:#efefef;border-left-color:#efefef; }
	.objective .elements { padding:4px 10px; }
	.elements h4 { float:left;cursor:pointer;border:solid 1px #d5d5d5;background-color:#fcffe4;color:#999;
		height:20px;
		width:200px;
		padding:5px 0 3px 5px; 
	}
	.elements h4.internetMkt { 
		width:220px; 
	}
		.elements h4 img { vertical-align:middle;margin-right:5px; }
		.elements h4 a { color:#f90; }
		.elements h4 a:hover { color:#f60; }

/* // PLAN HEADER defs */
#vehiclePlan .hdr { background-color:#ffe;border:solid 1px #fccb65;padding:4px 10px;color:#f90; }			
	/* float HDR */
	#vehiclePlan .float .hdr { font-weight:bold; }
	/* current plans HDR */
	#vehiclePlan .event .hdr { height:1%;padding-top:2px;padding-bottom:2px;color:black;border-width:1px 0; }
	/* no plans HDR */
	#vehiclePlan #noPlans .hdr { color:black;font-weight:bold;border-width:1px 0;width:350px;border-color:#ccc;background:#f5f5f5 url('../../../common/_images/icons/warn-14x12-yellow.gif') no-repeat 8px 5px;padding-left:30px; }


/* OBJECTIVES >>>>>>>>  */
.objective { clear:both; }
	.objective fieldset label { font-weight:bold;margin-left:5px;margin-right:20px; }
a.historyLink { float:right;color:black;text-decoration:underline;margin-right:5px;margin-top:2px; }
	a.historyLink:hover { color:#666;text-decoration:none; }

/* CURRENT PLANS >>>>>>>>  */
.current .event { width:640px; }
	.current .event li { float:none; display:block; }
	.current .event li.str { font-weight:bold;width:170px; }	/*strategy*/
	.current .event li.pd { width:165px; } 						/*planned date*/
	.current .event li.ru {  } 									/*run until*/
	.current .event li.upd { float:right; } 					/*update links*/
			.current .event ul.det { margin:2px 10px 5px 10px; }
				.current .event li.mo { width:170px; } 			/*media outlets*/
				.current .event li.not {  }						/*notes*/
.current #repriceHTML .event { margin-bottom:5px; }
.current #internetAdvertising .event { margin-bottom:1px; }
.current #internetAdvertising .outlets{ margin-bottom:2px; }
.current #internetAdvertising .outlets div{ margin-left:5px; }
	.current #internetAdvertising .outlets span{ font-style:italic; color:#525252; font-weight:normal; font-size:.8em; margin-right:10px; margin-left:3px;}

div.confirm { position:absolute;width:50px;background:white;padding:3px;border:1px solid black;z-index:500;text-align:center;height:auto !important; }
div.confirm h6 { font-size:1em;margin-bottom:2px; }
div.confirm a { padding:0 5px; }

/* NEW PLAN STRATEGIES >>>>>>>>  */
.strategies .elements { /*height:1%;overflow:hidden;*/ }
	.strategies fieldset { width:280px;margin-top:10px;vertical-align:middle; }
	
	.strategies input.notes { width:150px; }
	
	.strategies fieldset.f { clear:left; }
	#retail fieldset label,#wholesale fieldset label { font-weight:bold;padding:0 10px 0 5px; }
	#sold fieldset label,#other fieldset label { font-weight:normal;padding-left:5px; }
.strategies strong { text-transform:uppercase; }

	/* // COMMON PLAN defs */
#plans { height:1%; }
	/* forces height to clear finish div */
	#plans .forcer { height:155px; }

	#plans li { padding:2px 10px 1px 10px; }
	#vehiclePlan textarea.notes { width:300px;height:50px; font-family:Arial,Helvetica, sans-serif; }
	#plans fieldset.f { clear:none; }

		/* // SOLD and OTHER defs */
		#sold fieldset,#other fieldset { margin-top:0; }
		#sold li,#other li { padding:2px 10px 1px 0; }
		#sold fieldset { float:left;width:250px; }
		#sold fieldset.l { width:400px; }
		#sold label { width:60px;font-weight:normal;display:block;float:left; }		
		#sold fieldset.l label { width:50px; }
	
		/* // FLOAT defs */
		.float { background-color:#ffffff;margin:10px 0 0 10px;
			width:650px; 
			position:absolute;z-index:100;
		 }
			.float .actions { float:right; }
			.float .contents { height:1%;overflow:hidden;border:solid 1px #999;border-top:none;padding:0 10px 10px 0;  }
			.float .pre { background-color:#feffef;border-color:#ffcb63; } /* for area below HDR (used in ad plans) */
			#planFloat fieldset { float:left;width:250px;margin-top:10px; }
			#planFloat fieldset.l { width:400px; }
			#planFloat label { width:60px;font-weight:normal;display:block;float:left;padding-left:5px; }		
			/*internet auctions exceptions*/
			#planFloat .internetAuctions .content{float:right; clear:none; width:600px;}
			#planFloat .internetAuctions .content a.manage{ text-decoration:underline; margin-left:5px;}
				#planFloat .internetAuctions .content a.manage:hover{ text-decoration:none; }
			#planFloat .internetAuctions .content div.main{float:right; text-align:right;}
				#planFloat  .contents .upgrade{padding:10px;}
				#planFloat  .contents{height:1%;}
			#planFloat .internetAuctions .content div span.message{display:block; padding-top:3px;}
			#planFloat .internetAuctions h4{color:#575757; font-size:1.1em; padding:5px 0px 5px 0px;}
			#planFloat .internetAuctions .content textarea{height:40px; width:300px; margin-left:25px;}
			#planFloat .internetAuctions .left{clear:none;margin-top:5px;}
			#planFloat .internetAuctions label{display:inline;float:none;}
				/* LOT PROMOTE exceptions */
				#planFloat fieldset.lp { float:none;display:block;width:425px; }
				#planFloat fieldset.lp label { margin-left:0;width:50px; }

/* ADVERTISING PLANS */
.float .adDescription { margin:10px 0 10px 15px; }
	.float .adDescription fieldset { width:auto; }
#planFloat .adDescription dt { width:80px;padding-right:5px; }		
#planFloat .adDescription label { width:auto;float:right; }		

#planFloat #printAdvertising { margin:0 0 0 15px; }
#planFloat #printAdvertising label { width:auto;font-weight:normal; }
#planFloat #printAdvertising fieldset { width:auto; }
	#printAdvertising dt { padding-right:5px; }

	#printAdvertising .thirdParties { float:left; }
	/* labels */
	#printAdvertising .thirdParties dt { width:80px;padding-right:5px; }
		#planFloat #printAdvertising .thirdParties label { padding-left:5px;float:right; }
	#printAdvertising .adText dt { width:80px;padding-right:5px; }
		#planFloat #printAdvertising .adText label { float:right; }




#printAdvertising .thirdParties dd { width:150px;height:45px; }
		#printAdvertising a { text-decoration:underline; }
	#printAdvertising .thirdParties select { width:120px;margin-bottom:2px;display:block; }
	#printAdvertising .thirdParties input { width:120px; }
		
#printAdvertising dl.endDate { float:left;margin-left:5px; }

#printAdvertising .pricePref { float:right;margin-right:5px; }
	#planFloat .pricePref label { padding:0;float:none;display:inline; }
	#printAdvertising .pricePref li { display:block;margin:0;padding:0;vertical-align:middle; }

/* ad text */
.adText textarea { margin-right:10px; }

/* right of ad text area */
#printAdvertising .left { padding-top:10px; }

/* clear and build buttons */
#formActionLinks,.formActionLinks { font-weight:bold;margin-top:30px; width: 95px; }
	#formActionLinks a,.formActionLinks a { text-decoration:none; }

/* message areas */
#adCountMsg { position:relative;left:90px;width:280px;margin-top:3px; }

#planFloat .history { height:1%;background-color:#f3f3f3;border:solid 1px #999;border-top:none;padding:5px 10px;color:#4c4c4c; }
.history dt { font-weight:bold;width:60px; }
.history dd { float:left; }


/* ADVERTISING MANAGER */
#printAdvertisingManager .manager { border:solid black 1px;width:380px; }
#printAdvertisingManager .manager .contents { padding:10px; }


#printAdvertisingManager .manager .pre { border-bottom:solid #b3b3b3 1px; }
#printAdvertisingManager .hdr { color:black;background-color:#e0e0e0;border:none;border-bottom:solid #b3b3b3 1px; padding:3px; }
	#printAdvertisingManager a.toggle { float:right; } /* close link */
#printAdvertisingManager { background-color:white; }

#printAdvertisingManager .pre .right { margin-top:15px;}
#printAdvertisingManager .contents .buttons{padding:10px;}
#printAdvertisersMgrSelect { display:block;margin-top:3px; }


#printAdvertisingManager .contactDetails input { width:100px; }

#printAdvertisingManager .contactDetails dl { margin-bottom:5px; }
#printAdvertisingManager .contactDetails dt { width:95px;margin-top:2px; }
#printAdvertisingManager label.req { background:transparent url('../../../common/_images/icons/required.gif') no-repeat 0px;text-indent:0px;padding-left:6px; }
#printAdvertisingManager label.ok { background:transparent url('../../../common/_images/icons/required-ok.gif') no-repeat 0px;text-indent:0px; padding-left:6px;}


#printAdvertisingManager .contactDetails dl.email { clear:none;float:left;  }
#printAdvertisingManager .contactDetails dl.email dt{margin-left:3px; margin-right:-6px;}
#printAdvertisingManager .contactDetails dl.fax { margin-left:10px;clear:none;float:left; }
#printAdvertisingManager .contactDetails dl.fax dt { width:auto;float:left;margin-right:5px; }
#printAdvertisingManager .contactDetails dl.fax input { width:85px; }
#printAdvertisingManager .optionsSrc{float:right;clear:none; width:50%;}
	#printAdvertisingManager .optionsSrc span{font-weight:bold;color:#42556c;}
#printAdvertisingManager .adTextOptions{clear:none; width:48%;}
	#printAdvertisingManager .adTextOptions span{font-weight:bold; color:#42556c;}

#printAdvertisingManager #dragItemsPrompt{ color:#42556c; font-size:.8em;margin-top:5px;}
#lockoutFrame { position:absolute;z-index:101;top:0;right:0;height:100%;width:100%; }



#adPriceEdit img{vertical-align:middle;}
	#adPriceEdit input.money{ width:35px;margin:0;padding:0;}
#adPrice{cursor:pointer;}




table.plan { width:100%;border-collapse:collapse; }
table.plan td { vertical-align:top;padding:3pt 3pt;border:solid black 1px; }
table.plan th { height:12pt;background-color:#ccc;padding:1pt 3pt;border:solid black 1px; }
table.plan caption,table.plan thead th { font-weight:bold;height:12pt;padding:3pt 3pt;background-color:black;color:white;text-align:left; }
table.plan th.f { width:50%; }
	.spiff th,.modelPromotion th,.repricing th { width:25%; }
	.specialFinance th { width:16%; }
	.auction th { width:10%; }
table.v thead { font-weight: bold; }
table.v td { border-style: none; padding:0px; }



/*internet advertise CSS TEMPORARY*/ 
.current .elements .float .hdr dd.right{text-align:right;  padding-right:125px; height:20px;}
.current .elements .float .hdr h4{color:#f90; border:0px; display:block; font-size:1.2em;padding:0px;height:1%;}
.current .elements .float .hdr{padding:4px 10px 0px 10px; height:1%; border-right:1px solid #fccb65; border-left:1px solid #fccb65; margin:0px; }
.current .elements .float{ margin:0px;}
.current .elements .float .contents{ padding:0px;}

.current .elements .float .contents fieldset{display:inline;vertical-align:top; margin:10px 15px 10px 10px;}
.current .elements .float .contents fieldset dt{width:70px;padding-top:3px; padding-left:13px;}
.current .elements .float .contents fieldset dd{padding:0px 0px 3px 0px;}
/*Tabs stuff*/
.float .contents .tabs{border-bottom:1px solid  #d8d8d8; height:1%; margin-right:10px;}
 .float .contents .tabs li { float:left;display:block; clear:none; padding:0px;}
 .float .contents .tabs a { font-weight:bold; color:#9c9c9c; border-left:1px solid #c8c8c8; display:block;text-decoration:none;font-size:1.1em; padding:0px 15px 0px 15px; margin-top:4px;}
.float .contents .tabs li.after a{ border-left-width:0px; }	
.float .contents .tabs li.active { border-left:solid 1px #c8c8c8;border-right:solid 1px #c8c8c8;border-top:solid 1px #c8c8c8;position:relative; margin-bottom:-1px; background-color:#ffffff;}	
 .float .contents .tabs li.active a { color:#565656;border-left-width:0px;padding:3px 15px 6px 15px; background:url('../../../common/_images/bullets/caratDown-7x4-6C8196.gif') no-repeat 5px 10px;background-color:#ffffff;cursor:default; margin:0px; }
.float .contents .tabs li.first a{border-left-width:0px;}
 .float .contents .tabs li.first {border-left-width:0px; }
 .float .contents .tabs li.unchecked a{color:#cccccc; }
	 .float .contents .tabs a:hover  { text-decoration:none; }
		 .float .contents .tabs li.active a:hover { cursor:default; }
		
.float .history{ background-color:#f3f3f3; border-top:1px solid #d8d8d8; padding:3px 10px 3px 10px; color:#4c4c4c;}

.current .elements .float .contents .history span{font-weight:bold; color:#666666;padding-right:15px;}
		.current .elements .float .contents .ddLinkContainer{ display:inline;}
		textarea.highlights{width:310px; height:40px;}
		
/*Vehicle info popup*/
#vehicleInfo {background-color:#ffffff; border:1px solid #999999; padding:10px; color:#000000; font-size:1.1em; width:325px;}
#vehicleInfo .description{ font-weight:bold; font-size: 1.2em; margin-bottom:8px;}
#vehicleInfo .body{text-align:center;margin-bottom:8px;}
#vehicleInfo .close{text-align:right;}
#vehicleInfo dt{ color:#666666; text-align:right; width:115px; padding-bottom:7px;}
#vehicleInfo dd{text-align:left; width:200px;}

/*MANGE THIRD PARTY POPUP*/
#manage{display:none; position:absolute; background-color:#ffffff;width:400px;z-index:1005; border:1px solid #333333;}
#manage .header{font-size:1.2em; font-weight:bold; padding:4px;border-bottom:1px solid #b3b3b3; background-color:#e0e0e0;cursor:default;}
#manage .body{  text-align:left;}
#manage .add{   text-align:left; float:right; padding-right:15px;margin-top:91px;}
#manage .addRemove{  clear:both; }
#manage .addNew{font-size:1.2em;  clear:both; color:#666666; font-weight:bold;display:block; padding-bottom:5px;}
#manage .addButtonDiv{ padding:5px 15px 5px 5px; float:right; }
#manage .removeButtonDiv{  padding:5px; float:left; width:185px; text-align:right; }
#manage .submitButtonDiv{ padding:5px; padding-right:10px; padding-top:10px; clear:both; text-align:right; border-top:1px solid #cccccc;margin:5px;}
#manage ol{list-style-type:none;}
#manage label.req { background:transparent url('../../../common/_images/icons/required.gif') no-repeat 0px;text-indent:0px;padding-left:6px; }
#manage label.ok { background:transparent url('../../../common/_images/icons/required-ok.gif') no-repeat 0px;text-indent:0px; padding-left:6px;}

#manage .select{font-size:1.0em;  text-align:left;padding:10px;}
#manage .option{width:165px;}
#manage .footer{font-size:1.0em; text-align:right;display:block; }
#manage #manageSelect{ width:180px;}
#manage .cancel{float:right; }
#printAdvertisingManager #dragList li{display:block;}
#printAdvertisingManager #dragList li label.move{cursor:n-resize;}
table.aging.l th:nth-child(3){width:328px;}


