﻿* 
{
    margin: 0;
    padding: 0;

}
body 
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 76%;
    color: black;
    padding: 20px 10px 0px 10px;
}
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     clear:both;
     content:" ";
     display:block;
     font-size:0;
     height:0;
     visibility:hidden;
}

.clearfix {
	display:inline-block;
}
/* start commented backslash hack \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* close commented backslash hack */
#container 
{
    border: 1px solid black;
    padding: 10px;
}
#bd 
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 90%;
	padding: 20px;
	margin-top: 3px;
	margin-bottom: 5px;
	background: #f1f1f1 url(Images/page_bg_top.gif) repeat-x;
	border-bottom: solid 1px #666666;
}
#footer 
{
    padding: 5px 0px 10px 5px;
    margin-right: 5px;
    color: #999;
    font-size: 90%;
    text-align: left;
    background: transparent url(Images/firstlook_logo_small.gif) no-repeat center right;
}
h2 {
	color: #485775;
	font-size: 125%;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}
h3 
{
    font-size: 1.4em;
    font-weight: bold;
    color: #c00;
    margin-bottom: 1em;
}
h4 
{
    display: inline;
    font-weight: bold;
    font-size: 1.0em;
    margin-right: 1em;
}
p 
{
    margin: 1em 0em;
}
em 
{
    font-style: oblique;
    font-weight: 900;
}
cite 
{
    font-weight: normal;
    font-style: normal;
}
select 
{
    font-size: 1em;
}
.right 
{
    float: right;
}

.button 
{
    border: inherit
}
.smaller 
{
    font-size: 90%;
    padding-left: 8px;
}
table label 
{
    font-size: 0.9em;
}

table 
{
    border: 1px solid #999;
    width: 100%;
}

table.pricingReportTable td 
{
    background-color: #e7efff;
    padding: 2px;
    text-align: right;
}
table.pricingReportTable td.highlight.smaller 
{
    padding-left: 8px;
}
table.pricingReportTable th 
{
    background-color: #d9e4ff;
    padding: 2px;
    font-size: 0.9em;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    text-align: right;

}
table.pricingReportTable th.highlight
{
    background-color: #efefef;
    padding: 2px;
    text-align: left;
}

table.pricingReportTable tr.odd td
{
    background-color: #d9e4ff;
}
table.pricingReportTable td.highlight 
{
    background-color: #fff;
    text-align: left;
}
table.pricingReportTable tr.odd td.highlight 
{
    background-color: #efefef;
}

table.pricingReportTable tr.totalRow 
{
    color: #c00;
    font-weight: bold;
    font-size: 0.8em;
}
table.pricingReportTable tr.totalRow img
{
    margin: 0em 1em;
}
table.pricingReportTable tr.totalRow td.highlight
{
    color: black;
    font-size: 1em;
}
table.pricingReportTable tr.totalRow td.highlight small 
{
    font-size: 0.9em;
    color: #006dac;
}
#print_control {
	background-color: #D9E4FF;
	margin: 0 -10px;
	padding: 10px;
	border-bottom: 1px solid #3E3E3E;
	top: -10px;
	position: relative;
}
#print_control h6 {
	display: inline;
	margin-right: 2em;
}
#print_control #print {
	position: absolute;
	right: 10px;
	_right: 20px;
	top: 13px;
	display: block;
	line-height: 15px;
	padding-left: 20px;
	background: url(Images/print.gif) no-repeat left bottom;
}
#print_control #print:link,
#print_control #print:visited { color: #002375; text-decoration: none; }
#print_control #print:active,
#print_control #print:hover { color: #000D2B; text-decoration: underline; }
@media print {
	#print_control {
		display: none;
	}
	#ShowValues {
		display: none;
	}
	#TrimDropDown, #ConditionDropDown, #ColorDropDown {
		position:relative;
		top:-8px;
	}
	html:not([dummy]) #TrimDropDown, html:not([dummy]) #ConditionDropDown, html:not([dummy]) #ColorDropDown {
		top:0px;
	}
}