

/* ///////////////////////
	REDEFINE ELEMENT DEFAULTS 
/////////////////////// */

/* -------------
    TAGS */
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 0.2em;
	}

/* -------------
    STRUCTURAL ELEMENTS */


.pmc, .pmr {
	position: relative;
    width: 960px;
    margin: 0 auto 5px auto;
    }

#head_ {
	height: 35px;
	padding: 0 20px;
	padding-top: 15px;
	}
    #head_ h1 { 
	    height: 18px;
	    margin-left: -4px;
    }
    #head_ h1 span { 
	    display: none;
    }
    #head_ p { 
	    padding-bottom: .2em;
        margin: 0;
    }
    

#body_, #body_a {
	height: 1%;
 	padding: 10px 20px;
 	}
#body_b {
	height: 1%;
}
#body_::after, #body_a::after, #body_b::after {
    height: 0; clear: both;	content: "."; visibility: hidden; display: block; 
    }
#body_c {
	width: 400px;
	padding: 90px 260px 10px 260px;
	}

	#body_c p {
		padding: 0.5em 0;
	}


#foot_ { 
	padding-top: 10px;
	height: 26px; /* height of logo */
	}
	#foot_ em { 
		padding-right: 10px;
		padding-left: 2px;
		}
	#foot_ cite { 
		padding-left: 10px;
		}




.updated {
	margin-top: 0.5em;
}

.close {
	position: absolute;
	right: 1em;
	top: 1em;
}
.close:hover {
	cursor: pointer;
}

.closebox 
{
    position: absolute;
    right: 1em;
    background: transparent url(Images/close-box.gif) center right no-repeat;
    height: 12px;
    padding-right: 18px;
}
.closebox:hover {
	cursor: pointer;
	text-decoration: underline;
}
.right {
	float: right;
}
.left {
	float: left;
}

/* INLINE POPUP =
 */

.inlinepopup 
{
	padding: 10px;
    position: absolute;
    text-align: left;
    z-index:3;
}

.selectbox 
{
    width: 230px;
    position: absolute;
}