/* global redefinition stuff */



@media print {
	#wrap_ {
		width: 100%;
		position: relative;
		padding: 0;
	}
}

@media screen {
	#wrap_ {
		background: #efefef url(Default/Images/popupbackground.gif) top center repeat-x;
		width: 760px;
		padding: 0 10px;
		position: relative;
	}
}


html {
	background-color: #fff;
}

#wrap_ {

	border-bottom: 1px solid #000;
	text-align: center;
}

h1 {
	font-size: 1.6em;
	color: #3E4969;
}
h3 {
	text-transform: none;
	font-size: 0.9em;
}

/*** layout ***/

#main {

	height: 1%;
	clear: both;
}

@media screen {
	#pageheader {
		width: 100%;
		margin: 0 auto;
		padding: 2em 0;

	}
}

@media print {
	#pageheader {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
}

#invchart-content {
	width: 492px;
	margin: 0 auto;
	text-align: left;
}
h1#graphheader {
	margin-top: 1em;
}

#pageheader h2 {
	clear: both;
}

/*** chart ***/

#invchart-content h3 {
	line-height: 1em;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: none;
}
#inventory-options {
	margin-bottom: 0.25em;
}
#inventory-option label 
{
	float: right;
}
#invchart-content img.chartarea {
	clear: both;
	background: #000;
	padding: 1px;
}


/*** select box***/
.selectbox 
{
    width: 250px;
}


/*** table ***/
@media print {
	table.popuptable  {
		color: #333;
		width: 100%;
		border-collapse: collapse;
		margin: 0 auto 2em auto;
		text-align: left;
	}

}
@media screen {
	table.popuptable  {
		color: #333;
		width: 92%;
		border-collapse: collapse;
		margin: 0 auto 2em auto;
		text-align: left;
	}
}
table.popuptable th {
	padding: 10px 10px 5px 10px;
	font-size:	0.9em;
	font-family: Verdana, Helvetica, sans-serif;
	color: #000053;
	font-weight: normal;
	border-bottom: 1px solid #666;
	vertical-align: top;

}
table.popuptable th a {
	background: url(Images/sort.gif) left 3px no-repeat;
	padding-left: 20px;
}
table.popuptable th span {
	color: #6E6E6E;
}


@media screen {
	table.popuptable td {
		border-right: 1px solid #fdfdfd;
		border-bottom: 1px solid #AEAEAE;
		padding: 0.25em 1em;
		margin-bottom: -1px;
	}
}

@media print {
	table.popuptable td {
		border-right: 0;
		border-bottom: 1px solid #AEAEAE;
		padding: 0.05in 0.2in;
		margin-bottom: -1px;
		page-break-inside: avoid;
	}
}

table.popuptable td.light {
	background-color: #F6F6F6;
}
table.popuptable td.first {
	border-left: none;
}
table.popuptable td.last {
	border-right: none;
}

table.popuptable tfoot td{
	background-color: #dcdcdc;
}

table.popuptable tfoot td.light {
	background-color: #ebebeb;
}

/*** bar graphs in tables ***/

table.popuptable td.bargraphcell {
	width: 295px;
	padding: 0.25em 0 0.25em 1em;
}



table.popuptable ul 
{
    list-style-type: none;
}

@media screen {
	table.popuptable .metric 
	{
		position: relative;
		z-index: 1;
		width: 200px;
		height: 28px;
	}
}

@media print {
	table.popuptable .metric 
	{
		white-space: nowrap;
		position: relative;
		z-index: 1;
		width: 2in;
		height: 28px;
	}

}
table.popuptable .metric .targetbar {
	float: left;
	height: 28px;
	background-color: #d2d7e0;
}
table.popuptable .metric .targetbargreen {
	float: left;
	height: 28px;
	background-color: #d7e0dc;
}
table.popuptable .targetlegend {
	float:left;
	padding: 15px 0em 0em 1em;
	font-size: 0.8em;
	border-bottom: 1px solid #aAb1bB;
	border-left: 1px solid #aAb1bB;
	color: #6E6E6E;
}
table.popuptable .bargraph 
{
    width: 200px;
    height: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

}
table.popuptable .bargraph li {
	display: inline;
	white-space: nowrap;
}
@media screen {
	table.popuptable .percentbar {
		float: left;
		height: 26px;
		display: inline;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background: transparent url(Images/graph-positivegradient-blue.jpg) top left repeat-y;
		border: 1px solid #5A616B;
	}
}
@media print {
	table.popuptable .percentbar {
		float: left;
		height: 24px;
		display: inline;
		overflow: hidden;
		padding: 0;
		margin: 0;
		background: transparent url(Images/graph-positivegradient-blue.jpg) top left repeat-y;
		border: 1px solid #000;
		white-space: nowrap;
	}
	table.popuptable .risk {
		background-color: #38c30e;
		background-image: none;
	}
}


table.popuptable .percentbargreen {
	float: left;
	height: 26px;
	background: transparent url(Images/graph-positivegradient-green.jpg) top left repeat-y;
	border: 1px solid #5A616B;
}

table.popuptable .negativepercentbar {
	float: left;
	height: 26px;
	background: transparent url(Images/graph-negativegradient-red.jpg) top right repeat-y;
	border: 1px solid #5A616B;
}

table.popuptable .bargraph .percentbar, table.popuptable .bargraph .percentbargreen {
	height: 12px;
}
@media screen {
	table.popuptable .percentlegend {
		float:left;
		padding: 0.25em 0em;
		margin-left: 1em;
		margin-top: 0;
		border: none;
		font-weight: bold;
	}
}
@media print {
	table.popuptable .percentlegend {
		float:left;
		padding: 0.05in 0;
		margin-left: 0.2in;
		margin-top: 0;
		border: none;
		font-weight: bold;
	}
}



table.popuptable .metric .bargraph .percentlegend {
	font-size: 0.8em;
}
table.popuptable .metric .percentbar {
	overflow: hidden;
}

table.popuptable .percentbar .highriskbar 
{
	border-width: 0;
    background-color: #c00c0d;
    background-image: none;
}
table.popuptable .percentbar .mediumriskbar 
{
	border-width: 0;
    background-color: #f0eb33;
    background-image: none;
}
table.popuptable .percentbar .lowriskbar 
{
	border-width: 0; 
    background-color: #10ca1e;
    background-image: none;
}