
/* ///////////////////////
	BACKGROUNDS AND COLORS
/////////////////////// */

/* -------------
    TAGS */

h2 { color: #586682; }
h3 { color: #0b205e; }
h4 { color: #000053; }
select, input, textarea { color: #545a66; }

ul { list-style: none; }
a {
   color: #28354e;
   text-decoration: none; 
   }

a:hover { text-decoration: underline; }
a.em_link { text-decoration: underline; }

/* -------------
    SINGLE ELEMENTS */

/* NUMBERS =
*/
.neg { color: #900; }
.pos { color: #0C34C9; }
.updated { color: #4b5264; }


/* LOADING INDICATOR =
*/

.loading {
	width: 100%;
	text-align: center;
}
.loading img {
	margin: 0px 5px;
}


/* INLINE POPUP =
 */

.inlinepopup 
{
	background-color: #eee;
    border: 1px solid black;
    padding: 10px;
}

/* -------------
    CONTAINER ELEMENTS */

/* REPORTS
*/
.dealer_reports, 
.group_reports {
    color: #5f6a86;
    }
    .dealer_reports .group a {
	    color: #5f6a86;
	    }
    .group_reports dt span, /* wraps coming soon titles instead of <a> */
    .group_reports .group a {
        color: #000053;
        }


/* GROUP REPORTS 
    two-part bkgd */
.pmr .group_reports {
    background: transparent url('Images/cap-btm-reportGroup-225x13.gif') no-repeat center bottom;
	}
.pmr .group_reports .group {
    background: transparent url('Images/cap-top-reportGroup-225x600.gif') no-repeat center top;
    }	
    
.pmc .a_ .group_reports, .pmc .c_ .group_reports {
    background: transparent url('Images/narrowcolumnreports_bottom.gif') no-repeat center bottom;
    height: 1%;
	}
.pmc .a_ .group_reports .group, .pmc .c_ .group_reports .group {
    background: transparent url('Images/narrowcolumnreports_top.gif') no-repeat center top;
    }
    
.pmc .b_ .group_reports {
    background: transparent url('Images/widecolumnreports_bottom.gif') no-repeat center bottom;
    height: 1%;
	}
.pmc .b_ .group_reports .group {
    background: transparent url('Images/widecolumnreports_top.gif') no-repeat center top;
    }

/* DEALER REPORTS
    three-part bkgd */
.dealer_reports .group {
	background: url('Images/cap-btm-reportGroup-290x18.gif') no-repeat bottom;
}
.dealer_reports h4 {
    background: url('Images/cap-top-reportGroup-290x13.gif') no-repeat ;
}
.dealer_reports ul {
	background: url('Images/cap-top-reportGroup-290x600.gif') no-repeat left -22px;
}

/* DEALER report bullet */
.dealer_reports li {
	list-style-type: none;
	background: url('../Default/Images/bull-square-AAB-3x3.gif') no-repeat left 5px;
	}
	
/* Footer section of pmc */
.view_options  {
   	background: url(Images/footer_bkgrd.jpg) bottom left repeat-x;
    }

/* -------------
    SPLIT PAGE */
.split_ {
    background: #f7f7f7 url('Images/bkgd-grad-A1toF6-359h.jpg') repeat-x;
    background-position: 0 -50px; 
    }
    
    
/* -------------
   BASIC PAGE */
   
#body_c a {

	font-weight: bold;
	text-decoration: underline;
}
#body_c a:hover {
	color: #586682;
}
/* -------------
    STRUCTURAL ELEMENTS */

.pmc, .pmr {
	border-top: 1px solid #cdcdcf;
	background: #f7f7f7 url('Images/bkgd-grad-A1toF6-359h.jpg') repeat-x;
}
#body_, #body_a, #body_b {
	border: 1px solid #cdcdcf;
 	border-top: none;
	}
.pmr #head_ h1 { 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../App_Themes/Default/Images/header-PMR.png'); 
}
    .pmc #head_ h1 { 
	    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../App_Themes/Default/Images/header-PMC.png'); 
    }
head:first-child+body .pmr #head_ h1 { /* for non-IE browsers */
    background: url('Images/header-PMR.png') no-repeat;
}
    head:first-child+body .pmc #head_ h1 { /* for non-IE browsers */
        background: url('Images/header-PMC.png') no-repeat;
    }
    #head_ p {
	    color: #515e78;
	    }
    #head_ .r_ {
	    color: #353d52;
	    }
    #head_ a, #head_ a:hover {
	    color: #222836;
        }

#foot_ { 
	color: #999;
	background: white url('Images/logo-firstlook.gif') no-repeat right;
	}

