/* ///////////////////////
	TYPE DEFAULTS
/////////////////////// */

/* -------------
    TAGS */

body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	}
	/* standard system fonts --> 
			Arial Narrow,Helvetica,Verdana,Georgia,Lucida Sans,Myriad Web,
			Myriad Condensed Web,Trebuchet MS,Lucida Console 
	*/
h1 { font-size:1.7em; }
h2 { font-size:1.4em; }
h3 { 
	font-size: 1em; 
	font-family: Verdana, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	}
h4 { 
	font-size: 1em;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	}
h5 { 
	font-size: 0.8em;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
	}

select, input, textarea {
    font-size: 11px;
    vertical-align: middle;
    }

dfn {
	color: #8D93C3;
	font-style: normal;
}
.updated { font-size: 0.9em; }

/* -------------
    SINGLE ELEMENTS */

/* BUTTON = 
*/
.buttonwrapper {
	position: relative;
	text-align: right;
	display: block;
	height: 20px;
	background: url(images/button-right.gif) no-repeat top right;
	padding-right: 5px;
	padding-bottom: 5px;
	margin: 0px 2px;
	width: 1%;

}

.buttonwrapper[class] {
	width: auto;
}

.button {
	white-space: nowrap;
	display: block;
	height: 20px;
	padding-left: 5px;
	padding-top: 3px;
	background: url(images/button-left.gif) no-repeat top left;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	font: 10px "Verdana", sans-serif;
	text-decoration: none;
}



/* -------------
    CONTAINER ELEMENTS */

/* REPORTS
*/
.dealer_reports,
.group_reports {
    line-height: 1.2;
    }
.group_reports dt {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1em;
    }	
.pmc .group_reports dd {
	font-size: 0.9em;
}


/* -------------
    F ELEMENTS */



#foot_ { 
	font-size: 0.9em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	}
	#foot_ em { 
		font-weight: bold;
		}
	#foot_ cite { 
		font-style: normal; 
		}
	#foot_ span { 
		font-style: italic; 
		}


/* NUMBERS =
*/
.positivenumber, .positivenumber a {
	color: #3D78E0;
}
.negativenumber, .negativenumber a {
	color: #D01043;
}

/* OBSERVED ELEMENTS
 */

.dyna_link {
    cursor: pointer;
    }
.dyna_link:hover {
    text-decoration: underline;
    }
    
/* INLINE POPUPS
 */
 
 .inlinepopup h3 {
 	padding-bottom: 1em;
 }
 /* HEAD
 */
 #head_ p {
	font-size: 1.3em;
	font-weight: bold;
	}