﻿
/* Header */

/*.mastheadLogo { background: url("Images/logo_MAX.png") repeat-x scroll 0 0 transparent; width:124px; }*/

#Header { background:#3e436d; }
#Header .dealerSelector { background-color:#282b4a; }
#Navigation ul li.menuHead ul { background:#3e436d; }

/* Home Page */

#InventoryTable th { background:#3e436d; }

/* Workflow Pages */

#discriminators table tr th, #discriminators table tr td.CategoryColumn { background:#88; }

/* Approval Page */

#AdPanel div.sectionHeader, #AdQuality h3 { background:#3e436d; }
#AdPanel div.sectionHeader { border-color:#666; }

/* Option Packages */

#LoadPackagesTabset table th { background:#3e436d; }

/* jQuery */

.ui-dialog-titlebar { background:#3e436d; }
