<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UserControlTemplate.ascx.cs" Inherits="WebApplication.UserControls.UserControlTemplate" %>
<asp:Label ID="Label1" runat="server" Text='<%# DataItem %>'></asp:Label>