<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Account.aspx.cs" Inherits="FirstLook.VehicleHistoryReport.WebApplication.Pages.Carfax.Account" MasterPageFile="~/Pages/Page.Master" %>

<%@ OutputCache Location="None" VaryByParam="None" %>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" ID="BodyContent" runat="server">
    <h2><a href="http://www.carfaxonline.com/" target="CarfaxOnline" title="Carfax Login">Carfax Account</a></h2>
    <div class="help_text">
        <p>All reports for <asp:Literal runat="server" ID="DealerNameLiteral" /> will be billed to this <a href="http://www.carfaxonline.com/" target="CarfaxOnline" title="Carfax Login">CARFAX account</a>.</p>
    </div>
    <asp:ObjectDataSource ID="AccountDataSource" runat="server"
            TypeName="FirstLook.VehicleHistoryReport.DomainModel.Carfax.DealerAccount+DataSource"
            SelectMethod="Select"
            InsertMethod="Insert"
            UpdateMethod="Update"
            DeleteMethod="Delete"
            OnSelected="AccountDataSource_Selected">
        <SelectParameters>
            <asp:QueryStringParameter Name="dealerId" QueryStringField="DealerId" Type="Int32" />
        </SelectParameters>
        <InsertParameters>
            <asp:QueryStringParameter Name="dealerId" QueryStringField="DealerId" Type="Int32" />
        </InsertParameters>
        <UpdateParameters>
            <asp:QueryStringParameter Name="dealerId" QueryStringField="DealerId" Type="Int32" />
        </UpdateParameters>
        <DeleteParameters>
            <asp:QueryStringParameter Name="dealerId" QueryStringField="DealerId" Type="Int32" />
        </DeleteParameters>
    </asp:ObjectDataSource>
    <h3>Account details</h3>
    <asp:BulletedList ID="ErrorList" runat="server" Visible="false" CssClass="ErrorList">
    </asp:BulletedList>
    <asp:DetailsView ID="AccountDetailsView" runat="server"
            AllowPaging="false"
            AutoGenerateDeleteButton="false"
            AutoGenerateEditButton="true"
            AutoGenerateInsertButton="false"
            AutoGenerateRows="false"
            DataKeyNames="Id"
            DataSourceID="AccountDataSource"
            DefaultMode="ReadOnly"
            OnModeChanged="AccountDetailsView_ModeChanged"
            OnItemInserting="AccountDetailsView_Inserting"
            OnItemInserted="AccountDetailsView_Inserted"
            OnItemUpdating="AccountDetailsView_Updating"
            OnItemUpdated="AccountDetailsView_Updated"
            OnItemDeleted="AccountDetailsView_Deleted">
        <Fields>
            <asp:TemplateField>
                <HeaderTemplate>
                    <asp:Label ID="HeaderAccountStatusLabel" runat="Server" Text="Account Status" CssClass="account_status_New" OnDataBinding="AccountStatusLabel_DataBinding"></asp:Label>
                </HeaderTemplate>
                <ItemTemplate>
                    <asp:Label ID="ItemAccountStatusLabel" runat="Server" Text='<%# Eval("AccountStatus") %>' CssClass="account_status_New"></asp:Label>
                </ItemTemplate>
            </asp:TemplateField>
            <asp:BoundField AccessibleHeaderText="User Name" HeaderText="User Name" DataField="UserName" />
            <asp:BoundField AccessibleHeaderText="Password" HeaderText="Password" DataField="Password" />
            <asp:CheckBoxField AccessibleHeaderText="Active" HeaderText="Active" DataField="Active" />
        </Fields>
    </asp:DetailsView>
    <div runat="server" id="AccountDetailsViewEditModeHelp" visible="false" class="help_text">
        <p>Please note, changing you user name <strong>WILL</strong>:</p>
        <ul>
            <li>Make all reports under the previous account unavailable</li>
            <li>Repurchase all reports listed as <em>Automatically Purchase Reports</em></li>
        </ul>
    </div>
    <script type="text/javascript">
	    function addEvent( obj, type, fn ) {
			if (obj.addEventListener) {
				obj.addEventListener( type, fn, false );
				EventCache.add(obj, type, fn);
			}
			else if (obj.attachEvent) {
				obj["e"+type+fn] = fn;
				obj[type+fn] = function() { obj["e"+type+fn]( window.event ); }
				obj.attachEvent( "on"+type, obj[type+fn] );
				EventCache.add(obj, type, fn);
			}
			else {
				obj["on"+type] = obj["e"+type+fn];
			}
		}
		
		var EventCache = function(){
			var listEvents = [];
			return {
				listEvents : listEvents,
				add : function(node, sEventName, fHandler){
					listEvents.push(arguments);
				},
				flush : function(){
					var i, item;
					for(i = listEvents.length - 1; i >= 0; i = i - 1){
						item = listEvents[i];
						if(item[0].removeEventListener){
							item[0].removeEventListener(item[1], item[2], item[3]);
						};
						if(item[1].substring(0, 2) != "on"){
							item[1] = "on" + item[1];
						};
						if(item[0].detachEvent){
							item[0].detachEvent(item[1], item[2]);
						};
						item[0][item[1]] = null;
					};
				}
			};
		}();
		
	    var onUserNameChange = function(e) {
	        var target = userName;
	        if (target.value != target.defaultValue) {
	            warning.className = "warning_text";
	        } else {
	            warning.className = "help_text";
	        }
	    }
	    var userName,
	    warning = document.getElementById("ctl00_BodyContentPlaceHolder_AccountDetailsViewEditModeHelp");
	    var inputs = document.getElementsByTagName('input');
	    for (var i=0,l=inputs.length; i < l; i++) {
	    	if (inputs[i].name == "ctl00$BodyContentPlaceHolder$AccountDetailsView$ctl01") {
	    		userName = inputs[i];
	    	};
	    };
	    
	    if (!!userName && !!warning) {
	    	addEvent(userName,'keyup',onUserNameChange);
    	}
 		addEvent(window,'unload',EventCache.flush);
    </script>
</asp:Content>