<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LogOff.aspx.cs" Inherits="LogOff" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>First Look Log Off</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<p>Redirecting you to CAS ...</p>    
    </div>
    </form>
</body>
</html>
