<div id="inventory_<%= inventory.id %>" class="inventory clearfix"><div class="list-top"><div class="list-bot">
<div class="listcontents">

		<div class="vehicleinfo" style="position:relative;">
			<p style="padding-top:0;margin-top:0;line-height:9px;">
			<span class="age"><%= days_old(inventory) %>Days</span>
			<span class="ymmts"><%= inventory_description(inventory) %></span>
			<span class="colormile"><%= inventory.vehicle.color %></span>
			<span class="colormile"><%= format_mileage( inventory.mileage_received ) %> Miles</span>
            </p>
            <p class="risk" style="line-height:10px;">
            <span class="light"><%= vehicle_light_img inventory %></span>
            <span style="color:#C00;"><%= image_tag("/images/issuearrow.gif") %> RISK FACTORS: <%= inventory.risk_analysis %></span>
            <span style="position:absolute;right:15px;">
            <span class="t-p" style="margin-left:50px;"><% if inventory.certified == 1 %>Certified<% end %></span>
            <span class="t-p"><% if inventory.special_finance == 1 %>Special Finance<% end %></span>
            <span class="t-p"><%= inventory.acquire_type %></span>
		    </span>
		    </p>
		</div>
		
		<div class="pricing">
		<p style="padding-top:2px;padding-bottom:0px;padding-left:8px;line-height:9px;">
            <span style="font-size:11px;color:#263047;">List Price: <span id="priceedit_<%= inventory.id %>" style="background-color:#ffffe0;"><%= money( inventory.list_price ) %></span></span>
            	<script type="text/javascript">
	               <!--
	               new Ajax.InPlaceEditor($('priceedit_<%= inventory.id %>'), '/returnscript.html');
                   //-->
	           </script>
	        <span style="padding-left:8px;">
            <span class="priceref">Unit Cost: <%= money( inventory.unit_cost ) %></span>
            </span>      
        </p>
		</div>

</div>
</div></div></div>