<div id="search_criterion_name_float" class="option_float">
    <%= form_remote_tag :url => { :controller => 'search', :action => 'name_search_criterion_save' }, :condition=>"validateRequired('search_criterion_name','','search_criterion_name_errors')",:success => 'RedBox.close();' %>
    <%= hidden_field 'search_criterion', 'id', { :object => search_criterion, :id => 'search_criterion_id_for_naming_submission' } %>
    <div class="header">
        Save Search
    </div>
    <div id="search_criterion_name_errors"  class="error_block" style="display:none;">Please enter a name for the search</div>
    <div class="body">
       <label for="search_criterion_name">Name</label>:
        <%= text_field 'search_criterion', 'name',:html=>{:id=>"search_criterion_name"} %>
    </div>
    <div class="footer">
       <input type="submit" name="submit" value="Save" />  <input type="button" name="cancel" value="Cancel" onclick="RedBox.close();" />
       
       
    </div>
    <%= end_form_tag %>
</div>