 <div class="parent_search_node contracted" id="makes_models_parent" onclick="tabController.expandOptions('makes_models_parent','makes_models_options');">
        Makes/Models
      </div>
      <div id="makes_models_options" style="display:none;">
           <% v = vehicles(session[:business_unit].id)%>
           <% count = 0 %>
           <% v.each_pair do |make_id,values| %>
           <% make = values[:make] %>         
              <div class="child_search_node <%= (v.length - 1 == count ? 'last_node' : '')%>" >
                 <span onclick="tabController.swapContent(this,'make_model_<%=make[:id]%>');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');"><%= make[:name] %></span>
              </div>
            <%count=count+1%>        
            <%end%>
      </div>
      <div class="parent_search_node contracted" id="costs_values_parent"  onclick="tabController.expandOptions('costs_values_parent','costs_values_options');" >
       Cost/Value
      </div>
         <div id="costs_values_options" style="display:none;">
          <div class="child_search_node" >
            <span onclick="tabController.swapContent(this,'book_value');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">Book Value</span>
          </div>
           <div class="child_search_node" >
            <span onclick="tabController.swapContent(this,'book_vs_cost');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">Book vs Cost</span>
          </div>
          <div class="child_search_node" >
            <span onclick="tabController.swapContent(this,'unit_cost');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">Unit Cost</span>
          </div>
          <div class="child_search_node last_node" >
            <span onclick="tabController.swapContent(this,'list_price');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">List Price</span>
          </div>
      </div>
       <div class="parent_search_node contracted" id="mileages_parent"  onclick="tabController.expandOptions('mileages_parent','mileages_options');" >
       Mileage
      </div>
         <div id="mileages_options" style="display:none;">
          <div class="child_search_node" >
            <span onclick="tabController.swapContent(this,'total_mileage');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">Total Mileage</span>
          </div>
           <div class="child_search_node last_node" >
            <span onclick="tabController.swapContent(this,'yearly_mileage');" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">Yearly Mileage</span>
          </div>
         
      </div>
      <div class="parent_search_node empty" id="risk_parent"  onclick="tabController.swapContent(this,'risk');" >
       Risk
      </div>
      <div class="parent_search_node empty" id="model_years_parent"  onclick="tabController.swapContent(this,'years');" >
       Model Years
      </div>
      <div class="parent_search_node empty" id="segment_parent"  onclick="tabController.swapContent(this,'segment');" >
       Segment
      </div>
        <div class="parent_search_node empty" id="age_parent"  onclick="tabController.swapContent(this,'inventory_age');" >
       Inventory Age
      </div>
       <div class="parent_search_node empty" id="overstocked_parent"  onclick="tabController.swapContent(this,'overstocked');" >
       Overstocked
      </div>
       <div class="parent_search_node empty" id="color_parent"  onclick="tabController.swapContent(this,'color');" >
       Color
      </div>
      <div class="parent_search_node contracted" id="saved_parent" onclick="tabController.expandOptions('saved_parent','saved_options');" >
         Saved Searches
      </div>
       <div id="saved_options" style="display:none;">       
       <% bu_id = session[:business_unit].id
           saved_searches = SearchCriterion.find( :all,
                                                  :conditions => ["business_unit_id = ? and name is not null", session[:business_unit].id]
                                                )%>
          
           <%saved_searches.each_with_index do |search,index|%>
              <div class="child_search_node <%= (saved_searches.length - 1 == index ? 'last_node' : '')%>" >
                <span onclick="tabController.swapContent(this,null); setSearchName(this.innerHTML); <%= remote_function(:url => { :controller=>'search',:action => 'search_criteria_load',:id=>search[:id]},:complete=>"$('search_submit').click();")%>" onmouseover="Element.addClassName(this,'hilighted_node');" onmouseout="Element.removeClassName(this,'hilighted_node');">
                    <%=search[:name]%>&nbsp;
                </span>
              </div>
          <%end%>   
      </div>