<div>
    <%= form_remote_tag :url => { :action => 'search_result' }, :html => { :name => 'SearchResultForm', :id => 'SearchResultForm' }, :condition => "($F('search_result_id') != '' || $F('search_criterion_id') != '')" %>
        <%= hidden_field 'search_criterion', 'id' %>
        <%= hidden_field 'search_result', 'id' %>
    <%= end_form_tag %>
    <% if inventory.nil? %>
    <p>No search results</p>
    <% else %>       
        <% inventory.each do |item| %>
            <%= render :partial => 'inventory', :object => item %>
        <% end %>
    <% end %>
</div>