<div class="name_search_criterion_container" id="search_criterion_container">
  
  <%#begin search header bar %>
    <div class="search_header">
        <div class="name_search_criterion" >
            <span id="name_search_criterion">Save</span> <tt>|</tt> <%= link_to_remote("+New Search",:url => { :controller=>'search',:action => 'search_criteria_load'})%>
        </div>
        <div class="header_left">
            Search Options
        </div>
    </div>
    
    <%#end search header bar %>
  
    <%#begin search navigation%>
    <div id="search_navigation" >
     <%= render :partial => "search/search_navigation", :object => nil%>
     
    </div>    
   <%#end search navigation%>
   
       <%= form_remote_tag :url => { :controller => 'search', :action => "search"},:html => { :name => 'search_criterion_form', :id => 'search_criterion_form' } %>   
      <div class="search_body_container"> 
      <div class="tab_content" id="default_message" style="">
        Please select your search criteria from the menu
      </div>
        <div class="model_years tab_content" style="display:none; " id="years">
           
             <fieldset>
             <legend> Model Years</legend>
                 <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"years" } %> 
                <% model_years = (search_criterion.nil? ? [] : search_criterion.model_years)%>
               
                <% ModelYear.all_years.each_with_index do |model_year,index| %> 
                <% if model_year.id > 1997 %>
                   
                        <%= check_box_tag "model_year[id][]", model_year.id, model_years.include?(model_year), { :id => "model_year_id_#{model_year.id}" } %><label for="model_year_id_<%= model_year.id %>"><%= model_year.id %> </label>
                                
                <% end %>
                 <% end %>
            </fieldset>
          
        </div>
         <div class="segment tab_content" id="segment" style="display:none;">
         <fieldset>
            <legend>Segment</legend>
            <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"segment" } %> 
            Segment Options
            
            </fieldset>
        
        </div>
         <div class="age tab_content" id="inventory_age" style="display:none;">
             <fieldset>        
                <legend>Inventory Age</legend>
                 <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"inventory_age" } %> 
                 <%= render :partial => "search/search_criterion_inequality", :object => nil, :locals => { :search_criteria_inequality_type_id => 6, :object_name => "inventory_age", :unit => 'days', :mileage_unit_id => 1 , :upper_default => '100',:lower_default=> '0',:step=>1} %>
            </fieldset>     
        </div>
        
            
        
                <% vehicle_makes_s = (search_criterion.nil? ? [] : search_criterion.vehicle_makes) %>
                <% vehicle_lines_s = (search_criterion.nil? ? [] : search_criterion.vehicle_lines) %>
               
                <% vehicles(session[:business_unit].id).each_pair do |make_id,values,index| %>
                    <% make = values[:make] %>
                    <% lines = values[:lines] %>          
                        
                        <div class="make tab_content" style="display:none;" id="make_model_<%=make[:id]%>" >                         
                         <fieldset>
                            <legend><%=make[:name]%></legend> 
                           <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"make_model_#{make[:id]}" } %> 
                            <%= check_box_tag "vehicle_make[id][]", make[:id], vehicle_makes_s.detect{|m| m.id == make[:id].to_i}, { :id => "vehicle_make_id_#{make[:id]}" } %> All Models
                                  
                                    <%count = 0%>
                                    <% lines.each do |line| %>
                                      <% count = count + 1 %>
                                             <% if count == 1 %>            
                                                <div>
                                            <% end %>
                                                <div style="float:left; width:85px;" ><%= check_box_tag "vehicle_line[id][]", line[:id], vehicle_lines_s.detect{|l| l.id == line[:id].to_i}, { :id => "vehicle_line_id_#{line[:id]}", :title => "#{line[:units_in_stock]} Units In Stock" } %> <label for="vehicle_line_id_<%= line[:id] %>"><%= line[:name] %></label></div>
                                            <%if count == 3 || index == ModelYear.all_years.length - 1 %>
                                                </div>
                                            <%count = 0%>
                                            <%end%>                                   
                                    <% end %>                               
                             </fieldset>
                        </div>                        
                    
                <% end %>          
        
        
        <div class="colors tab_content" id="color" style="display:none;">
          
            <fieldset>
            <legend>Color</legend>
             <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"color" } %>
                <% colors = (search_criterion.nil? ? [] : search_criterion.colors) %>
                <% count = 0%>             
                    <% Color.all_colors.each_with_index do |color,index| %>
                        <% count = count + 1 %>
                        <% if count == 1 %>            
                            <div>
                        <% end %>
                         <div style="float:left; width:85px;" ><%= check_box_tag "color[id][]", color.id, colors.include?(color), { :id => "color_id_#{color.id}" } %><label for="color_id_<%= color.id %>"><%= color.name %></label></div>
                     
                        <%if count == 3 || index == ModelYear.all_years.length - 1 %>
                            </div>
                            <%count = 0%>
                        <%end%>              
                    <% end %>          
            </fieldset>         
        </div>   
        <div class="risk_category tab_content" id="risk" style="display:none;">
           
             <fieldset>
                <legend> Risk</legend>
                  <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"risk" } %>
                    <% inventory_vehicle_lights = (search_criterion.nil? ? [] : search_criterion.inventory_vehicle_lights) %>
                    <% InventoryVehicleLight.find(:all).each do |inventory_vehicle_light| %>
                        <%= check_box_tag "inventory_vehicle_light[id][]", inventory_vehicle_light.id, inventory_vehicle_lights.include?(inventory_vehicle_light), { :id => "inventory_vehicle_light_id_#{inventory_vehicle_light.id}"} %><%= inventory_vehicle_light.name %>
                    <% end %>
               
            </fieldset>
            
             
        </div>
        <div class="overstocked tab_content" id="overstocked" style="display:none;">
         <fieldset>
                <legend>Overstocked</legend>
                 <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"overstocked" } %>
                <ul>
                    <li><%= check_box "search_criterion", "overstock_models", { :object => search_criterion }, true, false %>Overstock Models</li>
                </ul>
            </fieldset>
        </div>   
        <div class="inequality mileage absolute tab_content" id="total_mileage" style="display:none;">
            
            <fieldset>
            <legend>Total Mileage</legend>
             <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"total_mileage" } %>
            <% total_mileage = (search_criterion.nil? ? nil : search_criterion.search_criteria_inequalities.detect{|i| i.search_criteria_inequality_type_id == 1 && i.mileage_unit_id == 1}) %>
            <%= render :partial => "search/search_criterion_inequality", :object => total_mileage, :locals => { :search_criteria_inequality_type_id => 1, :object_name => "total_mileage", :unit => 'miles', :mileage_unit_id => 1, :upper_default =>'100000',:lower_default=>'0', :step=>500 } %>
            </fieldset>
            
            
        </div>
        <div id="yearly_mileage" class="inequality mileage absolute tab_content" style="display:none;">
          
            <fieldset>
            <legend>Yearly Mileage</legend>
              <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"yearly_mileage" } %>
            Tom: The SQL does not do the yearly calculation yet. Have fun with the case statement when there's time.
            <% yearly_mileage = (search_criterion.nil? ? nil : search_criterion.search_criteria_inequalities.detect{|i| i.search_criteria_inequality_type_id == 1 && i.mileage_unit_id == 2}) %>
            <%= render :partial => "search/search_criterion_inequality", :object => yearly_mileage, :locals => { :search_criteria_inequality_type_id => 1, :object_name => "yearly_mileage", :unit => 'miles', :mileage_unit_id => 2, :upper_default =>'100000',:lower_default=>'0', :step=>500 } %>
            </fieldset>
        </div>    
        <div class="list-price tab_content" id="list_price" style="display:none;">
            
             <fieldset>
            <legend>List Price</legend>
            <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"list_price" } %>
            <% list_price = (search_criterion.nil? ? nil : search_criterion.search_criteria_inequalities.detect{|i| i.search_criteria_inequality_type_id == 2}) %>
            <%= render :partial => "search/search_criterion_inequality", :object => list_price, :locals => { :search_criteria_inequality_type_id => 2, :object_name => "list_price", :unit => '$', :mileage_unit_id => 1, :upper_default =>'75000',:lower_default=>'0', :step=>250 } %>
            </fieldset>
            
        </div>
        <div class="list-price tab_content" id="unit_cost" style="display:none;">
           
            <fieldset>
             <legend>Unit Cost</legend>
              <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"unit_cost" } %>
            <p>This restricts the vehicles in the search results to those with unit cost in the given range.</p>
           
            <% unit_cost = (search_criterion.nil? ? nil : search_criterion.search_criteria_inequalities.detect{|i| i.search_criteria_inequality_type_id == 3}) %>
            <%= render :partial => "search/search_criterion_inequality", :object => unit_cost, :locals => { :search_criteria_inequality_type_id => 3, :object_name => "unit_cost", :unit => '$', :mileage_unit_id => 1, :upper_default =>'75000',:lower_default=>'0', :step=>250 } %>
            </fieldset>
        </div>
        
         <div class="inequality list-price tab_content" id="book_value" style="display:none;">
            
           
             <fieldset>
            <legend>Book Value</legend>
            <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"book_value" } %>
            <p>This restricts the vehicles in the search results to those with book value in the given range.</p>
            
            <% book_value = (search_criterion.nil? ? nil : search_criterion.search_criteria_inequalities.detect{|i| i.search_criteria_inequality_type_id == 4}) %>
            <%= render :partial => "search/search_criterion_inequality", :object => book_value, :locals => { :search_criteria_inequality_type_id => 4, :object_name => "book_value", :unit => '$', :mileage_unit_id => 1, :upper_default =>'75000',:lower_default=>'0', :step=>250 } %>
            </fieldset>
             
          
            
        </div>   
         <div class="inequality list-price tab_content" id="book_vs_cost" style="display:none;">
             
            
             <fieldset>
            <legend>Book Value vs Unit Cost</legend>
            <%= render :partial => "search/clear_fields", :object => nil, :locals => { :type=>"book_vs_cost" } %>
            <p>This restricts the vehicles in the search results to those with 'book value vs unit cost' in the given range.</p>
            
            <% book_vs_unit = (search_criterion.nil? ? nil : search_criterion.search_criteria_inequalities.detect{|i| i.search_criteria_inequality_type_id == 5}) %>
            <%= render :partial => "search/search_criterion_inequality", :object => book_vs_unit, :locals => { :search_criteria_inequality_type_id => 5, :object_name => "book_vs_cost", :unit => '$', :mileage_unit_id => 1, :upper_default =>'10000',:lower_default=>'-10000', :step=>250 } %>
            </fieldset>
            
        </div>   
       
      </div> <%# END SEARCH BODY CONTAINER%>
       <div class="search_footer" >
           <button name="submit" id="search_submit" value="submit" type="submit" >Find Results</button>
           
       </div>
    <%= end_form_tag %>
   
</div>
<div id="name_search_criterion_container" style="display: none;"><!-- this is where they get prompted for a name --></div>
  