
<%= hidden_field_tag "#{object_name}[mileage_unit_id]", mileage_unit_id, { :object => search_criterion_inequality, :id => "#{object_name}_mileage_unit_id" } %>

<%= hidden_field_tag "#{object_name}[search_criteria_inequality_type_id]", search_criteria_inequality_type_id, { :object => search_criterion_inequality, :id => "#{object_name}_search_criteria_inequality_type_id" } %>
<%= hidden_field_tag "#{object_name}[inequality_id]", 3%>
<%#upper_default = '100000'%>
<%#lower_default = '0'%>
<% lower_bound = (search_criterion_inequality.nil? ? lower_default : search_criterion_inequality.lower_bound)%>
<% upper_bound = (search_criterion_inequality.nil? ? upper_default : search_criterion_inequality.upper_bound)%>
<%= hidden_field object_name, "lower_bound",{ :object => search_criterion_inequality}%>
<%= hidden_field object_name, "upper_bound",{ :object => search_criterion_inequality}%>
<div> 
<div id="track_<%=object_name%>" class="slider_track" style="width:255px;"><div class="handle" style="background-color:#bcbde2;width:8px;" id="lower_bound_<%=object_name%>"></div><div class="handle" style="width:8px;background-color:#7b7dc6;" id="upper_bound_<%=object_name%>"></div></div>
<div class="float"><% if unit == '$' %>$<% end %><span  id="upper_out_<%=object_name%>"><%=upper_bound%></span><% unless unit == '$' %> <%= unit %><% end %></div>
<div><% if unit == '$' %>$<% end %><span  id="lower_out_<%=object_name%>"><%=lower_bound%></span><% unless unit == '$' %> <%= unit %><% end %></div>


 <script type="text/javascript" language="javascript">  
  var step = <%=step%>
  var validValues = new Array();
  for(var i = <%=lower_bound%>; i <= <%=upper_bound%>; i+=step){
    validValues.push(i);    
  }
 
 
  var h = ['lower_bound_<%=object_name%>','upper_bound_<%=object_name%>'];
  
  var values = [<%=lower_bound%>, <%=upper_bound%>];
  var steps  
   
  var slide_<%=object_name%> = function(z){
       var lower = Math.round(z[0]);
       var upper = Math.round(z[1]);
       $('lower_out_<%=object_name%>').innerHTML= lower;
       $('<%=object_name%>_lower_bound').value = lower;
       $('upper_out_<%=object_name%>').innerHTML= upper;
       $('<%=object_name%>_upper_bound').value = upper;
      
     }
     var slider_<%=object_name%> = new Control.Slider(h, 'track_<%=object_name%>', {
            range:$R(<%=lower_default%>,<%=upper_default%>,false),
            values:validValues,
            increment:5,
            restricted:true,
            sliderValue: values,
            onSlide:     slide_<%=object_name%>
         }); 
  </script> 
</div>