<div id="load_search_criterion">
    <%= form_remote_tag :url => { :controller => 'search', :action => 'search_criteria_load' }, :success => 'RedBox.close();' %>
    <div class="header">
     Load Search 
    </div>
    <div class="body">
    <dl>
     <dt>
        <label for="search_criterion_id">Load</label>: 
     </dt>
     <dd>
        <select id="search_criterion_id" name="search_criterion_id">    
            <option value="0">Select...</option>
            <%= options_from_collection_for_select(saved_searches, 'id', 'name', nil) %>
        </select>
      </dd>
      </dl>
    </div>
    <div class="footer">
    <%= link_to_close_redbox("Cancel") %> <input type="submit" value="Load" />
    </div>
    <%= end_form_tag %>
</div>