<div id="search_criterion_container" style="height:1%;">
    <%= render :partial => 'search_criterion', :object => nil %>
</div>
<div id="SearchResultContainer">
    <%= render :partial => 'search_result', :object => nil, :locals => { :search_criterion => nil, :inventory => nil } %>
</div>
