<%@ Page Language="C#" CodeFile="tbl_Vehicle.aspx.cs" Inherits="Vehicle"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="Microsoft.Web.DynamicDataControls" Namespace="Microsoft.Web.DynamicDataControls" TagPrefix="cc1" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <cc1:DynamicList ID="DynamicList1" runat="server" />
                <br />
        <cc1:DynamicInsert ID="DynamicInsert1" runat="server" />
    </div>
    </form>
</body>
</html>
