﻿
/* tile spacing */
#vpa .vpa_merchandising_tiles#MerchandisingInformation_MerchandisingInformation {
	margin-top: 30px;
}

/* cursor and hover */
#vpa .vpa_merchandising_tiles input.ui-toolbar-button,
#vpa .vpa_merchandising_tiles .ui-control-buttons input {
	cursor: pointer;
}
#vpa .vpa_merchandising_tiles input.ui-toolbar-button.disabled {
	cursor: default;
}
#vpa .vpa_merchandising_tiles input.ui-toolbar-button.disabled:hover {
	text-decoration: none;
}

/* hover dropdowns */
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper {
	max-height: 37px;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper ul {
	overflow: visible;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li input {
	height: 40px;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.vehicle_history .ui-toolbar-items input.ui-branded-button {
	height: 25px;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li input.ui-toolbar-item {
	height: 40px;
	padding-bottom: 0;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li ul.ui-toolbar-items {
	top: 34px;
	border-radius: 8px;
	border-left: 2px solid gray;
	border-bottom: 1px solid gray;
	z-index: 1;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper > ul.ui-toolbar-items > li {
	height: 37px;
	display: inline-block;
}
/* vehicle information specific */
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.vehicle_information ul.ui-toolbar-items li {
	height: 15px;
	padding: 5px 10px;
}

/* text overlay bug */
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar .ui-toolbar-items-wrapper li.ui-branded-button input.ui-toolbar-button {
	text-indent: 40em;
}

/* dialog "To the best of my knowledge ..." */
#vpa #MerchandisingInformation_AdvertisementDocumentEditor .ui-dialog-container .preview_options label {
	margin-left: 15px;
}
#vpa #MerchandisingInformation_AdvertisementDocumentEditor .ui-dialog-container .preview_options label > input {
	position: relative;
	top: 2px;
	left: 2px;
}

/* selling notes */
#vpa .vpa_merchandising_tiles .search-notes-field#MerchandisingInformation_NotesPanel {
	padding-left: 475px;
}
#vpa .vpa_merchandising_tiles div.ui-textarea-topper-toolbar {
	top: 1px;
	right: 0px;
}

/* carfax/autocheck vhr toolbar */
#vpa .vhr_report .autocheck_form_open,
#vpa .vhr_report .carfax_form_open {
	height: 25px;
}
#vpa .carfax_report input.carfax_button {
	text-indent: -30em;
}
#vpa .autocheck_report .vhr_report_form {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
#vpa .carfax_report .vhr_report_form {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
}
.placeholdertext {
	color: #B0B0B0;
}
.certified-number {
	margin-top:7px;
}