@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic);
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic);
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/

/* 1. RESET
----------------------------------------------------------------------------------------*/

#container html, #container body, #container div, #container span, #container applet,
#container object, #container iframe, #container h1, #container h2, #container h3, #container h4, #container h5,
#container h6, #container p, #container blockquote, #container pre, #container a, #container abbr, #container acronym,
#container address, #container big, #container cite, #container code,
#container del, #container dfn, #container em, #container ins, #container kbd, #container q,
#container s, #container samp, #container small, #container strike, #container strong, #container sub, #container sup,
#container tt, #container var, #container b, #container u, #container i, #container center,
#container dl, #container dt, #container dd, #container ol, #container ul, #container li,
#container fieldset, #container form, #container label, #container legend,
#container table, #container caption, #container tbody, #container tfoot, #container thead,
#container tr, #container th, #container td, #container article, #container aside, #container canvas,
#container details, #container embed, #container figure, #container figcaption, #container footer, #container hgroup, 
#container menu, #container nav, #container output, #container ruby, #container section, #container summary,
#container time, #container mark, #container audio, #container video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#container article, #container aside, #container details, #container figcaption,
#container figure, #container footer, #container header, #container hgroup,
#container menu, #containernav, #container section {
    display: block;
}

/* 2. ROOT
----------------------------------------------------------------------------------------*/

#container html {
    overflow-y: scroll;
    background: #FFF;
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */

#container img, #container embed, #container object, #container video {
    max-width: 100%;
}


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/

#container body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 1em;
    line-height: 1.618em;
    color: #333;
}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
    margin-bottom: 0.809em;
    line-height: 1em;
}

#container p, #container ul, #container ol, #container dl, #container blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 0.618em;
    max-width: 30em;
/* Optimal width for long-form text */
}

#container ul {
    list-style-type: disc;
    margin-left: 1.618em;
}

#container ol {
    list-style-type: decimal;
    margin-left: 1.618em;
}

#container nav ul, #container nav ol,
#container ul.ui-menu, #container ul.ui-menu,
#container ul.ui-menu ul, #container ul.ui-menu ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container b, #container strong {
    font-weight: bold;
}

#container i, #container em {
    font-style: italic;
}

#container small {
    font-size: 80%;
}

/* 4. LINKS
----------------------------------------------------------------------------------------*/

#container a, #container a:visited {
    outline: none;
    color: #002157;
    text-decoration: underline;
}

#container a:hover {
    outline: none;
    text-decoration: none;
}

#container a:active {
    outline: none;
}
#container a:focus {
    box-shadow: 0 0 5px rgba(255, 180, 0, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 180, 0, 1); 
    -moz-box-shadow: 0 0 5px rgba(255, 180, 0, 1); 
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/

#container {
    padding: 0.809em;
    max-width: 30em;
    min-width: 20em;
    margin: auto;
}

#container aside {
    width: 100%;
}

/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/

#container .cf:before, #container .cf:after {
    content: "";
    display: block;
}

#container .cf:after {
    clear: both;
}



/*
This file contains the unique styles needed for example.html which do not appear in /css/global.css
----------------------------------------------------------------------------------------
*/

#container html {
    background: rgb(256, 256, 256);
}
#container a:link {
    color: #324c77;
}
#container h1 {
    line-height: 1.4em;
}

/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

#container {
    font-size: 0.90em;
}

#container h1 {
    text-align: left;
    font-size: 1.3em;
    line-height: 1.2em;
}

#container h3, #container h4, #container h5, #container h6 {
    font-weight: bold;
    color: #4e5475;
}

#container footer {
    background: #e5e5e5 url(../images/page_background.png) repeat-x;
    padding: 0.618em 0.618em 0;
}

/* @group Simple Menu */

#container nav ol,
#container nav ul,
#container ul.ui-menu o,
#container ul.ui-menu ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    z-index: 1000;
}

#container nav ol li,
#container nav ul li,
#container ul.ui-menu li,
#container ul.ui-menu li,
#container ul.ui-menu ol li,
#container ul.ui-menu ul li {
    position: relative;
    display: inline-block;
}

#container nav li ul,
#container nav li ol,
#container ul.ui-menu li ul,
#container ul.ui-menu li ol {
    position: absolute;
    display: none;
}

#container nav li ul li,
#container nav li ol li,
#container ul.ui-menu li ul li,
#container ul.ui-menu li ol li {
    display: block;
    padding: 1px 1ex;
    white-space: nowrap;
    border: 1px solid #999;
    border-top-width: 0;
    background-color: #fff;
}

#container nav li li a,
#container ul.ui-menu li li a {
    display: block;
}

#container nav li:hover ul,
#container nav li:hover ol,
#container nav li ul:hover,
#container nav li ol:hover,
#container nav li ul:hover li,
#container nav li ol:hover li,
#container ul.ui-menu li:hover ul,
#container ul.ui-menu li:hover ol,
#container ul.ui-menu li ul:hover,
#container ul.ui-menu li ol:hover,
#container ul.ui-menu li ul:hover li,
#container ul.ui-menu li ol:hover li {
    display: block;
}

#container nav li ul:hover li,
#container nav li ol:hover li,
#container ul.ui-menu li ul:hover li,
#container ul.ui-menu li ol:hover li {
    white-space: nowrap;
    overflow: hidden;
}

/* @end */

/* @group Tab */

#container .tab_box {
    border-top: none;
}

#container .tab_box .tab_content {
    clear:  both;
    border: 1px solid #919dab;
    background-color: white;
}

#container .tabs li button {
    border: 1px solid #919dab;
    text-align: left;
}

#container .tabs li.current button {
    border-bottom-color: #fff;
}

/* @end */

/* @group Boxes */


#container div.book_box .selected_equipment {
    text-align: left;
    background-color: #ddd;
    padding-bottom: 0.309em;
    border: 1px solid #666;
    border-top-width: 0;
}
#container div.book_box .selected_equipment h5 {
    color: #111;
    font-size: 0.7em;
    display: inline-block;
    padding: 0.618em 0.618em 0;
    vertical-align: top;
}
#container div.book_box .selected_equipment p.message {
    display: inline-block;
    font-size: 0.8em;
}
#container div.book_box .selected_equipment ul {
    display: inline-block;
    max-width: 68em;
    min-width: 30em;
}
#container div.book_box .selected_equipment ul li {
    display: inline-block;
    width: 32%;
    font-size: 0.8em;
    margin: 1px 5px;
}
#container div.book_box .selected_equipment ul li.selected {
    padding: 1px 5px;
}
#container div.book_values p.controls {
    display: block;
    text-align: right;
    max-width: 100%;
    padding: 0 0.618em;
}
#container div.book_values p.controls .button {
    font-size: 0.9em;
}
#container div.book_values .edit_equipment {
    border: 1px solid #666;
    background-color: #fff;
    text-align: left;
}

#container div.black_book .book_values {
    border: 1px solid #666;
    background-color: #ccc;
}
#container div.black_book table thead th {
    color: #202830;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
}
#container div.black_book table tbody td {
    color: #000;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1d1d1), to(#b5b5b5));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #b5b5b5);
    background-image:    -moz-linear-gradient(top, #d1d1d1, #b5b5b5);
    background-image:      -o-linear-gradient(top, #d1d1d1, #b5b5b5);
    background-image:     -ms-linear-gradient(top, #d1d1d1, #b5b5b5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1d1d1, endColorstr=#b5b5b5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1d1d1, endColorstr=#b5b5b5)";
}
#container div.black_book .book_values .logo {
    background-image: url(../images/logo_black_book_with_book.png);
    width: 89px;
    height: 31px;
}

#container div.nada .book_values {
    border: 1px solid #808080;
    background-color: #fcdfa5;
}
#container div.nada table thead th {
    color: #403520;
    border-right: 2px solid #fcdfa5;
    border-left: 2px solid #fcdfa5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdf2d9), to(#f4e4c4));
    background-image: -webkit-linear-gradient(top, #fdf2d9, #f4e4c4);
    background-image:    -moz-linear-gradient(top, #fdf2d9, #f4e4c4);
    background-image:      -o-linear-gradient(top, #fdf2d9, #f4e4c4);
    background-image:     -ms-linear-gradient(top, #fdf2d9, #f4e4c4);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdf2d9, endColorstr=#f4e4c4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdf2d9, endColorstr=#f4e4c4)";
}
#container div.nada table tbody td {
    color: #000;
    border-right: 2px solid #fcdfa5;
    border-left: 2px solid #fcdfa5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4e4c4), to(#e8d5ac));
    background-image: -webkit-linear-gradient(top, #f4e4c4, #e8d5ac);
    background-image:    -moz-linear-gradient(top, #f4e4c4, #e8d5ac);
    background-image:      -o-linear-gradient(top, #f4e4c4, #e8d5ac);
    background-image:     -ms-linear-gradient(top, #f4e4c4, #e8d5ac);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4e4c4, endColorstr=#e8d5ac);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4e4c4, endColorstr=#e8d5ac)";
}
#container div.nada_consumer .book_values .logo, 
#container div.nada .book_values .logo {
    background-image: url(../images/logo_nada_with_book.png);
    width: 89px;
    height: 31px;
}

#container div.kbb .book_values {
    border: 1px solid #808080;
    background-color: #d1dbf4;
}
#container div.kbb table thead th {
    color: #2a437f;
    border-right: 2px solid #d1dbf4;
    border-left: 2px solid #d1dbf4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecf0fb), to(#dfe7fa));
    background-image: -webkit-linear-gradient(top, #ecf0fb, #dfe7fa);
    background-image:    -moz-linear-gradient(top, #ecf0fb, #dfe7fa);
    background-image:      -o-linear-gradient(top, #ecf0fb, #dfe7fa);
    background-image:     -ms-linear-gradient(top, #ecf0fb, #dfe7fa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ecf0fb, endColorstr=#dfe7fa);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ecf0fb, endColorstr=#dfe7fa)";
}
#container div.kbb table tbody td {
    color: #092641;
    border-right: 2px solid #d1dbf4;
    border-left: 2px solid #d1dbf4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfe7fa), to(#cdd9f8));
    background-image: -webkit-linear-gradient(top, #dfe7fa, #cdd9f8);
    background-image:    -moz-linear-gradient(top, #dfe7fa, #cdd9f8);
    background-image:      -o-linear-gradient(top, #dfe7fa, #cdd9f8);
    background-image:     -ms-linear-gradient(top, #dfe7fa, #cdd9f8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dfe7fa, endColorstr=#cdd9f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dfe7fa, endColorstr=#cdd9f8)";
}
#container div.kbb_consumer .book_values .logo, 
#container div.kbb .book_values .logo {
    background-image: url(../images/logo_kbb_with_book.png);
    width: 89px;
    height: 31px;
}

#container div.galves .book_values {
    border: 1px solid #808080;
    background-color: #93b7dc;
}
#container div.galves table thead th {
    color: #2a437f;
    border-right: 2px solid #93b7dc;
    border-left: 2px solid #93b7dc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1e1f1), to(#c0d2e5));
    background-image: -webkit-linear-gradient(top, #d1e1f1, #c0d2e5);
    background-image:    -moz-linear-gradient(top, #d1e1f1, #c0d2e5);
    background-image:      -o-linear-gradient(top, #d1e1f1, #c0d2e5);
    background-image:     -ms-linear-gradient(top, #d1e1f1, #c0d2e5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1e1f1, endColorstr=#c0d2e5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d1e1f1, endColorstr=#c0d2e5)";
}
#container div.galves table tbody td {
    color: #092641;
    border-right: 2px solid #93b7dc;
    border-left: 2px solid #93b7dc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0d2e5), to(#a5b9d2));
    background-image: -webkit-linear-gradient(top, #c0d2e5, #a5b9d2);
    background-image:    -moz-linear-gradient(top, #c0d2e5, #a5b9d2);
    background-image:      -o-linear-gradient(top, #c0d2e5, #a5b9d2);
    background-image:     -ms-linear-gradient(top, #c0d2e5, #a5b9d2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c0d2e5, endColorstr=#a5b9d2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c0d2e5, endColorstr=#a5b9d2)";
}
#container div.galves .book_values .logo {
    background-image: url(../images/logo_galves_with_book.png);
    width: 89px;
    height: 31px;
}

#container div.edmunds .book_values {
    border: 1px solid #808080;
    background-color: #98ccfe;
}
#container div.edmunds table thead th {
    color: #2a437f;
    border-right: 2px solid #98ccfe;
    border-left: 2px solid #98ccfe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d3ebfe), to(#c7e1fd));
    background-image: -webkit-linear-gradient(top, #d3ebfe, #c7e1fd);
    background-image:    -moz-linear-gradient(top, #d3ebfe, #c7e1fd);
    background-image:      -o-linear-gradient(top, #d3ebfe, #c7e1fd);
    background-image:     -ms-linear-gradient(top, #d3ebfe, #c7e1fd);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d3ebfe, endColorstr=#c7e1fd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#d3ebfe, endColorstr=#c7e1fd)";
}
#container div.edmunds table tbody td {
    color: #092641;
    border-right: 2px solid #98ccfe;
    border-left: 2px solid #98ccfe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c7e1fd), to(#b3d3fb));
    background-image: -webkit-linear-gradient(top, #c7e1fd, #b3d3fb);
    background-image:    -moz-linear-gradient(top, #c7e1fd, #b3d3fb);
    background-image:      -o-linear-gradient(top, #c7e1fd, #b3d3fb);
    background-image:     -ms-linear-gradient(top, #c7e1fd, #b3d3fb);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c7e1fd, endColorstr=#b3d3fb);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c7e1fd, endColorstr=#b3d3fb)";
}
#container div.edmunds_consumer .book_values .logo, 
#container div.edmunds .book_values .logo {
    background-image: url(../images/logo_edmunds_sm.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 89px;
    height: 31px;
}
#container fieldset.edmunds_select_vehicle {
    background-color: #b3d3fb;
    border: 1px solid #999;
    padding: 2em 1ex 4em;
    background-image: url(../images/logo_edmunds_sm.png);
    background-repeat: no-repeat;
    background-position: top left;
}
#container fieldset.edmunds_select_vehicle legend {
    display: none;
}

#container div.naaa .book_values {
    border: 1px solid #808080;
    background-color: #d0d6ea;
}
#container div.naaa a {
    text-transform: lowercase;
    font-variant: small-caps;
    position: relative;
}
#container div.naaa table thead th {
    color: #0a2845;
    border-right: 2px solid #d0d6ea;
    border-left: 2px solid #d0d6ea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaedf5), to(#dadeea));
    background-image: -webkit-linear-gradient(top, #eaedf5, #dadeea);
    background-image:    -moz-linear-gradient(top, #eaedf5, #dadeea);
    background-image:      -o-linear-gradient(top, #eaedf5, #dadeea);
    background-image:     -ms-linear-gradient(top, #eaedf5, #dadeea);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaedf5, endColorstr=#dadeea);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eaedf5, endColorstr=#dadeea)";
}
#container div.naaa table tbody td {
    color: #000041;
    border-right: 2px solid #d0d6ea;
    border-left: 2px solid #d0d6ea;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dadeea), to(#c0c7d7));
    background-image: -webkit-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:    -moz-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:      -o-linear-gradient(top, #dadeea, #c0c7d7);
    background-image:     -ms-linear-gradient(top, #dadeea, #c0c7d7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadeea, endColorstr=#c0c7d7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dadeea, endColorstr=#c0c7d7)";
}


#container div.naaa .book_values .logo {
    background-image: url(../images/logo_naaa_with_book.png);
    width: 58px;
    height: 31px;
}

#container div.kbb_consumer .book_values,
#container div.nada_consumer .book_values,
#container div.edmunds_consumer .book_values {
    background-color: #f1f1f1;
    border: 1px solid #cacaca;
}
#container div.kbb_consumer .book_values .value,
#container div.nada_consumer .book_values .value,
#container div.edmunds_consumer .book_values .value, 
#container div.kbb_consumer .book_values dd,
#container div.nada_consumer .book_values dd,
#container div.edmunds_consumer .book_values dd {
    font-weight: bold;
}

#container div.book_box h3 {
    display: inline;
    text-transform: none;
    font-weight: normal;
    font-size: 0.75em;
}
#container div.book_box p,
#container div.book_box a,
#container div.book_box button {
    display: inline;
    font-size: 0.75em;
}
#container div.book_box .book_values dl {
    font-size: 0.8em;
    line-height: 2.6em;
}
#container div.book_box .book_out_state {
    color: #4e5475;
}
#container div.book_box .update_bookout {
    text-transform: lowercase;
    font-variant: small-caps;
}
#container div.book_box .book_values {
    text-align: right;
}
#container div.book_box table {
    border-collapse: collapse;
    vertical-align: bottom;
    table-layout: fixed;
}
#container div.book_box table thead th {
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    text-align: center;
}

#container div.book_box table tbody td {
    text-align: center;
    font-weight: bold;
}

#container #books .book_box {
    float: left;
}

#container .third, 
#container .half {
    display: inline-block;
}

#container .full {
    margin: 0.618em;
}
#container #polk ul {
    margin-left: 2em;
}
#container #polk .section_content {
    padding: 0.618em;
}

#container #ping_and_calculator {
    border: 1px solid #a0b4d9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
#container #ping_and_calculator > .pointless_design {
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #dde4f2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f9fd), to(#d9e1f1));
    background-image: -webkit-linear-gradient(top, #f7f9fd, #d9e1f1);
    background-image:    -moz-linear-gradient(top, #f7f9fd, #d9e1f1);
    background-image:      -o-linear-gradient(top, #f7f9fd, #d9e1f1);
    background-image:     -ms-linear-gradient(top, #f7f9fd, #d9e1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f9fd, endColorstr=#d9e1f1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f7f9fd, endColorstr=#d9e1f1)";
}
#container .appraisal .calculator_logo {
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 29px;
    text-indent: -8000em;
    overflow: hidden;
}
#container .inventory .calculator_logo {
    background-image: url(../images/logo_inventory_calculator.png); 
    background-repeat: no-repeat;
    display: block;
    width: 200px;
    height: 34px;
    text-indent: -8000em;
    overflow: hidden;
}
#container .appraisal .ping_logo {
    background-image: url(logo_appraisal_ping.png);
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 26px;
    text-indent: -8000em;
    overflow: hidden;
}
#container .inventory .ping_logo {
    background-image: url(../images/logo_inventory_ping.png);
    background-repeat: no-repeat;
    display: block;
    width: 90px;
    height: 26px;
    text-indent: -8000em;
    overflow: hidden;
}
#container .listings_overview {
    margin: 0.618em 0 0;
}

/* @end */

#container .form_list {
    list-style: none;
}

#container .horizontal li,
#container .horizontal dt,
#container .horizontal dd {
    display: inline;
}

#container .solid_white_box {
    border: 1px solid #a6b4c4;
    background-color: #fff;
}
#container .solid_white_box .pointless_design {
    border: 1px solid #fff;
}
#container .white_box {
    border-left: 1px solid #919dab;
    border-right: 1px solid #919dab;
    border-bottom: 1px solid #919dab;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, #fff, #f7f7f7);
    background-image:    -moz-linear-gradient(top, #fff, #f7f7f7);
    background-image:      -o-linear-gradient(top, #fff, #f7f7f7);
    background-image:     -ms-linear-gradient(top, #fff, #f7f7f7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f7f7f7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f7f7f7)";
}
#container .white_box .pointless_design {
    border: 2px solid #fff;
}

#container .grey_box {
    border: 1px solid #919dab;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #fff, #e2e2e2);
    background-image:      -o-linear-gradient(top, #fff, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #fff, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2)";
}
#container .grey_box .pointless_design {
    border: 1px solid #fff;
}
#container .open .summary h3:before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 4px;
    margin-left: 2px;
    margin-right: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4e5475;
}
#container .open .hide_on_open {
    display: none;
}
#container .collapsed .summary h3:before {
     content: "";
     display: inline-block;
     width: 4px;
     height: 0px;
     margin-left: 2px;
     margin-right: 4px;
     border-top: 4px solid transparent;
     border-bottom: 4px solid transparent;
     border-left: 4px solid #4e5475;
}
#container .collapsed .summary h3.external_link::before {
        display: none;
}
#container .summary {
    color: #0d004c;
    min-height: 1.4em;
}
#container .summary dt::before {
    content: " | ";
    position: relative;
    top: -2px;
}
#container .summary dt:first-child::before {
    content: ""
}
#container .summary dd {
    font-weight: bold;
}
/*#container .button {
    cursor: pointer;
    border: 1px solid #4e5475;
    padding: 2px 1em;
    border-radius: 0.309em;
    overflow: hidden;
    color: #fff;
    text-shadow: #6e758e 2px 1px 1px;
    box-shadow: inset 0px 0px 1px 1px #fff;
    font-weight: bold;
    background-image: url(background_gradient_button.png);
    background-position: 0 -18px;
}*/
#gaugeComponent .button {
    background: url("images/background_gradient_button.png") repeat-x scroll 0 -44px;
    color: white;
    padding: 0 8px;
    height: 22px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    border: 1px solid #5c5c5c;
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.8);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,.8);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
#gaugeComponent .button.light { background-image: url("images/background_gradient_button.png"); background-position: 0 -44px; }
#gaugeComponent .button.red { background-image: url("images/background_gradient_button_red.png"); background-position: 0 0px; }
#gaugeComponent button.green, #gaugeComponent .button.unsaved, #gaugeComponent .greenbutton { background-image: url("images/background_gradient_button_green.png"); background-position: 0 0px; }
#gaugeComponent #global_search_controls .button, #gaugeComponent .button.sm {
    cursor: pointer;
    border: 1px solid #6a7384;
    border-top-color: #6c7486;
    border-bottom-color: #6a7384;
    border-radius: 3px;
    overflow: hidden;
    color: #59616f;
    box-shadow: 1px 1px 1px 0px #b0b3bb;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    background: url("images/buttons/button_sm_gray.png") 0 0 repeat-x;
    height: 16px;
    line-height: 16px;
    padding: 0 10px;
}
#gaugeComponent #global_search_controls .button:hover, .button.sm:hover {
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%,#f4f4f4 100%);
}
.tabs #container button:active,
#container .tabs button:selected {
    border: none;
    outline: none;
}
#container .button.light.disabled:hover, 
#container .button.light.disabled {
    color: #999;
}
#container .button.light:hover {
    text-decoration: none;
    background-color: #dedede;
    border-color: #828d99;
}
#container .button.blue {
    background-position: 0 -183px;
}
#container .button.lt_green {
    background-position: 0 -239px;
}
#container #controls .button {
    text-transform: uppercase;
}
#container #controls button.saving {
    background-position: 0 -294px;
}
#container input {
    border-width: 1px;
}
#container button.link,
#container input.link {
    color: #002157;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background-color: transparent;
}
#container abbr.sm_caps {
    font-variant: small-caps;
}
#container .tabs li button {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #fff, #e2e2e2);
    background-image:      -o-linear-gradient(top, #fff, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #fff, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e2)";
}
#container .tabs li {
    position: relative;
}
#container .symbol {
    font-weight: normal;
    font-family: arial;
}
#container .vehicle_info {
    color: #3f3f3f;
}
#container #vehicle_details {
    color: #555;
    font-size: 0.9em;
    vertical-align: top;
}
#container #vehicle_details .body_style {
    background-color: #fbea9f;
    border-color: #a8a8a8;
}
#container #vehicle_details .model_configuration {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}
#container #vehicle_details .pointless_design {
    padding: 0.309em 0.618em 0;
}
#container #vehicle_details .items {
    display: inline-block;
    width: 33em;
}
#container #vehicle_details dl.attributes {
    margin-bottom: 0;
    max-width: 40em;
    margin-left: 10em;
}
#container #vehicle_details dd.mileage {
    width: 6em;
}
#container #vehicle_details dd.color {
    width: 5em;
}
#container #vehicle_details .mileage,
#container #vehicle_details .color {
    text-transform: uppercase;
}
#container #vehicle_details .lot_location, 
#container #vehicle_details .interior_color {
    font-size: 0.85em;
}
#container #vehicle_details dd.lot_location {
    width: 6.246em;
}
#container #vehicle_details dd.interior_color {
    width: 12.128em;
}
#container #vehicle_details .attributes dt, 
#container #vehicle_details .attributes dd {
    text-align: left;
    display: inline-block;
}
#container #vehicle_details .attributes dd {
    font-weight: bold;
    color: #000;
    margin-right: 0.618em;
}
#container #vehicle_details ul.form_list {
    float: right;
    text-align: right;
}
#container #vehicle_details ul.form_list a {
    font-size: 0.9em;
}
#container #vehicle_details ul.form_list button {
    font-size: 0.8em;
    text-transform: capitalize;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-image: url(../images/icon_edit_details.png);
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

#container #appraisal_type label {
    color: #3f3f3f;
    font-size: 1.2em;
    margin-right: 1.618em;
}
#container #appraisal_type p label {
    font-size: 1em;
    font-weight: normal;
    margin-right: 0;
}
#container #appraisal_type legend {
    font-weight: bold;
    text-indent: 0.618em;
}
#container #appraisal_type p {
    padding-top: 0.319em;
    padding-right: 0.618em;
    float: right;
}
#container #appraisal_type ul.form_list {
    max-width: 50em;
}

#container input.readonly {
    background-color: transparent;
    border: none;
    cursor: text;
}
#container #external_links,
#container #external_links li {
    display: inline;
}
#container #external_links li { 
    margin-right: 1ex;
}
#container #notify {
    font-size: 0.9em;
    line-height: 1em;
    display: inline-block;
    border-radius: 0.75em;
    background-color: #dae2f2;
    border: 1px solid #c8d1e1;
}
#container #notify label {
    color: #404040;
    display: inline-block;
    padding: 0 1em;
    border-radius: 0.75em;
    border: 1px solid #fff;
}
#container #secondary_actions {
    display: block;
    text-align: right;
    max-width: 100%;
    list-style: none;
}
#container #secondary_actions li {
    display: inline;
    font-size: 0.75em;
}
#container #secondary_actions li a {
    color: #607380;
}
#container .average_mileage dd {
    font-weight: bold;
}
#container .market_days_supply {
    color: #0d004c;
    font-size: 14px;
}
#container .market_days_supply dd {
    font-weight: bold;
    font-size: 1.15em;
}
#container .listings_overview .market_listings {
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 0.3ex;
    font-size: 1.3em;
    color: #040;
    font-style: italic;
    white-space: nowrap;
}
#container .listings_overview .market_listings .value {
    font-size: 1.15em;
    font-weight: bold;
}
#container .listings_overview .market_listings .value.slightly_smaller {
    font-size: 0.9em;
    font-weight: normal;
}
#container #listings_summary p {
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#container #avg_graphic {
    margin: 0.618em 0 0;
    height: 97px;
}
#container #listings_include ul {
    margin-left: 0;
}
#container #listings_include li {
    border-left: 1px solid blue;
    padding-left: 0.8ex;
}
#container #listings_include li:first-child {
    border-left: none;
}
#container #listings_summary p button {
    border: transparent;
    background-color: transparent;
    font-size: 0.75em;
    color: #002157;
}
#container #listings_summary p button:first-child {
    display: none;
}
#container #global_search_controls .form_list li {
    text-align: right;
}
#container #global_search_controls .form_list label {
    text-align: left;
    display: inline-block;
    width: 49%;
}
#container #global_search_controls .form_list input, 
#container #global_search_controls .form_list select {
    width: 49%;
    text-align: right;
}
#container #global_search_controls .form_list .match label,
#container #global_search_controls .form_list .match input {
    width: auto;
}
#container .customer_offer {
    text-align: right;
    font-size: 1.2em;
    line-height: 1.5em;
}
#container .customer_offer input {
    width: 85%;
    margin-left: 0.3ex;
    background-color: #fbea9f;
    font-weight: 800;
    text-align: right;
    /* font-family: "Arial Black", Gadget; */
    padding: 0;
    font-size: 1em;
    line-height: 1em;
}
#container #customer_offer {
    clear: both;
    padding-bottom: 0.618em;
}
#container #customer_offer input {
    max-width: 11.3em;
}
#container #customer_offer a,
#container #customer_offer button.link {
    font-size: 0.6em;
}
#container #customer_offer button.button {
    font-size: .8em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    float: right;
    text-transform: uppercase;
}
#container #controls {
    margin-bottom: 0;
}
#container .sneeky_select select {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
}
#container .sneeky_select::after { /* Only Webkit */
    /*
    content: " ";
    display: inline-block;
    height: 1px;
    width: 1px;
    border-left: 0.3em solid transparent;
    border-top: 0.3em solid #777;
    border-right: 0.3em solid transparent;
    position: relative;
    top: -0.3em;
    left: -0.3em;
    */
}
#container .sneeky_select:hover select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    border: 1px solid #999;
    background-color: auto;
}
#container .sneeky_select:hover::after {
    display: none;
}
#container .logo,
#container .icon {
    display: inline-block;
    overflow: hidden;
    text-indent: -8000em;
    text-align: left;
}
#container .hr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #999;
    -moz-box-shadow: 0 1px 1px #dadde6;    
    -webkit-box-shadow: 0 1px 1px #dadde6;
    box-shadow: 0 1px 1px #dadde6;       
    height: 1px;
}
#container .hr hr {
    display: none;
}
#container .hidden {
    display: none;
}

#container .none {
    visibility: hidden;
}

#container .lt_gradient_box {
    border: 1px solid #919dab;
    -moz-box-shadow: 1px 1px 1px #b5b5b5;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #b5b5b5; /* background - 30% */
    box-shadow: 1px 1px 1px #b5b5b5;         /* background - 30% */
    margin-bottom: 0.618em;
}
#container .lt_gradient_box .pointless_design {
    border: 1px solid #fff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#fff));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #fff);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #fff);
    background-image:      -o-linear-gradient(top, #f5f5f5, #fff);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#ffffff)";
}
#container table {
    border-spacing: 0px;
    display: table !important;
}
#container table.vehicle_list {
    table-layout: fixed;
}

#container .horizontal_table {
    border: 1px solid #808080;
    padding: 1px;
    table-layout: fixed;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
#container .horizontal_table th {
    background-color: #eff0f1;
}
#container .horizontal_table th,
#container .horizontal_table td {
    font-size: 0.7em;
    padding: 0 1ex 0 1ex;
    text-align: left;
    max-height: 1em;
}
#container .horizontal_table tr:nth-child(even) th {
    background-color: #e6eaee;
    border-top: 1px solid #dee5ec;
    border-bottom: 1px solid #dee5ec;
}
#container .horizontal_table tr:nth-child(even) td {
    background-color: #f1f6fb;
    border-top: 1px solid #dee5ec;
}
#container .horizontal_table td {
    font-weight: bold;
    color: #1d1158;
}
#container a:link[target] {
    padding-right: 13px;
    background-image: url(../images/icon_new_window.png);
    background-position: 100% 20%;
    background-repeat: no-repeat;
}
#container #store_perfomance table.data {
    text-align: center;
    border: 1px solid #000;
}
#container table.data {
    table-layout: fixed;
    border: 1px solid grey;
    margin: 0.618em;
}
#container table.data caption {
    padding: 0 0.619ex;
    position: relative;
    bottom: -0.5ex;
    text-align: left;
    font-size: 0.8em;
}
#container table.data thead th:first-child {
    border-left: 1px solid #fff;
}
#container table.data thead th {
    padding: 0 1em;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid grey;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
}
#container .paginate_button {
    color: #333 !important;
    cursor: pointer;
}
#container table.data tbody td:first-child {
    border-left: 1px solid #f2f2f2;
}
#container table.data tbody td {
    background-color: #fff;
    padding: 0.618ex;
    border-left: none;
    border: 1px solid #f2f2f2;
}
#container table.vehicle_list {
    font-size: 0.8em;
    border: 1px solid grey;
}
#container table.vehicle_list caption {
    text-align: left;
    font-weight: bold;
    color: #4E5475;
}
#container table.vehicle_list thead th:first-child {
    border-left: 1px solid #fff;
}
#container table.vehicle_list thead th {
    font-size: 0.8em;
    padding: 0 1em;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid grey;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:      -o-linear-gradient(top, #e2e2e2, #d1d1d1);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#d1d1d1)";
}
#container table.vehicle_list tbody td:first-child {
    border-left: 1px solid #f2f2f2;
}
#container table.vehicle_list tbody td {
    padding: 0 0.5ex;
    background-color: #fff;
    padding: 0.618ex;
    border-left: none;
    border-right: 1px solid #f2f2f2;
}
#container table.vehicle_list tbody tr:nth-child(even) td {
    background-color: #eee;
}
#container ul.paging_list {
    max-width: 100%;
    display: block;
    text-align: right;
}
#container ul.paging_list li {
    display: inline;
    margin-right: 0.25ex;
}

#container fieldset legend {
    color: #4E5475;
}

#container .vehicle_info dl dt,
#container .vehicle_info dl dd {
    display: inline-block;
}
#container .vehicle_info dl dd {
    font-weight: bold;
}
#container .tabs {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
#container .tabs li {
    display: inline;
    padding: 0;
    margin: 0;
}
#container .tabs li button {
    margin-bottom: -1px; /* to make up for the border-bottom 0 in webkit */
    padding: 0;
    cursor: pointer;
}
#container .tab_box .tab_content {
    margin-top: 0;
    padding: 1em 1ex 0.25ex;
}
#container .summary p, 
#container .summary dl {
    max-width: 100%;
}
#container .half {
    width: 99.9%;
}

#container .black_book.half {
    margin-right: 0;
}
#container .summary {
    cursor: pointer;
}
#container .summary h3 {
    position: relative;
}
#container .summary p, 
#container .summary dl {
    text-align: right;
    padding-right: 1em;
    margin-bottom: 0;
}
#container .summary span.value {
    font-weight: bold;
}
#container .summary dl * {
    display: inline;
}
#container #application_tabs {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-left: -0.618em;
    padding-right: 1.236em;
    border-bottom: 1px solid #919dab;
}
#container #application_tabs li {
    display: inline-block;
    width: 49%;
    background-color: #fff;
}
#container #application_tabs li.current {
    position: relative;
    top: 1px;
    border-top: 1px solid #919dab;
    border-right: 1px solid #919dab;
    border-bottom: 2px solid white;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#fff));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #fff);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #fff);
    background-image:      -o-linear-gradient(top, #e2e2e2, #fff);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#ffffff)";
    text-indent: 20px;
}
#container #application_tabs li.ping .logo {
    background-image: url(../images/logo_ping_iii_with_unit_pricing_power.png);
    width: 356px;
    height: 25px;
}
#container #application_tabs li.max_for_s_and_em .logo {
    background-image: url(../images/logo_max_for_s_and_em.png);
    width: 366px;
    height: 19px;
}

#container div.book_box .rebook {
    background-image: url(../images/icon_attention_sm.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#container div.book_box .update_bookout, 
#container div.book_box .rebook {
    float: right;
}
#container div.book_box .book_values .logo {
    float: left;
}
#container div.book_box dl,
#container div.book_box dl dt,
#container div.book_box dl dd {
    display: inline-block;
    margin: 0;
}
#container div.book_box table {
    width: 100%;
}
#container button.vhr .icon,
#container button.vhr .logo {
    margin-bottom: -7px;
}
#container #link_to_mmr .logo {
    background-image: url(../images/logo_mmr_button.png);
    background-position: center left;
    background-repeat: no-repeat;
    padding-left: 25px;
}
#container .carfax_status {
    position: relative;
    top: 2px;
    background-image: url(../images/icon_report_state.gif);
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}
#container .carfax_status.valid {
    background-position: 0 -21px;
}
#container .carfax_status.error {
    background-position: 0 -42px;
}
#container .carfax_status.expired {
    background-position: 0 -64px;
}
#container .autocheck_logo {
    background-image: url(../images/logo_autocheck.png);
    width: 94px;
    height: 25px;
}
#container .carfax_logo {
    background-image: url(../images/logo_carfax.png);
    width: 94px;
    height: 18px;
}
#container .carfax_ok_logo {
    position: relative;
    top: -2px;
    background-image: url(../images/icon_carfax_ok.png);
    width: 22px;
    height: 22px;
}
#container .carfax_buy_back_guarentee_logo,
#container .carfax_one_owner_logo,
#container .carfax_no_accident_logo,
#container .carfax_clean_title_logo {
    display: none;
}
#container #dealer_sales_report table {
    width: 100%;
    overflow: hidden;
}
#container #dealer_sales_report table thead tr {
}

#container footer .branding {
    background-image: url(../images/logo_sm_firstlook_on_fff.png);
    background-repeat: no-repeat;
    width: 212px;
    height: 28px;
}
#container footer .fl_copyright {
    font-size: 0.7em;
    color: #545454;
}
#container footer .current_user {
    color: #545454;
}
#container footer .current_user .value {
    text-transform: uppercase;
    font-weight: bold;
}


#container .overlay .mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(70)";
    z-index: 1000;
}
#container .overlay.black .mask {
    background-color: #000;
}
#container .overlay.white .mask {
    background-color: #fff;
}
#container .overlay.blue .mask {
    background-color: #001f41;
}
#container .overlay .overlay_content {
    position: fixed;
    top: 0%;
    left: 1%;
    right: 1%;
    margin: 5em auto;
    width: 80%;
    max-width: 70em;
    z-index: 1001;
}
#container .overlay .overlay_content .pointless_design {
    border-width: 2px;
}
#container .overlay fieldset {
    padding-top: 2em;
    overflow: visible;
}
#container .overlay fieldset legend {
    font-weight: bold;
    text-indent: 1.618em;
    background-color: #e4e4e4;
    border-bottom: 1px solid #dbdbdb;
    color: #4e5475;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#container .overlay .button_close {
    display: block;
    font-weight: bold;
    font-size: 1.618em;
    position: absolute;
    border-radius: 1.618em;
    border: 1px solid #fff;
    top: -0.309em;
    right: -0.309em;
    padding: 0 0.321em;
    background-color: #707996;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px #000;
    color: #fff;
    z-index: 100;
}
#container table.form_table {
    width: 100%;
}
#container table.form_table thead th {
    font-weight: bold;
}
#container table.form_table thead th, 
#container table.form_table tbody td {
    text-align: left;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #ededed);
    background-image:    -moz-linear-gradient(top, #fdfdfd, #ededed);
    background-image:      -o-linear-gradient(top, #fdfdfd, #ededed);
    background-image:     -ms-linear-gradient(top, #fdfdfd, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfdfd, endColorstr=#ededed);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fdfdfd, endColorstr=#ededed)";
}
#container .form_pair,
#container dl.form_pair dt,
#container dl.form_pair dd {
    display: inline-block;
}
#container ul.form_pair li {
    list-style: none;
}
#container ul.form_pair li, 
#container dl.form_pair dt,
#container dl.form_pair dd {
    margin-top: 0.309em;
    margin-bottom: 0.618em;
}
#container .form_pair {
    max-width: 40em;
}
#container dl.form_pair dt {
    width: 7em;
}
#container dl.form_pair dd input, 
#container dl.form_pair dd select {
    width: 9em;
}
#container .overlay .form_pair {
    max-width: 17em;
}
#container .overlay dl.form_pair dt {
    width: 7em;
}
#container .overlay dl.form_pair dd input, 
#container .overlay dl.form_pair dd select {
    width: 9em;
}
#container #change_style a { display: inline-block; }

#container fieldset p.controls {
    margin: 0.309em 0.618em;
    padding-top: 0.309em;
    border-top: 1px solid #dbdbdb;
    max-width: 100%;
    text-align: right;
}
#container #internet_advertising_accelerator .half {
    vertical-align: text-top;
    padding: 0.309em 0.618em;
    width: 48%;
}
#container #internet_advertising_accelerator h5 {
    font-size: 0.9em;
}
#container #internet_advertising_accelerator .half > a {
    float: right;
}
#container #internet_advertising_accelerator .text_content {
    clear: right;
    background-color: #fff;
    height: 8em;
    overflow-y: scroll;
    border: 1px solid #ddd;
}

#container #ping_and_calculator {
    z-index: 100;
    position: relative;
}
#container #market_listings {
    z-index: 50;
    position: relative;
}
#container #market_listings,
#container #market_listings .pointless_design {
    border-radius: 0 0 10px 10px; 
}

#container #market_listings p.sellers_description {
    max-width: 99%;
    color: #222;
    margin-bottom: 0;
    text-align: left;
}
#container #market_listings p .value {
    font-weight: bold;
}

/*#market_listings p button {
    float: right;
}*/
#container #market_listings table.full.data.listings {
    font-size: 0.8em;
    table-layout: fixed;
    border-collapse: separate;
    line-height: normal;
    width: auto !important;
}
#container #market_listings table.full.data.listings tr {
    height: 1em;
}
#container #market_listings table.full.data.listings tr th,
#container #market_listings table.full.data.listings tr td {
    height: 16px;
    vertical-align: top;
    padding-top: 1px;
}
#container #market_listings table.full.data.listings tr td.ad_button {
    overflow: visible;
    white-space: normal;
    height: auto;
}
#container #market_listings table.full.data.listings tr th {
    min-width: auto;
    max-width: none;
    padding: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-shadow: #6e758e 1px 1px 1px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.9em;
    padding-right: 1px;
    background-color: #a9a9a9;
    border-top: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    border-bottom: 1px solid #7f7f7f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9a9a9), to(#8c8c8c));
    background-image: -webkit-linear-gradient(top, #a9a9a9, #8c8c8c);
    background-image:    -moz-linear-gradient(top, #a9a9a9, #8c8c8c);
    background-image:      -o-linear-gradient(top, #a9a9a9, #8c8c8c);
    background-image:     -ms-linear-gradient(top, #a9a9a9, #8c8c8c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a9a9a9, endColorstr=#8c8c8c);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a9a9a9, endColorstr=#8c8c8c)";
}
#container #market_listings table.full.data.listings tr th.sorting_desc,
#container table.vehicle_list thead th.sorting_desc {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -ms-filter: "filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    filter: none;
    background-color: #C8C8C8;
    background-image: url(../Css/icon_arrows.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#container #market_listings table.full.data.listings tr th.sorting_asc,
#container table.vehicle_list thead th.sorting_asc {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -ms-filter: "filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    filter: none;
    background-color: #C8C8C8;
    background-image: url(../Css/icon_arrows.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
}
#container table.listings tr th:first-child {
    cursor: default;
}
#container .dataTables_length,
#container .dataTables_filter,
#container .dataTables_info,
#container .dataTables_paginate {
    margin: 3px 6px;
    font-size: 12px;
}
#container .dataTables_info {
    position: absolute;
    top: 4px;
    left: 200px;
}
#container .dataTables_paginate {
    position: absolute;
    top: 4px;
    right: 245px;
}
#container .dataTables_paginate .paginate_button,
#container .dataTables_paginate .paginate_active {
    margin: 0 3px;
    min-width: 18px;
    display: inline-block;
    text-align: center;
    background: none;
}
#container .dataTables_paginate .paginate_active,
#container .dataTables_paginate .paginate_button_disabled {
    cursor: default;
    text-decoration: none;
    color: gray !important; 
}
#container table.listings tbody td {
    color: #3f3d3c;
    border-right-color: #fcfcfc;
    border-left: none;
    border-bottom-color: #e1e3ed;
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    font-size: 0.9em;
}
#container table.listings tbody tr.odd td {
    background: #f0f2fc; 
}
#container table.listings td.ad_button > .ad_positioned_container {
    position: relative;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
}
#container table.listings td.ad_button {
    text-align: left;
    position: relative;
    max-width: 20px;
}
#container table.listings td.ad_button .button {
    text-decoration: none;
    padding: 0px 6px;
    font-size: 1.0em;
    width: 20px !important;
    height: 14px !important;
    margin-top: 1px;
}
#container table.listings div.ad {
    padding: 10px;
    font-size: 1em;
}
#container table.listings tbody tr.odd + #container table.listings tbody tr td.seller_listing_detail {
    background: #f0f2fc; 
}
#container table.listings .seller {
    min-width: 5em;
    max-width: 20em;
}
#container table.listings .listings_description {
    min-width: 20em;
    max-width: 45em;
}
#container table.listings .certified.true {
    background-image: url(../Css/icon_green_check_sm.png);
    background-repeat: no-repeat;
    background-position: 50% 4px;
}
#container table.listings div.ad .description {
    display: inline-block;
    width: 45%;
}
#container table.listings div.ad dl {
    display: inline-block;
    max-width: none;
}
#container table.listings div.ad dl dd {
    font-weight: bold;
    margin: 0 3em 0 1em;
}
#container table.listings .stock_num .vin {
    font-size: 0.9em;
    color: #727272;
}
#container table.listings div.ad dl dt,
#container table.listings div.ad dl dd {
    display: inline;
}
#container table.listings div.ad dl dt {
    font-style: italic;
}
#container table.listings div.ad dl dt:first-child {
    margin-left: 4em;
}
#container table.listings div.ad p .sellers_description_label {
    font-style: italic;
    margin-right: 10px;
}
#container table.full { width: 98.5%; min-width: 98.5%; max-width: 98.5%; }

#container #market_listings table.full.data.listings th:first-child                            { width: 2em;  padding: 0;                                   }
#container #market_listings table.full.data.listings th:first-child+th                         { width: 2.7em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings th:first-child+th+th                      { width: 16em; padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings th:first-child+th+th+th                   { width: 21em; padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th                { width: 9.3em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th+th             { width: 5em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th+th+th          { width: 4em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th+th+th+th       { width: 5em;  padding: 0 4px; text-align: right !important; }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th+th+th+th+th    { width: 8em;  padding: 0 4px; text-align: right !important; }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th+th+th+th+th+th { width: 6em;  padding: 0 4px; text-align: right !important; }
#container #market_listings table.full.data.listings th:first-child+th+th+th+th+th+th+th+th+th+th { width: 5em;  padding: 0 4px; text-align: right !important; }

#container #market_listings table.full.data.listings td:first-child                            { width: 2em;  padding: 0;                                   }
#container #market_listings table.full.data.listings td:first-child+td                         { width: 2.7em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings td:first-child+td+td                      { width: 16em; padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings td:first-child+td+td+td                   { width: 21em; padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td                { width: 9.3em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td+td             { width: 5em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td+td+td          { width: 4em;  padding: 0 4px; text-align: left !important;  }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td+td+td+td       { width: 5em;  padding: 0 4px; text-align: right !important; }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td+td+td+td+td    { width: 8em;  padding: 0 4px; text-align: right !important; }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td+td+td+td+td+td { width: 6em;  padding: 0 4px; text-align: right !important; }
#container #market_listings table.full.data.listings td:first-child+td+td+td+td+td+td+td+td+td+td { width: 5em;  padding: 0 4px; text-align: right !important; }

#container #market_listings table .button.light {
    width: 100%;
    padding: 0;
    margin: 1px 0;
    font-size: 1.2em;
    line-height: 0.7em;
    text-decoration: none;
    color: black;
    text-align: center;
    text-indent: -0.1em;
    cursor: pointer;
}

#container p.message {
    padding: 0 1em;
    margin: 0.25ex;
    background-color: #e5f6ff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #b0a88a;
}
#container p.error {
    padding: 0 1em;
    margin: 0.25ex;
    background-color: #fff6e5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #8aa8b0;
    font-weight: bold;
    color: #451408;
    text-shadow: #b4bcbe 1px 1px 1px;
    max-width: 100%;
    text-align: center;
}
#container #market_listings .paging_list {
    margin-right: 1em;
    font-size: 1em;
}
#container table.listings tbody tr.highlighted, 
#container table.listings tbody tr.highlighted td {
    background-color: #D9DDEC;
}
#container .person_manager {
    background: #fff;
    border: #000 solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
#container .person_manager .add_controls {
   position: absolute;
}
#container .person_manager .add_controls {
   position: absolute;
   right: 33px;
   top: 16px;
   z-index: 100;
}
#container .person_table_wrapper {
    padding: 1em 0;
}
#container .person_manager table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    border: 1px solid #000;
    font-size: 9pt;
}
#container .person_manager table tbody tr:nth-child(even) td {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #efefef, #e2e2e2);
    background-image:    -moz-linear-gradient(top, #efefef, #e2e2e2);
    background-image:      -o-linear-gradient(top, #efefef, #e2e2e2);
    background-image:     -ms-linear-gradient(top, #efefef, #e2e2e2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#efefef, endColorstr=#e2e2e2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#efefef, endColorstr=#e2e2e2)";
}
#container .person_manager table .first_name {
    width: 11em;
}
#container .person_manager table .first_name {
    width: 10em;
}
#container .person_manager table .last_name {
    width: 12em;
}
#container .person_manager table .last_name input {
    width: 11em;
}
#container .person_manager table .email {
    width: 12em;
}
#container .person_manager table .email input {
    width: 11em;
}
#container .person_manager table .phone {
    width: 8em;
}
#container .person_manager table .phone input {
    width: 7em;
}
#container .person_manager table .controls {
    width: 6em;
    font-size: 10pt;
}
#container .highlightvehicle
{
    background: none;
    border: none;
    color: #002157;
    font-size: 0.75em;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
    padding: 0;
    cursor: pointer;
    display: inline;
}
#container .paging_list .current .button {
    font-weight: bold;
    color: #7a7a7a;
    border-color: #999;
    background-image: none;
    background-color: #fff;
}

#container .loader_mask_wrapper,
#container .loader_mask_wrapper > .loader_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#container .loading .loader_mask {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #eee;
    text-align: center;
    opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 900;
}
#container .loading .mask_image {
    position: absolute;
    left: 4px;
    top: 18px;
    width: 220px;
    height: 19px;
    background-image: url(../Css/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000;
}

#container .more_links {
    clear: both;
}

#container .global_loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 24px;
    z-index: 10000;
}
#container .global_loader div {
    margin-left: auto; 
    margin-right: auto; 
    font-size: 14px;
    height: 24px;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    border-top: none;
    padding: 3px 8px;
}
#container #ajax-loader.global_loader div {
    width: 140px;
    border: 1px solid #888; 
    border-top-width: 0;
    background: url('../images/ajax-loader2.gif')  no-repeat 128px center #eee;
}
#container #ajax-loader-error div {
    width: 345px;
    border: 1px solid #571510; 
    border-top-width: 0;
    background-color: #a4281f;
    color: #fff;
}



/*@media screen and (max-width: 33.236em) {*/
/*#appraisal_table .pointless_design {*/
/*    overflow: scroll;*/
/*    width: 100%;*/
/*    max-width: 20em;*/
/*}*/
/*.tabs li button {*/
/*    padding-top: 1em;*/
/*    padding-bottom: 1em;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*}*/
/*}*/
/*@media screen and (min-width: 30em) and (max-width: 47.236em) {*/
/*#appraisal_table .pointless_design {*/
/*    overflow: scroll;*/
/*    width: 100%;*/
/*    max-width: 29em;*/
/*}*/
/*#avg_graphic {*/
/*    margin: 0.618em 0;*/
/*    width: 285px;*/
/*    height: 62px;*/
/*}*/
/*#avg_graphic embed {*/
/*    width: 285px;*/
/*    height: 62px;*/
/*}*/
/*}*/
