/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
    text-align: left;
	padding: 0.6em 0 0 0;
	margin: 0 auto;
	max-width: 67em;
	min-width: 67em;
    font-family: Trebuchet,"Trebuchet MS",Tahoma,Verdana,Arial,sans-serif
}
#container #main {
    position: relative;
}

/* Gauge */
#container #avg_graphic {
    padding-left: 15px;
}
#container .dragdealer {
    position: absolute;
    width: 458px;
    height: 36px;
    left: 0;
    margin-left: 8px;
    top: 74px;
}
#container .dragdealer .handle {
    position: absolute;
    width: 14px;
    height: 36px;
    background: url(images/gauge_handle.png) no-repeat top left;
}
#container .dragdealer .handle.dragging {
    background: url(images/gauge_handle_light.png) no-repeat top left;
}
#container .slider_value_display {
    position: absolute;
    width: 0;
    height: 0;
    top: 61px;
    left: 0px;
    margin-left: 14px;
    color: #00601F; 
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}
#container .slider_value_display label,
#container .slider_value_display .slider_value {
    position: absolute;
    border-bottom: 1px solid #00601F;
    line-height: 13px;
    white-space: nowrap;
}
#container .slider_value_display .slider_value {
    right: 0;
    font-family: 'Arial Black', sans-serif;
}
#container .slider_value_display label {
    left: 0;
    padding-left: 5px;
}
#container .slider_value_display.negative {
    color: #800000;
}
#container .slider_value_display.negative label,
#container .slider_value_display.negative .slider_value {
    border-bottom-color: #800000;
}
#container .rank_box {
    position: absolute;
    top: 42px;
    left: 350px;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}
#container .rank_box label,
#container .rank_box .arrow {
    position: absolute;
}
#container .rank_box .arrow {
    width: 6px;
    height: 13px;
    cursor: pointer;
}
#container .rank_box .arrow.left {
    left: 32px;
    background: url(images/rank_arrow_left.png) no-repeat top left;
}
#container .rank_box .arrow.right {
    left: 100px;
    background: url(images/rank_arrow_right.png) no-repeat top left;
}
#container .rank_box label.rank_text {
    width: 60px;
    left: 39px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}



#container h1 {
	font-size: 1.3em;
	line-height: 1.618em;
	margin-bottom: 0.1em;
}

#container ul {
	margin-left: 0.4em;
}

#container ol {
	margin-left: 0.4em;
}

#container nav#application_menu,
#container #ApplicationMenu, #container #ApplicationMenu ul.ui-menu {
	float: left;
}

#container nav#member_menu,
#container #MemberMenu, #container #MemberMenu ul.ui-menu {
	float:  right;
}

#container .estock .vehicle_description {
    margin-top: 0.618em;
}
#container .vehicle_description {
	display: inline-block;
}
#container .vehicle_info {
	display: inline-block;
	font-size: 0.8em;
}

#container .vehicle_info {
	float: right;
}
#container .vehicle_info dl {
	display: inline;
	text-align: left;
}
#container .vehicle_info dl dt {
	margin-left: 1em;
}
#container .vehicle_info p.controls {
    margin-left: 0.618em;
    font-size: 0.9em;
    display: inline-block;
    width: 12em;
}
#container .vehicle_info p.controls input {
    width: 6em;
}
#container .vehicle_info p.controls .button {
    text-decoration: none;
    width: 4em;
}
#container .vehicle_info p.controls .button .symbol.right_arrow {
    overflow: hidden;
    text-align: left;
    text-indent: -8000em;
    text-decoration: none;
    background-image: url(../../images/icon_rh_arrow_sm.png);
    background-position: center left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    width: 14px;
} 
#container #change_style .pointless_design {
	background-color: #eee;
	padding: 0.25ex;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#container #change_style {
	background-color: #fff;
	padding: 2px;
	border: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#container .tabs {
    white-space: nowrap;
    max-width: 100%;
}
#container .tabs li button {
    margin-bottom: -1px; /* to make up for the border-bottom 0 in webkit */
    padding: 0.618em 0.62em;
    cursor: pointer;
    font-weight: bolder;
    font-family: Arial;
    color: #4e5475;
    text-indent: 0.25ex;
}
#container button::-moz-focus-inner {
    padding: 0;
    border: 0
}
#container .tabs li.current button {
    cursor: default;
}
#container .tabs li.current button {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#fff));
    background-image: -webkit-linear-gradient(top, #e2e2e2, #fff);
    background-image:    -moz-linear-gradient(top, #e2e2e2, #fff);
    background-image:      -o-linear-gradient(top, #e2e2e2, #fff);
    background-image:     -ms-linear-gradient(top, #e2e2e2, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e2e2e2, endColorstr=#ffffff);
}
#container .tab_box .two_tabs li button {
    width: 49.9%;
}
#container .tab_box .three_tabs li.current button {
    width: 33.2%;
}
#container .tab_box .three_tabs li button {
    width: 33.125%;
}
#container .tab_box .three_tabs li button {
    width: 33.125%;
}
#container .moz .tab_box .two_tabs {
    width: 49.8%;
}
#container .moz .tab_box .three_tabs li.current button {
    width: 33%;
}
#container #secondary_actions {
    float: right;
}
#container #ping_and_calculator #search_controls .tabs li:nth-child(2) button {
    border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    overflow: hidden;
}
#container #listings_summary p button.right {
    display: block;
    float: right;
}
#container #listings_summary p button.left {
    display: block;
    float: left;
}
#container div.book_box .manual_bookout p {
	display: block;
}
#container div.book_box .manual_bookout p label {
	display: inline-block;
	width: 7em;
}
#container div.book_box .update_bookout {
    float: right;
}
#container div.book_box .book_values .logo {
    float: left;
}
#container div.print .book_values {
    float: left;
    max-width: 54em;
}
#container .book_values p {
    margin: 0 0.618em;
}
#container .book_values .edit_equipment {
    max-width: 52em;
    margin: 0.5em;
}
#container div.book_box .print_forms {
    float: right;
    clear: right;
    width: 13em;
    margin-top: 2.309em;
}
#container div.book_box .print_forms ul {
    list-style: none;
}
#container .book_values .edit_equipment ul {
    max-width: 60em;
    margin-top: 0.618em;
}
#container .book_values .edit_equipment ul li {
    display: inline-block;
    width: 35.3em;
    border: 1px solid #fff;
    font-size: 0.8em;
}
#container .book_values .edit_equipment ul li.selected {
    background-color: #efefff;
    border-color: #dfdfff;
}
#container .book_values .edit_equipment ul li:hover {
    background-color: #efefef; 
    border: 1px solid #dfdfdf;
}
#container div.book_box table tbody td {
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
}
#container .book_box .selected_equipment {
	position: relative;
}
#container .book_box .selected_equipment button {
	position: absolute;
	bottom: 1ex;
	right: 0.5ex;
}
#container #controls .form_list {
    max-width: 66%;
    display: inline-block;
}
#container .third {
    width: 32%;
    margin: 0.618ex;
}

#container .half {
    width: 49%;
    margin: 0;
}
#container #books .half:nth-child(1),
#container #books .half:nth-child(4),
#container #books .half:nth-child(6) {
    margin-right: 1em;
}
#container #books .current {
    display: block;
    text-align: center;
    clear: both;
    border-top: 1px solid #cacaca;
    color: #666;
    padding-top: 0.618em;
}
#container #books .adjusted_value {
    color: #444;
}
#container #books .adjusted_value dd {
    font-size: 1.309em;
}
#container div.book_box dl dd {
    padding: 0 1em;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}
#container div.naaa.half table .similar_mileage {
    width: 15em;
}

#container #ping_overview {
	float: left;
    margin-bottom: -0.618em;
	width: 31.5em;
}
#container #ping_overview ul.horizontal {
    margin-bottom: 0.309em;
    margin-top: 0.309em;
}
#container #ping_overview .avg_graphic,
#container #ping_overview .listings_include {
    margin-left: 0.309em;
}
#container #ping {
    float: right;
    width: 49.5em;
    position: relative;
    margin-right: -0.309em;
}
#container #ping ul.even {
    width: 24em;
    float: right;
    height: 40px;
    margin-top: 0;
}
#container #ping .logo {
    display: block;
    height: 30px;
    margin-bottom: 0;
    float: none;
}
#container #search_controls {
    float: right;
    width: 21em;
    margin-top: -2px;
    border-left: 1px solid #abc0ea;
}
#container #search_controls .tabs li button {
    font-weight: normal;
    letter-spacing: -0.5px;
}
#container #search_controls .tabs li button .value {
    font-weight: bold;
}
#container #search_controls .tab_content {
    border: none;
    margin-right: 4px;
    border-left: 1px solid #fff;
}
#container #search_controls #global_search_controls .form_list li {
    padding-top: 0.618em;
}
#container #search_controls #global_search_controls label.dark {
    text-transform: lowercase;
    font-variant: small-caps;
    color: #686868;
    font-weight: bold;
    font-size: 0.8em;
}
#container #search_controls #global_search_controls .mileage label.dark {
    float: left;
    color: #666;
}
#container #search_controls #global_search_controls .match label {
    text-transform: lowercase;
    font-variant: small-caps;
}
#container #search_controls #global_search_controls .mileage label {
    width: auto;
}
#container #search_controls #global_search_controls .mileage select {
    width: 6em;
}
#container #search_controls #global_search_controls .modify_search_link {
    float: left;
}
#container #search_controls #global_search_controls .modify_search_link::before {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-bottom: -4px;
    margin-right: 4px;
    background-image: url(icon_modify_search.png);
    content: " ";
}
#container #search_controls #global_search_controls p.generated_by {
    color: #999;
    line-height: 1em;
    margin-bottom: 0;
    font-size: 0.6em;
    text-align: right;
}
#container #search_controls #global_search_controls p.generated_by .value {
    font-weight: bold;
}
#container #search_controls #global_search_controls p.generated_by .search_user {
    text-transform: uppercase;
}
#container #ping,
#container #calculator,
#container #search_controls {
    vertical-align: top;
    display: inline-block;
}
#container #calculator {
    width: 14.5em;
    padding-right: 0.618em;
    border-right: 1px solid #a0b4d9;
}
#container #calculator .calculator_logo {
    margin: 0.309em;
}
#container #calculator .form_list {
    margin-bottom: 0;
}
#container #calculator .form_list li {
    text-align: right;
}
#container .appraisal #calculator .form_list li {
    padding-top: 0.9em;
    line-height: 2.2em;
}
#container .appraisal .appraisal_calculator#calculator .form_list li {
    padding-top: 0.5em;
}
#container #calculator li.current_appraisal {
}
#container #calculator li.current_appraisal label {
    font-size: 0.7em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    color: #324C77;
}
#container #calculator li.current_appraisal span.value {
    position: absolute;
    left: 0;
    font-size: 0.7em;
    line-height: 2.4em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #324C77;
}
#container .appraisal .appraisal_calculator#calculator .view_history_link {
    position: absolute;
    right: 0.5em;
    font-size: 0.7em;
    text-transform: uppercase;
    width: 5em;
    line-height: 1.35em;
    text-align: center;
    font-weight: bold;
}
#container .appraisal #calculator.appraisal_value .form_list li {
    padding-top: 0.6em;
}
#container .inventory #calculator .form_list li {
    padding-top: 1em;
}
#container .inventory #calculator .form_list li .current {
    color: #555;
    font-size: 0.7em;
    text-align: left;
    position: absolute;
    text-indent: 0.309em;
}
#container .inventory #calculator .form_list li .value {
    font-weight: bold;
    color: #222;
}
#container #calculator .form_list li span,
#container .customer_offer span {
    font-size: 1.35em;
    line-height: 1.45em;
}
#container #calculator .form_list .appraisal_value span { 
    font-size: 2.1em;
    line-height: 1.2em; 
}
#container .customer_offer span { 
    font-size: 1.75em; 
}
#container #calculator .form_list label {
    width: 6.5em;
    font-size: 0.8em;
    line-height: 1.2em;
    float: left;
    text-align: left;
}
#container #calculator .form_list li input {
    float: right;
    margin-left: 5px;
}
#container #calculator .form_list li input, 
#container #calculator .form_list li select,
#container .customer_offer input,
#container .target_market_average input {
    width: 5em;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    padding: 0 .2em;
    font-weight: bold;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
    -moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,.35);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.35);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.35);
    border: 1px solid #999999;
    color: #414141;
}
#container #calculator .form_list li input.readonly { 
    border: 1px solid transparent; 
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none;
    -ms-filter: none;
}
#container #calculator .form_list li input.negative,
#container #calculator .form_list #last_saved_appraisal span.value.negative {
    color: #800000;
}

#container #calculator .internet_price {
    position: relative;
}

#container #calculator .internet_price .current_price.squish_in {
    position: absolute;
    width: 6.5em;
    top: 2.25em;
}
#container #calculator .internet_price .current_price.squish_in label, 
#container #calculator .internet_price .current_price.squish_in span.value {
    position: absolute;
    font-size: 0.7em;
    line-height: 1.2em;
    font-style: italic;
    font-weight: normal;
}
#container #calculator .internet_price .current_price.squish_in label {
    left: 0;
    color: #a0a0a0;
}
#container #calculator .internet_price .current_price.squish_in span.value {
    left: 4.1em;
}

/*#calculator .form_list .target_selling_price input { width: 5.59em; }*/
#container #calculator .form_list .unit_cost input { color: #777; }
#container #calculator .form_list .potential_gross_profit input { color: #1f7a50; }
#container #calculator .form_list .target_selling_price input { color: #1f7a50; }
#container #calculator .form_list .appraisal_value input,
#container .customer_offer input {
    font-size: 20px;
    line-height: 20px;
    width: 8.5em;
    background-color: #fbea9f;
}
#container .customer_offer input { font-size: 1.6em; }

#container #calculator .form_list .appraisal_value label { 
    display: block; 
    float: none;
    margin-bottom: 2px;
}

#container #calculator .form_list .appraisal_value label {
    color: #002157;
    font-size: 1.0em;
    width: auto;
}

#container #viewHistory { 
    font-size: 12px;
}
#appraisalHistory { background: #fff; }


#container #calculator .form_list .appraisor label {
}
#container #calculator .form_list .target_selling_price label {
    padding-top: 10px;
}
#container #calculator .form_list .hr {
    margin-bottom: 5px;
}

#container #search_controls .tabs li:first-child button {
    margin-right: -5px;
    border-left-color: #fff;
}
#container #listings_include {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0.5em;
    font-size: 0.9em;
	line-height: 1em;
	height: 2.1em;
	overflow: hidden;
}
#container #listings_include h4, #listings_include p {
	display: block;
	line-height: 1.0em;
	margin-bottom: 0;
	float: left;
}
#container #listings_include h4 {
    font-weight: normal;
}
#container #listings_include p {
    font-size: 0.8em;
    padding-left: 0.8ex;
	margin-top: 0.2em;
}
#container #listings_summary {
    clear: both;
}
#listings_summary button {
    cursor: pointer;
}
#container .listings_overview {
    margin: 0;
}
#container .listings_overview li {
    vertical-align: bottom;
    padding-top: 2px;
    padding-bottom: 2px;
}
#container #listings_summary p {
    border-top: 1px solid #a0b4d9;
    margin-left: -0.309em;
    padding-left: 0.309em;
    margin-right: 0.309em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}
#container .listings_overview .value {
    font-weight: bold;
}
#container .listings_overview .market_listings,
#container .listings_overview .avg_mileage, 
#container .listings_overview .current_mileage {
    position: absolute;
    bottom: 1.309em;
}
#container .listings_overview .avg_mileage {
	text-align: left;
	left: 13.75em;
	width: 11em;
    bottom: 1.618em;
    white-space: nowrap;
}
#container .listings_overview .current_mileage {
	text-align: left;
	left: 36em;
	width: 10em;
    font-size: 0.7em;
    color: #555;
    padding: 0;
	bottom: 2.409em;
    white-space: nowrap;
}
#container .listings_overview .market_listings {
    border-top: 1px solid #a0b4d9;
    border-right: 1px solid #a0b4d9;
    border-bottom: 1px solid #fff;
    margin-bottom: -2px;
    margin-top: 1px;
	left: -0.275em;
    width: auto;
}
#container .listings_overview .market_listings .value {
    font-weight: bold;
}
#container #customer_offer p {
    display: inline-block;
    margin-bottom: 0;
}
#container #customer_offer .horizontal.form_list {
    display: inline;
}
#container .summary {
    position: relative;
}
#container .summary h3 {
    position: absolute;
    left: 1em;
    top: 0.3em;
}
#container #notify {
    float: right;
}
#container .warning_list {
    display: block;
    max-width: 99%;
    text-align: right;
    list-style: none;
}
#container .warning_list li {
    margin-bottom: 0.308em;
}
#container .warning_list span {
    display: inline-block;
    width: auto;
    padding: 0 1em;
}
#container .warning_list .hard {
    background-color: #ffbebe;
    color: #650000;
    border: 1px solid #650000;
    border-radius: 0.618em;
}
#container .warning_list .soft {
    background-color: #beffbe;
    color: #006500;
    border: 1px solid #006500;
    border-radius: 0.618em;
}
#container #actions {
    float: right;
}
#container .market_days_supply,  
#container .target_market_average {
    text-align: right;
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
}
#container .market_days_supply {
    padding-left: 1em;
    text-align: center;
    padding-top: 3px;
}
#container .target_market_average input {
    max-width: 3em;
    font-size: 1.1em;
    margin-left: 5px;
}
#container .horizontal {
    display: inline-block;
}
#container .horizontal.even {
    display: table;
    table-layout: fixed;
}
#container .horizontal.even li {
    display: table-cell;
}
#container #link_to_mmr {
    color: #3b6d9a;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: none;
    border-bottom: 1px solid #3b6d9a;
}
#container #link_to_mmr .logo {
    display: inline;
    text-indent: 0;
    font-size: 1.3em;
    font-variant: normal;
    text-transform: capitalize;
    font-family: Impact, 'Arial Black';
}
#container .open_more {
    font-size: 0.8em;
    float: right;
    padding-top: 0.7em;
}
#container .open_more::before {
    content: " ";
    display: inline-block;
    width: 0.5ex;
    height: 0px;
    border-top: 0.5ex solid transparent;
    border-left: 0.5ex solid #002157;
    border-bottom: 0.5ex solid transparent;
}
#container #vhr {
    padding-bottom: 0.618em;
}
#container #vhr .half:first-child {
    margin-right: 1ex;
}
#container #vhr .lt_gradient_box {
    position: relative
}
#container #vhr .half .logo {
    position: absolute;
    top: 1ex;
    left: 1em;
}
#container #vhr .half .report_link {
    font-size: 0.8em;
    position: absolute;
    top: 5.618em;
    left: 2.618em;
}
#container #vhr .horizontal_table {
    margin-top: 0.618em;
    margin-left: 53%;
    width: 45%;
}
#container #vhr .half .inspection_list {
    width: 45%;
}
#container #vhr .full .logo, 
#container #vhr .full .report_link {
    margin-left: 1.618em;
    margin-top: 0.618em;
}
#container #vhr .full .inspection_list {
    width: 23%;
}
#container #vhr .full table {
    margin-bottom: -6em;
}
#container #vhr .inspection_list {
    list-style: none;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 0.618em;
}
#container #vhr .inspection_list.first {
    margin-left: 2em;
}
#container #vhr .inspection_list li {
    padding-left: 2em;
    margin: 1px;
    font-size: 0.8em;
    color: #493f78;
}
#container #vhr .inspection_list li.selected {
    background-image: url(../images/icon_green_check_sm.png);
    background-position: 4% 50%;
    background-repeat: no-repeat;
}
#container #print_center .third, 
#container #print_center .quarter {
    float: left;
}
#container li.selected {
    background-color: #eeedf2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #d4ccf2;
}
#container #print_center .controls {
    border-top: 1px solid #abb0c1;
    padding-top: 0.309em;
    clear: both;
    text-align: right;
}
#container header .light {
	display: inline-block;
    margin-top: 3px;
    margin-bottom: -3px;
    background-image: url(../images/icon_lights_lg.png);
    width: 20px;
    height: 20px;
}
#container header .green_light { background-position: 0 -20px; }
#container header .yellow_light { background-position: 0 -45px; }
#container header .red_light { background-position: 0 -72px; }
#container .light {
	display: inline-block;
    margin-top: -3px;
    margin-bottom: -3px;
    background-image: url(../images/icon_lights_sm.png);
    height: 14px;
}
#container .unknown_light { width: 14px; } 
#container .green_light { background-position: 0 -14px; width: 14px; }
#container .yellow_light { background-position: 0 -32px; width: 14px; }
#container .red_light { background-position: 0 -51px; width: 14px; }

#container .trade_manager header ul {
    display: inline-block;
    float: right;
    margin: 0 0.618em;
}
#container .trade_manager header ul li:first-child {
    border-left-width: 0;
}
#container .trade_manager header ul li {
    display: inline;
    margin: 0;
    padding-right: 0.618em;
    padding-left: 0.618em;
    border-left: 1px solid #3b6d9a;
}
#container .table_tabs ul.tabs {
	margin-left: -1px;
	padding-top: 8px; /* matches negative top from values */
}
#container .table_tabs ul.tabs li {
	margin: 0 1px;
}
#container .table_tabs ul.tabs li button {
   font-size: 0.65em; 
}
#container .table_tabs ul.tabs li.current button .value {
	background-color: #4E5475;
	border: 1px solid #34384e;
}
#container .table_tabs ul.tabs li button .value {
	float: none;
	zoom: 1;
	position: absolute;
	display: block;
	top: -13px;
	right: 0;
	background-color: #999999;
	border: 1px solid #757575;
	color: #fff;
	padding: 0 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 10px;
    text-shadow: #6e758e 2px 1px 1px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
#container .table_tabs ul.tabs li.none button {
	color: #808080;
}
#container .table_tabs ul.tabs li button::after {
	display: none;
}
#container #appraisl_bucket_tabs, #appraisal_table {
    margin-top: 0;
    margin-bottom: 0;
}
#container #appraisal_table .controls {
    float: right;
    margin-bottom: -1.618em;
    margin-right: 0.618em;
}
#container #appraisal_table {
    margin-top: 0;
    border: 1px solid #919DAB;
    padding: 1em 1ex 0.25ex;
    background-color: #fff;
}
#container #appraisal_table td {
    color: #3f3f3f;
}
#container #appraisal_table tr:hover td {
    background-color: #fcfceb;
    color: #000;
}
#container #last_appraisal .right {
    text-align: right;
}
#container #last_appraisal .nowrap {
    white-space: nowrap;
}
#container #last_appraisal .no_appraisal {
    padding-left: 2.5em;
}
#container .trade_manager #trade_manager_search {
    border: 1px solid #4E5475;
    position: relative;
}
#container .trade_manager #trade_manager_search .controls {
    position: absolute;
    margin-top: -1em;
    right: 0.618em;
    top: 50%;
}
#container .trade_manager #trade_manager_search p {
    margin-bottom: 0;
}
#container .trade_manager #trade_manager_search .more_search {
    display: none;
}
#container .carfax_buy_back_guarentee_logo,
#container .carfax_one_owner_logo,
#container .carfax_no_accident_logo,
#container .carfax_clean_title_logo {
    display: inline-block;
}
#container .carfax_buy_back_guarentee_logo {
    position: relative;
    top: -2px;
    background-image: url(../images/icon_carfax_buy_back_guarentee.png);
    width: 27px;
    height: 20px;
}
#container .carfax_one_owner_logo {
    position: relative;
    top: -3px;
    background-image: url(../images/icon_carfax_one_owner.png);
    width: 23px;
    height: 23px;
}
#container .carfax_no_accident_logo {
    background-image: url(../images/icon_carfax_no_accident.png);
    width: 88px;
    height: 16px;
}
#container .carfax_clean_title_logo {
    background-image: url(../images/icon_carfax_clean_title.png);
    width: 77px;
    height: 16px;
}
#container #store_perfomance table {
    width: auto;
    overflow: auto;
}
#container #store_perfomance table thead tr {
    font-size: 1em;
}
#container .appraisal_listings {
	border: 1px solid #919DAB;
}
#container .appraisal_listings fieldset p {
    text-align: right;
    max-width: 100%;
    width: 100%;
}
#container table.vehicle_list {
    margin: 0.618em 0 0.618em 0.618em;
    width: 86em;
	table-layout: fixed;
}
#container table.vehicle_list th.edit,
#container table.vehicle_list td.edit { width: 2em; text-transform: lowercase; font-variant: small-caps; }
#container table.vehicle_list th.risk,
#container table.vehicle_list td.risk { width: 2em; }
#container table.vehicle_list th.created_date,
#container table.vehicle_list td.created_date { width: 8em; }
#container table.vehicle_list th.vehicle,
#container table.vehicle_list td.vehicle { color: #111; }
#container table.vehicle_list th.customer,
#container table.vehicle_list td.customer { width: 10em; }
#container table.vehicle_list th.color,
#container table.vehicle_list td.color { width: 7em; }
#container table.vehicle_list th.mileage,
#container table.vehicle_list td.mileage { width: 5em; }
#container table.vehicle_list th.sales_person,
#container table.vehicle_list td.sales_person { width: 10em; }
#container table.vehicle_list th.appraisal,
#container table.vehicle_list td.appraisal { width: 5em; color: #111; }
#container table.vehicle_list th.inventory_decision,
#container table.vehicle_list td.inventory_decision { width: 10em; }
#container table.vehicle_list td.inventory_decision select { width: 8em; }
#container footer .branding {
    position: relative;
    top: -0.618em;
    padding-right: 1em;
}
#container footer .fl_copyright {
    display: inline-block;
    margin-bottom: 0;
}
#container footer .current_user {
    float: right;
}
#container .horizontal dl {
    display: inline;
}
#container #potential_deal fieldset legend {
    font-weight: bold;
    text-decoration: underline;
}
#container #potential_deal fieldset {
    display: inline-block;
    vertical-align: top;
	font-size: 0.80em;
}
#container #potential_deal.white_box fieldset label {
    color: #555;
}
#container #potential_deal.white_box li {
    margin-bottom: 0.618em;
}
#container #potential_deal fieldset:nth-child(2) {
    border-left: 1px solid #c5cae5;
}
#container #potential_deal_fieldset ul.form_list label {
    display: inline-block;
    width: 11em;
}
#container #customer_information ul.form_list label {
    display: inline-block;
    width: 5em;
}
#container #customer_information dl.form_pair {
    margin-bottom: 0;
    margin-left: 0.309em;
}
#container #customer_information dl.form_pair dt {
    width: 5.308em;
}
#container #customer_information dl.form_pair input {
    width: 8em;
    margin-right: 1.618em;
}
#container #potential_deal_fieldset a {
    margin-left: 11.309em;
    display: block;
}
#container #potential_deal ul.horizontal {
    max-width: 100%;
}
#container #reconditioning_form {
    padding: 0.618em;
}
#container #reconditioning_form legend {
    font-weight: bold;
}
#container #reconditioning_form textarea {
    display: block;
    width: 99%;
}
#container #potential_deal ul.horizontal li {
    vertical-align: top;
    padding-right: 1.618em;
    display: inline-block;
}
#container #potential_deal ul.horizontal .salesperson select {
    width: 15em;
}
#container #potential_deal ul.horizontal .salesperson a {
    font-size: 0.8em;
}
#container #dealer_sales_report table {
    width: 98%;
    table-layout: auto;
}
#container #dealer_sales_report table tbody td {
	text-align: center;
}
#container #dealer_sales_report .show_dealer_group_results {
    float: right;
    margin-bottom: -1.618em;
    margin-right: 1.618em;
}
#container #dealer_sales_report .view_deals {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 0.9em;
    text-decoration: none;
    float: right;
    margin-bottom: -1.618em;
    margin-right: 1.618em;
    line-height: 1.2em;
    color: #fff !important;
}
#container #dealer_sales_report p {
    text-indent: 0.618em;
    color: #666;
}
#container .advanced_search {
	position: absolute;
	background-color: #fff;
	border: 2px solid #4E5475;
	z-index: 10;
	padding: 1ex;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 1px 1px 1px #919191;    /* background - 30% */
    -webkit-box-shadow: 1px 1px 1px #919191; /* background - 30% */
    box-shadow: 1px 1px 1px #919191;         /* background - 30% */
}
#container .advanced_search .field_handle {
		display: block;
		position: absolute;
		top: -12px;
		left: 15em;
		border-bottom: 10px solid #4E5475;
		border-left: 10px solid #fff;
		border-right: 10px solid #fff;
		background-color: #4E5475;
}
#container #jd_power_frame {
    width: 980px;
	height: 460px;
    border: 1px solid grey;
    margin: 2px 7px;
}
#container #iaa_frame {
    width: 992px;
	height: 155px;
}
#container #books_overlay {
	background-color: #fff;
	padding: 2px;
	border: 1px solid #000;
}
#container #reconditioning_overlay .pointless_design {
	background-color: #eee;
	padding: 0.25ex;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#container #reconditioning_overlay {
	background-color: #fff;
	padding: 2px;
	border: #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#container .appraisal_submit_buttons
{
    list-style-type: none;
    height: 35px;
    max-width: 100%;
}

#container .appraisal_submit_buttons li
{
   float:right;
}

#container .appraisal_cancel a
{
    height:30px ; 
    display:block; 
    width:78px;
    background: url("../images/btn-cancel.gif") no-repeat scroll 0 0 transparent;
}
#container .appraisal_seeResults a
{
    padding-left:5px;
    height:30px ; 
    display:block; 
    width:106px;
    background: url("../images/btn-seeResults.gif") no-repeat scroll 0 0 transparent;
}
/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
/*@media screen and (min-width: 48em) and (max-width: 63.236em) {*/
/*    #container {*/
/*        width: 48em;*/
/*    }*/
/*    .table_tabs ul.tabs {*/
/*        white-space: normal;*/
/*    }*/

/*    .carfax_no_accident_logo,*/
/*    .carfax_clean_title_logo {*/
/*        display: none;*/
/*    }*/

/*    #appraisal_table {*/
/*        font-size: 0.8em;*/
/*    }*/
/*    #appraisal_table table {*/
/*        width: 100%;*/
/*    }*/

/*    [> todo: highlight tabs better when in this mode <]*/
/*}*/

/*@media screen and (min-width: 30em) and (max-width: 63.236em) {*/
/*.half {*/
    /*width: 99.9%;*/
/*}*/
/*.third {*/
    /*width: 46%;*/
    /*margin: 0.618ex;*/
/*}*/
/*.vehicle_info {*/
	/*float: none;*/
/*}*/
/*#secondary_actions {*/
    /*float: none;*/
/*}*/
/*#notify {*/
    /*float: none;*/
/*}*/
/*#actions {*/
    /*float: none;*/
/*}*/
/*}*/

/* 9. DEFENSIVE CSS VS. PARENT PAGE (PRICING) (KID BEAR?) */
#container {
    font-size: 15px;
    max-width: 65em;
    min-width: 65em;
}
#container #search_controls {
    width: 17.5em;
}
#container #search_controls ul.tabs > li > button {
    position: relative;
    top: -1px;
}
#container #search_controls ul.tabs > li:last-child > button {
    left: -1px;
}
#container #search_controls ul.tabs > li > button > span:first-child {
    font-size: 11px;
}
#container #calculator,
#container #ping {
    height: 20.3em;
    position: relative;
}
#container #global_search_controls {
    height: 14.3em;
}
#container #listings_summary p.cf {
    width: 49.2em;
    position: absolute;
    bottom: 0;
    height: 23px;
}
#container #search_controls li.within label {
    width: inherit;
    float: left;
}
#container #search_controls #global_search_controls p.generated_by {
    position: absolute;
    bottom: 3.25em;
    right: 1em;
}
#container select {
    font-size: 13px;
}
#container .appraisal .calculator_logo.appraisal_calculator_logo {
    background-image: url(logo_appraisal_calculator.png); 
}
#container #calculator .calculator_logo.pricing_calculator_logo {
    background-image: url(logo_pricing_calculator.png); 
}
#container #calculator.pricing_calculator ul.form_list li:last-child {
    height: 4.5em;
}
#container #calculator.pricing_calculator ul.form_list li:last-child button {
    position: absolute;
    width: 8em;
    bottom: 2em;
    right: 0.25em;
}
#container #search_controls ul.form_list li.match label {
    margin-right: 1em;
}
#container #search_controls ul.form_list li.match label:last-child {
    margin-right: 0;
}

div#Static_97{
    position: absolute;
    width: 100%;
    top: 2em;
}

/* IE < 9 */
.lt-ie9 #container span {
    font-family: Trebuchet,'Trebuchet MS',Tahoma,Verdana,Arial,sans-serif !important;
}
.lt-ie9 #container input,
.lt-ie9 #container select {
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif !important;
}
.lt-ie9 #container #search_controls ul.tabs > li > button {
    top: 0;
    left: 0;
    width: 49.5%;
}
.lt-ie9 #container #search_controls ul.tabs > li > button > span:first-child {
    font-size: 12px;
    margin-right: 2px;
}
.lt-ie9 #container #listings_include p,
.lt-ie9 #container #listings_include p > span {
    max-width: 32em;
}
.lt-ie9 #container #listings_summary p {
    line-height: 0.975em;
}
.lt-ie9 #container #search_controls #global_search_controls .form_list label {
    font-size: 12px;
}
.lt-ie9 #container #search_controls #global_search_controls .mileage select {
    width: 6em;
    max-width: 6em;
    overflow: hidden;
}
.lt-ie9 #container #search_controls #global_search_controls label.dark {
    text-transform: lowercase;
    font-variant: small-caps;
    color: #686868;
    font-weight: bold;
    font-size: 12px;
}
.lt-ie9 #container #ping_overview > ul.horizontal.even > li.market_days_supply {
}
.lt-ie9 #container li.market_days_supply > dl > dt {
    display: inline-block;
}
.lt-ie9 #container ul.horizontal.even {
    width: 360px;
    display: inline-block;
}
.lt-ie9 #container ul.horizontal.even li {
    display: inline-block;
}
.lt-ie9 #container #calculator .form_list li input {
    font-family: "Myriad Pro", "Open Sans", Arial, sans-serif;
}
.lt-ie9 #container #ping .market_days_supply>dl>dd>span {
    margin-right: 5px;
}
.lt-ie9 #container #ping .market_days_supply {
    margin-right: 10px;
}
.lt-ie9 #container #ping .market_days_supply *,
.lt-ie9 #container #ping .target_market_average * {
    color: black;
}
.lt-ie9 #container #ping .target_market_average input {
    font-weight: bold;
}
.lt-ie9 #container #calculator .internet_price .current_price.squish_in {
    top: 2em;
}



