<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ServiceAccount.aspx.cs" Inherits="FirstLook.VehicleHistoryReport.WebApplication.Pages.AutoCheck.ServiceAccount" MasterPageFile="~/Pages/Page.Master" %>

<%@ OutputCache Location="None" VaryByParam="None" %>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" ID="Content1" runat="server">
    <h2>AutoCheck <asp:Literal ID="ServiceType" runat="server" /> Service Account</h2>
    <div class="help_text">
        <p>This is the username and password we use to connect to the Experian servers.  A request for
         a report consists of this username and password plus the dealers username.</p>
    </div>
    <asp:ObjectDataSource ID="AccountDataSource" runat="server"
            TypeName="FirstLook.VehicleHistoryReport.DomainModel.AutoCheck.ServiceAccount+DataSource"
            SelectMethod="Select"
            InsertMethod="Insert"
            UpdateMethod="Update"
            DeleteMethod="Delete"
            OnSelected="AccountDataSource_Selected">
        <SelectParameters>
            <asp:QueryStringParameter Name="serviceTypeId" QueryStringField="ServiceTypeId" Type="Int32" />
        </SelectParameters>
        <InsertParameters>
            <asp:QueryStringParameter Name="serviceTypeId" QueryStringField="ServiceTypeId" Type="Int32" />
        </InsertParameters>
        <UpdateParameters>
            <asp:QueryStringParameter Name="serviceTypeId" QueryStringField="ServiceTypeId" Type="Int32" />
        </UpdateParameters>
        <DeleteParameters>
            <asp:QueryStringParameter Name="serviceTypeId" QueryStringField="ServiceTypeId" Type="Int32" />
        </DeleteParameters>
    </asp:ObjectDataSource>
    <h3>Account details</h3>
    <asp:BulletedList ID="ErrorList" runat="server" Visible="false" CssClass="ErrorList">
    </asp:BulletedList>
    <asp:DetailsView ID="AccountDetailsView" runat="server"
            AllowPaging="false"
            AutoGenerateDeleteButton="false"
            AutoGenerateEditButton="true"
            AutoGenerateInsertButton="false"
            AutoGenerateRows="false"
            DataKeyNames="Id"
            DataSourceID="AccountDataSource"
            DefaultMode="ReadOnly"
            OnModeChanged="AccountDetailsView_ModeChanged"
            OnItemInserting="AccountDetailsView_Inserting"
            OnItemInserted="AccountDetailsView_Inserted"
            OnItemUpdating="AccountDetailsView_Updating"
            OnItemUpdated="AccountDetailsView_Updated"
            OnItemDeleted="AccountDetailsView_Deleted">
        <Fields>
            <asp:BoundField AccessibleHeaderText="User Name" HeaderText="User Name" DataField="UserName" />
            <asp:BoundField AccessibleHeaderText="Password" HeaderText="Password" DataField="Password" />
        </Fields>
    </asp:DetailsView>
    <div runat="server" id="AccountDetailsViewEditModeHelp" class="warning_text" visible="false">
        <h4>WARNING:</h4>
        <p>The only reason edit the <asp:Literal ID="ServiceType2" runat="server" /> Service Account is if AutoCheck changes the <em>User Name</em> or <em>Password</em> for our service account.</p>
    </div>
</asp:Content>