﻿/*window template*/
/**/

@page 
{
	margin: 1.0in 1.25in;
	size: 8.5in 11in;
	
}



body 
{
	content: normal;
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 10pt;
	margin: 0;
}
h3 {
	font-size: 12pt;
	color: #4e5b7b;
}

form { display: inline; }

#container 
{

}
.WindowStickerPage 
{

	/*page: window_sticker;*/
	margin: 0.0in;
	padding: 0.0in;
	
	page-break-after: always;
	width: 6.5in;
	height: 9in;
	
}

body.windowStickerBody 
{
	position: relative;
	padding: 0px;
	margin: 0px;
	
	
}

/*set up the main content section*/
.WindowStickerMainContent 
{
	padding-left: 1.8in;
	padding-top: 1.8in;
	width: 4.8in;
}

/*content for year, make model, trim, stocknum, vin, mileage, color labels*/
.VehicleHeaderBox 
{
	position: relative;	
	height: 1.3in;
	
}
div#VehicleTitle
{	
}
div#VehicleBasicsBox 
{
	padding: 0.1in;
	background: #ccc;
	height: 0.8in;
	width: 4.75in;
	position: absolute;
	top: 0.3in;
	left: 0;	
}
#VehicleBasicsBox div, #EngineBox, #TransmissionBox
{
	width: 2.25in;
	overflow: hidden;
}

#VehicleBasicsBox div span:first-child, #EngineBox span:first-child, #TransmissionBox span:first-child
{
	float:left;
	display: block;
	width: 0.6in;
}

#VehicleEquipmentBox 
{
	position: relative;
	margin-top: 0.1in;
	
}
.VehiclePriceBox 
{
	max-height: 1.0in;
	margin-top: 0.1in;
}

/*for option equipment labels*/
label 
{
	margin-right: 0.2in;
}

.OptionsBox 
{	
	font-size: 100%;
	margin-top: 0.1in;
	height: 3.5in;
	overflow: hidden;
}

.OptionsBox ul
{
	text-align: left;
	list-style: none;
	margin: 0px;
}
.OptionsBox input 
{
	display: none;
}


#YearMakeModelTrimLabel 
{
	position: absolute;
	display: block;
	text-transform: uppercase;
	top: 0;
	left: 0;
	font-size: 0.22in;
	font-weight: bold;
}

#StockNumberBox 
{
	position: absolute;
	top: 0.75in;
	left: 2.4in;
}

#VinBox
{
	position: absolute;
	display: block;
	top: 0.45in;
	left: 2.4in;	
}

#MileageBox
{
	position: absolute;
	display: block;
	top: 0.1in;
	left: 0.1in;
}

#ColorBox
{
	position: absolute;
	display: block;
	top: 0.1in;
	left: 2.4in;
	

}

#EngineBox
{
	position: absolute;
	display: block;
	left: 0.1in;
	top: -0.35in;	
}

#DrivetrainBox
{
	float: left;
	display:none;
}

#FuelTypeBox
{
	clear: left;
	display: none;		
}
#TransmissionBox 
{
	position: absolute;
	left: 0.1in;
	top: -0.65in;
}

#SalePriceBox
{
	padding: 0.15in;
	font-size: 0.25in;
	font-weight: bold;
	background: #ddd;
}
.OptionListL, .OptionListR
{
	float:left;
	width: 2.375in;
}

.MPGBox
{
	display:none;
}

li
{
	list-style: none;
	font-size: x-small;
}