/*@page
{
	
	margin: 1.25in;
	padding: 0.0in;
	size: 8.5in 11.0in;
}
*/


#BuyersGuidePage 
{
	position: relative;
	height: 9.0in;
	width: 6.5in;
	
	page-break-before: always;
	

}

#BGMakeLabel 
{
	position: absolute;
	left: 0in;
	top: 1.15in;
	font-size: 0.16in;
	text-transform: uppercase;
}

#BGModelLabel 
{
	position: absolute;
	left: 1.2in;
	top: 1.15in;
	font-size: 0.16in;
	text-transform: uppercase;
}

#BGYearLabel
{
	position: absolute;
	left: 2.7in;
	top: 1.15in;
	font-size: 0.16in;
}

#BGVinLabel 
{
	position: absolute;
	left: 3.55in;
	top: 1.15in;
	font-size: 0.16in;
}

#BGStockNumberLabel
{
	position: absolute;
	left: 0in;
	top: 1.655in;
	font-size: 0.2in;
}

#NoWarrantyLabel 
{
	display: none;
}

#WarrantyLabel 
{
	display: none;
}

#FullWarrantyLabel 
{
	display: none;
}

#LimitedWarrantyLabel
{
	display: none;
}

#ServiceContractLabel 
{
	display: none;
}