﻿/*@page
{
	
	margin: 1.25in;
	padding: 0.0in;
	size: 8.5in 11.0in;
}
*/


#BuyersGuidePage 
{
	position: relative;
	height: 9.0in;
	width: 6.5in;
	
	page-break-before: always;
	

}

#BGMakeLabel 
{
	position: absolute;
	left: -0.48in;
	top: 0.35in;
	font-size: 0.16in;
	text-transform: uppercase;
}

#BGModelLabel 
{
	position: absolute;
	left: 1.05in;
	top: 0.35in;
	font-size: 0.16in;
	text-transform: uppercase;
}

#BGYearLabel
{
	position: absolute;
	left: 2.5in;
	top: 0.35in;
	font-size: 0.16in;
}

#BGVinLabel 
{
	position: absolute;
	left: 3.75in;
	top: 0.35in;
	font-size: 0.16in;
}

#BGStockNumberLabel
{
	position: absolute;
	left: -0.48in;
	top: 0.755in;
	font-size: 0.2in;
}

#NoWarrantyLabel 
{
	position: absolute;
	left: -.29in;
	top: 1.72in;
	font-size: 0.5in;
}

#WarrantyLabel 
{
	position: absolute;
	left: -.29in;
	top: 3.065in;
	font-size: 0.5in;
}

#FullWarrantyLabel 
{
	position: absolute;
	left: -0.59in;
	top: 3.875in;
	font-size: 0.125in;
}

#LimitedWarrantyLabel
{
	position: absolute;
	left: 0.12in;
	top: 3.875in;
	font-size: 0.125in;
}

#ServiceContractLabel 
{
	position: absolute;
	left: -0.58in;
	top: 7.97in;
	font-size: 0.1in;
}