/*window template*/
/**/

@page 
{
	margin: 1.5in 0in 0in 0in;
	size: 8.5in 11in;
	
}

body 
{
	content: normal;
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 10pt;
	margin: 0;
}
h3 {
	font-size: 12pt;
	color: #4e5b7b;
}

form { display: inline; }

#container 
{

}
.WindowStickerPage 
{

	/*page: window_sticker;*/
	margin: 0.0in;
	padding: 0.0in;
	
	page-break-after: always;
	width: 8.5in;
	height: 9in;
	
}

body.windowStickerBody 
{
	position: relative;
	padding: 0px;
	margin: 0px;
	
	
}

/*set up the main content section*/
.WindowStickerMainContent 
{
	padding-left: 0.5in;
	padding-top: 0.5in;
	width: 8.5in;
}

/*content for year, make model, trim, stocknum, vin, mileage, color labels*/
.VehicleHeaderBox 
{
	position: relative;	
	height: 1.3in;
	
}
div#VehicleTitle
{	
}
div#VehicleBasicsBox 
{
	padding: 0.1in;
	/*background: #ccc;*/
	/*height: 0.8in;*/
	width: 8in;
	position: absolute;
	top: 0.3in;
	left: 0;	
}
#VehicleBasicsBox div, #EngineBox, #TransmissionBox
{
	width: 4in;
	overflow: hidden;
}

#VehicleBasicsBox div span:first-child, #EngineBox span:first-child, #TransmissionBox span:first-child
{
	float:left;
	display: block;
	width: 0.6in;
}

#VehicleEquipmentBox 
{
	position: relative;
	margin-top: 0.1in;
	
}
.VehiclePriceBox 
{
	display: none;
}

/*for option equipment labels*/
label 
{
	margin-right: 0.2in;
}

.OptionsBox 
{	
	font-size: small;
	margin-top: 0.1in;
	height: 6in;
	width: 99%;
}

.OptionsBox ul
{
	text-align: left;
	margin: 0px;
}
.OptionsBox input 
{
	display: none;
}

#YearMakeModelTrimLabel 
{
	position: absolute;
	display: block;
	text-transform: uppercase;
	top: 0;
	left: 0;
	font-size: xx-large;
	font-weight: bold;
}

#StockNumberBox 
{
	position: absolute;
	top: 0.50in;
	left: 2.4in;
}

#VinBox
{
	position: absolute;
	display: block;
	top: 0.30in;
	left: 2.4in;	
}

#MileageBox
{
	position: absolute;
	display: block;
	top: 0.1in;
	left: 0.1in;
}

#ColorBox
{
	position: absolute;
	display: block;
	top: 0.1in;
	left: 2.4in;
	

}

#EngineBox
{
	position: absolute;
	display: block;
	left: 0.1in;
	top: -0.60in;	
}

#DrivetrainBox
{
	position: absolute;
	display: block;
	left: 0.1in;
	top: -0.40in;	
}

#FuelTypeBox
{
	clear: left;
	display: none;		
}
#TransmissionBox 
{
	position: absolute;
	left: 0.1in;
	top: -0.80in;
}

#SalePriceBox
{
	display: none;
}
.OptionListL, .OptionListR
{
	float:left;
	width: 4in;
}

.MPGBox
{
	position: relative;
	left: 2.6in;
	
	/*top: 9in;*/
}

#CityMPGBox
{
	float:left;
	margin-right: 0.5in;
	text-align: right;
}

#HighwayMPGBox
{
	float:left;
	margin-left: 0.5in;
	text-align: left;
}

#CityMPGValue, #HwyMPGValue
{
	font-weight: bold;
	font-size: xx-large;
}

li
{
	list-style: disc outside;
	font-size: x-small;
}