﻿/*window template*/
/**/

@page 
{
	margin: 1.0in 1.25in;
	size: 8.5in 11in;
	
}



body 
{
	content: normal;
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 10pt;
	margin: 0;
}
h3 {
	font-size: 12pt;
	color: #4e5b7b;
}

form { display: inline; }

#container 
{

}
.WindowStickerPage 
{

	/*page: window_sticker;*/
	margin: 0.0in;
	padding: 0.0in;
	
	page-break-after: always;
	width: 6.5in;
	height: 9in;
	
}

body.windowStickerBody 
{
	position: relative;
	padding: 0px;
	margin: 0px;
	
	
}

/*set up the main content section*/
.WindowStickerMainContent 
{
	padding-left: 1.875in;
	padding-top: 1.5in;
	width: 4.5in;
}

/*content for year, make model, trim, stocknum, vin, mileage, color labels*/
.VehicleHeaderBox 
{
	position: relative;
	height: 1.2in;
	
}
.VehicleEquipmentBox 
{
	margin-top: 0.1in;
	
}
.VehiclePriceBox 
{
	max-height: 1.0in;
	margin-top: 0.1in;
}

/*for option equipment labels*/
label 
{
	margin-right: 0.2in;
}

.OptionsBox 
{
	font-size: 100%;
	margin-top: 0.1in;
	height: 4.5in;
	overflow: hidden;
}

.OptionsBox ul
{
	text-align: left;
	list-style: none;
	margin: 0px;
}
.OptionsBox input 
{
	display: none;
}

#YearMakeModelTrimLabel 
{
	position: absolute;
	display: block;
	text-transform: uppercase;
	top: 0;
	left: 0;
	font-size: 0.18in;
	font-weight: bold;
}

#StockNumberBox 
{
	position: absolute;
	top: 0.36in;
	left: 3.62in;
}

#VinBox
{
	position: absolute;
	display: block;
	top: 0.36in;
	left: 0in;
	
	
}

#MileageBox
{
	position: absolute;
	display: block;
	top: 0.76in;
	left: 0in;
}

#ColorBox
{
	position: absolute;
	display: block;
	top: 0.76in;
	left: 2.62in;
	

}

#EngineBox
{
	float: left;
	display: block;
	max-width: 3.2in;
	margin-right: 0.1in;
}

#DrivetrainBox
{
	float: left;
	display: block;
}

#FuelTypeBox
{
	clear: left;
	display: block;
	
	
}

#SalePriceBox
{
	font-size: 0.30in;
	font-weight: bold;
	
}

#OptionsList1
{
	float: left;
	width: 48%;
}
#OptionsList2 
{
	float: left;
	width: 48%;
}

#BarCodeBox 
{
	display: none;
}

.MPGBox
{
	display:none;
}

li
{
	list-style: none;
	font-size: x-small;
	
}