<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN"
                        "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">
<taglib>
    <tlibversion>1.0</tlibversion>
    <jspversion>1.1</jspversion>
    <shortname>Firstlook Custom Tags</shortname>

   <tag>
      <name>yearsOptions</name>
      <tagclass>biz.firstlook.taglib.YearsOptionsTag</tagclass>
      <bodycontent>empty</bodycontent>
     <attribute>
            <name>requestParamName</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
          </attribute>
            <attribute>
            <name>selectedValue</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
          </attribute>
          <attribute>
            <name>beanName</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
          </attribute>
          <attribute>
            <name>property</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
          </attribute>
    </tag>
    <tag>
      <name>exportStrutsForm</name>
      <tagclass>biz.firstlook.taglib.ExportStrutsForm</tagclass>
      <bodycontent>empty</bodycontent>
	  <attribute>
            <name>var</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
      </attribute>
    </tag>
    <function>
	    <description>
	      Converts the given object into a singleton list.
	    </description>
	    <name>singletonList</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>java.util.List singletonList(java.lang.Object)</function-signature>
	    <example>
	      &lt;c:forEach var="greeting" items="${fn:singletonList('hello world')}">
	    </example>
  	</function>
  	<function>
	    <description>
	      Copy the elements of a given list into new one, reverse the contents then return the result.
	    </description>
	    <name>reverse</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>java.util.List reverse(java.util.List)</function-signature>
	    <example>
	      &lt;c:forEach var="listItem" items="${fn:reverse(list)}">
	    </example>
  	</function>
  	<function>
	    <description>
	      Return the absolute of the argument integer.
	    </description>
	    <name>abs</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>int abs(int)</function-signature>
	    <example>
	      c:abs(yourIntVar)
	    </example>
  	</function>
  	<function>
	    <description>
	      Copy the elements of a given list into new one, sort the contents then return the result.
	    </description>
	    <name>sort</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>java.util.List sort(java.util.List)</function-signature>
	    <example>
	      &lt;c:forEach var="listItem" items="${fn:sort(list)}">
	    </example>
  	</function>
  	<function>
	    <description>
	      Copy the elements of a given list into new one, impose the reverse order and return the result.
	    </description>
	    <name>reverseOrder</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>java.util.List reverseOrder(java.util.List)</function-signature>
	    <example>
	      &lt;c:forEach var="listItem" items="${fn:reverseOrder(list)}">
	    </example>
  	</function>
  	<function>
	    <description>
	      Gets the number of nodes n-levels beneath the argument node.
	    </description>
	    <name>numberOfNodesAtDepth</name>
	    <function-class>biz.firstlook.webapp.purchasing.util.GroupByNode</function-class>
	    <function-signature>int numberOfNodesAtDepth(biz.firstlook.webapp.purchasing.util.GroupByNode,int)</function-signature>
	    <example>
	      &lt;${fn:numberOfNodesAtDepth(m,2)}&gt;
	    </example>
  	</function>
  	<function>
	    <description>
	      Gets the number days between now and the argument date as an integer.
	    </description>
	    <name>daysFromNow</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>int daysFromNow(java.util.Date)</function-signature>
	    <example>
	      ${fn:daysFromNow(date)}
	    </example>
  	</function>
  	<function>
	    <description>
	      Gets the number days between midnight and the argument date as an integer.
	    </description>
	    <name>daysFromMidnight</name>
	    <function-class>biz.firstlook.taglib.Functions</function-class>
	    <function-signature>int daysFromMidnight(java.util.Date)</function-signature>
	    <example>
	      ${fn:daysFromNow(date)}
	    </example>
  	</function>
</taglib>