A:link {
	color: #666666;
	text-decoration: none;
}

A:visited {
	color: #666666;
	text-decoration: none;
}

A:active {
	color: #666666;
	text-decoration: none;
}

A:hover {
	color: #333333;
	text-decoration: none;
}

A.dark:link {
	color: #666666;
	text-decoration: none;
}

A.dark:visited {
	color: #666666;
	text-decoration: none;
}

A.dark:active {
	color: #666666;
	text-decoration: none;
}

A.dark:hover {
	color: #333333;
	text-decoration: none;
}

TD {
	font-size: 12px;
	font-family : Verdana;
}

P {
	font-size: 12px;
	font-family : Verdana;
}

TD.dark {
	font-size: 11px;
	font-family : Tahoma;
	color : #FFDE9B;
}

P.dark {
	font-size: 11px;
	font-family : Verdana;
}

TD.smaller {
	font-size: 11px;
	font-family : Tahoma;
	color : #666666;
}

P.smaller {
	font-size: 11px;
	font-family : Tahoma;
	color : #666666;
}


