<%@ page language="java" %>
<%@ taglib uri='/WEB-INF/taglibs/struts-template.tld' prefix='template' %>
<%@ taglib uri='/WEB-INF/taglibs/struts-tiles.tld' prefix='tiles' %>
<%@ taglib uri='/WEB-INF/taglibs/firstlook.tld' prefix='firstlook' %>
<%@ taglib uri="/WEB-INF/taglibs/struts-logic.tld" prefix="logic" %>
<%@ taglib uri="/WEB-INF/taglibs/struts-bean.tld" prefix="bean" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib uri="/WEB-INF/taglibs/struts-nested.tld" prefix="nested" %>
<%@ taglib uri="/WEB-INF/taglibs/struts-html.tld" prefix="html" %>
<html:xhtml />


<fieldset class="additional">
	<legend>Condition &amp; Mechanical Options</legend>

	<p><label for="selectedCondition">Condition</label><br />
	<html:select name="form" property="selectedCondition" styleId="selectCondition">
		<c:if test="${empty form.selectedCondition}">
			<html:option value="0" >Select Condition</html:option>
		</c:if>
		<c:forEach items="${form.conditions}" var="condition" >
			<html:option value="${condition.id}" >${condition.description}</html:option>
		</c:forEach>
	</html:select></p>
	
	<p><label for="selectEngine">Engine:</label><br />
	<html:select name="form" property="selectedEngine" styleId="selectEngine">
		<c:forEach items="${form.selectedVehicleDescription.engineOptions}" var="engineOption" >
			<html:option value="${engineOption.optionKey}" >${engineOption.displayName}</html:option>
		</c:forEach>
	</html:select></p>
	
	<p><label for="selectDrivetrain">Drivetrain:</label><br />
	<html:select name="form" property="selectedDrivetrain" styleId="selectDrivetrain">
		<c:forEach items="${form.selectedVehicleDescription.drivetrainOptions}" var="drivetrainOption" >
			<html:option value="${drivetrainOption.optionKey}" >${drivetrainOption.displayName}</html:option>
		</c:forEach>
	</html:select></p>
	
	<p><label for="selectTransmission">Transmission:</label><br />
	<html:select name="form" property="selectedTransmission" styleId="selectTransmission">
		<c:forEach items="${form.selectedVehicleDescription.transmissionOptions}" var="transmissionOption">
			<html:option value="${transmissionOption.optionKey}">${transmissionOption.displayName}</html:option>
		</c:forEach>
	</html:select></p>

</fieldset>


