﻿
html { overflow-x:hidden; }

.mask
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; background-color:#fff;
	border-bottom:solid #ccc 1px; filter:alpha(opacity=80); opacity:0.8; position:absolute; z-index:1000;
}
.mask p { color:#333; font-size:14pt; text-align:center; }

.newWindowLink { cursor:pointer; text-decoration:underline; }

/* Page */

#Container { width:999px; }
#Content { margin-bottom:41px; }

/* Approval Summary */

#ApprovalSummary { margin:0; position:relative; }

/* Vehicle Info */

#VehicleInfoPanel { float:left; margin:10px 0 5px 10px; width:650px; }
#VehicleInfoPanel h1
{
	color:#303563; float:left; font-family:"Trebuchet MS", Trebuchet, Arial, Helvetica, Sans-Serif;
	font-size:1.4em; font-weight:normal; margin:0px 20px 0 2px;
}

#VehicleInfoPanel #TrimSelector { float:left; margin-top:2px; }
#VehicleInfoPanel #TrimSelector label { color:#555; }
#VehicleInfoPanel #TrimSelector select { color:#303563; font-size:1.1em; }
#VehicleInfoPanel #TrimSelector a { color:#999; font-size:8pt; }
#VehicleInfoPanel #TrimSelector label, #VehicleInfoPanel #TrimSelector a { position:relative; top:-1px; }

#VehicleInfoPanel div.red label, #VehicleInfoPanel div.red select { color:#cc3333 !important; font-weight:bold; }

#VehicleInfoPanel ul.vehicleDetails { clear:both; list-style-type:none; margin:0 0 0 3px; }
#VehicleInfoPanel ul.vehicleDetails li { color:#333; float:left; line-height:1.6em; margin-right:2em; }
#VehicleInfoPanel ul.vehicleDetails li .lightData { color:#999; font-size:8pt; text-transform:uppercase; }
#VehicleInfoPanel ul.vehicleDetails li a.stockNumber { color:#303563; font-size:9pt; font-weight:bold; text-decoration:underline; }
#VehicleInfoPanel ul.vehicleDetails li a.photosLink { color:#86AE7B; text-decoration:underline; }
#VehicleInfoPanel .vehicleDetails .newWindowLink { color:#303563; font-size:0.9em; }

/* Pricing Info */

#PricingInfoPanel
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background:url("../LazyBoy/images/gradient_lighter_up.jpg") repeat-x left top #f0f0f0;
	border:solid #ccc 1px;
	border-radius:8px;
	float:right;
	margin:5px 10px 0 0;
	padding:10px 0;
	text-align:right;
}

#PricingInfoPanel h1
{
	color:#303563;
	font-size:11pt;
	margin:0 10px;
}

#PricingInfoPanel h1 #priceLnk
{
	color:#86AE7B;
	cursor:pointer;
	font-size:0.8em;
	font-weight:normal;
	margin-left:0.2em;
	position:relative;
	text-decoration:underline;
	top:-1px;
}

#PricingInfoPanel p
{
	margin:0 10px;
}

#PricingInfoPanel .headerListPrice
{
	font-weight:bold !important;
}

#PricingInfoPanel .potent 
{
	font-size:0.9em;
	text-transform:uppercase;
	font-weight:bold;
	color:#cc3333;
}

#NewCarPricingInfoPanel { padding:0 1em; }
#NewCarPricingInfoPanel p { color:#999; font-size:0.8em; margin:0 0 0.5em; text-align:left; text-transform:uppercase; }
#NewCarPricingInfoPanel label { color:#303563; font-size:11pt; font-weight:bold; }
#NewCarPricingInfoPanel div.fieldLabelPair { float:left; }
#NewCarPricingInfoPanel input.submit { display:inline-block; font-size:0.8em; height:22px; width:72px; }
#NewCarPricingInfoPanel #PricesSaving {
	background:transparent url( ../../Public/Images/loading_small.gif ) no-repeat scroll center;
	display:none; float:left; margin:1px 0 -1px 4px; height:20px; overflow:hidden; width:72px;
}

/* Advertisement */

#PreviousAdPanel {
    color:#999999;
    float:right;
    font-size:9pt;
    font-style:italic;
    line-height:1.1em;
    margin:3px 10px 0 0;
    text-align:right;
    width:245px;
}

#PreviousAdPanel .newWindowLink
{
	color:#303563;
	font-style:normal;
	text-decoration:underline;
	white-space:nowrap;
}

#AdvertisementPanel
{
	background:url("Images/bg_ApprovalForm.gif") repeat-y left top #fff;
	border-right:solid #ccc 1px;
	clear:both;
	margin:0;
}

#AdConfigFormPanel
{
	background:url("../LazyBoy/images/gradient_lighter_up.jpg") repeat-x left top transparent;
	border-top:solid #ccc 1px;
	float:left;
	margin:0 1px;
	padding:0;
	position:relative;
	width:248px;
	z-index:1000;
}

#AdConfigFormPanel h2
{
	border-bottom:0;
	color:#555;
	font-family:Trebuchet, "Trebuchet MS", Arial, Sans-Serif;
	font-size:10pt;
	text-transform:uppercase;
	padding:6px 0 4px 10px;
}

#AdConfigFormPanel h3 {
    background: url("images/gradient_lighter_up.jpg") repeat-x scroll left top transparent;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0;
    color: #555555;
    font-size: 10pt;
    height: 30px;
    line-height: 30px;
    margin-bottom:0;
    padding: 0;
}

#AdConfigFormPanel h3.first { border-top: 0 none; }
#AdConfigFormPanel h3.last { border-bottom:solid #ccc 1px; }

#AdConfigFormPanel h3.open { margin-bottom:0; }

#AdConfigFormPanel h3 a {
    background: url("images/sprite_AccordionIcons.png") no-repeat scroll 13px -26px transparent;
    color: #777777;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px 0 26px;
    text-decoration: none;
}

#AdConfigFormPanel h3.open a {
    background-position: 12px 13px;
}

#AdConfigFormPanel .panel { background:#fff; border-top:solid #ccc 1px; padding:1em 12px 1em 28px; display:none; }
#AdConfigFormPanel .panel.last { border-bottom:solid #ccc 1px; border-top:0; }
#AdConfigFormPanel .panel.open { display:block; }

#AdConfigFormPanel .attention h3 { background:#b30000; border-bottom:0; }
#AdConfigFormPanel .attention h3 a { background-position:13px -65px; color:#fff; }
#AdConfigFormPanel .attention h3.open a { background-position:12px -104px; }
#AdConfigFormPanel .attention div.panel { border:solid #b30000 1px; border-width:0 1px 1px;  }

#AdConfigFormPanel #DropDownLists { position:relative; z-index:1003 }
#AdConfigFormPanel #DropDownLists2 { position:relative; z-index:1004 }

#AdConfigFormPanel #DropDownLists label, #AdConfigFormPanel #DropDownLists2 label {
    clear:left;
    color:#555;
    display:block;
    float:left;
    height:20px;
    line-height:20px;
    margin:0;
    width:50px
}

#AdConfigFormPanel #DropDownLists select, #AdConfigFormPanel #DropDownLists2 select {
    float:left;
    font-size:10pt;
    margin:0 0 0.5em 10px;
    width:140px
}

#QuickPackages
{
	clear:both;
	position:relative;
	z-index:1002;
}

#AutoLoad {
	float:left;
	left:-20px;
	margin-right:-20px;
	position:relative;
}

#AutoLoad .autoLoadButton {
	font-size:0.8em;
	vertical-align:middle;
}

#AutoLoad span.italic {
	font-size:0.9em;
	font-style:italic;
}

#AutoLoad .autoLoadWorking  {
	float:left;
	margin:0;
	width:74px;
}

#OptionPackagesListUpdatePanel {
	position:relative;
}

#quickPackages1_pnlAddPackage {
	background:#fff;
	border:solid #ccc 1px;
	left:10px;
	padding:1em;
	position:absolute;
	top:53px;
}

#QuickPackages .config
{
	position:relative;
}

#QuickPackages .editLink
{
	color:#355FAB;
	cursor:pointer;
	float:right;
	font-size:8pt;
	text-decoration:underline;
}

#QuickPackages #AddPackageContainer label {
    display: inline-block;
    font-size: 0.9em;
    width: 40px;
}

#QuickPackages #AddPackageContainer .red
{
	font-size:0.8em;
}

#QuickPackages .textbox {
    margin-bottom: 0.1em;
    width:200px;
}

#QuickPackages .littleButton {
	display:inline-block;
	font-size:8pt;
	height:20px;
	width:42px;
}

#QuickPackages input.loading {
	background:transparent url(../../Public/Images/loading_small.gif) no-repeat scroll center;
	border:0;
}

#QuickPackages ul {
	margin:10px 0;
}

#QuickPackages ul li {
	clear:left;
	display:block;
	list-style-type:none;
	padding-bottom:0.25em;
	position:relative;
}

#QuickPackages ul li.loading {
	background:url(../../Public/Images/loading_small.gif) no-repeat scroll left center transparent;
}

#QuickPackages ul li a.deleteLink {
	background:url(Images/sprite_ApprovalPage.png) no-repeat scroll -133px -425px transparent;
	display:block;
	float:left;
	height:12px;
	left:3px;
	position:absolute;
	top:2px;
	width:12px;
}

#QuickPackages ul li span {
	display:block;
	float:left;
	margin:0 0 0 20px;
}

#AdConfigFormPanel #BookValues #BookProviderLogo { background:transparent url(../../Public/Images/sprite_ProviderLogos.png) no-repeat scroll -1px 0; display:block; float:left; vertical-align:middle; }

#AdConfigFormPanel #BookValues #BookProviderLogo.blackbook { background-position:-1px -27px; height:20px; width:110px; }
#AdConfigFormPanel #BookValues #BookProviderLogo.galves { background-position:-1px -163px; height:23px; width:102px; }
#AdConfigFormPanel #BookValues #BookProviderLogo.kbb { background-position:-1px -234px; height:32px; width:83px; }
#AdConfigFormPanel #BookValues #BookProviderLogo.nada { background-position:-1px -276px; height:16px; width:60px; }

#AdConfigFormPanel #BookValues img { float:left; vertical-align:middle; }
#AdConfigFormPanel #BookValues a.link { float:right; font-size:0.9em; }
#AdConfigFormPanel #BookValues span.bookValue { float:right; font-weight:bold; line-height:22px; }
#AdConfigFormPanel #BookValues div.source div.loading { background:#fff url(Images/loading_small.gif) no-repeat scroll center; float:right; width:96px; }

#AdConfigFormPanel #VehicleHistory { position:relative; }
#AdConfigFormPanel #VehicleHistory img { float:left; vertical-align:middle; }
#AdConfigFormPanel #VehicleHistory a.link { float:right; font-size:0.9em; }

#AdConfigFormPanel #VehicleHistory #VHRDialog { background:#fff; border:solid #ccc 1px; clear:both; padding:1em 1em 0.75em; position:absolute; right:1em; top:5em; z-index:1100; }
#AdConfigFormPanel #VehicleHistory #VHRDialog a.close {
	background:#fff; border:solid #ccc 1px; border-width:1px 1px 0; display:block; height:1.4em; line-height:1.4em; padding:0.25em 0.75em;
	position:absolute; top:-2em; right:-1px;
}
#AdConfigFormPanel #VehicleHistory #VHRDialog ul { list-style-type:none; margin-bottom:1em; }
#AdConfigFormPanel #VehicleHistory #VHRDialog label { color:#555 !important; font-weight:normal; }
#AdConfigFormPanel #VehicleHistory #VHRDialog .fieldLabelPair input { float:left; }
#AdConfigFormPanel #VehicleHistory #VHRDialog .fieldLabelPair label { display:block; float:left; font-size:0.9em; font-style:italic; line-height:1.4em; margin-bottom:1em; padding-left:3px; width:180px; }
#AdConfigFormPanel #VehicleHistory #VHRDialog .formButtons div.loading { background:#fff url(Images/loading_small.gif) no-repeat scroll center; clear:left; width:96px; }


#KeyInformation {
	position:relative;
	z-index:1001;
}

#KeyInformation #AdditionalInfoItemsList
{
	margin:0;
}

#KeyInformation #AdditionalInfoItemsList td
{
	color:#555;
	padding:3px 3px 0 0;
}

#KeyInformation #AdditionalInfoItemsList td input
{
	float:left;
	margin:0 2px 0 0;
}

#KeyInformation #AdditionalInfoItemsList td label
{
	display:block;
	float:left;
	font-size:8pt;
	width:80px;
}

#AdContainerPanel
{
	float:left;
	position:relative;
	width:728px;
	z-index:500;
}

/* Ad Column */

#FormattedAd
{
	background:#fff;
	position:relative;
	padding-bottom:50px;
}

#AdPanelTools
{
	background:url("../LazyBoy/images/gradient_lighter_up.jpg") repeat-x left bottom #fff;
	border:solid #ccc 1px;
	border-left:0;
	border-right:0;
	height:30px;
}

#AdPanelTools .buttonLarge
{
	float:right;
	line-height:20px !important;
	margin:3px 3px 0 10px;
}

#AdPanelTools select
{
	float:left;
	margin-top:5px;
}

#frameworkSpan
{
	color:#303563;
	float:left;
	font-size:1.3em;
	font-style:italic;
	font-weight:bold;
	margin:5px 10px 0 15px;
}

#StepCompleted { margin:3px 4px 0 0.5em; }

#AdTemplateHelper
{
	background:#fff;
	border-bottom:dotted #ccc 1px;
	font-size:0.9em;
	padding:3px 10px 3px 15px;
}

#AdTemplateHelper p
{
	color:#666;
	float:left;
	font-style:italic;
	margin:1px 0 -1px;
}

#AdTemplateHelper #AddModuleLink
{
	background:url(Images/sprite_ApprovalPage.png) no-repeat scroll -1px -19px transparent;
	color:#666;
	cursor:pointer;
	float:right;
	font-size:0.9em;
    line-height:1.6em;
	padding-left:20px;
	text-decoration:underline;
}

#AdTemplateHelper #HighlightPreviewTools
{
	color:#666;
	float:right;
	margin-right:2em;
}

#AdTemplateHelper #HighlightPreviewTools input
{
	margin:0 0.05em 0 0.25em;
	position:relative;
	top:2px;
}
#FormattedAd #AdTemplate
{
	margin:15px;
}

#FormattedAd #AdTemplate .adPreview span.highlight
{
	background-color:#c1d8df;
	color:#000;
}

#FormattedAd #AdTemplate .module
{
	border:dotted #fff 1px;
	cursor:default;
	padding:0.5em 10px 10px;
	zoom:1;
}

#FormattedAd #AdTemplate .moduleLinks a {
	background:url("Images/sprite_ApprovalPage.png") no-repeat scroll center transparent;
	cursor:pointer;
	display:block;
	float:right;
	height:19px;
	left:6px;
	margin:0;
	overflow:hidden;
	position:relative;
	top:-3px;
	visibility:hidden;
}

#FormattedAd #AdTemplate .moduleLinks a.deleteModuleLink {
	background-position:-1px -293px;
	width:57px;
}

#FormattedAd #AdTemplate .moduleLinks a.editModuleLink {
	background-position:-1px -338px;
	width:45px;
}

#FormattedAd #AdTemplate .moduleLinks a.deleteModuleLink:hover {
	background-position:-1px -315px;
}


#FormattedAd #AdTemplate .moduleLinks a.editModuleLink:hover {
	background-position:-1px -361px;
}

#FormattedAd #AdTemplate .module .buttons
{
	clear:both;
	display:none;
	white-space:nowrap;
}

#FormattedAd #AdTemplate .editMode
{
	border:dashed #ccc 1px;
}

#FormattedAd #AdTemplate .editMode a.editModuleLink, #FormattedAd #AdTemplate .editMode a.deleteModuleLink
{
	display:none;
}

#FormattedAd #AdTemplate .adPreview .editModuleLink
{
	right:3px;
	top:-1px;
}

#FormattedAd #AdTemplate span.header { display:block; line-height:1.5em; }
#FormattedAd #AdTemplate span.blurb { line-height:1.5em; }
#FormattedAd #AdTemplate input.header { margin-top:0.5em; }

.module a.lock, .module a.unlock {
	background:transparent url( Images/sprite_ApprovalPage.png ) no-repeat scroll center; cursor:pointer;
	display:block;float:left; height:24px; margin:0 0 0 3px; overflow:hidden;
}
.module a.lock { background-position:-1px -413px; width:58px; }
.module a.unlock { background-position:-1px -384px; margin-left:5px; width:69px; }
.module a.lock.header, .module a.unlock.header { margin-top:0.5em; }

#AdTemplate .module input.text { float:left; font-family:Arial, Helvetica, Sans-Serif; font-size:10pt; height:22px; margin:0 0 0.25em; padding:0 2px; width:605px; }
#AdTemplate .module input.text.locked { background-color:#ffdddd; border:1px solid #cc3333; }
#AdTemplate .module input.header { margin-bottom:1em; }

#AdTemplate .editMode { background:#f0f0f0; border:dotted #ccc 1px !important; margin-top:3px; }
#AdTemplate .editMode p.paragraph { margin-top:1em; }

#AdTemplate .editMode span.blurb { clear:both; display:block; margin:0.5em 0 0.5em; }

#AdTemplate .module br
{
	line-height:0.3em;
}

#AdTemplate .module .buttons input 
{
	float:right;
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:8pt;
	margin:0.5em 0 0.25em 0;
	position:relative;
	top:5px;
}
#AdTemplate .module .buttons input.done { font-weight:bold; }


#FormattedAd #AdTemplate .adPreview
{
	background:#ebecf5;
	border:dotted #a3a8cf 1px;
	padding:5px 10px 10px;
}

#PreviewLengthWarning {
	color:#C00;
	float:left;
	font-size:0.8em;
	padding-top:0.5em;
	white-space:normal;
	width:501px;
}

#FormattedAd #AdTemplate #PreviewModuleHeader
{
	color:#666;
	font-size:0.8em;
	font-style:italic;
	margin-left:0.5em;
}

#FormattedAd .adFooter
{
	background:#f0f0f0;
	border:dotted #aaa 1px;
	color:#555;
	font-family:"Courier New", Courier, Monospace;
	margin:1em 15px 0.5em;
	padding:5px 10px;
}

#FormattedAd #OptimalMainLabel
{
	display:block;
	margin:0 10px;
}

#AddModuleFormDiv fieldset
{
	border:0;
}

#AddModuleFormDiv fieldset label
{
	font-size:1.1em;
	display:block;
	margin:1em 0 0.25em;
}

#AddModuleFormDiv fieldset input, #AddModuleFormDiv fieldset textarea
{
	background-color:#fff;
	border:solid #ccc 1px;
	font-size:1.1em;
	padding:0.25em;
	width:690px;
}

#AddModuleFormDiv fieldset textarea
{
	height:10em;
}

.ui-dialog .ui-dialog-buttonpane button
{
	font-size:1.1em;
	padding:0 0.5em;
}

#AdPanelFooterTools
{
	background:url("../LazyBoy/images/gradient_lighter_up.jpg") repeat-x left bottom #fff;
	float:right; height:45px; position:absolute; right:1px; top:-46px; width:728px; z-index:550;
}
#AdPanelFooterTools span, #AdPanelFooterTools a { color:#5B5F62; margin-left:25px; text-decoration:none; }
#AdPanelFooterTools span #CreatedOn { font-weight:bold; margin-left:10px; }
#AdPanelFooterTools a.calendar
{
	background: url("Images/sprite_ApprovalPage.png") no-repeat scroll -118px -276px transparent;
	padding-left:18px;
}
#AdPanelFooterTools #expiresDiv { margin-left:15px; }
#AdPanelFooterTools #expiresDiv input { width:80px; }

#Scheduler { background:#fff; border:solid #ccc 1px; left:190px; padding:5px; position:absolute; text-align:center; }
#Scheduler table { margin:5px auto 0; }
#Scheduler td {	text-align:center; }
#Scheduler a { margin:0 !important; }

/* Accordion Panels */

#OptionsPanel
{
	border-top:1px solid #ccc;
	clear:both;
	position:relative;
	z-index:500;
}

.optionset
{
	color:#666;
	float:left;
	margin:5px 20px 15px 15px;
	width:150px;
}

.optionset h4
{
	font-size:1em;
	font-weight:bold;
	margin-bottom:0.5em;
}

.optionset ul
{
	list-style-type:none;
}

#mapped
{
	background-color:#f0f0f0;
	clear:left;
	margin-top:15px;
	padding:10px;
}

#mapped h3
{
	border-bottom:1px solid #ccc;
	font-size:1.1em;
	margin-bottom:10px;
	padding-left:0;
}

#mapped #Remap
{
	color:#86AE7B;
	float:right;
	margin-right:10px;
	text-decoration:underline;
}

.ListedOptions input
{
	display:none;
}

div.photoset
{
	clear:right;
	color:#666;
	float:left;
	width:468px;
}

div.photoset h4
{
	clear:both;
	float:left;
	text-transform:uppercase;
}

div.photoset + div.photoset
{
	border-left:solid #999 1px;
	padding-left:15px;
	width:454px;
}

#phos 
{
	clear:both;
}

/* Approval */

#ApprovalPanel
{
	background:#f4f4f4;
	border:1px solid #ccc;
	border-bottom:0;
	bottom:0;
	clear:left;
	padding:7px 0;
	position:fixed;
	width:977px;
	z-index:5000;
}

#ApprovalPanel p
{
    font-size: 1em;
    line-height: 1.4em;
	margin-left:10px;
}

#ApprovalPanel #approval-actions
{
	float:right;
	width:170px;
}

#ApprovalPanel #approval-actions input
{
    background:url(images/sprite_ApprovalPage.png) repeat-x scroll -1px -76px #fff;
    border:0 none;
    cursor:pointer;
    display:block;
    float:right;
    height:33px;
    margin:2px 15px 0 0;
    overflow:hidden;
    width:143px;
}

#ApprovalPanel #approval-actions input:active
{
	background-position:-1px -110px;
}

#ApprovalPanel #approval-actions input.disabled
{
	background-position:-1px -144px;
	cursor:default;
}

#RewriteAdButton {
    background:url(images/sprite_ApprovalPage.png) no-repeat scroll -1px -178px transparent;
    border:0 none;
    color:transparent;
    cursor:pointer;
    display:block;
    font-size:11px;
    height:23px;
    margin-bottom:6px;
    text-indent:-2000px;
    width:131px;
}

#RewriteAdButton:active {
	background-position:-1px -202px;
}

#RewriteAdButton.red {
	background-position:-1px -226px;
}

#RewriteAdButton.red:active {
	background-position:-1px -250px;
}

/* Option Packages Modal */

#OptionsModalUpdatePanel {
	padding:0 !important;
}

#OptionsModalUpdatePanel.loading {
	background:#fff url(../../Public/Images/Loading.gif) no-repeat scroll center;
	position:relative !important;
}

/* Legacy */

#options {
	background:url("../LazyBoy/images/gradient_lighter.jpg") repeat-x scroll 0 1px #fff;
	border:1px solid #ccc; border-top:0; clear:left; padding:10px 15px; width:947px;
}
#options .panel { display:none; }
#options h3 { background: url("Images/sprite_ApprovalPage.png") no-repeat scroll -126px -307px transparent; padding-left:12px; }
#options h3.open { background-position:-123px -338px; }

.CollapsiblePanel
{
	cursor:pointer;
}

.CollapsiblePanel h3
{
	font-size:1.1em;
	white-space:nowrap;
}

#photos a.edit
{
	color:#86AE7B;
	float:right;
	position:relative;
	text-decoration:underline;
	top:-1.5em;
	z-index:2000;
}

div.choiceForward
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#F8F8F8;
	border:2px solid #19326B;
	border-radius:10px;
	height:480px;
	overflow:auto;
	padding:30px;
	text-align:left;
	width:640px;
}

div.choiceForward a 
{
	font-size:11px;
	text-decoration:underline;
}

div#ChoicePanel h3, div#ChoicePanel h2 
{
	display:block;
	float:none;
}

div#ChoicePanel h3
{
	border-bottom:solid 1px #aaa;
	clear:both;
	margin-top:25px !important;
}

span.EditTime 
{
	float:right;
}

#DescControls 
{
	float:left;
	margin-left:10px;
	width:145px;
}
#DescControls select 
{
	margin:5px 0px 0px;
	width:100%;
	font-size:11px;	
}
#DescControls a 
{
	color:#fff;
	font-size:11px;
}
#DescControls label 
{
	color:#d8e6ff;
	font-size:13px;
}
#DescControls .BigButton label 
{
	color:#666;
	font-size:11px;
}

.LotDetails 
{
	clear:left;
}

.LotDetails span 
{
	color:#666;
	margin:0px 3px 0px 15px;
}

a.BigButton, .BigButton, .LittleButton, .buttonLarge {
	background:transparent url("../LazyBoy/images/button-blank-large.gif") top left no-repeat;
	border:0 none;
	color:#555555;
	cursor:pointer;
	display:block;
	font-size:11px;
	height:25px;
	line-height:24px;
	margin-bottom:6px;
	width:107px;
}

.QuickPackageSearch
{
	background-color:#fff;
	border:solid 1px #999;
	cursor:pointer;
	font-size:0.8em;
	height:300px;
	margin:0 !important;
	overflow:auto;
	overflow-y:scroll;
	/*position:absolute !important;*/
	z-index:10000 !important;
}

.QuickPackageSearch li
{
	padding:0.1em;
	border-bottom:1px solid #e5e5e5;
	display:block;
	}

#quickPackages_lblPackages
{
	color:#385284;
	font-size:16px;
	font-weight:bold;
}

.pkgModal
{
	position:absolute !important;
	top:350px !important;
}

.pkgModal h1
{
	font-size:1.2em;
}

.pkgModal .pkgCode
{
	padding:1em 0;
}

.pkgModal .pkgDesc textarea 
{
	font-family:inherit;
	margin:0.5em 0;
}

.pkgModal .modalButtons
{
	text-align:right;
}
/*
div.modal
{
	background-image:url('images/modalShade.png');
	background-position:left top;
	background-repeat:repeat;
	height:100%;
	left:0;
	padding:60px 40px;
	position:fixed;
	top:0;
	width:100%;
	z-index:10000;
}
*/
#quickPackages_divAdd
{
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background:none repeat scroll 0 0 #fff;
	border-radius:8px;
	overflow:auto;
	width:450px;
}

#divApproveSuccessful, .choiceForward
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#F8F8F8;
	border:2px solid #19326B;
	border-radius:10px;
	margin:0 auto;
	overflow:auto;
	padding:30px;
	position:relative;
	text-align:center;
	top:100px;
}

#divApproveSuccessful
{
	background:#fff url(Images/green-checkmark-150x150.jpg) no-repeat scroll bottom right;
	border:solid #333 1px;
	height:360px;
	text-align:left;
	width:640px;
}

#divApproveSuccessful h1
{
	border-bottom:solid #17367e 1px;
	color:#17367e;
	font-size:1.5em;
	font-weight:normal;
}

#divApproveSuccessful p
{
	font-size:1.2em;
	margin:2em 0;
}

#ApprovalModalPanel, #ChoicePanel
{
	background-color:#333;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:999999;
}

#ApprovalModalPanel a {
	background:transparent url(Images/buttons_YesNo.png) no-repeat scroll top left;
	display:block;
	float:left;
	height:23px;
	margin-right:0.5em;
	overflow:hidden;
	text-indent:-99999px;
	width:100px;
}

#ApprovalModalPanel #btnApproveSuccessfulYes {
	background-position:0 0;
}

#ApprovalModalPanel #btnApproveSuccessfulYes:active {
	background-position:0 -24px;
}

#ApprovalModalPanel #btnApproveSuccessfulNo {
	background-position:0 -48px;
}

#ApprovalModalPanel #btnApproveSuccessfulNo:active {
	background-position:0 -72px;
}

#noticeDiv
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#F8F8F8;
	border:2px solid #19326B;
	border-radius:10px;
	overflow:auto;
	padding:30px;
	width:475px;
	text-align:center;
}

#spanDisplayCertifiedID 
{
	position:absolute;
	margin-top:-3px;
}

#spanDisplayCertifiedID input
{
   padding:0;
}

#spanCertifiedID
{
	display:none;
}

.certifiedID
{
	width:115px; font-size:9pt; position:absolute;
}