﻿/* HOME PAGE */

#tomcatSessionImages { height:0; overflow:hidden; width:0; }

#HomePageTopPanel { background:#fff; border:solid #ddd 1px; margin:0; }

#InventorySummary { clear:both; padding:0.75em 0 1em; text-align:center; }
#InventorySummary h3 { color:#485774; display:inline; font-size:1.2em; font-weight:bold; margin-right:1em; }

#BucketsContainer {
	-moz-border-radius:8px; -webkit-border-radius:8px; background:url("../LazyBoy/images/gradient_lighter_up.jpg") repeat-x scroll left top #F0F0F0;
    border:1px solid #ccc; border-radius:8px; margin:10px auto 0; text-align:left; width:468px;
}
#BucketsContainer h4 { color:#485774; float:left; font-size:1.2em; margin:0.5em 0 0 15px; }
#BucketsContainer ul { clear:both; padding:0.4em 15px 0.75em 25px; }
#BucketsContainer ul li {
	background:transparent url(../../Themes/MaxMvc/Images/sprite_BucketIcons.png) no-repeat scroll 0 3px;
	float:left; list-style-type:none; width:50%;
}
#BucketsContainer ul li.active { font-weight:bold; }
#BucketsContainer ul li a { color:#555; display:block; height:24px; line-height:24px; padding:0 0 0 28px; text-decoration:none; }
#BucketsContainer ul li a:hover { text-decoration:underline; }
#BucketSectionLinks { float:right; }
#BucketSectionLinks a { color:#555; float:right; font-size:0.9em; line-height:0.9em; margin:8px 10px 0 0; }

#BucketsContainer .CreateInitialAd { background-position:0 -602px; }
#BucketsContainer .OutdatedPrice { background-position:0 4px; }
#BucketsContainer .DueForRepricing, #BucketsContainer .OverPriced, #BucketsContainer .UnderPriced { background-position:0 -356px; }
#BucketsContainer .NoPrice { background-position:0 -428px; }
#BucketsContainer .EquipmentNeeded, #BucketsContainer .OptimizedEquipmentNeeded { background-position:0 -211px; }
#BucketsContainer .NoPhotos, #BucketsContainer .OptimizedNoLowPhotos { background-position:0 -140px; }
#BucketsContainer .LowActivity { background-position:0 -247px; }
#BucketsContainer .Offline { background-position:1px -32px; }
#BucketsContainer .TrimNeeded { background-position:0 -641px; }
#BucketsContainer .BookValueNeeded { background-position:1px -103px; }
#BucketsContainer .MissingKeyInformation { background-position:1px -322px; }
#BucketsContainer .NoPackages { background-position:0 -744px; }
#BucketsContainer .NoCarfax { background-position:0 -711px; }

#AgeFiltering {
    margin-bottom:0.5em;
    text-align:center;
}

#AgeFiltering input {
	font-size:0.9em;
	width:154px;
}

.nowShowingLabel, .nowShowingCount, .preNowShowing {
    float:left;
    font-size:1.2em;
    font-weight:bold;
	margin:5px 0 0 2px;
}

.stockSearch {
    display:inline;
    float:right;
    vertical-align:top;
}

#InventoryList {
	border-color:#ddd;
	border-style:solid;
	border-width:0 1px 1px;
	margin:0 0 10px;
}

#InventoryGridView {
	background:url("../LazyBoy/images/gradient_light.jpg") repeat-x scroll 0 1px #fff;
	padding:4px 10px 2px;
}

#InventoryGridBox2 {
	clear:both;
}

#InventoryTable {
	border:solid #e7e7e7 1px;
	font-size:0.9em;
	margin:0.5em 0;
	position:static;
	table-layout:fixed;
	width:954px;
}

#InventoryTable .noResultsDiv {
	padding:30px;
}

#InventoryTable tr
{
	display:block;
	position:relative;
}

#InventoryTable tr.odd {
	background:#fff;
}

#InventoryTable tr.even {
	background:#f0f0f0;
}

#InventoryTable td {
	border-bottom:solid #e7e7e7 1px;
	font-size:1.1em;
	padding:3px 0;
	text-align:center;
	vertical-align:top;
}

#InventoryTable .AgeCol {
	font-size:0.8em;
	line-height:1em;
	padding-top:7px;
}

#InventoryTable .listViewHeader th {
	background:#698acd;
	border:solid #698acd 1px;
	color:#fff;
	padding:3px 0;
	white-space:nowrap;
}

#InventoryTable .listViewHeader th a {
	color:#fff;
}

#InventoryTable .listThumbnail img {
    display:block;
    height:60px;
    width:80px;
}

#InventoryTable ul.vehicleSubInfo {
	clear:left;
	font-size:0.9em;
}

#InventoryTable ul.vehicleSubInfo, #InventoryTable ul.maxLinks {
	list-style-type:none;
}

#InventoryTable ul.vehicleSubInfo li, #InventoryTable ul.maxLinks li {
	display:block;
	float:left;
	margin-left:0.25em;
}

#InventoryTable ul.vehicleSubInfo li {
	margin-right:1em;
}

#InventoryTable ul.maxLinks { clear:left; float:right; visibility:hidden; }
#InventoryTable ul.maxLinks li { float:left; }
#InventoryTable ul.maxLinks li a {
	background:transparent url(../../Themes/MaxMvc/Images/sprite_BucketIcons.png) no-repeat scroll 0 0;
	color:#5B5F62; display:inline-block; height:16px; overflow:hidden; text-decoration:none; width:24px;
}
#InventoryTable ul.maxLinks li a.needsEquipment { background-position:-2px -215px; width:18px; }
#InventoryTable ul.maxLinks li a.equipment { background-position:-2px -500px; width:18px; }
#InventoryTable ul.maxLinks li a.needsPhotos { background-position:0 -144px; }
#InventoryTable ul.maxLinks li a.photos { background-position:0 -538px; }
#InventoryTable ul.maxLinks li a.needsPricing { background-position:-3px -431px; width:18px; }
#InventoryTable ul.maxLinks li a.pricing { background-position:-3px -574px; width:18px; }
#InventoryTable ul.maxLinks li a.needsApproval { background-position:-4px -606px; width:16px; }
#InventoryTable ul.maxLinks li a.approval { background-position:-4px -676px; width:16px; }
#InventoryTable ul.maxLinks li a.outdatedPrice { background-position:-3px 0; width:18px; }
#InventoryTable ul.maxLinks li a.maxSELink { background-position:0 -466px; }
#InventoryTable ul.maxLinks li a.lowActivity { background-position:0 -250px; }
#InventoryTable ul.maxLinks li a.move { background:none; height:auto; position:relative; top:1px; width:auto; }
#InventoryTable ul.maxLinks li a span { display:none; }

#InventoryTable .vehicleColumnContainer {
	text-align:left;
}

#InventoryTable .vehicleColumnContainer span.color {
	font-size:0.9em;
	float:right;
	margin-right:5px;
	text-align:right;
}

#InventoryTable .vehicleLink {
	color:#993333;
	display:block;
	float:left;
	font-family:"Trebuchet MS", Trebuchet, Arial, Helvetica, Sans-Serif;
	font-size:1.4em;
	text-decoration:none;
}

#InventoryTable .vehicleLink:hover {
	text-decoration:underline;
}

#InventoryTable a.stockNumber {
	display:inline-block;
	font-size:0.9em;
	margin-bottom:0.25em;
}

#InventoryTable .neverPostedWarning {
	background:transparent url(../../Themes/MaxMvc/Images/sprite_BucketIcons.png) no-repeat scroll -4px -606px;
	height:16px; margin:0.25em auto 0; width:16px;
}

#InventoryTable .workbookCkb {
	white-space:nowrap;
}

#InventoryTable .workbookCkb label {
    font-size:0.8em;
    margin:0 2px;
    position:relative;
    top:-2px;
}

#InventoryTable div.overlay
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background:#fff;
	border:solid #999 1px;
	filter:alpha(opacity=80) !important;
	left:0;
	opacity:0.8 !important;
	position:absolute;
	width:945px;
	z-index:99999;
}

#InventoryTable div.overlay p
{
	font-style:italic;
	margin-top:1.5em;
}

#InventoryTable div.overlay
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background:#fff;
	border:solid #999 1px;
	filter:alpha(opacity=80) !important;
	left:0;
	opacity:0.8 !important;
	position:absolute;
	width:945px;
	z-index:99999;
}

#InventoryTable div.overlay p
{
	font-style:italic;
	margin-top:1.5em;
}

#ReportsPane, #ctl00_WorkArea_ReportsPane {
    -moz-border-radius:0 0 8px 8px;
    -webkit-border-radius:0 0 8px 8px;
    background:#f0f0f0;
    border:solid #e7e7e7 1px;
    border-radius:0 0 8px 8px;
    border-top:0;
    clear:left;
    float:right;
    font-size:0.9em;
    margin-bottom:-6px;
    padding:2px 2px 2px 10px;
    position:relative;
    top:-6px;
    text-align:right;
}

#CustomPager, #ctl00_WorkArea_CustomPager {
    clear:right;
    padding:5px;
}

.gridViewRowCount {
    clear:left;
    float:left;
    font-size:1.1em;
    margin-top:5px;
    width:240px;
}

.gridPager {
    float:right;
    margin-top:5px;
}

#errors {
    background:none repeat scroll 0 0 #FFDDDD;
    border:1px solid #FF3333;
    color:#CC3333;
    margin:0;
    padding:4px;
    text-align:center;
}

/* modal dialog css */

iframe#progress {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    background:none repeat scroll 0 0 #fff;
	filter:alpha(opacity=80) !important;
    left:30%;
	opacity:0.8 !important;
    padding:80px;
    position:absolute;
    top:0 !important;
    z-index:100000;
}

.autoLoadButton {
    font-size:0.8em;
    margin:2px auto 4px;
    width:60px;
}

.autoLoadStatus
{
   font-size:0.8em;
}
/* IE6 Support Modal */

#IE6Support { height:auto !important; }
#IE6Support #IEUpgrade a, #IE6Support #FirefoxInstall a, #IE6Support #ChromeInstall a {
	background:transparent url(../../Public/Images/sprite_BrowserUpgrades.png) scroll no-repeat top left;
	display:block;
	height:120px;
	text-decoration:none;
	width:120px;
}

#IE6Support #FirefoxInstall a { background-position:0 -121px; }
#IE6Support #ChromeInstall a { background-position:0 -242px; }

.ie6modal { color:#5b5f62; }
.ie6modal h1 { font-size:1.4em; line-height:1.7em; }
.ie6modal p { clear:both; font-size:0.9em; margin:0.5em 0; }
.ie6modal a { color:#355FAB; font-weight:bold; }
.ie6modal ul { margin:1em auto 0.75em; text-align:center; width:400px; }
.ie6modal li { float:left; list-style-type:none; margin:0 0.5em; }

/* Legacy CSS */

.gridPager {
    float:right;
    margin-top:5px;
}

.gridPager a, .gridPager a:visited, .gridPager span {
	background-color:#E0E0E0;
	border:1px solid #D0D0D0;
	color:#777777;

	margin-left:5px;
	padding:1px 5px;
	text-decoration:none;
	display:inline-block;
}

.gridPager span 
{
    background-color:#fff;
    border:0 none;
    color:#333;
    font-size:1.1em;
    font-weight:bold;
}

.gridPager a:hover, .gridPager a:visited:hover 
{
    background-color:#f0f0f0;
}
