﻿
#PackageContent { background:#fff; border:1px solid #ddd; font-size:1em; margin:0; padding:0 10px 10px 10px; position:relative; }
#PackageContent #TrimWidget { margin:0 0 10px; font-size:1.2em; }
#PackageContent #TrimWidget select { margin:0 1em 0 0.5em; }
#PackageContent h3 { font-size: 1.2em; margin:1.5em 0 0.5em; }

#PackageContent #StepCompleted { position:absolute; right:0; top:0px; }
#PackageContent #StepCompletedHelpMsg { position:absolute; right:10px; top:30px; }

#PackageContent .section { background:#f0f0f0; border:1px solid #ccc; padding:1em 1em 0.5em; }

#PackageContent a.deleteLink  {
	background:url(Images/sprite_ApprovalPage.png) no-repeat scroll -133px -425px transparent;
	display:block; height:12px; margin:0 auto; text-decoration:none; width:12px;
}
#PackageContent p.dealerOption a.deleteLink { display:inline-block; left:1px; position:relative; top:1px; }

#PackageContent #Colors .fieldLabelPair { padding-bottom:0.5em; }
#PackageContent #Colors .fieldLabelPair label { display:inline-block; width:100px; }

#PackageContent .plain { margin:1.5em 0 0 10px; }

#LoadPackagesTabset { margin-top:25px; }
#LoadPackagesTabset #LoadPackagesTabs { list-style-type:none; }
#LoadPackagesTabset #LoadPackagesTabs li { float:left; }
#LoadPackagesTabset #LoadPackagesTabs li a {
	-moz-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; 	background:#fff; border:solid #ccc 1px;
	border-radius:6px 6px 0 0; border-bottom:0; cursor:pointer; display:block; float:left; margin:0 0.25em 0 0;
	padding:0.5em 1em 0.25em 1em; text-decoration:underline;
}
#LoadPackagesTabset #LoadPackagesTabs li a.selected {
	background:#f4f4f4; border-bottom:solid #f4f4f4 1px; color:#5B5F62; cursor:default; font-weight:bold;
	margin-bottom:-1px; position:relative; text-decoration:none; z-index:10000;
}

#LoadPackagesTabset .tabContent { background:#f4f4f4; border:solid #ccc 1px; clear:both; padding:0 10px 10px; }

#LoadPackagesTabset table { background:#fff; border:solid #ccc 1px; width:100%; }
#LoadPackagesTabset table.possible { margin-top:0.25em; }
#LoadPackagesTabset table th { background-color:#6b8ace; border:solid #6b8ace 1px !important; color:#fff; }
#LoadPackagesTabset table th, #LoadPackagesTabset table td { padding:0.25em 0.5em; }
#LoadPackagesTabset table input.text, #LoadPackagesTabset table textarea {
	color:#5B5F62; font-family:"Trebuchet MS",Trebuchet,Arial,sans-serif !important; font-size:1.1em; width:770px;
}
#LoadPackagesTabset table .opCol { text-align:left; }

#LoadPackagesTabset .searchForm h4 { float:left; font-size:1em; font-weight:normal; margin:0 0.25em 0 88px; }

#LoadPackagesTabset #PackageSearchDiv { padding-bottom:0.5em; }
#LoadPackagesTabset #PackageSearchDiv label { margin-left:20px; }
#LoadPackagesTabset #PackageSearchDiv .text { width:530px; }

#LoadPackagesTabset .noResultsDiv { color:#CC3333; width:100%; }

