﻿
#EquipmentContent {
	background:#fff;
	border:1px solid #ddd;
	font-size:1em;
	margin:0;
	padding:10px;
}

#EquipmentContent #TrimWidget {
	margin:0 0 10px;
	font-size:1em;
}

#EquipmentContent #TrimWidget select {
	margin:0 1em 0 0.5em;
}

#EquipmentContent h3 {
	font-size: 1.2em;
	margin:1.5em 0 0.5em;
}

#EquipmentContent .section {
	background:#f0f0f0;
	border:1px solid #ccc;
	padding:1em 1em 0.5em;
}

#EquipmentContent #Colors .fieldLabelPair {
	padding-bottom:0.5em;
}

#EquipmentContent #Colors .fieldLabelPair label {
	display:inline-block;
	width:100px;
}

#EquipmentContent #VehicleConfiguration ul {
	list-style-type:none;
}

#EquipmentContent .plain {
	margin:1.5em 0 0 10px;
}

#StepCompleted {
	margin:1px 0 0 1em;
}

/* Legacy CSS */

.colorDropDownList {
	background:#fff;
	border:1px solid #999;
	padding:5px;
	position:absolute;
	margin-left:100px;
	list-style:none;
}

.colorDropDownList li {  
	position:relative;
	width:auto;
	padding-bottom:1px;
}

.colorDropDownList a {
	padding-left:5px;
}

.colorSelectionLabel {
	background:url(../LazyBoy/images/droparrow.gif) no-repeat scroll right center #fff;
	padding-left:5px;
	display:inline-block;
	padding-right:30px;
	border:solid 1px #99c;
	color:#000;
}

.Stds {
    background:url("../LazyBoy/images/expand_blue.jpg") no-repeat scroll 1px 5px transparent;
    border-bottom:1px solid #aaa;
    clear:left;
    cursor:pointer;
    padding:3px 10px 3px 20px;
}

.Features ul {
    display:block;
    float:left;
    margin:0 0.5em 1em 0;
    width:23%;
}

.section h5 {
	font-size:1em;
}
