﻿
#banner h1
{
	background:transparent url(Images/logo_MaxAd.png) no-repeat top left;
	float:left;
	height:30px;
	margin-top:5px;
	overflow:hidden;
	text-indent:-10000em;
	width:373px;
}

#HeaderWidgets
{
	float:right;
	margin-top:3px;
	text-align:right;
}

#MainNavigation
{
	background-color:#3e436d;
	border-bottom:1px solid #346d24;
	clear:left;
	color:#bfdbb7;
	font-size:90%;
	height:30px;
	margin:10px 0 1px 0;
}

#MainNavigation a {
	color:#eee;
}

#MainNavigation #MainNavList
{
	float:left;
	margin:1px 0 0 7px;
}

#MainNavigation #MainNavList li
{
	display:block;
	float:left;
	font-size:12pt;
	font-weight:normal;
	height:28px;
	line-height:21pt;
	padding:0 5px;
	margin:0;
}

#MainNavigation #divSearch
{
	float:right;
	margin:2px 20px 0 0;
}

#MainNavigation .bulkUpload 
{
	background:transparent url("Images/button_BulkUpload.png") 0 1px no-repeat;
	color:#ddd;
	display:inline-block;
	height:24px;
	float:right;
	font-size:9pt;
	font-weight:bold;
	line-height:10pt;
	margin:2px 20px 0 0;
	padding-left:27px;
	position:static;
	text-align:left;
}

#MainNavigation a.chevron, #MainNavigation a.first
{
	margin:0;
	padding:0;
	overflow:visible;
	cursor:pointer;
	font-weight:normal;	
	color:#9aaccd;
	text-transform:uppercase;		
	display:inline-block;
	vertical-align:middle;
	border:none;
	background-color:transparent;
	text-align:left;
	font-size:14px;
	
}

#MainNavigation a.chevron 
{	
	padding:0px 30px;
}

#MainNavigation li.current
{
	background-color:#3F76DB;
}

#MainNavigation li.current a {
	color:#fff;
	font-weight:bold;	
}

#MainNavList li.menuHead { background:transparent url(Images/icon_NavMenuArrows.png) no-repeat scroll 100% 13px; margin-right: 0.5em !important; position:relative; }
#MainNavList li.menuHead a { cursor:default; padding-right:0.5em; text-decoration:none;  }
#MainNavList li.menuHead ul { background:#3e436d; height:auto; left:0; position:absolute; top:1.5em; z-index:9999; }
#MainNavList li.menuHead ul li { clear:left; display:block; margin:0 !important; padding:0 !important; white-space:nowrap; width:100%; }
#MainNavList li.menuHead ul li a { display:block; padding:0.5em 0.5em 0.6em 0 !important; text-indent:7px; }

#MainNavList li.menuHead a:hover { text-decoration:none; }
#MainNavList li.menuHead ul li { border-top:solid #f0f0f0 1px; font-size:0.8em !important; list-style-type:none; }
#MainNavList li.menuHead ul li a { cursor:pointer; color:#fff !important; line-height:1.2em; }
#MainNavList li.menuHead ul li a:hover { background:#f0f0f0; color:#333 !important; }

/* modal dialog css */

.ui-widget-overlay
{
	background:#000 url() no-repeat scroll 0 0 !important;
	left:0;
	opacity:0.6 !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60) !important;
	position:absolute;
	top:0;
}