﻿/* CSS Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border:0;
    margin:0;
    padding:0
}

html {
	background:url("images/gradient_lighter.jpg") repeat-x scroll center top #fff;
    overflow-y:scroll;
}

body {
    color:#5b5f62;
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:9pt;
}

a {
	color:#355FAB;
	outline:0;
}

a:active {
	color:#C00;
}

.bold {
	font-weight:bold;
}

.red {
	color:#cc3333 !important;
}

.green {
	color:green !important;
}

.greyed {
	color:#999;
}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     clear:both;
     content:" ";
     display:block;
     font-size:0;
     height:0;
     visibility:hidden;
}
.clearfix {
	display:inline-block;
}
/* start commented backslash hack \*/
* html .clearfix
{ height:1%; }
.clearfix
{ display:block; }
/* close commented backslash hack */

.clearLeft {
    clear:left;
}

.clearRight {
    clear:right;
}

.clear {
    clear:both;
}

.error {
    color:#C00;
    line-height:1em
}

.floatLeft {
	float:left;
}

.floatRight {
	float:right;
}

.alignCenter {
	text-align:center !important;
}

.alignLeft {
	text-align:left !important;
}

.alignRight {
	text-align:right !important;
}

.dotted {
	border-style:dotted !important;
}

/* Shell */

#Container {
	margin:0 auto;
	padding:0;
	position:relative;
	width:999px;
}

#Content {
	background:#f4f4f4;
	margin:0 auto;
	padding:10px;
}

/* Workflow Header */

#Header { margin:1px 0 0; }

.mastheadLogo {
	background:transparent url( ../../Themes/MaxMvc/Images/sprite_Logos.png ) no-repeat scroll 0 6px;
	height:30px; float:left; padding-bottom:0.35em; text-indent:-5000px; width:345px;
}

#UserLinks { float:right; margin-top:3px; }
#UserLinks li { background:transparent url( ../../Themes/MaxMvc/Images/sprite_Header.png ) no-repeat scroll 0 -167px; display:inline; padding:0 0.25em 0 0.75em; }
#UserLinks li.first { background:none; padding-right:0.5em; }
#UserLinks li a { color:#999; font-size:0.9em; position:relative; text-decoration:none; text-transform:uppercase; top:-1px; }
#UserLinks li a:hover { text-decoration:underline; }
#UserLinks li a.dealerSelector {
	background:transparent url( ../../Themes/MaxMvc/Images/sprite_Header.png ) no-repeat scroll right -62px; font-weight:bold; padding-right:12px;
}

#Header #MainNavigation {
    background-color:#3e436d;
    border-bottom:1px solid #3e436d;
    clear:left;
    color:#BFDBB7;
    height:29px;
    margin:0;
}

#Header #MainNavigation a {
	color:#fff;
}

#Header #MainNavigation #MainNavList {
    float:left;
    list-style-type:none;
    margin:1px 0 0 12px;
}

#Header #MainNavigation #MainNavList li {
	float:left;
	margin:1px 1em 0 0;
}

#Header #MainNavigation #MainNavList a {
    font-size:1.2em;
    line-height:1.8em;
    text-decoration:none;
}


#MainNavList li.menuHead { background:url("../../Themes/MaxMvc/Images/sprite_Header.png") no-repeat scroll right -29px transparent; position:relative; }
#MainNavList li.menuHead a { cursor:default; padding-right:1em; text-decoration:none;  }
#MainNavList li.menuHead ul { background:#3e436d; border-bottom:solid #3e436d 1px; display:none; left:0; position:absolute; top:2em; z-index:2000; }
#MainNavList li.menuHead ul li { border-top:solid #f0f0f0 1px; font-size:0.8em; list-style-type:none; margin-right:0 !important; white-space:nowrap; width:100%; }
#MainNavList li.menuHead ul li a { cursor:pointer; color:#fff !important; line-height:1.2em; padding:0.1em 0.5em !important; display:block; }
#MainNavList li.menuHead a:hover, #MainNavList li.menuHead a:hover { text-decoration:none; }
#MainNavList li.menuHead ul li a:hover { background:#f0f0f0; color:#333 !important; }

#Header #MainNavigation #divSearch {
    float:right;
    margin:3px 6px 0 0;
}

#Header #MainNavigation .bulkUpload {
    background:url( ../../Themes/MaxMvc/Images/sprite_Header.png ) no-repeat scroll 2px 2px transparent;
    color:#eee;
    display:inline-block;
    float:right;
    font-size:0.9em;
    font-weight:bold;
    height:24px;
    line-height:1.1em;
    margin:2px 14px 0 0;
    padding-left:27px;
    position:static;
    text-align:left;
    text-decoration:none;
}

/* Workflow Selector */

#WorkflowMenu {
	float:left;
	padding:0 0 0 12px;
}

.menu2 {
    background:url("../LazyBoy/images/topshadow-tall.gif") repeat-x scroll center top transparent;
    color:#555555; border-bottom:solid 1px #888888;
}

#WorkflowMenu li { background:url(../../Themes/MaxMvc/Images/sprite_Header.png) no-repeat scroll 0 -159px transparent; display:block; float:left; }
#WorkflowMenu li.first { background:none; }
#WorkflowMenu li.first a { padding-left:0; }

#WorkflowMenu li a { color:#555; display:inline-block; font-size:1.1em; line-height:24px; padding:2px 0.75em 1px; text-decoration:none; }
#WorkflowMenu li a.active { font-weight:bold; }
#WorkflowMenu li a:hover { color:#000; }

#WorkflowMenu li a.needsEquipment { background:url(../../Themes/MaxMvc/Images/sprite_Header.png) no-repeat scroll right -190px transparent; padding-right:1.75em; }
#WorkflowMenu li a.needsPhotos { background:url(../../Themes/MaxMvc/Images/sprite_Header.png) no-repeat scroll right -254px transparent; padding-right:1.85em; }
#WorkflowMenu li a.needsPricing { background:url(../../Themes/MaxMvc/Images/sprite_Header.png) no-repeat scroll right -222px transparent; padding-right:1.85em; }
#WorkflowMenu li a.approval { background:url(../../Themes/MaxMvc/Images/sprite_Header.png) no-repeat scroll right -287px transparent; padding-right:1.75em; }

.divNavigator { float:right; margin-top:6px; padding-right:9px; }
.divNavigator a {
	background:url(../../Themes/MaxMvc/Images/sprite_Header.png) no-repeat scroll 2px -327px transparent;
	display:inline-block; height:16px; text-decoration:none; width:12px;
}
.divNavigator a.next { background-position:-14px -327px; }
.divNavigator span.count { font-weight:bold; }

/* Inventory Item View */

#InventoryItem {
	position:relative;
	z-index:1001;
}

.inventoryData {
	font-size:1em;
	margin:10px 10px 5px;
}

.inventoryData .stockDisplayBox {
	float:right;
	text-align:right;
	width:140px;
}

.inventoryData .stockDisplay {
	display:inline-block;
	float:right;
	font-size:1.2em;
	margin-bottom:0.25em;
}

.inventoryData .statusLabel {
    color:#303563;
	font-family:"Trebuchet MS", Trebuchet, Arial, Helvetica, Sans-Serif;
    font-size:1.5em;
}

.inventoryData .smallLabel, .inventoryData .dataValue {
	margin-right:1em;
}

.inventoryData .dataValue {
	font-weight:bold;
}

#WorkflowStatusIcons { clear:right; float:right; width:120px; }
#WorkflowStatusIcons ul { padding-bottom:0.25em; }
#WorkflowStatusIcons ul li {
	background:url(../../Themes/MaxMvc/Images/sprite_BucketIcons.png) no-repeat scroll 0 0 transparent;
	display:block; float:right; height:16px; width:18px;
}
#WorkflowStatusIcons ul li.lowActivity { background-position:-1px -250px; width:22px; }
#WorkflowStatusIcons ul li.needsEquipment { background-position:-1px -215px; width:22px; }
#WorkflowStatusIcons ul li.needsPhotos { background-position:2px -144px; width:28px; }
#WorkflowStatusIcons ul li.needsPricing { background-position:-3px -431px; width:18px; }

.inventoryData #printWindowStickerLink { clear:right; float:right; position:relative; top:-2px; white-space:nowrap; }

#warning, .warning
{
	background:#ffffcc;
	border:solid #ffcc66 1px;
	clear:both;
	color:#a66100;
	display:block;
	font-weight:bold;
	line-height:18pt;
	margin:0 0 5px;
	padding:5px 10px 3px 10px;
	text-align:center;
}

#warning input, .warning input
{
	font-size:8pt;
	font-weight:normal;
	margin-top:-2px;
}

/* Content */

.saveButton {
	float:right;
	margin:0 0 0 1em;
}

#StepCompleted {
	float:right;
	height:22px;
	margin:6px 10px 0 1em;
	padding:2px 6px 0 2px;
	position:relative;
}

#StepCompleted label {
	left:-1px;
	position:relative;
	text-transform:uppercase;
	top:-2px;
}

#StepCompleted .loading {
	background:#fff url(../../Public/Images/loading_small.gif) no-repeat scroll center;
	height:24px; /* Height of #StepCompleted plus its vertical padding */
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
/*
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	border:solid #fff 1px;
	filter:alpha(opacity=60) !important;
	opacity:0.6 !important;
*/
.complete {
	background-color:#449944;
	color:#fff;
}

/* Print Window Sticker pop-up */

.quickBuildRunningStatus { position:relative; }
.quickBuildRunningStatus .closeLink
{
	background:transparent url(../LazyBoy/images/closeX.gif) no-repeat scroll top left; cursor:pointer; display:block;
	float:right; height:16px; text-indent:-5000px; width:16px;
}

#stickerControls {
	position:absolute; right:0; top:75px; z-index:100000; border:solid 1px #999; background:#fff;
    padding:0.5em 1em 1em; width:320px;
}

#stickerControls .lastPrintedMessage
{
	color:#888;
	margin-bottom:0.5em;
	text-align:center;
}

#stickerControls .fieldLabelPair
{
	clear:both;
	margin-bottom:0.5em;
}

#stickerControls .fieldLabelPair label
{
	display:block;
	float:left;
	width:100px;
}

#stickerControls .selectSheets
{
	clear:both;
	margin:1em 0;
}

#stickerControls .selectSheets label
{
	margin:0 1em 0 0.5em;
}

#stickerControls .sectionButtons
{
	float:right;
}

#stickerControls .noPrint
{
	clear:both;
}

#stickerControls .error
{
	color:#cc3333;
	clear:both;
}

/*for trim help*/

.trimHelperHolder 
{
	background:#DDD none repeat scroll 0 0;
	border:1px solid #555555;
	left:10px;
	position:absolute;
	text-align:center;
	top:45px;
	max-width:920px;
	z-index:999999;
}

.trimHelperHolder p span 
{
	margin-left:10px;
	font-weight:bold;
	color:#222288;
}

.discCloser, .discCloser:link, .discCloser:hover, .discCloser:visited
{
	float:right;
	font:bold 22px/24px Verdana, sans;
	color:#355fab;
}

.trimHelperHolder h3 
{
	text-align:left;
	font-style:italic;
	font-size:18px;
	line-height:22px;
	color:#555;
	padding:4px;
}

.trimHelp table
{
	width:100%;
	overflow:scroll;
}

.trimHelp th
{
	background:#485775;
	color:#fff;
}

.CheckedCell 
{
	background-image:url('images/checkGreen.gif');
	background-repeat:no-repeat;
	background-position:center center;
	
}

.descCol 
{
	text-align:left;
	padding:1px 5px;
}

.StyleColumn 
{
	background:#485775;
	color:White;
	width:85px;
	font-size:12px;
}

.CategoryColumn 
{
	background:#485775;
	color:White;
	width:200px;
	font-size:12px;
}

.trimHelp tr.even
{
	background-color:#fff;
}

.trimHelp tr.odd
{
	background-color:#f8f8f8;
}

/* Autoload */

.autoLoadWorking /* autoload spinner (width & height should match .autoLoadButton above) */
{
	background:url(../../Public/Images/loading_small.gif) no-repeat scroll 50% 50% transparent;
	display:none;
	height:21px;
	margin:2px auto 4px;
	padding:0;
	text-align:center;
	width:60px;
}

.pleaseWaitPanel {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-color:#fff;
	border:solid #ccc 1px;
    border-radius:6px;
	color:#666;
	filter:alpha(opacity=85);
	left:-1px;
	opacity:0.85;
	overflow:hidden;
	position:absolute;
	top:-1px;
	width:100%;
	z-index:10000;
}

.pleaseWaitPanel p {
	background:#fff url(../../Public/Images/loading.gif) no-repeat scroll left center;
	display:block;
	height:52px;
	line-height:52px;
	margin:0 auto;
	padding-left:38px;
	width:100px;
}


/* modal dialog css */

.ui-widget-overlay
{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	background:#000 url() no-repeat scroll 0 0 !important;
	filter:alpha(opacity=60) !important;
	height:100%;
	left:0;
	opacity:0.6 !important;
	position:absolute;
	top:0;
	width:100%;
	z-index:10000 !important;
}

.ui-dialog 
{
	z-index:10001 !important;
}

.modal {
    background:url("../LazyBoy/images/modalShade.png") repeat scroll 0 0 transparent;
    height:100%;
    left:0;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    z-index:999999;
}

.modalBod {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
    background:none repeat scroll 0 0 #fff;
    border:solid #333 1px;
    border-radius:6px;
    margin:100px auto;
    padding:0 20px;
    position:relative;
    width:500px;
}

.modalBod input {
    margin-left:5px;
}

.modalBod input.floatRight {
    margin-top:20px;
}

.modalBod .loginList {
    margin-bottom:10px;
}

.modalBod .loginList h2 {
    margin:20px 0;
    text-align:left;
}

.modalBod .loginList h3 {
    margin-bottom:1em;
}

.modalBod .actions {
    padding:1em 0 0;
    text-align:right;
}

.modalBod .actions label {
    display:block;
    margin-bottom:1em;
    text-align:left;
}

.modalBod .warning {
    color:#cc3333;
    font-weight:bold;
    margin:1em 0 1em;
}

.modalBod .fieldLabelPair {
	margin-bottom:0.5em;
}

.modalBod .fieldLabelPair label {
	display:inline-block;
	width:70px;
}

.modalBod .report {
	margin:2em 0 2em;
}

/* Special effects */

.shadow {
  background:url(Images/shadowAlpha.png) no-repeat bottom right; float:left;
}

.shadow .shadowed {
  background:#fff; border:solid #b3b3b3 1px; cursor:default; margin:0 6px 6px 0;
}