﻿
.adminContent { padding:0 15px 15px; }
.adminContent h2 { margin-bottom:0.5em; }
.adminContent h3, .adminContent h4 { clear:both; padding:1em 0 0.5em 0; }

#DealerSelector { padding:1em 0 1.5em 1em; }

/*Tabs */

#Tabset {
	margin:1em 0 0;
}

#Tabset .ui-tabs {
	list-style-type:none;
}

#Tabset .ui-tabs li.ui-tab {
	float:left;
}

#Tabset .ui-tabs li.ui-tab input {
	background:url("../../Themes/MAX3.0/Images/sprite_Gradients1.png") repeat-x scroll 0 -190px #E5E5E5;
	float:left;
}

#Tabset .ui-tabs li input {
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	background:#f3f3f3;
	border:solid #ddd 1px;
	border-radius:3px 3px 0 0;
	border-bottom:0;
	color:#333;
	cursor:pointer;
	display:block;
	float:left;
	margin:0 0.25em 0 0;
	padding:0.25em 1em 0.25em 1em;
	text-decoration:none;
}

#Tabset .ui-tabs li.ui-tab-active input {
	background:#fff;
	border-bottom:solid #fff 1px;
	color:#333;
	cursor:default;
	font-weight:bold;
	margin-bottom:-1px;
	position:relative;
	text-decoration:none;
	z-index:10000;
}

#Tabset .ui-tab-content {
	background:#fff;
	border:solid #ddd 1px;
	clear:both;
	height:100%;
	padding:0 10px 10px;
}

/* Snippet Editor */

ul.snippetHead { border-bottom:solid #ddd 1px; margin-bottom:1em; padding-bottom:1em; }
ul.snippetHead li { list-style-type:none; float:left; }
ul.snippetHead li select, ul.snippetHead li input { margin-right:1em; }

.BlurbBuilderTable td { padding-bottom:1em; vertical-align:top; }
.BlurbBuilderTable a { margin-right:0.5em; }
.ConditionField { height:65px; width:300px; }
.TemplateBodyField { height:145px; width:300px; }
.TemplateMergeFields { padding-top:1em; }
.TemplateMergeFields select { margin:0.4em 0 0.5em 0.5em; }

.AvailableBlurbTree { background:#fff; border:solid #ddd 1px; border-right:0; border-top:0; float:right; height:360px; overflow:scroll; position:relative; left:10px; width:284px; }

.SnippetEditorTable { border:solid #ddd 1px; border-collapse:collapse; font-size:0.8em; margin:10px 0; width:99%; }
.SnippetEditorTable td, .SnippetEditorTable th { border:solid #ddd 1px; }
.SnippetEditorTable td:first-child { width:65px; }
.SnippetEditorTable td { padding:0.25em 0.5em; }
.SnippetEditorTable td.Active { width:70px; }

#CustomSnippets { clear:both; }
.addDataForm textarea { margin:0.25em 0; width:99%; }

/* User Admin */

#CreateUserForm, #ExistingUsersForm { float:right; width:45%; }

/* Vehicle Framework Defaults */

#VehicleSet .section p { padding:0 0 1em 0; }
#VehicleSet .section b { display:block; float:left; font-weight:normal; padding:0 1em 0 0; text-align:right; width:150px; }

/* Miscellaneous Settings */

#MiscSettings {
	border-top:solid #ddd 1px;
}

#MiscSettings h4 {
	font-weight:normal;
}

#MiscSettings .fieldLabelPair {
	margin:0.5em 1em;
}

#MiscSettings .indent {
    margin-left:2.2em;
}
            
#MiscSettings .desc {
    padding: 0.25em;
    margin: 2px 0.25em 0 2.5em;
    background-color: #fff6a3;
    border: 1px solid #f4d8b9;
}

#MiscSettings .error_desc {
    padding: 0.25em;
    margin: 2px 0.25em 0 2.5em;
    background-color: #FCB2B0;
    border: 1px solid #B4959F;
}
#MiscSettings .errorMessage
{
    background-color: #FCB2B0;
}

#MiscSettings .error_desc p {
    color: black !important; /* to override undesirable ASP dynamic inline style */
}


#MiscSettings .formButtons {
	margin:2em 1em 0.5em 0;
}

#MiscSettings .help
{
    font-style:italic;
    padding-left : 2em;
}

#DealerSegmentList {
    padding: 0.25em;
    margin: 2px 0.25em 0 2.5em;
}

#SetManufacturerAutoloadSettings #requeue 
{
	margin-top: 10px;
}



.explicitly_hidden {
    display: none; 
}
.explicitly_hidden.ui-tab-active 
{
    display: block;
}

#Benchmarks
{
    width: 100%;
    margin: 0 auto;
}
#Benchmarks .dateSelector
{
    text-align: right;
    padding-right: 2em;
}
#Benchmarks .dateSelector input.monthPicker
{
    width: 5em;
    padding: 0.2em 1em;
}

#Benchmarks .benchmarkingHeader
{
    text-align: center;
    font-weight: bold;
    font-size: 125%;
    padding: 0.4em;
}

#Benchmarks table
{
    border-width: thin;
    border-collapse:collapse;
    border-color: #000000;
    margin: 0 auto 20px auto;
}
#Benchmarks table th
{
    background-color: #1B5F92;
    color: #ffffff;
    padding: 0.4em 0;
}

#Benchmarks table tr.typeHeader
{
    background: rgb(180, 180, 180);
}
#Benchmarks table tr td
{
    padding: 0 8px;
}
#Benchmarks table tr td.vehType
{
    padding: 0.4em;
    text-align: center;
}

#Benchmarks input.yellowbg
{
    background-color: #fffb00;
}

#Benchmarks #BtnSaveWrap
{
    text-align: right;
    margin-right: 5em;
    padding-bottom: 2em;
}


