﻿
/* Global navigation */

/* Workflow pages */

#StepCompleted label {
	top:-1px !important;
}

/* Home Page */

#HomePageTopPanel, #InventoryList {
	margin-left:10px;
	width:972px;
}

#InventoryTable { width:950px !important; }

#InventoryTable ul.maxLinks .maxSELink {
	margin-top:0 !important;
}

/*  Packages Page */

#LoadPackagesTabset .searchForm h4 {
	position:relative;
	top:4px;
}

/* Approval Summary */

#VehicleInfoPanel #TrimSelector label, #VehicleInfoPanel #TrimSelector a
{
	top:-3px;
}

#AdConfigFormPanel h3
{
	padding:1px 10px 6px;
}

#DropDownLists hr 
{
	margin-bottom:-3px;
	position:relative;
	top:-3px;
}

#QuickPackages #AutoLoad {
	border-bottom:dotted #ccc 1px;
	margin:0 10px !important;
	padding:0 0 6px !important;
}

#QuickPackages .editLink
{
	top:1px;
}

#KeyInformation #AdditionalInfoItemsList
{
	margin:0 0 0 6px;
}

#KeyInformation #AdditionalInfoItemsList td
{
	padding:3px 0 0;
}

#KeyInformation #AdditionalInfoItemsList td label
{
	top:2px !important;
	left:1px;
}

#AdTemplateHelper #AddModuleLink
{
	position:relative;
	top:3px;
}

#VehicleInfoPanel ul.vehicleDetails li
{
	line-height:1.3em !important;
}

#quickPackages_divAdd { width:auto !important; }
#quickPackages_divAdd hr { display:block; height:0.5em; overflow:hidden; }
#quickPackages_divAdd .pkgName input { width:425px !important }
#quickPackages_divAdd .pkgDesc textarea { width:425px !important }

/* Dealer Setup Wizard */

.AvailableCertifieds h3
{
	font-size:9pt;
	font-weight:normal;
}

h3.certifiedHeader
{
	font-weight:normal;
	line-height:0.25em;
	margin-top:1em;
	padding:0 !important;
	position:relative;
}

h3.certifiedHeader .removeLink
{
	background-color:transparent;
	float:right;
	line-height:1em;
	margin-top:2px;
	position:absolute;
	right:0;
	height:12px;
}

h4.certifiedHeader
{
	font-weight:normal;
}

.CertifiedConfiguration hr
{
	clear:both;
	margin:0 !important;
}

.relative {
	position:relative !important;
}

select.destinationSelect
{
	margin-bottom:4.5em;
}

p.credentialDisclaimer
{
	left:5px;
	position:absolute;
	top:6em;
	width:480px;
}

/* Performance Summary Report */

#ReportFilterForm {  width:679px; }
#ReportFilters { width:400px; }
#ReportFilters label { position:relative; top:1px; }
#DateRangeFields label { position:relative; top:-3px; }