﻿
body { height:100%; background:transparent url(about:blank) no-repeat fixed 0 0; }


#Content
{
	padding-bottom:25px !important;
}

/* Main nav menu */

#MainNavigation
{
	overflow:hidden;
}

#MainNavigation #MainNavList
{
	margin-left:6px !important;
}

#MainNavList li.menuHead ul { overflow:hidden; width:140px; }
#MainNavList li.menuHead ul li a { width:140px; }
#MainNavList li.menuHead ul li a:hover { background:#f0f0f0 !important; color:#333 !important; text-decoration:none; }
#MainNavList li.menuHead { background-image:url(Images/icon_NavMenuArrows.gif); }


/* 'Customize MAX' drop-down menu */

ul#config li a
{
	width:100% !important;
}

/* Approval Summary */

#ApprovalPanel { position:absolute !important; bottom:auto !important; }

#VehicleInfoPanel 
{
	margin-left: 5px !important;
}

#PricingInfoPanel 
{
	margin-right: 5px !important;
}

#AdContainerPanel
{
	left:-1px;
	position:relative;
	width:736px !important;
}

#FormattedAd #AdTemplate .editMode
{
	overflow:hidden;
	width:682px !important;
}

#FormattedAd #AdTemplate .editMode textarea
{
	margin-left:-14px !important;
}

#AdTemplateHelper #HighlightPreviewTools
{
	margin-top:-4px;
}

#AdTemplateHelper #HighlightPreviewTools input
{
	margin:0 0 0 0.25em;
}

#AdConfigFormPanel #DropDownLists label
{
	margin:0 5px !important;
	width:62px;
}

#AdConfigFormPanel #DropDownLists select
{
	margin:0 0 5px 5px;
	width:129px;
}

#KeyInformation #AdditionalInfoItemsList td label
{
	top:2px;
}

#MainNavigation
{
	margin-top:0 !important;
}

#divApproveSuccessful
{
	margin-top:150px;
}

#printWindowStickerLink
{
	position:static !important;
}