﻿
#PhotosContent {
    background: none repeat scroll 0 0 #fff;
    border:1px solid #ddd;
    margin:0;
    padding:15px;
}

#PhotosContent h3 {
	font-size:1.2em;
}

/* Legacy CSS */

.dragHandle 
{
	float:left;
	position: relative;
	cursor:move;
	margin: 4px;
	width: 128px;	
}
.dragHandle img.SortPhoto
{
	width: 120px;
	border: solid 1px #225599;
	padding: 1px;
}
.dragHandle .num 
{
	color: #fff;
	background: #555;
	font-size: 11px;
	padding: 2px 4px;
	font-weight: bold;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	filter:alpha(opacity=70);
	opacity: 0.5;
}
.itemArea .xButton 
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	cursor: pointer;
}

.PhotoList li 
{
	float:left;
	width: 130px;
	margin: 15px 5px;
}
li.reorderCue {
	border:dotted 1px #eee;
	width:10px;
	height:105px;
	background: #222288;
	margin: 12px 2px;
	
}
.photoContainer 
{
	padding:0;
	clear:right;
}

ul, li
{
	margin: 0;
}

a.modeSwitch, a.modeSwitch:link, a.modeSwitch:visited, a.modeSwitch:hover, a.modeSwitch:active
{
	background:#f0f0f0;	
	float:right;
	display: block;
	padding: 10px;
	border-style:solid;
	border-width:1px;
	border-color:#ddd #999 #999 #ddd;
    color: #666;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: underline;
		
}

/*photos*/
.optionPhotos 
{
	width: 380px;
	border: solid 1px #ccc;
	min-height: 100px;
	clear: left;
	padding: 3px;
	margin-top: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.optionPhotos img 
{
	margin: 2px;
}
.extPhotos
{
	width: 390px;
	clear:left;
	float: left;
	background: url('images/autoPhotos.gif') no-repeat 145px 85px;
}
.intPhotos
{
	width: 390px;
	float:left;
}
.extPhotos .PhotoToolDiv
{
	width: 120px;
	height: 90px;
}
.photosPanel 
{
	clear: left;
}
.PhotoToolDiv 
{
	border:1px solid #FFFFFF;
	float: left;
	font-size:11px;
	height:90px;
	position:relative;
	text-align:center;
	width:120px;
	background-repeat: no-repeat;
	background-position: center center;
}
img.SortPhoto
{
	position:relative;
	width: 120px;
	height: 90px;
}
.workingPane 
{
	text-align: left;
	float:left;
	width: 843px;
	margin: 0px;
	border: solid 1px #ccc;
	min-height: 755px;
}
.TabCompleteCheck 
{
	float: right;
}
.StepComplete 
{
	position: absolute;
	top: 4px;
	right: 4px;
}
.Trash 
{
	float: left;
}
.AvailImageBox img.PhotoDeleteButton 
{
	width: auto;
	height: auto;
}
.VideoLink, .VideoLink:visited, .VideoLink:active
{
	font-size: 12px;
	color: #333;
	margin-left: 10px;
}
.VideoLink:hover 
{
	color: #C3CEE0;
}
.advancedExpander 
{
	clear:left;
	padding-top: 10px;
	text-align: right;
	width: auto;
}
.advancedExpander span
{
	font-size: smaller;
}
