﻿/* Shell */

#Content {
	padding:0 0 10px;
}

/* Pricing Workflow */

#PricingWorkflow { background:#d7e3fc; border-bottom:solid #d7e3fc 1px; border-top:solid #d7e3fc 1px; height:40px; overflow:hidden; white-space:nowrap; }

#PricingWorkflow h3 { color:#17367e; float:left; font-size:1em; margin:2px 0 0; width:161px; text-transform:uppercase; }
#PricingWorkflow h3 span { display:block; padding:9px 0 0 15px; }

#PricingWorkflow ul li {
	background:transparent url(Images/arrow_PricingWorkflow.png) no-repeat scroll 0 -10px;
	color:#17367e; display:block; float:left; font-size:1em; height:60px; line-height:1.2em !important; list-style-type:none; width:277px;
}

#PricingWorkflow ul li span { display:block; height:60px; padding:12px 0 0 70px; }

#PricingWorkflow ul li#Step1 span { background:transparent url(Images/text_stepOne.png) no-repeat scroll 30px 6px; }
#PricingWorkflow ul li#Step2 span { background:transparent url(Images/text_stepTwo.png) no-repeat scroll 30px 6px; }
#PricingWorkflow ul li#Step3 span { background:transparent url(Images/text_stepThree.png) no-repeat scroll 30px 6px; }

#PricingWorkflow ul li a {
	background:transparent url(../LazyBoy/Images/clickhere-button-small.png) no-repeat scroll top left;
	border:0; display:block; height:42px; margin:-9px 0 0 10px; overflow:hidden; text-indent:-5000px; width:195px;
}
#GoToNextButton { background-image:url(../LazyBoy/Images/clickhere-gonext-button.png) !important; }

#buttonAndCheckBox { padding:0.5em; }

#StepCompleted .loading {
	background-color:#f4f4f4;
}

#InventoryAndCompleted {
    float:right;
}

#InventoryItem {
    float:left;
}

#InventoryItem .inventoryData table, #InventoryItem .inventoryData a.stockDisplay, #InventoryItem .inventoryData #WorkflowStatusIcons {
    display:none;
}

.inventoryData {
	float:left;
	width:80%;
}

#printWindowStickerLink {
	white-space:nowrap;
}

#stickerControls {
    top:25px;
}
