﻿/* Global */

#ReportTitle { position:absolute; font-size:1.4em; }
#ReportTitle h1 { float:left; font-size:14pt; font-weight:normal; margin:0.75em 1em 0.5em; }

#ReportFilterForm { background:#f4f4f4; border-bottom:0; padding:20px 20px 20px 300px; }
#ReportFilterForm label { display:block; float:left; width:100px; }

#SelectDealerFields { padding-bottom:1em; }
#ReportDiv { border:solid #ccc 1px; margin-bottom:2em; }

#viewer_spinner { height:100px; background:url(../../Public/Images/loading.gif) no-repeat scroll center; }
#viewer_spinner img { display:block; margin-left:auto; margin-right:auto; margin-top:34px; width:32px; height:32px; }

/* Performance summary */

#DateRangeSelector, #ReportFilters { float:right; }
        
#DateRangeFields { border:solid #ccc 1px; margin:0 0 1em 3em; padding:1em 1em 0.75em; text-align:right; width:225px; }
#DateRangeFields label { display:inline; height:18px; line-height:18px; padding-right:0.5em; width:auto; }
#DateRangeFields input.button { float:right; margin-top:0.5em; }
#FromDateFields { margin-bottom:0.75em; }
#DateRangeError { color:#C00; display:none; }
        
#ReportFilters label { display:block; float:left; height:18px; line-height:18px; padding-right:0.5em; text-align:right; width:100px; }
#ReportFilters select { min-width:150px; max-width:280px; }
#DealerSelector, #SiteSelector { margin-bottom:0.5em; }

#DataMessage { clear:both;}
#ReportControlUpdatePanel { clear:both; }