﻿/**/
@import url("../LazyBoy/normalizer.css");
@import url("../LazyBoy/navMenu.css");
@import url("../LazyBoy/navigator.css");

iframe#progress 
{
	position: absolute;
	top: 250px;
	left: 30%;
	background: #fff;
	border: dotted 2px #ccc;
	padding: 80px;	
	z-index: 100000;
}

div.builderBody 
{
	position: relative;
	text-align: left;
	width: 990px;
	margin: 0px auto auto;
}
div.stickyDiv input
{
	margin-left:15px;
	margin-right: 5px;
}
/* AUTOCOMPLETE STYLES */
.autocompleteTB 
{
	width: auto;
}
.StockSearchFlyout 
{
	background: #f8f8f8;
	border: 1px solid #777;
	padding: 4px;
	z-index: 10;
}
.StockSearchFlyoutListItemSelected 
{
	background: #eee;
}
.rightFloater 
{
	clear: right;
	float: right;
}
#stockSearchButton
{
	height: 25px;
	vertical-align: middle;
	margin: 5px;
}
.smallLabel 
{
	font-size: 9px;
	margin-left: 10px;
}
.quickBuildRunningStatus 
{
	position: relative;
	text-align: left;
	min-height: 35px;
	height: auto;
	padding: 5px 10px;
	background: #ededed url('images/topshadow-tall.gif') repeat-x;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #777;
	z-index:10;
}

a.stupid
{
}

/* COLOR DROPDOWN STYLES */
#extColorDDL 
{
	position: absolute;
	color: #333;
}
#intColorDDL 
{
	position: absolute;
	top: 110px;
	right: 5px;
	color: #333;
}
.colorDropDownList 
{
	position: relative;  
  padding: 5px;
  margin-left: 45px;
  width: auto;
  min-width: 240px;
  max-width: 360px;
  height: auto;
  text-align: left;
  list-style: none;
  border: 1px solid #686868;
  text-transform: capitalize;
  background: #f0f0f0;
  z-index: 10;
}
.colorDropDownList li {
  
  position: relative;
  width: auto;
  padding-bottom: 1px;
  }
.colorDropDownList a 
{
	padding-left: 5px;
}
.colorSelectionLabel 
{
	background:#FFFFFF url(images/droparrow.gif) no-repeat scroll right center;
	padding-left: 5px;
	display:inline-block;
	padding-right:30px;
	border: solid 1px #99c;
	color: #000;
}
/*video*/
div.video {
	margin: 25px 0px 10px auto;
	text-align: left;
	position:relative;
	width: 135px;
	clear: left;
	padding: 8px;
	background: #CCDDFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
div.video img.Play
{
	position:absolute;
	top: 40px;
	left: 40px;
	width: 60px;
}
div.video h3 {
	float: none;
	font-size:16px;
	font-style:italic;
	padding-top: 2px;
	border-width: 0;
	background: transparent;
}
div.video img
{
	width: 120px;
}
div.video .VideoLink
{
	display: block;
	border: solid 1px #aaa;
	background: #555;
	margin:  0;
	
	text-align: center;
}
div.video span
{
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
}
div.VideoBuild 
{
	position: absolute;
	top: 20px;
	left: 20px;
	border: solid 2px #aaa;
	background: #eee;
	padding: 15px;
	width: 90%;
	z-index: 999999;
}
ul.VideoList 
{
	list-style: none;
}
ul.VideoList li 
{
	display: block;
	float: left;
	border: solid 1px #fff;
	padding: 0;
	width: 160px;
	height: 160px;
}
ul.VideoList img 
{
	width: 100%;
}
/*photos*/
.optionPhotos 
{
	width: 380px;
	border: solid 1px #ccc;
	min-height: 100px;
	clear: left;
	padding: 3px;
	margin-top: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.optionPhotos img 
{
	margin: 2px;
}
.extPhotos
{
	width: 390px;
	clear:left;
	float: left;
	background: url('images/autoPhotos.gif') no-repeat 145px 85px;
}
.intPhotos
{
	width: 390px;
	float:left;
}
.extPhotos .PhotoToolDiv
{
	width: 120px;
	height: 90px;
}
.photosPanel 
{
	clear: left;
}
.PhotoToolDiv 
{
	border:1px solid #FFFFFF;
	float: left;
	font-size:11px;
	height:90px;
	position:relative;
	text-align:center;
	width:120px;
	background-repeat: no-repeat;
	background-position: center center;
}
img.SortPhoto
{
	position:relative;
	width: 120px;
	height: 90px;
}
.workingPane 
{
	text-align: left;
	float:left;
	width: 843px;
	margin: 0px;
	border: solid 1px #ccc;
	min-height: 755px;
}
.TabCompleteCheck 
{
	float: right;
}
.StepComplete 
{
	position: absolute;
	top: 4px;
	right: 4px;
}
.Trash 
{
	float: left;
}
.AvailImageBox img.PhotoDeleteButton 
{
	width: auto;
	height: auto;
}
.VideoLink, .VideoLink:visited, .VideoLink:active
{
	font-size: 12px;
	color: #333;
	margin-left: 10px;
}
.VideoLink:hover 
{
	color: #C3CEE0;
}
.advancedExpander 
{
	clear:left;
	padding-top: 10px;
	text-align: right;
	width: auto;
}
.advancedExpander span
{
	font-size: smaller;
}
/*  main section */
.PreviewButton 
{
	position: absolute;
	bottom: 0px;
	font-size: 11px;	
}
.PhotoActions 
{
	clear:left;
	text-align:left;
	padding:0px;
	margin-bottom:10px;
}
.PhotoActions input 
{
	margin-left: 20px;
	display: inline-block;
}
.FinishedButtonInTab 
{
	float: right;
	margin-right: 10px;
	padding-right: 20px;
}
.PreviewButtonInTab 
{
	float: right;
	margin-right: 10px;
}
.PreviewButtonTop
{
	position: absolute;
	top: 5px;
	font-size: 11px;
	
}
.PreviewButton1
{
	right: 18px;
	width: 90px;
}

.PreviewButton2
{
	right: 113px;
	width: 40px;
}
.PreviewButton3
{
	right: 158px;
	width: 100px;
}

.quickBuildContent 
{
	color: #333;
	width: auto;
	padding: 0;
	margin: 10px 10px 20px 0;
	text-align: left;
}

.Instruction 
{
	font-size: 1.3em;
	font-weight: bold;
}
.quickBuildBlock 
{
	position: relative;
	clear: left;
	width: auto;
	text-align: left;
	padding: 25px 20px 0px;
} 
.CustomTrimLabel 
{
	margin-left: 10px;
	font-size:0.9em;
}
.afterMarketTrim
{
	width: 200px;
	display:inline;
	padding-left: 25px;
	margin-top: 10px;
	
}
.interiorAndColors 
{
	margin-bottom: 10px;
	margin-left: 10px;
}

.ConditionEntry 
{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: groove thin #777;
	font-size: 0.9em;
}
.label
{
	display: block;
	float: left;
	width: 120px;
}
/*features tab section*/
.featuresGrid 
{
	clear: right;
	width: 47%;
	min-width: 300px;
	margin-right: 15px;

}
.featuresGrid td 
{
	padding: 6px;
}

.featureGroupBox h5
{
	font: 1.1em/1.2em Verdana, sans;
	text-decoration: underline;
	margin-bottom: 2px;
	color: #444;
	display: block;
}
.strike 
{
	text-decoration: line-through;
}
.stdEquipViewer 
{
	clear:left;
	border-bottom: groove thin #777;
	text-align: right;
	font-size: small;
	width: auto;
	height: 20px;
	padding-top: 10px;
	vertical-align: middle;
}
.StdFeatureList 
{
	 float: left;
	 position: relative;
	 width: 20%;
	 min-width: 150px;
	 padding: 6px 15px;
}
.std
{
	clear:left;
	text-align: left;
	font-size: small;
	width: 100%;
	max-width: 850px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background: #ededed;
	
}
.std td 
{
	padding: 6px;
}
.featureGroupBox 
{
	 float: left;
	 position: relative;
	 width: 31%;
	 font-size: 90%;
	 margin: 3px;
}

.featureGroupBox label, .StdFeatureList label
{
	display: inline-block;
	padding-left: 5px;
	max-width: 87%;
	margin-top: 1px;
	
}
.featureGroupBox input, .StdFeatureList input
{
	display: inline-block;
	vertical-align: top;
}

.questionsList 
{
	position: relative;
	font-size: medium;
	
}

.equipmentFinder 
{
	clear:left;
	margin-left:10px;
	padding:10px 0 0;
	
}
.extraEquipCheckboxes input 
{
	margin-right: 5px;
	margin-left: 20px;
}

.extraEquipCheckboxes 
{
	text-align: left;
}

td.destItem 
{
	text-align: left;
}

.TabSection 
{
	vertical-align: top;
	width: 100%;
}
.AvailImageBox 
{
	background:#333 none repeat scroll 0 0;
	height:auto; 
	/*allows box to grow as more are added? was 80px with overflow scroll
	height:80px; 
	overflow: scroll;*/
	padding:4px;
	width: auto;
	margin: 10px -10px 0px;
	min-height: 50px;
	clear:right;
	
}
.AvailImageBox img
{
	margin: 1px 4px;
	border: solid 1px #f8f8f8;
	width: 80px;
	height: 60px;
}
/* image uploader */
.bigLink, .bigLink:link, .bigLink:hover, .bigLink:visited
{
	color: #355fab;
	font: bold 14px/16px Verdana, sans;
	text-decoration: underline;
	float: left;
	
}

.requiredEightPicDiv 
{
	padding: 5px;
	width: 98%;
	height: auto;
	position: relative; 
	
	background-position: center 110px;
}
.requiredInteriorPicDiv
{
	padding: 5px;
	width: 95%;
	height: auto;
	position: relative; 
	
	
}
.photoBreak {
	border-bottom:1px solid #777777;
	clear:left;
	height:10px;
	margin-bottom:10px;
	width: 95%;
}


.PhotoItemDefaultText 
{
	background:#F8F8F8 none repeat scroll 0 0;
	height:auto;
	text-align: left;
	overflow:hidden;
	vertical-align:middle;
	width:100%;
	z-index:11;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity:0.8;	
	filter: alpha(opacity = 80);
}
.PhotoItemDefaultText input
{
	width: auto;
	margin-right: 3px;
}


.certifyWorkingTD 
{
	width: 155px;
}


.navigationMenu 
{
	font: bold 12px/14px Verdana, sans;
	color: #355fab;
	
	
}
.navigationMenu a, .navigationMenu a:visited, .navigationMenu a:link
{
	color: #355fab;
	font: bold 10px/12px Verdana, sans;
	padding: 4px 4px 3px 4px;
	margin: 5px 2px;
}
.navigationMenu a:hover
{
	background: #ddd;
	color: #355fab;
	font: bold 10px/12px Verdana, sans;
	
}
.printLinks 
{
	margin-right: 20px;
	text-align: right;
}
.printLinks a, .printLinks a:link, .printLinks a:visited, .printLinks a:hover 
{
	
	color: #355fab;
	font: bold 10px/12px Verdana, sans;
}



.statusLabel 
{
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
}

.inventoryData 
{
	clear: left;
	font: bold 13px/13px Verdana, sans;
	color: #333;
	text-align: left;
	height: auto;
	min-width: 650px;
}

.inventoryData table 
{
	margin: 0px;
}
.inventoryData td
{
	padding: 2px 0px 0px 10px;
	font-weight: normal;
}
.inventoryData .dataValue 
{
	font-weight: bold;
	font-size: 1.05em;
	line-height: 1.15em;
	color: #555;
}

.bookoutAccuracy
{
	margin-left:5px;
	position: absolute;
}

.stockDisplay, .stockDisplay:hover, .stockDisplay:active, .stockDisplay:visited, .stockDisplay:link
{
	font: bold 16px/24px Verdana, sans;
	color: #355fab;
}

.stockDisplay:hover
{
	text-decoration: underline;
}

.stockDisplayBox 
{
	clear: right;
	float:right;
	top: 5px;
	right: 5px;
	text-align:right;
	width: 150px;
}

.stockDisplayBox #printWindowStickerLink
{
	clear:right;
	color:#355fab;
	font-size:0.8em;
	font-weight:normal;
	position:relative;
	text-decoration:underline;
	top:0.5em;
}

.CarfaxLinkImage 
{
	width: 60px;
	margin: 10px 0 4px;
}

.ExtraInfoBox 
{
	border-style: solid;
	border-color: #bbb;
	border-width: 0px 1px 1px 1px;
	font-size:smaller;
	margin-left:0;
	margin-top:0;
	padding:5px;
	text-align:left;
	width:auto;
	background: #eee url(images/topshadow.gif) repeat-x;
	min-height: 20px;
}

.ExtraInfoBox input 
{
	margin-left: 20px;
	margin-right: 5px;
	
}
.expandSectionHead
{
	
	float: right;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	border-left: dotted 1px #aaa;
	text-align: right;
	width: 170px;
	display: block;
	padding-left: 10px;
	margin-left: 15px;
	color: #585858;
}
.ExtraInfoExpander 
{
	float:right;
	margin:0 0 0 auto;
	text-align:right;
	width: auto;
	
	
}
#SelectTrimMsg 
{
	padding-top: 30px;
	padding-left: 30px;
	font: bold 16px/18px;
}

.PricingLink, .PricingLink:link, .PricingLink:hover, .PricingLink:visited
{
	display: block;
	padding: 12px 12px 0px;
	margin-left: 200px;
	font: bold 16px/18px;
	color: #355fab;	
	text-decoration: underline;
}

#EdtCollapsible 
{
	text-align: left;
}

.trimBits 
{
	font-size: 85%;
	padding: 4px 0px;
}

.MerchAlert 
{
	border-left: 1px solid #CAD7F8;
	border-top: 1px solid #CAD7F8;
	color: #CC3333;
	font-size: 85%;
	width: 200px;
	
	position: absolute;
	top: 10px;
	right: 20px;
	
	background-image: url('images/postit_corner.png');
	background-attachment: scroll;
	background-position: right bottom;
	padding: 10px 30px 10px 25px;
	height: 50px;
	list-style: disc;
	
	
}
input.Locked, input.Unlocked 
{
	border: none;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
	background-color: Transparent;
	position:absolute;
	right:26px;
	top: 15px;
	z-index: 1;
	
}
input.Locked 
{
	background-image: url(images/LockedIcon.gif);
}
input.Unlocked 
{
	background-image: url(images/UnLockedIcon.gif);
}
/*for trim help*/
.trimHelperHolder 
{
	background:#DDD none repeat scroll 0 0;
	border:1px solid #555555;
	left:300px;
	position:absolute;
	text-align:center;
	top:45px;
	max-width: 680px;
	z-index:20000;
}
.trimHelperHolder p span 
{
	margin-left: 10px;
	font-weight: bold;
	color: #222288;
}
.discCloser, .discCloser:link, .discCloser:hover, .discCloser:visited
{
	float: right;
	font: bold 22px/24px Verdana, sans;
	color: #355fab;
}

.trimHelperHolder h3 
{
	text-align: left;
	font-style: italic;
	font-size: 18px;
	line-height: 22px;
	color: #555;
	padding:4px;
}
.trimHelp table
{
	width: 100%;
	overflow: scroll;
}
.trimHelp th
{
	background: #485775;
	color: #fff;
}
.CheckedCell 
{
	background-image: url('images/checkGreen.gif');
	background-repeat: no-repeat;
	background-position: center center;
	
}
.descCol 
{
	text-align: left;
	padding: 1px 5px;
}
.StyleColumn 
{
	background: #485775;
	color: White;
	width: 85px;
	font-size: 12px;
}
.CategoryColumn 
{
	background: #485775;
	color: White;
	width: 200px;
	font-size: 12px;
}
.trimHelp tr.even
{
	background-color: #fff;
}
.trimHelp tr.odd
{
	background-color: #f8f8f8;
}


/*window stickers*/
.BuyersGuideConfig 
{
	background:#CCCCCC none repeat scroll 0 0;
	left:30%;
	padding:10px;
	position:absolute;
	top:20%;
	width:300px;
	border: solid 1px #555;
}
.BuyersGuideConfig input 
{
	margin-left:10px;
	margin-right: 5px;
}
.BuyersGuideConfigHeader 
{
	background-color:#DDDDDD;
	border:solid 1px Gray;
	color:Black;
	text-align:center;
	margin-right: 20px;
}
#warrantyOptions 
{
	padding-left: 30px;
}

.ApprovalListPrice 
{
	font-size: 1.2em;
}

.featureCheckboxBox 
{
	margin:0;
	width:100%;
	min-height:140px;
	clear: left;
}

.detailHeader 
{
	font-style: italic;
	padding-bottom: 3px;
}

/**********************/
/* Pricing tab styles */
/**********************/

.PricingTableRow 
{
	font-size: 10px;
	width: 400px;
	height: 20px;
	padding: 2px;
}

.PricingEqualsRow 
{
	border-bottom: solid 1px #888;
}

.PricingBox 
{
	display: inline-block;
	border: 0px;
	background: transparent;
	font-weight: bold;
	font-size: 11px;
	color: #555;
	width: 100px;
	text-align: right;
	padding: 2px;
}
.YellowPricingBox 
{
	border: solid 1px #888;
	background: #ffffae;
}

.PriceDataLabel 
{
	color: #000;
}
.PriceGrayLabel 
{
	color: #bbb;
	font-style: italic;
}

#PricingStatusLabel 
{
	font-size: 12px;
	font-weight: bold;
}

.BluePriceLabel 
{
	color: #00105A;
}

.ResetButton 
{
	float: left;
	margin-left: 20px;
}
div.colorDiv 
{
	width: 500px;
	padding: 4px 5px;
	float: left;
}
.ConditionSelectPair
{
	width: 335px;
	padding: 4px 5px;
	float: left;
}


.ConditionSelectPair select 
{
	min-width: 150px;
} 
.ConditionSelectPair span, div.colorDiv .ddlLabel 
{
	display: inline-block;
	width: 140px;
	text-align: left;
}

/*Note builder*/
div.notes 
{
	margin-top: 15px;	
}

div.notes textarea	
{
	
	margin-left:10px;
	margin-top:8px;
}
div.notes2 
{
	width: 360px;	
	float:left;
	margin:0;
	font-size: 11px;
}
div.notes2 textarea 
{
	font-size: 11px;
}
#ExtraItemsBox h3 
{
	font-weight: bold;
	font-size: 1.1em;
}
#ReconValue 
{
	margin-left: 0;
}
li.NoteOdd .noteAuthor, li.NoteOdd .noteDate
{
	font-size: 85%;
	color: #dc3963;
	font-weight: bold;
}
li.NoteEven .noteAuthor,li.NoteEven .noteDate  
{
	font-size: 85%;
	color: #3954dc;
	font-weight: bold;
	
}
ul.notes 
{
	/*float:left;*/
	margin-left:10px;
}
.noteBody 
{
	display:block;
	padding-left:10px;
}

/*Completion buttons*/
span.CompletedCB, span.CompletedCBOK
{
	float: right;
	display: block;
	color: #555588;
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
	padding: 3px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
span.CompletedCB label, span.CompletedCBOK label
{
	padding: 2px 6px;
	vertical-align: middle;
}
span.CompletedCB input, span.CompletedCBOK input 
{
	vertical-align: middle;
}
span.CompletedCBOK
{
	background-color: #449944;
	color: #fff;
}

.optionPackages 
{
	clear: left;
	width: 97%;
	float: left;
}
.optionPackages table 
{
	width: 95%;
	
}
.optionPackages td.handle 
{
	background: #449944;
	width: 15px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}
.optionPackages td 
{
	padding: 3px;
}
.optionPackages td.beef
{
	border-width: 1px 1px 1px 0px;
	border-color: #999;
	background: #fff;
	border-style: solid;
}


.optionPackages textarea 
{
	height: auto;
	min-height: 30px;
}
.opPackage 
{
	margin-top: 12px;
}
.OptionHead
{
	display: block;
	margin: 0px 2px 3px;
	border-bottom: solid 1px #ddd;
	color: #222255;
	font-size: 12px;
}

.optionPrice 
{
	float:right;
	font-size: 12px;
	font-weight: bold;
	color: #555;
	position:relative;
	bottom:2px;
	
	
}
.optionPackages label 
{
	margin-left: 8px;
	font-size: 10px;
	color: #222;
}

.alerts 
{
	background: #ffd0d0;
	margin: 2px 0 0;
	clear:left;
	color: #333;
	padding: 5px 10px;
	font-size: 11px;
	border-bottom: solid 2px #fff;
}
.alerts span
{
	margin-right: 5px;
	
}
.alerts h4 
{
	float:left;
	font-size: 12px;
	margin-right: 5px;
	font-weight: normal;
}

.pubDate 
{
	margin-left: 20px;
}

#work  {
	border:1px solid #DDDDDD;
	float:left;
	margin-top:2px;
	width:990px;
}

#work {
	min-height:500px;
}

#workHolder {
    min-height:500px;
}
#mainContent {
    width: 990px;
}

#banner 
{
	background:#fff url("images/gradient_lighter.jpg") center top repeat-x;
	position:relative;
}

#pnlFrame, ctl00_pnlFrame {
	background-color:#F4F4F4;
	width:970px;
	padding:10px 10px 10px 10px;
}
        
#nav a.active{
    font-weight: bold;
    color:#f8f8f8;
}

#workflowNav2 {
    list-style: none;
}
#workflowNav2 li {
    padding: 4px;
    float:left;
    width: 150px;
    display: inline;
    text-align:center;
    border-right: 1px solid #f8f8f8;
    background-image: url('App_Themes/LazyBoy/images/sprLt-grad.png');
    background-repeat: repeat-x;
    background-position: left bottom;
    
}
#workflowNav2 li.active a{
    color: #f8f8f8;
}

#workHolder {
    /*float:left;
    margin-top: 2px;*/
    border: solid 1px #ddd;
    width: 968px;
    /*margin:0px 10px 0px 10px;*/
    background:#ffffff;
}

.section {            
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #aaa;
    margin: 1px 0;
    
}

h3 
{
    border-bottom: solid 1px #aaa;
    background-attachment: scroll;
    background-position: 0 100%;
    background-repeat: repeat-x;
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 6px 8px;            
    font-weight: bold;
	
}
.menu {
    background: #899abd;            
}
.menu a {
    color: #f8f8f8;
    font-size: 12px;
    font-weight: bold;
}
.menu a:hover {
    color: #ededed;
}

.workflowMenu {
	background: #3e436d;
}
.workflowMenu a {
    color: #f8f8f8;
    font-size: 12px;
}
.workflowMenu a:hover {
    color: #ededed;
}

#workflowNav li.active {
	background-color:#3e436d;
	}

#workflowNav li {
	background-image:url("App_Themes/LazyBoy/images/sprLt-grad.png");
	background-position:left bottom;
	background-repeat:repeat-x;
	border-right:1px solid #F8F8F8;
	display:inline;
	float:left;
	padding:4px;
	text-align:center;
	width:150px;
}

.menu2 {
    background:url("images/topshadow-tall.gif") repeat-x scroll center top transparent;
    color:#555555;
    border-bottom: solid 1px #888888;
    font-size:12px;
}
.menu2 a {
    color: #555;
    font-size:1.2em;
}
.menu2 a.active 
{
	color:#555555;
	font-weight:bold;
}
.menu2 a:hover {
    color: #888888;
}

.menu2 select 
{
	background-color:Transparent;
	color: #555555;
	font-size:12px;
}

.Droppable {
    width: 100px;
    display: inline-block;
    height: 100px;
}

input.saveButton
{
    float: right;
    margin-left: 15px;
}
.plain {
    margin: 15px;
    font-size:1.3em;
}
.plain select
{
    font-size:1.3em;
}
.gray {
    background: #eee;
}
#stickerControls {
    position: absolute;
    right: 0;
    top: 75px;
    z-index: 100000;
    border: solid 1px #999;
    background: #fff;
    padding:0.5em 1em 1em;
    width:320px;
}

#stickerControls .lastPrintedMessage
{
	color:#888;
	margin-bottom:0.5em;
	text-align:center;
}

#stickerControls .fieldLabelPair
{
	clear:both;
	margin-bottom:0.5em;
}

#stickerControls .fieldLabelPair label
{
	display:block;
	float:left;
	width:100px;
}

#stickerControls .selectSheets
{
	clear:both;
	margin:1em 0;
}

#stickerControls .selectSheets label
{
	margin:0 1em 0 0.5em;
}

#stickerControls .sectionButtons
{
	float:right;
}

#stickerControls .noPrint
{
	clear:both;
}

#stickerControls .error
{
	color:#cc3333;
	clear:both;
}
        
/*** TOOLS ***/
.clearfix:after, .PhotoList ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*** Custom Tab Styles ***/
.ajax__tab_custom .ajax__tab_header {font-size:16px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-line.gif")%>) repeat-x bottom;}
.ajax__tab_custom .ajax__tab_outer {padding-right:4px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-right.gif")%>) no-repeat right;height:25px;}
.ajax__tab_custom .ajax__tab_inner {padding-left:3px;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-left.gif")%>) no-repeat;}
.ajax__tab_custom .ajax__tab_tab {height:13px;padding:4px;margin:0;background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab.gif")%>) repeat-x;}
.ajax__tab_custom .ajax__tab_hover .ajax__tab_outer {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-hover-right.gif")%>) no-repeat right;}
.ajax__tab_custom .ajax__tab_hover .ajax__tab_inner {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-hover-left.gif")%>) no-repeat;}
.ajax__tab_custom .ajax__tab_hover .ajax__tab_tab {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-hover.gif")%>) repeat-x;}
.ajax__tab_custom .ajax__tab_active .ajax__tab_outer {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-active-right.gif")%>) no-repeat right;}
.ajax__tab_custom .ajax__tab_active .ajax__tab_inner {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-active-left.gif")%>) no-repeat;}
.ajax__tab_custom .ajax__tab_active .ajax__tab_tab {background:url(<%=WebResource("AjaxControlToolkit.Tabs.tab-active.gif")%>) repeat-x;}
.ajax__tab_custom .ajax__tab_body {font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}

.ListSearchExtenderPrompt
{
	font-size: 11px;
	font-weight: normal;
}

.CollapsiblePanel h3
{
	border-bottom:0 solid #000000;
	color:#375088;
	font-size:1em;
}

.CurrentInventorySummarySection *
{
	font: 12px Verdana, "Verdana", Arial, sans-serif;
}