﻿/**/

@import url("normalizer.css");

td { padding:8px; }

.invisible 
{
	display:none;
}
.wizardButtons 
{
	float:right;
	padding:5px 15px;
	margin-bottom:10px;
	background:#ddd;
	font-size:10px;
	color:#666;
}
.wizardButtons a,.wizardButtons a:link 
{
	text-decoration:underline;
}
.wizardButtons span 
{
	font-weight:bold;
	color:#333;
	margin-right:15px;
}
.wizardButtons h5 
{
	border-bottom:solid 1px #ddd;
	font-size:11px;
}
.QuestionsBox 
{
	padding:0 15px 15px;
	clear:both;
	font-size:12px;
}

div.QuestionsBox th, div.QuestionsBox td 
{
	padding:2px 8px;
}

#SubscriptionsTable 
{
	margin-left:40px;
}

#LotLocationGV 
{
	margin-top:20px;
}
#SpecialsDV 
{
	margin-top:20px;
}
#SpecialsDV td 
{
	padding:8px;
}
#DestGV, #DestDV
{
	float:left;
	margin:20px;
}
h1 
{
	font-size:14px;
}
ul 
{
	list-style:none;
	margin:3px;
	padding-left:0px;
}

h3.certifiedHeader 
{
	margin-top:5px;
	margin-bottom:3px;
	font-size:14px;
	
}
h4.certifiedHeader 
{
	margin-top:5px;
	margin-bottom:3px;
	font-size:0.9em;
	font-style:italic;
	text-decoration:underline;
}

.DealerCustomText 
{
	position:relative;
	bottom:12px;
	left:25px;
}
.YourCertList 
{
	list-style-type:disc;
	margin-left:20px;
	color:#555;
}
.YourCertList a 
{
	color:#555;
	
}
.YourCertList a:hover 
{
	color:#999;
}
.AvailableCertifieds 
{
	float:left;
	width:220px;
}
.CertifiedConfiguration 
{
	background:#FFFFFF url(images/gradient_light.jpg) repeat-x scroll center top;
	border:1px solid #AAAAAA;
	float:left;
	margin-bottom:20px;
	margin-top:20px;
	padding:10px;
	width:630px;
	font-size:85%;
}

/*working photo template reorder*/
.CustomImages li 
{
	display:block;
	float:left;
	width:90px;
	height:110px;
	border:solid 1px #ddd;
	margin:5px;
	background:#fff;
	text-align:center;
	padding:4px;
	position:relative;
}

.CustomImages div 
{
	width:72px;
	height:72px;
	overflow:hidden;
}
.CustomImages li img 
{
	width:100%;
	
}
.CustomImages input.Delete 
{
	position:absolute;
	top:0;
	right:0;
}
.CustomImages h5 
{
	margin:0;
	padding:2px;
	font-size:10px;
	text-align:left;
}
#photoTemplate 
{
	float:left;
	width:360px;
	padding:12px;
}
.newPhoto 
{
	background:#eee;
	padding:8px;
	position:relative;
	border:solid 1px #ddd;
	
	
	
}

.CustomImages
div#photoTemplate 
{
	
	float:left;
	padding:10px;
	
}
/*for reorderlist*/
div.reorderable td
{
	padding:0px;
}
.addDataForm 
{
	margin-top:15px;
	padding:10px;
	background:#DDE8FF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
.AddMe 
{
	
	background:url('images/add_btn.gif') no-repeat;
	width:28px;
	height:19px;
	border:0;
	cursor:pointer;
}
.AddMe:hover
{
	background-image:url('images/aro_btn.gif');

}
#photoList
{
	clear:left;
	float:left;
	text-align:left;
	width:450px;
	padding-left:20px;
	padding-right:30px;
	border-right:solid 1px #ddd;
	margin-bottom:20px;
	
}
.dragHandle {
	width:13px;
	height:20px;
	background-color:Blue;
	background-image:url(images/bg-menu-main.png);
	cursor:move;
	border:outset thin white;
}

.callbackStyle {
	border:thin blue inset;		
}

.callbackStyle table {
	background-color:#5377A9;	
	color:Black;
}



.itemAreaPhoto, .itemArea {
	list-style:none;
	margin-top:2px;
	background-image:url(images/bg_nav.gif);
	background-repeat:repeat-x;
	color:#FFF;
}
#categoryList
{
	width:800px;
}
.itemAreaPhoto,.itemArea {
	position:relative;
	bottom:1px;
	padding:0 10px;
	float:left;
	height:22px;
	font-size:1em;
	text-align:left;
}
.itemArea 
{
	width:700px;
}
.itemArea input 
{
	float:right;
	margin-right:10px;
}
.itemArea input.redescribe {	
	width:300px;
	
}
.itemActions 
{
	float:left;
}


#photoList select 
{
	vertical-align:text-bottom;
}

.reorderable li a {color:#FFF !important; font-weight:bold;}

ul.header 
{
	margin-left:300px;
	font-size:10px;
}
ul.header li 
{
	display:inline;
	margin-left:15px;
	width:50px;
}
.photoReorderLabel 
{
	display:block;
	float:left;
	width:250px;
}
.photoType 
{
	display:block;
	float:left;
	width:80px;
}

.PhotoDeleteButton 
{
	
}

.reorderCue {
	border:dashed thin black;
	width:100%;
	height:25px;
}


/*Snippet editor tab, profile tab*/
.profileSelector 
{
	margin:10px 5px;
}
.BlurbBuilderTable a 
{
	margin-left:12px;
}
.warning 
{
	color:#ff6666;
	font-weight:bold;
}
.snippetHead 
{
	border-bottom:solid 2px #ddd;
	padding:5px;
	
}
.snippetHead li 
{
	display:inline;
	margin-right:8px;
	
}
.TextEditor 
{
	color:#555;
	margin:15px;
}


.yearPriceDiv 
{
	clear:left;
}

.highLabel 
{
	margin-left:90px;
	font-weight:bold;
}
.lowLabel 
{
	margin-left:140px;
	font-weight:bold;
}
/*vehicle profiles*/
span.rangeLabel 
{
	display:block;
	float:left;
	width:120px;
}
.listBoxDiv 
{
	float:left;
}

/**/
/*second profiles*/
/*Profile tab*/

h3 
{
	margin:8px;
	font-size:0.9em;
}
.main 
{
	text-align:right;
	background:#DDE8FF;
	border-top:1px solid #dddddd;
	margin-bottom:10px;
}
.controls 
{
	float:left;
	text-align:left;
	padding:10px;	
	min-height:250px;
}
.controls select 
{
	width:220px;	
}
.summary 
{
	float:left;
	text-align:left;
	width:400px;
	font-size:12px;
	border-right:solid 1px #ddd;
	background:#FFFFFF url('images/gradient_light.jpg') repeat-x;
	padding:25px 10px;
	margin-bottom:0px;
	min-height:290px;
	
}

.summary td 
{
	padding:2px;
}
.summary td.header 
{

	font-weight:bold;
}

.highLabel 
{
	margin-left:90px;
	font-weight:bold;
}
.lowLabel 
{
	margin-left:140px;
	font-weight:bold;
}

span.rangeLabel 
{
	display:block;
	float:left;
	width:120px;
}
.listBoxDiv 
{
	float:left;
}


.templateRuleSection 
{
	
	border:1px solid;
	width:auto;
	background:#ededed;
}

.templateRuleSectionBody {
	padding:5px;
	text-align:left;
	clear:left;
	margin-top:20px;
}




.availableTemplates a, .availableTemplates a:visited, .availableTemplates a:link 
{
	text-decoration:none;
	color:#303030;
	
}

.availableTemplates a:hover 
{
	color:#a99;
}

.sliderLabel
{
	float:left;
	width:140px;
}

.listBoxDiv 
{
	float:left;
	width:auto;
	
	padding:5px 10px;
	border-right:solid 1px #777;
	
}
.noBorder 
{
	border:solid 0px;
}

.mainTemplateBox 
{
	padding:10px;
	text-align:center;
	position:relative;
	z-index:1;
}
#SnippetTabs 
{
	width:720px;
	float:left;
	margin:10px 0 0 20px;
}
.AvailableBlurbTree 
{
	background:#EEEEEE none repeat scroll 0 0;
	border-left:1px solid #AAAAAA;
	float:left;
	height:100%;
	max-height:380px;
	overflow:scroll;
	padding-top:10px;
	position:relative;
	right:-15px;
	text-align:left;
	top:-10px;
	width:230px;
}

.AvailableBlurbTree td
{
	padding:2px;
}


.BlurbBuilderTable 
{
	text-align:left;
}


.BlurbBuilderTable td
{
	text-align:left;
}

.BlurbBuilderContent 
{
	float:left;
	background:#ededed;
	margin-left:15px;
	padding:10px;
	width:700px;
}
.SampleTextCreatorHeader 
{
	font-size:1.1em;
	font-weight:bolder;
}
.SnippetEditorTable 
{
	margin:10px 0px;
	font-size:11px;
	width:99%;
}
.SnippetEditorTable td:first-child
{
	width:65px;
	border-right:solid 1px #ddd;
}
.SnippetEditorTable td.Active
{
	width:70px;
}

.SnippetEditorTable td 
{
	padding:2px 5px;
}
.GeneratedSampleTextForSampleText 
{
	font-size:0.8em;
	color:#888;
}
.profile 
{
	font-size:1.1em;
	font-weight:bold;
}
.PreTextInsertBox 
{
	padding:2px 4px;
	width:90%;
	margin:2px;
}

.ConditionField 
{
	width:300px;
	height:auto;
	min-height:60px;
	vertical-align:middle;
}
.TemplateBodyField 
{
	width:300px;
	height:auto;
	min-height:140px;
	vertical-align:middle;
}

.TemplateMergeFields select 
{
	margin-left:10px;
	margin-top:5px;
	margin-right:5px;
	width:180px;
	float:right;
	clear:right;
}

.templateCategory 
{
	padding:2px;
	margin-bottom:10px;
	font:italic 12px/14px;
	
}
.templateCategory a, .templateCategory a:link, .templateCategory a:hover
{
	font:12px/14px;
	color:#485775;
}
.SelectedBlurb, .SelectedBlurb a, .SelectedBlurb a:link, .SelectedBlurb a:hover
{
	color:#222255;
	font-weight:bold;
	
}
.templateBlurb 
{
	padding:1px;
	background:transparent;
	color:#333;
	font-style:normal;
	
}

.templateBlurb a, .templateBlurb a:link, .templateBlurb a:hover 
{
	color:#333;
	text-decoration:underline;
}
.templateBlurbRoot 
{
	width:100%;
	background:#ededed;
	color:#333;
	font:14px/16px;
}
.templateBlurbRoot a, .templateBlurbRoot a:link, .templateBlurbRoot a:hover
{
	color:#333;
	font:14px/16px;
}
.availTemplateTD 
{
	width:100px;
	text-align:left;
	
}
.AvailBlurbTreeForBuilding 
{
	
	position:absolute;
	top:0;
	right:0;
	background:#ededed url(images/topshadow.gif) repeat-x;
	text-align:left;
	padding:10px;
	margin:10px;
	border:solid 1px #777;
	width:200px;
	z-index:999;
	height:auto;
	
}
.AvailTemplatesForBuilding 
{
	float:left;
	text-align:left;
	width:200px;
	border:solid 1px #777;
	padding:0;
	
}
.headerTemplates 
{
	padding:8px 10px 3px 10px;
	height:auto;
	border-bottom:solid 1px #aaa;
	background-image:url(images/topshadow.gif);
	background-repeat:repeat-x;
	background-color:#ededed;
	font-size:12px;
}
.bodyTemplates
{
	padding:5px;
	font-size:12px;
}

.RulesListForBuilding 
{
	float:left;
}
.SelectedTemplate 
{
	background:#555588;
	padding:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.SelectedTemplate a, .SelectedTemplate a:link, .SelectedTemplate a:hover, .SelectedTemplate a:visited 
{
	color:#f8f8f8;
	font-weight:bold;
	font-size:12px;

}

.snippet_tabs 
{
	width:660px;
	float:left;
	
}
.snippet_tabs .ui-tab-content 
{
	padding-bottom:10px;
}

/**/

div.EditCreds 
{
	padding:10px;
	width:480px;
	text-align:center;
	border:solid 1px #aaa;
	margin:1em;
	float:left;
}
.EditCreds h3 
{
	font-weight:bold;
	text-align:left;
}
.EditCreds p 
{
	text-align:center;
	margin-bottom:3px;
}
.EditCreds em 
{
	font-style:italic;
	font-size:0.9em;
}
.EditCreds .LockedOut 
{
	border:solid 1px #555;
	border-width:2px 0px;
	background:#f8f8f8;
	padding:4px;
}

/* Equipment Groups */

#GroupsGV { float:left; width:620px; }
#GroupsGV th { background:none repeat scroll 0 0 #698ACD; color:#fff; font-weight:bold; padding:0.35em 1em; }
#GroupsGV td { padding:0.5em 1em; vertical-align: middle; }
#GroupsGV td ul li { list-style-type:none; margin:0; }

.controlBox { background:#eff3fb; padding:0 1em 1em; border:solid 1px #ddd; float:right; width:255px; }
.controlBox h2 { font-size:1.1em; margin:0.5em 0 0 0; }

.controlBox .fieldLabelPair { margin:1em 0 0; }
.controlBox .fieldLabelPair label { display:block; }
.controlBox .fieldLabelPair label span.italic { display:block; font-style:italic; }
.controlBox .fieldLabelPair input.text { width:235px; }
.controlBox .fieldLabelPair select { margin:1em 0 0.5em; width:235px; }

.controlBox .formButtons .button { font-size:0.9em; font-weight:normal; }

.note { clear:left; font-size:0.8em; padding:0.5em 0 0; width:620px; }

/* Ad Settings */

.adPreferencesForm { width:100%; }
.adPreferencesForm a, #PreviewSettings a {
	-moz-border-radius:3px; -webkit-border-radius:3px; background:#698ACD; background-image: -moz-linear-gradient(center top , #6f92d9, #6281bf); border:solid #699bff 1px; border-bottom-color:#5d7199; border-radius:3px;
	border-right-color:#5d7199; color:#fff; cursor:pointer; font-weight:bold; padding:0.25em 1.5em; text-decoration:none;
}
.adPreferencesForm td { padding:1em 0 0.75em; }
.adPreferencesForm ul li { float:left; list-style-type:none !important; margin:0 2em 0 0 !important; }
.adPrefHeader, .adPrefItem { font-weight:bold; border-bottom:solid 1px #ddd; width:50%; }

#PreviewSettings { border-top:solid 1px #ddd; padding-top:1em; }
#PreviewPrefDV { border:solid #ddd 1px; margin-top:0.5em; }
#PreviewPrefDV td { padding:0.5em 1em; }

/* Alerting */

#AlertingDV { border:solid #ddd 1px; }
#AlertingDV td { padding:0.5em 1em; }
#AlertingDV td a {
	-moz-border-radius:3px; -webkit-border-radius:3px; background:#698ACD; background-image: -moz-linear-gradient(center top , #6f92d9, #6281bf); border:solid #699bff 1px; border-bottom-color:#5d7199; border-radius:3px;
	border-right-color:#5d7199; color:#fff !important; cursor:pointer; font-weight:bold; padding:0.25em 1.5em; text-decoration:none;
}

#AlertReportingSettings { padding-top:2em; }

#AlertReportingSettingsTable { border:solid #ddd 1px; margin-bottom:1em; }
#AlertReportingSettingsTable td { border:solid #ddd 1px; padding:0.5em 1em; }

/* Data Source Settings */

#DataSourceDetailsView { border:solid #ddd 1px; margin-bottom:1em; }
#DataSourceDetailsView td { padding:0.5em 1em; }
#DataSourceDetailsView td a {
	-moz-border-radius:3px; -webkit-border-radius:3px; background:#698ACD; background-image: -moz-linear-gradient(center top , #6f92d9, #6281bf); border:solid #699bff 1px; border-bottom-color:#5d7199; border-radius:3px;
	border-right-color:#5d7199; color:#fff !important; cursor:pointer; font-weight:bold; padding:0.25em 1.5em; text-decoration:none;
}

#SiteCollectionDiv table { border:solid #ddd 1px; margin-bottom:1em; }
#SiteCollectionDiv table th { background:#698acd; color:#fff; padding:0.35em 1em 0.35em 1em; font-weight:bold; }
#SiteCollectionDiv table td { border:solid #ddd 1px; padding:0.5em 1em; }
#SiteCollectionDiv table td input.button { font-size:0.9em; }

.info-div
{
	width:200px;
	height:auto;
	position:absolute;
	padding: 20px;
	z-index:5;
	margin-left:100px !important;
	border:1px solid black;
	border-radius:8px;
	vertical-align:middle;
	text-align:center;
	margin-top:7px !important
}
.hide
{
	display:none;

}

#validationDiv
{
	display:block;
	width:300px;
	height:170px;
	position:relative;
	text-align:center;
	vertical-align:middle;
	padding: 15px;
	
}
.center-align
{
	margin-top:500px;
	margin-left:500px;
}

.callout-style
{
    position: absolute;
    text-align: center;
    margin: 1em 0 3em;
    color: #000;
    border-radius: 6px;
  border: 1px solid black;
  z-index:1000;

}

.callout-style:before, .callout-style:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
  }

  
  
  .callout-style:after {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 23px solid white;
	  position: absolute;
	  left: 6px;
	  top: -19px;
	  
}
  .callout-style:before {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 16px solid black;
	  position: absolute;
	  left: 6px;
	  top: -19px;
	  
}



.ui-dialog {
	margin-left: 470px;
	margin-top: 210px;
	position: fixed !important;
	height: 170px;
	width: 200px;
	
}

.ui-widget-overlay {
	z-index: 2;
}


