﻿/**/

@import url("normalizer.css");

td 
{
	padding:8px;
}
.invisible 
{
	display:none;
}
.Grid 
{
	font-size:1em;
	width:100%
}
.Grid select, .Grid input, .Grid textarea
{
	font-weight:normal;
	font-size:11px;
}

.wizardButtons 
{
	float:right;
	padding:5px 15px;
	margin-bottom:10px;
	background:#ddd;
	font-size:10px;
	color:#666;
}
.wizardButtons a,.wizardButtons a:link 
{
	text-decoration:underline;
}
.wizardButtons span 
{
	font-weight:bold;
	color:#333;
	margin-right:15px;
}
.wizardButtons h5 
{
	border-bottom:solid 1px #ddd;
	font-size:11px;
}
#preferencesTabs 
{
	clear:both;
	margin:5px 12px 1em;
}
#preferencesTabs h2, #preferencesTabs h3
{
	margin:0 0 1em;
	font-size: 14px;
	font-weight: bold;
}
.ConditionsSettings 
{
	width:275px;
	margin-left:20px;
	float:left;
	font-size:12px;
}
.QuestionsBox 
{
	padding:0 15px 15px;
	clear:both;
	font-size:12px;
}
div.QuestionsBox th, div.QuestionsBox td 
{
	padding:2px 8px;
}
#SubscriptionsTable 
{
	margin-left:40px;
}
h3 
{
	font-size:1em;
	font-weight:bold;
	padding:1em 0 0;
}

.preferencesBody 
{
	background:#f4f4f4;
	padding-bottom:0.25em;
	margin-bottom:1em;
	/*border:solid 1px #ddd;
	padding:1em;*/
}
td.AdminFormHeader 
{
	padding:10px;
}
#LotLocationGV 
{
	margin-top:20px;
}
#SpecialsDV 
{
	margin-top:20px;
}
#SpecialsDV td 
{
	padding:8px;
}
#DestGV, #DestDV
{
	float:left;
	margin:20px;
}

.AdPreferencesForm 
{
	width:490px;
	float:left;
	font-size:75%;
}
.AdPreferencesForm a 
{
	font-size:16px;
	text-decoration:underline;
	color:#222288;
}
.PrefHeader 
{
	font-weight:bold;
	font-size:1.05em;
	border-bottom:solid 1px #ddd;
}

h3.certifiedHeader 
{
	margin-top:5px;
	margin-bottom:3px;
	font-size:14px;
	
}

h3.certifiedHeader .removeLink
{
	background:transparent url(../MAX60/Images/icons_AddRemoveDelete_12x12.png) no-repeat 0px -26px;
	float:right;
	font-size:0.8em !important;
	height:14px;
	overflow:hidden;
	margin-top:2px;
	padding-left:16px;
}

h4.certifiedHeader 
{
	margin-top:1em;
	margin-bottom:0.5em;
	font-size:1.2em;
	font-style:italic;
}

.DealerCustomText 
{
	font-size:1.1em;
	line-height:1.4em;
    padding:0 0 0 0.25em;
	position:relative;
	bottom:12px;
	left:25px;
}

/*working photo template reorder*/
.CustomImages li 
{
	display:block;
	float:left;
	width:90px;
	height:110px;
	border:solid 1px #ddd;
	margin:5px;
	background:#fff;
	text-align:center;
	padding:4px;
	position:relative;
}

.CustomImages div 
{
	width:72px;
	height:72px;
	overflow:hidden;
}
.CustomImages li img 
{
	width:100%;
	
}
.CustomImages input.Delete 
{
	position:absolute;
	top:0;
	right:0;
}
.CustomImages h5 
{
	margin:0;
	padding:2px;
	font-size:10px;
	text-align:left;
}
#photoTemplate 
{
	float:left;
	width:360px;
	padding:12px;
}
.newPhoto 
{
	background:#eee;
	padding:8px;
	position:relative;
	border:solid 1px #ddd;
	
	
	
}

.CustomImages
div#photoTemplate 
{
	
	float:left;
	padding:10px;
	
}
/*for reorderlist*/
div.reorderable td
{
	padding:0px;
}
.addDataForm 
{
	margin-top:15px;
	padding:10px;
	background:#DDE8FF;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
.AddMe 
{
	
	background:url('images/add_btn.gif') no-repeat;
	width:28px;
	height:19px;
	border:0;
	cursor:pointer;
}
.AddMe:hover
{
	background-image:url('images/aro_btn.gif');

}
#photoList
{
	clear:left;
	float:left;
	text-align:left;
	width:450px;
	padding-left:20px;
	padding-right:30px;
	border-right:solid 1px #ddd;
	margin-bottom:20px;
	
}
.dragHandle {
	width:13px;
	height:20px;
	background-color:Blue;
	background-image:url(images/bg-menu-main.png);
	cursor:move;
	border:outset thin white;
}

.callbackStyle {
	border:thin blue inset;		
}

.callbackStyle table {
	background-color:#5377A9;
}



.itemAreaPhoto, .itemArea {
	list-style:none;
	margin-top:2px;
	background-image:url(images/bg_nav.gif);
	background-repeat:repeat-x;
	color:#FFF;
}

.itemAreaPhoto,.itemArea {
	position:relative;
	bottom:1px;
	padding:0 10px;
	float:left;
	height:26px;
	font-size:1em;
	text-align:left;
}
.itemArea 
{
	line-height:2em;
	width:700px;
}
.itemArea input 
{
	float:right;
	margin-right:10px;
}
.itemArea input.redescribe {	
	width:300px;
	
}
.itemActions 
{
	float:left;
}


#photoList select 
{
	vertical-align:text-bottom;
}

.reorderable li a {color:#FFF !important; font-weight:bold;}

ul.header 
{
	margin-left:300px;
	font-size:10px;
}
ul.header li 
{
	display:inline;
	margin-left:15px;
	width:50px;
}
.photoReorderLabel 
{
	display:block;
	float:left;
	width:250px;
}
.photoType 
{
	display:block;
	float:left;
	width:80px;
}

.PhotoDeleteButton 
{
	
}

.reorderCue {
	border:dashed thin black;
	width:100%;
	height:25px;
}


/*Snippet editor tab, profile tab*/
.profileSelector 
{
	margin:10px 5px;
}
.BlurbBuilderTable a 
{
	margin-left:12px;
}
.warning 
{
	color:#ff6666;
	font-weight:bold;
}
.snippetHead 
{
	border-bottom:solid 2px #ddd;
	padding:5px;
	
}
.snippetHead li 
{
	display:inline;
	margin-right:8px;
	
}
.TextEditor 
{
	color:#555;
	margin:15px;
}


.yearPriceDiv 
{
	clear:left;
}

.highLabel 
{
	margin-left:90px;
	font-weight:bold;
}
.lowLabel 
{
	margin-left:140px;
	font-weight:bold;
}
/*vehicle profiles*/
span.rangeLabel 
{
	display:block;
	float:left;
	width:120px;
}
.listBoxDiv 
{
	float:left;
}

/**/
/*second profiles*/
/*Profile tab*/

.main 
{
	text-align:right;
	margin:1em 0 0;
	width:100%;
}
.controls 
{
	background:#f4f4f4;
	border-top:1px solid #dddddd;
	float:left;
	text-align:left;
	padding:0.5em 0 2em 3em;	
	min-height:250px;
	border-left:solid 1px #ddd;
	width:610px;
}
.controls li
{
	list-style-type:none !important;
	margin-left:0 !important;
}
.controls select 
{
	width:220px;	
}
.summary 
{
	background:#f4f4f4;
	border-top:1px solid #dddddd;
	float:left;
	text-align:left;
	width:250px;
	font-size:12px;
	padding:25px 10px;
	margin-bottom:0px;
	min-height:290px;
	
}

.summary td 
{
	padding:2px;
}
.summary td.header 
{

	font-weight:bold;
}

.highLabel 
{
	margin-left:90px;
	font-weight:bold;
}
.lowLabel 
{
	margin-left:140px;
	font-weight:bold;
}

span.rangeLabel 
{
	display:block;
	float:left;
	width:120px;
}
.listBoxDiv 
{
	float:left;
}


.templateRuleSection 
{
	
	border:1px solid;
	width:auto;
	background:#ededed;
}

.templateRuleSectionBody {
	padding:5px;
	text-align:left;
	clear:left;
	margin-top:20px;
}




.availableTemplates a, .availableTemplates a:visited, .availableTemplates a:link 
{
	text-decoration:none;
	color:#303030;
	
}

.availableTemplates a:hover 
{
	color:#a99;
}

.sliderLabel
{
	float:left;
	width:140px;
}

.listBoxDiv 
{
	float:left;
	width:auto;
	
	padding:5px 10px;
	border-right:solid 1px #777;
	
}
.noBorder 
{
	border:solid 0px;
}

.mainTemplateBox 
{
	padding:10px;
	text-align:center;
	position:relative;
	z-index:1;
}
#SnippetTabs 
{
	width:720px;
	float:left;
	margin:10px 0 0 20px;
}
.AvailableBlurbTree 
{
	background:#EEEEEE none repeat scroll 0 0;
	border-left:1px solid #AAAAAA;
	float:left;
	height:100%;
	max-height:380px;
	overflow:scroll;
	padding-top:10px;
	position:relative;
	right:-15px;
	text-align:left;
	top:-10px;
	width:230px;
}

.AvailableBlurbTree td
{
	padding:2px;
}


.BlurbBuilderTable 
{
	text-align:left;
}


.BlurbBuilderTable td
{
	text-align:left;
}

.BlurbBuilderContent 
{
	float:left;
	background:#ededed;
	margin-left:15px;
	padding:10px;
	width:700px;
}
.SampleTextCreatorHeader 
{
	font-size:1.1em;
	font-weight:bolder;
}
.SnippetEditorTable 
{
	margin:10px 0px;
	font-size:11px;
	width:99%;
}
.SnippetEditorTable td:first-child
{
	width:65px;
	border-right:solid 1px #ddd;
}
.SnippetEditorTable td.Active
{
	width:70px;
}

.SnippetEditorTable td 
{
	padding:2px 5px;
}
.GeneratedSampleTextForSampleText 
{
	font-size:0.8em;
	color:#888;
}
.profile 
{
	font-size:1.1em;
	font-weight:bold;
}
.PreTextInsertBox 
{
	padding:2px 4px;
	width:90%;
	margin:2px;
}

.ConditionField 
{
	width:300px;
	height:auto;
	min-height:60px;
	vertical-align:middle;
}
.TemplateBodyField 
{
	width:300px;
	height:auto;
	min-height:140px;
	vertical-align:middle;
}

.TemplateMergeFields select 
{
	margin-left:10px;
	margin-top:5px;
	margin-right:5px;
	width:180px;
	float:right;
	clear:right;
}

.templateCategory 
{
	padding:2px;
	margin-bottom:10px;
	font:italic 12px/14px;
	
}
.templateCategory a, .templateCategory a:link, .templateCategory a:hover
{
	font:12px/14px;
	color:#485775;
}
.SelectedBlurb, .SelectedBlurb a, .SelectedBlurb a:link, .SelectedBlurb a:hover
{
	color:#222255;
	font-weight:bold;
	
}
.templateBlurb 
{
	padding:1px;
	background:transparent;
	color:#333;
	font-style:normal;
	
}

.templateBlurb a, .templateBlurb a:link, .templateBlurb a:hover 
{
	color:#333;
	text-decoration:underline;
}
.templateBlurbRoot 
{
	width:100%;
	background:#ededed;
	color:#333;
	font:14px/16px;
}
.templateBlurbRoot a, .templateBlurbRoot a:link, .templateBlurbRoot a:hover
{
	color:#333;
	font:14px/16px;
}
.availTemplateTD 
{
	width:100px;
	text-align:left;
	
}
.AvailBlurbTreeForBuilding 
{
	
	position:absolute;
	top:0;
	right:0;
	background:#ededed url(images/topshadow.gif) repeat-x;
	text-align:left;
	padding:10px;
	margin:10px;
	border:solid 1px #777;
	width:200px;
	z-index:999;
	height:auto;
	
}
.AvailTemplatesForBuilding 
{
	float:left;
	text-align:left;
	width:200px;
	border:solid 1px #777;
	padding:0;
	
}
.headerTemplates 
{
	padding:8px 10px 3px 10px;
	height:auto;
	border-bottom:solid 1px #aaa;
	background-image:url(images/topshadow.gif);
	background-repeat:repeat-x;
	background-color:#ededed;
	font-size:12px;
}
.bodyTemplates
{
	padding:5px;
	font-size:12px;
}

.RulesListForBuilding 
{
	float:left;
}
.SelectedTemplate 
{
	background:#555588;
	padding:2px;
	-moz-border-radius:2px;
}

.SelectedTemplate a, .SelectedTemplate a:link, .SelectedTemplate a:hover, .SelectedTemplate a:visited 
{
	color:#f8f8f8;
	font-weight:bold;
	font-size:12px;

}

.snippet_tabs 
{
	width:660px;
	float:left;
	
}
.snippet_tabs .ui-tab-content 
{
	padding-bottom:10px;
}

/**/

.padHead th 
{
	padding:4px;
	font-size:90%;
}

.AvailGroups 
{
	float:left;
	margin-top:10px;
}
.controlBox {
    background:none repeat scroll 0 0 #F4F4F4;
    border:1px solid #dddddd;
    float:right;
    margin:1em 0 0;
    padding:0.5em 2em 1em;
}
.note 
{
	
	font-size:10px;
	float:right;
	padding:8px;
}
.controlBox input 
{
	margin:6px 6px 6px 0;
}
.controlBox select 
{
	font-size:11px;
}


.dirtyButton
{
	color:#bf0000;
	font-weight:bold;
}

/* Dealer Preferences (General) */

#preferencesTabs .formButtons { padding:2em 0 0; }
#preferencesTabs .formButtons input.button { font-size:1.2em; }
#preferencesTabs .formButtons input.submit { font-weight:bold; }



/* Campaign Settings */

#campaign_CampaignGV { width:75%; }

#campaign_CampaignGV p { margin:0.5em 0; }
#campaign_CampaignGV td { background:#f0f0f0; border-bottom:solid #ddd 1px; padding:1em 2em 0.5em; }
#campaign_CampaignGV td .tableButton { color:#698ACD; margin:0 auto; text-decoration:underline; }
#campaign_CampaignGV td label { padding-left:0.5em; position:relative; top:-2px; }
#campaign_CampaignGV th { background:#698acd; color:#fff; padding:0.35em 2em 0.35em 2em; font-weight:bold; }

/* Certified */

#CertifiedSettings { background:#f4f4f4; border-top:1px solid #ddd; margin-top:1em; width:100%; }

#CertifiedSettings .YourCertList { list-style-type:disc; margin-left:20px; color:#555; }
#CertifiedSettings .YourCertList a { color:#698ACD; }
#CertifiedSettings .YourCertList a:hover { text-decoration:underline; }

#CertifiedSettings .AvailableCertifieds { float:left; margin-left:15px; width:250px; }
#CertifiedSettings .CertifiedConfiguration { border-left:1px solid #ddd; float:left; padding:0.5em 0 2em 3em; width:590px; }
#CertifiedSettings .CertifiedConfiguration li label { margin-left:0.25em; }
#CertifiedSettings .CertifiedConfiguration .button { margin-top:2em; }

#ConfigureProgramSelectDiv { font-size:1.2em; padding-top:1em; }

#certifed_CertFV td { padding:0; }
#ProgramFeaturesUL { margin:0; }
#ProgramFeaturesUL li { list-style-type:none !important; margin-left:0 !important; }

/* Disclaimer */

.disclaimerTextBox { font-family:Courier New, Monospace, Serif; height:100px; width:400px; }

#DisclaimerTable { border-collapse:collapse; margin-top:1em; }
#DisclaimerTable td { padding:0.5em; }

/* Equipment Priority */

#PriorityList li { list-style-type:none !important; margin:0 !important; }

/* Specials */

table.Specials a {
	-moz-border-radius:3px; -webkit-border-radius:3px; background:#698ACD; background-image:-moz-linear-gradient(center top , #6f92d9, #6281bf); border:solid #699bff 1px;
	cursor:pointer; border-bottom-color:#5d7199; border-radius:3px; border-right-color:#5d7199; color:#fff; font-weight:bold;
	margin:1em 0.5em 0 0; padding:0.25em 1em; text-decoration:none;
}

/* Taglines */

.taglinesTable { border-collapse:collapse; margin-top:0.5em; width:100%; }
.taglinesTable th { background:#698acd; color:#fff; padding:0.35em 1em 0.35em 1em; font-weight:bold; }
.taglinesTable td { border-bottom:solid #ddd 1px; padding:0.35em 1em 0.5em 1em; vertical-align:middle; }
.taglinesTable td a { -mozborder-radius:3px; color:#698ACD; text-decoration:underline; }
.taglinesTable td .button { font-size:0.9em; }

.taglinesTable .tableFooter td { border-bottom:0; padding-top:1em; }
#editTag_TaglineGV_ctl02_lb { line-height:14pt; }

/* Vehicle Build Automator */

#AutoLoadMakes { padding:1em 0 0; }
#AutoLoadMakes label { display:block; float:left; font-weight:bold; font-size:1.1em; line-height:1.8em; width:175px; }

#EditSiteCredentialsPanel label {
	display:block; float:left; font-weight:normal; line-height:2.5em; padding-right:0.5em; text-align:right; width:150px;
}

/* Pre-Approve with Review */

#preferencesTabs .ui-tab-content li { margin:1em 0 1em 1em; line-height: 1.5em; list-style-type:square; }
#preferencesTabs .ui-tab-content .formButtons p.disclaimer { margin-top:0; }

.preApproveSettingsForm { background:#f4f4f4;  border:solid #ddd 1px; margin:2em 1.35em 0.5em; padding:2em; }
.preApproveSettingsForm .fieldLabelPair { clear:both; margin-bottom:1em; }
.preApproveSettingsForm .fieldLabelPair label { display:block; float:left; font-weight:bold; padding-right:0.5em; text-align:right; width:100px; }
.preApproveSettingsForm .error { color:#bf0000 !important; margin-left:0.25em; }
.preApproveSettingsForm .button, .preApproveSettingsForm .terms { left:108px; position:relative; margin-right: 108px; }
.preApproveSettingsForm .formButtons { padding:0 !important; }

/* Report Settings */

#ReportSettings_settings h2 { font-size:1em; padding:0 0 1.5em 0; }
#ReportSettings_settings .fieldLabelPair { margin-bottom:0.5em; }
#ReportSettings_settings .fieldLabelPair label { clear:left; display:block; float:left; font-size:1em; height:22px; line-height:22px; width:150px; }
#ReportSettings_settings .fieldLabelPair input { height:16px; margin-right:0.25em; }
#ReportSettings_settings .fieldLabelPair a { margin-left:0.5em; font-size:0.8em; }
#ReportSettings_settings .formButtons { margin-left:150px; padding-top:1em; }

#ttm_report_settings .fieldLabelPair { float: left; display: block; } 

#ttm_report_settings_goaldays .fieldLabelPair { clear:both; margin-bottom:0.5em; }

/* Alerts */

#bucketAlerts .dropDown { margin-bottom: 10px;}
#bucketAlerts .emailSettingsSection { margin: 10px 0 30px 0;}
#bucketAlerts .emailSettingsSection .emailHelp { clear:both;font-size: 10px; font-style: italic;display:block;}
#bucketAlerts .readonly { background:#CCC; color:#333; border:1px solid #666; cursor: default} /*IE doesn't play nice with [readonly] selectors*/
#bucketAlerts .error {border: 1px solid red;}

#bucketAlerts .alertBuckets div.alertHeader{ font-weight: bold; font-size:1.0em !important; }
/*
#bucketAlerts .alertBuckets div {margin: 1px 0 1px 0;}
#bucketAlerts .alertBuckets .alwaysOn {}
#bucketAlerts .alertBuckets .optional {}
#bucketAlerts p { clear: both; width: 100%; margin: 0; line-height: 5px; }
#bucketAlerts span { float:left; }
*/
#bucketAlerts p { margin: 0}
#bucketAlerts div.alertBuckets span.col1 { width: 140px; text-align:center; display: inline-block;} /* use display: inline-block to get the width to work on span */
#bucketAlerts div.alertBuckets span.col3 { width: 160px; text-align:center; display: inline-block;}  
#bucketAlerts div.alertBuckets span.col2 { width: 400px; display: inline-block;}

/* window sticker */
#windowSticker .error
{
    color: #FF0000;
}
#windowSticker .normal
{
    padding: 10px;
}
#windowSticker .windowStickerHistory table, tr, td
{
    padding: 0px;
}
#windowSticker .windowStickerHistory th
{
    padding: 0px;
    text-decoration: underline;
    font-weight: bold;
}



#ProfilePanel select#personalComputerDropDown { width: auto; }
#ProfilePanel .analyticsLabel { width: 8em; display:inline-block; margin-bottom: 10px;}

.readOnly_settings_value {
	font-style: italic;
	cursor: default;
}




