﻿/**/

@import url("normalizer.css");

#Content .preferencesBody { padding-left:12px; }

.featureLabels 
{
	display: inline;
	list-style: none;
}
.featureLabels li 
{
	display: block;
	float:left;
	width: 100px;
	text-align: center;
}


h3.certifiedHeader 
{
	margin-top:5px;
	margin-bottom:3px;
	font-size: 14px;
	
}

h3.certifiedHeader .removeLink
{
	background:transparent url(../MAX60/Images/icons_AddRemoveDelete_12x12.png) no-repeat 0px -27px;
	float:right;
	font-size:0.8em !important;
	margin-top:2px;
	padding-left:16px;
}

h4.certifiedHeader 
{
	margin-top:1em;
	margin-bottom:0.5em;
	font-size: 1.4em;
	font-style: italic;
}

.DealerCustomText 
{
	position: relative;
	bottom:12px;
	left:25px;
}
.YourCertList 
{
	list-style-type: disc;
	margin-left: 20px;	
	color: #555;
}
.YourCertList a 
{
	color: #555;
	
}
.YourCertList a:hover 
{
	color: #999;
}
.AvailableCertifieds 
{
	float:left;
	width: 220px;
}

.CertifiedConfiguration 
{
	background:#FFFFFF url(images/gradient_light.jpg) repeat-x scroll center top;
	border:1px solid #AAAAAA;
	float:left;
	margin-bottom:20px;
	margin-top:20px;
	padding:10px;
	width:700px;
}

.CertifiedConfiguration hr
{
    border:solid #666 1px;
    border-bottom:0px;
    clear:left;
    height:1px;
    margin:0.5em 0 1em;
    overflow:hidden;
}

.CertifiedConfiguration #ProgramFeaturesUL
{
	margin-left:25px;
}

.CertifiedConfiguration #ProgramFeaturesUL li
{
	margin-bottom:0.5em;
}

.CertifiedConfiguration #ProgramFeaturesUL li label
{
	left:0.5em;
	position:relative;
	top:-2px;
}

#ConfigureProgramSelectDiv
{
	margin-left:10px;
}

.CertifiedConfiguration table
{
	width:100%;
}

#setupWizard { background:#fff; border:solid #ddd 1px; width:953px; }
#setupWizard th { background:#698acd; color:#fff; padding:0.75em; text-align:left; }
#DealerSetupStatus { padding:0 0 1em; }

a.WizardNavLink 
{
	color:#fff;
	padding:0.5em 0.5em 1em;
	border-bottom: solid 1px #f8f8f8;
	display: block;
	text-decoration:none;
}
.WizardAction 
{
	padding: 4px;
	margin: 2px;
}
.WizardStep 
{
	background:#fff;
	padding: 15px;
	
}
.WizardStep td 
{
	padding:0.75em;
}
.WizardNav 
{
	background:#698acd;
	padding: 0;
	vertical-align:top;
	width: 200px;
}
.WizardNav td 
{
	padding: 3px 2px;
}
.ConditionsSettings 
{
	width: 300px;
	font-size: 11px;
	float: left;
	padding-top: 15px;
	
}
.ConditionsSettings table 
{
	margin-top: 10px;
	width:90%;
}
.ConditionsSettings table th
{
	background:#698acd;
	color:#fff;
	padding:0.75em;
	text-align:left;
}
.last 
{
	clear:left;
	margin-top: 30px;
	border-top: solid 1px #ddd;
}
.QuestionsBox input[type=text], .QuestionsBox input[type=password]
{
	width: 200px;
}
.padHead th
{
	padding: 4px;
}
.DestinationDV 
{
	font-size: 10px;
	margin-bottom: 10px;
}
.DestinationDV td 
{
	padding: 2px;
}

#CollectionGV td { vertical-align:top; }

select.destinationSelect
{
	margin-bottom:4em;
}

p.credentialDisclaimer
{
	position:absolute;
	margin-top:-4em;
	width:460px;
}

#AddSourceCredentialDisclaimer
{
    margin-top:0.5em !important;
}

h4 a, h4 a:link, h4 a:visited 
{
	text-decoration: underline;
	font-size: 12px;
	color: #222288;
	display: block;
	padding: 5px 10px; 
}
h2 
{
	font-size: 14px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	margin-top: 18px;
	border-bottom: solid 1px #bbb;
	
}

.WizardStep a, .WizardStep a:link, .WizardStep a:hover, .WizardStep a:visited 
{
	font-size: 12px;
	color: #222288;
	text-decoration: underline;
}

ul.bullet 
{
	list-style-type: disc;
	margin-left: 20px;
}
