﻿@model FirstLook.Merchandising.DomainModel.Reports.DashboardViewModels.GroupDashboardHomeModel
@{
    Layout = "../Shared/_Layout.cshtml";

    ViewBag.Title = "Group Dashboard | MAX : Intelligent Online Advertising Systems";
    ViewBag.ieViewDoc = "edge";
}

<input type="hidden" id="BusinessUnitIdHidden" value="@Model.GroupId" />
<input type="hidden" id="UserDealers" value="@Model.UserDealers" />

<div id="groupMenu" class="linkListBox freshPanel navList">
    <h2>Select Dealer</h2>
    <input type="text" placeholder="Filter" class="filter textFilter-input" />
    <div id="groupListContainer"></div>
    <script id="groupMenuLinks" type="text/x-jquery-tmpl">
        <li class="textFilter-target"><strong>${Name}</strong></li>
        {{each BusinessUnits}}
        <li class="textFilter-target"><a href="${Link}" class="textFilter-match">${Name}</a></li>
        {{/each}}
    </script>
</div>

<div class="groupDash clearfix dashWrapper">

    <div id="InventoryType" class="clearfix">        
        @using (Html.BeginForm("ChangeInventoryTypeFilter", "Group"))
        {
            @Html.DropDownListFor(
            x => x.SelectedUsedNewFilter,
                    Model.UsedNewFilters, new { @id = "InventoryTypeDDL", onchange = "_gaq.push(['_trackEvent', 'Dashboard', 'Change', 'Inventory Type']);this.form.submit();" });
        }
        <h2>@Model.GroupName</h2>
        <div class="refresh hidden">
            <span class="progress"></span>
            <span class="text">
                <a href="#" class="icon" title="Refresh">Refresh</a>Data refreshed at <span class="time"></span>. <span class="message"></span>
            </span>
        </div>
    </div>

    <div id="ActionAlerts" class="clearfix freshPanel linkListBox alerts clickable" title="click to see full report">

    	<h2>Online Inventory Alerts</h2>

        <table class="table-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="dealership">Dealership</th>
                    <th class="data-heading">Total Vehicles w/ Alerts</th>
                </tr>
            </thead>
        </table>

        <div id="inventory-alerts" class="clearfix">
            <table id="ulActionAlerts" cellpadding="0" cellspacing="0" border="0">
                <tbody></tbody>
            </table>
        </div>

        <script id="inventoryAlerts" type="text/x-jquery-tmpl">
            <tr>                                        
                <td class="dealership">${BusinessUnit}</td>
                <td class="data">${Data.BucketsData.ActionBucketsTotal}</td>
            </tr>
        </script>

        <a href="#" class="threshold-edit-link">Edit Threshold</a>
        <form class="threshold-setting" style="display: none;" onsubmit="return false;">
            <h6>Alerts Threshold</h6>
            <label>
                More than <input type="text" value="15%" id="onlineThreshold"> of inventory
            </label>
        </form>

        <span class="pointer"></span>

    </div>

    <a href="#" class="report-link" id="view-ActionAlerts" data-link="ActionAlertsReport">View Full Report</a>

	<div id="WebsitePerformance" class="clearfix freshPanel linkListBox">            
        
        <div class="chart-subheader clearfix">
            <div class="chart-title clearfix">
                <span class="chart_toggle">
                    <h1>Online Performance Analytics</h1>
                    <span class="toggle"></span>
                </span>
                <br />
                <span class="data-total"></span>
            </div>
            <div class="chart-controls">
                <script id="perfDataDateSelect" type="text/x-jquery-tmpl">                    
                    <option value="${dateValue}"{{if dateValue===defaultSelectedDate}} selected="selected"{{/if}}>
                        ${dateName.substring(0,3)} ${dateYear}
                    </option>
                </script>
                <div>
                    <span>From</span>
                    <select id="startDate"></select>
                </div>
                <div>
                    <span>To</span>
                    <select id="endDate"></select>
                </div>
            </div>
        </div>
                
        <div id="chart_stats" class="clearfix chart-data chart-container" style="display: none;">
            <div class="clearfix">
                <div id="chart_stats_searches"></div>
                <div id="chart_stats_pages"></div>
                <div id="chart_stats_actions"></div>
            </div>
            <div class="chart-footer clearfix vendor-conversion-stats"></div>
            <script id="vendorConversionStats" type="text/x-jquery-tmpl">
                <div class="stats">
                    <h5>Click-Thru Rate</h5>
                    {{each Sites}}
                    <span>${SiteName}: ${ClickThroughRate}%</span>
                    {{/each}}
                </div>
                <div class="stats">
                    <h5>Conversion Rate</h5>
                    {{each Sites}}
                    <span>${SiteName}: ${ConversionRate}%</span>
                    {{/each}}
                </div>
            </script>
            <div class="loading"></div>
            <div class="error"></div>
        </div>
        
        
        <div id="chart_tabs" class="tabs">
            <ul id="chart_select">
                <li><a href="#tab_perf">Online Classified Performance</a></li>
                <li><a href="#tab_ga">Website Traffic</a></li>
                <li><a href="#tab_ttm">Time to Market</a></li>
            </ul>
            <div id="tab_perf" class="chart-data chart-container">
                <div class="tabs level_2_tabs">
                    <ul>
                        <li><a href="#tab_impression">Cost Per Consumer (VDP) Impression</a></li>
                        <li><a href="#tab_lead">Cost Per Direct Lead</a></li>
                        <!-- <li><a href="#tab_vdp_trend">VDP Trend</a></li> -->
                    </ul>
                    <div id="tab_impression" class="chart-container">
                        <div class="bg">
                            <div class="clearfix">
                                <div id="chart_cv_chart"></div>
                                <div id="chart_cpv_wrapper">
                                    <div id="chart_cpv_chart"></div>
                                </div>
                            </div>                
                            <div class="chart-footer vendor-budgets"></div>
                            <div class="loading"></div>
                            <div class="error"></div>
                        </div>
                    </div>
                    <div id="tab_lead" class="chart-data chart-container">
                        <div class="bg">
                            <div class="clearfix">
                                <div id="chart_act_chart"></div>
                                <div id="chart_cpa_wrapper">
                                    <div id="chart_cpa_chart"></div>
                                </div>
                            </div>

                            <div class="data-options clearfix" id="lead_choices">
                                <div class="lead-types direct">
                                    <span class="type">Direct Leads</span>
                                    <input type="checkbox" name="EmailValue" id="leadEmail" checked="checked" />
                                    <label for="leadEmail">Email</label>

                                    <input type="checkbox" name="PhoneValue" id="leadPhone" checked="checked" />
                                    <label for="leadPhone">Phone</label>

                                    <input type="checkbox" name="ChatValue" id="leadChat" />
                                    <label for="leadChat">Chat</label>
                                </div>
                            </div>                
                            <div class="chart-footer vendor-budgets"></div>
                            <script id="vendorBudgets" type="text/x-jquery-tmpl">
                                <ul class="chart-costs clearfix">
                                    <li class="tag wider"><span class="cramped">Avg Monthly</span><br /><span class="enlarged">Cost</span><span class="pointer"></span></li>
                                    {{each site}}
                                    <li><span class="vendor">${SiteName}</span> {{if Budget}}${"$"+Highcharts.numberFormat(AverageBudget,0)}{{else}}<span class="missing-budget">missing budget</span>{{/if}}</li>
                                    {{/each}}
                                </ul>
                            </script>
                            <div class="loading"></div>
                            <div class="error"></div>
                        </div>
                    </div>
                    <!-- <div id="tab_vdp_trend" class="chart-data chart-container">
                        <div class="bg">
                            <div id="chart_vdpt_chart"></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div> -->
                </div>
            </div>
            <div id="tab_ga" class="chart-data clearfix">
                <div class="tabs level_2_tabs">
                    <ul>
                        <li><a href="#tab_sources">Traffic Sources</a></li>
                        <!-- <li><a href="#tab_mobile">Mobile Traffic</a></li> -->
                    </ul>
                    <div id="tab_sources" class="chart-container">
                        <div class="clearfix bg">
                            <div id="chart_ga_sources" class="chart-data"></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <!-- <div id="tab_mobile" class="chart-container">
                        <div class="clearfix bg">
                            <div id="chart_ga_mobile" class="chart-data"></div>
                            <div class="detaillinks"><a href="#" id="ga_mobile_details">View Details</a></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div> -->
                </div>
            </div>
            <div id="tab_ttm" class="clearfix chart-data chart-container">
                <div class="tabs level_2_tabs">
                    <ul>
                        <li><a href="#tab_ttm_g_owp">Days to Online With Photos</a></li>
                        <li><a href="#tab_ttm_g_cao">Days to Complete Ad Online</a></li>
                    </ul>
                    <div id="tab_ttm_g_owp" class="chart-container">
                        <div class="clearfix bg">
                            <div id="chart_ttm_g_owp" class="chart-data"></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                    <div id="tab_ttm_g_cao" class="chart-container">
                        <div class="clearfix bg">
                            <div id="chart_ttm_g_cao" class="chart-data"></div>
                        </div>
                        <div class="loading"></div>
                        <div class="error"></div>
                    </div>
                </div>
            </div>
        </div>
        <span class="pointer"></span>
    </div>

    <a href="#" class="report-link"  data-link="WebsitePerformanceReport" id="view-WebsitePerformance">View Full Report</a>

    

    <div id="ActivityAlerts" class="clearfix freshPanel linkListBox alerts clickable" title="click to see full report">

        <h2>Ad Quality Alerts</h2>

        <table class="table-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="dealership">Dealership</th>
                    <th class="data-heading">Total Vehicles w/ Alerts</th>
                </tr>
            </thead>
        </table>

        <div id="quality-alerts">
            <table id="ulAdQualityAlerts" cellpadding="0" cellspacing="0" border="0">
                <tbody></tbody>
            </table>
        </div>

        <script id="qualityAlerts" type="text/x-jquery-tmpl">
            <tr>                                        
                <td class="dealership">${BusinessUnit}</td>
                <td class="data">${Data.BucketsData.ActivityBucketsTotal}</td>
            </tr>    
        </script>

        <a href="#" class="threshold-edit-link">Edit Threshold</a>
        <form class="threshold-setting" style="display: none;" onsubmit="return false;">
            <h6>Alerts Threshold</h6>
            <label>
                More than <input type="text" value="15%" id="activityThreshold"> of inventory
            </label>
        </form>

        <span class="pointer"></span>

    </div>

    <a href="#" class="report-link" id="view-ActivityAlerts" data-link="ActivityAlertsReport">View Full Report</a>

</div>

<div id="reports" class="report-highlight freshPanel" style="display: none;">
    <span class="close" title="Close Report"></span>
    
    <div id="ActionAlertsReport" class="report" style="display: none;">
        <h2>Online Inventory Alerts</h2>
        <!-- <a class="download" href="#">Download to Excel</a> -->
        <table class="tablesorter reporttable" id="online_inv_alerts_report_table" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Dealership</th>
                    <th>Total Vehicles with Alerts</th>
                    <th>Not Online</th>
                    <th>No Price</th>
                    <th>No Photos</th>
                    <th>No Description</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script id="inventory_alerts_report" type="text/x-jquery-tmpl">
            {{each dealer}}
            <tr>
                <td>${$index + 1}</td>
                <td class="dealership">
                    {{if BusinessUnitHome}}
                        <a href="${BusinessUnitHome}">${BusinessUnit}</a>
                    {{else}}
                        ${BusinessUnit}
                    {{/if}}
                    {{if Data.DealerSiteData.Invalid}}
                        <span class="notification-warning" title="Invalid credentials for 3rd Party Site(s)"></span>
                    {{/if}}
                </td>
                <td>${Data.BucketsData.ActionBucketsTotal}</td>
                <td>
                    {{if !Data.BucketsActive.Offline}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.Offline}}
                        {{if reportviewer}}
                            <a href="${Data.BucketsData.ActionBuckets.Offline.NavigationUrl}">${Data.BucketsData.ActionBuckets.Offline.Count}</a>
                        {{else}}
                            ${Data.BucketsData.ActionBuckets.Offline.Count}
                        {{/if}}
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.NoPrice}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.NoPrice}}
                        <a href="${Data.BucketsData.ActionBuckets.NoPrice.NavigationUrl}">${Data.BucketsData.ActionBuckets.NoPrice.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.NoPhotos}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.NoPhotos}}
                        <a href="${Data.BucketsData.ActionBuckets.NoPhotos.NavigationUrl}">${Data.BucketsData.ActionBuckets.NoPhotos.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.CreateInitialAd}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.CreateInitialAd}}
                        <a href="${Data.BucketsData.ActionBuckets.CreateInitialAd.NavigationUrl}">${Data.BucketsData.ActionBuckets.CreateInitialAd.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </script>
    </div>

    <div id="ActivityAlertsReport" class="report" style="display: none;">
        <h2>Ad Quality Alerts</h2>
        <!-- <a class="download" href="#">Download to Excel</a> -->
        <table class="tablesorter reporttable" id="ad_quality_alerts_report_table" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Dealership</th>
                    <th>Total Vehicles with Alerts</th>
                    <th>Low Activity</th>
                    <th>Low Photos</th>
                    <th>No Packages</th>
                    <th>No Book Value</th>
                    <th>No Carfax</th>
                    <th>Equipment Review</th>                 
                    <th>Needs Re-pricing</th>
                    <th>No Trim</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <script id="quality_alerts_report" type="text/x-jquery-tmpl">        
            {{each dealer}}
            <tr>
                <td>${$index + 1}</td>
                <td class="dealership">
                    {{if BusinessUnitHome}}
                        <a href="${BusinessUnitHome}">${BusinessUnit}</a>
                    {{else}}
                        ${BusinessUnit}
                    {{/if}}
                    {{if Data.DealerSiteData.Invalid}}
                        <span class="notification-warning" title="Invalid credentials for 3rd Party Site(s)"></span>
                    {{/if}}
                </td>
                <td>${Data.BucketsData.ActivityBucketsTotal}</td>
                <td>
                    {{if !Data.BucketsActive.LowActivity}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActivityBuckets.LowActivity}}
                        {{if reportviewer}}
                            <a href="${Data.BucketsData.ActivityBuckets.LowActivity.NavigationUrl}">${Data.BucketsData.ActivityBuckets.LowActivity.Count}</a>
                        {{else}}
                            ${Data.BucketsData.ActivityBuckets.LowActivity.Count}
                        {{/if}}
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.LowPhotos}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActivityBuckets.LowPhotos}}
                        <a href="${Data.BucketsData.ActivityBuckets.LowPhotos.NavigationUrl}">${Data.BucketsData.ActivityBuckets.LowPhotos.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.NoPackages}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActivityBuckets.NoPackages}}
                        <a href="${Data.BucketsData.ActivityBuckets.NoPackages.NavigationUrl}">${Data.BucketsData.ActivityBuckets.NoPackages.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.BookValueNeeded}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActivityBuckets.BookValueNeeded}}
                        <a href="${Data.BucketsData.ActivityBuckets.BookValueNeeded.NavigationUrl}">${Data.BucketsData.ActivityBuckets.BookValueNeeded.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if InventoryType==="New" || !Data.BucketsActive.NoCarfax}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActivityBuckets.NoCarfax}}
                        <a href="${Data.BucketsData.ActivityBuckets.NoCarfax.NavigationUrl}">${Data.BucketsData.ActivityBuckets.NoCarfax.Count}</a>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.EquipmentNeeded}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.EquipmentNeeded}}
                        <a href="${Data.BucketsData.ActionBuckets.EquipmentNeeded.NavigationUrl}">${Data.BucketsData.ActionBuckets.EquipmentNeeded.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.DueForRepricing}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.DueForRepricing}}
                        <a href="${Data.BucketsData.ActionBuckets.DueForRepricing.NavigationUrl}">${Data.BucketsData.ActionBuckets.DueForRepricing.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
                <td>
                    {{if !Data.BucketsActive.TrimNeeded}}
                        <span class="no-data">no&nbsp;data</span>
                    {{else Data.BucketsData.ActionBuckets.TrimNeeded}}
                        <a href="${Data.BucketsData.ActionBuckets.TrimNeeded.NavigationUrl}">${Data.BucketsData.ActionBuckets.TrimNeeded.Count}</a>
                    {{else}}
                        <span class="no-data">no&nbsp;data</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </script>
    </div>


    <div id="ttm_report" class="report" style="display: none;">
    </div>
    <script id="ttm_report_tmpl" type="text/x-jquery-tmpl">
        <h2>Time To Market</h2>
        <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Dealership</th>
                    <th>Days to Online with Photos</th>
                    <th>Min Days to Online with Photos</th>
                    <th>Max Days to Online with Photos</th>
                    <th>Days to Complete Ad Online</th>
                </tr>
            </thead>
            <tbody>                
                {{each BusinessUnits}}<tr>
                    <td>${$index + 1}</td>
                    <td class="dealership">
                        {{if BusinessUnitHome}}
                            <a href="${BusinessUnitHome}">${BusinessUnit}</a>
                        {{else}}
                            ${BusinessUnit}
                        {{/if}}
                    </td>
                    <td>${AverageDaysToPhotoOnline.toFixed(1)}</td>
                    <td>${MinDaysPhoto}</td>
                    <td>${MaxDaysPhoto}</td>
                    <td>${AverageDaysToCompleteAd.toFixed(1)}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <div id="WebsitePerformanceReport" class="report" style="display: none;">
        <!-- <a class="download" href="#">Download to Excel</a> -->        
        <div id="WebsitePerformanceReport-reports"></div>
        <script id="website_performance_sites" type="text/x-jquery-tmpl">
            <h2>Online Classified Performance</h2>
            <ul class="nav">
                {{each site}}
                <li><a href="#tab-${CSSID}">${SiteName}</a></li>
                {{/each}}
            </ul>
            {{each site}}
                <div id="tab-${CSSID}">
                    <table class="tablesorter reporttable" id="website_performance_report_table" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Dealership</th>
                                <th class="budget">Monthly Cost</th>
                                <th>Consumer (VDP) Impression</th>
                                <th>Cost Per Consumer (VDP) Impression</th>
                                <th>Consumer (VDP) Impression per Vehicle</th>
                                <th>Direct Leads</th>
                                <th>Cost Per Direct Lead</th>
                                <th>Direct Leads Per Vehicle</th>
                                <th>Email Leads</th>
                                <th>Phone Leads</th>                                
                                <th>Chat Leads</th>
                                <!--<th>% of Market Avg</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            {{each Dealers}}
                            <tr>
                                <td>${$index + 1}</td>
                                <td class="dealership">
                                    {{if BusinessUnitHome}}<a href="${BusinessUnitHome}">${BusinessUnit}</a>{{else}}${BusinessUnit}{{/if}}
                                    {{if Data.Sites[SiteName].CredentialStatus===-1}}<span class="notification-warning" title="Invalid credentials for ${SiteName}!"></span>{{/if}}
                                    <span class="hidden business_unit_id">${BusinessUnitId}</span>
                                </td>
                                <!--<td class="editable"><span class="original">${Data.Sites[SiteName].Budget}</span></td>-->
                                <td>$${Data.Sites[SiteName].Budget.toFixed(0)}</td>
                                <td>${Data.Sites[SiteName].DetailValue.toFixed(0)}</td>
                                <td>{{if Data.Sites[SiteName].CostPerVDP}}$${Data.Sites[SiteName].CostPerVDP.toFixed(2)}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                                <td>${Data.Sites[SiteName].DetailPerVehicle.toFixed(2)}</td>
                                <td>${Data.Sites[SiteName].LeadValue.toFixed(0)}</td>
                                <td>{{if Data.Sites[SiteName].CostPerLead}}$${Data.Sites[SiteName].CostPerLead.toFixed(2)}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                                <td>${Data.Sites[SiteName].LeadPerVehicle.toFixed(2)}</td>
                                <td>{{if Data.Sites[SiteName].EmailValue}}${Data.Sites[SiteName].EmailValue.toFixed(0)}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                                <td>{{if Data.Sites[SiteName].PhoneValue}}${Data.Sites[SiteName].PhoneValue.toFixed(0)}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                                <td>{{if Data.Sites[SiteName].ChatValue}}${Data.Sites[SiteName].ChatValue.toFixed(0)}{{else}}<span class="no-data">no&nbsp;data</span>{{/if}}</td>
                                <!--<td>${Data.Sites[SiteName].MarketValue}</td>-->
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/each}}
        </script>
    </div>

    <div id="ga_sources_report" class="report" title="Sources of Website Traffic Report" style="display: none;"></div>
    <script id="ga_sources_tmpl" type="text/x-jquery-tmpl">
        <h2>Sources of Website Traffic Report</h2>
        <table class="tablesorter reporttable" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Source/Medium</th>
                    <th>% Visits</th>
                    <th>Visits</th>
                    <th>Pages Per Visit</th>
                    <th>Avg Visit Duration</th>
                    <th>% New Visits</th>
                    <th>Bounce Rate</th>
                </tr>
            </thead>
            <tbody>                
                {{each source}}<tr>
                    <td>${$index + 1}</td>
                    <td class="dealership">${Key}</td>
                    <td>${Percentage.toFixed(2)}%</td>
                    <td>${Visits}</td>
                    <td>${PageviewsPerVisit.toFixed(2)}</td>
                    <td>${AverageVisitDuration}</td>
                    <td>${PercentageNew.toFixed(2)}%</td>
                    <td>${VisitBounceRate.toFixed(2)}%</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>


</div>