﻿@using Wanamaker.WebApp.Helpers
@model FirstLook.Merchandising.DomainModel.Reports.DashboardViewModels.GroupDashboardHomeModel
@{
    Layout = "../Shared/_LayoutKO.cshtml";

    ViewBag.Title = "Group Dashboard | MAX : Intelligent Online Advertising Systems";
    ViewBag.ieViewDoc = "edge";
}

<input type="hidden" id="BusinessUnitIdHidden" value="@Model.GroupId" />
<input type="hidden" id="UserDealers" value="@Model.UserDealers" />

<div id="groupMenu" class="linkListBox freshPanel navList">
    <h2>Select Dealer</h2>
    <input type="text" placeholder="Filter" class="filter textFilter-input" />
    <div id="groupListContainer"></div>
    <script id="groupMenuLinks" type="text/x-jquery-tmpl">
        <li class="textFilter-target"><strong>${Name}</strong></li>
        {{each BusinessUnits}}
        <li class="textFilter-target"><a href="${Link}" class="textFilter-match">${Name}</a></li>
        {{/each}}
    </script>
</div>

<div class="beta_tag" style="display:none" data-bind="visible:virtualControls.showBeta">beta</div>

<div class="groupDash clearfix dashWrapper">

    @* TODO : the style of the drop down is getting messed up in case of error *@
    <div id="InventoryType" class="clearfix">        
        @using (Html.BeginForm("ChangeInventoryTypeFilter", "Group"))
        {
            @Html.DropDownListFor(
                x => x.SelectedUsedNewFilter,
                Model.UsedNewFilters, 
                new Dictionary<string,object>{
                    {"id", "InventoryTypeDDL"},
                    {"onchange", "_gaq.push(['_trackEvent', 'Dashboard', 'Change', 'Inventory Type']);"},
                    {"data-bind", "value:controls.vehicleTypeFilter"}
                }
            );
        }
        <h2>@Model.GroupName</h2>
        <div class="refresh" data-bind="visible: data.cache.display().visible, click: ForceCachePull" style="display:none">
            <span class="progress" data-bind="style:{ width:data.cache.display().progress }"></span>
            <span class="text">
                <a href="#" class="icon" data-bind="click:ForceCacheRefresh, clickBubble:false, css:{ loading:data.cache.display().active }, visible:(data.cache.display().active || !virtualControls.manualCacheRefreshInProgress())" title="Refresh">&nbsp;</a>
                <span data-bind="html:data.cache.display().message, css:data.cache.display().css"></span>
            </span>
        </div>
    </div>

    <div id="ActionAlerts" class="clearfix freshPanel linkListBox alerts clickable" title="click to see full report" data-bind="click: reports.OnlineInventoryAlerts.show_inline">

    	<h2>Online Inventory Alerts</h2>

        <table class="table-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="dealership">Dealership</th>
                    <th class="data-heading">Total&nbsp;Vehicles w/ Alerts</th>
                </tr>
            </thead>
        </table>

        <div id="inventory-alerts" class="clearfix">
            <table id="ulActionAlerts" cellpadding="0" cellspacing="0" border="0">
                <tbody data-bind="foreach: data.alerts.action">
                    <tr>                                        
                        <td class="dealership" data-bind="text: name"></td>
                        <td class="data" data-bind="text: count"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="#" class="threshold-edit-link" data-bind="click: controls.showEditActionThreshold.bind(true), clickBubble:false, visible: !controls.showEditActionThreshold()">Edit Threshold</a>
        <div class="threshold-setting" data-bind="visible: controls.showEditActionThreshold" style="display:none">
            <h6>Alerts Threshold</h6>
            <label>
                More than <input type="text" data-bind="value: controls.alertActionThresholdInput, valueUpdate:'afterkeydown'">% of inventory
            </label>
        </div>

        <span class="pointer" data-bind="visible:virtualControls.activeReport() && virtualControls.activeReport().indicator.length > 0 && virtualControls.activeReport().indicator[0]==$element" style="display:none"></span>

    </div>

    <a href="#" class="report-link" data-bind="visible: !virtualControls.activeReport() || !$('#ActionAlerts > .pointer').is(':visible'), click: reports.OnlineInventoryAlerts.show_inline" id="view-ActionAlerts" style="display:none">View Full Report</a>

	<div id="WebsitePerformance" class="clearfix freshPanel linkListBox">            
        
        <div class="chart-subheader clearfix">
            <div class="chart-title clearfix">
                <span class="chart_toggle" data-bind="click:Toggle_AnalyticsSuite, css:{ interactive:dynamic_config.show_Overview }">
                    <h1 data-bind="visible:!controls.analyticsSuiteToggle()">Online Classified Overview</h1>
                    <h1 data-bind="visible:controls.analyticsSuiteToggle" style="display:none">Digital Performance Analytics</h1>
                    <span class="toggle"></span>
                </span>
                <br />
                <span class="data-total" data-bind="html: controls.dealershipCountDisplay"></span>
            </div>
            <div class="chart-controls">
                <div>
                    <span>From</span>
                    <select id="startDate" data-bind="options:static_config.dateRange, optionsText:'str', optionsValue:'val', value:controls.dateRangeFrom"></select>
                </div>
                <div>
                    <span>To</span>
                    <select id="endDate" data-bind="options:static_config.dateRange, optionsText:'str', optionsValue:'val', value:controls.dateRangeTo"></select>
                </div>
            </div>
        </div>
                
        <div id="chart_stats" data-bind="visible:!controls.analyticsSuiteToggle()" class="clearfix chart-data chart-container">
            <div class="clearfix" data-bind="visible:!charts.Overview_AvgSearches.loading() && !errors.Overview()">
                <div id="chart_stats_searches"></div>
                <div id="chart_stats_pages"></div>
                <div id="chart_stats_actions"></div>
            </div>
            <div class="chart-footer clearfix vendor-conversion-stats" data-bind="visible:!charts.Overview_AvgSearches.loading() && !errors.Overview()">
                <div class="stats">
                    <h5>Click-Thru Rate</h5>
                    <span data-bind="foreach: data.charts.Overview_ClickThruRate">
                        <span data-bind="text:name"></span>: <span data-bind="text:number_format(value,2)"></span>% &nbsp;
                    </span>
                </div>
                <div class="stats">
                    <h5>Conversion Rate</h5>
                    <span data-bind="foreach: data.charts.Overview_ConversionRate">
                        <span data-bind="text:name"></span>: <span data-bind="text:number_format(value,2)"></span>% &nbsp;
                    </span>
                </div>
            </div>
            <div class="loading" data-bind="visible:charts.Overview_AvgSearches.loading() && !errors.Overview()"></div>
            <div class="error" data-bind="visible:errors.Overview, html:errors.Overview"></div>
        </div>
        
        
        <div id="chart_tabs" data-bind="visible:controls.analyticsSuiteToggle" class="tabs" style="display:none">
            <ul id="chart_select">
                <li><a href="#tab_ttm"  data-bind="click: function(){ this.UpdateDealershipCount(); this.reports.TimeToMarket.show_inline(); }">Time to Market</a></li>
                <li><a href="#tab_perf" data-bind="click: function(){ this.UpdateDealershipCount(); this.reports.OnlineClassifiedPerformance.show_inline(); }">Online Classified Performance</a></li>
                <li><a href="#tab_ga"   data-bind="click: function(){ this.UpdateDealershipCount(); this.reports.WebsiteTraffic.show_inline(); }">Website<br/>Traffic</a></li>
                <li><a href="#tab_show" data-bind="visible:dynamic_config.hasShowroomReporting, click: function(){ this.UpdateDealershipCount(); this.reports.Website20Showroom.show_inline(); }"  style="display:none">Showroom &<br/>Website 2.0</a></li>
            </ul>
            <div id="tab_perf" class="chart-data chart-container">
                <span data-bind="visible:dynamic_config.enableAnalyticsSuite">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_impression">Cost Per Consumer (VDP) Impression</a></li>
                            <li><a href="#tab_lead">Cost Per Direct Lead</a></li>
                            <!-- <li><a href="#tab_vdp_trend">VDP Trend</a></li> -->
                        </ul>
                        <div id="tab_impression" class="chart-container">
                            <div class="bg">
                                <div class="clearfix">
                                    <div id="chart_cv_chart" data-bind="visible:!charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.Performance_CostPerConsumerVDPImpression()"></div>
                                    <div id="chart_cpv_chart" data-bind="visible:!charts.Performance_AvgCostPerConsumerVDPImpression.loading() && !errors.Performance_CostPerConsumerVDPImpression()"></div>
                                </div>                
                                <script type="text/html" id="avg_monthly_cost_template">
                                    <ul class="chart-costs clearfix">
                                        <li class="tag wider">
                                            <span class="cramped">Avg Monthly</span><br />
                                            <span class="enlarged">Cost</span><span class="pointer"></span>
                                        </li>
                                        <!-- ko foreach: data.charts.Performance_AvgMonthlyCost -->
                                        <li>
                                            <span class="vendor" data-bind="text: site_name"></span>
                                            <!-- ko if: budget -->
                                            $<span data-bind="text: number_format(budget,0)"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: budget -->
                                            <a class="not-a-link">set monthly cost</a>
                                            <!-- /ko -->
                                        </li>
                                        <!-- /ko -->
                                    </ul>
                                </script>
                                <div class="chart-footer vendor-budgets" data-bind="template:{ name: 'avg_monthly_cost_template' }, visible:!charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.Performance_CostPerConsumerVDPImpression()"></div>
                                <div class="loading" data-bind="visible:charts.Performance_AvgConsumerVDPImpressions.loading() && !errors.Performance_CostPerConsumerVDPImpression()"></div>
                                <div class="error" data-bind="visible:errors.Performance_CostPerConsumerVDPImpression, html:errors.Performance_CostPerConsumerVDPImpression"></div>
                            </div>
                        </div>
                        <div id="tab_lead" class="chart-data chart-container">
                            <div class="bg">
                                <div class="clearfix">
                                    <div id="chart_act_chart" data-bind="visible:!charts.Performance_AvgNumberDirectLeads.loading() && !errors.Performance_CostPerDirectLead()"></div>
                                    <div id="chart_cpa_chart" data-bind="visible:!charts.Performance_AvgCostPerDirectLead.loading() && !errors.Performance_CostPerDirectLead()"></div>
                                </div>

                                <div class="data-options clearfix" id="lead_choices" data-bind="visible:!charts.Performance_AvgNumberDirectLeads.loading() && !errors.Performance_CostPerDirectLead()">
                                    <div class="lead-types direct">
                                        <span class="type">Direct Leads</span>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsEmail" checked="checked">&nbsp;Email</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsPhone" checked="checked">&nbsp;Phone</label>
                                        <label><input type="checkbox" data-bind="checked:controls.enableLeadsChat"                   >&nbsp;Chat</label>
                                    </div>
                                </div>                
                                <div class="chart-footer vendor-budgets" data-bind="template:{ name: 'avg_monthly_cost_template' }, visible:!charts.Performance_AvgNumberDirectLeads.loading() && !errors.Performance_CostPerDirectLead()"></div>
                                <div class="loading" data-bind="visible:charts.Performance_AvgNumberDirectLeads.loading() && !errors.Performance_CostPerDirectLead()"></div>
                                <div class="error" data-bind="visible:errors.Performance_CostPerDirectLead, html:errors.Performance_CostPerDirectLead"></div>
                            </div>
                        </div>
                    </div>
                </span>
                <span data-bind="visible:!dynamic_config.enableAnalyticsSuite()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_dpa_ocp.png")">
                    </div>
                </span>
            </div>
            <div id="tab_ga" class="chart-data clearfix">
                <span data-bind="visible:dynamic_config.enableAnalyticsSuite">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_sources">Traffic Sources</a></li>
                        </ul>
                        <div id="tab_sources" class="chart-container">
                            <div class="clearfix bg">
                                <div id="chart_ga_sources" class="chart-data" data-bind="visible:!charts.WebsiteTraffic_TrafficSources.loading() && !errors.WebsiteTraffic_TrafficSources()"></div>
                            </div>
                            <div class="loading" data-bind="visible:charts.WebsiteTraffic_TrafficSources.loading() && !errors.WebsiteTraffic_TrafficSources()"></div>
                            <div class="error" data-bind="visible:errors.WebsiteTraffic_TrafficSources, html:errors.WebsiteTraffic_TrafficSources"></div>
                        </div>
                    </div>
                </span>
                <span data-bind="visible:!dynamic_config.enableAnalyticsSuite()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_dpa_wt.png")">
                    </div>
                </span>
            </div>
            <div id="tab_ttm" class="clearfix chart-data chart-container">
                <span data-bind="visible:dynamic_config.show_TTM">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_ttm_g_owp">Days to Online With Photos</a></li>
                            <li><a href="#tab_ttm_g_cao">Days to Complete Ad Online</a></li>
                        </ul>
                        <div id="tab_ttm_g_owp" class="chart-container">
                            <div class="clearfix bg">
                                <div id="chart_ttm_g_owp" class="chart-data" data-bind="visible:!charts.TimeToMarket_DaysToOnlineWithPhotos.loading() && !errors.TimeToMarket_DaysToOnlineWithPhotos()"></div>
                            </div>
                            <div class="loading" data-bind="visible:charts.TimeToMarket_DaysToOnlineWithPhotos.loading() && !errors.TimeToMarket_DaysToOnlineWithPhotos()"></div>
                            <div class="error" data-bind="visible:errors.TimeToMarket_DaysToOnlineWithPhotos, html:errors.TimeToMarket_DaysToOnlineWithPhotos"></div>
                        </div>
                        <div id="tab_ttm_g_cao" class="chart-container">
                            <div class="clearfix bg">
                                <div id="chart_ttm_g_cao" class="chart-data" data-bind="visible:!charts.TimeToMarket_DaysToCompleteAdOnline.loading() && !errors.TimeToMarket_DaysToCompleteAdOnline()"></div>
                            </div>
                            <div class="loading" data-bind="visible:charts.TimeToMarket_DaysToCompleteAdOnline.loading() && !errors.TimeToMarket_DaysToCompleteAdOnline()"></div>
                            <div class="error" data-bind="visible:errors.TimeToMarket_DaysToCompleteAdOnline, html:errors.TimeToMarket_DaysToCompleteAdOnline"></div>
                        </div>
                    </div>
                </span>
                <span data-bind="visible:!dynamic_config.show_TTM()" style="display:none">
                    <div class="clearfix bg marketing_message">
                        <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/marketing_message_g_ttm.png?ver2")">
                    </div>
                </span>
            </div>
            <div id="tab_show" class="clearfix chart-data chart-container">
                <span data-bind="visible:dynamic_config.hasShowroomReporting">
                    <div class="tabs level_2_tabs">
                        <ul>
                            <li><a href="#tab_showroom" data-bind="click: function(){ this.UpdateDealershipCount(); this.reports.Website20Showroom.show_inline(); }">Digital Showroom Vehicles Viewed</a></li>
                            <li><a href="#tab_website20" data-bind="click: function(){ this.UpdateDealershipCount(); this.reports.Website20Traffic.show_inline(); }">Website 2.0 Vehicles Viewed</a></li>
                        </ul>
                        <div id="tab_showroom" class="chart-container">
                            <div class="clearfix bg" data-bind="visible:dynamic_config.hasDigitalShowroom()">
                                <div id="chart_showroom" class="chart-data" data-bind="visible:!charts.Website20Showroom.loading() && !errors.Website20Showroom()"></div>
                                <div class="loading" data-bind="visible:charts.Website20Showroom.loading() && !errors.Website20Showroom()"></div>
                                <div class="error" data-bind="visible:errors.Website20Showroom, html:errors.Website20Showroom"></div>
                            </div>
                            
                            <div class="clearfix bg marketing_message" data-bind="visible:!dynamic_config.hasDigitalShowroom()" style="display:none">
                                <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/dealer_show_us.png")">
                            </div>
                        </div>
                        <div id="tab_website20" class="chart-container">
                            <div class="clearfix bg" data-bind="visible:dynamic_config.hasWebsite20()">
                                <div id="chart_website20engagement" class="chart-render split_chart split_left" data-bind="visible:!charts.Website20Engagement.loading() && !errors.Website20Traffic()"></div>
                                <div id="chart_website20views" class="chart-render split_chart split_right" data-bind="visible:!charts.Website20Views.loading() && !errors.Website20Traffic()"></div>
                                <div class="loading" data-bind="visible:charts.Website20Engagement.loading() && !errors.Website20Traffic()"></div>
                                <div class="error" data-bind="visible:errors.Website20Traffic, html:errors.Website20Traffic"></div>
                            </div>
                            <div class="clearfix bg marketing_message" data-bind="visible:!dynamic_config.hasWebsite20()" style="display:none">
                                <img src="@Url.Content("~/Themes/MaxMvc/Images/Dashboard/dealer_web20_g_us.png")">
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <span class="pointer" data-bind="visible:virtualControls.activeReport() && virtualControls.activeReport().indicator.length > 0 && virtualControls.activeReport().indicator[0]==$element" style="display:none"></span>
    </div>

    <a href="#" class="report-link" data-bind="visible: (!virtualControls.activeReport() || !$('#WebsitePerformance > .pointer').is(':visible')) && controls.analyticsSuiteToggle(), click: ViewReportLink_main_click" id="view-WebsitePerformance" style="display:none">View Full Report</a>

    

    <div id="ActivityAlerts" class="clearfix freshPanel linkListBox alerts clickable" title="click to see full report" data-bind="click:reports.AdQualityAlerts.show_inline">

        <h2>Merchandising Alerts</h2>

        <table class="table-header" cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th class="dealership">Dealership</th>
                    <th class="data-heading">Total&nbsp;Vehicles w/ Alerts</th>
                </tr>
            </thead>
        </table>

        <div id="quality-alerts">
            <table id="ulAdQualityAlerts" cellpadding="0" cellspacing="0" border="0">
                <tbody data-bind="foreach: data.alerts.activity">
                    <tr>                                        
                        <td class="dealership" data-bind="text: name"></td>
                        <td class="data" data-bind="text: count"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="#" class="threshold-edit-link" data-bind="click: controls.showEditActivityThreshold.bind(true), clickBubble:false, visible: !controls.showEditActivityThreshold()">Edit Threshold</a>
        <div class="threshold-setting" data-bind="visible: controls.showEditActivityThreshold" style="display:none">
            <h6>Alerts Threshold</h6>
            <label>
                More than <input type="text" data-bind="value: controls.alertActivityThresholdInput, valueUpdate:'afterkeydown'">% of inventory
            </label>
        </div>

        <span class="pointer" data-bind="visible:virtualControls.activeReport() && virtualControls.activeReport().indicator.length > 0 && virtualControls.activeReport().indicator[0]==$element" style="display:none"></span>

    </div>

    <a href="#" class="report-link" data-bind="visible: !virtualControls.activeReport() || !$('#ActivityAlerts > .pointer').is(':visible'), click: reports.AdQualityAlerts.show_inline" id="view-ActivityAlerts" style="display:none">View Full Report</a>

</div>


<div id="reports" class="report-highlight freshPanel" data-bind="visible:virtualControls.activeReport" style="display:none;">
    <span class="close" title="Close Report" data-bind="click:_(virtualControls.activeReport).partial(null)"></span>
                                                                                                                                                                                                                                                                                                                   
    <div data-bind="visible: virtualControls.activeReport() == reports.OnlineInventoryAlerts" id="action_alerts_report" class="report_table_container">
        <h2>Online Inventory Alerts</h2>
        <span data-bind="report:reports.OnlineInventoryAlerts, visible:!(reports.OnlineInventoryAlerts.loading() || reports.OnlineInventoryAlerts.error())"></span>
        <span class="loading" data-bind="visible:reports.OnlineInventoryAlerts.loading"></span>
        <span class="report_error" data-bind="visible:reports.OnlineInventoryAlerts.error, html:reports.OnlineInventoryAlerts.error"></span>
    </div>
    
    <div data-bind="visible: virtualControls.activeReport() == reports.AdQualityAlerts" id="activity_alerts_report" class="report_table_container">
        <h2>Merchandising Alerts</h2>
        <span data-bind="report:reports.AdQualityAlerts, visible:!(reports.AdQualityAlerts.loading() || reports.AdQualityAlerts.error())"></span>
        <span class="loading" data-bind="visible:reports.AdQualityAlerts.loading"></span>
        <span class="report_error" data-bind="visible:reports.AdQualityAlerts.error, html:reports.AdQualityAlerts.error"></span>
    </div>
    
    <div data-bind="visible: virtualControls.activeReport() == reports.OnlineClassifiedPerformance" id="perf_report" class="report_table_container">
        <h2>Online Classified Performance</h2>
        <span>
            <ul class="report_tabs" data-bind="foreach: _.keys(reports.OnlineClassifiedPerformance.child_reports())">
                <li data-bind="text: $data, click: $parent.reports.OnlineClassifiedPerformance.active_tab.bind( $parent.reports.OnlineClassifiedPerformance, $data ), css:{ active: $parent.reports.OnlineClassifiedPerformance.active_tab() == $data }"></li>
            </ul>
            <!-- ko foreach: _.keys(reports.OnlineClassifiedPerformance.child_reports()) -->
            <span data-bind="visible: $parent.reports.OnlineClassifiedPerformance.active_tab() == $data, report: $parent.reports.OnlineClassifiedPerformance.child_reports()[$data]"></span>
            <!-- /ko -->
        </span>
        <span class="loading" data-bind="visible:reports.OnlineClassifiedPerformance.loading"></span>
        <span class="report_error" data-bind="visible:reports.OnlineClassifiedPerformance.error, html:reports.OnlineClassifiedPerformance.error"></span>
    </div>
    
    <div data-bind="visible: virtualControls.activeReport() == reports.WebsiteTraffic" id="traffic_report" class="report_table_container">
        <h2>Sources of Website Traffic Report</h2>
        <span data-bind="report:reports.WebsiteTraffic, visible:!(reports.WebsiteTraffic.loading() || reports.WebsiteTraffic.error())"></span>
        <span class="loading" data-bind="visible:reports.WebsiteTraffic.loading"></span>
        <span class="report_error" data-bind="visible:reports.WebsiteTraffic.error, html:reports.WebsiteTraffic.error"></span>
    </div>
    
    <div data-bind="visible: virtualControls.activeReport() == reports.TimeToMarket" id="timetomarket_report" class="report_table_container">
        <h2>Time To Market</h2>
        <span data-bind="report:reports.TimeToMarket, visible:!(reports.TimeToMarket.loading() || reports.TimeToMarket.error())"></span>
        <span class="loading" data-bind="visible:reports.TimeToMarket.loading"></span>
        <span class="report_error" data-bind="visible:reports.TimeToMarket.error, html:reports.TimeToMarket.error"></span>
    </div>
    <div data-bind="visible: virtualControls.activeReport() == reports.Website20Showroom" id="website20showroom_report" class="report_table_container">
        <h2>Digital Showroom Vehicles Viewed</h2>
        <span data-bind="visible: dynamic_config.hasShowroomReporting() && dynamic_config.hasDigitalShowroom() && !(reports.Website20Showroom.loading() || reports.Website20Showroom.error()), report:reports.Website20Showroom"></span>
        <span class="loading" data-bind="visible:reports.Website20Showroom.loading"></span>
        <span class="report_error" data-bind="visible:reports.Website20Showroom.error, html:reports.Website20Showroom.error"></span>
    </div>
    
    <div data-bind="visible: virtualControls.activeReport() == reports.Website20Traffic" id="website20traffic_report" class="report_table_container">
        <h2>Website 2.0 Vehicles Viewed & Leads</h2>
        <span data-bind="visible:dynamic_config.hasShowroomReporting() && dynamic_config.hasWebsite20() && !(reports.Website20Traffic.loading() || reports.Website20Traffic.error()), report:reports.Website20Traffic"></span>
        <span class="loading" data-bind="visible:reports.Website20Traffic.loading"></span>
        <span class="report_error" data-bind="visible:reports.Website20Traffic.error, html:reports.Website20Traffic.error"></span>
    </div>
                                                                                                                                                                                                                                                                                                                   
</div>



<script>
var dashboard = new MaxDashboardGroup();
dashboard.Activate();
</script>






