<%@ Page Language="C#" AutoEventWireup="True" CodeBehind="LogOff.aspx.cs" Inherits="Wanamaker.WebApp.LogOff" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Log Off | MAX : Intelligent Online Advertising System</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <p>Redirecting you to CAS ...</p>
    </div>
    </form>
</body>
</html>
