<div id="CredentialManager" class="management">
	<div>
		<div id="CredentialManagerHeader">
            <div class="float"><%= link_to_remote "Close <span>X</span>", { :url => { :action => 'close', :credential_authority_id => credential_authority_id }, :confirm => 'Are you sure?', :success => 'RedBox.close();' }, { :title => 'Close Credential Manager', :id => 'CredentialManagerCloseButton' } %></div>
			<h4>Add/Manage Credentials</h4>
		</div>
		<div id="CredentialManagerErrors" style="display: none;">
		</div>
		<div id="CredentialManagerEntry">
			<%= form_remote_tag :url => { :action => 'save' }, :html => { :id => 'CredentialForm', :name => 'CredentialForm' } %>
			<% if !credential.nil? && !credential.id.nil? %>
			<%= hidden_field 'credential', 'id', {} %>
			<% end %>
			<%= hidden_field_tag 'credential[credential_authority_id]', credential_authority_id %>
			<%= hidden_field_tag 'credential_authority_id', credential_authority_id %>
			<fieldset>
				<legend>Credential Details</legend>
				<dl>
				    <dt>Credential Authority</dt>
				    <dd><%= CredentialAuthority.find(credential_authority_id).name %></dd>
					<dt>
						<label for="credential_name">Username</label>:
					</dt>
					<dd>
						<%= text_field 'credential', 'username', {} %>
					</dd>
					<dt>
						<label for="credential_password">Password</label>:
					</dt>
					<dd>
						<%= password_field 'credential', 'password', {} %>
					</dd>
				</dl>
			</fieldset>
			<div id="CredentialManagerEntryButtons">
				<div><a href="#" onclick="document.CredentialForm.onsubmit();" title="Save">Save</a></div>
			</div>
			<%= end_form_tag %>
		</div>
	</div>
</div>