/* 
//////////////////  global elements /////////////////// 
*/


body { margin: 0; padding: 0; background-color: #333; }
img { border: none; }

form { margin: 0; padding: 0; }
a { color:#036; text-decoration: none; }
a:hover { color:#036; text-decoration: underline; }

.helpPop { display: none; }
.helpPopLink {  }

select, input { font-size: 11px; }

ul li { display: inline; }

span.pipe { padding: 0 5px; }


/* 
//////////////////  menu navigation /////////////////// 
*/

#menu { width: 100%; height: 35px; font-family: Arial, Helvetica, sans-serif; border-top: solid 1px #FC3; /*border-bottom: 1px solid black;*/ background: #FC3 url(../../images/bkgd-grayCheckered.gif) bottom repeat-x; }

#dynMenu, #dynMenu ul {	list-style: none; padding: 0; margin: 10px 0 1em 15px; width: auto; line-height: 1; font-size: 11px; font-weight: bold; }
#dynMenu li { float: left; white-space: normal; margin: 0 0 0 0; vertical-align: top;  }
	
	/* top level menus */
	#dynMenu span.pipe { padding: 0 7px; }

	#dynMenu a { color: black; /*background-color: #FC3;*/ padding: 0 0 6px 0; display: block; width: auto; text-transform: uppercase; }
	#dynMenu a:link, #dynMenu a:visited { text-decoration: none; /*background-color: #FC3;*/ }
	#dynMenu a:hover, #dynMenu a:active { /*background-color: #FC3;*/ text-decoration: none; }

	#dynMenu .on { color: #D90303; }
	#dynMenu img { padding: 0; margin-top: -7px; }
	
		/* second level menus */
		#dynMenu li ul { background-color: black; position: absolute; left: -999em; height: auto; /*width: 300px;*/ margin: 0; border-top: 1px solid black; }
		#dynMenu li li { background-color: #FC3; padding-right: 0; white-space: nowrap; vertical-align: top; }
		#dynMenu li ul a { background-color: #FC3; /*width: 150px; */padding: 5px 5px 8px 5px; border: 1px solid #000000; border-top: none;	text-transform: none; }
		#dynMenu li.group { font-style: italic; }

			/*set widths for each dropdown*/
			#dynMenu li ul.tools,  #dynMenu li ul.tools li a { width: 190px; }		
			#dynMenu li ul.reports,  #dynMenu li ul.reports li a { width: 210px; }
			#dynMenu li ul.redist,  #dynMenu li ul.redist li a { width: 160px; }				
			#dynMenu li ul.dept,  #dynMenu li ul.dept li a { width: 135px; }	

		#dynMenu li ul a:hover { color: #D90303; background-color: #FCDC7B; }
		#dynMenu li:hover ul, #dynMenu li li:hover ul, #dynMenu li.sfhover ul {	left: auto; margin-left: -10px;}
	
	/* text links */
	#menu .flMenu  { font-size: 10px; position: absolute; top: 12px; right: 15px; }





	
	
	
#main { width: 100%; padding: 0 6px; font-family: Arial, Helvetica, sans-serif; }