body { margin: 0; padding: 0; background-color: #525252; }


label { color: white; font-size: 10px; }



#main { margin-top: 30px; }
	#main h1 { font-size: 20px; color: white; letter-spacing: 1px; padding: 0; margin: 0; }
	#main h2 { font-size:16px; color: white; letter-spacing: 1px; padding: 0; margin: 0; }
		
	#main a { color: #FC3; }

.helpPopLink img { margin-bottom: -4px; } 

#tradeAnalyzer, #agingInventory, #purchasingCenter, #redistributionCenter { width: 350px; background-color: #333; border: solid 1px #999; margin: 0 0 10px 0; padding: 10px; }



#tradeAnalyzer { /*display: none;*/ }
	#tradeAnalyzer label { font-size: 13px; }

#agingInventory { /*display: none;*/ }


#purchasingCenter { /*display: none;*/ }


#redistributionCenter { /*display: none;*/ }
