<ol id="planningCount">
	<li>
		<img src="<c:url value="/common/_images/icons/warn-14x14-on333-yellow.gif"/>" />
		<fmt:message key="plan.dueForPlanning"><fmt:param><strong id="unitsDueCount">${itemsToReplan}</strong></fmt:param></fmt:message>
	</li>
	<li>
		<img src="<c:url value="/common/_images/icons/alert-14x14-on333-success.gif"/>" /> 
		<fmt:message key="plan.plannedWeek"><fmt:param><strong id="unitsPlannedCount">${plannedLastWeek}</strong></fmt:param></fmt:message>
	</li>
</ol>