<c:set var="name" value="${InternetMarketplacesForm.marketplaceName }"/>

<c:if test="${empty type}"><c:set var="type" value="${param.type}" scope="page"/></c:if>
<div class="hdr">
	<span class="actions">	
				<a tabindex="60" href="javascript:closeEvent();"><fmt:message key="a.close"/></a>			
	</span>
	<h4>+ <span id="stratType"><fmt:message key="l.${type}"/></span></h4>
</div>
<div class="contents">

<html:form action="/PostInternetMarketplaces.go" styleId="marketPlaceForm">

<html:hidden property="marketplaceName" styleId="marketPlaceName"/>
<input type="hidden" id="currentDate" value="${TODAY }"/>
<span id="${type}Errors" class="errors" style="display:none;"></span>
			<div class="tabs">
				<ul id="auctionTabs">
						<li class="first active" id="auctionTab0">
							<a href="#" onclick="swapTabs('auctionTab0', 'auctionTabs','outlet0'); return false;">${name}</a>						
						</li>
					<c:if test="${isExportAllowed}"> 			
						<li class="after" id="auctionTab1">
							<a href="#" onclick="swapTabs('auctionTab1', 'auctionTabs','outlet1'); return false;">Group Closed Auction</a>
						</li>
					</c:if>
				</ul>
			</div>
			<ol class="internetAuctions">
			<li>					
					<div class="content" id="outlet0">
					<c:if test="${!gmDealer}">
						<div class="upgrade"><fmt:message key="l.activateSmartAuction"><fmt:param> javascript:void(0);</fmt:param><fmt:param>closeEvent();pop('<c:url value="oldIMT/EditMemberProfileAction.go"/>','profile');</fmt:param></fmt:message></div>
					</c:if>
					<c:if test="${gmDealer}">
							<ol>
						
							<li>
								<html:checkbox property="includePhotos" styleId="sendPictures"/><label for="sendPictures">Pictures</label> <a href="javascript:pop(' ${photoMgrUrl} ','photos');" class="manage"> Photo Manager...</a>
							</li>
							<li>
								<html:checkbox property="inlcludeAnnouncements" styleId="sendAnnouncements" /><label for="sendAnnouncements">Announcements</label>
							</li>
							<li>
								<div class="main">
									<util:button>
										<c:if test="${isPosted}">
											<a href="javascript:void(0);" onclick="pop( '${confirmationURL}', 'gmSmartAuction');closeEvent();">Confirm Submission</a> 
										</c:if>
										<c:if test="${!isPosted}">
											<a href="javascript: document.forms['marketPlaceForm'].elements['activeInternetMarketplace'].value = 1; submitForm()"><fmt:message key="a.postAndComplete"/></a>
										</c:if>
									</util:button>
									<span class="message"><fmt:message key="l.viewOrEditVehicle"><fmt:param>${name}</fmt:param></fmt:message></span>
								</div>
								<html:textarea property="announcements" onkeydown="return limitChars(this,255);" onblur="limitChars(this,255);" onfocus="this.select()"></html:textarea>
							</li>						
						</ol>
					</c:if>						
					</div>
			</li>
			<li>					
					<div class="content hide" id="outlet1">
						<ol>
												
							<li>
									<html:checkbox property="exported" styleId="exported" /><label for="exported">Export vehicle to closed group auction</label>
							</li>					
							<li>
								<div class="main">
									<util:button>
										<a href="javascript: document.forms['marketPlaceForm'].elements['activeInternetMarketplace'].value = 2; submitForm();"><fmt:message key="a.postAndComplete"/></a>
									</util:button>
								</div>
							</li>						
						</ol>
					</div>
			</li>
			</ol>	
			<html:hidden property="activeInternetMarketplace" name="activeInternetMarketplace" value="1"  />
</html:form>		
	</div>