<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>



<div class="description">${description}</div>
<div class="body">
<dl>
<dt><fmt:message key="l.vin"/>: </dt>
<dd>${vin}</dd>
<dt><fmt:message key="l.snum.poundsign"/>:</dt>
<dd> ${stockNo}</dd>
<dt><fmt:message key="l.color"/>:</dt>
<dd>${color }</dd>
<dt><fmt:message key="l.mileage"/>: </dt>
<dd><fmt:formatNumber value="${mileage}" groupingUsed="true"/></dd>
<dt>${primaryVehicleInformationSource} <fmt:message key="l.description"/>:</dt>
<dd>${primaryGuideBookDescription}</dd>
<dt>${primaryVehicleInformationSource} <fmt:message key="l.options"/>:  </dt>
<dd>
	<c:if test="${empty primaryOptions}">
		<fmt:message key="l.noSelectedOptions"/>
	</c:if>
	<c:forEach items="${primaryOptions}" var="optionString" varStatus="priStat">
		${optionString}${!priStat.last?',':'' }
	</c:forEach>
</dd>
<c:if test="${!empty secondaryVehicleInformationSource}">
<dt>${secondaryVehicleInformationSource} <fmt:message key="l.description"/>:</dt>
<dd>${secondaryGuideBookDescription}</dd>
<dt>${secondaryVehicleInformationSource} <fmt:message key="l.options"/>: </dt>
<dd>
	<c:if test="${empty secondaryOptions}">
		<fmt:message key="l.noSelectedOptions"/>
	</c:if>
	<c:forEach items="${secondaryOptions}" var="optionString" varStatus="secStat">
		${optionString}${!secStat.last?',':'' }
	</c:forEach>
	</dd>
</c:if>
</dl>	

</div>
<div class="close">
	<a class="toggle" href="javascript:removeLayer('vehicleInfo');"><fmt:message key="a.close"/><span>X</span></a>
</div>
