/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.65; background: #F0F0F0; margin: 1.5em 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
input,textarea { margin: 0; }

/* Removes Firefox imposed outline */
a { outline: none; }

/* Clearing floats without extra markup  */
.wrapper { display: inline-block; }
.wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .wrapper { height: 1%; }
.wrapper { display: block; }




/* -------------------------------------------------------------- 
   Typography
-------------------------------------------------------------- */

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.75 * 16px = 12px). */
body { font-size: 75%; }


/* Default fonts and colors. */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea { font-family: Arial, Helvetica, sans-serif; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: bold; }

h1 { font-size: 1.5em; line-height: 1; margin-bottom: 0.5em; color: #650360; }
h2 { font-size: 1.2em; margin-top: 0.75em; color: #812d7c; }
h3 { font-size: 1.1em; line-height: 1; margin-top: 1em; color: #1c2162; }
h4 { font-size: 1em; line-height: 1.25; margin-top: 1.25em; }
h5 { font-size: 1em; margin-top: 1.5em; }
h6 { font-size: 1em; }


/* Text elements
-------------------------------------------------------------- */

p { margin: 0 0 1.5em; }

ul, ol { margin: 0 1.5em 1.5em 1.5em; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }

dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }

abbr, acronym { border-bottom: 1px dotted #000; }
address { margin-top: 1.5em; font-style: italic; }
del { color: #000; }

a { color: #006899; text-decoration: none; }
a:hover { text-decoration: underline; }

blockquote { margin: 1.5em; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
pre, code { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em monospace; line-height: 1.5; } 
tt { display: block; margin: 1.5em 0; line-height: 1.5; }


/* Tables
-------------------------------------------------------------- */

table { margin-bottom: 1.4em; }
th { border-bottom: 2px solid #ddd; font-weight: bold; }
td { border-bottom: 1px solid #ddd; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #ffc; }


/* -------------------------------------------------------------- 
   Forms
-------------------------------------------------------------- */

label { font-weight: bold; }

/* Textareas */
textarea { margin: 0.5em 0.5em 0 0; }
textarea { padding: .4em; }


/* hForm
-------------------------------------------------------------- */
form.hform p { margin: 0 0 1em; }
form.hform p label { float: left; width: 70px; text-align: right; padding-right: 1em; }

form.hform p input { width: 150px; }
form.hform p select { width: 160px; }

form.hform p input.button { width: auto; }
form.hform p input.checkbox { width: auto; }
form.hform p input.radio { width: auto; }

form.hform p.checkbox { margin-left: 100px; }
form.hform p.checkbox label { float: none; }
form.hform p.checkbox input { width: auto; }


/* vForm
-------------------------------------------------------------- */
form.vform p { margin: 0 0 .5em; }
form.vform p label { display: block; }

form.vform p.checkbox label { display: inline; }

/* Page Design
-------------------------------------------------------------- */
html, body {
	height: 100%; margin: 0; padding: 0;
}
body {
	background: #fefefe url('images/page_bottom_grad.jpg') repeat-x fixed bottom;	
}
#content {
	width: 812px;
	margin: 0 auto;
	color: #3F3F3F;
	background: #fefefe url('images/page_top.jpg') no-repeat top center;
	border-right: 1px solid #F4F4F4;
	border-left: 1px solid #F4F4F4;
	position: relative;
	left: -1px;
	padding: 62px 20px 62px 20px;
}
.sa_logo {
	background: url('images/sa_logo.png') no-repeat;
	display: block;
	height: 33px;
}
#welcome, #reasons {
	width: 450px;
	float: left;
	clear: left;
}
#reasons ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
#reasons ul li h4 {
	text-transform: capitalize;
}
#news {
	margin-left: 525px;
}
#login {
	width: 287px;
	margin: 2em 20px 2em 0;
	_margin: 1em 10px 1em 0; /* KLUDGE: IE6 Double Margin */ 
	float: right;
	background: url('images/login_box.png') no-repeat top;	
	padding: 5px 0 0;
}
#login form {
	margin: 0;
	padding: 1px 1em;
	background: #fff url('images/login_box.png') no-repeat bottom;
}
#login form .form_errors {
	padding: 2px 1em;
	margin: 0 0 1.5em 0;
	background-color: #FFCACA;
	border: 1px solid #800000;
	list-style-type: none;
	color: #800000;
	font-weight: bold;
}
#login label.button {
	float: right;
	background: #50014c url('images/submit_button.png') no-repeat top left;
	display: block;	
}
#login label.button input {
	border: none;
	background-color: transparent;
	color: #fff;
	text-transform: lowercase;
	font-weight: bold;
	width: 68px;
	height: 23px;
}
#login .more_info {
	font-size: 0.9em;
}
#login .vcard .tel {
	font-weight: bold;
}
.qt_logo {
	margin-left: 1em;
	background: url('images/qt_logo.png') no-repeat;
	display: block;
	width: 157px;
	height: 45px;
	padding-bottom: 1em;
}
#news {
	clear: right;
	padding-left: 1em;
	padding-right: 1em;
}
#footer {
	background: url('images/footer_background.png') no-repeat top center;	
	height: 27px;
	width: 881px;
	margin: 0 auto;
}