.twoColumnBox-container
{
	background-color: #999999;
}

.twoColumnBox-table
{
	background-color: #ffffff;
	border: 1px solid #000000;
}

.twoColumnBox-title
{
	font-family: Verdana,Arial,Helvetica,Sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #000;
	vertical-align: bottom;
	padding: 2px;
	padding-top: 3px;
	padding-left:5px;
	background-color: #cccccc
}
.twoColumnBox-shadowLt
{
	background-color: #666;
}
.twoColumnBox-shadowDk
{
	background-color: #000;
}
.twoColumnBox-textLeft
{
	font-family:Arial,Helvetica,Sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000;
	text-align:left;
	vertical-align:baseline;
	padding:2px;
	padding-left:5px;
	padding-right:5px;
}
.twoColumnBox-textRight
{
	font-family:Verdana,Arial,Helvetica,Sans-serif;
	font-size:9px;
	font-weight:bold;
	color:#000;
	text-align:right;
	vertical-align:bottom;
	padding:2px;
	padding-left:5px;
	padding-right:5px;
}