<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
    	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
    	width="<%= width %>"
    	height="<%= height %>"
    	id="<%= object_id %>">
    <param name="movie" value="/charts.swf?library_path=/charts_library&amp;xml_source=/inventory_sales_graph/index%3Fplanning_category_id%3D<%= planning_category_id %>%26alt_configuration=<%= alt_configuration %>%26width=<%= width %>%26height=<%= height %>" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#666666" />
    <embed src="/charts.swf?library_path=/charts_library&amp;xml_source=/inventory_sales_graph/index%3Fplanning_category_id%3D<%= planning_category_id %>%26alt_configuration=<%= alt_configuration %>%26width=<%= width %>%26height=<%= height %>"
    	quality="high"
    	bgcolor="#666666"
    	width="<%= width %>"
    	height="<%= height %>"
    	name="<%= object_id %>"
    	type="application/x-shockwave-flash"
    	pluginspace="http://www.macromedia.com/go/getflashplayer">
    </embed>
</object>