﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="VehicleHistoryReport.ascx.cs" Inherits="Wanamaker.WebApp.Workflow.Controls.VehicleHistoryReport" %>

<img src="../Public/Images/logo_Carfax1.gif" alt="CarFax" height="16" width="82" /><a id="VehicleHistoryLink" class="link" runat="server">View Report</a>

