.analyticsBody {margin:0px 3px 0px 2px;height:1%;}
.analyticsBody .filter{display:none;}
.right_buttons{display:none;}
.analyticsResults{padding:20px;clear:both;height:100%;}
.analyticsResults .title{font-size:1.4em;font-weight:bold;padding:0px 10px 0px 0px;}
.analyticsResults .headers{ font-size:1.1em; font-weight:bold;float:right; padding:20px 15px 0px 15px; margin-top:20px;margin-bottom:-10px;}
.analyticsResults table{  width:100%;clear:both; font-weight:bold; font-size:1.1em; margin-top:0px;  }
.analyticsResults table td{ text-align:center;padding:4px; }
.analyticsResults table .groupTitle{ text-align:left; font-size:1.1em;font-weight:bold; padding:4px 4px 4px 10px;}
.analyticsResults table .category{padding-left:30px;text-align:left; }
.analyticsResults table .data{width:75px;}
.analyticsResults table thead th.col_title{ width:75px;text-align:center; padding-bottom:5px;}
.analyticsResults li{display:block;font-size:1.1em;padding-left:5px;}
.analyticsResults table td.groupTitle{ text-align:left; font-size:1.1em;font-weight:bold; padding:4px 4px 4px 10px;}
.analyticsResults table td.groupTitleData{text-align:center;width:74px;}
.analyticsResults table td.segmentTitle{font-size:1.3em;text-align:left;padding:15px 4px 4px 0px;}
.analyticsResults table td.segmentData{text-align:center;padding:15px 4px 4px 4px;}
#header{display:block;color:#000000;  width:100%; clear:both;}
#header img{display:inline;}
#header h2{display:none}
#header h1{display:inline; color:black;}
.intra_links{display:none;}
.backLink{display:none;}
.profileLink{display:none;}
