


.equityAnalyzer .wrapper { width:350px;border:solid 1px black;background-color:white;color:black; }
	.equityAnalyzer .wrapper.f { float:left; }
	.equityAnalyzer .wrapper.l { float:right; }
.equityAnalyzer div.b { float:right; }	
	.equityAnalyzer dd, .equityReport dt { padding-bottom:3px; }
		.equityAnalyzer .wrapper dt { width:80px;font-weight:bold; }
		.equityAnalyzer .wrapper.l dt { width:100px; }
		.equityAnalyzer .wrapper.f input { width:30px; }
		.equityAnalyzer .wrapper.f .b input { width:auto; }		
			/*.equityReport .wrapper div.b { margin-bottom:-5px; }*/	
	.equityAnalyzer .hdr { height:1%;clear:both;padding-top:20px;margin-bottom:5px; }
		.equityAnalyzer h4 { float:left;color:#fc3;font-family:Verdana,Arial,Helvetica,sans-serif; }
.equityAnalyzer #savedMsg { font-weight:bold; }
		
		.equityAnalyzer .none { font-size:1.1em;color:white; }

/* pricing analyzer */
.pricingAnalyzer #content {  }
body.darkGrey{background-color:#333333; text-align:center;}

.viewDeals #content {width: 100%; margin-left:0px;margin-right:0px;}
.viewDeals .infobox {color:#fc3; margin-bottom:10px; font-size:13px; font-weight:bold;}
.viewDeals .infobox p{font-size:15px;}
.analysis .viewDealsLink{text-align:left; margin-top:8px;}
#dropDowns { margin-top:5px;margin-bottom:5px; text-align:right;display:inline;}
.pricingAnalyzer div.b { float:right; }	
	.pricingAnalyzer .hdr { height:1%;clear:both;padding:5px;margin-bottom:0px; }
		.pricingAnalyzer h4 { float:left;color:#fc3;font-family:Verdana,Arial,Helvetica,sans-serif; }
	.pricingAnalyzer .dropDowns { height:1%;clear:both;padding-top:20px;margin-bottom:10px; }
	.pricingAnalyzer .hdr h3{color:#fc3; font-size:1.4em;}
	.pricingAnalyzer .hdr h4{color:#ccc; font-size:1.0em; margin-top:4px;}
	.pricingAnalyzer .hdr h4.pad{margin-left:10px;}
	#popup.analysis{background-color:#333333;}
		#resultsIFrame{margin-bottom:15px; margin-top:15px; clear:both;display:block;}
	
	/*pricing analyzer data table*/
	
table.pricingAnalyzerdata{font-size:100%;/*line-height:1;*/font-family:Arial,Helvetica,Verdana,sans-serif;}
table.pricingAnalyzerdata { width:100%;background-color:white;color:black;border:solid 1px black;border-collapse:collapse; }
table.pricingAnalyzerdata thead { background-color:#CCC; }
	table.pricingAnalyzerdata thead th { padding:1px 1px;border-bottom:solid 1px black;  }
		table.pricingAnalyzerdata thead th.leftBar { padding:1px 1px;border-bottom:solid 1px black;border-left:solid 1px #999999;white-space:nowrap;  }
	table.pricingAnalyzerdata thead th.left { padding:1px 1px;border-bottom:solid 1px black;white-space:nowrap; text-align:left; }	
		table.pricingAnalyzerdata thead th a { color:black;text-decoration:none; }	
		table.pricingAnalyzerdata thead th a:hover { color:#D90404;text-decoration:underline; }
		table.pricingAnalyzerdata thead th.sorted a { color:#D90404;text-decoration:underline; } /* -- displaytag class */
		
	table.pricingAnalyzerdata tfoot { height:15px;background-color:#CCC; }
		table.pricingAnalyzerdata tfoot td { padding:3px 5px; border-top:solid 1px black;;}
		table.pricingAnalyzerdata tfoot td.leftBar { padding:3px 5px; border-top:solid 1px black;border-left:solid 1px #999999; }
	table.pricingAnalyzerdata tbody { background-color:white; }
		table.pricingAnalyzerdata tbody td { border-top:dotted 1px #ccc;padding:3px 5px; }
		table.pricingAnalyzerdata tbody td.leftBar { border-top:dotted 1px #ccc;border-left:solid 1px #999999;padding:3px 5px;  }
		table.pricingAnalyzerdata tbody tr.even{ background-color:#ffffff; }
			table.pricingAnalyzerdata td.f { text-align:right; }
		table.pricingAnalyzerdata thead th.f { text-align:right; }
		table.pricingAnalyzerdata thead th.wrapped { width:75px; }

.performancePlus #content {width: 100%; background-color:#474747;margin-left:0px;margin-right:0px;}
.performancePlus{background-color:#474747;}


	.tabs .inner { width: 800px; }
.tabs a { margin: 9px 0 0 15px; display: inline; float: left; text-align: center; width:50px; }
	.tabs a { color: #999; text-decoration: none; cursor:hand;}
	.tabs a:hover { color: #FC3; cursor: hand;}
.tabs h2 { color: #fff; padding-left:15px; }
.tabs h3 { color: #fff; padding-left:15px; }
.tabs h4 { color: #FC3; padding-left:15px; font-family: Arial,Helvetica,Verdana,sans-serif;}
.tabs a h4 { font-size: .9em; margin: 5px 0 0 0; font-style: italic;color:#CCC; font-family:Verdana, Helvetica, sans-serif;}
.tabs a.active { background-color: #333; }
	.tabs a.active img.lcap, .tabs .active img.rcap {  }
	.tabs a.active h4 { color: #FC3; font-size: 1em;  padding: 4px 0 0 0; margin: 0; }
	#tabs{margin-top:10px;}
	.pricingAnalyzer #tabs li.active a { color:#FC3; background:transparent url('../../../common/_images/bkgds/cap-tab-small-lActiveDark.gif') no-repeat left top; margin-right:2px; }
	.pricingAnalyzer #tabs li.active { background:transparent url('../../../common/_images/bkgds/cap-tab-small-rActiveDark.gif') no-repeat right top; }
		.performancePlus #tabs li.active a { color:#FC3; background:transparent url('../../../common/_images/bkgds/cap-tab-small-lActive.gif') no-repeat left top; margin-right:2px; }
		.performancePlus #tabs li.active { background:transparent url('../../../common/_images/bkgds/cap-tab-small-rActive.gif') no-repeat right top; }
	
img.lcap { float: left; }
img.rcap { float: right; }
.performancePlus label {color:#fc3; font-family:Verdana, Helvetica, sans-serif;  }
.toprow {   color:#fc3;  clear:both;border-top: solid 1px #FC3; font-family:Verdana, Helvetica, sans-serif; line-height:28px;text-indent:15px;}
.toprow a{color: #999; margin: 9px 0 0 15px; text-decoration: none; }
.toprow a:hover{color: #FC3; cursor: hand;}
.toprow .title{float:left; font-size:12px; margin-bottom:5px;}

.main { margin-right:15px; margin-left:15px;}

.title {font-weight:bold; margin-top:5px;font-family:Arial,Helvetica,Verdana,sans-serif;}
.toprow .rightbuttons{ float:right;margin-right:10px; margin-top:8px;}
.toprow .rightbuttons a{ color: #999; text-decoration: none; font-weight:normal;}
.toprow .rightbuttons a:hover { color: #FC3; cursor: hand;}
.select {float:left; margin-top:8px; margin-left:8px;}
.infobox { }
.infobox table th { color:#fc3; text-align:center;border-right:1px solid #000000;line-height:20px;}
.infobox table  td{ background-color:#ffffff; text-align:center; font-weight:bold; line-height:24px; color:#000000; font-size:18px;border-right:1px solid #000000;}
.holder { text-align:center;  }
.row {   color:#fc3;   clear:both;border-top: solid 1px #FC3; font-family:Verdana, Helvetica, sans-serif; line-height:28px;text-indent:15px;font-weight:normal;}
#weeksdiv { float:right; margin-top:5px;   clear:none;}
#weeksdiv li { margin-right:15px;line-height:20px;}
#weeksdiv li a{font-weight:bold; color:#fc3;  }
#weeksdiv li a:hover{color:#fd4; text-decoration:none;  }
#weeksdiv li a.disabled{font-weight:bold; color:#cccccc; cursor:default;}
#weeksdiv li a.disabled:hover{color:#cccccc; text-decoration:none;  cursor:default;}
.performancePlus .modebox {width:50%; margin-top:10px;margin-left:15px; color:#cccccc; float:left;}
.performancePlus .modebox a{font-weight:bold; color:#5dbf00;  }
.performancePlus .modebox a:hover{color:#66e71e; text-decoration:none;  }
.performancePlus .modebox a.disabled{font-weight:bold; color:#cccccc; cursor:text;}
.performancePlus .modebox a.disabled:hover{color:#cccccc; text-decoration:none; }

.performancePlus .insight { overflow:hidden;clear:left;width:500px; padding:3px  30px 3px 30px; color:#9f1717; margin-bottom:10px;font-weight:bold; background: url('../../../common/_images/bkgds/round-corner-gray.gif') no-repeat right bottom; background-color:#ababab;}



.viewDeals .data td,.performancePlus .data td { border-left:none;border-right:none; }
.performancePlus .data th { padding:1px 1px; }
.performancePlus .data .leftBar { border-left:solid 1px #999999;  }
.performancePlus .data th.left { text-align:left; }	
.performancePlus .data tbody tr.even { background-color:#ffffff; }
.performancePlus .data th.wrapped { width:25px; }	

/*hide profile edit on stocking guide page*/
#profileEdit{display:none;}

/*stocking reports common*/

.analyticsBody {margin:0px 3px 0px 2px;height:1%;}
.right_buttons{float:right;clear:both;}
.filter{margin-top:15px; margin-left:15px;}
.filter tt{margin-left:0px; margin-right:0px; }
.filter span{margin-left:5px; }
.analyticsResults{padding:20px;clear:both;height:100%;}
.analyticsResults .title{font-size:1.4em;font-weight:bold;padding:0px 10px 0px 0px;float:left;display:block;}
.analyticsResults .headers{ font-size:1.1em; font-weight:bold;float:right; padding:20px 15px 0px 15px; margin-top:20px;margin-bottom:-10px;}
.analyticsResults table{  width:100%;clear:both; font-weight:bold; font-size:1.1em; margin-top:0px;  }
.analyticsResults table td{ text-align:center;padding:4px; }
.analyticsResults table td.groupTitle{ text-align:left; font-size:1.1em;font-weight:bold; padding:4px 4px 4px 10px;}
.analyticsResults table td.groupTitleData{text-align:center;width:75px;}
.analyticsResults table td.segmentTitle{font-size:1.3em;text-align:left;padding:15px 4px 4px 0px;}
.analyticsResults table td.segmentData{text-align:center;padding:15px 4px 4px 4px;}
.analyticsResults table .category{padding-left:30px;text-align:left; }
.analyticsResults table .data{width:75px;}
.analyticsResults li{display:block;font-size:1.1em;padding-left:5px;}
.analyticsResults table thead th.col_title{ width:75px;text-align:center; padding-bottom:5px;}
