
#wrap{background: rgb(227,236,241); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(227,236,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,236,241,1)), color-stop(100%,rgba(255,255,255,1))); 
	background: -webkit-linear-gradient(top, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%);
	width: 1348px;         }
.equityAnalyzer .wrapper.f {box-shadow: 5px 6px 8px rgb(127,127,127);border:0px;height:70px}
.equityAnalyzer .wrapper.l {box-shadow: 5px 6px 8px rgb(127,127,127);border:0px;position:absolute; margin-left:400px; height:70px;display:block}

.equityAnalyzer .wrapper.l .b{top:28px}
.b{height:auto ;text-align:right;position:relative;float:right;}

#header{background-color:#E3ECF1 ;border:0px;height:40px}
#header h3{color:#7F7F7F;font-size:12px;}
#header h1{color:#000000;font-size:17px; font-family:Avenir-book;}
#footer{background-color:#FFFFFF;border:0px;color:#000000;margin-left:1%;width:99%}    
.hdr h4{color:#000000;margin-top: 20px;font-size:12px;font-weight:normal;font-family:Avenir-medium oblique;}
#menu{
	color : #036; 
	background-color:white;
	border:1px solid #c8cbcb; 
	font-size: 7px;
	padding-top:6px;
	width: 1033px;
	/*box-shadow:3px 3px 3px;*/
		background-image:-webkit-linear-gradient(top, #fff, #fff, #E4EAF2);
	background-image:-moz-linear-gradient(top, #fff, #fff, #E4EAF2); 
    background-image:-ms-linear-gradient(top, #fff, #fff, #E4EAF2);
    /* IE8 */
    -ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#E4EAF2',GradientType=0);
    /* IE7- */
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#E4EAF2',GradientType=0);
    background-repeat:repeat-x;  }


//#menu div.printOnly{display:inline;} 	
#dropnav li ul a{background-color:#FFFFFF;  border :1px  Solid #000;border-bottom : None;font-weight :normal;font-size: 9px;font-family:Verdana, sans-serif; color :#036; display : block; }
#dropnav li ul {border-bottom : 1px solid;}

#vehicle{/*box-shadow: 5px 6px 8px rgb(127,127,127);*/margin-bottom:20px;margin-top: 20px}
table.pricingAnalyzerdata{border:2px solid white}
table.pricingAnalyzerdata thead tr th{border:2px solid white;background-color:#ebebeb;font-family: Avenir -Medium oblique;font-size: 12px;font-weight: normal;text-align: left;padding-left:20px;vertical-align : middle;}
table.pricingAnalyzerdata tbody tr td{border:2px solid white;text-align: left;padding-left:20px;font-family:Avenir - medium;}
table.pricingAnalyzerdata tbody tr:nth-child(even){background-color:#e3ecf1}
table.pricingAnalyzerdata tbody tr:nth-child(odd){background-color:#f6fafd}
table.pricingAnalyzerdata tbody tr td img{margin-left:-20px;position:absolute}


input.buttonCSS{
cursor: pointer;width: 100px;height: 25px;border:1px solid #d7d7d7;text-align: center;color: #4E4E4E;
background-image:-webkit-linear-gradient(top, #FFFFFF, #F0F0F0, #E8E8E8);
background-image:-moz-linear-gradient(top, #FFFFFF, #F0F0F0, #E8E8E8); 
background-image:-ms-linear-gradient(top,#FFFFFF, #F0F0F0, #E8E8E8);/* IE8 */
-ms-filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E8E8E8',GradientType=0);/* IE7- */
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF',endColorStr='#E8E8E8',GradientType=0);
/*box-shadow:2px 2px 3px rgb(127,127,127)*/
} 
#dropnav{left:230px;top:15px;font-size:9px}
#dropnav a{color :#036;font-family:Verdana, sans-serif;font-weight : normal; }

#savesearchbuttondiv{margin-right:20px;top:10px}
.equityAnalyzer .wrapper.f .b input{width:100px}

.wrapper.f dl dt{padding-bottom: 10px}
.wrapper.f dl dd{padding-bottom:10px}


#runreportleftbuttondiv{top:-3px}



body#page,.wrapper{background: rgb(227,236,241); /* Old browsers */
	background: -moz-linear-gradient(right, rgba(227,236,241,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, top left, top right, color-stop(0%,rgba(227,236,241,1)), color-stop(100%,rgba(255,255,255,1))); 
	background: -webkit-linear-gradient(right, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(right, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(right, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to left, rgba(227,236,241,1) 0%,rgba(255,255,255,1) 100%);}
	
	
select#savedSearchesSel{width:200px}

font{
	font-size: 7px;
	color : #036;
    }
    
#dropnav li li a:hover {
	background-color:#EEEEEE;
	color : #036; 
	
} 

.bigtable{
	box-shadow: 5px 6px 8px rgb(127,127,127);
}
#footer{position: relative;}