﻿* 
{
    margin: 0;
    padding: 0;

}
body 
{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 76%;
    color: black;
    padding: 20px 10px 0px 10px;
}
#container 
{
    border: 1px solid black;
    padding: 10px;
}
#bd 
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 90%;
	padding: 20px;
	margin-top: 3px;
	margin-bottom: 5px;
	background: #f1f1f1 url(../Images/page_bg_top.gif) repeat-x;
	border-bottom: solid 1px #666666;
}
#footer 
{
    padding: 5px 0px 10px 5px;
    margin-right: 5px;
    color: #999;
    font-size: 90%;
    text-align: left;
    background: transparent url(../Images/firstlook_logo_small.gif) no-repeat center right;
}
h2 {
	color: #485775;
	font-size: 125%;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}
h3 
{
    font-size: 1.4em;
    font-weight: bold;
    color: #c00;
    margin-bottom: 1em;
}
h4 
{
    display: inline;
    font-weight: bold;
    font-size: 1.0em;
    margin-right: 1em;
}
p 
{
    margin: 1em 0em;
}
em 
{
    font-style: oblique;
    font-weight: 900;
}
cite 
{
    font-weight: normal;
    font-style: normal;
}
select 
{
    font-size: 1em;
}
.right 
{
    float: right;
}

.button 
{
    border: inherit
}
.smaller 
{
    font-size: 90%;
    padding-left: 8px;
}
