body
{
	margin: 0;
	margin: 0 auto;
}
#header
{
	vertical-align: top;
	padding-bottom: 11px;
	padding-left: 18px;
	font-family: Georgia, Lucida, Arial, sans-serif;
	font-size: 11px;
	font-weight: lighter;
	color: #00008B;
	border-bottom: 1px solid #efefef;
}
#wrapper
{
	width: 1100px;
	height: auto;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	margin: 0 auto 0 auto;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #A52A2A;
}
.title
{
	font-family: Calibri, Arial, sans-serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #90200A;
}
h1, h2
{
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	color: #191970;
	font-weight: bold;
	padding-left: 4px;
}
h3, h4
{
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
	color: #2F4F4F;
	font-weight: bold;
	padding-left: 8px;
}
#menu
{
	width: 150px;
	color: #00008B;
	font-family: Verdana, Arial, sans-serif;
}
#menu a:link, #menu a:visited
{
	width: 150px;
	margin: 1px 0 1px 0;
	padding: 4px 3px 4px 8px;
	background-color: transparent;
	color: #003366;
	text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	display: block;
}
#menu a:hover
{
	color: #A52A2A;
	text-decoration: none;
}
#lefty
{
	margin: 8px;
	width: 150px;
	height: auto;
	color: #00008B;
	font-family: Verdana, Arial, sans-serif;
}
#lefty p
{
	width: 94%;
	padding: 12px;
	font-family: Verdana, Arial, sans-serif;
	background-color: #f9f9f9;
	color: #607080;
}
a:link, a:visited
{
	color: #003366;
	border-bottom: 1px solid #efefef;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
}
a:hover
{
	color: #A52A2A;
	text-decoration: none;
}
#content
{
	float: right;
	width: 890px; /* was 570px */
	text-align: left;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 11px;
	padding-right: 16px;
	border-left: 1px solid #efefef;
	font-family: Verdana, Arial, sans-serif;
	line-height: 145%;
	color: #607080;
}
#content h3, h4
{
	font-family: Verdana, Arial, sans-serif;
	color: #2F4F4F;
	font-weight: bold;
	padding-left: 0px;
}
#lefty #menu ul
{
	margin-left: 5px;
	margin-bottom: 10px;
}
#lefty #menu ul ul
{
	padding-left: 8px;
	margin-top: 5px;
}
li
{
	list-style-type: none;
	line-height: 160%;
}
#breadcrumb
{
	float: right;
	text-align: right;
	color: #999999;
	font-weight: bolder;
	padding-bottom: 11px;
}