<div class="dojoDialog">

	<span dojoAttachPoint="tabStart" 
		dojoOnFocus="trapTabs" 
		dojoOnBlur="clearTrap" tabindex="0"></span>

	<div dojoAttachPoint="containerNode"></div>

	<span dojoAttachPoint="tabEnd" 
		dojoOnFocus="trapTabs" 
		dojoOnBlur="clearTrap" tabindex="0"></span>

</div>
