<table class="sortable" id="NAAAReportTable" width="100%">
<thead>
<tr>
    <th style="text-align:right">Deal</th>
    <th>Sale Date</th>
    <th style="text-align:left">NAAA Region</th>
    <th>Sale Type</th>
    <th style="text-align:right">Price</th>
    <th style="text-align:right">Mileage</th>
    <th>Engine</th>
    <th>Transmission</th>
</tr>
</thead>
<tbody>
<% 
counter_num = 1
naaa_auction_report_table.each_index do |index| row = naaa_auction_report_table[index] 
%>
<tr class="<%= cycle('odd', 'even') %>">
    <td style="text-align:right"><%= counter_num %>.</td>
    <td style="text-align:center"><%= row["SaleDate"].strftime('%m/%d/%Y') %></td>
    <td><%= row["RegionName"] %></td>
    <td style="text-align:center"><%= row["SaleTypeName"] %></td>
    <td style="text-align:right"><%= money(row["SalePrice"]) %></td>
    <td style="text-align:right"><%= format_mileage(row["Mileage"].to_i) %></td>
    <td style="text-align:center"><%= row["Engine"] %></td>
    <td style="text-align:center"><%= row["Transmission"] %></td>
</tr>
<% 
    counter_num += 1
end
%>
</tbody>
</table>