<% if params.key?("high_mileage_filter") %>
<%= toggle_view_deals_report "Remove High Mileage Filter", "off" %>
<% else %>
<%= toggle_view_deals_report "Apply High Mileage Filter", "on" %>
<% end %>