<% if view_deals_report_table.nil? || view_deals_report_table.empty? %>
    <!-- application error -->
<% else %>

<%
table_id = ''
if retailTable
    table_id = 'retail'
elsif nosalesTable
    table_id = 'nosales'
end
%>

<table class="sortable" id="<%= table_id %>" width="100%">
<thead>
<tr>
    <th>Deal</th>
    <th>Deal Date</th>
    <th>Year</th>
    <!--th>Model</th-->
    <th>Trim</th>
    <th>Body Style</th>
    <th>Color</th>
    <th>Mileage</th>
    <th>Unit Cost</th>
    <th>Retail<br />Gross Profit</th>
    <th>Days<br />to Sale</th>
    <th>Deal #</a></th>
    <th>T/P</th>
</tr>
</thead>
<tbody>
<% view_deals_report_table.each_index do |index| row = view_deals_report_table[index] %>
<tr class="<%= cycle('odd', 'even') %>">
    <td style="text-align:right"><%= index + 1 %></td>
    <td style="text-align:center"><%= row["DealDate"].strftime('%m/%d/%Y') %></td>
    <td style="text-align:center"><%= row["VehicleYear"] %></td>
    <!--td style="text-align:center"><%= row["Model"] %></td-->
    <td style="text-align:center"><%= row["VehicleTrim"] %></td>
    <td style="text-align:center"><%= row["Descriptions"] %></td>
    <td style="text-align:center"><%= row["BaseColor"] %></td>
    <td style="text-align:right"><%= number_with_delimiter(row["VehicleMileage"]) %></td>
    <td style="text-align:right"><%= money(row["UnitCost"]) %></td>
    <td style="text-align:right"><%= money(row["FrontEndGross"]) %></td>
    <td style="text-align:center"><%= row["DaysToSale"] %></td>
    <td style="text-align:center"><%= row["FinanceInsuranceDealNumber"] %></td>
    <td style="text-align:center"><%= (row["TradeOrPurchase"]) == 1 ? 'P' : 'T' %></td>
</tr>
<% end %>
</tbody>
</table>
<% end %>