<div class="reportIntro">
    <div style="float:right;vertical-align:top"><a href="javascript:window.close()">Close Window</a></div>
	<br style="clear:both;margin:0;padding:0;" />
    <div style="font-weight:bold;padding-bottom:8px">NAAA Report</div>
    <div style="font-weight:bold">
        <%= params["model_year"] %> 
        <%= params["vehicle_make_name"] %> 
        <%= params["vehicle_line_name"] %> 
        <br />
        <%= params["naaa_series_body_style_name"] %> 
        <br /> <br />
        <%= params["naaa_period_name"] %> 
        &mdash; <%= params["naaa_area_name"] %>
    </div>
</div>

<% if @results.empty? %>
<p class="none" style="color:  #999;">There have been 0 sales of this vehicle in this time period.</p> 
<% else %>
<%= render :partial => "naaa_auction_report_table", :object => @results %>
<% end %>
