<div class="reportIntro" >
	<a name="analyzed"></a>
	<div style="float:right;vertical-align:top"><a href="javascript:window.close()">Close Window</a></div>
        <div style="float:left;vertical-align:top"><a href="#notanalyzed">Show Trade-Ins Not Trade Analyzed</a></div>
	<br style="clear:both;margin:0;padding:0;" />
	<h1><%= @numerator %> Trade-Ins Received in Inventory</h1>
        <h2><%= @period %> (Trade Analyzed not more than 2 weeks before)</h2>
	<p class="statistic">
		Trade-Ins in Inventory Analyzed: <%= @newFraction %> (<a href="#numerator"><%= @numerator %></a> of 
		<a href="#denominator"><%= @denominator %></a>) as of <%= @date_created.strftime("%m/%d/%Y") %>
	</p>
	<p class="statistic">
                Note: The number of deals listed above may differ from the number of deals listed below.
                The above calculations do not reflect appraisals performed during the current day.
	</p>
</div>

<table class="sortable" id="tradesAnalyzedNumDD" width="100%">
    <thead>
    <tr>
        <th>Deal</th>
        <th>Received Date</th>
        <th>Analyzed On</th>
        <th>Risk</th>
        <th>Year</th>
        <th>Vehicle Description</th>
        <th align="right" style="text-align:right">Unit Cost</th>
        <th align="right" style="text-align:right">Mileage</th>
        <th>VIN</th>
    </tr>
    </thead>

    <tbody>

<%  
counter_num = 1
@results.each_index do |index| row = @results[index] 

%>
    <% if !row["Valid"].zero? %>
    <tr class="<%= cycle('odd', 'even') %>">
        <td><%= counter_num %></td>
        <td><%= if !row["InventoryReceivedDate"].nil? then row["InventoryReceivedDate"].strftime('%m/%d/%Y') end %></td>
        <td><%= if !row["TradeAnalyzerDate"].nil? then row["TradeAnalyzerDate"].strftime('%m/%d/%Y') end %></td>
        <td style="text-align:center">
            <% if row["RiskLevel"].to_i == 3 %>
                <%= image_tag("/images/light-10x10-green.gif", :risk => "3") %>
            <% end %>
            <% if row["RiskLevel"].to_i == 1 %>
                <%= image_tag("/images/light-10x10-red.gif", :risk => "1") %>
            <% end %>
            <% if row["RiskLevel"].to_i == 2 %>
                <%= image_tag("/images/light-10x10-yellow.gif", :risk => "2") %>
            <% end %>
            <% if row["RiskLevel"].nil? %>
                &nbsp;
            <% end %>
        </td>

        <td><%= row["VehicleYear"] %></td>
        <td><%= row["VehicleDescription"] %></td>
        
        <td style="text-align:right"><%= number_to_currency(row["UnitCost"], :precision => 0) %></td>
        <td style="text-align:right"><%= format_mileage(row["MileageReceived"].to_i) %></td>
        <td><%= row["VIN"] %></td>
    </tr>

    <% counter_num += 1 %>
    <% end %>

<% end %>


    </tbody>
</table>


<div class="reportIntro"  style="padding-top:8px"><a name="notanalyzed"></a><a name="denominator">&nbsp;</a>
<div style="float:right;vertical-align:top"><a href="javascript:window.close()">Close Window</a></div>
<div style="float:left;vertical-align:top"><a href="#analyzed">Show Trade-Ins Trade Analyzed</a></div>
<br style="clear:both;margin:0;padding:0;" />
<h1><%= @denominator.to_i - @numerator.to_i %> Trade-Ins Received in Inventory</h1>
<h2><%= @period %>  (NOT Trade Analyzed, or more than 2 weeks had passed)</h2>
<p class="statistic">Trade-Ins in Inventory Analyzed: <%= @newFraction %> (<%= @numerator %> of <%= @denominator %>)</p>
</div>

<table class="sortable" id="tradesAnalyzedDenDD" width="100%">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Received Date</th>
        <th>Analyzed On</th>
        <th>Risk</th>
        <th>Year</th>
        <th>Vehicle Description</th>
        <th>Unit Cost</th>
        <th>Mileage</th>
        <th>VIN</th>
    </tr>
    </thead>
    <tbody>

<%  
counter_num = 1
@results.each_index do |index| row = @results[index] 

%>
    <% if row["Valid"].zero? %>
    <tr class="<%= cycle('odd', 'even') %>">
        <td><%= counter_num %></td>
        <td><%= if !row["InventoryReceivedDate"].nil? then row["InventoryReceivedDate"].strftime('%m/%d/%Y') end %></td>
        <td><%= if !row["TradeAnalyzerDate"].nil? then row["TradeAnalyzerDate"].strftime('%m/%d/%Y') end %></td>
        <td style="text-align:center">
            <% 
            case row["RiskLevel"].to_i
                    when 3 %>
                <%= image_tag("/images/light-10x10-green.gif", :risk => "3") %>
                <%  when 1 %>
                <%= image_tag("/images/light-10x10-red.gif", :risk => "1") %>
                <%  when 2 %>
                <%= image_tag("/images/light-10x10-yellow.gif", :risk => "2") %>
                <%  else %>
                <%= image_tag("/images/shim.gif", :risk => "0", :width => 1, :height => 1) %>
            <%
            end %>
        </td>

        <td><%= row["VehicleYear"] %></td>
        <td><%= row["VehicleDescription"] %></td>
        <td style="text-align:right"><%= number_to_currency(row["UnitCost"], :precision => 0) %></td>
        <td style="text-align:right"><%= format_mileage(row["MileageReceived"].to_i) %></td>
        <td><%= row["VIN"] %></td>
    </tr>

    <% counter_num += 1 %>
    <% end %>
<% end %>
    </tbody>
</table>