<div class="reportIntro">
<div style="float:right;vertical-align:top"><a href="javascript:window.close()">Close Window</a></div>
<br style="clear:both;margin:0;padding:0;" />
<h1>Trade-Ins Wholesaled Less Than 30 Days In Inventory</h1>
<h2><%= @flipPeriod %></h2>
<p class="statistic">Average Immediate Wholesale Profit: <%= number_to_currency(@flipProfit, :precision => 0) %><br />(<%= @flipUnits %> Trade-Ins wholesaled for a total of <%= number_to_currency(@flipTotal, :precision => 0) %>)</p>
<p class="statistic">Note:  The number of deals in the list below will likely differ from that above if data has been loaded since these numbers were calculated.</p>

</div>



<table class="sortable" id="tradeFlipsDD" width="100%">
    <thead>
    <tr>
        <th>Deal</th>
        <th>Risk</th>
        <th align="right" style="text-align:right;padding-right:1px">Front End Gross</th>
        <th align="right" style="text-align:right">Unit Cost</th>
        <th>Year</th>
        <th>Model</th>
        <th align="right" style="text-align:right">Mileage</th>
        <th>Deal Date</th>
        <th>Days In Inventory</th>
    </tr>
    </thead>

    <tbody>

<%  
@results.each_index do |index| row = @results[index] 
%>
    <tr class="<%= cycle('odd', 'even') %>">
        <td style="text-align:right"><%= index + 1 %></td>
    <% 
    case row["RiskLevel"].to_i
            when 3 %>
        <td style="text-align:center"><%= image_tag("/images/light-10x10-green.gif", :risk => "3") %></td>
        <%  when 1 %>
        <td style="text-align:center"><%= image_tag("/images/light-10x10-red.gif", :risk => "1") %></td>
        <%  when 2 %>
        <td style="text-align:center"><%= image_tag("/images/light-10x10-yellow.gif", :risk => "2") %></td>
        <%  else %>
        <td style="text-align:center"><%= image_tag("/images/shim.gif", :risk => "0", :width => "1", :height => "1") %></td>
    <%
    end %>
    <% if row["FrontEndGross"].to_i < 0 %>
        <td style="text-align:right;color:#900"><%= money(row["FrontEndGross"]) %></td>
        <% else %>
        <td style="text-align:right"><%= number_to_currency(row["FrontEndGross"], :precision => 0) %></td>
    <% end %>
        <td style="text-align:right"><%= number_to_currency(row["UnitCost"], :precision => 0) %></td>
        <td><%= row["VehicleYear"] %></td>
        <td><%= row["VehicleDescription"] %></td>
        <td style="text-align:right"><%= format_mileage(row["MileageReceived"].to_i) %></td>
        <td><%= row["SaleDate"].strftime('%m/%d/%Y') %></td>
        <td style="text-align:center"><%= row["DaysInInventory"] %></td>
    </tr>
<% end %>


    </tbody>
</table>

