<div class="reportIntro"><a name="closed"></a>
<div style="float:right;vertical-align:top"><a href="javascript:window.close()">Close Window</a></div>
<div style="float:left;vertical-align:top"><a href="#notclosed">Show Appraisals Not Closed</a></div>
<br style="clear:both;margin:0;padding:0;" />
<h1>Trade-Ins Appraised Closed: <%= @numerator %></h1>
<h2><%= @date %> and closed within 2 weeks </h2>
<p class="statistic"><%= @newFraction %> (<%= @numerator %> of <%= @denominator %>)</p>
<p class="statistic">Note:  The number of deals in the list below will likely differ from that above if data has been loaded since these numbers were calculated.</p>
</div>

<table class="sortable" id="closingRateNumDD" width="100%">
<thead>
<tr>
    <th>Deal</th>
    <th>Analyzed</th>
    <th>Received</th>
    <th>Risk</th>
    <th>Year</th>
    <th style="text-align:left">Model</th>
    <th style="text-align:right">Appraised<br />Value</th>
    <th style="text-align:right">Customer<br />Offer</th>
    <th style="text-align:right">Book Value</th>
    <th>VIN</th>
</tr>
</thead>
<tbody>


<%  
counter_num = 1
@results.each_index do |index| row = @results[index] 

%>
    <% if !row["InventoryReceivedDate"].nil? %>
<tr class="<%= cycle('odd', 'even') %>">
    <td style="text-align:center"><%= counter_num %></td>
    <td><%= row["AppraisalDate"].strftime('%m/%d/%Y') %></td>
    <td><%= if !row["InventoryReceivedDate"].nil? then row["InventoryReceivedDate"].strftime('%m/%d/%Y') end %></td>

    <% 
    case row["InventoryVehicleLight"].to_i
            when 3 %>
        <td style="text-align:center"><%= image_tag("/images/light-10x10-green.gif", :risk => "3") %></td>
        <%  when 1 %>
        <td style="text-align:center"><%= image_tag("/images/light-10x10-red.gif", :risk => "1") %></td>
        <%  when 2 %>
        <td style="text-align:center"><%= image_tag("/images/light-10x10-yellow.gif", :risk => "2") %></td>
        <%  else %>
        <td style="text-align:center"><%= image_tag("/images/shim.gif", :risk => "0", :width => "1", :height => "1") %></td>
    <%
    end %>


    
    <td style="text-align:center"><%= row["ModelYear"] %></td>
    <td><%= row["VehicleMake"] %> <%= row["VehicleLine"] %> <%= row["VehicleSeries"] %></td>
    <% if !row["AppraisalValue"].nil? %>
    <td style="text-align:right"><%= number_to_currency(row["AppraisalValue"], :precision => 0) %></td>
    <% else %>
    <td style="text-align:right">$--</td>
    <% end %>
    <% if !row["CustomerOffer"].nil? %>
    <td style="text-align:right"><%= number_to_currency(row["CustomerOffer"], :precision => 0) %></td>
    <% else %>
    <td style="text-align:right">$--</td>
    <% end %>
    <% if !row["BookValue"].nil? %>
    <td style="text-align:right"><%= number_to_currency(row["BookValue"], :precision => 0) %></td>
    <% else %>
    <td style="text-align:right">$--</td>
    <% end %>
    <td><%= row["VIN"] %></td>
</tr>
    
    <% counter_num += 1 %>
    <% end %>
<% end %>

</tbody>
</table>


<div class="reportIntro" style="padding-top:8px"><a name="notclosed"></a>
<div style="float:left;vertical-align:top"><a href="#closed">Show Appraisals Closed</a></div>
<br style="clear:both;margin:0;padding:0;" />
<h1>Trade-Ins Appraised Not Closed: <%= @denominator.to_i - @numerator.to_i %> </h1>
<h2><%= @date %> and Not Closed Within 2 Weeks</h2>
<p class="statistic"><%= @newFraction %> (<%= @numerator %> of <%= @denominator %>)</p>
</div>


<table class="sortable" id="closingRateDenDD" width="100%">
<thead>
<tr>
    <th>Deal</th>
    <th>Analyzed</th>
    <!--th>Received</th-->
    <th>Year</th>
    <th style="text-align:left">Model</th>
    <th style="text-align:right">Appraised<br />Value</th>
    <th style="text-align:right">Customer<br />Offer</th>
    <th style="text-align:right">Book Value</th>
    <th>VIN</th>
</tr>
</thead>
<tbody>


<%  
counter_num = 1
@results.each_index do |index| row = @results[index] 

%>
    <% if row["InventoryReceivedDate"].nil? %>
<tr class="<%= cycle('odd', 'even') %>">
    <td style="text-align:center"><%= counter_num %></td>
    <td><%= row["AppraisalDate"].strftime('%m/%d/%Y') %></td>
    <td style="text-align:center"><%= row["ModelYear"] %></td>
    <td><%= row["VehicleMake"] %> <%= row["VehicleLine"] %> <%= row["VehicleSeries"] %></td>
    <% if !row["AppraisalValue"].nil? %>
    <td style="text-align:right"><%= number_to_currency(row["AppraisalValue"], :precision => 0) %></td>
    <% else %>
    <td style="text-align:right">$--</td>
    <% end %>
    <% if !row["CustomerOffer"].nil? %>
    <td style="text-align:right"><%= number_to_currency(row["CustomerOffer"], :precision => 0) %></td>
    <% else %>
    <td style="text-align:right">$--</td>
    <% end %>
    <% if !row["BookValue"].nil? %>
    <td style="text-align:right"><%= number_to_currency(row["BookValue"], :precision => 0) %></td>
    <% else %>
    <td style="text-align:right">$--</td>
    <% end %>
    <td><%= row["VIN"] %></td>
</tr>
    
    <% counter_num += 1 %>
    <% end %>
<% end %>

</tbody>
</table>

