<div class="reportIntro">
    <a name="retail"></a>
    <div style="float:right;vertical-align:top"><a href="javascript:window.close()">Close Window</a></div>
    <div id="toggle_view_deals" style="float:left;vertical-align:top">
        <%= render :partial => "view_deals_report_filter", :object => @retail %>
    </div>
    <% if @retail.length > 20 %>
    <div style="float:left;clear:left;margin-top:6px;"><a href="#nosales">Go To Aged Wholesale Deals</a></div>
    <% end %>
    <br style="clear:both;margin:0;padding:0;" />
    <h1>Retail Performance Details for <%= params["vehicle_segment_name"] %></h1>
    <h2><%= params["weeks"] %> Week Vehicle Sales History</h2> 
    <p class="statistic"><%= session[:business_unit].name %></p>
</div>
<div>

</div>
<div>
    <% if @retail.empty? %>
    <p class="none" style="color:#999;">There have been 0 sales of this vehicle in this time period.</p> 
    <% else %>
    <%= render :partial => "view_deals_report_table", :object => @retail, :locals => { :retailTable => true } %>
    <% end %>

    <% if @no_sales.empty? %>
    <p class="none" style="color:#999;">There have been 0 no sales of this vehicle in this time period.</p> 
    <% else %>
    
        <% if @retail.length > 20 %>
    <div style="float:left;margin-top:10px;"><a href="#retail">Go To Retail Deals</a></div>
        <% end %>
<br />
    <a name="nosales"></a>
    <h2 class="secondHeader">No Sales</h2>
    <%= render :partial => "view_deals_report_table", :object => @no_sales, :locals => { :nosalesTable => true } %>
    <% end %>
</div>



