<link rel="stylesheet" media="${isPrintable ? 'screen,projector':'all'}" type="text/css" 
	href="<c:url value="/common/_styles/global.css"/>"/>
<link rel="stylesheet" media="${isPrintable ? 'screen,projector':'all'}" type="text/css" 
	href="<c:url value="/common/_styles/${productId}.css"/>"/>
	<c:if test="${not useBaseExtrasOnly}">
		<c:if test="${sectionId ne 'common'}">
			<link rel="stylesheet" media="${isPrintable ? 'screen,projector':'all'}" type="text/css" 
				href="<c:url value="${sectionId!='common'?'/content':''}/${sectionId}/_styles/${sectionId!='common'?sectionId:pageId}.css"/>"/>
		</c:if>
		<c:forTokens items="${styles}" delims="|" var="s">
			<link rel="stylesheet" media="${isPrintable ? 'screen,projector':'all'}" type="text/css" 
				href="<c:url value="/content/${sectionId}/_styles/${s}"/>" />
		</c:forTokens>
		<c:if test="${hasCalendar}">
			<link rel="stylesheet" media="${isPrintable ? 'screen,projector':'all'}" type="text/css" 
				href="<c:url value="/common/_styles/calendar.css"/>" />
		</c:if>
		<c:if test="${isPrintable}">
			<link rel="stylesheet" media="print" type="text/css" 
				href="<c:url value="/common/_styles/global_print.css"/>" />
			<link rel="stylesheet" media="print" type="text/css" 
				href="<c:url value="/content/${sectionId}/_styles/${sectionId}_print.css"/>" />
		</c:if>
	</c:if>
<!--[if !IE 7]><style type="text/css" media="screen,projector">html,body,#wrap{height:100%;width:auto;}</style><![endif]-->
<c:if test="${sectionId eq 'planning' or sectionId eq 'purchasing' or sectionId eq 'inventory'}">
	<c:import url="/content/${sectionId}/_styles/_ie.jspf"/>
</c:if>