.tabs-globalBackground
{
	background-image:url(../../../../images/uiWidgets/tabs/edge/tabCheckedBackground.gif);
}

.tabs-setHeight
{
	height: 32px;
}
.tabs-tabOnLeft
{
	width: 7px;
	height: 23px;
	border: 0px;
	background-image:url(../../../../images/uiWidgets/tabs/edge/tabOnLeft.gif);
}
.tabs-tabOnRight
{
	width: 7px;
	height: 23px;
	border: 0px;
	background-image:url(../../../../images/uiWidgets/tabs/edge/tabOnRight.gif);
}
.tabs-tabOffLeft
{
	width: 1px;
	height: 1px;
	border: 0px;
}
.tabs-tabOffRight
{
	width: 1px;
	height: 1px;
	border: 0px;
}
.tabs-tabOnCenter {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:9px;
    font-weight:bold;
    font-style:italic;
    color:#fc3;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    border-top:1px solid #fc3;
    background-color:#333;
    vertical-align:middle;
}
.tabs-tabOffCenter {
    font-family:verdana,Arial,Helvetica,Sans-serif;
    font-size:9px;
    font-weight:bold;
    font-style:italic;
    color:#999;
    padding-left:8px;
    padding-right:8px;
    padding-top:0px;
    padding-bottom:3px;
    vertical-align:middle;
}
.tabs-tabOffCenter a {color:#999;text-decoration:none;}

