<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SiteFooter.ascx.cs" Inherits="SiteFooter" %>
<em>SECURE AREA</em>|<cite>&copy;<asp:Literal ID="CopyrightYear" runat="server"></asp:Literal>
<span>INCISENT</span> Technologies, Inc. All rights reserved.</cite>