﻿body
{
}

.search-criteria
{
    width: 340px;
    height: 275px;
    display: block;
    margin-top: 36px;
}

.search-parameter
{
    width: 166px;
    height: 67px;
    margin-right: 0px;
}
.dbody input
{
    width: 13px !important;
}

.dbody input[type="button"]
{
    margin: 5px !important;
    width: 50px !important;
    height: 20px;
    padding: 0px !important;
    float: right;
    background: none !important;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}



.list-style
{
    list-style: none;
    margin-left: 25px;
}

.display-style
{
    list-style: none;
    margin-left: 0px;
    width: 155px;
}
.dhead
{
   width: 100%;
  height: 15px;
  float: left;
  z-index: 1;
  padding-bottom: 5px;
   
}
.dclick
{
  text-decoration: underline;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial!important;
  color: #404040;
  cursor:pointer;
}
.shift-right
{
    float: right;
}

.shift-left
{
    float: left;
}
.dbody
{
    margin-top: 4px;
    display: none;
    width: 200px;
    height: auto;
    background-color: white !important;
    float: left;
    z-index: 300;
    position: absolute;
    padding: 3px;
    border: 2px solid blue;
}

.close-box
{
    float: right;
    display: inline-block;
    padding: 2px 5px; /*   background: #ccc;*/
    color:Gray;
     cursor: pointer;
}

.close-box:hover
{
    float: right;
    display: inline-block;
    padding: 2px 5px;
    background: #ccc;
    color: #fff;
}

.error
{
    display: none;
}

.update-button
{
    margin-bottom: 5px !important;
    width: 40px !important;
    height: 20px;
    margin-left: 35%;
    padding: 0px !important;
}

.overlay
{
    display: none;
}

.overlay-show
{
    top:0px!important;
    left:0px!important;
    background: #4F4F4F 50% 50% repeat !important;
    opacity: .8!important;
    filter: Alpha(Opacity=80)!important;
    support: IE8!important;
    width:100%!important;
    height:1555px!important;
    z-index:200;
    
}

.arrow {
    display:inline-block;
    border-width: 7px 5px 0px;
    border-style: solid;
    border-color: #3761B5 transparent;
    margin-left: 7px;
    margin-top: 5px;
}


.text-upper
{
      text-transform: uppercase;
}
.small-font
{
  font-size: 14px;
  color: #A7A7A7;
  font-family: Arial!important;
  font-weight: bold;
}

.dss-light-box 
{
 display:none;
 text-align:center;
 position: absolute;
 top: 0px;
 background: none repeat scroll 50% 50% #2D2D2D;
 width: 100%;
 height:100%;
 z-index:100;
 filter: alpha(opacity=50); /* internet explorer */
 -khtml-opacity: 0.5;      /* khtml, old safari */
 -moz-opacity: 0.5;       /* mozilla, netscape */
 opacity: 0.5;           /* fx, safari, opera */
}

.search-criteria{ margin-top: 7px;}

div.search-criteria input[type="radio"]:checked:before {
    box-shadow:none;
     color: blue;
     background:transparent!important;
}
div.search-criteria input::-ms-check {
    border-color:grey;
    color: blue;
   background:transparent!important;
}

.dcs-trims#liAllTrims
{
    margin-left: -20px;
}