﻿
.filter-div
{
    width: inherit;
    height: 527px;
    max-height: 530px;
    overflow-y: auto;
    max-width:335px;
}
.filter
{
    background: White !important;
    color: #3761B5 !important;
    border: 1px solid #AAAAAA !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    width: 143px !important;
    height: 40px !important;
    font-size: 13px !important;
    margin: 5px 12px 0px 0px !important;
    cursor:pointer;
}

.add-more
{
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #3761B5;
    width: 150px !important;
    height: 20px !important;
    margin: 10px;
    float: right;
    text-align: center;
    vertical-align: middle;
}
.selected-button
{
    /*background: #1F5AD9!important;*/
    color: white;
    background: rgba(31,90,217,1);
    background: -moz-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,90,217,1)), color-stop(49%, rgba(31,90,217,1)), color-stop(51%, rgba(31,90,217,1)), color-stop(100%, rgba(18,66,170,1)));
    background: -webkit-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: -o-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: linear-gradient(to bottom, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f5ad9', endColorstr='#1242aa', GradientType=0 );
    float: left;
    width: 143px !important;
    height: 40px !important;
    font-size: 13px !important;
    margin: 5px 12px 0px 0px !important;
    cursor:pointer;
    border-radius: 6px;
    border: 1px solid #AAAAAA;   
}
.facet-list-item
{
    color: #C8C8C8;
    float: left;
    width: auto;
    min-width: 130px;
    height: auto;
    margin-left: 10px;
    font-size: 12px;
    font: Arial;
}

.filter-facet-div
{
    display: none;
}
.show-filter-list
{
    border: 1px solid #C8C8C8 !important;
    width: 130px;
    background: white;
    height: auto;
    display: block;
    clear: both;
}

.ui-widget-overlay
{
    height: 1550px;
}

.hide-control
{
    display: none;
}

.show-control
{
    display: inline;
}
