﻿.dragdealer
{
	position: absolute;
	margin-top: 40px;
	width: 458px;
	height: 36px;
	left: 0;
	margin-left: 14px;
	top: 58px;
}
.dragdealer .handle
{
	position: absolute;
	top: 5.5px;
	width: 18px;
	height: 56px;
	background: url(../public/Images/Price_Bar_Toggle_v1.png) no-repeat top left;
	cursor: pointer;
	z-index: 60;
	display:none;
}
.gauge-callout-style
{
    top: 47px;
    position: absolute;
    text-align: center;
    width: 160px;
    height: 36px;
    margin: 1em 0 3em;
    color: #000;
    border-radius: 5px;
    border: 1px solid #6D6D6D;
    background: linear-gradient(to right,#E1DFE2, #F2F2F2,#E1DFE2);
    background-color: lightgrey;
    z-index: 20;
    left: -50px;
    cursor:pointer;
    display:none;
}
.gauge-callout-style:before, .gauge-callout-style:after
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

/* Stroke */
.gauge-callout-style::before
{
	bottom: -8px;
	left: 71.5px;
	border-top-color: #5E5E5E;
	border-width: 8px;
}


/* Fill */
.gauge-callout-style::after
{
	bottom: -7px;
	left: 71.5px;
    border-top-color: #F2F2F2;
	border-width: 8px;
}



.gauge-callout-style-el
{
    top: 47px;
    position: absolute;
    text-align: center;
    width: 160px;
    height: 36px;
    margin: 1em 0 3em;
    color: #000;
    border-radius: 5px;
    border: 1px solid #6D6D6D;
    background: linear-gradient(to right,#E1DFE2, #F2F2F2,#E1DFE2);
    background-color: lightgrey;
    z-index: 20;
    left: -50px;
    cursor:pointer;
}
.gauge-callout-style-el:before, .gauge-callout-style-el:after
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

/* Stroke */
.gauge-callout-style-el::before
{
	bottom: -8px;
	left: 14.5px!important;
	border-top-color: #5E5E5E;
	border-width: 8px;
}


/* Fill */
.gauge-callout-style-el::after
{
	bottom: -7px;
	left:14.5px!important;
    border-top-color: #e1dfe2;
	border-width: 8px;
}


.gauge-callout-style-er
{
    top: 47px;
    position: absolute;
    text-align: center;
    width: 175px;
    height: 36px;
    margin: 1em 0 3em;
    color: #000;
    border-radius: 5px;
    border: 1px solid #6D6D6D;
    background: linear-gradient(to right,#E1DFE2, #F2F2F2,#E1DFE2);
    background-color: lightgrey;
    z-index: 20;
    left: -50px;
    cursor:pointer;
}
.gauge-callout-style-er:before, .gauge-callout-style-er:after
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

/* Stroke */
.gauge-callout-style-er::before
{
	bottom: -8px;
	left: 151.5px!important;
	border-top-color: #5E5E5E;
	border-width: 8px;
}


/* Fill */
.gauge-callout-style-er::after
{
	bottom: -7px;
	left:151.5px!important;
    border-top-color: #e1dfe2;
	border-width: 8px;
}



.gauge-callout-text
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font: 22px Arial !important;
  color: #000000;
  font-weight: bold!important;
  margin-top:4px;
  margin-left:5px;
}

.gauge-callout-Percentage
{
  font: 16px Arial!important;
  font-weight: bold!important;
  margin:3px 5px 0px 5px!important;
  color:#000000;
  display:inline-block;
  vertical-align:middle;
  }

.gauge-info
{
	margin-left: 20px;
	width: 600px;
}

.gauge-font-size
{
	font-size: 16px;
	font-family: Arial !important;
	color: #333333;
}
.black-font
{
	color: #000000;
	font-weight: bold;
	font-family: Arial !important;
	font-size: 14px;
}

.overall-span
{
	margin-right: 20px;
}


.gauge-main
{
	width: 608px;
	height: inherit;
	margin: 20px 0;
}

.market-day-supply
{
	margin-right: 3px;
	margin-left: 50px;
}

.matching-span
{
	float: right;
}


.div-width
{
	width: 180px;
}
.low
{
	float: left;
	text-align: left;
}
.avg
{
	float: left;
	text-align: center;
}
.gauge-value
{
	position: absolute;
	width: 596px !important;
	margin-left: 22px;
	display: none;
	margin-top: 115px;
}

.high
{
	float: right;
	text-align: right;
}

.light-font
{
	color: #676767 !important;
	font: 12px Arial !important;
	margin-top: 2.5px;
}

.gauge-font-style
{
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	margin-left: 5px;
	font-family: Arial !important;
}
.lbl-price-in-game
{
	margin-left: 35px;
	font-size: 23px;
	margin-top: 7px;
	color: #666666;
	font-weight: bold;
	font-family:Arial!important;
}

.price-in-game
{
	margin-top: 206px;
	margin-left: 20px;
}

.gauge-position
{
	margin-top: -5px;
	margin-left: -2px;
}

.percentage-display
{
	font: 14px Arial !important;
	color: #000000;
}
.gauge-risk
{
	position: absolute;
	width: 458px;
	height: 36px;
	left: 23px;
	top: 140.5px;
    opacity: 0.9;
}

.extreme-left
{
    left:0px;
}

.extreme-right
{
    left:0px;
}
.black-font-avg
{
    color: #000000 !important;
    font: 20px Arial !important;
    font-weight:bold!important;
}
.light-font-avg
{
    color: #676767 !important;
    font: 16px Arial !important;
}

.gauge-alert {
    width: 604px;
    margin-left: 21px;
    position: absolute;
    top: 78px;
    display:none;
}


.alert-text {
    float: left;
    font-size: 14px;
    color: #fe0101;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}

.alert-message-div {
    float: right;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    font-family: Arial;
}

.gauge-value-alert
{
    position: absolute;
    width: 596px !important;
    margin-left: 22px;
    display: none;
    margin-top: 119px;
    text-align:center;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    font-family: Arial;
}

.gauge-progress
{   
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #eee;
    text-align: center;
    opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 300;
    background-image: url(../Images/loading_small.gif);
    background-position:center;
    background-repeat:no-repeat;
    height:289px;
    width:636px;
}

.alert-txt-msg
{
    font-family:Arial;
    font-weight:bold;
    font-size:14px;
    margin-left:2px;
}