﻿.ping-header
{
	border: #C8C8C8 solid 1px;
	background-color: #EEEEEE !important;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.format-control
{
	/*padding: 9px;*/
	padding: 22px 13px 21px 20px; /* margin:5px; */
}
.div-with-list-items
{
	text-align: left;
	vertical-align: middle;
	display: block;
	margin-left: 0 !important;
	padding-left: 0 !important;
	margin-top: 20px;
	width: auto;
	clear: both;
}
.inventory-name
{
	font-family: Arial;
	font-size: 25px;
	float: left;
	font-weight: bold;
	margin-left: 0 !important;
}
.display-stock-number
{
	float: right;
	height: 36px;
	width: auto;
	text-align: right;
}
.stock-number-label
{
	font-family: Arial;
	font-size: 12px;
	color: #303030;
}
.stock-number-link
{
	font-family: Arial;
	font-size: 16px;
	text-decoration: underline;
	color: #3761B5;
	font-weight: bold;
}
.selectList
{
	font-family: Arial;
	font-size: 15px;
	width: auto;
	font-weight: bold;
}
.selectList-color
{
	color: #bf0000;
	border: 1px solid #bf0000 !important;
	font-weight:700;
	font:Arial;
    font-size:13.33px;
    width:180px;
    padding:3px;
}
.align-header-item-list
{
	font-family: Arial;
	font-size: 15px;
	float: left !important;
	list-style-type: none;
	margin-left: 0 !important;
	margin-right: 65px;
}
.align-header-item-list:last-child
{
	margin-right: 0px;
}
.label-size
{
	width: 135px;
	display: inline-block;
	font-size: 16px;
	font-family: Arial !important;
	color: #333333;
	
}
.trim-alert
{
	left: 36%;
	color: #010101!important;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	vertical-align: middle;
	z-index: 101 !important;
	margin-top: 20%;
	display: block;
	font-family: Arial;

}



.lightbox
{
	text-align: center;
	position: absolute;
	top: 240px;
	background: none repeat scroll 50% 50% #FFFFFF;
	width: 100%;
	z-index: 100;
	filter: alpha(opacity=50); /* internet explorer */
	-khtml-opacity: 0.5; /* khtml, old safari */
	-moz-opacity: 0.5; /* mozilla, netscape */
	opacity: 0.8; /* fx, safari, opera */
	height: 100%;
	margin-left: -35px;
}


.trimdisplay
{
	display: none;
}

.lbl-certified
{
	/*margin-left: 110px!important;*/
}

.make-model-style
{
	font-family: Arial !important;
	font-weight: bold;
	font-size: 32px;
	color: #303030;
}
.header-title-select
{
	margin-left: 20px;
}

.selectlist-normal 
{   
    border: solid #ddd 1px;
    color:#000000;
    cursor:pointer;
    font:Arial;
    font-size:13.33px;
   /* width:180px;*/
    padding:3px;
}

.color-overflow
{
    text-overflow: ellipsis;
    overflow:hidden;
	white-space:nowrap;
}
.arrow_box 
{
    display:none;
	position: absolute;
	background: #000000;
	color:White;
	/*border: 3px solid #c2e1f5;
	top:165px;*/
	margin-top:auto;
	/*min-width:140px;*/
	max-width:200px;
	height:auto;
	left:235px;
	border-radius:5px;
	text-align:center;
	min-height:25px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: Black;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: Black;
	border-width: 9px;
	margin-left: -9px;
}

.arrow_box_inner
{
    display:block;
    padding:5px 7px 5px 7px;
}

