﻿body
{
}

.mileage-price-slider
{
	width: 296px;
	position: relative;
	margin-left: 14px;
	margin-right: 5px;
	margin-top: 34px;
	min-height: 100px;
}

.mileage-info
{
	width: inherit;
	margin: 10px 0px 5px -13px !important;
}

.range-slider
{
    background-color: lightgrey !important;
	height: 5px;
	width: inherit;
	margin-top: 24px;
	position: absolute;
}
.mileage-values
{
	margin-top: 52px;
	width: inherit;
	margin-left: -13px;	
}

.hide-mileage-values
{
	display:none;
}

.ui-slider-range
{
	background: #3761B5;
}

.range-slider .ui-slider-handle
{
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
	border: none;
	background-color: transparent !important;
}
.first-handle
{
	background-image: url('../Public/Images/25x17-mileagetoggleleft.png') !important;
	top: -9px !important;
	height: 19.5px !important;
	z-index: 6 !important;
}
.second-handle
{
	background-image: url('../Public/Images/25x17-mileagetoggleright.png') !important;
	top: -9px !important;
	height: 19.5px !important;
	z-index: 6 !important;
}

.ui-slider-horizontal
{
	background-color: transparent !important;
}



.font-color
{
	color: #AAAAAA;
	font-size: 13px;
	font-family: Arial;
}


.max-value
{
	float: right;
	margin-right: -25px;
}
.average-value
{
	position: absolute;
	left: 38% !important;
	width: 60px !important;
	text-align: center;
	overflow: visible;
}
.average-label
{
	position: absolute;
	margin-top: -15px;
	color: #676767;
	font-size: 12px !important;
	font-family: Arial !important;
	left: 45% !important;
}


.fontstyle-bold
{
	font-weight: bold;
	color: #000000;
	font-size: 14px;
	font-family: Arial !important;
}

.callout-style
{
	position: absolute;
	text-align: center;
	width: 22%;
	height: 25px;
	margin: 1em 0 3em;
	color: #000;
	border-radius: 6px;
	border: 1px solid #777777;
	background: #f2f2f2;
	z-index: 80;
	background: radial-gradient(ellipse at center, #f2f2f2 10%, #DDDDDD 100%, #DDDDDD 100%);
  }
.callout-style-er
{
	position: absolute;
	text-align: center;
	width: 22%;
	height: 25px;
	margin: 1em 0 3em;
	color: #000;
	border-radius: 6px;
	border: 1px solid #777777;
	background: #f2f2f2;
	z-index: 80;
	background: radial-gradient(ellipse at center, #f2f2f2 10%, #DDDDDD 100%, #DDDDDD 100%);
  }
.callout-style-er:before
{
	bottom: -8px;
	left: 38px !important;
	border-top-color: #797979;
	border-width: 8px;
}
.callout-style-er:after
{
	bottom: -7px;
	left: 38px !important;
	border-top-color:rgba(228, 228, 228, 1);
	border-width: 8px;
}
.callout-style-el
{
	position: absolute;
	text-align: center;
	width: 22%;
	height: 25px;
	margin: 1em 0 3em;
	color: #000;
	border-radius: 6px;
	border: 1px solid #777777;
	background: #f2f2f2;
	z-index: 80;
	background: radial-gradient(ellipse at center, #f2f2f2 10%, #DDDDDD 100%, #DDDDDD 100%);
  }
.callout-style-el:before
{
	bottom: -8px;
	left: 10px !important;
	border-top-color: #797979;
	border-width: 8px;
}
.callout-style-el:after
{
	bottom: -7px;
	left: 10px !important;
	border-top-color:rgba(228, 228, 228, 1);
	border-width: 8px;
}

.callout-style:before, .callout-style:after
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

/* Stroke */
.callout-style:before
{
	bottom: -8px;
	left: 23px;
	border-top-color: #797979;
	border-width: 8px;
}

/* Fill */
.callout-style:after
{
	bottom: -7px;
	left: 23px;
	border-top-color:rgba(228, 228, 228, 1);
	border-width: 8px;
}

.callout-text
{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 14px;
	color: #000000;
	font-family: Arial !important;
	margin-top: 5px;
	text-align: center;
}
.increase-index
{
	z-index: 10 !important;
}

.mileage-font
{
	font-size: 14px;
	font-weight: bold;
	color: rgb(82, 82, 82);
}
#callout
{
	margin-top: -5px !important;
}
.ui-slider-range
{
	height: 4px !important;
}

span.ui-slider-handle.ui-state-default.ui-corner-all.first-handle.increase-index
{
	background-color: transparent !important;
	background-repeat: no-repeat !important;
}
span.ui-slider-handle.ui-state-default.ui-corner-all.second-handle
{
	background-color: transparent !important;
	background-repeat: no-repeat !important;
}
span.ui-slider-handle.ui-state-default.ui-corner-all.first-handle
{
	background-color: transparent !important;
}

.mileage-partial
{
    width: 300px;   
    min-height:100px;
}

.mileage-alert
{
    width: 206px;
    height: auto;
    float: right;
    text-align: center;
    margin-top: -3px;
}
.mileage-alert-text
{
    line-height:15px;
    font-weight:bold;
    font-size:12px;
    color:#FE0101;
    font-family:Arial;
    text-transform:uppercase;
}
.mileage-alert-msg
{
    line-height:15px;
    font-size:12px;
    color:#000000;
    font-family:Arial;
}

.mileage-slider-message
{
font-size: 12px;
  color: #000000;
  font-family: Arial;
  width: 325px;
}

.mileage-values-alert {
    margin-top: 42px;
    width: inherit;
}

.mileage-progress
{   
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #eee;
    text-align: center;
    opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 300;
    background-image: url(../Images/loading_small.gif);
    background-position:center;
    background-repeat:no-repeat;
    height:150px;
    width: 300px;
}

#dvMatchingCount
{
    position:absolute;
    left:207px;
    top:44px;
    width:115px;
}
#rangeSlider .ui-slider-handle {
    background-color: transparent !important;
    border: none;
    background-repeat: no-repeat !important;
}
