﻿body
{
     
}

.ping-page
{
    width: 1000px;
    height: 1585px;
    margin: auto;
    background-color: #F3F3F3;
}

.ping-header
{
    margin: 10px;
    height: 100px;
    width: 978px;
    
}

.ping-content
{
    max-height: 1040px ;
    height: 1040px ;
    padding-bottom: 20px;
    padding-top: 8px;
}

.enlarge-content
{
    max-height: 1125px !important;
    height: 1125px !important; 
}

.competitive-set {
  width: 340px;
  height: inherit;
  float: left;
  position: relative;
  margin-left: 12px;
  margin-top: 4px;
}

.pricing-outer
{
    width: 638px;
    height: inherit;
    float: right;
    position: absolute;    
    margin-left: 350px;
}

.pricing-inner
{
    width: inherit;
    height: 760px;
}

.enlarge-pricing-inner
{
     height: 820px!important; 
}
.lbl-competitive
{
    font-size: 23px;
  width: auto;
  height: 20px;
  margin-left: 35px;
  color: #666666;
  font-family: Arial!important;
  font-weight: bold;
}

.listing-count-label
{
    width: 327px;
    height: 15px;
    margin-top: 23px;
    font-size: 14px;
}
.over-all
{
    float: left;
}
.align-right
{
    float: right;
}
.overall-matching-style
{
  font-family: Arial!important;
  font-size: 16px;
  color: #000000; 
}
.overall-matching-count
{
    font-size: 20px;
  color: #000000;
  font-family: Arial!important;
  margin-right:5px;
}
.vehicle-history-report {
    float: right;
    margin-top: 20px;
    width: 617px;
    height: 230px;
    margin-right:-2px;
}
#WorkflowSelector
{
    right:15px!important;
}
#PageHeader
{
    margin-right:5px!important;
}

.ping-grid-listing
{
    margin-top: -10px;
    width: 977px;
    height: 350px;
	margin-left: 11px;
}

.pricing-comparison
{
  width: 313px;
  float: right!important;
  height: auto;  
}

.gauge-component
{
    width: inherit;
    height: 289px;
    background-color: White;
    border: 1px solid lightgrey;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 0;
}
.pricing-calculator
{
    float: left !important;
    min-height: 400px;

}
.circle
{
  width: 28px!important;
  height: 28px!important;
  border-radius: 100%;
  background-color: #ffffff;
  color: #666666;
  text-align: center;
  font-size: 25px;
  overflow: hidden;
  line-height: 30px;
  position: absolute;
  font-family: arial !important;
  font-weight: bold;
  border:1px solid #999999;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.dss-circle-position
{
     margin-top: -5px;
}

.loading
{   
    width: 100%;
   /* height: 100%;*/
    background: url(../Public/Images/loading_small.gif) no-repeat scroll center !important;
}
.veicle-History
{
    margin-left: 20px;
}
.scrollable
{
    width:340px!important;
    max-height:950px;
    overflow: auto;
    overflow-x: hidden;
}
#WorkflowMenu ul li {background-image: url("../Themes/MAX3.0/Images/sprite_Workflow.png") !important;background-repeat: no-repeat !important;background-attachment: scroll !important;background-size: auto !important;background-origin: padding-box !important;background-clip: border-box !important; float:left; margin:0; }
#WorkflowMenu ul li a { color:#333; display:block; font-size:1.0em; height:17px; line-height:1.1em; padding:8px 10px; text-decoration:none; }
#WorkflowMenu ul li:hover { background-color:#fff; }
#WorkflowMenu ul li.selected { background-color:#fff; font-weight:bold; }

#WorkflowMenu ul li.equipment { background-position:3px 9px !important;!important }
#WorkflowMenu ul li.equipment a { padding-left:26px !important; }
#WorkflowMenu ul li.packages { background-position:0 -23px !important; }
#WorkflowMenu ul li.packages a { padding-left:24px !important; }
#WorkflowMenu ul li.photos { background-position:3px -55px !important; }
#WorkflowMenu ul li.photos a { padding-left:25px !important; }
#WorkflowMenu ul li.pricing { background-position:1px -88px !important; }
#WorkflowMenu ul li.pricing a { padding-left:21px !important; }
#WorkflowMenu ul li.approval { background-position:4px -123px !important; margin-right:0 !important; }
#WorkflowMenu ul li.approval a { padding-left:27px !important; }
#WorkflowMenu ul li.maxSe { background-image:none !important; }


div#BulkUpload{margin-right: 8px;}
#BulkUpload{background:#fff url("../Themes/MAX3.0/Images/sprite_Workflow.png?v=3.0") no-repeat scroll 98% -161px !important;float:right;height:22px;margin: 10px 100px 0 10px;}
#BulkUpload a{color:#333;display:block;height:22px;line-height:22px;padding:0 23px 0 5px;text-decoration: none;}

#HeaderSearchButton{ background-image: url("../Themes/MAX3.0/Images/sprite_Gradients1.png?v=3.0") !important;}

.mastheadLogo{ background-image: url("../Themes/MAX3.0/Images/Profit_MAX_Logo.png") !important;width:172px !important; height:40px !important;}
.dealerSelector{ background-image: url("../Themes/MAX3.0/Images/sprite_Arrows.png?v=3.0") !important;}

#WorkflowSelector ul li a { background-image: url("../Themes/MAX3.0/Images/sprite_Arrows.png") !important;}

.lightbox{ position: absolute;}
li.menuHead > a{ background-image: url("../Themes/MAX3.0/Images/sprite_Arrows.png?v=3.0") !important; }

#Navigation > ul > li.menuHead > a { background-image: url("../Themes/MAX3.0/Images/sprite_Arrows.png?v=3.0") !important;}

#CtrGraphLink >img {position : relative ; top:3px}


.loadingGraph {
	background:transparent url("../Images/loading.gif") no-repeat scroll center; height:100%; width:100%;
}


/*.ctr-graph-link {
  background: url("Images/1343832346_pie-chart_graph.png") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  float: left;
}*/
.ctr-graph-link{
	margin-right:110px!important;
}
#chart-line, #chart-bar { 
    width: 800px; 
    height: 400px; 
    margin: 0 auto;
}

#ctr-graph .carinfo {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #969696;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
  width: 800px;
}
#ctr-graph .carinfo li {
  display: inline;
  margin-right: 20px;
}
#ctr-graph .carinfo .data {
  color: #000;
}
#ctr-graph.dialog .loadingGraph {
    width: 100%;
    height: 100%;
    background: white url("../Images/loading.gif") center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loadingGraph .errorGraph {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    height: 80px;
    background: white;
    margin-top: 170px;
    color: #bf0000;
}

#ctr-graph .title-tooltip {
  display: none;
  position: absolute;
  top: 170px;
  left: 40px;
  background: white;
  padding: 2px 4px;
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
  -moz-box-shadow: 0 0 5px rgb(0,0,0);
  box-shadow: 0 0 5px rgb(0, 0, 0);
  z-index: 1000;
}

select#ddlChromeStyle {
 max-width: 430px;   
}
 
select#selectbox {
 max-width: 430px;   
}

.data-load-progress
{
    text-align: center;
	position: absolute;
	top: 240px;
	background: none repeat scroll 50% 50% #B2B2B2;
	width: 100%;
	z-index: 99;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=0.7);
	opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 300;

	height: 100%;
	margin-left:-4px;
}
.loading-ping 
{
    position: fixed;
    left: 45%;
    top: 55%;
    text-align: center;
    width: 157px;
    height: 50px;
    color: #999999;
    border-radius: 3px;
    border: 3px solid #3761B5;
    background: #FFFFFF;
    z-index: 5000;
    font: 14px Arial !important;
    background-image: url(../Public/Images/loading_small.gif);
     
        background-position-x: 25%;
    background-position-y: 50%;
    background-repeat:no-repeat;
}
div#loading-text {
    line-height: 364%;
    margin-left: 29px;
}

div#load_jqGrid {
    display: none !important;
}
.market-listing-overlay 
{
    display: none;
    left: 0px;
    text-align: center;
    position: absolute;
    background: none repeat scroll 50% 50% #2D2D2D;
    width: 100%;
    height: 24%;
    z-index: 100;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}
