﻿body
{
}
.style
{
	font-size: 23px;
	color: #666666;
	text-align: left;
	padding-bottom: 27px;
	padding-top: 20px;
	font-weight: bold;
	padding-left: 49px;
	font-family:Arial!important;
}
.display
{
	float: left;
	height: auto;
}

.highlight
{
	font-weight: bold;
	font-size: 12px !important;
	font-family: Arial !important;
	color: #000000;
	width: 39px;
	display: inline-block;
	text-align:right;
}

.pricing-proof-main
{
	display: block;
	height: auto;
	background: #EEEEEE;
	overflow: visible;
	width: 307.5px;
	margin-top:0.3px;
}
.cover
{
  min-height: 455px;
  border: 1px solid lightgrey;
  width: 308px!important;
  margin-left:-1px;
  background: #EEEEEE;
}
.subdiv
{
	height: auto;
	width: 308px;
	min-height: 60px;
	vertical-align: middle;
	overflow: hidden;
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 5px;
	padding-top: 7px;
	margin: 0px;
}
.remove-border
{
    border-bottom:0px!important;
}
.enlarged-subdiv
{
	height: 165px;
	width: 308px;
	min-height: 165px;
	vertical-align: middle;
	overflow: visible;
	border-bottom: 1px solid #DCDCDC;
	padding-bottom: 10px;
}
.warning
{
	color: red;
}
.success
{
	color: #008500 !important;
}
.font-style
{
	font: 18px Arial !important;
	font-weight: bold !important;
}
.not-applicable
{
	color: #000000;
}

hr
{
	color: #E9E9E9;
}
.success-image {
    background-image: url('../Public/Images/19x19-lggreencheck.png');
    background-position-x: 8px;
    background-position-y: 8px;
    -ms-background-position-x: 8px;
    -ms-background-position-y: 8px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    overflow: hidden;
    padding: 5px;
    margin-top: 15px;
    margin-left: 16px;
}

.failure-image
{
	background-image: url('../Public/Images/19x19-lgredx.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	overflow: hidden;
	padding: 5px;
	margin-top: 15px;
	margin-left: 16px;
	    background-position-x: 8px;
    background-position-y: 8px;
    -ms-background-position-x: 8px;
    -ms-background-position-y: 8px;
}
.alert-image
{
    background-image: url('../Public/Images/yellow_caution sign_18x56.png');
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
	float: left;
	overflow: hidden;
	padding: 5px;
	margin-top: 15px;
	margin-left: 16px;
    background-position-x: 8px;
    background-position-y: 8px;
    -ms-background-position-x: 8px;
    -ms-background-position-y: 8px;
}
.books-logo
{
	float: left;
	height: 57px;
	width: 90px;
	overflow: hidden;
	margin-top: 8px;
	display:inline-block;
	text-align:center;
}


.galves
{
	background-image: url('../Public/Images/PricingProof/galves_icon.png');
	background-repeat: no-repeat;
}

.marketavg
{
	background-image: url('../Public/Images/PricingProof/msrp_logo_sm.png');
	background-repeat: no-repeat;
}

.jdpower
{
	background-image: url('../Public/Images/sprite_ProviderLogos.png');
	background-repeat: no-repeat;
}
.kbb
{
	background-image: url('../Public/Images/PricingProof/kelleybluebook.png');
	background-repeat: no-repeat;
}
.nada
{
	background-image: url('../Public/Images/PricingProof/nada.png');
	background-repeat: no-repeat;
}

.edmunds
{
	background-image: url('../Public/Images/PricingProof/edmunds.png');
	background-repeat: no-repeat;
}

.carfax
{
	background-image: url('../Public/Images/PricingProof/carfax_logo.png');
	background-repeat: no-repeat;
}
.carfaxc
{
	background-image: url('../Public/Images/PricingProof/carfax_logo.png');
}

.blackbook
{
	background-image: url('../Public/Images/PricingProof/blackbook_icon.png');
	background-repeat: no-repeat;
}
.autocheck
{
	background-image: url('../Public/Images/PricingProof/autocheck_logo.png');
	background-repeat: no-repeat;
}

.comparisons
{
	display: none;
}
.show-comparisons
{
	float: right;
	height: 100px;
	width: 146px;
	display: block;
	overflow: visible;
	margin-top: 5px;
	margin-right: 20px;
}
.comparisons-font
{
	font-family: Arial;
	font-size: 11px;
}
.view-link
{
	font: 12px Arial !important;
	color: #3761b5;
	margin-left:-10px;
	cursor:pointer;
}

.fonts
{
	font-family: Arial !important;
	font-size: 12px !important;
	color: #000000 !important;
}
.radio-width
{
	width: 81px;
	float: right;
	margin-top: -17px;
    margin-right: -10px;
}
.big-font
{
	font-size: 20px;
	font-weight: bold;
}
.align-left
{
	float: left;
	margin-left: 7px;
}
.align-right
{
	float: right;
}
.ruler
{
	border-bottom: 1px solid #DCDCDC;
	height: 15px;
}
.adjust-height
{
	height: 20px;
	margin-top: 6px;
	margin-bottom: -3px;
}




.lnk-view
{
	margin-left: 105px;
	font: 12px Arial !important;
	color: #3761B5;
	cursor:pointer;
}


.down-arrow
{
	position: absolute;
	border-width: 5px 5px 0px;
	border-style: solid;
	border-color: rgb(33, 13, 213) transparent;
	margin-top: 6px;
}

.side-arrow
{
	position: absolute;
	border-width: width: 10px;
	border-top: 5px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 5px solid rgb(6, 0, 255);
	margin-top: 4px;
}
.arrow-wrapper
{
    padding-left:5px;
}
.pricing-circle-position
{
	margin-top: 13px;
	margin-left: 15px;
}

.msrp
{
	background-image: url('../Public/Images/msrp_logo_sm.png');
	background-repeat: no-repeat;
	background-position: center;
}
.black-font
{
    color:#000000!important;
}

#pricingproofDisplay input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: blue;
    box-shadow:none;
}
 #pricingproofDisplay input::-ms-check 
 {
    color: blue;
    border-color:grey;
}

.shift-down-tick
{
    margin-top:43px!important;
}
.shift-msrp-logo
{
    margin-top:37px!important;
}
div.pricing-proof-main div#marketavg.subdiv
{
    border-top:0px!important;
}