﻿.main
{
	display: block;
	min-height: 80px;
	background-color: White !important;
	height: 461px;
	width: 324px;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-bottom-left-radius: 9px;
}
.enlarged-main
{
    height:559px!important;
}
.enlarged
{
    height:481px!important;
}
.Header
{
	text-align: center;
	padding-bottom: 20px;
	color: #666666;
	font-size: 24px;
	font-family: Arial !important;
	padding-top: 10px;
}
.Pricing-Calculator--Content
{
	padding: 0 20px;
}

.pricing-calculator-labels-left
{
	float: left;
	width: 135px;
	-webkit-padding-start: 0px;
	padding-left: 0px !important;
	padding-left: 0px !important;
	margin: 8px auto auto -3px;
}

.pricing-calculator-labels-list
{
	height: 47px !important;
	text-align: left;
	list-style-type: none;
	padding: 0px;
}
.Pricing-Calculator-Content
{
	height: 280px;
}

.horizonlat-Line
{
  clear: both;
  width: 98%;
  height: 1px;
   margin-left: -2px;
  background-color: rgb(140, 140, 140);
}

.span-variable
{
	width: 44px !important;
	padding:0px 2px 0px 3px!important;
}
.pricing-calulator-variables
{
	width: 112px;
	height: 28px;
	border: 1px solid #B1B1B1;
	font-size: 20px;
	text-align: right;
	padding-right: 5px;
	border-radius: 3px;
}

.pricing-calculator-labels
{
	font-size: 16px !important;
	width: 21px !important;
	font-family: Arial !important;
	color: #000000;
	line-height: 9px !important;
}

.btn-Pricing-Calculator
{
    background: rgba(31,90,217,1);
    background: -moz-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,90,217,1)), color-stop(49%, rgba(31,90,217,1)), color-stop(51%, rgba(31,90,217,1)), color-stop(100%, rgba(18,66,170,1)));
    background: -webkit-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: -o-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    background: linear-gradient(to bottom, rgba(31,90,217,1) 0%, rgba(31,90,217,1) 49%, rgba(31,90,217,1) 51%, rgba(18,66,170,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f5ad9', endColorstr='#1242aa', GradientType=0 );
    color: white;
    text-decoration: none;
    vertical-align: middle;
    font-size: 22px;
	width: 99%;
	min-width: 247px;
	height: 52px;
	font-family: Arial !important;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: -3px;
	cursor:pointer;
	margin-left:-3px;
	border-radius: 6px;
    border: 1px solid #AAAAAA;
}
#potentialgrossprofit
{
	margin-top: 8px;
}


.lnk-Pricing-Calculator
{
	color: #3761B5 !important;
	font-size: 12px;
	font-family: Arial !important;
	margin-left:-2px;
}
.potentialgrosslabelcss
{
	width: 70px;
}

.pricing-calculator-textboxes-right
{
	width: 94px;
	float: left;
	-webkit-padding-start: 0px;
	padding-left: 0px !important;
	margin: auto;
	margin-left: 27px;
}

.pricing-calculator-textboxes-right li input[type=text]::-ms-clear {
 display:none;
 }
 
.font16
{
	font-size: 16px !important;
}


.pricing-history-date
{
	width: 125px;
	float: left;
	list-style-type: none;
	-webkit-padding-start: 0px;
	padding-left: 0px !important;
	margin-left: 5px;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	font-size: 12px;
}

.pricing-history-appraiser
{
	font-size: 12px;
	float: left;
	list-style-type: none;
	-webkit-padding-start: 0px;
	padding-left: 0px !important;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
}

.pricing-history-value
{
	font-size: 12px;
	width: 50px;
	float: right;
	list-style-type: none;
	-webkit-padding-start: 0px;
	padding-left: 0px !important;
	margin-right: 5px;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
}
.pricing-history
{
	background-color: #EAEAEa !important;
	width: 280px;
	height: auto;
	overflow: auto;
	max-height: 60px;
	display: none;
}


.pricing-calculator-lblInternet
{
	width: 21px !important;
	font-size: 20px;
	font-family: Arial !important;
	color: #000000;
}

.calculator-top
{
	padding-top: 15px;
	height: 30px !important;
}

.calculator-font-style
{
	font-family: Arial !important;
	color: #000000;
}


.market-li
{
	margin-bottom: 0px;
	margin-top: 13px;
}

.align-center
{
}

.unit-cost-li
{
	margin-bottom: 0px;
	height: 30px !important;
}

.calculator-lblInternet-li
{
	height: 39px !important;
	margin-top: -2px!important;
}

.Potential-Gross-Profit-li
{
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100px;
}
.total-ranks
{
	line-height: 34px;
	float:right;
	min-width:63px;
	text-align:center;
	margin-right:-27px;
}

.calculator-side-arrow
{
	position: absolute;
	border-width:  10px;
	border-top: 5px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 5px solid rgb(6, 0, 255);
	margin-left: 7px;
	margin-top: 6px;
}
.calculator-down-arrow
{
	position: absolute;
	border-width: 5px 5px 0px;
	border-style: solid;
	border-color: rgb(33, 13, 213) transparent;
	margin-top: 8px;
	margin-left: 5px;
}

.pricing-calculator-align-left
{
    margin:0px;
}
.pricing-calculator-align-right
{
    float:right;
    position:relative;
    left:4px;
}

.pricing-history-data
{
    float: left;
    width: 100%;
    overflow-y: scroll;
    height: 55px;
    overflow-x: visible;
}
.price-history-date
{
    float:left;
    display:inline-block;
    width:105px;
}
.price-history-name
{
    float:left;
    display:inline-block;
    width:90px;
}
.price-history-amount
{
    float:left;
    display:inline-block;
    width:50px;
    text-align:right;   
}
.hide-control
{
    display:none;
}
.show-control
{
    display:inline;
}
.new-class
{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px 0 0 5px;
  width: 309px;
  min-height:457px;
}
.price-calc-progress
{   
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #eee;
    text-align: center;
    opacity: 0.7;
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    z-index: 300;
    background-image: url(../Images/loading_small.gif);
    background-position:center;
    background-repeat:no-repeat;
    height:461px;
    width:324px;
}
#showSuccess 
{
    position: absolute;
    text-align: center;
    width: 132px;
    height: 50px;
    color: #000;
    border-radius: 3px;
    border: 3px solid #3761B5;
    background: #FFFFFF;
    z-index: 80;
    top: -55px;
    left: -28px;   
    display: none;
}
#showSuccess:before, #showSuccess:after
{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}
#showSuccess:after 
{
    bottom: -10px;
    left: 55px;
    border-top-color: rgba(255, 255, 255, 1);
    border-width: 11px;
}
#showSuccess:before 
{
       bottom: -14px;
    left: 55px;
    border-top-color: #3761B5;
    border-width: 11px;
}
.saved-msg {
    font: 18px Arial !important;
    font-weight: bold !important;
    color: #008500;
    width: 100%;
    height: 100%;
    line-height: 50px !important;
    text-align: left;
}
#tickSuccess {
    background-image: url('../Public/Images/19x19-lggreencheck.png'); 
    background-position-x: 8px;
    background-position-y: 8px;
    -ms-background-position-x: 8px;
    -ms-background-position-y: 8px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    overflow: hidden;
    padding: 5px;
    margin-top: 6px;
    margin-left: 19px;
   
}