﻿.pws-overlay
{
	background:#000 no-repeat scroll 0 0 !important;
	left:0;
	opacity:0.6 !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60) !important;
	position:absolute;
	top:0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.pws-dialog {
    -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
  border-radius: 3px;
  height: 600px;
  overflow: hidden;
  padding: .25em;
  position: absolute;
  z-index: 1002;
  height: auto;
  width: 600px;
  left: 20%;
    top: 18%;
  display: block;
}
.hideMe {
    display: none;
}
.showMe {
    display: inline;
}
.selectSheets{padding:0 0 .5em 140px}
.field{  margin: 1em 0 0;}
.pws-header {
    margin-bottom: 12px;
}
#PrintWindowStickerDlg {
    padding: 0 0 12px 0 
}

#PrintWindowStickerDlg p {
    margin: 1em 0
}

#PrintWindowStickerDlg p.info {
    
    margin-left: 17px;
}

#PrintWindowStickerDlg .field {
    margin: 1em 0 0
}

#PrintWindowStickerDlg .field label {
    display: block;
    float: left;
    font-size: 1.2em;
    margin-right: 20px;
    text-align: right;
    width: 120px
}

#PrintWindowStickerDlg .field select {
    font-size: 1.2em
}

#PrintWindowStickerDlg .selectSheets {
      padding: 0 0 0 140px;
  margin-top: 10px;
}

#PrintWindowStickerDlg .sectionButtons {
    height: 2em;
    position: relative
}

#PrintWindowStickerDlg .sectionButtons input.button {
    position: absolute;
    right: 12px;
    top: 0
}