﻿.autocheck-main
{
	display: none;
	min-height: 80px;
	margin: 47px 0 0 116px;
	background-color: #EEEEEE !important;
	height: 160px;
	width: 470px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #C8C8C8 !important;
}
.carfax-main
{
	display: block;
	min-height: 80px;
	margin: 47px 0 0 116px;
	background-color: #EEEEEE !important;
	height: 172px;
	width: 470px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid #C8C8C8 !important;
}

.tab-container
{
	float: left;
	width: 125px;
}
.btn-autocheck
{
	height: 56px;
	width: 115px !important;
	background-color: #EEEEEE !important;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../Public/Images/100x32-autocheck.png');
	margin: 0px 0 0 0 !important;
	padding: 0 !important;
	border-top: 1px solid #C8C8C8 !important;
	border-left: 1px solid #C8C8C8 !important;
	border-bottom: 1px solid #C8C8C8 !important;
	border-right: 2px solid #EEEEEE !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 2;
	position: relative;
}


.btn-carfax
{
	height: 56px;
	width: 115px !important;
	background-color: rgb(238,238,238) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../Public/Images/100x32-carfax.png');
	margin: 0 0 5px 0 !important;
	border-top: 1px solid #C8C8C8 !important;
	border-left: 1px solid #C8C8C8 !important;
	border-bottom: 1px solid #C8C8C8 !important;
	border-right: 2px solid #EEEEEE !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 2;
	margin-left: 51px;
}

.autocheck-img
{
	background-image: url('../Public/Images/VehicleHistory/autocheck-new.png');
}
.carfax-img
{
	background-image: url('../Public/Images/VehicleHistory/carfax_logo.gif');
}
.pull-report-button
{
	background: #ff0000;
	background: -moz-linear-gradient(top, rgba(255,00,00,1) 0%, rgba(255,00,00,1) 49%, rgba(255,00,00,1) 51%, rgba(197,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,00,00,1)), color-stop(49%, rgba(255,00,00,1)), color-stop(51%, rgba(255,00,00,1)), color-stop(100%, rgba(197,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(255,00,00,1) 0%, rgba(255,00,00,1) 49%, rgba(255,00,00,1) 51%, rgba(197,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(255,00,00,1) 0%, rgba(255,00,00,1) 49%, rgba(255,00,00,1) 51%, rgba(197,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,00,00,1) 0%, rgba(255,00,00,1) 49%, rgba(255,00,00,1) 51%, rgba(197,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(255,00,00,1) 0%, rgba(255,00,00,1) 49%, rgba(255,00,00,1) 51%, rgba(197,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#C50000', GradientType=0 );
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
	height: 25px;
	min-width: 131px;
	margin-left: 24px;
	font-family: Arial !important;
	font-size: 12px !important;
	margin-top: 18px !important;
	font-weight: bold;
	border: 1px solid #AAAAAA;
	width: auto;
}
.hide-control
{
	display: none;
}

.positive-check
{
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	display: block;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	float: left;
}
.negative-check
{
	background-image: url('../Public/Images/VehicleHistory/attention.gif');
	display: block;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	float: left;
}
.data
{
	margin-left: 8px;
	height: 35px !important;
	text-align: left;
	vertical-align: middle;
}

.align-list
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 220px;
	text-align: left;
	list-style-type: none;
	margin-top: 2px;
}
.align-list-items
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 220px;
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}





.single-owner
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 220px;
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}

.carfax-ok
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 220px;
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}

.odometer-rollback
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 220px;
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}

.accidental-damage
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 220px;
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}
.manufacturer-recall
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 30px !important;
	width: 237px;
	background-image: url('../Public/Images/VehicleHistory/16x16-smgreencheck.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}
.align-list-items-negative
{
	float: left;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	padding: 0 !important;
	height: 34px !important;
	width: 250px;
	background-image: url('../Public/Images/VehicleHistory/16x16-redx.png');
	background-repeat: no-repeat;
	text-align: left;
	list-style-type: none;
}
.change-color
{
	background-color: #DFDFDF !important;
	border-right: 1px solid #C8C8C8 !important;
}

.div-size
{
	height: 150px !important;
	width: 220px !important;
}


.align-list-items-label
{
	margin-top: 5px;
	margin-left: 24px;
	font-size: 12px;
	font-family: Arial !important;
	color: #333333;
}

.img-background
{
}
.outer-div
{
	padding: 0px 10px 5px 10px;
	background-color: #EEEEEE !important;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #C8C8C8 !important;
	height: 193px;
	width: 620px;
	margin-top: 10;
}
.view-link-position
{
	font-family: Arial !important;
	font-size: 11px !important;
	color: #3761B5;
	margin: auto;
	text-decoration: underline;
	float: right;
	margin: 11px 20px 8px 0px;
}

.view-autocheck-link-position
{
	font-family: Arial !important;
	font-size: 11px !important;
	color: #3761B5;
	margin: auto;
	text-decoration: underline;
}

.center-align
{
	float: left;
	width: 115px;
}
.align-report-header
{
	float: left;
	font-size: 13px;
	width: 100%;
	margin-bottom: 13px;
	margin-top: 16px;
	margin-left: 20px;
	font-family: Arial !important;
	font-weight: bold;
	color: #979797;
}


.btn-autocheck-default
{
	height: 56px;
	width: 115px !important;
	background-color: #EEEEEE !important;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../Public/Images/100x32-autocheck.png');
	margin: 0px 0px 0px 0px !important;
	padding: 0 !important;
	border-top: 1px solid #C8C8C8 !important;
	border-bottom: 1px solid #C8C8C8 !important;
	border-left: 1px solid #C8C8C8 !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 2;
	position: relative;
}

.autocheck-data
{
	height: 134px;
	text-align: left;
	vertical-align: middle;
}

.view-link-position-autocheck
{
	float: right;
	font-family: Calibri Light !important;
	font-size: 12px !important;
	color: #3761b5;
	margin-right: 40%;
	margin-top: 15%;
	text-decoration: underline;
}
.show-div
{
	display: block;
}

.vhr-attention-carfax
{
	position: absolute;
	left: -1px;
	margin-top: 9px;
}

.vhr-attention-autocheck
{
	position: absolute;
	left: -1px; /* top: -62px; */
	margin-top: 72px;
}

