﻿body {
}
.right-shift
{
    float:right!important;
    margin-right:-9px;
}

.ctr-img
{
        background-image: url('../Images/1343832346_pie-chart_graph.png') !important;
        width:32px;
        height:32px;
}

.work-flow-selector
{
    top: 85px!important;
  float: right;
}

.ctr-graph-link {
  margin-right: 89px;
}

.shift-top
{
    margin-top:-18px;
}