/********** START GLOBAL STYLES ***********/

* { 
    margin:0; padding:0; 
}
BODY { 
	font-family:Verdana, Arial, sans-serif;
	font-size:14px; 
	
}
a, a:link, a:hover, a:visited, a:active { 
	font-size:11px;
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	color:#355fab;
	text-decoration:none;
	cursor: pointer; 
}
a:visited {
    color:#5470a2;
}
a:hover {
    text-decoration:underline;
}


/*********** STRUCTURE **************/

#header { 
	padding: 2px 3px 0px 3px;
	height: 20px; 
	border-bottom: 1px solid #CCC;
}
#footer { 
    clear:both;
	padding:0 .5em .5em .5em; 
	height: 55px;
	margin-top:0px;
}

#wrapper { overflow:hidden; padding:8px 8px 0 8px; }
*html #wrapper{height:1%;}
html>body #wrapper { min-height:1%; }
#container { width:690px;margin:0 auto; position:relative;}

#bottomnav {
    float: left;
}

#bottomstatus {
    float: left;
}

#logo {
    float: right;
}
/************* NAV ******************/
.navlist li
{
  font-family: 'Verdana',sans-serif;
  font-size:9px;
  padding:0 5px;
  display: inline;
  list-style-type: none;
  border-right: 1px #CCC solid;
}
#bottomnav .navlist li {
  text-transform: none;
  color:#666;
  font-size:10px;
  
}
#bottomstatus .navlist li {
  text-transform: none;
  color:#9999b2;
  font-size:10px;
  border-right: 1px #CCC solid;
}
#bottomstatus li:last-child {
    border-right:0;
 }
.navlist li:last-child {
    border-right:0;
 }


/************** LAYOUT **************/

#pagecontainer { margin-left:10px;margin-right:15px; }
#pagehead { margin-left:10px;margin-right:15px;margin-bottom:6px; }
#pagehead h2 { font-weight:normal;font-size:16px;color:#666;margin:0;padding:0; }
#pagehead h1 { color:#000;font-weight:bold;font-size:16px;margin:0;padding:0 0 1px 0; }
.dealername { color:#666;font-weight:bold; font-size:10px; }

#flags { margin-top:3px;margin-bottom:3px; }

p.vehicle-id { font-size:14px;color:#263047;font-weight:bold;line-height:17px; }
.secondary-id { font-size:11px;color:#666;font-weight:normal; }
h3,legend { color:#263047; font-size:10px; font-weight:bold;}
h4 { color:#263047; font-size:10px; font-weight:bold; }

p.supportstat, .supportstat, .supportstat a { font-size:9px;line-height:10px;color:#5f6c8b;margin:0;padding:0; }
p.supportstat strong { color:#45598b; }
.actionlinks { margin:5px 0 3px 0;font-size:9px;}

.stat { font-size:9px;color:#006;margin-top:3px;padding-top:6px;border-top: 1px dotted #999; }

.item-id {color:#333;}
.item-issue {color:#000;padding-left:7px;padding-bottom:0px;background:url(images/issuearrow.gif) 0 3px no-repeat;font-size:10px;line-height:11px;font-weight:normal;margin-left: 0px;}

.sectiontitle, .sectiontitle-p, .sectiontitle-i { font-family:Verdana;font-size:11px;color:#aaa;letter-spacing:1px;padding:3px 0 3px 20px; }
.sectiontitle-p { padding:3px 0 0px 11px; }
.sectiontitle-i { padding:0 0 0 14px;float:left; }

fieldset{border:0px;}

 /******* TOOLS AND HACK FIXES **********/

html>body .clearfix {min-height: 1px;} /* only IE 7 gets this */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.hide { display:none; }
.show { display:block; }
.float {float:right;margin-left:3px;}
.float_left{float:left;}

/********** END GLOBAL STYLES ***********/

.bottom_deal_link a, .bottom_deal_link a:visited, .bottom_deal_link a:hover { font-size:10px;color: #355fab;text-decoration:none; }
.bottom_deal_link a:visited { color: #667ba3; }
.bottom_deal_link a:hover { text-decoration: underline; }

/********** MAKE-A-DEAL ****************/

#header-left { float:left; }
#header-right { float:right;text-align:right; }
p.sidelinks { margin-top:3px;color:#666;font-size: 10px; }

#potential-deals { margin-left:5px;margin-right:5px; }
.potential-deals-summary-table {  }
.potential-deals-summary-table h3 { color:#3d4868;font-weight:normal;font-size:13px;font-family: Georgia, 'Times Roman', serif;padding:2px 0 0 4px; }

.grouphead { padding:0px;margin:2px 0 0 0; } /* cfd7e6 f1f5fe */
div.grouphead .count { color:#999; }

.bucket, .bucket-clear { position:relative;float:left;margin:5px 0;padding:0; background: url(images/folder_print.gif) top left repeat-y;font-size:11px;line-height:13px;width: 630px; }
.bucket-clear { clear:left;margin-right:2px;margin-left:3px; }
.bucket-top { background:url(images/folder_top_print.gif) top left no-repeat; }
.bucket {margin:5px 2px 5px 5px; }
.bucket-bottom { background:url(images/folder_bot_print.gif) bottom left no-repeat; } 
.reviewbtn { float:right; margin-right:14px; margin-top:6px; }
* html .reviewbtn { margin-right:11px; } /* IE positioning */
.vehicle-summary, .additional-info { padding:3px; }
.vehicle-summary span { padding:0 3px; }
div.vehicle-summary p.vehicle-id { font-size:11px;font-weight:bold;line-height:15px; }
.secondary-id { font-size:11px;color:#263047;font-weight:normal; }
.additional-info { padding:2px 6px 6px 6px;margin:0 15px 0 3px;min-height:1%; }
*html .additional-info{height:1%;}
.additional-info span{ padding:0 5px 0 0;color:#666; font-size:10px; line-height:14px; }
.mad_summary dl{padding:0 5px 0 0;color:#666; font-size:10px; line-height:14px;}
.mad_summary dl dt{ width:105px;padding-top:1px;}
.mad_summary dl dd{padding-top:1px;}
.additional-info .save_button{padding-top:5px; padding-right:1px;float:right;}
.additional-info fieldset {border:1px solid #e8e8e8; padding:2px;}
.additional-info input{font-size:11px;}
.additional-info select{font-size:11px;}
.additional-info dt{width:72px;text-align:right; font-size:10px; padding-top:3px;}
.additional-info dd{ padding-top:3px;}
.additional-info dt.small{width:50px;}
.additional-info dt.large{width:85px;}

.books_header { margin:0 9px;border:1px solid #999;font-weight:bold;font-size:10px; padding:6px;background-color:#fafcf7; color:#333;}
.appraisal_area .books_header{ margin:5px; margin-left:12px;}
.books_header span {color:#333;}
.rule-matches { border-top:1px solid #999;border-left:1px solid #999;padding:3px 12px 3px 8px;background:#fcffd9 url(images/postit_corner_print4.gif) bottom right no-repeat;margin:0 9px; }
*html .rule-matches{height:1%;}
div.rule-matches .item-issue { background:url(images/issuearrow.gif) 0 4px no-repeat; font-size:10px;line-height:14px;margin-bottom:0px; }
div.rule-matches ul, .item-issue ul { font-size:10px;font-weight:normal;list-style:none;margin:0;padding:1px 0 0 5px; }
div.rule-matches li, .item-issue li { margin:0;padding:0;line-height:12px; }

.followup_btn { float:right;margin:8px 14px 9px 8px;cursor:pointer; }

.followup-notes { position:absolute;z-index:500;bottom:30px;right:4px;padding:6px;border:1px solid #CCC;background-color:#FFF; }
.followup-notes input { padding:0;margin:0;color:#999; }

h3.followup { font-weight:normal;font-size:11px;color:#263047;margin:2px 8px 0 0;padding:0; }

/* PRINT STYLES */

.appraisal_header { margin:0 12px 0 0;border:1px solid #999;font-weight:bold;font-size:10px; padding:6px;color:#333;}

/* END */

.appraisalbox { margin:0px;float:left;padding:0; }
.appraisalbox h4 { font-size:10px;font-weight:bold;color:#666;padding:2px 0px 2px 5px;margin:0;white-space:pre; }
.appraisalbox h4 a { color:#355FAB;font-size:10px;line-height:10px; }

.appraisalbox p, .appraisalbox ul { font-size:10px;padding:6px 10px 6px 6px; }
.appraisalbox ul { list-style-type:none; }
.appraisalbox #appraisal_offer_read, #appraisal_offer_edit { font-size:10px; }
.appraisalbox span { margin-left:10px; }
.customer { width:100%;color:#666; }

#flags { float:right;margin:2px 80px -7px 0;width:400px;border-left:1px solid #999;border-top:1px solid #999;padding:5px 30px 5px 5px;background:#fcffd9 url(images/postit_corner_print.gif) bottom right no-repeat; }

.rulehighlight { color:#fcffd9; }

#appraisal-info, #book-info, #performance-info, #NAAA-info, #redist-info, #ta-info, #followup-info { margin-bottom:10px;clear:both; }
#appraisal-info { width:930px; }
#appraisal-container { background:#FFF url(images/shading.gif) bottom left no-repeat;border:1px solid #ccc; }
.bluebar { background:url(images/topbluebar.gif) top left repeat-x; }

#book-info { margin-bottom:0px; }
.bookbox { margin:2px;float:left;width:350px;margin-right:5px;padding-bottom:0px;border:1px solid #999;margin-bottom:-8px; }
.bb {  }
.bblogo { background: #d9d9d9 url(images/bbooklogo.jpg) top right no-repeat;height:62px; }
.nada {  }
.nadalogo { background: #E2D8B9 url(images/nadalogo_r.jpg) top right no-repeat;height:62px; }
.kbb {  }
.kbblogo { background:#e4e8f8 url(images/kbblogo.gif) bottom right no-repeat;height:62px; }
.galves {  }
.galveslogo { background: #93b7dc url(images/galveslogo.gif) top right no-repeat;height:62px; }
.bookbox h4, .auctionbox h4, .perfbox h4 { font-size:11px;font-weight:normal;color:#000;padding:6px 0 0 6px; }
.bookbox p, .bookbox ul, .auctionbox p { font-size:10px;padding:6px; }
.bookbox ul, #performance-info ul { list-style-type:none; }
.bookbox span { margin-left:10px; }
.auctionbox span { margin-left:3px;font-size:10px;font-weight:bold; }
.bookbox table {width:100%;text-align:center;border-collapse:collapse;font-size:10px;background-color:#FFF;border:1px solid #999;padding:3px; }
.bookbox td { border-right:1px solid #333;padding:2px; }
.bookbox .datahead { background-color:#EEE;border-bottom:1px dashed #999;font-size:10px; }
.options {margin-bottom:6px;}
.options ul {margin:0;padding:0;}
a.optionsedit, a.optionsedit:hover, a.optionsedit:active, a.optionsedit:visited { color:#666;text-decoration:underline;}
a.optionsedit:hover {text-decoration:none;}

p.closedArrow { background:url(images/arrow_closed2.gif) 3px 7px no-repeat;padding-left:13px; }
p.openArrow { background:url(images/arrow_open2.gif) 3px 7px no-repeat;padding-left:13px; }
h3.closedArrow { background:url(images/arrow_closed2.gif) 2px 2px no-repeat;padding-left:11px; }
h3.openArrow { background:url(images/arrow_open2.gif) 2px 2px no-repeat;padding-left:11px; }



#naaa_form { margin-left:3px; }
#naaa_report_results table { width:710px;text-align:center;border-collapse:collapse;font-size:10px;background-color:#FFF;border:1px solid #999;padding:3px; }
#naaa_report_results td { border-right:1px solid #333;padding:2px; }
#naaa_report_results .datahead { background-color:#EEE;border-bottom:1px solid #333;font-size:11px; }
.auctionbox { border:1px solid #666;margin:2px;width:100%;background-color:#FFF; }


#followup-info { margin-top:2px;padding:2px;width:930px;background-color:#d9d9d9;border:1px solid #999; }
#performance-info { margin-top:5px; }

.perfbox { margin:2px 2px 0 2px;width:710px;background-color:#FFF;border:1px solid #666; }
.perfbox span { margin-left:5px; }
#insights { color:#EEE;padding:3px;font-size:10px;margin:1px 1px 4px 1px;border-bottom:1px dotted #999; }
#insights p { background:url(images/issuearrow2.gif) 3px 2px no-repeat; font-size:9px;line-height:12px;font-weight:bold;margin-bottom:0px;padding-left:10px;color:#333; }

#trade_analyzer_report h4 {font-weight:bold;font-size:10px;}
#trade_analyzer_report table { margin: 0 2px 2px 2px;width:704px;text-align:center;border-collapse:collapse;font-size:10px;background-color:#FFF;border:1px solid #999;padding:3px; }
#trade_analyzer_report td { border-right:1px solid #333;padding:2px; }
#trade_analyzer_report .datahead { background-color:#EEE;border-bottom:1px solid #333;font-size:11px; }
#trade_analyzer_report_form p { font-size:9px;padding-left:6px;padding-bottom:6px; }
#trade_analyzer_report_results .datahead { background-color:#EEE;color:#333; }

#redist-info { width:930px; }
#redist-info h3 { padding-bottom:2px; }
#redist-info table { text-align:center;border-collapse:collapse;font-size:10px;border:1px solid #666;padding:2px; }
#redist-info td { border-right:1px solid #999;padding:2px; }
#redist-info .datahead { background-color:#dadada;border-bottom:1px dashed #999;font-size:10px; }

.redistbox { }

.tabox { border:1px solid #999;margin:2px;width:100%;background:#FFF url(images/shading.jpg) bottom left repeat-x; }
.tabox ul { list-style:none; }
.tabox span { margin-left:5px;font-size:10px; }
.tabox p { font-size:10px;margin:5px; }

#appraisal_preference_float { background-color:white;padding:1px 1px 1px 1px;width:315px; position:absolute;right:5px;top:275px;z-index:1000; }
#appraisal_preference_float .appraisal_preference_set { height:1%;clear:both;border:solid 1px #4c5365;padding:13px;}
#appraisal_preference_float .appraisal_review_preference_body { padding:10px; border-top:1px solid #74777c; }
#appraisal_preference_float .appraisal_review_preference_body div { margin-bottom:10px; }

.informative {color:#666;font-weight:normal;}

#naaa_form{ margin-bottom:5px;}
#naaa_form select{font-size:10px;}
/* FOLLOW UPS */
#followup-detail-info { font-size:11px; }
#followup-detail-info h2 { font-size:10px;color:#263047;padding:2px 0 0 0;margin:0; }
#followup-detail-info .info { color:#333;padding-top:2px; } 
