<h2> Gotchas with using our Report framework and RDLs</h2>
<b>All Calculated fields returned from an rdl are set to type System.Int32 even if the values returned are Doubles or Strings!</b> <br/>
When creating an RDL Microsoft will automatically assign Types to return values.  If the value is read from the cube, it assigned the type the value is in the cube.  When the value is calculated in the MDX query (which is often the case) it is assigned to an INT32 by default!  We use these types when converting report results into DataTables in our framework.  If the result can not be autoboxed to an Int32 it is a problem (such is the case with Strings).  When the value is a double and you need to use the actual value for anything other than just display it is a problem.  To fix this you will have to go in and manually modify the rdl's xml to make the return type a double.  <br/>

Change: <br/>
        &lt;Field Name="BookVsCost"&gt;<br/>
         &nbsp;&nbsp;&nbsp;&nbsp; &lt;rd:TypeName&gt;System.<b>Int32</b>&lt;/rd:TypeName&gt;<br/>
         &nbsp;&nbsp;&nbsp;&nbsp; &lt;DataField&gt;&amp;lt;?xml ... /&amp;gt;&lt;/DataField&gt;<br/>
        &lt;/Field&gt;<br/>
to<br/>
        &lt;Field Name="BookVsCost"&gt;<br/>
         &nbsp;&nbsp;&nbsp;&nbsp; &lt;rd:TypeName&gt;System.<b>Double</b>&lt;/rd:TypeName&gt;<br/>
         &nbsp;&nbsp;&nbsp;&nbsp; &lt;DataField&gt;&amp;lt;?xml ... /&amp;gt;&lt;/DataField&gt;<br/>
        &lt;/Field&gt;<br/>


For an example, check out the ClosingRate field of Appraisal Closing Rate.rdl 
<br/><br/>
<h3><b>EVERY TIME YOU MODIFY THEN SAVE AN RDL, YOU HAVE TO GO BACK AND MANUALLY UPDATE THE FIELD TYPES</b></h3>
yes, this is super annoying, but if you expect a double or a string, everytime you save an rdl, visual stutio re-write the xml, thus overwritting your changes of Int32s to String/Double.  <br/>
These are 2 errors you will see because of this problem: <br/><br/>
 Exception Details: System.FormatException: Input string was not in a correct format.<br/>
<font color="red"> conversion = convertible.ToType(type, System.Globalization.CultureInfo.CurrentCulture);</font><br/>
 Source File:  C:\projects-HEAD\FirstLook.NET\MasterSolution\CommonsSolution\Data\ConversionUtils.cs    Line:  59 <br/><br/>
 This means a field that is a string, has been assigned the type of Int32 in the rdl's xml.
<br/><br/>
<h3><b>EVERY TIME YOU MODIFY THEN SAVE AN RDL, YOU HAVE TO RESTART THE SERVER TO SEE YOUR CHANGES</b></h3>