
<h4 class="section first">Brief Description</h4>

<p class="information first">
    Every user can configure the types of message displayed to them on the MAX home page.
</p>

<h4 class="section">Settings</h4>

<%= form_remote_tag :url => { :controller => 'member_preferences', :action => 'save_insight_preferences' } %>
<p class="instruction">
    Please choose the insights you wish to be presented on the MAX home page.
</p>
<% @member_insight_type_preferences.each do |@member_insight_type_preference| %>
<p class="input">
    <span><%= check_box("member_insight_type_preference[]", 'active') %></span>
    <span><label for="member_insight_type_preference_<%= @member_insight_type_preference.id %>_active"><%= @member_insight_type_preference.insight_type.name %></label></span>
</p>
<% end %>
<p class="information"><small>By default all insights are enabled.</small></p>
<p class="action">
    <input type="submit" name="Save" value="Save" />
    <input type="button" name="Cancel" value="Cancel" onclick="window.location.reload();" />
</p>
<%= end_form_tag %>