﻿@model PrintWindowSticker
@using iTextSharp.text.pdf.qrcode
@using Wanamaker.WebApp.Areas.PricingAnalysis.Models;
@using System.Linq;
@using DotNetOpenAuth.Mvc

@{
    Layout = null;
}

  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix pws-header"><span id="ui-id-1" class="ui-dialog-title">Print Window Sticker</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" id="closeWps" ><span class="ui-icon ui-icon-closethick">close</span></a></div>
    <div class="clearfix" id="PrintDiv">
       
        <p class="info"><span id="LastPrintedMessage" action-url="@Url.Action("PWSLastPrintDateMessage", "PWS")">@Model.LastPrintDateMessage</span></p>

        <div class="field clearfix">
            @Html.LabelFor(m => m.WindowStickers)
            @Html.DropDownListFor(m => m.WindowStickers, Model.WindowStickers, new Dictionary<string, object> { { "class", "wSticker" }, { "data-url", @Url.Content("~/PricingAnalysis/Pws/ShowControls") } })
        </div>

        <div class="field clearfix">
            @Html.LabelFor(m => m.BuyersGuides)
            @Html.DropDownListFor(m => m.BuyersGuides, Model.BuyersGuides, new Dictionary<string, object> { { "class", "bGuides" }, { "data-url", @Url.Content("~/PricingAnalysis/Pws/ShowControls") } })
        </div>

        <div id="ProgressInidicator" role="status" aria-hidden="true" style="display: none;margin-left: 10px;">
            loading...
        </div>

        <div id="PromptControlsPanel">
            <div id="PromptControls">
                <div class="selectSheets">
                    <input id="WarrantyNo" type="radio" value="WarrantyNo" name="sheets" class="hideMe noWarranty"><label for="WarrantyNo" class="hideMe noWarranty">No Warranty</label>
                    <input id="WarrantyLimited" type="radio" value="WarrantyLimited" name="sheets" class="hideMe lmtWarranty"><label for="WarrantyLimited" class="hideMe lmtWarranty">Limited Warranty</label>
                    <input id="WarrantyFull" type="radio" value="WarrantyFull" name="sheets" class="hideMe fullWarranty"><label for="WarrantyFull" class="hideMe fullWarranty">Full Warranty</label>
                </div>
                <div class="selectSheets">
                    <input id="ServiceContract" type="checkbox" class="hideMe serContract"><label for="ServiceContract" class="hideMe serContract">Service Contract</label>
                    <input id="KBBBookValue" type="checkbox" class="hideMe kbbBookVal"><label for="ServiceContract" class="hideMe kbbBookVal">KBB Book Value</label>
                </div>
            </div>
        </div>

        <div class="selectSheets">
            <input id="PrintWindowStickerCheckbox" type="checkbox"><label for="PrintWindowStickerCheckbox">Print Window Sticker</label>
            <input id="PrintBuyersGuideCheckbox" type="checkbox"><label for="PrintBuyersGuideCheckbox">Print Buyer's Guide</label>
        </div>
    
        <div class="sectionButtons clearfix">
            <input  class="postPws button" id="PrintButton" type="submit" value="Print"  data-posturl = "@Url.Content(ViewData["postUrl"].ToString())">
        </div>
        <input type="hidden" id="BuyerGuidesJsonStatus" value="@Model.BuyerGuidesJsonStatus" />
        <input type="hidden" id="WindowstickerJsonStatus" value="@Model.WindowstickerJsonStatus" />
    </div>
    
    
